.modal-map-container .angular-google-map-container {
  height: 400px;
}

.map-container .angular-google-map-container {
  height: 600px;
}

.pac-container {
  z-index: 1051;
}

/*# sourceMappingURL=map.css.map */
