﻿<div class="details-card-component {{module}}-height" >
       <div class="details-card-header">
           <span class="text-warning pull-left date">{{headerDate | date:'MM/dd/yyyy'}}</span>
           <a ng-if="!isDropDown" class="pull-right view" href="{{viewLink}}" translate>View</a>
           <div uib-dropdown ng-if="isDropDown" class="pull-right dropdown">
               <a uib-dropdown-toggle class="btn-default option-button" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa-ellipsis-h"></i>
               </a>
               <ul uib-dropdown-menu class="wo dropdown-menu" aria-labelledby="dLabel">
                   <li ng-repeat="item in viewLink">
                       <a href="{{item.Link}}{{itemId}}">
                           <i class="{{item.Icon}} padding-right-5"></i>{{item.Name}}
                       </a>
                   </li>
               </ul>
           </div>
           <div class="clearfix"></div>
           <hr />
       </div>
        <div ng-transclude></div>
</div>