@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.huge-headline {
  font-size: 22px;
}

@media only screen and (min-width: 1168px) {
  .huge-headline {
    font-size: 100px;
  }
}
.xl-h {
  font-size: 20px;
}

@media only screen and (min-width: 1168px) {
  .xl-h {
    font-size: 36px;
  }
}
h1,
.h1 {
  font-size: 20px;
}

@media only screen and (min-width: 990px) {
  h1,
  .h1 {
    font-size: 28px;
  }
}
h2,
.h2 {
  font-size: 26px;
}

h3,
.h3 {
  font-size: 18px;
}

@media only screen and (min-width: 990px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}
h4,
.h4 {
  font-size: 18px;
}

@media only screen and (min-width: 990px) {
  h4,
  .h4 {
    font-size: 22px;
  }
}
h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 18px;
}

p,
.p {
  font-size: 16px;
  line-height: 24px;
}

p.sm {
  font-size: 14px;
  line-height: 20px;
}

p.lg {
  font-size: 18px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  padding: 0;
}

.navbar-brand,
.brand-text {
  font-family: Pacifico;
}

.btn-x-lg {
  padding: 15px 35px;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (min-width: 990px) {
  .btn-x-lg {
    font-size: 18px;
    font-weight: 500;
  }
}
.btn-default {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-default:hover {
  color: #177e74;
}

html, body {
  height: 100%;
}

body {
  background: #1AAAA5;
}

body {
  padding-bottom: 60px;
  color: #ffffff;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}

@media only screen and (min-width: 990px) {
  body {
    font-size: 16px;
  }
}
.container {
  max-width: 800px;
  background: #1AAAA5;
}

@media only screen and (min-width: 1168px) {
  .container {
    width: 800px;
  }
}
@media only screen and (min-width: 990px) {
  .container {
    width: 800px;
  }
}
ul {
  list-style: none;
}

.logo {
  margin: 20px auto;
  display: block;
  height: 28px;
}

.survey-content {
  text-align: center;
  margin-bottom: 0;
  display: block;
}

@media only screen and (min-width: 990px) {
  .survey-content {
    margin-top: 40px;
  }
}
.survey-content.survey-content-active {
  display: block;
}

.progress-wrap {
  text-align: center;
  margin-top: 15px;
}

.progress-wrap h6 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (min-width: 990px) {
  .progress-wrap h6 {
    font-size: 20px;
  }
}
.progress-wrap .progress-bar {
  background-color: #ffffff;
  max-height: 10px;
  border-radius: 5px;
}

.progress-wrap .progress {
  height: 20px;
  padding: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.flexslider {
  background: none;
  border: none;
  position: static;
}

@media only screen and (min-width: 990px) {
  .flexslider .slides > li {
    min-height: 320px;
  }
}
.flexslider .flex-direction-nav {
  display: none;
}

.flexslider .flex-control-nav.flex-control-paging {
  bottom: 10px;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 990px) {
  .flexslider .flex-control-nav.flex-control-paging {
    bottom: 50px;
  }
}
.flexslider .flex-control-nav.flex-control-paging a {
  background: none;
  width: 10px;
  height: 10px;
  border-width: 2px;
  border-color: #177e74;
}

@media only screen and (min-width: 990px) {
  .flexslider .flex-control-nav.flex-control-paging a {
    width: 20px;
    height: 20px;
  }
}
.flexslider .flex-control-nav.flex-control-paging a:hover, .flexslider .flex-control-nav.flex-control-paging a.flex-active {
  background: #177e74;
}

h1.question {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  position: relative;
}

@media only screen and (min-width: 990px) {
  h1.question {
    font-size: 32px;
  }
}
h1.question small {
  color: inherit;
  font-size: 16px;
}

h1.title {
  margin-bottom: 22px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 990px) {
  h1.title {
    font-size: 32px;
  }
}
h1.title small {
  color: inherit;
  font-size: 16px;
}

.col-xs-4 {
  width: 32%;
}

@media only screen and (min-width: 990px) {
  .col-xs-4 {
    width: 20%;
  }
}
.col-xs-8 {
  width: 68%;
}

@media only screen and (min-width: 990px) {
  .col-xs-8 {
    width: 80%;
  }
}
.border-thick {
  border-top: solid 2px #fff;
}

.border-up-down {
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 2px #e8e8e8 !important;
}

.comments-readonly {
  height: 75px;
  overflow: auto;
  word-wrap: break-word;
  font-style: italic;
}

@media only screen and (min-width: 990px) {
  .comments-readonly {
    height: 100px;
  }
}
.comments-top {
  margin-top: 30px;
}

@media only screen and (min-width: 990px) {
  .comments-top {
    margin-top: 90px;
  }
}
.last-child {
  font-size: 14px;
}

@media only screen and (min-width: 990px) {
  .last-child {
    font-size: 20px;
  }
}
@media only screen and (min-width: 990px) {
  .col-xs-5 {
    width: 25%;
  }
}
@media only screen and (min-width: 990px) {
  .col-xs-7 {
    width: 75%;
  }
}
.options {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.options li {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ffffff;
  margin-bottom: -1px;
  height: 46px;
}

@media only screen and (min-width: 990px) {
  .options li {
    height: 70px;
  }
}
.options li:first-child {
  border-radius: 5px 5px 0 0;
}

.options li:last-child {
  border-radius: 0 0 5px 5px;
  margin-bottom: 5px;
}

.options li label {
  width: 100%;
  height: 100%;
  margin: 0;
}

.options li label .checkedbtn {
  height: 100%;
  line-height: 46px;
  width: 100%;
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (min-width: 990px) {
  .options li label .checkedbtn {
    font-size: 22px;
    line-height: 70px;
  }
}
.options li label .checkedbtn .col-xs-6:first-child {
  text-align: right;
}

.options li label .checkedbtn .col-xs-6:first-child i {
  padding: 0 2px;
}

.options li label .checkedbtn .col-xs-6:last-child {
  text-align: left;
}

.options li label input:checked + .checkedbtn {
  background: rgba(229, 232, 234, 0.3);
  color: #ffffff;
}

.options li label input {
  display: none;
}

.options li label em {
  width: 50%;
  text-align: left;
  float: left;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.slider-control {
  border-top: 1px solid #ffffff;
  margin-top: 10px;
}

@media only screen and (min-width: 990px) {
  .slider-control {
    border-top: none;
  }
}
.slider-control .slide-btn {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-top: 10px;
}

.slider-control .slide-btn:after {
  content: 'hhh';
  font-family: 'icomoon';
  position: absolute;
  right: 0;
}

@media only screen and (min-width: 990px) {
  .slider-control .slide-btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.slider-control .slide-btn:hover, .slider-control .slide-btn:focus {
  color: #ffffff;
}

@media only screen and (min-width: 990px) {
  .slider-control .slide-btn {
    background: rgba(255, 255, 255, 0.25);
  }

  .slider-control .slide-btn:hover {
    color: #177e74;
  }
}
.thanks-slide {
  display: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.circle-img {
  border-radius: 50%;
  overflow: hidden;
  width: 75px;
  height: 75px;
  margin: auto;
}

@media only screen and (min-width: 990px) {
  .circle-img {
    width: 150px;
    height: 150px;
  }
}
.circle-img img {
  width: 100%;
  height: 100%;
}

.survey-comment {
  height: 120px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 10px;
  font-size: 22px;
  background: none;
  color: #ffffff;
  resize: vertical;
}

@media only screen and (min-width: 990px) {
  .survey-comment {
    height: 200px;
  }
}
.survey-comment:focus {
  outline: none;
}

.topBottom {
  -webkit-animation: topBottom 0.5s forwards;
  animation: topBottom 0.5s forwards;
  position: relative;
  /* top:-100px; */
  opacity: 0;
}

.topBottom:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.topBottom:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes topBottom {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes topBottom {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.fade,
.fade-4 {
  -webkit-animation: fade 0.5s forwards;
  animation: fade 0.5s forwards;
  position: relative;
  opacity: 0;
}

.fade:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-4 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rightleft {
  -webkit-animation: rightleft 0.5s forwards;
  animation: rightleft 0.5s forwards;
  position: relative;
  /* top:-100px; */
  opacity: 0;
}

.rightleft:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.rightleft:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes rightleft {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes rightleft {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.flex-active-slide h6 {
  -webkit-animation: rightleft 0.2s forwards;
  animation: rightleft 0.2s forwards;
}

.flex-active-slide .options li:first-child {
  -webkit-animation: rightleft 0.2s forwards 0.1s;
  animation: rightleft 0.2s forwards 0.1s;
}

.flex-active-slide .options li:nth-child(2) {
  -webkit-animation: rightleft 0.2s forwards 0.3s;
  animation: rightleft 0.2s forwards 0.3s;
}

.flex-active-slide .options li:nth-child(3) {
  -webkit-animation: rightleft 0.2s forwards 0.4s;
  animation: rightleft 0.2s forwards 0.4s;
}

.flex-active-slide .options li:nth-child(4) {
  -webkit-animation: rightleft 0.2s forwards 0.5s;
  animation: rightleft 0.2s forwards 0.5s;
}

.flex-active-slide .options li:nth-child(5) {
  -webkit-animation: rightleft 0.2s forwards 0.6s;
  animation: rightleft 0.2s forwards 0.6s;
}

.flex-active-slide .options li:nth-child(6) {
  -webkit-animation: rightleft 0.2s forwards 0.7s;
  animation: rightleft 0.2s forwards 0.7s;
}

.sender .circle-img {
  margin-bottom: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
}

.sender h5 {
  font-weight: 400;
  font-size: 200px;
}

.sender p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  font-size: 20px;
  margin-top: 10px;
}

.sender hr {
  max-width: 260px;
  margin-top: 10px;
  border-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
}

@media only screen and (min-width: 990px) {
  .sender hr {
    margin-bottom: 20px;
  }
}
.starter-slide, .thanks-slide {
  text-align: center;
  padding-top: 20px;
}

@media only screen and (min-width: 990px) {
  .starter-slide, .thanks-slide {
    padding-top: 50px;
  }
}
.starter-slide .reciver-name, .thanks-slide .reciver-name {
  font-weight: 300;
  color: #ffffff;
  font-size: 50px;
}

@media only screen and (min-width: 990px) {
  .starter-slide .reciver-name, .thanks-slide .reciver-name {
    margin-top: 40px;
  }
}
.starter-slide p.question, .thanks-slide p.question {
  max-width: 90%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  margin: 10px auto;
}

@media only screen and (min-width: 990px) {
  .starter-slide p.question, .thanks-slide p.question {
    max-width: 770px;
    font-size: 26px;
    line-height: 1.6;
    margin: 10px auto 30px;
  }
}
.starter-slide.hide-slide {
  display: none;
}

.confirm-options {
  padding: 0;
  margin: 0;
  text-align: left;
}

.confirm-options li {
  border-bottom: solid 1px #e8e8e8;
  min-height: 46px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media only screen and (min-width: 990px) {
  .confirm-options li {
    min-height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.confirm-options li a {
  color: #ffffff;
}

.confirm-slide {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.confirm-slide a.btn {
  margin-top: 10px;
}

/*# sourceMappingURL=customer-survey-for-customer.css.map */
