﻿@import "../Common/_globals";

.huge-headline {
    font-size: 22px;
}

@media only screen and (min-width: 1168px) {
    .huge-headline {
        font-size: 100px;
    }
}

.xl-h {
    font-size: 20px;
}

@media only screen and (min-width: 1168px) {
    .xl-h {
        font-size: 36px;
    }
}

h1,
.h1 {
    font-size: 20px;
}

@media only screen and (min-width: 990px) {
    h1,
    .h1 {
        font-size: 28px;
    }
}

h2,
.h2 {
    font-size: 26px;
}

h3,
.h3 {
    font-size: 18px;
}

@media only screen and (min-width: 990px) {
    h3,
    .h3 {
        font-size: 24px;
    }
}

h4,
.h4 {
    font-size: 18px;
}

@media only screen and (min-width: 990px) {
    h4,
    .h4 {
        font-size: 22px;
    }
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 18px;
}

p,
.p {
    font-size: 16px;
    line-height: 24px;
}

    p.sm {
        font-size: 14px;
        line-height: 20px;
    }

    p.lg {
        font-size: 18px;
    }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0;
    padding: 0;
}

.navbar-brand,
.brand-text {
    font-family: Pacifico;
}

.btn-x-lg {
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (min-width: 990px) {
    .btn-x-lg {
        font-size: 18px;
        font-weight: 500;
    }
}

.btn-default {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    .btn-default:hover {
        color: #177e74;
    }

html, body {
    height: 100%;
}

body {
    background: $teal;
}

body {
    padding-bottom: 60px;
    color: #ffffff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

@media only screen and (min-width: 990px) {
    body {
        font-size: 16px;
    }
}

.container {
    max-width: 800px;
    background: $teal;
}

@media only screen and (min-width: 1168px) {
    .container {
        width: 800px;
    }
}

@media only screen and (min-width: 990px) {
    .container {
        width: 800px;
    }
}

ul {
    list-style: none;
}

.logo {
    margin: 20px auto;
    display: block;
    height: 28px;
}

.survey-content {
    text-align: center;
    margin-bottom: 0;
    display: block;
}

@media only screen and (min-width: 990px) {
    .survey-content {
        margin-top: 40px;
    }
}

.survey-content.survey-content-active {
    display: block;
}

.progress-wrap {
    text-align: center;
    margin-top: 15px;
}

    .progress-wrap h6 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 600;
    }

@media only screen and (min-width: 990px) {
    .progress-wrap h6 {
        font-size: 20px;
    }
}

.progress-wrap .progress-bar {
    background-color: #ffffff;
    max-height: 10px;
    border-radius: 5px;
}

.progress-wrap .progress {
    height: 20px;
    padding: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.text-center{
    text-align: center;
}
.flexslider {
    background: none;
    border: none;
    position: static;
}

@media only screen and (min-width: 990px) {
    .flexslider .slides > li {
        min-height: 320px;
    }
}

.flexslider .flex-direction-nav {
    display: none;
}

.flexslider .flex-control-nav.flex-control-paging {
    bottom: 10px;
    left: 0;
    width: 100%;
}

@media only screen and (min-width: 990px) {
    .flexslider .flex-control-nav.flex-control-paging {
        bottom: 50px;
    }
}

.flexslider .flex-control-nav.flex-control-paging a {
    background: none;
    width: 10px;
    height: 10px;
    border-width: 2px;
    border-color: #177e74;
}

@media only screen and (min-width: 990px) {
    .flexslider .flex-control-nav.flex-control-paging a {
        width: 20px;
        height: 20px;
    }
}

.flexslider .flex-control-nav.flex-control-paging a:hover, .flexslider .flex-control-nav.flex-control-paging a.flex-active {
    background: #177e74;
}

h1.question {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
}

@media only screen and (min-width: 990px) {
    h1.question {
        font-size: 32px;
    }
}

h1.question small {
    color: inherit;
    font-size: 16px;
}

h1.title {
    margin-bottom: 22px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    text-align: center;
}

@media only screen and (min-width: 990px) {
    h1.title {
        font-size: 32px;
    }
}

h1.title small {
    color: inherit;
    font-size: 16px;
}

.col-xs-4 {
    width: 32%;
}

@media only screen and (min-width: 990px) {
    .col-xs-4 {
        width: 20%;
    }
}

.col-xs-8 {
    width: 68%;
}

@media only screen and (min-width: 990px) {
    .col-xs-8 {
        width: 80%;
    }
}

.border-thick {
    border-top: solid 2px #fff;
}

.border-up-down {
    border-top: solid 1px $border;
    border-bottom: solid 2px $border !important;
}

.comments-readonly {
    height: 75px;
    overflow: auto;
    word-wrap: break-word;
    font-style: italic;
}
@media only screen and (min-width: 990px) {
    .comments-readonly {
        height: 100px;
    }
}
.comments-top {
    margin-top: 30px;
}

@media only screen and (min-width: 990px) {
    .comments-top {
        margin-top: 90px;
    }
}

.last-child {
    font-size: 14px;
}

@media only screen and (min-width: 990px) {
    .last-child {
        font-size: 20px;
    }
}

.col-xs-5 {
}

@media only screen and (min-width: 990px) {
    .col-xs-5 {
        width: 25%;
    }
}
  .col-xs-7 {
    }

@media only screen and (min-width: 990px) {
    .col-xs-7 {
        width: 75%;
    }
}
   .options {
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }

            .options li {
                display: block;
                text-align: center;
                width: 100%;
                overflow: hidden;
                border: 1px solid #ffffff;
                margin-bottom: -1px;
                height: 46px;
            }

        @media only screen and (min-width: 990px) {
            .options li {
                height: 70px;
            }
        }

        .options li:first-child {
            border-radius: 5px 5px 0 0;
        }

        .options li:last-child {
            border-radius: 0 0 5px 5px;
            margin-bottom: 5px;
        }

        .options li label {
            width: 100%;
            height: 100%;
            margin: 0;
        }

            .options li label .checkedbtn {
                height: 100%;
                line-height: 46px;
                width: 100%;
                cursor: pointer;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
            }

        @media only screen and (min-width: 990px) {
            .options li label .checkedbtn {
                font-size: 22px;
                line-height: 70px;
            }
        }

        .options li label .checkedbtn .col-xs-6:first-child {
            text-align: right;
        }

            .options li label .checkedbtn .col-xs-6:first-child i {
                padding: 0 2px;
            }

        .options li label .checkedbtn .col-xs-6:last-child {
            text-align: left;
        }

        .options li label input:checked + .checkedbtn {
            background: rgba(229, 232, 234, 0.3);
            color: #ffffff;
        }

        .options li label input {
            display: none;
        }

        .options li label em {
            width: 50%;
            text-align: left;
            float: left;
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
        }

        .slider-control {
            border-top: 1px solid #ffffff;
            margin-top: 10px;
        }

        @media only screen and (min-width: 990px) {
            .slider-control {
                border-top: none;
            }
        }

        .slider-control .slide-btn {
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            margin-top: 10px;
        }

            .slider-control .slide-btn:after {
                content: 'hhh';
                font-family: 'icomoon';
                position: absolute;
                right: 0;
            }

        @media only screen and (min-width: 990px) {
            .slider-control .slide-btn {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .slider-control .slide-btn:hover, .slider-control .slide-btn:focus {
            color: #ffffff;
        }

        @media only screen and (min-width: 990px) {
            .slider-control .slide-btn {
                background: rgba(255, 255, 255, 0.25);
            }

                .slider-control .slide-btn:hover {
                    color: #177e74;
                }
        }

        .thanks-slide {
            display: none;
        }

        ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        :-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.7);
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.7);
        }

        :-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        .circle-img {
            border-radius: 50%;
            overflow: hidden;
            width: 75px;
            height: 75px;
            margin: auto;
        }

        @media only screen and (min-width: 990px) {
            .circle-img {
                width: 150px;
                height: 150px;
            }
        }

        .circle-img img {
            width: 100%;
            height: 100%;
        }

        .survey-comment {
            height: 120px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #ffffff;
            padding: 10px;
            font-size: 22px;
            background: none;
            color: #ffffff;
            resize: vertical;
        }

        @media only screen and (min-width: 990px) {
            .survey-comment {
                height: 200px;
            }
        }

        .survey-comment:focus {
            outline: none;
        }

        .topBottom {
            -webkit-animation: topBottom 0.5s forwards;
            animation: topBottom 0.5s forwards;
            position: relative;
            /* top:-100px; */
            opacity: 0;
        }

            .topBottom:nth-child(2) {
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }

            .topBottom:nth-child(3) {
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
            }

        @-webkit-keyframes topBottom {
            0% {
                top: -100px;
                opacity: 0;
            }

            100% {
                top: 0;
                opacity: 1;
            }
        }

        @keyframes topBottom {
            0% {
                top: -100px;
                opacity: 0;
            }

            100% {
                top: 0;
                opacity: 1;
            }
        }

        .fade,
        .fade-4 {
            -webkit-animation: fade 0.5s forwards;
            animation: fade 0.5s forwards;
            position: relative;
            opacity: 0;
        }

            .fade:nth-child(2) {
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }

            .fade:nth-child(3) {
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
            }

        .fade-4 {
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
        }

        @-webkit-keyframes fade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .rightleft {
            -webkit-animation: rightleft 0.5s forwards;
            animation: rightleft 0.5s forwards;
            position: relative;
            /* top:-100px; */
            opacity: 0;
        }

            .rightleft:nth-child(2) {
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }

            .rightleft:nth-child(3) {
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
            }

        @-webkit-keyframes rightleft {
            0% {
                right: -100px;
                opacity: 0;
            }

            100% {
                right: 0;
                opacity: 1;
            }
        }

        @keyframes rightleft {
            0% {
                right: -100px;
                opacity: 0;
            }

            100% {
                right: 0;
                opacity: 1;
            }
        }

        .flex-active-slide h6 {
            -webkit-animation: rightleft 0.2s forwards;
            animation: rightleft 0.2s forwards;
        }

        .flex-active-slide .options li:first-child {
            -webkit-animation: rightleft 0.2s forwards 0.1s;
            animation: rightleft 0.2s forwards 0.1s;
        }

        .flex-active-slide .options li:nth-child(2) {
            -webkit-animation: rightleft 0.2s forwards 0.3s;
            animation: rightleft 0.2s forwards 0.3s;
        }

        .flex-active-slide .options li:nth-child(3) {
            -webkit-animation: rightleft 0.2s forwards 0.4s;
            animation: rightleft 0.2s forwards 0.4s;
        }

        .flex-active-slide .options li:nth-child(4) {
            -webkit-animation: rightleft 0.2s forwards 0.5s;
            animation: rightleft 0.2s forwards 0.5s;
        }

        .flex-active-slide .options li:nth-child(5) {
            -webkit-animation: rightleft 0.2s forwards 0.6s;
            animation: rightleft 0.2s forwards 0.6s;
        }

        .flex-active-slide .options li:nth-child(6) {
            -webkit-animation: rightleft 0.2s forwards 0.7s;
            animation: rightleft 0.2s forwards 0.7s;
        }

        .sender .circle-img {
            margin-bottom: 10px;
            border: 5px solid rgba(255, 255, 255, 0.2);
        }

        .sender h5 {
            font-weight: 400;
            font-size: 200px;
        }

        .sender p {
            font-weight: 300;
            color: rgba(255, 255, 255, 0.8);
            font-style: italic;
            font-size: 20px;
            margin-top: 10px;
        }

        .sender hr {
            max-width: 260px;
            margin-top: 10px;
            border-color: rgba(255, 255, 255, 0.3);
            margin-bottom: 10px;
        }

        @media only screen and (min-width: 990px) {
            .sender hr {
                margin-bottom: 20px;
            }
        }

        .starter-slide, .thanks-slide {
            text-align: center;
            padding-top: 20px;
        }

        @media only screen and (min-width: 990px) {
            .starter-slide, .thanks-slide {
                padding-top: 50px;
            }
        }

        .starter-slide .reciver-name, .thanks-slide .reciver-name {
            font-weight: 300;
            color: #ffffff;
            font-size: 50px;
        }

        @media only screen and (min-width: 990px) {
            .starter-slide .reciver-name, .thanks-slide .reciver-name {
                margin-top: 40px;
            }
        }

        .starter-slide p.question, .thanks-slide p.question {
            max-width: 90%;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.3;
            margin: 10px auto;
        }

        @media only screen and (min-width: 990px) {
            .starter-slide p.question, .thanks-slide p.question {
                max-width: 770px;
                font-size: 26px;
                line-height: 1.6;
                margin: 10px auto 30px;
            }
        }

        .starter-slide.hide-slide {
            display: none;
        }

        .confirm-options {
            padding: 0;
            margin: 0;
            text-align: left;
        }

            .confirm-options li {
                border-bottom: solid 1px $border;
                min-height: 46px;
                padding-top: 12px;
                padding-bottom: 12px;
            }

        @media only screen and (min-width: 990px) {
            .confirm-options li {
                min-height: 70px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }

        .confirm-options li a {
            color: #ffffff;
        }

        .confirm-slide {
            display: none;
            margin-top: 20px;
            text-align: center;
        }

            .confirm-slide a.btn {
                margin-top: 10px;
            }







  







