﻿
@model ChaiTea.Web.Areas.Financials.Models.InvoicesVm
@{
    ViewBag.Title = "Invoices";
    ViewBag.HideTitleBar = true;
    var invoiceId = Model.Id;
}

<div class="container-fluid financials invoice-details" ng-controller="Financials.InvoicesEntryViewCtrl as vm" ng-init="vm.initialize(@invoiceId)">
    <page-header title="{{'Invoices'|translate}}"
                 s3-icon-name="invoices.svg">
    </page-header>
    <div class="visible-xs padding-top-10">
        <a class="back-to-list-btn padding-left-0" href="@Url.Content("~/Financials/Invoices")"><i class="fa fa-angle-left"> BACK TO LIST</i></a>
    </div>
    <div class="row">
        <div class="col-md-12 well wt-details wo-details-well">
                    <div class="content">
                        <h2 class="pull-left primary-text">
                            Invoice
                            <span class="hide-phone">Number</span>
                            <span class="hide-desktop">#</span>
                            : {{vm.invoiceNumber}}
                        </h2>

                        <div class="clearfix"></div>
                        <div class="panel-body ">
                            <div class="invoice-block col-md-8 ">
                                <div class=" pull-left billing-style">
                                    <i><b>Billed To Customer:</b></i>
                                    <div class="clearfix"></div>
                                    <br />
                                    <b class="inv-customer">{{vm.customer.Name}}</b>
                                    <p>
                                        <div data-ng-if="vm.customer.AddressOne">
                                            <span>
                                                {{vm.customer.AddressOne}}
                                            </span>
                                            <br />
                                        </div>
                                        <div data-ng-if="vm.customer.AddressTwo">
                                            <span>
                                                {{vm.customer.AddressTwo}}
                                            </span>
                                            <br />
                                        </div>
                                        {{vm.customer.City}} {{vm.customer.ZipCode}}
                                    </p>
                                </div>

                                <div class="invoice-details billing-sum">
                                    <i><b>Bill Summary:</b></i>
                                    <div class="clearfix"></div><br />
                                    <p class="line-total"><b>Invoice Date: </b><span class="pull-right">{{vm.invoiceDate}}</span></p>
                                    <p class="line-total"><b>Payment Terms: </b><span class="pull-right">{{vm.paymentTerms}}</span></p>
                                    <p class="line-total"><b>Month of Service: </b><span class="pull-right">{{vm.monthOfService}}</span></p>
                                    <p class="billing-style"><b>Your PO: </b><span class="pull-right">{{vm.PO}}</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="col-md-4 invoice-total-style">
                                <div class="invoice-details">
                                    <div class=" title-line">  <i><b>Invoice Total:</b></i></div>

                                    <div class="">
                                        <p class="line-total"><b>Total Billed: </b><span class="pull-right">${{vm.billedAmount | number:2}}</span></p>
                                        <p class="line-total"><b>Tax:</b> <span class="pull-right">${{vm.taxAmount | number:2}}</span></p>
                                        <p class="line-total"><b>Total Invoice: </b><span class="primary-color pull-right">${{vm.invoiceAmount | number:2}}</span></p>
                                        <p class="line-total"><b>Paid: </b><span class="success-color pull-right">${{vm.paidAmount | number:2}}</span></p>
                                        <p><b>Balance Due: </b><span class="danger-text pull-right">${{vm.outstandingAmount | number:2}}</span></p>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">

                            <div class="primary table-head">
                                <div class="row">
                                    <div class="col-xs-6 row-details pull-left">
                                        <p>DESCRIPTION</p>
                                    </div>
                                    <div class="col-xs-3">

                                        <p class="pull-right">AMOUNT</p>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="col-xs-2">
                                        <div class="pull-right">
                                            <p class="">PAID</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>


                                </div><div class="clearfix"></div>
                            </div>

                            <div>
                                <div class="Inv-row itemrow" ng-repeat="invoiceItem in vm.invoiceItems">
                                    <div class="row">
                                        <div class="col-xs-6 row-details pull-left">
                                            <p class="inv-desc">{{invoiceItem.Description}}</p>
                                            <p class="inv-program">{{invoiceItem.ProgramName ? invoiceItem.ProgramName : '-'}}</p>
                                            <p class="inv-row-font">Quantity: {{invoiceItem.Quantity | number:2}}</p>
                                            <p class="inv-row-font">Rate: ${{invoiceItem.Rate | number:2}}</p>
                                            <p class="inv-row-font">Taxable: {{invoiceItem.IsTaxable ? 'YES' : 'NO'}} | Currency: {{invoiceItem.CurrencyCodeName}}</p>
                                        </div>

                                        <div class="col-xs-3 inv-amt-paid">

                                            <p class="pull-right">${{invoiceItem.TotalAmount | number:2}}</p>

                                        </div>
                                        <div class="col-xs-2 success-color inv-paid" data-ng-if="invoiceItem.IsPaid">
                                            <p class="pull-right">Paid</p>
                                        </div>
                                        <div class="col-xs-2 failure-color inv-paid" data-ng-if="!invoiceItem.IsPaid">
                                            <p class="pull-right">Unpaid</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
            </div>
    </div>
</div>
