﻿@model ChaiTea.Web.Areas.Financials.Models.InvoicesVm
@{
    ViewBag.Title = "Invoices";
    ViewBag.HideTitleBar = true;
}

<div class="financials invoice-index" ng-controller="Financials.InvoicesIndexCtrl as vm" ng-init="vm.initialize()">
    <page-header title="{{'Invoices'|translate}}"
                 s3-icon-name="invoices.svg"
                 class="margin-horizontal-0">
    </page-header>
    <div class="row">
        <div class="col-md-12 well well-table wt-details wo-details-well margin-top-0 padding-horizontal-20">
            <div class="text-center empty-wrap" ng-if="!vm.invoices.length">No data to display</div>
            <div data-ng-if="vm.invoices.length">
                <div class="primary table-head">
                    <div class="row invoices-table-head">
                        <div class="col-xs-3 row-details pull-left">
                            INVOICE
                            <span class="hide-phone">No.</span>
                            <span class="hide-desktop">#</span>
                        </div>
                        <div class="col-xs-6 row-details invoice-row inv-details-head">
                            <p class="pull-left">DETAILS</p>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-xs-2 align-due-date-title">
                            <div class="pull-right invoice-due-title">
                                DUE
                                <span class="hide-phone">DATE</span>

                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div><div class="clearfix"></div>
                </div>

                <div class="" data-infinite-scroll="vm.getInvoiceScroll()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                    <a href="@Url.Content("~/Financials/Invoices/EntryView/"){{::invoice.InvoiceId}}" class="Inv-row itemrow" ng-repeat="invoice in vm.invoices">
                        <div id="">
                            <div class="row invoice-details-border inv-row-font">
                                <div class="col-xs-3 row-details pull-left">
                                    <p class="inv-desc">{{::invoice.InvoiceNumber}}</p>
                                    <p class="invoice-date">Invoice Date: {{::invoice.InvoiceDate | date: 'M/d/yyyy'}}</p>
                                </div>

                                <div class="col-xs-6 row-details invoice-row inv-details-content pull-left">
                                    <p class="inv-desc">Service Month : {{::invoice.MonthOfService}}</p>
                                    <p class="invoice-sub-details">Invoice Amount: ${{::invoice.InvoiceAmount | number:2}}</p>
                                    <p class="invoice-sub-details" data-ng-if="::invoice.OutstandingAmount!=0">Paid/Outstanding: ${{::invoice.OutstandingAmount | number:2}}</p>
                                    <p class="invoice-sub-details" data-ng-if="::invoice.OutstandingAmount==0">Paid/Outstanding: <span class="success-color">Paid </span></p>
                                </div>
                                <div class="col-xs-2 failure-color">
                                    <p class="pull-right invoice-duedate">{{::invoice.DueDate | date: 'M/d/yyyy'}}</p>
                                </div>
                                <!-- Might be required in the future-->
                                @*<i class="fa-angle-right ng-scope pull-right angle-right hide-phone"></i>*@
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <div class="invoice-total">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 pull-left">
                                <p class="invoice-total-text">TOTAL</p>
                            </div>
                            <div class="col-xs-8 col-md-6 col-sm-8 totals-wrap">
                                <div class="col-xs-12 col-md-12 col-sm-12">
                                    <p>
                                        INVOICE: ${{vm.totalInvoiceAmount | number:2}}
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-12 col-sm-12">
                                    <p>OUTSTANDING: ${{vm.totalOutstandingAmount | number:2}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="clearfix"></div>
            </div><!-- COL12 -->
        </div><!-- ROW -->
    </div>
</div>
