﻿<div class="padding-left-15 left-section hidden-xs hidden-sm">
    <p class="pop-up-title">{{'COMPLAINT_DETAILS' | translate}}</p>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'CUSTOMER_NAME' | translate}}:</p>
        <p>{{vm.complaint.CustomerName}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'COMPLAINT_ENTERED_BY' | translate}}:</p>
        <p>{{vm.complaint.CreateName}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'Location' | translate}}:</p>
        <p>{{vm.complaint.BuildingName}}</p>
        <p>
            <i class="fa fa-location"></i>
            <span>{{vm.clientName}}, {{vm.complaint.SiteName}}</span>
        </p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'COMPLAINT_RELATED' | translate}}:</p>
        <p class="relatedTo pull-left">
            {{vm.complaint.ProgramName}}
        </p>
        <p class="relatedTo pull-left margin-left-10">
            {{vm.complaint.ComplaintTypeName}}
        </p>
    </div>
    
</div>
<div class="hidden-md hidden-lg left-section mobile">
    <div class="padding-bottom-20 section-borders">
        <span class="pull-left italic-bold date-field align">{{'FILED_ON' | translate}}: {{vm.complaint.FeedbackDate | date: 'short': vm.userContext.Timezone.OffsetInHours}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10 hidden-employees align" ng-if="!vm.complaint.CompletedDate" ng-click="vm.redirectToEntry()">{{'EDIT' | translate}}</a>
        <a class="pull-right text-danger link-style padding-right-10 hidden-employees" ng-click="vm.deleteComplaint()">{{'DELETE' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align">{{'COMPLAINT_DETAILS' | translate}}</p>
        <div class="padding-bottom-10 align">
            <p class="bold-text pull-left">{{'CUSTOMER_NAME' | translate}}:</p>
            <span class="padding-left-10">{{vm.complaint.CustomerName}}</span>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text pull-left">{{'COMPLAINT_ENTERED_BY' | translate}}:</p>
            <span class="padding-left-10">{{vm.complaint.CreateName}}</span>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text">{{'Location' | translate}}:</p>
            <p>{{vm.complaint.BuildingName}}</p>
            <p>
                <i class="fa fa-location"></i>
                <span>{{vm.clientName}}, {{vm.complaint.SiteName}}</span>
            </p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text pull-left related">{{'COMPLAINT_RELATED' | translate}}:</p>
            <p class="relatedTo pull-left margin-left-10">
                {{vm.complaint.ProgramName}}
            </p>
            <p class="relatedTo pull-left margin-left-10">
                {{vm.complaint.ComplaintTypeName}}
            </p>
        </div>
    </div>
    <div class="padding-bottom-15 padding-top-15">
        <p class="sub-head-text">{{'Description' | translate}}</p>
        <p class="text-space">{{vm.complaint.Description}}</p>
    </div>
    <div class="padding-bottom-15" ng-if="vm.complaint.Note">
        <p class="sub-head-text">{{'Notes about the Problem:' | translate}}</p>
        <p class="text-space">{{vm.complaint.Note}}</p>
    </div>
    <hr class="mobile-hr" />
    <div class="padding-bottom-15" ng-if="vm.complaint.Action">
        <p class="sub-head-text">{{'Actions Taken' | translate}}:</p>
        <p class="text-space">{{vm.complaint.Action}}</p>
    </div>
    <div class="padding-bottom-15 padding-top-15">
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Classification' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{::vm.complaint.ClassificationName}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding ">{{'REPEAT_OCCURENCE' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.complaint.IsRepeatComplaint ? 'Yes' : 'No' | translate}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'COMPLAINT_TYPE' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{::vm.complaint.ComplaintTypeName}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Preventable Status' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{::vm.complaint.PreventableStatusName}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'PHONE_NUMBER' | translate}}</p>
            <span class="padding-left-20  col-xs-7" ng-if="vm.complaint.CustomerPhoneNumber">{{vm.complaint.CustomerPhoneNumber}}</span>
            <span class="padding-left-20  col-xs-7" ng-if="!vm.complaint.CustomerPhoneNumber">{{'NONE_PROVIDED' | translate}}</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
