﻿<div class="padding-bottom-20">
    <div class="pull-left italic-bold date-field text-capitalize">
        <span class="text-capitalize" translate>created on</span>: {{::vm.createdDate}}
    </div>
    <div class="pull-right btns" data-ng-show="!vm.todo.IsComplete">
        <span hidden-employees>
            <span class="text-danger text-uppercase padding-10 link-style" data-ng-click="vm.deleteToDo()" translate>DELETE</span>
        </span>
        <a class="btn btn-edit text-uppercase padding-10" ng-click="vm.closeToDo()" translate>close</a>
    </div>
    <div class="clearfix"></div>
</div>
<div>
    <p class="text-capitalize sub-head-text"><span translate>Description</span>:</p>
    <div class="text-space">{{::vm.comment}}</div>
    <div class="text-space text-muted" ng-if="vm.todo.ScorecardId"><i>{{'SYSTEM_TODO' | translate}}</i></div>
    <div class="padding-top-15">
        <div class="row col-xs-12">
            <div class="pull-left sub-head-text"><span translate>Due Date</span>:</div>
            <div class="pull-left padding-left-10">{{ vm.dueDate}}</div>
        </div>
        <div class="row col-xs-12 padding-top-15" ng-if="vm.LastSeenDate">
            <div class="pull-left sub-head-text text-capitalize"><span translate>seen</span>:</div>
            <div class="pull-left padding-left-10">{{ vm.LastSeenDate}}</div>
        </div>
        <div class="row col-xs-12 padding-top-15" ng-if="vm.IsComplete">
            <div class="pull-left sub-head-text text-capitalize"><span translate>Closed Date</span>:</div>
            <div class="pull-left padding-left-10">{{ vm.updateDate}}</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<hr />
