﻿<div class="padding-left-15 left-section hidden-xs hidden-sm">
    <p class="pop-up-title">{{'AUDIT_DETAILS' | translate}}</p>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'Internal Auditor' | translate}}:</p>
        <p>{{vm.audit.AuditorName}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'JOINT_AUDITORS' | translate}}:</p>
        <div ng-if="vm.audit.IsJointAudit" ng-repeat="name in vm.audit.CustomerRepresentatives">
        {{name.Name}} <span ng-if="!$last">,</span>
        </div>
        <p ng-if="!vm.audit.IsJointAudit">{{'NONE' | translate}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'AUDIT_LOCATION' | translate}}:</p>
        <p>{{vm.audit.BuildingName}}, {{vm.audit.FloorName}}</p>
        <p>
            <i class="fa fa-location"></i>
            <span>{{vm.clientName}}, {{vm.audit.SiteName}}</span>
        </p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'AUDIT_RELATED' | translate}}:</p>
        <p class="relatedTo pull-left">
            {{vm.audit.ProgramName}}
        </p>
    </div>
    
</div>
<div class="hidden-md hidden-lg left-section mobile">
    <div class="padding-bottom-20 section-borders">
        <span class="pull-left italic-bold date-field align">{{'FILED_ON' | translate}}: {{vm.audit.AuditDate | date: 'short'}}</span>
        <div class="pull-right padding-right-10">
            <span class="bold-text text-uppercase audit-fields">{{'AUDIT_SCORE' | translate}}</span>
            <div class="audit-score-popup pull-right margin-left-5" ng-class="{'below-control' : (vm.audit.Average < vm.reportsConfig.control)}">
                <span class="average text-">{{ vm.audit.Average | number: 2 }}</span>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align">{{'AUDIT_DETAILS' | translate}}</p>
        <div class="padding-bottom-20 align">
            <p class="bold-text pull-left">{{'Internal Auditor' | translate}}:</p>
            <span class="padding-left-10">{{vm.audit.AuditorName}}</span>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text pull-left">{{'JOINT_AUDITORS' | translate}}:</p>
            <div class="pull-left padding-left-10" ng-if="vm.audit.IsJointAudit" ng-repeat="name in vm.audit.CustomerRepresentatives">
                {{name.Name}} <span ng-if="!$last">,</span>
            </div>
            <span class="pull-left padding-left-10" ng-if="!vm.audit.IsJointAudit">{{'NONE' | translate}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text">{{'AUDIT_LOCATION' | translate}}:</p>
            <p>{{vm.audit.BuildingName}}, {{vm.audit.FloorName}}</p>
            <p>
                <i class="fa fa-location"></i>
                <span>{{vm.clientName}}, {{vm.audit.SiteName}}</span>
            </p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text pull-left related">{{'AUDIT_RELATED' | translate}}:</p>
            <p class="relatedTo pull-left margin-left-10">
                {{vm.audit.ProgramName}}
            </p>
        </div>
    </div>
    <div ng-if="vm.isList">
        <div class="padding-bottom-15 padding-top-15">
            <p class="sub-head-text">{{'AUDIT_SUMMARY' | translate}}</p>
            <p class="text-space">{{vm.audit.Comment}}</p>
        </div>
        <div class="col-xs-12 pull-left padding-left-0 padding-right-0 padding-bottom-15">
            <div class="popup-header">
                <p class="col-xs-5 padding-left-0 padding-right-0">{{'AUDITED_AREAS' | translate}}</p>
                <p class="col-xs-2 padding-left-0 padding-right-0"><span class="pull-right">{{'STATIC_SCORE' | translate}}</span></p>
                <p class="col-xs-2 padding-left-0 padding-right-0"><span class="pull-right">{{'STATIC_TODOS' | translate}}</span></p>
                <p class="col-xs-2 padding-left-0 padding-right-0"><span class="pull-right">{{'STATIC_PHOTOS' | translate}}</span></p>
                <div class="clearfix"></div>
            </div>
            <hr class="wide" />
            <div class="col-xs-12 pull-left padding-left-0 padding-right-0" ng-repeat="section in vm.audit.ScorecardSections">
                <div class="click-style" data-ng-click="vm.toggleSection($event, section)">
                    <p class="col-xs-5 padding-left-0 padding-right-0">{{ ::section.AreaName }}</p>
                    <p class="col-xs-2 text-bold padding-left-10 padding-right-0"
                       ng-class="section.ScoreAverage < vm.reportsConfig.control ? 'text-danger': 'text-success'"
                       ng-if="section.ScoreAverage"><span class="pull-right">{{::section.ScoreAverage | number:2}}</span></p>
                    <p class="col-xs-2 padding-right-0 " ng-if="!section.ScoreAverage">
                        <span class="fa fa-ellipsis-h text-danger pull-right"></span>
                    </p>
                    <p class="col-xs-2 todos-section padding-right-0">
                        <span class="text-bold pull-right">{{::section.ToDos}}</span>
                        <span class="fa-tasks2 text-muted count-icon pull-right "></span>
                    </p>
                    <p class="col-xs-2 todos-section padding-right-0">
                        <span class="text-bold pull-right">{{::section.Images}}</span>
                    </p>
                    <p class="col-xs-1 todos-section padding-right-0">
                        <span class="pull-right fa fa-continue"></span>
                    </p>
                    <hr class="col-xs-12 padding-left-0 padding-right-0" />
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    <div ng-if="!vm.isList" class="audit-section padding-top-20 padding-bottom-20">
        <!--<div class="pull-left back-icon" ng-click="vm.backToList()">
            <span class="fa fa-angle-double-left "></span>
        </div>
        <p class="pull-left back-text padding-left-5">{{'BACK_AUDIT_LIST' | translate}}</p>-->
        <div class="pull-left cursor-pointer" ng-click="vm.backToList()">
            <div class="pull-left back-icon">
                <span class="fa fa-angle-double-left "></span>
            </div>
            <p class="pull-left back-text padding-left-5">{{'BACK_AUDIT_LIST' | translate}}</p>
        </div>
        <div class="scorecard-details col-xs-12 padding-top-20 padding-left-0 padding-right-0">
            <div class="pull-left col-xs-12 col-sm-6 padding-left-0 padding-right-0">
                <p class="text-bolder">{{vm.selectedScorecardSection.AreaName}}</p>
                <p class="text-bolder overall-score">
                    {{'SCORE' | translate}} -
                    <span ng-if="vm.selectedScorecardSection.ScoreAverage"
                          ng-class="vm.selectedScorecardSection.ScoreAverage < vm.reportsConfig.control? 'text-danger': 'text-success'">
                        {{vm.selectedScorecardSection.ScoreAverage | number: 2}}
                    </span>
                </p>
            </div>
            <div class="pull-left col-xs-12 col-sm-6 padding-bottom-20 padding-left-0 padding-right-0">
                <div class="pagination-wrap padding-left-0 padding-right-0">
                    <ul class="pagination audits-pagination">
                        <li data-ng-repeat="filter in vm.sectionFilters" data-ng-class="{active: $index == vm.selectedScorecardSection.filterSelected}">
                            <a href="" class="pagination-styles audit-mobile"
                               data-ng-click="vm.selectedScorecardSection.FilterBy=filter.filterValue; vm.selectedScorecardSection.filterSelected = $index">
                                {{filter.filterName | uppercase}}
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="detail margin-bottom-15" data-ng-repeat="inspection in vm.selectedScorecardSection.FilteredScorecardDetails = (vm.selectedScorecardSection.ScorecardDetails | filter: vm.filterScorecardDetails)">
                <p class="pull-left text-bolder  inspection-name">{{::inspection.AuditInspectionItemName}}</p>
                <p class="pull-right text-bolder score">
                    <span>{{'SCORE' | translate}} - </span>
                    <span ng-if="inspection.Score" ng-class="inspection.Score < vm.reportsConfig.control ? 'text-danger' : 'text-success'">
                        {{::inspection.Score | number: 2}}
                    </span>
                    <span class="fa fa-ellipsis-h text-danger" ng-if="!inspection.Score"></span>
                </p>
                <p class="col-xs-12 padding-left-0 padding-top-15 padding-right-0">{{ ::inspection.Comment  }}</p>
                <div class="detail-images padding-top-15 col-sm-6 col-xs-12 padding-left-0 padding-right-0">
                     <img ng-if="inspection.ScorecardDetailImages.length > 0" config-image scale="vm.zoomScale" fix-height="vm.fixHeight" image-zoom data-action="zoom" ng-src="{{inspection.mainImageUrl}}" class="inline main-image" />
                    <div ng-if="!image.mainImage" class="small-image pull-left padding-top-5" ng-repeat="image in inspection.ScorecardDetailImages">
                        <cf-image public-id="{{image.PublicId }}" ng-click="vm.makeMain(inspection, image)" class="inline sub-image pull-left margin-right-5"></cf-image>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="detail margin-bottom-15" ng-if="vm.selectedScorecardSection.FilteredScorecardDetails.length == 0">
                <p class="text-bold">{{'NO_DATA' | translate}}</p>
            </div>
            <div class="todo-list padding-bottom-15" ng-if="vm.selectedScorecardSection.TodoList.length > 0">
                <p>
                    <span class="text-warning text-bolder">{{'STATIC_TODOS' | translate}}</span>
                    <span class="fa fa-tasks2"></span>
                </p>
                <ul class="padding-top-15 uol">
                    <li class="padding-bottom-15" ng-repeat="todoItem in vm.selectedScorecardSection.TodoList">
                        <p class="">{{todoItem.Comment}}</p>
                        <p class="stats padding-top-5">
                            <span class="text-muted text-bolder text-uppercase">{{'ASSIGNED' | translate}}: {{todoItem.CreateDate | date: 'shortDate' : vm.userContext.Timezone.OffsetInHours}}</span>
                            <span class="text-muted text-bolder text-uppercase padding-left-15">{{'STATUS' | translate}}:</span>
                            <span class="text-uppercase text-bolder padding-left-5" ng-class="todoItem.IsComplete ? 'text-success' : 'text-danger'">
                                {{todoItem.IsComplete ? 'CLOSED': 'OPEN' | translate}}
                            </span>
                            <span class="text-muted text-bolder padding-left-5" ng-if="todoItem.IsComplete">{{todoItem.UpdateDate | date: 'shortDate' : vm.userContext.Timezone.OffsetInHours}}</span>
                        </p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
