﻿<div class="right-section">
    <div class="padding-bottom-20">
        <span class="pull-left italic-bold date-field">{{'Due Date' | translate}}: {{vm.workOrder.RequestDueDate || vm.workOrder.DueDate | date: 'shortDate'}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10 hidden-employees" ng-if="!vm.workOrder.CloseDate" ng-click="vm.redirectEntry()">{{'EDIT' | translate}}</a>
        <a class="pull-right text-danger link-style padding-right-20 hidden-employees" ng-if="!vm.workOrder.CloseDate" ng-click="vm.redirectClose()">{{'CLOSE' | translate}}</a>
        <a class="pull-right text-danger link-style padding-right-20 hidden-employees" ng-click="vm.deleteWorkOrder()">{{'DELETE' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-15">
        <p class="sub-head-text">{{'Description' | translate}}</p>
        <p class="text-space">{{vm.workOrder.Summary || vm.workOrder.Description}}</p>
    </div>
    <hr />
    <div class="padding-bottom-15" ng-if="vm.workOrder.Resolution">
        <p class="sub-head-text">{{'Closing Comments' | translate}}:</p>
        <p class="">{{vm.workOrder.Resolution}}</p>
    </div>
   
    <div class="padding-bottom-15 padding-top-15">
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Request Type' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{::vm.workOrder.ServiceTypeName}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{::vm.workOrder.ServiceTypeName}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding ">{{'WORKORDER_SCOPE' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{vm.workOrder.IsInScope ? 'In Scope' : 'Out Of Scope' | translate}}</span>
            <p class="text hidden-md hidden-sm hidden-lg">{{vm.workOrder.IsInScope ? 'In Scope' : 'Out Of Scope' | translate}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Priority' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{::vm.workOrder.PriorityName}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{::vm.workOrder.PriorityName}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Allocate Cost' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{!vm.workOrder.AllocateCose ? 'Not Billable' : 'Billable' | translate}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{!vm.workOrder.AllocateCose ? 'Not Billable' : 'Billable' | translate}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Is This a Safety Risk?' | translate}}</p>
            <span class="padding-left-20 hidden-xs">{{vm.workOrder.IsProductionAffected ? 'Yes' : 'No' | translate}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{vm.workOrder.IsProductionAffected ? 'Yes' : 'No' | translate}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'WORKORDER_COST' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{::vm.workOrder.Cost | currency}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{::vm.workOrder.Cost}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Equipment' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{vm.workOrder.Equipment}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{vm.workOrder.Equipment}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'P.O.' | translate}}#/{{'Cost Center' | translate}}</p>
            <span class="padding-left-20 hidden-xs">{{vm.workOrder.PoNumber}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{vm.workOrder.PoNumber}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Recurring' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{vm.workOrder.IsRecurring ? 'Yes': 'No' | translate}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{vm.workOrder.IsRecurring ? 'Yes': 'No' | translate}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Billing Description' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{vm.workOrder.BillingDescription}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{vm.workOrder.BillingDescription}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'PHONE_NUMBER' | translate}}</p>
            <span class="padding-left-20 hidden-xs">{{vm.workOrder.ContactNumber}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{vm.workOrder.ContactNumber}}</p>
        </div>
    </div>
    <div class="padding-top-15 padding-bottom-15 padding-left-0 padding-right-0 col-sm-6 col-xs-12 attachment-section" 
         data-ng-if="vm.workOrder.WorkOrderAttachments.length > 0">
        <p class="sub-head-text">{{'ATTACHMENT' | translate}}</p>
        <img data-ng-if="vm.workOrder.WorkOrderAttachments[0].AttachmentType == vm.attachmentType[vm.attachmentType.Image]" config-image scale="vm.zoomScale"
             image-zoom data-action="zoom" ng-src="{{vm.ObjectUrl}}" />
        <a data-ng-if="vm.workOrder.WorkOrderAttachments[0] && vm.workOrder.WorkOrderAttachments[0].AttachmentType != vm.attachmentType[vm.attachmentType.Image]"
           class="pull-left download-attachement btn-block download-style" href="{{vm.ObjectUrl}}"
           download="true" ng-click="$event.stopPropagation()">
            <span class="fa-stack fa-3x">
                <i class="fa fa-file-o fa-stack-1x"></i>
                <i class="fa fa-download fa-stack-1x"></i>

            </span>
            <p class="hidden-xs">({{'DOWNLOAD' | translate}})</p>
        </a>
        <div class="clearfix"></div>
    </div>
</div>
