﻿<div class="left-section hidden-sm hidden-xs">
    <div class="padding-horizontal-15">
        <p class="pop-up-title text-capitalize" translate>to-do details</p>
        <div class="padding-vertical-20 bold-text"><span>By</span> {{vm.createByName}}</div>
        <div class="padding-vertical-10">
            <p class="bold-text text-capitalize" translate>Location</p>
            <div class="text-capitalize">{{::vm.buildingName}}, {{::vm.floorName}}</div>
            <div class="text-capitalize"><i class="fa fa-location"></i> {{vm.userContext.Client.Name}}<span ng-if="vm.userContext.Site.Name">, {{vm.userContext.Site.Name}}</span></div>
        </div>
    </div>
    <div class="btn btn-edit btn-rerun" ng-if="vm.todo.ScorecardId && !vm.todo.IsComplete" ng-click="vm.reRunAudit()">{{'RERUN_AUDIT' | translate}}</div>
</div>
<div class="visible-xs visible-sm mobile">
    <div class="padding-bottom-20 section-borders">
        <div class="pull-left align anchor-style italic-bold date-field text-capitalize">
            <span class="text-capitalize" translate>created on</span>: {{::vm.createdDate}}
        </div>
        <div class="pull-right align btns" data-ng-show="!vm.todo.IsComplete">
            <span hidden-employees>
                <span class="text-danger text-uppercase padding-10 link-style" data-ng-click="vm.deleteToDo()" translate>DELETE</span>
            </span>
            <a class="btn btn-edit text-uppercase padding-10" ng-click="vm.closeToDo()" translate>close</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title text-capitalize align" translate>to-do details</p>
        <div class="padding-vertical-20 bold-text align"><span>By</span> {{vm.createByName}}</div>
        <div class="padding-vertical-10 align">
            <p class="bold-text text-capitalize" translate>Location</p>
            <div class="text-capitalize">{{::vm.buildingName}}, {{::vm.floorName}}</div>
            <div class="text-capitalize"><i class="fa fa-location"></i> {{vm.userContext.Client.Name}}<span ng-if="vm.userContext.Site.Name">, {{vm.userContext.Site.Name}}</span></div>
            <div class="btn btn-edit btn-rerun margin-top-30" ng-if="vm.todo.ScorecardId && !vm.todo.IsComplete" ng-click="vm.reRunAudit()">{{'RERUN_AUDIT' | translate}}</div>
        </div>
    </div>
        
        <div class="section-borders padding-top-15 padding-bottom-20">
            <p class="align text-capitalize sub-head-text"><span translate>Description</span>:</p>
            <div class="text-space align">{{::vm.comment}}</div>
            <div class="text-space align text-muted" ng-if="vm.todo.ScorecardId"><i>{{'SYSTEM_TODO' | translate}}</i></div>
            <div class="padding-top-15 align">
                <div class="row col-xs-12">
                    <div class="pull-left sub-head-text"><span translate>Due Date</span>:</div>
                    <div class="pull-left padding-left-10">{{ vm.dueDate}}</div>
                </div>
                <div class="row col-xs-12 padding-top-15" ng-if="vm.LastSeenDate">
                    <div class="pull-left sub-head-text text-capitalize"><span translate>seen</span>:</div>
                    <div class="pull-left padding-left-10">{{ vm.LastSeenDate}}</div>
                </div>
                <div class="row col-xs-12 padding-top-15" ng-if="vm.IsComplete">
                    <div class="pull-left sub-head-text text-capitalize"><span translate>Closed Date</span>:</div>
                    <div class="pull-left padding-left-10">{{ vm.updateDate}}</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
