﻿<div class="right-section">
    <div class="padding-bottom-20">
        <span class="pull-left italic-bold date-field">{{'COMPLIMENTED_ON' | translate}}: {{vm.compliment.FeedbackDate | date: 'short' : vm.userContext.Timezone.OffsetInHours}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10 hidden-employees" ng-click="vm.redirectToEntry()">{{'EDIT' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-15">
        <p class="sub-head-text">{{'Description' | translate}}</p>
        <p class="text-space">{{vm.compliment.Description}}</p>
    </div>
    <hr />
</div>
