﻿<div class="padding-left-15 left-section hidden-xs hidden-sm">
    <p class="pop-up-title">{{'COMPLIMENT_DETAILS' | translate}}</p>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'BY' | translate}} {{vm.compliment.CustomerName}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'Location' | translate}}:</p>
        <p>{{vm.compliment.BuildingName}}</p>
        <p>
            <i class="fa fa-location"></i>
            <span>{{vm.clientName}}, {{vm.compliment.SiteName}}</span>
        </p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'COMPLIMENT_RELATED' | translate}}:</p>
        <p class="relatedTo">
            {{vm.compliment.ProgramName}}
        </p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'Compliment Type' | translate}}:</p>
        <p class="relatedTo">
            {{vm.compliment.ComplimentTypeName}}
        </p>
    </div>
    
</div>

<div class="hidden-md hidden-lg left-section mobile">
    <div class="padding-bottom-20 section-borders">
        <span class="pull-left italic-bold date-field align">{{'COMPLIMENTED' | translate}}: {{vm.compliment.FeedbackDate | date: 'short': vm.userContext.Timezone.OffsetInHours}}</span>
        <a class="pull-right btn btn-edit text-uppercase align hidden-employees" ng-click="vm.redirectToEntry()">{{'EDIT' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align">{{'COMPLIMENT_DETAILS' | translate}}</p>
        <div class="padding-bottom-10 align">
            <p class="bold-text">{{'BY' | translate}} {{vm.compliment.CustomerName}}</p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text">{{'Location' | translate}}:</p>
            <p class="">{{vm.compliment.BuildingName}}</p>
            <p>
                <i class="fa fa-location"></i>
                <span class="">{{vm.clientName}},{{vm.compliment.SiteName}}</span>
            </p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text pull-left related">{{'COMPLIMENT_RELATED' | translate}}:</p>
            <p class=" relatedTo pull-left margin-left-10" ng-class="{'fits': vm.compliment.ProgramName.length > 9}">
                {{vm.compliment.ProgramName}}
            </p>
            <p class=" relatedTo pull-left margin-left-10" ng-class="{'fits': vm.compliment.ComplimentTypeName.length > 9}">
                {{vm.compliment.ComplimentTypeName}}
            </p>
        </div>
    </div>
    <div class="padding-bottom-15 padding-top-15">
        <p class="sub-head-text">{{'Description' | translate}}</p>
        <p class="text-space">{{vm.compliment.Description}}</p>
    </div>
</div>
