﻿<div class="entryview-modal">
    <div class="header">
        <i class="pull-left fa fa-{{vm.moduleIcon}} module-icon"></i>
        <a ng-click="vm.close()" class="pull-right fa fa-close"></a>
        <div class="clearfix"></div>
    </div>
    <div class="{{vm.moduleClass}}">
        <div class="col-md-4">
            <div class="fit-height" ng-include="vm.modalLeftSection"></div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 left-border ">
            <div class="col-md-12 hidden-xs hidden-sm">
                <div ng-include="vm.modalRightSection"></div>
            </div>
            <div class="clearfix"></div>
            <!--<hr />-->
            <div class="col-md-12 col-xs-12 mobile-padding-horizontal-0 padding-top-10 padding-bottom-10">
                <div class="bold-text-right text-uppercase" ng-if="vm.employeesWithImage.length > 0">{{vm.selectedEmployeeText | translate}}</div>
                <div class="pull-left assigned-employee-card" ng-repeat="employee in vm.employeesWithImage">
                    <img class="pull-left" ng-if="employee.ProfileImage" ng-cloak ng-src="{{employee.ProfileImage}}" />
                    <img class="pull-left" ng-if="!employee.ProfileImage" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                    <div class="pull-left emp-details">
                        <p class="name truncate">{{employee.Name}}</p>
                        <p class="job">{{employee.JobDescription}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    
</div>
