﻿<div class="padding-left-15 left-section hidden-xs hidden-sm">
    <p class="pop-up-title">{{'WORKORDER_DETAILS' | translate}}</p>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'Reported By' | translate}} {{vm.workOrder.ReportedByName}}</p>
        <p class="start-date">{{'Start Date' | translate}}: {{vm.workOrder.CreateDate | date: 'short'}}</p>
    </div>
   
    <div class="padding-bottom-20">
        <p class="bold-text">{{'Location' | translate}}:</p>
        <p>{{vm.workOrder.BuildingName}}
            <span ng-if="vm.workOrder.FloorName">, {{vm.workOrder.FloorName}}</span>
        </p>
        <p>
            <i class="fa fa-location"></i>
            <span>{{vm.clientName}}<span ng-if="vm.siteName">, {{vm.siteName}}</span></span>
        </p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text">{{'WORKORDER_RELATED' | translate}}:</p>
        <p class="relatedTo">
            {{vm.workOrder.ProgramName}}
        </p>
    </div>
    
</div>

<div class="hidden-md hidden-lg left-section mobile">
    <div class="padding-bottom-20 section-borders">
        <span class="pull-left italic-bold date-field align">{{'Due Date' | translate}}: {{vm.workOrder.RequestDueDate || vm.workOrder.DueDate | date: 'shortDate'}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10  hidden-employees" ng-if="!vm.workOrder.CloseDate" ng-click="vm.redirectEntry()">{{'EDIT' | translate}}</a>
        <a class="pull-right text-danger link-style padding-right-20 hidden-employees" ng-if="!vm.workOrder.CloseDate" ng-click="vm.redirectClose()">{{'CLOSE' | translate}}</a>
        <a class="pull-right text-danger link-style padding-right-20 hidden-employees" ng-click="vm.deleteWorkOrder()">{{'DELETE' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align">{{'WORKORDER_DETAILS' | translate}}</p>
        <div class="padding-bottom-10 align">
            <p class="bold-text">{{'Reported By' | translate}} {{vm.workOrder.ReportedByName}}</p>
            <p class="start-date">{{'Start Date' | translate}}: {{vm.workOrder.CreateDate | date: 'short'}}</p>
        </div>
       
        <div class="padding-bottom-20 align">
            <p class="bold-text">{{'Location' | translate}}:</p>
            <p class="">{{vm.workOrder.BuildingName}}
                <span ng-if="vm.workOrder.FloorName">, {{vm.workOrder.FloorName}}</span>
            </p>
            <p>
                <i class="fa fa-location"></i>
                <span class="">{{vm.clientName}}<span ng-if="vm.siteName">, {{vm.siteName}}</span></span>
            </p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text pull-left related">{{'WORKORDER_RELATED' | translate}}:</p>
            <p class="relatedTo pull-left margin-left-10">
                {{vm.workOrder.ProgramName}}
            </p>
        </div>
    </div>
    <div class="padding-bottom-15 padding-top-15">
        <p class="sub-head-text">{{'Description' | translate}}</p>
        <p class="text-space" >{{vm.workOrder.Summary || vm.workOrder.Description}}</p>
    </div>
    <hr class="mobile-hr" />
    <div class="padding-bottom-15" ng-if="vm.workOrder.Resolution">
        <p class="sub-head-text">{{'Closing Comments' | translate}}:</p>
        <p class="text-space">{{vm.workOrder.Resolution}}</p>
    </div>
    <div class="padding-bottom-15 padding-top-15">
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Request Type' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{::vm.workOrder.ServiceTypeName}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding ">{{'WORKORDER_SCOPE' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.workOrder.IsInScope ? 'In Scope' : 'Out Of Scope' | translate}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Priority' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{::vm.workOrder.PriorityName}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Allocate Cost' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{!vm.workOrder.AllocateCose ? 'Not Billable' : 'Billable' | translate}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Is This a Safety Risk?' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.workOrder.IsProductionAffected ? 'Yes' : 'No' | translate}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'WORKORDER_COST' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{::vm.workOrder.Cost | currency}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Equipment' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.workOrder.Equipment}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'P.O.' | translate}}#/{{'Cost Center' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.workOrder.PoNumber}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Recurring' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.workOrder.IsRecurring ? 'Yes': 'No' | translate}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'Billing Description' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.workOrder.BillingDescription}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 col-xs-5 no-padding">{{'PHONE_NUMBER' | translate}}</p>
            <span class="padding-left-20  col-xs-7">{{vm.workOrder.ContactNumber}}</span>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="padding-top-15 padding-bottom-15 padding-left-0 padding-right-0 col-sm-6 col-xs-12 attachment-section" data-ng-if="vm.workOrder.WorkOrderAttachments.length > 0">
        <p class="sub-head-text">{{'ATTACHMENT' | translate}}</p>
        <img data-ng-if="vm.workOrder.WorkOrderAttachments[0].AttachmentType == vm.attachmentType[vm.attachmentType.Image]" config-image scale="vm.zoomScale"
             image-zoom data-action="zoom" ng-src="{{vm.ObjectUrl}}" />
        <a data-ng-if="vm.workOrder.WorkOrderAttachments[0] && vm.workOrder.WorkOrderAttachments[0].AttachmentType != vm.attachmentType[vm.attachmentType.Image]"
           class="pull-left download-attachement btn-block download-style" href="{{vm.ObjectUrl}}"
           download="true" ng-click="$event.stopPropagation()">
            <span class="fa-stack fa-3x">
                <i class="fa fa-file-o fa-stack-1x"></i>
                <i class="fa fa-download fa-stack-1x"></i>

            </span>
            <p class="hidden-xs">({{'DOWNLOAD' | translate}})</p>
        </a>
        <div class="clearfix"></div>
    </div>
</div>
