﻿<div class="score-header">
    <div class="pull-left italic-bold text-capitalize" ng-if="vm.invitationResponse.SentDate">
        <span>{{'SENT_ON' | translate }}</span>: {{::vm.invitationResponse.SentDate  | date: 'short' }}
        <a ng-if="vm.userInfo.mainRoles.managers" href="javascript:void(0)" class="text-warning text-uppercase padding-left-10 click-style"
           ng-click="vm.resendSurvey()">
            {{'RESEND' | translate}}
        </a>
    </div>
    <div class="pull-left italic-bold text-capitalize" ng-if="!vm.invitationResponse.SentDate">
        <span>{{'Invite not yet sent' | translate }}</span>
    </div>
    <div class="pull-right">
        <span class="bold-text text-uppercase">{{'Overall' | translate }}</span> <span class="bold-text text-uppercase">{{'Score' | translate }}</span>
        <div class="surv-score pull-right" ng-class="{'below-control' : (vm.invitationResponse.AverageScore < vm.goal), 'na-background-style' : !vm.invitationResponse.AverageScore }">
            <b>{{ (vm.invitationResponse.AverageScore || 'N/A') }}</b>
        </div>
        <span class="smile pull-right"><i class="fa {{vm.scoringScale.icon}} {{vm.scoringScale.class}}"></i></span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="survey-content">
    <div class="padding-vertical-10 heading">
        <div class="pull-left text-muted">{{'Questions' | translate }}</div>
        <div class="pull-right text-muted">{{'Response' | translate }}</div>
        <div class="clearfix"></div>
    </div>
    <div class="row padding-top-15 padding-bottom-15 top-border" ng-if="!(vm.invitationResponse.Responses.length > 0)">
        {{'No Responses to Display' | translate }}
    </div>
    <div class="row padding-top-15 padding-bottom-15 top-border" ng-repeat="answer in vm.invitationResponse.Responses">
        <div class="col-md-9">{{ ::answer.QuestionText }}</div>
        <div class="col-md-3 text-right" ng-if="$index < 4">{{ ::answer.Value || 'N/A' }}</div>
        <div class="clearfix"></div>
        <div class="comment" ng-if="$index == 4">{{ ::answer.Value || 'N/A' }}</div>
    </div>
    <div class="row padding-top-10 top-border">
        <span ng-if="vm.invitationResponse.SubmittedDate">{{'Completed' | translate}}: {{vm.invitationResponse.SubmittedDate | date: 'shortDate'}}</span>
        <span ng-if="!vm.invitationResponse.SubmittedDate">{{'Pending' | translate}}</span>
        <div class="pull-right" ng-if="vm.userInfo.mainRoles.surveyadmins">
            <a class="text-danger link-style padding-right-20 hidden-employees" ng-click="vm.deleteSurvey()">{{'DELETE' | translate}}</a>
        </div>
    </div>
</div>
