﻿<div class="hidden-xs hidden-sm left-section">
    <div class="padding-horizontal-15">
        <div class="pop-up-title">{{'SURVEY FEEDBACK' | translate }}</div>
        <div class="padding-vertical-10">
            <span class="bold-text text-capitalize">{{'SURVEY_TAKER' | translate}}</span>:
            <p>
                <span class="bold-text text-capitalize text-warning">{{vm.invitationResponse.Recipient.Name}}</span>
                <span ng-if="vm.userInfo.mainRoles.managers" ><br/>{{vm.invitationResponse.Recipient.EmailAddress}}</span>
            </p>
        </div>
        <div class="padding-vertical-10">
            <span class="bold-text text-capitalize">{{'Location' | translate }}</span>:
            <div class="text-capitalize"><i class="fa fa-location"></i> {{vm.invitationResponse.Recipient.Survey.ClientName}}, {{vm.invitationResponse.Recipient.Survey.SiteName}}</div>
        </div>
        <div class="padding-vertical-10">
            <div class="bold-text text-capitalize"><span>{{'Survey related to:' | translate }}</span></div>
            <span class="relatedTo">{{vm.invitationResponse.Recipient.Survey.ProgramName}}</span>
        </div>
        <div class="padding-vertical-10">
            <div class="bold-text text-capitalize"><span>{{'SURVEY_DATE' | translate }}</span>:</div>
            <span ng-if="!vm.invitationResponse.editReportingDate" class="relatedTo">{{vm.invitationResponse.ReportingDate | date: 'shortDate'}}</span>
            <a ng-if="!vm.invitationResponse.editReportingDate && vm.userInfo.mainRoles.managers" ng-click="vm.invitationResponse.editReportingDate = vm.invitationResponse.ReportingDate" class="content text-warning text-uppercase padding-left-10 click-style">
                {{'EDIT' | translate}}
            </a>
            <div class="edit" ng-if="vm.invitationResponse.editReportingDate">
                <sbm-date-picker ng-model="vm.invitationResponse.editReportingDate"
                                 max-date="vm.maxDate"
                                 init-date="vm.invitationResponse.editReportingDate"
                                 is-required="true"
                                 placeholder="{{vm.invitationResponse.editReportingDate | date:'MM/dd/yyyy'}}" >
                </sbm-date-picker>
                <div class="text-center margin-top-5">
                    <span class="" ng-click="vm.saveReportingDate()">
                        <i class="fa fa-check22 text-success"></i>
                        <span class="padding-left-5">{{'SAVE' | translate }}</span>
                    </span>
                    <span class="margin-left-25" ng-click="vm.invitationResponse.editReportingDate = null;">
                        <i class="fa fa-cancel text-danger"></i>
                        <span class="padding-left-5">{{'CANCEL' | translate }}</span>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="padding-15">
        <div class="bold-text text-capitalize"><span>{{'scoring scale' | translate }}</span>:</div>
        <div class="row padding-vertical-10">
            <div class="scoring-scale" ng-repeat="scale in vm.scoringScaleArray | orderBy : 'value' : true">
                <p><i class="{{scale.icon}} {{scale.class}}"></i></p>
                <p class="score-value {{scale.class}}">{{scale.value}}</p>
                <p class="text-capitalize score-text {{scale.class}}">{{scale.text}}</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="hidden-md hidden-lg left-section mobile">
    <div class="score-header padding-bottom-20 section-borders">
        <div class="pull-left italic-bold text-capitalize align" ng-if="vm.invitationResponse.SentDate">
            <span>{{'SENT_ON' | translate }}: {{::vm.invitationResponse.SentDate  | date: 'short' }}</span>
            <a ng-if="vm.userInfo.mainRoles.managers" href="javascript:void(0)" class="text-warning text-uppercase padding-left-10 click-style"
               mailer="survey" params="vm.invitationResponse">
                {{'RESEND' | translate}}
            </a>
        </div>
        <div class="pull-left italic-bold text-capitalize align" ng-if="!vm.invitationResponse.SentDate">
            <span>{{'Invite not yet sent' | translate }}</span>
        </div>
        <div class="pull-right align">
            <span class="mobile-bold-text text-uppercase">{{'Overall' | translate }}</span> <span class="mobile-bold-text text-uppercase">{{'Score' | translate }}</span>
            <div class="surv-score pull-right" ng-class="{'below-control' : (vm.invitationResponse.AverageScore < vm.goal), 'na-background-style' : !vm.invitationResponse.AverageScore }">
                <b>{{ (vm.invitationResponse.AverageScore || 'N/A') }}</b>
            </div>
            <span class="smile pull-right"><i class="fa {{vm.scoringScale.icon}} {{vm.scoringScale.class}}"></i></span>

        </div>
        <div class="clearfix"></div>
    </div>

    <div class="section-borders padding-top-15 padding-bottom-10">
        <div class="pop-up-title align">{{'SURVEY FEEDBACK' | translate }}</div>
        <div class="padding-vertical-10 align">
            <span class="bold-text text-capitalize">{{'SURVEY_TAKER' | translate }}</span>:<br/>
            <p>
                <span class="bold-text text-capitalize text-warning">{{vm.invitationResponse.Recipient.Name}}</span>
                <span ng-if="vm.userInfo.mainRoles.managers"><br/>{{vm.invitationResponse.Recipient.EmailAddress}}</span>
            </p>
        </div>
        <div class="padding-vertical-10 align">
            <span class="bold-text text-capitalize">{{'Location' | translate }}</span>:
            <div class="text-capitalize"><i class="fa fa-location"></i> {{vm.invitationResponse.Recipient.Survey.ClientName}}, {{vm.invitationResponse.Recipient.Survey.SiteName}} </div>
        </div>
        <div class="padding-vertical-10 align">
            <span class="related bold-text">{{'SURVEY_DATE' | translate }}</span>:
            <div>
                <span ng-if="!vm.invitationResponse.editReportingDate" class="relatedTo content padding-left-5">{{vm.invitationResponse.ReportingDate | date:'shortDate'}}</span>
                <a ng-if="!vm.invitationResponse.editReportingDate && vm.userInfo.mainRoles.managers" ng-click="vm.invitationResponse.editReportingDate = vm.invitationResponse.ReportingDate" class="content text-warning text-uppercase padding-left-10 click-style">
                    {{'EDIT' | translate}}
                </a>
                <div class="edit" ng-if="vm.invitationResponse.editReportingDate">
                    <sbm-date-picker ng-model="vm.invitationResponse.editReportingDate"
                                     max-date="vm.maxDate"
                                     init-date="{{vm.invitationResponse.editReportingDate | date:'MM/dd/yyyy'}}"
                                     is-required="true"
                                     placeholder="{{vm.invitationResponse.editReportingDate | date:'MM/dd/yyyy'}}" >
                    </sbm-date-picker>
                    <div class="text-center margin-top-5">
                        <span class="" ng-click="vm.saveReportingDate()" >
                            <i class="fa fa-check22 text-success"></i>
                            <span class="padding-left-5">{{'SAVE' | translate }}</span>
                        </span>
                        <span class="margin-left-25" ng-click="vm.invitationResponse.editReportingDate = null;" ng-if="vm.invitationResponse.editReportingDate">
                            <i class="fa fa-cancel text-danger"></i>
                            <span class="padding-left-5">{{'CANCEL' | translate }}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="padding-vertical-10 align">
            <span class="pull-left related bold-text">{{'Survey related to:' | translate }}</span>
            <span class="relatedTo pull-left margin-left-10">{{vm.invitationResponse.Recipient.Survey.ProgramName}}</span>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="survey-content">
        <div class="padding-vertical-10 heading">
            <div class="pull-left text-muted">{{'Questions' | translate }}</div>
            <div class="pull-right text-muted">{{'Response' | translate }}</div>
            <div class="clearfix"></div>
        </div>
        <div class="padding-top-15 padding-bottom-15 top-border" ng-repeat="answer in vm.invitationResponse.Responses">
            <div class="col-xs-9 col-sm-9 no-padding">{{ ::answer.QuestionText }}</div>
            <div class="col-xs-3 col-sm-3 no-padding text-right" ng-if="$index < 4">{{ ::answer.Value || 'N/A' }}</div>
            <div class="clearfix"></div>
            <div class="comment" ng-if="$index == 4">{{ ::answer.Value || 'N/A' }}</div>
        </div>
    </div>
    <div class="padding-15">
        <div class="bold-text text-capitalize"><span>{{'scoring scale' | translate}}</span>:</div>
        <div class="row padding-vertical-10">
            <div class="scoring-scale" ng-repeat="scale in vm.scoringScaleArray | orderBy : 'value' : true">
                <p><i class="{{scale.icon}} {{scale.class}}"></i></p>
                <p class="score-value {{scale.class}}">{{scale.value}}</p>
                <p class="text-capitalize score-text {{scale.class}}">{{scale.text}}</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="padding-15">
        <div class="row padding-vertical-10">
            <span ng-if="vm.invitationResponse.SubmittedDate">{{'Completed' | translate}}: {{vm.invitationResponse.SubmittedDate | date: 'shortDate'}}</span>
            <span ng-if="!vm.invitationResponse.SubmittedDate">{{'Pending' | translate}}</span>
            <div class="pull-right delete-mobile" ng-if="vm.userInfo.mainRoles.surveyadmins">
                <a class="text-danger delete-link link-style hidden-employees" ng-click="vm.deleteSurvey()">{{'DELETE' | translate}}</a>
            </div>
        </div>
    </div>
</div>
