﻿<div>
    <div class="pull-left italic-bold text-capitalize date-field">
        <span translate>report it created on</span>: {{::vm.ownership.CreateDate}}
    </div>
    <div class="pull-right btns">
        <span hidden-employees ng-if="vm.ownership.Status === null">
            <span class="text-danger text-uppercase padding-10 link-style" data-ng-click="vm.reject()" translate>REJECT</span>
            <span class="text-success text-uppercase padding-10 link-style" data-ng-click="vm.accept()" translate>ACCEPT</span>
        </span>
        <a class="btn btn-edit text-uppercase padding-10" ng-click="vm.edit()" translate>Edit</a>
    </div>
    <div class="clearfix"></div>
</div>
<div>
    <p class="text-capitalize sub-head-text"><span translate>Description</span>:</p>
    <div class="text-space">{{::vm.ownership.Description}}</div>
    <div class="padding-top-15" ng-if="vm.ownership.CorrectiveActionDescription.length > 0">
        <p class="sub-head-text" translate>Corrective Action</p>
        <div class="text-space">{{::vm.ownership.CorrectiveActionDescription}}</div>
    </div>
    <div class="padding-top-15" data-ng-if="vm.ownership.OwnershipAttachments.length > 0">
        <p class="sub-head-text" translate>Attachment</p>
        <div class="attachment-section col-sm-6 col-xs-12 padding-left-0 padding-right-0" ng-hide="false">
            <img data-ng-if="vm.ownership.OwnershipAttachments[0].AttachmentType == vm.attachmentType[vm.attachmentType.Image]" config-image scale="vm.zoomScale" 
               image-zoom data-action="zoom"  ng-src="{{vm.ObjectUrl}}" />
            <a data-ng-if="vm.ownership.OwnershipAttachments[0] && vm.ownership.OwnershipAttachments[0].AttachmentType != vm.attachmentType[vm.attachmentType.Image]"
               class="pull-left download-attachement img-thumbnail btn btn-block text-center download-style" style="padding: 10px 0;"
               href="{{vm.ObjectUrl}}"
               download="true" title="Click to download file" ng-click="$event.stopPropagation()">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-file-o fa-stack-1x"></i>
                    <i class="fa fa-download fa-stack-1x"></i>

                </span>
                <p class="hidden-xs" translate>(click to download)</p>
            </a>
        </div>
    </div>
</div>

