﻿<div class="right-section">
    <div class="padding-bottom-20">
        <span class="pull-left italic-bold date-field">{{'FILED_ON' | translate}}: {{vm.complaint.FeedbackDate | date: 'short': vm.userContext.Timezone.OffsetInHours}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10 hidden-employees" ng-if="!vm.complaint.CompletedDate" ng-click="vm.redirectToEntry()">{{'EDIT' | translate}}</a>
        <a class="pull-right text-danger link-style padding-right-20 hidden-employees" ng-click="vm.deleteComplaint()">{{'DELETE' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-15">
        <p class="sub-head-text">{{'Description' | translate}}</p>
        <p class="text-space">{{vm.complaint.Description}}</p>
    </div>
    <div class="padding-bottom-15" ng-if="vm.complaint.Note">
        <p class="sub-head-text">{{'Notes about the Problem:' | translate}}</p>
        <p class="text-space">{{vm.complaint.Note}}</p>
    </div>
    <hr />
    <div class="padding-bottom-15" ng-if="vm.complaint.Action">
        <p class="sub-head-text">{{'Actions Taken' | translate}}:</p>
        <p class="text-space">{{vm.complaint.Action}}</p>
    </div>
    <div class="padding-bottom-15 padding-top-15">
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Classification' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{::vm.complaint.ClassificationName}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{::vm.complaint.ClassificationName}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding ">{{'REPEAT_OCCURENCE' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{vm.complaint.IsRepeatComplaint ? 'Yes' : 'No'}}</span>
            <p class="text hidden-md hidden-sm hidden-lg">{{vm.complaint.IsRepeatComplaint ? 'Yes' : 'No' | translate}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'COMPLAINT_TYPE' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{::vm.complaint.ComplaintTypeName}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{::vm.complaint.ComplaintTypeName}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'Preventable Status' | translate}}</p>
            <span class="padding-left-20 hidden-xs ">{{::vm.complaint.PreventableStatusName}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{::vm.complaint.PreventableStatusName}}</p>
        </div>
        <div class="padding-bottom-10">
            <p class="bold-text text-uppercase pull-left col-sm-4 no-padding">{{'PHONE_NUMBER' | translate}}</p>
            <span class="padding-left-20 hidden-xs" ng-if="vm.complaint.CustomerPhoneNumber">{{vm.complaint.CustomerPhoneNumber}}</span>
            <span class="padding-left-20 hidden-xs" ng-if="!vm.complaint.CustomerPhoneNumber">{{'NONE_PROVIDED' | translate}}</span>
            <p class="hidden-md hidden-sm hidden-lg">{{::vm.complaint.ClassificationName}}</p>
        </div>
    </div>
</div>
