﻿<div class="left-section hidden-sm hidden-xs">
    <div class="padding-left-15">
        <p class="pop-up-title" translate>Review Report It</p>
    </div>
    <div class="status" ng-if="vm.ownership.Status != null">
        <div class="bold-text text-uppercase padding-left-15">{{vm.ownership.Status == 1 ? 'accepted by : ' : 'rejected by : '}}</div>
        <div class="padding-left-15">{{vm.ownership.StatusUpdateByName || '---'}}</div>
        <div class="bold-text text-uppercase padding-top-15 padding-left-15" data-ng-if="!vm.ownership.RejectionTypeName" translate>Classification</div>
        <div class="padding-left-15 " data-ng-if="!vm.ownership.RejectionTypeName">
            {{vm.ownership.IsCritical == vm.isCritical ? 'Critical' : 'Non-critical'}}
            <span data-ng-if="vm.ownership.Classifications.length > 0" data-ng-repeat="classification in vm.ownership.Classifications">
                , {{classification.Name}}
            </span>
        </div>
        <div class="padding-left-15 padding-top-15 bold-text text-uppercase" data-ng-if="vm.ownership.RejectionTypeName" translate>Reason</div>
        <div class=" padding-left-15" data-ng-if="vm.ownership.RejectionTypeName">
            {{vm.ownership.RejectionTypeName}}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="padding-horizontal-15">
        <p class="padding-vertical-10 bold-text" ng-if="vm.ownership.CustomerRepresentatives.length > 0">
            <span translate>Customer</span>:
            <span data-ng-repeat="rep in vm.ownership.CustomerRepresentatives">
                {{rep.Name}}{{$last ? '': ' , '}}
            </span>
        </p>
        <div class="padding-vertical-10">
            <p class="bold-text text-capitalize" translate>Location</p>
            <div class="text-capitalize">{{::vm.ownership.BuildingName}}, {{::vm.ownership.FloorName}}</div>
            <div class="text-capitalize"><i class="fa fa-location"></i> {{vm.userContext.Client.Name}}<span ng-if="vm.userContext.Site.Name">, {{vm.userContext.Site.Name}}</span></div>
        </div>
        <div class="padding-vertical-10" data-ng-if="vm.ownership.ReportTypeName">
            <p class="bold-text text-capitalize" translate>report-it related to</p>
            <span class="relatedTo">{{::vm.ownership.ReportTypeName}}</span>
        </div>
    </div>
</div>

<div class="visible-xs visible-sm mobile">
    <div class="padding-bottom-20 section-borders">
        <div class="hidden-xs align">
            <div class="pull-left anchor-style italic-bold text-capitalize">
                <span translate>created on</span>: {{::vm.ownership.CreateDate}}
            </div>
            <div class="pull-right btns">
                <span hidden-employees ng-if="vm.ownership.Status === null">
                    <span class="text-danger text-uppercase padding-5 link-style" data-ng-click="vm.reject()" translate>REJECT</span>
                    <span class="text-success text-uppercase padding-5 link-style" data-ng-click="vm.accept()" translate>ACCEPT</span>
                </span>
                <a class="btn btn-edit text-uppercase padding-10" ng-click="vm.edit()" translate>Edit</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="visible-xs align">
            <div ng-if="vm.ownership.Status !== null">
                <div class="pull-left anchor-style italic-bold text-capitalize">
                    <span translate>created on</span>: {{::vm.ownership.CreateDate}}
                </div>
                <div class="pull-right btns">
                    <a class="btn btn-edit text-uppercase padding-10" ng-click="vm.edit()" translate>Edit</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div ng-if="vm.ownership.Status === null">
                <div class="pull-left anchor-style italic-bold padding-bottom-10 text-capitalize">
                    <span translate>created on</span>: {{::vm.ownership.CreateDate}}
                </div>
                <div class="btns pull-right">
                    <span hidden-employees>
                        <span class="text-danger text-uppercase padding-5 link-style" data-ng-click="vm.reject()" translate>REJECT</span>
                        <span class="text-success text-uppercase padding-5 link-style" data-ng-click="vm.accept()" translate>ACCEPT</span>
                    </span>
                    <a class="btn btn-edit text-uppercase padding-10" ng-click="vm.edit()" translate>Edit</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align" translate>Review Report It</p>
        <div class="status" ng-if="vm.ownership.Status != null">
            <div class="bold-text text-uppercase">{{vm.ownership.Status == 1 ? 'accepted by : ' : 'rejected by : '}}</div>
            <div>{{vm.ownership.StatusUpdateByName || '---'}}</div>
            <div class="bold-text text-uppercase padding-top-15 " data-ng-if="!vm.ownership.RejectionTypeName" translate>Classification</div>
            <div data-ng-if="!vm.ownership.RejectionTypeName">
                {{vm.ownership.IsCritical == 'NotCritical' ? 'Non-critical' : 'Critical'}}
                <span data-ng-if="vm.ownership.Classifications.length > 0" data-ng-repeat="classification in vm.ownership.Classifications">
                    , {{classification.Name}}
                </span>
            </div>
            <div class="padding-top-15 bold-text text-uppercase" data-ng-if="vm.ownership.RejectionTypeName" translate>Reason</div>
            <div data-ng-if="vm.ownership.RejectionTypeName">
                {{vm.ownership.RejectionTypeName}}
            </div>
            <div class="clearfix"></div>
        </div>
        <p class="padding-vertical-10 bold-text align" ng-if="vm.ownership.CustomerRepresentatives.length > 0">
            <span translate>Customer</span>:
            <span data-ng-repeat="rep in vm.ownership.CustomerRepresentatives">
                {{rep.Name}}{{$last ? '': ' , '}}
            </span>
        </p>
        <div class="padding-vertical-10 align">
            <p class="bold-text text-capitalize" translate>Location</p>
            <div class="text-capitalize">{{::vm.ownership.BuildingName}}, {{::vm.ownership.FloorName}}</div>
            <div class="text-capitalize"><i class="fa fa-location"></i> {{vm.userContext.Client.Name}}<span ng-if="vm.userContext.Site.Name">, {{vm.userContext.Site.Name}}</span></div>
        </div>
        <div class="padding-vertical-10 align" data-ng-if="vm.ownership.ReportTypeName">
            <p class="bold-text text-capitalize" translate>report-it related to</p>
            <span class="relatedTo">{{::vm.ownership.ReportTypeName}}</span>
        </div>
    </div>
    <div class="section-borders no-border padding-top-15 padding-bottom-20">
        <p class="text-capitalize align sub-head-text"><span translate>Description</span>:</p>
        <div class="text-space align">{{::vm.ownership.Description}}</div>
        <div class="padding-top-15 align" ng-if="vm.ownership.CorrectiveActionDescription.length > 0">
            <p class="sub-head-text" translate>Corrective Action</p>
            <div class="text-space">{{::vm.ownership.CorrectiveActionDescription}}</div>
        </div>
        <div class="padding-top-15 align" data-ng-if="vm.ownership.OwnershipAttachments.length > 0">
            <p class="sub-head-text" translate>Attachment</p>
            <div class="attachment-section col-sm-6 col-xs-12 padding-left-0 padding-right-0" ng-hide="false">
                <img data-ng-if="vm.ownership.OwnershipAttachments[0].AttachmentType == vm.attachmentType[vm.attachmentType.Image]" 
                     ng-src="{{vm.ObjectUrl}}" config-image scale="vm.zoomScale" 
                     image-zoom data-action="zoom" />
                <a data-ng-if="vm.ownership.OwnershipAttachments[0] && vm.ownership.OwnershipAttachments[0].AttachmentType != vm.attachmentType[vm.attachmentType.Image]"
                   class="pull-left download-attachement img-thumbnail btn btn-block text-center download-style" style="padding: 10px 0;"
                   href="{{vm.ObjectUrl}}"
                   download="true" title="Click to download file" ng-click="$event.stopPropagation()">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-file-o fa-stack-1x"></i>
                        <i class="fa fa-download fa-stack-1x"></i>

                    </span>
                    <p class="hidden-xs" translate>(click to download)</p>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
