﻿<div class="image-crop">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center padding-bottom">Click and drop to move image. Scroll or pinch to resize.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 padding-bottom">
            <image-crop data-height="200"
                        data-width="200"
                        data-shape="square"
                        data-step="vm.imageCropStep"
                        src="vm.imgUrl"
                        data-result="vm.imageCropResult"
                        data-result-blob="vm.imageCropResultBlob"
                        crop="vm.initCrop"
                        padding="100"
                        max-size="800"></image-crop>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4">
            <button class="btn btn-primary btn-block btn-md" ng-click="vm.crop()">Crop</button>
            <button class="btn btn-primary btn-block btn-md" ng-click="vm.reset()">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-11 padding-bottom">
            <textarea class="btn-block" ng-if="vm.needDescription" placeholder="Add Photo Description" ng-model="vm.imageDescription"></textarea>
        </div>
        
        
    </div>
</div>
