﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.course-admin {
    background-color: $default;

    .page-heading-style {
        padding: 0 15px;
        position: relative;
        margin-top: -20px;
        margin-bottom: 20px;
        @include breakpoint(tablet) {
            padding: 0 20px 20px;
            margin-bottom: 0;
            margin-top: -10px;
        }

        .page-title-style {
            padding-top: 0;
            margin-top: 0;
        }

        h3 {
            font-size: 24px;
            font-weight: 300;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 0;

            @include breakpoint(tablet) {
                font-size: 34px;
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark;
            margin: 0;
            padding: 0;
        }

        .knowledge-center{
            background-color: $primary;
            color: $default;
            font-weight: 700;
            padding: 8px 12px;
            border-radius: 4px;
            @include breakpoint(tablet){
                position: absolute;
                bottom: 25px;
                right: 15px;
            }
            i{
                font-weight: 700;
            }
        }
    }

    .details-section {
        background-color: $gray;

        .select {
            padding-top: 15px;
            padding-bottom: 15px;
            border-right: 1px solid $border;
            padding: 0;

            .header {
                display: flex;
                border-bottom: 1px solid $border;
                padding-top: 15px;
                padding-bottom: 15px;
                height: 80px;
                @include breakpoint(mobileonly){
                    padding-left: 0;
                    padding-right: 0;
                }
                .outer {
                    margin: 0 auto;

                    .steps {
                        text-align: center;
                        float: left;
                        width: 125px;
                        @include breakpoint(mobileonly){
                            width: 119px;
                            font-size: 12px;
                        }
                        .in-progress {
                            position: relative;
                            margin-top: -45px;
                            left: -65px;

                            .fa-circle {
                                font-size: 7px;
                                padding-left: 7px;
                            }
                        }

                        .number {
                            height: 30px;
                            width: 30px;
                            border: 1px solid $border;
                            border-radius: 50%;
                            line-height: 2;
                            display: inline-block;
                            background-color: $border-dark;
                            font-weight: 700;
                            color: $muted;

                            &.active {
                                color: $default;
                                background-color: $warning;
                            }
                        }
                    }
                }
            }

            .body {
                padding: 15px;

                @include breakpoint(tablet) {
                    padding: 15px 20px;
                }

                .title {
                    font-size: 16px;

                    .bold {
                        font-weight: 700;
                    }
                }
                img {
                        height: 45px;
                        width: 45px;
                        border: 1px solid $border;
                        border-radius: 50%;
                        display: inline-block;
                    }

                    .name {
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 3;

                        &.active {
                            color: $dark;
                        }
                    }

                .options {
                    .search {
                        padding: 0;

                        .search-section {
                            padding-left: 5px;
                            height: 34px;
                            font-size: 14px;
                        }
                    }

                    .select-button {
                        border-radius: 4px;
                        padding: 8px 5px;
                        color: $default;
                        margin-top: 10px;
                        cursor: pointer;
                        font-weight: 700;
                        font-size: 12px;
                        text-transform: uppercase;
                        margin-right: 20px;
                        text-align: center;
                        width: 78px;

                        &.allSelect {
                            background-color: $warning;
                        }

                        &.clear {
                            background-color: $muted;
                        }
                        @include breakpoint(tablet){
                            margin-top: 0;
                        }
                    }

                    .icon-search {
                        color: $primary;
                        font-weight: 400;
                        position: absolute;
                        margin-top: -25px;
                        right: 10px;
                        font-size: 18px;
                    }

                    .filter {
                        padding: 0;

                        .style {
                            margin-left: 0;
                            margin-top: 10px;
                            @include breakpoint(tablet){
                                margin-left: 10px;
                                margin-top: 0;
                            }
                        }
                    }

                    .all {
                        font-weight: 700;
                        line-height: 4;
                    }

                    .scroll-data {
                        height: 45vh;
                        @include breakpoint(desktop){
                            height: 46vh;
                        }
                        overflow-y: auto;
                        padding: 0 10px 0 0;
                        margin-top: 15px;
                        &.unassign{
                            height: 40vh;
                        }
                        .data-img-name-content{
                                width: 50%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                &.increase-width{
                                    width: 85%;
                                }
                        }

                        .data {
                            background-color: $default;
                            border: 2px solid $border;
                            padding: 10px;
                            margin-bottom: 5px;
                            color: $muted;
                            cursor: pointer;

                            &.active {
                                border: 2px solid $warning;
                            }


                            img {
                                height: 45px;
                                width: 45px;
                                border: 1px solid $border;
                                border-radius: 50%;
                                display: inline-block;
                            }

                            .name {
                                font-weight: 700;
                                text-transform: uppercase;
                                line-height: 3;
                                padding-left: 10px;
                                &.active {
                                    color: $dark;
                                }
                            }

                            .more-info {
                                line-height: 3;
                                width: 39%;
                                text-overflow: ellipsis;
                                padding-left: 10px;
                                overflow: hidden;
                                white-space: nowrap;
                                &.active {
                                    color: $black;
                                }
                            }

                            .tick {
                                line-height: 2;
                                font-size: 20px;

                                &.active {
                                    color: $warning;
                                    font-weight: 600;
                                }
                            }
                        }
                        
                        .half-data {
                            @include breakpoint(desktop) {
                                    width: 50%;
                                    float: left;
                                }
                            }

                        .half-data:nth-child(even) {
                            @include breakpoint(desktop) {
                                    padding-left: 10px;
                                }
                            }

                        .half-data:nth-child(odd) {
                            @include breakpoint(desktop) {
                                    padding-right: 10px;
                                }
                            }

                        .full-data {
                                width: 100%;
                            }
                    }
                }
            }

            .footer {
                background-color: $default;
                padding: 15px;
                text-align: center;

                @include breakpoint(tablet) {
                    padding: 20px 20px;
                }

                .buttons {
                    border-radius: 4px;
                    padding: 8px 5px;
                    color: $default;
                    width: 100px;
                    margin: 0 auto;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 12px;
                    text-transform: uppercase;
                    @include breakpoint(mobileonly){
                        width: 89px;
                    }
                    &.prev {
                        background-color: $dark;
                    }

                    &.cancel {
                        background-color: $muted-dark;
                        margin-right: 20px;
                        @include breakpoint(mobileonly){
                            margin-right: 10px;
                        }
                    }

                    &.next {
                        background-color: $success;
                    }

                    &.inactive {
                        opacity: 0.65;
                        cursor: not-allowed;
                    }
                }
            }
        }

        .summary-section {
            background-color: $border;

            &.height-show {
                height: 100vh;
                @include breakpoint(tablet){
                    height: 72vh;
                }
                @include breakpoint(desktop){
                    height: 74.5vh;
                }
            }
            

            &.height-hide {
                height: auto;
            }

            .section-header {

                .title {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 15px;
                    background-color: $base;
                    font-size: 30px;
                    height: 80px;

                    .sub-items-align {
                        vertical-align: middle;
                    }
                }
            }

            .body-header {
                padding: 15px;
                font-size: 24px;
                cursor: pointer;

                .title {
                }

                .count {
                    color: $base-dark;
                    font-weight: 600;

                    &.more {
                        font-size: 16px;
                    }
                }

                .angle-style {
                    font-size: 30px;
                }
            }

            .content-scroll {
                max-height: 220px;
                overflow-y: auto;
                @include breakpoint(mobileonly){
                    max-height: 170px;
                }
                @include breakpoint(tablet){
                max-height: 260px;
                }
                .body-content {
                    color: $warning;
                    font-weight: 600;

                    i {
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .data-style {
                        font-size: 16px;
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            width: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            height: 40px;
            width: 8px;
            background: $dark;
            -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
        }

        ::-webkit-scrollbar-track {
            display: none;
        }

        .slide {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 30px;
            text-align: center;
            color: $default;
            cursor: pointer;
            height: 80px;

            i {
                vertical-align: middle;
            }

            &.slide-right {
                background-color: $base-dark;
            }

            &.slide-left {
                background-color: $primary;

                .total-count-slide-right {
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    background-color: $warning;
                    color: $default;
                    text-align: center;
                    line-height: 30px;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    z-index: 1;
                    font-size: 15px;
                }
            }
        }
    }
}
