﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

@media screen and (max-width: 976px) {
    .com-wrapper-padding {
        padding:0 10px;

    }
    .mobile-hide-show-btn{
        width:100%;
    }
    .padding-0{
        padding:0;
    }
}
.job-description-builder {
    color:#6e6e6e;

    @include breakpoint(mobilephone) {
        .iconed-title {
            i {
                display:none;
            }
        }

        .btn-mobile {
            width: 100%;
        }

        .jd-type {
            float: none !important;
            margin-right: 10px;

            .new-position {
                width: 100%;
            }
        }
    }

    .up-doc-list{
        @include breakpoint(tablet){
            max-height: 415px;
            overflow: auto;
        }
        border:1px solid $border;
    }

        /* when hiding the picture */
    .ng-hide-add { 
        -webkit-transition: 0s ease all; 
        -o-transition: 0s ease all; 
        -moz-transition: 0s ease all; 
        transition: 0s ease all; 
    }

    /* when showing the picture */
    .ng-hide-remove { 
        -webkit-transition: 0s ease all; 
        -o-transition: 0s ease all; 
        -moz-transition: 0s ease all; 
        transition: 0s ease all; 
    }

    .new-position {
        position: relative;
        width: 250px;

        input {
            width: 250px;
        }

    }

    .primary-text {
        font-weight: 300;
        color:$primary;
    }
    em {
    font-style: italic;
    padding: 10px 0;
    color: $base-dark;
    }
    .icons-position{
        position: absolute;
        right: 14px;
    }
    .para-padding-right{
        padding-right:95px;
    }

    .padding-left-0{
        padding-left:0;
    }
    .padding-right-0{
        padding-right:0;
    }
    .padding-left-5{
        padding-left:5px;
    }
    .padding-sides{
        padding-left:20px;
        padding-right:20px;
    }
    .margin-right{
        margin-right:5px;
    }
    .btn-success {
        background-color: #5cb85c;
        color: #fff;
    }

    .inputs {
        background-color: #fff;
        padding: 10px;
    }

    label {
        color: $primary;
        text-transform: capitalize;
        font-weight: 700;
    }

    textarea {
        width: 100%;
        height: 175px;
    }

    /*
        MOVE TO GLOBAL STYLES
    */
    .emp-row {
        padding: 15px;
        border-bottom: 1px solid $border;
        position: relative;
        
        p {
            padding-right: 20px;
        }

        button {
            position: absolute;
            top: 35%;
            right: 0;
            margin-right: 10px; 
            margin-left: 10px; 
        }

        .name {
            font-weight: bold;
            color:$warning;
        }

        .description {
            padding-bottom: 10px;
            max-width: 700px;
        }

        &:nth-child(even) {
            background: #fafafa;
        }

        &:first-of-type{
            border-top:none;
        }
        &:last-of-type{
            border-bottom:none;
        }
    }
    /* ///////////// */

    .iconed-title { 
        margin: 10px 0 15px 0;

        .fa-briefcase {
            width: 38px;
            height: 38px;
            line-height: 38px;
            font-size: 22px;
            background: #4699c9;
            border-radius: 50%;
            color: #ffffff;
            text-align: center;
            float: left;
        }

        .jd-type {
            margin-left: 10px;
            float: left;
        }

    }

    .field-link {
        width: 100%;
        min-height: 160px;
        background: #f9fafb;
        text-align: center;
        padding-top: 30px;
        cursor: pointer;
        border-radius: 5px;
        border: 2px dashed #e4e4e4;
        color: #4699c9; 

        i {
            font-size: 72px; 
        }

        p {
            font-size: 20px;
        }
    }

    .basic-input {
        margin-bottom: 10px;
    }

    .task-input {
        textarea {
            margin-top: 5px;
            margin-bottom: 5px;
            height: 100px;
        }
    }

}
