﻿@import "../Common/_globals";

.kpi-builder {
    background: $default;

    .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 2.4;

        @include breakpoint(desktop) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .head {
        line-height: 2.4;
        font-weight: 600;

        @include breakpoint(mobilephone) {
            padding-left: 15px;
        }

        @include breakpoint(tablet) {
            padding-left: 15px;
        }

        @include breakpoint(desktop) {
            float: right;
        }
    }

    .hline {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .header {
        font-weight: 600;
        color: black;
        text-transform: uppercase;
    }

    .altRow:nth-child(odd) {
        @include breakpoint(desktop) {
            background-color: $gray;
        }
    }

    .altRow {
        padding: 15px 10px 15px 15px;
        @include breakpoint(desktop) {
            padding: 0;
        }
    }

    .card-border {
        border: 1px solid $border;
        padding: 15px;

        @include breakpoint(desktop) {
            border: none;
            padding: 0;
        }

        @include breakpoint(mobileonly) {
            padding: 15px 10px;
        }
    }

    .kpiItem {
        .kpiName {
            font-weight: 600;
            text-transform: uppercase;
            padding-left: 0;
            @include breakpoint(desktop) {
                padding-left: 20px;
            }

        }

        @include breakpoint(desktop) {
            padding: 15px 0;
        }

        .scale-div {
            padding-left: 0;
            padding-right: 0;

            @include breakpoint(desktop) {
                padding-left: 15px;
                padding-right: 15px;
            }

            @include breakpoint(mobileonly) {
                width: 36%;
            }
        }

        .scale {
            width: 100%;
            border: 1px solid $border;
            background-color: $default;
            border-radius: 2px;
            text-transform: uppercase;
            padding-left: 5px;

            @include breakpoint(desktop) {
                width: 65%;
            }

            @media only screen and (min-width : 992px) and (max-width : 1200px) {
                width: 81%;
            }
        }

        .description {
            height: 45px;

            @include breakpoint(desktop) {
                height: auto;
            }
            padding-left: 0;
            @include breakpoint(desktop) {
                padding-left: 15px;
            }
        }

        .frequency-div {
            padding-right: 0;
            padding-left: 0;

            @include breakpoint(desktop) {
                padding-right: 15px;
                padding-left: 15px;
            }

            @include breakpoint(mobileonly) {
                width: 30%;
            }
        }

        .goal-div {
            @include breakpoint(mobileonly) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .goal {
            width: 100%;
            border: 1px solid $border;
            background-color: $gray;
            border-radius: 2px;
            text-transform: uppercase;
            display: flex;

            @include breakpoint(desktop) {
                width: 50%;
            }

            @media only screen and (min-width : 992px) and (max-width : 1200px) {
                width: 60%;
            }

            .action-btns {
                width: 30%;
                text-align: center;
                background-color: $border-dark;
                color: $dark;
                font-weight: 300;
                padding: 0 5px;

                @include breakpoint(desktop) {
                    padding: 0;
                }

                .align-icons {
                    vertical-align: middle;
                }
            }

            .input-goal {
                width: 100%;
                border: none;
                text-align: center;
                background-color: $default;

                @include breakpoint(desktop) {
                    width: 60%;
                }
            }

            &.text {
                background-color: $default;
            }
        }
    }

    .btn-save-metric {
        padding: 4px 18px;
        float: right;
    }

    .note {
        line-height: 2.7;
        font-size: 12px;
        font-style: italic;
        font-weight: 700;
        float: right;

        @include breakpoint(desktop) {
            padding-right: 10px;
        }
    }
}

