﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.message-builder{
    background: $default;
    .btn-entry{
        color: $default;
        background: $success;
        margin: 10px 20px 20px 20px;
    }
    .no-padding{
        padding: 0 !important;
    }
    .wrap{
        padding:10px 30px 10px 20px;
        .position-wrap{
            padding-left: 0 !important;
        }
        .message-wrap{
            padding-left: 0 !important;
             @include breakpoint(tablet){
                padding-left:15px !important;
            }
        }
    }
    
    .send-btn-wrap{
        margin: 30px 15px 0 0;
        .send-btn{
            color: #fff;
            padding: 15px 12px;
            font-weight: bold;
            background: #66E94F;
        }
    }

    .table-head{
        padding: 10px;
        text-transform:uppercase;
        color: $default;
        background: $primary;
        font: 12px;
        font-weight: 600;
    }
    .table-body{
        background: $default;
        color: $dark;
        font-size: 14px;
        font-weight: normal;
        padding:20px 10px;
    }
    .table-body:nth-child(odd){
        background: $border;
    }

    ul.striped li:nth-child(odd){
        background-color: $gray;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        height: 250px;
        overflow-y: auto;
        .cell{
            text-align: left;
            position: relative;

            label{
                font-weight: 600;
                display: block;
                padding: 15px 45px 15px 15px;
            }

            input[type=checkbox]{
                position: absolute;
                right: 15px;
                top: 15px;
                z-index: 10;
            }
        }

        .checkbox-inline{
            font-weight: 400;
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .checkbox-general{
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 10;
    }

    .scroll{
        max-height: 120px;
        overflow-y: auto;
    }

    .tab-section{
        background-color: $gray;
        text-align: center;
        display: flex;
        .section{
            height: 50px;
            line-height: 50px;
            font-weight: 600;
            color: $base;
            border-right: 1px solid $border;
            &.active{
                background-color: white;
                border-top: 3px solid $primary;
                color: $primary;
            }
        }
        .search-section{
            margin: auto;
            margin-right: 10px;
        }
    }
    .enter-section{
            height: 35px;
            line-height: 35px;
            width: 70%;
            float: right;
            font-size: 14px;
        }
        .icon-search{
            position: absolute;
            z-index: 2;
            color: $primary;
            right: 24px;
            top: 10px;
            font-size: 18px;
        }

    .page-heading{
        padding: 15px 15px;
        @include breakpoint(tablet){
            padding: 10px 20px;
        }
        h3{
            font-size: 24px;
            font-weight: 300;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 0;
            @include breakpoint(tablet){
                font-size: 34px;
                padding-top: 20px;
                margin-top: 0;
                margin-bottom: 10px;
            }
            @include breakpoint(desktop){
                margin-top: 20px !important;
            }
        }

        .buttons-align{
            position: relative;
            top: -43px;

            .add-btn{
                padding: 10px 18px;
                font-weight: 600;

                i{
                    line-height: 1.5;
                    margin-right: .8em;
                }
            }
        }
        .send-message-btn{
            padding: 5px 10px;
            margin-top: 0;
            font-weight: 600;
            border-color: $success;
            @include breakpoint(tablet){
                margin-top: 30px;
                padding: 8px 18px 10px 18px;
            }
            @include breakpoint(desktop){
                margin-top: 40px;
            }
            i{
                line-height: 1.5;
                margin-right: 0;
                font-size: 15px;
                position: relative;
                top: 0;
                @include breakpoint(tablet){
                    top: 2px;
                }
            }
        }
    }

    .messages{
        background-color: $gray;
        padding-top: 20px;
        padding-bottom: 10px;
        @include breakpoint(tablet){
            padding-bottom: 0;
        }
        @include breakpoint(desktop){
            padding-bottom: 20px !important;
        }

        .toggle-switch{
              @include breakpoint(mobilephone){
                  padding: 0 15px;
                  width: 100%;
                .btn-group {
                    width: 100%;
                }
                .toggle-switch-style{
                        padding: 10px 0;
                        width: 50%;
                        text-align: center;
                }
            }
        }

        .count{
            padding-right: 20px;
            font-weight: 700;
            text-align: right;
            @include breakpoint(mobilephone){
                text-align: center;
                padding: 10px 0;
            }
        }

        .sent-messages{
            margin-left: 0;
            margin-right: 0;
            margin-top: 30px;
            @include breakpoint(desktop){
                margin-left: 10px;
                margin-right: 10px;
            }
            
            background-color: white;
            border: 1px solid $border;

            .title{
                padding-top: 20px;
                padding-bottom: 20px;
                .head{
                    line-height: 2.4;
                    font-weight: 600;
                }
                .head-sent{
                    font-size: 18px;
                    line-height: 34px;
                }
            }
            .heading{
                background-color: $gray;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 12px;
                font-weight: 600;
            }
            .details{
                border-bottom: 1px solid $border;
                display: flex;

                 [class*="col-"] {
                       padding-top:25px;
                       padding-bottom:25px;
                    }

                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: 3px solid $border;
                }

                .label{
                    text-transform: uppercase;
                    font-weight: 600;
                    border-radius: 2px;
                    line-height: 6px;
                    padding: 0 10px;
                    font-size: 12px;
                    background-color: $border-dark;
                    margin-left: 4px;
                }
                .emp-info{
                    padding-left: 50px;
                    .name{
                        color: $dark;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                    span{
                        color: $muted;
                        font-size: 12px;
                        padding: 0 5px 0 0;
                    }
                }
                .truncate{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    
                    &.dept{
                        color: white;
                    }
                }
                .text-style{
                    font-weight: 600;
                }
                .center-align{
                    margin: auto;
                }
                .fa-messaging{
                    color: $primary;
                    font-size: 26px;
                    font-weight: 500;
                }
                .fa-dpt-finance{
                    color: $primary;
                    font-size: 26px;
                    font-weight: 500;
                }
                .fa-re-use{
                    color: $primary;
                    font-size: 26px;
                    font-weight: 600;
                }
                .reuse{
                    cursor: pointer;
                }
                .opened{
                    font-weight: 600;
                }
            }
        }

        .search-mobile{
            margin-bottom: 5px;
            .mob-search{
                height: 40px;
            }
        }
    }


    .mobile-view{

        .mob-tite-header{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $border;
            .sent-message-title{
                font-weight: 500;
                font-size: 15px;
            }

            .filter-icon{
                font-size: 20px;
                color: $primary;
                cursor: pointer;
                font-weight: 500;
            }
        }

        .filter-row{
            border-bottom: 1px solid $border;
        }

        .mob-details{
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $border;

            .dept-label{
                padding: 0 10px;
                color: $default;
                border-radius: 2px;
                background-color: $border-dark;
            }
            .date-time{
                font-size: 12px;
                font-style: italic;
                line-height: 2;
            }
            .truncate{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .message-to{
                
            }
            .message-title{
                font-size: 16px;
                font-weight: 700;
                padding-left:0;
            }
            .message-site{
                font-style: italic;
                padding-left: 0;
            }
            .image-style{
                height: 45px;
                width: 45px;
                border-radius: 50%;
                border: 3px solid;
                border-color: $border-dark;
            }
            .finance-icon-style{
                color: $primary;
                font-size: 24px;
                font-weight: 500;
            }
            .reuse-icon-style{
                color: $primary;
                font-size: 24px;
                font-weight: 600;
            }

            .emp-name{
                font-size: 14px;
                text-transform: capitalize;
                font-weight: bold;
                padding: 0;
            }
            .emp-image{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 3px solid $border;
            }
            .total-msgs{
                font-size: 12px;
                font-weight: bold;
                padding: 10px 0 0;
            }
            .opened{
                font-size: 12px;
                font-weight: bold; 
                padding: 5px 0 0;
            }
        }

        
    }


   
}

 .send-message-modal-header {
        .fa-times{
            font-size: 14px;
        }
        .close-btn{
            top: 6px;
            right: 14px;
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: $base-dark;
            text-shadow: 0 1px 0 #fff;

            &:focus, &:hover{
                color: $dark;
                }
        }
 }

 .send-message-modal-body {
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    width: 100%;

    i{
        &.fa{
            color: $primary;
            font-size: 37px;
            line-height: 45px;
            display: inherit;
        }
    }
    .message-info{
        padding: 20px 0 0 0;
        margin: 10px 20px 0 20px;
        border-top: 1px solid $border-dark;
        text-align: left;
        .text-label{
            font-size: 14px;
            font-weight: 700;
            width: 27%;
            float: left;
            @include breakpoint(tablet){
                width: 20%;
            }
            @include breakpoint(mobileonly){
                    width: 33%;
                }
        }
        .text-body{
            font-size: 14px;
            width: 48%;
            float: left;
            font-weight: 500;
            word-break: break-word;
            @include breakpoint(tablet){
                width: 60%;
            }
            @include breakpoint(mobileonly){
                    width: 37%;
                }
        }
        .show-all-text{
            float: right;
            color: $primary;
            cursor: pointer;
        }
        .show-all-selected{
            white-space: normal;
        }
        .message-content{
            background-color: $gray;
            padding: 20px;
            margin-top: 15px;
            .message-title-style{
                font-style: italic;
                font-weight: 500;
                font-size: 14px;
                float: left;
                width: 70%;
                @include breakpoint(tablet){
                    width: 75%;
                }
                @include breakpoint(mobileonly){
                    width: 60%;
                }
            }
        }
        .full-message-content{
            text-align: center;
            padding-top: 15px;
            hr{
                border-top: 1px solid $border-dark;
            }
            .view-message-btn{
                border-radius: 4px;
                padding: 5px;
                background-color: $primary;
                color: $default;
                width: 170px;
                margin: 0 auto;
                cursor: pointer;
                position: relative;
                margin-top: -35px;
            }
        }
    }

    .truncate{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
     }

    .message-title{
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        padding: 10px 5px;
        width: 65%;
        margin: auto;
        background-color: $gray;
        font-style: italic;
        font-weight: 600;
    }

    .question-reuse {
        padding: 10px 10px 0 10px;
        font-size: 13px;
        margin: auto;
        
    }
    .no-stats {
        padding: 10px 10px 0 10px;
        font-size: 12px;
        margin: auto;
        line-height: 20px;
    }
    .close-window {
        width: 100%;
        background: $dark;
        color: $default;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        cursor: pointer;
    }

    .message-stats{
        
        .title{
            font-size: 21px;
            text-align: left;
            padding-left: 20px;
        }
        .recipients{
            text-transform: uppercase;
            font-weight: 700;
        }
        .details{
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 8px;
            text-align: left;
            @include breakpoint(tablet){
                padding-top: 40px;
                padding-left: 5px;
            }
            .date{
                font-style: italic;
            }

            hr{
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .opened{
                font-style: italic;

                .percent{
                    font-style: normal;
                    font-size: 26px;
                    color: $base-dark;
                    font-weight: 600;
                }
            }
            .legend-items{
                
                .legend-slice{
                    background: #1aaaa5;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    width: 10px;
                    float: left;
                    margin-top: 5px;
                }

                .legend-txt-custom{
                    padding-left: 5px;
                    font-weight: 600;
                    font-size: 12px;
                    @include breakpoint(tablet){
                        font-size: 14px;
                    }
                }
                .legend-val-y{
                        text-align: right;
                        font-weight: 600;
                    }
            }
        }

        .recipient-details{
            padding-left: 15px;
            @include breakpoint(tablet){
                padding-left: 20px;
            }
            .tabs{
                color: $primary;
                width: 33%;
                padding: 10px;
                font-size: 12px;
                @include breakpoint(tablet){
                    width: 26%;
                    font-size: 14px;
                }
                @include breakpoint(mobileonly){
                    padding: 10px 0;
                }
                &.active{
                    color: $dark;
                    font-weight: 700;
                    border: 1px solid $border;
                }
            }

            .employees{
                background-color: $gray;
                border: 1px solid $border;
                overflow-y: scroll;
                height: 388px;
                margin-bottom: 20px;
                .employee-card{
                    background-color: $default;
                    width: 95%;
                    margin-top: 10px;
                    margin-left: 10px;
                    padding: 10px 10px;
                    @include breakpoint(tablet){
                        width: 47%;
                    }
                    .circle-img{
                        width: 50px;
                        height: 50px;
                        border: none;
                    }

                    .emp-desc{
                        padding-left: 15px;
                        .name{
                            width: 167px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            
                            font-weight: 600;
                            color: $primary;
                            text-align: left;
                        }
                        .job-title{
                            font-style: italic;
                            text-align: left;
                            color: $base;
                        }
                    }
                }
            }
        }
    }
}

.send-message-modal-footer{
    padding-bottom: 30px;

    .btns{
        width: 65%;
        margin: auto;

        .action-btns{
            width: 92px;
            color: white;
            font-weight: 700;
            font-size: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
            &.cancel{
                background-color: $base-dark;
            }
        }
    }
    .reuse-btn{
        text-align: center;
        padding-top: 20px;
        .action-btns{
            color: white;
        }
    }
}


.stats{

    .page-heading{
        .stats-page-title{
            @include breakpoint(mobileonly){
                font-size: 21px;
            }
        }
        .stats-action-buttons{
            padding-right: 20px;
            margin-top: 0;
            padding-bottom: 0;
            border-bottom: 0;
            position: relative;
            margin-top: -120px;
            @include breakpoint(tablet){
                margin-top: 30px;
                padding-bottom: 49px;
                border-bottom: 1px solid $base;
                top: 0
            }
            @include breakpoint(desktop){
                margin-top: 40px !important;
                padding-bottom: 59px !important;
            }
            .stats-buttons-align{
                
                @include breakpoint(tablet){
                    top: 0;
                }
                .send-message-btn{
                    width: auto;
                    margin-top: 0;
                    margin-right: 8px;
                    padding: 7px 11px;
                    @include breakpoint(tablet){
                        width: 200px;
                        margin-top: 10px;
                        margin-right: 0;
                        padding: 10px;
                    }
                }
            }
        }

        .stats-nav-tabs{
            margin-top: 30px;
            display: flex;
            .tab{
                padding: 0 10px 5px 10px;
                border-bottom: 1px solid $base;
                text-align: center;
                cursor: pointer;
                @include breakpoint(tablet){
                    padding: 15px;
                }
                
                i{
                    font-size: 20px;
                }
                .message-count{
                    margin-left: 5px;
                    font-size: 22px;
                    color: $primary;
                }
                p{
                    font-weight: 700;
                    font-size: 10px;
                    white-space: nowrap;
                    @include breakpoint(tablet){
                        font-size: 12px;
                    }
                    @include breakpoint(mobileonly){
                        white-space: normal;
                        line-height: 14px;
                    }
                }
                .icon-align{
                    position: relative;
                    top: 2px;
                }
            }
            .active{
                border: 1px solid $base;
                border-bottom: 0;
                border-radius: 4px;
            }
        }

        
    }

    .stats-page-content{
        .single-chart{
            margin-top: 20px;
            padding: 0;
            margin-bottom: 20px;
            @include breakpoint(tablet){
                padding: 0 5px;
            }
            .single-chart-title{
                padding-left: 15px;
                font-size: 22px;
                font-weight: 300;
                color: $dark;
                margin-bottom: 10px;
            }
            .total-messages{
                color: $dark;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
                .value{
                    text-align: right;
                }
                &.sent{
                    margin-left: -15px;
                }
            }
            .data-align{
                margin-top: 30px;
                padding-left: 0;
                padding-right: 0;
            }
            .total-recipients-legend-align{
                padding-top: 0;
                @include breakpoint(desktop){
                    padding-top: 20px;
                }
            }
        }
        .bottom-charts{
            padding: 0;
            @include breakpoint(tablet){
                padding: 0 5px;
            }
            background-color: $gray;
            .mesage-card{
                margin: 0;
                @include breakpoint(tablet){
                    margin: 20px 0;
                }
                background-color: $default;
                padding: 20px 0;
                @include breakpoint(mobileonly){
                    padding: 20px 10px;
                }
                .static-title{
                    font-size: 22px;
                    font-weight: 300;
                    color: $dark;
                }
                .sent-date{
                    margin-top: 20px;
                    font-style: italic;
                    font-weight: 600;
                    font-size: 14px;
                }
                .dynamic-title{
                    color: $primary;
                    font-size: 16px;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                
                .legend{
                    padding-top: 20px;
                    @include breakpoint(mobileonly){
                        padding-right: 0;
                    }
                }
            }
            .lower-card-margin{
                @include breakpoint(tablet){
                    margin-top: 0;
                }
                @include breakpoint(desktop){
                    margin-top: 20px !important;
                }
            }
            .mobile-align{
                padding: 15px 0 0 0;
                @include breakpoint(tablet){
                    padding: 0 15px;
                }
            }
            .page-bottom-padding{
                margin-bottom: 15px;
                @include breakpoint(tablet){
                    margin-bottom: 0;
                }
            }
        }

        .legend-items{
                    padding-top: 0;
                
                    .legend-slice{
                        background: #1aaaa5;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        width: 10px;
                        float: left;
                        margin-top: 5px;
                    }

                    .legend-txt-custom{
                        padding-left: 5px;
                        font-weight: 600;
                    }
                    .legend-val-y{
                        text-align: right;
                        font-weight: 600;
                    }
                }
        
        .percentage-title{
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 600;
                    margin-left: 5px;
                }
                .percentage-value{
                    color: $base-dark;
                    font-weight: 700;
                    font-size: 34px;
                }
                .recipients{
                    text-align: center;
                    font-size: 12px;
                    font-weight: 700;
                }
                .hline{
                    border-top: 1px solid $base;
                    margin-right: 15px;
                    &.single{
                        @include breakpoint(mobileonly){
                            margin-right: 15px;
                        }
                    }
                    @include breakpoint(tablet){
                        margin-right: 0;
                    }
                    @include breakpoint(mobileonly){
                        margin-right: 0;
                    }
                }
    }

}