﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.messages-received{
    .page-heading-style{
        padding: 0 15px;
        position: relative;
        margin-top: -10px;
        @include breakpoint(tablet){
            padding: 0 20px;
        }
        .page-title-style{
            padding-top: 0;
            margin-top: 0;
        }
        h3{
            font-size: 24px;
            font-weight: 300;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 0;

            @include breakpoint(tablet) {
                font-size: 34px;
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark;
            margin: 0;
            padding: 0;
        }
    }

    .page-heading{
            padding-top: 0;
            @include breakpoint(tablet){
                padding-top: 10px;
            }
            .stats-nav-tabs{
                margin-top: 20px;
                .tab{
                    padding-top: 5px;
                    @include breakpoint(tablet){
                        padding-top: 15px;
                    }
                }
            }
        }


    .message-alert {
        background-color: $default;
        @include breakpoint(tablet){
            padding-bottom: 0 !important;
        }
        .asterisk {
            font-size: 12px;
        }
        padding-right: 0;
        margin-top: 0;
        padding-bottom: 0;
        border-bottom: 0;
        position: relative;
        margin-top: -20px;
        @include breakpoint(tablet){
            padding-right: 20px;
            margin-top: 30px;
            padding-bottom: 49px;
            border-bottom: 1px solid $base;
            top: 0
        }
        @include breakpoint(desktop){
            margin-top: 60px;
        }
    }

    .single-chart {
        .received-title{
            padding-left: 0 !important;
            @include breakpoint(tablet){
                padding-left: 0;
            }
        }
        .single-chart-title{
            padding-top: 10px;
        }
        .details {
            .opened {
                font-size: 30px;
                color: $base-dark;
                font-weight: 600;
            }

            .msg {
                width: 50%;
                font-style: italic;
                font-weight: 400;
            }
        }

        .legend-padding{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .messages-sent {

        .sent-details {
            padding-top: 20px;
            @include breakpoint(desktop){
                padding-left: 40px !important;
                padding-top: 0;
            }
            @include breakpoint(tablet){
                padding-left: 0;
            }
            .data {
                display: table;
                width: 100%;
                &.middle {
                    border-top: 2px solid $border;
                    border-bottom: 2px solid $border;
                    .lbl{
                        @include breakpoint(mobileonly){
                            width: 65%;
                            line-height: 27px;
                        }
                    }
                }

                .statistic {
                    font-size: 35px;
                    color: $base-dark;
                    font-weight: 600;
                    float: left;
                    text-align: right;
                    width: 75px;
                }

                .lbl {
                    font-style: italic;
                    padding-left: 10px;
                    float: left;
                    line-height: 45px;
                }
            }
        }

        .legend{
            padding-left: 25px;
            padding-top: 20px;
            @include breakpoint(tablet){
                padding-left: 20px;
            }
        }
    }
}

.employee-msgs-modal{
    padding: 25px;
     @include breakpoint(mobilephone){
        padding : 10px;
    }
     .truncate{
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
     }
    .show-all{
        float: right;
        color: $primary;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }
    .scroll-container{
        overflow-y: auto;
        max-height: 500px;
    }
    .fa-close{
         font-size: 20px;
         color: $muted;
    }
    .head{
        padding: 0px 50px 20px 0;
         @include breakpoint(mobilephone){
            padding : 5px 10px 25px 5px;
        }
        .name{
            font-size: 16px;
            text-transform: capitalize;
        }
        .daterange{
            font-size: 14px;
            font-weight: 600;
        }
    }
    a{
        font-size: 12px;
        font-weight: 600;
         @include breakpoint(mobilephone){
            padding : 10px !important;
        }
    }
    .header{
        background: $highlight;
        padding: 8px 0;
        font-size: 12px;
    }
    .tab-content{
        border: 1px solid $border;
        border-top: none;
    }
    .mob-messages{
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $border;

            .dept-label{
                padding: 0 10px;
                color: $default;
                border-radius: 2px;
                font-size: 12px;
            }
            .date-time{
                font-size: 12px;
                font-style: italic;
            }
            .truncate{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .message-title{
                font-size: 14px;
                font-weight: 700;
                padding-left:0;
            }
            .image-style{
                height: 45px;
                width: 45px;
                border-radius: 50%;
                border: 3px solid;
            }
        }
    .messages{
        padding: 15px 0;
        border-bottom: 1px solid $border;
        cursor: pointer;
        img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 3px solid $border;
        }

        .label{
            text-transform: capitalize;
            font-weight: 600;
            border-radius: 2px;
            line-height: 6px;
            padding: 0 10px;
            font-size: 12px;
            background-color: $border-dark;
            margin-left: 4px;
        }
        .emp-info{
            padding-left: 50px;
            .name{
                color: $dark;
                font-size: 14px;
                font-weight: 600;
            }
            span{
                color: $muted;
                font-size: 12px;
                padding: 0 5px 0 0;
            }
        }
        .truncate{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
                    
            &.dept{
                color: white;
            }
        }
    }
    .message-details{
        .clickable{
            cursor: pointer;
        }
        .fa{
            background: $primary;
            color: $default;
            padding:2px 5px;
            border-radius: 50%;
        }
        .back{
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
        }
        .sub-head{
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .value{
            font-size: 12px;
        }
        .message{
            padding: 15px;
            margin: 15px;
            border-radius: 4px;
            background: $highlight;
            overflow-y: auto;
            max-height:500px;
            .sub-head{
                font-weight: bold;
            }
            .title{
                font-size: 13px;
                font-weight: 600;
                font-style: italic;
                padding-left: 30px;
            }
        }
    }
    
}
