﻿.settings {
    .position-purpose-builder {
        .form-group {
            &.disabled * {
                 opacity:0.4
             }

            margin-bottom: 10px;


            label {
                clear: both;
                float: left;
            }

            label + em {
                clear: both;
                float: left;
                padding: 0 0 10px;
            }
        }
    }
}
