.settings .position-purpose-builder .form-group {
  margin-bottom: 10px;
}
.settings .position-purpose-builder .form-group.disabled * {
  opacity: 0.4;
}
.settings .position-purpose-builder .form-group label {
  clear: both;
  float: left;
}
.settings .position-purpose-builder .form-group label + em {
  clear: both;
  float: left;
  padding: 0 0 10px;
}

/*# sourceMappingURL=position-purpose-builder.css.map */
