﻿@{
    ViewBag.Title = "Message Builder";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid message-builder" data-ng-controller="Settings.MessageBuilderCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Messages Builder'|translate}}"
                 s3-icon-name="messagebuilder.svg">
    </page-header>
    <div class="wrap">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 position-wrap">
                <div class="field-wrap">
                    <label>Department<span class="required-sign">*</span></label> <br>
                    <em>Select a department which represents the message sender.</em>
                    <select name="jd-type-select" id="jd-type-select" class="form-control"
                            ng-model="vm.department.DepartmentId"
                            ng-options="dept.DepartmentId*1 as dept.Name for dept in vm.departments">
                        <option value="">- Select A Department -</option>
                    </select>

                </div><!-- field-wrap -->
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 position-wrap">
                <div class="field-wrap">
                    <label>Site <span class="required-sign">*</span></label> <br>
                    <em>Select a single site/multiple sites to send the message to.</em>
                    <ul class="striped">
                        <li class="cell">
                            <label>
                                Select All Sites
                                <input type="checkbox" class="checkbox-inline"
                                       ng-model="vm.selectAll" ng-click="vm.checkAll()" />
                            </label>
                        </li>
                        <li class="cell" ng-repeat="site in vm.sites ">
                            <label for="{{site.name+$index}}">
                                {{site.Name}}
                                <input type="checkbox" id="{{site.name+$index}}" class="checkbox-inline" ng-true-value="{{site.Id}}" ng-false-value=""
                                       data-ng-checked="site.selected" ng-click="vm.addRemoveItem(site)" />
                            </label>

                        </li>
                    </ul>
                </div>
            </div>
            

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 position-wrap">
                <div class="field-wrap">
                    <label>Position Title </label> <br>
                    <em>Select a single position/multiple positions to send message.</em>
                    <ul class="striped">
                        <li class="cell">
                            <label>
                                Select All Positions
                                <input type="checkbox" class="checkbox-inline"
                                       ng-model="vm.selectAllPositions" ng-click="vm.checkAllPositions()" />
                            </label>
                        </li>
                        <li class="cell" ng-repeat="position in vm.positions ">
                            <label for="{{position.Name+$index}}">
                                {{position.Name}}
                                <input type="checkbox" id="{{position.Name+$index}}" class="checkbox-inline" ng-true-value="{{position.JobId}}" ng-false-value=""
                                       data-ng-checked="position.selected" ng-click="vm.addRemovePosition(position)" />
                            </label>

                        </li>
                    </ul>
                   
                </div><!-- field-wrap -->
            </div>
        </div>
       
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            
            <div class="field-wrap">
                <label>Message <span class="required-sign">*</span></label> <br>
                <em>Write a brief Message to send for all holding the selected position title.</em>
                <textarea name="message" id="message" required ng-model="vm.messageBuilder.Text" cols="30" rows="10" class="basic-input"></textarea>
            </div><!-- field-wrap -->

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 position-wrap">
                <div class="field-wrap">
                    <label for="customer">
                        Send to Customer
                        <input type="checkbox" id="customer" class="checkbox-inline checkbox-general" data-ng-model="vm.messageBuilder.IsCustomer" />
                    </label>
                </div><!-- field-wrap -->
            </div>
        </div>
        @*<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 no-padding">
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 position-wrap">
                <div class="field-wrap">
                    <label>Site <span class="required-sign">*</span></label> <br>
                    <em>Select a single site/multiple sites to send the message to.</em>
                    <ul class="striped">
                        <li class="cell">
                            <label>
                                Select All
                                <input type="checkbox" class="checkbox-inline" 
                                       ng-model="vm.selectAll" ng-click="vm.checkAll()" />
                            </label>
                        </li>
                        <li class="cell" ng-repeat="site in vm.sites ">
                            <label for="{{site.name+$index}}">
                                {{site.Value}}
                                <input type="checkbox" id="{{site.name+$index}}" class="checkbox-inline" ng-true-value="{{site.Key}}" ng-false-value=""
                                       data-ng-checked="site.selected" ng-click="vm.addRemoveItem(site)" />
                            </label>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 message-wrap">
                <div class="field-wrap">
                    <label>Department<span class="required-sign">*</span></label> <br>
                    <em>Select a department which represents the message sender.</em>
                    <select name="jd-type-select" id="jd-type-select" class="form-control"
                            ng-model="vm.job.JobId"
                            ng-options="p.JobId*1 as p.Name for p in vm.departments">
                        <option value="">- Select A Department -</option>
                    </select>

                </div><!-- field-wrap -->
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 no-padding">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 position-wrap">
                <div class="field-wrap">
                    <label>Position Title <span class="required-sign">*</span></label> <br>
                    <em>Select a position to send message.</em>
                    <select name="jd-type-select" id="jd-type-select" class="form-control"
                            ng-model="vm.job.JobId"
                            ng-options="p.JobId*1 as p.Name for p in vm.positions">
                        <option value="">- Select A Position -</option>
                    </select>

                </div><!-- field-wrap -->
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 message-wrap">
                <div class="field-wrap">
                    <label>Message <span class="required-sign">*</span></label> <br>
                    <em>Write a brief Message to send for all holding the selected position title.</em>
                    <textarea name="message" id="message" required ng-model="vm.messageBuilder.Text" cols="30" rows="10" class="basic-input"></textarea>
                </div><!-- field-wrap -->
            </div>
            <div class="clearfix"></div>
        </div>*@
        <div class="pull-right send-btn-wrap">
            <a href="javascript:void(0);" class="btn send-btn" ng-click="vm.send()">SEND</a>
        </div>
        <div class="clearfix"></div>
    </div>


</div>