﻿@{
    ViewBag.Title = "Message Builder";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid message-builder" data-ng-controller="Settings.MessageBuilderDetailsCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'MSG_BUILDER_TITLE'|translate}}"
                 icon-text="{{'MSG_BUILDER_DESC'|translate}}"
                 s3-icon-name="messagebuilder.svg">
        <open-message-builder class="btn btn-success btn-sm  send-message-btn">
            <i class="fa fa-messaging fa-1"></i><span class="plus-btn hidden-xs hidden-sm">{{'SEND_MESSAGE'|translate}}</span>
        </open-message-builder>
    </page-header>
    <div class="row tab-section">
        <a class="col-md-3 col-xs-6 col-sm-3 section active">SENT MESSAGES</a>
        <a class="col-md-3 col-xs-6 col-sm-3 section" href="@Url.Action("Stats", "MessageBuilder",new { Area="Settings"})">MESSAGE STATS</a>
        <div class="col-md-6 col-sm-6 hidden-xs search-section pull-right">
            <input type="text" value="" ng-model="search" class="form-control enter-section input-sm filter" placeholder="Search Messages" />
            <span class="fa fa-search2 icon-search"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    
   
    <div data-infinite-scroll="vm.getMessages()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
    <div class="row  messages">

        <div class="search-mobile hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12 search-section margin-bottom-10">
                <input type="text" value="" ng-model="search" class="form-control input-sm filter mob-search" placeholder="Search Messages" />
                <span class="fa fa-search2 icon-search"></span>
            </div>
        </div>

        <div class="pull-right count"><span ng-if="vm.count > 0">1-{{vm.interimCount}} of </span>{{vm.count}} Messages</div>
       
        <div class="sent-messages hidden-xs">
            <div class="title">
                <div class="pull-left padding-left-15 head-sent">Sent Messages</div>
               
                   
                <div class="pull-right col-md-3">
                    <select name="jd-type-select" id="jd-type-select" class="form-control"
                            ng-model="vm.selectedDepartment.DepartmentId"
                            ng-options="dept.DepartmentId*1 as dept.Name for dept in vm.departments"
                            ng-change="vm.getMessagesReset()">
                        <option value="">All Departments</option>
                    </select>       
                 </div>
                <div class="pull-right head">FILTER BY</div>
              
                <div class="clearfix"></div>
            </div>
          
                <div class="heading hidden-xs hidden-sm">
                    <div class="col-md-2">FROM</div>
                    <div class="col-md-2">SENT TO</div>
                    <div class="col-md-2">MESSAGE</div>
                    <div class="col-md-2">SITE</div>
                    <div class="col-md-2">WHEN</div>
                    <div class="col-md-1">STATS</div>
                    <div class="col-md-1">RE-USE</div>
                    <div class="clearfix"></div>
                </div>
                <div class="text-center hidden-sm" ng-if="vm.count == 0">No Messages to show</div>
                <div class="details hidden-xs hidden-sm" ng-repeat="message in vm.messages | filter: { Details : search}">
                    <div class="col-md-2 truncate dept center-align no-padding-right" open-message-builder review-mode="true" message-id="{{message.Id}}">
                        <img class="border-color-{{message.LabelColor}}" ng-src="{{message.ProfileImage}}" alt="{{message.Department.Name}}">
                        <span class="label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                    </div>
                    <div class="col-md-2 truncate center-align" open-message-builder review-mode="true" message-id="{{::message.Id}}">
                        <span class="text-style">{{message.To}}</span>
                    </div>
                    <div class="col-md-2 truncate center-align" open-message-builder review-mode="true" message-id="{{::message.Id}}">
                        <span class="text-style">{{message.Title || (message.Details | htmlToPlaintext)}}</span>

                    </div>
                    <div class="col-md-2 truncate center-align" open-message-builder review-mode="true" message-id="{{::message.Id}}">
                        <i>{{message.Site}}</i>
                    </div>
                    <div class="col-md-2 center-align" open-message-builder review-mode="true" message-id="{{::message.Id}}">
                        <i class="text-muted">{{message.When }}</i>
                    </div>

                    <div class="col-md-1 center-align clickable" ng-click="vm.loadStatsForMessage(message)">
                        <i class="fa fa-dpt-finance"></i>
                    </div>
                    <div class="col-md-1 center-align reuse" ng-click="vm.loadsendMessage(message)">
                        <i class="fa fa-re-use"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
              
            </div>
        
        </div>
 
        <div class="row mobile-view hidden-md hidden-lg">
            <div class="mob-tite-header hidden-sm">
                <div class="col-xs-8 col-sm-8 sent-message-title">
                    Sent Messages
                </div>
                <div class="col-xs-4 col-sm-4">
                    <i class="fa fa-filter2 pull-right filter-icon" data-ng-click="vm.toggleFilter()"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="filter-row padding-top-10 padding-bottom-10" ng-if="vm.showFilter">
                <div class="pull-right col-xs-12">
                    <select name="jd-type-select" id="jd-type-select" class="form-control"
                            ng-model="vm.selectedDepartment.DepartmentId"
                            ng-options="dept.DepartmentId*1 as dept.Name for dept in vm.departments"
                            ng-change="vm.getMessagesReset()">
                        <option value="">All Departments</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="text-center" ng-if="vm.count == 0">No Messages to show</div>
                <div class="mob-details" ng-repeat="message in vm.messages | filter: { Details : search}">
                <div class="col-xs-9 col-sm-9" open-message-builder review-mode="true" message-id="{{::message.Id}}">
                        <span class="pull-left dept-label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                        <span class="padding-left-10 pull-left text-muted date-time">{{message.When }}</span>
                        <div class="col-xs-10 padding-top-15 truncate message-to padding-left-0">To: {{message.To}}</div>
                        <div class="col-xs-12 padding-top-5 truncate message-title">{{message.Title || (message.Details | htmlToPlaintext)}}</div>
                        <div class="col-xs-12 padding-top-15 truncate message-site">{{message.Site}}</div>
                    </div>
                    <div class="col-xs-3 col-sm-3 padding-left-0">
                        <div class="col-xs-12 col-sm-12 no-padding">
                            <img class="border-color-{{message.LabelColor}} image-style pull-right" ng-src="{{message.ProfileImage}}" alt="{{message.Department.Name}}">
                        </div>
                    <div class="col-xs-12 col-sm-12 no-padding" ng-click="vm.loadStatsForMessage(message)">
                            <i class="fa fa-dpt-finance pull-right finance-icon-style padding-top-15"></i>
                        </div>
                        <div class="col-xs-12 col-sm-12 no-padding">
                            <i ng-click="vm.loadsendMessage(message)" class="fa fa-re-use pull-right reuse-icon-style padding-top-15"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
           
            </div>
    </div>
</div>