﻿@{
    ViewBag.Title = "Messages Overview";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid message-builder stats" ng-controller="Settings.MessageBuilderStatsCtrl as vm" ng-init="vm.initialize()">
    <page-header title="{{'MSG_OVERVIEW_TITLE'|translate}}"
                 s3-icon-name="messagebuilder.svg">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <open-message-builder class="btn btn-success btn-sm  send-message-btn">
            <i class="fa fa-messaging fa-1"></i><span class="plus-btn hidden-xs hidden-sm">{{'SEND_MESSAGE'|translate}}</span>
        </open-message-builder>
    </page-header>
    <div class="row tab-section">
        <a class="col-md-3 col-xs-6 col-sm-6 section" href="@Url.Action("Index", "MessageBuilder",new { Area="Settings"})">SENT MESSAGES</a>
        <div class="col-md-3 col-xs-6 col-sm-6 section active">MESSAGE STATS</div>
        <div class="clearfix"></div>
    </div>
    <div class="row page-heading">
        <div class="col-md-6 col-sm-8 col-xs-12 padding-left-0 padding-right-0">
            <div class="stats-nav-tabs">
                <div class="tab col-md-4 col-sm-4 col-xs-4 pull-left" ng-class="{'active' : vm.activeTab == 0}" data-ng-click="vm.toggleTabs(0)">
                    <i class="fa-sent icon-align"></i><span class="message-count">{{ vm.sentMessageCount }}</span>
                    <p>MESSAGES SENT</p>
                </div>
                <div class="tab col-md-4 col-sm-4 col-xs-4 pull-left" ng-class="{'active' : vm.activeTab == 1}" data-ng-click="vm.toggleTabs(1)">
                    <i class="fa-profile"></i><span class="message-count">{{ vm.recipientMessageCount }}</span>
                    <p>TOTAL RECIPIENTS</p>
                </div>
                <div class="tab col-md-4 col-sm-4 col-xs-4 pull-left" ng-class="{'active' : vm.activeTab == 2}" data-ng-click="vm.toggleTabs(2)">
                    <i class="fa-messaging icon-align"></i><span class="message-count">{{ vm.openedMessagesCount }}</span>
                    <p>OPENED MESSAGES</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row stats-page-content">
        <div class="single-chart">
            <div data-ng-if="vm.activeTab == 0">
                <p class="single-chart-title">Messages Sent</p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                     ng-if="vm.messageStatsChart.MessagesSent.xAxis.categories.length == 0">
                    - No Data to display -
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12" ng-if="vm.messageStatsChart.MessagesSent.xAxis.categories.length > 0">
                    <sbm-hc-column-chart messages-sent="true"  id="MessageStatsSentMessages" data-ng-model="vm.messageStatsChart.MessagesSent"
                                         data-ng-if="vm.messageStatsChart.MessagesSent.xAxis.categories.length > 0">
                    </sbm-hc-column-chart>
                </div>
                <div class="col-md-3 col-sm-12" ng-if="vm.messageStatsChart.MessagesSent.xAxis.categories.length > 0">
                    <p class="padding-bottom-10 total-messages">Messages Sent From</p>
                    <div id="legendCustomSentMessages"></div>
                </div>
            </div>
            <div data-ng-if="vm.activeTab == 1">
                <p class="single-chart-title">Total Recipients</p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                     data-ng-if="vm.messageStatsChart.TotalRecipients.xAxis.categories.length <= 0">
                    - No Data to display -
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-if="vm.messageStatsChart.TotalRecipients.xAxis.categories.length > 0">
                    <div class="row">
                        <div class="chart-wrap col-lg-8 col-md-7 col-sm-12 col-xs-12">
                            <sbm-hc-column-chart message-charts-total-recipients-legend="true" id="messageChartsTotalRecipients" data-ng-model="vm.messageStatsChart.TotalRecipients"
                                                 data-ng-if="vm.messageStatsChart.TotalRecipients.xAxis.categories.length > 1">
                            </sbm-hc-column-chart>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 total-recipients-legend-align">
                            <p class="total-messages">Top 10 Recipients</p>
                            <div id="messageChartsTotalRecipientsLegendSpot"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-if="vm.activeTab == 2">
                <p class="single-chart-title">Opened Messages</p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                     ng-if="vm.opened.Recipients == 0">
                    - No Data to display -
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="vm.opened.Recipients > 0">
                    <sbm-hc-pie-chart legend-all-opened-messages="true" id="messageStatsAllOpened" minwidth="0" height="300" data-ng-model="vm.messageStatsChart.Opened"></sbm-hc-pie-chart>
                    <p class="recipients">{{ vm.opened.Recipients }} MESSAGES</p>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 data-align" ng-if="vm.opened.Recipients > 0">
                    <div class="col-md-6 col-sm-12 padding-right-0">
                        <p><span class="percentage-value">{{ vm.opened.Percent | number:0 }}%</span><span class="percentage-title">of sent messages were opened</span></p>
                        <hr class="hline single" />
                        <div class="total-messages">
                            <span class="pull-left">
                                Total Messages
                            </span>
                            <span class="col-md-3 col-sm-3 pull-right value">
                                {{ vm.totalMessages }}
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 legend">
                            <div id="legendCustomAllOpenedMessages"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div>
        </div>
        <div class="bottom-charts">
            <div class="col-md-6 col-sm-12 mobile-align">
                <div class="mesage-card">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="vm.mostOpenedDetails.Recipients == 0">
                        <p class="static-title">Most Opened Message</p>
                        <p class="col-md-12 col-sm-12 col-xs-12 text-center text-muted padding-top-10 padding-bottom-10" >No data to display</p>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 padding-right-0" ng-if="vm.mostOpenedDetails.Recipients > 0">
                        <p class="static-title">Most Opened Message</p>
                        <div class="col-md-5 col-sm-5 col-xs-12 hidden-sm hidden-md hidden-lg">
                            <sbm-hc-pie-chart message-stats-legend="true" id="messageStatsMostOpenedMobile" minwidth="0" height="220" data-ng-model="vm.messageStatsChart.MostOpened"></sbm-hc-pie-chart>
                            <p class="recipients">{{ vm.mostOpenedDetails.Recipients }} RECIPIENTS</p>
                        </div>
                        <div class="clearfix"></div>
                        <p class="sent-date">Sent on {{ vm.mostOpenedDetails.SentDate | date:  'MMMM dd, yyyy'}}</p>
                        <p class="dynamic-title">{{ vm.mostOpenedDetails.Title }}</p>
                        <hr class="hline">
                        <p ><span class="percentage-value">{{ vm.mostOpenedDetails.Percent | number:0 }}%</span><span class="percentage-title">of messages were opened</span></p>
                        <div class="col-md-12 legend">
                            <div id="legendSpotCustom"></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 hidden-xs" ng-if="vm.mostOpenedDetails.Recipients > 0">
                        <sbm-hc-pie-chart message-stats-legend="true" id="messageStatsMostOpened" minwidth="0" height="220" data-ng-model="vm.messageStatsChart.MostOpened"></sbm-hc-pie-chart>
                        <p class="recipients">{{ vm.mostOpenedDetails.Recipients }} RECIPIENTS</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 mobile-align page-bottom-padding">
                <div class="mesage-card lower-card-margin">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="vm.leastOpenedDetails.Recipients == 0">
                        <p class="static-title">Least Opened Message</p>
                        <p class="col-md-12 col-sm-12 col-xs-12 text-center text-muted padding-top-10 padding-bottom-10">No data to display</p>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 padding-right-0" ng-if="vm.leastOpenedDetails.Recipients > 0">
                        <p class="static-title">Least Opened Message</p>
                        <div class="col-md-5 col-sm-5 col-xs-12 hidden-sm hidden-md hidden-lg">
                            <sbm-hc-pie-chart legend-least-opened="true" id="messageStatsLeastOpenedMobile" minwidth="0" height="220" data-ng-model="vm.messageStatsChart.LeastOpened"></sbm-hc-pie-chart>
                            <p class="recipients">{{ vm.leastOpenedDetails.Recipients }} RECIPIENTS</p>
                        </div>
                        <div class="clearfix"></div>
                        <p class="sent-date">Sent on {{ vm.leastOpenedDetails.SentDate | date:  'MMMM dd, yyyy'}}</p>
                        <p class="dynamic-title">{{ vm.leastOpenedDetails.Title }}</p>
                        <hr class="hline">
                        <p><span class="percentage-value">{{ vm.leastOpenedDetails.Percent | number:0 }}%</span><span class="percentage-title">of messages were opened</span></p>
                        <div class="col-md-12 legend">
                            <div id="legendSpotCustomLeastOpened"></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 hidden-xs" ng-if="vm.leastOpenedDetails.Recipients > 0">
                        <sbm-hc-pie-chart legend-least-opened="true" id="messageStatsLeastOpened" minwidth="0" height="220" data-ng-model="vm.messageStatsChart.LeastOpened"></sbm-hc-pie-chart>
                        <p class="recipients">{{ vm.leastOpenedDetails.Recipients }} RECIPIENTS</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>