﻿<div class="col-md-12 col-lg-10 col-lg-offset-1 wo-entry wo-entry-wrap">
    <div class="row">
        <div class="field-wrap col-md-12">
            <label for="resolution" translate>Closing Comments</label>
            <textarea class="basic-input" 
                      id="resolution" name="resolution"
                      placeholder="Enter Comments..."
                      data-ng-model="vm.workOrder.Resolution" data-ng-required="false"></textarea>
        </div><!-- Field Wrap -->

        <div class="col-md-6 field-wrap">
            <label for="closeDate" translate>Completion Date</label>
            <sbm-date-picker id="closeDate" name="closeDate"
                             data-ng-model="vm.workOrder.CloseDate"
                             placeholder="Pick a Date"
                             is-required="true"></sbm-date-picker>
        </div><!-- COL6 -->

        <div class="col-md-6 field-wrap">
            <label for="" translate>Resolution Attachment</label>
            <div class="basic-input file-upload" ngf-select ngf-change="vm.fileAdded('ResolveAttachment', $files, $event)">
                <div class="file-upload-name">{{vm.workOrder.ResolveAttachment[0].UniqueId ? vm.workOrder.ResolveAttachment[0].Name : 'Select Attachment' | translate}} </div>

                <div class="attach-btn btn btn-primary btn-lg">
                    <i class="fa-paperclip" data-ng-if="!vm.workOrder.ResolveAttachment[0].UniqueId"></i>                    
                    <i class="fa fa-image" title="Image attached" data-ng-if="vm.workOrder.ResolveAttachment[0].UniqueId && vm.workOrder.ResolveAttachment[0].AttachmentType === 'Image'"></i>
                    <i class="fa fa-file-o" title="File attached" data-ng-if="vm.workOrder.ResolveAttachment[0].UniqueId && vm.workOrder.ResolveAttachment[0].AttachmentType === 'File'"></i>
                </div><!-- label-box -->
                <input type="file" class="file-upload-input">
            </div><!-- file-upload -->
        </div><!-- COL6 -->
        <div class="clearfix"></div>
        <div class="col-md-4 col-md-offset-4 field-wrap">
            <a data-ng-click="vm.cancel($event)"
               class="btn btn-default btn-lg btn-block" translate>Cancel</a>
        </div>
        <div class="col-md-4 field-wrap">
            <button data-ng-click="vm.submitWorkOrder()"
               class="btn btn-primary btn-block btn-lg" 
               data-ng-disabled="!vm.isWorkOrderValid()" translate>Close Work Order</button>
        </div><!-- COL4 -->
    </div><!-- ROW -->
</div><!-- COL12 -->