﻿<div class="col-md-3 wo-details no-padding">
    <h1 translate>Step 3</h1>
    <h3 translate>Scheduler</h3>
</div><!-- COL3 -->

<div class="col-md-9 wo-entry">
    <form name="step3mForm" role="form" novalidate>
        <fieldset>
            <div class="col-md-6 field-wrap">
                <label for="assignedToId"><Span translate>Assigned To </Span><span class="required-sign">*</span></label>
                <select class="form-control" name="assignedToId" data-ng-model="vm.workOrder.AssignedToId" data-ng-required="true"
                        data-ng-options="employee.Key*1 as employee.Value for employee in vm.options.employees">
                    <option value="" translate>- Select One -</option>
                </select>
            </div><!-- col-md-6 -->
            <div class="col-md-6 field-wrap">
                <label for="priorityId"><Span translate>Priority </Span><span class="required-sign">*</span></label>
                <select class="form-control" name="priorityId" data-ng-model="vm.workOrder.PriorityId" data-ng-required="true">
                    <option value="" translate>- Select One -</option>
                    <option value="1" translate>Normal</option>
                    <option value="2" translate>Critical</option>
                </select>
            </div><!-- col-md-6 -->

            <div class="col-md-6 field-wrap">
                <label for="serviceTypeId"><Span translate>Service Type </Span><span class="required-sign">*</span></label>
                <select class="form-control" name="serviceTypeId" data-ng-model="vm.workOrder.ServiceTypeId" data-ng-required="true"
                        data-ng-options="service.Key*1 as service.Value for service in vm.options.serviceTypes">
                    <option value="" translate>- Select One -</option>
                </select>
            </div><!-- col-md-6 -->

            <div class="col-md-6 field-wrap">
                <label for="equipment" translate>Equipment</label>
                <input type="text" class="form-control" name="equipment" data-ng-model="vm.workOrder.Equipment" />
            </div><!-- col-md-6 -->

            <div class="col-lg-12">
                <label translate>Frequency</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="frequency" ng-value="false" data-ng-model="vm.workOrder.IsRecurring" ng-change="vm.onFrequencyChange($event)">
                        <Span translate>One Time</Span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="frequency" ng-value="true" data-ng-model="vm.workOrder.IsRecurring" ng-change="vm.onFrequencyChange($event)">
                        <Span translate>Recurring</Span>
                    </label>
                </div>

                <div class="clearfix"></div>
            </div><!-- col-lg-6 -->

            <div class="col-lg-6 ">
                <div class="field-wrap frequency-one-time freqType" data-ng-show="!vm.workOrder.IsRecurring">
                    <label for="dueDate" translate>Due Date &amp; Time</label>
                    <p class="input-group">
                        <input name="dueDate" type="text" class="form-control"
                               data-ng-model="vm.workOrder.DueDate" uib-datepicker-popup="MM/dd/yyyy"
                               is-open="vm.datepickers.dueDate"
                               datepicker-append-to-body="true"
                               close-text="Close" />                                                                                                                        
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'dueDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div><!-- field-wrap -->
                <div class="field-wrap frequency-recurring freqType" data-ng-show="vm.workOrder.IsRecurring">
                    <label for="startDate" translate>Date Range</label>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="field-wrap col-sm-6 form-group">
                            <p class="input-group">
                                <input name="startDate" type="text" class="form-control"
                                       data-ng-model="vm.workOrder.RecurrenceInfo.StartDate" uib-datepicker-popup="MM/dd/yyyy"
                                       is-open="vm.datepickers.startDate"
                                       datepicker-append-to-body="true"
                                       data-ng-required="vm.workOrder.IsRecurring"
                                       min-date="vm.minDate"
                                       max-date="vm.workOrder.RecurrenceInfo.EndDate"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'startDate')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="field-wrap col-sm-6 form-group">
                            <p class="input-group">
                                <input name="endDate" type="text" class="form-control"
                                       data-ng-model="vm.workOrder.RecurrenceInfo.EndDate" uib-datepicker-popup="MM/dd/yyyy"
                                       is-open="vm.datepickers.endDate"
                                       datepicker-append-to-body="true"
                                       min-date="vm.workOrder.RecurrenceInfo.StartDate"
                                       max-date="vm.maxDate"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'endDate')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div><!-- ROW -->

                    <label for="month" translate>Recurrence Pattern</label>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <select class="form-control" name="recurrenceTypeId" data-ng-model="vm.workOrder.RecurrenceInfo.RecurrenceTypeId"
                                    data-ng-required="vm.workOrder.IsRecurring" data-ng-options="type.Key*1 as type.Value for type in vm.options.recurrenceTypes">
                                <option value="" translate>- Select One -</option>
                            </select>
                        </div>
                    </div><!-- ROW -->

                </div><!-- field-wrap -->
            </div><!-- COL6 -->

            <div class="col-md-6 col-md-offset-6 no-padding wo-navi-btns">
                <div class="field-wrap col-xs-6">
                    <a class="btn btn-default btn-block" ui-sref="form.step2"><i class="fa fa-arrow-left"></i><span translate>Back</span> </a>
                </div><!-- Field Wrap -->
                <div class="field-wrap col-xs-6">
                    <a class="btn btn-primary btn-block" ui-sref="form.step4"><span translate>Next</span> <i class="fa fa-arrow-right"></i></a>
                </div><!-- Field Wrap -->
            </div><!-- COL6 -->

        </fieldset>
    </form>
</div>