﻿<div class="mobile-wo-entry visible-xs">
            <div class="mo-wo-entry-head">
                <div class="step">
                    <p>3</p>
                </div>
                <div class="step-desc">
                    <p class="step-title" translate>Review Work Order Details</p>
                    <p class="step-title-desc" translate>Review and submit a new work order</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
</div>
<div class="col-md-12 col-lg-12wo-entry wo-entry-wrap padding-left-0">
    <div class="row"></div><!-- ROW -->

    <div class="clearfix"></div>

    <div class="row padding-30-0">
        <div class="col-md-6 col-xs-12">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Reported By:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.getNameByLookupId(vm.workOrder.ReportedById, 'customerRepresentatives') }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Phone Number:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.ContactNumber }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Priority:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p class="bold">{{ vm.getNameByLookupId(vm.workOrder.PriorityId, 'priorities') }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Is this a Safety Risk?</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p class="">{{ vm.workOrder.IsProductionAffected ? 'Yes': 'No' }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Building:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.getNameByLookupId(vm.workOrder.BuildingId, 'buildings') }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Location:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.LocationName }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Floor</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.getNameByLookupId(vm.workOrder.FloorId, 'floors') }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Assigned to:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.getNameByLookupId(vm.workOrder.AssignedToId, 'employees') }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">


            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Work Order Number:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p class="">{{ vm.workOrder.WorkOrderNumber }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">
        </div><!-- COL-6 -->

        <div class="col-md-6 col-xs-12">
            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Request Type</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.getNameByLookupId(vm.workOrder.ServiceTypeId, 'serviceTypes') }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div>
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Equipment:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.Equipment }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm">
            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Recurring:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.IsRecurring ? 'Yes': 'No' }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field" ng-if="vm.workOrder.IsRecurring">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Start Date:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.RecurrenceInfo.StartDate | date:'MM/dd/yyyy' }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field" ng-if="!vm.workOrderSeriesId">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Due Date:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.RequestDueDate | date:'MM/dd/yyyy' }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm" ng-if="!vm.workOrderSeriesId">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Scope:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.IsInScope ? 'In Scope' : 'Out Of Scope' }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Allocate Cost:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.IsBillable ? 'Yes': 'No' }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field ">
                <div class="row">
                    <div class="col-xs-6"><p class="label" translate>Cost:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.Cost | currency }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"><p class="label"><span translate>P.O.Number</span>/<br class="hide-desktop"><span translate>Cost Center</span>:</p></div><!-- COL6 -->
                    <div class="col-xs-6"><p>{{ vm.workOrder.PoNumber }}</p></div><!-- COL6 -->
                </div><!-- ROW -->
            </div><!-- Profile -->
            <hr class="line-m visible-xs visible-sm">

            <div class="profile-field">
                <div class="row">
                    <div class="col-xs-6"> <p class="label" translate>Billing Description:</p></div>
                    <div class="col-xs-6"><p>{{ vm.workOrder.BillingDescription }}</p></div>
                </div>
            </div>

        </div><!-- COL-6 -->
    </div><!-- ROW -->

    <div class="clearfix"></div>

    <div class="col-md-4 col-lg-4 col-md-offset-8 padding-top-0 wo-navi-btns">
            <div class="field-wrap col-xs-6 padding-5">
                <a ui-sref="form.step2" class="btn btn-default btn-block btn-lg" translate>Back</a>
            </div><!-- Field Wrap -->
            <div class="field-wrap col-xs-6 padding-5">
                <a data-ng-click="vm.submitWorkOrder($event)" class="btn btn-primary btn-block btn-lg" data-ng-if="vm.currentMode!='Close'" translate>Submit</a>
                <a ui-sref="form.finalize" class="btn btn-primary btn-block btn-lg" data-ng-if="vm.currentMode=='Close'" translate>Finalize</a>
            </div><!-- Field Wrap -->
    </div><!-- COL6 -->

</div><!-- COL9 -->