﻿<div class="hidden-xs hidden-sm">
    <div class="col-md-12 col-lg-12 wo-entry wo-entry-wrap sbm-form padding-b-100">
        <div class="row">
            <div class="col-md-8 padding-left-5">
                <div class="well well-clean">
                    <div class="row">
                        <div class="col-md-6 field-wrap">
                            <label for="serviceTypeId"><span translate>Request Type</span><span class="required-sign">*</span></label>
                            <select class="form-control" name="serviceTypeId" data-ng-model="vm.workOrder.ServiceTypeId" data-ng-required="true"
                                    data-ng-options="service.Key*1 as service.Value for service in vm.options.serviceTypes">
                                <option value="" translate>- Select One -</option>
                            </select>
                            <!--<select name="serviceTypeId" id="serviceTypeId"
                                    class="selectpicker"
                                    selectpicker="vm.options.serviceTypes"
                                    data-ng-model="vm.workOrder.ServiceTypeId"
                                    data-ng-required="true"
                                    data-ng-options="service.Key*1 as service.Value for service in vm.options.serviceTypes">
                            </select>-->
                        </div><!-- FieldWrap -->
                        <div class="col-md-6 field-wrap">
                            <label for="priorityId"><span translate>Priority</span> <span class="required-sign">*</span></label>
                            <select class="form-control" id="priorityId"
                                    name="priorityId"
                                    data-ng-model="vm.workOrder.PriorityId"
                                    data-ng-required="true"
                                    data-ng-options="priority.PriorityId*1 as priority.Name for priority in vm.options.priorities">
                                <option value="" translate>- Select One -</option>
                            </select>

                            <!--<select name="priorityId" id="priorityId"
                            class="selectpicker"
                            selectpicker="vm.options.priorities"
                            data-ng-model="vm.workOrder.PriorityId"
                            data-ng-required="true"
                            data-ng-options="priority.Key*1 as priority.Value for priority in vm.options.priorities"></select>-->
                        </div><!-- col-md-12 -->
                        <div class="field-wrap col-md-6">
                            <label translate>This work order is:</label>
                            <div class="btn-group radio-btns" data-toggle="buttons">

                                <label class="col-xs-6 btn btn-primary"
                                       data-ng-class="{ active: vm.workOrder.IsInScope }"
                                       data-ng-click="vm.onIsInScopeChange($event, true)">
                                    <input type="radio" class="all-costs-sec-btn" name="isInScope"
                                           ng-value="true"
                                           data-ng-model="vm.workOrder.IsInScope" /><span translate>In Scope</span>
                                </label>
                                <label class="col-xs-6 btn btn-primary"
                                       data-ng-class="{ active: !vm.workOrder.IsInScope }"
                                       data-ng-click="vm.onIsInScopeChange($event, false)">
                                    <input type="radio" class="all-costs-sec-btn" name="isInScope"
                                           ng-value="false"
                                           data-ng-model="vm.workOrder.IsInScope" /><span translate>Out Of Scope</span>
                                </label>

                            </div><!-- btn-group -->
                        </div><!-- FIELD -->

                        <div class="field-wrap col-md-6">
                            <label for="" translate>Recurring</label>

                            <div class="btn-group radio-btns" data-toggle="buttons">
                                <label class="col-xs-6 btn btn-primary"
                                       data-ng-class="{ active: !vm.workOrder.IsRecurring }"
                                       data-ng-click="vm.onFrequencyChange($event, false)" ng-disabled="vm.workOrderSeriesId">
                                    <input type="radio" class="freqbtn" name="isRecurring"
                                           ng-value="false" ng-disabled="vm.workOrderSeriesId"
                                           data-ng-model="vm.workOrder.IsRecurring" /><span translate>No</span>
                                </label>
                                <label class="col-xs-6 btn btn-primary"
                                       data-ng-class="{ active: vm.workOrder.IsRecurring }"
                                       data-ng-click="vm.onFrequencyChange($event, true)" ng-disabled="vm.workOrderSeriesId">
                                    <input type="radio" class="freqbtn" name="isRecurring"
                                           ng-value="true" ng-disabled="vm.workOrderSeriesId"
                                           data-ng-model="vm.workOrder.IsRecurring" /><span translate>Yes</span>
                                </label>

                            </div><!-- btn-group -->
                        </div><!-- col-md-6 -->


                    </div>
                </div>


                <!-- out-of-scope-block -->
                <div class="well well-clean col-md-6 pull-left">

                    <div class="clearfix"></div>

                    <div class="all-costs-sec field-wrap col-md-6 no-padding" data-ng-if="!vm.workOrder.IsInScope">
                        <div class="field-wrap">
                            <label translate>Allocate Cost:</label>
                            <div class="btn-group radio-btns" data-toggle="buttons">
                            
                                <label class="col-xs-6 btn btn-primary"
                                       data-ng-class="{ active: vm.workOrder.IsBillable }"
                                       data-ng-click="vm.onIsBillableChange($event, true)">
                                    <input id="allocate-cost-yes" type="radio"
                                           class="costs-toggle"
                                           name="options"
                                           autocomplete="off"
                                           ng-value="true"
                                           data-ng-model="vm.workOrder.IsBillable" /><span translate>Billable</span>
                                </label>
                                <label class="col-xs-6 btn btn-primary"
                                       data-ng-class="{ active: !vm.workOrder.IsBillable }"
                                       data-ng-click="vm.onIsBillableChange($event, false)">
                                    <input id="allocate-cost-no" type="radio"
                                           class="costs-toggle"
                                           name="options"
                                           autocomplete="off"
                                           ng-value="false"
                                           data-ng-model="vm.workOrder.IsBillable" /><span translate>Not Billable</span>
                                </label>

                            </div><!-- btn-group -->

                        </div><!-- FIELD -->
                        <!--<div class="clearfix"></div>-->
                        <div class="costs col-md-12" data-ng-if="vm.workOrder.IsBillable">
                            <div class="field-wrap">
                                <label for="cost" translate>Cost</label>
                                <input type="text" class="basic-input"
                                       placeholder="Enter Amount..."
                                       id="cost" name="cost"
                                       data-ng-model="vm.workOrder.Cost"
                                       data-ng-required="!vm.workOrder.IsInScope" />
                            </div><!-- Field Wrap -->


                            <div class="field-wrap">
                                <label for="poNumber" translate>P.O. Number / Cost Center</label>
                                <input type="text" class="basic-input"
                                       placeholder="Enter P.O. Number..."
                                       id="poNumber" name="poNumber"
                                       data-ng-model="vm.workOrder.PoNumber" />
                            </div><!-- Field Wrap -->

                            <div class="field-wrap">
                                <label for="billingDescription" translate>Billing Description</label>
                                <textarea type="text" class="basic-input"
                                          id="billingDescription"
                                          name="billingDescription"
                                          data-ng-model="vm.workOrder.BillingDescription"
                                          data-ng-required="!vm.workOrder.IsInScope"
                                          placeholder="Enter Description..." style="height: 65px;"></textarea>
                            </div><!-- Field Wrap -->
                        </div><!-- COSTS -->
                    </div><!-- all-costs-sec -->
                    <!-- recurring block -->
                    <div ng-if="!vm.workOrder.WorkOrderId || vm.workOrderSeriesId">
                        <div class="field-wrap frequency-recurring freqType col-md-12" data-ng-show="vm.workOrder.IsRecurring">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 padding-left-0 padding-right-0">
                                    <label for="recurrenceTypeId">{{'Repeat' | translate}}</label>
                                    <div class="field-wrap form-group margin-top-5">
                                        <select class="form-control"
                                                id="recurrenceTypeId"
                                                name="recurrenceTypeId"
                                                data-ng-model="vm.workOrder.RecurrenceInfo.RecurrenceTypeId"
                                                data-ng-required="vm.workOrder.IsRecurring"
                                                data-ng-options="type.Key*1 as type.Value for type in vm.options.recurrenceTypes">
                                            <option value="" translate>- Select One -</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 padding-left-0 padding-right-0">
                                    <label for="startDate" class="col-sm-6">{{'From' | translate}}</label>
                                    <label for="endDate" class="col-sm-6">{{'To' | translate}}</label>
                                    <div class="field-wrap form-group col-sm-6 margin-top-5">
                                        <sbm-date-picker id="startDate"
                                                         data-ng-model="vm.workOrder.RecurrenceInfo.StartDate"
                                                         placeholder="Date"
                                                         min-date="vm.minDate"
                                                         max-date="vm.workOrder.RecurrenceInfo.EndDate"
                                                         is-required="vm.workOrder.IsRecurring"></sbm-date-picker>
                                    </div>

                                
                                    <div class="field-wrap form-group col-sm-6 margin-top-5">
                                        <sbm-date-picker id="endDate"
                                                         data-ng-model="vm.workOrder.RecurrenceInfo.EndDate"
                                                         placeholder="Date"
                                                         min-date="vm.workOrder.RecurrenceInfo.StartDate"
                                                         max-date="vm.maxDate"
                                                         is-required="false"></sbm-date-picker>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 padding-left-0 padding-right-0">
                                    <label for="recurrenceTypeId">{{'DUE_IN' | translate}}</label>
                                    <div class="field-wrap form-group margin-top-5">
                                        <input class="due-in" ng-model="vm.workOrder.RecurrenceInfo.DueIn" type="text"
                                               ng-change="vm.workOrder.RecurrenceInfo.DueIn = vm.checkIfNumber(vm.workOrder.RecurrenceInfo.DueIn)">
                                        <span>{{'DUEIN_TEXT' | translate}}</span>
                                    </div>
                                </div>
                            </div><!-- ROW -->

                            
                        </div><!-- field-wrap -->
                    </div>
                </div>

            </div><!-- COL6 -->

            <div class="col-md-4 side-pan">

                <div class="col-md-12 field-wrap">
                    <label for="assignedToId"><span translate>Assigned to </span><span class="required-sign">*</span></label>
                    <select class="form-control" name="assignedToId" data-ng-model="vm.workOrder.AssignedToId" data-ng-required="true"
                            data-ng-options="employee.Key*1 as employee.Value for employee in vm.options.employees">
                        <option value="" translate>- Select One -</option>
                    </select>
                    <!--<select name="assignedToId" id="assignedToId" class="selectpicker"
                    data-ng-model="vm.workOrder.AssignedToId"
                    data-ng-required="true"
                    selectpicker="vm.options.employees"
                    data-ng-options="employee.Key*1 as employee.Value for employee in vm.options.employees"></select>-->
                </div><!-- field-wra -->
                <div class="col-md-12 field-wrap">
                    <label for="equipment" translate>Equipment Needed </label>
                    <input type="text" class="basic-input"
                           id="equipment"
                           name="equipment"
                           placeholder="Enter Equipment..."
                           data-ng-model="vm.workOrder.Equipment" />
                </div><!--field-wrap -->
                <div class="field-wrap col-md-12">
                    <label for="" translate>Is this a Safety Risk?</label>
                    <div class="btn-group radio-btns" data-toggle="buttons">
                        <label class="col-xs-6 btn btn-primary"
                               data-ng-class="{ active: vm.workOrder.IsProductionAffected }"
                               data-ng-click="vm.workOrder.IsProductionAffected = true">
                            <input name="isProductionAffected" type="radio" class="cus-radio"
                                   ng-value="true"
                                   data-ng-model="vm.workOrder.IsProductionAffected" autocomplete="off"><span translate>Yes</span>
                        </label>
                        <label class="col-xs-6 btn btn-primary"
                               data-ng-class="{ active: !vm.workOrder.IsProductionAffected }"
                               data-ng-click="vm.workOrder.IsProductionAffected = false">
                            <input name="isProductionAffected" type="radio" class="cus-radio"
                                   ng-value="false"
                                   data-ng-model="vm.workOrder.IsProductionAffected" autocomplete="off"><span translate>No</span>
                        </label>
                    </div><!-- btn-group -->
                </div><!-- Field -->
                <div class="col-md-12 field-wrap">
                    <label for="workOrderNumber" translate>Work Order Number</label>
                    <input id="workOrderNumber" name="workOrderNumber"
                           type="text" class="basic-input"
                           placeholder="Enter Work Number"
                           data-ng-model="vm.workOrder.WorkOrderNumber" />
                </div><!-- Col-6 -->




            </div><!-- col-md-6 -->



        </div><!-- ROW -->
    </div><!-- Well -->

    <hr class="no-margin" />
    <div class="col-md-4 col-md-offset-8 no-padding wo-navi-btns">
        <div class="field-wrap col-xs-6">
            <a href="javascript:void(0);" class="btn btn-default btn-block btn-lg" data-ng-click="vm.cancel($event)" translate>Cancel</a>
        </div><!-- Field Wrap -->
        <div class="field-wrap col-xs-6">
            <button ui-sref="form.review" class="btn btn-primary btn-block btn-lg" data-ng-disabled="!vm.isWorkOrderValid()" translate>Review</button>
        </div><!-- Field Wrap -->
    </div><!-- COL6 -->
</div>


 <div class="visible-xs visible-sm">

        <div class="mobile-wo-entry">
            <div class="mo-wo-entry-head">
                <div class="step">
                    <p>2</p>
                </div>
                <div class="step-desc">
                    <p class="step-title" translate>Enter Work Oder Details</p>
                    <p class="step-title-desc" translate>Fill out form to continue a new work order</p>
                </div>
            </div>
            <div class="clearfix"></div>

            <hr />
            <div class="wo-entry-form">
                <div class="col-xs-12 field-wrap">
                    <label for="serviceTypeId"><span translate>Request Type</span><span class="required-sign">*</span></label>
                    <select class="form-control" name="serviceTypeId" data-ng-model="vm.workOrder.ServiceTypeId" data-ng-required="true"
                            data-ng-options="service.Key*1 as service.Value for service in vm.options.serviceTypes">
                        <option value="" translate>- Select One -</option>
                    </select>
                </div><!-- FieldWrap -->
                <div class="col-xs-12 field-wrap">
                    <label for="priorityId"><span translate>Priority</span> <span class="required-sign">*</span></label>
                    <select class="form-control" id="priorityId"
                            name="priorityId"
                            data-ng-model="vm.workOrder.PriorityId"
                            data-ng-required="true"
                            data-ng-options="priority.Key*1 as priority.Value for priority in vm.options.priorities">
                        <option value="" translate>- Select One -</option>
                    </select>
                </div>
                <div class="col-xs-12 field-wrap">
                    <label for="assignedToId"><span translate>Assigned to</span> <span class="required-sign">*</span></label>
                    <select class="form-control" name="assignedToId" data-ng-model="vm.workOrder.AssignedToId" data-ng-required="true"
                            data-ng-options="employee.Key*1 as employee.Value for employee in vm.options.employees">
                        <option value="" translate>- Select One -</option>
                    </select>
                </div><!-- field-wra -->
                <div class="col-xs-12 field-wrap">
                    <label for="equipment" translate>Equipment Needed </label>
                    <input type="text" class="basic-input"
                           id="equipment"
                           name="equipment"
                           placeholder="Enter Equipment..."
                           data-ng-model="vm.workOrder.Equipment" />
                </div><!--field-wrap -->
                <div class="col-xs-12 field-wrap">
                    <label for="workOrderNumber" translate>Work Order Number</label>
                    <input id="workOrderNumber" name="workOrderNumber"
                           type="text" class="basic-input"
                           placeholder="Enter Work Number"
                           data-ng-model="vm.workOrder.WorkOrderNumber" />
                </div>
                <div class="field-wrap col-xs-12">
                    <label for="" translate>Is this a Safety Risk?</label>
                    <div class="btn-group radio-btns" data-toggle="buttons">
                        <label class="col-xs-6 btn btn-primary color-aaa"
                               data-ng-class="{ active: vm.workOrder.IsProductionAffected }"
                               data-ng-click="vm.workOrder.IsProductionAffected = true">
                            <input name="isProductionAffected" type="radio" class="cus-radio"
                                   ng-value="true"
                                   data-ng-model="vm.workOrder.IsProductionAffected" autocomplete="off"><span translate>Yes</span>
                        </label>
                        <label class="col-xs-6 btn btn-primary color-aaa"
                               data-ng-class="{ active: !vm.workOrder.IsProductionAffected }"
                               data-ng-click="vm.workOrder.IsProductionAffected = false">
                            <input name="isProductionAffected" type="radio" class="cus-radio"
                                   ng-value="false"
                                   data-ng-model="vm.workOrder.IsProductionAffected" autocomplete="off"><span translate>No</span>
                        </label>
                    </div><!-- btn-group -->
                </div><!-- Field -->
                <div class="field-wrap col-xs-12">
                    <label for="" translate>Recurring</label>

                    <div class="btn-group radio-btns" data-toggle="buttons">
                        <label class="col-xs-6 btn btn-primary color-aaa"
                               data-ng-class="{ active: !vm.workOrder.IsRecurring }"
                               data-ng-click="vm.onFrequencyChange($event, false)" ng-disabled="vm.workOrderSeriesId">
                            <input type="radio" class="freqbtn" name="isRecurring"
                                   ng-value="false" ng-disabled="vm.workOrderSeriesId"
                                   data-ng-model="vm.workOrder.IsRecurring" /><span translate>No</span>
                        </label>
                        <label class="col-xs-6 btn btn-primary color-aaa"
                               data-ng-class="{ active: vm.workOrder.IsRecurring }"
                               data-ng-click="vm.onFrequencyChange($event, true)" ng-disabled="vm.workOrderSeriesId">
                            <input type="radio" class="freqbtn" name="isRecurring"
                                   ng-value="true" ng-disabled="vm.workOrderSeriesId"
                                   data-ng-model="vm.workOrder.IsRecurring" /><span translate>Yes</span>
                        </label>

                    </div><!-- btn-group -->
                </div>
                <div ng-if="!vm.workOrder.WorkOrderId || vm.workOrderSeriesId">
                    <div class="field-wrap frequency-recurring freqType col-xs-12 pull-right" data-ng-show="vm.workOrder.IsRecurring">
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="field-wrap col-xs-12 padding-0-15 form-group">
                                <label>{{'From' | translate}}</label>
                                <sbm-date-picker id="startDate"
                                                 data-ng-model="vm.workOrder.RecurrenceInfo.StartDate"
                                                 placeholder="Date"
                                                 min-date="vm.minDate"
                                                 max-date="vm.workOrder.RecurrenceInfo.EndDate"
                                                 init-date="vm.minDate"
                                                 is-required="vm.workOrder.IsRecurring"></sbm-date-picker>

                            </div>

                            <div class="field-wrap col-xs-12 padding-0-15 form-group">
                                <label>{{'To' | translate}}</label>
                                <sbm-date-picker id="endDate"
                                                 data-ng-model="vm.workOrder.RecurrenceInfo.EndDate"
                                                 placeholder="Date"
                                                 min-date="vm.workOrder.RecurrenceInfo.StartDate"
                                                 max-date="vm.maxDate"
                                                 is-required="false"></sbm-date-picker>
                            </div>
                        </div><!-- ROW -->

                        <label for="recurrenceTypeId">{{'Repeat' | translate}}</label>
                        <div class="clearfix"></div>

                        <div class="field-wrapform-group">
                            <select class="form-control"
                                    id="recurrenceTypeId"
                                    name="recurrenceTypeId"
                                    data-ng-model="vm.workOrder.RecurrenceInfo.RecurrenceTypeId"
                                    data-ng-required="vm.workOrder.IsRecurring"
                                    data-ng-options="type.Key*1 as type.Value for type in vm.options.recurrenceTypes">
                                <option value="" translate>- Select One -</option>
                            </select>
                        </div>
                        <label for="recurrenceTypeId" class="margin-top-25" {{'DUE_IN' | translate}}</label>
                        <div class="field-wrapform-group">
                            <input class="due-in" ng-model="vm.workOrder.RecurrenceInfo.DueIn" type="text"
                                   ng-change="vm.workOrder.RecurrenceInfo.DueIn = vm.checkIfNumber(vm.workOrder.RecurrenceInfo.DueIn)">
                            <span class="text-msg">{{'DUEIN_TEXT' | translate}}</span>
                        </div>
                    </div>
                </div>


                <div class="field-wrap col-xs-12">
                    <label translate>This work order is:</label>
                    <div class="btn-group radio-btns" data-toggle="buttons">

                        <label class="col-xs-6 btn btn-primary color-aaa"
                               data-ng-class="{ active: vm.workOrder.IsInScope }"
                               data-ng-click="vm.onIsInScopeChange($event, true)">
                            <input type="radio" class="all-costs-sec-btn" name="isInScope"
                                   ng-value="true"
                                   data-ng-model="vm.workOrder.IsInScope" /><span translate>In Scope</span>
                        </label>
                        <label class="col-xs-6 btn btn-primary color-aaa"
                               data-ng-class="{ active: !vm.workOrder.IsInScope }"
                               data-ng-click="vm.onIsInScopeChange($event, false)">
                            <input type="radio" class="all-costs-sec-btn" name="isInScope"
                                   ng-value="false"
                                   data-ng-model="vm.workOrder.IsInScope" /><span translate>Out Of Scope</span>
                        </label>

                    </div><!-- btn-group -->
                </div><!-- FIELD -->
                <div class="all-costs-sec field-wrap col-xs-12" data-ng-if="!vm.workOrder.IsInScope">
                    <div class="field-wrap">
                        <label translate>Allocate Cost:</label>
                        <div class="btn-group radio-btns" data-toggle="buttons">

                            <label class="col-xs-6 btn btn-primary"
                                   data-ng-class="{ active: vm.workOrder.IsBillable }"
                                   data-ng-click="vm.onIsBillableChange($event, true)">
                                <input id="allocate-cost-yes" type="radio"
                                       class="costs-toggle"
                                       name="options"
                                       autocomplete="off"
                                       ng-value="true"
                                       data-ng-model="vm.workOrder.IsBillable" /><span translate>Billable</span>
                            </label>
                            <label class="col-xs-6 btn btn-primary"
                                   data-ng-class="{ active: !vm.workOrder.IsBillable }"
                                   data-ng-click="vm.onIsBillableChange($event, false)">
                                <input id="allocate-cost-no" type="radio"
                                       class="costs-toggle"
                                       name="options"
                                       autocomplete="off"
                                       ng-value="false"
                                       data-ng-model="vm.workOrder.IsBillable" /><span translate>Not Billable</span>
                            </label>

                        </div><!-- btn-group -->

                    </div><!-- FIELD -->
                    <!--<div class="clearfix"></div>-->
                    <div class="costs" data-ng-if="vm.workOrder.IsBillable">
                        <div class="field-wrap">
                            <label for="cost" translate>Cost</label>
                            <input type="text" class="basic-input"
                                   placeholder="Enter Amount..."
                                   id="cost" name="cost"
                                   data-ng-model="vm.workOrder.Cost"
                                   data-ng-required="!vm.workOrder.IsInScope" />
                        </div><!-- Field Wrap -->


                        <div class="field-wrap">
                            <label for="poNumber" translate>P.O. Number / Cost Center</label>
                            <input type="text" class="basic-input"
                                   placeholder="Enter P.O. Number..."
                                   id="poNumber" name="poNumber"
                                   data-ng-model="vm.workOrder.PoNumber" />
                        </div><!-- Field Wrap -->

                        <div class="field-wrap">
                            <label for="billingDescription" translate>Billing Description</label>
                            <textarea type="text" class="basic-input"
                                      id="billingDescription"
                                      name="billingDescription"
                                      data-ng-model="vm.workOrder.BillingDescription"
                                      data-ng-required="!vm.workOrder.IsInScope"
                                      placeholder="Enter Description..." style="height: 65px;"></textarea>
                        </div><!-- Field Wrap -->
                    </div><!-- COSTS -->
                </div>
            </div>


            <div class="col-xs-12 wo-navi-btns padding-top-0">
                <div class="field-wrap col-xs-6 padding-5">
                    <a href="javascript:void(0);" class="btn btn-default btn-block btn-lg" data-ng-click="vm.cancel($event)" translate>Cancel</a>
                </div><!-- Field Wrap -->

                <div class="field-wrap col-xs-6 padding-5">
                    <button ui-sref="form.review" class="btn btn-primary btn-block btn-lg" data-ng-disabled="!vm.isWorkOrderValid()" translate>Review</button>
                </div><!-- Field Wrap -->
            </div>
        </div>


    </div>
