﻿<script type="text/ng-template" id="manageCustomerRepresentatives.tmpl.html">
    <div class="btn-group btn-block">
        <button class="col-sm-12 col-md-12 btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width: 100%;">
            <div class="pull-left">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
        </button>
        <a class="closer btn btn-xs btn-default" ng-click="toggleSelect()"><span translate>close</span> <span class="fa fa-close"></span></a>
        <ul class="dropdown-menu col-sm-12 col-md-12" style="width: 100%; max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
            <li style="width: 100%;">
                <input class="form-control" type="text" ng-model="searchText.label" placeholder="Filter" />
            </li>
            <li>
                <a href="javascript:void(0);" data-ng-click="vm.addNewCustomerRepresentative($event)">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span translate>Add New</span>
                </a>
            </li>
            <li ng-repeat="i in items | filter:searchText" style="width: 275px;">
                <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                    <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
                </a>
            </li>

        </ul>
    </div>
</script>
<div class="hidden-xs hidden-sm">
    <div class="col-md-12 col-lg-12 wo-entry wo-entry-wrap">
        <div class="row">
            <div class="col-md-8 col-lg-8 padding-left-5">
                <div class="well well-clean">
                    <div class="row">
                        <div class="col-md-6 field-wrap">
                            <label for="reportedById"><span translate>Reported By</span> <span class="required-sign">*</span></label>

                            <multiselect name="customerRepresentatives[]" class="input-xlarge" multiple="false"
                                         options="rep.CustomerRepresentativeId*1 as rep.Name for rep in vm.options.customerRepresentatives"
                                         template-url="manageCustomerRepresentatives.tmpl.html"
                                         ng-model="vm.workOrder.ReportedById"></multiselect>

                        </div><!-- Col-6 -->
                        <div class="col-md-6 field-wrap">
                            <label for="contactNumber" translate>Phone Number</label>
                            <input id="contactNumber" name="contactNumber" type="text"
                                   class="basic-input"
                                   placeholder="Reported Phone Number..."
                                   data-ng-model="vm.workOrder.ContactNumber" />

                        </div><!-- Col-6 -->
                    </div><!-- ROW -->
                </div>

                <div class="well well-clean">

                    <div class="field-wrap">
                        <label for="summary"><span translate>Description</span> <span class="required-sign">*</span></label>
                        <textarea class="basic-input" id="summary" name="summary"
                                  placeholder="Enter Description"
                                  data-ng-required="true"
                                  data-ng-model="vm.workOrder.Summary"></textarea>
                    </div><!-- COL6 -->


                </div>
                <!--<div class="well well-clean">
            <h3>Priority</h3>

            <div class="field-wrap">
                <label for="requestDueDate">Due Date & Time</label>
                <sbm-date-picker id="requestDueDate"
                                 name="requestDueDate"
                                 data-ng-model="vm.workOrder.RequestDueDate"
                                 placeholder="Date & Time"
                                 is-required="false"></sbm-date-picker>
            </div>
        </div>-->
            </div><!-- COL6 -->
        </div><!-- ROW -->

        <div class="col-md-4 col-lg-4 side-pan">
            <div class="field-wrap col-md-12" ng-if="!vm.workOrderSeriesId">
                <label for="requestDueDate"><span translate>Due Date</span> <span class="required-sign">*</span></label>
                <sbm-date-picker id="requestDueDate"
                                 name="requestDueDate"
                                 min-date="vm.minDate"
                                 data-ng-model="vm.workOrder.RequestDueDate"
                                 placeholder="Date"
                                 is-required="true"></sbm-date-picker>
            </div><!-- Field -->
            <div class="col-md-12 field-wrap">
                <label for="location"><span translate>Building </span><span class="required-sign">*</span></label>
                <select class="form-control" name="buildingId"
                        data-ng-model="vm.workOrder.BuildingId"
                        data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                        data-ng-change="vm.onBuildingChange($event)" data-ng-required="true">
                    <option value="" translate>- Select A Building -</option>
                </select>
            </div><!-- FIELD WRAP -->

            <div class="clearfix hide-desktop"></div>
            <div class="col-sm-12 field-wrap">
                <label for="floorId"><span translate>Floor </span><span class="required-sign">*</span></label>
                <select name="floorId" class="form-control" data-ng-model="vm.workOrder.FloorId"
                        data-ng-options="floor.Key as floor.Value for floor in vm.options.floors" data-ng-required="true" data-ng-disabled="vm.scoreCardId>0 || vm.options.floors >= 0">
                    <option value="" translate>- Select A Floor -</option>
                </select>
            </div><!-- Col-6 -->

            <div class="col-md-12 field-wrap">
                <label for="location" translate>Location</label>
                <input type="text" class="basic-input"
                       id="location"
                       name="location"
                       data-ng-model="vm.workOrder.LocationName"
                       placeholder="Enter Location..." />
            </div><!-- FIELD WRAP -->

        </div><!-- col-md-6 -->
        <!--<div class="col-md-6 col-md-offset-6 wo-navi-btns">-->



    </div><!-- COL12 -->
    <hr class="no-margin" />
    <div class="col-md-4 col-lg-4 col-md-offset-8 wo-navi-btns">
        <div class="field-wrap col-xs-6">
            <a href="javascript:void(0);" class="btn btn-default btn-block btn-lg" data-ng-click="vm.cancel($event)" translate>Cancel</a>
        </div><!-- Field Wrap -->

        <div class="field-wrap col-xs-6">
            <button data-ng-click="vm.submitWorkOrder($event)" class="btn btn-primary btn-block btn-lg" data-ng-if="!vm.isManagerRole" data-ng-disabled="!vm.isWorkOrderValid()" translate>Submit</button>

            <button ui-sref="form.step2" class="btn btn-primary btn-block btn-lg" data-ng-if="vm.isManagerRole" data-ng-disabled="!vm.isWorkOrderValid()" translate>Next</button>
        </div><!-- Field Wrap -->
    </div><!-- COL6 -->
</div>

<div class="clearfix"></div>
<div class="hidden-lg hidden-md">

    <div class="mobile-wo-entry">
        <div class="mo-wo-entry-head">
            <div class="step">
                <p>1</p>
            </div>
            <div class="step-desc">
                <p class="step-title" translate>Enter Work Oder Details</p>
                <p class="step-title-desc" translate>Fill out form to create a new work order</p>
            </div>
        </div>
        <div class="clearfix"></div>

        <hr />
        <div class="wo-entry-form">
            <div class="col-xs-12 field-wrap">
                <label for="reportedById"><span translate>Reported By </span><span class="required-sign">*</span></label>

                <multiselect name="customerRepresentatives[]" class="input-xlarge" multiple="false"
                             options="rep.CustomerRepresentativeId*1 as rep.Name for rep in vm.options.customerRepresentatives"
                             template-url="manageCustomerRepresentatives.tmpl.html"
                             ng-model="vm.workOrder.ReportedById"></multiselect>

            </div>
            <div class="col-xs-12 field-wrap">
                <label for="contactNumber" translate>Phone Number</label>
                <input id="contactNumber" name="contactNumber" type="text"
                       class="basic-input"
                       placeholder="Reported Phone Number..."
                       data-ng-model="vm.workOrder.ContactNumber" />

            </div>
            <div class="clearfix"></div>
            <div class="field-wrap col-md-12">
                <label for="requestDueDate"><span translate>Due Date</span> <span class="required-sign">*</span></label>
                <sbm-date-picker id="requestDueDate"
                                 name="requestDueDate"
                                 min-date="vm.minDate"
                                 data-ng-model="vm.workOrder.RequestDueDate"
                                 placeholder="Date"
                                 is-required="true"></sbm-date-picker>
            </div>
            <div class="col-xs-12 field-wrap">
                <label for="location"><span translate>Building</span> <span class="required-sign">*</span></label>
                <select class="form-control" name="buildingId"
                        data-ng-model="vm.workOrder.BuildingId"
                        data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                        data-ng-change="vm.onBuildingChange($event)" data-ng-required="true">
                    <option value="">- Select A Building -</option>
                </select>
            </div><!-- FIELD WRAP -->

            <div class="col-xs-12 field-wrap">
                <label for="floorId"><span translate>Floor</span> <span class="required-sign">*</span></label>
                <select name="floorId" class="form-control" data-ng-model="vm.workOrder.FloorId"
                        data-ng-options="floor.Key as floor.Value for floor in vm.options.floors" data-ng-required="true" data-ng-disabled="vm.scoreCardId>0 || vm.options.floors >= 0">
                    <option value="">- Select A Floor -</option>
                </select>
            </div><!-- Col-6 -->

            <div class="col-xs-12 field-wrap">
                <label for="location" translate>Location</label>
                <input type="text" class="basic-input"
                       id="location"
                       name="location"
                       data-ng-model="vm.workOrder.LocationName"
                       placeholder="Enter Location..." />
            </div>
            <div class=" col-xs-12 field-wrap">
                <label for="summary"><span translate>Description</span> <span class="required-sign">*</span></label>
                <textarea class="basic-input" id="summary" name="summary"
                          placeholder="Enter Description"
                          data-ng-required="true"
                          data-ng-model="vm.workOrder.Summary"></textarea>
            </div>
        </div>


        <div class="col-xs-12 wo-navi-btns">
            <div class="field-wrap col-xs-6 padding-5">
                <a href="javascript:void(0);" class="btn btn-default btn-block btn-lg" data-ng-click="vm.cancel($event)" translate>Cancel</a>
            </div><!-- Field Wrap -->

            <div class="field-wrap col-xs-6 padding-5">
                <button data-ng-click="vm.submitWorkOrder($event)" class="btn btn-primary btn-block btn-lg" data-ng-if="!vm.isManagerRole" data-ng-disabled="!vm.isWorkOrderValid()" translate>Submit</button>

                <button ui-sref="form.step2" class="btn btn-primary btn-block btn-lg" data-ng-if="vm.isManagerRole" data-ng-disabled="!vm.isWorkOrderValid()" translate>Next</button>
            </div><!-- Field Wrap -->
        </div>
    </div>


</div>