﻿<div class="block-message">
    <h1 class="lg-head">{{ vm.message.header }}</h1>
    <h4>{{ vm.message.text }}</h4>
    <a href="javascript:void(0);" data-ng-click="vm.redirectToDetails()" class="btn btn-lg btn-primary" translate>Exit</a>
</div>