﻿<div class="col-md-3 wo-details no-padding">
    <h1>Step 4</h1>
    <h3>Bill Information</h3>
</div><!-- COL3 -->

<div class="col-md-9 wo-entry">
    <form name="step4Form" role="form" novalidate>
        <fieldset>
            <div class="col-md-12 field-wrap">
                <label for="isInScope">This Work Order Is:</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="isInScope" ng-value="true" data-ng-model="vm.workOrder.IsInScope" data-ng-change="vm.onIsInScopeChange($event)" />
                        In Scope
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isInScope" ng-value="false" data-ng-model="vm.workOrder.IsInScope" data-ng-change="vm.onIsInScopeChange($event)" />
                        Out of Scope
                    </label>
                </div>
            </div><!-- col-md-6 -->

            <div class="clearfix"></div>

            <div data-ng-show="!vm.workOrder.IsInScope">
                <div class="field-wrap col-md-6">
                    <label for="cost">Cost</label>
                    <input type="text" placeholder="Enter Amount..." name="cost" class="form-control" data-ng-model="vm.workOrder.Cost"
                           data-ng-required="!vm.workOrder.IsInScope" />
                </div><!-- Field Wrap -->

                <div class="field-wrap col-md-6">
                    <label for="poNumber">P.O. Number / Cost Center</label>
                    <input type="text" placeholder="Enter P.O. Number..." name="poNumber" class="form-control" data-ng-model="vm.workOrder.PoNumber" />
                </div><!-- Field Wrap -->

                <div class="field-wrap col-md-12">
                    <label for="billingDescription">Billing Description</label>
                    <textarea placeholder="Enter Description..." name="billingDescription" class="form-control" type="text"
                              data-ng-model="vm.workOrder.BillingDescription"
                              data-ng-required="!vm.workOrder.IsInScope"></textarea>
                </div><!-- Field Wrap -->
            </div>


            <div class="col-md-6 col-md-offset-6 no-padding wo-navi-btns">
                <div class="field-wrap col-xs-6">
                    <a class="btn btn-default btn-block" ui-sref="form.step3"><i class="fa fa-arrow-left"></i> Back</a>
                </div><!-- Field Wrap -->
                <div class="field-wrap col-xs-6">
                    <a class="btn btn-primary btn-block" ui-sref="form.step5">Next <i class="fa fa-arrow-right"></i></a>
                </div><!-- Field Wrap -->
            </div><!-- COL6 -->
        </fieldset>
    </form>
</div>