﻿<div class="col-md-3 wo-details no-padding">
    <h1 translate>Step 3</h1>
    <h3 translate>Work Order Summary</h3>
</div><!-- COL3 -->
<div class="col-md-9 wo-entry">
    <form name="step3Form" role="form" novalidate>
        <fieldset>
            <div class="col-sm-12 field-wrap info-block">
                <h4 translate>Brief Description: </h4>
                <p>{{ vm.workOrder.Summary }}</p>

            </div><!-- Col-6 -->
            <div class="col-sm-12  field-wrap info-block">
                <h4 translate>Additional Information:</h4>
                <p>
                    {{ vm.workOrder.Description }}
                </p>
                <a href="javascript:void(0);" data-ng-click="vm.viewPhoto('RequestImageUid', $event)" data-ng-if="vm.workOrder.RequestImageUid">
                    <i class="fa-paperclip"></i> {{ vm.workOrder.RequestImageUid }}.jpg
                </a>
            </div><!-- Col-6 -->

            <div class="clearfix"></div>
            <hr>
            <div class="col-md-6">
                <div class="col-xs-6 no-padding">
                    <h4 class="left-all"><strong translate>Location Info:</strong></h4>
                </div>
                <div class="col-xs-6">
                    <h4>
                        {{ vm.getNameByLookupId(vm.workOrder.BuildingId, 'buildings') }}<br />
                        {{ vm.getNameByLookupId(vm.workOrder.FloorId, 'floors') }}<br />
                        {{ vm.workOrder.RoomNumber }}
                    </h4>
                </div>
            </div><!-- col-md-6 -->

            <div class="col-md-6">
                <div class="col-xs-6 no-padding">
                    <h4 class="left-all"><strong translate>Reported by:</strong></h4>
                </div>
                <div class="col-xs-6">
                    <h4>{{ vm.getNameByLookupId(vm.workOrder.ReportedById, 'customerRepresentatives') }}</h4>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-6 no-padding">
                    <h4 class="left-all"><strong translate>Contact:</strong></h4>
                </div>
                <div class="col-xs-6">
                    <h4>{{ vm.workOrder.ContactNumber }}</h4>
                </div>
            </div><!-- col-md-6 -->

            <div class="clearfix"></div>

            <div class="col-md-6">
               
            </div>
            <div class="col-md-6 no-padding wo-navi-btns">
                <div class="field-wrap col-xs-6">
                    <a class="btn btn-default btn-block" ui-sref="form.step2"><i class="fa fa-arrow-left"></i><span translate>Back</span> </a>
                </div><!-- Field Wrap -->
                <div class="field-wrap col-xs-6">
                    <a class="btn btn-primary btn-block" data-ng-click="vm.submitWorkOrder($event, 0)" data-ng-disabled="!vm.isWorkOrderValid(0)" translate>Submit</a>
                </div><!-- Field Wrap -->
            </div><!-- COL6 -->
        </fieldset>
    </form>
</div>