﻿<div class="col-md-3 wo-details no-padding">
    <h1>Step 6</h1>
    <h3>Resolution</h3>
</div><!-- COL3 -->

<div class="col-md-9 wo-entry">
    <form name="step6Form" role="form" novalidate>
        <fieldset>
            <div class="field-wrap col-md-12">
                <label for="resolution">Closing Comments</label>
                <textarea placeholder="Enter Comments..." name="resolution" class="form-control"
                          data-ng-model="vm.workOrder.Resolution" data-ng-required="true"></textarea>
            </div><!-- Field Wrap -->
            <div class="col-md-6 field-wrap">
                <p class="input-group">
                    <input name="closeDate" type="text" class="form-control"
                           data-ng-model="vm.workOrder.CloseDate" uib-datepicker-popup="MM/dd/yyyy"
                           is-open="vm.datepickers.closeDate"
                           datepicker-append-to-body="true"
                           close-text="Close" data-ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'closeDate')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div><!-- COL6 -->
            <div class="col-md-6 field-wrap">
                <div class="basic-input file-upload" ng-file-select ng-file-change="vm.fileAdded('ResolveImageUid', $files, $event)" accept="image/*">
                    <div class="label-box">
                        <p>Attachment</p>
                    </div><!-- label-box -->

                    <div class="file-upload-name">Select File</div>
                    <div class="attach-btn btn btn-primary btn-lg">
                        <i class="fa-paperclip" data-ng-if="!vm.workOrder.ResolveImageUid"></i>
                        <i class="fa fa-image" data-ng-if="vm.workOrder.ResolveImageUid"></i>
                    </div><!-- label-box -->
                </div><!-- file-upload -->

            </div><!-- COL6 -->
            <div class="clearfix"></div>

            <div class="col-md-3 col-md-offset-9">
                <a class="btn btn-primary btn-block" data-ng-click="vm.submitWorkOrder($event, 2)" data-ng-disabled="!vm.isWorkOrderValid(2)">Submit</a>
            </div><!-- COL4 -->
        </fieldset>
    </form>
</div>