﻿<div class="col-md-3 wo-details no-padding">
    <h1>Step 5</h1>
    <h3>Work Order Summary</h3>
</div><!-- COL3 -->

<div class="col-md-9 wo-entry">
    <div class="col-sm-12 field-wrap info-block">
        <h4>Brief Description: </h4>
        <p>{{ vm.workOrder.Summary }}</p>
    </div><!-- Col-6 -->
    <div class="col-sm-12  field-wrap info-block">
        <h4>Additional Information:</h4>
        <p>
            {{ vm.workOrder.Description }}
        </p>
        <a href="javascript:void(0);" data-ng-click="vm.viewPhoto('RequestImageUid', $event)" data-ng-if="vm.workOrder.RequestImageUid">
            <i class="fa-paperclip"></i> {{ vm.workOrder.RequestImageUid }}.jpg
        </a>
    </div><!-- Col-6 -->

    <div class="clearfix"></div>
    <hr />

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Location Info:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>
                    {{ vm.getNameByLookupId(vm.workOrder.BuildingId, 'buildings') }}<br />
                    {{ vm.getNameByLookupId(vm.workOrder.FloorId, 'floors') }}<br />
                    {{ vm.workOrder.RoomNumber }}
                </h4>
            </div>
        </div>

    </div><!-- col-md-6 -->

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Reported by:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.getNameByLookupId(vm.workOrder.ReportedById, 'customerRepresentatives') }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Contact:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.workOrder.ContactNumber }}</h4>
            </div>
        </div>

    </div><!-- col-md-6 -->

    <div class="clearfix"></div>
    <hr />

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Assigned to:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.getNameByLookupId(vm.workOrder.AssignedToId, 'employees') }}</h4>
            </div>
        </div>
    </div><!-- col-md-6 -->

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Reported by:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.getNameByLookupId(vm.workOrder.ReportedById, 'customerRepresentatives') }}</h4>
            </div>
        </div>

    </div><!-- col-md-6 -->

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Type:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.workOrder.IsInScope }}</h4>
            </div>
        </div>

    </div><!-- col-md-6 -->

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Start Date:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.workOrderRecurrence.StartDate | date:'MM/dd/yyyy' }}</h4>
            </div>
        </div>
    </div><!-- col-md-6 -->

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Equipment:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.workOrder.Equipment }}</h4>
            </div>
        </div>
    </div><!-- col-md-6 -->

    <div class="col-md-6" ng-if="!vm.workOrderSeriesId">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>Due Date:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.workOrder.DueDate | date:'MM/dd/yyyy' }}</h4>
            </div>
        </div>  
    </div><!-- col-md-6 -->

    <div class="clearfix"></div>
    <hr />


    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="left-all"><strong>P.O. Number/Cost Center:</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4>{{ vm.workOrder.PoNumber }}</h4>
            </div>
        </div>     
    </div><!-- col-md-6 -->

    <div class="col-md-12">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-6 no-padding">
                    <h4 class="left-all"><strong>Cost:</strong></h4>
                </div>
                <div class="col-xs-6">
                    <h4>{{ vm.workOrder.Cost }}</h4>
                </div>
            </div>        
        </div><!-- col-md-6 -->
    </div><!-- col-md-12 -->

    <div class="clearfix"></div>
    <hr />

    <div class="col-sm-12  field-wrap info-block">
        <h4><strong>Billing Description:</strong></h4>
        <p>
            {{ vm.workOrder.BillingDescription }}
        </p>
    </div><!-- Col-6 -->

    <div class="clearfix"></div>

    <div class="col-md-8 col-md-offset-4 no-padding wo-navi-btns">
        <div class="field-wrap col-xs-4">
            <a class="btn btn-default btn-block" ui-sref="form.step4"><i class="fa fa-arrow-left"></i> Back</a>
        </div><!-- Field Wrap -->
        <div class="field-wrap col-xs-4">
            <a class="btn btn-primary btn-block" ui-sref="form.step6">Next <i class="fa fa-arrow-right"></i></a>
        </div><!-- Field Wrap -->
        <div class="field-wrap col-xs-4">
            <a class="btn btn-primary btn-block" data-ng-click="vm.submitWorkOrder($event, 1)" data-ng-disabled="!vm.isWorkOrderValid(1)">Submit</a>
        </div><!-- Field Wrap -->
    </div><!-- COL6 -->

</div>