﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.billing {

    .actions{
        background: $default;
        margin: 0 -15px;
        .tabs{
            .nav{
                padding: 0 15px;
                li{
                    color: $muted;
                    a{
                        color: $muted;
                        background: $default;
                        border-radius: 0;
                        padding: 10px 5px;
                        margin: 0 10px;
                        font-weight: 600;
                        &.active{
                            background: $default;
                            color: $primary;
                            border-bottom: 2px solid $primary;
                        }
                    }
                    
                }
                
            }
        }
        .action{
            padding: 7px 15px 10px;
            border-left: 1px solid $border;
            color: $muted;
            font-size: 12px;
            font-weight: 600;
            i{
                padding: 0 5px;
                font-size: 20px;
                position: relative;
                top: 5px;
            }
            &.input-group{
                padding: 0 15px;
                input{
                    border: none;
                    padding: 0 0 0 30px;
                    box-shadow: none;
                    height: 40px;
                }
                .fa-search2{
                    position: relative;
                    z-index: 2;
                    float: left;
                    margin-right: 6px;
                    margin-top: -35px;
                    font-size: 20px;
                }
            }
        }
    }

    .pointer{
        cursor: pointer;
    }
    &.index {
        background: $default;        
        overflow: hidden;
        padding-bottom: 50px;
        
        .page-content{
            hr{
                margin: 0 0 20px !important;
                 @include breakpoint(tablet){
                    margin: 20px 0 0 !important;
                }
            }
        }
        .charts-style-align{
            @include breakpoint(mobilephone){
                margin-left: 0;
            }
        }
        .monthly-trend-char-align {
            margin-left: 0;
            .billable-legend{
                .legend-val{
                    width: auto;
                    @include breakpoint(tablet){
                        float: left;
                    }
                }
                .legend-txt{
                    width: 60%;
                    @include breakpoint(mobileonly){
                        width: 50%;
                    }
                }
            }
            .large-screen-margin-30{
                margin-left : 0;
                @include breakpoint(tablet){
                    margin-left: -30px;
                }
            }
            .mobile-padding-15{
                @include breakpoint(tabletonly){
                    padding: 0 0 0 15px;
                }
            }
        }

        .billing-by-site-chart-wrap{
            padding: 0 20px;
        }

        .set-background-color{
            background-color: white;
        }

        .legend-txt-custom {
            font-weight: 600;
        }

        .bill-table {
            padding: 0 15px;

            @include breakpoint(tablet) {
                padding: 0 15px;
            }
        }

        .table-responsive {
            border: none;
            margin: 10px 0;
            @include breakpoint(tablet){
                margin: 20px;
            }
            .table {
                thead{
                    background: $base-dark;
                }
                th {
                    border-bottom: none;

                }
            }
        }

        .table-head-main {
            padding-left: 28px;
        }

        .td-main {
            padding-left: 28px;
        }

        .td-billing-amount-head {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .panel-header-txt{
            padding-left: 0;
            margin-right: 15px;
            font-size: 22px;
            font-weight: 300;
            padding-right: 0;
            color: $dark-dark;
            margin-left: 0;
            border-bottom: none;
            @include breakpoint(tablet){
                margin-left: 20px;
                height: 80px;
            }
            hr{
                margin: 10px 0 !important;
                @include breakpoint(tablet){
                    margin: 10px 0 !important;
                }
            }
        }
        .last-updated-date{
            font-size: 13px;
            font-style: italic;
            color: $muted-dark;
            padding-left: 0;
            line-height: 1.57rem;
        }

        .site-program{
            font-size: 13px;
            color: $muted;
            border: 1px solid $muted;
            border-radius: 4px;
            padding: 3px 15px;
            float: right;
        }
        .billingMonthlyLegendSpot{
            @include breakpoint(tablet){
                margin-left: 30px;
                padding-left: 10px;
            }
            .billing-monthly-trend-legend{
                float: left;
                padding-right: 15px;
                 @include breakpoint(tablet){
                    float: right;
                }
                .legend-txt {
                    line-height: 22px;
                    float: left;
                    font-weight: 600;
                    font-size: 13px;
                    width: 100px;
                }
                .legend-val {
                    line-height: 22px;
                    text-align: right;
                    font-weight: normal;
                    font-size: 13px;
                    width:130px;
                }
            }
        }
        .billing-byprogram-monthly-trend-legend{
            @include breakpoint(tablet){
                padding-left: 40px;
            }
            
            .legend-val {
                width:unset;
            }
            .legend-txt{
                width: 50%;

            }
            .ghost-text{
                font-size: .929rem;
                color: $base-dark;
                font-weight: 400;
                font-style: italic;
                text-align: center;
            }
        }
        .billable-paidVsUnpaid-legend{
            .legend-val {
                width:unset;
            }
        }
        .billing-paid-Unpaid-trend-legend{
            .legend-val {
                width:unset;
            }
            .legend-txt{
                width: 150px;
            }
            .ghost-text{
                font-size: .929rem;
                color: $base-dark;
                font-weight: 400;
                font-style: italic;
                text-align: center;
            }
        }
    }

    &.details{
        padding: 0 15px;
        background: $gray-dark;
        
        .table-title{
            padding: 5px;
            font-size: 16px;
            font-weight: 400;
            color: $dark;
            @include breakpoint(tablet){
                padding: 15px;
            }
        }
        .table-header{
            background-color: $base-dark;
            color: $default;
            font-size: 12px!important;
            padding: 10px;
            font-weight: 600;
            text-transform: uppercase;
            @include breakpoint(tablet){
                padding: 15px;
            }
        }

        .invoice-list{
            padding: 20px 10px;
            font-size: 14px;
            color: $dark;
            font-weight: 400;
            @include breakpoint(tablet){
                padding: 30px 15px;
            }
            .bold{
                font-weight: 600;
            }
            .date{
                font-style: italic;
                color: $muted;
                font-weight: 600;
            }
            .danger{
                color: $danger;
            }
            .success{
                color: $success;
            }
            

        }

        .word-align{
            word-break: break-word;
        }
    }

    &.details-modal{
        .itemrow{
            padding: 15px;
            @include breakpoint(tablet){
                padding: 30px !important;
            }
        }
        .table-head{
            @include breakpoint(tablet){
                padding-left: 30px !important;
                padding-right: 30px !important;
            }
        }
        .row-details{
            margin-left : 0;
        }
        .fa-close{
            color: $muted;
            padding: 10px 15px;
            cursor: pointer;
            @include breakpoint(tablet){
                padding: 5px 30px;
            }
        }
    }
}
