﻿@import "../Common/colors";

.financial-dashboard{
    background: unset;
    .dashboard-cards{
        .card{
            padding: 15px 20px;
            .title{
                font-size: 1rem;
                color: $dark;
            }
            .sub-title{
                font-size: 0.857rem;
            }
        }
    }
    
}