﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";



.financials {
    &.account-receivable-aging {
        background: $default;
        overflow: hidden;

        .panel {
            border: none;
        }
        .panel-header-txt{
            padding-left: 0;
            margin-right: 15px;
            font-size: 22px;
            font-weight: 300;
            padding-right: 0;
            color: $dark-dark;
            margin-left: 15px;
           @include breakpoint(tablet){
               margin-left: 20px;
           }
        }
        .last-updated-date{
        font-size: 13px;
        font-style: italic;
        color: $muted-dark;
        padding-left: 0;
        @include breakpoint(tablet){
            padding-left: 30px;
        }
    }

    .site-program{
        font-size: 13px;
        color: #6E6E6E;
        border: 1px solid $base-dark;
        border-radius: 4px;
        padding: 3px 15px;
        float: right;
    }
    }

    .align-due-date-title {
        padding-right: 23px;
    }


    .table-with-legends {
        tr {
            td {
                position: relative;
                font-size: 18px;
                height: 50px;
                line-height: 50px;
                padding-top: 12px !important;

                &:first-child {
                    padding-left: 15px !important;
                }
            }

            &:first-child {
                td {
                    border-color: transparent;
                }
            }
        }
    }

    .table-legend {
        width: 4px;
        height: 40px;
        background: #ccc;
        display: block;
        position: absolute;
        top: 5px;
        left: 0;

        &.red {
            background: #f36d54;
        }

        &.pink {
            background: #d76ea7;
        }

        &.blue {
            background: #4c82c8;
        }

        &.to {
            background: #54c1a1;
        }

        &.green {
            background: #80ac3b;
        }
    }

    &.invoice-index {
        background: $default;
        overflow: hidden;
    }

    &.invoice-details {
        background: $default;
        overflow: hidden;

        .back-to-list-btn {
            color: $muted;
            padding-left: 15px;
            margin-top: -20px;
            font-size: 12px;
        }

        .well {
            border: none;
            box-shadow: none;
        }

        .wt-details {
            h2 {
                @include breakpoint(laptop) {
                    padding: 10px 5px 10px;
                    font-size: 20px;
                }

                padding: 10px 15px 10px;
                margin-top: 0;
                font-size: 16px;
                font-weight: 600;
            }
        }

        .content {
           

            .Inv-row {
                padding-top: 15px !important;
                padding-bottom: 15px !important;
            }
        }

        .billing-sum {
            background: $gray;
            padding-top: 20px;
        }
    }

    .invoice-block {
        background: #f5f5f5;
        padding: 20px 0 !important;
        margin-bottom: 30px;

        @include breakpoint(mobilephone) {
            padding: 20px;
            margin-bottom: 20px;
        }

        p {
            line-height: 1.2;
            /*padding: 0 !important;*/
        }

        .invoice-details {
            display: block;

            @include breakpoint(tablet) {
                padding-right: 10px;
            }
            p {
                @include breakpoint(tablet) {
                    width: 260px;
                }
            }
        }
    }

    .invoice-break-down {
        margin: 30px 0;
        margin-top: 50px;
        text-align: center;

        p {
            padding: 0;
            text-transform: uppercase;
            padding-left: 0 !important;
        }

        hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        div {
            margin-bottom: 20px;
        }
    }

    .primary-color {
        color: $primary;
    }

    .primary-head {
        border-color: transparent !important;

        td {
            background: $primary;
            border-color: transparent !important;
            color: $default;
        }
    }

    .wo-details-well {
        overflow: visible;
        margin-bottom: 100px;
    }

    .wt-details {
        h2 {
            font-size: 20px;
            padding: 10px 30px 10px;
            font-weight: 600;

            @include breakpoint(mobilephone) {
                padding: 10px 20px 10px;
            }
        }

        thead {
        }
    }

    .table-title h2 {
        padding: 20px 30px;
        padding-bottom: 10px;
    }

    .table-titles p {
        padding-left: 30px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-left: 30px;
        padding: 0;
    }

    .table-titles h2 {
        color: #4699c9;
        padding: 20px 30px 10px 10px;

        @include breakpoint (mobilephone) {
            padding-left: 30px;
        }

        @include breakpoint (tablet) {
            padding-left: 30px;
        }
    }

    .h1.light, h2.light {
        font-weight: 400;
    }

    .primary-text, label, .label {
        color: $primary;
        font-weight: 300;
    }

    .hide-phone, .hide-e-phone {
        @include breakpoint (mobilephone) {
            display: none;
        }
    }


    .hide-desktop {
        @include breakpoint (desktop) {
            display: none;
        }
    }

    .table-title p {
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    .primary, .event:after, .default-btn:hover, .primary-hover:hover {
        background: $primary;
    }

    .th-style {
        text-transform: none !important;
        font-weight: normal !important;

        @include breakpoint(mobilephone) {
            font-size: 12px;
        }
    }

    .nav-tabs-style {
        margin-right: 10px;
    }

    .download-btn-style {
        margin-right: 20px;

        @include breakpoint (desktop) {
            margin-right: 10px;
        }
    }

    .nav-tabs-style-mob {
        @include breakpoint (mobilephone) {
            margin-right: 20px;
        }

        @include breakpoint (tablet) {
            margin-right: 20px;
        }
    }

    .failure-color {
        color: $danger;
    }

    .nav-tabs-wrap {
        padding: 15px 0 0 0;
    }

    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-tabs li a:hover {
        background: #f9fafb;
        border-radius: 4px 4px 0 0;
    }

    .navbar-tabs li.active a {
        border-bottom: 2px solid #4699c9;
    }

    .navbar-tabs li a {
        padding: 6px 15px;
        display: block;
        border-bottom: 2px solid #aaaaaa;
        background-color: transparent;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        color: #337ab7;
        text-decoration: none;
    }

    .navbar-tabs li {
        float: left;
        padding: 0 1px;
    }

    .nav-tabs-wrap .col-md-6 {
        padding: 0;
    }

    .ol, ul {
        margin-top: 0;
        margin-bottom: 10px;
        list-style: none;
    }

    .li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .active {
        border-bottom: 1px #218ffc;
    }

    .bootstrap-select.btn-group .btn .caret {
        width: 42px;
        height: 100%;
        border-radius: 0 4px 4px 0;
        top: 2px;
        right: 0;
        background: #f9fafb;
        border: none;
        border-left: 1px solid #e4e4e4;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .selectpicker {
        max-height: 300px !important;
    }

    .bootstrap-select.btn-group .dropdown-menu li a {
        outline: none;
        border: none;
    }

    .bootstrap-select.btn-group .btn:hover .caret {
        background: #4699c9;
        border-color: #4699c9;
    }

    .bootstrap-select.btn-group .btn .filter-option {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        text-align: left;
    }

    .bootstrap-select.btn-group .btn-default {
        background: #ffffff;
        border: 1px solid #e4e4e4;
    }

    .btn-group.open .dropdown-toggle, .btn-group > .btn:first-child {
        box-shadow: none;
        outline: none !important;
        margin-left: 0;
        display: block;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }

    .td {
        border-left: none !important;

        @include breakpoint(mobilephone) {
            font-size: 11px;
            padding-left: 0;
        }
    }

    .td-height {
        height: 50px;
    }

    .td-amount {
        text-align: right;
        padding-right: 0 !important;
    }

    .td-date {
        text-align: center;
    }

    .table-row-cursor {
        cursor: pointer;
    }

    .legend-val-percent {
        line-height: 22px;
        font-size: 15px;
        font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;

        @include breakpoint(mobilephone) {
            font-size: 12px;
            margin-right: 20px;
        }
    }

    .legend-val-y {
        text-align: right;
    }

    .legend-wrap {
        border-top: none !important;
        padding: 0 0 20px 0;

        @include breakpoint(tablet) {
            margin-left: 25px;
            margin-right: 60px;
        }

        @include breakpoint(mobilephone) {
            margin-left: 20px;
            margin-right: 20px;
        }

        @include breakpoint(mobileonly) {
            margin-top: -30px;
        }
    }

    .legend-txt-custom {
        padding-left: 10px;
    }

    .margin-top-chart {
        margin-top: 20px;
    }

    .margin-left-chart {
        margin-left: 20px;

        @include breakpoint(mobilephone) {
            margin-left: 5px;
        }

        @include breakpoint(tablet) {
            margin-left: 5px;
        }
    }


    .chart-title {
        padding: 5px 0 0 5px;

        @include breakpoint(mobilephone) {
            padding-left: 10px;
        }

        @include breakpoint(tablet) {
            padding-left: 10px;
        }
    }

    .td-billing-amount {
        text-align: right;
        padding-right: 15px !important;
    }

    .legend-items {
        position: relative;
        font-size: 15px;
        height: 50px;
        line-height: 50px;
        margin-left: 25px;
        top: 5px;

        @include breakpoint(mobilephone) {
            font-size: 12px;
            margin-left: 0 !important;
        }

        @include breakpoint(tablet) {
            margin-left: 0 !important;
            padding-right: 20px;
        }
        /*border-bottom: 1px solid #eee;*/
    }

    .charts_style {
        @include breakpoint(mobilephone) {
            margin-left: 20px;
            margin-right: 20px;
        }

        @include breakpoint(tablet) {
            margin-left: 20px;
            margin-right: 20px;
        }

        @include breakpoint(phablet) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .charts-style-align {
        margin-left: 11px;
    }

    .data-point {
        @include breakpoint(mobileonly) {
            margin-top: -60px;
        }

        font-weight: 600;
        margin-top: -40px;
        padding: 0 10px;
        margin: 10px,20px,5px,20px;
        overflow: hidden;
        border-bottom: none !important;
    }

    .table-head {
        background: $base-dark;
        color: $default;
        margin: 0 -15px;
        padding: 10px 15px !important;

        p {
            font-size: 14px !important;
            font-weight: normal !important;
        }
    }

    p.primary {
        color: #f38b11;
        font-size: 32px;
        margin-right: 10px;
        line-height: 1;
        min-height: 40px;
    }

    .panel-body {
        padding: 0 0 20px 0;
    }

    .Inv-row {
        font-size: 14px;
        font-weight: 600;
        position: relative;
        margin: 0 -15px;
        padding: 0 15px !important;
        display: block;
        /*@include screen('tablet') {
				padding: 15px;
			}*/
        /*@include breakpoint(mobilephone){
        font-size: 12px;
    }*/
    }

    .row-details {
        /*margin-left: 10px;
        padding-left:10px;*/
        @include breakpoint('tablet') {
            margin-left: 20px;
        }

        @include breakpoint(desktop) {
            margin-left: 30px;
        }

        @include breakpoint (mobilephone) {
            margin-left: 20px;
        }

        .inv-desc {
            color: $primary;
            font-size: 14px;
            line-height: 1;
            margin-bottom: 3px;
            padding-top: 10px;
            font-weight: 600;
            /*@include breakpoint('tablet') {
				font-size: 16px;
			}*/
        }

        .inv-prog, .sm {
            font-size: 14px;
            font-style: italic;
            color: $base-dark;
        }

        .inv-program {
            color: $base-dark;
            font-style: normal;
            display: inline-block;
            border: 1px solid $base-dark;
            padding: 0 5px;
            border-radius: 3px;
            margin-left: 0;
            margin-right: 5px;
            margin-bottom: 4px;
            font-size: 12px;
        }

        label.update-date {
            padding-top: 10px;
        }

        .hire-date {
            color: $base;
        }

        .sm, .hire-date {
            font-size: 12px;
        }
    }

    .inv-amt-paid {
        position: relative;
        color: $warning;
        padding-top: 10px;
        /*@include screen('tablet') {
			padding-right: 20px;
		}*/
        i {
            font-size: 18px;
            color: $base-dark;
        }

        i[class^='fa-check'] {
            color: $success;
            font-size: 26px;
            display: block;
            padding-top: 20px;
            padding-right: 10px;
        }
    }

    .inv-paid {
        padding-top: 10px;
    }

    .inv-customer {
        color: $primary;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 3px;
        padding-top: 10px;
        font-weight: 600;

        @include breakpoint('tablet') {
            font-size: 16px;
        }
    }

    .padding-title {
        padding-left: 30px;
    }


    .title-line {
        line-height: 1;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .line-total {
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    .invoice-total-style {
        padding-left: 20px;

        @include breakpoint(tablet) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .billing-style {
        padding-bottom: 15px;
    }

    .table-head-color {
        color: $default;
    }

    .chart-margins {
        margin-left: 15px;
        margin-right: 15px;
        @include breakpoint (tablet) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .inv-row-font {
        @include breakpoint(mobilephone) {
            font-size: 12px;
        }
    }

    .alternate-color {
        background-color: #f9f9f9;
    }

    .angle-right {
        margin-right: 40px;
        margin-top: 30px;
        color: $muted;
    }

    .invoice-date {
        font-size: 14px;

        @include breakpoint(mobilephone) {
            font-size: 12px;
        }

        font-style: italic;
        color: $base-dark;
    }

    .invoice-sub-details {
        color: black;
        font-weight: normal;
        font-size: 14px;

        @include breakpoint(mobilephone) {
            font-size: 12px;
        }

        padding-bottom: 5px;
    }

    .invoice-duedate {
        padding-top: 10px;
        font-size: 14px;
        font-weight: 600;
        color: $warning;

        @include breakpoint(mobilephone) {
            font-size: 12px;
            padding-right: 5px;
        }
    }

    .inv-details-head {
        padding-left: 5px;
    }

    .inv-details-content {
        padding-left: 5px;
    }

    .invoice-details-border {
        padding: 10px 0 25px 0;
        border-bottom: 1px solid #eee;
    }

    .invoice-total {
        padding: 10px 0 10px 0 !important;
        background-color: $border;
        font-weight: bold;
    }

    .invoice-total-text {
        padding-left: 20px;

        @include breakpoint(desktop) {
            padding-left: 30px;
        }
    }

    .invoice-padding {
        @include breakpoint(mobilephone) {
            margin-left: 10px;
            margin-right: 2px;
        }

        @include breakpoint(tablet) {
            margin-left: 10px;
        }

        @include breakpoint(desktop) {
            margin-left: 0 !important;
        }
    }

    .invoices-table-head {
        font-weight: 600;
        text-transform: uppercase;
        color: $default;
        font-size: 12px;

        p {
            font-weight: 600 !important;
            text-transform: uppercase;
            color: $default;
            font-size: 12px !important;
        }

        @include breakpoint(mobilephone) {
            font-size: 12px;
        }
    }

    .invoice-row {
        @include breakpoint(mobilephone) {
            margin-left: 0 !important;
        }
    }

    .invoice-due-title {
        @include breakpoint(mobilephone) {
            padding-right: 20px;
        }
    }

    .totals-wrap {
        @include breakpoint(tablet) {
            padding-left: 40px;
        }

        @include breakpoint(desktop) {
            padding-left: 60px;
        }
    }

    .invoice-total-amt {

        @include breakpoint(tablet) {
            padding-left: 40px;
        }

        @include breakpoint(desktop) {
            padding-left: 60px;
        }
    }

    .Inv-row:nth-child(even) {
        background-color: #f5f5f6 !important;
    }

    .Inv-row:nth-child(odd) {
        background-color: $default;
    }
}
