﻿@import "../Common/globals";


.shop-btn-style{
    padding: 8px 8px 6px 8px !important;
    .i-shop{
        padding: 5px 2px 0 2px !important;
    }
}

.supplies-common{

    .head-desc{
        padding: 0 18px 0 5px !important;
        @include breakpoint(mobilephone) {
            padding-left: 0;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark-dark;   
            width: 100%;
            padding-bottom: 0;
           
           @include breakpoint(tablet) {
               width: 70%;
               float: left;
               font-size: 16px;
               font-weight: 300;
               line-height: 28px;
               padding-bottom: 30px;
               color: $dark-dark;
            }
        }
        a{
            margin-top : auto;
            font-weight: bold;
            text-transform:capitalize;
        }
        .add-btn{
            padding : 12px 21px;
            background-color : $success;
            border-radius : 4px;
            margin-top: 5px;
            color: $default;
            width:200px;
        }
    }
    .mobile-padding{
        @include breakpoint(mobilephone){
            padding-top: 0 !important;
        }
    }
    .mobile-tabs-wrap{
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        padding:0;
        margin: 0;
        a:focus{
            outline: none;
        }
        @include breakpoint(tablet){
            margin: 20px 0 10px 0;
        }
    }

    .tab{
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0;
        border-right: 1px solid #e4e4e4;
        background-color : $default;
        color: #999c9e;
        text-transform:uppercase;
    }

    .activetab{
        border-bottom : 3px solid $primary;
        color: $primary;
    }

    .tab:last-child{
        border-right : none;
    }

    .tabs-wrap{
        .top-tabs{
            font-weight: bold;
            padding: 5px 0 0 20px !important;
            font-size: 16px;
            font-weight: 600;

            a.highlight {
                border-bottom: 5px solid $primary;
                color : $primary;
            }
            a {
               width : unset;
               margin-right : 0;
               border : none;
               color : #999c9e;
               @include breakpoint(tablet){
                   margin-right : 30px;
               }
            }
        } 
    }

    .hline{
        margin: 0 15px 10px 5px !important;
    }

    .padding-t-10{
        padding-top:10px;
    }

    .itemrow:nth-child(even) {
        background-color: #f5f5f5;
    }

}

.supplies-index{

    .page-content{
        padding : 0;
    }

    .panel{
        border : none;
        border-radius : unset;
        box-shadow: none;
        .panel-header-txt{
            padding-left: 0;
            margin-right: 15px;
            font-size: 22px;
            font-weight: 300;
            padding-right: 0;
            color: $dark-dark;
            @include breakpoint(mobileonly){
                 padding-left: 15px !important;
            }
        }
        .header-txt-monthly{
            padding-left: 15px !important;
            border-bottom: none !important;
            @include breakpoint(mobileonly){
                 padding-left: 30px !important;
            }
        }
    }

    .tabs-internal{
        border-bottom: 1px solid #ccc;

        .top-tabs{
            padding-left: 0 !important;
            .spend-by-category{
                .spend-by-category-chart-wrap{
                    padding: 70px 70px 20px 20px;
                }
                .spend-by-category-legend-wrap{
                     @include breakpoint(mobilephone) {
                        margin-left:100px;
                        margin-right:60px;
                    }
                }
            }
            a:focus{
                outline: none;
            }
        }
    }

    .spend-billable{
        margin-left: 5px;
        .chart-wrap-style{
            .ipad-landscape-wrap{
                 @media only screen 
                        and (min-width : 768px) 
                        and (max-width : 1024px) 
                        and (orientation : landscape) {
                            width: 100%;
                        }
            }
            .commodities{
                margin-top: 30px;

                .title{
                    padding-top: 5px;
                    font-weight: 700;
                    border-bottom: 1px solid #ccc;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-size: 15px;
                    padding-bottom: 5px;
                    @media only screen 
                        and (min-width : 768px) 
                        and (max-width : 1024px) 
                        and (orientation : landscape) {
                            font-size: 13px;
                        }
                }

                .categories{
                    font-style: normal;
                    font-size: 12px;
                    color: #333;
                    text-transform: capitalize;
                    .category{
                        padding-top: 5px;
                        padding-bottom: 5px;

                        .name{
                            width: 70%;
                        }
                        a{
                            color: #333;
                        }
                    }
                }
            }
        }
        .legend-align{
            padding-top: 50px;
        }
        .billable-nonbillable{
            font-weight: 600;
        }
        .billable-green-square{
            color: $teal;
            font-size: 12px;
            padding-right: 5px;
        }

        .not-billable-green-square{
            color: $blue;
            font-size: 12px;
            padding-right: 5px;
        }
    }

    .legend-txt{
        width: 61%;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
         @media only screen 
            and (min-width : 768px) 
            and (max-width : 1024px) 
            and (orientation : landscape) {
                width: 65%;
                word-break: break-all;
                font-size: 13px;
            }
         @include breakpoint(mobilephone){
            width: 60%;
         }
         @include breakpoint(mobileonly){
            width: 55%;
         }
    }

    .legend-txt-program{
        width: 75%;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
    }

    .monthly-product-legend-align{
        margin-top: 4%;
        @include breakpoint(mobileonly){
                padding-left: 35px;
                padding-right: 55px;
            }
        }

    .spend-by-category-legend-align{
        @include breakpoint(mobileonly){
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    
    .supplies-legend{
        width:100%;
        font-size:12px;
        padding:2px 0;
        cursor:pointer;
    }

    .supplies-program-legend{
        .legend-txt{
            text-transform: uppercase;
            line-height: 28px;
            cursor: default;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .supplies-monthly-legend-value-align{
        width: 100px;
    }

    .legend-border{
        margin-top: 15px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
         @include breakpoint(mobilephone){
            padding-left: 15px;
            padding-right: 15px;
        }
        @include breakpoint(mobileonly){
            padding-left: 30px;
            padding-right: 30px;
        }
       
    }

    .table-col-padding{
        padding-left: 15px;
         @include breakpoint(mobileonly){
            padding-left: 30px;
        }

    }

    .total-col{
        @include breakpoint(mobileonly){
            padding-right: 30px !important;
        }
    }

    .last-updated-date{
        font-size: 13px;
        font-style: italic;
        color: $muted-dark;
        padding-left: 0;
        @include breakpoint(tablet){
            padding-left: 30px;
        }
    }

    .site-program{
        font-size: 13px;
        color: #6E6E6E;
        border: 1px solid $base-dark;
        border-radius: 4px;
        padding: 3px 15px;
        float: right;
    }
    .spend-by-program-legend-wrap{
        margin-top: 5%;
    }

}


.supplies-details{

    .panel-header-txt{
        margin-bottom: 0;
        border-bottom: 1px solid #eee;
    }

    .table-header{
        background-color: $primary;
        color: $default;
        font-size: 12px!important;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 5px;
    }

    .purchase-order-list{
        padding: 30px 0 30px 5px;
        font-size: 14px;
        color: $dark;
        font-weight: 600;
    }

    .word-align{
        word-break: break-word;
    }

    .btn-filter-sub{
        border: 1px solid #393f44 !important;
    }

    .add-btn-mobile{
        margin-top: 0 !important;
    }

    .amount-align{
        @include breakpoint(tablet){
            padding-right: 20px;
        }
        @include breakpoint(desktop){
            padding-right: 30px;
        }
    }

    .filter-options-padding{
        padding-top: 15px !important;
        @include breakpoint(tablet){
            padding-top: 0 ;
        }
        @include breakpoint(desktop){
            padding-top: 15px !important;
        }
    }
    .filter-options{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        
        .padding-style-category{
            padding-top: 10px;
            @include breakpoint(tablet){
                padding-top: 10px;
            }
            @include breakpoint(desktop){
                padding-top: 0;
            }
        }

        .padding-style-green{
            padding-top: 10px;
            @include breakpoint(tablet){
                padding-top: 0;
            }
        }
        .btn-supplies-clear{
        background-color: #ffffff !important;
        border: 1px solid black;
        color: #333333 !important;
        font-weight: 700;
        border-radius: 4px;
        border-color: #333333 !important;
        padding: 10px 20px;
        margin: 5px 5px 5px 0;
        @include breakpoint(tablet){
            padding: 10px 33px 10px 33px !important;
        }
         @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
                padding: 10px 23px 10px 23px !important;
        }
     }
    .btn-supplies-filter{
        background-color: #393f44 !important;
        border: 1px solid #393f44;
        color: #ffffff !important;
        font-weight: 700;
        border-radius: 4px;
        padding: 10px 20px;
        margin: 5px 5px 5px 0;
        @include breakpoint(tablet){
            padding: 10px 30px 10px 30px !important;
        }
         @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
                padding: 10px 20px 10px 20px !important;
        }
    }
    }
}