﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.no-gutter{
         @include breakpoint (mobilephone){
            padding: 0;
        }
    }
.page-title{
    
    .add-btn-mobile{
        background-color: $success !important;
        border: none;
        margin-left :5px;
        padding: 8px 12px 6px 12px;
       
    }
}

.timeclock-index{
    .highcharts-container{
        z-index: 1 !important;
    }
    .hours-container{
        z-index: 1 !important;
    }
    .last-update-date{
            color: $muted;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
        }
    .chart-title{
        color: $dark-dark;
        font-size: 22px;
        font-weight: 300;
        padding: 35px 0 20px 15px;
        @include breakpoint(mobilephone){
            font-size: 20px;
            padding-left:0;
        }
        .hrs{
            font-size: 24px;
            color: $success;
             font-weight: 600;
             line-height:1;
             @include breakpoint(laptop){
                font-size: 34px;
        }
        }
        .time{
            font-size: 18px;
            color: $dark-dark;
             font-weight: 600;
             @include breakpoint(laptop){
                font-size: 24px;
        }
        }

    }
    .total-hrs-wrap{
        top: 50%;
        position: absolute;
        right: 0%;
        text-align: center;
        .title{
            font-weight: 600;
            font-size: 18px;
            color: $dark-dark;
        }
        .hrs{
            font-size: 28px;
            color: $success;
        }
    }
    /*.highcharts-markers{
        path{
            background: $default !important;

        }
    }*/
}
.timeclock{
    *:focus{
        outline: none !important;
    }
    .head-desc{
         @include breakpoint(tablet){
            width:80%
        }
         text-align: left;
         width: 100%;
    }
    .padding-left-5{
        padding-left: 5px;
    }
    .no-padding-left{
        padding-left: 0;
    }
    .my-hours-padding-bottom{
        padding-bottom: 50px;
    }
    .padding-bottom-25{
        padding-bottom: 25px;
    }
    .date-buttons-align{
        position: relative;
        top: 47px;
    }
    .remove-padding-right{
        padding-right: 0;
    }
    .desc{
        text-align: left;
        padding-left: 5px;
        @include breakpoint(desktop){
            font-size:16px;
            padding-bottom:30px;
            /*width:75%;*/
         }
         color:#393f44;
         font-size:14px;
         font-weight:300;
         line-height:28px;
         @media only screen 
                    and (min-width : 768px) 
                    and (max-width : 1024px) 
                    and (orientation : landscape) {
                      width: 55%;
                    }
      }
    
    .date-align{
        padding-left: 5px;
        padding-right: 5px;
    }

    .switch-btns{
        .btn{
            border: 1px solid $muted;
            background: $default;
            color: $muted;
        }
        .btn-left{
            border-right:none;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            width: 50%;
        }
        .btn-right{
            margin-left: -4px;
            border-left:none;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            width: 50%;
        }
        .active-btn{
            background: $muted;
            color: $default;
        }
    }
    
    .total-hrs{
            color: $dark;
            font-size: 18px;
            font-weight: bold;
            margin:5px -15px 20px -15px;
            padding:20px;
            text-transform: capitalize;
            text-align: center;            
            background: $gray;
            
            .icon{
                font-size: 48px;
                color: $gray-dark;
            }
            
            .hrs{
                font-size: 20px;
                color:$warning;
                padding-left: 10px;
                p{
                    font-size: 11px;
                    color: $muted;
                }
            }
            @include breakpoint(phablet){
                 /*margin-left:20px;*/
                 font-size: 28px;
                 height: 44px;
                 padding:0 0 5px 0;
                 background: none;
                }

        }
        .btns-wrap{
            width: 395px;
        }
        .add-btn-mobile{
            background: $success !important;
            margin:20px 0;
            padding:10px 0;
            width:140px;
            border-color: $success !important;
            margin-left: 0;
            font-weight: 600;
            @include breakpoint(phablet){
                 width:100%;
                 margin-left: 5px;
            }
             @include breakpoint(desktop){
                width:auto;
                padding:10px 30px;
                margin-top:10px;
                margin-left:10px;
            }
        }
        .tc-btns-wrap{
            margin-left:-20px;
        }
         .show-ste-btn-wrap{
            margin: 10px 0;
        }
         .show-ste-btn-wrap-myhours{
            right: 24px;
            position: relative;
            padding: 0 15px;
            margin-right:-37px;
        }
         .show-ste-btn-myhours{
            padding:10px 0;
             @include breakpoint(desktop){
                padding:10px 120px;
                margin: 10px 20px 0 40px;
                 position: relative;
            }
             @include breakpoint(mobileonly){
                 width:140px;
            }
            color: $default;
            background: $dark;
            margin: 20px 20px 20px 10px;
            border-color: $dark;
            outline: none;
            width:100%;
            @include breakpoint(desktop){
                width:auto;
            }
         }
        .show-ste-btn{
            padding:10px 0;
            font-weight: 600;
             @include breakpoint(desktop){
                padding:10px 30px;
                margin: 10px 20px 0 0;
            }
             @include breakpoint(mobileonly){
                 width:140px;
            }
            color: $default;
            background: $dark;
            margin: 20px 0 20px 0;
            border-color: $dark;
            outline: none;
            width:100%;
            @include breakpoint(desktop){
                width:auto;
            }
        }
        .monthly-picker-div{
           .icon-style{
               color: $muted-dark;
               font-weight: 600;
           }

            background-color: $gray;
            padding: 15px 15px;
            @include breakpoint(desktop){
                 right: 24px;
                 position: relative;
                 margin-top: -97px;
            }
            .custom-monthly-picker{
                border: 1px #ccc;
                border-radius: 4px;
                margin-left: 0;
                padding:10px 10px;
                 @include breakpoint(desktop){
                    margin-left: 40px;
                 }
                .monthly-date-picker{
                    border: 1px solid #ddd;
                    line-height: 45px;
                    height: 47px;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 600;
                    @include breakpoint(desktop){
                        width: 80%;
                        font-size: 14px;
                    }
                     @include breakpoint(desktop){
                        width: 266px;
                        font-size: 14px;
                    }
                    .prev-month{
                        border-bottom: 1px solid #ddd;
                        border-radius: 4px;
                    }

                    .next-month{
                        border-bottom: 1px solid #ddd;
                        border-radius: 4px;
                    }
                }
            }
        
        }

        .custom-monthly-picker{
            @include breakpoint(desktop){
                margin-left: 20px;
            }
                position: relative;
                z-index: 1;
            .monthly-date-picker{
                position:relative;
                float:left;
                width: 100%;
                top: 0;
                /*right: 20px;*/
                height: 36px;
                line-height: 36px;
                background-color: $default;
                color: #00afd1;
                font-weight: bold;
                font-size: 14px;
                @include breakpoint(tablet){
                    font-size: 16px;
                }
                @include breakpoint (desktop){
                    width: 240px;
                }
                a{
                    background-color: $default;
                    color: #00afd1;
                    outline:0;
                }
            }
        }
    .panel{
        border:none;
        box-shadow: none;
        @include breakpoint(mobilephone){
             padding: 0;
        }
    }
   
    .custom-monthly-picker{
        border-top: 1px solid #e4e4e4;
         @include breakpoint(desktop){
             padding: 10px 0;
        }
        .monthly-date-picker{
            margin-left:5px;
            width: 100%;
            position: relative;
            top: 0;
            /*right: 20px;*/
            height: 36px;
            line-height: 36px;
            background-color: $default;
            color: #00afd1;
            font-weight: bold;
            font-size: 14px;
            @include breakpoint(desktop){
                font-size: 16px;
            }
            @include breakpoint (desktop){
                width: 240px;
            }
            a{
                background-color: $default;
                color: #00afd1;
                outline: 0;
            }
        }
    }
    .calender-wrap{
        margin: 25px 0 20px -15px;
         @include breakpoint (mobilephone){
            margin: 30px 5px 20px 5px;
            padding:0;
        }
        font-size :10px;
         @include breakpoint (tablet){
               font-size:11px;
            }
        span{
            font-weight : bold;
        }
        .event-success {
            background-color: $success;
        }

        .events-list {
             position: relative;
             //bottom:35%;
             color : $warning;
             font-weight : 700;
             font-size:10px;
             z-index : 0;
             padding-left : 3px;
             padding-top: 32px;
             text-align:center;
            @include breakpoint (tablet){
               font-weight:600;
               padding-top: 25px;
               font-size: 18px;
            }

        }
        .day-highlight{
            background-color: $border;
            .events-list{
                font-weight: 700; 
                opacity: 1;
            }
        }
        .day-blur{
            .events-list{
                opacity: .3;
            }
        }
        .week-highlight{
            background-color: $gray;
        }
        .cal-row-head [class*="cal-cell"]{
            padding: 15px 0;
        }
        .cal-month-box [class*="cal-cell"] {

            @include breakpoint (laptop)
             {
                 min-height: 100px;
             }
             @include breakpoint (tablet)
             {
                min-height: 80px;
             }
             min-height: 50px; 

           }
        .cal-month-day {
             @include breakpoint (laptop)
             {
                 min-height: 100px;
             }
             @include breakpoint (tablet)
             {
                min-height: 80px;
             }
             height: 50px; 
        }
        .cal-month-box:focus{
            background-color: $gray;
        }
        .cal-month-day:focus{
            background-color: $gray;
        }
        .event {
            width: 10px;
            height: 10px;
        }
        .cal-day-tick{
            display : none;
        }
    }
    .tab{
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        padding: 20px 0;
        border-right: 1px solid $base;
        background-color : $default;
    }
    .last-tab-border{
        border-right : none;
    }
    .activetab{
        border-bottom : 5px solid $primary;
    }
    .month-head{
        padding:15px 10px 0 10px; 
        color:$primary;
        text-align : left;
        font-size : 16px;
        font-weight : bold;
    }
    
    h4 { 
        width:100%; 
        text-align:center; 
        border-bottom: 1px solid $base; 
        line-height:0.1em; 
        margin:40px 0 20px; 
    } 
    h4 span { 
        background:$gray; 
        padding: 5px 15px; 
        color: $muted-dark;
        border-radius : 5px;
        font-size : 14px;
        font-style : italic;
        font-weight : bold;
        margin : 10px 0;
    }
    .activeweek {
            background:$primary; 
            color: $default;        
    }
    .sub-head{
        text-align : center;
        padding : 15px 0 10px 0;
        color: $base-dark;
        font-size : 11px;
        font-weight : bold;
    }
    .sub-head-content{
         text-align : center;
         font-size : 11px;
         padding : 0;
         font-weight : bold;
    }
    .panel-body{
        padding: 0 0 20px 0;
    }
    .no-padding{
        padding :0;
    }
    .empty-data-info{
        text-align:center; 
        padding: 10px; 
        color: $muted-dark;
    }

   .accountoverview{

       margin: 50px 0 190px 0;
       .margin-t-20{
            margin-top : 20px;
        }
       .btn-nav{
           background:$success;
           padding:12px;
           font-size: 14px;
           color: $default;
           text-transform: uppercase;
           font-weight: 700;
           border-color: $success;
       }
   }
   .section-head{
        padding: 15px 15px 12px;
        font-weight: 600;
        line-height: 16px;
        font-size: 14px;
   }
   .table-head{
       margin:0;
       background: $border !important;
   }
   .emp-profile-well{
        padding-bottom: 20px;
        border: none;
        box-shadow: none;
        margin-top: -10px;
        .emp-profile-wgt{
            padding-left: 5px;

            .row-details .emp-name {
                color: $primary;
            }
        }
    }
   .padding-l5-r5{
            padding: 0 5px;
        }
   .no-margins-padding{
       margin : 0;
       padding : 10px;
       border : none;
   }
   .padding-t-10-b-30{
       padding-top : 10px;
       padding-bottom : 30px;
   }
    
    .margin-30{
        margin: 0 -30px 0 -30px;
    }

    span[data-cal-date]{
        margin-top: 0;
        margin-right:5px;
    }
    .margin-bottom-0{
        margin-bottom:0;
    }
}

 .emp-row{
     padding: 20px;
     text-align : left;
            .emp-profile-wgt{

	        .circle-img{
		        width: 60px;
		        height: 60px;
                position:absolute;
                img{width:100%;height:100%;}
	        }

	        .row-details{
		        margin-left: 10px;
                padding-left:60px;
		        @include breakpoint('tablet') {
			        margin-left: 15px;
		        }
		        .emp-name{
			        color: $primary;
			        font-size: 14px;
			        line-height: 1;
			        margin-bottom: 3px;
			        font-weight: 600;
			        @include breakpoint('tablet') {
				        font-size: 16px;
			        }
		        }
		        .emp-title,.sm{
			        font-size: 14px;
			        font-style: italic;
			        color: $base-dark;
			
		        }
		        .emp-program{
			        color: $base-dark;
			        font-style: normal;
			        display: inline-block;
			        border: 1px solid $base-dark;
			        padding: 0 5px;
			        border-radius: 3px;
			        margin-left: 0;
			        margin-bottom: 4px;
			        font-size: 12px;
		        }
                label.update-date{
                    padding-top:10px;
            
                }
		        .hire-date{
			        color: $base;
		        }
		        .sm, .hire-date{
			        font-size: 12px;
		        }
	        }
        }
            .right-arrow{
                padding-top : 20px;
                color: #999c9e;
                font-weight: 300;
                font-size:14px;
            }

        .no-padding-left{
            padding-left : 0;
        }
        
   }

 .light-box{
     .center-text {
         text-align : center;
     }

    .margin-t-20{
        margin-top : 20px;
    }
 }


 .team-hours{
     margin-top: 6px;

     *:focus{
        outline: none !important;
        background: none !important;
    }
    
     .panel-body{
         border: none;
     }
      .header{
        @include breakpoint(desktop){
            margin: -30px -30px 0 -40px;
        }
        margin: -30px -15px 0 -40px;
        text-align: left !important;
        .page-title{
           
            .title{
                color:$primary;
                font-size:24px;
                font-weight:300;
                margin-bottom:15px;
                @include breakpoint(desktop){
                    font-size:34px;
                    }
            }
            .desc{
                
                color:#393f44;
                font-size:14px;
                font-weight:300;
                line-height:28px;
                @media only screen 
                    and (min-width : 768px) 
                    and (max-width : 1024px) 
                    and (orientation : landscape) {
                      width: 55%;
                    }
                @include breakpoint(desktop){
                    font-size:16px;
                    padding-bottom:30px;
                }
            }
        }
        .btn-overview{
            padding:10px 15px;
             @include breakpoint(desktop){
                padding:10px 30px;
                margin: -160px 30px 0 0;
            }
             @media (min-width: 1567px){
                 margin: 60px 40px 0 0;
             }
            color: $default;
            background: $dark;
            margin: 10px 20px 0 0;
            border-color: $dark;
            outline: none;
            width:100%;
            @include breakpoint(desktop){
                width:auto;
            }
        }

    }
    .tabs-wrap{
        .top-tabs{
            a.highlight{
                padding-bottom: 0 !important;
                color: $muted;
            }
        } 
    } 
    .table-head{
        color: $dark-dark;
        font-size: 16px;
        text-transform: uppercase;
        font-weight:600;
        padding: 5px 10px 10px 30px !important;
         @include breakpoint(phablet){
             padding: 15px !important;
        }
         .hrs{
             color: $success;
             font-size: 20px;
         }
    }
    .selected-row{
        background: $gray;
    }
    .emp-row-wrap{
        height: 534px;
        overflow: auto;
        border: 1px solid $gray;
    }
    .blur{
        opacity: .3;
    }
    .emp-row{
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid $gray;
         @include breakpoint(mobilephone){
                padding: 20px;
            }
         @include breakpoint(mobileonly){
                padding: 10px 15px 10px 10px;
            }
        .circle-img{
            width: 40px;
            height: 40px;
        }
        .row-details{
            margin-left: 5px;
            width: 68%;
            @media only screen and (min-width : 992px) and (max-width : 1110px)  {
                width: 63%;
            }
            @media only screen and (min-width : 1111px) and (max-width : 1350px)  {
                width: 63%;
            }
             @include breakpoint(mobileonly){
                width:62%;
            }
        }
        .emp-row-left-width{
            width:59%;
             @media only screen and (min-width : 1111px) and (max-width : 1199px)  {
                width: 56%;
            }
             @media only screen and (min-width : 1200px) and (max-width : 1350px)  {
                width: 52%;
            }
            @media only screen and (min-width : 992px) and (max-width : 1110px)  {
                width: 52%;
            }
        }
        .jd-status{
            color: $warning;
            font-size: 13px;
            font-weight: 600;
            @include breakpoint(mobilephone){
                font-size: 14px;
            }
            @include breakpoint(mobileonly){
                font-size: 13px;
            }
             @include breakpoint(largedesktop){
            font-size: 14px;
            }
        }
    }
    .emp-row .row-details .emp-name {
        font-size: 12px;
        font-weight: 600;
        color: $primary;
        word-break: break-word;
        @include breakpoint(desktop){
               font-size: 12px;
            }
        }
    .emp-row .row-details .audit-type {
             font-size: 14px;
            font-weight: 600;
            color: $warning;
        }
    .emp-row .jd-status p.date {
            font-size: 14px;
            font-weight: 600;
            color: $warning;
        }
    .emp-row .row-details .sm {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            color: $muted;
            font-style: italic;
        }
    .no-padding{
        padding:0;
    }
   
    .btn-success {
        padding: 10px;
        background: $dark-dark;
        border-color: $dark-dark;
        font-weight:700;
        font-size:14px;
        text-transform: uppercase;
    }
    .head-emp{
        padding-top:10px;
    }
    .margin-t-15{
        margin-top: 15px;
    }
    .emp-row .row-details .emp-program{
            color: #999c9e;
		    font-style: normal;
		    display: inline-block;
		    border: none;
		    padding: 0;
		    border-radius: 3px;
		    margin-bottom: 4px;
		    font-size: 10px;
            font-weight: 400;
        }
}
