﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.vacation{
    padding : 0;
    .no-gutter{
         @include breakpoint (mobilephone){
            padding: 0 !important;
        }
         padding: 0 !important;
    }
    .head{
        background-color : $primary;
        color: $default;
        text-align : center;
        position: relative;
        overflow :hidden;
        .head-icon{
        position: absolute;
        left: -12px;
        bottom: -12px;
        font-size: 55px;
        color: rgba(0, 0, 0, 0.1);
        }
    }
    .btn-submit{
        background-color: $primary;
        color: $default;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 12px 30px;
        margin-top: 10px;
        border-radius: 4px;
        @include breakpoint(tablet){
            padding: 12px 50px;
        }
    }

    .panel-body{
        background-color : $default;
        padding: 20px 20px;

        i{
            padding: 10px;
        }
        .top-info{
            text-align: left;
            .title{
                color : $primary;
                font-size : 16px;
                font-weight : 600;
                padding-bottom : 10px;
            }
            p{
                color : $dark;
                font-size: 14px;
                font-weight: 400;
                font-style : italic;
            }
            input{
                color : black;
                font-weight : 500;
                padding: 0 0 0 10px;
                border-radius: 5px;
                border: 1px solid #e4e4e4;
                background: #ffffff;
                outline: none;
                width: 100%;
                height: 35px;
                transition: background 0.3s, border 0.3s;
            }
        }
        .bottom-info{
            padding : 30px 0 20px 0;
            color : $dark;
            font-size: 14px;
            line-height: 23px;
            font-weight: 400;
            font-style : italic;
            text-align:left;
             @include breakpoint (mobilephone){
                text-align:center;
            }
        }
        .vacation-form{
            margin-top : 20px;
            background-color : #f5f5f5;
            padding : 20px 0;
            p{
                color : $primary;
                font-size : 12px;
                font-weight : bold;
                padding : 10px;
            }

            input{
                padding: 0 0 0 10px;
                border-radius: 5px;
                border: 1px solid #e4e4e4;
                background: #ffffff;
                outline: none;
                width: 100%;
                height: 34px;
                transition: background 0.3s, border 0.3s;
            }
            .selectpicker{
                border-radius: 5px;
                border: 1px solid #e4e4e4;
                background: #ffffff;
                outline: none;
                width: 100%;
                height: 35px;
            }
            .input-head{
                color : $primary;
                font-weight : 600;
                font-size : 16px;
            }
            .input-info{
                font-size : 12px;
                color : $dark;
                font-weight : 700;
                text-transform: uppercase;
                padding:5px 0 0 5px;
            }
            .input-info-hrs{
                font-size :12px;
                color : $dark-dark;
                font-weight : bold;
                padding:5px 0 0 5px;
            }

            .date-input{
                padding-left : 0;
                padding-right : 0;
            }
            .hrs-input{
                padding-right :0;
            }
            .fa-plus{
                padding :0 10px 0 0;
                 @include breakpoint (mobilephone){
                    padding :10px;
                }
            }
            .add-btn-div{                                                
                text-align : center;
                margin-top : 43px;
                @include breakpoint (mobilephone){
                    margin-top : 0;                    
                }
            }
            .vr-add-btn{
                background-color: $success;
                color: $default;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 4px;
                padding: 2px 23px;
               @include breakpoint(tablet){
                   padding: 6px 31px;
               }
            }
        }

        .list-items-wrap{
            margin-top: 20px;
            hr{
                margin : 0;
            }
            p{
                color : $dark-dark;
                font-size: 10px;
                font-style : italic;
            }
            .items-head{
                 color : $primary;
                font-weight : 600;
                font-size : 16px;
            }
            .list-items{
                padding : 20px 0;
                color : $dark-dark;
                font-size :12px;

                .remove{
                    background : $danger;
                    margin-right:5px;
                }
                .fa-close{
                    color :$default;
                    padding: 0;
                    margin : 0;
                }
            }

        }
    }    
    .no-padding{
        padding :0;
    }
    .padding-b10{
        padding-bottom :10px;
    }
    .padding-top-30{
        padding-top : 30px;
    }
    .padding-top-20{
        padding-top : 20px;
    }
    .padding-left-0{
        padding-left : 0;
    }
    .text-align-center{
        text-align : center ;
    }
    .input-group-addon{
        padding: 0;
    }
}
