﻿<nav ng-class="getNavStyle(scroll)" class="pdf-controls">
    <div class="row">
        <div class="col-md-6">
            <div class="pdf-buttons">
                <button ng-click="goPrevious()">&lt;</button>
                <button ng-click="goNext()">&gt;</button>

                <button ng-click="zoomIn()">+</button>
                <button ng-click="fit()">100%</button>
                <button ng-click="zoomOut()">-</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pdf-page">
                <span>Page: </span>
                <input type="text" min="1" ng-model="pageNum" class="ng-pristine ng-untouched ng-valid">
                <span class="ng-binding"> / {{pageCount}}</span>
            </div>
        </div>
    </div>
</nav>
<div class="pdf-container">
    <canvas id="pdf-canvas"></canvas>
</div>
