﻿@using Newtonsoft.Json
@model ChaiTea.Web.Common.EmployeeAuditVm
@{
    ViewBag.Title = "Audits by Associate";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}

<script type="text/ng-template" id="showAvgByArea.html">
    <div class="modal-header">
        <h3 class="modal-title">
            Employee Score By Area
        </h3>
    </div>
    <div class="modal-body">
        <form name="employeesForm" role="form" class="css-form" novalidate>
            <div class="well well-clean">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead class="primary table-head" style=" background: #4699c9;">
                                <tr>
                                    <th>AREA</th>
                                    <th class="text-center">SCORE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="vm.areas.length" ng-repeat="area in vm.areas">
                                    <td>{{::area.AreaName}}</td>
                                    <td class="text-center">{{::area.AverageScoringProfileScore ? area.AverageScoringProfileScore: 'N/A'}}</td>
                                </tr>
                                <tr class="primary table-head" style=" background: #4699c9;">
                                    <td>Total Avg</td>
                                    <td class="text-center">{{::vm.employee.AverageScoringProfileScore}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-default " ng-click="vm.cancel()" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</script>

<div class="container-fluid emp-audits-avg" data-ng-controller="Quality.EmployeeAuditsAvgCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'AUDITS_BY_ASSOCIATE'|translate}}"
                 s3-icon-name="personnel.svg">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
    </page-header>
    <div class="row">
        <div class="col-sm-12 page-content no-padding">

            <div class="row">
                <!-- Page content-->

                <div class="col-sm-12 no-padding">
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 0;">
                            <div class="col-md-12" style="padding: 0;">

                                <div class="text-center empty-wrap" ng-if="!vm.employees.length">No data to display</div>
                                <div class="primary table-head" data-ng-if="vm.employees.length">

                                    <div class="row">

                                        <div class="col-xs-8">

                                            <p class="pull-left">EMPLOYEE AUDITS</p>
                                        </div><!-- col8 -->

                                        <div class="col-xs-4">
                                            <p class="pull-right">LAST AUDIT</p>
                                        </div><!-- COL4 -->
                                    </div><!-- ROW -->



                                    <div class="clearfix"></div>
                                </div><!-- table-head -->

                                <div class="emp-row details-mobile-padding" data-ng-repeat="employee in vm.employees">
                                    <div class="pull-left" style="padding-left:0;">

                                        <div class="pull-left" data-ng-repeat="employeeWithImage in vm.options.employeesWithImage" data-ng-if="employeeWithImage.EmployeeId == employee.EmployeeId">
                                            <div class="circle-img circle-img-45-45 pull-left details-mobile-circle-img">
                                                <img ng-if="employeeWithImage.UniqueId" ng-cloak ng-src="{{ ::employeeWithImage.EmployeeImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                                <img ng-if="!employeeWithImage.UniqueId" ng-cloak ng-src="@Url.Content("~/content/img/user.jpg")" />
                                            </div>
                                        </div><!-- Circle-image -->

                                        <div class="row-details pull-left details-mobile details-mobile-margin" style="padding-left:0;">
                                            <p class="emp-name">{{ ::employee.Name }}</p>
                                            <span class="emp-program">{{ ::employee.ProgramName }}</span>
                                            <p class="emp-title audit-type">Score: {{ employee.AverageScoringProfileScore || 'N/A' }}</p>
                                            <a class="sm" ng-if="employee.NumberOfAreas > 0" ng-click="vm.showAvgByArea($index)">Areas: {{ ::employee.NumberOfAreas }}</a>
                                            <p class="sm" ng-if="employee.NumberOfAreas <= 0">Areas: 0</a></p>
                                        </div><!-- emp-details -->
                                    </div><!-- pull-left -->


                                    <div class="jd-status pull-right">
                                        <p class="date">{{ employee.LastAuditDate | date:'MM/dd/yyyy' }}</p>
                                    </div><!-- PULL-RIGHT -->

                                    <div class="clearfix"></div>

                                </div><!-- EMP-ROW -->

                            </div><!-- COL12 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

