﻿@{
    ViewBag.Title = "Transcript";
    ViewBag.HideTitle = true;
    ViewBag.BreadCrumbOverride.ActionName = "TRANSCRIPT";
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
}

@section title{
    <page-header title="Transcript"
                 s3-icon-name="knowledgecenter.svg"
                 class="margin-horizontal-0">
    </page-header>
    <my-profile-header active-link="userTranscript"></my-profile-header>
}

<div class="container-fluid transcript training col-md-10 col-md-offset-1" data-ng-controller="Training.TranscriptIndex as vm" data-ng-init="vm.initialize()">
    <div class="row transcript-container">
        <div class="row title-container">
            <div class="col-md-6 title-bar hidden-xs hidden-sm"><h4>MY TRANSCRIPT</h4></div>
            <div class="col-xs-12 col-sm-12 col-md-6 filter-bar">
                <div class="row filter-container">
                    <div class="col-xs-3 col-sm-3 col-md-5 title-col"><p>VIEW BY</p></div>
                    <div class="col-xs-9 col-sm-9 col-md-7">
                        <select class="large-select padding-left" ng-model="vm.filters.view">
                            <option value="all" selected="selected">All</option>
                            <option value="assigned">Assigned Courses</option>
                            <option value="self">Self-Initiated Courses</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="transcript-stats">
                <div class="col-xs-4 col-md-4">
                    <h3 class="success-text ng-binding"><i class="fa fa-book-base"></i>{{vm.counts.assigned.courses}}</h3>
                    <p>ASSIGNED</p>
                </div>
                <div class="col-xs-4 col-md-4">
                    <h3 class="ng-binding"><i class="fa fa-star-o"></i>{{vm.counts.assigned.completed}}</h3>
                    <p>COMPLETED</p>
                </div>
                <div class="col-xs-4 col-md-4">
                    <h3 class="ng-binding"><i class="fa fa-training"></i>{{vm.counts.assigned.compliancePercentage}}%</h3>                                       
                    <p>COMPLIANCE</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>                                                                                                                                                                                                                                                                                                                                                                                                                            
        </div>
    </div>

    <div class="row list-container">
        <div class="list assigned" ng-if="vm.filters.view == 'all' || vm.filters.view == 'assigned'">
            <div class="row list-header">

                <div class="col-xs-8 col-sm-8 col-md-4"><h3>Assigned Courses</h3></div>
                <div class="hidden-md hidden-lg mobile-filters pull-right">
                    <div uib-dropdown class="dropdown pull-right">
                        <a uib-dropdown-toggle href="javascript:void(0);" id="filterFilter" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter2"></i></a>
                        <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="filterFilter">
                            <li><a ng-click="vm.filterChangeMobile($event, 'assigned', 'all')">All</a></li>
                            <li><a ng-click="vm.filterChangeMobile($event, 'assigned', 'completed')">Completed</a></li>
                            <li><a ng-click="vm.filterChangeMobile($event, 'assigned', 'incomplete')">Incomplete</a></li>
                        </ul>
                    </div>
                    <div uib-dropdown class="dropdown pull-right">
                        <a uib-dropdown-toggle href="javascript:void(0);" id="sortFilter" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sorting"></i></a>
                        <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="sortFilter">
                            <li><a ng-click="vm.sortChangeMobile($event, 'assigned', 'duedate')">Due Date</a></li>
                            <li><a ng-click="vm.sortChangeMobile($event, 'assigned', 'pastdue')">Past Due</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8 hidden-xs hidden-sm filter-container">
                    <div class="filter pull-right ">
                        <div class="pull-left filter-outer" ng-click="vm.assignedFilter = !vm.assignedFilter">
                            <i class="fa fa-filter2 act-btns"></i></div>
                        <select class="form-control large-select pull-left" ng-if="vm.assignedFilter" ng-model="vm.filters.assigned" ng-change="vm.filterChange($event, 'assigned')">
                            <option value="all">All</option>
                            <option value="completed">Completed</option>
                            <option value="incomplete">Incomplete</option>
                        </select>
                    </div>
                    <div class="filter pull-right hidden-xs hidden-sm">
                        <div class="pull-left filter-outer" ng-click="vm.assignedSort = !vm.assignedSort">
                            <i class="fa fa-sorting act-btns"></i>
                        </div>
                        <select class="form-control large-select" ng-if="vm.assignedSort" ng-model="vm.filters.sort" ng-change="vm.sortChange($event, 'assigned')">
                            <option value="duedate">Due Date</option>
                            <option value="pastdue">Past Due</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row course-row" ng-repeat="empCourse in vm.assignedEmployeeCourses | filter:{ IsActive : true }">
                <a href="@Url.Action("TakeCourse","KnowledgeCenter",new{Area="Training"})/{{empCourse.EmployeeCourseId}}">
                    <div class="hidden-xs hidden-sm" ng-if="vm.sitesettings.windowSizes.isMedium || vm.sitesettings.windowSizes.isLarge || vm.sitesettings.windowSizes.isDesktop" ng-include="vm.rowTemplate"></div>
                    <div class="hidden-md hidden-lg" ng-if="!vm.sitesettings.windowSizes.isMedium || !vm.sitesettings.windowSizes.isLarge || !vm.sitesettings.windowSizes.isDesktop" ng-include="vm.rowTemplateMobile"></div>
                </a>
            </div>

            <div class="row" ng-show="!vm.assignedEmployeeCourses.length">
                <div class="col-md-12">
                    <div class="empty">
                        <div class="round"></div>
                        <h3>No Assigned Courses yet.</h3>
                        <p>You do not have any assigned courses yet.  Please contact the 
                            <a class="link" href="@Url.Action("Index","KnowledgeCenter", new{Area="Training"})">Training Team</a>.</p>
                        </div>
                    </div>
                </div>

        </div>
        <ul uib-pagination class="pull-right" ng-if="vm.filters.view == 'all' || vm.filters.view == 'assigned'"  total-items="vm.counts.assigned.pageCount" ng-model="vm.currentAssignedCoursesPage" ng-change="vm.getAssignedCourses()"></ul>
        <div class="clearfix"></div>
        <div class="list self" ng-if="vm.filters.view == 'all' || vm.filters.view == 'self'">
            
            
            
            
            <div class="row list-header">

                <div class="col-xs-10 col-sm-10 col-md-6"><h3>Self-Initiated Courses</h3></div>
                <div class="hidden-md hidden-lg pull-right mobile-filters">
                    <div uib-dropdown class="dropdown pull-right">
                        <a uib-dropdown-toggle href="javascript:void(0);" id="filterFilter" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter2"></i></a>
                        <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="filterFilter">
                            <li><a ng-click="vm.filterChangeMobile($event, 'self', 'all')">All</a></li>
                            <li><a ng-click="vm.filterChangeMobile($event, 'self', 'completed')">Completed</a></li>
                            <li><a ng-click="vm.filterChangeMobile($event, 'self', 'incomplete')">Incomplete</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 hidden-xs hidden-sm filter-container">
                    <div class="filter pull-right">
                        <div class="pull-left filter-outer" ng-click="vm.initiatedFilter = !vm.initiatedFilter">
                            <i class="fa fa-filter2 act-btns"></i>
                        </div>
                        <select class="form-control large-select" ng-if="vm.initiatedFilter" ng-model="vm.filters.self" ng-change="vm.filterChange($event, 'self')">
                            <option value="all">All</option>
                            <option value="completed">Completed</option>
                            <option value="incomplete">Incomplete</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row course-row" ng-repeat="empCourse in vm.selfEmployeeCourses | filter:{ IsActive : true }">
                <a href="@Url.Action("TakeCourse","KnowledgeCenter",new{Area="Training"})/{{empCourse.EmployeeCourseId}}">
                    <!-- Desktop template -->
                    <div class="hidden-xs hidden-sm" ng-if="vm.sitesettings.windowSizes.isMedium || vm.sitesettings.windowSizes.isLarge || vm.sitesettings.windowSizes.isDesktop" ng-include="vm.rowTemplate"></div>
                    <!-- Mobile template -->
                    <div class="hidden-md hidden-lg" ng-if="!vm.sitesettings.windowSizes.isMedium || !vm.sitesettings.windowSizes.isLarge || !vm.sitesettings.windowSizes.isDesktop" ng-include="vm.rowTemplateMobile"></div>
                </a>
            </div>

            <div class="row" ng-show="!vm.selfEmployeeCourses.length">
                <div class="col-md-12">
                    <div class="empty">
                        <div class="round"></div>
                        <h3>No Self-Initiated Courses Yet.</h3>
                        <p>Visit the <a class="link" href="@Url.Action("Index","KnowledgeCenter", new{Area="Training"})">Knowledge Center</a> 
                        to view our course catalog.  You may find courses that appeal to you there.</p>
                    </div>
                </div>
            </div>
            

        </div>
        <ul uib-pagination class="pull-right" ng-if="vm.selfEmployeeCourses.length && (vm.filters.view == 'all' || vm.filters.view == 'self')" total-items="vm.counts.self_initiated.pageCount" ng-model="vm.currentSelfAssignedCoursesPage" ng-change="vm.getSelfInitializedCourses()"></ul>
    </div>
</div>