﻿@helper SplitUppercase(string name)
{
var r = new System.Text.RegularExpressions.Regex(@"
                (?<=[A-Z])(?=[A-Z][a-z]) |
                 (?<=[^A-Z])(?=[A-Z]) |
                 (?<=[A-Za-z])(?=[^A-Za-z])", System.Text.RegularExpressions.RegexOptions.IgnorePatternWhitespace);
var splitName = r.Replace(name, " ");

    <text>@splitName</text>
}

@{
    string areaName = HttpContext.Current.Request.AppRelativeCurrentExecutionFilePath.Split('/')[1];
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string controllerIndexUrl = Url.Action("Index", controllerName, new { Area = areaName });

    ChaiTea.Web.Models.BreadCrumbOverride breadCrumbOverride = ViewBag.BreadCrumbOverride;

    //Temp override. Might change from Design.
    //if (areaName == "Quality")
    //{
    //    areaName = "Team Info";

    //}
}

<ol class="breadcrumb hidden-xs @(areaName == "Quality" || areaName == "Personnel" || areaName == "Financials" || areaName == "Governance"
        || breadCrumbOverride.AreaName == "Quality" || breadCrumbOverride.AreaName == "HideBreadCrumb" ? "hide" : "")">
   



    @if (controllerName != "Home")
    {
        <li class="home">
            <a href="@Url.Action("Index", "Home", new {Area = ""})">
                <span class="fa fa-home2"></span> Home
            </a>
        </li>

        <li class="@(breadCrumbOverride.AreaName == "HIDE" ? "hide":"")">
            @if (breadCrumbOverride.AreaUrl.IsEmpty())
            {
                <span class="fa fa-angle-right"></span> @SplitUppercase(breadCrumbOverride.AreaName ?? areaName)
            }
            else
            {
                <a href="@breadCrumbOverride.AreaUrl">
                    <span class="fa fa-angle-right"></span> @SplitUppercase(breadCrumbOverride.AreaName ?? areaName)
                </a>
            }
        </li>


        if (actionName != "Index" && breadCrumbOverride.ControllerName != "HIDE")
        {
            <li>
                <a href="@(breadCrumbOverride.ControllerUrl ?? controllerIndexUrl)">
                    <span class="fa fa-angle-right"></span> @SplitUppercase(breadCrumbOverride.ControllerName ?? controllerName)
                </a>
            </li>
        }

        if (actionName != "Index" && breadCrumbOverride.ActionName == string.Empty)
        {
            <li>
                <a href="@controllerIndexUrl"><span class="fa fa-angle-right"></span> @ViewBag.Title</a>
            </li>
        }
        else if (!String.IsNullOrEmpty(ViewBag.Title) && breadCrumbOverride.ActionName != "HIDE")
        {
            <li class="active">
                <span class="fa fa-angle-right"></span> @(breadCrumbOverride.ActionName ?? ViewBag.Title)
            </li>
        }
    }
    else
    {
        <li class="active home">
            <span class="fa fa-home2"></span> Home
        </li>
    }

</ol>

