﻿<header class="fixed-header" data-ng-controller="HeaderPanelCtrl as vm" data-ng-init="vm.initialize()">
    <div class="page-header">
        <div class="brand pull-left">
            <a href="javascript:void(0);" class="menu-toggle-btn"
               ng-click="$root.toggleSideBar()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="@Url.Action("Index", "Home", new {Area = ""})" class="logo">
                insite
            </a>
            @*<a href="javascript:void(0);" ng-if="vm.userContext.Language.Code" ng-click="vm.openContextPicker()" class="padding-left-10">
                <span class="padding-top-5 text-uppercase">
                    <span class="fa fa-globe text-muted"></span> <span class="text-muted">{{vm.userContext.Language.Code}}</span> <i class="fa-angle-down text-muted"></i>
                </span>
            </a>*@
            
        </div>
        <div class="pull-left site-picker hidden-xs hidden-sm clickable" ng-click="vm.openContextPicker()">
            <div class="truncate-to-fit">
                <span title="{{vm.userContext.Client.Name}}">
                    {{vm.userContext.Client.Name}}
                </span>
            </div>
            <div class="truncate-to-fit">
                <span title="{{vm.userContext.Site.Name}}">
                    {{vm.userContext.Site.Name || "All Sites"}}
                </span>
            </div>
            <div class="truncate-to-fit">
                <span title="{{vm.userContext.Program.Name}}">
                    {{vm.userContext.Program.Name || "All Programs"}}
                </span>
            </div>
        </div>
        <div class="pull-right header-content">
            <!-- weather -->
            <div class="pull-left weather header-section" ng-show="vm.currentWeather">
                <a class="pull-left" href="javascript:void(0);">
                    <span>
                        <i class="fa text-orange" ng-class="vm.currentWeather._icon"></i> {{vm.currentWeather.summary}} {{vm.currentWeather.temperature | number:0}} °F
                    </span>
                </a>
            </div>
            <!-- desktop date -->
            <div class="pull-left time header-section hidden-xs">
                <a class="pull-left" href="javascript:void(0);">
                    <span>{{vm.nowDate | date: 'MMM dd, yyyy' }}</span>
                </a>
            </div>
            <!-- mobile date -->
            <div class="pull-left weather visible-xs header-section mobile">
                <a class="pull-left" href="javascript:void(0);">
                    <span><span ng-if="vm.currentWeather"><i class="fa text-orange" ng-class="vm.currentWeather._icon"></i> {{vm.currentWeather.temperature | number:0}} °F</span> {{vm.nowDate | date: 'MMM dd' }}</span>
                </a>
            </div>
            <!-- activity center button -->
            <div class="pull-left header-section" ng-class="{'active': $root.activeNotification}">
                <a href="javascript:void(0);"
                   class="pull-left notification-icon" 
                   ng-click="$root.activeNotification = !$root.activeNotification" 
                   ng-class="{'active': $root.activeNotification}">
                    <i class="fa-alert2"></i> <small ng-show="vm.allUnread">{{vm.allUnread > 99 ? '99+' : vm.allUnread}}</small>
                </a>
            </div>
            <!-- user dropdown -->
            <div class="pull-left header-section">
                <div uib-dropdown dropdown-append-to-body class="username" style="position:relative">
                    <a href="javascript:void(0);" uib-dropdown-toggle>
                        <div class="circle-img circle-img-xs">
                            <img class="pull-left" ng-src="{{vm.user.currentPicture || '@Url.Content("~/content/img/user.jpg")' }}" alt="...">
                        </div><!-- circle-img -->
                        <span class="hidden-sm hidden-xs">{{vm.user.name}}</span>
                    </a>
                    <ul uib-dropdown-menu class="dropdown-menu-right" aria-labelledby="simple-dropdown">
                        <li><a ng-href="{{vm.goToMyProfile()}}">My Profile</a></li>
                        <li><a ng-href="{{vm.goToUserSettings()}}">User Settings</a></li>
                        <li ng-if="::vm.sitesettings.isProd">
                            <a href="javascript:void(0);" ng-click="vm.openFeedbackWidget()">Request Support</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" ng-if="::vm.userContext.Language.Code" ng-click="vm.openContextPicker()">
                                Language 
                                <span class="flag-icon flag-icon-{{vm.userContext.Language.Code === 'en'?'us':vm.userContext.Language.Code}} margin-left-5"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-ng-click="vm.logOutUser()">Logout</a>
                        </li>
                        <li visible-crazyprogrammers class="divider"></li>
                        <li visible-crazyprogrammers>
                            <a href="@Url.Action("Index", "TenantManagement", new { Area = "Admin" })"><span class="fa fa-rebel"></span> Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-content header-content-mobile visible-xs visible-sm clearfix">
            @*<div class="site-picker site-picker-mobile header-section">
                <a href="javascript:void(0);" ng-click="vm.openContextPicker()">
                    <span>{{vm.userContext.Client.Name}}</span> <span>{{vm.userContext.Site.Name || "All Sites"}}</span> <span>{{vm.userContext.Program.Name || "All Programs"}}</span> <i class="fa-angle-down"></i>
                </a>
            </div>*@
            <div class="site-picker clickable" ng-click="vm.openContextPicker()">
                <div class="truncate-to-fit">
                    <span title="{{vm.userContext.Client.Name}}">
                        {{vm.userContext.Client.Name}}
                    </span>
                </div>
                <div class="truncate-to-fit">
                    <span title="{{vm.userContext.Site.Name}}">
                        {{vm.userContext.Site.Name || "All Sites"}}
                    </span>
                </div>
                <div class="truncate-to-fit">
                    <span title="{{vm.userContext.Program.Name}}">
                        {{vm.userContext.Program.Name || "All Programs"}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <notification-feed class="sidebar-notifications"></notification-feed>

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @Class = "hide" }))
        {
            @Html.AntiForgeryToken()
        }
    }
</header>
