﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="~/Content/img/fav.png">
    <title>Insite</title>

    @Styles.Render("~/Content/styles/core")
    @Styles.Render("~/Content/styles/new")
    @{
        var icomoonUrl = System.Configuration.ConfigurationManager.AppSettings["IcomoonProductionURL"];
    }
    <link rel="stylesheet" href="@icomoonUrl">

    @RenderSection("styles", required: false)
    <!--[if IE 9]>
        <style>
            .topBottom,
            .fade,
            .fade-4,
            .options li{
                opacity: 1;
            }
        </style>
    <![endif]-->

    <!--[if IE 8]>
        <style>
            .slide-btn,
            .btn-default{
                background: #5caeae;
            }
            .options LI LABEL{
                position: relative;
            }
            .options LI LABEL INPUT{
               display: inline-block;
               position: absolute;
               left: 10px;
               top:10px;
            }
         .confirm-options li {
            border-bottom: 1px solid #ffffff;
            }
        </style>
    <![endif]-->
</head>
<body data-ng-app="app">
    @RenderBody()

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Start Google Analytics Code -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63999210-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Code -->

</body>
</html>
