﻿@using System.Threading
@using ChaiTea.Web.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <base href="~/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="~/Content/img/fav.png">

    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? "" : ViewBag.Title + " |") Insite</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

    @{
        var icomoonUrl = System.Configuration.ConfigurationManager.AppSettings["IcomoonProductionURL"];
    }
    <link rel="stylesheet" href="@icomoonUrl">



    @Styles.Render("~/Content/styles/core")
    @Styles.Render("~/Content/styles/new")
    @Styles.Render("~/Content/styles/angular-components")

    @RenderSection("styles", required: false)
    <!-- module centric ui css -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 12]>
        <link rel="stylesheet" href="@Url.Content("~")Content/css/ie.css" />
    <![endif]-->

    @Scripts.Render("~/scripts/jquery")

    @Scripts.Render("~/scripts/signalrJs")
    <script src="@Url.Content("~/signalr/hubs")"></script>

    @Scripts.Render("~/scripts/angular")
    @Html.Partial("~/Views/Shared/_ExternalProdOnlyScripts.cshtml")
</head>
<body data-ng-app="app" data-ng-strict-di data-ng-cloak class="active-side" ng-class="{ 'is-multi-site-user':$root.isMultiSiteUser,'is-mobile-web-view':$root.isMobileWebView}">

    <div id="" class="body-wrapper" ng-class="{'active-notification': $root.activeNotification}">
        @Html.Partial("~/Views/Shared/_Header.cshtml", (NavigationVm)ViewBag.PageNavigation)
        <side-navigation ng-class="{'active':$root.activeSide}"></side-navigation>

        <div id="main">
            <div class="page-title @(ViewBag.HideTitleBar == true ? "hide" : "")" ng-controller="TitleBarController as vm" ng-init="vm.initialize()">
                @Html.Partial("~/Views/Shared/_Breadcrumb.cshtml")

                @RenderSection("titleBar", false)
                @RenderSection("datepickerpanel", false)
                @RenderSection("title", false)

                <h3 class="no-margin text-primary @(ViewBag.HideTitle == true ? "hide" : "")" translate>@ViewBag.Title</h3>
                <div class="clearfix"></div>
            </div>

            @RenderBody()
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='@String.Format("https://maps.googleapis.com/maps/api/js?key={0}&libraries={1}", @ViewBag.GoogleConfig.Key, @ViewBag.GoogleConfig.Libraries)'></script>

    <script>
        window.App = window.App || {};
        window.App.BootstrappedData = {};
        window.App.IsDebuggingEnabled = Boolean("@HttpContext.Current.IsDebuggingEnabled".toLocaleLowerCase());
        var basePath = '@Url.Content("~/")';
        //globalinfo
        var userContext = @Html.Raw(Json.Encode(@ViewBag.UserContext));
        var timezone = @Html.Raw(Json.Encode(@ViewBag.Timezone));
        var userInfo = {
            //siteSpecific
            userId:@Html.Raw(Json.Encode(@ViewBag.OrgUserId)),
            userEmail: '@User.Identity.Name',
            mainRoles: @Html.Raw(Json.Encode(ViewBag.MainRoles))
       };
    </script>


    @Scripts.Render("~/scripts/libs")

    <!-- Core Setup -->
    @Scripts.Render("~/scripts/chaitea-config")
    @Scripts.Render("~/scripts/chaitea-core")
    @Scripts.Render("~/scripts/chaitea-common")
    @Scripts.Render("~/scripts/chaitea-services")
    @Scripts.Render("~/scripts/chaitea-components")

    @RenderSection("scripts", required: false)

    <script>
        angular.module("app").value("awsconfig", @(ViewBag.AwsConfig ?? Html.Raw("''")));
        angular.module("app").value("navigationconfig", @(ViewBag.NavigationConfig ?? Html.Raw("''")));
        angular.module("app").value("jwtauthheader", "@(ViewBag.JwtAuthHeader ?? Html.Raw("''"))");
    </script>

    <!-- Start Google Analytics Code -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63999210-1', 'auto', {'userId':userInfo.userId});
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Code -->

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <!-- Hotjar Tracking Code for https://r2.sbminsite.com -->
        <script>
            (function(h, o, t, j, a, r) {
                h.hj = h.hj || function() { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 129503, hjsv: 5 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
                hj('tagRecording', ['@User.Identity.Name', '@ViewBag.OrgUserId']);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
             <!-- End hotjar-->
    }


</body>

</html>
