﻿
<div class="sidebar-wrap" ng-controller="CoreSideBar as vm" ng-init="vm.initialize()">
    <a href="javascript:void(0);" class="menu-toggle-btn" ng-click="$root.toggleSideBar()">
        <i class="fa fa-bars"></i>
    </a>
    <div class="sidebar-content">
        <ul class="module-menus list-unstyled">
            <li class="module-title" ng-repeat="menuItem in vm.mainNavItems" ng-if="menuItem.Visible" ng-class="{'active': menuItem.isActive }">
                <a ng-href="{{menuItem.Url}}"
                   data-toggle="collapse"
                   data-target="#menu-{{$index}}"
                   ng-click="$root.menuItemClick($event)">
                    <div class="pull-left" 
                         uib-tooltip="{{menuItem.Name}}" 
                         tooltip-placement="right" 
                         tooltip-append-to-body="true"
                         tooltip-enable="!$root.activeSide">
                        <i class="fa {{menuItem.IconName}}"></i>
                    </div>
                    <div class="pull-left name"><span class="">{{menuItem.Name}}</span></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="menu-{{$index}}" ng-class="menuItem.isSubLinkActive ? 'active' : 'collapse'" ng-if="menuItem.ChildrenItems.length">
                    <li ng-repeat="subMenuItem in menuItem.ChildrenItems" ng-if="subMenuItem.Visible">
                        <a ng-href="{{subMenuItem.Url}}" ng-click="$root.menuItemClick($event)" ng-class="{'active': subMenuItem.isActive }">
                            <span>{{subMenuItem.Name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div><!-- sidebar-content -->
</div><!-- Sidebar-Wrap -->