﻿<div id="user-context-panel" data-ng-controller="UserContextCtrl as vm" data-ng-init="vm.initialize()">
    <div class="navbar" role="navigation" style="background-color:white">
        <div class="container-fluid">
            <div class="clearfix">
                <div class="clearfix pull-left">
                    <a class="pull-left" id="menu-toggle" href="javascript:void(0);" style="color:#444;margin-top:12px;margin-right:15px;text-decoration:none; outline:none;">
                        <span class="fa-bars" style="font-size:24px"></span>
                    </a>
                    <!-- Marcos changed margins to 20px instead of 14 -->
                    <div class="pull-left" style="padding-top:10px">
                        <!-- Replace it with SVG with PNG Fallback  img src="http://sbminsite1.com/insitev22/Content/img/insiteLogo_68x21_regular.png"  -->
                        <a href="javascript:void(0);" style="text-decoration: none">
                            <img id="insite-logo" src="@Url.Content("~/Content/img/insiteLogo.png")" alt="Insite"/>
                        </a>
                    </div>
                </div>
                <div class="clearfix pull-right" id="client-context" style="cursor:pointer;">
                    <div class="select-client pull-left" onmouseover="this.style.opacity = '0.9'" onmouseout="this.style.opacity = '0.7'"> <span>{{vm.clientName}}</span> | <span>{{vm.siteName}}</span> | <span>{{vm.programName}}</span></div>
                    <div class="pull-left" style="display:none;">
                        <div style="font-size: 24px; margin-top: 11px;cursor: pointer;" class="fa-arrow-down pull-right" id="client-picker-menu"></div>
                        <div class="client-logo pull-right">

                            <!-- Marcos: Replace it with SVG with PNG Fallback
                            <img src="http://sbminsite1.com/insitev22/Content/img/merckLogo_109x31.png"> -->

                            <svg width="130" height="42" style="opacity:0.7;padding-top:4px;" onmouseover="this.style.opacity = '0.9'" onmouseout="this.style.opacity = '0.7'">
                                <!-- Liz:add hover state -->
                                <image xlink:href="@Url.Content("~/Content/img/johnsonNJohnson.png")" width="100%" height="100%" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="client-picker-panel" class="container">
        <!-- Liz:add padding:0 20px; to remove horizontal scroll -->
        <!-- this was the inset drop shadow --  box-shadow:3px 5px 25px 10px rgba(0,0,0,0.2) inset; -->

        <div class="row">
            <div id="client-picker-wrapper" class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="clientId">Client</label>
                    <select id="clientId" name="clientId" class="form-control" data-ng-model="vm.context.Client.ID" data-ng-options="client.ID*1 as client.Name for client in vm.options.clients" data-ng-change="vm.onClientChange()">
                        @*<option value="">- Select One -</option>*@
                    </select>
                </div>
                <div class="form-group">
                    <label for="siteId">Site</label>
                    <select id="siteId" name="siteId" class="form-control" data-ng-model="vm.context.Site.ID" data-ng-options="site.ID*1 as site.Name for site in vm.options.sites" data-ng-change="vm.onSiteChange()">
                        @*<option value="">All Sites</option>*@
                    </select>
                </div>
                <div class="form-group">
                    <label for="programId">Program</label>
                    <select id="programId" name="programId" class="form-control" data-ng-model="vm.context.Program.ID" data-ng-options="program.ID*1 as program.Name for program in vm.options.programs" data-ng-change="vm.onProgramChange()">
                        @*<option value="">All Programs</option>*@
                    </select>
                </div>
                <div style="text-align: center; padding: 10px 3px 10px 0 ;" class="col-sm-6">
                    <button style="width: 100%; background-color: #f38b11; border: 0; color: #fff !important" data-ng-click="vm.apply()"
                            type="button" data-toggle="modal" data-target="#cloneProfile" class="btn btn-default" id="popupCloneProfile">
                        Apply
                    </button>
                </div>
                <div style="text-align: center; padding: 10px 0 10px 3px;" class="col-sm-6">
                    <button style="width: 100%; background-color: #f38b11; border: 0; color: #fff !important" data-ng-click="vm.cancel()"
                            type="button" data-toggle="modal" data-target="#cloneProfile" class="btn btn-default" id="popupCloneProfile">
                        Cancel
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>