﻿@model ChaiTea.Web.Models.NavigationVm

@functions{
    private string path = HttpContext.Current.Request.Url.AbsoluteUri;
    private string[] areaName = HttpContext.Current.Request.AppRelativeCurrentExecutionFilePath.Split('/');
}

@helper SetLink(string name, string url, string neededRoleName = "")
{
    if (neededRoleName != "" && !User.IsInRole(neededRoleName))
    {
        return;
    }

    // Highlight the submodule section on the side bar menu
    var partsPath = path.Split('/').Last();
    var partsUrl = url.Split('/').Last();
    var linkClass = path.IndexOf(url) >= 0 && partsPath == partsUrl ? "active-link" : "";
    <li class="list-group-item @linkClass">
        <a href="@Url.Content(url)">
            @name
        </a>
    </li>
}

@helper SetActiveNavLink(string name, string iconName, string url, bool isDisabled)
{
    // Set the active sidebar icon
    var linkClass = string.Equals(areaName[1], name, StringComparison.InvariantCultureIgnoreCase) ? "active" : "";


    <li class="@linkClass" @(isDisabled ? "disabled" : "")>
        <a href="@Url.Content(url)" id="@name.ToLower()-menu"><span class="@iconName sidenav-icons"></span> @name</a>
    </li>
}

@helper IsSubMenuActive(string name)
{
    // Show the sub menu
    if (!string.Equals(areaName[1], name, StringComparison.InvariantCultureIgnoreCase))
    {
        @:display:none;
    }
}
@*<a href="~/Areas/ManagerConfiguration/Controllers/ManagerConfigController.cs">~/Areas/ManagerConfiguration/Controllers/ManagerConfigController.cs</a>*@

<!-- Sidebar -->
<div id="sidebar-wrapper">

    <!--BEGIN SIDEBAR-->
    <div id="menu">

        <div class="welcome-panel">
            <div class="user-img">
                    <a href=@Url.Content("~/ManagerConfiguration/ManagerConfig")><span class="fa-user sidenav-icons"/></a>
            </div>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="greeting">
                        <div class="greeting-txt">Welcome,</div>
                        <div class="username">
                            @Model.UserName <span style="font-size: 12px">
                                @*<a style="font-size: 10px" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
                                <a style="font-size: 10px" href="javascript:void()" data-ng-click="$root.logOutUser()">Log off</a>
                            </span>
                        </div>
                    </div>
                }
            }

        </div>

        <ul class="main-menu">
            @{
                // Tuple< name, icon class, url, isDisabled >
                var mainNavItems = new List<Tuple<string, string, string, bool>>()
                {
                    //new Tuple<string, string, string, bool>("Alerts", "fa-bell", "#", true),
                    //new Tuple<string, string, string, bool>("Governance", "fa-governance", "#", true),
                    new Tuple<string, string, string, bool>("Financials", "fa-financials", "#", false),
                    new Tuple<string, string, string, bool>("Quality", "fa-quality", "#", false),
                    new Tuple<string, string, string, bool>("Training", "fa-training", "#", false),
                    //new Tuple<string, string, string, bool>("EHS", "fa-ehs", "#", true),
                    new Tuple<string, string, string, bool>("Personnel", "fa-Personnel", "#", false),
                    new Tuple<string,string,string,bool>("Contact", "fa-phone", Url.Content("~/Contact/ContactPage"), false),
                    new Tuple<string,string,string,bool>("Shop", "fa fa-shopping-cart", "http://b2b.sbmstore.com/system/login.php", false),
                    new Tuple<string,string,string,bool>("Settings", "fa-cog", "#", false)
                };

                foreach (Tuple<string, string, string, bool> menu in mainNavItems)
                {
                    @SetActiveNavLink(menu.Item1, menu.Item2, menu.Item3, menu.Item4);
                }
            }
        </ul>

        <!-- Alerts -->
        <ul class="additional-menu1" id="alerts-menu" style="@IsSubMenuActive("alerts")">
            <li class="list-group-item"><a href="#"> Alerts</a><div class="badge pull-right">1</div></li>
            <li class="list-group-item"><a href="#"> Escalations</a><div class="badge pull-right">0</div></li>
            <li class="list-group-item"><a href="#"> Notifications</a><div class="badge pull-right">2</div></li>
            <li class="list-group-item"><a href="#"> Passdown</a><div class="badge pull-right">0</div></li>
        </ul>

        <!-- Governance -->
        <ul class="additional-menu1" id="governance-menus" style="@IsSubMenuActive("governance")">
            @{
                var governanceMenuItems = new List<KeyValuePair<string, string>>()
                            {
                                new KeyValuePair<string, string>("Scorecard/KPIs", Url.Content("~/Home/Temp/Governance-Scorecard")),
                                new KeyValuePair<string, string>("Updates", Url.Content("~/Home/Temp/Governance-Updates")),
                                new KeyValuePair<string, string>("Innovations", Url.Content("~/Home/Temp/Governance-Innovations"))
                            };

                foreach (KeyValuePair<string, string> menu in governanceMenuItems)
                {
                    @SetLink(menu.Key, menu.Value);
                }
            }
        </ul>

        <!-- Financials -->
        <ul class="additional-menu1" id="financials-menus" style="@IsSubMenuActive("financials")">
            @{
                var financialsMenuItems = new List<KeyValuePair<string, string>>()
                            {
                                new KeyValuePair<string, string>("Billing Overview", Url.Content("~/Financials/BillingOverview")),
                                new KeyValuePair<string, string>("Invoices", Url.Content("~/Financials/Invoices")),
                                new KeyValuePair<string, string>("A/R Aging", Url.Content("~/Financials/AccountsReceivableAging")),
                                new KeyValuePair<string, string>("My Hours", Url.Content("~/Financials/MyTimeClock")),
                                new KeyValuePair<string, string>("Team Hours", Url.Content("~/Financials/TimeClock"))
                                
                            };

                foreach (KeyValuePair<string, string> menu in financialsMenuItems)
                {
                    @SetLink(menu.Key, menu.Value);
                }
            }
        </ul>

        <!-- Quality -->
        <ul class="additional-menu1" id="quality-menus" style="@IsSubMenuActive("quality")">
            @{
                var qualityMenuItems = new List<KeyValuePair<string, string>>()
                {
                    new KeyValuePair<string, string>(Resources.Menu.Complaints, Url.Content("~/Quality/Complaint")),
                    new KeyValuePair<string, string>(Resources.Menu.Audits, Url.Content("~/Quality/Audit")),
                    new KeyValuePair<string, string>(Resources.Menu.EmployeeAudits, Url.Content("~/Quality/EmployeeAuditsAvg")),
                    new KeyValuePair<string, string>(Resources.Menu.CustomerSurvey, Url.Content("~/Quality/CustomerSurvey")),
                    new KeyValuePair<string, string>(Resources.Menu.ToDos, Url.Content("~/Quality/ToDo")),
                    new KeyValuePair<string, string>(Resources.Menu.Compliments, Url.Content("~/Quality/Compliment")),
                    new KeyValuePair<string, string>(Resources.Menu.WorkOrders, Url.Content("~/Quality/WorkOrder")),
                    new KeyValuePair<string, string>("My Audits", Url.Content("~/Quality/MyAudits"))
                };
                foreach (KeyValuePair<string, string> menu in qualityMenuItems)
                {
                    @SetLink(menu.Key, menu.Value);
                }
            }

        </ul>

        <!-- Training -->
        <ul class="additional-menu1" id="training-menus" style="@IsSubMenuActive("training")">
            @{
                var trainingMenuItems = new List<Tuple<string, string, string>>()
                            {
                                new Tuple<string, string, string>("Compliance", Url.Content("~/Training/Compliance"),string.Empty),
                                //new KeyValuePair<string, string, string>("KPI Compliance", Url.Content("~/Training/KPICompliance")),
                                new Tuple<string, string, string>(Resources.Menu.PositionProfiles, Url.Content("~/Training/PositionProfile"),string.Empty),
                                new Tuple<string, string, string>(Resources.Menu.ServiceExcellence, Url.Content("~/Training/ServiceExcellence"),string.Empty),
                                new Tuple<string, string, string>("Course Admin", Url.Content("~/Training/Course"),"training admin"),
                                new Tuple<string, string, string>("Transcript", Url.Content("~/Training/Transcript"),string.Empty),
                                new Tuple<string, string, string>("Knowledge Center", Url.Content("~/Training/KnowledgeCenter"),string.Empty),
                                //new KeyValuePair<string, string, string>("Calendar", Url.Content("~/Training/Calendar")),
                                //new KeyValuePair<string, string, string>("Manage Report Cards", Url.Content("~/Training/ManageReportCards"))
                            };

                foreach (Tuple<string, string, string> menu in trainingMenuItems)
                {
                    @SetLink(menu.Item1, menu.Item2,menu.Item3);
                }
            }
        </ul>

        <!-- EHS -->
        <ul class="additional-menu1" id="ehs-menus" style="@IsSubMenuActive("ehs")">
            @{
                var ehsMenuItems = new List<KeyValuePair<string, string>>()
                            {
                                new KeyValuePair<string, string>("Safety Results", Url.Content("~/Home/Temp/EHS-SafetyResults")),
                                new KeyValuePair<string, string>("SDS", Url.Content("~/Home/Temp/EHS-SDS")),
                                new KeyValuePair<string, string>("Diversion", Url.Content("~/Home/Temp/EHS-Diversion")),
                                new KeyValuePair<string, string>("Sustain Report", Url.Content("~/Home/Temp/EHS-SustainReport"))
                            };

                foreach (KeyValuePair<string, string> menu in ehsMenuItems)
                {
                    @SetLink(menu.Key, menu.Value);
                }
            }
        </ul>

        <!-- Personnel -->
        <ul class="additional-menu1" id="personnel-menus" style="@IsSubMenuActive("personnel")">
            @{
                var personnelMenuItems = new List<KeyValuePair<string, string>>()
                            {
                                new KeyValuePair<string, string>("Professionalism Audits", Url.Content("~/Personnel/Audit/")),
                                new KeyValuePair<string, string>("Attendance", Url.Content("~/Personnel/Attendance/Details")),
                                new KeyValuePair<string, string>("Conduct", Url.Content("~/Personnel/Conduct/Details")),
                                new KeyValuePair<string, string>("Safety", Url.Content("~/Personnel/Safety/Details")),
                                new KeyValuePair<string, string>("Ownership", Url.Content("~/Personnel/Ownership/Entry"))
                            };

                foreach (KeyValuePair<string, string> menu in personnelMenuItems)
                {
                    @SetLink(menu.Key, menu.Value);
                }
            }
        </ul>

        <!-- Settings -->
        <ul class="additional-menu1" id="settings-menus" style="@IsSubMenuActive("settings")">
            @{
                var settingsMenuItems = new List<KeyValuePair<string, string>>()
                            {
                                new KeyValuePair<string, string>("Position Profile Builder", Url.Content("~/Settings/JobDescriptionBuilder")),
                            };

                foreach (KeyValuePair<string, string> menu in settingsMenuItems)
                {
                    @SetLink(menu.Key, menu.Value);
                }
            }
        </ul>

        <div class="clearfix"></div>

    </div>
    <!--SIDEBAR END-->

</div>

<!-- #sidebar-wrapper -->
