﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")">
                    <img alt="SBM Insite" src="@Url.Content("~/Content/img/insite-logo.png")" width="177" height="56" class="img-responsive" />
                </a>
                <div class="text-muted"><small>revTwo</small></div>
                @if (Request.IsLocal && HttpContext.Current.IsDebuggingEnabled)
                {
                    if (Model == null)
                    {
                        <h6 class="text-danger">Model not found; its null for some reason</h6>
                    }
                    else
                    {
                        <h6 class="text-danger">Error at: @Model.ControllerName / @Model.ActionName</h6>
                        if (Model.Exception == null)
                        {
                            <h6 class="text-danger">Exception not found; its null for some reason</h6>
                        }
                        else
                        {
                            var e = Model.Exception;
                            while (e != null)
                            {
                                <hr/>
                                <h6 class="text-danger">@e.GetType().FullName</h6>
                                <dl>
                                    <dd>Exception Message</dd>
                                    <dt>
                                        <pre>@e.Message</pre>
                                    </dt>
                                    <dd>Stack Trace:</dd>
                                    <dt style="overflow:scroll;">
                                        <pre>@e.StackTrace</pre>
                                    </dt>
                                </dl>
                                e = e.InnerException;
                            }
                        }
                    }
                }
                else
                {
                    <h6 class="text-danger">Error.</h6>
                    <h6 class="text-danger">An error occurred while processing your request. Please contact support for details.</h6>
                }
            </div>
        </section>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}