﻿@{
    ViewBag.Title = " ";
    ViewBag.HideTitleBar = true;
    
}

@section title{
    <page-header title="My Profile"
                 s3-icon-name="myprofile.svg"
                 class="margin-horizontal-0">
    </page-header>
    <my-profile-header active-link="userFinancials"></my-profile-header>
}

<div class="container-fluid myprofile" data-ng-controller="Personnel.MyProfileIndex as vm" data-ng-init="vm.initialize()">
    <div class="content">
        <div ng-include="vm.templateUrl"></div>
    </div>
</div>
