﻿@{
    ViewBag.Title = "Report Card";
    ViewBag.HideTitle = true;
}

@section title{
    <page-header title="{{'Report Card'|translate}}"
             s3-icon-name="myprofile.svg"
             class="margin-horizontal-0">
    </page-header>
    <my-profile-header active-link="userReportCard"></my-profile-header>
}

<div class="container-fluid personnel myprofile report-card" ng-controller="Personnel.MyProfileReportCardCtrl as vm" ng-init="vm.initialize()">
    <div ng-if="vm.isPageDisabled" class="row padding-vertical-20">
        <p class="text-center text-warning">- Please select a site. -</p>
    </div>
    <div ng-if="!vm.isPageDisabled">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
        <div class="row current-month-header">
            <div class="col-md-12">
                <h3 class="current-month text-muted"><strong>Current Month</strong> | <strong class="text-warning">{{::vm.currentMonth | date:'MMMM yyyy'}}</strong></h3>
                <div class="pull-right hidden-xs hidden-sm">
                    <h3 class="current-performance pull-left text-muted margin-right-20">
                        <strong>Current Performance</strong>
                    </h3>
                    <div class="pull-right text-center">
                        <h3 class="bonus-text text-success margin-vertical-0">${{(vm.siteBonus.BonusAmount + vm.currentMonthKpi.BonusAmount) || vm.siteBonus.BonusAmount || 0}}</h3>
                        <strong class="text-muted">POSSIBLE BONUS</strong>
                        <br />
                        <small class="text-muted">(${{vm.siteBonus.BonusAmount || 0}} BASE)</small>
                    </div>
                </div>
            </div>
        </div>
        <div id="current-month-details" class="row">
            <div class="col-md-12">
                <table class="table hidden-xs hidden-sm">
                    <thead>
                        <tr>
                            <td>
                                <strong>KPI</strong>
                                <br />
                                <small class="text-muted">
                                    (SCORE WEIGHT)
                                </small>
                            </td>
                            <td>
                                <strong class="text-warning">COMMENTS</strong><br>&nbsp;
                            </td>
                            <td class="td-kpi" ng-repeat="item in vm.columnItems track by $index">
                                <strong class="text-warning name">
                                    {{::item.Name}}
                                </strong>
                                <br />
                                <small class="text-muted">
                                    <span ng-show="$index+1 != (vm.columnItems.length - 2)">
                                        GOAL ({{::vm.currentMonthKpi.EmployeeKpis[$index].PassingMetric || vm.currentMonthKpi.EmployeeKpis[$index].MetaData[0].Value}})
                                    </span>
                                    <span ng-show="$index+1 == (vm.columnItems.length - 2)">(PASS/FAIL)</span>
                                </small>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!vm.currentMonthKpi._isLoading && vm.currentMonthKpi">
                            <td>
                                <strong>SCORES</strong>
                            </td>
                            <td>
                                <span class="fa-stack fa-1x clickable" ng-click="vm.showPopup('comments', vm.currentMonthKpi)">
                                    <i class="fa fa-stack-2x" ng-class="vm.currentMonthKpi.Comment?'fa-bubble text-warning':'fa-bubble-alt'"></i>
                                    <i class="fa fa-inverse"></i>
                                </span>
                            </td>
                            <td class="" ng-class="{'clickable': kpi.Kpi.Name != 'Training'}" ng-repeat="kpi in vm.currentMonthKpi.EmployeeKpis track by $index" ng-click="(kpi.Kpi.Name != 'Training') ? vm.showPopup(kpi.Kpi.Name, vm.currentMonthKpi) : ''">
                                <span class="fa-stack small margin-bottom-5" ng-if="!kpi.IsExempt">
                                    <i class="fa fa-circle fa-stack-2x" ng-class="kpi.IsPass? 'text-success': (kpi.IsPass == null ? 'text-muted' : 'text-danger')"></i>
                                    <i class="fa fa-inverse" ng-class="kpi.IsPass?'fa-check':(kpi.IsPass == null ? 'fa-minus' : 'fa-exclamation')"></i>
                                </span>
                                <span ng-if="kpi.IsExempt" class="text-muted not-applicable">
                                    N/A
                                </span>
                                <div class="metric" ng-if="!kpi.IsExempt">
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Attendance">
                                        <strong>{{ kpi.Metric || 0 }}</strong>
                                        <span class="metric-label">OCCURRENCES</span>
                                    </span>
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Conduct">
                                        <strong>{{ kpi.Metric || 0 }}</strong>
                                        <span class="metric-label">ISSUES</span>
                                    </span>
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Complaints">
                                        <strong>{{ kpi.Metric || 0 }}</strong>
                                        <span class="metric-label">REPORTED</span>
                                    </span>
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Safety">
                                        <strong>{{ kpi.Metric || 0 }}</strong>
                                        <span class="metric-label">OCCURRENCES</span>
                                    </span>
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Ownership">
                                        <strong>{{ kpi.Metric }}</strong>
                                        <span class="metric-label">ACCEPTED</span>
                                    </span>
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Professionalism">
                                        <strong>{{ kpi.IsPass ? 'PASS' : (kpi.IsPass == null ? '' : 'FAIL') }}</strong>
                                        <span class="metric-label">STATUS</span>
                                    </span>
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Quality">
                                        <strong>{{ kpi.Metric | number : 2}}</strong>
                                        <span class="metric-label">AVERAGE</span>
                                    </span>
                                    <span ng-if="kpi.Kpi.KpiId == vm.kpiIds.Training">
                                        <strong ng-if="kpi.Metric">{{ kpi.Metric | number : 2 }}%</strong>
                                        <span class="metric-label">COMPLIANT</span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*
                    MOBILE CURRENT MONTH
                *@
                <table id="mobile-current-month" class="table visible-xs visible-sm" ng-if="vm.currentMonthKpi">
                    <tr>
                        <td>
                            <span class="fa-stack fa-lg text-muted">
                                <i class="fa fa-stack-2x fa-bubble-alt"></i>
                                <i class="fa fa-inverse"></i>
                            </span>
                            <strong class="text-warning"> COMMENTS</strong>
                        </td>
                        <td>
                            <span class="fa-stack fa-lg text-muted clickable" ng-click="vm.showPopup('comments', vm.currentMonthKpi)">
                                <i class="fa fa-stack-2x" ng-class="vm.currentMonthKpi.Comment?'fa-bubble text-warning':'fa-bubble-alt'"></i>
                                <i class="fa fa-inverse"></i>
                            </span>
                        </td>
                    </tr>
                    <tr ng-repeat="item in vm.columnItems track by $index">
                        <td>
                            <span class="fa-stack fa-lg text-muted">
                                <i class="fa fa-stack-2x fa-{{item.icon}}"></i>
                                <i class="fa fa-inverse"></i>
                            </span>
                            <strong class="text-warning name"> {{item.Name}}</strong>
                            <br />
                            <small class="text-muted sub-title-current-month">
                                <span ng-show="$index+1 != vm.columnItems.length">
                                    GOAL ({{::vm.currentMonthKpi.EmployeeKpis[$index].PassingMetric || vm.currentMonthKpi.EmployeeKpis[$index].MetaData[0].Value}})
                                </span>

                                <span ng-show="$index+1 == vm.columnItems.length">(PASS/FAIL)</span>

                            </small>
                        </td>
                        <td class="data-column" ng-class="{'clickable': vm.currentMonthKpi.EmployeeKpis[$index].Kpi.Name != 'Training'}" ng-click="(vm.currentMonthKpi.EmployeeKpis[$index].Kpi.Name != 'Training') ? vm.showPopup(vm.currentMonthKpi.EmployeeKpis[$index].Kpi.Name, vm.currentMonthKpi) : ''">
                            <span class="fa-stack text-muted" ng-if="!vm.currentMonthKpi.EmployeeKpis[$index].IsExempt">
                                <i class="fa fa-circle fa-stack-2x" ng-class="vm.currentMonthKpi.EmployeeKpis[$index].IsPass? 'text-success': (vm.currentMonthKpi.EmployeeKpis[$index].IsPass == null ? 'text-muted' : 'text-danger')"></i>
                                <i class="fa fa-inverse" ng-class="vm.currentMonthKpi.EmployeeKpis[$index].IsPass?'fa-check':(vm.currentMonthKpi.EmployeeKpis[$index].IsPass == null ? 'fa-minus' : 'fa-exclamation')"></i>
                            </span>
                            <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].IsExempt" class="text-muted not-applicable">
                                N/A
                            </span>
                            <div class="metric" ng-if="!vm.currentMonthKpi.EmployeeKpis[$index].IsExempt">
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Attendance">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].Metric || 0 }}</strong>
                                    <span class="metric-label">OCCURRENCES</span>
                                </span>
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Conduct">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].Metric || 0 }}</strong>
                                    <span class="metric-label">ISSUES</span>
                                </span>
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Complaints">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].Metric || 0 }}</strong>
                                    <span class="metric-label">REPORTED</span>
                                </span>
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Safety">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].Metric || 0 }}</strong>
                                    <span class="metric-label">OCCURRENCES</span>
                                </span>
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Ownership">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].Metric }}</strong>
                                    <span class="metric-label" ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Metric">ACCEPTED</span>
                                </span>
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Professionalism">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].IsPass ? 'PASS' : (vm.currentMonthKpi.EmployeeKpis[$index].IsPass == null ? '' : 'FAIL') }}</strong>
                                    <span class="metric-label" ng-if="vm.currentMonthKpi.EmployeeKpis[$index].IsPass != null">AVERAGE</span>
                                </span>
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Quality">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].Metric | number : 2}}</strong>
                                    <span class="metric-label" ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Metric">ARE COMPLIANT</span>
                                </span>
                                <span ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Kpi.KpiId == vm.kpiIds.Training">
                                    <strong>{{ vm.currentMonthKpi.EmployeeKpis[$index].Metric | number : 2}}</strong>
                                    <span class="metric-label" ng-if="vm.currentMonthKpi.EmployeeKpis[$index].Metric">STATUS</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>

                <h3 ng-if="!vm.currentMonthKpi.EmployeeKpis && vm.currentMonthKpi._isLoading === true" class="text-muted text-center">Loading...</h3>
                <h3 ng-if="!vm.currentMonthKpi" class="text-muted text-center">- There are no items to show for the current month. -</h3>
            </div>

        </div>
        <!--
            Historical Performance Details
        -->
        <div id="historical-details" class="row padding-vertical-40">
            <div class="possible-bonus col-md-12 text-center visible-xs visible-sm padding-vertical-10">
                <h3 class="bonus-text text-success margin-vertical-0">${{(vm.siteBonus.BonusAmount + vm.currentMonthKpi.BonusAmount) || vm.siteBonus.BonusAmount}}</h3>
                <strong class="text-muted">POSSIBLE BONUS</strong>
                <br />
                <small class="text-muted">(${{vm.siteBonus.BonusAmount || 0}} BASE)</small>
            </div>
            <h3 class="text-muted col-md-8">
                <strong>Historical Performance</strong>
            </h3>
            <div class="bonus-title col-md-4">
                <h3 class="bonus-text text-success margin-vertical-0">${{vm.totalBonus || 0}}</h3>
                <p>
                    <strong class="text-muted text-small">TOTAL BONUS</strong>
                </p>
            </div>
            <div class="col-md-12 table-wrapper">
                <hr/>
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <strong>KPI</strong>
                                <br />
                                <small class="text-muted hidden-xs hidden-sm">
                                    (SCORE WEIGHT)
                                </small>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <strong class="text-warning">COMMENTS</strong><br>&nbsp;
                            </td>
                            <td ng-repeat="item in vm.columnItems">
                                <strong class="text-warning name hidden-xs hidden-sm">
                                    {{::item.Name}}
                                </strong>
                                <span class="visible-xs visible-sm text-warning fa fa-3x text-strong {{'fa-'+item.icon}}"></span>
                                <br />
                                <small class="text-muted hidden-xs hidden-sm">
                                    ({{::item.Weight}})
                                </small>
                            </td>
                            <td>
                                <strong class="text-warning">BONUS</strong><br>&nbsp;
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.filteredKpisByMonth = (vm.kpisByMonth | orderBy:['-Year','-Month'])" ng-if="!item._isLoading">
                            <td>
                                <small class="text-muted visible-xs visible-sm">
                                    <strong>{{::item.Year}}</strong>
                                </small>

                                <strong class="month-name">{{::item._monthName}}</strong>
                                <small class="text-muted hidden-xs hidden-sm">
                                    {{::item.Year}}
                                </small>

                                <span class="fa-stack fa-1x visible-xs visible-sm clickable" ng-click="vm.showPopup('comments', item)">
                                    <i class="fa fa-stack-2x" ng-class="item.Comment?'fa-bubble text-warning':'fa-bubble-alt'"></i>
                                    <i class="fa fa-inverse"></i>
                                </span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="fa-stack fa-1x clickable" ng-click="vm.showPopup('comments', item)">
                                    <i class="fa fa-stack-2x" ng-class="item.Comment?'fa-bubble text-warning':'fa-bubble-alt'"></i>
                                    <i class="fa fa-inverse"></i>
                                </span>
                            </td>
                            <td ng-repeat="kpi in item.EmployeeKpis track by $index">
                                <span class="fa-stack fa-1x" ng-if="!kpi.IsExempt">
                                    <i class="fa fa-circle fa-stack-2x" ng-class="kpi.IsPass? 'text-success': (kpi.IsPass == null ? 'text-muted' : 'text-danger')"></i>
                                    <i class="fa fa-check fa-inverse" ng-class="kpi.IsPass?'fa-check':(kpi.IsPass == null ? 'fa-minus' : 'fa-exclamation')"></i>
                                </span>
                                <span ng-if="kpi.IsExempt" class="text-muted not-applicable historical">
                                    N/A
                                </span>
                            </td>
                            <td>
                                <strong ng-class="{'text-success':item.BonusAmount > 0 && item.IsPass}">${{item._displayedBonus || 0}}</strong>
                            </td>
                        </tr>
                        <tr ng-if="vm.kpisByMonth.length <= 0 && vm.isBusy">
                            <td>
                                <p class="text-center text-muted">Loading...</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3 ng-if="!vm.kpisByMonth.length && vm.lastItemDisplayed && !vm.isBusy" class="text-muted text-center">- There are no items to show at this time. -</h3>
            </div>
            <div class="text-center" ng-if="vm.kpisByMonth.length">
                <button ng-if="!vm.lastItemDisplayed" class="load-next-btn btn btn-default padding-horizontal-30" ng-click="vm.loadNextSix()" ng-disabled="vm.isBusy">LOAD NEXT 6 MONTHS</button>
                <p class="text-muted" ng-if="vm.lastItemDisplayed">- All items have been loaded -</p>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>