﻿
@{
    ViewBag.Title = "Team Members";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid personnel myprofile team-members" ng-controller="Personnel.MyProfileTeamMembersCtrl as vm" ng-init="vm.initialize()">
    <page-header title="{{'Team Members'|translate}}"
                 s3-icon-name="myprofile.svg"
                 info-text="A directory of your fellow team mates and your corporate leadership team."
                 class="margin-horizontal-0">
    </page-header>

    <div class="row page-content">
        <div class="col-md-12 padding-top-30 hidden-xs hidden-sm">
            <a class="btn btn-primary back-btn" href="#" ng-click="vm.back($event)">
                <span class="fa fa-chevron-left"></span>
            </a>
        </div>
        <div class="col-md-12">
            <div class="tab-filter-header">
                <a class="btn btn-primary back-btn hidden-md hidden-lg" href="#" ng-click="vm.back($event)">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <uib-tabset type="{{vm.isMobile?'pills':'tabs'}}">
                    <uib-tab>
                        <uib-tab-heading>
                            <span class="title">My Team</span>
                        </uib-tab-heading>
                        <div class="col-md-3 left">
                            <div class="employee-bar" ng-repeat="employee in vm.employees track by $index">
                                <a ng-href="{{vm.sitesettings.basePath + 'User/Profile/Index?CE_ID='+employee.EmployeeId}}">
                                    <img class="circle-img" ng-src="{{employee._profilePicture}}" err-src="{{vm.sitesettings.defaultProfileImage}}" alt="" />
                                    <p class="emp-name">{{employee.Name}}</p>
                                    <p class="emp-title">
                                        <em>{{employee.JobDescription.Name}}</em>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 right">
                            <h2 class="text-center padding-vertical-50">
                                Click an employee from the list to view their profile.
                            </h2>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <span class="title">Corporate</span>
                        </uib-tab-heading>
                        <div class="row">
                            <div class="corporate-item col-md-4" ng-repeat="item in vm.corporateMembers">
                                <div class="row">
                                    <div class="col-md-12 text-center padding-40 padding-bottom-10">
                                        <img class="img-circle" ng-src="{{item.Photo}}" err-src="{{vm.sitesettings.defaultProfileImage}}" alt="{{item.Name}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h2 class="text-center margin-bottom-0">{{item.Name}}</h2>
                                        <strong>{{item.Title}}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 clickable" ng-click="vm.viewSummaryInModal(item)">
                                        <p class="text-center padding-top-10">{{item.Summary | limitTo: 145 }}...</p>
                                        <p class="text-center">
                                            <button class="btn btn-link">view more</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </uib-tab>
                </uib-tabset>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
