﻿@import "../Common/globals";

.tabs-wrap{
    .top-tabs{
        font-weight: bold;
        padding: 5px 0 0 20px !important;
        font-size: 16px;
        font-weight: 600;

        a.highlight {
            border-bottom: 5px solid $primary;
            color : $primary;
        }
        a {
            width : unset;
            margin-right : 0;
            border : none;
            color : $muted;
            @include breakpoint(tablet){
                margin-right : 30px;
            }
        }
    } 
}

.disable-link{
    cursor: default;
    color: $gray-dark !important;
}

.mobile-tabs-wrap{
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding:0;
    margin: 0;
    a:focus{
        outline: none;
    }
    @include breakpoint(tablet){
        margin: 20px 0 10px 0;
    }
    .tab{
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0;
        border-right: 1px solid $border;
        background-color : $default;
        color: $muted;
        text-transform:uppercase;
    }

    .activetab{
        border-bottom : 3px solid $primary;
        color: $primary;
    }

    .tab:last-child{
        border-right : none;
    }
}

.hline{
    margin: 0 15px 10px 5px !important;
}