﻿
@import "../Common/globals";

.governance {

    &.maps {
        padding: 0 20px 20px 20px;
        background-color: #fff;

        .page-heading {
            padding: 10px 0px 40px;
        }

        .map-head {
            height:45px;
            position: relative;

            h3 {
                color: $base-dark;
                font-size: 20px;
                font-weight: 300;
            }

            .toggle-buttons{
                .btn{
                    padding-left:22px;
                    padding-right:22px;

                    &.active{

                    }
                }
            }

            .legend{
                position: absolute;
                right: 0;
                bottom: 0;
                &.legend-align{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    position: relative;
                    @include breakpoint(tablet){
                        padding-top: 0;
                        padding-bottom: 0;
                        position: absolute;
                    }
                }
                > div{
                    display:inline-block;
                    padding:0 10px;
                    font-weight:600;
                    text-transform:uppercase;
                }

                .square{
                    width:15px;
                    height:15px;
                    display:block;
                    border:1px solid;
                    display:inline-block;
                    vertical-align:sub;
                }

                .passing .square{
                    border-color:$success-dark;
                    background-color:$success;
                }

                .failing .square{
                    border-color:$danger-dark;
                    background-color:$danger;
                }

                .no-data .square{
                    border-color:$border-dark;
                    background-color:$border;
                }
            }

        }

        hr {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .map-container {

            .map-label {
                color: #fff;
                font-weight: 700;
                font-size: 12px;
                text-align: center;
                white-space: nowrap;
            }

            .angular-google-map-container {
                height: 50vh;

                @include breakpoint(tablet) {
                    height: 510px;
                }
            }
        }
        .tab-map-wrapper{
            width:100%;
            
            @include breakpoint('desktop'){
                display:flex;
            }
            &.tab-align{
                padding-top: 20px;
                @include breakpoint(desktop){
                    padding-top: 0;
                }
            }
            map-full-screen{
                padding-top:25px;
                flex:1;
                @include breakpoint('desktop'){
                    padding-top:0;
                }
            }
        }
        .vertical-tabs {
            padding: 0 0 20px;
            background-color: $gray;
            width:182px;
            height:510px;
        }

        .nav-tabs {
            width: 100%;
            margin-right: 0;
            border-right: none !important;

            > li {
                border: none !important;

                > a {
                    border: none !important;
                    color: $dark-dark;
                    font-size: .875em;
                    font-weight: 600;
                    outline: none;
                    i {
                        color: $orange;
                        font-size: 21px !important;
                        height: 21px;
                        line-height: 21px;
                        vertical-align: middle;
                        display: inline-block;
                        width: 26px;
                    }

                    &:hover {
                        color: $orange;
                        background-color: transparent;
                    }
                }

                &.active {
                    a {
                        background-color: $border;
                    }
                }
            }
        }
        .gm-style-iw {
            min-width: 200px;
        }

        .map-window {

            &.pass {
                .window-metric, .window-text, .rating-joint {
                    color: $success;
                }
            }

            &.fail {
                .window-metric, .window-text, .rating-joint {
                    color: $danger;
                }
            }
            &.no-data {
                .window-metric {
                    color: $base-dark;
                }
            }
            &.compliments, &.report-its, &.to-dos, &.billing, &.supplies {
                .window-metric, .window-text {
                    color: $warning;
                }
            }

            .window-title {
                font-size: 16px;
            }

            .window-title-secondary {
                text-align: left;
                font-style: italic;
                font-size: 12px;
            }


            .window-body {
                padding-left: 15px;
                padding-bottom: 20px;
                padding-top: 10px;
                width: 214px;

                .window-metric, .rating-joint {
                    text-align: center;
                    font-size: 48px;
                    font-weight: 900;
                }

                .window-text {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 900;
                    text-transform: uppercase;
                }

                .window-footer-text {
                    text-align: center;
                    font-size: 12px;
                    font-style: italic;
                    color: $base-dark;
                }

                .window-profile-image {
                    margin: auto;
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
                    border: 2px solid $base;
                    overflow: hidden;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    img {
                        width: 100%;
                    }
                }

                .window-profile-name {
                    text-align: center;
                    font-size: 16px;
                    color: $primary;
                    text-transform: capitalize;
                }
            }

            .window-link {
                text-align: center;
                padding-left: 20px;
                text-decoration: underline;

                a {
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }

            &.turnover .window-body .window-metric {
                font-size: 28px;
            }
            &.billing .window-body .window-metric {
                font-size: 26px;
            }
            &.supplies .window-body .window-metric {
                font-size: 28px;
            }

            &.compliments .window-body .window-text {
                font-size: 12px;
            }
        }




        .grid{
            margin-top: 20px;
            @include breakpoint(desktop){
                margin-top: 45px;
            }
            .header-content{
                margin-bottom: 20px;
                color: $dark;
                .header{
                    font-size: 1.5em;
                    font-weight: 300;
                    float: left;
                    width: 100%;
                    @include breakpoint(tablet){
                        float: none;
                        width: auto;
                    }
                }
                .month-range-title{
                    font-size: 1em;
                    font-weight: 300;
                    margin-left: 0;
                    font-style: italic;
                    @include breakpoint(tablet){
                        margin-left: 10px;
                    }
                }
            }
            .body-content{
                .table{
                    .head{
                        height: 25px;
                        background-color: $base-dark;
                        font-size: 0.714em;
                        font-weight: 600;
                        color: $default;
                        th{
                            padding: 0;
                            height: 25px;
                            vertical-align: middle;
                            text-transform: uppercase;
                            &.left-title{
                                padding-left: 25px;
                                text-align: left;
                            }
                            &.right-content{
                                text-align: right;
                                &.last{
                                    padding-right: 25px;
                                }
                                &.mobile-last{
                                    padding-right: 25px;
                                    @include breakpoint(desktop){
                                        padding-right: 0;
                                    }
                                }
                            }
                            
                        }
                    }
                    .body{
                        border:1px solid $border;
                        border-top: 0;
                        .data-row{
                            height: 45px;
                            border-bottom: 1px solid $border;
                            font-size: 0.857em;
                            td{
                                padding: 0;
                                border: 0;
                                height: 43px;
                                vertical-align: middle;
                                @include breakpoint(desktop){
                                    height: 45px;
                                }
                                &.left-title{
                                    padding-left: 25px;
                                    text-align: left;
                                    color: $warning;
                                    font-weight: 600;
                                }
                                &.data-content{
                                    text-align: right;
                                    color: $dark;
                                    &.last{
                                        padding-right: 25px;
                                        font-weight: 700;
                                    }
                                    &.last-audit{
                                        padding-right: 25px;
                                    }
                                    &.mobile-last{
                                        padding-right: 25px;
                                        @include breakpoint(desktop){
                                            padding-right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .table-title-well{
                padding-left: 0;
                font-size: 1em;
            }
        }
    }
}
