@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.governance.maps {
  padding: 0 20px 20px 20px;
  background-color: #fff;
}
.governance.maps .page-heading {
  padding: 10px 0px 40px;
}
.governance.maps .map-head {
  height: 45px;
  position: relative;
}
.governance.maps .map-head h3 {
  color: #9e9e9e;
  font-size: 20px;
  font-weight: 300;
}
.governance.maps .map-head .toggle-buttons .btn {
  padding-left: 22px;
  padding-right: 22px;
}
.governance.maps .map-head .legend {
  position: absolute;
  right: 0;
  bottom: 0;
}
.governance.maps .map-head .legend.legend-align {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
@media (min-width: 768px) {
  .governance.maps .map-head .legend.legend-align {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
  }
}
.governance.maps .map-head .legend > div {
  display: inline-block;
  padding: 0 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.governance.maps .map-head .legend .square {
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid;
  display: inline-block;
  vertical-align: sub;
}
.governance.maps .map-head .legend .passing .square {
  border-color: #81A125;
  background-color: #9FC62D;
}
.governance.maps .map-head .legend .failing .square {
  border-color: #D0363C;
  background-color: #E93D42;
}
.governance.maps .map-head .legend .no-data .square {
  border-color: #d8d8d8;
  background-color: #e8e8e8;
}
.governance.maps hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.governance.maps .map-container .map-label {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}
.governance.maps .map-container .angular-google-map-container {
  height: 50vh;
}
@media (min-width: 768px) {
  .governance.maps .map-container .angular-google-map-container {
    height: 510px;
  }
}
.governance.maps .tab-map-wrapper {
  width: 100%;
}
@media (min-width: 1167px) {
  .governance.maps .tab-map-wrapper {
    display: flex;
  }
}
.governance.maps .tab-map-wrapper.tab-align {
  padding-top: 20px;
}
@media (min-width: 1167px) {
  .governance.maps .tab-map-wrapper.tab-align {
    padding-top: 0;
  }
}
.governance.maps .tab-map-wrapper map-full-screen {
  padding-top: 25px;
  flex: 1;
}
@media (min-width: 1167px) {
  .governance.maps .tab-map-wrapper map-full-screen {
    padding-top: 0;
  }
}
.governance.maps .vertical-tabs {
  padding: 0 0 20px;
  background-color: #f5f5f5;
  width: 182px;
  height: 510px;
}
.governance.maps .nav-tabs {
  width: 100%;
  margin-right: 0;
  border-right: none !important;
}
.governance.maps .nav-tabs > li {
  border: none !important;
}
.governance.maps .nav-tabs > li > a {
  border: none !important;
  color: #2f2930;
  font-size: .875em;
  font-weight: 600;
  outline: none;
}
.governance.maps .nav-tabs > li > a i {
  color: #F26130;
  font-size: 21px !important;
  height: 21px;
  line-height: 21px;
  vertical-align: middle;
  display: inline-block;
  width: 26px;
}
.governance.maps .nav-tabs > li > a:hover {
  color: #F26130;
  background-color: transparent;
}
.governance.maps .nav-tabs > li.active a {
  background-color: #e8e8e8;
}
.governance.maps .gm-style-iw {
  min-width: 200px;
}
.governance.maps .map-window.pass .window-metric, .governance.maps .map-window.pass .window-text, .governance.maps .map-window.pass .rating-joint {
  color: #9FC62D;
}
.governance.maps .map-window.fail .window-metric, .governance.maps .map-window.fail .window-text, .governance.maps .map-window.fail .rating-joint {
  color: #E93D42;
}
.governance.maps .map-window.no-data .window-metric {
  color: #9e9e9e;
}
.governance.maps .map-window.compliments .window-metric, .governance.maps .map-window.compliments .window-text, .governance.maps .map-window.report-its .window-metric, .governance.maps .map-window.report-its .window-text, .governance.maps .map-window.to-dos .window-metric, .governance.maps .map-window.to-dos .window-text, .governance.maps .map-window.billing .window-metric, .governance.maps .map-window.billing .window-text, .governance.maps .map-window.supplies .window-metric, .governance.maps .map-window.supplies .window-text {
  color: #F99D00;
}
.governance.maps .map-window .window-title {
  font-size: 16px;
}
.governance.maps .map-window .window-title-secondary {
  text-align: left;
  font-style: italic;
  font-size: 12px;
}
.governance.maps .map-window .window-body {
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 214px;
}
.governance.maps .map-window .window-body .window-metric, .governance.maps .map-window .window-body .rating-joint {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
.governance.maps .map-window .window-body .window-text {
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.governance.maps .map-window .window-body .window-footer-text {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #9e9e9e;
}
.governance.maps .map-window .window-body .window-profile-image {
  margin: auto;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.governance.maps .map-window .window-body .window-profile-image img {
  width: 100%;
}
.governance.maps .map-window .window-body .window-profile-name {
  text-align: center;
  font-size: 16px;
  color: #00AFD1;
  text-transform: capitalize;
}
.governance.maps .map-window .window-link {
  text-align: center;
  padding-left: 20px;
  text-decoration: underline;
}
.governance.maps .map-window .window-link a {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.governance.maps .map-window.turnover .window-body .window-metric {
  font-size: 28px;
}
.governance.maps .map-window.billing .window-body .window-metric {
  font-size: 26px;
}
.governance.maps .map-window.supplies .window-body .window-metric {
  font-size: 28px;
}
.governance.maps .map-window.compliments .window-body .window-text {
  font-size: 12px;
}
.governance.maps .grid {
  margin-top: 20px;
}
@media (min-width: 1167px) {
  .governance.maps .grid {
    margin-top: 45px;
  }
}
.governance.maps .grid .header-content {
  margin-bottom: 20px;
  color: #403841;
}
.governance.maps .grid .header-content .header {
  font-size: 1.5em;
  font-weight: 300;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .governance.maps .grid .header-content .header {
    float: none;
    width: auto;
  }
}
.governance.maps .grid .header-content .month-range-title {
  font-size: 1em;
  font-weight: 300;
  margin-left: 0;
  font-style: italic;
}
@media (min-width: 768px) {
  .governance.maps .grid .header-content .month-range-title {
    margin-left: 10px;
  }
}
.governance.maps .grid .body-content .table .head {
  height: 25px;
  background-color: #9e9e9e;
  font-size: 0.714em;
  font-weight: 600;
  color: #ffffff;
}
.governance.maps .grid .body-content .table .head th {
  padding: 0;
  height: 25px;
  vertical-align: middle;
  text-transform: uppercase;
}
.governance.maps .grid .body-content .table .head th.left-title {
  padding-left: 25px;
  text-align: left;
}
.governance.maps .grid .body-content .table .head th.right-content {
  text-align: right;
}
.governance.maps .grid .body-content .table .head th.right-content.last {
  padding-right: 25px;
}
.governance.maps .grid .body-content .table .head th.right-content.mobile-last {
  padding-right: 25px;
}
@media (min-width: 1167px) {
  .governance.maps .grid .body-content .table .head th.right-content.mobile-last {
    padding-right: 0;
  }
}
.governance.maps .grid .body-content .table .body {
  border: 1px solid #e8e8e8;
  border-top: 0;
}
.governance.maps .grid .body-content .table .body .data-row {
  height: 45px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 0.857em;
}
.governance.maps .grid .body-content .table .body .data-row td {
  padding: 0;
  border: 0;
  height: 43px;
  vertical-align: middle;
}
@media (min-width: 1167px) {
  .governance.maps .grid .body-content .table .body .data-row td {
    height: 45px;
  }
}
.governance.maps .grid .body-content .table .body .data-row td.left-title {
  padding-left: 25px;
  text-align: left;
  color: #F99D00;
  font-weight: 600;
}
.governance.maps .grid .body-content .table .body .data-row td.data-content {
  text-align: right;
  color: #403841;
}
.governance.maps .grid .body-content .table .body .data-row td.data-content.last {
  padding-right: 25px;
  font-weight: 700;
}
.governance.maps .grid .body-content .table .body .data-row td.data-content.last-audit {
  padding-right: 25px;
}
.governance.maps .grid .body-content .table .body .data-row td.data-content.mobile-last {
  padding-right: 25px;
}
@media (min-width: 1167px) {
  .governance.maps .grid .body-content .table .body .data-row td.data-content.mobile-last {
    padding-right: 0;
  }
}
.governance.maps .grid .table-title-well {
  padding-left: 0;
  font-size: 1em;
}

/*# sourceMappingURL=map.css.map */
