﻿@import "../Common/globals";

.positionFTE {
    .headcount-align{
        text-align: right;
        @include breakpoint(desktop){
            text-align: left;
        }
    }
    .mobile-padding{
        padding-left: 0;
        padding-right: 0;
        @include breakpoint(tablet){
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .mobile-padding-left-0{
        padding-left: 0;
            @include breakpoint(desktop){
            padding-left: 15px;
        }
    }
    .mobile-padding-left-15{
        padding-left: 15px;
    }
    .mobile-padding-right-0{
        padding-right: 0;
            @include breakpoint(desktop){
            padding-right: 15px;
        }
    }
    .mobile-margin{
        margin-left: -10px;
    }
    .mobile-padding-between{
        padding-right: 6px;
    }

    .page-content{
        .headers{
            padding: 5px;
            color: $dark;
            font-size: 11px;
            font-weight: 600;
            border-bottom: 1px solid $border;
            border-top: 1px solid $border;
            @include breakpoint(desktop){
                padding: 5px 20px;
            }
            .left-space{
                padding-left: 35px;
            }
         }
         .content{
                padding: 5px;
                color: $dark;
                font-size: 12px;
                font-weight: 600;
                display: flex;
                border-bottom: 1px solid $border;
                position: relative;
                &.content-head{
                    min-height: 140px;
                }
                &.row-content{
                    padding: 10px 10px 10px 5px;
                    height: 50px;
                    padding-left: 5px;
                    @include screen(ipad){
                       border-left: 1px solid $purple;
                       padding-left: 0;
                       height: unset;
                    }
                    @include breakpoint(desktop){
                        border-left: 1px solid $purple;
                        padding-left: 0;
                    }
                    @include screen(desktop){
                        height: unset;
                    }
                }
                &.hover-effect:hover{
                   
                        background-color: $gray-dark;
                    
                }
                &.padding-left{
                    padding-left: 5px !important;
                }
                @include breakpoint(desktop){
                    padding: 0 20px 0 0;
                    font-size: 14px;
                    margin-left: 50px;
                }
                .section-indicator{
                    border-left: 1px solid $purple;
                    position: absolute;
                    bottom:-1px;
                    height: 40px;
                }
                .left-space{
                    padding-left: 35px;
                }
                &.highlight{
                    border: 1px solid $dark;
                }
                .cursor-pointer{
                    cursor: pointer;
                }
                .vcenter {
                    vertical-align: middle;
                    float: none;
                    margin: auto;
                }
                .section-person{
                    &.ellipse{
                      //@include multiLineEllipsis(20px, 1, 20px, white);
                    }
                    .fa-solid-person{
                        &.large{
                            font-size: 86px;
                    }
                        &.medium{
                            font-size: 55px;
                }
                        &.small{
                            font-size: 18px;
                        }
                        &.very-small{
                            font-size: 16px;
                        }
                    }
                }

                .header-icon{
                    font-size: 2.85rem;
                    font-weight: 700;
                    color: $purple;
                    @include breakpoint(desktop){
                        font-size: 3rem !important;
                    }
                    .fa{
                        font-size: 2.85rem !important;
                        font-weight: 700;
                        color: $purple;
                        @include breakpoint(desktop){
                            font-size: 3rem !important;
                        }
                    }
                }
                .header-text{
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-top: -7px;
                     @include breakpoint(desktop){
                        padding: 8px 0 0 12px;
                        font-size: 1.143rem;
                        text-transform: capitalize;
                        margin-top: 0;
                    }
                    .sub-text{
                        font-size: 10px;
                        text-transform: uppercase;
                        color: $dark;
                    }
                }

                .number-style{
                    font-size: 14px !important;
                    font-weight: 700 !important;
                    color: $dark;
                    @include breakpoint(desktop){
                        font-size: 1rem !important;
                    }
                    &.small{
                        font-size: 12px !important;                        
                    }
                    &.medium{
                        font-size: 14px !important;
                    }
                }
                .fa-angle-right{
                    font-size: 18px;
                    color: $base-dark;
                }
                .fa-angle-left{
                    font-size: 20px;
                    padding-right: 7px;
                    @include breakpoint(desktop){
                        margin: 0 0 0 -30px;
                        font-size: 40px;
                    }
                }

                .color-0{
                    color: $teal;
                }
                .color-1{
                    color: $blue;
                }
                .color-2{
                    color: $lime;
                }
                .color-3{
                    color: $lavendar;
                }
                .color-4{
                    color: $orange;
                }
                .color-5{
                    color: $blue-steel;
                }
                .color-6{
                    color: $pink;
                }

                .back{
                    //width: 25px;
                }
                .name{
                    color: $dark;
                    width: 35%;
                    text-transform: uppercase;
                    font-weight: 700;
                    @include screen(ipad){
                        width: 30%;
                         font-size: 1rem;
                        .header-text{
                            width: 70%;
                            padding-top: 13px;
                            .text-ellipse{
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                        .circle{
                            margin: 5px 0 0 10px;
                        }
                    }
                    @include screen(desktop){
                        max-width: 15%;
                        font-size: 1rem;
                        
                        .header-text{
                            width: 65%;
                            padding-top: 13px;
                            .text-ellipse{
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                        .circle{
                            margin: 5px 0 0 10px;
                        }
                    }
                    &.display-center{
                        display: flex;
                    }
                     .align-center{
                        margin: auto 0;
                    }
                    
                    .program-name{
                        width: 85%;
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        -webkit-hyphens: auto;
                        -ms-hyphens: auto;
                        -moz-hyphens: auto;
                        hyphens: auto;
                        margin-left:5px;
                        @include breakpoint(tablet){
                            padding-left: 0;
                        }
                        @include breakpoint(desktop){
                            padding-left: 5px !important;
                        }
                         @include screen(ipad){
                            text-align: left;
                            padding-left: 20px;
                        }
                        &.center{
                            margin: auto 0;
                            font-weight: 700;
                        }
                        &.mobile-margin{
                            margin-left: -10px;
                        }
                    }
                }
                .pos-name{
                    color: $dark;
                    font-size: 12px;
                    font-weight: 600;
                    @include breakpoint(tablet){
                    font-size: 14px;
                    }
                    @include breakpoint(desktop){
                        padding-left: 35px;
                    }
                }
                .op-cost{
                    opacity: 0.7;
                    position: absolute;
                    bottom: 2%;
                    left: 0;
                    z-index: 10;
                    font-size: 12px;
                    width: 100%;
                    &.large{
                        font-size: 14px;
                    }
                    &.medium{
                        font-size: 12px;
                    }
                    .cost{
                        background-color: $default;
                    }
                    &.space-large{
                        bottom: 12%;
                         @include breakpoint(tabletonly) {
                          &.head{
                                margin-left: -6px;
                            }
                        }
                    }
                    &.space-medium{
                        bottom: 6%;
                    }
                }
                .count{
                    vertical-align: text-top;
                    width: 30%;
                    position: relative;
                    @include screen(ipad){
                        width: 13%;
                        display: inline-flex;
                        .vcenter{
                            margin: auto 0;
                        }
                    }
                    @include screen(desktop){
                        width: 15%;
                        display: inline-flex;
                    }
                    .divider{
                        position: absolute;
                        width:1px;
                        height: 18px;
                        left: 43px;
                        top: 0;
                    }
                    .number{
                        padding: 0;
                        margin: auto 0;
                        width: 100%;
                        min-width: 35px;
                        @include breakpoint(desktop){
                            width: 10%;
                            text-align: right;
                            position: relative;
                            margin-right: 20px
                        }
                    }
                    .prog-number{
                        text-align: center;
                    }
                    .icons{
                        width: 80%;
                    }
                    .color-collapsed{
                        color: $warning;
                    }
                    .fa-solid-person{
                        padding-right:1px;
                        font-size: 18px;
                        margin-top: 3px;
                    }
                }
                .hours{
                    text-align: left;
                    .header-icon{
                        width: 65px;
                        text-align: center;
                    }
                    .header-text{
                        padding-left: 0;
                    }
                    @include breakpoint(tablet){
                        width: 15%;
                        &.number-style{
                            text-align: left;
                            padding-left: 60px;
                        }
                    }
                }
                .rate{
                    @include breakpoint(tablet){
                        width: 15%;
                        position: relative;
                    }
                    
                    .header-icon{
                        width: 80px;
                        text-align: center;
                        @include screen(ipad){
                            width: 88px;
                            &.position{
                                width: 85px;
                            }
                        }
                    }
                    .header-text{
                        margin-left: -10px;
                        padding-left: 0;
                    }
                    .circle-wrap{
                        width: 100px;
                        margin-left: -13px;
                        &.position{
                            margin-left: -15px;
                            @include screen(ipad){
                               margin-left: -10px;
                            }
                        }
                         @include screen(ipad){
                           margin-left: -10px;
                        }
                    }
                    .total-amount{
                        margin-left: -20px;
                        z-index: 11;
                    }
                }
                .percent{
                    font-size: 14px !important;
                    text-align: left;
                    .header-icon{
                        width: 65px;
                        text-align: center;
                    }
                    .header-text{
                        padding-left: 0;
                    }
                    .circle-wrap{
                        width: 100px;
                    }
                    .total-amount{
                        margin-left: -20px;
                    }
                    @include breakpoint(tablet){
                        width: 15%;
                        &.number-style{
                            padding-left: 60px;
                        }
                    }
                }
                .bubble-cost{
                    width: 35%;
                    position: relative;
                    
                    .circle-wrap{
                        margin-left: 4px;
                        &.position{
                            margin-left:16px;
                        }
                        @include breakpoint(tabletonly) {
                          margin-left: -10px;
                          &.position{
                                margin-left:-14px;
                            }
                        }
                    }

                    @include screen(ipad){
                        width: 22%;
                    }
                    @include screen(desktop){
                        width: 15%;
                    }
                    
                }
                .cost{
                    @include breakpoint(tablet){
                        width: 10%;
                        text-align: left;
                        .header-text{
                            padding: 0 0 0 5px;
                            margin-top: -10px;
                        }
                    }
                    @include screen(ipad){
                        width: 20%;
                    }
                }
                .circle{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $dark-dark;
                    margin: auto;
                    position: relative;
                    opacity: .8;
                    .amount{
                    color: $default;
                    float: left;
                    width: 100%;
                    padding-top: 50%;
                    line-height: 1em;
                    margin-top: -0.5em;
                    text-align: center;
                    word-wrap:break-word;
                    }
                 }
                 .circle-empty{
                     background: $default;
                     border: none;
                 }
                 .circle-bg{
                     background: $primary;
                 }
                 .circle-overlay{
                     z-index: 2;
                 }
                 .total-amount{
                    color: $dark;
                    text-align: center;
                    word-wrap:break-word;
                    font-weight: 600;
                    font-size: 12px;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    padding-left: 5px;
                    @include breakpoint(tablet){
                        font-weight: 700;
                    }
                    &.large{
                        font-size: 14px;
                }
                    &.medium{
                        font-size: 12px;
                    }
                }
                 .avg-circle{
                     width: 150px;
                     height: 150px;
                 }
                 .avg-circle-bg{
                     background: $purple !important;
                 }
                 .bg-color-0{
                    background: $teal;
                }
                .bg-color-1{
                    background: $blue;
                }
                .bg-color-2{
                    background: $lime;
                }
                .bg-color-3{
                    background: $lavendar;
                }
                .bg-color-4{
                    background: $orange;
                }
                .bg-color-5{
                    background: $blue-steel;
                }
                .bg-color-6{
                    background: $pink;
                }
            }

        .animate-if.ng-enter {
            -moz-transition: all linear 0.5s;
            -o-transition: all linear 0.5s;
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
        }

        .animate-if.ng-enter,
        .animate-if.ng-leave.ng-leave-active {
          opacity:0;
        }

        .animate-if.ng-leave,
        .animate-if.ng-enter.ng-enter-active {
          opacity:1;
        }
        .section{
            &.top-div{
                position: relative;
                top: 0;
                left: 0;
            }
            &.load{
                opacity: 1;
            }
            .cursor-pointer{
                    cursor: pointer;
            }
            &.default{
                background-color: $default;
            }
            &.highlight-color{
                background-color: $gray;
            }
            .extend-footer{
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $gray;
            }
           
            .border-color-0{
                border-color: $teal;
            }
            .border-color-1{
                border-color: $blue;
            }
            .border-color-2{
                border-color: $lime;
            }
            .border-color-3{
                border-color: $lavendar;
            }
            .border-color-4{
                border-color: $orange;
            }
            .border-color-5{
                border-color: $blue-steel;
            }
            .border-color-6{
                border-color: $pink;
            }
        }

    }
}
