@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.positionFTE .headcount-align {
  text-align: right;
}
@media (min-width: 1167px) {
  .positionFTE .headcount-align {
    text-align: left;
  }
}
.positionFTE .mobile-padding {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .positionFTE .mobile-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.positionFTE .mobile-padding-left-0 {
  padding-left: 0;
}
@media (min-width: 1167px) {
  .positionFTE .mobile-padding-left-0 {
    padding-left: 15px;
  }
}
.positionFTE .mobile-padding-left-15 {
  padding-left: 15px;
}
.positionFTE .mobile-padding-right-0 {
  padding-right: 0;
}
@media (min-width: 1167px) {
  .positionFTE .mobile-padding-right-0 {
    padding-right: 15px;
  }
}
.positionFTE .mobile-margin {
  margin-left: -10px;
}
.positionFTE .mobile-padding-between {
  padding-right: 6px;
}
.positionFTE .page-content .headers {
  padding: 5px;
  color: #403841;
  font-size: 11px;
  font-weight: 600;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .headers {
    padding: 5px 20px;
  }
}
.positionFTE .page-content .headers .left-space {
  padding-left: 35px;
}
.positionFTE .page-content .content {
  padding: 5px;
  color: #403841;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.positionFTE .page-content .content.content-head {
  min-height: 140px;
}
.positionFTE .page-content .content.row-content {
  padding: 10px 10px 10px 5px;
  height: 50px;
  padding-left: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content.row-content {
    border-left: 1px solid #00447E;
    padding-left: 0;
    height: unset;
  }
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content.row-content {
    border-left: 1px solid #00447E;
    padding-left: 0;
  }
}
@media only screen and (min-width: 1168px) {
  .positionFTE .page-content .content.row-content {
    height: unset;
  }
}
.positionFTE .page-content .content.hover-effect:hover {
  background-color: #e8e8e8;
}
.positionFTE .page-content .content.padding-left {
  padding-left: 5px !important;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content {
    padding: 0 20px 0 0;
    font-size: 14px;
    margin-left: 50px;
  }
}
.positionFTE .page-content .content .section-indicator {
  border-left: 1px solid #00447E;
  position: absolute;
  bottom: -1px;
  height: 40px;
}
.positionFTE .page-content .content .left-space {
  padding-left: 35px;
}
.positionFTE .page-content .content.highlight {
  border: 1px solid #403841;
}
.positionFTE .page-content .content .cursor-pointer {
  cursor: pointer;
}
.positionFTE .page-content .content .vcenter {
  vertical-align: middle;
  float: none;
  margin: auto;
}
.positionFTE .page-content .content .section-person .fa-solid-person.large {
  font-size: 86px;
}
.positionFTE .page-content .content .section-person .fa-solid-person.medium {
  font-size: 55px;
}
.positionFTE .page-content .content .section-person .fa-solid-person.small {
  font-size: 18px;
}
.positionFTE .page-content .content .section-person .fa-solid-person.very-small {
  font-size: 16px;
}
.positionFTE .page-content .content .header-icon {
  font-size: 2.85rem;
  font-weight: 700;
  color: #00447E;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .header-icon {
    font-size: 3rem !important;
  }
}
.positionFTE .page-content .content .header-icon .fa {
  font-size: 2.85rem !important;
  font-weight: 700;
  color: #00447E;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .header-icon .fa {
    font-size: 3rem !important;
  }
}
.positionFTE .page-content .content .header-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -7px;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .header-text {
    padding: 8px 0 0 12px;
    font-size: 1.143rem;
    text-transform: capitalize;
    margin-top: 0;
  }
}
.positionFTE .page-content .content .header-text .sub-text {
  font-size: 10px;
  text-transform: uppercase;
  color: #403841;
}
.positionFTE .page-content .content .number-style {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #403841;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .number-style {
    font-size: 1rem !important;
  }
}
.positionFTE .page-content .content .number-style.small {
  font-size: 12px !important;
}
.positionFTE .page-content .content .number-style.medium {
  font-size: 14px !important;
}
.positionFTE .page-content .content .fa-angle-right {
  font-size: 18px;
  color: #9e9e9e;
}
.positionFTE .page-content .content .fa-angle-left {
  font-size: 20px;
  padding-right: 7px;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .fa-angle-left {
    margin: 0 0 0 -30px;
    font-size: 40px;
  }
}
.positionFTE .page-content .content .color-0 {
  color: #1AAAA5;
}
.positionFTE .page-content .content .color-1 {
  color: #06467C;
}
.positionFTE .page-content .content .color-2 {
  color: #B5BD32;
}
.positionFTE .page-content .content .color-3 {
  color: #994F9C;
}
.positionFTE .page-content .content .color-4 {
  color: #F26130;
}
.positionFTE .page-content .content .color-5 {
  color: #1690C3;
}
.positionFTE .page-content .content .color-6 {
  color: #CA3471;
}
.positionFTE .page-content .content .name {
  color: #403841;
  width: 35%;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .name {
    width: 30%;
    font-size: 1rem;
  }
  .positionFTE .page-content .content .name .header-text {
    width: 70%;
    padding-top: 13px;
  }
  .positionFTE .page-content .content .name .header-text .text-ellipse {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .positionFTE .page-content .content .name .circle {
    margin: 5px 0 0 10px;
  }
}
@media only screen and (min-width: 1168px) {
  .positionFTE .page-content .content .name {
    max-width: 15%;
    font-size: 1rem;
  }
  .positionFTE .page-content .content .name .header-text {
    width: 65%;
    padding-top: 13px;
  }
  .positionFTE .page-content .content .name .header-text .text-ellipse {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .positionFTE .page-content .content .name .circle {
    margin: 5px 0 0 10px;
  }
}
.positionFTE .page-content .content .name.display-center {
  display: flex;
}
.positionFTE .page-content .content .name .align-center {
  margin: auto 0;
}
.positionFTE .page-content .content .name .program-name {
  width: 85%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .positionFTE .page-content .content .name .program-name {
    padding-left: 0;
  }
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .name .program-name {
    padding-left: 5px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .name .program-name {
    text-align: left;
    padding-left: 20px;
  }
}
.positionFTE .page-content .content .name .program-name.center {
  margin: auto 0;
  font-weight: 700;
}
.positionFTE .page-content .content .name .program-name.mobile-margin {
  margin-left: -10px;
}
.positionFTE .page-content .content .pos-name {
  color: #403841;
  font-size: 12px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .positionFTE .page-content .content .pos-name {
    font-size: 14px;
  }
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .pos-name {
    padding-left: 35px;
  }
}
.positionFTE .page-content .content .op-cost {
  opacity: 0.7;
  position: absolute;
  bottom: 2%;
  left: 0;
  z-index: 10;
  font-size: 12px;
  width: 100%;
}
.positionFTE .page-content .content .op-cost.large {
  font-size: 14px;
}
.positionFTE .page-content .content .op-cost.medium {
  font-size: 12px;
}
.positionFTE .page-content .content .op-cost .cost {
  background-color: #ffffff;
}
.positionFTE .page-content .content .op-cost.space-large {
  bottom: 12%;
}
@media (max-width: 768px) {
  .positionFTE .page-content .content .op-cost.space-large.head {
    margin-left: -6px;
  }
}
.positionFTE .page-content .content .op-cost.space-medium {
  bottom: 6%;
}
.positionFTE .page-content .content .count {
  vertical-align: text-top;
  width: 30%;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .count {
    width: 13%;
    display: inline-flex;
  }
  .positionFTE .page-content .content .count .vcenter {
    margin: auto 0;
  }
}
@media only screen and (min-width: 1168px) {
  .positionFTE .page-content .content .count {
    width: 15%;
    display: inline-flex;
  }
}
.positionFTE .page-content .content .count .divider {
  position: absolute;
  width: 1px;
  height: 18px;
  left: 43px;
  top: 0;
}
.positionFTE .page-content .content .count .number {
  padding: 0;
  margin: auto 0;
  width: 100%;
  min-width: 35px;
}
@media (min-width: 1167px) {
  .positionFTE .page-content .content .count .number {
    width: 10%;
    text-align: right;
    position: relative;
    margin-right: 20px;
  }
}
.positionFTE .page-content .content .count .prog-number {
  text-align: center;
}
.positionFTE .page-content .content .count .icons {
  width: 80%;
}
.positionFTE .page-content .content .count .color-collapsed {
  color: #F99D00;
}
.positionFTE .page-content .content .count .fa-solid-person {
  padding-right: 1px;
  font-size: 18px;
  margin-top: 3px;
}
.positionFTE .page-content .content .hours {
  text-align: left;
}
.positionFTE .page-content .content .hours .header-icon {
  width: 65px;
  text-align: center;
}
.positionFTE .page-content .content .hours .header-text {
  padding-left: 0;
}
@media (min-width: 768px) {
  .positionFTE .page-content .content .hours {
    width: 15%;
  }
  .positionFTE .page-content .content .hours.number-style {
    text-align: left;
    padding-left: 60px;
  }
}
@media (min-width: 768px) {
  .positionFTE .page-content .content .rate {
    width: 15%;
    position: relative;
  }
}
.positionFTE .page-content .content .rate .header-icon {
  width: 80px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .rate .header-icon {
    width: 88px;
  }
  .positionFTE .page-content .content .rate .header-icon.position {
    width: 85px;
  }
}
.positionFTE .page-content .content .rate .header-text {
  margin-left: -10px;
  padding-left: 0;
}
.positionFTE .page-content .content .rate .circle-wrap {
  width: 100px;
  margin-left: -13px;
}
.positionFTE .page-content .content .rate .circle-wrap.position {
  margin-left: -15px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .rate .circle-wrap.position {
    margin-left: -10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .rate .circle-wrap {
    margin-left: -10px;
  }
}
.positionFTE .page-content .content .rate .total-amount {
  margin-left: -20px;
  z-index: 11;
}
.positionFTE .page-content .content .percent {
  font-size: 14px !important;
  text-align: left;
}
.positionFTE .page-content .content .percent .header-icon {
  width: 65px;
  text-align: center;
}
.positionFTE .page-content .content .percent .header-text {
  padding-left: 0;
}
.positionFTE .page-content .content .percent .circle-wrap {
  width: 100px;
}
.positionFTE .page-content .content .percent .total-amount {
  margin-left: -20px;
}
@media (min-width: 768px) {
  .positionFTE .page-content .content .percent {
    width: 15%;
  }
  .positionFTE .page-content .content .percent.number-style {
    padding-left: 60px;
  }
}
.positionFTE .page-content .content .bubble-cost {
  width: 35%;
  position: relative;
}
.positionFTE .page-content .content .bubble-cost .circle-wrap {
  margin-left: 4px;
}
.positionFTE .page-content .content .bubble-cost .circle-wrap.position {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .positionFTE .page-content .content .bubble-cost .circle-wrap {
    margin-left: -10px;
  }
  .positionFTE .page-content .content .bubble-cost .circle-wrap.position {
    margin-left: -14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .bubble-cost {
    width: 22%;
  }
}
@media only screen and (min-width: 1168px) {
  .positionFTE .page-content .content .bubble-cost {
    width: 15%;
  }
}
@media (min-width: 768px) {
  .positionFTE .page-content .content .cost {
    width: 10%;
    text-align: left;
  }
  .positionFTE .page-content .content .cost .header-text {
    padding: 0 0 0 5px;
    margin-top: -10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .positionFTE .page-content .content .cost {
    width: 20%;
  }
}
.positionFTE .page-content .content .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2f2930;
  margin: auto;
  position: relative;
  opacity: .8;
}
.positionFTE .page-content .content .circle .amount {
  color: #ffffff;
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  word-wrap: break-word;
}
.positionFTE .page-content .content .circle-empty {
  background: #ffffff;
  border: none;
}
.positionFTE .page-content .content .circle-bg {
  background: #00AFD1;
}
.positionFTE .page-content .content .circle-overlay {
  z-index: 2;
}
.positionFTE .page-content .content .total-amount {
  color: #403841;
  text-align: center;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 5px;
}
@media (min-width: 768px) {
  .positionFTE .page-content .content .total-amount {
    font-weight: 700;
  }
}
.positionFTE .page-content .content .total-amount.large {
  font-size: 14px;
}
.positionFTE .page-content .content .total-amount.medium {
  font-size: 12px;
}
.positionFTE .page-content .content .avg-circle {
  width: 150px;
  height: 150px;
}
.positionFTE .page-content .content .avg-circle-bg {
  background: #00447E !important;
}
.positionFTE .page-content .content .bg-color-0 {
  background: #1AAAA5;
}
.positionFTE .page-content .content .bg-color-1 {
  background: #06467C;
}
.positionFTE .page-content .content .bg-color-2 {
  background: #B5BD32;
}
.positionFTE .page-content .content .bg-color-3 {
  background: #994F9C;
}
.positionFTE .page-content .content .bg-color-4 {
  background: #F26130;
}
.positionFTE .page-content .content .bg-color-5 {
  background: #1690C3;
}
.positionFTE .page-content .content .bg-color-6 {
  background: #CA3471;
}
.positionFTE .page-content .animate-if.ng-enter {
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.positionFTE .page-content .animate-if.ng-enter,
.positionFTE .page-content .animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}
.positionFTE .page-content .animate-if.ng-leave,
.positionFTE .page-content .animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}
.positionFTE .page-content .section.top-div {
  position: relative;
  top: 0;
  left: 0;
}
.positionFTE .page-content .section.load {
  opacity: 1;
}
.positionFTE .page-content .section .cursor-pointer {
  cursor: pointer;
}
.positionFTE .page-content .section.default {
  background-color: #ffffff;
}
.positionFTE .page-content .section.highlight-color {
  background-color: #f5f5f5;
}
.positionFTE .page-content .section .extend-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
}
.positionFTE .page-content .section .border-color-0 {
  border-color: #1AAAA5;
}
.positionFTE .page-content .section .border-color-1 {
  border-color: #06467C;
}
.positionFTE .page-content .section .border-color-2 {
  border-color: #B5BD32;
}
.positionFTE .page-content .section .border-color-3 {
  border-color: #994F9C;
}
.positionFTE .page-content .section .border-color-4 {
  border-color: #F26130;
}
.positionFTE .page-content .section .border-color-5 {
  border-color: #1690C3;
}
.positionFTE .page-content .section .border-color-6 {
  border-color: #CA3471;
}

/*# sourceMappingURL=positionFTE.css.map */
