﻿@import "../Common/globals";

.turnover-index {
    background-color: $default;

    .donut-outer {
        width: 240px;
        height: 240px;
        float: left;
        border-radius: 50%;
        margin: 30px 0;
        background: $gray;
    }

    .donut-inner {
        width: 150px;
        height: 150px;
        position: relative;
        top: 45px;
        left: 45px;
        background: $default;
        border-radius: 50%;
        background: $default;
    }

    .hline {
        margin: 5px 0 !important;
    }

    .head_desc {
        padding-left: 20px;
        padding-right: 20px;

        .title {
            font-weight: 700;
        }

        .fa-question {
            color: $muted;
            background: $default;
            border: 1px solid $muted;
            border-radius: 50%;
            padding: 2px 3px 3px;
            height: 20px;
            width: 20px;
            text-align: center;
            margin-right: 15px;
            cursor:pointer;
        }
    }

    .page-content {
        padding: 0;
    }

    .panel {
        border: none;
        border-radius: unset;
        box-shadow: none;

        .panel-header-txt {
            padding: 5px 5px 5px 0;
            font-size: 22px;
            font-weight: 300;
            padding-right: 0;
            color: $dark-dark;
            border-bottom: 1px solid $border;


            &.business {
                margin-left: -15px;
                margin-right: -15px;
            }

            .title {
                font-weight: 700 !important;
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
            }

            .last-updated-date {
                font-size: 13px;
                font-style: italic;
                color: $muted-dark;
                line-height: 3;
            }
        }

        .header-txt-monthly {
            padding-left: 15px !important;
            border-bottom: none !important;

            @include breakpoint(mobileonly) {
                padding-left: 30px !important;
            }
        }
    }

    .align {
        padding-left: 0;
        padding-right: 0;

        @include breakpoint(desktop) {
            padding-right: 15px;
        }

        .inner-align {
            padding-left: 0;
            padding-right: 0;

            @include breakpoint(desktop) {
                padding-left: 15px;
            }

            &.no-left {
                @include breakpoint(desktop) {
                    padding-left: 0;
                }
            }

            &.inside-label {
                position: relative;

                .show-percent {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    top: 216px;

                    @include breakpoint(tablet) {
                        top: 175px;
                    }

                    @include breakpoint(desktop) {
                        width: 50%;
                    }

                    &.style {
                        @include breakpoint(mobilephone) {
                            top: 183px;
                        }
                    }

                    .text {
                        font-size: 35px;
                        font-weight: 700;

                        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }

    .subcategory-name {
        line-height: 1.4;
    }

    .legend-txt {
        width: 61%;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;

        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
            width: 65%;
            word-break: break-all;
            font-size: 13px;
        }

        @include breakpoint(mobilephone) {
            width: 60%;
        }

        @include breakpoint(mobileonly) {
            width: 55%;
        }
    }

    .legend-txt-name {
        width: 75%;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
        display: block;
        float: left;
    }

    .legend-val {
        width: 15%;
    }

    .reasons-legend {
        margin-top: 5%;
    }

    .voluntary-legend {
        margin-top: 5%;
        text-transform: uppercase;
        .voluntary-square {
            color: $teal;
            font-size: 12px;
            padding-right: 5px;
        }

        .involuntary-square {
            color: $blue;
            font-size: 12px;
            padding-right: 5px;
        }

        .title {
            cursor: pointer;

            .highlight {
                font-weight: 700;
            }
        }

        .category {
            .item {
                cursor: pointer;

                &.active {
                    font-weight: 700;
                }
            }

            .name {
                color: $black;
                text-transform: capitalize;
            }

            .percent {
                color: $black;
            }
        }
    }

    .subtypes-legend {
        margin-top: 5%;

        .unorder-list{
            margin:10px 5px;
            display: inline-flex;
            div:first-child{
                height:7px;
                width: 7px;
                background: $gray;
            }
            div:nth-child(even){
                margin-left:10px;
                height:5px;
                width: 160px;
                background: $gray;
            }
            div:last-child{
                margin-left:50px;
                height:5px;
                width: 20px;
                background: $gray;
            }
        }
    }


    .table-head {
        @include breakpoint(mobilephone) {
            width: 50px;
            word-break: normal;
            white-space: inherit !important;
            font-size: 12px;
        }

        @include breakpoint(mobileonly) {
            padding-left: 2px;
            padding-right: 2px;
        }
    }
}


.turnover-reasons{
    padding: 20px;
    .head{
         font-size: 16px;
         font-weight: 400;
         color: $dark;
         margin-bottom:10px;
    }
    .desc{
        font-size: 14px;
        font-style: italic;
        color: $muted;
    }
    .fa-close{
        cursor: pointer;
    }
    .nav-tabs{
        margin:20px 0;
        a{
            color: $muted;
            font-weight: 600;
        }
        active{
            a{
                color: $dark !important;
                font-weight: 600 !important;
            }
            
        }
        .disabled{
            color: $muted;
            font-weight: 600;
        }
    }
    .reason{
         padding: 10px 0;
        .name{
            font-size: 14px;
            font-weight: 600;
            color:$dark;
            i{
                margin-right:15px;
                font-size: 22px;
                position: relative;
                top: 6px;
            }
        }
        .desc{
            padding: 5px 0 0 32px;
            font-style: normal;
        }
    }
}