﻿@{
    ViewBag.Title = "Turnover";
    ViewBag.HideTitleBar = true;
}


<div class="container-fluid turnover turnover-index" data-ng-controller="TurnoverIndexCtrl as vm">
    <page-header title="{{ 'Turnover' | translate }}"
                 s3-icon-name="governance.svg">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
    </page-header>
    
    <div class="row head_desc padding-top-10 padding-bottom-5">
        <p class="title pull-left">{{vm.noOfMonths}} {{'MONTH_TURNOVER_TREND' | translate}}</p>
        <i class="fa fa-question pull-right" ng-click="vm.showTurnoverReasons()"></i>
    </div>
    <div class="row">
        <hr class="hline hidden-xs" />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align">
                <!-- Monthly Trend -->
                <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6  col-sm-12 col-xs-12 inner-align">
                    <div class="panel panel-default">
                        <div class="panel-header-txt">
                            {{'ANNUAL_TURNOVER_RATE' | translate}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message"
                             data-ng-if="vm.reportsConfig.turnoverMonthlyTrend.categories.length ==0" translate>
                            No data to display
                        </div>

                        <div class="chart-wrap">
                            <sbm-hc-line-chart id="turnoverTrends" legend-click-disable="true" tool-tip-format="true" data-ng-model="vm.reportsConfig.turnoverMonthlyTrend"
                                               ng-if="vm.reportsConfig.turnoverMonthlyTrend.categories.length >= 1">
                            </sbm-hc-line-chart>

                        </div>
                    </div>
                </div>
                <!-- Top Turnover Reasons -->
                <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6  col-sm-12 col-xs-12 inner-align no-left">
                    <div class="top-turnover panel panel-default">
                        <div class="panel-header-txt">
                            {{'TOP_TURNOVER_REASONS' | translate}}
                            <span class="last-updated-date text-muted hidden-xs pull-right">( Last updated: {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                            <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated: {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                        </div>
                        <div class="row empty-wrap" ng-if="vm.reportsConfig.turoverReasonsLength == 0">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" translate>
                                No data to display
                            </div>
                        </div>
                        <div class="row chart-wrap spend-by-category-chart-wrap" ng-if="vm.reportsConfig.turoverReasonsLength > 0">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <sbm-hc-pie-chart pie-colors="{{vm.chartColors.topTurnoverReasonsChart}}" turnover-reasons-legend="true" height="300" id="turnoverReasons" data-ng-model="vm.reportsConfig.turnoverReasons"></sbm-hc-pie-chart>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 reasons-legend pull-right">
                                <div id="turnoverReasonslegendSpot"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align">
                <!-- Voluntary vs Involuntary -->
                <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12 inner-align inside-label no-left">
                    <div class="panel panel-default">
                        <div class="panel-header-txt">
                            {{'VOLUNTARY_VS_INVOLUNTARY' | translate}} 
                            <span class="last-updated-date text-muted hidden-xs pull-right">( {{'Last Updated' | translate}}: {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                            <p class="last-updated-date hidden-sm hidden-lg hidden-md">( {{'Last Updated' | translate}}: {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" ng-if="vm.voluntaryVsInvoluntaryData.length > 0">
                            <sbm-hc-pie-chart redraw-chart="vm.redraw" pie-colors="{{vm.chartColors.voluntaryVsInvoluntaryChart}}" id="voluntaryVsInvoluntary" height="300" data-ng-model="vm.reportsConfig.voluntaryVsInvoluntary">
                            </sbm-hc-pie-chart>
                        </div>
                        <div class="row empty-wrap" ng-if="vm.voluntaryVsInvoluntaryData.length <= 0">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted padding-top-40 margin-top-40" translate>
                                No data to display
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 voluntary-legend" ng-if="vm.voluntaryVsInvoluntaryData.length > 0">
                            <div class="title" ng-click="vm.showVoluntaryCategories()">
                                <span class="pull-left " ng-class="{'highlight': vm.isVoluntary}">
                                    <i class="fa fa-square voluntary-square"></i>{{'VOLUNTARY' | translate}}
                                </span>
                                <span class="pull-right" ng-class="{'highlight': vm.isVoluntary}">
                                    {{vm.turnoverCategories.voluntary.turnOverPercentage | number:2}}%
                                </span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="title" ng-click="vm.showInVoluntaryCategories()">
                                <span class="pull-left" ng-class="{'highlight': vm.isInVoluntary}">
                                    <i class="fa fa-square involuntary-square"></i>{{'INVOLUNTARY' | translate}}
                                </span>
                                <span class="pull-right percent" ng-class="{'highlight': vm.isInVoluntary}">
                                    {{vm.turnoverCategories.inVoluntary.turnOverPercentage | number:2}}%
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="show-percent" ng-if="vm.isVoluntary || vm.isInVoluntary">
                        <span id="pieChartInfoText" class="text">
                            {{vm.voluntaryInvoluntaryPercent | number : 2}}%
                        </span>
                    </div>
                </div>

                <!-- Secondary -->
                <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12 inner-align inside-label">
                    <div class="panel panel-default" ng-if="vm.isVoluntary || vm.isInVoluntary">
                        <h3 class="panel-header-txt subcategory-name">{{ vm.isVoluntary ? 'VOLUNTARY' : 'INVOLUNTARY' | translate}} </h3>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <sbm-hc-pie-chart pie-colors="{{vm.chartColors.turnoversByCateroryChart}}" voluntary-legend="true" height="300" id="voluntaryVsInvoluntaryTypes" 
                                              redraw-chart="true" data-ng-model="vm.reportsConfig.voluntaryVsInvoluntaryTypes">
                            </sbm-hc-pie-chart>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 subtypes-legend legend-align">
                            <div id="voluntarylegendSpot"></div>
                        </div>
                       
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel panel-default" ng-if="!vm.isVoluntary && !vm.isInVoluntary">
                        <h3 class="panel-header-txt subcategory-name">{{ 'SELECT_CATEGORY' | translate}} </h3>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="donut-outer">
                                <div class="donut-inner">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 subtypes-legend legend-align">
                            <div class="unorder-list" ng-repeat="n in [1,2,3,4,5,6,7] track by $index"><div></div><div></div><div></div></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
                <!-- Business Conduct Standards -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align padding-bottom-20">
                    <div class="panel panel-default inner-align no-left">
                        <div class="panel-header-txt business">
                            <span class="title margin-left-15 margin-right-15">Business Conduct Standards</span>
                        </div>
                        <div class="row empty-wrap" data-ng-if="vm.businessStandard.length == 0">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" translate>
                                No data to display
                            </div>
                        </div>
                        <div class="table-responsive" data-ng-if="vm.businessStandard.length > 0">
                            <table class="table">
                                <thead class="primary">
                                    <tr>
                                        <th class="table-head">{{'SITE_NAME' | translate}}</th>
                                        <th class="table-head">{{'I-9_COMPLIANCE' | translate}}</th>
                                        <th class="table-head">{{'BACKGROUND_CHECK' | translate}}</th>
                                        <th class="hidden-xs hidden-sm table-head">{{'DRUG_SCREENING' | translate}}</th>
                                        <th class="table-head">                                                                                     
                                        <span>{{'TURNOVER_RATE' | translate}} ({{vm.RecentMonth }})</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="item in vm.businessStandard">
                                        <td class="td-main table-head table-col-padding">{{item.SiteName}}</td>
                                        <td class="table-head">{{item.I9CompliancePercentage | number : 2}}%</td>
                                        <td class="table-head">{{item.BackgroundCheckPercentage | number : 2}}%</td>
                                        <td class="hidden-xs hidden-sm table-head">{{item.DrugScreenPercentage | number : 2}}%</td>
                                        <td class="table-head">{{item.TurnoverPercentage | number : 2}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </div>
   
</div>
