﻿<div class="dashboard">
    <div class="configuration">
        <div class="close" ng-click="vm.$scope.$close()">
            <i class="fa-close text-muted"></i>
        </div>
        <div class="col-xs-12">
            <p class="title pop-up">{{'CUSTOMIZE_DASHBOARD' | translate}}</p>
            <p class="sub-title">{{'SELECT_SUBTITLE' | translate}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="padding-top-30 padding-bottom-20 hidden-xs">
            <div class="col-xs-12 tileItem"  ng-repeat="item in vm.staticDashboardTileInfo"
                 ng-drop="true" ng-drop-success="vm.onDropCompleteOption($index, $data)" ng-mousedown="vm.ondragStartOption(item.id, item)">
                <div class="divItem" ng-class="{'no-border': $last, 'hidden': item.id == 5 && !vm.userInfo.mainRoles.timeclockviewers}" ng-drag="true" ng-drag-data="item">
                    <div class="pull-left clickable" ng-class="{'visible' : item.checked, 'not-visible' : !item.checked, 'not-editable' : !item.editable} " 
                         ng-click="vm.changeItem($index)">
                        <i class="fa fa-check" ng-if="item.checked || !item.editable"></i>
                    </div>
                    <div class="pull-left margin-left-30">
                        {{item.name | translate}}
                    </div>
                    <div class="pull-right clickable" ng-drag-handle ng-click="vm.checkDrag(item)">
                        <i class="fa fa-move" ng-class="item.dragging ? 'text-primary' : 'text-muted'"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="padding-top-30 padding-bottom-20 hidden-md hidden-lg hidden-sm">
            <div class="col-xs-12 tileItem" ng-repeat="item in vm.staticDashboardTileInfo" touch-start="vm.ondragStartOption(item.id, item)" ng-drop="true" 
                 ng-drop-success="vm.onDropCompleteOption($index, $data)" ng-mousedown="vm.ondragStartOption(item.id, item)">
                <div class="divItem" ng-class="{'no-border': $last}" ng-drag="true" ng-drag-data="item">
                    <div class="pull-left clickable" ng-class="{'visible' : item.checked, 'not-visible' : !item.checked, 'not-editable' : !item.editable} " 
                          ng-click="vm.changeItem($index)">
                        <i class="fa fa-check" ng-if="item.checked"></i>
                    </div>
                    <div class="pull-left margin-left-30">
                        {{item.name | translate}}
                    </div>
                    <div class="pull-right clickable" ng-drag-handle ng-click="vm.checkDrag(item)">
                        <i class="fa fa-move" ng-class="item.dragging ? 'text-primary' : 'text-muted'"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="btns padding-right-20 padding-left-20 padding-top-20 padding-bottom-20">
            <div class="center hidden-md hidden-lg hidden-sm">
                <div class="action cancel" ng-click="vm.$scope.$close()">
                    {{'CANCEL' | translate}}
                </div>
                <div class="action  save" ng-click="vm.saveItems()">
                    {{'SAVE' | translate}}
                </div>
            </div>
            <div class="hidden-xs ">
                <div class="action pull-right save" ng-click="vm.saveItems()">
                    {{'SAVE' | translate}}
                </div>
                <div class="action pull-right cancel" ng-click="vm.close()">
                    {{'CANCEL' | translate}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>