﻿<div ng-form="vm.createEditForm">
    <input type="hidden" ng-model="vm.attribute.AttributeId" />
    <div class="col-md-5 col-xs-6">
        <input type="text" class="form-control" placeholder="Code" title="External attribute code." required
               ng-disabled="vm.isEdit"
               ng-model="vm.attribute.Code" />
    </div>
    <div class="col-md-5 col-xs-6">
        <input type="text" class="form-control" placeholder="Name" title="Name to use for display purposes."
               ng-model="vm.attribute.Name" />
    </div>
    <div class="col-md-2 col-xs-4 save-style">
        <button class="btn btn-success btn-block"
                ng-disabled="vm.createEditForm.$invalid"
                ng-click="vm.saveAttribute()">
            Save
        </button>
    </div>

    
</div>