﻿<div ng-form="vm.createEditForm">
    <div class="form-group">
        <label for="attribute">Attribute</label>
        <select class="form-control" id="attribute" 
                ng-options="option.AttributeId as option.Code for option in vm.attributes" 
                ng-model="vm.attributeAttachment.AttributeId" ng-disabled="vm.isDisabled" required></select>
    </div>
    <div class="form-group">
        <label for="value">Value</label>
        <input type="text" class="form-control" id="value" placeholder="Value" required ng-model="vm.attributeAttachment.AttributeValue">
    </div>

    <div class="form-group">
        <label for="fileName">Custom Attachment Name</label>
        <p class="help-block">Name that will be use for display purposes.</p>
        <input type="text" class="form-control" id="fileName" placeholder="Custom Attachment Name" ng-model="vm.attributeAttachment.FileName">
    </div>

    <div class="form-group">
        <label for="attributeAttachmentFile">File input</label>
        <input type="file" id="attributeAttachmentFile" data-ng-model="vm.files[0]"
                            ngf-select/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" ng-disabled="vm.createEditForm.$invalid || (!vm.files && !vm.attributeAttachment.AttributeAttachmentId) " 
            ng-click="vm.saveAttributeAttachment()">Submit</button>
    <span ng-if="(!vm.files && !vm.attributeAttachment.AttributeAttachmentId) " class="text-danger padding-left-10">Please select file</span>
</div>