﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = "Employee Configuration";
    var jobDescriptionId = Model.Id;
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
    var isForTeam = Model.myTeam;
    var positionProfileId = Model.Id;
    var userId = Model.UserId;
}
@section title{
    <quality-tab-navigation ng-if="@Json.Encode(isForTeam) || (@positionProfileId == @userId)" icon-sub-navigation="My Profile" active="myJob"></quality-tab-navigation>
    <quality-tab-navigation ng-if="!@Json.Encode(isForTeam) && (@positionProfileId != @userId)" icon-sub-navigation="Personnel" active="positionProfile"></quality-tab-navigation>
}

<div class="container-fluid" data-ng-controller="Training.JobDescriptionConfig as vm" data-ng-init="vm.initialize(@jobDescriptionId)">

    <div class="job-description config page-content">
        <div class="row">
            @*<a href="@Url.Action("EntryView", "PositionProfile", new { Area = "Training", Id = jobDescriptionId })" class="btn back-label">
                <i class="fa-angle-left"></i> BACK TO PROFILE
            </a>*@

            <div class="well emp-profile-well">
                <div class="pull-left emp-profile-wgt">
                    <div class="circle-img pull-left">
                        <img ng-src="{{vm.currentPicture || '@Url.Content("~/content/img/user.jpg")'}}" alt="" />
                        <img id="pictureFile" ngf-src="vm.files[0]" ngf-accept="'image/*'" class="img-thumbnail" data-ng-if="vm.files.length">
                    </div>
                    <div class="row-details pull-left">
                        <p class="emp-name">{{vm.employee.Name}} </p>
                        <div class="btn btn-default" ngf-select ngf-change="vm.uploadImage(vm.employee,vm.files,$event)" ng-model="vm.files[0]">CHOOSE PHOTO</div>
                        <br />
                        <div class="btn btn-default" style="margin-top:5px;"  data-ng-disabled="!vm.currentPicture" ng-click="vm.removePhoto($event)">DELETE PHOTO</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                <label class="text-primary" for="#">Select Position</label>
                <p class="sm">Select a job position for the employee.</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="field-wrap">
                            <select class="form-control" data-ng-model="vm.employee.JobDescription.JobId" data-ng-change="vm.onSectionChange('position')" ng-options="job.JobId as job.Name for job in vm.allPositions">
                                <option value="">-Please Select One-</option>
                            </select>
                        </div>
                        <div class="btn btn-primary pull-right" data-ng-disabled="!vm.sectionChangedStates.position" data-ng-click="vm.saveEmployee($event)">
                            SAVE
                        </div>
                    </div>
                </div>
                <hr />

                <label class="text-primary" for="#">Contact Number</label>
                <div class="field-wrap">
                    <div class="input-group" style="margin-bottom: 20px; margin-top: 10px">
                        <input id="emp-phone" type="text" class="form-control" placeholder="Example: 9162322323" data-ng-model="vm.phoneNumberInput"/>
                        <div class="btn btn-primary pull-right" style="margin-top:10px" data-ng-click="vm.savePhoneNumber($event)">
                            SAVE
                        </div>
                    </div>
                </div>
                    <div class="clearfix"></div>
                    <hr />

                <label class="text-primary" for="#">Select Tasks</label>
                <p class="sm">Start typing to see already used Tasks.</p>
              
                <div class="input-group" style="margin-bottom: 20px; margin-top: 10px">
                    <input type="text" class="form-control"
                           value=""
                           data-ng-model="vm.taskInput"
                           data-ng-keyup="vm.addNewTaskItemKeyPress($event)"
                           uib-typeahead="state as state.Name for state in vm.getTasksForView($viewValue) | filter:$viewValue | limitTo:8"
                           typeahead-on-select="vm.onTaskSelection($item, $model, $label)"
                           typeahead-loading="vm.taskSelectLoading"
                           placeholder="Example: Sweeping Floors" />
                    <span class="input-group-btn">
                        <button class="btn btn-success" data-ng-click="vm.addNewTaskItem($event)"><span class="fa fa-plus"></span> Add</button>
                    </span>
                </div>
                <label class="text-primary" for="#">Assigned Tasks</label>
                <br />
                <label data-ng-if="!vm.employee.EmployeeTasks.length">None</label>
                <div class="well-clean list-group" style="min-height: 200px; margin-top: 10px">
                    <div class="list-group-item" ng-repeat="item in vm.employee.EmployeeTasks track by $index">
                        {{item.Name}}
                        <button class="btn btn-danger btn-xs pull-right" data-ng-click="vm.removeNewTaskItem($index)">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <div class="btn btn-primary pull-right" style="margin-top: 10px;" data-ng-disabled="!vm.sectionChangedStates.tasks" data-ng-click=" vm.saveEmployee($event)">
                        SAVE
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                <label class="text-primary" for="#">Select Equipment & Supplies</label>
                <p class="sm">Start typing to see already used Equipment & Supplies..</p>
                <div class="input-group" style="margin-bottom: 20px; margin-top: 10px">
                    <input type="text" class="form-control"
                           value=""
                           data-ng-model="vm.equipmentInput"
                           data-ng-keyup="vm.addNewEquipmentItemKeyPress($event)"
                           uib-typeahead="state as state.Name for state in vm.getEquipmentsForView($viewValue) | filter:$viewValue | limitTo:8"
                           typeahead-on-select="vm.onEquipmentSelection($item, $model, $label)"
                           typeahead-loading="vm.equipmentSelectLoading"
                           placeholder="Example: Broom" />
                    <span class="input-group-btn">
                        <button class="btn btn-success" data-ng-click="vm.addNewEquipmentItem($event)"><span class="fa fa-plus"></span> Add</button>
                    </span>
                </div>
                <label data-ng-if="vm.employee.EmployeeEquipment" class="text-primary" for="#">Assigned Equipment & Supplies</label>
                <br />
                <label data-ng-if="!vm.employee.EmployeeEquipment.length">None</label>
                <div class="well-clean list-group" style="min-height: 200px; margin-top: 10px">
                    <div class="list-group-item" ng-repeat="item in vm.employee.EmployeeEquipment track by $index">
                        {{item.Name}}
                        <button class="btn btn-danger btn-xs pull-right" data-ng-click="vm.removeNewEquipmentItem($index)">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <div class="btn btn-primary pull-right" style="margin-top: 10px;" data-ng-disabled="!vm.sectionChangedStates.equipments" data-ng-click=" vm.saveEmployee($event)">
                        SAVE
                    </div>
                </div>
                @*</div>*@
                @*<div class="panel-heading">
                <h3 class="no-margin">
                    Employee's Photo
                    <div class="btn btn-primary btn-sm pull-right" data-ng-disabled="!vm.files.length" ng-click="vm.uploadImage(vm.employee, vm.files, $event)">
                        <span class="fa fa-upload"></span> Save
                    </div>
                </h3>
            </div>*@
                @*<div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-5">
                            <br />
                            <img ng-src="{{vm.currentPicture}}" data-ng-if="!vm.files.length && vm.currentPicture" alt="" class="img-thumbnail" />
                            <img id="pictureFile" ngf-src="vm.files[0]" ngf-accept="'image/*'" class="img-thumbnail" data-ng-if="vm.files.length">
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div class="btn btn-default" ngf-select ng-model="vm.files">Choose a file</div>
                        </div>

                    </div>
                </div>
            </div>*@
         
        </div>
</div>
