﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = "Position Profile";
    ViewBag.HideTitle = true;
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
    ViewBag.BreadCrumbOverride.ControllerName = "Position Profiles";
    ViewBag.BreadCrumbOverride.ActionName = "Profile";

    var positionProfileId = Model.Id;
    var isForTeam = Model.myTeam;
    var userId = Model.UserId;
}

@section title{
    <page-header title="{{'Position Profile'|translate}}"
             s3-icon-name="personnel.svg"
             info-text="{{'PP_DESCRIPTION'|translate}}"
                 class="margin-horizontal-0">
</page-header>
    <my-profile-header active-link="userJob"></my-profile-header>
}

<div class="container-fluid" data-ng-controller="Training.PositionProfileEntryView as vm" data-ng-init="vm.initialize(@positionProfileId, @Json.Encode(isForTeam))">
    <div class="training job-description row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row ">
                <div class="job-description-header">
                    <div class="table-head">{{'JOB DESCRIPTION'|translate}}</div>
                    <div class="col-md-4 col-sm-4">
                        <div class="emp-sign">
                            <img data-ng-src="{{ vm.currentContract.EmployeeSignatureURL }}" data-ng-if="vm.currentContract.EmployeeSignatureURL.length" alt="Sign">
                            <div class="clearfix"></div>
                            <i class="acceptancedt">{{'ACCEPTANCEDATE:'|translate}} <b>{{(vm.currentContract.UpdateDate | date:'MM/dd/yy') || ' n/a'}}</b></i>
                            <div class="clearfix"></div>
                            <img data-ng-src="{{ vm.currentContract.SupervisorSignatureURL }}" class="supervisor-img" data-ng-if="vm.currentContract.SupervisorSignatureURL.length" alt="Sign">
                            <div class="clearfix"></div>
                            <div class="margin-bottom-20">
                                <i class="acceptancedt">{{'REVIEWER'|translate}}: </i>
                                <i class="acceptancedt">
                                    <b>{{ !vm.currentContract.SupervisorSignatureURL.length?'n/a':vm.jd.Supervisor.Name }}</b>
                                </i>
                            </div>
                        </div>
                        <!-- emp-sign -->

                    </div><!-- COL4 -->
                    <a href="@Url.Action("Index", "Settings", new {Area = "User", Id = positionProfileId, myTeam = @Json.Encode(isForTeam)})" title="Employee Configuration" ng-if="vm.isManagerRole" class="btn emp-config pull-right">
                        <i class="fa fa-cog2"></i>
                    </a>
                    <div class="pull-right hidden-xs" data-ng-if="!vm.isForTeam || vm.isManagerRole">
                        <div uib-dropdown class="pull-left">
                            <a href="javascript:void(0);" class="btn profile-print" id="print-dropdown" uib-dropdown-toggle title="Print Options" aria-haspopup="true" aria-expanded="false"><i class="fa-print"></i></a>
                            <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right" aria-labelledby="print-dropdown">
                                <li class="dropdown-header">{{"PRINTOPTIONS" | translate}}</li>
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="vm.printPositionProfile($event)">{{"PRINTPOSITIONPROFILE" | translate}}</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="vm.printPositionProfile($event,true)">Print Position Profile w/ Job Description</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7 hidden-xs hidden-sm description">
                    <div class="text-center spinner-box" ng-show="!vm.jd && !vm.loadedItems.jobDescription">
                        <span class="fa fa-spinner fa-spin"></span>
                    </div>
                    <div id="mainDescription" ng-if="vm.jd">
                        <h3 class="jd-title">{{"SUMMARY" | translate}}</h3>
                        <p class="lg content summary">
                            {{ vm.jd.JobDescription.Summary }}
                        </p>

                        <div ng-if="vm.jd.JobDescription.JobDuties.length">
                            <h3 class="jd-title ">{{"ESSENTIALDUTIESAMP" | translate}}</h3>
                            <p class="content duties-desc">
                                {{ vm.jd.JobDescription.DutySummary }}
                                <ul class="duties">
                                    <li data-ng-repeat="JobDuty in vm.jd.JobDescription.JobDuties" class="duties-desc">{{::JobDuty.Description}}</li>
                                </ul>
                            </p>
                        </div>

                        <div ng-if="vm.jd.JobDescription.SampleTasks.length">
                            <h3 class="jd-title">{{"EXAMPLEOFTASKS" | translate}}</h3>
                            <div class="content">
                                {{ vm.jd.JobDescription.SampleTaskSummary }}
                                <ul class="duties">
                                    <li data-ng-repeat="task in vm.jd.JobDescription.SampleTasks" class="tasks">{{::task.Name}}</li>
                                </ul>
                            </div>
                        </div>

                        <div data-ng-repeat="legalDescription in vm.jd.JobDescription.LegalDescriptions">
                            <h3 class="subtitle">{{ ::legalDescription.Name }}</h3>
                            <div class="content sub-text">
                                {{ ::legalDescription.Description }}
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="row-details update-padding">
                            <p class="ng-binding text-muted text-center">{{"LASTUPDATEDON" | translate}} {{::vm.jd.JobDescription.UpdateDate | date:'MM/dd/yy'}} by {{::vm.jd.JobDescription.UpdatedBy}}</p>
                        </div>
                        <div class="well well-clean sign-btn-wrap no-margin-bottom hidden-xs hidden-sm" data-ng-if="!vm.isForTeam">
                            <button data-ng-click="vm.acceptAndSign($event)" @*data-ng-class="vm.isContractCurrent?'btn-default':'btn-primary'"*@ class="btn btn-block btn-accept btn-lg btn-primary">
                                {{"ACCEPTAMPSIGN" | translate}}
                                @* TEMP removal
                                    <span data-ng-if="vm.isContractCurrent" class="fa fa-check-circle-o text-success"></span>
                                *@
                            </button>
                        </div>
                    </div>
                </div>

                @*-----SIDEBAR------*@
                <div class="col-md-5 sidebar actual-jd">
                    <div class="well actual-jd-more flat-cards no-margin-top">
                        @*------Purpose------*@
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#purpose" class="panel-header">
                                    <div class="icon"><span class="fa fa-purpose sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"PURPOSE" | translate}}</h3>
                                        <h3 class="sub-title">{{"THEVALUEOF" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="purpose" class="panel-collapse collapse in">
                                <div class="text-center spinner-box" ng-show="!vm.jd.JobDescription.Purpose.length && !vm.pageLoaded">
                                    <span class="fa fa-spinner fa-spin"></span>
                                </div>
                                <div class="panel-body desc">{{ vm.jd.JobDescription.Purpose }}</div>
                            </div>
                        </div>

                        @*------KPI------*@
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#collapseTwo" class="panel-header collapsed">
                                    <div class="icon"><span class="fa-KPIs sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"KEYPERFORMANCE" | translate}}<br>{{"INDICATORSKPI" | translate}}</h3>
                                        <h3 class="sub-title">{{"RESULTSOFMY" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="text-center spinner-box" ng-show="!vm.kpiIndicators.length && !vm.pageLoaded">
                                        <span class="fa fa-spinner fa-spin"></span>
                                    </div>
                                    <div class="row item" data-ng-repeat="i in vm.kpiIndicators">
                                        <div class="col-xs-2 status"><span class="{{::i.Icon}} type"></span></div>
                                        <div class="col-xs-10">
                                            <h3 class="text-warning">{{::i.Name}}</h3>
                                            <p>{{::i.Description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*------POSITION REQUIREMENTS formally known as Tasks------*@
                        <div class="panel panel-default" data-ng-class="{'has-error':!vm.jd.EmployeeTasks.length && vm.pageLoaded}">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#tasks" class="panel-header collapsed">
                                    <div class="icon"><span class="fa fa-tasks2 sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"POSITIONREQUIREMENTS" | translate}}</h3>
                                        <h3 class="sub-title">{{"WHATMYJOBREQUIRES" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="tasks" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="text-center" data-ng-if="!vm.jd.EmployeeTasks.length">- {{'NOPOSITIONREQUIREMENTS' | translate}} -</p>
                                    <expand-list id="expand-tasks"
                                                 data-ng-if="vm.jd.EmployeeTasks.length"
                                                 data-ng-model="vm.jd.EmployeeTasks"
                                                 data-list-class="list-block list-block-custom"
                                                 data-limit-to="5"></expand-list>
                                </div>
                            </div>
                        </div>
                        @*------Loc and Area------*@
                        <div class="panel panel-default" data-ng-class="{'has-error':(!vm.location.buildings.length || !vm.location.floors.length || !vm.location.routes.length) && vm.pageLoaded }">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#location" class="panel-header collapsed">
                                    <div class="icon"><span class="fa fa-location sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"LOCATIONAMPAREA" | translate}}</h3>
                                        <h3 class="sub-title">{{"MYWORKAREA" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="location" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="text-center spinner-box" ng-show="!vm.location.length && !vm.loadedItems.locationAndRoutes">
                                        <span class="fa fa-spinner fa-spin"></span>
                                    </div>
                                    <div class="locations" ng-if="vm.location.clientName">

                                        <b>{{vm.location.clientName}}</b>
                                        <p class="sm">{{vm.location.siteName}}</p>
                                        <hr>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p class="text-warning">{{"BUILDING:" | translate}}</p>
                                            </div>
                                            <!-- COL4 -->
                                            <div class="col-xs-8">
                                                <p><span data-ng-repeat="building in vm.location.buildings">{{building}}{{$last ? '' : ', '}}</span></p>
                                            </div><!-- COL8 -->

                                            <div class="clearfix"></div>
                                            <hr>

                                            <div class="col-xs-4">
                                                <p class="text-warning">{{"FLOORS:" | translate}}</p>
                                            </div>
                                            <!-- COL4 -->
                                            <div class="col-xs-8">
                                                <p><span data-ng-repeat="floor in vm.location.floors">{{floor}}{{$last ? '' : ', '}}</span></p>
                                            </div><!-- COL8 -->

                                            <div class="clearfix"></div>
                                            <hr>


                                            <div class="col-xs-4">
                                                <p class="text-warning">{{"AREAS:" | translate}}</p>
                                            </div>
                                            <!-- COL4 -->
                                            <div class="col-xs-8">
                                                <p><span data-ng-repeat="route in vm.location.routes">{{route}}{{$last ? '' : ', '}}</span></p>
                                            </div><!-- COL8 -->
                                        </div><!-- ROW -->
                                    </div>
                                    <div class="locations" ng-if="!vm.location.clientName">
                                        <p>No Locations</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*------Equip Supplies------*@
                        <div class="panel panel-default" data-ng-class="{'has-error':!vm.jd.EmployeeEquipment.length && vm.pageLoaded}">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#equip" class="panel-header collapsed">
                                    <div class="icon"><span class="fa fa-equipment-supplies sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"EQUIPMENT" | translate}}</h3>
                                        <h3 class="sub-title">{{"TOOLSIUSE" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="equip" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="text-center" data-ng-if="!vm.jd.EmployeeEquipment.length">- {{'NOEQUIPMENTSELECTED'|translate}} -</p>

                                    <expand-list id="expand-equip"
                                                 data-ng-if="vm.jd.EmployeeEquipment.length"
                                                 data-ng-model="vm.jd.EmployeeEquipment"
                                                 data-list-class="list-block list-block-custom"
                                                 data-limit-to="5"></expand-list>
                                </div>
                            </div>
                        </div>
                        @*------Training------*@
                        <div class="panel panel-default" data-ng-class="{'has-error':!vm.kpiIndicators.length && vm.pageLoaded}">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#training" class="panel-header collapsed">
                                    <div class="icon"><span class="fa fa-training sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"TRAINING" | translate}}</h3>
                                        <h3 class="sub-title">{{"MYREMAININGCOURSES" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="training" class="panel-collapse collapse">
                                <div class="panel-body training training-card card-content">
                                    <div class="text-center spinner-box" ng-show="!vm.employeeCourses.length && !vm.loadedItems.courses">
                                        <span class="fa fa-spinner fa-spin"></span>
                                    </div>
                                    <h3>{{vm.employeeCourses.length}}</h3>
                                    <p>{{"COURSESTOCOMPLETE" | translate}}</p>
                                    <p></p>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <expand-list id="expand-courses"
                                                 data-ng-model="vm.employeeCourses"
                                                 data-list-class="list-block list-block-custom"
                                                 data-list-item-class=""
                                                 data-limit-to="5"></expand-list>
                                </div>
                            </div>
                        </div>
                        @*------My Supervisor------*@
                        <div class="panel panel-default" data-ng-class="{'has-error': (!vm.supervisor || !vm.supervisor.Email || !vm.supervisor.PhoneNumber) && vm.pageLoaded}">
                            <div class=" panel-heading">
                                <div data-toggle="collapse" data-target="#supervisor" class="panel-header collapsed">
                                    <div class="icon"><span class="fa-my-supervisor sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"MYSUPERVISOR" | translate}}</h3>
                                        <h3 class="sub-title">{{"WHOIREPORT" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="supervisor" class="panel-collapse collapse supv-card">
                                <div class="panel-body supervisor supervisor-width-align">
                                    <div class="supv">

                                        <div class="supv-content">
                                            <div class="supv-img">
                                                <img data-ng-src="{{vm.supervisor.ProfileImage || '@Url.Content("~/content/img/user.jpg")'}}" title="{{vm.supervisor.Name}}">
                                            </div>
                                            <h4>{{ ::vm.supervisor.Name }}</h4>
                                            <p class="sm">{{ vm.supervisor.JobDescription || '' }}</p>
                                            <p>
                                                <span ng-class="{'text-error': !vm.supervisor.PhoneNumber}">{{"PHONE:" | translate}}</span> {{vm.supervisor.PhoneNumber || 'N/A'}} |
                                                <span ng-class="{'text-error': !vm.supervisor.Email}">{{"EMAIL:" | translate}}</span> <a ng-if="vm.supervisor.Email" href="mailto:{{vm.supervisor.Email}}"><i class="fa-envelope-o primary-text"></i></a><span ng-if="!vm.supervisor.Email">N/A</span>
                                            </p>
                                        </div><!-- supv-content -->

                                        <hr>
                                        <div class="clearfix"></div>


                                        <div class="supv-content">
                                            <div class="supv-img">
                                                <img data-ng-src="{{vm.supervisor.Manager.ProfileImage || '@Url.Content("~/content/img/user.jpg")'}}" alt="">
                                            </div>
                                            <h4>{{vm.supervisor.Manager.Name || 'N/A'}}</h4>
                                            <p class="sm">{{vm.supervisor.Manager.JobDescription || ''}}</p>
                                            <p>
                                                <span ng-class="{'text-error': !vm.supervisor.Manager.PhoneNumber}">{{"PHONE:" | translate}}</span> {{vm.supervisor.Manager.PhoneNumber || 'N/A'}} |
                                                <span ng-class="{'text-error': !vm.supervisor.Manager.Email}">{{"EMAIL:" | translate}}</span> <a ng-if="vm.supervisor.Manager.Email" href="mailto:{{vm.supervisor.Manager.Email}}"><i class="fa-envelope-o primary-text"></i></a><span ng-if="!vm.supervisor.Manager.Email">N/A</span>
                                            </p>
                                        </div><!-- supv-content -->
                                    </div>

                                </div>
                            </div>
                        </div>
                        @*------Handbook------*@
                        <div class="panel panel-default" ng-class="{'no-border-bottom' : !vm.unionContract.file}">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#handbook" class="panel-header collapsed">
                                    <div class="icon"><span class="fa fa-job-description sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"HANDBOOK" | translate}}</h3>
                                        <h3 class="sub-title">{{"COMPANYRULESAND" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="handbook" class="panel-collapse collapse">
                                <div class="panel-body hand-book handbook-card card-content handbook-width-align">
                                    <a href="{{vm.handbookFilenameEN}}"><i class="fa-file-pdf-o"></i> {{"DOWNLOADEMPLOYEEHAND" | translate}} (EN)</a><br />
                                    <a href="{{vm.handbookFilenameES}}"><i class="fa-file-pdf-o"></i>{{"DOWNLOADEMPLOYEEHAND" | translate}} (ES)</a>
                                </div>
                            </div>
                        </div>

                        @*------Handbook------*@

                        @*------Union Contract------*@
                        <div ng-if="vm.unionContract.file" class="panel panel-default no-border-bottom">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#unioncontract" class="panel-header collapsed">
                                    <div class="icon"><span class="fa fa-job-description sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"UNION CONTRACT" | translate}}</h3>
                                        <h3 class="sub-title">{{"UNIONCONTRACT" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="unioncontract" class="panel-collapse collapse">
                                <div class="panel-body hand-book handbook-card card-content handbook-width-align">
                                    <a href="{{vm.unionContract.file}}">
                                            <i class="fa-file-pdf-o"></i> {{vm.unionContract.fileName || ("DOWNLOADUNIONCONTRACT" | translate)}}
                                    </a><br />
                                </div>
                            </div>
                        </div>

                        @*------Handbook------*@
                        @*<div class="panel panel-default no-border-bottom">
                                <div class="panel-heading">
                                    <div data-toggle="collapse" data-target="#hotline" class="panel-header collapsed">
                                        <div class="icon"><span class="fa fa-phone sidenav-icons"></span></div>
                                        <div class="title">
                                            <h3>{{"HOTLINE" | translate}}</h3>
                                            <h3 class="sub-title">{{"FORDIRECTASSISTANCE" | translate}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div id="hotline" class="panel-collapse collapse">
                                    <div class="panel-body card-content">
                                        <p><b>1-877-235-6039</b></p> <br>
                                        <p>{{"CALLCENTERHOURS:" | translate}}</p>

                                    </div>
                                </div>
                            </div>*@

                        @*------PosProf Desc------*@
                        <div class="panel panel-default visible-xs visible-sm">
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-target="#description" class="panel-header collapsed">
                                    <div class="icon"><span class="fa fa-profile sidenav-icons"></span></div>
                                    <div class="title">
                                        <h3>{{"POSITIONPROFILE" | translate}}</h3>
                                        <h3 class="sub-title">{{"COMPLETEPOSITIONPROF" | translate}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="description" class="panel-collapse collapse">
                                <div class="panel-body jd">
                                    <div class="description" ng-bind-html="vm.fullFromElement('mainDescription')"></div>
                                </div>
                            </div>
                        </div>


                        <div class="well well-clean sign-btn-wrap no-margin-bottom visible-xs visible-sm" data-ng-if="!vm.isForTeam">
                            <button data-ng-click="vm.acceptAndSign($event)" @*data-ng-class="vm.isContractCurrent?'btn-default':'btn-primary'"*@ class="btn btn-block pf-btn-accept btn-lg btn-primary">
                                {{"ACCEPTAMPSIGN" | translate}}
                                @* TEMP removal
                                    <span data-ng-if="vm.isContractCurrent" class="fa fa-check-circle-o text-success"></span>
                                *@
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
