﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = "Position Profiles";
    ViewBag.HideTitleBar = true;
    var isForTeam = Model.myTeam;
    }


@section title{
    <quality-tab-navigation ng-if="!@Json.Encode(isForTeam)" icon-sub-navigation="Personnel" active="positionProfile"></quality-tab-navigation>
    <quality-tab-navigation ng-if="@Json.Encode(isForTeam)" icon-sub-navigation="My Profile" active="myTeam"></quality-tab-navigation>
}

<div class="container-fluid position-profile" data-ng-controller="Training.PositionProfileIndex as vm" data-ng-init="vm.initialize(@Json.Encode(isForTeam))">
    <page-header title="{{'Position Profiles'|translate}}"
                 s3-icon-name="personnel.svg"
                 info-text="{{'PP_DESCRIPTION'|translate}}">
    </page-header>
    <div class="training job-description page-content no-padding">

            <div class="row">

                <div class="col-md-12 well well-table">
                    <div class="row padding-horizontal-40 padding-vertical-20">

                        <div class="col-md-6 hidden-sm hidden-xs no-padding">
                            <div class="head-desc">
                                
                                <p translate="PP_DESCRIPTION">View an employee’s Position Profile status. Click on an employee’s name to view their profile.</p>
                                <div class="clearfix"></div>
                            </div><!-- ev-i-wrap -->
                        </div><!-- col-md-4 -->
                        
                        <div class="col-md-4 col-md-offset-2 sep-results padding-top-20" visible-managers>
                            <div class="row">
                                <div class="col-xs-4 clickable sep-tab stats tab-height-mob" data-ng-click="vm.applyFilter($event, 3)" data-ng-class="{'active-sep':vm.appliedFilter === 3}">
                                    <b class="text-warning">{{vm.counts.newHires}}</b>
                                    <p class="sm">New<br /> Hires</p>
                                </div>
                                <div class="col-xs-4 clickable sep-tab stats tab-height-mob" data-ng-click="vm.applyFilter($event, 1)" data-ng-class="{'active-sep':vm.appliedFilter === 1}">
                                    <b class="text-success">{{vm.counts.assigned}}</b>
                                    <p class="sm">Assigned <br />  Profiles</p>
                                </div>
                                <div class="col-xs-4 clickable sep-tab stats no-border tab-height-mob" data-ng-click="vm.applyFilter($event, 2)" data-ng-class="{'active-sep':vm.appliedFilter === 2}">
                                    <b class="danger-text">{{vm.counts.missing}}</b>
                                    <p class="sm">Incomplete <br />Profiles</p>
                                </div>
                            </div><!-- ROW -->
                        </div><!-- COL6 -->
                    </div>

                    <div class="col-md-12  employee-list" >
                        <div class="primary table-head">
                            <h5 class="pull-left hidden-sm hidden-xs">EMPLOYEE</h5>
                            <div class="col-lg-6 col-md-10 right">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-sm-12 padding-right">
                                        <div class="input-group pull-right">
                                            <input type="text" value="" ng-model="empFilter" class="form-control input-sm filter search-box" data-ng-class="{'has-text':empFilter.length}" placeholder="Find Employee">
                                            <a href="javascript:void(0);" class="input-group-addon" ng-hide="!empFilter.length" title="clear filter" data-ng-click="empFilter = ''">
                                                <span class="fa fa-times"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div>

                            <p class="text-center empty-msg" data-ng-if="!vm.employeesFiltered.length">
                                No employees in this category
                            </p>
                            <a href="@Url.Content("~/Training/PositionProfile/EntryView/"){{ ::employee.EmployeeId }}/?myTeam={{vm.isForTeam}}&CE_ID={{employee.EmployeeId}}" class="itemrow" data-ng-repeat="employee in vm.employeesFiltered | filter:empFilter">
                                <div class="emp-row">

                                    <div class="pull-left employee">
                                        <div class="circle-img pull-left" ng-hide="false">
                                            <img ng-src="{{ ::employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{::employee.Name}}" />
                                        </div><!-- Circle-image -->

                                        <div class="emp-details pull-left" ng-hide="false">
                                            <p class="emp-name">{{ ::employee.Name }} <i ng-if="!employee.IsComplete" title="{{::employee.Status}}" class="fa fa-times-circle-o icon-times-circle-o danger-text text-danger"></i></p>
                                            <span class="emp-title">{{ ::employee.JobDescription.Name }}</span>
                                            <p class="hire-date">Start Date:<span ng-if="employee.isNewHire" class="text-warning">{{ employee.HireDate }}</span> <span ng-if="!employee.isNewHire">{{ employee.HireDate }}</span> </p>
                                            <p class="filler" data-ng-if="!employee.JobDescription.Name">&nbsp;</p>
                                        </div><!-- emp-details -->

                                    </div><!-- pull-left -->

                                    <div class="pull-right jd-status">
                                        <i class="fa-angle-right"></i>
                                    </div><!-- PULL-RIGHT -->

                                    <div class="clearfix"></div>

                                </div>

                            </a>
                        </div>

                    </div>

                </div>

            </div>

        
    </div>
</div>
