﻿<div class="modal-header">
    <h3 class="modal-title" translate="ACCEPTAMPSIGN">
        ACCEPT & SIGN
    </h3>
    <div class="close-btn" data-ng-click="vm.$scope.$close()"><i class="fa-close"></i></div>
</div>
<div class="modal-body" data-ng-form="vm.$scope.acceptandsignForm">
    <div class="accept-form-wrapper" data-ng-show="!vm.isSignPadVisible">
        <p>{{"IHERBYACKNOW:"|translate}}</p>
        <em>({{"PLEASECHECKALL"|translate}})</em>
        <div class="clearfix"></div>
        <table class="table jd-sign-terms">
            <tbody>
            <tr>
                <th class="check-row" scope="row">
                    <input type="checkbox" data-ng-model="purpose" id="Purpose-check-sign">
                </th>
                <td>
                    <label for="Purpose-check-sign">
                        <b>{{"PURPOSE" | translate}}</b>
                        <br>
                        <p translate="THEVALUEOF">The value of my job</p>
                    </label>
                </td>
            </tr>

            <tr>
                <th class="check-row" scope="row"><input type="checkbox" data-ng-model="kpi" id="kpi-check-sign" required></th>
                <td>
                    <label for="kpi-check-sign">
                        <b>{{"KEYPERFORMANCE" | translate}} {{"INDICATORSKPI" | translate}}</b>
                        <br>
                        <p>{{"RESULTSOFMY" | translate}}</p>
                    </label>
                </td>
            </tr>

            <tr>
                <th class="check-row" scope="row"><input type="checkbox" data-ng-model="training" id="training-check-sign" required></th>
                <td>
                    <label for="training-check-sign">
                        <b>{{"TRAINING" | translate}}</b>
                        <br>
                        <p>{{'MYCOURSES'|translate}}</p>
                    </label>
                </td>
            </tr>

            <tr>
                <th class="check-row" scope="row"><input type="checkbox" data-ng-model="location" id="location-check-sign" required></th>
                <td>
                    <label for="location-check-sign">
                        <b>{{"LOCATIONAMPAREA" | translate}}</b>
                        <br>
                        <p>{{"MYWORKAREA" | translate}}</p>
                    </label>
                </td>
            </tr>

            <tr>
                <th class="check-row" scope="row"><input type="checkbox" data-ng-model="tasks" id="tasks-check-sign" required></th>
                <td>
                    <label for="tasks-check-sign">
                        <b>{{"TASKS" | translate}}</b>
                        <br>
                        <p>{{"WHATIDO" | translate}}</p>
                    </label>
                </td>
            </tr>

            <tr>
                <th class="check-row" scope="row"><input type="checkbox" data-ng-model="equipment" id="equipment-check-sign" required></th>
                <td>
                    <label for="equipment-check-sign">
                        <b>{{"EQUIPMENTAMPSUPPLIES" | translate}}</b>
                        <br>
                        <p>{{"TOOLSIUSE" | translate}}</p>
                    </label>
                </td>
            </tr>

            <tr>
                <th class="check-row" scope="row"><input type="checkbox" data-ng-model="supervisor" id="supv-check-sign" required></th>
                <td>
                    <label for="supv-check-sign">
                        <b>{{"MYSUPERVISOR" | translate}}</b>
                        <br>
                        <p>{{"WHOIREPORT" | translate}}</p>
                    </label>
                </td>
            </tr>

            <tr>
                <th class="check-row" scope="row"><input type="checkbox" data-ng-model="description" id="jd-check-sign" required></th>
                <td>
                    <label for="jd-check-sign">
                        <b>{{"JOBDESCRIPTION" | translate}}</b>
                        <br>
                        <p>{{"COMPLETEDETAIL" | translate}}</p>
                    </label>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="alert alert-danger" ng-messages="vm.$scope.acceptandsignForm.$error" ng-if="vm.$scope.acceptandsignForm.$invalid">
            <p ng-message="required">{{"YOUMUSTREVIEW" | translate}}</p>
        </div>
        <hr>
        <div class="btns">
            <button class="lightbox-btn close-light btn btn-warning btn-block btn-lg" data-ng-disabled="vm.$scope.acceptandsignForm.$invalid || vm.employeeSignatureDone" data-ng-click="vm.showSignPad()">
                {{"ADDEMPLOYEESIGNATURE" | translate}} <span data-ng-if="vm.employeeSignatureDone" class="fa fa-check text-success"></span>
            </button>
            <button class="lightbox-btn close-light btn btn-default btn-block btn-lg" data-ng-disabled="vm.$scope.acceptandsignForm.$invalid || !vm.employeeSignatureDone" data-ng-click="vm.showSignPad(true)">
                {{"ADDSUPERVISORSIGNATURE" | translate}}
            </button>
        </div><!-- btns -->
    </div>
    <!--------Signature Box-------->
    <div class="signature-wrapper" data-ng-show="vm.isSignPadVisible">
        <p class="text-center"><strong>{{vm.signersName}}</strong></p>
        <p class="text-muted text-center">{{"PLEASESIGNBELOW" | translate}}</p>
        <div class="row">
            <div class="">
                <canvas class="full-screen-signature-pad" ng-signature-pad="signature"></canvas>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn btn-default btn-sm" data-ng-click="vm.clearSignPad(signature)">{{"CLEARSIGNATURE" | translate}}</button>
        </div>
        <hr />
        <div class="row padding">
            <div class="col-xs-6">
                <a class="btn btn-block btn-default" href="javascript:void(0);" data-ng-click="vm.closeSignPad(signature)"><span class="fa fa-close"></span> {{"CLOSE"|translate}}</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-block btn-success" href="javascript:void(0);" data-ng-click="vm.submitSignPad(signature,vm.isSupervisor)"><span class="fa fa-save"></span> {{"SAVE" | translate}}</a>
            </div>
        </div>
    </div>
   
</div>
