﻿<style>
    @media print{@page {size: landscape}}
    .page
    {
     page-break-after: always;
    }
    body{font-size:100%}
    .info p,h2 {
        margin-bottom:2px;
    }

    h5{font-size:12px;}
    span {
    font-size: 90%;
}
    
</style>


<div class="page" data-ng-repeat="item in scoreCardItems">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4>SEP Scorecard</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2">
            <div class="circle-img pull-left" ng-hide="false">
                <img ng-src="{{ ::item.ProfileImage }}" alt="{{::item.Name}}" />
            </div><!-- Circle-image -->
        </div>
        <div class="col-md-8 col-xs-8 info">
            <h2 style="margin-top:0">{{::item.Name}}</h2>
            <p>
                <strong>Evaluation Date: </strong> {{::item.evaluationStartDate | date : 'MM/01/yyyy'}} - {{::item.evaluationEndDate | date : 'MM/dd/yyyy'}}
            </p>
            <p>
                <strong>Site: </strong> {{item.site.Name}}
            </p>
            <p>
                <strong>Position: </strong> {{::item.JobDescription}}
            </p>
        </div>
        <div class="col-md-2 col-xs-2">
            <div class="fa fa-3x">
                <h3 class="text-muted" style="display: inline;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Bonus:</h3> <span class="text-success">{{item.BonusAmount}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered">
            <tr >
                <th class="bg-primary" style="width: 200px; max-width:200px;min-width:200px;">Key Performance Indicator</th>
                <th class="bg-primary" style="width:28%">Goal</th>
                <th class="bg-primary" style="width: 10%;max-width: 110px;">Pass/Fail</th>
                <th class="bg-primary" style="width:55%">Comments</th>
            </tr>
            <tr ng-repeat="kpi in item.EmployeeKpis">
                <td style="font-size:17px">
                    <span ng-class="kpi.Kpi.Icon"></span>
                    <span style="display: inline-block"> {{ kpi.Kpi.Name }}</span>
                </td>
                <td>
                    <h5 >
                        {{ kpi.Kpi.Summary }}
                    </h5>
                </td>
                <td>
                    <div ng-if="kpi.IsPass" class="text-success">
                        <span class="fa-checkMark" style="width: 15px;text-align:center"></span>
                        <span>PASS</span>
                    </div>
                    <div ng-if="!kpi.IsPass" class="text-danger">
                        <span class="fa fa-exclamation " style="width: 15px;text-align:center"></span>
                        <span>FAIL</span>
                    </div>
                </td>
                <td>{{kpi.Comment || kpi.PositiveComment || ""}}</td>
            </tr>
        </table>
    </div>

    <div class="row ">

    </div>
</div>