﻿<style>
    @media print {
        @page {
            size: letter;
        }
    }

    .page-break {
        page-break-after: always;
    }

    .page-break-auto {
        page-break-after: auto;
    }

    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    .training .description h3, .training .sidebar h3, .training .page-title h3 {
        line-height: 20px;
    }

    .icon {
        float: left;
        margin-right: 10px;
    }

    .training .sidebar h3.sub-title {
        color: black;
        font-size: 11px;
        text-transform: none;
        font-style: italic;
        line-height: 0;
        margin-bottom: 0;
    }

    h3 {
        line-height: 0;
        margin: 0;
        padding: 0;
    }

    .training .description h3, .training .sidebar h3, .training .page-title h3 {
        font-size: 13px;
    }

    .training .kpis h3 {
        font-size: 11px;
    }

    .title {
        float: left;
        /* clear: left; */
    }

    .emp-profile-wgt p {
        margin-bottom: 0;
    }

    .emp-profile-wgt .emp-name {
        font-size: 20px;
    }

    .type {
        font-size: 28px;
        color: #aaaaaa;
    }

    .locations p {
        margin: 0;
        padding: 0;
    }

    .kpis h3 {
        line-height: 14px;
    }

    .kpis .item {
        padding-bottom: 10px;
    }

    .job-description .description {
        font-size: 12px;
    }

    .job-description .well.emp-profile-well.emp-profile-lg .circle-img {
        margin: 0;
        width: 60px;
        height: 60px;
        position: absolute;
    }

    .job-description .well.emp-profile-well.emp-profile-lg .emp-name {
        margin-bottom: 0;
        margin-top: 0;
    }

    .job-description .well.emp-profile-well.emp-profile-lg .row-details {
        margin-left: 10px;
        padding-left: 60px;
        text-align: left;
    }

    .job-description .panel-body {
        margin: 10px 0 0;
        font-size: 12px;
        line-height: 12px;
        padding-top: 0;
        padding-bottom: 7px;
        margin-top: 2px;
    }

        .job-description .panel-body p {
            font-size: 11px;
            line-height: normal;
        }

        .job-description .panel-body b {
            font-size: 13px;
            line-height: normal;
        }

    .job-description .supv-card .supv h4 {
        font-size: 11px;
        line-height: normal;
    }

    .job-description .sidebar .panel-body .item {
        margin-bottom: 0;
    }

    .job-description .well.emp-profile-well.emp-profile-lg p.sm {
        padding-left: 0;
        margin-left: 0;
    }

    .emp-profile-wgt .row-details, .emp-row .row-details {
        margin-left: 10px;
        padding-left: 60px;
    }

    .job-description .sidebar .panel-body.training ul {
        border: none;
        list-style: disc;
    }

        .job-description .sidebar .panel-body.training ul li {
            border-bottom: none;
        }

        .job-description .actual-jd .list-block li, .job-description .sidebar .panel-body.training ul li {
            padding-left: 17px !important;
            position: relative;
            line-height: normal !important;
            border: 0 !important;
            padding-top: 2px;
        }

    .job-description .card-content hr, .job-description .panel-body hr {
        margin: 2px auto;
    }

    .job-description .sidebar .panel-body.supervisor p {
        font-size: 12px;
        margin-bottom: 0;
    }

    .description p, .description li {
        font-size: 11px !important;
        margin-bottom: 0;
        line-height: normal;
    }

    .description ul {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .description h3 {
        margin-bottom: 5px !important;
        line-height: normal !important;
        padding: 0 !important;
        margin-top: 5px !important;
    }

        .description h3.subtitle {
            font-size: 11px !important;
            margin-bottom: 5px !important;
        }

    .description .content {
        font-size: 11px;
    }

    .margin-bottom {
        margin-bottom: 18px;
    }

    .colum-md-6 {
        min-height: 200px;
    }
</style>
<div class="page training job-description">
    <div class="row">

        <div class=" emp-profile-well emp-profile-lg">
            <div class="pull-left">
                <div class="emp-profile-wgt">
                    <div class="circle-img">
                        <img data-ng-src="{{ ::vm.jd.ProfileImage }}" />
                    </div><!-- Circle-image -->

                    <div class="row-details">
                        <p class="emp-name">{{ ::vm.jd.Name }}</p>
                        <p class="emp-title">{{ ::vm.jd.JobDescription.Name }}</p>
                        <p class="sm">{{"STARTDATE:" | translate}} {{ ::vm.jd.HireDate | date:'MMM dd, yyyy'}}</p>
                    </div><!-- emp-details -->
                </div><!-- pull-left -->
            </div><!-- COL8 -->

            <div class="pull-right">
                <div class="emp-sign text-center">
                    <strong>{{"POSITIONPROFILE" | translate}}</strong>
                </div><!-- emp-sign -->

            </div><!-- COL4 -->
        </div><!-- ROW -->

        <div class="clearfix"></div>

    </div>

    <div class="row" style="border-top: 1px solid #888;padding-top: 15px;">
        <!-----SIDEBAR------>
        <div class="sidebar actual-jd">
            <div class="well well-clean actual-jd-more flat-cards no-margin-top">

                <!------Purpose------>
                <div class="row col-md-12 margin-bottom">
                    <div data-target="#purpose" class="row col-md-12">
                        <div class="icon"><span class="fa fa-target sidenav-icons"></span></div>
                        <div class="title">
                            <h3>{{"PURPOSE" | translate}}</h3>
                            <h3 class="sub-title">{{"RESULTSOFMY" | translate}}</h3>
                        </div>
                    </div>
                    <div id="purpose" class="row col-md-12">
                        <div class="panel-body">{{ vm.jd.JobDescription.Purpose }}</div>
                    </div>
                </div>

                <!------KPI------>
                <div class="row col-md-12 margin-bottom">
                    <div data-target="#Two" class="row col-md-12 page-break-auto">
                        <div class="icon"><span class="fa-dashboard3 sidenav-icons"></span></div>
                        <div class="title">
                            <h3>
                                {{"KEYPERFORMANCE" | translate}} {{"INDICATORSKPI" | translate}}
                            </h3>

                            <h3 class="sub-title">{{"RESULTSOFMY" | translate}}</h3>
                        </div>
                    </div>

                    <div id="Two" class="row col-md-12">
                        <div class="panel-body kpis">
                            <div class="col-xs-6 col-md-6 item" data-ng-repeat="i in vm.kpiIndicators">
                                <div class="col-xs-1 no-margin no-padding status"><span class="{{::i.Icon}} type"></span></div>
                                <div class="col-xs-11">
                                    <h3 class="text-warning">{{::i.Name}}</h3>
                                    <p>{{::i.Desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!------Training------>
                <div class="colum-md-6 col-xs-6 no-padding-left" data-ng-class="{'has-error':!vm.kpiIndicators.length && vm.pageLoaded}">

                    <div data-target="#training" class="row col-md-12">
                        <div class="icon"><span class="fa fa-training sidenav-icons"></span></div>
                        <div class="title">
                            <h3>{{"TRAINING" | translate}}</h3>
                            <h3 class="sub-title">{{"MYREMAININGCOURSES" | translate}}.</h3>
                        </div>
                    </div>

                    <div id="training" class="row col-md-12">
                        <div class="panel-body training training-card card-content">
                            <p>
                                <h3>8</h3>
                            <p>{{"COURSESTOCOMPLETE" | translate}}</p>
                            <div class="clearfix"></div>
                            </p>
                            <ul class="list-block list-block-custom">
                                <li class="col-xs-6 col-md-6" data-ng-repeat="item in vm.kpiIndicators">
                                    {{item.Name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!------Loc and Area------>
                <div class="colum-md-6 col-xs-6 no-padding-right">
                    <div data-target="#location" class="row col-md-12" data-ng-class="{'has-error':(!vm.location.buildings.length || !vm.location.floors.length || !vm.location.routes.length) && vm.pageLoaded }">
                        <div class="icon"><span class="fa fa-location sidenav-icons"></span></div>
                        <div class="title">
                            <h3>{{"LOCATIONAMPAREA" | translate}}</h3>
                            <h3 class="sub-title">{{"MYWORKAREA" | translate}}</h3>
                        </div>
                    </div>

                    <div id="location" class="row col-md-12">
                        <div class="panel-body">
                            <div class="locations" ng-if="vm.location.clientName">

                                <b>{{vm.location.clientName}}</b>
                                <p class="sm">{{vm.location.siteName}}</p>

                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="text-warning">{{"BUILDING:" | translate}}:</p>
                                    </div><!-- COL4 -->
                                    <div class="col-xs-9">
                                        <p><span data-ng-repeat="building in vm.location.buildings">{{building}}{{$last ? '' : ', '}}</span></p>
                                    </div><!-- COL8 -->

                                    <div class="clearfix"></div>
                                    <hr>

                                    <div class="col-xs-3">
                                        <p class="text-warning">{{"FLOORS:" | translate}}</p>
                                    </div><!-- COL4 -->
                                    <div class="col-xs-9">
                                        <p><span data-ng-repeat="floor in vm.location.floors">{{floor}}{{$last ? '' : ', '}}</span></p>
                                    </div><!-- COL8 -->

                                    <div class="clearfix"></div>
                                    <hr>


                                    <div class="col-xs-3">
                                        <p class="text-warning">{{"AREAS:" | translate}}</p>
                                    </div><!-- COL4 -->
                                    <div class="col-xs-9">
                                        <p><span data-ng-repeat="route in vm.location.routes">{{route}}{{$last ? '' : ', '}}</span></p>
                                    </div><!-- COL8 -->
                                </div><!-- ROW -->
                            </div>
                            <div class="locations" ng-if="!vm.location.clientName">
                                <p>No Locations</p>
                            </div>
                        </div>


                    </div>
                </div>

                <!------My Supervisor------>
                <div class="col-xs-6 colum-md-6 no-padding-left" data-ng-class="{'has-error': (!vm.supervisor || !vm.supervisor.Email || !vm.supervisor.PhoneNumber) && vm.pageLoaded}">

                    <div data-target="#supervisor" class="row col-md-12">
                        <div class="icon"><span class="fa-supv4 sidenav-icons"></span></div>
                        <div class="title">
                            <h3>{{"MYSUPERVISOR" | translate}}</h3>
                            <h3 class="sub-title">{{"WHOIREPORT" | translate}}</h3>
                        </div>
                    </div>

                    <div id="supervisor" class="supv-card">
                        <div class="panel-body supervisor">
                            <div class="supv">

                                <div class="supv-content">
                                    <div class="supv-img">
                                        <img data-ng-src="{{vm.supervisor.ProfileImage}}" title="{{vm.supervisor.Name}}">
                                    </div>
                                    <h4>{{ ::vm.supervisor.Name }}</h4>
                                    <p class="sm">{{ vm.supervisor.JobDescription || '' }}</p>
                                    <p>
                                        <span ng-class="{'text-error': !vm.supervisor.PhoneNumber}">{{"PHONE:" | translate}}</span> {{vm.supervisor.PhoneNumber || 'N/A'}} |
                                        <span ng-class="{'text-error': !vm.supervisor.Email}">{{"EMAIL:" | translate}}</span> <span ng-if="vm.supervisor.Email">{{vm.supervisor.Email}}</span><span ng-if="!vm.supervisor.Email">N/A</span>
                                    </p>
                                </div><!-- supv-content -->
                                <div class="clearfix"></div>
                                <div class="supv-content">
                                    <div class="supv-img">
                                        <img data-ng-src="{{vm.supervisor.Manager.ProfileImage}}" alt="">
                                    </div>
                                    <h4>{{vm.supervisor.Manager.Name || 'N/A'}}</h4>
                                    <p class="sm">{{vm.supervisor.Manager.JobDescription || ''}}</p>
                                    <p>
                                        <span ng-class="{'text-error': !vm.supervisor.Manager.PhoneNumber}">{{"PHONE:" | translate}}</span> {{vm.supervisor.Manager.PhoneNumber || 'N/A'}}<br />
                                        <span ng-class="{'text-error': !vm.supervisor.Manager.Email}">{{"EMAIL:" | translate}}</span> <span ng-if="vm.supervisor.Manager.Email">{{vm.supervisor.Manager.Email}}</span><span ng-if="!vm.supervisor.Manager.Email">N/A</span>
                                    </p>
                                </div><!-- supv-content -->
                            </div>

                        </div>
                    </div>
                </div>


                <!------Hotline------>
                <div class="col-xs-6 colum-md-6 no-border-bottom no-padding-right">

                    <div data-target="#hotline" class="row col-md-12">
                        <div class="icon"><span class="fa fa-phone sidenav-icons"></span></div>
                        <div class="title">
                            <h3>{{"HOTLINE" | translate}}</h3>
                            <h3 class="sub-title">{{"FORDIRECTASSISTANCE" | translate}}</h3>
                        </div>
                    </div>

                    <div id="hotline" class="row col-md-12">
                        <div class="panel-body card-content">
                            <p>
                                <b>1-877-235-6039</b>
                            </p>
                            <p>{{"CALLCENTERHOURS:" | translate}}</p>

                        </div>
                    </div>
                </div>

                <div class="">

                    <div class="page-break "></div>
                    <!------Tasks------>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 margin-bottom">
                            <div data-target="#tasks" class="col-md-12" data-ng-class="{'has-error':!vm.jd.EmployeeTasks.length && vm.pageLoaded}">
                                <div class="icon"><span class="fa fa-list sidenav-icons"></span></div>
                                <div class="title">
                                    <h3>{{"TASKS" | translate}}</h3>
                                    <h3 class="sub-title">{{"WHATIDO" | translate}}.</h3>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div id="tasks" class="col-md-12">
                                <div class="panel-body">
                                    <p class="text-center" data-ng-if="!vm.jd.EmployeeTasks.length">- There is no tasks -</p>
                                    <div class="clearfix"></div>
                                    <ul class="list-block list-block-custom list-inline">
                                        <li data-ng-repeat="item in vm.jd.EmployeeTasks" class="col-xs-6">
                                            {{item.Name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>



                    <!------Equip Supplies------>
                    <div data-ng-class="{'has-error':!vm.jd.EmployeeEquipment.length && vm.pageLoaded}">

                        <div data-target="#equip" class="row col-md-12">
                            <div class="icon"><span class="fa fa-tool sidenav-icons"></span></div>
                            <div class="title">
                                <h3>{{"EQUIPMENTAMPSUPPLIES" | translate}}</h3>
                                <h3 class="sub-title">{{"TOOLSIUSE" | translate}}</h3>
                            </div>
                        </div>

                        <div id="equip" class="row col-md-12">
                            <div class="panel-body">
                                <p class="text-center" data-ng-if="!vm.jd.EmployeeEquipment.length">- There is no equipment or supplies -</p>

                                <ul class="list-block list-block list-inline">
                                    <li class="col-xs-6 col-md-6" data-ng-repeat="item in vm.jd.EmployeeEquipment">
                                        {{item.Name}}
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>






                </div>
            </div>
            <div class="clearfix"></div>
            <!--------PAGE BREAK-------->
            <div class="page-break " data-ng-if="includeJobDesc"></div>

            <div class="col-md-12 description" data-ng-if="includeJobDesc">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="jd-title">{{"SUMMARY" | translate}}</h3>
                        <p class="lg content">
                            {{ ::vm.jd.JobDescription.Summary }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="vm.jd.JobDescription.JobDuties.length">
                            <h3 class="jd-title">{{"ESSENTIALDUTIESAMP" | translate}}</h3>
                            <p class="content">
                                {{ ::vm.jd.JobDescription.DutySummary }}
                                <ul class="duties">
                                    <li data-ng-repeat="JobDuty in vm.jd.JobDescription.JobDuties">{{::JobDuty.Description}}</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="vm.jd.JobDescription.SampleTasks.length">
                            <h3 class="jd-title">{{"EXAMPLEOFTASKS" | translate}}</h3>
                            <div class="content">
                                {{ ::vm.jd.JobDescription.SampleTaskSummary }}
                                <ul class="duties">
                                    <li data-ng-repeat="task in vm.jd.JobDescription.SampleTasks">{{::task.Name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="jd-title">{{"LEGALPOSITIONPROFILE" | translate}}</h3>
                        <div class="content">
                            {{ ::vm.jd.JobDescription.LegalDescriptionSummary }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div data-ng-repeat="legalDescription in vm.jd.JobDescription.LegalDescriptions">

                            <h3 class="subtitle">{{ ::legalDescription.Name }}</h3>
                            <div class="content">
                                {{ ::legalDescription.Description }}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="jd-title">{{"WORKENVIRONMENT" | translate}}</h3>
                        <div class="content">
                            {{ ::vm.jd.JobDescription.WorkEnvironment }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
