﻿<style>
    @media print {
        @page {
            size: letter;
        }
    }

    .page-break {
        page-break-after: always;
    }
     table { page-break-inside:auto }
   tr    { page-break-inside:avoid; page-break-after:auto }

   .circle-img.circle-img {
       width:36px;
       height:36px;
   }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 4px 8px;
        font-size:12px;
    }

    h5, h5 strong {
    font-size: 12px;
}
</style>


<div class="page">
    <div>
        <h5 style="margin: 0; display: inline-block"><b>SEP Scorecard: Bonus List</b></h5>
        <h5 style="display: inline; float: right; margin: 0" >{{Client}} | {{Site}} | {{Program}}</h5>
        <h5 style="margin: 0">{{currentDate | date: 'MMMM yyyy'}}</h5>
    </div>
    <div>

        <h1 class="text-success ng-binding" style="display: inline-block">{{passed}}</h1>

        <h5 style="display: inline-block">Passed</h5>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr class="table-bordered">
                <th class="bg-primary" style="min-width:200px">Employee Name</th>
                <th class="bg-primary">Employee ID #</th>
                <th class="bg-primary">Title</th>
                <th class="bg-primary">Pass/Fail</th>
                <th class="bg-primary">Gross Bonus Amount</th>
            </tr>
            <tr class="ng-scope " ng-class="{ true: 'bg-danger' }[!employee.IsPass]" ng-repeat="employee in employees">
                <td class="table-bordered row">
                    <img class="circle-img circle-img-40 pull-left" ng-src="{{employee.ProfileImage}}">
                    <h5 class="padding-left col-xs-8" style="display: inline-block">{{employee.Name}}</h5>
                </td>
                <td class="table-bordered"><h5 >{{employee.ExternalEmployeeId}}</h5></td>
                <td class="table-bordered"><h5 >{{employee.JobDescription}}</h5></td>
                <td class="table-bordered" ng-class="{'text-success': employee.IsPass}">
                    <h5>
                        <strong ng-if="employee.IsPass == true">PASS</strong>
                        <strong ng-if="employee.IsPass == false">FAILED</strong>
                        <strong ng-if="employee.IsPass == null">INCOMPLETE</strong>
                    </h5>
                </td>
                <td class="table-bordered"><h5 >{{employee.BonusAmount}}</h5></td>
            </tr>

        </tbody>
    </table>


</div>