﻿<div class="leave-note-modal-header">
    <div class="close-btn" ng-click="vm.$scope.$close()">
      <span>&times;</span>
    </div>
</div>
<div class="take-quiz-model ">
    <i class="fa fa-take-quiz"></i>
    <p class="question-text" translate>Ready to take the quiz?</p>

    <p class="info" translate>Take the quiz to be credited for this course.</p>
    <div class="clearfix"></div>
    <div class="take-quiz-model padding-top-bottom">
        <button class="btn btn-cancel" type="button" ng-click="vm.close()" translate>CANCEL</button>
        <button class="btn btn-success" type="button" ng-click="vm.openQuiz()" translate>OKAY</button>
    </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer" ng-if="vm.modalFooterTemplate">
    <div class="btns" ng-include="vm.modalFooterTemplate">
    </div>
</div>
