﻿    <div class="leave-note-modal-body">
        <i class="fa fa-paper-plane-o"></i>
        <p class="question-text">Training Team has been notified.</p>

        <p class="info">Thank you for taking time to contact our Training Team.</p>
        <div class="close-window" ng-click="vm.close()">CLOSE WINDOW</div>
       </div>
  
