﻿<div class="well tall ac-well" data-ng-init="vm.initialize()">

    <div class="ac-table-title">
        <div class="col-md-4">
            <!--<input id="selectAll" type="checkbox"/>-->
            <p>
                <input id="selectAll" type="checkbox" data-ng-click="vm.selectAll()" />
                Employee Name
            </p>

        </div><!-- COl-4 -->

        <div class="col-md-4">
            <p>Position</p>
        </div><!-- COl-4 -->

        <div class="col-md-4">
            <p>Employees Selected <span class="pull-right cou-sel-num">{{ vm.selectedEmployees.length }}</span></p>
        </div><!-- COl-4 -->
        <div class="clearfix"></div>
    </div><!-- ac-table-title -->

    <div class="row">
        <div class="col-md-8 all-emp">

            <div class="input-group tra-buld-input">
                <input type="text" placeholder="Search" data-ng-model="vm.employeeSearch" />
                <i class="fa-search"></i>
            </div><!-- input-group -->

            <div class="scrollable-list">
                <table id="employees" class="table table-bordered table-striped details-grid">
                    <tbody>
                        <tr data-ng-repeat="employee in vm.employees | filter:vm.employeesSearch">
                            <td>
                                <input type="checkbox" data-ng-model="employee.IsSelected" data-ng-change="vm.addRemoveEmployee(employee)" />
                                {{ ::employee.Name }}
                            </td>
                            <td>{{ ::employee.PositionName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- scrollable-list -->

        </div><!-- COL8 -->

        <div class="col-md-4 selected-emp">

            <div class="input-group tra-buld-input">
                <input type="text" placeholder="Search" data-ng-model="vm.selectedEmployeesSearch" />
                <i class="fa-search"></i>
            </div><!-- input-group -->

            <div class="scrollable-list selected-emp-step2">
                <table id="employeesSelected" class="table table-bordered table-striped details-grid">
                    <tbody>
                        <tr data-ng-repeat="employee in vm.selectedEmployees | filter:vm.selectedEmployeesSearch">
                            <td>
                                {{ employee.Name }}
                                <a href="javascript:void(0);" class="del-emp-row pull-right" data-ng-click="vm.removeEmployee(employee)">
                                    <i class="fa-close"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- scrollable-list -->
        </div><!-- COL4 -->
    </div><!-- ROW -->

    <div class="row tra-buld-btns">
        <div class="col-md-4 pull-right">
            <div class="col-md-6"><a href="javascript:void(0);" class="btn btn-default btn-block">Cancel</a></div>
            <div class="col-md-6"><a href="javascript:void(0);" class="btn btn-primary btn-block" data-ng-click="vm.gotoStep3()" data-ng-disabled="!vm.selectedEmployees.length">Next</a></div>
        </div><!-- COL4 -->
    </div><!-- ROW -->

</div>