﻿<div class="row" data-ng-init="vm.initialize()">
    <div class="col-sm-12 page-content">
        <div class="panel panel-default">
            <div class="panel-header-txt">
                <div class="col-md-3 no-padding">Step 2</div>
                <div class="col-md-offset-3">
                    {{ ::currentState }}&nbsp;
                </div>
            </div>

            <div class="form-wrap" ui-view>

            </div>
        </div>
    </div>
</div>