﻿    <div class="leave-note-modal-header">
        <div class="close-btn" ng-click="vm.$scope.$close()">
            <i class="fa-times"></i>
        </div>
    </div>
    <div class="leave-note-modal-body">
        <i class="fa fa-check22"></i>
        <p class="question-text text-uppercase" translate>{{vm.isAssign? 'ASSIGN_COURSES': 'UNASSIGN_COURSES' | translate}}</p>

        <p ng-if="vm.isAssign" class="info cog-info">{{'ASSIGN_TITLE' | translate}}</p>
        <p ng-if="!vm.isAssign" class="info cog-info">{{'UNASSIGN_TITLE' | translate}}</p>
       
        <a href="Settings/CourseAdmin/Assign/?isAssign={{vm.isAssign}}&isByEmployee=true" class="click-button-section cog" >
            <span class="btn-icon-text margin-top-15 cog-btns by-employee">{{vm.btnAction | translate}} {{'COURSES_TO_EMPLOYEES' | translate}}</span>
        </a>
       
        <a href="Settings/CourseAdmin/Assign/?isAssign={{vm.isAssign}}&isByEmployee=false" ng-if="vm.isAssign" class="click-button-section cog">
            <span class="btn-icon-text cog-btns by-position">{{vm.btnAction | translate}} {{'COURSES_TO_POSITIONS' | translate}}</span>
        </a>
    </div>
    <div class="modal-footer" ng-if="vm.modalFooterTemplate">
        <div class="btns" ng-include="vm.modalFooterTemplate">
        </div>
    </div>
