﻿    <div class="leave-note-modal-header">
        <div class="close-btn" ng-click="vm.$scope.$close()">
            <i class="fa-close"></i>
        </div>
    </div>
    <div class="leave-note-modal-body">
        <i class="fa fa-training"></i>
        <p class="question-text">Having issues with your Training Experience?</p>

        <p class="info">Click the button below if you would like to send a notification to the Training Team, letting them know that you are encountering an issue.</p>
        <span class="btn-icon click-btn-icon"><i class="fa fa-message"></i></span>
        <div class="click-button-section" ng-click="vm.sendNotice()">
           
            <span class="btn-icon-text click-btn">CONTACT TRAINING TEAM</span>
        </div>
    </div>
    <div class="modal-footer" ng-if="vm.modalFooterTemplate">
        <div class="btns" ng-include="vm.modalFooterTemplate">
        </div>
    </div>
