﻿<div class="row" data-ng-init="vm.initialize()">
    <div class="col-sm-12 page-content">
        <div class="panel panel-default">
            <div class="panel-header-txt">
                <div class="col-md-3 no-padding">Step 3</div>
                <div class="col-md-offset-3">
                    SELECT COURSES
                </div>
            </div>

            <div class="form-wrap">
                <div class="well tall ac-well">
                    <div class="ac-table-title">
                        <div class="col-md-3">
                            <p>
                                Department
                            </p>

                        </div><!-- COl-3 -->

                        <div class="col-md-3">
                            <p>Sub-Department</p>

                        </div><!-- COl-3 -->

                        <div class="col-md-3">
                            <p>
                                <input type="checkbox" data-ng-click="vm.selectAllCourses()" />
                                Courses
                            </p>

                        </div><!-- COl-3 -->

                        <div class="col-md-3">
                            <p>Courses Selected <span class="pull-right cou-sel-num">{{ vm.selectedCourses.length }}</span></p>
                        </div><!-- COl-3 -->
                        <div class="clearfix"></div>
                    </div><!-- ac-table-title -->

                    <div class="row">
                        <div class="col-md-3 all-emp">

                            <div class="input-group tra-buld-input">
                                <input type="text" placeholder="Search" data-ng-model="vm.departmentsSearch" />
                                <i class="fa-search"></i>
                            </div><!-- input-group -->

                            <div class="scrollable-list">
                                <table id="positions" class="table table-bordered details-grid">
                                    <tbody>
                                        <tr data-ng-repeat="dept in vm.departments | filter:vm.departmentsSearch" class="empp" data-ng-click="vm.selectedDepartmentId=dept.Id">
                                            <td>{{ ::dept.Name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- scrollable-list -->

                        </div><!-- COL3 -->

                        <div class="col-md-3 all-emp selected-emp">
                            <div class="input-group tra-buld-input">
                            </div><!-- input-group -->

                            <div class="scrollable-list">
                                <table id="subDepartments" class="table table-bordered details-grid">
                                    <tbody>
                                        <tr data-ng-repeat="sub in vm.getSubDepartmentsByDepartment(vm.selectedDepartmentId)" class="empp" data-ng-click="vm.selectedSubDepartmentId=sub.Id">
                                            <td>{{ ::sub.Name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- scrollable-list -->
                        </div><!-- COL3 -->

                        <div class="col-md-3 all-emp selected-emp">
                            <div class="input-group tra-buld-input">
                                <input type="text" placeholder="Search" data-ng-model="vm.coursesSearch" />
                                <i class="fa-search"></i>
                            </div>
                            <div class="scrollable-list">
                                <table id="courses" class="table table-bordered table-striped details-grid">
                                    <tbody>
                                        <tr data-ng-repeat="course in vm.getCoursesBySubDepartment(vm.selectedSubDepartmentId) | filter:vm.coursesSearch">
                                            <td>
                                                <input type="checkbox" data-ng-model="course.IsSelected" data-ng-change="vm.addRemoveCourse(course.Id)" />
                                                {{ ::course.Name }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- scrollable-list -->

                        </div><!-- COL3 -->

                        <div class="col-md-3 selected-emp">

                            <div class="input-group tra-buld-input">
                            </div><!-- input-group -->

                            <div class="scrollable-list selected-emp-step2">
                                <table id="selectedCourses" class="table table-bordered table-striped details-grid">
                                    <tbody>
                                        <tr data-ng-repeat="course in vm.selectedCourses">
                                            <td>
                                                {{ ::course.Name }}
                                                <a href="javascript:void(0);" class="del-emp-row pull-right" data-ng-click="vm.removeCourse(course)">
                                                    <i class="fa-close"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div><!-- scrollable-list -->
                        </div><!-- COL3 -->
                    </div><!-- ROW -->

                    <div class="row tra-buld-btns">
                        <div class="col-md-4 pull-right">
                            <div class="col-md-6"><a href="javascript:void(0);" class="btn btn-default btn-block">Cancel</a></div>
                            <div class="col-md-6"><a href="javascript:void(0);" class="btn btn-primary btn-block" data-ng-click="vm.finalize()" data-ng-disabled="!vm.selectedCourses.length">Next</a></div>
                        </div><!-- COL4 -->
                    </div><!-- ROW -->

                </div>
            </div>
        </div>
    </div>
</div>