﻿<div class="row" data-ng-init="vm.initialize()">
    <div class="col-sm-12 page-content">
        <div class="panel panel-default">
            <div class="panel-header-txt">
                <div class="col-md-3 no-padding">Step 1</div>
                <div class="col-md-offset-3">
                    ASSIGN COURSES
                    <a ui-sref="builder.step2.employee" class="btn btn-primary">by Employee</a>
                    <a ui-sref="builder.step2.position" class="btn btn-primary">by Position</a>
                </div>
            </div>

            <div class="form-wrap">

            </div>
        </div>
    </div>
</div>