﻿<div class="col-md-12 no-padding">
    <script id="searchbox.tpl.html" type="text/ng-template">
        <div class="field-wrap">
            <input type="text" class="basic-input" placeholder="Enter Address..." maxlength="100">
        </div>
    </script>
    <div id="search-container" class="search-container padding-bottom"></div>
    <div class="modal-map-container" ng-style="vm.containerStyle">
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options="vm.map.options">
            <ui-gmap-search-box template="vm.map.searchbox.template" events="vm.map.searchbox.events" parentdiv="vm.map.searchbox.parentdiv" ></ui-gmap-search-box>
            <ui-gmap-marker ng-repeat="m in vm.map.markers" coords="m.coords" icon="m.icon" idkey="m.id" options="m.options"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
    <div class="padding-top">
        <strong>Latitude:</strong> {{vm.map.markers[0].coords.latitude}} | <strong>Longitude:</strong> {{vm.map.markers[0].coords.longitude}}
    </div>
</div>
   

