﻿<div class="leave-note-modal-header">
    <div class="close-btn" ng-click="vm.$scope.$close()">
        <span >&times;</span>
    </div>
</div>
<div class="rate-course-modal">
    <i class="fa fa-compliment"></i>
    <p class="congrats-text" translate>Congratulations!</p>
    <p class="sub-text" ng-if="vm.hasQuiz" translate>You have passed the quiz</p>
    <div class='text-center rate'>
        <p class="msg" translate>Please rate the training to complete the {{vm.hasQuiz ? 'quiz': 'acknowledgement'}}. Thank you.</p>
        <star-rating score="vm.ratingScore"></star-rating>
    </div>
    <div  class='text-center margin-20'>
        <button class="btn btn-success back-to-course-btn" ng-disabled="!vm.ratingScore" ng-click="vm.goBackToCourse()"  translate>BACK TO COURSE</button>
    </div>
</div>
