﻿
<div class="course attachment-modal">

    <div class="row current-file" ng-if="vm.isParent">
        <div class="col-sm-4 col-md-4 current-icon"
             ngf-select="vm.upload($files, $file, $event, true)" ngf-drop="vm.upload($files, $file, $event, true)" ng-model="vm.files"
             ngf-multiple="true"
             ngf-keep-distinct="true"
             ngf-keep="true"
             ngf-pattern="'.pdf,.doc,.docx,video/*,image/*'">
            <icon class="fa-video-camera"></icon>
        </div>
        <div class="col-sm-8 current-button">
            <button class="btn btn-default btn-block"
                 ngf-select="vm.upload($files, $file, $event, true)" ngf-drop="vm.upload($files, $file, $event, true)" ng-model="vm.files"
                 ngf-multiple="true"
                 ngf-keep-distinct="true"
                 ngf-keep="true"
                 ngf-pattern="'.pptx,.pptm,.ppt,.pdf,.doc,.docx,video/*,image/*'">Upload New Attachment</button>
            <div class="progress" ng-if="vm.files.length">
                <div class="progress-bar {{vm.files[0].class}}" role="progressbar" aria-valuenow="{{vm.files[0].progress}}"
                     aria-valuemin="0" aria-valuemax="100" style="width:{{vm.files[0].progress}}%">
                    <span class="sr-only">{{vm.files[0].progress}}% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12" ng-if="vm.files.length" ng-hide="true">
            Require employee to re-take quiz <toggle-switch ng-model="vm.retakeQuiz" on-label="Yes" off-label="No" class="pull-right"></toggle-switch>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="field-wrap">
                <label for="briefDesc">Attachment Name:</label>
                <input type="text" class="basic-input" id="briefDesc" placeholder="Enter Course Name here..." ng-model="vm.selectedAttachment.Attachment.Name" required>
            </div>

            <div class="field-wrap">
                <label for="additionalInfo">Description:</label>
                <textarea class="basic-input" id="additionalInfo" placeholder="Enter Course Overview here..." ng-model="vm.selectedAttachment.Attachment.Description"></textarea>
            </div>

            <div class="field-wrap">
                <label for="Department">Language the training is in:</label>
                <div class="row">
                    <div class="col-md-12 language">
                        <select class="form-control ng-pristine ng-valid ng-touched"
                                ng-options="c.Name for c in vm.languages track by c.LanguageId"
                                ng-change="vm.languageChange()"
                                ng-model="vm.selectedAttachment.Language" required></select>
                    </div>
                </div>
            </div>

            <div class="field-wrap" ng-if="vm.selectedAttachment.Language.LanguageId > 1 && vm.isParent">
                <label for="Department">English equivalent training:</label>
                <div class="row">
                    <div class="col-md-12 language">
                        <select class="form-control ng-pristine ng-valid ng-touched"
                                ng-options="a.Attachment.UniqueId as (a.Attachment.Name + ' (' + a.Language.Code + ')') for a in vm.englishCourseAttachments"
                                ng-model="vm.selectedAttachment.CourseAttachmentParentUniqueId">
                            <option value="">---Please select---</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row" ng-if="vm.isParent">
        <div class="col-md-12 uploader"
             ngf-select="vm.upload($files, $file, $event, false)" ngf-drop="vm.upload($files, $file, $event, false)" ng-model="vm.subFiles"
             ngf-multiple="true"
             ngf-keep-distinct="true"
             ngf-keep="true"
             ngf-pattern="'.pptx,.pptm,.ppt,.pdf,.doc,.docx,video/*,image/*'">
            <icon class="fa-cloud-upload"></icon>
            <div>Click or drop sub attachments here</div>
        </div>
    </div>

    <div class="row padding" ng-if="vm.isParent">
        <div class="col-md-12 list course-files no-padding">
            <div class="list-header"><label>Sub Attachment Files</label></div>
            <div class="selected-emp up-doc-list default">
                <div class="media-row" ng-repeat="file in vm.subFiles">
                    <div class="row">
                        <div class="col-md-8">
                            <i class="fa-file-image-o pull-left"></i>
                            <p>{{file.Attachment.Name}}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-8 col-xs-12">
                                <div class="progress" ng-show="!file.exists">
                                    <div class="progress-bar {{file.class}}" role="progressbar" aria-valuenow="{{file.progress}}"
                                         aria-valuemin="0" aria-valuemax="100" style="width:{{file.progress}}%">
                                        <span class="sr-only">{{file.progress}}% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-danger btn-xs" data-ng-click="vm.removeItemFromList($event, file.Attachment.UniqueId)"><span class="fa fa-times"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>