@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,800italic,700italic,600italic,400italic,300italic);
h1 {
  font-size: 26px;
}

h1, h2, h3 {
  color: #414141;
  /*font-weight: 600;
  margin: 5px 0;*/
}

p {
  margin: 0;
  padding: 0;
}

em {
  color: #888888;
  font-style: italic;
  padding: 10px 0;
}

.sub-nav-btns a {
  margin-bottom: 10px;
}

a img {
  vertical-align: initial;
}

.well {
  padding: 5px;
  margin: 10px 0;
  background: #fff;
  clear: both;
  width: 100%;
  /*float: left;*/
}

.data-point {
  border-bottom: 1px solid #dcdfe0;
}

.data-point,
.table-title {
  font-weight: 600;
  padding: 0 10px;
  margin: 10px 0 5px;
  overflow: hidden;
}

.table-title h2 {
  padding: 0 10px;
}

.well-table,
.well-table .col-md-12 {
  padding: 0;
  margin-bottom: 0;
}

.data-point h2 {
  margin-bottom: 15px;
  /*font-size: 18px;*/
}

p.primary {
  color: #f38b11;
  font-size: 32px;
  margin-right: 10px;
  line-height: 1;
  min-height: 40px;
}

p.dp-des {
  font-size: 18px;
  line-height: 1.4;
  color: #666;
}

.nav-tabs a {
  border-bottom: 2px solid #000;
}

.chart {
  height: 300px;
  padding-top: 20px;
}

.circle-chart {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  position: relative;
  text-align: center;
}

.circle-chart p {
  display: block;
  color: #999;
  font-style: italic;
}

.circle-chart strong {
  /*position: absolute;
  left: 50%;
  top: 50%;
  font-size: 22px;
  margin-left: -22px;
  margin-top: -15px;*/
  font-size: 32px !important;
  left: 0;
  margin-top: -23px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.well-table thead {
  background: #f38b11;
  color: #fff;
  border-bottom: none;
}

.wt-details thead {
  background: #666666;
}

.well-table .table > thead > tr > th,
.well-table .table > tbody > tr > th,
.well-table .table > tfoot > tr > th,
.well-table .table > thead > tr > td,
.well-table .table > tbody > tr > td,
.well-table .table > tfoot > tr > td {
  padding: 8px 15px;
  vertical-align: middle;
}

.well-table .table > thead > tr > th,
.well-table .table > thead > tr > td {
  padding: 15px;
  text-transform: uppercase;
  border: none;
}

.well-table .table > tbody > tr > th,
.well-table .table > tfoot > tr > th,
.well-table .table > tbody > tr > td,
.well-table .table > tfoot > tr > td {
  border-left: 1px solid #e9e9e9;
}

.well-table tbody {
  border-bottom: 1px solid #e9e9e9;
}

.table-view {
  text-align: right;
}

.table-a-btn {
  float: left;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}

/*.table-btns {
    margin-bottom: 5px;
}*/
.table-a-btn i {
  line-height: 25px;
}

.prog-bar {
  width: 220px;
  height: 20px;
  border-radius: 15px;
  background: #ccc;
  float: left;
  overflow: hidden;
}

.prog-value {
  height: 100%;
  border-radius: 15px;
  background: #80AE44;
  color: #fff;
  text-align: right;
  padding-right: 5px;
}

.no-padding,
.entry-form .no-padding [class^="col-"],
.table-row
 {
  padding: 0;
}

.entry-form .no-padding [class^="col-"]:first-child,
.entry-form .no-padding [class^="col-"]:last-child {
  padding: 0;
}

.sort-pic-audit {
  padding-left: 10px;
}

.table-row {
  min-height: 45px;
  padding: 5px 0;
  clear: both;
}

.table-row p {
  line-height: 35px;
}

.point-d-wrap {
  float: left;
  text-align: center;
}

.capt {
  font-style: italic;
  color: #999999;
  clear: both;
}

.data-point-section {
  margin-bottom: 40px;
}

.success-color {
  color: #48c101;
  font-weight: 600;
}

select,
select:hover,
select:focus {
  outline: none;
}

.pri-color, .bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover,
.table-condensed .btn-primary,
.bootstrap-datetimepicker-widget td span.active,
a.sugg-comments,
.sel-active {
  background: #354661 !important;
  color: #fff !important;
}

.bootstrap-datetimepicker-widget td.today:before {
  border-bottom-color: #f38b11 !important;
}

.required-sign {
  font-size: 16px;
  font-weight: 700;
  color: #f26e54;
  padding-left: 6px;
  padding-top: 8px;
}

.entry-form-filter .sub-nav-btns {
  margin-top: 12px;
}

.entry-form-filter .sub-nav-btns a.btn {
  padding: 7px 10px;
}

.field-wrap {
  margin-bottom: 10px;
}

.field-wrap .form-group {
  margin-bottom: 0;
}

.field-wrap, .assign-to {
  margin-top: 10px;
}

#auditSummary {
  height: 100px;
}

.basic-input:focus {
  background: #fff;
  border: 1px solid #f38b11;
}

.entry-forms-wrap {
  margin-top: 30px;
  width: 100%;
  float: left;
}

/*********************/
/*Helper Classes*/
/*********************/
.left-all {
  float: left;
}

.right-all {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.table-title-well {
  padding: 10px 15px;
  margin-bottom: 1px;
  background: #fff;
  color: #464953;
  cursor: pointer;
  overflow: hidden;
}

.table-title-well i {
  float: left;
  padding: 3px 5px 0 0;
}

.table-title-well.pri-color i:before {
  content: "\f0da";
}

.table-title-well p:first-child {
  font-weight: 600;
  min-width: 150px;
}

.table-title-well:hover:not(.pri-color) {
  background: #f9f9f9 !important;
  color: #000 !important;
}

.table-title-well p.pull-left:last-child {
  float: right !important;
}

.table-title-well p .score {
  font-weight: bold;
}

@media (min-width: 992px) {
  .table-title-well p.pull-left:last-child {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #e4e4e4;
    float: left !important;
  }
}
.ai-viewer-wrap .table-title-well p {
  padding-top: 5px;
  padding-bottom: 3px;
}

.table-title h2 {
  font-size: 16px;
}

.form-group {
  margin-bottom: 5px;
}

.block-sec {
  width: 100%;
  background: rgba(228, 228, 228, 0.3);
  overflow: hidden;
  padding: 20px 0 10px;
}

.block-sec .col-sm-4 {
  margin-bottom: 10px;
}

label.audit-select-area {
  float: left;
  border-radius: 30px;
  background: #e4e4e4;
  padding: 10px 15px 10px 40px;
  cursor: pointer;
  position: relative;
}

label.audit-select-area:after {
  color: #fff;
  content: "\f10c";
  position: absolute;
  left: 12px;
  top: 9px;
  font-size: 22px;
}

label.audit-select-area p {
  font-weight: 400;
}

label.audit-select-area span {
  font-weight: 600;
  margin-right: 10px;
}

.cus-radio input {
  position: absolute;
  z-index: -1;
  left: 30px;
  top: 10px;
}

.cus-radio input:checked + .audit-select-area {
  background: #2b86d8;
  color: #fff;
}

.cus-radio input:checked + .audit-select-area:after {
  content: "\f05d";
}

.rounded {
  border-radius: 5px;
  border: 1px solid #EAEAEA;
}

.lightbox-wrap {
  display: none;
}

.overlay,
.overlay-comment {
  width: 100%;
  height: 100%;
  background: rgba(30, 42, 70, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1222;
}

.light-box {
  width: 90%;
  background: #fff;
  position: absolute;
  left: 5%;
  top: 100px;
  z-index: 2222;
  padding-bottom: 20px;
}

.box-title {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  padding-right: 40px;
  overflow: hidden;
}

.box-title h1 {
  margin: 0;
  float: left;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.close-btn {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.lightbox-content {
  padding: 20px;
}

.btns .col-sm-4 {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.field-wrap,
.assign-to {
  margin-top: 10px;
}

.assign-to {
  margin-bottom: 5px;
}

.comment-assign-to textarea {
  height: 100px !important;
}

label {
  cursor: pointer;
}

@media (min-width: 768px) {
  .table-row p i {
    display: none;
  }

  .entry-form-filter .sub-nav-btns {
    margin-top: 36px;
  }

  .light-box {
    width: 400px;
    left: 50%;
    margin-left: -200px;
    font-weight: 600;
  }

  /* Fixes width of Edit buttons to match Delete and Create buttons*/
  a.btn.btn-edit {
    padding-left: 10px;
    padding-right: 25px;
  }
}
@media (min-width: 990px) {
  textarea.basic-input,
  #auditSummary {
    height: 35px;
  }

  .data-point,
  .table-title {
    font-weight: 600;
    margin: 20px 0;
    padding: 0 10px;
    border: none;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .well {
    padding: 19px;
  }

  .well-table {
    padding: 0;
  }

  .data-point,
  .table-title {
    margin: 0;
  }

  .dyn-table .data-point {
    height: auto;
    border-right: none;
  }

  .table-title {
    height: auto;
  }

  .table-title h2 {
    padding: 20px 25px;
  }

  .table-btns {
    padding-top: 2px;
    margin-bottom: 10px;
  }

  .chart {
    border-left: 1px solid #dcdfe0;
    padding-left: 10px;
  }

  .table-title h2 {
    font-size: 22px;
  }

  .sub-nav-btns div:last-child {
    padding-right: 0;
  }
}
/**
    Upload
*/
.upload-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: rgba(243, 138, 17, 0.4);
}

.pagination {
  margin: 0;
  padding: 0;
}

.well.tall {
  height: 100%;
}

.info-block p {
  color: #888888;
  font-size: 16px;
}

h1.light, h2.light, h3.light {
  font-weight: 400;
}

/**
    Slider
*/
ul.slides a:hover {
  text-decoration: none;
}

p.cb-text {
  line-height: 24px;
  padding-top: 10px;
  color: #737373;
}

.cb-title {
  color: #40526e;
}

.cb-content {
  padding: 0 15px;
}

.cb-name {
  background: #fcfcfc;
  border-top: 1px solid #f3f4f4;
  padding: 0 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 990px) {
  .compliments-box {
    margin: 10px 0;
  }
}
.compliments-box {
  min-height: 195px;
  /*margin: 0 0;*/
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  position: relative;
  padding: 0;
  padding-bottom: 60px;
  overflow: hidden;
}

.dyn-table .dpSlider [class*="col"] {
  margin: 0 !important;
}

.cb-title .fa-user {
  margin-right: 5px;
}

.cb-title p {
  font-size: 14px;
  padding: 10px 0 5px 0;
}

.cb-title p:nth-child(2) {
  color: #7d8da4 !important;
}

.cb-title hr {
  margin: 5px 0 !important;
}

.cb-body {
  height: 150px;
  line-height: 20px;
  overflow-y: auto;
}

@media (min-width: 991px) and (max-width: 1400px) {
  .slides .col-md-3.col-lg-3 {
    width: 50%;
    min-height: 255px;
  }
}
.cb-name.cb-title p.pull-left.ng-binding {
  max-width: 80%;
}

.radio-wrap {
  float: left;
  padding-top: 10px;
  margin-right: 40px;
  color: #414141;
}

.radio-wrap input {
  display: none;
}

.radio-wrap label, .popup-table label {
  position: relative;
  padding-left: 40px;
  font-size: 20px;
}

/*# sourceMappingURL=components.css.map */
