@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
html, body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  background: #f5f5f5;
  padding-top: 80px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: 60px;
}
@media (min-width: 991px) {
  body {
    padding-top: 60px;
  }
}
body .body-wrapper {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1600px) {
  body .body-wrapper.active-notification {
    padding-right: 360px;
  }
}
@media (min-width: 1167px) {
  body.active-side .body-wrapper {
    padding-left: 240px;
  }
}
body.is-mobile-web-view {
  padding-top: 0 !important;
}
body.is-mobile-web-view .body-wrapper {
  padding-left: 0 !important;
}
body.is-mobile-web-view header,
body.is-mobile-web-view a.menu-toggle-btn,
body.is-mobile-web-view .sidebar-wrap,
body.is-mobile-web-view quality-tab-navigation,
body.is-mobile-web-view my-profile-header {
  display: none !important;
}

.active-side .fixed-header {
  z-index: 11;
}
@media only screen and (min-width: 1168px) {
  .active-side .fixed-header {
    padding-right: 240px;
  }
}
@media only screen and (min-width: 1168px) {
  .active-side header {
    left: 240px;
  }
}

.sbm-orange, .bg-sbm-orange {
  background-color: #f38b11;
  border-color: #eea236;
  color: #f38b11;
}

.sbm-blue, .bg-sbm-blue {
  background-color: #40526e;
  color: #40526e;
}

a:hover, a:focus {
  text-decoration: none;
}

.padding {
  padding: 10px !important;
}
.padding-top {
  padding-top: 10px !important;
}
.padding-right {
  padding-right: 10px !important;
}
.padding-bottom {
  padding-bottom: 10px !important;
}
.padding-left {
  padding-left: 10px !important;
}

.margin {
  margin: 10px !important;
}
.margin-top {
  margin-top: 10px !important;
}
.margin-right {
  margin-right: 10px !important;
}
.margin-bottom {
  margin-bottom: 10px !important;
}
.margin-left {
  margin-left: 10px !important;
}

.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}

.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}

.row-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-border {
  border: none !important;
}

.line-height-25 {
  line-height: 25px !important;
}
.line-height-50 {
  line-height: 27px !important;
}
@media (min-width: 768px) {
  .line-height-50 {
    line-height: 50px !important;
  }
}
.line-height-100 {
  line-height: 100px !important;
}

.clickable {
  cursor: pointer !important;
}

.not-clickable {
  cursor: default !important;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #E8E8E8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  padding: 0;
  /*--- Liz: changedd it from 10 to 0 ---*/
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.navbar {
  margin-bottom: 0;
}

/*.page-header {
    overflow: hidden;
    padding: 0 20px 0 20px;
    color: #222222;
    border-bottom-color: #dddddd;
    background: white;
    margin: 20px -20px 0 -20px;
    padding-bottom: 0;
    min-height: 60px;
}

.page-header h1 {
    margin: 0;
}*/
/*----Liz: 10/29/2014---*/
.btn-orange {
  color: #fff;
  background-color: #f38b11;
  border-color: #eea236;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #ec8f1e;
  border-color: #d58512;
}

.btn-blue {
  background-color: #40526e;
  color: #fff;
  border: none;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .dropdown-toggle.btn-blue {
  background-color: #6191e1;
  color: #fff;
}

.btn-save {
  background-color: #9FC62D;
  border-color: #9FC62D;
  color: #ffffff;
}

.btn-close {
  background-color: #403841;
  border-color: #403841;
  color: #ffffff;
}

.btn-delete {
  background-color: #E93D42 !important;
  border-color: #E93D42;
  color: #ffffff;
}

.btn-save:hover, .btn-close:hover, .btn-delete:hover, .btn-save:focus, .btn-close:focus, .btn-delete:focus {
  color: #ffffff;
  outline: none;
}

.stat-wrap {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 12px;
}

.stat-wrap .txt {
  margin: 0;
  padding: 0 10px;
  color: #414242;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.txt-sm {
  margin: 0;
  padding: -10px 0 0 0;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  color: #909fa7;
}

.stat-wrap .stat {
  font-size: 58px;
  line-height: 80px;
  color: #808080;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.stat-wrap .stat.with-margin {
  margin: 20px auto 30px;
}

.stat-wrap .stat.with-margin-sm {
  margin: 20px auto 10px;
}

.stat-wrap .txt-lg {
  font-size: 75px;
}

.stat-wrap .red {
  color: #E54C2E;
}

.stat-wrap .blue {
  color: #40526E;
}

.stat-wrap .magenta {
  color: #D771AB;
}

.stat-wrap .gold {
  color: #f38b11;
}

#client-picker-panel {
  background-color: #666;
  display: none;
  color: #fff;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 0 15px;
}

#client-picker-panel #client-picker-wrapper {
  padding: 20px;
}

#client-picker-panel #client-picker-wrapper label {
  color: white;
}

label.control-label, .checkbox label, .radio label {
  color: inherit;
}

.page-title {
  background: white;
  padding: 0;
  position: relative;
}
.page-title h3 {
  color: #00AFD1;
  font-weight: 300;
  font-size: 24px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .page-title h3 {
    font-size: 34px;
    padding-bottom: 0;
  }
}

/**
    @description Toggle left navigation based on screen size.
*/
@media (min-width: 991px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  /*--- Liz: make the date picker btn stay on scroll ---*/
  #wrapper.toggled #page-header-panel.sticky #date-picker-btn {
    margin-right: 0;
  }

  #page-header-panel.sticky #client-context {
    margin-right: 250px;
  }

  #wrapper.toggled #page-header-panel.sticky #client-context {
    margin-right: 0;
  }

  #page-header-panel.sticky #client-picker-panel {
    margin-right: 250px;
  }

  #wrapper.toggled #page-header-panel.sticky #client-picker-panel {
    margin-right: 0;
  }

  /*--- end of Liz: make the date picker btn stay ---*/
  .navbar {
    border-radius: 0;
    border-bottom: 1px solid #eee;
  }

  #date-picker-btn:hover {
    opacity: 1;
  }

  #date-picker-btn {
    text-transform: uppercase;
    color: #414141;
    opacity: 0.7;
    cursor: pointer;
    margin-right: 0;
    /*--- Liz: make the date picker btn stay on scroll ---*/
  }

  /* DW: Fix for date-picker-panel bleeding off to the right */
  #wrapper:not(.toggled) .sticky #date-picker-panel {
    padding-right: 270px;
  }

  #wrapper:not(.toggled) #page-header-panel.sticky #client-picker-panel {
    padding-right: 265px;
  }

  .fill {
    display: block;
    background-position: left center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .well {
    display: block;
    /*height: 310px;*/
    overflow: hidden;
    position: relative;
  }

  /*----Liz: 10/17/2014---*/
  #topcontrol {
    background-color: #000;
    padding: 5px 10px;
    font-size: 28px;
    line-height: 20px;
    color: #9B9B9B;
    z-index: 1001;
  }
}
@media (min-width: 768px) {
  /*.page-title {
        color: $primary;
        padding-top: 0;
        font-size: 26px;
        line-height: 50px;
        padding-left:12px;
        
  }*/
  #date-picker-btn .date {
    font-weight: bold;
    font-size: 18px;
    color: #414141;
  }

  .select-client {
    font-size: 12px;
    padding-top: 14px;
    padding-right: 20px;
    color: #414141 !important;
    opacity: 1;
  }

  .client-logo {
    padding-top: 3px;
    margin-right: 0;
  }

  .stat-wrap {
    padding-bottom: 20px;
  }

  .stat-wrap .txt-lg {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .table-responsive {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  /*.page-title {
      color: $primary;
      padding-top: 3px;
      padding-bottom: 1px;
      font-size: 28px;
  }*/
  #date-picker-btn {
    margin-top: 9px;
  }

  #date-picker-btn .date {
    font-weight: bold;
    font-size: 20px;
    color: #414141;
    text-transform: uppercase;
    opacity: 0.7;
    cursor: pointer;
  }

  .select-client {
    font-size: 12px;
    padding-top: 16px;
    padding-right: 20px;
    color: #414141 !important;
    opacity: 1;
  }

  .client-logo {
    padding-top: 3px;
    margin-right: 0;
  }
}
@media (min-width: 479px) {
  /*----------------*/
  /* Header 2nd Bar */
  /*----------------*/
  #title-header-panel {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }

  .title-box-panel-wrapper {
    margin-top: 0;
    padding: 0 10px;
    overflow: hidden;
  }

  .title-box-panel-wrapper .page-title span {
    color: #00AFD1;
  }

  .date-picker-btn {
    margin-top: 8px;
  }
}
@media (max-width: 479px) {
  /*.page-title {
      color: $primary;
      padding-bottom: 3px;
      font-size: 26px;
      padding-left:10px;
  }*/
  .page-title .fa-quality {
    font-size: 16px;
  }

  .tabs-wrap .add-btn {
    margin: 7px 0 5px 0;
  }

  #date-picker-btn {
    margin-top: 8px;
    cursor: pointer;
  }

  #date-picker-btn .date {
    font-weight: normal;
    font-size: 12px;
    color: #414141;
    text-transform: uppercase;
    opacity: 0.7;
    cursor: pointer;
  }

  #date-picker-btn .fa-calendar {
    font-size: 14px;
  }

  #insite-logo {
    margin-top: 4px;
    width: 55px;
  }

  .select-client {
    font-size: 11px;
    padding-top: 17px;
    padding-right: 0;
    color: #414141 !important;
    opacity: 1;
  }

  .client-logo {
    padding-top: 3px;
    margin-right: -200px;
  }

  .stat-wrap .txt-lg {
    padding-top: 0;
  }

  /*----------------*/
  /* Header 2nd Bar */
  /*----------------*/
  #title-header-panel {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }

  .title-box-panel-wrapper {
    margin-top: 0;
    padding: 10px 10px;
    overflow: hidden;
  }

  .date-picker-btn {
    margin-top: 8px;
  }

    /*Marcos Graph Height

#qualityAuditsDash{
    height: 200px !important;
}*/
}
@media (min-width: 768px) {
  .sticky .title-box-panel-wrapper > .pull-right {
    padding-right: 250px;
  }
}

.sidemenu-nav a {
  color: #000;
}

.sidemenu-nav .sidenav-icons {
  font-size: 18px;
  margin-right: 5px;
}

ul.nav-grouping {
  margin-bottom: 0;
  background: #d8d8d8;
  min-width: 250px;
}

ul.nav-grouping li a {
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
  padding: 10px 10px 8px 10px;
  overflow: hidden;
}

ul.nav-grouping li a span {
  font-size: 20px;
  display: block;
}

.name-box {
  background: #f38b11;
  background: #e8e8e8;
  height: 51px;
}

.name-box .name-txt {
  font-size: 20px;
  color: #444;
  text-align: left;
  padding-left: 10px;
  padding-top: 15px;
}

.name-box .name-txt #account-menu-toggler {
  color: #444;
  padding-top: 5px;
  padding-right: 12px;
  font-size: 15px;
  /*Marcos Changed 14 - 15 */
}

/* Side Nav CSS Starts Here------------------------------- */
.nav-sidenav li ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  /*Marcos Changed 14 - 15 */
  outline: none;
}

.nav-sidenav li {
  background: #DBDBDB;
  outline: none;
}

.nav-sidenav li a {
  /* Daily Management,Performance.... */
  background: #DBDBDB;
  color: #444;
  outline: none;
}

.nav-sidenav li.active-link {
  /*KPIs */
  background: #f38b11;
  outline: none;
}

.nav-sidenav li a .fa-arrow-down,
.nav-sidenav li a .fa-arrow-right {
  font-size: 20px;
}

.nav-sidenav li ul li {
  padding: 13px 20px;
  background: #e8e8e8;
  outline: none;
}

.nav-sidenav li ul li ul {
  padding-top: 10px;
  outline: none;
}

.nav-sidenav li ul li a {
  text-decoration: none;
  background: #e8e8e8;
  outline: none;
}

.activelink {
  background: #f38b11;
  color: #fff;
  outline: none;
}

.divider {
  height: 2px;
  background: #f5f5f5;
}

.divider1 {
  height: 1px;
  background: #f5f5f5;
}

/*content wrapper styles --------------------------------------------------*/
#client-context {
  color: #414141;
  font-size: 16px;
}

#client-context:hover {
  color: #444;
}

#menu-toggle:hover {
  text-decoration: none;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-top: 0;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
  background: rgba(245, 245, 245, 0.95);
}

/* datepicker 
#date-picker-panel {
    background-color: #666;
    display: none;
    margin: 0;
    padding: 0 20px;
}

#date-picker-panel > .row {
    padding: 20px 0;
}


#date-picker-panel #month-range .btn-group .btn {
    width: 25%;
}

#date-picker-panel #date-range {
}


#date-picker-panel #or {
    text-align: center;
    padding: 10px 0;
    color: white;
}

#date-range input.btn {
    vertical-align: top;
}
*/
#date-picker-panel #month-range .btn-group .btn {
  width: 25%;
  background-color: #e8e8e8;
  font-size: 12px;
  font-weight: 600;
  color: #9e9e9e;
}
#date-picker-panel #month-range .btn-group .btn:hover, #date-picker-panel #month-range .btn-group .btn.active {
  background-color: #9FC62D;
  color: white;
}

@media (min-width: 320px) and (max-width: 991px) {
    /*#date-picker-panel #month-range .btn-group {
        width: 100%;
        text-align: center;
    }

    #date-picker-panel #month-range .btn-group .btn {
        width: 25%;
        padding: 6px 0;
    }*/
  #date-range .form-group {
    margin-bottom: 0;
  }

  #date-range .date {
    padding: 0 0 20px;
  }

  #date-range .date input.form-control {
    padding: 6px 12px;
    height: 34px;
  }
}
/* Short screens */
@media (max-height: 420px) {
  /*.page-title {
      color: $primary;
      padding-top: 6px;
      padding-bottom: 3px;
      font-size:26px;
      line-height:50px;
  }*/
  #date-picker-btn .date {
    font-size: 12px;
  }

  #date-picker-panel #or {
    padding: 4px 0;
  }

  #date-picker-panel #month-range .btn-group .btn {
    width: 25%;
    padding: 5px 0;
  }

  #date-range .date {
    padding: 0 0 3px;
    margin-bottom: 7px;
  }

  #date-range .date input.form-control {
    padding: 5px 12px;
    height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #date-picker-panel #month-range {
    text-align: center;
  }

  #date-picker-panel #date-range .form-inline {
    margin: 0 auto !important;
    text-align: center;
    width: auto;
  }

  #date-range .date input.form-control {
    width: 185px;
  }

  #date-picker-panel #date-range .input.btn {
    vertical-align: top;
    padding: 10px;
  }

  #date-picker-panel #month-range .btn-group {
    width: auto;
  }

  #date-picker-panel #month-range .btn-group .btn {
    width: 130px;
  }
}
/* */
/* alert count */
.notice-new {
  background: #ed5d31;
  background: -moz-linear-gradient(top, #ed5d31 0%, #d04419 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed5d31), color-stop(100%, #d04419));
  background: -webkit-linear-gradient(top, #ed5d31 0%, #d04419 100%);
  background: -o-linear-gradient(top, #ed5d31 0%, #d04419 100%);
  background: -ms-linear-gradient(top, #ed5d31 0%, #d04419 100%);
  background: linear-gradient(to bottom, #ed5d31 0%, #d04419 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed5d31', endColorstr='#d04419',GradientType=0 );
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 5px 5px 5px !important;
  font-size: 14px !important;
  height: 20px !important;
  color: #fff !important;
  top: 55px;
  left: 40px;
  position: absolute;
}

#menu-link {
  display: none;
}

/*----------------*/
/* login panel    */
/*----------------*/
.login-panel {
  padding: 25px 30px 25px 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.login-panel .logo-wrap {
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.login-panel .logo-wrap a.brand {
  color: #F99D00;
  font-size: 50px;
  line-height: 50px;
}
.login-panel .img-responsive {
  margin: 0 auto;
}
.login-panel .form-group {
  margin-bottom: 0;
}
.login-panel input[type="text"] {
  margin-bottom: -1px;
  height: 44px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-panel input[type="password"] {
  margin-bottom: 10px;
  height: 44px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.login-panel .checkbox {
  float: left;
  padding-top: 0;
  margin-left: 20px;
}
.login-panel .checkbox label {
  padding-left: 0;
  padding-bottom: 10px;
}
.login-panel .forgot-pw {
  float: right;
}
.login-panel .form-action {
  text-align: center;
  margin-bottom: 10px;
}
.login-panel .form-action .btn-lg {
  padding: 7px 16px;
  border-radius: 4px;
}
.login-panel .btn:focus {
  color: #ffffff;
}
.login-panel .btn-submit-forgot-pw {
  margin-top: 15px;
}
.login-panel .forgot-pw-textbox {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.login-panel .reset-password input[type="password"] {
  border-radius: 4px;
}
.login-panel .reset-password .password {
  margin-bottom: -1px;
  height: 44px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.login-panel .reset-password .confirm-pw {
  margin-bottom: 10px;
  height: 44px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* ---------------------------------- side bar css ----- all related CSS will be moved here -------------------------------------*/
/*----------------*/
/* sidebar wrapper*/
/*----------------*/
#sidebar-wrapper {
  overflow: hidden;
  border-right: 1px solid #ddd;
}

/*----------------*/
/* welcome panel  */
/*----------------*/
.welcome-panel {
  background: #fff;
  color: #414141;
  padding-top: 5px;
  overflow: hidden;
}

.welcome-panel .user-img {
  float: left;
  padding: 2px;
  margin: 0 15px 0 17px;
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.welcome-panel .user-img span {
  font-size: 30px;
}

.welcome-panel .greeting {
  float: left;
}

.welcome-panel .greeting .greeting-txt {
  font-size: 14px;
}

.welcome-panel .greeting .username {
  font-size: 24px;
  margin-top: -10px;
}

/* page content */
.page-content {
  padding: 0 20px;
}
@media (max-width: 479px) {
  .page-content {
    padding: 0 5px;
  }
}

/* content panels */
.panel-body {
  padding: 0 20px 20px 20px;
}

.panel-body table {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.page-heading {
  background-color: #ffffff;
  padding: 10px 20px 10px;
}
@media (min-width: 768px) {
  .page-heading {
    padding: 10px 20px 40px;
  }
}
.page-heading p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #2f2930;
}
@media (min-width: 768px) {
  .page-heading #action-buttons {
    top: -55px;
  }
}
.page-heading #action-buttons .btn {
  border-radius: 4px;
  color: #ffffff;
  width: 200px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 50px;
}

/* page tab bar */
.tabs-wrap {
  padding: 0;
  overflow: hidden;
}

.tabs-wrap .top-tabs {
  margin: 0;
  padding: 5px 0 10px 20px;
}

.tabs-wrap .top-tabs a {
  border-radius: 0;
  width: 70px;
  text-align: center;
  border-bottom: 2px solid #D0D4DF;
  padding: 4px !important;
  margin-right: 5px;
}

.tabs-wrap .top-tabs a.highlight {
  border-bottom: 2px solid #218ffc;
}

/* add-btn */
.tabs-wrap .add-btn {
  margin: 7px 20px 5px 20px;
}

.tabs-wrap .add-btn i {
  color: white;
}

.panel-header-txt {
  padding: 15px;
  margin: 5px 5px 10px 5px;
  font-size: 20px;
  display: block;
  border-bottom: 1px solid #eee;
  color: #414141;
  font-weight: 600;
}

.panel-header-txt .btn {
  margin-top: -6px;
}

.details-grid thead tr th {
  background-color: #666666;
  color: #fff;
  font-weight: normal;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-color: #666666;
  border-top: 1px solid #403e3e !important;
  border-bottom: 1px solid #403e3e;
  text-align: center;
}

.details-grid thead tr td {
  padding-top: 12px !important;
}

.details-grid > tbody > tr > td {
  vertical-align: middle;
}

.details-grid td.action-btn-wrap {
  padding-left: 2px;
  padding-right: 2px;
}

/* FIX for Bootstrap progress bars in table */
table .progress {
  margin-bottom: 0;
}

/* stat box */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .tabs-wrap .add-btn {
    margin: 7px 20px 5px 0;
  }

  .highcharts-legend-item {
    font-size: 8px !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #date-picker-panel #month-range {
    text-align: center;
  }

  #date-picker-panel #date-range .form-inline {
    margin: 0 auto !important;
  }
}
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #date-picker-panel #month-range {
    text-align: left;
  }
}
/* Large Devices, Wide Screens */
.legend-slice-color {
  float: left;
  padding-top: 5px;
  padding-right: 5px;
}

.legend-txt {
  line-height: 22px;
  float: left;
  font-weight: 600;
  font-size: 13px;
}

.legend-val {
  line-height: 22px;
  float: right;
  display: block;
  width: 40px;
  text-align: right;
  font-weight: normal;
  font-size: 13px;
}

/* chart wrap */
.chart-wrap {
  padding: 10px 20px 20px 20px;
}

.legend-wrap {
  border-top: 1px solid #eee;
  padding: 20px 0;
  margin: 0 20px;
}

/*#survey .survey-row{ padding:15px 0 25px 15px;
  border-bottom: 1px dashed #efefef; }

#survey .survey-row .number{ position:absolute; left:-5px}*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .chart-wrap .border-wrap {
    border: solid #eee;
    border-width: 1px 0 0 0;
    margin-top: 20px;
    padding-top: 20px;
  }

  .one-datapoint {
    min-height: 220px;
  }

  .plus-btn {
    display: none;
  }

  #survey input[type=submit] {
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .plus-btn {
    display: none;
    text-transform: uppercase;
  }

  /*#survey .score-input-group button, #survey .score-input-group input[type=number]{
      padding:6px 8px;
  }
    #survey input[type=submit]{
      width:100%;
      display:block
  }*/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .plus-btn {
    padding-left: 7px;
    display: inline-block;
    text-transform: uppercase;
  }

  /*#survey input[type=submit] {
      float:right;
      width:auto;
  }*/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .chart-wrap .border-wrap {
    border: solid #eee;
    border-width: 0 0 0 1px;
    padding-top: 0;
    padding-left: 20px;
  }

  .one-datapoint {
    min-height: 448px;
  }

  .well .col-md-9 {
    border-left: 1px dotted #e4e4e4;
  }
}
/* entry form */
.warning-txt {
  color: #f38b11;
  margin-left: 10px;
}

/*#survey .form-content{
    padding:0 10px;
}*/
.text-capitalize {
  text-transform: capitalize;
}

.ai-viewer-wrap {
  margin: 0;
}

.ai-viewer-wrap .well {
  height: auto;
}

.form-content {
  margin-top: 20px;
  padding: 0 20px;
}

/* Fix to remove margin-top on containers with tabs above */
.row + .row .form-content {
  margin-top: 0;
}

textarea.basic-input {
  height: 152px;
}

.form-content textarea.form-control {
  height: 100px;
}

@media (max-width: 320px) {
  .form-content {
    padding: 0 10px;
  }

  /*fieldset{ padding-left: 5px;padding-right:5px}*/
  [class*="col-"] .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
fieldset {
  margin-top: -1px;
  border-radius: 0 !important;
}

/* form wrap */
.form-wrap {
  padding-bottom: 20px;
}

.empty-wrap {
  padding: 20px;
}

.min-h-100 {
  min-height: 100px;
}

.overflow-visible {
  overflow: visible !important;
}

.odd {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
}

.even {
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

.pipe {
  border-right: 1px solid #aaaaaa;
  height: 100%;
  width: 1px;
  margin-right: 10px;
}

hr.spacer {
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}
hr.spacer.spacer-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}
hr.spacer.spacer-2x {
  padding-top: 40px;
  padding-bottom: 40px;
}

.truncate-to-fit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*----------NG-ANIMATE---------*/
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

/*# sourceMappingURL=core.layout.css.map */
