﻿    /* layout */

        #wrapper {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }


            #wrapper #sidebar-wrapper1 {
                z-index: 1000;
                position: absolute;
                width: 250px;
                left: 0;
                height: 100%;
                overflow-y: auto;
                background: #E8E8E8;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            #wrapper #page-content-wrapper {
                width: 100%;
                position: relative;
                padding-left: 250px;
            }

        #page-sidebar-toggle {
            display: none;
        }

        .sticky {
            position: fixed;
            width:inherit;
            top: 0;
            z-index: 100;
            border-top: 0;
            margin-right:250px;
        }

        @media (max-width:768px) {
            #wrapper #sidebar-wrapper1 {
                display: none;
            }

            #wrapper #page-content-wrapper {
                padding-left: 0;
            }

            #page-sidebar-toggle {
                display: block;
                color: #444;
                margin-top: 14px;
                margin-right: 15px;
                text-decoration: none;
            }

            .sticky {
                padding-left: 0;
            }
        }

        /* end layout */


        .navbar {
            margin-bottom: 0;
        }

        .page-header {
            overflow: hidden;
            padding: 0px 20px 0px 20px;
            color: #222222;
            border-bottom-color: #dddddd;
            color: #222222;
            background: white;
            margin: 20px -20px 0px -20px;
            padding-bottom: 0px;
            min-height: 60px;
        }

            .page-header h1 {
                margin: 0;
            }

        /*@@media(min-width:768px) {
                #wrapper {
                    padding-left: 250px;
                }

                    #wrapper.toggled {
                        padding-left: 0;
                    }

                #sidebar-wrapper {
                    width: 250px;
                }

                #wrapper.toggled #sidebar-wrapper {
                    width: 0;
                }

                #page-content-wrapper {
                    padding: 0px;
                }

                #wrapper.toggled #page-content-wrapper {
                    position: relative;
                    margin-right: 0;
                }
            }*/

        .navbar {
            border-radius: 0;
            border-bottom: 1px solid #eee;
        }

        #date-picker-btn:hover {
            opacity: 1;
        }

        #date-picker-btn {
            padding: 5px;
            text-transform: uppercase;
            color: #818181;
            opacity: 0.7;
            cursor: pointer;
        }

        .fill {
            display: block;
            background-position: left center;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .well {
            display: block;
            height: 310px;
            overflow: hidden;
            position: relative;
        }

        #sidebar-wrapper12 {
            width: 250px;
            border: 1px solid #e1dede;
            color: gray;
            background: #eee;
            height: 100%;
        }

        #client-context {
            color: #818181;
            font-size: 16px;
        }

            #client-context:hover {
                color: #444;
            }

        #menu-toggle:hover {
            text-decoration: none;
        }


        .sidemenu-nav a {
            color: #000;
        }

        .sidemenu-nav .sidenav-icons {
            font-size: 18px;
            margin-right: 5px;
        }


        ul.nav-grouping {
            margin-bottom: 0;
            background: #d8d8d8;
            min-width: 250px;
        }

            ul.nav-grouping li a {
                text-transform: uppercase;
                color: #444;
                font-weight: bold;
                padding: 10px 10px 8px 10px;
                overflow: hidden;
            }

                ul.nav-grouping li a span {
                    font-size: 20px;
                    display: block;
                }

        .name-box {
            background: #f38b11;
            background: #e8e8e8;
            height: 52px;
        }

            .name-box .name-txt {
                font-size: 20px;
                color: #444;
                text-align: left;
                padding-left: 10px;
                padding-top: 15px;
            }

                .name-box .name-txt #account-menu-toggler {
                    color: #444;
                    padding-top: 5px;
                    padding-right: 12px;
                    font-size: 14px;
                }

        .nav-sidenav li ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
        }

        .nav-sidenav li {
            background: #DBDBDB;
        }

            .nav-sidenav li a {
                background: #DBDBDB;
                color: #444;
            }

                /*.nav-sidenav li.active-link {
            background: #f38b11;
        }*/

                .nav-sidenav li a .fa-arrow-down,
                .nav-sidenav li a .fa-arrow-right {
                    font-size: 20px;
                }

            .nav-sidenav li ul li {
                padding: 8px 20px;
                background: #e8e8e8;
            }

                .nav-sidenav li ul li ul {
                    padding-top: 10px;
                }

                .nav-sidenav li ul li a {
                    text-decoration: none;
                    background: #e8e8e8;
                }

        .activelink {
            background: #c8c8c8;
            color: #fff;
        }