﻿@import "Common/_globals";

html,body{height:100%}
html{font-size:14px;}

body {
    background: $gray;
    padding-top: 80px;

    font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 60px;

    @include breakpoint(laptop) {
        padding-top:60px;
    }

    .body-wrapper {
        // Side Bar
        -moz-transition: all $defaultAniSpeed ease-in-out;
        -o-transition: all $defaultAniSpeed ease-in-out;
        -webkit-transition: all $defaultAniSpeed ease-in-out;
        transition: all $defaultAniSpeed ease-in-out;

        &.active-notification {
            @include breakpoint(largedesktop) {
                padding-right: $notificationBarWidth;
            }
        }
    }

    &.active-side {
        .body-wrapper {
            // Side Bar
            @include breakpoint(desktop) {
                padding-left: $sidebarWidth;
            }
        }
    }
    
    //HACK to hide header and sidebar for viewing within MobileWebView in Titanium........-_-
    &.is-mobile-web-view{
        padding-top:0 !important;

        .body-wrapper{
            padding-left:0 !important;
        }

        header,
        a.menu-toggle-btn,
        .sidebar-wrap,
        quality-tab-navigation,
        my-profile-header
        {
            display:none !important;
        }
    }
}

.active-side{
        
	.fixed-header{
        z-index: 11;
		@include screen('desktop') {
			padding-right: $sidebarWidth;
		}
	}
	header{
		@include screen('desktop') {
			left: $sidebarWidth;
		}
	}
}


.sbm-orange, .bg-sbm-orange {
    background-color: #f38b11;
    border-color: #eea236;
    color: #f38b11;
}

.sbm-blue, .bg-sbm-blue {
    background-color: #40526e;
    color: #40526e;
}

a:hover, a:focus {
    text-decoration: none;
}
.padding{
    padding:10px !important;

    &-top {
        padding-top: 10px !important;
    }

    &-right {
        padding-right: 10px !important;
    }

    &-bottom {
        padding-bottom: 10px !important;
    }

    &-left {
        padding-left: 10px !important;
    }
}
.margin {
    margin:10px !important;
    &-top {
        margin-top: 10px !important;
    }

    &-right {
        margin-right: 10px !important;
    }

    &-bottom {
        margin-bottom: 10px !important;
    }

    &-left {
        margin-left: 10px !important;
    }
}

.no-margin {
    margin:0 !important;
    &-top {
        margin-top: 0 !important;
    }

    &-right {
        margin-right: 0 !important;
    }

    &-bottom {
        margin-bottom: 0 !important;
    }

    &-left {
        margin-left: 0 !important;
    }
}

.no-padding {
    padding:0 !important;

    &-top {
        padding-top: 0 !important;
    }

    &-right {
        padding-right: 0 !important;
    }

    &-bottom {
        padding-bottom: 0 !important;
    }

    &-left {
        padding-left: 0 !important;
    }
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-border{
    border: none !important;
}
.line-height{
    &-25{line-height:25px !important}
    &-50{
        line-height:27px !important;
        @include breakpoint(tablet){
            line-height: 50px !important;
        }
    }
    &-100{line-height:100px !important}
}

.clickable{ cursor:pointer !important; }

.not-clickable{cursor:default !important}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #E8E8E8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 0; /*--- Liz: changedd it from 10 to 0 ---*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.navbar {
    margin-bottom: 0;
}

/*.page-header {
    overflow: hidden;
    padding: 0 20px 0 20px;
    color: #222222;
    border-bottom-color: #dddddd;
    background: white;
    margin: 20px -20px 0 -20px;
    padding-bottom: 0;
    min-height: 60px;
}

.page-header h1 {
    margin: 0;
}*/

/*----Liz: 10/29/2014---*/
.btn-orange {
    color: #fff;
    background-color: #f38b11;
    border-color: #eea236;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open > .dropdown-toggle.btn-orange {
    color: #fff;
    background-color: #ec8f1e;
    border-color: #d58512;
}

.btn-blue {
    background-color: #40526e;
    color: #fff;
    border: none;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .dropdown-toggle.btn-blue {
    background-color: #6191e1;
    color: #fff;
}

.btn-save{
    background-color: $success;
    border-color: $success;
    color: $default;
}
.btn-close{
    background-color: $dark;
    border-color: $dark;
    color: $default;
}
.btn-delete{
    background-color: $danger !important;
    border-color: $danger ;
    color: $default;
}

.btn-save:hover, .btn-close:hover, .btn-delete:hover,.btn-save:focus, .btn-close:focus, .btn-delete:focus{
    color: $default;
    outline: none;
}

.stat-wrap {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 12px;
}

.stat-wrap .txt {
    margin: 0;
    padding: 0 10px;
    color: #414242;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.txt-sm {
    margin: 0;
    padding: -10px 0 0 0;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    color: #909fa7;
}

.stat-wrap .stat {
    font-size: 58px;
    line-height: 80px;
    color: #808080;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.stat-wrap .stat.with-margin {
    margin: 20px auto 30px;
}

.stat-wrap .stat.with-margin-sm {
    margin: 20px auto 10px;
}

.stat-wrap .txt-lg {
    font-size: 75px;
}

.stat-wrap .red {
    color: #E54C2E;
}

.stat-wrap .blue {
    color: #40526E;
}

.stat-wrap .magenta {
    color: #D771AB;
}

.stat-wrap .gold {
    color: #f38b11;
}


#client-picker-panel {
    background-color: #666;
    display: none;
    color: #fff;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 0 15px;
}

#client-picker-panel #client-picker-wrapper {
    padding: 20px;
}

#client-picker-panel #client-picker-wrapper label {
    color: white;
}

label.control-label, .checkbox label, .radio label  {
    color: inherit;
}

.page-title {
    background: white;
    //padding: 10px 20px 5px;
    padding:0;
    position: relative;

    @include breakpoint(tablet) {
        //padding: 12px 30px 12px 20px;
    }



    h3 {
        color: $primary;
        font-weight: 300;
        font-size: 24px;
        padding-left:20px;
        padding-bottom: 20px;
        padding-top:20px;
        @include breakpoint(tablet) {
            font-size: 34px;
            padding-bottom: 0;
        }
    }
}

/**
    @description Toggle left navigation based on screen size.
*/
@media(min-width: 991px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(min-width:768px) {

    /*--- Liz: make the date picker btn stay on scroll ---*/
    #page-header-panel.sticky #date-picker-btn {
        //margin-right: 250px;
    }

    #wrapper.toggled #page-header-panel.sticky #date-picker-btn {
        margin-right: 0;
    }


    #page-header-panel.sticky #client-context {
        margin-right: 250px;
    }

    #wrapper.toggled #page-header-panel.sticky #client-context {
        margin-right: 0;
    }


    #page-header-panel.sticky #client-picker-panel {
        margin-right: 250px;
    }

    #wrapper.toggled #page-header-panel.sticky #client-picker-panel {
        margin-right: 0;
    }




    /*--- end of Liz: make the date picker btn stay ---*/

    .navbar {
        border-radius: 0;
        border-bottom: 1px solid #eee;
    }

    #date-picker-btn:hover {
        opacity: 1;
    }

    #date-picker-btn {
        
        text-transform: uppercase;
        color: #414141;
        opacity: 0.7;
        cursor: pointer;
        margin-right: 0; /*--- Liz: make the date picker btn stay on scroll ---*/
    }

    /* DW: Fix for date-picker-panel bleeding off to the right */
    #wrapper:not(.toggled) .sticky #date-picker-panel {
        padding-right: 270px;
    }

    #wrapper:not(.toggled) #page-header-panel.sticky #client-picker-panel {
        padding-right: 265px;
    }

    .sticky #client-picker-panel {
    }

    .fill {
        display: block;
        background-position: left center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .well {
        display: block;
        /*height: 310px;*/
        overflow: hidden;
        position: relative;
    }
    /*----Liz: 10/17/2014---*/
    #topcontrol {
        background-color: #000;
        padding: 5px 10px;
        font-size: 28px;
        line-height: 20px;
        color: #9B9B9B;
        z-index: 1001;
    }
}

@media(min-width:768px) {
    /*.page-title {
          color: $primary;
          padding-top: 0;
          font-size: 26px;
          line-height: 50px;
          padding-left:12px;
          
    }*/

    #date-picker-btn .date {
        font-weight: bold;
        font-size: 18px;
        color: #414141;
    }

    .select-client {
        font-size: 12px;
        padding-top: 14px;
        padding-right: 20px;
        color: #414141 !important;
        opacity: 1;
    }

    .client-logo {
        padding-top: 3px;
        margin-right: 0;
    }

    .stat-wrap {
        padding-bottom: 20px;
    }

    .stat-wrap .txt-lg {
        padding-top: 50px;
    }
}

@media(max-width:767px) {
    .table-responsive {
        margin-bottom: 0;
    }
}

@media(max-width:767px) and (min-width:480px) {

    /*.page-title {
        color: $primary;
        padding-top: 3px;
        padding-bottom: 1px;
        font-size: 28px;
    }*/

    #date-picker-btn {
        margin-top: 9px;
    }

    #date-picker-btn .date {
        font-weight: bold;
        font-size: 20px;
        color: #414141;
        text-transform: uppercase;
        opacity: 0.7;
        cursor: pointer;
    }

    .select-client {
        font-size: 12px;
        padding-top: 16px;
        padding-right: 20px;
        color: #414141 !important;
        opacity: 1;
    }

    .client-logo {
        padding-top: 3px;
        margin-right: 0;
    }
}

@media(min-width:479px) {

    /*----------------*/
    /* Header 2nd Bar */
    /*----------------*/
    #title-header-panel {
        background: #f5f5f5;
        border-bottom: 1px solid #ddd;
    }

    .title-box-panel-wrapper {
        margin-top: 0;
        padding: 0 10px;
       overflow: hidden;
    }

    .title-box-panel-wrapper .page-title span {
        color: $primary;
    }

    .date-picker-btn {
        margin-top: 8px;
    }
}

@media(max-width:479px) {

    /*.page-title {
        color: $primary;
        padding-bottom: 3px;
        font-size: 26px;
        padding-left:10px;
    }*/

    .page-title .fa-quality {
        font-size: 16px;
    }

    .tabs-wrap .add-btn {
        margin: 7px 0 5px 0;
    }

    #date-picker-btn {
        margin-top: 8px;
        cursor: pointer;
    }

    #date-picker-btn .date {
        font-weight: normal;
        font-size: 12px;
        color: #414141;
        text-transform: uppercase;
        opacity: 0.7;
        cursor: pointer;
    }

    #date-picker-btn .fa-calendar {
        font-size: 14px;
    }

    #insite-logo {
        margin-top: 4px;
        width: 55px;
    }

    .select-client {
        font-size: 11px;
        padding-top: 17px;
        padding-right: 0;
        color: #414141 !important;
        opacity: 1;
    }

    .client-logo {
        padding-top: 3px;
        margin-right: -200px;
    }

    .stat-wrap .txt-lg {
        padding-top: 0;
    }

    /*----------------*/
    /* Header 2nd Bar */
    /*----------------*/
    #title-header-panel {
        background: #f5f5f5;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
    }

    .title-box-panel-wrapper {
        margin-top: 0;
        padding: 10px 10px;
        overflow: hidden;
    }

    

    .date-picker-btn {
        margin-top: 8px;
    }

    /*Marcos Graph Height

#qualityAuditsDash{
    height: 200px !important;
}*/

}

.sticky {
    .title-box-panel-wrapper {
        > .pull-right {
            // Fixes items on Right of title bar from being hidden after scrolling
            @include breakpoint(tablet) {
                padding-right: 250px;
            }
        }
    }
}

.sidemenu-nav a {
    color: #000;
}

.sidemenu-nav .sidenav-icons {
    font-size: 18px;
    margin-right: 5px;
}

ul.nav-grouping {
    margin-bottom: 0;
    background: #d8d8d8;
    min-width: 250px;
}

ul.nav-grouping li a {
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
    padding: 10px 10px 8px 10px;
    overflow: hidden;
}

ul.nav-grouping li a span {
    font-size: 20px;
    display: block;
}

.name-box {
    background: #f38b11;
    background: #e8e8e8;
    height: 51px;
}

.name-box .name-txt {
    font-size: 20px;
    color: #444;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
}

.name-box .name-txt #account-menu-toggler {
    color: #444;
    padding-top: 5px;
    padding-right: 12px;
    font-size: 15px; /*Marcos Changed 14 - 15 */
}


/* Side Nav CSS Starts Here------------------------------- */

.nav-sidenav li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px; /*Marcos Changed 14 - 15 */
    outline: none;
}

.nav-sidenav li {
    background: #DBDBDB;
    outline: none;
}

.nav-sidenav li a { /* Daily Management,Performance.... */
    background: #DBDBDB;
    color: #444;
    outline: none;
}

.nav-sidenav li.active-link { /*KPIs */
    background: #f38b11;
    outline: none;
}

.nav-sidenav li a .fa-arrow-down,
.nav-sidenav li a .fa-arrow-right {
    font-size: 20px;
}

.nav-sidenav li ul li {
    padding: 13px 20px;
    background: #e8e8e8;
    outline: none;
}

.nav-sidenav li ul li ul {
    padding-top: 10px;
    outline: none;
}

.nav-sidenav li ul li a {
    text-decoration: none;
    background: #e8e8e8;
    outline: none;
}

.activelink {
    background: #f38b11;
    color: #fff;
    outline: none;
}

.divider {
    height: 2px;
    background: #f5f5f5;
}

.divider1 {
    height: 1px;
    background: #f5f5f5;
}

/*content wrapper styles --------------------------------------------------*/

#client-context {
    color: #414141;
    font-size: 16px;
}

#client-context:hover {
    color: #444;
}

#menu-toggle:hover {
    text-decoration: none;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-top: 0;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
    background: rgba(245,245,245,0.95);
}


/* datepicker 
#date-picker-panel {
    background-color: #666;
    display: none;
    margin: 0;
    padding: 0 20px;
}

#date-picker-panel > .row {
    padding: 20px 0;
}


#date-picker-panel #month-range .btn-group .btn {
    width: 25%;
}

#date-picker-panel #date-range {
}


#date-picker-panel #or {
    text-align: center;
    padding: 10px 0;
    color: white;
}

#date-range input.btn {
    vertical-align: top;
}
*/

#date-picker-panel{
    #month-range{
        .btn-group{
            .btn{
                width: 25%;
                background-color: $border;
                font-size: 12px;
                font-weight: 600;
                color: $base-dark;

                &:hover,&.active {
                    background-color: $success;
                    color: white;
                }
            }
        }
    }
}

@media(min-width:320px) and (max-width:991px) {
    /*#date-picker-panel #month-range .btn-group {
        width: 100%;
        text-align: center;
    }

    #date-picker-panel #month-range .btn-group .btn {
        width: 25%;
        padding: 6px 0;
    }*/

    #date-range .form-group {
        margin-bottom: 0;
    }

    #date-range .date {
        padding: 0 0 20px;
    }

    #date-range .date input.form-control {
        padding: 6px 12px;
        height: 34px;
    }
}

/* Short screens */
@media(max-height:420px) {
    /*.page-title {
        color: $primary;
        padding-top: 6px;
        padding-bottom: 3px;
        font-size:26px;
        line-height:50px;
    }*/

    #date-picker-btn .date {
        font-size: 12px;
    }

    #date-picker-panel #or {
        padding: 4px 0;
    }

    #date-picker-panel #month-range .btn-group .btn {
        width: 25%;
        padding: 5px 0;
    }

    #date-range .date {
        padding: 0 0 3px;
        margin-bottom: 7px;
    }

    #date-range .date input.form-control {
        padding: 5px 12px;
        height: 30px;
    }
}

@media (min-width : 768px) and (max-width:991px) {
    #date-picker-panel #month-range {
        text-align: center;
    }

    #date-picker-panel #date-range .form-inline {
        margin: 0 auto !important;
        text-align: center;
        width: auto;
    }

    #date-picker-panel #date-range .form-inline .form-group {
    }

    #date-range .date input.form-control {
        width: 185px;
    }

    #date-picker-panel #date-range .input.btn {
        vertical-align: top;
        padding: 10px;
    }

    #date-picker-panel #month-range .btn-group {
        width: auto;
    }

    #date-picker-panel #month-range .btn-group .btn {
        width: 130px;
    }
}

@media (min-width:991px) {
}


/* */



/* alert count */
.notice-new {
    background: #ed5d31;
    background: -moz-linear-gradient(top, #ed5d31 0%, #d04419 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed5d31), color-stop(100%,#d04419));
    background: -webkit-linear-gradient(top, #ed5d31 0%,#d04419 100%);
    background: -o-linear-gradient(top, #ed5d31 0%,#d04419 100%);
    background: -ms-linear-gradient(top, #ed5d31 0%,#d04419 100%);
    background: linear-gradient(to bottom, #ed5d31 0%,#d04419 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed5d31', endColorstr='#d04419',GradientType=0 );
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 5px 5px 5px !important;
    font-size: 14px !important;
    height: 20px !important;
    color: #fff !important;
    top: 55px;
    left: 40px;
    position: absolute;
}

#menu-link {
    display: none;
}


/*----------------*/
/* login panel    */
/*----------------*/
.login-panel {
    padding: 25px 30px 25px 30px;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    float:none;

    .logo-wrap {
        padding-bottom: 15px;
        margin-bottom: 20px;
        text-align: center;

        a.brand{
            color:$warning;
            font-size:50px;
            line-height:50px;
        }
    }
    .img-responsive {
        margin: 0 auto;
    }
    .form-group {
        margin-bottom: 0;
    }
    input[type="text"]{
        margin-bottom: -1px;
        height: 44px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="password"]{
        margin-bottom: 10px;
        height: 44px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .checkbox {
        float: left;
        padding-top: 0;
        margin-left: 20px;
        label {
            padding-left: 0;
            padding-bottom: 10px;
        }
    }
    .forgot-pw{
        float: right;
    }
    .form-action {
        text-align: center;
        margin-bottom: 10px;
        .btn-lg{
            padding: 7px 16px;
            border-radius: 4px;
        }
    }
    .btn:focus{
        color: $default;
    }
    .btn-submit-forgot-pw{
        margin-top: 15px;
    }
    .forgot-pw-textbox{
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
    .reset-password{
        input[type="password"]{
            border-radius: 4px;
        }
        .password{
            margin-bottom: -1px;
            height: 44px;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        .confirm-pw{
            margin-bottom: 10px;
            height: 44px;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }
}



/* ---------------------------------- side bar css ----- all related CSS will be moved here -------------------------------------*/

/*----------------*/
/* sidebar wrapper*/
/*----------------*/
#sidebar-wrapper {
    overflow: hidden;
    border-right: 1px solid #ddd;
}

/*----------------*/
/* welcome panel  */
/*----------------*/
.welcome-panel {
    background: #fff;
    color: #414141;
    padding-top: 5px;
    overflow: hidden;
}

.welcome-panel .user-img {
    float: left;
    padding: 2px;
    margin: 0 15px 0 17px;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.welcome-panel .user-img span {
    font-size: 30px;
}

.welcome-panel .greeting {
    float: left;
}

.welcome-panel .greeting .greeting-txt {
    font-size: 14px;
}

.welcome-panel .greeting .username {
    font-size: 24px;
    margin-top: -10px;
}

/* page content */
.page-content {
    padding: 0 20px;

    @include breakpoint(mobilephone){
        padding:0 5px;
    }
}

/* content panels */

.panel-body {
    padding: 0 20px 20px 20px;
}

.panel-body table {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
}


.page-heading {
    background-color: $default;
    padding: 10px 20px 10px;

    @include breakpoint(tablet) {
        padding: 10px 20px 40px;
    }

    p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: $dark-dark;
    }

    #action-buttons {
        @include breakpoint(tablet){
            top: -55px;
        }

        .btn {
            border-radius: 4px;
            color: #ffffff;
            width: 200px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 12px 50px;
        }
    }
}

/* page tab bar */
.tabs-wrap {
    padding: 0;
    overflow:hidden;
    
}

.tabs-wrap .top-tabs {
    margin: 0;
    padding: 5px 0 10px 20px;
}

.tabs-wrap .top-tabs a {
    border-radius: 0;
    width: 70px;
    text-align: center;
    border-bottom: 2px solid #D0D4DF;
    padding: 4px !important;
    margin-right: 5px;
}

.tabs-wrap .top-tabs a.highlight {
    border-bottom: 2px solid #218ffc;
}

/* add-btn */
.tabs-wrap .add-btn {
    margin: 7px 20px 5px 20px;
}

.tabs-wrap .add-btn i {
    color: white;
}


.panel-header-txt {
    padding: 15px;
    margin: 5px 5px 10px 5px;
    font-size: 20px;
    display: block;
    border-bottom: 1px solid #eee;
    color: #414141;
    font-weight: 600;
}

.panel-header-txt .btn {
    margin-top: -6px;
}

.details-grid thead tr th {
    background-color: #666666;
    color: #fff;
    font-weight: normal;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-color: #666666;
    border-top: 1px solid #403e3e !important;
    border-bottom: 1px solid #403e3e;
    text-align: center;
}

.details-grid thead tr td {
    padding-top: 12px !important;
}

.details-grid > tbody > tr > td {
    vertical-align: middle;
}

.details-grid td.action-btn-wrap {
    padding-left: 2px;
    padding-right: 2px;
}



/* FIX for Bootstrap progress bars in table */
table .progress {
    margin-bottom: 0;
}

/* stat box */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .tabs-wrap .add-btn {
        margin: 7px 20px 5px 0;
    }

    .highcharts-legend-item {
        font-size: 8px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #date-picker-panel #month-range {
        text-align: center;
    }


    #date-picker-panel #date-range .form-inline {
        margin: 0 auto !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #date-picker-panel #month-range {
        text-align: left;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

.legend-slice-color {
    float: left;
    padding-top: 5px;
    padding-right: 5px;
}

.legend-txt {
    line-height: 22px;
    float: left;
    font-weight: 600;
    font-size: 13px;

    @include breakpoint($tablet){
        font-size: 15px;
    }
}

.legend-val {
    line-height: 22px;
    float: right;
    display: block;
    width: 40px;
    text-align: right;
    font-weight: normal;
    font-size: 13px;

    @include breakpoint($tablet){
        font-size: 15px;
    }
}

/* chart wrap */
.chart-wrap {
    padding: 10px 20px 20px 20px;
}

.legend-wrap {
    border-top: 1px solid #eee;
    padding: 20px 0;
    margin: 0 20px;
}

/*#survey .survey-row{ padding:15px 0 25px 15px;
  border-bottom: 1px dashed #efefef; }

#survey .survey-row .number{ position:absolute; left:-5px}*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .chart-wrap .border-wrap {
        border: solid #eee;
        border-width: 1px 0 0 0;
        margin-top: 20px;
        padding-top: 20px;
    }

    .one-datapoint {
        min-height: 220px;
    }

    .plus-btn {
        display: none;
    }

    #survey input[type=submit] {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width : 320px) {

    .plus-btn {
        display: none;
        text-transform: uppercase;
    }
    /*#survey .score-input-group button, #survey .score-input-group input[type=number]{
        padding:6px 8px;
    }
      #survey input[type=submit]{
        width:100%;
        display:block
    }*/



}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .plus-btn {
        padding-left: 7px;
        display: inline-block;
        text-transform: uppercase;
    }
    /*#survey input[type=submit] {
        float:right;
        width:auto;
    }*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .chart-wrap .border-wrap {
        border: solid #eee;
        border-width: 0 0 0 1px;
        padding-top: 0;
        padding-left: 20px;
    }

    .one-datapoint {
        min-height: 448px;
    }

    .well .col-md-9 {
        border-left: 1px dotted #e4e4e4;
    }
}

/* entry form */
.warning-txt {
    color: #f38b11;
    margin-left: 10px;
}

/*#survey .form-content{
    padding:0 10px;
}*/


.text-capitalize{
    text-transform:capitalize;
}

.ai-viewer-wrap {
    margin: 0;
}

.ai-viewer-wrap .well {
    height: auto;
}

.form-content {
    margin-top: 20px;
    padding: 0 20px;
}
/* Fix to remove margin-top on containers with tabs above */
.row + .row .form-content {
    margin-top: 0;
}

textarea.basic-input {
    height: 152px;
}

.form-content textarea.form-control {
    height: 100px;
}

@media(max-width:320px) {
    .form-content {
        padding: 0 10px;
    }

    /*fieldset{ padding-left: 5px;padding-right:5px}*/

    [class*="col-"] .col-xs-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

fieldset{
    margin-top:-1px;
    border-radius:0 !important;
}

/* form wrap */
.form-wrap {
    padding-bottom: 20px;
}

.empty-wrap {
    padding: 20px;
}


.min-h-100 {
    min-height: 100px;
}

.overflow-visible {
    overflow: visible !important;
}

.odd {
    background-color: #f9f9f9;
    border: 1px solid #e4e4e4;
}

.even {
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.pipe {
    border-right: 1px solid #aaaaaa;
    height: 100%;
    width: 1px;
    margin-right: 10px;
}

$default-padding: 10px;

hr.spacer{
    border-color:transparent;
    padding-top:$default-padding;
    padding-bottom:$default-padding;

    &.spacer-lg{
        padding-top:$default-padding * 2;
        padding-bottom:$default-padding * 2;
    }
    &.spacer-2x{
        padding-top:$default-padding * 4;
        padding-bottom:$default-padding * 4;
    }
}

.truncate-to-fit{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}




/*----------NG-ANIMATE---------*/


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}