﻿@import "Common/globals";
@import "Common/sidebar";
@import "Common/header";
@import "Common/bootstrap-overrides";
@import "Common/sbm-card";
@import "Common/sbm-toggle-switch";
@import "Common/sep-popup";

@import "Vendor/flag-icons/flag-icon.scss";

body.block-ui{
    position:relative;
}

.block-ui-container {
    z-index: 9999;

    .block-ui-overlay {
        background: rgba(0, 0, 0, 0.8);
    }
}

/* Details tables with multiple buttons */
table .action-btn-wrap .btn {
    margin: 5px 0;
}

/** Remove spinner from input type number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.attach-btn {
    border-radius: 0 5px 5px 0;
    padding: 10px 14px;
    float: left;
    width: 42px;
}

.block-message {
    text-align: center;
    padding: 50px 0;

    h1.lg-head {
        font-size: 50px;
        color: #40526e;
    }

    .btn {
        margin-top: 30px;
        padding: 10px 35px;
    }
}

.breadcrumb {
    background-color: transparent;
    padding:10px 20px 0;

    > li + li {
        &:before {
            color: #ccc;
            content: " ";
            padding: 0;
        }

        span.fa {
            padding: 0 20px;
            font-size: 14px;
            font-weight: 800;
        }
    }

    > li, .breadcrumb > li a {
        color: #aaa;
        text-transform: uppercase;
    }

    > li {
        &:hover a {
            color: inherit;
            color: #777;
        }

        &.active {
            font-weight: 700;
        }
        a{
             color:#aaa;
        }
        &.home {
            a {

                padding-left: 20px;
                position: relative;
            }

            span.fa {
                font-size: 18px;
                position: absolute;
                left: 0;
            }
        }
    }
}

    #datetimepicker1 .input-group-addon,
    #datetimepicker2 .input-group-addon,
    #datetimepicker4 .input-group-addon,
    #datetimepicker5 .input-group-addon,
    .date-picker .input-group-btn .btn-default,
    .date-picker .input-group-addon {
        background: $primary;
        color: #fff;
        cursor: pointer;
    }
    //Fixes Bootstrap Modal on top
    [datepicker-popup-wrap],.uib-datepicker-popup.dropdown-menu {
        z-index: 1100;
    }


    /*.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    border: 1px solid;
}*/
    /*.btn-primary:hover,
.btn-primary:focus,
.table-a-btn:hover,
.table-a-btn:focus {
    background: #6191e1;
    border-color: #396B96;
    color: #fff;
}*/
    /*.bootstrap-select .dropdown-menu {
    top: 100%;
    min-height: 200px;
}*/
    .basic-input {
        padding: 0 0 0 10px;
        border-radius: 5px;
        border: 1px solid #e4e4e4;
        background: #fff;
        outline: none;
        width: 100%;
        height: 35px;
        -moz-transition: background 0.3s, border 0.3s;
        -o-transition: background 0.3s, border 0.3s;
        -webkit-transition: background 0.3s, border 0.3s;
        transition: background 0.3s, border 0.3s;

        &:focus {
            background: #fff;
            border: 1px solid $primary;
        }

        @include breakpoint(laptop) {
            height: 35px;
        }
    }

    textarea.basic-input {
        padding-top: 5px;
        resize: vertical;
    }

    .field-wrap textarea.basic-input {
        height: 152px;
    }


    .radio-btns {
        .btn-primary {
            background: transparent;
            color: #626262;
            /*-webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;*/
            border: 1px solid $primary;
        }

        .btn-primary.active {
            background: $primary;
            color: #fff;
        }
    }

    .field-wrap .btn.col-xs-6 {
        padding: 8px 12px;
    }

    .attach-btn.btn.btn-primary, #datetimepicker1 .input-group-addon, #datetimepicker2 .input-group-addon, #datetimepicker4 .input-group-addon, #datetimepicker5 .input-group-addon,
    .date-picker .input-group-btn .btn-default,
    .date-picker .input-group-addon {
        background: #D2D2D2;
        border: none;
    }


    .monthly-date-picker {
        background: #4699c9;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;

        @include breakpoint(laptop) {
            width: 240px;
            position: absolute;
            top: 15px;
            right: 20px;
            z-index: 1;
            height: 36px;
            line-height: 36px;
        }




        a {
            line-height: inherit;
            color: #ffffff;
            background: #378dbe;
            padding: 0 25px;

            @include breakpoint(laptop) {
                padding: 0 15px;
            }

            &:hover {
                background: #3381ae;
            }
        }
    }

    .error {
        color: red;
        font-weight: bold;
    }

    .required {
        color: red;
        font-weight: bold;
    }

    .btn-circle {
        width: 24px;
        height: 24px;
        text-align: center;
        padding: 2px 0;
        font-size: 12px;
        line-height: 1.428571429;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 15px;
    }

    input.ng-invalid {
        border: 1px solid red;
    }

    textarea.ng-invalid {
        border: 1px solid red;
    }
    /*input.ng-valid-required,
select.ng-valid-required,
textarea.ng-valid-required{
    border:1px solid $success;
}*/
    .ng-valid-date[data-ng-required=false] {
        border-color: #e4e4e4;
    }

    input.ng-invalid-required,
    select.ng-invalid-required,
    textarea.ng-invalid-required,
    multiselect.ng-invalid-required button {
        border: 1px solid $danger;
    }
    /*form .ng-dirty.ng-valid-required,
.sbm-form .ng-dirty.ng-valid-required {
    border-color:limegreen;
}
form .ng-dirty.ng-valid-required:after,
.sbm-form .ng-dirty.ng-valid-required:after {
    content: "\f058";
    color: limegreen;
    position: absolute;
    right: -14px;
    top: 27%;
    font: normal normal normal 14px/1 FontAwesome;
}*/
    /*form .ng-invalid-required:after,
.sbm-form .ng-invalid-required:after {
    content: "\f00d";
    color: red;
    position: absolute;
    right: -14px;
    top: 27%;
    font: normal normal normal 14px/1 FontAwesome;
}*/
    .progress-bar[style*=' 0%'] {
        text-indent: 5px;
        color: $muted;
    }

    .empty-message {
        display: table-cell;
        height: 348px;
        float: none;
        vertical-align: middle;
        text-align: center;
        width: 1%;

        @include breakpoint(mobilephone) {
            height: 120px;
        }
    }

    .panel {
        .panel-body {
            label {
                margin-top: 10px;
            }
        }
    }

    .table-filter {
        .table-btns {
            margin: 5px 0;

            .btn {
                padding: 7px 12px;
            }
        }
    }

    .file-upload {
        background: none repeat scroll 0 0 #fff;
        border-color: #e4e4e4;
        height: 43px;
        margin-bottom: 10px;
        padding: 0;

        &-name {
            float: left;
            font-size: 14px;
            height: 100%;
            line-height: 40px;
            overflow-y: auto;
            padding-left: 10px;
            width: calc(100% - 42px);
        }

        .label-box {
            background: none repeat scroll 0 0 #e8e8e8;
            float: left;
            font-size: 16px;
            font-weight: 600;
            height: 100%;
            line-height: 40px;
            text-align: center;
            width: 140px;
        }
    }

    input.file-upload-input {
        display: none;
    }

    .file-upload-name {
        line-height: 40px;
        height: 100%;
        float: left;
        width: calc(100% - 42px);
        font-size: 14px;
        padding-left: 10px;
        overflow-y: auto;

        @include breakpoint(laptop) {
            font-size: 13px;
            width: calc(100% - 42px);
        }
    }
    /*.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }

    .bootstrap-select.btn-group {
        li {
            width: 100%;
        }

        .btn .fa-caret-down:before {
            color: #666;
            font-size: 18px;
            position: absolute;
            top: 5px;
            right: 15px;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .btn .fa-caret-down {
            background: #F9F9F9;
            border-left: 1px solid #e4e4e4;
            width: 42px;
            right: 0;
            height: 100%;
            position: absolute;
            top: 0;
            border-radius: 0 4px 4px 0;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .btn:hover .fa-caret-down {
            background: $primary;
        }

        .btn-default {
            background: #fff;
            border: 1px solid #e4e4e4;
        }

        .dropdown-menu li a {
            outline: none;
            border: none;
        }
    }*/
    .row-btn-icon {
        background: #f5f6f6;
        border-radius: 4px;
        border: 1px solid #e2e8ed;
        padding-left: 0;
        width: 54px;
        height: 35px;
        display: block;
        text-align: center;
    }

    .highcharts-container {
        g text, span {
            text-shadow: none;
            font-family: 'Open Sans';
        }
    }

    .profile-field .label, .label-blue {
        color: $primary;
        font-size: 16px;
        padding: 0;
    }

    .profile-field {
        .radio-wrap {
            margin-right: 0;

            label {
                font-size: 16px;
                padding-left: 25px;

                &:after {
                    font-size: 22px;
                }
            }
        }

        margin-bottom: 10px;
    }

    .profile-field-dropdown .selectpicker {
        margin-top: 5px;
    }

    .profile-pic {
        width: 100px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #e4e4e4;
        position: absolute;
        top: 30px;
        right: 20px;

        img {
            width: 100%;
        }
    }

    .profile-wrap {
        a.pro-btn {
            background: $primary;
            color: #fff;
        }

        .bootstrap-select {
            &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
                max-width: 220px;
            }

            &.btn-group .btn .caret {
                background: $primary;
            }
        }
    }
    // Fix for margin below tabs on first .well in container
    .container-fluid > .row > .well {
        margin-top: 0;
    }

    .row {
        .form-group {
            margin-left: 0;
            margin-right: 0;
        }
    }

    form {
        .well .row .form-wrap {
            margin-bottom: 30px;
        }

        .well .row:last-of-type [name] {
            margin-bottom: 0;
        }
    }

    .well {
        padding: 5px;
        margin: 10px 0;
        background: #fff;
        clear: both;
        width: 100%;
        /*overflow: hidden;*/
        height: auto;

        @include breakpoint(laptop) {
            padding: 19px;
        }

        hr {
            @include breakpoint(laptop) {
                margin-top: 20px;
            }

            &.spacer {
                border: 0;
                height: 1px;
            }
        }

        &.well-clean {
            box-shadow: 0 0 transparent;
            border: 0;
        }

        &.well-squared {
            border-radius: 0 !important;
        }
    }

    .back-label {
        padding-top: 5px;
        padding-bottom: 15px;
        font-size: 12px;
        color: #6E6E6E;
        font-weight: bold;
        transition: all 0.3s ease 0s;

        &:hover {
            padding-left: 0;
        }

        i {
            float: left;
            padding: 0 5px;
            margin-top: -1px;
            font-size: 18px;
        }
    }

    h1.light, h2.light, h3.light {
        font-weight: 400;
    }

    .chart-title {
        padding: 5px 0 0 5px;

        @include breakpoint(laptop) {
            padding: 0;
            padding-left: 10px;
        }
    }

    .left-all {
        float: left;
    }

    .success-color {
        color: #48c101 !important;
        font-weight: 600;
    }

    .danger-text {
        color: #e54c2e !important;
        font-weight: 600;
    }

    .bootbox {
        .modal {
            z-index: 1070 !important;
        }

        .modal-dialog {
            .modal-body {
                padding: 15px;
            }
        }
    }

    multiselect {
        .closer.btn {
            @include breakpoint(laptop) {
                display: none !important;
            }

            position: absolute;
            bottom: -300px;
            right: 3px;
            z-index: 9999 !important;
            display: none;
        }
        /*&.ng-invalid-required button.dropdown-toggle {
      border: 1px solid $danger;
    }*/
        .open {
            .closer.btn {
                display: block;
            }
        }
    }

    .ats-switch {
        border: 1px solid;
        cursor: pointer;
        display: inline-block;
        text-align: left;
        overflow: hidden;
        line-height: 8px;
        min-width: 100px;

        &.disabled {
            opacity: 0.5;
            filter: alpha(opacity = 50);
            cursor: default !important;

            .switch-left, .switch-right, .knob {
                cursor: default !important;
            }
        }

        span {
            cursor: pointer;
            display: inline-block;
            float: left;
            height: 100%;
            line-height: 20px;
            padding: 4px;
            text-align: center;
            width: 33%;
            white-space: nowrap;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            &.switch-left {
                color: #fff;
                background: #428bca;
            }

            &.switch-right {
                color: #000;
                background: #eeeeee;
            }
        }

        > div {
            position: relative;
            width: 150%;
        }

        .knob {
            background: red;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            background-color: #f5f5f5;
            width: 34%;
            z-index: 100;
        }

        .switch-on {
            left: 0;
        }

        .switch-off {
            left: -50%;
        }

        .swtich-left, .switch-right {
            z-index: 1;
        }

        .switch-left {
            color: #fff;
            background: #005fcc;
        }

        .switch-right {
            color: #333;
            background: #f0f0f0;
        }

        .switch-animate {
            -o-transition: left 0.5s;
            -moz-transition: left 0.5s;
            -webkit-transition: left 0.5s;
            transition: left 0.5s;
        }

        display: inline-block;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid;
        border-color: #cccccc;
        position: relative;
        text-align: left;
        overflow: hidden;
        line-height: 8px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        min-width: 100px;
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        &:hover {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        &.disabled:hover {
            border-color: #cccccc;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
        }

        .knob {
            border-right: none;
            border-left: none;
            text-align: center;
            margin-top: -1px;
            margin-bottom: -1px;
            z-index: 100;
            background: #ffffff;

            i {
                color: #000;
                text-shadow: 0 1px 0 #fff;
                line-height: 18px;
                pointer-events: none;
            }
        }

        &.switch-mini {
            min-width: 72px;

            .switch-left, .switch-right, .knob {
                padding-bottom: 4px;
                padding-top: 4px;
                font-size: 10px;
                line-height: 9px;
            }

            i.switch-mini-icons {
                height: 1.20em;
                line-height: 9px;
                vertical-align: text-top;
                text-align: center;
                -moz-transform: scale(0.6);
                -ms-transform: scale(0.6);
                -o-transform: scale(0.6);
                -webkit-transform: scale(0.6);
                transform: scale(0.6);
                margin-top: -1px;
                margin-bottom: -1px;
            }
        }

        &.switch-small {
            min-width: 80px;

            .switch-left, .switch-right, .knob {
                padding-bottom: 3px;
                padding-top: 3px;
                font-size: 12px;
                line-height: 18px;
            }
        }

        &.switch-large {
            min-width: 120px;

            .switch-left, .switch-right, .knob {
                padding-bottom: 9px;
                padding-top: 9px;
                font-size: 16px;
                line-height: normal;
            }
        }



        &.switch-primary span.switch-left {
            color: #fff;
            background: #428bca;
        }

        &.switch-info span.switch-left {
            color: #fff;
            background: #5bc0de;
        }

        &.switch-success span.switch-left {
            color: #fff;
            background: #5cb85c;
        }

        &.switch-warning span.switch-left {
            background: #f0ad4e;
            color: #fff;
        }

        &.switch-danger span.switch-left {
            color: #fff;
            background: #d9534f;
        }

        &.switch-default span.switch-left {
            color: #000;
            background: #eeeeee;
        }
    }

    .line-m {
        margin: 5px 0 5px 0 !important;

        @media(max-width: 767px) {
            margin: 5px -10px 5px -10px !important;
        }
    }
    /* EMMET snippet:
        .employee-header>span.profile-img>img^+span.name+span.position+span.start-date+a.pull-right.btn.btn-default.btn-sm>span.fa.fa-arrow-
    */
    /*.employee-header {

    padding-left: 100px;
    overflow: hidden;

    .profile-img {
        border: 3px solid #ccc;
        border-radius: 50%;
        height: 90px;
        width: 90px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        left: 10px;
        top: 6px;

        img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
    }


        .name {
            font-size:24px;
            padding-top: 10px;
            line-height:12px;
        }

        .position {
            float: left;
            clear: both;
            font-size: 18px;
        }

        .start-date {
            clear: both;
            font-size: 14px;
        }

}*/
    .ev-header {
        color: #6e6e6e;

        @include breakpoint(mobilephone) {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }

        .com-title-icon i {
            font-size: 88px;
            padding-right: 20px;
            color: $border;
        }

        .ev-i-wrap {
            padding-bottom: 20px;
            padding-left: 100px;
            position: relative;

            @include breakpoint(laptop) {
                padding-bottom: 0;
            }

            .com-title-icon {
                position: absolute;
                top: 0;
                left: 0;
            }

            &.h-dp {
                padding-left: 0;

                p.dp-des {
                    font-size: 16px;
                }
            }

            h3.chart-title {
                line-height: 38px;
                padding-left: 0;
                color: #6e6e6e;
                font-weight: 700;
            }
        }

        .sep-results .col-xs-3, .sep-results {
            .col-xs-4, .data-point {
                border-right: 1px solid #e4e4e4;
                text-align: center;
                padding-top: 10px;
                color: $dark-dark;

                @include breakpoint(mobilephone) {
                    height: 65px;
                    border-bottom: none;
                    border-top: 1px solid #e4e4e4;
                    margin-bottom: 0;
                }

                &.active {
                    background-color: #fcfcfc;
                }

                .text-muted {
                    color: $base-dark;
                }

                b {
                    font-size: 20px;
                    font-weight: 300;

                    @include breakpoint(laptop) {
                        font-size: 40px;
                    }
                }

                p {
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 1.2;

                    @include breakpoint(laptop) {
                        font-size: 12px;
                    }
                }



                &:last-child {
                    /*border-right: none;*/
                }
            }
        }

        p.sep-status {
            margin: 0;
            margin-top: 3px;
            text-align: center;
            font-size: 10px;
            width: 60px;

            @include breakpoint(laptop) {
                width: 90px;
                font-size: 12px;
            }
        }

        p.eva-results-inc, p.eva-results-fail, p.eva-results-pass {
            width: 90px;
            color: #fff;
            padding: 0 5px;
            border-radius: 2px;
            line-height: normal !important;
        }
    }
    /*#signature-wrapper {
         width:100%;
         height:100%;
         position:absolute;
         display:block;
         z-index:99999;
         top:0;
         left:0;
         background-color:white;
    }*/
    .full-screen-signature-pad {
        width: 298px;
        height: 150px;
        margin: 20px auto;
        background-color: #ededed;
        position: relative;
        display: block;
    }

    .audit-field {
        position: relative;
        padding-right: 90px;
        margin-bottom: 15px;

        p {
            padding-bottom: 15px;
            line-height: 20px;

            @include screen(tablet) {
                padding-top: 20px;
                padding-bottom: 20px;
                line-height: 20px;
            }

            @media screen and (orientation:landscape) {
            }

            .dropdown-menu {
                z-index: 2000 !important;
            }
        }

        .eva-btns {
            margin-right: 0;
            position: absolute;
            right: 0;
        }
    }


    @media screen and (orientation:portrait) {
    }

    @media screen and (orientation:landscape) {
    }

    .modal-view {
        color: #6E6E6E;
        padding-right: 20px;
        padding-left: 20px;

        h1 {
            font-size: 34px;
            color: $primary;
            font-weight: 300;
            margin-bottom: 20px;
        }

        label {
            color: $primary;
        }

        @media only screen and (min-width: 990px) {
            .complaint-view h1 {
                font-size: 34px;
            }
        }

        .classification{
            .top-margin{
                margin-top: 5px;

                @include breakpoint(desktop){
                    margin-top: 0;
                }
            }
        }

        .repoter-name {
            font-size: 14px;
            font-style: italic;
            margin-bottom: 10px;

            b {
                font-size: 16px;
                color: #4699c9;
                font-style: normal;
                padding-right: 10px;
            }
        }

        .complaint-repoter {
            p.sm {
                font-size: 14px;
            }

            .emp-program {
                color: #aaaaaa;
                font-style: normal;
                display: inline-block;
                border: 1px solid #aaaaaa;
                padding: 0 5px;
                border-radius: 3px;
                margin-left: 5px;
                margin-bottom: 4px;
                font-size: 12px;
            }

            .complaint-loaction {
                p.sm {
                    font-size: 14px;
                    font-style: italic;
                }

                .move-inline{
                    display: inline;
                    @include breakpoint(desktop){
                        display: block;

                    }
                }
            }
        }

        .warning-text {
            color: $warning;
        }

        @media only screen and (min-width: 990px) {
            .complaint-view .complaint-repoter .complaint-loaction {
                border-left: 1px solid #e4e4e4;
            }
        }

        .complaint-repoter .complaint-loaction b, .complaint-view .complaint-repoter .complaint-loaction p {
            display: inline;
        }

        .note-well {
            margin: 20px 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;

            .wrap{
                word-break: break-all;
            }
        }

        ul.list-item {
            list-style: none;

            li {
                line-height: 50px;
                border-bottom: 1px solid #e4e4e4;

                b {
                    padding-right: 10px;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }

        .btn.active {
            background: #40aa58;
            color: #ffffff;
            border-color: transparent;
        }
    }

    .eva-btn {
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin: 2px 5px;
        text-align: center;
        line-height: 40px;
        border-radius: 50% !important;
        border: 2px solid #e4e4e4;
        color: #aaaaaa;
        padding: 0;
        background: none;
        transition: all 0.3s;

        &:focus {
            width: 40px;
            height: 40px;
            display: block;
            float: left;
            margin: 2px 5px;
            text-align: center;
            line-height: 40px;
            border-radius: 50% !important;
            border: 2px solid #e4e4e4;
            color: #aaaaaa;
            padding: 0;
            background: none;
            transition: all 0.3s;
        }

        input, &:focus input {
            display: none;
        }

        i {
            line-height: 40px;
            float: none;
            font-size: 16px;
        }

        &.active:first-child {
            background: #e14d3c;
            color: #ffffff;
            border: 2px solid #e14d3c;
        }

        &.eva-pass {
            &.active {
                background: $success;
                color: #ffffff;
                border: 2px solid #40aa58;
                box-shadow: none;
            }

            &:hover {
                background: $success;
                color: #ffffff;
                border: 2px solid #40aa58;
                box-shadow: none;
            }
        }
    }

    .dnger-btns, .danger-btns {
        .btn {
            margin-bottom: 5px;

            &.active {
                background: $danger;
                color: $default;
                border-color: transparent;
                box-shadow: none;
            }
        }
    }

    .fail-btns {
        display: none;
    }

.sbm-modal-content {
    /*#date-picker-panel{*/
    display: block;
    background-color: $default;

    .head {
        padding: 15px 15px 0;
        font-weight: 600;


        h4 {
            color: $primary;
            font-weight: bold;
        }
        p{
            font-size: 14px;
             font-weight: 400;
             color: $dark;
             font-style:italic;
        }
    }

    .row {
        padding: 20px;
    }


    .sbm-modal-body {


        @include breakpoint(mobilephone) {
            margin-top: 10px;
        }

        h4 {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid $base;
            line-height: 0.1em;
            margin: 20px 0 35px;
        }

        h4 span {
            background: $default;
            padding: 5px 15px;
            color: $muted-dark;
            border-radius: 5px;
            font-size: 14px;
            font-style: italic;
            font-weight: bold;
            margin: 10px 0;
        }

        .form-inline {
            margin: 0 auto !important;
            text-align: center;
        }

        .form-group {
            margin-bottom: 0;
            label{
                padding-bottom:7px;
            }
        }

        select.form-control {
            height: 45px;
            width: 100%;
        }
    }

    .no-padding {
        padding: 0;
    }
}

    .numberCircle {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background: #fff;
        color: black;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        line-height: 18px;
    }
    // This NOT bootstrap class.
    .circle-img {
        width: 98px; // Default width.
        height: 98px; // Default Height.
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid $base;

        img {
            width: 100%;
        }

        &.circle-img-xs {
            width: 34px;
            height: 34px;
            border: none;
        }

        &.circle-img-sm {
            &.circle-img-xs {
                width: 34px;
                height: 34px;
                border: none;

                @include screen('tablet') {
                    width: 68px;
                    height: 68px;
                    border: 4px solid $base;
                }
            }

            width: 68px;
            height: 68px;
        }

        &.circle-img-md {
            width: 98px;
            height: 98px;
        }

        &.circle-img-lg {
            width: 145px;
            height: 145px;
        }
    }
    //  circle-img done.

ul.basic-list{
    li{
        padding:15px 0;
        border-top:1px solid #eaeaea
    }
}

.fix-to-top{
    position: fixed;
    top:60px;
    z-index: 1;
    width: 100%;
    background: white;
}

.fix-to-bottom{
    position: fixed;
    bottom:60px;
    z-index: 1;
    width: 100%;
    background: white;
}

.no-overflow{
    overflow: hidden;
}

#env-marker{
    position: absolute;
    top: 0;
    right: -31px;
}

.busy {
    min-height: 100px;
}

.cg-busy-default-sign {
    border-radius: 0px !important;
    opacity: .8 !important;
    border: 0 !important;
}
//FOR ngFlowGrid
.flowGrid:before, .flowGrid:after {
    content: "";
    display: table;
}

.flowGrid:after {
    clear: both;
}

.flowGridItem {
    margin-bottom: 10px;
}

.flowGridItem img {
    width: 100%;
}

.flowGridColumn {
    float: left;
    padding-left: 10px;
}

.flowGridColumn:last-of-type {
    padding-right: 10px;
}

.wysiwyg-menu {
    .btn-group {
        width: auto;
    }

    button.btn.btn-default {
        border: 0;
        background: none;
        font-size: 15px;
    }
}


.tabs-left {
    min-height:250px;
	display: flex;
	.tab-content {
		flex: 1;
	}
	>.nav-tabs {
		>li {
			float: none;
			>a {
				min-width: 74px;
				margin-right: 0;
				margin-bottom: 3px;
				margin-right: -1px;
				-webkit-border-radius: 4px 0 0 4px;
				-moz-border-radius: 4px 0 0 4px;
				border-radius: 4px 0 0 4px;
				&:hover {
					border-color: $border $border-dark $border $border;
				}
				&:focus {
					border-color: $border $border-dark $border $border;
				}
			}
		}
		float: left;
		margin-right: 19px;
		border-right: 1px solid $border-dark;
        border-bottom:none;
		.active {
			>a {
				border-color: #ddd transparent $border-dark $border-dark;
				*border-right-color: $default;
				&:hover {
					border-color: #ddd transparent $border-dark $border-dark;
					*border-right-color: $default;
				}
				&:focus {
					border-color: #ddd transparent $border-dark $border-dark;
					*border-right-color: $default;
				}
			}
		}
	}
}
.tabs-right {
	>.nav-tabs {
		>li {
			float: none;
			>a {
				min-width: 74px;
				margin-right: 0;
				margin-bottom: 3px;
			}
		}
	}
}
