﻿.page-404 {
  text-align: center;
  .number {
    position: relative;
    top: 35px;
    display: inline-block;
    letter-spacing: -10px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
    color: #7bbbd6;
    text-align: right;
  }
  .details {
    margin-left: 40px;
    display: inline-block;
    padding-top: 0px;
    text-align: left;
  }
}

/* 500 page option #1 */

.page-500 {
  text-align: center;
  .number {
    display: inline-block;
    letter-spacing: -10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
    color: #ec8c8c;
    text-align: right;
  }
  .details {
    margin-left: 40px;
    display: inline-block;
    text-align: left;
  }
}

.page-404-full-page {
  overflow-x: hidden;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fafafa !important;
  .details input {
    background-color: #ffffff;
  }
  .page-404 {
    margin-top: 100px;
  }
}

/* 500 page option #2*/

.page-500-full-page {
  overflow-x: hidden;
  padding: 20px;
  background-color: #fafafa !important;
  .details input {
    background-color: #ffffff;
  }
  .page-500 {
    margin-top: 100px;
  }
}