label {
  /*color: #3aadda; */
  margin-bottom: 0;
  color: #000;
}

label-message {
  display: block;
  font-weight: normal;
  font-size: small;
  margin-bottom: 0;
}

.btn-group {
  width: 100%;
}

.fa-ehs:before {
  content: "\e600";
}

fieldset {
  border: 1px solid #e4e4e4;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
  background: #FDFDFD;
}

legend {
  border-bottom: none;
  width: auto;
  display: inline;
  padding: 0 5px;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: -5px;
  color: #666;
}

.table-row {
  clear: both;
  min-height: 45px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.table-row .inspe-score {
  overflow: hidden;
  /*padding: 5px;*/
  background: #666666;
  cursor: pointer;
  color: inherit;
  padding: 0;
}

.table-row .inspe-score p {
  color: #fff;
  padding-left: 10px;
}

.table-row p {
  line-height: 35px;
}

.numb-field {
  width: 100%;
  margin: 12px 0;
  float: left;
}

/*.numb-field .col-xs-6:first-child {
    padding-right: 4px;
}*/
.numb-field .numb-field-btn, .numb-field .ai-numb-field-btn, .numb-field-goal, .ai-numb-field-goal {
  border-radius: 5px 0 0 5px;
  display: block;
  float: left;
  height: 35px;
  padding: 8px 0;
  text-align: center;
  width: 42px;
}

.numb-field-goal, .ai-numb-field-goal {
  display: block;
  float: left;
  margin-top: 0;
  border-radius: 5px;
  width: 100%;
}

.numb-field input {
  border-radius: 0;
  float: left;
  height: 35px;
  width: calc(100% - 84px);
}

.numb-field .numb-field-btn.addbtn, .numb-field .ai-numb-field-btn.addbtn {
  border-radius: 0 5px 5px 0;
}

.row-action-wrap.col-sm-7 {
  width: 100%;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  display: none;
}

.row-action-wrap .col-xs-6 {
  /*width: 33.333333%;*/
  float: right;
}

.entry-forms-wrap .col-md-12 {
  float: left;
  width: 100%;
  padding-left: 0;
}

.row-title {
  display: block;
  cursor: pointer;
}

.row-btn-icon {
  background: #f5f6f6;
  border-radius: 4px;
  border: 1px solid #e2e8ed;
  padding-left: 0;
  width: 54px;
  height: 35px;
  display: block;
  text-align: center;
}

.file-input {
  height: 0;
  overflow: hidden;
}

.popText {
  position: absolute;
  left: 50%;
  margin-left: -300px;
  width: 600px !important;
  height: 100px;
  z-index: 8888;
}

.popText textarea {
  width: 100% !important;
  height: 100% !important;
}

.pagination-wrap {
  width: auto;
  padding: 10px;
  border-bottom: none;
  background-color: #fff;
}

@media (min-width: 768px) {
  .clinet-filter ul li {
    display: block;
  }

  .clinet-filter ul li a {
    padding: 0 10px;
  }

  /* NAVBAR END */
  .wt-details h2 {
    font-size: 20px;
    padding: 0 15px 10px;
  }

  .table-action a:last-child {
    margin-right: 5px;
  }

  .table-action {
    width: 106px;
    padding: 8px 10px !important;
  }

  .table-a-btn {
    float: left;
    display: block;
    margin: 0 2px;
  }

  .btn-disable,
  .btn-disable:hover,
  .btn-disable:focus {
    background: #d5d5d5;
  }

  .table-row {
    padding: 5px 0;
  }

  .table-row .inspe-score {
    /*padding: 0;*/
    background: none;
    color: inherit;
  }

  .table-row .inspe-score p {
    padding-left: 0;
    color: inherit;
    cursor: default;
  }

  .row-action-wrap.col-sm-7 {
    width: 58.33333333%;
    clear: none;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
  }

  .row-action-wrap .col-xs-6 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 990px) {
  fieldset {
    padding: 5px 20px;
  }

  legend {
    padding: 0 10px;
    margin-left: -10px;
  }

  .hide-desktop {
    display: none;
  }

  .numb-field .col-xs-6:last-child {
    width: 50px;
    padding: 0;
  }

  .numb-field .col-xs-6:first-child {
    width: 110px;
    padding: 0;
  }

  .numb-field {
    width: 188px;
    margin: 0;
    margin-left: -35px;
  }

  .numb-field input {
    width: calc(100% - 72px);
    width: -moz-calc(100% - 72px);
  }

  .numb-field .numb-field-btn, .numb-field .ai-numb-field-btn, .numb-field-goal, .ai-numb-field-goal {
    width: 36px;
  }

  .numb-field-goal, .ai-numb-field-goal {
    display: block;
    float: left;
    margin-left: 5px;
    margin-top: 0;
    width: 50px;
  }

  .table-ti-wrap .pagination {
    position: absolute;
    top: 3px;
    right: 3px;
  }

  .pagination-wrap {
    padding: 0;
    background-color: transparent;
  }

  .contnet-wrapper {
    padding-top: 110px;
  }

  /* NAVBAR END */
  .com-wrapper {
    padding: 20px 30px;
  }

  .table-title h2 {
    padding: 20px 15px;
  }

  nav,
  .sub-nav {
    padding: 0 20px;
  }

  .sub-nav {
    height: 50px;
    line-height: 50px;
  }

  .sub-nav a {
    font-size: 14px;
    font-weight: 600;
  }

  .sub-nav h1 {
    font-size: 26px;
    line-height: 50px;
  }
}
h4.field-name {
  font-size: 16px;
  color: #888;
}

.table-title-well i {
  float: left;
  padding: 3px 5px 0 0;
}

.table-title-well.pri-color i:before {
  content: "\f0da";
}

.table-ti-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.print-btn {
  position: absolute;
  right: 0;
  top: 10px;
  width: auto;
  z-index: 1;
}

.print-btn-wrap {
  position: absolute;
  right: 10px;
  top: 0;
}

.table-title a.btn {
  margin-top: 15px;
}

/**
    Bootstrap override
*/
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  color: #ccc;
  text-shadow: none;
  width: 13%;
}

.carousel-control:hover {
  cursor: pointer;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #333;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.carousel-indicators li {
  background-color: #ccc;
}

.carousel-indicators .active {
  background-color: #666;
}

.carousel-indicators {
  bottom: -30px;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*.dropdown-menu {
    top: 0;
}*/
.dropdown-menu > li > a {
  white-space: normal;
}

/**
    Customer Survey
*/
.centered-score-box {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  min-height: 96px;
}

.centered-score-box h1 {
  font-size: 42px;
  margin: 0;
}

/**
    Grids
*/
table.table th a {
  color: #fff;
  text-decoration: underline;
}

table.table th a:hover, table.table th a:focus {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
