﻿<wz-step wz-title="1" class="step-one" wz-disabled="{{$ctrl.reviewMode}}">
    <div class="content">
        <h3 class="text-center">Select a Department</h3>
        <p>
            Which department are you sending a message on behalf of?
        </p>
        <select class="form-control" ng-model="$ctrl.department" ng-options="dept.DepartmentId*1 as dept.Name for dept in $ctrl.departments">
            <option value="">- Select a Department -</option>
        </select>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-primary" wz-next="$ctrl.getClientSite()" ng-disabled="!$ctrl.department > 0">
            SELECT SITES <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</wz-step>
<wz-step wz-title="2" canenter="$ctrl.department > 0" wz-disabled="{{$ctrl.reviewMode}}">
    <div class="content">
        <h3 class="text-center">Select a Site</h3>
        <p>Select a single or multiple sites to send the message to.</p>

        <div class="row two-column">
            <div class="col-md-6">
                <ul class="striped">
                    <li class="cell">
                        <label>
                            Select All Sites
                            <input type="checkbox" class="checkbox-inline"
                                   ng-model="$ctrl.selectAllSites" ng-click="$ctrl.checkAllSites()" />
                            <span class="fa fa-add"></span>
                        </label>
                    </li>
                    <li class="cell" ng-repeat="site in $ctrl.sites ">
                        <label for="{{site.Name+$index}}">
                            {{site.Name}}
                            <input type="checkbox" id="{{site.Name+$index}}" class="checkbox-inline" ng-true-value="{{site.Id}}" ng-false-value=""
                                   data-ng-checked="site.selected" ng-click="$ctrl.addSite(site)" />
                            <span class="fa fa-add"></span>
                        </label>

                    </li>
                </ul>
            </div>
            <div class="middle hidden-sm hidden-lg">
                <span class="fa fa-arrow-right text-primary"></span>
            </div>
            <div class="middle-down visible-sm visible-xs">
                <p class="text-center padding-vertical-10">
                    <span class="fa fa-arrow-down text-primary fa-lg"></span>
                </p>
            </div>
            <div class="col-md-6">
                <div class="selected-list-wrap">
                    <div class="title">MESSAGE WILL BE SENT TO:</div>
                    <ul>
                        <li class="cell" ng-repeat="site in $ctrl.selectedSites">
                            <label for="{{site.Name+'-rm'+$index}}">
                                {{site.Name}}
                                <input type="checkbox" id="{{site.Name+'-rm'+$index}}" class="checkbox-inline" ng-true-value="{{site.Id}}" ng-false-value=""
                                       data-ng-checked="site.selected" ng-click="$ctrl.removeSite(site)" />
                                <span class="fa fa-times"></span>
                            </label>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-primary" wz-next="$ctrl.getPositions()" ng-disabled="!$ctrl.selectedSites.length">
            SELECT POSITIONS <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</wz-step>
<wz-step wz-title="3" canenter="$ctrl.selectedSites.length > 0" wz-disabled="{{$ctrl.reviewMode}}">
    <div class="content">
        <h3 class="text-center">Select a Position</h3>
        <p>Select a single or multiple positions to send a message to.</p>
        <div class="row two-column position-lists">
            <div class="col-md-6">
                <ul class="striped">
                    <li class="cell">
                        <label>
                            Select All Positions
                            <input type="checkbox" class="checkbox-inline"
                                   ng-model="$ctrl.selectAllPositions" ng-click="$ctrl.checkAllPositions()" />
                            <span class="fa fa-add"></span>
                        </label>
                    </li>
                    <li class="cell" ng-repeat="position in $ctrl.positions">
                        <label for="{{position.name+$index}}">
                            {{position.Name}}
                            <input type="checkbox" id="{{position.name+$index}}" class="checkbox-inline" ng-true-value="{{position.Id}}" ng-false-value=""
                                   data-ng-checked="position.selected" ng-click="$ctrl.addPosition(position)" />
                            <span class="fa fa-add"></span>
                        </label>

                    </li>
                </ul>
            </div>
            <div class="middle hidden-sm hidden-lg">
                <span class="fa fa-arrow-right text-primary"></span>
            </div>
            <div class="middle-down visible-sm visible-xs">
                <p class="text-center padding-vertical-10">
                    <span class="fa fa-arrow-down text-primary fa-lg"></span>
                </p>
            </div>
            <div class="col-md-6">

                <div class="selected-list-wrap">
                    <div class="title">RECIPIENTS WILL INCLUDE:</div>
                    <ul>
                        <li class="cell" ng-repeat="position in $ctrl.selectedPositions">
                            <label for="{{position.Name+'-rm'+$index}}">
                                {{position.Name}}
                                <input type="checkbox" id="{{position.Name+'-rm'+$index}}" class="checkbox-inline" ng-true-value="{{position.Id}}" ng-false-value=""
                                       data-ng-checked="site.selected" ng-click="$ctrl.removePosition(position)" />
                                <span class="fa fa-times"></span>
                            </label>

                        </li>
                    </ul>
                    <div class="title send-to-customer">
                        <label for="customer">
                            <input type="checkbox" id="customer" class="checkbox-inline checkbox-general" ng-model="$ctrl.messageBuilder.IsCustomer" ng-change="$ctrl.messageBuilder.IsCustomer" /> Send to Customer
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-primary" wz-next>
            WRITE MESSAGE <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</wz-step>
<wz-step wz-title="4" canenter="$ctrl.selectedPositions && $ctrl.selectedPositions.length > 0" wz-disabled="{{$ctrl.reviewMode}}">
    <div class="content">
        <h3 class="text-center">Compose Your Message</h3>
        <p>Write a brief message to send.</p>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <input type="text" value="" ng-model="$ctrl.messageBuilder.Title" placeholder="Title of Message" required class="form-control" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <wysiwyg class="margin-top-10"
                         textarea-id="text"
                         textarea-class="form-control margin-top-10"
                         textarea-height="200px"
                         textarea-name="textareaQuestion"
                         textarea-required
                         ng-model="$ctrl.messageBuilder.Text"
                         enable-bootstrap-title="true"
                         textarea-menu="$ctrl.customMenu"></wysiwyg>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-primary" wz-next="$ctrl.enableStep(4)" ng-disabled="!$ctrl.messageBuilder.Text.length || !$ctrl.messageBuilder.Title.length">
            REVIEW <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</wz-step>
<wz-step wz-title="5" canenter="true" wz-disabled="false" >
    <h3 ng-hide="$ctrl.reviewMode">Review Your Message</h3>
    <h3 ng-if="$ctrl.reviewMode">{{$ctrl.messageBuilder.Title}}</h3>
    <hr />
    <div class="row review-row">
        <div class="col-xs-2"><strong>FROM:</strong></div>
        <div class="col-xs-8">{{$ctrl.getDepartmentById($ctrl.department)}}</div>
        <div class="col-xs-2" ng-if="!$ctrl.reviewMode">
            <a href="javascript:void(0);" class="btn btn-link" ng-click="$ctrl.wzGoTo(0)">
                <span class="fa fa-edit2 fa-lg text-primary"></span>
            </a>
        </div>
    </div>
    <div class="row review-row">
        <div class="col-xs-2"><strong>SITE:</strong></div>
        <div class="col-xs-8">
            <div class="text" ng-class="{'show-all':showAllSites}">
                {{$ctrl.getSelectedSiteNames()}} <a href="javascript:void(0)" class="show-all-button" 
                                                    ng-class="{'visible-xs visible-sm': $ctrl.selectedSites.length <= 4}" 
                                                    ng-click="showAllSites = !showAllSites">SHOW {{showAllSites?'LESS':'ALL'}}</a>
            </div>
        </div>
        <div class="col-xs-2" ng-if="!$ctrl.reviewMode">
            <a href="javascript:void(0);" class="btn btn-link" ng-click="$ctrl.wzGoTo(1)">
                <span class="fa fa-edit2 fa-lg text-primary"></span>
            </a>
        </div>
    </div>
    <div class="row margin-bottom-10 review-row">
        <div class="col-xs-2"><strong>POSITION:</strong></div>
        <div class="col-xs-8">
            <div class="text"  ng-class="{'show-all':showAllPositions}">
                {{$ctrl.getSelectedPositionNames()}} <a href="javascript:void(0)" class="show-all-button" 
                                                                           ng-class="{'visible-xs visible-sm': $ctrl.selectedPositions.length <= 4}"
                                                                           ng-click="showAllPositions = !showAllPositions">SHOW {{showAllPositions?'LESS':'ALL'}}</a>
            </div>
        </div>
        <div class="col-xs-2" ng-if="!$ctrl.reviewMode">
            <a href="javascript:void(0);" class="btn btn-link" ng-click="$ctrl.wzGoTo(2)">
                <span class="fa fa-edit2 fa-lg text-primary"></span>
            </a>
        </div>
    </div>
    <div class="row content">
        <div class="col-md-12" ng-if="!$ctrl.reviewMode">
            <strong>MESSAGE: <em class="padding-left-10">{{$ctrl.messageBuilder.Title}}</em></strong>
            <a href="javascript:void(0);" class="btn btn-link" ng-click="$ctrl.wzGoTo(3)">
                <span class="fa fa-edit2 fa-lg text-primary"></span>
            </a>
        </div>
        <div class="col-md-12">
            <div ng-bind-html="$ctrl.messageBuilder.Text | trustAsHtml"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="customer2" ng-if="!$ctrl.reviewMode">
                <input type="checkbox" id="customer2"
                       class="checkbox-inline checkbox-general"
                       ng-model="$ctrl.messageBuilder.IsCustomer"
                       ng-change="$ctrl.messageBuilder.IsCustomer" /> <em>Send to Customer</em>
            </label>
            <button type="button" class="btn btn-success pull-right btn-lg-padding" ng-click="$ctrl.send()" ng-if="!$ctrl.reviewMode">
                <span class="fa fa-envelope-o"></span> SEND MESSAGE
            </button>
            <button type="button" class="btn btn-success pull-right btn-lg-padding" ng-click="$ctrl.reUse()" ng-if="$ctrl.reviewMode">
                <span class="fa fa-envelope-o"></span> RE-USE THIS MESSAGE
            </button>
        </div>
    </div>
</wz-step>

