﻿<div class="message-builder-wizard" ng-class="{'padding-top-30 margin-top-20':hideIndicators}">
    <h1 class="text-center text-primary icon" ng-if="!hideIndicators">
        <span class="fa fa-message-builder-icon"></span>
    </h1>
    <h2 class="text-center text-primary main" ng-if="!hideIndicators">
        Let's build a message!
    </h2>
    <ul class="steps-indicator steps-{{getEnabledSteps().length}}" ng-if="!hideIndicators">
        <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in getEnabledSteps()">
            <a ng-click="goTo(step)">{{step.title || step.wzTitle}}</a>
        </li>
    </ul>
    <div class="steps" ng-transclude></div>
</div>