﻿@{
    ViewBag.Title = "Spend Reporting";
    ViewBag.HideTitleBar = true;
}


<div class="container-fluid financials supplies-common supplies-index" data-ng-controller="SuppliesIndexCtrl as vm">
    <page-header title="Spend Reporting"
                 s3-icon-name="supplies.svg"
                 info-text="{{'View the spend and budget details for a specific site.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-customers href="http://b2b.sbmstore.com/system/login.php" class="btn btn-success btn-sm">
            <i class="fa fa-shop i-shop"></i> <span class="hidden-xs hidden-sm">{{'SHOP NOW' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index","Supplies")" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details","Supplies")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>
    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-content">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row" data-ng-if="vm.isProgram">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-10">
                        <!-- Monthly Trend -->
                        <div class="panel panel-default">
                            <div class="panel-header-txt margin-left--7">Monthly Product Trend 
                                <span class="last-updated-date hidden-xs">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                                <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                                <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                 data-ng-if="vm.reportsConfig.suppliesMonthlyProductTrends.xAxis.categories.length <= 0">
                                - No Data to display -
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-if="vm.reportsConfig.suppliesMonthlyProductTrends.xAxis.categories.length > 0" >
                                <div class="row">
                                <div class="chart-wrap col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                    <sbm-hc-column-chart supplies-monthly-legend="true" go-to-details="vm.goToDetails(param, isSubCategory)" id="SuppliesMonthlyProductTrend" data-ng-model="vm.reportsConfig.suppliesMonthlyProductTrends"
                                                         data-ng-if="vm.reportsConfig.suppliesMonthlyProductTrends.xAxis.categories.length > 0">
                                    </sbm-hc-column-chart>
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 monthly-product-legend-align">
                                    <div id="suppliesMonthlylegendSpot"></div>
                                    <div class="clearfix"></div>
                                </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- supplies spend by category-->
                        <div class="spend-by-category panel panel-default">
                            <div class="panel-header-txt margin-left--7">Spend by Category 
                                <span class="last-updated-date hidden-xs">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                                <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                            </div>
                                <div class="row empty-wrap" ng-if="!vm.reportsConfig.suppliesSpendByCategory.series[0].data.length">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                    No data to display
                                </div>
                            </div>
                                <div class="row chart-wrap spend-by-category-chart-wrap" ng-if="vm.reportsConfig.suppliesSpendByCategory.series[0].data.length">
                                    <div class="col-lg-5 col-md-6 col-sm-12">
                                        <sbm-hc-pie-chart supplies-legend="true" id="suppliesByCategory" go-to-details="vm.goToDetails(param, isSubCategory)" data-ng-model="vm.reportsConfig.suppliesSpendByCategory"></sbm-hc-pie-chart>
                            </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 spend-by-category-legend-wrap spend-by-category-legend-align" ng-if="vm.reportsConfig.suppliesSpendByCategory.series[0].data.length">
                                        <div id="supplieslegendSpot"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- billable and green -->
                        <div class="panel panel-default spend-billable">
                            <div class="col-sm-12 tabs-wrap tabs-internal hidden-xs">
                                <ul class="nav nav-pills pull-left top-tabs">
                                    <li><a data-ng-click="vm.changeToBillable()" data-ng-class="{'highlight': vm.makeBillableActive}" href="javascript:void(0);">BILLABLE</a></li>
                                    <li><a data-ng-click="vm.changeToGreen()" data-ng-class="{'highlight': vm.makeGreenActive}" href="javascript:void(0);">GREEN</a></li>
                                </ul>
                                <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12 mobile-tabs-wrap hidden-lg hidden-md hidden-sm">
                                    <a class="col-md-4 col-xs-6 tab" data-ng-click="vm.changeToBillable()" data-ng-class="{'activetab': vm.makeBillableActive}" href="javascript:void(0);">
                                        BILLABLE
                                    </a>
                                    <a class="col-md-4 col-xs-6 tab" data-ng-click="vm.changeToGreen()" data-ng-class="{'activetab': vm.makeGreenActive}" href="javascript:void(0);">
                                        GREEN
                                    </a>
                                </div>
                            </div>
                            <div class="row chart-wrap-style" ng-if="vm.makeBillableActive">
                                <div class="col-lg-6 col-md-6 ipad-landscape-wrap">
                                    <div class="panel panel-default">
                                        <h3 class="panel-header-txt margin-left--7 hidden-xs">Billable vs Non-Billable <span class="last-updated-date">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span></h3>
                                        <div class="col-lg-7 col-md-6 col-sm-12" ng-if="vm.reportsConfig.suppliesSpendBillable.series[0].data.length">
                                            <sbm-hc-pie-chart id="suppliesSpendBillable" data-ng-model="vm.reportsConfig.suppliesSpendBillable">
                                            </sbm-hc-pie-chart>
                                        </div>
                                        <div class="row empty-wrap" ng-if="!vm.reportsConfig.suppliesSpendBillable.series[0].data.length">
                                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                                No data to display
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 commodities" ng-if="vm.reportsConfig.suppliesSpendBillable.series[0].data.length">
                                            <div class="title" ng-click="vm.showBillable()">
                                                <span class="pull-left billable-nonbillable"><i class="fa fa-square billable-green-square"></i>{{vm.billable[0].Name}}</span><span class="pull-right">{{vm.billable[0].Percentage}}%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="categories hidden-xs" ng-if="vm.isBillable">
                                                <div ng-repeat="category in vm.billableCommodities" class="category" >
                                                    <a href="javascript:void(0);" data-ng-click="vm.getSuppliesSpendSubCommodityBillable(category.Name, category.Id, true)"><span class="pull-left name">{{category.Name | lowercase}}</span><span class="pull-right">{{category.Percentage}}%</span></a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="title" ng-click="vm.showNonBillable()">
                                                <span class="pull-left billable-nonbillable"><i class="fa fa-square not-billable-green-square"></i>{{vm.nonBillable[0].Name}}</span><span class="pull-right">{{vm.nonBillable[0].Percentage}}%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                        
                                            <div class="categories hidden-xs" ng-if="vm.isNonBillable">
                                                <div ng-repeat="category in vm.nonBillableCommodities" class="category" >
                                                        <a href="javascript:void(0);" data-ng-click="vm.getSuppliesSpendSubCommodityBillable(category.Name, category.Id, false)"><span class="pull-left name">{{category.Name}}</span><span class="pull-right">{{category.Percentage}}%</span></a>
                                                    <div class="clearfix"></div>
                                                </div>
                                                </div>
                                            </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 hidden-xs ipad-landscape-wrap" data-ng-if="vm.subCommodityBillableTitle">
                                    <div class="panel panel-default">
                                        <h3 class="panel-header-txt margin-left--7">{{ vm.subCommodityBillableTitle }} Detail <span class="last-updated-date">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span></h3>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <sbm-hc-pie-chart supplies-billable-green-legend="true" go-to-details="vm.goToDetails(param, isSubCategory)" id="suppliesSpendSubCommodityBillable" data-ng-model="vm.reportsConfig.suppliesSpendSubCommodityBillable">
                                            </sbm-hc-pie-chart>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 legend-align">
                                            <div id="suppliesBillableGreenlegendSpot"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row chart-wrap-style " ng-if="vm.makeGreenActive">
                                <div class="col-lg-6 col-md-6 ipad-landscape-wrap">
                                    <div class="panel panel-default">
                                        <h3 class="panel-header-txt margin-left--7 hidden-xs">Green vs Non-Green <span class="last-updated-date">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span></h3>
                                        <div class="col-lg-7 col-md-7 col-sm-12" ng-if="vm.reportsConfig.suppliesSpendGreen.series[0].data.length">
                                            <sbm-hc-pie-chart id="suppliesSpendGreen" data-ng-model="vm.reportsConfig.suppliesSpendGreen">
                                            </sbm-hc-pie-chart>
                                        </div>
                                        <div class="row empty-wrap" ng-if="!vm.reportsConfig.suppliesSpendGreen.series[0].data.length">
                                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                                No data to display
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 commodities" ng-if="vm.reportsConfig.suppliesSpendGreen.series[0].data.length">
                                            <div class="title" ng-click="vm.showGreen()">
                                                <span class="pull-left"><i class="fa fa-square billable-green-square"></i>{{vm.green[0].Name}}</span><span class="pull-right">{{vm.green[0].Percentage}}%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="categories hidden-xs" ng-if="vm.isGreen">
                                                <div ng-repeat="category in vm.greenCommodities" class="category" >
                                                    <a href="javascript:void(0);" data-ng-click="vm.getSuppliesSpendSubCommodityGreen(category.Name, category.Id, true)"><span class="pull-left name">{{category.Name}}</span><span class="pull-right">{{category.Percentage}}%</span></a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="title" ng-click="vm.showNotGreen()">
                                                <span class="pull-left"><i class="fa fa-square not-billable-green-square"></i>{{vm.notGreen[0].Name}}</span><span class="pull-right">{{vm.notGreen[0].Percentage}}%</span>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="categories hidden-xs" ng-if="vm.isNotGreen">
                                                <div ng-repeat="category in vm.notGreenCommodities" class="category" >
                                                    <a href="javascript:void(0);" data-ng-click="vm.getSuppliesSpendSubCommodityGreen(category.Name, category.Id, false)"><span class="pull-left name">{{category.Name}}</span><span class="pull-right">{{category.Percentage}}%</span></a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 hidden-xs ipad-landscape-wrap" data-ng-if="vm.subCommodityGreenTitle">
                                    <div class="panel panel-default">
                                        <h3 class="panel-header-txt margin-left--7">{{ vm.subCommodityGreenTitle }} Detail <span class="last-updated-date">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span></h3>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <sbm-hc-pie-chart supplies-billable-green-legend="true" go-to-details="vm.goToDetails(param, isSubCategory)" id="suppliesSpendSubCommodityGreen" data-ng-model="vm.reportsConfig.suppliesSpendSubCommodityGreen">
                                            </sbm-hc-pie-chart>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 legend-align">
                                            <div id="suppliesBillableGreenlegendSpot"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="row" data-ng-if="!vm.isProgram">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- Monthly Program Trend -->
                        <div class="panel panel-default">
                            <div class="panel-header-txt margin-left--7">Monthly Program Trend 
                                <span class="last-updated-date hidden-xs">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                                <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                                <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                 data-ng-if="vm.reportsConfig.suppliesMonthlyProgramTrend.xAxis.categories.length <= 0">
                                - More than 1 month worth of data required for monthly trend -
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-if="vm.reportsConfig.suppliesMonthlyProgramTrend.xAxis.categories.length > 0">
                                <div class="row">
                                    <div class="chart-wrap col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                        <sbm-hc-column-chart supplies-monthly-program-legend="true" id="MonthlyProgramTrend" data-ng-model="vm.reportsConfig.suppliesMonthlyProgramTrend"
                                                             data-ng-if="vm.reportsConfig.suppliesMonthlyProgramTrend.xAxis.categories.length > 0">
                                        </sbm-hc-column-chart>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 monthly-product-legend-align">
                                        <div id="suppliesMonthlyProgramlegendSpot"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Spend By Program -->
                        <div class="panel panel-default">
                            <div class="panel-header-txt margin-left--7">Spend By Program 
                                <span class="last-updated-date hidden-xs">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                                <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                                <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                            </div>
                            <div class="row empty-wrap" ng-if="!vm.reportsConfig.suppliesByProgram.series[0].data.length">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                    No data to display
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-if="vm.reportsConfig.suppliesByProgram.series[0].data.length">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                        <sbm-hc-pie-chart id="suppliesByProgram" data-ng-model="vm.reportsConfig.suppliesByProgram" ng-if="vm.reportsConfig.suppliesByProgram.series.length">
                                        </sbm-hc-pie-chart>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <div  class="parent-container border-wrap">
                                            <sbm-hc-line-chart id="suppliesTrendByProgram" data-ng-model="vm.reportsConfig.suppliesTrendByProgram">
                                            </sbm-hc-line-chart>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row legend-wrap" ng-if="vm.reportsConfig.suppliesByProgram.series.length">
                                        <div class="col-lg-12">
                                            <div id="legendSpot"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                      

                        <!-- Billing By Site -->
                        <div class="panel panel-default" data-ng-if="!vm.singleSite">
                            <div class="panel-header-txt margin-left--7">Billing By Site
                                <span class="last-updated-date hidden-xs">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                                <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                            </div>
                            <div class="row empty-wrap" data-ng-if="!vm.reportsConfig.suppliesBillingBySite.series.length">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                    No data to display
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-if="vm.reportsConfig.suppliesBillingBySite.series[0].data.length">
                                <div class="row">
                                    <div class="chart-wrap col-lg-11 col-md-12 col-sm-12 col-xs-12">
                                        <sbm-hc-bar-chart id="billingBySite" data-ng-model="vm.reportsConfig.suppliesBillingBySite" ng-if="vm.reportsConfig.suppliesBillingBySite.series.length">
                                        </sbm-hc-bar-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!-- Monthly Site Trend -->
                        <div class="row panel panel-default" >
                            <div class="panel-header-txt header-txt-monthly margin-left--7">Monthly Site Trend 
                                <span class="last-updated-date hidden-xs">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                                <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                            </div>
                            <div class="row empty-wrap" data-ng-if="!vm.suppliesSiteMonthly.length">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                    No data to display
                                </div>
                            </div>
                            <div class="table-responsive" data-ng-if="vm.suppliesSiteMonthly.length">
                                <table class="table table-striped">
                                    <thead class="primary">
                                        <tr>
                                            <th class="table-head-color table-head-main table-col-padding">LOCATION</th>
                                            <th data-ng-repeat="month in vm.monthsToDisplay" class="hidden-xs hidden-sm td-billing-amount td-billing-amount-head table-head-color">{{month | uppercase}}</th>
                                            <th class="td-billing-amount td-billing-amount-head table-head-color total-col">TOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="monthlyItem in vm.suppliesSiteMonthly">
                                            <td class="td-main table-col-padding">{{monthlyItem.SiteName}}</td>
                                            <td data-ng-repeat="month in vm.monthsToDisplay" class="hidden-xs hidden-sm td-billing-amount">
                                                <span data-ng-repeat="Month in monthlyItem.Months" data-ng-if="month == Month.Month">${{Month.Amount | number:2}}</span>
                                            </td>
                                            <td class="td-billing-amount total-col">${{monthlyItem.Total | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
