﻿@mixin fade-in-animation($duration: 0.3s) {
    opacity: 1;

    &.ng-enter {
        -moz-transition: $duration;
        -o-transition: $duration;
        -webkit-transition: $duration;
        transition: $duration;
        opacity: 0;
    }

    &.ng-enter-active {
        opacity: 1;
    }
}
