﻿/// <reference path="../_ref.scss" />

h1,.h1{
    font-size:34px;
    font-weight:lighter;
}
h2, .h2{
    font-size:22px;
    font-weight:lighter;
}
h3, .h3{
    font-size:16px;
    font-weight:normal;
}
h4, .h4{
    font-size:16px;
    font-weight:bold;
}
h5, .h5{
    font-size:12px;
    font-weight:bold;
}
h6, .h6{
    font-size:12px;
    font-weight:bold;
    font-style:italic;
}
a {
    color: $primary;
}

.text {
    
    &-error {
        color: $danger !important;
    }

    &-success {
        color: $success;
    }

    &-primary {
        color: $primary;
    }

    &-warning {
        color: $warning !important;
    }

    &-muted {
        color: $base-dark;
    }

    &-dark {
        strong {
            color: #232323;
        }
    }

    &-white {
        color: $default !important;
    }

    &-light-gray {
        color: $base;
    }

    //Sizes

    &-small{
        font-size: 12px;
    }
    &-medium{
        font-size: 18px;
    }
    &-large{
        font-size: 28px;
    }
    &-x-large{
        font-size: 48px;
    }

}

.label {
    &-success {
        color: $success;
    }

    &-warning {
        color: $warning !important;
    }
}

.btn {
    font-weight: 700;
    font-size: 0.857rem;
    border-radius: 2px;

    &-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: rgba(0,0,0,0.15);
        border-radius: 3px 0 0 3px;
    }

    &-labeled {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-grey {
        background-color: $muted-dark;
        color: $default;
        font-weight: bold;
        border-color: darken($muted-dark,5%);

        &:hover {
            background-color: lighten($dark-dark,10%);
            color: $default;
            border-color: lighten($dark-dark,15%);
        }
    }

    &-black {
        background-color: $dark-dark;
        color: $default;
        font-weight: bold;
        border-color: darken($dark-dark,5%);

        &:hover {
            background-color: lighten($dark-dark,10%);
            color: $default;
            border-color: lighten($dark-dark,15%);
        }

        &:focus {
            color: $default;
        }
    }

    &-dark {
        background-color: $dark-dark;
        color: $default;
        border-color: darken($dark-dark,5%);

        &:hover {
            color: $default;
            background-color: lighten($dark-dark,10%);
            border-color: lighten($dark-dark,15%);
        }

        &:focus {
            color: $default;
        }
    }

    &-link {
        color: $dark;
        text-decoration: underline;
        font-size: 13px;
        font-weight: 600;
    }

    &-lg-padding {
        padding: 10px 20px;
    }

    &-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    &-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }
}

.bg,.btn {

    &-danger {
        background-color: $danger;
        border-color: darken($danger,2%);
        &:hover {
            background-color: lighten($danger,5%);
            border-color: lighten($danger,8%);
        }
    }

    &-success {
        background-color: $success;
        border-color: darken($success,2%);
        &:hover {
            background-color: lighten($success,5%);
            border-color: lighten($success,8%);
        }
    }

    &-primary {
        background-color: $primary;
        border-color: darken($primary,2%);
        &:hover {
            background-color: lighten($primary,5%);
            border-color: lighten($primary,8%);
        }
    }

    &-warning {
        background-color: $warning;
        border-color: darken($warning,2%);
        &:hover {
            background-color: lighten($warning,5%);
            border-color: lighten($warning,8%);
        }
    }

    &-white {
        background-color: $default;
         border-color: darken($default,2%);
        &:hover {
            background-color: lighten($default,5%);
            border-color: lighten($default,8%);
        }
    }

    &-transparent, &-clear, &-clear-bg {
        background-color: transparent;
    }

    &-gray {
        background-color: $base-dark;
         border-color: darken($base-dark,2%);
        &:hover {
            background-color: lighten($base-dark,5%);
            border-color: lighten($base-dark,8%);
        }
    }
}

.progress-bar-success{
    background-color: $success;
}
.alert{
    &.alert-danger{
        color:$danger;
        border-color:$danger;
    }

    &.no-border-radius{
        border-radius:0
     }   
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
    border-color: #9FA8C7;
    background: $primary;
    color: #fff;
}

.modal-content {
    border-radius: 4px;

    .modal-header {
        background-color: $primary;
        color: $default;

        .modal-title {
            color: $default;
        }
    }

    .modal-body {

        &.max-height-500 {
            max-height: 500px;
            overflow-y: scroll;
        }
    }
}

.popover-plain {
    border-radius: 0;
    .popover-inner{
        padding:20px;
    }
    .popover-title {
        color: $warning;
        background: none;
        border: 0;
        font-size: 1.143rem;
        font-weight: 600;
        border-radius: 0;
        padding: 0;
    }

    .popover-content {
        padding:10px 0 0;
        color: $dark;
        font-size: 1rem;
    }
}

.d-block {
    display: block!important;
}

.d-inline-block {
    display: inline-block!important;
}

.d-inline{
    display: inline!important;
}

/*Fixes modal backdrop not displaying*/
.modal-backdrop {
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

.dropdown-menu {
    min-width: 100px;
    li a{
        font-size: .8571rem;
        font-weight: 600;
        line-height: 30px;
        padding: 0 15px;
        color: $dark;
    }
}

.error-notice {
    margin: 5px 5px; /* Making sure to keep some distance from all side */
}

.sbm-alert {
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #eee;
    /*border-left-width: 5px;*/
    border-radius: 3px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    &.danger {
        border-color: #d9534f;
        background-color: rgba(217, 83, 79, 0.1);

        strong {
            color: #d9534f;
        }
    }

    &.warning {
        border-color: #f0ad4e;
        background-color: rgba(240, 173, 78, 0.1);

        strong {
            color: #f0ad4e;
        }
    }

    &.info {
        border-color: #5bc0de;
        background-color: rgba(91, 192, 222, 0.1);

        strong {
            color: #5bc0de;
        }
    }

    &.success {
        border-color: #2b542c;
        background-color: rgba(43, 84, 44, 0.1);

        strong {
            color: #2b542c;
        }
    }
}
/* -------------------------------------------------- */
/* FIX FOR: icomoon applying line-height to fa-stack */
/* ------------------------------------------------- */
span.fa-stack {
    line-height: 2em !important;

    .fa {
        line-height: inherit;
    }

    .fa-sbm-thin-circle{
        border: 1px solid;
        border-radius: 80px;
        height: 100%;
    }
}

/* -------------------------------  */
/*  FIX FOR BOLD PLACEHOLDER TEXT  */
/* --------------------------------*/
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
    font-weight: normal !important;
}

.form-control:-ms-input-placeholder {
    color: #999;
    font-weight: normal !important;
}

.form-control::-webkit-input-placeholder {
    color: #999;
    font-weight: normal !important;
}

.img-circle.circle-img,
.circle-img {
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid $base-dark;

    &.circle-img-40 {
        width: 40px;
        height: 40px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.panel.panel-clean {
    background-color: #ffffff;
}

.dropdown-menu .divider{
    padding:0;
}

/* ---------------------------------------------------- */
/* FIX issue where .row is direct child of another .row */
/* ---------------------------------------------------- */
.row > .row {
    margin-left: 0;
    margin-right: 0;
}

/*another fix*/
.container-fluid > .row > [class*="col-"][class*="no-padding"]{
    overflow-x:hidden;
}

/* ---------------------------------------------------- */
/* Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    line-height: 1.3rem;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid $base;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: $dark;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    &:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    &:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c";
    }
    &:disabled + label {
      opacity: 0.65;
      &::before {
        background-color: $border;
        cursor: not-allowed;
      }
    }
  }
  &.checkbox-circle label::before {
    border-radius: 50%;
  }
  &.checkbox-inline {
    margin-top: 0;
  }
}

.checkbox-primary input[type="checkbox"]:checked + label {
  &::before {
    background-color: $primary;
    border-color: $primary;
  }
  &::after {
    color: #fff;
  }
}

.checkbox-danger input[type="checkbox"]:checked + label {
  &::before {
    background-color: $danger;
    border-color: $danger;
  }
  &::after {
    color: #fff;
  }
}

.checkbox-info input[type="checkbox"]:checked + label {
  &::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
  }
  &::after {
    color: #fff;
  }
}

.checkbox-warning input[type="checkbox"]:checked + label {
  &::before {
    background-color: $warning;
    border-color: $warning;
  }
  &::after {
    color: #fff;
  }
}

.checkbox-success input[type="checkbox"]:checked + label {
  &::before {
    background-color: $success;
    border-color: $success;
  }
  &::after {
    color: #fff;
  }
}

.radio {
  padding-left: 20px;
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid $base;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: $dark;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
  }
  input[type="radio"] {
    opacity: 0;
    &:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    &:focus + .no-outline::before {
      outline: none;
    }
    &:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    &:disabled + label {
      opacity: 0.65;
      &::before {
        cursor: not-allowed;
      }
    }
  }
  &.radio-inline {
    margin-top: 0;
  }
}

.radio-primary input[type="radio"] {
  + label::after {
    background-color: $primary;
  }
  &:checked + label {
    &::before {
      border-color: $primary;
    }
    &::after {
      background-color: $primary;
    }
  }
}

.radio-danger input[type="radio"] {
  + label::after {
    background-color: $danger;
  }
  &:checked + label {
    &::before {
      border-color: $danger;
    }
    &::after {
      background-color: $danger;
    }
  }
}

.radio-info input[type="radio"] {
  + label::after {
    background-color: #5bc0de;
  }
  &:checked + label {
    &::before {
      border-color: #5bc0de;
    }
    &::after {
      background-color: #5bc0de;
    }
  }
}

.radio-warning input[type="radio"] {
  + label::after {
    background-color: $warning;
  }
  &:checked + label {
    &::before {
      border-color: $warning;
    }
    &::after {
      background-color: $warning;
    }
  }
}

.radio-success input[type="radio"] {
  + label::after {
    background-color: $success;
  }
  &:checked + label {
    &::before {
      border-color: $success;
    }
    &::after {
      background-color: $success;
    }
  }
}
/* ---------------------------------------------------- */
/* End Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
