﻿//core gray scale
$border: #e8e8e8;
$border-dark: #d8d8d8;
$gray: #f5f5f5;
$gray-dark: darken($gray, 5%);
$base:#cccccc;
$base-dark: #9e9e9e;
$muted: #999c9e;
$muted-dark: darken($muted, 5%);
$dark: #403841;
$dark-dark: #2f2930;

//core colors
$primary: #00AFD1;
$primary-dark: #009DBC;
$success: #9FC62D;
$success-dark: #81A125;
$warning: #F99D00;
$warning-dark: #E79200;
$danger: #E93D42;
$danger-dark: #D0363C;

//Secondary colors
$teal: #1AAAA5;
$teal-dark: #158c88;
$blue: #06467C;
$blue-dark: #053B69;
$lime: #B5BD32;
$lime-dark: #A6AD2E;
$lavendar: #994F9C;
$lavendar-dark: #7F4181;
$orange: #F26130;
$orange-dark: #D6562A ;
$blue-steel: #1690C3;
$blue-steel-dark: #137CA8;
$pink:#CA3471;
$pink-dark: #90114e;
$green: #48c101;
$purple: #00447E;

//modules/components
$departments: ( 
    (finance,$teal ), 
    (accounts-payable,$blue ), 
    (operations,$dark ), 
    (benefits,$lime ), 
    (human-resources,$pink), 
    (hr,$pink), 
    (new-biz-dev-finance,$orange ), 
    (it,$blue-steel ), 
    (accounts-receiveable,$teal-dark ), 
    (recruiting,$blue-dark ), 
    (ehs,$primary ), 
    (gmp,$lime-dark ), 
    (payroll,$pink-dark ), 
    (ceo,$orange-dark ), 
    (transitions,$blue-steel-dark ), 
    (procurement,$primary-dark ), 
    (general,$muted), ) !default;
$activities: ( 
    (training, $primary), 
    (survey,$success), 
    (audit, $pink), 
    (report-it, $blue-dark), 
    (ownership, $blue-dark), 
    (todo, $teal), 
    (to-do, $teal),
    (workorder, $warning-dark), 
    (complaints, $orange), 
    (compliments, $blue), 
    (sticky, $warning), ) !default;
$bootstrap: ( 
    (primary, $primary), 
    (danger,  $danger), 
    (warning, $warning), 
    (success, $success),
    (gray, $gray),
    (border, $border),
    (dark, $dark)) !default;
$secondary: (
    (teal,$teal),
    (blue,$blue),
    (lime,$lime),
    (lavendar,$lavendar),
    (orange,$orange),
    (blue,$blue-steel),
    (pink,$pink),
    (green,$green),
    (purple,$purple)) !default;

@mixin generate-color-classes($classNamePrefix, $styleName, $list, $list2: null, $addImportant: false) {
    @if length($list2) >= 2 {
        $list: join($list, $list2);
    }

    @each $val,$val2 in $list {
        $style: $val2;

        @if $addImportant {
            $style: unquote($style + ' !important');
        }

        #{$classNamePrefix}-#{""+$val} {
            #{$styleName}: $style;
        }
    }
}

@include generate-color-classes('.text', 'color', $departments, $activities, true);
@include generate-color-classes('.bg', 'background-color', $departments, $activities, true);
@include generate-color-classes('.border-color', 'border-color', $departments, $activities, true);

//bootstrap overrides
@include generate-color-classes('.text', 'color', $bootstrap, null, true);
@include generate-color-classes('.bg', 'background-color', $bootstrap, null, true);
@include generate-color-classes('.border-color', 'border-color', $bootstrap, null, true);

//secondary colors
@include generate-color-classes('.text', 'color', $secondary, null, true);
@include generate-color-classes('.bg', 'background-color', $secondary, null, true);
@include generate-color-classes('.border-color', 'border-color', $secondary, null, true);