﻿$default: #ffffff;
$black: #000000;

//TODO: need to find and replace these with variables in _colors.scss
$leg-plum: #912062;
$leg-blue: #1d95c7;
$leg-pink: #dd5e90;
$leg-sea: #5bc7ec;
$leg-to: #1ab7ae;
$leg-green: #58B045;
$leg-orange: #E69225;
$leg-pinkish: #CD4F78;
$leg-blue-fa: #01859F;
$leg-orange-fa: #B36909;
$leg-pinkish-fa: #BE2758;

//calendar day highlight color
$highlight: #eaeaea;

@import "colors";

$defaultAniSpeed : 0.3s;
$sidebarWidth    : 240px;
$notificationBarWidth: 360px;
$headerHeight    : 60px;

$Xdesktop: "(min-width: 1468px)";
$desktop: "(min-width: 1168px)";
$tablet: "(min-width: 990px)";
$mobile: "(min-width: 768px)";


@import "_mixins-and-utilities";
@import "animations";