﻿/// <reference path="../_ref.scss" />
//
// Special case to hide Context picker links from users with one site.

body.is-multi-site-user header .page-header {
    height: $headerHeight + 20;
    @include breakpoint(laptop){
        height: $headerHeight;
    }
}

header {
    width: 100%;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    .page-header {
        /*overflow: hidden;*/
        margin: 0;
        padding-bottom: 0;
        height: $headerHeight + 20;
        line-height: $headerHeight - 10;
        background: $default;

         @include breakpoint(laptop) {
            padding-left: 0;
            height: $headerHeight;
            line-height: $headerHeight - 10;
        }

         @include breakpoint(desktop){
            height: $headerHeight;
            line-height: $headerHeight;
        }

        border-bottom: 1px solid $border;
        width: 100%;

        a {
            color: inherit;
        }

        a.menu-toggle-btn {
            color: $warning;
            padding: 0 10px;

            @include breakpoint(desktop) {
                display: none;
            }
        }
    }

    &.header-shadow {
        box-shadow: 0 2px 2px rgba($black, 0.2);
    }

    .brand {
        position: relative;
        //Fixes wrapping between 1200w and 1230w
        //padding-left: 30px;
        a {
            float: left;
        }

        a#toggle-sidebar {
            width: $headerHeight;
            line-height: $headerHeight;
            font-size: 28px;
            text-align: center;
            border-right: 1px solid $border;
            color: $gray;
            padding-left: 2px; // Center the icon.
            &:hover, &:focus {
                text-decoration: none;
                outline: none;
                color: darken($gray, 10%);
            }
        }

        a.logo {
            font-size: 2.143rem;
            font-weight: 300;
            color: $warning;
            letter-spacing: 0;
            -moz-transition: all $defaultAniSpeed;
            -o-transition: all $defaultAniSpeed;
            -webkit-transition: all $defaultAniSpeed;
            transition: all $defaultAniSpeed;
            line-height: 50px;

            @include breakpoint(desktop) {
                padding-left: 20px;
            }

            &:hover {
                text-decoration: none;
                letter-spacing: 2px;
            }
        }
    }

    .site-picker {
        padding-left: 20px;
        height: 60px;
        line-height: 60px;

        &:after {
            content: '\f107';
            font-family: 'icomoon';
            position: absolute;
            right: 15px;
            color: $warning;
        }

        @include breakpoint(laptop) {
            &:after {
                display: none;
            }
        }

        > div {
            display: inline-block;
            padding: 0 5px;
            color: $warning;
            font-weight: 600;
            font-size: 1rem;



            &:first-of-type:before {
                content: '\f041';
                font-family: 'icomoon';
                text-decoration: underline;
                font-size: .9rem;
                padding-right: 2px;
            }
        }

        &:hover > div {
            color: lighten($warning,5%);
        }
    }
    // BRAND
    .header-content {

        &.header-content-mobile {
            clear: both;

            .site-picker {
                border-top: 1px solid $border;
                height: 30px;
                line-height: 30px;
                padding-left: 5px;
                display: flex;
                align-items: center;

                > div {
                    font-weight: 700;
                    font-size: 0.857rem;
                    padding: 0 10px;

                    &:first-of-type:before {
                        font-size: 1.1rem;
                        padding-right: 7px;
                    }
                }
            }
        }

        .header-section {
            padding: 0 4px;
            color: $base-dark;

            @include screen('tablet') {
                height: 60px;
                padding: 0 5px;
                // border-right: 1px solid $border;
            }

            @include screen(desktop) {
                padding: 0 12px;
            }

            a {
                display: block;
                font-size: 10px;
                font-weight: 600;
                text-transform: capitalize;

                @include screen('tablet') {
                    font-size: .8571rem;
                }

                &:hover, &:focus {
                    text-decoration: none;
                    outline: none;
                }

                span {
                    padding: 0;

                    @include breakpoint(tablet) {
                        padding: 0 10px;
                    }
                }

                i.fa {
                    font-size: 18px;
                    float: left;
                    padding-top: 15px;
                    padding-right: 5px;


                    @include breakpoint(desktop) {
                        padding-top: 20px;
                        padding-right: 0;
                    }
                }
            }

            &.weather {
                display: none;

                @include screen(Xdesktop) {
                    display: block;
                }

                &.mobile {
                    display: block;

                    @include screen(Xdesktop) {
                        display: none;
                    }
                }
            }

            .notification-icon, .sitepicker-icon {
                color: $orange;
                font-size: 1.6rem;
                position: relative;
                margin: 0 10px;

                @include breakpoint(desktop) {
                    margin: 0 5px;
                }

                @include breakpoint(mobileonly) {
                    margin: 0;
                }

                small {
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    text-align: center;
                    display: block;
                    font-size: 10px;
                    border-radius: 50%;
                    color: $default;
                    background: $warning;
                    position: absolute;
                    right: -6px;
                    top: 14px;
                }

                &:focus {
                    outline: none;
                }
            }

            .notification-icon {
                &:after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    display: block;
                    background: $dark;
                    position: absolute;
                    bottom: -10px;
                    left: 400px;
                    border: 1px solid $dark;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    z-index: 6;
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -moz-transition: all $defaultAniSpeed;
                    -o-transition: all $defaultAniSpeed;
                    -webkit-transition: all $defaultAniSpeed;
                    transition: all $defaultAniSpeed;
                }

                &.active:after {
                    left: 1px;
                }
            }

            .username {
                float: left;
                text-transform: none;
                font-size: 16px;
                margin: 0 5px;
                padding: 0 0 5px 0;
                // margin: 0 10px;
                /*@include screen('tablet') {
                    margin: 0 20px;
                }*/
                @include breakpoint(laptop) {
                    margin: 0;
                    padding: 0 0 0 10px;
                }

                .circle-img {
                    float: left;
                    margin-top: 10px;
                    margin-right: 5px;
                    height: 34px;
                    width: 34px;
                    border: 1px solid $border;

                    @include breakpoint(laptop) {
                        margin-right: 0;
                        height: 42px;
                        width: 42px;
                    }

                    img {
                        float: left;
                    }
                }
            }

            .dropdown-menu {
                min-width: 150px;

                & > li > a {
                    padding: 10px 30px 10px 10px;

                    @include breakpoint(tablet) {
                        padding: 10px 20px;
                    }
                }
            }

            &.active {
                background: $border;
            }
        }
    }
}

.active-side {
    .fixed-header {
        @include screen('desktop') {
            padding-right: $sidebarWidth;
        }
    }

    header {
        @include screen('desktop') {
            left: $sidebarWidth;
        }
    }
}


.sep-tabs {
    > ul {
        li {
            width: 33.3333333%;

            @include screen('tablet') {
                width: auto;
            }

            a {
                font-size: 12px;
                text-align: center;
                display: block;
                padding: 20px 0 5px 0;

                @include screen('tablet') {
                    text-align: left;
                    font-size: 16px;
                    padding: 20px;
                }

                i {
                    font-size: 26px;
                    display: block;
                    margin-bottom: 8px;

                    @include screen('tablet') {
                        font-size: 16px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.go-back {
    padding-top: 10px;
    padding-bottom: 10px;


    a {
        color: #000;
        font-size: 10px;
        font-weight: bold;
    }

    i {
        margin-left: 5px;
        margin-right: 10px;
        padding: 5px 7px 5px 5px;
        background-color: #ccc;
        border-radius: 50%;
    }
}
