﻿/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/

$scu-margins:                           (0 5 10 15 20 25 30 40 50 75 100) !default;
$scu-margins-vertical:                  $scu-margins !default;
$scu-margins-horizontal:                $scu-margins !default;

$scu-paddings:                          (0 5 10 15 20 25 30 40 50 75 100) !default;
$scu-paddings-vertical:                 $scu-paddings !default;
$scu-paddings-horizontal:               $scu-paddings !default;

/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
@mixin triangle($direction, $size: 8px, $color: #222){
  content: '';
  display: block;
  position: absolute;
  height: 0; width: 0;
  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}

/*
* Currency
*/
%currency {
  position: relative;
  &:before {
    content: '$';
    position: relative;
    left: 0;
  }
}
.USD %currency:before { content: '$'; }
.EUR %currency:before { content: '\20AC'; } // must escape the html entities for each currency symbol
.ILS %currency:before { content: '\20AA'; }
.GBP %currency:before { content: '\00A3'; }

/*
* Clearfix
*/
%clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both;
  }
}

/*
* Respond To
*/
// Breakpoints for each query
$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

/*
* Ghost Vertical Align
*/
@mixin ghostVerticalAlign($pseudoEl: before){
  &:#{$pseudoEl} {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}
%vertical-align {
  @include ghostVerticalAlign();
}

/*
* Truncate Text
*/
@mixin truncateText($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: $overflow;
    -o-text-overflow: $overflow;
    text-overflow: $overflow; // values are: clip, ellipsis, or a string
}

/*
* Animation
*/
@mixin animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms) {
  // There is a FF bug that requires all time values to have units, even 0 !!!!!!
  -webkit-animation: $name $duration $iterations $timing-function $delay;
  -moz-animation: $name $duration $iterations $timing-function $delay;
  -o-animation: $name $duration $iterations $timing-function $delay;
  animation: $name $duration $iterations $timing-function $delay;
}

/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(gold, .1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(gold, .1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(gold, .1);
  }
}
@mixin alerted() {
    &:before {
        content: '';
        position: absolute;
        top: 6px;
        right: 6px;
        height: 8px;
        width: 8px;
        border-radius: 10px;
        background-color: gold;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: transparent;
        border: solid gold;
        border-width: 2px; // animates
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        @include animation($name: alertMe);
    }
}

/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
@mixin resize-sprite($map, $sprite, $percent) {
  $spritePath:    sprite-path($map);
  $spriteWidth:   image-width($spritePath);
  $spriteHeight:  image-height($spritePath);
  $width: image-width(sprite-file($map, $sprite));
  $height: image-height(sprite-file($map, $sprite));
  @include background-size(ceil($spriteWidth * ($percent/100)) ceil($spriteHeight * ($percent/100)));
  //  background-size: $spriteWidth * ($percent/100)) $spriteHeight * ($percent/100);
  width: ceil($width*($percent/100));
  height: ceil($height*($percent/100));
  background-position: 0 floor(nth(sprite-position($map, $sprite), 2)  * ($percent/100) );
}
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
@mixin resize-sprite-set($map, $percent, $only...) {
  $name: sprite_map_name($map);

  @each $sprite in sprite_names($map) {
    @if length($only) == 0 or index($only, $sprite) != false {
      .#{$name}-#{$sprite} {
        @include resize-sprite($map, $sprite, $percent);
      }
    }
  }
}

/*
* HUI Tooltips
*/
@mixin hui_tooltip($content: attr(data-tooltip), $direction: top) {
  position: relative;
  &:before, &:after {
    display: none;
    z-index: 98;
  }
  &:hover {
    &:after { // for text bubble
      content: $content;
      display: block;
      position: absolute;
      padding: 3px 6px;
      font-size: 12px;
      white-space: nowrap;
      color: #fff;
      text-shadow: 1px 1px #000;
      background-color: #222;
    }
    @if ($direction == 'top'){
      &:before {
        @include triangle(down, 6px, #222);
        top: -2px; margin-top: 0;
        left: 47%;
      }
      &:after {
        top: -28px;
        left: 47%; margin-left: -20px;
      }
    }
    @else if ($direction == 'bottom'){
      &:before {
        @include triangle(up, 6px, #222);
        top: auto; margin-top: 0;
        bottom: -2px;
        left: 47%;
      }
      &:after {
        bottom: -28px;
        left: 47%; margin-left: -20px;
      }
    }
  }
}


/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
%justify {
  text-align: justify;
  &:after { // adds a false last line to the content so justify is applied
    content: '';
    display: inline-block;
    width: 100%;
  }
}

@mixin auto-generate-margins($values, $values-vertical, $values-horizontal) {

    // Margin all
    @each $val in $values{
        .margin-#{$val}{
            margin: #{$val}px !important;
        }
    }

    // Margin top, bottom and vertical
    @each $val in $values-vertical {
        .margin-top-#{$val},
        .margin-vertical-#{$val}{
            margin-top: #{$val}px !important;
        }

        .margin-bottom-#{$val},
        .margin-vertical-#{$val}{
            margin-bottom: #{$val}px !important;
        }
    }

    // Margin left, right and horizontal
    @each $val in $values-horizontal {

        .margin-left-#{$val},
        .margin-horizontal-#{$val}{
            margin-left: #{$val}px !important;
        }

        .margin-right-#{$val},
        .margin-horizontal-#{$val}{
            margin-right: #{$val}px !important;
        }
    }
}

@include auto-generate-margins($scu-margins, $scu-margins-vertical, $scu-margins-horizontal);


@mixin auto-generate-paddings($values, $values-vertical, $values-horizontal) {
    // Padding all
    @each $val in $values{
        .padding-#{$val}{
            padding: #{$val}px  !important;
        }
    }
    // Padding top, bottom and vertical
    @each $val in $values-vertical {

        .padding-top-#{$val},
        .padding-vertical-#{$val}{
            padding-top: #{$val}px !important;
        }

        .padding-bottom-#{$val},
        .padding-vertical-#{$val}{
            padding-bottom: #{$val}px !important;
        }
    }
    // Padding left, right and horizontal
    @each $val in $values-horizontal {

        .padding-left-#{$val},
        .padding-horizontal-#{$val}{
            padding-left: #{$val}px !important;
        }

        .padding-right-#{$val},
        .padding-horizontal-#{$val}{
            padding-right: #{$val}px !important;
        }
    }
}

@include auto-generate-paddings($scu-paddings, $scu-paddings-vertical, $scu-paddings-horizontal);



@mixin screen($size) {
  
  @if $size == Xdesktop {
    @media only screen and (min-width: 1468px) {
      @content;
    }
  }
  @else if $size == desktop {
    @media only screen and (min-width: 1168px) {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and (min-width: 990px) {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $size == ipad {
    @media only screen 
        and (min-width : 768px) 
        and (max-width : 1024px) 
        and (orientation : landscape) {
            @content;
        }
  }
}


@mixin breakpoint($point) {
    @if $point == largedesktop {
        @media (min-width:1600px) {
            @content;
        }
  }
    @else if $point == notLargeDesktop{
        @media (max-width: 1600px) {
            @content;
        }
    }
   @else if $point == desktop {
        @media (min-width:1167px) {
            @content;
        }
  }
   @else if $point == notDesktop{
        @media (max-width: 991px) {
            @content;
        }
    }
   @else if $point == laptop {
        @media (min-width: 991px) {
            @content;
        }
  }
    @else if $point == tablet {
        @media (min-width: 768px) {
            @content;
        }
  }
    @else if $point == tabletonly {
        @media (max-width: 768px) {
            @content;
        }
  }
   @else if $point == phablet {
        @media (min-width: 479px) {
            @content;
        }
  }
   @else if $point == mobilephone {
        @media (max-width: 479px) {
            @content;
        }
   }
  @else if $point == mobileonly {
        @media (max-width: 320px) {
            @content;
        }
  }
}


@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
@mixin button($color) {
	background-color: $color;
	border: 1px solid mix(black, $color, 25%);
	border-radius: 5px;
	padding: .25em .5em;
	
	&:hover {
		cursor: pointer;
		background-color: mix(black, $color, 15%);
		border-color: mix(black, $color, 40%);
	}
}

@mixin multiLineEllipsis($lineHeight, $lineCount, $maxHeight, $bgColor){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $maxHeight; 
  text-align: justify;
  display: block;
  padding-right: 10px;
  &:before {
    content: '...';
    position: absolute;
    right: -1px;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    margin-top: -($lineHeight/$lineCount);
    background: $bgColor;
  }
}
