﻿/// <reference path="../_ref.scss" />

sbm-card {
    .panel {
        float: left;
        width: 100%;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        border-top: 2px solid #E5E5E5;
        margin-bottom: 20px;
        position: relative;
        -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

        &.panel-default {
            border-top-color: #F5F5F5;
            border-top-width: 1px;
        }

        &.panel-primary {
            border-top-color: $primary;
        }

        &.panel-success {
            border-top-color: #95b75d;
        }

        &.panel-info {
            border-top-color: #3fbae4;
        }

        &.panel-warning {
            border-top-color: $warning;
        }

        &.panel-danger {
            border-top-color: $danger;

            .panel-heading {
                background-color: #F5F5F5;
                color: $danger;

                .label {
                    background-color: $danger !important;
                }
            }

            .btn-danger {
                background-color: $danger !important;
            }

            .panel-title > i {
                color: $danger;
            }
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;


            &.stacked {

                h4 {
                    margin: 0;
                    white-space: nowrap;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    small, .small {
                        width: 100%;
                        clear: both;
                    }
                }
            }

            i {
                display: inline-block;
                padding-right: 10px;
                height: 100%;
                float: left;
            }
        }

        .panel-heading {
            padding: 10px;

            .panel-title-image {
                float: left;
                width: 30px;
                border: 2px solid #D5D5D5;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                margin-right: 5px;
            }

            .panel-title {
                h4 {
                    line-height: 15px;
                    padding-top: 2px;
                }

                i {
                    display: inline-block;
                    font-size: 28px;
                    vertical-align: middle;
                    float: left;
                    padding-top: 4px;
                }
            }

            .panel-title-box {
                float: left;

                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    color: #434a54;
                    padding: 0;
                    margin: 0;
                }

                span {
                    font-size: 12px;
                    color: #a7adb5;
                    font-weight: 400;
                    line-height: 12px;
                }
            }

            float: left;
            width: 100%;
        }

        .panel-footer {
            float: left;
            width: 100%;
            background: #F5F5F5;
            border: 0;
            border-top: 1px solid #E3E3E3;
            line-height: 30px;
            padding: 10px 10px 0;

            @include breakpoint(mobilephone) {
                padding: 10px;
            }

            &.panel-plain {
                background: transparent;
                border-top: 0;
            }

            .panel-title {
                display: table;
                float: left;


                @include breakpoint(mobilephone) {
                    width: 100%;
                }

                h4 {
                    display: inline-block;
                    font-size: 16px;


                    @include breakpoint(mobilephone) {
                        width: 100%;
                        text-align: center;
                    }

                    .small, small {
                        width: auto;
                        clear: none;
                        float: left;

                        @include breakpoint(mobilephone) {
                            width: 100%;
                        }
                    }
                }

                i {
                    display: inline-block;
                    font-size: 27px;

                    @include breakpoint(mobilephone) {
                        display: none;
                    }
                }
            }
        }

        .panel-body {
            float: left;
            width: 100%;
            padding: 15px;
            position: relative;

            &.scroll {
                padding-right: 0;
            }

            &.panel-body-map {
                padding: 5px;
            }

            &.panel-body-image {
                padding: 0;
                margin-bottom: 10px;
                position: relative;

                img {
                    -moz-border-radius: 5px 5px 0 0;
                    -webkit-border-radius: 5px 5px 0 0;
                    border-radius: 5px 5px 0 0;
                    width: 100%;
                }

                .panel-body-inform {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    background: #3fbae4;
                    color: #FFF;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    margin-left: -15px;
                    text-align: center;
                    line-height: 30px;
                    padding-left: 1px;
                    padding-top: 1px;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);

                    &.inform-primary {
                        background: #33414e;
                    }

                    &.inform-success {
                        background: #95b75d;
                    }

                    &.inform-warning {
                        background: #fea223;
                    }

                    &.inform-danger {
                        background: #b64645;
                    }

                    .fa {
                        font-size: 16px;
                        color: #FFF;
                        -ms-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }

            &.list-group {
                padding: 0;
            }

            &.profile {
                -moz-border-radius: 5px 5px 0 0;
                -webkit-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;
            }

            &.panel-body-search {
                padding: 5px;
            }

            &.panel-body-half .panel-body {
                width: 50%;
                height: 100%;

                &:nth-child(2n) {
                    padding-left: 25px;
                }

                &.panel-body-image {
                    margin-bottom: 0;

                    .panel-body-inform {
                        bottom: auto;
                        left: auto;
                        right: -15px;
                        top: 50%;
                        margin-left: 0;
                        margin-top: -15px;
                    }
                }
            }

            .panel-title {
                padding-left: 0 !important;
            }
        }

        .panel-heading-icon i, .panel-footer-icon i {
        }
    }

    .panel-default .panel-heading, .panel-primary .panel-heading, .panel-success .panel-heading, .panel-info .panel-heading, .panel-warning .panel-heading, .panel-danger .panel-heading {
        background: #F5F5F5;
        border-color: #E5E5E5;
    }

    .panel-fullscreen-wrap {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: #FFF;

        .panel {
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            margin: 0;

            .panel-body {
                overflow-y: scroll;
            }
        }
    }

    .panel-group {
        float: left;
        width: 100%;

        .panel-heading + .panel-collapse > .panel-body {
            border-top: 0;
        }
    }

    .panel-title > a {
        text-decoration: none;
    }

    .panel-group.accordion .panel-body {
        display: none;

        &.panel-body-open {
            display: block;
        }
    }

    ul.panel-controls {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        @include breakpoint(mobilephone) {
            width: 100%;
            margin-top: 10px;
        }

        > li {
            float: left;

            @include breakpoint(mobilephone) {
                width: 100%;
            }

            .btn {
                @include breakpoint(mobilephone) {
                    width: 100%;
                    padding: 5px;
                    margin-top: 5px;
                }
            }
        }
    }
}

.carousel sbm-card {
    text-align:left
}