﻿/// <reference path="../_ref.scss" />

.sbm-toggle-switch, sbm-toggle-switch {
    .btn-group {
      width: auto;
        .btn{
            border:1px solid $base-dark;
            width:auto;
            padding: 10px 25px 10px 25px;
            font-weight: bold;
            font-size: 12px;
        }
        .btn-primary.active{
            background:$base-dark;
        }

        .btn:not(.active){
            opacity:0.6;

            &:hover{
                opacity:1;
                   }
        }

        

      }
}

