﻿@import "../Common/globals";

.sep-boxscore-modal-header{
    background-color: $primary;
    padding: 15px;
    .modal-title{
        color: white;
        font-size: 16px;
        font-weight: 600;
    }

    .close-btn{
        padding-right: 0;
        position: absolute;
        top: 10px;
        color: white;
    }
}

.sep-boxscore-modal-body{
    background-color: $gray;
    .disabled-entry-bar{
        margin: 10px 2px;
    }
    .circle-img{
        border: none;
        width: 60px;
        height: 60px;
    }
    .exempt-checkbox-title-align{
        position: relative;
        top: -2px;
    }
    .comment-section{
        .input{
            min-height: 120px;
        }
    }

    .job{
        font-style: italic;
    }
    .data-point{
        text-align: center;
        .value{
            font-size: 24px;
            font-weight: 600;
            color: $dark;
        }
        .name{
            font-size: 14px;
            font-weight: 600;
            color: $muted;
        }
        .bonus{
            color: $success;
        }
    }
    .add-button{
        padding-left: 18px;
        padding-right: 18px;
        border: none;
        .plus-button{
            line-height: 1.5;
        }
        .add{
            font-weight: 700;
        }
    }

    .panel-scroll{
        max-height: 550px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .panel{
        margin: 0  20px 20px 20px;

        .panel-heading{
            border-bottom: none !important;

            hr{
                margin-top: 10px;
                margin-bottom: 0 !important;
            }

            .fa-trash-o{
                font-size: 18px;
                margin-left: 15px;
                cursor: pointer;
            }
        }

        .panel-body{
            padding-top: 5px !important;
            .subBody{
                 padding-top: 15px;
                 .reason-style{
                        background-color: $border;
                        padding: 4px;
                        color: $base-dark;
                        font-weight: 600;
                        margin-right: 10px;
                        font-size: 12px;
                        text-align: center;
                        white-space: nowrap;
                        margin-top: 5px;
                        float: left;
                        border-radius: 4px;
                    }
             }
             .audit-result{
                 font-style: italic;
             }
            .employee{
                 padding: 15px 0;
                .details{
                    width: 100%;
                }
                .circle-img{
                    width: 80px;
                    height: 80px;
                    border: none;
                }
                .emp-desc{
                    padding-left: 15px;
                    width: 200px;

                    .name{
                        color: $primary;
                        margin-bottom: 5px;
                    }

                    .job-title{
                        font-style: italic;
                    }
                    .hired-date{
                        font-style: italic;
                        font-weight: 400;
                    }

                    .status-bonus{
                        padding-top: 5px;
                        .bonus-amount{
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .bonus-text{
                            font-size: 12px;
                        }

                        .click{
                            cursor: pointer;
                        }

                                 
                    }
                }
                input[type=checkbox]{
                  width: 25px;
                  height: 25px;
                  padding: 10px;
                  margin-top: 40px;
                }
            }
        }
        .quality-scores{
                padding: 0 0 5px 0;
                .area-name{
                    font-style: italic;
                }

                .total{
                    font-weight: 700;
                }
                .score{
                    font-weight: bold;
                }
            }
        .panel-footer{
             .edit-view-btn{
                width: 65px;
                font-style: italic;
                color: grey;
                font-weight: 700;
            }
        }
    }
    .start-date{
            font-weight: 600;
            font-style: italic;
        }
        .btn-done{
            background-color: $base-dark;
            color: $default;
            font-weight: 600;
        }
        .panel {
            box-shadow: 0 1px 4px rgba(0,0,0,0.2);

            .panel-heading {
                border-bottom: 1px solid $base;
                .top-right-style{
                    text-transform: uppercase;
                }
            }

            .panel-body {
                padding-top: 20px;
                padding-bottom: 10px;
                .header-style{
                    font-weight: 500;
                }
                .description{
                    font-weight: 500;
                }
            }

            .panel-footer {
                background: transparent;
                border-top: 0;
                label{
                    font-size: 12px;
                    font-weight: 600;
                    font-style: italic;
                    color: #9e9e9e;
                    padding-top:10px;
                }
                .reason-style{
                    background-color: $border;
                    padding: 8px;
                    color: $base-dark;
                    font-weight: 600;
                }
                .edit-button{
                    font-style: italic;
                    color: $base-dark;
                    font-weight: 600;
                }
                .edit-button:hover{
                    background-color: $default;
                }
            }
        }
    .entry-form{
        padding: 0 20px 20px 20px;

        .issuetype-btn{
            margin-bottom: 10px;
            margin-right: 10px;
            border-radius: 4px !important;
            color: $base-dark;

            &.active{
                background-color: $primary;
                color: white;
                border: none;
            }
        }

        .align-btns{
            .btn{
                width: 87px;
                padding: 8px 10px;
                font-weight: 700;
            }
        }

        .asterisk{
            font-size: 8px;
            padding-left: 5px;
            position: absolute;
            top: 14px;
        }

        .eva-btns{
            line-height: 6em;
            .eva-btn{
                width: 35px;
                height: 35px;
                line-height: 35px;

                i{
                    line-height: 35px;
                }
                &.active{
                    border: none;
                }
            }
        }
        .file-upload{
            margin-left: 0;
            padding: 10px;
            i{
                font-size: 40px;
            }
        }
        .audit-field{
            .audit-text{
                font-style: italic;
                padding-top: 15px;
                padding-bottom: 15px;
                font-weight: 600;
            }
        }
        .btn-close-complaint{
            color: $primary;
            background-color: $default;
            border-radius: 2px;
            border: 1px solid $primary;
            width: 70px;
            padding: 8px 12px;
        }
        .close-complaint-title{
            padding-top: 8px;
        }
        .multi-select{
            .dropdown-toggle{
                padding: 0 8px;
            }
        }
        .optional-label{
            font-size: 12px;
            font-style: italic;
            margin-left: 5px;
        }
    }
}

.sep-boxscore-modal-footer{
    background-color: $gray;
    padding: 15px 0;

    label{
        font-size: 12px;
        font-weight: 600;
        font-style: italic;
    }
    .exempt-checkbox-title-align{
        position: relative;
        top: -2px;
    }
    .btn-done{
        color: white;
        background-color: grey;
        font-weight: 600;
        padding-left: 18px;
        padding-right: 18px;
    }

      .btn-success{
        border: none !important;
        &.hover{
            border: none;
        }
    }

    .finalize{
          text-align: center;
          .btn-warning{
              padding: 13px 50px;
              margin-bottom: 20px;
          }
          .cancel{
              color: $danger;
              text-decoration: underline;
              cursor: pointer;
          }
      }

}

.box-score-modal-empty {
        .icon-wrap {
            text-align: center;
            padding-bottom: 20px;

            i {
                color: $warning;
                font-size: 68px;
            }
        }
        p {
            text-align: center;
            font-weight: 600;
            padding-bottom: 20px;
            font-size: 16px;
        }
    }

.box-score-modal-content {
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    
    .box-score-modal-item {
        padding: 10px;
    }
}