﻿/// <reference path="../_ref.scss" />
.sidebar-wrap {
    width: 68px;
    padding-top: 60px;
    height: 100%;
    overflow: hidden !important;
    background: $dark;
    border-right: 1px solid $dark-dark;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 21;

    @include screen('mobile') {
        overflow: visible;
    }

    .sidebar-content {
        width: $sidebarWidth + 20;
        height: 100%;
        overflow: auto;

        > ul.module-menus {
            
            li.module-title {
                cursor: pointer;
                > a {
                    -moz-transition: all $defaultAniSpeed;
                    -o-transition: all $defaultAniSpeed;
                    -webkit-transition: all $defaultAniSpeed;
                    transition: all $defaultAniSpeed;
                    border-left: 2px solid transparent;

                    i {
                        font-size: 18px;
                        width: 42px;

                        @include breakpoint(tablet){
                            font-size: 22px;
                        }
                    }

                    &:hover {
                        background: $dark-dark;
                        border-left: 2px solid $primary;
                    }
                    .name{
                        width: 80%;
                        line-height: 20px;
                        padding-left: 3px;
                    }
                }

                a {
                    padding: 12px 10px 12px 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $muted;
                    text-decoration: none;
                    font-size: 12px;
                    display: block;
                    letter-spacing: 1px;
                }

                ul {
                    height: 0;
                    //overflow: hidden;
                    padding-left: 85px;
                    //background: darken($dark, 2%);
                    -moz-transition: all $defaultAniSpeed;
                    -o-transition: all $defaultAniSpeed;
                    -webkit-transition: all $defaultAniSpeed;
                    transition: all $defaultAniSpeed;

                    a {
                        margin-left: -40px;
                        padding: 8px 20px;
                        -moz-transition: all $defaultAniSpeed;
                        -o-transition: all $defaultAniSpeed;
                        -webkit-transition: all $defaultAniSpeed;
                        transition: all $defaultAniSpeed;
                    }
                }

                &.active {
                    background: lighten($dark-dark, 3%);

                    > a {
                        background: $dark-dark;
                        border-left: 2px solid $primary;
                    }

                    ul {
                        // height: 200px;
                        height: auto;
                        padding-left: 50px;
                        -moz-transition: all $defaultAniSpeed;
                        -o-transition: all $defaultAniSpeed;
                        -webkit-transition: all $defaultAniSpeed;
                        transition: all $defaultAniSpeed;
                        display: block;

                        a {
                            font-size: 12px;
                            margin: 0;
                            -moz-transition: all $defaultAniSpeed;
                            -o-transition: all $defaultAniSpeed;
                            -webkit-transition: all $defaultAniSpeed;
                            transition: all $defaultAniSpeed;

                            &.active, &:hover {
                                font-weight: 600;
                                color: $default;
                            }
                        }
                    }
                }
            }
            // li.module-title
        }
    }

    .menu-toggle-btn{
        position: absolute;
	    left: 20px;
	    top:11px;
	    z-index: 13;
    }
}

.active-side-mob {
	
	.sidebar-wrap{
		left: -290px;
		width: $sidebarWidth;
		@include screen('tablet') {
			width: 68px;
		}
		ul.module-menus{
			li{
                a{
                    span{
                        /*display:none;*/
                    }
                }
				ul{
					@include screen('tablet') {
						height: 0 !important;
					}
				}
			}
		}
		
	}
}

.active-side{
	
	.sidebar-wrap{
		width: $sidebarWidth;
		left: 0;
		@include screen('tablet') {
			left: 0;
		}
	}
	.wrapper{
		@include screen('desktop') {
			padding-left: 250px;
		}
	}
}

.sidebar-wrap,
.wrapper {
    -moz-transition: all $defaultAniSpeed;
    -o-transition: all $defaultAniSpeed;
    -webkit-transition: all $defaultAniSpeed;
    transition: all $defaultAniSpeed;
}

.menu-toggle-btn{
	color: $warning;
	font-size: 26px;

	@include screen('mobile') {
		color: $warning;
		display: block;
	}
	@include screen('tablet') {
		color: $default;
	}

	&:hover, &:focus{
		text-decoration: none;
		color: $warning;
		@include screen('tablet') {
			color: $default;
		}
	}
}


