﻿@model ChaiTea.Web.Common.EmployeeAuditVm
@{
    ViewBag.Title = "My Audits";
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}

@section title {

}

@section datepickerpanel{
    <sbm-monthly-picker ng-model="vm.dateRange" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
}


<div class="container-fluid emp-audits-avg" data-ng-controller="Quality.MyAuditsIndexCtrl as vm">
    <div class="row">
        <div class="col-sm-12 page-content no-padding no-gutter">

            <div class="row">
                <!-- Page content-->

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding">
                            <div class="col-md-12 no-padding">

                                <div class="text-center empty-wrap" data-ng-model="vm.employeesByArea" data-ng-if="!vm.employeesByArea.length">No data to display</div>
                                <div class="primary table-head" data-ng-if="vm.employeesByArea.length">

                                    <div class="row">

                                        <div class="col-xs-6">

                                            <p class="pull-left head-text">AUDIT SCORE</p>

                                        </div><!-- col8 -->
                                        @*<div class="col-xs-6">
                    <p class="pull-right">LAST AUDIT</p>
                </div>*@<!-- COL4 -->
                                    </div><!-- ROW -->
                                    <div class="clearfix"></div>
                                </div><!-- table-head -->

                                <div class="emp-row details-mobile-padding itemrow" data-ng-repeat="employee in vm.employeesByArea" data-ng-if="vm.employeesByArea.length">
                                    <div class=" pull-left" style="padding-left:0;">

                                    <div class="pull-left row-details pull-left details-mobile details-mobile-margin">
                                        <p class="emp-name area-name">{{::employee.AreaName}}</p>
                                        <span class="emp-program">{{ ::employee.ProgramName }}</span>
                                        <p class="emp-title audit-type">Score: {{::employee.AverageScoringProfileScore}}</p>
                                    </div><!-- emp-details -->
                                </div><!-- pull-left -->
                                    @*<div class="jd-status pull-right">
                <p class="date">{{ employee.LastAuditDate | date:'MM/dd/yyyy' }}</p>
            </div>*@<!-- PULL-RIGHT -->

                                    <div class="clearfix"></div>

                                </div><!-- EMP-ROW -->

                            </div><!-- COL12 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

