﻿<div class="row financials invoice-details billing details-modal">
    <div class="col-md-12 well wt-details wo-details-well">
        <div class="content">
            <h2 class="pull-left primary-text padding-left-15">
                {{'INVOICE' | translate}}
                <span class="hide-phone">{{'NUMBER' | translate}}</span>
                <span class="hide-desktop">#</span>
                : {{vm.invoiceNumber}}
            </h2>
            <i class="fa fa-close pull-right" ng-click="vm.close()"></i>
            <div class="clearfix"></div>
            <div class="panel-body ">
                <div class="col-md-8 ">
                    <div class="invoice-block padding-left-20">
                        <div class="col-md-5 billing-style">
                            <i><b>{{'BILLED_TO_CUSTOMER' | translate}}:</b></i>
                            <div class="clearfix"></div>
                            <br />
                            <b class="inv-customer">{{vm.customer.Name}}</b>
                            <p>
                                <div data-ng-if="vm.customer.AddressOne">
                                    <span>
                                        {{vm.customer.AddressOne}}
                                    </span>
                                    <br />
                                </div>
                                <div data-ng-if="vm.customer.AddressTwo">
                                    <span>
                                        {{vm.customer.AddressTwo}}
                                    </span>
                                    <br />
                                </div>
                                {{vm.customer.City}} {{vm.customer.ZipCode}}
                            </p>
                        </div>

                        <div class="col-md-7 invoice-details">
                            <i><b>{{'BILL_SUMMARY' | translate}}:</b></i>
                            <div class="clearfix"></div><br />
                            <p class="line-total text-capitalize"><b>{{'INVOICE_DATE' | translate}}: </b><span class="pull-right">{{vm.invoiceDate}}</span></p>
                            <p class="line-total"><b>{{'PAYMENT_TERM' | translate}}: </b><span class="pull-right">{{vm.paymentTerms}}</span></p>
                            <p class="line-total"><b>{{'MONTH_OF_SERVICE' | translate}}: </b><span class="pull-right">{{vm.monthOfService}}</span></p>
                            <p class="billing-style"><b>{{'YOUR_PO' | translate}}: </b><span class="pull-right">{{vm.PO}}</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-4 invoice-total-style padding-left-20">
                    <div class="invoice-details">
                        <div class="title-line">  <i><b>{{'TOTAL_INVOICE' | translate}}:</b></i></div>

                        <div class="">
                            <p class="line-total"><b>{{'TOTAL_BILLED' | translate}}: </b><span class="pull-right">${{vm.billedAmount | number:2}}</span></p>
                            <p class="line-total"><b>{{'TAX' | translate}}:</b> <span class="pull-right">${{vm.taxAmount | number:2}}</span></p>
                            <p class="line-total"><b>{{'TOTAL_INVOICE' | translate}}: </b><span class="primary-color pull-right">${{vm.invoiceAmount | number:2}}</span></p>
                            <p class="line-total"><b>{{'PAID' | translate}}: </b><span class="success-color pull-right">${{vm.paidAmount | number:2}}</span></p>
                            <p><b>{{'BALANCE_DUE' | translate}}: </b><span class="danger-text pull-right">${{vm.outstandingAmount | number:2}}</span></p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-12">

                <div class="table-head">
                    <div class="row">
                        <div class="col-xs-6 row-details pull-left">
                            <p>{{'DESCRIPTION' | translate}}</p>
                        </div>
                        <div class="col-xs-3">

                            <p class="pull-right">{{'AMOUNT' | translate}}</p>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-xs-3">
                            <div class="pull-right">
                                <p class="text-capitalize">{{'PAID' | translate}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                    </div><div class="clearfix"></div>
                </div>

                <div>
                    <div class="Inv-row itemrow" ng-repeat="invoiceItem in vm.invoiceItems">
                        <div class="row">
                            <div class="col-xs-6 row-details pull-left">
                                <p class="inv-desc">{{invoiceItem.Description}}</p>
                                <p class="inv-program">{{invoiceItem.ProgramName ? invoiceItem.ProgramName : '-'}}</p>
                                <p class="inv-row-font">Quantity: {{invoiceItem.Quantity | number:2}}</p>
                                <p class="inv-row-font">{{'RATE' | translate}}: ${{invoiceItem.Rate | number:2}}</p>
                                <p class="inv-row-font">{{'TAXABLE' | translate}}: {{invoiceItem.IsTaxable ? 'YES' : 'NO'}} | Currency: {{invoiceItem.CurrencyCodeName}}</p>
                            </div>

                            <div class="col-xs-3 inv-amt-paid">

                                <p class="pull-right">${{invoiceItem.TotalAmount | number:2}}</p>

                            </div>
                            <div class="col-xs-3 failure-color inv-paid" ng-class="{ 'success-color' : invoiceItem.IsPaid }">
                                <p class="pull-right">{{invoiceItem.IsPaid ? 'Paid' : 'Unpaid'}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
