﻿<div class="course-card-component">
        <img ng-src="{{course.coverImage}}" />
        <div class="course-metrics">
            <p class="name">{{course.Name}}</p>
            <p>
                <span class="metric">{{course.CourseAttachments.length}} {{ course.CourseAttachments.length > 1 ? 'Trainings':'Training'}}</span>
                <span class="metric"><i class="fa-eye"></i> {{course.Views}}</span>
                <span><star-rating for-display="true" score="course.AverageRating"></star-rating>({{course.AverageRating | number: 1}})</span>
            </p>
        </div>
</div>