﻿@import "../../../../css/Common/_globals";
@import "../../../../css/Common/_bootstrap-overrides";

side-navigation {
    .main {
        width:80%;
        height: 100%;
        overflow: hidden;
        background: $dark;
        position: fixed;
        border-right: 1px solid $dark-dark;
        left: -1260px;
        top: 0;
        z-index: 21;
        transition: all 0.3s;
        box-shadow: 2px 0px 10px rgba(0,0,0,0.5);

        @include breakpoint(desktop) {
            width:240px;
            left: 0;
            box-shadow: none;
        }
    }

    &.active .main {
        left: 0;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }

    .nav.nav-tabs {
        border-bottom: 0;

        > li {
            a {
                background: $dark-dark;
                border-radius: 0;
                color: $base-dark;

                &:hover {
                    border-color: transparent transparent $dark-dark;
                    cursor: pointer;

                    @include breakpoint(desktop) {
                        cursor: default;
                    }
                }

                i {
                    font-size: 1.714rem;
                }
            }

            &.active a {
                background: $dark;
                color: $warning;
                border: 1px solid transparent;
            }
        }
    }



    .tab-content {
        height: 100%;

        @include breakpoint(desktop) {
            padding-top: 5px;
        }

        h3 {
            padding: 0;
        }

        .nav {
            .nav-item {
                position: relative;
                margin: 0;

                a {
                    display: block;
                    padding: 0;
                    color: $base-dark;
                    font-size: 1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    background: transparent;
                    line-height: 3.143rem;
                    border-left: 2px solid transparent;
                    @include breakpoint(laptop){
                        padding: 0.714rem 0;
                        font-size: 0.857rem;
                        line-height: 1.428;
                    }
                    &.hasChildren:before {
                        font-family: 'icomoon';
                        content: '\e953';
                        float: right;
                        padding-right: 35px;
                        font-size: 0.7rem;
                        line-height: 3.143rem;
                        @include breakpoint(laptop){
                            line-height: 2;
                        }
                        @include breakpoint(desktop) {
                            content: '';
                        }
                    }

                    &.selected {
                        background: darken($dark-dark, 7);
                    }

                    > div {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .icon-col {
                        width: 46px;
                        text-align: center;
                        margin-right: 2px;

                        i {
                            margin: 0;
                            font-size: 1.3rem;
                            color: $base-dark;
                            text-align: center;
                        }
                    }
                }

                > ul {
                    background: $dark-dark;
                    padding-left: 50px;
                    border-left: 2px solid transparent;
                    padding-bottom: 10px;
                    a {
                        text-transform: none;
                        color: darken($base-dark, 10);
                        @include breakpoint(laptop){
                            padding: 0.4rem 0;
                        }
                        
                        &:before {
                            content: '';
                        }

                        &.active {
                            color: $warning !important;
                        }

                        &.main-active {
                            color: $default;
                        }

                        &:hover {
                            color: $default;
                        }
                    }
                }

                &.active {

                    > a {
                        color: $default;
                        border-left: 2px solid $warning;
                        background: $dark-dark;

                        i {
                            color: $default;
                        }
                    }
                }

                &:hover {
                    > a {
                        color: darken($base-dark, 10);
                        background: darken($dark-dark, 7);

                        i {
                            color: darken($base-dark, 10);
                        }
                    }
                }
            }
        }

        .mobile-sub-nav {
            width: 100%;
            height: 100%;
            position: absolute;
            background: $dark;
            top: 48px;
            padding-top: 0;

            h3 {
                margin-top: 10px;
                font-size: 1.143rem;
                font-weight: 700;
            }

            i {
                font-size: .814rem;
            }

            &.in-remove {
                transition-duration: 0s;
            }

            &.in-add {
                transition-duration: 0.01s;
            }

            ul.menu-nav.nav {
                background: transparent;
                padding-left: 0;
                padding-top: 0;
                border-left: 0;

                li.nav-item {
                    a {
                        padding-left: 30px;
                        border-left: 2px solid transparent;
                        font-size: 1rem;
                        line-height: 2.571rem;

                        &.active {
                            border-left-color: $warning;
                            background: $dark-dark;
                            color: $default;
                        }

                        &:before {
                            content: '' !important;
                        }
                    }
                }
            }
        }
    }

    .popup-menus {
        position: absolute;
        bottom: 0;
        width: inherit;

        @include breakpoint(desktop) {
            bottom: 56px;
        }
    }


    .sub-menu {
        background: $dark-dark;
        color: darken($base-dark, 10);
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        border-left: 2px solid transparent;

        .wrapper {
            height: 100vh;
            padding: 1rem 0;

            @include breakpoint(desktop) {
                height: auto;
            }

            .name{
                font-size:1rem;
                @include breakpoint(laptop){
                    font-size: 0.857rem;
                }
            }
        }

        &.active {
            color: $default;
        }

        &.in-remove {
            transition-duration: 0s;
        }

        &.in-add {
            transition-duration: .5s;
        }

        .wrapper > div {
            display: inline-block;
            vertical-align: middle;
        }

        .icon-col {
            border-radius: 50%;
            border: 1px solid $base-dark;
            height: 25px;
            width: 25px;
            margin-left: 15px;
            text-align: center;
            margin-right: 2px;
            cursor: pointer;
            i {
                margin: 0;
                font-size: 1.3rem;
                color: $base-dark;
                text-align: center;
                line-height: 25px;
            }
            &.active{
                border: 1px solid $warning;
                i{
                    color: $warning;
                }
            }
        }

        .wrapper > ul {
            background: $dark-dark;
            padding-left: 50px;
            border-left: 2px solid transparent;
            padding-bottom: 10px;
            padding-top: 10px;

            a {
                display: block;
                text-transform: none;
                color: darken($base-dark, 10);
                line-height:2.571rem;
                font-size:1rem;
                @include breakpoint(laptop){
                    font-size: 0.857rem;
                    line-height: 1.428;
                    padding: 0.4rem 0;
                }
                &.active {
                    color: $warning !important;
                }

                &.main-active {
                    color: $default;
                }

                &:hover {
                    color: $default;
                }
            }
        }

        .wrapper > a {
            color: $default;
            border-left: 2px solid $warning;
            background: $dark-dark;

            i {
                color: $default;
            }
        }
    }

    .bottom-nav {
        position: absolute;
        bottom: 0;
        height: 56px;
        background: $dark-dark;
        width: 100%;



        .icon-menu.nav {
            display: flex;

            @include breakpoint(desktop) {
                border-top: 1px solid darken($dark-dark, 3%);
            }

            > li {
                display: inline-block;
                flex: 1;
                border-bottom: 3px solid transparent;

                &.active {
                    border-bottom-color: $warning;
                    color: $warning;
                }

                &:first-of-type a i {
                    font-size: 2rem;
                }

                > a {
                    font-size: 1.5rem;
                    padding: 10px 19px;
                    vertical-align: middle;
                    cursor: pointer;
                    text-align:center;

                    i {
                        color: $base-dark;

                        &.active {
                            color: $warning;
                        }
                    }

                    &:focus {
                        background: transparent;

                        i {
                            color: $warning;
                        }
                    }

                    &:hover {
                        background: transparent;

                        i {
                            color: $default;
                        }
                    }
                }
            }
        }
    }

    .backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        background: rgba(0,0,0,0.9);

        @include breakpoint(laptop) {
            display: none;
        }

        .close-menu {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 2.571rem;
        }
    }
}
