@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
h1, .h1 {
  font-size: 34px;
  font-weight: lighter;
}

h2, .h2 {
  font-size: 22px;
  font-weight: lighter;
}

h3, .h3 {
  font-size: 16px;
  font-weight: normal;
}

h4, .h4 {
  font-size: 16px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 12px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

a {
  color: #00AFD1;
}

.text-error {
  color: #E93D42 !important;
}
.text-success {
  color: #9FC62D;
}
.text-primary {
  color: #00AFD1;
}
.text-warning {
  color: #F99D00 !important;
}
.text-muted {
  color: #9e9e9e;
}
.text-dark strong {
  color: #232323;
}
.text-white {
  color: #ffffff !important;
}
.text-light-gray {
  color: #cccccc;
}
.text-small {
  font-size: 12px;
}
.text-medium {
  font-size: 18px;
}
.text-large {
  font-size: 28px;
}
.text-x-large {
  font-size: 48px;
}

.label-success {
  color: #9FC62D;
}
.label-warning {
  color: #F99D00 !important;
}

.btn {
  font-weight: 700;
  font-size: 0.857rem;
  border-radius: 2px;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-grey {
  background-color: #8c8f92;
  color: #ffffff;
  font-weight: bold;
  border-color: #7f8385;
}
.btn-grey:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black {
  background-color: #2f2930;
  color: #ffffff;
  font-weight: bold;
  border-color: #221d22;
}
.btn-black:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black:focus {
  color: #ffffff;
}
.btn-dark {
  background-color: #2f2930;
  color: #ffffff;
  border-color: #221d22;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #4a404c;
  border-color: #574c59;
}
.btn-dark:focus {
  color: #ffffff;
}
.btn-link {
  color: #403841;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
}
.btn-lg-padding {
  padding: 10px 20px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn .btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.bg-danger, .btn-danger {
  background-color: #E93D42;
  border-color: #e83439;
}
.bg-danger:hover, .btn-danger:hover {
  background-color: #ec5458;
  border-color: #ed6266;
}
.bg-success, .btn-success {
  background-color: #9FC62D;
  border-color: #98be2b;
}
.bg-success:hover, .btn-success:hover {
  background-color: #acd23a;
  border-color: #b1d547;
}
.bg-primary, .btn-primary {
  background-color: #00AFD1;
  border-color: #00a6c7;
}
.bg-primary:hover, .btn-primary:hover {
  background-color: #00c4eb;
  border-color: #00d1fa;
}
.bg-warning, .btn-warning {
  background-color: #F99D00;
  border-color: #ef9700;
}
.bg-warning:hover, .btn-warning:hover {
  background-color: #ffa814;
  border-color: #ffae23;
}
.bg-white, .btn-white {
  background-color: #ffffff;
  border-color: #fafafa;
}
.bg-white:hover, .btn-white:hover {
  background-color: white;
  border-color: white;
}
.bg-transparent, .bg-clear, .bg-clear-bg, .btn-transparent, .btn-clear, .btn-clear-bg {
  background-color: transparent;
}
.bg-gray, .btn-gray {
  background-color: #9e9e9e;
  border-color: #999999;
}
.bg-gray:hover, .btn-gray:hover {
  background-color: #ababab;
  border-color: #b2b2b2;
}

.progress-bar-success {
  background-color: #9FC62D;
}

.alert.alert-danger {
  color: #E93D42;
  border-color: #E93D42;
}
.alert.no-border-radius {
  border-radius: 0;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
  border-color: #9FA8C7;
  background: #00AFD1;
  color: #fff;
}

.modal-content {
  border-radius: 4px;
}
.modal-content .modal-header {
  background-color: #00AFD1;
  color: #ffffff;
}
.modal-content .modal-header .modal-title {
  color: #ffffff;
}
.modal-content .modal-body.max-height-500 {
  max-height: 500px;
  overflow-y: scroll;
}

.popover-plain {
  border-radius: 0;
}
.popover-plain .popover-inner {
  padding: 20px;
}
.popover-plain .popover-title {
  color: #F99D00;
  background: none;
  border: 0;
  font-size: 1.143rem;
  font-weight: 600;
  border-radius: 0;
  padding: 0;
}
.popover-plain .popover-content {
  padding: 10px 0 0;
  color: #403841;
  font-size: 1rem;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

/*Fixes modal backdrop not displaying*/
.modal-backdrop {
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.dropdown-menu {
  min-width: 100px;
}
.dropdown-menu li a {
  font-size: .8571rem;
  font-weight: 600;
  line-height: 30px;
  padding: 0 15px;
  color: #403841;
}

.error-notice {
  margin: 5px 5px;
  /* Making sure to keep some distance from all side */
}

.sbm-alert {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #eee;
  /*border-left-width: 5px;*/
  border-radius: 3px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.sbm-alert.danger {
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
}
.sbm-alert.danger strong {
  color: #d9534f;
}
.sbm-alert.warning {
  border-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}
.sbm-alert.warning strong {
  color: #f0ad4e;
}
.sbm-alert.info {
  border-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}
.sbm-alert.info strong {
  color: #5bc0de;
}
.sbm-alert.success {
  border-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}
.sbm-alert.success strong {
  color: #2b542c;
}

/* -------------------------------------------------- */
/* FIX FOR: icomoon applying line-height to fa-stack */
/* ------------------------------------------------- */
span.fa-stack {
  line-height: 2em !important;
}
span.fa-stack .fa {
  line-height: inherit;
}
span.fa-stack .fa-sbm-thin-circle {
  border: 1px solid;
  border-radius: 80px;
  height: 100%;
}

/* -------------------------------  */
/*  FIX FOR BOLD PLACEHOLDER TEXT  */
/* --------------------------------*/
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  font-weight: normal !important;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.img-circle.circle-img,
.circle-img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #9e9e9e;
}
.img-circle.circle-img.circle-img-40,
.circle-img.circle-img-40 {
  width: 40px;
  height: 40px;
}
.img-circle.circle-img.circle-img-40 img,
.circle-img.circle-img-40 img {
  width: 100%;
  height: 100%;
}

.panel.panel-clean {
  background-color: #ffffff;
}

.dropdown-menu .divider {
  padding: 0;
}

/* ---------------------------------------------------- */
/* FIX issue where .row is direct child of another .row */
/* ---------------------------------------------------- */
.row > .row {
  margin-left: 0;
  margin-right: 0;
}

/*another fix*/
.container-fluid > .row > [class*="col-"][class*="no-padding"] {
  overflow-x: hidden;
}

/* ---------------------------------------------------- */
/* Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  line-height: 1.3rem;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #403841;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e8e8e8;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #00AFD1;
  border-color: #00AFD1;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #E93D42;
  border-color: #E93D42;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #F99D00;
  border-color: #F99D00;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #9FC62D;
  border-color: #9FC62D;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #403841;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:focus + .no-outline::before {
  outline: none;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #00AFD1;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #E93D42;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #F99D00;
}

.radio-success input[type="radio"] + label::after {
  background-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #9FC62D;
}

/* ---------------------------------------------------- */
/* End Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
side-navigation .main {
  width: 80%;
  height: 100%;
  overflow: hidden;
  background: #403841;
  position: fixed;
  border-right: 1px solid #2f2930;
  left: -1260px;
  top: 0;
  z-index: 21;
  transition: all 0.3s;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1167px) {
  side-navigation .main {
    width: 240px;
    left: 0;
    box-shadow: none;
  }
}
side-navigation.active .main {
  left: 0;
}
side-navigation ul {
  padding-left: 0;
  list-style: none;
}
side-navigation .nav.nav-tabs {
  border-bottom: 0;
}
side-navigation .nav.nav-tabs > li a {
  background: #2f2930;
  border-radius: 0;
  color: #9e9e9e;
}
side-navigation .nav.nav-tabs > li a:hover {
  border-color: transparent transparent #2f2930;
  cursor: pointer;
}
@media (min-width: 1167px) {
  side-navigation .nav.nav-tabs > li a:hover {
    cursor: default;
  }
}
side-navigation .nav.nav-tabs > li a i {
  font-size: 1.714rem;
}
side-navigation .nav.nav-tabs > li.active a {
  background: #403841;
  color: #F99D00;
  border: 1px solid transparent;
}
side-navigation .tab-content {
  height: 100%;
}
@media (min-width: 1167px) {
  side-navigation .tab-content {
    padding-top: 5px;
  }
}
side-navigation .tab-content h3 {
  padding: 0;
}
side-navigation .tab-content .nav .nav-item {
  position: relative;
  margin: 0;
}
side-navigation .tab-content .nav .nav-item a {
  display: block;
  padding: 0;
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  line-height: 3.143rem;
  border-left: 2px solid transparent;
}
@media (min-width: 991px) {
  side-navigation .tab-content .nav .nav-item a {
    padding: 0.714rem 0;
    font-size: 0.857rem;
    line-height: 1.428;
  }
}
side-navigation .tab-content .nav .nav-item a.hasChildren:before {
  font-family: 'icomoon';
  content: '\e953';
  float: right;
  padding-right: 35px;
  font-size: 0.7rem;
  line-height: 3.143rem;
}
@media (min-width: 991px) {
  side-navigation .tab-content .nav .nav-item a.hasChildren:before {
    line-height: 2;
  }
}
@media (min-width: 1167px) {
  side-navigation .tab-content .nav .nav-item a.hasChildren:before {
    content: '';
  }
}
side-navigation .tab-content .nav .nav-item a.selected {
  background: #1c191d;
}
side-navigation .tab-content .nav .nav-item a > div {
  display: inline-block;
  vertical-align: middle;
}
side-navigation .tab-content .nav .nav-item a .icon-col {
  width: 46px;
  text-align: center;
  margin-right: 2px;
}
side-navigation .tab-content .nav .nav-item a .icon-col i {
  margin: 0;
  font-size: 1.3rem;
  color: #9e9e9e;
  text-align: center;
}
side-navigation .tab-content .nav .nav-item > ul {
  background: #2f2930;
  padding-left: 50px;
  border-left: 2px solid transparent;
  padding-bottom: 10px;
}
side-navigation .tab-content .nav .nav-item > ul a {
  text-transform: none;
  color: #858585;
}
@media (min-width: 991px) {
  side-navigation .tab-content .nav .nav-item > ul a {
    padding: 0.4rem 0;
  }
}
side-navigation .tab-content .nav .nav-item > ul a:before {
  content: '';
}
side-navigation .tab-content .nav .nav-item > ul a.active {
  color: #F99D00 !important;
}
side-navigation .tab-content .nav .nav-item > ul a.main-active {
  color: #ffffff;
}
side-navigation .tab-content .nav .nav-item > ul a:hover {
  color: #ffffff;
}
side-navigation .tab-content .nav .nav-item.active > a {
  color: #ffffff;
  border-left: 2px solid #F99D00;
  background: #2f2930;
}
side-navigation .tab-content .nav .nav-item.active > a i {
  color: #ffffff;
}
side-navigation .tab-content .nav .nav-item:hover > a {
  color: #858585;
  background: #1c191d;
}
side-navigation .tab-content .nav .nav-item:hover > a i {
  color: #858585;
}
side-navigation .tab-content .mobile-sub-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #403841;
  top: 48px;
  padding-top: 0;
}
side-navigation .tab-content .mobile-sub-nav h3 {
  margin-top: 10px;
  font-size: 1.143rem;
  font-weight: 700;
}
side-navigation .tab-content .mobile-sub-nav i {
  font-size: .814rem;
}
side-navigation .tab-content .mobile-sub-nav.in-remove {
  transition-duration: 0s;
}
side-navigation .tab-content .mobile-sub-nav.in-add {
  transition-duration: 0.01s;
}
side-navigation .tab-content .mobile-sub-nav ul.menu-nav.nav {
  background: transparent;
  padding-left: 0;
  padding-top: 0;
  border-left: 0;
}
side-navigation .tab-content .mobile-sub-nav ul.menu-nav.nav li.nav-item a {
  padding-left: 30px;
  border-left: 2px solid transparent;
  font-size: 1rem;
  line-height: 2.571rem;
}
side-navigation .tab-content .mobile-sub-nav ul.menu-nav.nav li.nav-item a.active {
  border-left-color: #F99D00;
  background: #2f2930;
  color: #ffffff;
}
side-navigation .tab-content .mobile-sub-nav ul.menu-nav.nav li.nav-item a:before {
  content: '' !important;
}
side-navigation .popup-menus {
  position: absolute;
  bottom: 0;
  width: inherit;
}
@media (min-width: 1167px) {
  side-navigation .popup-menus {
    bottom: 56px;
  }
}
side-navigation .sub-menu {
  background: #2f2930;
  color: #858585;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-left: 2px solid transparent;
}
side-navigation .sub-menu .wrapper {
  height: 100vh;
  padding: 1rem 0;
}
@media (min-width: 1167px) {
  side-navigation .sub-menu .wrapper {
    height: auto;
  }
}
side-navigation .sub-menu .wrapper .name {
  font-size: 1rem;
}
@media (min-width: 991px) {
  side-navigation .sub-menu .wrapper .name {
    font-size: 0.857rem;
  }
}
side-navigation .sub-menu.active {
  color: #ffffff;
}
side-navigation .sub-menu.in-remove {
  transition-duration: 0s;
}
side-navigation .sub-menu.in-add {
  transition-duration: .5s;
}
side-navigation .sub-menu .wrapper > div {
  display: inline-block;
  vertical-align: middle;
}
side-navigation .sub-menu .icon-col {
  border-radius: 50%;
  border: 1px solid #9e9e9e;
  height: 25px;
  width: 25px;
  margin-left: 15px;
  text-align: center;
  margin-right: 2px;
  cursor: pointer;
}
side-navigation .sub-menu .icon-col i {
  margin: 0;
  font-size: 1.3rem;
  color: #9e9e9e;
  text-align: center;
  line-height: 25px;
}
side-navigation .sub-menu .icon-col.active {
  border: 1px solid #F99D00;
}
side-navigation .sub-menu .icon-col.active i {
  color: #F99D00;
}
side-navigation .sub-menu .wrapper > ul {
  background: #2f2930;
  padding-left: 50px;
  border-left: 2px solid transparent;
  padding-bottom: 10px;
  padding-top: 10px;
}
side-navigation .sub-menu .wrapper > ul a {
  display: block;
  text-transform: none;
  color: #858585;
  line-height: 2.571rem;
  font-size: 1rem;
}
@media (min-width: 991px) {
  side-navigation .sub-menu .wrapper > ul a {
    font-size: 0.857rem;
    line-height: 1.428;
    padding: 0.4rem 0;
  }
}
side-navigation .sub-menu .wrapper > ul a.active {
  color: #F99D00 !important;
}
side-navigation .sub-menu .wrapper > ul a.main-active {
  color: #ffffff;
}
side-navigation .sub-menu .wrapper > ul a:hover {
  color: #ffffff;
}
side-navigation .sub-menu .wrapper > a {
  color: #ffffff;
  border-left: 2px solid #F99D00;
  background: #2f2930;
}
side-navigation .sub-menu .wrapper > a i {
  color: #ffffff;
}
side-navigation .bottom-nav {
  position: absolute;
  bottom: 0;
  height: 56px;
  background: #2f2930;
  width: 100%;
}
side-navigation .bottom-nav .icon-menu.nav {
  display: flex;
}
@media (min-width: 1167px) {
  side-navigation .bottom-nav .icon-menu.nav {
    border-top: 1px solid #272228;
  }
}
side-navigation .bottom-nav .icon-menu.nav > li {
  display: inline-block;
  flex: 1;
  border-bottom: 3px solid transparent;
}
side-navigation .bottom-nav .icon-menu.nav > li.active {
  border-bottom-color: #F99D00;
  color: #F99D00;
}
side-navigation .bottom-nav .icon-menu.nav > li:first-of-type a i {
  font-size: 2rem;
}
side-navigation .bottom-nav .icon-menu.nav > li > a {
  font-size: 1.5rem;
  padding: 10px 19px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}
side-navigation .bottom-nav .icon-menu.nav > li > a i {
  color: #9e9e9e;
}
side-navigation .bottom-nav .icon-menu.nav > li > a i.active {
  color: #F99D00;
}
side-navigation .bottom-nav .icon-menu.nav > li > a:focus {
  background: transparent;
}
side-navigation .bottom-nav .icon-menu.nav > li > a:focus i {
  color: #F99D00;
}
side-navigation .bottom-nav .icon-menu.nav > li > a:hover {
  background: transparent;
}
side-navigation .bottom-nav .icon-menu.nav > li > a:hover i {
  color: #ffffff;
}
side-navigation .backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.9);
}
@media (min-width: 991px) {
  side-navigation .backdrop {
    display: none;
  }
}
side-navigation .backdrop .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.571rem;
}

/*# sourceMappingURL=side-navigation.css.map */
