﻿@import "../../../css/Common/globals";

card{
    border: 1px solid $border;
    border-radius: 4px;
    background-color: $default;
    margin-top : 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: 1px 2px 1px $base;
    @include breakpoint(desktop){
        margin-top: 35px;
    }
}


