﻿@{
    ViewBag.Title = "Customer Survey";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid index customer-survey-all no-overflow" data-ng-controller="Quality.CustomerSurveyDetailCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'SURVEYS'|translate}}"
                 s3-icon-name="surveys.svg"
                 info-text="{{'Feedback from our customers are very important to us. Create and send surveys to customers and read responses regarding our services.' | translate }}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="javascript:void(0);" mailer="survey" class="btn btn-success btn-sm">
            <i class="fa fa-envelope-o"></i> <span class="hidden-xs hidden-sm">{{'SEND SURVEY' | translate }}</span>
        </a>

        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block" ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter data-ng-model="vm.surveyList"
                                        filter="vm.filter"
                                        filter-apply-fn="vm.getSurveysReset()"
                                        filter-clear-fn="vm.getSurveysReset()"
                                        filter-options="vm.filterOptions"></utility-nav-filter>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
                <li>
                    <a hidden-employees hidden-customers
                       href="@Url.Content("~/Quality/CustomerSurvey/Entry")"
                       class="text-uppercase">
                        <span class="fa fa-cog"></span> {{'CONFIG' | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "CustomerSurvey")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg" ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter ng-model="vm.surveyList"
                                button-classes="btn btn-default"
                                filter="vm.filter"
                                filter-apply-fn="vm.getSurveysReset()"
                                filter-clear-fn="vm.getSurveysReset()"
                                filter-options="vm.filterOptions"></utility-nav-filter>
            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
            <a ng-if="vm.userInfo.mainRoles.managers"
               href="@Url.Content("~/Quality/CustomerSurvey/Entry")"
               class="btn btn-default text-uppercase" ng-click="vm.showConfigOptions()">
                <span class="fa fa-cog"></span> {{'CONFIG' | translate}}
            </a>
        </custom-buttons>
    </utility-header>
    <div class="row">
        <div class="col-sm-12 page-content no-gutter">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default no-margin">
                        <div class="center-cards">
                            <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                            <utility-nav-filter-tags></utility-nav-filter-tags>
                        </div>
                        <div class="panel-body" style="padding: 0;">
                            <h3 class="panel-header-txt" data-ng-show="vm.isEntryDisabled">
                                <span class="warning-txt">
                                    <i class="fa fa-warning fa-2"></i> <span>{{'Please select a site.' | translate }}</span>
                                </span>
                            </h3>

                            <div class="text-center empty-wrap" ng-if="!vm.surveyList.length">{{'No data to display' | translate }}</div>

                            <div class="card-view-style center-cards" infinite-scroll="vm.getSurveys()" infinite-scroll-distance="0" infinite-scroll-disabled="vm.isBusy">
                                <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align" ng-transclude
                                      ng-repeat="details in vm.surveyList">
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false"
                                                             item-id="details.RecipientInvitationId" view-link-fn="vm.ShowEntryViewModal(id)" header-date="details.ReportingDate">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left card-body-content-right survey-score">
                                                    <div class="pull-right employee-img no-border text-center"
                                                         ng-class="details.AverageScore ? (details.AverageScore < vm.goal ? 'fail' : 'success') : 'na-style'">
                                                        <span class="align-survey-score">{{::details.AverageScore || 'N/A'}}</span>
                                                    </div>
                                                </div>
                                                <div class="pull-left card-body-content-left padding-left-10">
                                                    <p class="name truncate survey">{{details.Recipient.Name || details.Recipient.Email }}</p>
                                                    <p class="name-lbl text-muted pull-left">{{'SURVEY_TAKER' | translate}}</p>
                                                </div>

                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="margin-top-25 truncate" ng-if="details.SubmittedDate">
                                                <span ng-if="details.Comment.Value != '' && details.Comment.Value">{{details.Comment.Value}}</span>
                                                <span class="no-comment" ng-if="details.Comment.Value == '' || !details.Comment.Value">{{'NO_SURVEY_COMMENT' | translate }}</span>
                                            </div>
                                            <div class="margin-top-25 truncate" ng-if="!details.SubmittedDate">
                                                <span class="no-comment">{{'SURVEY_AWAITING_RESPONSE' | translate }}</span>
                                            </div>
                                            <div class="site padding-top-5">
                                                <div class="pull-left" ng-class="{'client truncate' : details.Recipient.Survey.ClientName.length + details.Recipient.Survey.SiteName.length > 40}">
                                                    <p>
                                                        <i class="fa fa-location margin-right-5"></i> {{details.Recipient.Survey.ClientName}}, {{details.Recipient.Survey.SiteName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left">
                                                <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.Recipient.Survey.ProgramName.length > 9}">{{details.Recipient.Survey.ProgramName}}</span>
                                            </div>
                                            <div class="pull-right types" ng-if="details.SubmittedDate">
                                                <i class="fa fa-check22 text-muted"></i>
                                                <span class="text-muted text-capitalize">{{'Completed' | translate}}: {{details.SubmittedDate | date: 'shortDate'}}</span>
                                            </div>
                                            <div class="pull-right types" ng-if="!details.SubmittedDate">
                                                <span class="text-muted text-capitalize">{{'Pending' | translate}}</span>
                                            </div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>