﻿@{
    ViewBag.Title = "Survey Form Builder";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid customer-survey-all no-overflow" ng-controller="Quality.CustomerSurveyEntryCtrl as vm" ng-init="vm.initialize()">
    <page-header title="{{'SURVEY_FORM_BUILDER'|translate}}"
                 s3-icon-name="surveys.svg">
    </page-header>
    <div class="row hidden-xs">
        <div class="surv-sub-title">
            <div class="surv-description"><span>{{'Create and send out surveys to our customers. We value their opinion and input, and will use it' | translate }}</span><br /> <span>{{'to improve our services in the future.' | translate }}</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 no-padding form-content">
            <div class="panel panel-default">
                <h3 class="panel-header-txt surv-header-txt" style="margin-bottom:0">
                    <strong>{{ vm.clientName }}, {{vm.siteName}}, {{ vm.programName }}</strong> <span>{{'Survey' | translate }}</span>
                    <span class="warning-txt" data-ng-show="vm.isEntryDisabled">
                        <i class="fa fa-warning fa-2"></i> <span>{{'Please select a site and program.' | translate }}</span>
                    </span>
                </h3>
                <div class="surv-questions-desc">
                    <span>{{'Questions 1 through 4 are to be answered on a scale of 1 to 5, with ' | translate }}</span>
                    <b><i>{{'1 being poor' | translate }}</i></b>
                    <span>{{'and' | translate }}</span>
                    <b><i><span>{{'5 being excellent' | translate }}</span>. <span class="required">*</span>= <span>{{'required' | translate }}</span>.</i></b>
                </div>
                <div class="form-wrap wt-details" ng-show="!vm.isEntryDisabled">
                    <form name="surveyForm" role="form" class="css-form form-horizontal" novalidate>
                        <div class="well well-clean no-padding" data-ng-disabled="vm.isEntryDisabled">
                            <div class="col-lg-12 col-md-12 no-padding">
                                <div class="surv-table-head">
                                    <p>{{'SURVEY QUESTIONS' | translate }}</p>
                                </div>
                                <div class="surv-questions surv-itemRow" ng-repeat="survey in vm.customerSurvey.Questions">
                                    <label class="surv-question" for="{{ survey.SurveyTemplateQuestionId }}"><span>{{'Question' | translate }}</span> {{$index+1}}</label>
                                    <span class="required" ng-if="survey.Required">*</span>
                                    <span class="label surv-question-label" ng-if="$index !=4"><i>{{'Rate: 1 to 5' | translate }}</i></span>
                                    <span class="label surv-question-label" ng-if="$index ==4"><i>{{'Comment Box' | translate }}</i></span>
                                    <input name="question-{{ survey.SurveyTemplateQuestionId }}" type="text" class="form-control" ng-required="survey.Required" ng-model="survey.QuestionText" />
                                </div>
                                <div class="form-group pull-right surv-buttons" style="padding-right:10px">
                                    <div class="col-md-12 col-sm-12 ">
                                        <button type="button" class="btn btn-default surv-cancel" ng-click="vm.cancel($event)">{{'CANCEL' | translate }}</button>
                                        <input type="submit" class="btn btn-success surv-save" value="SAVE SURVEY" ng-click="vm.saveSurvey($event)" ng-disabled="!surveyForm.$valid" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>