﻿@{
    ViewBag.Title = "Customer Survey";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid index customer-survey-all no-overflow customer-survey-index" data-ng-controller="Quality.CustomerSurveyIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'SURVEYS' | translate}}"
                 s3-icon-name="surveys.svg"
                 info-text="{{'Feedback from our customers are very important to us. Create and send surveys to customers and read responses regarding our services.' | translate }}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="javascript:void(0);" mailer="survey" class="btn btn-success btn-sm">
            <i class="fa fa-envelope-o"></i> <span class="hidden-xs hidden-sm">{{'SEND SURVEY' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default text-capitalize active">{{'Charts' | translate }}</a>
            <a href="@Url.Action("Details", "CustomerSurvey")" class="btn btn-default text-capitalize">{{'Details' | translate }}</a>
        </tabs>
    </utility-header>
    <div class="row">
        <hr class="hline hidden-xs">
        <div class="col-sm-12 page-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 padding-right-0 hidden-xs hidden-sm">
                    <div class="col-md-12 padding-left-5 padding-right-5 recent  padding-bottom-15">
                        <h3 class="header margin-bottom-0 padding-left-15">
                           <span>{{'Most Recent' | translate }}</span> 
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "CustomerSurvey")">
                                {{'VIEW ALL' | translate }}
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.reportsConfig.recentSurveys" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false"
                                                         item-id="details.RecipientInvitationId" view-link-fn="vm.ShowEntryViewModal(id)" header-date="details.ReportingDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left card-body-content-right survey-score">
                                                <div class="pull-right employee-img no-border text-center"
                                                     ng-class="details.AverageScore ? (details.AverageScore < vm.goal ? 'fail' : 'success') : 'na-style'">
                                                    <span class="align-survey-score">{{::details.AverageScore || 'N/A'}}</span>
                                                </div>
                                            </div>
                                            <div class="pull-left card-body-content-left padding-left-10">
                                                <p class="name truncate survey">{{details.Recipient.Name}}</p>
                                                <p class="name-lbl text-muted pull-left">{{'SURVEY_TAKER' | translate}}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Comment.Value != '' && details.Comment.Value">{{details.Comment.Value}}</span>
                                            <span class="no-comment" ng-if="details.Comment.Value == '' || !details.Comment.Value">{{'NO_SURVEY_COMMENT' | translate }}</span>
                                        </div>
                                        <div class="site padding-top-5">
                                            <div class="pull-left"  ng-class="{'client truncate' : details.Recipient.Survey.ClientName.length + details.Recipient.Survey.SiteName.length > 25}">
                                                <p><i class="fa fa-location"></i> {{ details.Recipient.Survey.ClientName}}, {{details.Recipient.Survey.SiteName}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left">
                                            <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.Recipient.Survey.ProgramName}}</span>
                                        </div>
                                        <div class="pull-right types" ng-if="details.SubmittedDate">
                                            <i class="fa fa-check22 text-muted"></i>
                                            <span class="text-muted text-capitalize">{{'Completed' | translate}}: {{details.SubmittedDate | date: 'shortDate'}}</span>
                                        </div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 charts">
                    <div class="row hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="panel panel-default">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} <span>{{'Month Scores' | translate }}</span></h3>
                                <div class="score-panel">
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.reportsConfig.counts.surveyTrendsCurrentMonth.averages | number : 1 }}</span>
                                        <span class="score-title">{{'Average Survey Score' | translate }}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.reportsConfig.counts.surveyTrendsCurrentMonth.count }}</span>
                                        <span class="score-title">{{'Total Surveys' | translate }}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.pendingCount }}</span>
                                        <span class="score-title">{{'Pending Surveys' | translate }}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <!-- Monthly Trend -->
                            <div class="panel panel-default">
                                <h3 class="panel-header-txt">{{'Monthly Trend' | translate }}</h3>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" data-ng-if="vm.reportsConfig.surveyTrends.xAxis.categories.length <= 1 || vm.reportsConfig.counts.surveyTrends.count == 0">
                                    {{'- More than 1 month worth of data required for monthly trend -' | translate }}
                                </div>
                                <div class="chart-wrap">
                                    <sbm-hc-column-chart id="surveyMonthlyTrends" data-ng-model="vm.reportsConfig.surveyTrends" ng-if="vm.reportsConfig.surveyTrends.xAxis.categories.length > 1 && vm.reportsConfig.counts.surveyTrends.count > 0">
                                    </sbm-hc-column-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Most Recent for Mobile and IPad view -->
                    <div class="col-xs-12 padding-left-5 padding-right-5 recent  padding-bottom-15 margin-bottom-30 hidden-md hidden-lg">
                        <h3 class="header margin-bottom-0 padding-left-5">
                           <span>{{'Most Recent' | translate }}</span>
                            <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "CustomerSurvey")">
                                {{'VIEW ALL' | translate }}
                            </a>
                        </h3>
                        <div class="padding-left-5 padding-right-5 cards">
                            <card class="col-xs-12 col-sm-6 size" ng-repeat="details in vm.reportsConfig.recentSurveys" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false"
                                                         item-id="details.InvitationId" view-link-fn="vm.ShowEntryViewModal(id)" header-date="details.SentDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left card-body-content-right survey-score">
                                                <div class="pull-right employee-img no-border text-center"
                                                     ng-class="details.AverageScore ? (details.AverageScore < vm.goal ? 'fail' : 'success') : 'na-style'">
                                                    <span class="align-survey-score">{{::details.AverageScore || 'N/A'}}</span>
                                                </div>
                                            </div>
                                            <div class="pull-left card-body-content-left padding-left-10">
                                                <p class="name truncate survey">{{details.Recipient.Name}}</p>
                                                <p class="name-lbl text-muted pull-left">{{'SURVEY_TAKER' | translate}}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Comment.Value != '' && details.Comment.Value">{{details.Comment.Value}}</span>
                                            <span class="no-comment" ng-if="details.Comment.Value == '' || !details.Comment.Value">{{'NO_SURVEY_COMMENT' | translate }}</span>
                                        </div>
                                        <div class="site padding-top-5">
                                            <div class="pull-left" ng-class="{'client truncate' : details.Recipient.Survey.ClientName.length + details.Recipient.Survey.SiteName.length + details.Recipient.Survey.ProgramName.lenth > 25}">
                                                <p>
                                                <i class="fa fa-location margin-right-5"></i> {{details.Recipient.Survey.ClientName}}, {{details.Recipient.Survey.SiteName}}, {{details.Recipient.Survey.ProgramName}}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left">
                                            <span class="relatedTo margin-right-10 truncate">{{details.ReportingDate | date: 'MMM dd yyyy'}}</span>
                                        </div>
                                        <div class="pull-right types" ng-if="details.SubmittedDate">
                                            <i class="fa fa-check22 text-muted"></i>
                                            <span class="text-muted text-capitalize">{{'Completed' | translate}}: {{details.SubmittedDate | date: 'shortDate'}}</span>
                                        </div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Surveys by Site start -->
                    <div class="view-by-building">
                        <sbm-panel-collapser is-collapsed="false" title="{{'VIEW_BY_SITE' | translate }}">
                            <div class="row empty-wrap" data-ng-if="vm.reportsConfig.counts.surveyTrendsBySite.outOf==0 || !vm.checkSiteValue">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                    {{'No data to display' | translate }}
                                </div>
                            </div>
                            <div class="row chart-wrap" data-ng-if="vm.reportsConfig.counts.surveyTrendsBySite.outOf > 0 && vm.checkSiteValue">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="border-wrap">
                                        <sbm-hc-bar-chart id="surveyBySite" data-ng-model="vm.reportsConfig.surveyTrendsBySite">
                                        </sbm-hc-bar-chart>
                                    </div>
                                </div>
                            </div>
                        </sbm-panel-collapser>
                    </div>
                    <!-- Surveys by Site end -->
                    <!-- Surveys By Program start -->
                    <sbm-panel-collapser is-collapsed="false" title="{{'VIEW_BY_PROGRAM' | translate }}">
                        <div class="row empty-wrap" data-ng-if="vm.reportsConfig.counts.surveyTrendsByProgram.outOf==0 || !vm.checkProgramValue">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                {{'No data to display' | translate }}
                            </div>
                        </div>
                        <div class="row chart-wrap" data-ng-if="vm.reportsConfig.counts.surveyTrendsByProgram.outOf>0 && vm.checkProgramValue">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <sbm-hc-bar-chart id="surveyByProgram" data-ng-model="vm.reportsConfig.surveyTrendsByProgram">
                                </sbm-hc-bar-chart>
                            </div>
                        </div>
                    </sbm-panel-collapser>

                    <!-- Survey By Program end -->
                    
                </div>
            </div>

        </div>

    </div>
</div>

