﻿@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout_Empty_MinimalJS.cshtml";
    var token = Model;
    var imageSrc = ViewBag.ImageSrc;
    var senderName = ViewBag.SenderName;
    var showImage = ViewBag.ShowImage;
}

@section styles{
    @Html.Partial("_SurveyForCustomerStyles")
}
<script type="text/javascript">
    localStorage.removeItem("sbm.survey:answers");
</script>

<div class="container">
    <div class="thanks-slide" style="display: block">
        @if (showImage)
        {
            <div class="sender">
                <div class="circle-img topBottom">
                    <img src=@imageSrc alt="Sender Image" />
                </div>
                <h6>@senderName</h6>
                <p>Your SBM Site Manager</p>
                <hr />
            </div>
        }
        <h1 class="xl-h huge-headline reciver-name topBottom">Survey Completed.</h1>
        <p class="question topBottom">Thank you from all of us.</p>

        <a href="http://www.sbmmanagement.com/" class="btn fade-4 btn-lg btn-x-lg btn-default">SBM HOME</a>
       
    </div>
    <img class="logo" src="~/Content/img/logo.png" alt="SBM Logo" style="display: block;" />
</div>


