﻿@model ChaiTea.BusinessLogic.ViewModels.Surveys.RecipientInvitationVm
@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout_Empty_MinimalJS.cshtml";
    var token = Model;
    var questionId = ViewBag.QuestionId;
    var questionToDisplay = ViewBag.QuestionId + 1;
    var edit = ViewBag.Edit;
    var progressWidth = questionToDisplay * 20;
}

@section styles{
        @Html.Partial("_SurveyForCustomerStyles")
}
<script type='text/javascript'>
    var answers = [];
   
    function moveNext() {
        answers = JSON.parse(localStorage.getItem("sbm.survey:answers"));
        if(answers == null){
            answers = [];
        }
        answers[@questionId] = $("input[name = 'answer']:checked").val() || $("#comment").val();
        localStorage["sbm.survey:answers"] = JSON.stringify(answers);
    }
    onload = function() {
        var allAnswers = JSON.parse(localStorage.getItem("sbm.survey:answers"));
        if((!allAnswers || @questionId > allAnswers.length-1) && $("#a1-o0").length){
            document.getElementById('a1-o0').checked = true;
        }
        else{
            var currentAnswer = allAnswers[@questionId];
            if(currentAnswer){
                var trimmedAnswer = currentAnswer.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-');
            }
            if($("#a1-o" + trimmedAnswer).length){
                document.getElementById('a1-o'+ currentAnswer.toString()).checked = true;
            }
            else{
                document.getElementById('comment').value = currentAnswer || "";
            }
        }
    }
</script>

@if (Model == null)
{
    <div id="survey" class="container">

        <div class="row">
            <div class="surv-bg">
                <div class="surv-content">
                    <div class="text-center empty-wrap">
                        Sorry, the survey does not exist or has already expired.
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <form id="customerSurveyForm" name="customerSurveyForm" role="form" method="POST" action="../SurveyforCustNextQ">
        <input type="hidden" name="Token" value="@Model.Token" />
        <input type="hidden" name="Question" value=@questionId />
        <div class="container">
            <div class="progress-wrap">
                <h6>
                    Question
                    <span class="ans">
                        @questionToDisplay
                    </span>
                    of
                    <span>
                        @Model.Recipient.Survey.Questions.Count()
                    </span>
                </h6>
                <div class="progress">
                    <div class="progress-bar" style="width: @progressWidth%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="@progressWidth" role="progressbar"></div>
                </div>
            </div>
            <div class="survey-content flexslider">
                <ul class="slides">
                    <li>
                        <h1 class="question">
                            @questionToDisplay.@(Model.Recipient.Survey.Questions.Any(q => q.Order == questionId) ? Model.Recipient.Survey.Questions.FirstOrDefault(q => q.Order == questionId).QuestionText : "")
                        </h1>
                        @if (@questionId < 4)
                        {
                            <ul class="options">
                                <li>
                                    <label for="a1-o5">
                                            <input id="a1-o5" type="radio" name="answer" value="5" />
                                        <div class="checkedbtn">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                </div>
                                                <div class="col-xs-6">
                                                    Great
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label for="a1-o4">
                                        <input id="a1-o4" type="radio" name="answer" value="4" />
                                        <div class="checkedbtn">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                </div>
                                                <div class="col-xs-6">
                                                    Good
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label for="a1-o3">
                                        <input id="a1-o3" type="radio" name="answer" value="3" />
                                        <div class="checkedbtn">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                </div>
                                                <div class="col-xs-6">
                                                    Okay
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label for="a1-o2">
                                        <input id="a1-o2" type="radio" name="answer" value="2" />
                                        <div class="checkedbtn">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <i class="fa-star"></i>
                                                    <i class="fa-star"></i>
                                                </div>
                                                <div class="col-xs-6">
                                                    Subpar
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label for="a1-o1">
                                        <input id="a1-o1" type="radio" class="answer" name="answer" value="1" />
                                        <div class="checkedbtn">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <i class="fa-star"></i>
                                                </div>
                                                <div class="col-xs-6">
                                                    Bad
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label for="a1-o0">
                                            <input id="a1-o0" type="radio" name="answer" value="0" />
                                        <div class="checkedbtn">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    N/A
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <h1><small style="color: lightgray">(Optional)</small></h1>
                                <textarea id="comment" class="survey-comment" placeholder="Type comments..." rows="10" cols="30" name="comments"></textarea>

                        }
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
            <div class="slider-control">
                @if (@questionId > 0)
                {
                    <input class="btn btn-lg btn-x-lg btn-default pull-left slide-btn prev-slide" type="submit" onclick="moveNext();" name="back" value="Back">
                }


                @if (@questionId < 4)
                {
                    <input class="btn btn-lg btn-x-lg btn-default pull-right slide-btn next-slide" type="submit" onclick="moveNext();" name="next" value="Next" />
                }
                else
                {
                    <input class="btn btn-lg btn-x-lg btn-default pull-right slide-btn next-slide" style="vertical-align:middle" type="submit" onclick="moveNext()" name="review" value="Continue" />
                }
                <br /><br /><br /><br />
                @if (@edit == 1)
                {
                    <p class="text-center">
                        <input class="btn btn-lg btn-x-lg btn-default slide-btn" type="submit" onclick="moveNext()" name="edit" value="Results Page">
                    </p>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
}
