﻿@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout_Empty_MinimalJS.cshtml";
    var imageSrc = ViewBag.ImageSrc;
    var senderName = ViewBag.SenderName;
    var showImage = ViewBag.ShowImage;
    var recipientName = ViewBag.RecipientName;
    var tokenIsValid = ViewBag.TokenIsValid;
    var token = ViewBag.Token;
}

@section styles{
    @Html.Partial("_SurveyForCustomerStyles")
}
<noscript>
    <style>
        #survey {display: none;}
    </style>
    <div class="alert text-center"> JavaScript is disabled on your browser.<br />
            Please enable JavaScript on your browser or upgrade to a JavaScript-capable browser.</div>
</noscript>
<script type="text/javascript">
    localStorage.removeItem("sbm.survey:answers");
</script>

@if (!tokenIsValid)
{
    <div id="survey" class="container">
        <div class="row">
            <div class="surv-bg">
                <div class="surv-content">
                    <div class="text-center empty-wrap">
                        Sorry, the survey does not exist or has already expired.
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="survey" class="container">
        <div class="starter-slide">
            @if(@showImage){
                <div class="sender">
                    <div class="circle-img topBottom">
                        <img src=@imageSrc  alt="Sender Image" />
                    </div>
                    <h6>@senderName</h6>
                    <hr />
                </div>
            }
            <h1 class="xl-h reciver-name topBottom">Hi, @recipientName.</h1>
            <p class="question topBottom">
                In order to serve you better, we at SBM would like to get your feedback in regards to the quality of our service.
                Please take a minute to answer these questions.
            </p>
            <a href="@Url.Content("~/Quality/CustomerSurvey/SurveyforCustomer/"+@token)" class="btn fade-4 btn-lg btn-x-lg btn-default">Get Started</a>
        </div>

        <img class="logo" src="~/Content/img/logo.png" alt="SBM Logo" style="display: block;">
    </div>
}