﻿@model int
@{
    ViewBag.Title = "";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid customer-survey-all" ng-controller="Quality.CustomerSurveyResponseCtrl as vm" ng-init="vm.initialize(@Model)">
    <page-header title="{{'SURVEYS'|translate}}"
                 s3-icon-name="surveys.svg">
    </page-header>
    <div class="row">
        <div class="surv-table-head">
            <p class="col-xs-6 col-md-8 no-padding">{{'SURVEY FEEDBACK' | translate}}</p>
            <p class="text-right col-xs-6 col-md-4 no-padding"><span>{{'COMPLETED' | translate }}</span>: {{vm.customerSurveyResponse.SubmittedDate | date: mediumDate}}</p>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row ">
        <div class="response-info">
            <div class="response-client">
                <p class="response-client-text"> {{vm.customerSurveyResponse.Recipient.Survey.ClientName}}, {{vm.customerSurveyResponse.Recipient.Survey.SiteName}}, {{vm.customerSurveyResponse.Recipient.Survey.ProgramName}} <span>{{'Survey' | translate }}</span></p>
            </div>
            <div class="hidden-xs surv-padding surv-font pull-left">
                <p><b class="surv-col surv-font"><span>{{'SURVEY_TAKER' | translate }}</span> {{vm.customerSurveyResponse.Recipient.Name}}</b> <i class="surv-font cs-request-sent-date"><span>{{'Survey Sent On' | translate }}</span>: {{vm.customerSurveyResponse.SentDate | date:mediumDate}} </i></p>
                <p class="surv-related-to"><span>{{'Survey related to'| translate }}</span>: <span class="surv-program">{{vm.customerSurveyResponse.Recipient.Survey.ProgramName}}</span></p>
            </div>
            <div class="hidden-xs pull-left surv-location  surv-font">
                <p class="surv-location-pad surv-text-center location">{{'Location' | translate }}</p>
                <p><i class="location-site">{{vm.customerSurveyResponse.Recipient.Survey.SiteName}}</i></p>
            </div>
            <div class="hidden-xs pull-left cs-surv-score-label">
                <p class="surv-col">{{'Overall' | translate }}</p>
                <p class="surv-col">{{'Score' | translate }}</p>
            </div>
            <div class="hidden-xs pull-left surv-score" ng-class="{'below-control' : (vm.customerSurveyResponse.AverageScore < vm.goal), 'na-background-style' : !vm.customerSurveyResponse.AverageScore }">
                <b>{{ (vm.customerSurveyResponse.AverageScore || 'N/A') }}</b>
                <div class="clearfix"></div>
            </div>

            <div class="col-xs-9 hidden-sm hidden-md hidden-lg surv-padding surv-font">
                <p><b class="surv-col surv-font"><span>{{'SURVEY_TAKER' | translate }}</span>{{vm.customerSurveyResponse.Recipient.Name}}</b></p>
                <p><i class="cs-request-sent-date"><span>{{'Survey Sent On' | translate }}</span>: {{vm.customerSurveyResponse.SentDate | date:mediumDate}} </i></p>
                <p>{{'Survey related to:' | translate }} <span class="surv-program">{{vm.customerSurveyResponse.Recipient.Survey.ProgramName}}</span></p>
            </div>
            <div class="hidden-sm hidden-md hidden-lg pull-right surv-score">
                <b>{{vm.customerSurveyResponse.AverageScore}}</b>
                <div class="clearfix"></div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg pull-left surv-location  surv-font">
                <p class="surv-location-pad surv-text-center"><span>{{'Location' | translate }}</span> {{vm.customerSurveyResponse.Recipient.Survey.SiteName}}</p>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="row">
        <div class="surv-quesans">
            <div class="surv-table-head">
                <p class="col-xs-10 col-md-11 no-padding">{{'QUESTIONS' | translate }}</p>
                <p class="pull-right col-xs-2 col-md-1 no-padding surv-align-center">{{'RESPONSE' | translate }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="surv-questions surv-itemRow surv-quesans-pad" data-ng-repeat="answer in vm.customerSurveyResponse.Answers">
                <div class="col-md-1 col-xs-12 surv-col no-padding surv-font"><b><span>{{'Question' | translate }}</span> {{$index+1}} </b></div>
                <div class="col-md-10 col-xs-10 no-padding surv-font">{{ ::answer.QuestionText }}</div>
                <div class="col-md-1 col-xs-2 text-center surv-font" data-ng-if="$index < 4"><b>{{ ::answer.Value || 'N/A' }}</b></div>

                <div class="col-xs-12 no-padding surv-comment-margin" data-ng-if="$index == 4">
                    <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 surv-comment surv-font">
                        <b class="surv-col "><i>{{'Answer' | translate }}</i></b><br /><b>{{::answer.Value}}</b>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>