﻿@model ChaiTea.BusinessLogic.ViewModels.Surveys.RecipientInvitationVm
@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout_Empty_MinimalJS.cshtml";
    var token = Model;
}

@section styles{
    @Html.Partial("_SurveyForCustomerStyles")
}

<script type='text/javascript'>
    var answers = JSON.parse(localStorage.getItem("sbm.survey:answers"));
    var questions = [];
    onload = function () {
        var surveyList = document.getElementById('surveyList');
        questions = [
            {   id: 1,
                QuestionId:"@Model.Recipient.Survey.Questions.ElementAt(0).SurveyQuestionId",
                QuestionText: "@Model.Recipient.Survey.Questions.ElementAt(0).QuestionText",
                QuestionType:"@Model.Recipient.Survey.Questions.ElementAt(0).QuestionType"
            },
            {   id: 2,
                QuestionId:"@Model.Recipient.Survey.Questions.ElementAt(1).SurveyQuestionId",
                QuestionText: "@Model.Recipient.Survey.Questions.ElementAt(1).QuestionText",
                QuestionType:"@Model.Recipient.Survey.Questions.ElementAt(1).QuestionType"
            },
            {   id: 3,
                QuestionId:"@Model.Recipient.Survey.Questions.ElementAt(2).SurveyQuestionId",
                QuestionText: "@Model.Recipient.Survey.Questions.ElementAt(2).QuestionText",
                QuestionType:"@Model.Recipient.Survey.Questions.ElementAt(2).QuestionType"
            },
            {   id: 4,
                QuestionId:"@Model.Recipient.Survey.Questions.ElementAt(3).SurveyQuestionId",
                QuestionText: "@Model.Recipient.Survey.Questions.ElementAt(3).QuestionText",
                QuestionType:"@Model.Recipient.Survey.Questions.ElementAt(3).QuestionType"
            },
            {   id: 5,
                QuestionId:"@Model.Recipient.Survey.Questions.ElementAt(4).SurveyQuestionId",
                QuestionText: "@Model.Recipient.Survey.Questions.ElementAt(4).QuestionText",
                QuestionType:"@Model.Recipient.Survey.Questions.ElementAt(4).QuestionType"
            }
        ];
        var baseUrl = '@Url.Action("SurveyforCustomer","CustomerSurvey", new {Area = "Quality"})';
        for (var i = 0; i < @Model.Recipient.Survey.Questions.Count(); ++i) {
            $(surveyList).append(
                $('<li>').attr('class', 'list-item'+i).append(
                    $('<a>').attr('href', baseUrl + '/@Model.Token?questionId='+i+'&isEdit=true').append(
                        $('<div>').attr('class', 'row').append(
                            $('<div>').attr('class', 'col-xs-8 question'+i).append(questions[i].id+'.'+questions[i].QuestionText)

                        ).append(
                             $('<div>').attr('class', 'col-xs-4 answer'+i)
                        )
                    )
                )
            )
            if(questions[i].QuestionType == "RANGE"){
                if(answers[i] == 0){
                    $(".answer"+i).append('N/A')
                }
                else{
                    for(var j=0; j < answers[i]; ++j)
                    {
                        $(".answer"+i).append(
                            $('<i>').attr('class','fa-star')
                        )
                    }
                }

                if(i == 0){
                    $('.list-item'+i).addClass('border-thick')
                }
            }
            else{
                $(".question"+i).removeClass('col-xs-8').addClass('col-xs-12')
                $(".answer"+i).append(
                    $('<b>').append(
                        $('<div>').attr('class','comments-readonly').append(answers[i])
                   )
                ).removeClass('col-xs-4').addClass('col-xs-12')
            }
            $(".answer"+i).append(
                           $('<i>').attr('class','fa-pencil pull-right')
            )
        }

        var nacnt = 0;
        var sum = 0.00;
        for (var i = 0; i < questions.length; i++)
        {
            if(questions[i].QuestionType == "RANGE"){
                sum = sum + parseInt(answers[i]);
                if (answers[i] == 0)
                {
                    nacnt++;
                }
            }
        }

        var average = 0;
        if(questions.length-1 - nacnt > 0){
            average = sum / (questions.length-1 - nacnt);
        }
        var wholePart = Math.floor(average);
        var decimalPart = average - Math.floor(average);
        if(average == 0){
            average = 'N/A';
        }
        else{
            average = decimalPart > 0 ? average.toFixed(2) : average;
        }
        $(surveyList).append(
            $('<li>').attr('class', 'border-up-down last-child').append(
                $('<div>').attr('class', 'row').append(
                    $('<div>').attr('class', 'col-xs-7').append("Your Average Rating:")
                ).append(
                    $('<div>').attr('class', 'col-xs-5').append(
                        $('<p>').attr('class','pull-right last-child result padding-right-5').append(
                            $('<span>').attr('class','padding-right-5').append(average)
                        )
                    )
                )
            )
        )
        for(var i=0; i < wholePart; ++i){
            $('.result').append(
                   $('<i>').attr('class','fa-star')
            )
        }
        if (decimalPart > 0 && decimalPart <= 0.75)
        {
            $('.result').append(
                   $('<i>').attr('class','fa-star-half-empty')
            )
        }
        else if (decimalPart > 0.75)
        {
            $('.result').append(
                   $('<i>').attr('class','fa-star')
            )
        }
        var sendAnswers = [];
        for(var i =0; i < answers.length; ++i){
            sendAnswers[i] = {
                Answer: answers[i]
            }
        }
        var Answers = $('<input>').attr('type','hidden')
                                    .attr('name','responses').val(JSON.stringify(sendAnswers));
        $('#confirmForm').append($(Answers));

        var sendQuestions = [];
        for(var i =0; i < questions.length; ++i){
            sendQuestions[i] = {
                QuestionId: questions[i].QuestionId,
                QuestionType: questions[i].QuestionType
            }
        }

        var Questions = $('<input>').attr('type','hidden')
                                    .attr('name','questions').val(JSON.stringify(sendQuestions));
        $('#confirmForm').append($(Questions));

    }
</script>


@if (Model == null)
{
    <div id="survey" class="container">
        <div class="row">
            <div class="surv-bg">
                <div class="surv-content">
                    <div class="text-center empty-wrap">
                        Sorry, the survey does not exist or has already expired.
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
        <form id="confirmForm" name="confirmForm"  role="form" method="post" action="../SurveySubmit">
            <input type="hidden" name="RecipientInvitationId" value="@Model.RecipientInvitationId" />
            <input type="hidden" name="SurveyId" value="@Model.Recipient.SurveyId" />
            <input type="hidden" name="RecipientName" value="@Model.Recipient.Name" />
            <input type="hidden" name="RecipientEmail" value="@Model>Recipient.EmailAddress" />
            <input type="hidden" name="Token" value="@Model.Token" />
            <div class="container">
                <div class="comments-top">
                    <h1 class="title">
                        SURVEY RESULTS
                    </h1>

                    If satisfied with your answer, you can submit your survey. Edit any answer by clicking the edit icon for that answer.

                    <br /><br />
                    <ul id="surveyList" class="confirm-options topBottom">
                    </ul>
                    <br /> <br />
                    <p style="text-align:center">
                        <input class="btn fade-4 btn-lg btn-x-lg btn-default" type="submit"  name="back" value="SUBMIT SURVEY">
                    </p>
                </div>
            </div>
        </form>
}
