﻿<div class="criteria-modal">
    <div class="header">
        <span class="pull-left">Security Audit Scoring Criteria</span><i class="fa fa-close pull-right" ng-click="vm.cancel()"></i>
        <div class="clearfix"></div>
    </div>
    <div class="criteria" ng-click="toggle = !toggle" ng-repeat="(key, value) in vm.criterias">
        <div class="name" data-toggle="collapse" data-target="#criteria-{{$index}}"> 
            <i class="fa fa-caret-right padding-horizontal-5" ng-class="toggle ? 'fa-caret-down': 'fa-caret-right'"></i>
            <span>
                {{key}}
            </span>
        </div>
        <div id="criteria-{{$index}}" class="collapse" ng-class="{ 'in': toggle }">
            <div class="item" ng-repeat="c in value">
                <div class="score pull-left score-op-{{$index}}"><span class="value">{{5 - $index}}</span></div><div class="desc">{{c}}</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
