﻿<div class="validation-summary-modal">
    <div class="padding-15">
        <i class="fa fa-close pull-right close" ng-click="vm.cancel()"></i>
    </div>
    <div class="padding-15 padding-top-0">
        <p>{{'CANNOT_FINALIZE_AUDIT' | translate}}</p>
        <div class="padding-top-15 messages" ng-repeat="item in vm.validationSummaryObj">
            <p class="text text-danger pull-left col-xs-12 padding-left-0 padding-right-0">{{item}}</p>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr />
    <button class="btn btn-primary pull-right text-uppercase margin-right-15 margin-bottom-15" ng-click="vm.cancel()">{{'OK_STATIC' | translate}}</button>
    <div class="clearfix"></div>
</div>
