﻿<div class="modal-header">
    <h3 class="modal-title">
        Inspection Items
    </h3>
</div>
<div class="modal-body">
    <form name="inspectionItemsForm" role="form" class="css-form" novalidate>
        <div class="well well-clean overflow-visible no-padding-top">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="areaId">Area</label>
                        <select id="areaId" class="form-control" ng-model="vm.auditProfileSection.AreaId"
                                ng-required="true"
                                ng-options="area.Key*1 as area.Value for area in vm.areas"
                                ng-change="vm.onAreaChange($event)">
                            <option value="">- Select One -</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="areaClassificationId">Area Classification</label>
                        <select id="areaClassificationId" class="form-control" ng-model="vm.auditProfileSection.AreaClassificationId"
                                ng-required="true"
                                ng-options="ac.Key*1 as ac.Value for ac in vm.areaClassifications"
                                ng-change="vm.onAreaClassificationChange(vm.auditProfileSection.AreaClassificationId)">
                            <option value="">- Select One -</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inspectionItems">Inspection Items</label>
                        <div class="clearfix"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <div class="checkbox pull-left" ng-if="vm.inspectionItems.length">
                                    <input type="checkbox" id="cb-inspect-item-select-all" value="all" ng-checked="vm.inspectionItems.length == vm.auditProfileSection.InspectionItems.length" 
                                           data-ng-click="vm.toggleAllInspectionItems($event)"/>
                                    <label for="cb-inspect-item-select-all">
                                        Select All
                                    </label>
                                </div>
                                <div class="pull-right">
                                    <label class="pull-right">Total Count: {{("0000" + vm.inspectionItems.length).slice(-4)}}</label>
                                    <br />
                                    <label class="pull-right">Selected Count: {{("0000" + vm.auditProfileSection.InspectionItems.length).slice(-4)}}</label>
                                </div>
                            </div>
                            <div class="panel-body" style="max-height:150px; overflow:auto;">
                                <div class="row text-center" ng-if="!vm.inspectionItems.length" style="padding-top: 15px;">First, select an area classification</div>
                                <div class="row">
                                    <input id="filterInspectionItems" placeholder="Filter" name="filter" type="text" class="form-control margin-top" data-ng-model="query" />

                                    <div class="checkbox" data-ng-repeat="item in vm.inspectionItems | orderBy:'Value' | filter:{Value:query}">
                                        <div class="col-md-12 col-sm-12" data-ng-click="vm.toggleInspectionItem(item.Key*1)">
                                            <input name="inspectionItems[]" type="checkbox" value="{{item.Key*1}}"
                                                   data-ng-checked="vm.isInspectionItemSelected(item.Key*1)" />
                                            <label>
                                                {{ item.Value }}
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success btn-block" ng-click="vm.save()" data-ng-disabled="inspectionItemsForm.$invalid">Save</button>
        </div>
        <div class="col-md-6 text-center">
            <button class="btn btn-default btn-block" ng-click="vm.cancel()" title="Cancel">Cancel</button>
        </div>
    </div>
</div>