﻿<span class='star-rating'>
    <i ng-if='!isForDisplay' ng-repeat='n in range' class='fa-star-o to-rate' ng-click='mark($index)' ng-class='isMarked($index)'></i>
    <i  ng-if='isForDisplay' ng-repeat='n in range' class="to-display" ng-class='isMarked($index)'></i>
</span>
