﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Report Admin";
}

@section scripts {

}

<div class="container-fluid admin admin-report" data-ng-controller="Admin.ReportCtrl as $ctrl" data-ng-init="$ctrl.initialize()">

    <div class="panel panel-default">
        <div class="panel-heading">Step 1: Select entity to apply settings <div class="pull-right navbar-left"><a href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="$ctrl.clearSelections()">Clear</a></div></div>
        <div class="panel-body">
            <client-selecter client="$ctrl.client" site="$ctrl.site" program="$ctrl.program"></client-selecter>
        </div>
    </div>
    
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Settings <strong>{{$ctrl.settingsText}}</strong></div>
        <div class="panel-body">
            <div class="row">
                <h2 class="col-md-12">Goal and Limit Settings</h2>
                <div class="col-md-4">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-wrap">
                                <label for="briefDesc">Scoring Profile Goal:</label>
                                <input type="text" class="form-control basic-input" id="briefDesc" ng-disabled="$ctrl.currentSetting == 0" ng-readonly="$ctrl.currentSetting == 0" placeholder="Enter Profile Goal here..." 
                                       ng-model="$ctrl.reportSetting.ScoringProfileGoal" maxlength="100" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-wrap">
                                <label for="briefDesc">Complaint Control Goal:</label>
                                <input type="text" class="form-control basic-input" id="briefDesc" ng-disabled="$ctrl.currentSetting == 0" ng-readonly="$ctrl.currentSetting == 0" placeholder="Enter Control Goal here..." ng-model="$ctrl.reportSetting.ComplaintControlLimit" maxlength="100" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-wrap">
                                <label for="briefDesc">Survey Control Limit:</label>
                                <input type="text" class="form-control basic-input" id="briefDesc" ng-disabled="$ctrl.currentSetting == 0" ng-readonly="$ctrl.currentSetting == 0" placeholder="Enter Control Limit here..." ng-model="$ctrl.reportSetting.SurveyControlLimit" maxlength="100" required>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-wrap">
                                <label for="briefDesc">Scoring Profile:</label>
                                <select ng-disabled="$ctrl.isDisabled" class="form-control ng-pristine ng-valid ng-touched" id="clients"
                                        ng-options="c.Value for c in $ctrl.scoringProfiles track by c.Key"
                                        ng-model="$ctrl.scoringProfile" required></select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row padding-bottom">
                <div class="col-md-2 wo-navi-btns">
                    <button class="btn btn-default btn-block btn-md btn-primary" ng-disabled="($ctrl.currentSetting == 0 && !$ctrl.scoringProfile) || !$ctrl.reportSetting.SurveyControlLimit || !$ctrl.reportSetting.ComplaintControlLimit || !$ctrl.reportSetting.ScoringProfileGoal" 
                            ng-click="$ctrl.save()">{{$ctrl.buttonText}}</button>
                </div>
            </div>
            <hr />
            <div class="row padding-bottom">
                    <h2 class="col-md-12">Display Settings</h2>
                    <div class="col-md-4">
                        <div class="field-wrap">
                            <label for="briefDesc">Round Audit's chart data?</label>
                            <select class="form-control" 
                                    ng-model="$ctrl.auditSettings.ChartRoundingScale"
                                    ng-options="obj.id as obj.name for obj in $ctrl.auditChartOptions"
                                    required>
                            </select>
                        </div>
                    </div>
            </div>

            <div class="row padding-bottom">
                <div class="col-md-2 wo-navi-btns">
                    <button class="btn btn-default btn-block btn-md btn-primary" 
                            ng-click="$ctrl.saveDisplaySettings()">{{$ctrl.buttonText}}</button>
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Audits</strong>
        </div>
        <div class="panel-body padding-left-15">
            <div class="row">
                <div class="col-xs-12 audits padding-top-20">
                    <p class="pull-left title"><strong>Inspection Item Failures</strong></p>
                    <div class="col-xs-12 padding-left-0 padding-top-10">
                        <div class="pull-left clickable input-box" ng-class="{'checked': $ctrl.auditConfigSettings.RequireToDosInternalAudit, 'unchecked': !$ctrl.auditConfigSettings.RequireToDosInternalAudit,
                                                                              'disabled': !$ctrl.client.Value  || !$ctrl.site.Key}"
                             ng-click="$ctrl.auditConfigure(true)">
                            <i class="fa fa-check" ng-if="$ctrl.auditConfigSettings.RequireToDosInternalAudit"></i>
                        </div>
                        <div class="pull-left margin-left-10">
                            Require To-Dos to be Created for Failing Inspection Items
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 audits padding-top-20">
                    <p class="pull-left"><strong>Audit Failures</strong></p>
                    <div class="col-xs-12 padding-left-0">
                        <div class="pull-left clickable input-box" ng-class="{'checked': ($ctrl.auditConfigSettings.ReRunAuditsInternalAudit && !$ctrl.auditConfigSettings.RequireToDosInternalAudit), 'unchecked': !$ctrl.auditSettings.ReRunAuditsInternalAudit,
                                                                    'disabled': !$ctrl.client.Value  || !$ctrl.site.Key,
                                                                    'checked-disabled': $ctrl.auditConfigSettings.RequireToDosInternalAudit && $ctrl.auditConfigSettings.ReRunAuditsInternalAudit}"
                             ng-click="$ctrl.auditConfigure(false)">
                            <i class="fa fa-check" ng-if="$ctrl.auditConfigSettings.ReRunAuditsInternalAudit"></i>
                        </div>
                        <div class="pull-left margin-left-10">
                            Automatically Create Re-Audit To-Do Whenever an Audit Fails
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-bottom padding-top-30">
                <div class="col-md-2 wo-navi-btns">
                    <a href="javascript:void(0)" class="btn btn-default btn-block btn-md btn-primary" ng-disabled="!$ctrl.client.Value  || !$ctrl.site.Key"
                       ng-click="$ctrl.saveAuditConfig()">{{$ctrl.buttonText}}</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Run audit to find missing client settings <div class="pull-right"><a href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="$ctrl.runAudit()">run audit</a></div></div>
        <div class="panel-body">
            <div ng-repeat="client in $ctrl.auditList">

                <div class="well well-xs text-danger">
                    {{client.Value}}
                    <div class="pull-right"><a href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="$ctrl.client = client">load</a></div>
                </div>

            </div>
            <div class="well well-xs text-success" ng-if="$ctrl.auditMsg">
                {{$ctrl.auditMsg}}
            </div>
        </div>
    </div>


</div>
