﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Assign Courses";
    ViewBag.HideTitleBar = true;    
}

@section scripts {

}

<div class="container-fluid" ng-controller="Training.CourseAssign as vm" ng-init="vm.initialize()">
    <page-header title="{{'Assign Courses'|translate}}"
                 s3-icon-name="courseadmin.svg">
    </page-header>
    <div class="training course-assign page-content padding-top">


        <uib-tabset active="vm.activeTab" class="margin-bottom course padding" style="min-height: 300px">

            <uib-tab index="$index" class="no-margin-top" heading="{{vm.tabs[$index].title}}" select="vm.getColumn($index,column)" disabled="!vm.selectedVm[column.name].length || vm.selectedVm[column.name].length > 1"
                 ng-repeat="column in vm.positionEmployeeItems track by $index">
                <h2>
                    Step {{$index+1}}: Choose <span class="text-capitalize">{{column.name}}</span>
                    <button class="btn btn-default pull-right" ng-click="vm.positionEmployeeItems.showFilter = !vm.positionEmployeeItems.showFilter">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </h2>
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div id="client-site-position-employee" class="column-drilldown-list margin-top">
                            <div id="{{column.name}}" class="column column-full">

                                <div class="head">
                                    <div class="cell">
                                        <label ng-show="!vm.positionEmployeeItems.showFilter">All {{column.name}}</label>
                                        <label ng-show="vm.positionEmployeeItems.showFilter">
                                            <input type="text" value="" class="form-control" ng-model="column.filter" placeholder="All {{column.name}}" />
                                        </label>
                                        <input type="checkbox" class="checkbox-inline not-clickable"
                                               ng-model="column.selectAll"
                                               ng-change="vm.selectAllInColumn(column,true)"
                                               ng-hide="vm.tabs[$index].hideSelectAll" />
                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped"
                                        ng-if="column.name == 'clients' || vm.positionEmployeeItems[$index].items.length"
                                        ng-hide="vm.lastViewableColumnIndex != null && $index > vm.lastViewableColumnIndex">
                                        <li class="cell" ng-repeat="client in column.items | filter: column.filter track by client.Key">
                                            <label for="{{column.name+$index}}">
                                                {{client.Value}}
                                                <input type="checkbox" id="{{column.name+$index}}" class="checkbox-inline" ng-true-value="{{client.Key}}" ng-false-value=""
                                                       ng-model="client.selected" ng-change="vm.addRemoveItem($parent,client)" />
                                            </label>

                                        </li>
                                    </ul>
                                    <p class="text-center text-muted padding"
                                       ng-if="!column.items.length"
                                       ng-hide="vm.lastViewableColumnIndex != null && $index > vm.lastViewableColumnIndex">
                                        No {{column.name}} to display.
                                        <small><br />Click item from previous to display items</small>
                                    </p>

                                    <p class="text-center text-muted padding"
                                       ng-if="vm.positionEmployeeItems[$index - 1].items.length"
                                       ng-show="vm.lastViewableColumnIndex != null && $index > vm.lastViewableColumnIndex">
                                        <small>
                                            Unselect all from <strong>{{vm.positionEmployeeItems[$index - 1].name}}</strong> to view <strong>{{column.name}}</strong>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="col-xs-12" ng-if="vm.selectedVm[column.name].length > 1 && column.name != 'employees'">
                            <div class="alert alert-danger">
                                <p>
                                    Select only one of the
                                    <strong class="text-capitalize">{{column.name}}</strong> to choose 
                                    <strong class="text-capitalize">{{vm.positionEmployeeItems[$index + 1].name}}</strong>.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 padding-top" ng-if="column.name != 'employees'">
                            <button class="btn btn-primary btn-block padding-top padding-bottom"
                                    ng-click="vm.activeTab = $index + 1"
                                    ng-disabled="!vm.selectedVm[column.name].length || vm.selectedVm[column.name].length > 1">
                                Choose <span class="text-capitalize">{{vm.positionEmployeeItems[$index + 1].name}}</span>
                            </button>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 padding-top">
                            <button class="btn btn-default btn-block padding-top padding-bottom" ng-click="vm.clearDisplaySelections()">Clear</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12 padding-top">
                            <button class="btn btn-success btn-block padding-top padding-bottom"
                                    ng-click="vm.activeTab = 4"
                                    ng-hide="column.name == 'clients' || column.name == 'sites'" @*--- TODO: By client and site functionality not implemented yet ---*@
                                    ng-disabled="!vm.selectedVm[column.name].length">
                                Assign Courses
                            </button>
                        </div>
                    </div>

                </div>


            </uib-tab>

            <uib-tab index="4" class="no-margin-top" heading="{{vm.tabs[4].title}}" disabled="vm.tabs[4].disabled || !vm.anyCoursesSelected()" select="vm.coursesTabSelected()">
                <h1>
                    Select Courses
                    <button class="btn btn-default pull-right" ng-click="vm.courses.showFilter = !vm.courses.showFilter"><i class="fa fa-filter"></i> Filter</button>
                </h1>

                <div class="row">
                    <div class="col-md-12">
                        <div id="course-selector" class="column-drilldown-list margin-top">
                            <div id="course-types" class="column column-third">
                                <div class="head">
                                    <div class="cell">
                                        <label>
                                            Categories
                                        </label>

                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell" ng-repeat="type in vm.courses.types track by $index" ng-class="{'active':vm.courses.selectedType == type}">
                                            <label id="courseType{{$index}}" ng-class="{'text-muted':vm.courses.selectedType != type}" ng-click="vm.toggleCourseType(type)">
                                                {{type.Name}}
                                            </label>
                                        </li>
                                        <li ng-if="!vm.courses.types.length">
                                            <p class="text-center text-muted padding">There are no course categories</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="courses" class="column column-third">
                                <div class="head">
                                    <div class="cell">
                                        <label>
                                            <span ng-show="!vm.courses.showFilter">All Courses</span>
                                            <input ng-show="vm.courses.showFilter" type="text" value="" class="form-control" ng-model="vm.courses.filter" placeholder="All Courses" />
                                        </label>
                                        <input type="checkbox" class="checkbox-inline not-clickable"
                                               ng-model="vm.courses.selectAll"
                                               ng-change="vm.selectAllCoursesInColumn(vm.courses)" />
                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell" ng-repeat="course in vm.courses.items | filter:{CourseTypeId: vm.courses.selectedType.CourseTypeId} : true | filter: vm.courses.filter track by course.Key">
                                            <label for="course{{course.Key}}" ng-class="{'sbm-course':course.isSbmCourse}">
                                                {{course.Value}} <input type="checkbox" class="checkbox-inline" id="course{{course.Key}}" ng-click="vm.toggleSelectedAll(course.selected)" value="{{course.Key}}" ng-model="course.selected" ng-true-value="true" ng-false-value="false" />
                                            </label>
                                        </li>
                                        <li ng-if="!vm.courses.items.length">
                                            <p class="text-center text-muted padding">There are no courses</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="selectedItemsFromStepOne" class="column column-third">
                                <div class="head">
                                    <div class="cell">
                                        <label>Selected Items</label>
                                    </div>
                                </div>
                                <div class="body padding-left">
                                    <h3>{{vm.payloadVm.IsUnassign?"Unassigning from: ":"Assigning to: "}}</h3>
                                    <ul class="list-group no-border">
                                        <li class="list-group-item {{key}}" ng-repeat="(key,val) in vm.selectedVm track by $index" ng-if="val.length && key != 'courses'">
                                            <h4>{{key}}</h4>
                                            <ul class="list-group inner">
                                                <li class="list-group-item" ng-repeat="selItem in val" ng-if="val.length">
                                                    {{selItem.Value}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right padding-top">
                        <button class="btn-lg btn btn-primary btn-block" ng-click="vm.activeTab = 5" ng-disabled="vm.tabs[4].disabled">Next</button>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right padding-top">
                        <button class="btn-lg btn btn-default btn-block" ng-click="vm.activeTab = 0">Cancel</button>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="5" heading="{{vm.tabs[5].title}}" disabled="vm.tabs[5].disabled" select="vm.summaryTabSelected()">
                <h1>Summary</h1>

                <div class="row">
                    <div class="col-md-12">
                        <div class="column-drilldown-list margin-top">
                            <div id="coursesSummary" class="column column-half">
                                <div class="head">
                                    <div class="cell">
                                        <label>
                                            <span>All Courses</span>

                                        </label>
                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell" ng-repeat="course in vm.selectedVm.courses track by $index">
                                            <label>
                                                {{course.Value}}
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="selectedItemsFromStepOneSumary" class="column column-half">
                                <div class="head">
                                    <div class="cell">
                                        <label>Selected Items</label>
                                    </div>
                                </div>
                                <div class="body padding-left">
                                    <h3>{{vm.payloadVm.IsUnassign?"Unassigning from: ":"Assigning to: "}}</h3>
                                    <ul class="list-group no-border">
                                        <li class="list-group-item {{key}}" ng-repeat="(key,val) in vm.selectedVm track by $index" ng-if="val.length && key != 'courses'">
                                            <h4>{{key}}</h4>
                                            <ul class="list-group inner">
                                                <li class="list-group-item" ng-repeat="selItem in val">
                                                    {{selItem.Value}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right padding-top">
                        <button class="btn-lg btn btn-success btn-block" ng-click="vm.finishAssign()">Apply</button>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right padding-top">
                        <button class="btn-lg btn btn-default btn-block" ng-click="vm.activeTab = 1">Cancel</button>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        <hr class="spacer" />

    </div>
</div>