﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    var courseId = Model.Id;
    ViewBag.Title = "Course " + (courseId > 0 ? "Edit" : "Add");
    ViewBag.HideTitleBar = true;
}

@section scripts {

}

<div class="container-fluid" data-ng-controller="Training.CourseEntry as vm" data-ng-init="vm.initialize(@courseId)">
    <page-header title="{{'Course Admin'|translate}}"
                 s3-icon-name="courseadmin.svg">
    </page-header>
    <div class="settings course course-entry page-content" ng-form="vm.courseForm">

        <div class="message" ng-hide="true">
            After hitting submit, the Course will be sent to the Training Department for review. If not approved, the department will reach out to help.
        </div>

        <!-- create new course -->
        <uib-tabset vertical="false" ng-if="!vm.completed" active="vm.activeTab" >
            <uib-tab index="0" heading="{{ 'COURSE_TAB_STEP_1' | translate }}" disable="vm.tabsDisabled[0]" select="vm.changeTab(0, null)">

                <div ng-form="vm.courseDetailsForm">
                    <div class="row">
                        <div class="col-md-12 pull-left page-step">
                            <h3>Step 1 : Enter Course Information</h3>
                            <h5 class="chart-sub-title"></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="uploader cover"
                                 ngf-select="vm.uploadCoverImage($file, $event)" ngf-drop="vm.uploadCoverImage($file, $event)" ng-model="vm.courseImage"
                                 ngf-multiple="false"
                                 ngf-keep-distinct="false"
                                 ngf-keep="false"
                                 ngf-pattern="'image/*'">

                                <icon class="fa-cloud-upload"></icon>
                                <div>Click or drop cover image here</div>
                            </div>
                        </div>
                        <div class="col-md-6 image-loader">
                            <div class="cover-image-container">
                                <div ng-show="!vm.coverImage" class="cover-image">
                                    <icon class="fa-image"></icon>
                                </div>
                                <img ng-show="vm.coverImage" ng-src="{{vm.coverImage}}" />
                            </div>
                            <p>Cover Size: 780x470</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="field-wrap">
                                <label for="briefDesc">Course Name:</label>
                                <input type="text" class="basic-input" id="briefDesc" placeholder="Enter Course Name here..." ng-model="vm.course.Name" maxlength="100" required>
                            </div>

                            <div class="field-wrap">
                                <label for="additionalInfo">Description:</label>
                                <textarea class="basic-input" id="additionalInfo" placeholder="Enter Course Overview here..." ng-model="vm.course.Overview" maxlength="1000" required></textarea>
                            </div>

                            <div class="field-wrap">
                                <label for="Type">Course Type:</label>
                                <select name="Type" id="Type" class="form-control ng-pristine ng-valid ng-touched" ng-model="vm.course.OrgType" ng-change="vm.typeChange()" required>
                                    <option value="Client">Client Specific</option>
                                    <option value="Organization">SBM Specific</option>
                                </select>
                            </div>

                            <div class="field-wrap" ng-if="vm.course.OrgType == 'Client' || vm.course.OrgType == 'Site'">
                                <label for="Type">Choose client:</label>
                                <select class="form-control ng-pristine ng-valid ng-touched"
                                        ng-options="c.Value for c in vm.clients track by c.Key"
                                        ng-change="vm.clientChange()"
                                        ng-model="vm.client" required></select>
                            </div>

                            <div class="field-wrap" ng-if="vm.course.OrgType == 'Client' || vm.course.OrgType == 'Site'">
                                <label for="Type">Choose site:</label>
                                <select class="form-control ng-pristine ng-valid ng-touched"
                                        ng-options="c.Value for c in vm.sites track by c.Key"
                                        ng-change="vm.siteChange()"
                                        ng-model="vm.site"><option value="0">All Sites</option></select>
                            </div>

                        </div><!-- field-wrap -->

                        <div class="col-md-6">

                            <div class="field-wrap">
                                <label for="category">Category:</label>
                                <select class="form-control ng-pristine ng-valid ng-touched" id="category"
                                        ng-options="c.Name for c in vm.courseTypes track by c.CourseTypeId"
                                        ng-model="vm.courseType" required></select>
                            </div>

                            <div class="field-wrap">
                                <label for="Author">Course Manager:</label>
                                <select class="form-control ng-pristine ng-valid ng-touched"
                                        ng-options="e.LastName + ', ' + e.FirstName for e in vm.employees track by e.EmployeeId"
                                        ng-model="vm.employee" required></select>
                            </div>

                            <div class="field-wrap">
                                <label for="tags">Tags:</label>
                                <tags-input ng-model="vm.course.Tags" id="tags" display-property="Name" select-first-match="false" key-property="Name" add-from-auto-complete-only="false" add-on-blur="false">
                                    <auto-complete source="vm.loadTags($query)"></auto-complete>
                                </tags-input>
                            </div>

                            <div class="field-wrap">
                                <label for="deadline">Deadline from hire:</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input id="deadline-value" class="basic-input" type="text" ng-model="vm.course.DeadlineHire" />
                                    </div>
                                    <div class="col-md-6">
                                        <select name="Type" id="Type" class="form-control ng-pristine ng-valid ng-touched" ng-model="vm.course.DeadlineHireType" required>
                                            <option value="d">Days</option>
                                            <option value="M">Months</option>
                                            <option value="y">Years</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field-wrap">
                                <label for="deadline">Retake after...(Enter 0 for N/A)</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input id="deadline-value" class="basic-input" type="text" ng-model="vm.course.RetakeAfter" />
                                    </div>
                                    <div class="col-md-6">
                                        <select name="Type" id="Type" class="form-control ng-pristine ng-valid ng-touched" ng-model="vm.course.RetakeAfterType" required>
                                            <option value="d">Days</option>
                                            <option value="M">Months</option>
                                            <option value="y">Years</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="field-wrap">
                                <label for="deadline" class="pull-left">Featured?</label>
                                <toggle-switch ng-model="vm.course.IsFeatured" on-label="Yes" off-label="No" class="pull-right">
                                </toggle-switch>
                            </div>

                        </div><!-- Col-6 -->

                        <div class="col-md-12 no-padding wo-navi-btns">
                            <div class="field-wrap col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-left" ng-if="vm.course.CourseId">
                                <a class="btn btn-danger btn-block btn-md back" ng-click="vm.delete()">Delete</a>
                            </div>
                            <div class="field-wrap col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">
                                <a class="btn btn-primary btn-block btn-md next" ng-click="vm.changeTab(0, 'next')">Next</a>
                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="{{ 'COURSE_TAB_STEP_2' | translate }}" disable="vm.tabsDisabled[1]" select="vm.changeTab(1, null)">

                <div class="row">
                    <div class="col-md-12 pull-left page-step">
                        <h3>Step 2 : Upload Training Content</h3>
                        <h5 class="chart-sub-title">Upload your training documents. These can be text or PDF documents or videos.</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 uploader"
                         ngf-select="vm.upload($files, $event)" ngf-drop="vm.upload($files, $event)" ng-model="vm.files"
                         ngf-multiple="true"
                         ngf-keep-distinct="true"
                         ngf-keep="true"
                         ngf-pattern="'.pdf,.doc,.docx,video/*,image/*'">

                        <icon class="fa-cloud-upload"></icon>
                        <div>Click or drop files here</div>
                    </div>
                </div>
                <div class="row padding">
                    <div class="col-md-12 list course-files no-padding">
                        <div class="list-header"><label>Uploaded Files</label></div>
                        <div class="selected-emp up-doc-list default">
                            <div class="media-row {{ ($index % 2 ? 'row-even' : 'row-odd' ) }}" ng-repeat="file in vm.files | orderBy:'OrderPriority'">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <i class="{{file.icon}} pull-left"></i>
                                        <p>{{file.Attachment.Name}} <span ng-if="file.Language">({{file.Language.Code}})</span></p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="col-md-6 col-xs-12 pull-right">
                                            <i class="fa fa-sort sort clickable pull-right" ng-click="vm.move($event, $index, null)"></i>
                                            <button class="btn btn-danger btn-xs" ng-click="vm.removeItemFromList($event, file.Attachment.UniqueId)"><span class="fa fa-times"></span></button>
                                            <button class="btn btn-warning btn-xs" ng-click="vm.loadAttachmentModal(file.Attachment.UniqueId, null)"><span class="fa fa-edit"></span></button>
                                            <button class="btn btn-success btn-xs" ng-show="file.Attachment.AttachmentType == 'Video'" ng-click="vm.playVideo(file.Attachment.UniqueId, null)"><span class="fa fa-play"></span></button>
                                        </div>
                                        <div class="col-md-6 col-xs-12 pull-right">
                                            <div class="progress" ng-show="!file.exists">
                                                <div class="progress-bar {{file.class}}" role="progressbar" aria-valuenow="{{file.progress}}"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:{{file.progress}}%">
                                                    <span class="sr-only">{{file.progress}}% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row sub-attachment" ng-repeat="subAttachment in file.CourseSubAttachments | orderBy:'OrderPriority'" ng-if="file.CourseSubAttachments.length">
                                    <div class="col-md-6">
                                        <i class="{{subAttachment.icon}} pull-left"></i>
                                        <p>{{subAttachment.Attachment.Name}} ({{subAttachment.Language.Code}})</p>
                                    </div>
                                    <div class="col-md-6">
                                        <i class="fa fa-sort sort clickable pull-right" ng-click="vm.move($event, $index, file.Attachment.UniqueId)"></i>
                                        <button class="btn btn-danger btn-xs" ng-click="vm.removeSubItemFromList($event, file.Attachment.UniqueId, subAttachment.Attachment.UniqueId)"><span class="fa fa-times"></span></button>
                                        <button class="btn btn-warning btn-xs" ng-click="vm.loadAttachmentModal(file.Attachment.UniqueId, subAttachment.Attachment.UniqueId)"><span class="fa fa-edit"></span></button>
                                        <button class="btn btn-success btn-xs" ng-show="subAttachment.Attachment.AttachmentType == 'Video'" ng-click="vm.playVideo(file.Attachment.UniqueId, subAttachment.Attachment.UniqueId)"><span class="fa fa-times"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding">
                    <div class="col-md-12 list course-info no-padding">
                        <div class="list-header"><label>Course Info</label></div>
                        <div class="row-odd">Course Name: <strong>{{vm.course.Name}}</strong></div>
                        <div class="row-even">Course Type: <strong>{{vm.course.OrgType}}</strong></div>
                        <div class="row-odd">Course Author: <strong>{{vm.employee.LastName}}, {{vm.employee.FirstName}}</strong></div>
                        <div class="row-even">Course Category: <strong>{{vm.courseType.Name}}</strong></div>
                    </div>
                </div>
                <div class="row padding">
                    <div class="col-md-12 confirm">
                            <input type="checkbox" id="confirmAttachments" value="vm.attachmentsConfirmed" ng-model="vm.attachmentsConfirmed"> <span ng-class="(!vm.attachmentsConfirmed ? 'danger-text' : '')">I have reviewed all course materials.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 wo-navi-btns">
                        <div class="field-wrap col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="" class="btn btn-default btn-block btn-md back" ng-click="vm.changeTab(1, 'back')">Back</a>
                        </div><!-- Field Wrap -->

                        <div class="field-wrap col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="" class="btn btn-primary btn-block btn-md next" ng-click="vm.changeTab(1, 'next')">Next</a>
                        </div><!-- Field Wrap -->
                    </div>
                </div>

            </uib-tab>
            <uib-tab index="2" heading="{{ 'COURSE_TAB_STEP_3' | translate }}" disable="vm.tabsDisabled[2]" select="vm.changeTab(2, null)">

                <div class="row">
                    <div class="col-md-12 page-step">
                        <h3>Step 3 : Create a Quiz</h3>
                        <h5 class="chart-sub-title">Select your training item to create a quiz for (each item will need a quiz).</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="quiz">

                    <div class="row">
                        <div class="col-md-6 padding-bottom">
                            <label for="Duration">Select training:</label>
                            <select class="form-control ng-pristine ng-valid ng-touched"
                                    ng-options="a as (a.Attachment.Name + ' (' + a.Language.Code + ')') for a in vm.course.CourseAttachments | filter:{ CourseAttachmentType : '!Cover' }"
                                    ng-model="vm.selectedAttachment" ng-change="vm.attachmentChange()" required>
                                <option value="" ng-selected="true">-- choose training --</option>
                            </select>
                        </div>
                        <div class="col-md-6 padding-bottom">
                            <button class="btn no-quiz-btn" ng-class="{'btn-danger' : (!vm.selectedAttachment.hasQuiz && vm.selectedAttachmentIndex )}" ng-click="vm.setNoQuizFlag()">NO QUIZ</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div ng-if="vm.selectedAttachment.hasQuiz">
                                <label for="Duration">Enter Questions: <em>(3 Questions Min.)</em></label>
                                <div class="field-wrap" ng-repeat="question in vm.course.CourseAttachments[vm.selectedAttachmentIndex].CourseAttachmentQuestions">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{question.OrderPriority}}</span>
                                        <input type="text" class="basic-input" placeholder="Enter Question Here..." value="{{question.Question}}" ng-model="question.Question" ng-change="vm.questionChange($index, $event)">
                                        <span class="input-group-addon show-options btn-default" ng-click="vm.isCollapsed[$index] = !vm.isCollapsed[$index]"><span class="fa-chevron-down"></span></span>
                                    </div>
                                    <div class="q-answers default" uib-collapse="vm.isCollapsed[$index]">
                                        <div class="answer-wrap">
                                            <div class="answer" ng-repeat="answer in question.CourseAttachmentQuestionOptions">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <div class="input-gruop pull-left radio-wrap">
                                                            <input id="q-{{$parent.$index}}-{{$index}}" type="radio" name="q-{{$parent.$index}}" ng-checked="answer.IsAnswer" ng-value=" $index" ng-click="vm.answerChange($parent.$index, $index, $event)">
                                                            <label for="q-{{$parent.$index}}-{{$index}}" class="{{answer.IsAnswer ? 'fa-check-circle-o is-answer' : 'fa-circle-o'}}"></label>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="basic-input" ng-model="answer.Option">
                                                    <span class="input-group-addon btn-default" ng-click="vm.removeAttachmentOption($parent.$index, $index, $event)"><span class="fa-close"></span></span>
                                                </div>
                                            </div>

                                            <div class="field-wrap">
                                                <div class="input-group">
                                                    <input id="new-answer-{{$index}}" type="text" class="basic-input" placeholder="Enter Response Here..." ng-model="vm.newAttachmentQuestionOption[$index].Option" ng-enter="vm.addAttachmentOption($index, $event)">
                                                    <span class="input-group-addon btn-default" ng-click="vm.addAttachmentOption($index, $event)"><span class="fa-plus"></span></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div class="field-wrap">
                                    <div class="input-group">
                                        <input type="text" class="basic-input" placeholder="Enter Question Here..." ng-model="vm.newAttachmentQuestion.Question" ng-enter="vm.addAttachmentQuestion($event)">
                                        <span class="input-group-addon btn-default" ng-click="vm.addAttachmentQuestion($event)"><span class="fa-plus"></span></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-6 no-padding wo-navi-btns">
                                <div class="field-wrap col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <a href="" class="btn btn-default btn-block btn-md back" ng-click="vm.changeTab(2, 'back')">Back</a>
                                </div>
                                <div class="field-wrap col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <a href="" class="btn btn-primary btn-block btn-md next" ng-click="vm.changeTab(2, 'next')">Next</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </uib-tab>
            <uib-tab index="3" heading="{{ 'COURSE_TAB_STEP_4' | translate }}" disable="vm.tabsDisabled[3]" select="vm.changeTab(3, null)">

                <div class="row">
                    <div class="col-md-12 page-step">
                        <h3>Step 4 : Course Summary</h3>
                        <h5 class="chart-sub-title"></h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row padding">
                    <div class="col-md-8 list course-info no-padding">
                        <div class="list-header"><label>Course Info</label></div>
                        <div class="row-odd">Course Name: <strong>{{vm.course.Name}}</strong></div>
                        <div class="row-even">Course Type: <strong>{{vm.course.OrgType}}</strong></div>
                        <div class="row-odd">Course Author: <strong>{{vm.employee.LastName}}, {{vm.employee.FirstName}}</strong></div>
                        <div class="row-even">Course Category: <strong>{{vm.courseType.Name}}</strong></div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="image-container">
                            <img ng-show="vm.coverImage" ng-src="{{vm.coverImage}}" />
                            <icon ng-hide="vm.coverImage" class="fa-image"></icon>
                        </div>
                    </div>
                </div><!-- ROW -->
                <div class="row padding">
                    <div class="col-md-12 list course-files no-padding">
                        <div class="list-header"><label>Uploaded Files</label></div>
                        <div class="selected-emp up-doc-list default">
                            <div class="media-row" ng-repeat="file in vm.files | orderBy:'OrderPriority'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <i class="{{file.icon}} pull-left"></i>
                                        <p>{{file.Attachment.Name}} <span ng-if="file.Language">({{file.Language.Code}})</span></p>
                                    </div>
                                </div>
                                <div class="row sub-attachment" ng-repeat="subAttachment in file.CourseSubAttachments | orderBy:'OrderPriority'" ng-if="file.CourseSubAttachments.length">
                                    <div class="col-md-8">
                                        <i class="{{subAttachment.icon}} pull-left"></i>
                                        <p>{{subAttachment.Attachment.Name}} ({{subAttachment.Language.Code}})</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 no-padding wo-navi-btns">
                        <div class="field-wrap col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <a href="" class="btn btn-default btn-block btn-md" ng-click="vm.changeTab(3, 'back')">Back</a>
                        </div>

                        <div class="field-wrap col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <a href="@Url.Content("~/Training/Course/")" class="btn btn-default btn-block btn-md back">Cancel</a>
                        </div>

                        <div class="field-wrap col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <a href="" class="btn btn-primary btn-block btn-md next" ng-click="vm.saveCourse($event);"><i class="fa-checkMark"></i> Approve</a>
                        </div>
                    </div><!-- Butons -->
                </div>

            </uib-tab>
        </uib-tabset>

        <div ng-if="vm.completed" class="thank-you">
            <div class="row">
                <div class="col-md-12">
                    <h2>Thank you</h2>
                    <h4>Your courses have been added.</h4>
                </div>
                <div class="col-md-offset-4 col-md-4 ">
                    <div class="field-wrap">
                        <a href="@Url.Content("~/Training/Course/")" class="btn btn-default btn-block btn-md close">Close</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
