﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Course List";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid" data-ng-controller="Training.CourseIndex as vm" data-ng-init="vm.initialize()">
    <page-header title="Course List"
                 s3-icon-name="courseadmin.svg">
    </page-header>

    <div class="settings course-index page-content no-padding">

        <div class="row course-header">
            <div class="col-md-6 col-xs-12 col-sm-6 pull-left">

                <p>View training courses. Click on a course name to edit.</p>

            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 pull-right">

                <div class="header-btns">
                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                        <a class="btn btn-default btn-md add-btn" href="@Url.Action("Entry", "Course", new {Area = "Training"})">
                            <i class="fa fa-plus"></i> <span>Add New Course</span>
                        </a>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 no-padding assign-wrap">
                        <a class="btn btn-default btn-md assign-btn" href="@Url.Action("Assign", "Course", new {Area = "Training"})">
                            <i class="fa fa-dot-circle-o text-info"></i><span>Assign Course</span>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6 no-padding">
                        <a class="btn btn-default btn-md unassign-btn" href="@Url.Action("Unassign", "Course", new {Area = "Training"})">
                            <i class="fa fa-undo"></i><span>Unassign Course</span>
                        </a>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                        <a class="btn btn-default btn-md unassign-btn" href="@Url.Action("CourseTypes", "KnowledgeCenter", new {Area = "Admin"})">
                            <i class="fa fa-pencil"></i> <span>Edit Course Settings</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- course card list -->
        <card-list custom-class="" title="Courses" data-search-placeholder-text="Find Course" search-filter="searchFilter">
            <card-row ng-repeat="item in vm.courses | filter: searchFilter" row-click-href="@Url.Action("Entry", "Course", new { Area = "Training" })/{{item.CourseId}}">
                <row-middle custom-class="details">
                    <div class="details">
                        <p class="emp-name">{{ ::item.Name }}</p>
                        <p class="emp-title">{{ ::item.Overview }}</p>
                        <p class="training-count">{{ ::item.TotalCourseTrainings }} Trainings</p>
                    </div>
                </row-middle>
                <row-right class="jd-status">
                    <i class="fa-angle-right"></i>
                </row-right>
            </card-row>
            <p ng-if="!vm.courses.length" class="text-center padding">-There are no courses to show-</p>
        </card-list>



    </div>
</div>
