﻿@{
    ViewBag.Title = "Unassign Courses";
}

@section scripts {

}

<div class="container-fluid" ng-controller="Training.CourseUnassign as vm" ng-init="vm.initialize()">
    <page-header title="{{'Unassign Courses'|translate}}"
                 s3-icon-name="courseadmin.svg">
    </page-header>
    <div class="training course-assign page-content padding-top">
        <uib-tabset class="margin-bottom course padding">
            <uib-tab class="no-margin-top" heading="{{vm.tabs[0].title}}">
                <h2>
                    By Position <a class="btn small" ng-click="vm.refreshJobCourses()">
                                    <span class="fa fa-refresh"></span> reload
                                </a>
                    <button class="btn btn-default pull-right" ng-click="vm.courses.showFilter = !vm.courses.showFilter"><i class="fa fa-filter"></i> Filter</button>
                </h2>
                <div class="row">
                    <div class="col-md-12">
                        <div id="course-selector" class="column-drilldown-list margin-top">
                            <div id="course-types" class="column column-quarter">
                                <div class="head">
                                    <div class="cell">
                                        <label>
                                            Course Categories
                                        </label>

                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell" ng-repeat="type in vm.courses.types track by type.CourseTypeId" ng-class="{'active':vm.courses.selectedType == type}">
                                            <label id="courseType{{$index}}" ng-class="{'text-muted':vm.courses.selectedType != type}" ng-click="vm.toggleCourseType(type)">
                                                {{type.Name}}
                                            </label>
                                        </li>
                                        <li ng-if="!vm.courses.types.length">
                                            <p class="text-center text-muted padding">There are no course categories</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="courses" class="column column-quarter">
                                <div class="head">
                                    <div class="cell">
                                        <label>
                                            <span ng-show="!vm.courses.showFilter">All Courses</span>
                                            <input ng-show="vm.courses.showFilter" type="text" value="" class="form-control" ng-model="vm.courses.filter" placeholder="All Courses" />
                                        </label>
                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell"
                                            ng-repeat="course in vm.courses.items | filter:{CourseTypeId: vm.courses.selectedType.CourseTypeId}:true | filter: vm.courses.filter track by course.CourseId"
                                            ng-class="{'active':vm.courses.selectedCourse == course}">
                                            <label for="course{{course.CourseId}}" ng-class="{'text-muted':vm.courses.selectedCourse != course}">
                                                {{course.Name}} <input type="radio" class="checkbox-inline" id="course{{course.CourseId}}" name="course" ng-value="course" ng-model="vm.courses.selectedCourse" />
                                            </label>
                                        </li>
                                        <li ng-if="!vm.courses.items.length">
                                            <p class="text-center text-muted padding">There are no courses</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="selectedItemsFromStepOne" class="column column-half">
                                <div class="head">
                                    <div class="cell">
                                        <label>Selected Items</label>
                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell"
                                            ng-repeat="item in vm.courses.assigned | filter:{CourseId:vm.courses.selectedCourse.CourseId}:true track by item.JobCourseId"
                                            ng-if="vm.courses.selectedCourse">
                                            <label>
                                                <span href="javascript:void(0)" ng-click="vm.removeJobAssignment($index,item)" class="is-clickable text-danger pull-right fa fa-close">
                                                </span>
                                                {{item.Client.Name}}<span class="fa fa-angle-right margin-left margin-right"></span>
                                                {{item.Site.Name}}<span class="fa fa-angle-right margin-left margin-right"></span>
                                                {{item.JobName}}
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab class="no-margin-top" heading="{{vm.tabs[1].title}}" select="vm.getEmployeeCourses()">
                <h2>
                    By Employee <a class="btn small" ng-click="vm.refreshEmployeeCourses()">
                                    <span class="fa fa-refresh"></span> reload
                                </a>
                    <button class="btn btn-default pull-right" ng-click="vm.employeeCourses.showFilter = !vm.employeeCourses.showFilter"><i class="fa fa-filter"></i> Filter</button>
                </h2>
                <div class="row">
                    <div class="col-md-12">
                        <div id="employee-course-selector" class="column-drilldown-list margin-top">
                            <div id="employee-courses" class="column column-half">
                                <div class="head">
                                    <div class="cell">
                                        <label>
                                            <span ng-show="!vm.employeeCourses.showFilter">All Employees</span>
                                            <input ng-show="vm.employeeCourses.showFilter" type="text" value="" class="form-control" ng-model="vm.employeeCourses.filters.employees" placeholder="All Employees" />
                                        </label>

                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell"
                                            ng-repeat="employeeCourse in vm.employeeCourses.items | filter: vm.employeeCourses.filters.employees track by $index"
                                            ng-class="{'active':vm.employeeCourses.selectedEmployee == employeeCourse}">
                                            <label for="employeeCourse{{employeeCourse.EmployeeCourseId}}"
                                                   ng-class="{'text-muted':vm.employeeCourses.selectedEmployee != employeeCourse}">
                                                {{employeeCourse.Employee.Name}}
                                                <input type="radio" class="checkbox-inline" id="employeeCourse{{employeeCourse.EmployeeCourseId}}" name="employeeCourse"
                                                       ng-value="employeeCourse"
                                                       ng-model="vm.employeeCourses.selectedEmployee" />
                                            </label>
                                        </li>
                                        <li ng-if="!vm.employeeCourses.items.length">
                                            <p class="text-center text-muted padding">There are no Employees</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="selectedItemsFromStepOneEmpCourses" class="column column-half">
                                <div class="head">
                                    <div class="cell">
                                        <label>
                                            <span ng-show="!vm.employeeCourses.showFilter">
                                                Assigned Courses
                                                <small class="text-muted" ng-if="vm.employeeCourses.selectedEmployee"> for <em>{{vm.employeeCourses.selectedEmployee.Employee.Name}}</em></small>
                                            </span>
                                            <input ng-show="vm.employeeCourses.showFilter && vm.employeeCourses.selectedEmployee" type="text" value="" class="form-control" ng-model="vm.employeeCourses.filters.courses" placeholder="Assigned Courses" />
                                        </label>
                                    </div>
                                </div>
                                <div class="body">
                                    <ul class="striped">
                                        <li class="cell"
                                            ng-repeat="item in vm.employeeCourses.assigned | filter:{OrgUserId:vm.employeeCourses.selectedEmployee.OrgUserId}:true |filter:vm.employeeCourses.filters.courses track by $index"
                                            ng-if="vm.employeeCourses.selectedEmployee">
                                            <label>
                                                <span href="javascript:void(0)" ng-click="vm.removeEmployeeAssignment($index,item)" class="is-clickable text-danger pull-right fa fa-close">
                                                </span>
                                                {{item.Course.Org.Name}}<span class="fa fa-angle-right margin-left margin-right"></span>
                                                <span ng-if="item.Site">{{item.Course.Site.Name}}<span class="fa fa-angle-right margin-left margin-right"></span></span>
                                                {{item.Course.Name}}
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </uib-tab>
        </uib-tabset>
    </div>
</div>