﻿@{
    ViewBag.Title = "Position Profile Builder";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid" data-ng-controller="Settings.JobDescriptionBuilderIndex as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'PPB_TITLE'|translate}}"
                 info-text="{{'PPB_DESC'|translate}}"
                 s3-icon-name="settings.svg">
    </page-header>
    <div class="row settings job-description-builder page-content padding-40" ng-form="vm.jobDescriptionForm">
        <div class="well">

            <div class="row">
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>{{vm.showNewPosition ? 'Position Title' : 'Select Position'}}</label> <br>
                        <em>Select a position for the employee.</em>
                        <select name="jd-type-select" id="jd-type-select" class="form-control"
                                ng-change="vm.onPositionChange($event)"
                                ng-model="vm.position"
                                ng-options="p.Name for p in vm.positions track by p.JobId"
                                ng-hide="vm.showNewPosition"></select>
                        <div ng-show="vm.showNewPosition" class="input-group new-position">
                            <input type="text" name="new-position" id="new-position" ng-required="vm.showNewPosition" ng-model="vm.newPositionName" class="form-control" placeholder="New position name" />
                            <a href="javascript:void(0);" class="input-group-addon" title="clear filter" ng-click="vm.clearPosition()">
                                <span class="fa fa-times"></span>
                            </a>
                        </div>
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->
                <div class="col-md-6" ng-if="vm.showNewPosition">
                    <div class="field-wrap">
                        <label>Abbreviation<span class="required-sign">*</span></label> <br>
                        <em>Give abbreviation for position title</em>
                        <input type="text" class="basic-input" ng-required="vm.showNewPosition" ng-model="vm.position.Abbreviation" placeholder="Title Abbreviation" />
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->
            </div>
            <div class="row" ng-if="!vm.showNewPosition">
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Position Title <span class="required-sign">*</span></label> <br>
                        <em>Full Position Title</em>
                        <input type="text" name="new-position" id="new-position" ng-required="!vm.showNewPosition" ng-model="vm.newPositionName" class="form-control" />
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Abbreviation <span class="required-sign">*</span></label> <br>
                        <em>Abbreviation for position title</em>
                        <input type="text" class="basic-input" ng-required="!vm.showNewPosition"  ng-model="vm.position.Abbreviation" placeholder="Title Abbreviation" />
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Summary <span class="required-sign">*</span></label> <br>
                        <em>Write a brief summary pertaining to the position title. (Max 240 characters.)</em>
                        <textarea name="summary" id="summary" required ng-model="vm.position.Summary" cols="30" rows="10" class="basic-input"></textarea>
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->


                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Purpose <span class="required-sign">*</span></label> <br>
                        <em>Write a mission statement for the position.</em>
                        <textarea name="purpose" id="purpose" required ng-model="vm.position.Purpose" cols="30" rows="10" class="basic-input"></textarea>
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->


            </div><!-- row -->

            <div class="clearfix"></div>
            <hr>


            <div class="row">

                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Layer</label> <br>
                        <input type="text" class="basic-input" placeholder="Enter Layer" ng-model="vm.position.Layer">
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Reports To</label> <br>
                        <input type="text" class="basic-input" placeholder="Regional Manager" ng-model="vm.position.ReportsTo">
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Department</label> <br>
                        <input type="text" class="basic-input" placeholder="Operations" ng-model="vm.position.Department">
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="field-wrap">
                        <label for="FLSAStatus">FLSA Status</label> <br>
                        <select name="flsa-select" id="flsa-select" class="form-control"
                                data-ng-model="vm.position.ExemptionTypeId"
                                data-ng-options="exemptionType.Key*1 as  exemptionType.Value for exemptionType in vm.ExemptionTypes">
                            <option value="">- Select One -</option>
                        </select>
                        @*<input type="text" class="basic-input" placeholder="Exempt" ng-model="vm.position.Department">*@
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Prepared By</label> <br>
                        <input type="text" class="basic-input" placeholder="" ng-model="vm.position.PreparedBy">
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="field-wrap">
                        <label>Approved By</label> <br>
                        <input type="text" class="basic-input" placeholder="" ng-model="vm.position.ApprovedBy">
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="field-wrap">
                        <label for="">Approved Date</label>
                        <sbm-date-picker id=""
                                         data-ng-model="vm.position.ApprovedDate"
                                         placeholder="Date"
                                         is-required="false"></sbm-date-picker>
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->

                <div class="col-md-6">
                    <div class="field-wrap col-md-6 padding-left-0">
                        <label>External Job Code <span class="required-sign">*</span></label> <br>
                        <input type="text" class="basic-input" placeholder="Enter Code" ng-model="vm.position.ExternalJobCode" required>
                    </div><!-- field-wrap -->
                    <div class="field-wrap col-md-6 padding-right-0">
                        <label>Job Step</label> <br>
                        <input type="text" class="basic-input" placeholder="Enter Code" ng-model="vm.position.JobStep">
                    </div><!-- field-wrap -->
                </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="clearfix"></div>
            <hr>

            <div class="row">
                <div class="col-md-6">

                    <div class="field-wrap">

                        <input type="text" class="basic-input" placeholder="Essential Duties Summary" ng-model="vm.position.EssentialDutiesSummaryLabel">
                    </div><!-- field-wrap -->

                    <div class="field-wrap">

                        <textarea name="duty-summary" id="duty-summary" ng-model="vm.position.DutySummary" cols="30" rows="10" class="basic-input" placeholder="Begin typing here..."></textarea>
                    </div><!-- field-wrap -->

                </div><!-- COL6  -->
            </div><!-- row -->

            <div class="clearfix"></div>
            <hr>

            <div class="row">
                <div class="col-md-6">

                    <div class="field-wrap">
                        <input type="text" class="basic-input" placeholder="Essential Duties & Responsibilities" ng-model="vm.position.EssentialDutiesAndResponsibilitiesLabel">
                    </div><!-- field-wrap -->

                    <div class="input-group task-input field-wrap">
                        <input type="text" class="form-control" placeholder="Example: Sweeping Floors" aria-describedby="basic-addon2" ng-model="vm.newJobDuty.Description">
                        <span class="input-group-addon btn btn-success" id="basic-addon2" ng-click="vm.addDuty($event)"><i class="fa-plus"></i><span class="hide-phone"> Add</span></span>
                    </div><!-- field-wrap -->

                </div><!-- COL6  -->

                <div class="col-md-6">
                    <div class="col-md-12 padding-0">
                        <div class="field-wrap" data-toggle="collapse" data-target="#duties-list" ng-if="vm.hideJobDutiesBtnText == 'Hide Items'">
                            <a href="javascript:void(0);" class="btn btn-primary pull-right mobile-hide-show-btn" ng-click="vm.hide($event,'JobDuties')">{{vm.hideJobDutiesBtnText}}<i class="fa-caret-down padding-left-5"></i></a>
                        </div>
                        <div class="field-wrap" data-toggle="collapse" data-target="#duties-list" ng-if="vm.hideJobDutiesBtnText == 'Show Items'">
                            <a href="javascript:void(0);" class="btn btn-primary pull-right mobile-hide-show-btn" ng-click="vm.hide($event,'JobDuties')">{{vm.hideJobDutiesBtnText}}<i class="fa-caret-right padding-left-5"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field-wrap collapse in" id="duties-list">
                        
                        <div class="selected-emp up-doc-list default" ng-if="vm.position.JobDuties.length">
                            <div class="emp-row para-padding-right" style="padding-right: 95px" ng-repeat="duty in vm.position.JobDuties">
                            <p ng-show="!edit" class="pull-left">{{duty.Description}}</p>
                            <textarea class="pull-left" ng-show="edit" ng-model="duty.Description"></textarea>
                            <div class="icons-position">
                                <a href="javascript:void(0);" ng-show="!edit" class="btn pull-right danger-text" data-ng-click="vm.removeItemFromList($event, $index, 'JobDuties')"><i class="fa-close"></i></a>
                                <a href="javascript:void(0);" ng-show="!edit" class="btn pull-right" ng-click="edit = true; $event.preventDefault();"><i class="fa-pencil"></i></a>
                                <a href="javascript:void(0);" ng-show="edit" class="btn btn-primary pull-right" ng-click="edit = false; $event.preventDefault();">Done</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        </div><!-- field-wrap -->
                    </div><!-- COL12 -->
                </div><!-- COL6 -->
            </div><!-- row -->

            <div class="clearfix"></div>
            <hr>

            <div class="row">
                <div class="col-md-6">

                    <div class="field-wrap">

                        <input type="text" class="basic-input" placeholder="Example of Tasks May Include But Are Not Limited To:" ng-model="vm.position.ExampleOfTasksLabel">
                    </div><!-- field-wrap -->

                    <div class="input-group task-input field-wrap">
                        <input type="text" class="form-control" placeholder="Example: Sweeping Floors" aria-describedby="basic-addon2" ng-model="vm.newSampleTask.Name">
                        <span class="input-group-addon btn btn-success" id="basic-addon2" ng-click="vm.addTask($event)"><i class="fa-plus"></i><span class="hide-phone"> Add</span></span>
                    </div><!-- field-wrap -->

                </div><!-- COL6  -->

                <div class="col-md-6">
                    <div class="col-md-12 padding-0">
                        <div class="field-wrap" data-toggle="collapse" data-target="#task-list" ng-if="vm.hideSampleTasksBtnText == 'Hide Items'">
                            <a href="javascript:void(0);" class="btn btn-primary pull-right mobile-hide-show-btn" ng-click="vm.hide($event,'SampleTasks')">{{vm.hideSampleTasksBtnText}}<i class="fa-caret-down padding-left-5"></i></a>
                        </div>
                        <div class="field-wrap" data-toggle="collapse" data-target="#task-list" ng-if="vm.hideSampleTasksBtnText == 'Show Items'">
                            <a href="javascript:void(0);" class="btn btn-primary pull-right mobile-hide-show-btn" ng-click="vm.hide($event,'SampleTasks')">{{vm.hideSampleTasksBtnText}}<i class="fa-caret-right padding-left-5"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field-wrap collapse in" id="task-list">

                        <div class="selected-emp up-doc-list default" ng-if="vm.position.SampleTasks.length">

                            <div class="emp-row para-padding-right" style="padding-right:95px" ng-repeat="task in vm.position.SampleTasks">
                                <p ng-show="!edit" class="pull-left">{{task.Name}}</p>
                                <textarea class="pull-left" ng-show="edit" ng-model="task.Name"></textarea>
                                <div class="icons-position">
                                    <a href="javascript:void(0);" ng-show="!edit" class="btn pull-right danger-text" data-ng-click="vm.removeItemFromList($event, $index, 'SampleTasks')"><i class="fa-close"></i></a>
                                    <a href="javascript:void(0);" ng-show="!edit" class="btn pull-right" ng-click="edit = true; $event.preventDefault();"><i class="fa-pencil"></i></a>
                                    <a href="javascript:void(0);" ng-show="edit" class="btn btn-primary pull-right" ng-click="edit = false; $event.preventDefault();">Done</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div><!-- field-wrap -->
                    </div><!-- COL12 -->
                </div><!-- COL6 -->
            </div><!-- row -->

            <div class="clearfix"></div>
            <hr>

            <div class="row">
                <div class="field-wrap padding-bottom padding-sides">
                    <label class="padding-bottom" for="location">Assigned Sections</label>
                    <div class="selected-emp up-doc-list default" ng-if="vm.position.LegalDescriptions.length">
                        <div class="emp-row" ng-repeat="legalDescription in vm.position.LegalDescriptions">
                            <div class="pull-left">
                                <p ng-show="!edit" class="name">{{legalDescription.Name}}</p>
                                <input ng-show="edit" type="text" class="basic-input" class="form-control" ng-model="legalDescription.Name">
                                <p ng-show="!edit" class="description">{{legalDescription.Description}}</p>
                                <textarea ng-show="edit" cols="100" rows="10" ng-model="legalDescription.Description"></textarea>
                            </div>

                            <div class="icons-position">
                                <a href="javascript:void(0);" ng-show="!edit" class="btn btn-danger btn-xs pull-right" data-ng-click="vm.removeItemFromList($event, $index, 'LegalDescriptions')"><i class="fa fa-times"></i></a>
                                <a href="javascript:void(0);" ng-show="!edit" class="btn btn-primary btn-xs pull-right margin-right" ng-click="edit = true; $event.preventDefault();"><i class="fa-pencil"></i></a>
                                <a href="javascript:void(0);" ng-show="edit" class="btn btn-primary pull-right" ng-click="edit = false; $event.preventDefault();">Done</a>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="!vm.position.LegalDescriptions">No assigned Position Profiles</div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="field-wrap">
                        <input type="text" class="basic-input" class="form-control" placeholder="Add Section Title" ng-model="vm.newLegalDescription.Name">
                    </div><!-- field-wrap -->

                </div><!-- COL6  -->

                <div class="col-md-6">
                    <div class="field-wrap">
                        @*<a href="javascript:void(0);" class="btn btn-danger pull-right">DELETE</a>*@
                    </div>
                </div><!-- COL6 -->

                <div class="col-md-12">
                    <div class="field-wrap">
                        <textarea redactor name="summary" id="summaryDescription" class="form-control basic-input" cols="30" rows="10" ng-model="vm.newLegalDescription.Description"></textarea>
                    </div><!-- field-wrap -->
                </div><!-- COL12 -->

                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-8">
                    <a href="javascript:void(0);" class="btn btn-primary btn-lg btn-block" data-ng-click="vm.addLegalDescription($event)">ADD SECTION</a>
                </div><!-- COL6 -->

                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-8">
                    <a href="javascript:void(0);" class="btn btn-default btn-lg btn-block" data-ng-disabled="vm.jobDescriptionForm.$invalid" data-ng-click="vm.saveJobDescription($event)">
                        SAVE <span ng-if="!vm.currentAltLang">POSITION PROFILE</span>
                        <span ng-if="vm.currentAltLang">TRANSLATION</span>
                    </a>
                </div>
            </div><!-- row -->


        </div><!-- well -->
    </div><!-- ROW -->
</div><!-- com-wrapper -->