﻿@import "../../../../css/Common/_globals";
@import "../../../../css/Common/_bootstrap-overrides";

date-range-picker{
    .btn-date-range {
        color: $default !important;
        text-transform: uppercase;
        border-radius: 4px;
        background-color: $primary;
        display: inline-block;
        padding: 3px 7px 0 7px;
        font-weight: 700;
        cursor: pointer;
        font-size: 25px;
        line-height: 1.428571;
        
        .date {
            font-size: 13.5px !important;
        }

        @include breakpoint(tablet) {
            font-size: 13.5px;
            padding: 12px 18px;
            width: 200px !important;
        }
    }

    span.hidden-xs{
        display: none;
        @include breakpoint(desktop){
            display: block;
        }
    }
}

.page-title{
    date-range-picker{
        .btn-date-range{
            margin-right: 5px;

            @include breakpoint(tablet){
                margin-right: 35px;
            }   
        }
    }
}

//modal styles
.date-range-picker {
    display: block;
    background-color: $default;
    border-radius: 4px;

    h1 {
        font-weight: 600;
        font-size: 1.3rem;

        img {
            height: 27px;
        }
    }

    .list-group {
        .list-group-item {
            margin-bottom: 5px;
            border-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 0.857rem;

            &.active {
                background-color: $success;
                border-color: $success;
                color: #fff;
            }
        }
    }

    [uib-datepicker] {
        .uib-left, .uib-right {
            border-radius: 50%;
            padding: 4px 0 !important;
            margin: 5px;
            width: 23px;
            font-weight: 600;
            border: 0;
            color: $warning;
        }

        .uib-title {
            background: none;
            color: white;
            border: 0;
        }

        table {
            border: 1px solid $border;
            width:100%;
            > thead {
                tr:first-of-type {
                    background: $warning;
                    color: #fff;
                    // TODO Not working. Display:block works. F THAT
                }

                tr:last-of-type {
                    th {
                        padding: 15px 0;
                    }
                }
            }

            .btn {
                border: 0;
                padding:7px 12px;
                
                font-weight: 600;
                font-size: 0.7rem;

                &.btn-info {
                    border-radius: 50%;
                    background-color: $warning;
                    padding: 7px 5px;
                    min-width: 30px;
                    opacity:0.6;

                    span {
                        color: #fff;
                    }

                    &.active{
                        opacity:1;
                    }
                }
            }
        }
    }

    .head {
        padding-bottom:20px;
        font-weight: 600;
        
        @include breakpoint(desktop){
            padding: 20px;
        }
        h4 {
            color: $primary;
            font-weight: 600;
            font-size: 16px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: $dark;
            font-style: italic;
        }
    }

    #month-range {
        @include breakpoint(mobilephone) {
            margin-bottom: 15px;
        }

        .btn {
            border: none;
            background-color: $border;
            padding: 12px 0;
            border-radius: unset;
            font-weight: bold;
        }

        .btn:first-child {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .btn:last-child {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .btn-default {
            color: #999c9e;
            text-transform: uppercase;
            font-size: .814rem;
            font-weight: 700;
        }


        .btn-green {
            background-color: $success;
            color: $default;
        }
    }

    #date-range {
        margin-top: 30px;

        @include breakpoint(mobilephone) {
            margin-top: 10px;
            overflow: hidden;
        }

        h4 {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid $base;
            line-height: 0.1em;
            margin: 20px 0 35px;
        }

        h4 span {
            background: $default;
            padding: 5px 15px;
            color: $dark;
            border-radius: 5px;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            margin: 10px 0;
        }

        .form-inline {
            margin: 0 auto !important;
            text-align: center;
        }

        .form-group {
            margin-bottom: 0;
        }

        .date {
            padding: 0 0 20px;

            .fa-calendar {
                font-size: 34px !important;
            }

            input.form-control {
                height: 48px;
                width: 100%;
            }
        }

        .btn-grey {
            background-color: $muted;
            color: $default;
            margin-right: 10px;
            width: 47%;
            padding: 15px 12px;
            font-weight: bold;
        }

        .btn-black {
            background-color: $dark;
            color: $default;
            width: 47%;
            padding: 15px 12px;
            font-weight: bold;
        }
    }

    .no-padding {
        padding: 0;
    }
}
