﻿@{
    ViewBag.Title = "Report It";
    ViewBag.HideTitleBar = true;
}

@section scripts{
<script type="text/ng-template" id="manageCustomerRepresentatives.tmpl.html">
    <div class="btn-group btn-block">
        <button class="col-sm-12 col-md-12 btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width: 100%;">
            <div class="pull-left">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
        </button>
        <a class="closer btn btn-xs btn-default" ng-click="toggleSelect()">close <span class="fa fa-close"></span></a>
        <ul class="dropdown-menu col-sm-12 col-md-12" style="width: 100%; max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
            <li style="width: 100%;">
                <input class="form-control" type="text" ng-model="searchText.label" placeholder="Filter" />
            </li>
            <li style="width: 100%;">
                <button class="btn-link btn-small pull-right" ng-click="uncheckAll()"><i class="glyphicon glyphicon-remove"></i> <span translate>Uncheck all</span></button>
                <button class="btn-link btn-small pull-right" ng-click="checkAll()"><i class="glyphicon glyphicon-ok"></i> <span translate>Check all</span></button>
            </li>
            <li>
                <a href="javascript:void(0);" data-ng-click="vm.addNewCustomerRepresentative($event)">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span translate>Add New</span>
                </a>
            </li>
            <li ng-repeat="i in items | filter:searchText" style="width: 275px;">
                <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                    <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
                </a>
            </li>

        </ul>
    </div>
</script>
}

<div class="container-fluid personnel attendance-view ownership" data-ng-controller="Personnel.OwnershipDetailsCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="Report It"
                 s3-icon-name="reportit.svg"
                 info-text="{{'View a list of your reports here, and enter new report during your shift.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-customers href="@Url.Content("~/Personnel/Ownership/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW REPORT' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Ownership")" class="btn btn-default text-capitalize">Charts</a>
            <a href="@Url.Action("Details", "Ownership")" class="btn btn-default text-capitalize active">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg">
            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="row">
        <div class="panel panel-default no-border">
            <div class="center-cards">
                <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                <utility-nav-filter-tags></utility-nav-filter-tags>
            </div>

            <div class="text-center empty-wrap" ng-if="!vm.ownership.length" translate>No data to display</div>
            <div class="card-view-style center-cards">
                <div data-infinite-scroll="vm.getOwnerships()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                    <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align" ng-transclude
                          ng-repeat="details in vm.ownership">
                        <card-header ng-transclude>
                            <quality-card-header module="vm.module" header-text="vm.headerText" item-id="details.OwnershipId" format-date="false" custom-format-date="true" view-link-fn="vm.ShowEntryViewModal(id)"
                                                 header-date="details.CreateDate">
                            </quality-card-header>
                        </card-header>
                        <card-body ng-transclude>
                            <div class="card-body-content">
                                <div>
                                    <div class="pull-left">
                                        <img class="employee-img move" ng-src="{{details._createByProfilePicture}}" err-src="{{vm.sitesettings.defaultProfileImage}}" />
                                    </div>
                                    <div class="pull-left associate-section">
                                        <span class="name truncate">{{details.EmployeeName}}</span>
                                        <p class="name-lbl text-muted">
                                            {{'ASSOCIATE' | translate}}
                                            <span data-ng-if="details.IsCritical != null" class="type padding-left-5">
                                                {{details.IsCritical == 0 ? 'NON_CRITICAL' : 'Critical' | translate}}
                                            </span>
                                            <span data-ng-if="details.RejectionTypeName" class="type padding-left-5">
                                                {{details.RejectionTypeName}}
                                            </span>
                                        </p>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-if="details.Description" class="margin-top-25 truncate">
                                    {{details.Description}}
                                </div>
                                <div class="site padding-top-5">
                                    <p class="pull-left building-name" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length) > 15}">
                                    {{details.BuildingName}}, {{details.FloorName}}</p>
                                    <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : (vm.clientName + (vm.siteName ? vm.siteName.length : 0)) > 20}">
                                        <i class="fa fa-location margin-right-5"></i>
                                        <span>{{vm.clientName}}
                                            <span ng-if="vm.siteName">, {{vm.siteName}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </card-body>
                        <card-footer ng-transclude>
                            <div class="card-footer-content">
                                <div class="pull-left" ng-if="details.ReportTypeName" ng-class="{'fit-height': details.IsCritical != 1}">
                                    <span class="relatedTo margin-right-10 truncate" >{{details.ReportTypeName}}</span>
                                </div>
                                <div class="pull-left fit-no-type" ng-if="!details.ReportTypeName && details.IsCritical != 1">
                                </div>
                                <div class="pull-left truncate customer-rep" ng-if="details.IsCritical == 1">
                                    <span class="text-muted text-capitalize">{{'CUSTOMER_REP' | translate}}: </span>
                                    <span class="text-muted text-capitalize">{{details.CustomerRepresentatives[0].Name}}</span>
                                    <span class="text-muted" ng-if="details.CustomerRepresentatives.length > 1">, +{{details.CustomerRepresentatives.length-1}}</span>
                                </div>
                                <div class="pull-right types" ng-if="details.Status == null && vm.isManager">
                                    <a class="text-warning click-style"  data-ng-click="vm.accept(details,$event)">
                                        {{'ACCEPT' | translate}}
                                    </a>
                                    <a class="text-warning padding-left-15 click-style"  data-ng-click="vm.reject(details,$event)">
                                        {{'REJECT' | translate}}
                                    </a>
                                </div>
                            </div>
                        </card-footer>
                        <div class="clearfix"></div>
                    </card>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
