﻿@model ChaiTea.Web.Areas.Personnel.Models.OwnershipVM
@{
    var id = @Model.Id;
    ViewBag.Title = "Report It";
    ViewBag.HideTitleBar = true;

}


@section scripts {
    
    <script type="text/ng-template" id="managePhotoUploads.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title" translate>
                Uploaded Photo
            </h3>
        </div>
        <div class="modal-body">
            <div id="audit-image-responsive" class="audit-image" ng-style="vm.wrapperCss">
                <cf-image id="current-image" public-id="{{ vm.currentImage.UniqueId }}" width="500" fullscreen="true" class="inline img-responsive " ng-style="vm.imageCss"></cf-image>
            </div>
        </div>
        <div class="modal-footer audit-detail-modal-footer">
            <button class="btn btn-default btn-danger" ng-click="vm.deleteImage()" translate>Delete</button>
            <button class="btn btn-default btn-success" ng-click="vm.rotateImage(vm.currentImage)" translate>Rotate</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
        </div>
    </script>

}

<div class="container-fluid personnel ownership" data-ng-controller="Personnel.OwnershipEntryCtrl as vm" data-ng-init="vm.initialize(@id)">
    <page-header title="Report It"
                 s3-icon-name="reportit.svg">
    </page-header>
    
    <div class="row">

        <div data-ng-if="vm.employee.EmployeeId">
            <form name="ownershipForm" role="form" novalidate>
                <div class="well emp-profile-well noborder">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="pull-left emp-profile-wgt">
                                <div class="circle-img pull-left">
                                    <img ng-if="vm.employee.ProfileImage" ng-cloak ng-src="{{ ::vm.employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                    <img ng-if="!vm.employee.ProfileImage" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                                </div><!-- Circle-image -->

                                <div class="row-details pull-left">
                                    <p class="emp-name">{{vm.employee.Name}}</p>
                                    <p class="emp-title">
                                        {{vm.employee.JobDescription}}
                                    </p>

                                </div><!-- emp-details -->
                            </div><!-- pull-left -->
                            <div class="clearfix"></div>
                        </div><!-- COL8 -->
                    </div><!-- ROW -->
                </div>
                <hr class="no-margin" />
                <div class="well complaint-view padding-mobile">

                    <div class="col-md-12 no-padding">

                        <div class="col-md-8 col-xs-12">
                            <div class="col-md-12 col-xs-12 field-wrap no-padding width-align">
                                <div class="field-wrap margin-align">
                                    <label class="label-font gap" translate>Description</label>
                                    <textarea name="" id="" cols="30" rows="10" class="basic-input" placeholder="Enter a description of the proactive report here..." ng-model="vm.Ownership.Description" data-ng-required="true"></textarea>
                                </div><!-- field-wrap -->
                            </div>
                            <div class="col-xs-12 col-md-12 field-wrap no-padding add-space width-align" ng-if="vm.isEmployee || (vm.Ownership.OwnershipId > 0 && vm.Ownership.Status != null)">
                                <label class="subHeading gap" translate>Did you take corrective action?</label>
                                <div>
                                    <label><input type="checkbox" class="input-checkbox-style" ng-model="vm.correctiveActionYes" ng-change="vm.toggleActions(true)" /><span class="corrective-action-label" translate>Yes</span></label>
                                    <label class="margin-left-20"><input class="input-checkbox-style" type="checkbox" ng-model="vm.correctiveActionNo" ng-change="vm.toggleActions(false)" /><span class="corrective-action-label" translate>No</span></label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 field-wrap no-padding add-space width-align" ng-if="vm.isEmployee || (vm.Ownership.OwnershipId > 0 && vm.Ownership.Status != null)">
                                <label class="subHeading gap corrective-description" ng-disabled="vm.correctiveActionNo" translate>Describe the corrective action</label>
                                <textarea name="" id="" cols="30" rows="10" class="basic-input corrective-description" placeholder="Enter corrective action description here..." ng-disabled="vm.correctiveActionNo"
                                          ng-model="vm.Ownership.CorrectiveActionDescription" data-ng-required="vm.correctiveActionYes">
                                </textarea>
                            </div>
                            <div class="col-xs-12 col-md-12 field-wrap no-padding add-space width-align">
                                <label for="floor" class="subHeading gap"><span translate>Building</span><span class="required-sign">*</span> </label>
                                <select class="form-control" name="buildingId"
                                        data-ng-model="vm.Ownership.BuildingId"
                                        data-ng-options="building.Key*1 as building.Value for building in vm.buildings"
                                        data-ng-change="vm.onBuildingChange(vm.Ownership.BuildingId)" data-ng-required="true">
                                    <option value="" translate>- Select A Building -</option>
                                </select>
                            </div><!-- field-wrap -->

                            <div class="col-xs-12 col-md-12 field-wrap no-padding add-space width-align">
                                <label for="floor" class="subHeading gap"><span translate>Floor</span><span class="required-sign">*</span> </label>
                                <select name="floorId" class="form-control" data-ng-model="vm.Ownership.FloorId"
                                        data-ng-options="floor.Key as floor.Value for floor in vm.floors" data-ng-required="true" data-ng-disabled="vm.floors.length == 0">
                                    <option value="" translate>- Select A Floor -</option>
                                </select>
                            </div><!-- field-wrap -->
                            <div class="col-xs-12 col-md-12 field-wrap no-padding add-space width-align" ng-if="vm.Ownership.Status == vm.accepted && !vm.Ownership.IsCritical">
                                <label class="subHeading gap"><span translate>What type of report is this? </span><span class="required-sign">*</span></label>
                                <select name="reportId" class="form-control"
                                        data-ng-model="vm.Ownership.ReportTypeId" data-ng-required="true"
                                        data-ng-options="report.Key*1 as report.Value for report in vm.ReportTypes">
                                    <option value="" translate>Select one</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-7 field-wrap no-padding">
                                <label for="floor" class="subHeading gap" translate>Attach an image</label>
                                <div class="file-upload-wrap">

                                    <div class="file-upload" ngf-select ngf-change="vm.addFile($files, $event)">
                                        <i class="fa fa-camera"></i>
                                        <p translate>Add a photo</p>
                                    </div>
                                    <div class="file-upload" data-ng-if="vm.Ownership.OwnershipAttachments.length" ng-click="vm.viewImage(vm.Ownership, $event)">
                                        <i class="fa fa-file-o"></i>
                                        <p>{{vm.AttachmentName| limitTo: 5 }}{{ ::vm.AttachmentName.length > 5?'..':''}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- FIELD WRAP -->
                            </div>

                            <div class="clearfix"></div>
                            @*</div>*@<!-- ROW -->
                        </div>

                        <div class="clearfix"></div>

                        <hr />
                        <div class="align-btns padding-r-5">
                            <a href="@Url.Content("~/Personnel/Ownership/Details")" class="btn btn-grey" translate>CANCEL</a>
                            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.ownershipForm.$invalid" ng-click="vm.saveOwnership($event, this.ownershipForm.$valid)" translate>SAVE</a>
                        </div><!-- PULL_RIGHT -->



                    </div><!-- COL6 -->



                </div><!-- Well -->
            </form>
        </div>

    </div><!-- ROW -->
</div>