﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Personnel.Models.OwnershipVM
@{
    ViewBag.Title = "Review";
    ViewBag.HideTitle = false;
    ViewBag.BreadCrumbOverride.AreaName = "Quality";
    ViewBag.BreadCrumbOverride.ControllerName = "Report It";
    ViewBag.BreadCrumbOverride.ActionName = "Review";
    var id = Model.Id;

}

@section title{
    <quality-tab-navigation icon-sub-navigation="Quality" active="reportIts"></quality-tab-navigation>
    }

@section scripts{

    <script type="text/ng-template" id="manageCustomerRepresentatives.tmpl.html">
        <div class="btn-group btn-block">
            <button class="col-sm-12 col-md-12 btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width: 100%;">
                <div class="pull-left">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
            </button>
            <a class="closer btn btn-xs btn-default" ng-click="toggleSelect()">Close <span class="fa fa-close"></span></a>
            <ul class="dropdown-menu col-sm-12 col-md-12" style="width: 100%; max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
                <li style="width: 100%;">
                    <input class="form-control" type="text" ng-model="searchText.label" placeholder="Filter" />
                </li>
                <li style="width: 100%;">
                    <button class="btn-link btn-small pull-right" ng-click="uncheckAll()"><i class="glyphicon glyphicon-remove"></i> Uncheck all</button>
                    <button class="btn-link btn-small pull-right" ng-click="checkAll()"><i class="glyphicon glyphicon-ok"></i> Check all</button>
                </li>
                <li>
                    <a href="javascript:void(0);" data-ng-click="vm.addNewCustomerRepresentative($event)">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span translate>Add New</span>
                    </a>
                </li>
                <li ng-repeat="i in items | filter:searchText" style="width: 275px;">
                    <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                        <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
                    </a>
                </li>

            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="manageViewPhotoUploads.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title" translate>
                Uploaded Photo
            </h3>
        </div>
        <div class="modal-body">
            <div id="audit-image-responsive" class="audit-image" ng-style="vm.wrapperCss">
                <cf-image id="current-image" public-id="{{ vm.currentImage.UniqueId }}" width="500" fullscreen="true" class="inline img-responsive " ng-style="vm.imageCss"></cf-image>
            </div>
        </div>
        <div class="modal-footer audit-detail-modal-footer">
            <button class="btn btn-default btn-success" ng-click="vm.rotateImage(vm.currentImage)" translate>Rotate</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
        </div>
    </script>
}

<div class="container-fluid personnel com-wrapper no-padding entryview ownership" ng-controller="Personnel.OwnershipEntryViewCtrl as vm" ng-init="vm.initialize(@id)">
    <page-header title="{{'Report It'|translate}}"
                 s3-icon-name="reportit.svg"
                 info-text="{{'Fill out form to create a new Report' | translate}}">
    </page-header>

    <div class="row no-margin">
        <a href="@Url.Content("~/Personnel/Ownership/Details")" class="btn back-label hidden-sm hidden-md hidden-lg"><i class="fa-angle-left"></i><span translate>BACK TO THE LIST</span> </a>

        <div class="primary table-head padding-10-30-10-20">
            <p class="pull-left" translate>REVIEW REPORT IT</p>
            <div class="clearfix"></div>
        </div><!-- table-head -->


        <div class="well complaint-view padding-left-5 padding-r-0">

            <div class="col-md-8 main-block">
                <h1><span translate>Status</span>: {{vm.status}}</h1>

                <div class="clearfix"></div>
                <div class="row complaint-repoter">
                    <div class="col-md-8">
                        <p class="repoter-name"><span translate>Create Date</span>: {{::vm.ownership.CreateDate | date: mediumDate}}</p>
                        <p data-ng-if="vm.ownership.IsCritical" class="sm critical">
                            <span translate>Classification</span> :
                            {{vm.ownership.IsCritical == 'NotCritical' ? 'Non-critical' : 'Critical'}}
                            <span data-ng-if="vm.ownership.Classifications.length > 0" data-ng-repeat="classification in vm.ownership.Classifications">
                                , {{classification.Name}}
                            </span>
                        </p>
                        <p data-ng-if="vm.ownership.RejectionTypeName" class="sm critical">
                            <span translate>Reason</span> :
                            {{vm.ownership.RejectionTypeName}}
                        </p>
                    </div><!-- COL8 -->
                    <div class="col-md-4 complaint-loaction">
                        <b translate>Location</b>
                        <p class="sm"> {{::vm.ownership.BuildingName}}, {{::vm.ownership.FloorName}}</p>
                    </div><!-- Col4 -->
                </div><!-- ROW -->

                <div class="row complaint-repoter" data-ng-if="vm.ownership.ReportTypeName">
                    <div class="col-md-8">
                        <p class="top-padding"><span translate>Program</span> : <span class="emp-program" data-ng-if="vm.programName">{{::vm.programName}}</span> <span class="emp-program"> {{::vm.ownership.ReportTypeName}}</span></p>
                    </div><!-- COL8 -->

                </div><!-- ROW -->
                <div class="row complaint-repoter" data-ng-if="vm.ownership.CustomerRepresentatives.length > 0">
                    <div class="col-md-8">
                        <p class="top-padding">
                            <span translate>Customer Representatives</span> :
                            <span data-ng-repeat="rep in vm.ownership.CustomerRepresentatives">
                                {{rep.Name}}{{$last ? '': ' , '}}
                            </span>
                        </p>
                    </div><!-- COL8 -->

                </div><!-- ROW -->
                <div class="row complaint-repoter" data-ng-if="vm.ownership.StatusUpdateById">
                    <div class="col-md-8">
                        <p class="top-padding">
                            <span>{{vm.ownership.Status == 1 ? 'Accepted By : ' : 'Rejected By : '}}</span>
                            <span >
                                {{vm.ownership.StatusUpdateByName}}
                            </span>
                        </p>
                    </div><!-- COL8 -->

                </div><!-- ROW -->

                <div class="note-well">
                    <h5 class="warning-text" translate>Description</h5>
                    <p>{{::vm.ownership.Description}}</p>
                </div><!-- note-well -->

                <div class="note-well" ng-if="vm.ownership.CorrectiveActionDescription.length > 0">
                    <h5 class="warning-text" translate>Corrective Action</h5>
                    <p>{{::vm.ownership.CorrectiveActionDescription}}</p>
                </div><!-- note-well -->

                <div class="row" data-ng-if="vm.ownership.OwnershipAttachments.length > 0">
                    <p class="attach-text" translate>Attachment</p>
                    <div class="square-img img-responsive" ng-hide="false">

                        <img data-ng-if="vm.ownership.OwnershipAttachments[0].AttachmentType == 'Image'" ng-src="{{vm.ObjectUrl}}" ng-click="vm.viewImage(vm.ownership, $event)" />
                        <a data-ng-if="vm.ownership.OwnershipAttachments[0] && vm.ownership.OwnershipAttachments[0].AttachmentType != 'Image'"
                           class="pull-left download-attachement img-thumbnail btn btn-block text-center download-style" style="padding: 10px 0;"
                           href="{{vm.ObjectUrl}}"
                           download="true" title="Click to download file" ng-click="$event.stopPropagation()">
                            <span class=" fa-stack fa-3x">
                                <i class="fa fa-file-o fa-stack-1x"></i>
                                <i class="fa fa-download fa-stack-1x"></i>

                            </span>
                            <p class="hidden-xs" translate>(click to download)</p>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="accept-reject-btns-wrap" hidden-employees ng-if="vm.ownership.Status === null">
                    <a href="" class="accept-btn" data-ng-click="vm.accept()" translate>ACCEPT</a>
                    <a href="" class="reject-btn" data-ng-click="vm.reject()" translate>REJECT</a>
                </div>
            </div><!-- COL8 -->

            <div class="col-md-4 side-block">
                <h4 translate>Employee</h4>
                <div data-ng-if="vm.employeeWithImage == null" translate>None</div>
                <div class="padding-bottom-10">
                    <hr>
                    <div class="emp-profile-wgt">
                        <div class="circle-img pull-left">
                            <img ng-if="vm.employeeWithImage.ProfileImage" ng-cloak ng-src="{{ ::vm.employeeWithImage.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                            <img ng-if="!employeeWithImage.ProfileImage" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                        </div><!-- Circle-image -->

                        <div class="row-details pull-left">
                            <p class="emp-name">{{vm.employeeWithImage.Name}}</p>
                            <p class="emp-title">{{vm.employeeWithImage.JobDescription}}</p>
                        </div><!-- emp-details -->
                        
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="row pull-right" visible-managers>
                    <a href="@Url.Content("~/Personnel/Ownership/Entry/"){{vm.ownershipId}}" class="edit btn btn-edit btn-primary conduct-edit edit-style" translate>Edit</a>
                </div>
                <div class="clearfix"></div>

            </div><!-- COL4 -->


        </div><!-- Well -->


    </div><!-- ROW -->
</div>
