﻿@{
    ViewBag.Title = "Report It";
    ViewBag.HideTitleBar = true;
}

@section scripts{
    @Scripts.Render("~/scripts/chaitea-personnel")

    <script type="text/ng-template" id="reportit-card-content.html">
        <div class="content">
            <div class="row">
                <div class="col-xs-3">
                    <img ng-src="{{details._createByProfilePicture}}" err-src="{{vm.sitesettings.defaultProfileImage}}" alt="" class="circle-img" />
                </div>
                <div class="col-xs-8 padding-left-0">
                    <p class="associate truncate">{{details.EmployeeName}}</p>
                    <p data-ng-if="details.IsCritical != null" class="critical truncate">
                        {{details.IsCritical == 0 ? 'Non-critical':'Critical'}}<span data-ng-if="details.Classifications.length > 0"
                                                                                     data-ng-repeat="classification in details.Classifications">
                            , {{classification.Name}}
                        </span>
                    </p>
                    <div class="padding-top-5">
                        <p class="relatedTo margin-right-10 truncate" data-ng-if="details.ReportTypeId">{{details.ReportTypeName}}</p>
                    </div>
                </div>
            </div>
            <p ng-if="details.Description" class="truncate padding-top-5">{{details.Description}}</p>
            <div class="padding-top-20">
                <span ng-if="vm.siteName" class="pull-left footerLocation full truncate padding-top-5" ng-class="vm.countFilter == 0? 'fit-reportIt' : ''">
                    {{vm.siteName}}, {{details.BuildingName}}, {{details.FloorName}}
                </span>
                <span ng-if="!vm.siteName" class="pull-left footerLocation full truncate padding-top-5" ng-class="vm.countFilter == 0? 'fit-reportIt' : ''">
                    {{details.BuildingName}}, {{details.FloorName}}
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </script>
}


<div class="container-fluid personnel ownership-index" ng-controller="Personnel.OwnershipIndexCtrl as vm" ng-init="vm.initialize()">
    <page-header title="Report It"
                 s3-icon-name="reportit.svg"
                 info-text="{{'View statistics and details of Report Its created by SBM associates.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-customers href="@Url.Content("~/Personnel/Ownership/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW REPORT' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Ownership")" class="btn btn-default text-capitalize active">Charts</a>
            <a href="@Url.Action("Details", "Ownership")" class="btn btn-default text-capitalize">Details</a>
        </tabs>
    </utility-header>

    <div class="row">
        <hr class="hline hidden-xs margin-vertical-0" />
        <div class="col-sm-12 page-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 padding-right-5 padding-left-10 hidden-xs hidden-sm">
                    <div class="col-md-12 padding-left-10 padding-right-0 recent  padding-bottom-15">
                        <h3 class="title margin-bottom-0 padding-left-15">
                            <span translate>Most Recent</span>
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details","Ownership")" translate>
                                VIEW ALL
                            </a>
                        </h3>
                        <div class="padding-right-15 padding-left-15">
                            <card class="col-xs-12" ng-repeat="details in vm.reportsConfig.recentOwnerships " ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false" custom-format-date="true" item-id="details.OwnershipId" view-link-fn="vm.ShowEntryViewModal(id)"
                                                         header-date="details.CreateDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left">
                                                <img class="employee-img move" ng-src="{{details._createByProfilePicture}}" err-src="{{vm.sitesettings.defaultProfileImage}}" />
                                            </div>
                                            <div class="pull-left associate-section">
                                                <span class="name truncate">{{details.EmployeeName}}</span>
                                                <p class="name-lbl text-muted">
                                                    {{'ASSOCIATE' | translate}}
                                                    <span data-ng-if="details.IsCritical != null" class="type padding-left-5">
                                                        {{details.IsCritical == 0 ? 'Non-critical' : 'Critical' | translate}}
                                                    </span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Description" class="margin-top-25 truncate">
                                            {{details.Description}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length) > 15}">
                                            {{details.BuildingName}}, {{details.FloorName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : (vm.clientName + (vm.siteName ? vm.siteName.length : 0)) > 20}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{vm.clientName}}<span ng-if="vm.siteName">, {{vm.siteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left" ng-if="details.ReportTypeName">
                                            <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ReportTypeName.length > 9}">{{details.ReportTypeName}}</span>
                                        </div>
                                        <div class="pull-left truncate customer-rep" ng-if="details.IsCritical == 1">
                                            <span class="text-muted text-capitalize">{{'CUSTOMER_REP' | translate}}: </span>
                                            <span class="text-muted text-capitalize">{{details.CustomerRepresentatives[0].Name}}</span>
                                            <span class="text-muted" ng-if="details.CustomerRepresentatives.length > 1">, +{{details.CustomerRepresentatives.length-1}}</span>
                                        </div>
                                        <div class="pull-right types">
                                            <a  class="text-warning click-style" ng-if="details.Status != 1" data-ng-click="vm.accept(details,$event)"> 
                                                {{'ACCEPT' | translate}}
                                            </a>
                                            <a class="text-warning padding-left-15 click-style" ng-if="details.Status != 1" data-ng-click="vm.reject(details,$event)">
                                                {{'REJECT' | translate}}
                                            </a>
                                        </div>
                                    </div>
                                </card-footer>

                            </card>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 charts">
                    <div class="row hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12 padding-left-0">
                            <div class="panel panel-default margin-bottom-0 monthly-scores-panel-align">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} <span translate>Month Scores</span></h3>
                                <div class="score-panel">
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.reportsConfig.counts.ownershipTrends.submitted }}</span>
                                        <span class="score-title" translate>Report Its Submitted</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.reportsConfig.counts.ownershipTrends.accepted }}</span>
                                        <span class="score-title" translate>Report Its Accepted</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ (vm.reportsConfig.counts.ownershipTrends.accepted/vm.reportsConfig.counts.ownershipTrends.submitted)*100 | number : 0 }}%</span>
                                        <span class="score-title" translate>Acceptance Rate</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 padding-left-0">
                            <!-- Monthly Trend -->
                            <div class="panel panel-default charts-align">
                                <h3 class="panel-header-txt margin-left--7" translate>Monthly Trend</h3>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" 
                                     data-ng-if="(!vm.reportsConfig.counts.ownershipAccepted.count && !vm.reportsConfig.counts.ownershipRejected.count) || vm.reportsConfig.ownershipTrends.xAxis.categories.length <= 1" translate>
                                    - More than 1 month worth of data required for monthly trend -
                                </div>
                                <div class="chart-wrap">
                                    <sbm-hc-column-chart id="ownershipMonthlyTrends" data-ng-model="vm.reportsConfig.ownershipTrends" 
                                        data-ng-if="vm.reportsConfig.ownershipTrends.xAxis.categories.length > 1 && (vm.reportsConfig.counts.ownershipAccepted.count || vm.reportsConfig.counts.ownershipRejected.count)">
                                    </sbm-hc-column-chart>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Most Recent for mobile and Ipad view -->
                    <div class="row">
                        <div class="col-xs-12 most-recent-panel padding-left-0 recent  padding-bottom-15 margin-bottom-30 hidden-md hidden-lg">
                            <h3 class="title margin-bottom-0 cards">
                                <span translate>Most Recent</span>
                                <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details","Ownership")" translate>
                                    VIEW ALL
                                </a>
                            </h3>
                            <div class="cards">
                                <card class="col-xs-12 col-sm-6 size" ng-repeat="details in vm.reportsConfig.recentOwnerships" ng-transclude>
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true"  item-id="details.OwnershipId" view-link-fn="vm.ShowEntryViewModal(id)"
                                                             header-date="details.CreateDate">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left">
                                                    <img class="employee-img move" ng-src="{{details._createByProfilePicture}}" err-src="{{vm.sitesettings.defaultProfileImage}}" />
                                                </div>
                                                <div class="pull-left associate-section">
                                                    <span class="name truncate">{{details.EmployeeName}}</span>
                                                    <p class="name-lbl text-muted">
                                                        {{'ASSOCIATE' | translate}}
                                                        <span data-ng-if="details.IsCritical != null" class="type padding-left-5">
                                                            {{details.IsCritical == 0 ? 'Non-critical' : 'Critical' | translate}}
                                                        </span>
                                                    </p>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div ng-if="details.Description" class="margin-top-25 truncate">
                                                {{details.Description}}
                                            </div>
                                            <div class="site padding-top-5">
                                                <p class="pull-left building-name" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length) > 15}">
                                                {{details.BuildingName}}, {{details.FloorName}}</p>
                                                <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : (vm.clientName + (vm.siteName ? vm.siteName.length : 0)) > 20}">
                                                    <i class="fa fa-location margin-right-5"></i>
                                                    <span>{{vm.clientName}}<span ng-if="vm.siteName">, {{vm.siteName}}</span></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left" ng-if="details.ReportTypeName">
                                                <span class="relatedTo margin-right-10 truncate">{{details.ReportTypeName}}</span>
                                            </div>
                                            <div class="pull-right types">
                                                <a class="text-warning click-style" ng-if="details.Status != 1" data-ng-click="vm.accept(details,$event)">
                                                    {{'ACCEPT' | translate}}
                                                </a>
                                                <a class="text-warning padding-left-15 click-style" ng-if="details.Status != 1" data-ng-click="vm.reject(details,$event)">
                                                    {{'REJECT' | translate}}
                                                </a>
                                            </div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <!-- View By Site or Building start -->
                        <div class="view-by-building charts-align">
                            <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.SiteOrBuilding" class="wo-view-by-building-align">
                                <div class="row empty-wrap"
                                     data-ng-if="!vm.reportsConfig.counts.ownershipTrendsBySiteOrBuilding.count">
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" translate>
                                        No data to display
                                    </div>
                                </div>
                                <div class="row chart-wrap" data-ng-if="vm.reportsConfig.counts.ownershipTrendsBySiteOrBuilding.count">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="border-wrap border-none ">
                                            <sbm-hc-bar-chart id="woBySiteOrBuilding" data-ng-model="vm.reportsConfig.ownershipsBySiteOrBuilding" data-ng-if="vm.reportsConfig.counts.ownershipTrendsBySiteOrBuilding.count">
                                            </sbm-hc-bar-chart>
                                        </div>
                                    </div>

                                </div>
                            </sbm-panel-collapser>
                        </div>
                    </div>
                    <!-- View By Site or Building end -->
                    <div class="row">
                        <!-- Work Request By Type or Program start -->
                        <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.TypeOrProgram - Accepted" class="wo-view-by-type-align charts-align">
                            <div class="row empty-wrap" ng-if="!vm.reportsConfig.ownershipsByProgramOrType.series[0].data.length">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" translate>
                                    No data to display
                                </div>
                            </div>
                            <div class="row chart-wrap " ng-if="vm.reportsConfig.ownershipsByProgramOrType.series[0].data.length">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <sbm-hc-pie-chart id="woByProgramOrType" click-legend="true" load-trend="vm.loadTrend(id,color,name)" data-ng-model="vm.reportsConfig.ownershipsByProgramOrType">
                                    </sbm-hc-pie-chart>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="parent-container ">
                                        <sbm-hc-line-chart id="woTrendsByType" data-ng-model="vm.reportsConfig.ownershipTrendsByProgramOrType">
                                        </sbm-hc-line-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="row legend-wrap" ng-if="vm.reportsConfig.ownershipsByProgramOrType.series[0].data.length">
                                <div class="col-lg-12">
                                    <div id="legendSpot"></div>
                                </div>
                            </div>
                        </sbm-panel-collapser>
                    </div>
                    <!-- Work Request By Type or Program end -->
                    <!-- Work Order by Employee start -->
                        <div class="viewByEmployee">
                            <div class="panel panel-default wo-view-by-employee" data-ng-if="vm.siteId>0">
                                <h3 class="panel-header-txt" style="margin-bottom: 0;" translate>
                                    View by Employee
                                </h3>
                                <div class="panel-body" style="padding: 0;">
                                    <div class="row empty-wrap" ng-if="!vm.reportsConfig.ownershipTrendsByEmployee.length">
                                        <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" translate>
                                            No data to display
                                        </div>
                                    </div>

                                    <div class="row view-by-emp-details">
                                        <div class="col-lg-12 col-md-12 col-sm-12 padding-left-0">
                                            <table class="table table-bordered table-striped details-grid" data-ng-if="vm.reportsConfig.ownershipTrendsByEmployee.length">
                                                <thead>
                                                    <tr>
                                                        <th class="emp-title-left" translate>
                                                            Employee
                                                        </th>
                                                        <th translate>
                                                            Total
                                                        </th>
                                                        <th translate>
                                                            Accepted
                                                        </th>
                                                        <th translate>
                                                            Rejected
                                                        </th>
                                                        <th class="hidden-xs" translate>
                                                            Acceptance Rate
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="employee in vm.reportsConfig.ownershipTrendsByEmployee | orderBy:'EmployeeName'">
                                                        <td>{{ ::employee.Name }}</td>
                                                        <td class="text-center">{{ ::employee.Total }}</td>
                                                        <td class="text-center">{{ ::employee.Accepted }}</td>
                                                        <td class="text-center">{{ ::employee.Rejected }}</td>
                                                        <td class="hidden-xs">
                                                            <div class="row">
                                                                <div class="col-md-offset-3 col-md-6">
                                                                    <div class="progress progress-bar-danger">
                                                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                                                             aria-valuenow="41"
                                                                             aria-valuemin="0" aria-valuemax="100" ng-style="{width: employee.Percentage + '%'}">
                                                                            {{ ::employee.Percentage }}%
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Work Order by Employee end -->

                </div>
            </div>

        </div>

    </div>
</div>