﻿<div class="quality-tab-navigation">
    <div class="row header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 quality-title" id="title-width">
            {{ iconSubNavigation }}
        </div>


        <div class="wrapping-div" id="wrapping-div">
            <a id="left-arrow" class="left-arrow-styles carousel-control" href="javascript:void(0);">
                <span class="glyphicon glyphicon-chevron-left arrow-icon-align"></span>
            </a>
            <div id="sliding-panel" class="sliding-panel" ng-style="{width: {{slidingPanelWidth}} + 'px'}" style="width:{{slidingPanelWidth}}px">
                <div data-ng-repeat="item in list">
                    <div id="{{ item.subId }}" class="col-md-1 col-sm-1 col-xs-1 text-center" ng-style="{width: {{tabWidth}} + 'px'}" style="width:{{tabWidth}}px">
                        <a class="link" href="{{ item.subLink }}" data-ng-click="scrollToElement('{{ item.subText }}')">
                            <i class="image-style {{ item.subIcon }}" data-ng-class="{'highlight' : item.subActive == 'true'}"></i>
                            <p class="sub-title" data-ng-class="{'highlight' : item.subActive == 'true'}">{{ item.subText }}</p>
                        </a>
                    </div>
                </div>

                <a id="right-arrow" class="right right-arrow-styles carousel-control" href="javascript:void(0);">
                    <span class="glyphicon glyphicon-chevron-right arrow-icon-align"></span>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        </div>
    <div class="hide-scrollbar"></div>
</div>

