﻿
@{
    ViewBag.Title = "Position Purpose Builder";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid settings position-purpose-builder" ng-controller="Settings.PositionPurposeBuilder as vm" ng-init="vm.initialize()">
    <page-header title="{{'PPURPOSEB_TITLE'|translate}}"
                 info-text="{{'PPURPOSEB_DESC'|translate}}"
                 s3-icon-name="settings.svg">
    </page-header>
    
    <div class="row page-content">
        <div class="col-md-12 well well-clean padding-top margin-top">
            <form name="mainForm">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="client">Client</label>
                        <em>Select a client</em>
                        <select id="client" class="form-control" name="client" required
                                ng-change="vm.onClientChange(client)"
                                ng-model="vm.client"
                                ng-options="p.Value for p in vm.clients track by p.Key">
                            <option value="">-Please select a Client-</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6" ng-class="{'disabled':vm.$scope.mainForm.client.$invalid}">
                        <label for="position">Position</label>
                        <em>Select a position</em>
                        <select id="position" class="form-control" name="position" required
                                ng-model="vm.position"
                                ng-disabled="vm.$scope.mainForm.client.$invalid"
                                ng-change="vm.onPositionChange($event)"
                                ng-options="p.Value for p in vm.positions track by p.Key"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6" ng-class="{'disabled':vm.$scope.mainForm.position.$invalid}">
                        <label for="description">Purpose Description</label>
                        <em>Enter the Job's Purpose description</em>
                        <textarea class="form-control"
                                  name="description"
                                  id="description"
                                  ng-model="vm.purpose.Description" ng-disabled="vm.$scope.mainForm.position.$invalid" required rows="5" placeholder="Job's Purpose description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 padding-top" ng-class="{'disabled':vm.$scope.mainForm.description.$invalid}">
                        <button class="btn btn-primary pull-right"
                                ng-click="vm.saveJobPurpose()"
                                ng-disabled="vm.$scope.mainForm.description.$invalid">
                            Save Position Purpose
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div> 