﻿@import "../../../../css/Common/_globals";
@import "../../../../css/Common/_bootstrap-overrides";

.card-list {
    color: $primary;
    background: #fff;
    padding:0;
    border-bottom: 1px solid #e4e4e4;

    .itemrow:nth-child(even){
        background-color: $gray;
    }

    &[hide-header]{
        padding: 15px;
    }

    .card-header {

        @include breakpoint(mobilephone) {
        }
        
        color: #fff;
        font-weight: 700;
        font-size: 10px;
        background-color: $primary;

        .column {
            background: $primary;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        h5 {
            margin-top: 7px;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 14px;
        }

        p{
            font-size: 12px;
            line-height:35px;
            text-transform: uppercase;
        }

        input {
            border-radius: 4px;
            height: 35px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.5;
            min-width: 200px;
        }

        .icon-search {
            position: relative;
            z-index: 2;
            color: #00aed0;
            float: right;
            margin-right: 6px;
            margin-top: -32px;
            font-size: 24px;
            padding-top: 3px;
        }

    }


    .card-row {
        /*default*/
        padding: 15px 15px 15px 20px;
        border-bottom: 1px solid #e4e4e4;
        position: relative;
        background-color: #fff;

        .emp-result {
            color: #fff !important;
        }

        .emp-name{
            font-style: normal;
        }

        &.clickable:hover{
            background-color:$border;
            cursor: pointer;
        }
        

        div[ng-transclude] {
            position: relative;
        }

        .details {
            /*margin-left: 15px;
            max-width: 400px;*/
            overflow: hidden;

            @include breakpoint(mobilephone) {
                /*max-width:153px;*/

            }
             @include breakpoint(mobileonly) {
                /*max-width:116px;*/
            }

            .emp-result {
                width: 90px;
                font-size: 12px;
                margin: 3px 0 0;
                text-align: center;
                color: #ffffff !important;
                padding: 2px 5px;
                border-radius: 2px;
            }

            p {
                text-overflow: ellipsis;
            }
        }

        .link {

            i {
                position: absolute;
                right: 0;
                top: 40%;
                color: $base-dark;
                font-size: 20px;
                padding-right: 15px;
                margin-right: 10px;
                margin-left: 10px;
            }
        }

        p {
            line-height: 1;
            margin-bottom: 5px;
            color: $base-dark;
            font-style: italic;
            font-size: 14px;

            &:first-child {
                font-size: 16px;
                font-weight: 600;
                color: $primary;
                text-overflow: ellipsis;
                overflow: hidden;

                i[class^='icon-check'], i[class^='icon-times'] {
                    color: #40aa58;
                    font-size: 18px;
                    padding-left: 3px;
                }
            }

            &:last-child {
                font-size: 12px;
            }
        }
        /*cardImageRow*/
        .jd-status {
            position: relative;
            .style{
                width: 31%;
                text-align: center;
                @include breakpoint(tablet){
                    width: 16%;
                }
                @include breakpoint(desktop){
                    width: 10%;
                }
                @include breakpoint(mobilephone){
                    width: 10%;
                }
            }
            .fa-angle-right {
                position: absolute;
                right: 0;
                top: 10px;
                color: $base-dark;
                font-size: 18px;
                padding-right: 15px;
                @include breakpoint (mobilephone){
                    display: none;
                }
            }
        }

        .audit-score {
            color: #ffffff;
            /*width: 40px;
            height: 40px;
            line-height: 40px;*/
            border-radius: 50%;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin-right: 10px;
            margin-top: 20px;
            padding-top: 10px;

            @include screen(tablet){
                 margin-right: 20px;
            }
        }

        .circle-img {
            border: 3px solid $border;
            border-radius: 50%;
            width: 65px;
            height: 65px;
            overflow: hidden;
            padding: 0;

            img {
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        &:last-of-type{
            border-bottom:none;
        }
    }
}



