﻿
@{
    ViewBag.Title = "Team Stats";
    ViewBag.HideTitleBar = true;
}


<style>
    body {
        background: white;
    }
</style>

@section scripts {
    <script>
        $(function () {
            $(window).on('resize', function () {
                offset = 60;
            });
            $('table').stickyTableHeaders({ fixedOffset: offset });
         });
    </script>

}

<script type="text/ng-template" id="position-icons.html">
    <p class="pos-icons">
        <a href="@Url.Action("EntryView","PositionProfile", new { Area="Training"})/{{employee.EmployeeId}}">
            <span class="fa-stack fa-1x">
                <i class="fa fa-sbm-thin-circle fa-stack-2x"></i>
                <i class="fa fa-profile fa-stack-1x"></i>
                <span class="fa-stack fa-1x top-icon">
                    <i class="fa fa-circle fa-stack-2x" ng-class="!employee.IsComplete?'text-danger':'text-success'"></i>
                    <i class="fa {{employee.IsComplete ?'fa-check':'fa-exclamation'}} fa-stack-1x fa-inverse"></i>
                </span>
            </span>
        </a>
        <a href="@Url.Action("Entry","ServiceExcellence", new{Area="Training" })/{{employee.EmployeeId}}">
            <span class="fa-stack fa-1x">
                <i class="fa fa-sbm-thin-circle fa-stack-2x"></i>
                <i class="fa fa-service-excellence fa-stack-1x"></i>
            </span>
        </a>
    </p>
</script>

<div class="container-fluid personnel box-score" ng-controller="Personnel.BoxScore.IndexCtrl as vm" ng-init="vm.initialize()">
    <page-header title="Team Stats"
                 s3-icon-name="personnel.svg"
                 info-text="{{'View the performance status of your staff at this facility and analyze which areas can be improved upon, and who deserves to be rewarded for their work.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        
        <div class="dropdown d-inline-block" uib-dropdown dropdown-append-to-body>
            <a uib-dropdown-toggle class="btn btn-success btn-sm" href="javascript:void(0);">
                +
                <span class="hidden-xs hidden-sm text-center new-entry" translate>
                    CREATE ENTRY
                </span>
                <span class="fa fa-chevron-down hidden-xs hidden-sm"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu-right">
                <li ng-repeat="item in vm.createNewItems">
                    <a ng-href="{{item.link || item.paramsLink}}">{{item.name}}</a>
                </li>
            </ul>
        </div>
        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-search search-model="vm.search" placeholder="Search Employees"></utility-nav-search>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header class="hidden-xs hidden-sm">
        <custom-buttons class="btn-group visible-md visible-lg">
         
            <utility-nav-search button-classes="btn btn-default" search-model="vm.search" placeholder="Find Employees"></utility-nav-search>

        </custom-buttons>
    </utility-header>

    
    <div class="page-content  padding-horizontal-0">
        <div class="row bordered-row bordered-row-top">
            <table class="box-score-table table" data-infinite-scroll="vm.getBoxScores()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                <thead>
                    <tr class="metrics">
                        <th class=""></th>
                        <th><a class="hidden-xs hidden-sm" ng-class="{'sort-selected-text': (vm.sortByColumn == 'profiles')}" href="@Url.Action("Index", "PositionProfile",new { Area="Training"})" translate>PROFILES</a>
                            <div class="sort fa hidden-xs hidden-sm" ng-class="vm.sortByColumn == 'profiles' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(0)"></div>
                        </th>
                        <th class="visible stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'attendance')}" href="@Url.Action("Index", "Attendance",new { Area="Personnel"})" translate>ATTENDANCE</a>
                            <span class="fa fa-angle-double-right next"></span>
                            <div class="sort fa " ng-class="vm.sortByColumn == 'attendance' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(1)"></div>
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'conduct')}" href="@Url.Action("Index", "Conduct",new { Area="Personnel"})" translate>CONDUCT</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'conduct' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(2)"></div>
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'complaints')}" href="@Url.Action("Index", "Complaint",new { Area="Quality"})" translate>COMPLAINTS</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'complaints' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(3)"></div>  
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'compliments')}" href="@Url.Action("Index", "Compliment",new { Area="Quality"})" translate>COMPLIMENTS</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'compliments' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(4)"></div>
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'safety')}" href="@Url.Action("Details", "Safety",new { Area="Personnel"})" translate>SAFETY</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'safety' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(5)"></div>
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'reportIts')}" href="@Url.Action("Index", "Ownership",new { Area="Personnel"})" translate>REPORT ITS</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'reportIts' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(6)"></div>
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'professionalism')}" href="@Url.Action("Index", "Audit",new { Area="Personnel"})" translate>PROFESSIONALISM</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'professionalism' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(7)"></div>
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'audits')}" href="@Url.Action("Index", "Audit",new { Area="Quality"})" translate>QUALITY</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'audits' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'" ng-click="vm.setSortingColumn(8)"></div>
                        </th>
                        <th class="visible-md visible-lg stick"><a ng-class="{'sort-selected-text': (vm.sortByColumn == 'training')}" href="@Url.Action("Index", "KnowledgeCenter",new { Area="Training"})" translate>TRAINING</a>
                            <div class="sort fa" ng-class="vm.sortByColumn == 'training' ? (vm.sortInAscending ? 'fa-caret-up selected' : 'fa-caret-down selected') : 'fa-caret-down not-selected'"></div>
                        </th>
                    </tr>                                        
                    <tr class="team-stats">
                        <th>
                            <div class="total" translate">TOTALS</div>
                        </th>
                            <th>
                            <p class="hidden-xs hidden-sm total">{{vm.counts.ProfileComplete || 0}} of {{vm.counts.TotalEmployees || 0}}</p>
                            <p class="hidden-xs hidden-sm" translate>COMPLETE</p>
                        </th>
                            <th class="stick">
                            {{vm.counts.Attendance}}
                            <p translate>OCCURRENCES</p>
                        </th>
                            <th class="visible-md visible-lg stick">
                            {{vm.counts.Conduct}}
                            <p translate>ISSUES</p>
                        </th>
                            <th class="visible-md visible-lg stick">
                            {{vm.counts.Complaints}}
                            <p translate>REPORTED</p>
                        </th>
                            <th class="visible-md visible-lg stick">
                            {{vm.counts.Compliments}}
                            <p translate>REPORTED</p>
                        </th>
                            <th class="visible-md visible-lg stick">
                            {{vm.counts.Safety}}
                            <p translate>RECORDABLES</p>
                        </th>
                            <th class="visible-md visible-lg stick">
                            {{vm.counts.Ownership}}
                            <p translate>ACCEPTED</p>
                        </th>
                            <th class="visible-md visible-lg stick">
                            {{vm.counts.Professionalism}}
                            <p translate>NOT PASSING</p>
                        </th>
                            <th class="visible-md visible-lg stick" ng-class="{{vm.counts.QualityAverage > vm.reportsConfig.control ? 'text-success':'text-danger'}}">
                            {{vm.counts.QualityAverage | number:2}}
                            <p translate>AVERAGE</p>
                        </th>
                            <th class="visible-md visible-lg stick">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="employee-row animate-repeat" ng-repeat="employee in vm.employees | filter: vm.search" ng-class="{'loading':employee._isLoading}">
                        <td class="profile-image" ng-click="vm.goToPositionProfile(employee.EmployeeId)" ng-class="employee.IsComplete?'emp-profile-complete':'emp-profile-incomplete'">
                            <div class="circle-img ng-scope">
                                <img ng-src="{{employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
                            </div>
                            <i class="fa fa-incomplete-2 profile-incomplete" ng-if="!employee.IsComplete"></i>
                        </td>
                        <td class="description" ng-click="vm.goToPositionProfile(employee.EmployeeId)">
                            <h4>
                                <a href="@Url.Content("~/User/Profile/Index/"){{ employee.EmployeeId }}">
                                    {{employee.Name}}
                                </a>
                            </h4>
                            <span class="text-muted job-title">{{employee.JobDescription.Name}}</span><span class="line-styles hidden-xs">|</span><span class="hired-date hidden-xs">Hired {{employee.HireDate | date:'M/d/yyyy'}}</span>
                            <p class="hired-date hidden-sm hidden-md hidden-lg">Hired {{employee.HireDate | date:'M/d/yyyy'}}</p>
                            <p class="report-card-link"><a href="@Url.Action("ReportCard","MyProfile", new { Area = "Personnel" })/{{employee.EmployeeId}}">View Report Card<span class="fa fa-angle-double-right double-angle-right-icon"></span></a></p>
                        </td>
                        <td ng-click="vm.popModal('attendance', employee)">{{employee.BoxScores.AttendanceCount}}</td>
                        <td ng-click="vm.popModal('conduct', employee)" class="visible-md visible-lg fa-left">{{employee.BoxScores.ConductCount}}</td>
                        <td ng-click="vm.popModal('complaints', employee)" class="visible-md visible-lg">{{employee.BoxScores.ComplaintsCount}}</td>
                        <td ng-click="vm.popModal('compliments', employee)" class="visible-md visible-lg">{{employee.BoxScores.ComplimentCount}}</td>
                        <td ng-click="vm.popModal('safety', employee)" class="visible-md visible-lg">{{employee.BoxScores.SafetyCount}}</td>
                        <td ng-click="vm.popModal('report it', employee)" class="visible-md visible-lg">{{employee.BoxScores.OwnershipItemCount}}</td>
                        <td ng-click="vm.popModal('professionalism', employee)" class="visible-md visible-lg">
                            <span class="fa-stack fa-1x">
                                <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.BoxScores.ProfAuditsIsPassCount == false,'text-success':employee.BoxScores.ProfAuditsIsPassCount == true, 'text-muted':employee.BoxScores.ProfAuditsIsPassCount == null}"></i>
                                <i class="fa {{employee.BoxScores.ProfAuditsIsPassCount == true ? 'fa-check' : 'fa-exclamation'}} fa-stack-1x fa-inverse"></i>
                            </span>
                        </td>
                        <td class="visible-md visible-lg quality-score">
                            <span class="fa-stack fa-2x" ng-class="{'text-success':employee.BoxScores.AuditAverage > vm.reportsConfig.control,'text-danger':employee.BoxScores.AuditAverage < vm.reportsConfig.control}">
                                <i class="fa fa-sbm-thin-circle fa-stack-2x"></i>
                                <span class="fa fa-stack-1x">{{employee.BoxScores.AuditAverage | number: 2}}</span>
                            </span>
                        </td>
                            <td class="visible-md visible-lg training">
                            <a href="@Url.Action("Index", "Transcript", new {Area="Training" })/Index/{{employee.EmployeeId}}">
                                <uib-progressbar value="employee.BoxScores.CourseCompliancePercentage ? employee.BoxScores.CourseCompliancePercentage : 0" type="{{employee.BoxScores.CourseCompliancePercentage >= 80?'success':'danger'}}">
                                    {{(employee.BoxScores.CourseCompliancePercentage || 0) | number:0}}%
                                </uib-progressbar>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

   

</div>

