﻿<form name="acceptForm" role="form" novalidate>
    <div class="modal-header ownership-modal-accrej-header">
        <p translate>Please provide additional details to accept this report</p>
    </div>
    <div class="modal-body ownership-modal-accrej-body">
        <p class="title" translate>Is this Work Order Critical?</p>
        <div class="btn-group success-btns attendance-form-picker margin-bottom-20" data-toggle="buttons">
            <label class="btn btn-is-critical" data-ng-click="vm.setCriticalType(0)" data-ng-class="{'active' : vm.isCritical==0}">
                <input type="radio" name="notCritical" autocomplete="off" checked=""> <span translate>NOT CRITICAL</span>
            </label>
            <label class="btn btn-is-critical" data-ng-click="vm.setCriticalType(1)" data-ng-class="{'active' : vm.isCritical==1}">
                <input type="radio" name="critical" autocomplete="off"><span translate>CRITICAL</span>
            </label>
        </div>
        <div>
            <div data-ng-if="vm.isCritical == 0">
                <p class="title"><span translate>Classification? (Select all that apply)</span><span class="required-sign">*</span></p>
                <div class="success-btns attendance-form-picker margin-bottom-20" data-toggle="buttons">
                    <label class="btn btn-is-critical" ng-repeat="type in vm.ClassificationTypes" ng-click="vm.setClassificationType(type.ClassificationId)">
                        <input type="checkbox" name="late" autocomplete="off">{{type.Name}}
                    </label>
                </div>
            </div>
            <div class="margin-bottom-20">
                <p class="title" translate>Corrective Action</p>
                <textarea name="" id="" cols="30" rows="10" class="basic-input corrective-text-area" placeholder="Enter corrective action description here..." ng-model="vm.employee.CorrectiveActionDescription"></textarea>
            </div>
            <div data-ng-if="vm.isCritical == 0">
                <p class="title"><span translate>What type of report is this? </span><span class="required-sign">*</span></p>
                <select name="reportId" class="form-control"
                        data-ng-model="vm.Ownership.ReportTypeId" data-ng-required="true"
                        data-ng-options="report.Key*1 as report.Value for report in vm.ReportTypes">
                    <option value="" translate>Select one</option>
                </select>
            </div>
        </div>
        <div data-ng-if="vm.isCritical == 1">
            <p class="title"><span translate>Critical Reports Recipient </span><span class="required-sign">*</span></p>
            <multiselect name="customerRepresentatives[]" class="input-xlarge" multiple="true" data-ng-required="true"
                         options="rep.CustomerRepresentativeId*1 as rep.Name for rep in vm.CustomerRepresentatives"
                         template-url="manageCustomerRepresentatives.tmpl.html"
                         ng-model="vm.Selected.CustomerRepresentatives"></multiselect>
        </div>
    </div>
    <div class="modal-footer ownership-modal-accrej-footer">
        <a href="javascript:void(0);" class="pull-right btn btn-save" data-ng-disabled="this.acceptForm.$invalid" data-ng-click="vm.saveOwnership()" translate>SAVE</a>
        <a class="pull-right btn-cancel" data-ng-click="vm.cancel()" translate>CANCEL</a>
    </div>
</form>