﻿<div class="btn-group btn-block">
    <button uib-dropdown-toggle class="col-sm-12 col-md-12 btn btn-default" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width: 100%;">
        <div class="pull-left">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
    </button>
    <a class="closer btn btn-xs btn-default" ng-click="toggleSelect()">close <span class="fa fa-close"></span></a>
    <ul uib-dropdown-menu class="col-sm-12 col-md-12" style="width: 100%; max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
        <li style="width: 100%;">
            <input class="form-control" type="text" ng-model="searchText.label" placeholder="Filter" />
        </li>
        <li style="width: 100%;">
            <button class="btn-link btn-small pull-right" ng-click="uncheckAll()"><i class="glyphicon glyphicon-remove"></i> Uncheck all</button>
            <button class="btn-link btn-small pull-right" ng-click="checkAll()"><i class="glyphicon glyphicon-ok"></i> Check all</button>
        </li>
        <li>
            <a href="javascript:void(0);" data-ng-click="vm.addNewCustomerRepresentative($event)">
                <i class="glyphicon glyphicon-plus"></i>
                Add New
            </a>
        </li>
        <li ng-repeat="i in items | filter:searchText" style="width: 275px;">
            <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
            </a>
        </li>

    </ul>
</div>