﻿<form name="rejectForm" role="form" novalidate>
    <div class="modal-header ownership-modal-accrej-header">
        <p translate>Please provide more information to reject this report</p>
    </div>
    <div class="modal-body ownership-modal-accrej-body">
        <p class="title"><span translate>Why are you rejecting this report?</span><span class="required-sign">*</span></p>
        <select name="reportId" class="form-control margin-bottom-20"
                data-ng-model="vm.Ownership.RejectionTypeId"
                data-ng-options="report.RejectionTypeId*1 as report.Name for report in vm.RejectTypes" data-ng-required="true">
            <option value="" translate>Select one</option>
        </select>
        <div class="margin-bottom-20">
            <p class="title">Corrective Action</p>
            <textarea name="" id="" cols="30" rows="10" class="basic-input corrective-text-area" placeholder="Enter corrective action description here..." ng-model="vm.employee.CorrectiveActionDescription"></textarea>
        </div>
    </div>
    <div class="modal-footer ownership-modal-accrej-footer">
        <a href="javascript:void(0);" class="pull-right btn-save btn" data-ng-disabled="this.rejectForm.$invalid" ng-click="vm.saveOwnership()">SAVE</a>
        <a href="javascript:void(0);" class="pull-right btn-cancel" data-ng-click="vm.cancel()">CANCEL</a>
    </div>
</form>