@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.dashboard .jumbotron {
  padding: 60px 15px 20px;
}
@media (max-width: 479px) {
  .dashboard .jumbotron {
    padding: 20px 5px 20px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 990px) {
  .dashboard .jumbotron {
    padding-bottom: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 990px) {
  .dashboard .jumbotron #profile-img {
    width: 180px;
  }
}
.dashboard .jumbotron #profile-img img {
  width: 90px;
}
@media (min-width: 991px) {
  .dashboard .jumbotron #profile-img img {
    width: 140px;
  }
}
@media (max-width: 479px) {
  .dashboard .jumbotron #profile-name {
    margin-top: 20px;
    margin-left: -10px;
  }
}
.dashboard .jumbotron #profile-name h2 {
  font-size: 24px;
  letter-spacing: -1px;
}
@media (min-width: 991px) {
  .dashboard .jumbotron #profile-name h2 {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: normal;
  }
}
@media (min-width: 1167px) {
  .dashboard .jumbotron #profile-link h4, .dashboard .jumbotron #profile-link small {
    float: left;
  }
}
.dashboard .jumbotron #motivational-line {
  margin-left: -10px;
}
.dashboard .jumbotron hr {
  margin: 15px -10px;
  width: 80%;
}
.dashboard .user-img {
  height: auto;
  width: 110px;
  border: 4px solid #e8e8e8;
}
.dashboard h4 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}
.dashboard h4 em {
  padding-bottom: 0;
}
.dashboard h2 {
  font-weight: 300;
  font-size: 36px;
}
.dashboard .link-row {
  padding: 0 10px;
}
.dashboard .link-row .circle-img-db {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  padding: 0;
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .dashboard .link-row .circle-img-db {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1600px) {
  .dashboard .link-row .circle-img-db {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 479px) {
  .dashboard .link-row {
    padding: 0 0 5px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
  }
  .dashboard .link-row .link-wrapper {
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    height: 100px;
    display: block;
    overflow: hidden;
  }
  .dashboard .link-row .link-wrapper.show-more {
    height: 230px;
  }
  .dashboard .link-row .show-more-button {
    position: absolute;
    top: -26px;
    right: 10px;
    z-index: 10;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  .dashboard .link-row .link {
    padding: 0;
  }
}
.dashboard .link-row .link a {
  float: left;
  position: relative;
}
@media (max-width: 479px) {
  .dashboard .link-row .link a {
    padding: 15px 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    height: 110px;
    box-shadow: none;
  }
}
@media (min-width: 479px) {
  .dashboard .link-row .link a {
    padding: 20px 10px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1600px) {
  .dashboard .link-row .link a {
    padding: 30px 10px;
    height: 175px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.dashboard .link-row .link a:focus {
  background-color: #e8e8e8;
}
@media (max-width: 479px) {
  .dashboard .link-row .link a i {
    font-size: 46px;
    width: 100%;
    margin-bottom: 6px;
  }
}
@media (min-width: 768px) {
  .dashboard .link-row .link a i {
    font-size: 3.5em;
    line-height: 2;
  }
}
@media (min-width: 1600px) {
  .dashboard .link-row .link a i {
    font-size: 4.5em;
    line-height: 1.8;
  }
}
.dashboard .link-row .link a div.title {
  font-size: 20px;
  color: #403841 !important;
}
@media (min-width: 768px) {
  .dashboard .link-row .link a div.title {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (max-width: 479px) {
  .dashboard .link-row .link a div.title {
    font-size: 12px;
    font-weight: 600;
    margin: 2px 0;
    color: #9e9e9e;
  }
}
.dashboard .link-row .link a hr {
  border-color: #efefef;
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.dashboard .bottom-link-row {
  padding: 0 10px;
}
.dashboard .bottom-link-row .well {
  background-color: #cccccc;
  color: #403841;
  padding: 15px 10px;
  border: 0;
  border-radius: 0;
}
.dashboard .bottom-link-row span.fa {
  font-size: 25px;
}
.dashboard .bottom-link-row .icon-align {
  padding-left: 15px;
}
.dashboard .notification-header .head > .col-md-12 {
  padding-left: 50px;
  padding-right: 50px;
}
.dashboard .notification-header p {
  color: #9e9e9e;
  color: #99969e;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 16px;
}
@media (max-width: 479px) {
  .dashboard .notification-header p {
    padding: 10px;
    margin: 10px 0 0;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .dashboard .notification-header .filter > .col-xs-6 {
    width: 33%;
  }
}
.dashboard .notification-content {
  min-height: 220px;
}
.dashboard #create-todo-buttons {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 10;
}
@media (min-width: 768px) {
  .dashboard #create-todo-buttons {
    right: 10px;
  }
}
.dashboard .configuration {
  margin-top: 20px;
  margin-bottom: 10px;
}
.dashboard .configuration .title {
  font-size: 22px;
}
.dashboard .configuration .title.pop-up {
  font-weight: 300;
}
.dashboard .configuration .sub-title {
  font-style: italic;
  color: #8c8f92;
}
.dashboard .configuration .configure-link {
  text-decoration: underline;
  text-transform: uppercase;
  color: #00AFD1;
  line-height: 2;
  font-weight: 600;
  cursor: pointer;
}
.dashboard .configuration .close {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 5px;
  right: 20px;
}
.dashboard .configuration .tileItem {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .dashboard .configuration .tileItem {
    font-size: 16px;
  }
}
.dashboard .configuration .tileItem .divItem {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.dashboard .configuration .tileItem .divItem.no-border {
  border-bottom: none;
}
.dashboard .configuration .tileItem .divItem .clickable {
  cursor: pointer;
}
.dashboard .configuration .tileItem .visible {
  color: #ffffff;
  background-color: #00AFD1;
  border: 1px solid #00AFD1;
  height: 18px;
  width: 18px;
  line-height: 16px;
}
.dashboard .configuration .tileItem .visible .fa {
  font-size: 14px;
}
.dashboard .configuration .tileItem .not-visible {
  height: 18px;
  width: 18px;
  border: 1px solid #d8d8d8;
}
.dashboard .configuration .tileItem .not-editable {
  background-color: #ffffff;
  border-color: #e8e8e8;
  color: #e8e8e8;
  cursor: auto !important;
}
.dashboard .configuration .hline {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
@media (max-width: 479px) {
  .dashboard .configuration .btns {
    display: flex;
  }
}
@media (max-width: 479px) {
  .dashboard .configuration .btns .center {
    float: left;
    margin: 0 auto;
  }
}
.dashboard .configuration .btns .action {
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 479px) {
  .dashboard .configuration .btns .action {
    float: left;
  }
}
.dashboard .configuration .btns .action.save {
  background-color: #F99D00;
  color: #ffffff;
  border: 1px solid #F99D00;
  border-radius: 4px;
}
.dashboard .configuration .btns .action.cancel {
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-right: 10px;
  font-weight: 600;
}
.dashboard .dashboard-cards {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dashboard .dashboard-cards .col-md-3, .dashboard .dashboard-cards .col-md-6 {
    padding: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dashboard .dashboard-cards .ipad-view {
    display: none;
  }
}
.dashboard .dashboard-cards a:hover {
  color: #00AFD1;
}
.dashboard .dashboard-cards .compliments-card-mobile-style {
  padding-right: 0;
}
@media (min-width: 768px) {
  .dashboard .dashboard-cards .compliments-card-mobile-style {
    padding-right: 15px;
  }
}
.dashboard .dashboard-cards .card {
  background: #ffffff;
  height: 265px;
  padding: 15px;
  display: block;
  width: 100%;
  margin: 10px 0;
}
@media (max-width: 479px) {
  .dashboard .dashboard-cards .card {
    height: 200px;
  }
}
.dashboard .dashboard-cards .card.charts {
  height: 220px;
}
@media only screen and (min-width: 992px) and (max-width: 1015px) {
  .dashboard .dashboard-cards .card {
    height: 280px;
  }
}
.dashboard .dashboard-cards .card .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #2f2930;
}
.dashboard .dashboard-cards .card .sub-title {
  color: #9e9e9e;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dashboard .dashboard-cards .card p {
  margin-bottom: 5px;
}
.dashboard .dashboard-cards .card .data-row {
  height: 65px;
  width: 100%;
  padding: 10px 0 5px 0;
  margin-left: 0px;
}
@media (max-width: 479px) {
  .dashboard .dashboard-cards .card .data-row {
    height: 35px;
  }
}
.dashboard .dashboard-cards .card .data-row-border {
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0;
}
.dashboard .dashboard-cards .card .data-row-value {
  font-size: 32px;
  color: #00AFD1;
  font-weight: 600;
  text-align: right;
  padding: 0 5px 0 0;
  top: 35%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .dashboard .dashboard-cards .card .data-row-value {
    font-size: 26px;
    top: 35%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
  .dashboard .dashboard-cards .card .data-row-value {
    font-size: 26px;
    top: 35%;
  }
}
@media (max-width: 479px) {
  .dashboard .dashboard-cards .card .data-row-value {
    font-size: 18px;
    top: 50%;
  }
}
.dashboard .dashboard-cards .card .data-row-details {
  text-align: left;
  padding: 0 0 0 5px;
}
.dashboard .dashboard-cards .card .data-row-info {
  font-size: 14px;
  font-weight: 600;
  color: #403841;
}
@media (max-width: 479px) {
  .dashboard .dashboard-cards .card .data-row-info {
    font-size: 12px;
  }
}
.dashboard .dashboard-cards .card .data-row-sub-info {
  font-size: 12px;
  font-style: italic;
  color: #9e9e9e;
}
@media (max-width: 479px) {
  .dashboard .dashboard-cards .card .data-row-sub-info {
    display: none;
  }
}
.dashboard .dashboard-cards .card .data-value {
  text-align: center;
  color: #00AFD1;
  font-size: 52px;
  font-weight: 600;
  padding: 25px 0 0 0;
}
@media (max-width: 479px) {
  .dashboard .dashboard-cards .card .data-value {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .dashboard .dashboard-cards .card .data-value {
    font-size: 60px;
  }
}
@media (max-width: 320px) {
  .dashboard .dashboard-cards .card .data-value {
    font-size: 40px;
  }
}
.dashboard .dashboard-cards .card .data-info {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.dashboard .dashboard-cards .card .sub-data-info {
  color: #9e9e9e;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}
.dashboard .dashboard-cards .card .no-data {
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  text-align: center;
  color: #9e9e9e;
}
.dashboard .dashboard-cards .card .compliment-row {
  padding: 15px 0 0 0;
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .dashboard .dashboard-cards .card .compliment-row {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.dashboard .dashboard-cards .card .compliment-row .circle-img {
  border: 3px solid #e4e4e4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  padding: 0;
}
.dashboard .dashboard-cards .card .compliment-row .circle-img img {
  width: 100%;
}
.dashboard .dashboard-cards .card .compliment-row .details {
  padding-left: 15px;
  width: 75%;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .dashboard .dashboard-cards .card .compliment-row .details {
    width: 66%;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1350px) {
  .dashboard .dashboard-cards .card .compliment-row .details {
    width: 70%;
  }
}
@media only screen and (min-width: 1351px) {
  .dashboard .dashboard-cards .card .compliment-row .details {
    width: 72%;
  }
}
.dashboard .dashboard-cards .card .compliment-row .details .emp-name {
  font-size: 16px;
  color: #00AFD1;
  font-weight: 300;
  line-height: 22px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dashboard .dashboard-cards .card .compliment-row .details .emp-name {
    font-size: 14px;
  }
}
.dashboard .dashboard-cards .card .compliment-row .details .create-date {
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
}
.dashboard .dashboard-cards .card .compliment-row .details .description {
  font-size: 10px;
  font-style: italic;
  color: #9e9e9e;
  font-weight: 400;
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .dashboard .dashboard-cards .card .compliment-row .details .description {
    width: 115px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .dashboard .dashboard-cards .card .compliment-row .details .description {
    width: 130px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1479px) {
  .dashboard .dashboard-cards .card .compliment-row .details .description {
    width: 150px;
  }
}
@media only screen and (min-width: 1480px) and (max-width: 1599px) {
  .dashboard .dashboard-cards .card .compliment-row .details .description {
    width: 200px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  .dashboard .dashboard-cards .card .compliment-row .details .description {
    width: 130px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1799px) {
  .dashboard .dashboard-cards .card .compliment-row .details .description {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  .dashboard .dashboard-cards .card .compliment-row .details .description {
    width: 180px;
  }
}
.dashboard .dashboard-cards .card .legend {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
}
.dashboard .dashboard-cards .card .legend p {
  margin: 0;
}
.dashboard .dashboard-cards .card .legend .legend-1 {
  margin-right: 15px;
  padding: 0;
}
.dashboard .dashboard-cards .card .legend .legend-1 .value {
  color: #1AAAA5;
}
.dashboard .dashboard-cards .card .legend .legend-2 {
  width: 45%;
  padding: 0;
}
.dashboard .dashboard-cards .card .legend .legend-2 .value {
  color: #06467C;
}
.dashboard .dashboard-cards .card .legend .name {
  color: #9e9e9e;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dashboard .dashboard-cards .card weather-component {
  display: flex;
  height: 80%;
  align-items: center;
}
.dashboard .dashboard-cards .card weather-component > div {
  margin: 0 auto;
}

/*# sourceMappingURL=common.css.map */
