﻿@import "../Common/globals";

.dashboard {
    .jumbotron {
        padding: 60px 15px 20px;
        //text-align: center;
        @include breakpoint(mobilephone) {
            padding: 20px 5px 20px;
            margin-bottom: 0;
        }

        @include screen(tablet) {
            padding-bottom: 0;
            text-align: left;
        }

        #profile-img {

            @include screen(tablet) {
                width: 180px;
            }

            img {
                width: 90px;

                @include breakpoint(laptop) {
                    width: 140px;
                }
            }
        }

        #profile-name {
            @include breakpoint(mobilephone) {
                margin-top: 20px;
                margin-left: -10px;
            }

            h2 {
                font-size: 24px;
                letter-spacing: -1px;

                @include breakpoint(laptop) {
                    font-size: 36px;
                    line-height: 36px;
                    letter-spacing: normal;
                }
            }
        }

        #profile-link {
            @include breakpoint(laptop) {
                //padding-top: 10px;
            }

            h4, small {
                @include breakpoint(desktop) {
                    float: left;
                }
            }
        }

        #motivational-line {
            margin-left: -10px;
        }

        hr {
            margin: 15px -10px;
            width: 80%;
        }
    }

    .user-img {
        height: auto;
        width: 110px;
        border: 4px solid #e8e8e8;
    }

    h4 {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
        font-style: italic;

        em {
            padding-bottom: 0;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 36px;
    }

    .link-row {
        padding: 0 10px;

        .circle-img-db {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            overflow: hidden;
            padding: 0;
            background-color: $gray;

            @include breakpoint(tablet) {
                width: 100px;
                height: 100px;
            }

            @include breakpoint(largedesktop) {
                width: 120px;
                height: 120px;
            }
        }

        @include breakpoint(mobilephone) {
            padding: 0 0 5px;
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            position: relative;

            .link-wrapper {
                -moz-transition: 0.2s linear;
                -o-transition: 0.2s linear;
                -webkit-transition: 0.2s linear;
                transition: 0.2s linear;
                height: 100px;
                display: block;
                overflow: hidden;

                &.show-more {
                    height: 230px;
                }
            }



            .show-more-button {
                position: absolute;
                top: -26px;
                right: 10px;
                z-index: 10;
                letter-spacing: 0;
                font-weight: 600;
                font-size: 12px;
            }
        }



        .link {
            @include breakpoint(mobilephone) {
                padding: 0;
            }


            a {
                float: left;
                position: relative;

                @include breakpoint(mobilephone) {
                    padding: 15px 0;
                    margin: 0;
                    border-radius: 0;
                    border: 0;
                    height: 110px;
                    box-shadow: none;
                }

                @include breakpoint(phablet) {
                    padding: 20px 10px;
                    height: 150px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                @include breakpoint(largedesktop) {
                    padding: 30px 10px;
                    height: 175px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                &:focus {
                    background-color: #e8e8e8;
                }

                i {
                    @include breakpoint(mobilephone) {
                        font-size: 46px;
                        width: 100%;
                        margin-bottom: 6px;
                    }

                    @include breakpoint(tablet) {
                        font-size: 3.5em;
                        line-height: 2;
                    }

                    @include breakpoint(largedesktop) {
                        font-size: 4.5em;
                        line-height: 1.8;
                    }
                }

                div.title {
                    font-size: 20px;
                    color: $dark !important;

                    @include breakpoint(tablet) {
                        font-size: 14px;
                        margin-top: 10px;
                    }


                    @include breakpoint(mobilephone) {
                        font-size: 12px;
                        font-weight: 600;
                        margin: 2px 0;
                        color: $base-dark;
                    }
                }

                hr {
                    border-color: #efefef;
                    width: 90%;
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                }
            }
        }
    }

    .bottom-link-row {
        padding: 0 10px;

        .well {
            background-color: $base;
            color: $dark;
            padding: 15px 10px;
            border: 0;
            border-radius: 0;
        }

        span.fa {
            font-size: 25px;
        }

        .icon-align {
            padding-left: 15px;
        }
    }

    .notification-header {
        .head > .col-md-12 {
            padding-left: 50px;
            padding-right: 50px;
        }

        p {
            color: $base-dark;
            color: #99969e;
            overflow: hidden;
            padding: 10px 20px;
            font-size: 16px;

            @include breakpoint(mobilephone) {
                padding: 10px;
                margin: 10px 0 0;
                padding-top: 2px;
                padding-left: 10px;
                font-size: 14px;
                font-weight: 700;
            }
        }

        .filter > .col-xs-6 {
            @include breakpoint(tablet) {
                width: 33%;
            }
        }
    }

    .notification-content {
        min-height: 220px;
    }

    #create-todo-buttons {
        position: absolute;
        right: 0;
        top: 15px;
        z-index: 10;

        @include breakpoint(tablet) {
            right: 10px;
        }
    }

    .configuration {
        margin-top: 20px;
        margin-bottom: 10px;

        .title {
            font-size: 22px;
             &.pop-up{
                 font-weight: 300;
             }
        }
        .sub-title{
            font-style: italic;
            color: $muted-dark;
        }
        .configure-link {
            text-decoration: underline;
            text-transform: uppercase;
            color: $primary;
            line-height: 2;
            font-weight: 600;
            cursor: pointer;
        }

        .close {
            cursor: pointer;
            font-size: 22px;
            position: absolute;
            top: 5px;
            right: 20px;
        }

        .tileItem{
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
            @include breakpoint(tablet){
                font-size: 16px;
            }
            .divItem{
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $border;
                &.no-border{
                    border-bottom: none;
                }
                .clickable{
                    cursor: pointer;
                }
            }
            .visible{
                color: $default;
                background-color: $primary;
                border: 1px solid $primary;
                height: 18px;
                width: 18px;
                line-height: 16px;
                .fa{
                    font-size: 14px;
                }
            }
            .not-visible{
                height: 18px;
                width: 18px;
                border: 1px solid $border-dark;
            }
            .not-editable{
                background-color: $default;
                border-color: $border;
                color: $border;
                cursor: auto !important;
            }
        }

        .hline{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            float: left;
        }

        .btns{
            @include breakpoint(mobilephone){
                display: flex;
            }
            .center{
                @include breakpoint(mobilephone){
                    float: left;
                    margin: 0 auto;
                }
                
            }
            .action{
                width: 90px;
                padding-top: 10px;
                padding-bottom: 10px;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
                
                @include breakpoint(mobilephone){
                    float: left;
                }
                &.save{
                    background-color: $warning;
                    color: $default;
                    border: 1px solid $warning;
                    border-radius: 4px;
                    
                }

                &.cancel{
                    border: 1px solid $base;
                    border-radius: 4px;
                    margin-right: 10px;
                    font-weight: 600;
                }
            }
        }
    }

    .dashboard-cards {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;

        .col-md-3, .col-md-6 {
            @include screen('ipad') {
                padding: 5px;
            }
        }

        .ipad-view {
            @include screen('ipad') {
                display: none;
            }
        }

        a:hover {
            color: $primary;
        }

        .compliments-card-mobile-style {
            padding-right: 0;

            @include breakpoint(tablet) {
                padding-right: 15px;
            }
        }

        .card {
            background: $default;
            height: 265px;
            padding: 15px;
            display: block;
            width: 100%;
            margin: 10px 0;

            @include breakpoint(mobilephone) {
                height: 200px;
            }

            &.charts {
                height: 220px;
            }

            @media only screen and (min-width : 992px) and (max-width : 1015px) {
                height: 280px;
            }

            .title {
                text-transform:uppercase;
                font-size: 14px;
                font-weight: 600;
                color: $dark-dark;
            }

            .sub-title {
                color: $base-dark;
                font-size: 12px;
                font-style: italic;
                font-weight: 400;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            p {
                margin-bottom: 5px;
            }

            .data-row {
                height: 65px;
                width: 100%;
                padding: 10px 0 5px 0;
                margin-left: 0px;

                @include breakpoint(mobilephone) {
                    height: 35px;
                }
            }

            .data-row-border {
                border-bottom: 1px solid #f5f5f5;
                padding: 10px 0;
            }
            
            .data-row-value {
                font-size: 32px;
                color: #00AFD1;
                font-weight: 600;
                text-align: right;
                padding: 0 5px 0 0;
                top: 35%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);

                @media only screen and (min-width : 992px) and (max-width : 1100px) {
                    font-size: 26px;
                    top: 35%;
                }

                @media only screen and (min-width : 480px) and (max-width : 780px) {
                    font-size: 26px;
                    top: 35%;
                }

                @include breakpoint(mobilephone) {
                    font-size: 18px;
                    top: 50%;
                }
            }

            .data-row-details {                
                text-align: left;
                padding: 0 0 0 5px;
            }
            .data-row-info {
                font-size: 14px;
                font-weight: 600;
                color: $dark;

                @include breakpoint(mobilephone) {
                    font-size: 12px;                    
                }
            }
            .data-row-sub-info {
                font-size: 12px;
                font-style: italic;
                color: $base-dark;

                @include breakpoint(mobilephone) {
                    display: none;                    
                }
            }


            .data-value {
                text-align: center;
                color: $primary;
                font-size: 52px;
                font-weight: 600;
                padding: 25px 0 0 0;

                @include breakpoint(mobilephone) {
                    padding: 0;
                }

                @include breakpoint(tablet) {
                    font-size: 60px;
                }

                @include breakpoint(mobileonly) {
                    font-size: 40px;
                }
            }

            .data-info {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                text-transform: uppercase;
            }

            .sub-data-info {
                color: $base-dark;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                text-align: center;
            }

            .no-data {
                position: absolute;
                top: 50%;
                left: 15%;
                right: 15%;
                text-align: center;
                color: $base-dark;
            }

            .compliment-row {
                padding: 15px 0 0 0;

                @media only screen and (min-width : 992px) and (max-width : 1100px) {
                    padding-top: 10px;
                    padding-bottom: 5px;
                }

                .circle-img {
                    border: 3px solid #e4e4e4;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }

                .details {
                    padding-left: 15px;
                    width: 75%;

                    @media only screen and (min-width : 992px) and (max-width : 1299px) {
                        width: 66%;
                    }

                    @media only screen and (min-width : 1300px) and (max-width : 1350px) {
                        width: 70%;
                    }

                    @media only screen and (min-width : 1351px) {
                        width: 72%;
                    }

                    .emp-name {
                        font-size: 16px;
                        color: $primary;
                        font-weight: 300;
                        line-height: 22px;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;

                        @include screen('ipad') {
                            font-size: 14px;
                        }
                    }

                    .create-date {
                        font-size: 10px;
                        line-height: 22px;
                        font-weight: 400;
                    }

                    .description {
                        font-size: 10px;
                        font-style: italic;
                        color: $base-dark;
                        font-weight: 400;
                        width: 160px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;

                        @media only screen and (min-width : 992px) and (max-width : 1299px) {
                            width: 115px;
                        }

                        @media only screen and (min-width : 1300px) and (max-width : 1399px) {
                            width: 130px;
                        }

                        @media only screen and (min-width : 1400px) and (max-width : 1479px) {
                            width: 150px;
                        }

                        @media only screen and (min-width : 1480px) and (max-width : 1599px) {
                            width: 200px;
                        }

                        @media only screen and (min-width : 1600px) and (max-width : 1699px) {
                            width: 130px;
                        }

                        @media only screen and (min-width : 1700px) and (max-width : 1799px) {
                            width: 150px;
                        }

                        @media only screen and (min-width : 1800px) {
                            width: 180px;
                        }
                    }
                }
            }

            .legend {
                font-size: 20px;
                font-weight: 400;
                padding: 0;

                p {
                    margin: 0;
                }

                .legend-1 {
                    margin-right: 15px;
                    padding: 0;

                    .value {
                        color: $teal;
                    }
                }

                .legend-2 {
                    width: 45%;
                    padding: 0;

                    .value {
                        color: $blue;
                    }
                }

                .name {
                    color: $base-dark;
                    font-size: 12px;
                    font-style: italic;
                    font-weight: 400;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            weather-component{
                display:flex;
                height:80%;
                align-items:center;
                > div {
                    margin:0 auto;
                }
            }
        }
    }
}
