﻿@{
    ViewBag.Title = "Financial Dashboard";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid index no-overflow quality-dashboard financial-dashboard" ng-controller="Financial.DashboardIndexCtrl as vm">
    <page-header title="{{'FINANCIAL_DASHBOARD' | translate}}"
                 s3-icon-name="quality.svg"
                 info-text="{{'FINANCIAL_DASH_TITLE_DESC' | translate}}">
    </page-header>
    <utility-header>
        <custom-buttons>
            <button class="btn btn-default text-uppercase" ng-click="vm.showConfigOptions()">
                <span class="fa fa-cog"></span> {{'CONFIGURE' | translate}}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="row dashboard-cards">
        <div class="col-md-12 col-lg-12">
            <div class="{{type.class}} padding-0" ng-if="type.visible" ng-repeat="type in vm.dashBoardTileInfo track by $index">
                @* billing *@
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="type.name == 'Billing'">
                    <a class="card audit"  href="@Url.Action("Index", "BillingOverview", new { Area = "Financials" })">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.billingAndAging.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.billingAndAging.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'BILLING' | translate }}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-0">
                                <div ng-if="!vm.reportsConfig.billingTrend.series.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                                <sbm-hc-column-chart id="FD-BillingTrends" data-ng-model="vm.reportsConfig.billingTrend" height="240" minwidth="100"
                                                     ng-if="vm.reportsConfig.billingTrend.series.length">
                            </sbm-hc-column-chart>
                        </div>
                    </a>
                </div>
                @* supplies *@
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="type.name == 'Supplies'">
                    <a class="card" href="@Url.Action("Index", "Supplies", new { Area = "Financials"})">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.supplies.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.supplies.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'SUPPLIES' | translate }}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-0">
                                <div ng-if="!vm.reportsConfig.suppliesTrend.series.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                                <sbm-hc-column-chart id="FD-suppliesTrends" data-ng-model="vm.reportsConfig.suppliesTrend" height="240" minwidth="100"
                                                     ng-if="vm.reportsConfig.suppliesTrend.series.length">
                            </sbm-hc-column-chart>
                        </div>
                    </a>
                </div>
                @* aging *@
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="type.name == 'Aging By Due Dates'">
                    <a class="card" href="@Url.Action("Index", "AccountsReceivableAging", new { Area = "Financials" })">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.billingAndAging.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.billingAndAging.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'AGING' | translate }}</div>
                        <div class="sub-title">{{'MONTHLY_TREND' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-0">
                            <div ng-if="!vm.reportsConfig.agingByDueDatesTrend.series.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                            <sbm-hc-column-chart id="FD-billingInvoicesBarChart" data-ng-model="vm.reportsConfig.agingByDueDatesTrend" height="240" minwidth="100"
                                                  ng-if="vm.reportsConfig.agingByDueDatesTrend.series.length">
                            </sbm-hc-column-chart>
                        </div>
                    </a>
                </div>
                @* STE hours *@
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="type.name == 'Straight Time Hours'">
                    <a class="card" href="@Url.Action("Index", "TimeClock", new { Area = "Financials" })?tabIndex=0">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.hours.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.hours.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'STRAIGHT_TIME' | translate }} {{'HOURS' | translate}}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-0">
                            <div ng-if="!vm.reportsConfig.straightTimeHoursTrend.xAxis.categories.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                                        <sbm-hc-line-chart id="FD-STEHoursTrends" data-ng-model="vm.reportsConfig.straightTimeHoursTrend" height="240" minwidth="100"
                                               data-ng-if="vm.reportsConfig.straightTimeHoursTrend.xAxis.categories.length">
                            </sbm-hc-line-chart>
                        </div>
                    </a>
                </div>
                @* regular hours *@
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="type.name == 'Regular Hours'">
                    <a class="card" href="@Url.Action("Index", "TimeClock", new { Area = "Financials" })?tabIndex=1">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.hours.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.hours.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'REGULAR_TIME' | translate }} {{'HOURS' | translate}}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-0">
                            <div ng-if="!vm.reportsConfig.regularHoursTrend.xAxis.categories.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                                    <sbm-hc-column-chart id="FD-regularHours" data-ng-model="vm.reportsConfig.regularHoursTrend" height="240" minwidth="100"
                                                 data-ng-if="vm.reportsConfig.regularHoursTrend.xAxis.categories.length">
                            </sbm-hc-column-chart>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>