﻿@{
    ViewBag.Title = "My Profile";
    ViewBag.HideTitle = true;
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
}

@section title{
    <page-header title="{{'My Profile'|translate}}"
             s3-icon-name="myprofile.svg"
             class="margin-horizontal-0">
    </page-header>
    <my-profile-header active-link="userProfile"></my-profile-header>
}

<div class="container-fluid user-module user-profile col-md-offset-1 col-md-10 padding-bottom-50" ng-controller="User.ProfileIndex as vm" ng-init="vm.initialize()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 outside-div">
            <h2><strong>ABOUT ME<i class="fa-edit2 clickable pull-right" ng-if="vm.canEditItems" ng-click="vm.editAboutMe()"></i></strong></h2>
            <p class="about-me-description" ng-if="!vm.showEditAboutMe" ng-bind-html="vm.user.AboutMe | trustAsHtml"></p>
            <p ng-if="!vm.user.AboutMe"> - No data to display - </p>
            <wysiwyg class="wysiwg-styling"
                     ng-if="vm.showEditAboutMe"
                     placeholder="Example: I am a big sports fan and love spending time with my family."
                     textarea-id="emp-aboutMeTextarea"
                     textarea-class="form-control margin-top-10 input-select-style"
                     textarea-height="200px"
                     textarea-name="textareaQuestion"
                     textarea-required
                     ng-model="vm.user.AboutMe"
                     enable-bootstrap-title="true"
                     textarea-menu="vm.wysiwygMenu"
                     ng-hide="vm.previewAboutMe"></wysiwyg>
            <div class="btn-save-abt-me" ng-if="vm.showEditAboutMe" ng-click="vm.saveAboutMe()">SAVE</div>
        </div>
    </div>
    <div ng-if="vm.sitesettings.windowSizes.isPhone" class="row visible-xs">
        <div class="col-xs-12 outside-div my-photos">
            <h2>
            <strong>MY PHOTOS
                <span class="empty-box clickable bootstrap-lightbox-item plus-minus-icon-style pull-right"
                     ng-if="!vm.user.socialPictures[3] && vm.canEditItems"
                     data-ng-model="vm.socialPictureFiles[0]"
                     ngf-select
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-change="vm.addSocialPicture(vm.user,vm.socialPictureFiles,$event)">
                     +
                </span>
            </strong></h2>
            <p ng-if="vm.user.socialPictures.length == 0" class="padding-left-10"> - No data to display - </p>
            <div class="social-images">
                <bootstrap-lightbox items="vm.user.socialPictures" can-edit-items="vm.canEditItems" remove-item="vm.removeSocialPicture(index, uniqueId)" gallery-name="social-images"></bootstrap-lightbox>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 outside-div">
            <h2><strong>MY HOBBIES<i class="fa-edit2 clickable pull-right" ng-if="vm.canEditItems" ng-click="vm.editMyHobbies(vm.hobbyIndex)"></i></strong></h2>
            <p ng-if="vm.userHobbies.length == 0"> - No data to display - </p>
            <div class="hobby-div-style" ng-repeat="item in vm.userHobbies track by $index" ng-if="vm.userHobbies.length > 0">
                <span class="fa-stack outer-icon-style">
                    <i class="fa fa-circle fa-stack-2x" ng-style="{'color': item.Color }"></i>
                    <i class="{{ item.Icon }} fa fa-stack-1x inner-icon-style"></i>
                </span>
                <p class="text-center hobby-name">{{ item.Name }}</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-6 outside-div">
            <h2>
                <strong>
                    MY FAMILY
                    <span class="pull-right clickable plus-minus-icon-style" ng-if="vm.canEditItems" ng-click="vm.removeFromMyFamily()">-</span>
                    <span class="pull-right clickable plus-minus-icon-style margin-right-5" ng-if="vm.canEditItems" ng-click="vm.addToMyFamily()">+</span>
                </strong>
            </h2>
            <p ng-if="vm.userFamily.length == 0"> - No data to display - </p>
            <div class="family-div-style" ng-repeat="item in vm.userFamily track by $index" ng-if="vm.userFamily.length > 0">
                <i class="{{ item.Icon }} family-inner-icon-style" ng-style="{'font-size': item.FontSize + 'px'}"></i>
                <p class="text-center member-name">{{ item.MemberLabel }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-sm-6 outside-div">
                <h2><strong>MY FAVORITE SPORTS<i class="fa-edit2 clickable pull-right" ng-if="vm.canEditItems" ng-click="vm.editMyHobbies(vm.sportsIndex)"></i></strong></h2>
                <p ng-if="vm.userSports.length == 0"> - No data to display - </p>
                <div class="hobby-div-style" ng-repeat="item in vm.userSports track by $index" ng-if="vm.userSports.length > 0">
                    <span class="fa-stack outer-icon-style">
                        <i class="fa fa-circle fa-stack-2x" ng-style="{'color': item.Color }"></i>
                        <i class="{{ item.Icon }} fa fa-stack-1x inner-icon-style"></i>
                    </span>
                    <p class="text-center hobby-name">{{ item.Name }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6 outside-div">
                <h2><strong>MY TRAVEL<i class="fa-edit2  clickable pull-right" ng-if="vm.canEditItems" ng-click="vm.editMyTravel()"></i></strong></h2>
                <p ng-if="vm.map.markers.length == 0"> - No data to display - </p>
                <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options="vm.map.options" ng-if="vm.map.markers.length > 0">
                    <ui-gmap-marker ng-repeat="m in vm.map.markers" coords="m.coords" icon="m.icon" idkey="m.id" options="m.options" ng-if="vm.map.markers.length > 0"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</div>