﻿@{
    ViewBag.Title = "Associate Scorecard KPI Builder";
    ViewBag.HideTitleBar = true;

}

<div class="container-fluid kpi-builder" data-ng-controller="Settings.KPIBuilderIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'KPI_BUILDER_TITLE'|translate}}"
                 s3-icon-name="settings.svg">
    </page-header>
    <div class="row alert alert-danger padding-15" ng-if="!vm.hasMetrics" role="alert">
        No metrics have been set up for the selected Job!
    </div>
    <div ng-if="vm.isPageDisabled" class="row padding-vertical-20">
        <p class="text-center text-warning">- Please select a site. -</p>
    </div>
    <div class="row padding-top-15 " ng-if="!vm.isPageDisabled">
        <div class="title pull-left hidden-xs hidden-sm">
            Define KPI's
        </div>
        <div class="pull-right col-md-3 hidden-xs hidden-sm">
            <select name="jd-type-select" id="jd-type-select" class="form-control"
                    ng-model="vm.selectedPosition.JobId"
                    ng-options="position.Key*1 as position.Value for position in vm.positions"
                    ng-change="vm.getKPIMetrics()">
                <option value="">Select Job</option>
            </select>
        </div>
        <p class="head">Select Job to view/set KPI metrics</p>
        <div class="col-xs-10 col-sm-6 hidden-md hidden-lg">
            <select name="jd-type-select" id="jd-type-select" class="form-control"
                    ng-model="vm.selectedPosition.JobId"
                    ng-options="position.Key*1 as position.Value for position in vm.positions"
                    ng-change="vm.getKPIMetrics()">
                <option value="">Select Job</option>
            </select>
        </div>
        <div class="clearfix"></div>
        <hr class="hline" />
    </div>
    <div class="row header padding-top-15 hidden-xs hidden-sm" ng-if="vm.selectedPosition.JobId">
        <div class="col-lg-2 col-md-2 padding-left-20">KPI NAME</div>
        <div class="col-lg-4 col-md-4">DESCRIPTION</div>
        <div class="col-lg-2 col-md-2">SCALE</div>
        <div class="col-lg-2 col-md-2">GOAL</div>
        <div class="col-lg-2 col-md-2 padding-right-20">FREQUENCY</div>
        <div class="clearfix"></div>
        <hr class="hline" />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 altRow kpiItem" ng-repeat="configItem in vm.kpiConfiguration">
            <div class="card-border">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-warning kpiName">{{configItem.Name}}</div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 description">{{configItem.Description}}</div>
                <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4 scale-div">
                    <div class="scale text-muted">
                        {{configItem.Scale}}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4 goal-div">
                    <div class="goal text-muted" ng-if="configItem.Name != 'Professionalism'">
                        <div class="pull-left action-btns" ng-click="!vm.hasMetrics ? vm.decrementGoal($index) : ''"><i class="fa fa-minus align-icons" 
                                                                                                 ng-class="{'text-muted': vm.hasMetrics}"></i></div>
                        <div class="input-goal pull-left" ng-if="configItem.Name != 'Quality Audits'">
                            {{(configItem.Scale == 'Percentage' ? configItem.PassingMetric * 100 : configItem.PassingMetric) | number : 0}}<span ng-if="configItem.Scale == 'Percentage'">%</span>
                        </div>
                        <div class="input-goal pull-left" ng-if="configItem.Name == 'Quality Audits'">
                            {{configItem.PassingMetric |  number: 1}}
                        </div>
                        <div class="pull-right action-btns" ng-click="!vm.hasMetrics ? vm.incrementGoal($index): ''"><i class="fa fa-plus align-icons" 
                                                                                                 ng-class="{'text-muted': vm.hasMetrics}"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="goal text padding-left-5 text-muted text-center" ng-if="configItem.Name == 'Professionalism'">
                        PASS
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4 frequency-div">
                    <div class="scale text-muted">
                        {{configItem.Frequency}}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row padding-bottom-20" ng-if="vm.selectedPosition.JobId && (!vm.hasMetrics || vm.saveFailed)">
        <hr />
        <a class="btn btn-warning margin-right-15 btn-save-metric" href="javascript:void(0);" ng-click="vm.save()">SAVE</a>
        <p ng-if="vm.hasMetrics" class="note">Note: Any changes will not take place till the NEXT scorecard.</p>
    </div>
</div>