﻿<div class="card-list" data-ng-class="customClass">
    <div class="row">
        <div class="card-header" ng-hide="hideHeader">

            <div class="col-lg-8 col-md-8 hidden-sm hidden-xs column">
                <p class="pull-left hidden-xs">{{ title }}</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 right column" ng-hide="hideFilter == '' || hideFilter == true">
                <input type="text" value="" ng-model="searchFilter" class="form-control input-sm filter" placeholder="{{searchPlaceholderText}}">
                <span class="fa fa-search2 icon-search"></span>
                <a href="javascript:void(0);" class="input-group-addon" ng-hide="!empFilter.length" title="clear filter" data-ng-click="empFilter = ''">
                    <span class="fa fa-times"></span>
                </a>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="row card-rows">
        <div class="col-md-12 row-no-padding">
            <div ng-transclude></div>
        </div>
    </div>
</div>
