﻿<div class="card-row" ng-repeat="employee in model | filter:searchFilter" ng-click="onRowClick($index)" data-ng-if="model.length">

    <div class="pull-left employee">
        <div class="circle-img pull-left" ng-hide="false">
            <img ng-src="{{ (employee.ProfileImage ? employee.ProfileImage : defaultProfileImage ) }}" alt="{{::employee.Name}}"/>
        </div><!-- Circle-image -->

        <div class="details pull-left" ng-hide="false">
            <p class="emp-name">{{ ::employee.Name }}</p>
            <p class="emp-title">{{ ::employee.JobDescription}}</p>
            <span class="emp-result eva-results-inc sep-status label {{employee.resultClass}}">{{employee.resultText}}</span>
        </div><!-- emp-details -->

    </div><!-- pull-left -->

    <div class="pull-right jd-status">
        {{rightContent}}
        <i class="fa-angle-right fa" data-ng-if="!rightContent"></i>
    </div><!-- PULL-RIGHT -->

    <div class="clearfix"></div>
</div>

<div data-ng-if="!model.length" class="emp-row">
    <h3 class="warning-txt text-center">
        <i class="fa fa-warning fa-2"></i> There is no data.
    </h3>
</div>
