﻿<div class="card-row" ng-repeat="item in model | filter:searchFilter" ng-click="onRowClick($index)">
    <div class="pull-left details">
        <p>{{ item.FirstHeading }}{{ item.First }} <i ng-show="{{item.IconClass}}" class="fa {{item.IconClass}}"></i></p>
        <p>{{ item.SecondHeading }}{{ item.Second.substr(0, maxChars) }}</p>
        <p>{{ item.ThirdHeading }}{{ item.Third }}</p>
    </div><!-- details -->

    <div class="link">
        <i class="{{linkClass}}"></i>
    </div><!-- PULL-RIGHT -->

    <div class="clearfix"></div>

</div>

