﻿<div class="pull-left">
    
    <div class="circle-img" ng-if="!hasTranscluded">
        <img ng-src="{{ (imgSrc ? imgSrc : defaultProfileImage ) }}" alt="{{::imgAlt}}" />
    </div><!-- Circle-image -->
    <div ng-transclude></div>
</div>