<div class="pull-left middle">
    <div class="details" ng-if="!hasTranscluded">
        <p class="emp-name">{{ ::employee.Name }}</p>
        <p class="emp-title">{{ ::employee.JobDescription}}</p>
        <span class="emp-result eva-results-inc sep-status label {{employee.resultClass}}">{{employee.resultText}}</span>
    </div>
    <div ng-transclude></div>
</div>