﻿@{
    ViewBag.Title = "Admin";
}

<div class="container-fluid" data-ng-controller="Admin.ClientCtrl as $ctrl" data-ng-init="$ctrl.initialize()">
    <div class="panel panel-default">
        <div class="panel-heading">
            Step 1: Select entity to apply settings <div class="pull-right navbar-left">
                <a href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="$ctrl.clearSelections()">Clear</a>
            </div>
        </div>
        <div class="panel-body">
            <client-selecter client="$ctrl.client" site="$ctrl.site" program="$ctrl.program" hide-program="$ctrl.hideProgram"></client-selecter>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">
            Step 2: <strong>{{$ctrl.settingsText}}</strong>
            <div class="pull-right navbar-left">
                <map-search-modal button-text="Search" latitude="$ctrl.latitude" longitude="$ctrl.longitude"></map-search-modal>
            </div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label for="briefDesc">Name:</label>
                        <input type="text" class="basic-input" id="briefDesc" placeholder="Enter Name here..." ng-model="$ctrl.selectedSetting.Name" maxlength="100" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label for="briefDesc">Longitude:</label>
                        <input type="text" class="basic-input" id="briefDesc" placeholder="Enter Longitude here..." ng-model="$ctrl.selectedSetting.Longitude" maxlength="100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label for="briefDesc">Latitude:</label>
                        <input type="text" class="basic-input" id="briefDesc" placeholder="Enter Latitude here..." ng-model="$ctrl.selectedSetting.Latitude" maxlength="100">
                    </div>
                </div>
            </div>

            <div class="row padding-bottom">
                <div class="col-md-2 wo-navi-btns">
                    <a href="javascript:void(0)" class="btn btn-default btn-block btn-md btn-primary" ng-click="$ctrl.save()">{{$ctrl.buttonText}}</a>
                </div>
            </div>


        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
             <strong> Add Timezone : {{$ctrl.settingsText}} </strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label for="briefDesc">Time Zone:</label>
                        <select type="text" class="basic-input" id="briefDesc" ng-model="$ctrl.timeZone" ng-options="c.Value for c in $ctrl.timezones track by c.Key"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label for="briefDesc">IsDSTEnabled: </label>
                        <input id="drsc" name="checkBoxName" type="checkbox" value="9" ng-model="$ctrl.IsDstEnabled">
                    </div>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-2 wo-navi-btns">
                    <a href="javascript:void(0)" class="btn btn-default btn-block btn-md btn-primary"
                       ng-click="$ctrl.saveTimeZone()">{{$ctrl.buttonText}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Add Profile and Background Image <span ng-if="$ctrl.client.Value">for {{$ctrl.client.Value}}</span> </strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label class="padding-bottom-10" for="profileImg">Profile Image:</label>
                        <div ng-if="$ctrl.existingProfile" class="padding-bottom-10">
                            <a class="btn btn-primary btn-sm small" ng-href="{{$ctrl.existingProfile}}" download="true">
                                <span class="fa fa-download"></span>

                            </a>
                            <span class="download-text">Click to download existing Image</span>
                        </div>
                        <input type="file" id="profileImgFile" data-ng-model="$ctrl.fileForProfile[0]"
                               ngf-select />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field-wrap">
                        <label class="padding-bottom-10" for="backGroundImg">Background Image:</label>
                        <div ng-if="$ctrl.existingBackground" class="padding-bottom-10">
                            <a class="btn btn-primary btn-sm small" ng-href="{{$ctrl.existingBackground}}" download="true">
                                <span class="fa fa-download"></span>
                            </a>
                            <span class="download-text">Click to download existing Image</span>
                        </div>
                        <input type="file" id="backgroundImgFile" data-ng-model="$ctrl.fileForBackground[0]"
                               ngf-select />
                    </div>
                </div>
            </div>
            <div class="row padding-bottom padding-top">
                <div class="col-md-2 wo-navi-btns">
                    <a href="javascript:void(0)" class="btn btn-default btn-block btn-md btn-primary" ng-disabled="!$ctrl.client.Value || !$ctrl.orgSetting"
                       ng-click="$ctrl.saveImages()">{{$ctrl.buttonText}}</a>
                </div>
            </div>


        </div>
    </div>
</div>
