﻿<form name="assignAreaForm" role="form" class="css-form form" data-ng-init="vm.initialize()" novalidate>
    <fieldset>
        <div class="col-md-6">
            <div class="row" data-ng-repeat="obj in vm.tenantNodeObjects">
                <div class="col-md-2 field-wrap">
                    <div class="form-group">
                        <label class="control-label">{{ ::obj.Name }} </label>
                    </div>
                </div>
                <div class="col-md-10 field-wrap">
                    <select class="form-control" data-ng-model="obj.SelectedValue"
                            data-ng-change="vm.onOptionChange($event, $index, obj)"
                            data-ng-options="r.Id*1 as r.Name for r in obj.Collection"></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" data-ng-show="vm.tenantNodeObjects[3].Name=='Floor' && vm.tenantNodeObjects[3].SelectedValue">
                <div class="col-md-2 field-wrap">
                    <div class="form-group">
                        <label class="control-label">Areas List</label>
                    </div>
                </div>
                <div class="col-md-6 field-wrap">
                    <multiselect name="areas[]" class="input-xlarge" multiple="true"
                                 options="r.Id*1 as r.Name for r in vm.tenantNodeObjectLookups[0].Collection"
                                 template-url="multiselect.tmpl.html"
                                 data-ng-model="vm.activeFloorAreaAssignment"></multiselect>
                </div>
                <div class="col-md-4 field-wrap">
                    <button class="btn btn-success pull-right" data-ng-click="vm.saveAssignments($event, vm.tenantNodeObjects[3].SelectedValue)">Save Assignment</button>
                </div>
            </div>
            <!-- Assignments -->
        </div>

    </fieldset>
</form>