﻿<div class="modal-body" ng-init="vm.initialize()">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-clean well-sqaured">
                <h4 class="padding-left">Icon List</h4>
                <div class="form-group padding">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" placeholder="Filter..." ng-model="search" class="form-control input-sm filter ng-pristine ng-valid ng-empty ng-touched">
                        </div>
                        <button class="btn btn-default pull-right" ng-click="vm.closeModal()">Cancel</button>
                    </div>
                    <hr />
                        <div class="row">
                            <ul id="icons" >
                                <li class="text-center thumbnail col-md-3" ng-repeat="item in vm.iconClasses | filter:search">
                                    <span ng-click="vm.selectIcon(item)">
                                        <span class="fa fa-4x fa-{{ item }}"></span><br /> {{item}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> 