﻿<form name="tenantNodeForm" role="form" class="css-form form" data-ng-init="vm.initialize()" novalidate>
    <fieldset>
        <div class="col-lg-12 col-md-12">
            <div class="row" data-ng-repeat="obj in vm.tenantNodeObjects">
                <div class="col-md-1 field-wrap">
                    <div class="form-group">
                        <label class="control-label">{{ ::obj.Name }} </label>
                    </div>
                </div>
                <div class="col-md-11 field-wrap">
                    <div class="input-group">
                        <span class="input-group-addon" data-ng-if="obj.SelectedValue" data-ng-click="vm.editEntry($event, obj)">
                            <a href="javascript:void(0);" title="Edit">
                                <i class=" fa fa-pencil fa-1"></i>
                            </a>
                        </span>
                        <span class="input-group-addon">
                            <a href="javascript:void(0);" title="Add" data-ng-click="vm.addEntry($event, $index, obj)">
                                <i class=" fa fa-plus fa-1"></i>
                            </a>
                        </span>
                        <span class="input-group-addon" data-ng-if="obj.SelectedValue" data-ng-click="vm.deleteEntry($event, obj)">
                            <a href="javascript:void(0);" title="Delete">
                                <i class=" fa fa-trash fa-1"></i>
                            </a>
                        </span>
                        <div class="form-group">
                            <select class="form-control" data-ng-model="obj.SelectedValue"
                                    data-ng-change="vm.onOptionChange($event, $index, obj)"
                                    data-ng-options="r.Id*1 as r.Name + ' ('+r.ChildCount+')' for r in obj.Collection"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>