﻿<div class="form-wrap">
    <form class="form form-horizontal" novalidate="">
        <fieldset>
            <div class="col-md-6 field-wrap">
                <div class="input-group">
                    <input name="searchCriteria" type="text" class="form-control" data-ng-model="vm.searchCriteria" placeholder="Search" data-ng-change="vm.searchCriteriaChange()"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="vm.reset($event)" data-ng-disabled="!vm.searchCriteria">Reset</button>
                        <button class="btn btn-success" type="button" data-ng-click="vm.search($event)" data-ng-disabled="!vm.searchCriteria">Search</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-md-6 field-wrap">
                <a class="btn btn-success add-btn pull-right" href="javascript:void(0);"><i class="fa fa-plus fa-1"></i><span class="plus-btn" data-ng-click="vm.addEditArea($event)">Add Area</span></a>
            </div>
        </fieldset>
    </form> 
</div>

<div class="text-center empty-wrap" data-ng-if="!vm.areas.length">No data to display</div>
<table id="programs" class="table table-bordered table-striped details-grid">
    <thead data-ng-if="vm.areas.length">
        <tr>
            <th sortable-grid by="vm.order" reverse="vm.reverse" order="'Id'" data-ng-click="vm.getAreasReset()">AreaId</th>
            <th sortable-grid by="vm.order" reverse="vm.reverse" order="'Name'" data-ng-click="vm.getAreasReset()">Area Name</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody data-infinite-scroll="vm.getAreas()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
        <tr data-ng-repeat="area in vm.areas">
            <td>{{ ::area.Id }}</td>
            <td>{{ area.Name }}</td>
            <td class="text-center">
                <a href="javascript:void(0);" class="edit btn btn-sm btn-primary" data-ng-click="vm.addEditArea($event, area)">
                    <i class=" fa fa-pencil fa-1"></i>
                </a>
                <!--<a href="javascript:void(0);" class="edit btn btn-sm btn-primary" data-ng-click="vm.deleteArea($event, area)">
                    <i class=" fa fa-trash fa-1"></i>
                </a>-->
            </td>
        </tr>
    </tbody>
</table>
