﻿<div class="form-wrap">
    <form class="form form-horizontal" novalidate="">
        <fieldset>
            <div class="col-md-6 field-wrap">
                <div class="input-group">
                    <input name="searchCriteria" type="text" class="form-control" data-ng-model="vm.searchCriteria" placeholder="Search (must be at least 3 characters)" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-reset" type="button" data-ng-click="vm.reset($event)" data-ng-disabled="!vm.searchCriteria">Reset</button>
                        <button class="btn btn-success btn-save" type="button" data-ng-click="vm.search($event)" data-ng-disabled="!vm.searchCriteria || vm.searchCriteria.length < 3">Search</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-md-6 field-wrap">
                <a class="btn btn-success add-btn pull-right" href="javascript:void(0);">
                    <i class="fa fa-plus fa-1"></i>
                    <span class="plus-btn" data-ng-click="vm.addEditUser($event, null)">Add User</span>
                </a>
            </div>
        </fieldset>
    </form>
</div>

<div class="text-center empty-wrap" data-ng-if="!vm.users.length">No data to display</div>
<table id="users" class="table table-bordered table-striped details-grid">
    <thead data-ng-if="vm.users.length">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody data-infinite-scroll="vm.getUsers()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
        <tr data-ng-repeat="user in vm.users track by $index" ng-hide="user.Id == 1">
            <td>{{ user.Id }}</td>
            <td>{{ user.FirstName }}</td>
            <td>{{ user.LastName }}</td>
            <td>{{ user.UserName }}</td>
            <td class="text-center">
                <a href="javascript:void(0);" class="edit btn btn-sm btn-primary" data-ng-click="vm.addEditUser($event, user)">
                    <i class=" fa fa-pencil fa-1"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
