﻿@import "../../../../css/Common/globals";

.course-card-component{
    background: $default;
    margin: 10px 0;
    cursor: pointer;
    img{
        width: 100%;
        height: auto;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .course-metrics{
        font-size: 12px;
        padding: 17px 15px;
        font-weight: 300;
        color: $dark-dark;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .name{
            color: $primary;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .metric{
            padding-right:5px;
        }
    }
    
}
