﻿@{
    ViewBag.Title = "Performance by Location";
    ViewBag.HideTitleBar = true;
}

<style>
    body {
        background: white;
    }
</style>

<div class="governance maps container-fluid" data-ng-controller="Governance.MapIndexCtrl as $ctrl" data-ng-init="$ctrl.initialize()">
    <page-header title="{{'Performance by Location'|translate}}"
                 s3-icon-name="governance.svg"
                 info-text="{{'See detailed billing descriptions and statistics for services. View billing by the programs your customers are subscribed in.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
    </page-header>
    <div class="row">
        <div class="col-md-12">
            <div class="map-head margin-bottom-15 padding-top-10" ng-if="$ctrl.tabs[$ctrl.currentTab].toggles || $ctrl.tabs[$ctrl.currentTab].showLegend">
                <div class="toggle-buttons pull-left">
                    <div class="btn-group pull-left" ng-if="$ctrl.tabs[$ctrl.currentTab].toggles">
                        <button class="btn btn-default"
                                uib-btn-radio="{{$index}}"
                                ng-click="$ctrl.toggleChange($index)"
                                ng-repeat="toggle in $ctrl.tabs[$ctrl.currentTab].toggles" 
                                ng-model="$ctrl.tabs[$ctrl.currentTab].activeToggle">
                            {{toggle.text}}
                        </button>
                    </div>
                </div>

                <div class="legend pull-right" ng-if="$ctrl.tabs[$ctrl.currentTab].showLegend" ng-class="{ 'legend-align': $ctrl.tabs[$ctrl.currentTab].toggles }">
                    <div class="passing">
                        <span class="square bg-success"></span>
                        Passing
                    </div>
                    <div class="failing">
                        <span class="square bg-danger"></span>
                        Failing
                    </div>
                    <div class="no-data" 
                         ng-if="$ctrl.tabs[$ctrl.currentTab].name != $ctrl.staticTabs[$ctrl.staticTabs.Complaints] && $ctrl.tabs[$ctrl.currentTab].name != $ctrl.staticTabs[$ctrl.staticTabs.Safety]">
                        <span class="square bg-default"></span>
                        NO DATA
                    </div>
                </div>
            </div>

            <div class="tab-map-wrapper" ng-class="{ 'tab-align': !$ctrl.tabs[$ctrl.currentTab].toggles && !$ctrl.tabs[$ctrl.currentTab].showLegend }">
                <uib-tabset class="col-md-2 vertical-tabs tabs-left padding-bottom-20"
                            active="$ctrl.currentTab"
                            vertical="true"
                            ng-if="!$ctrl.sitesettings.windowSizes.isTiny">
                    <uib-tab ng-repeat="tab in $ctrl.tabs" ng-click="$ctrl.tabChange($index)" index="$index">
                        <uib-tab-heading>
                            <i class="icon {{tab.icon}}"></i>
                            <span>
                                {{tab.name}}
                            </span>
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>

                <select ng-if="$ctrl.sitesettings.windowSizes.isTiny"
                        class="form-control"
                        ng-options="$ctrl.tabs.indexOf(item) as item.name for item in $ctrl.tabs"
                        ng-change="$ctrl.tabChange()"
                        ng-model="$ctrl.currentTab"></select>



                <map-full-screen class="col-md-10 padding-horizontal-0"
                                 markers="$ctrl.tabs[$ctrl.currentTab].markers"
                                 map-options="{mapTypeControl: false, streetViewControl: false}"
                                 style="$ctrl.style"
                                 update-bounds="$ctrl.updateBounds"
                                 locations="$ctrl.locations"></map-full-screen>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="header-content">
            <span class="header">{{ $ctrl.tabs[$ctrl.currentTab].name == $ctrl.staticTabs[$ctrl.staticTabs.Supplies] ? 'Supply Spend' : $ctrl.tabs[$ctrl.currentTab].name }} by Site:</span>
            <span class="month-range-title">{{ $ctrl.monthsRangeList[0].Value }}
                <span ng-if="$ctrl.monthsRangeList.length > 1"> - {{ $ctrl.monthsRangeList[$ctrl.monthsRangeList.length-1].Value }}
                </span>
            </span>
        </div>
        <div class="body-content" ng-if="!$ctrl.isAudits">
            <table class="table">
                <thead class="head">
                    <tr>
                        <th class="left-title">LOCATION</th>
                        <th ng-if="$ctrl.monthsRangeList.length > 1" data-ng-repeat="month in $ctrl.monthsRangeList" class="hidden-xs hidden-sm right-content">{{ month.Value | uppercase }}</th>
                        <th class="right-content last">{{ $ctrl.isSurveys ? 'TOTAL AVERAGE' : 'TOTAL' }}</th>
                    </tr>
                </thead>
                <tbody class="body">
                    <tr class="data-row" data-ng-repeat="data in $ctrl.gridData">
                        <td class="left-title">{{ data.SiteName }}</td>
                        <td ng-if="$ctrl.monthsRangeList.length > 1" data-ng-repeat="item in data.CountsByMonth" class="hidden-xs hidden-sm data-content">{{ item.Count }}</td>
                        <td class="data-content last">{{ data.Total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>




        <div data-ng-repeat="program in $ctrl.programs" ng-if="$ctrl.isAudits">
            <div class="table-title-well" data-ng-click="$ctrl.getAuditsDataByProgram($event, program)">
                <p>
                    <i class="fa fa-caret-right"></i> {{ ::program.Value }}
                </p>
            </div>

            <div uib-collapse="!program.IsToggled" class="body-content">
                <table class="table">
                    <thead class="head" data-ng-if="program.Locations.Data.length">
                        <tr>
                            <th class="left-title">{{'Location' | translate}}</th>
                            <th class="right-content hidden-xs hidden-sm"><span class="hidden-xs hidden-sm">{{'Total' | translate}}</span> <span>{{'Audits' | translate}}</span></th>
                            <th class="right-content hidden-xs hidden-sm">{{'Avg.Score' | translate}}</th>
                            <th class="right-content hidden-xs hidden-sm">{{'Internal' | translate}}</th>
                            <th class="right-content">{{'Avg. Internal' | translate}}</th>
                            <th class="right-content hidden-xs hidden-sm">{{'Joint' | translate}}</th>
                            <th class="right-content mobile-last">{{'Avg. Joint' | translate}}</th>
                            <th class="hidden-xs hidden-sm right-content last">{{'Last Audit' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody class="body">
                        <tr class="data-row" data-ng-repeat="location in program.Locations.Data">
                            <td class="left-title">{{ ::location.Name }}</td>
                            <td class="data-content hidden-xs hidden-sm">{{ location.TotalAuditCount == null ? '--' : location.TotalAuditCount }}</td>
                            <td class="data-content hidden-xs hidden-sm">{{ location.TotalAverageScore == null ? '--'  : location.TotalAverageScore | number : 2 }}</td>
                            <td class="data-content hidden-xs hidden-sm">{{ location.InternalAuditCount == null ? '--' : location.InternalAuditCount }}</td>
                            <td class="data-content">{{ location.InternalAverageScore == null ? '--' : location.InternalAverageScore | number : 2 }}</td>
                            <td class="data-content hidden-xs hidden-sm">{{ location.JointAuditCount == null ? '--' : location.JointAuditCount }}</td>
                            <td class="data-content mobile-last">{{ location.JointAverageScore == null ? '--' : location.JointAverageScore | number : 2 }}</td>
                            <td class="hidden-xs data-content last-audit hidden-xs hidden-sm">{{ location.LastAuditDate == null ? '--' : location.LastAuditDate | date:'MM/dd/yyyy' || '--' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>