﻿@import "../Common/globals";
@import "../Common/bootstrap-overrides";

#page-content-wrapper{
    padding-top: 0 !important;
}

#title-header-panel{
    display:none;
}

.contact-page {
    padding: 0;
    overflow: hidden;
    .title{
        font-size: 34px;
        font-weight: 300;
        color: #00aed0;

    }

    .no-gutter {
        padding: 0 !important;

        @include breakpoint(mobilephone) {
            padding: 0 !important;
        }
    }

    .head {
        background-color: #ffffff;
        color: #3aadda;
        font-size: 30px;
        padding-left: 23px;
        padding-bottom: 20px;
        margin-bottom: 20px;

        @include breakpoint(mobilephone) {
            font-size: 20px;
        }

        h3{
            color:#3aadda;
            font-weight:300;
            font-size:26px
        }

        .head-icon {
            position: absolute;
            /*left: -12px;
                bottom: -12px;*/
            font-size: 50px;
            color: rgba(0, 0, 0, 0.1);
            padding-bottom: 10px;
        }

        .description {
            color: $dark;
            font-size: 16px;
            font-weight: 300;
            padding:10px 20px 10px 0;
            line-height: 28px;
            @include breakpoint(tablet) {
                font-size: 16px;
            }
        }
    }

    .panel-body {
        padding: 20px 0 20px 0;
        background-color: #E5E9EC;

        @include breakpoint(mobilephone) {
            padding: 10px 0 0 0;
        }

        
    }
    .supervisor-info {
            padding: 25px 0 25px 20px;
            background-color: #ffffff;

            .circle-img {
           
                border: #ebebeb 4px solid;
                img {
                    width: 100%;
                    height: 100%;
                    
                }

                .fa {
                        font-size: 40px;
                        padding-left: 16px;
                        color:#999c9e;
                        border-width: 1px;
                        text-align: center;
                        line-height: 70px;
                    @include breakpoint(tablet) {
                        font-size: 50px;
                        line-height: 90px;
                    }
                }

                @include breakpoint(mobilephone) {
                    height: 70px;
                    width: 70px;
                }
            }

            .supervisor-name {
                padding-top: 16px;
                font-weight: 600;
                font-size: medium;
                color: #00aed0;

                @include breakpoint(mobilephone) {
                    font-size: 16px;
                    padding-top: 5px;
                }
            }

            .supervisor-title {
                padding-top: 5px;
                font-size: 14px;
                font-weight: 400;
                color: $dark;
                font-style: italic;

                @include breakpoint(mobilephone) {
                    font-size: 12px;
                    padding-top: 0;
                    
                }
            }
        }

        .supervisor-contact {
            background-color: #f5f5f5;
            padding: 0 15px 0 15px;
            text-align: center;
            .border-right {
                border-right: 1px solid #ddd;
            }

            .contact {
                font-weight: 600;
                color: #999c9e;
                text-align: center;
                font-size: 16px;
                padding: 10px 0 10px 0;

                .padding-right {
                    padding-right: 3px !important;
                }

                @include breakpoint(mobilephone) {
                    font-size: small;
                }
                @include breakpoint(desktop){
                    font-size: 16px;
                }
                @include breakpoint(tablet){
                    font-size: 14px;
                }
            }
        }
    .border-right {
        border-right: 1px solid #eee;
    }

    .remove-padding {
        padding: 0;
    }

    .remove-padding-lr {
        padding-left: 0;
        padding-right: 0;
        background-color: #E5E9EC;
    }

    .hide-phone {
        @include breakpoint (mobilephone) {
            display: none;
        }
    }

    .hide-desktop {
        @include breakpoint (tablet) {
            display: none;
        }

        @media (min-width: 479px) {
            display: none;
        }
    }

    .padding-tb {
        @include breakpoint (mobilephone) {
            padding: 10px 0 10px 0 !important;
        }
    }
    .benefits-align{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
