﻿<div class="main" ng-style="{'width': $root.navWidth , 'left': $root.navLeft }">
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                <i class="fa fa-bars" ng-click="$root.toggleSideBar()"></i>
            </uib-tab-heading>

            <ul class="menu-nav nav list-unstyled">
                <li class="nav-item" ng-repeat="menuItem in $ctrl.mainNavItems" ng-if="menuItem.Visible" ng-class="{'active': menuItem.isActive }">
                    <a class="clickable"
                       ng-href="{{menuItem.Url}}"
                       ng-click="$ctrl.menuItemClick($event, $index)"
                       ng-class="{'hasChildren':menuItem.ChildrenItems.length, 'selected': !menuItem.isCollapsed}">
                        <div class="icon-col">
                            <i class="fa {{menuItem.IconName}}"></i>
                        </div>
                        <div class="name"><span class="">{{menuItem.Name}}</span></div>
                        <div class="clearfix"></div>
                    </a>
                    <ul uib-collapse="menuItem.isCollapsed" ng-class="menuItem.isSubLinkActive ? 'active' : 'collapse'" ng-if="!$ctrl.isMobile && menuItem.ChildrenItems.length">
                        <li ng-repeat="subMenuItem in menuItem.ChildrenItems" ng-if="subMenuItem.Visible">
                            <a ng-href="{{subMenuItem.Url}}" ng-class="{'active': subMenuItem.isActive, 'main-active': menuItem.isActive }">
                                <span>{{subMenuItem.Name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div uib-collapse="menuItem.isMobileCollapsed" class="mobile-sub-nav" ng-repeat="menuItem in $ctrl.mainNavItems" ng-if="$ctrl.isMobile && menuItem.ChildrenItems.length"
                 ng-class="menuItem.isSubLinkActive ? 'active' : 'collapse'">
                <h3 class="text-warning padding-left-15 clickable" ng-click="$ctrl.menuItemClick($event, $index)"><i class="fa fa-chevron-left text-warning"></i> {{menuItem.Name}}</h3>
                <ul class="list-unstyled menu-nav nav">
                    <li class="nav-item" ng-repeat="subMenuItem in menuItem.ChildrenItems" ng-if="subMenuItem.Visible">
                        <a ng-href="{{subMenuItem.Url}}" ng-class="{'active': subMenuItem.isActive }">
                            <span>{{subMenuItem.Name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </uib-tab>
        <!--<uib-tab>
            <uib-tab-heading>
                <i class="fa fa-location2"></i>
            </uib-tab-heading>
        </uib-tab>-->
    </uib-tabset>

    <div class="bottom-nav">
        <div class="popup-menus">
            <div uib-collapse="menuItem.isCollapsed" class="sub-menu" ng-repeat="menuItem in $ctrl.bottomNavItems" ng-if="menuItem.ChildrenItems.length"
                 ng-class="menuItem.isSubLinkActive ? 'active' : 'collapse'">
                <div class="wrapper">
                    <div class="icon-col" ng-click="$ctrl.bottomMenuItemClick($event,$index)" ng-class="{'active': menuItem.isActive}">
                        <i class="fa fa-angle-double-down"></i>
                    </div>
                    <div class="name padding-left-5"><span ng-class="{'text-warning': menuItem.isActive}">{{menuItem.Name}}</span></div>

                    <ul class="list-unstyled">
                        <li class="" ng-repeat="subMenuItem in menuItem.ChildrenItems" ng-if="subMenuItem.Visible">
                            <a ng-href="{{subMenuItem.Url}}" ng-class="{'active': subMenuItem.isActive, 'main-active': menuItem.isSubLinkActive}">
                                <span>{{subMenuItem.Name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="menu-nav nav icon-menu list-unstyled">
            <li class="nav-item" ng-repeat="menuItem in $ctrl.bottomNavItems" ng-if="menuItem.Visible" ng-class="{'active': menuItem.isActive }">
                <a ng-href="{{menuItem.Url}}"
                   ng-click="$ctrl.bottomMenuItemClick($event,$index)">
                    <div class="icon-col">
                        <i class="fa {{menuItem.IconName}}" ng-class="{'active': menuItem.isSubLinkActive}"></i>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="backdrop clickable" ng-show="$root.activeSide" ng-click="$root.toggleSideBar()">
    <i class="fa fa-times text-warning close-menu"></i>
</div>
