﻿@import "../../../../css/Common/_globals";
@import "../../../../css/Common/_bootstrap-overrides";

.weather-component,weather-component{

    .small{
        .icon{}
        .info{}
    }

    .large{
        .icon span{
            
        }
        .info{
            .temp{
                font-size:32px;
                color:$base-dark;
            }
            .text{

            }
        }
    }
}