﻿@{

}

<div class="container-fluid contact-page no-gutter" data-ng-controller="ContactPageIndexCtrl as vm">
    
        <div class="head row">

            <div class="col-sm-12">
            	<div class="title">Contacts</div>
                <div class="description hidden-sm hidden-xs">If you have any questions or encounter any issues on your job, please contact one of the<br/> individuals listed below to help you.</div>
                <div class="description hide-desktop hidden-xs">If you have any questions or encounter any issues on your job, please contact one of the individuals listed below to help you.</div>
            </div>
        </div>

        
            <div class="row page-content padding-top">
               
                    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6" ng-if="vm.supervisorName">
                        <div class="panel panel-default ">
                            <div class="supervisor-info panel-heading col-xs-12">
                                <div class="circle-img col-xs-4 remove-padding">
                                    <img ng-src="{{ vm.supervisorImage || '@Url.Content("~/content/img/user.jpg")' }}" />
                                </div>
                                <div class="supervisor-name col-xs-8">
                                    {{ vm.supervisorName }}
                                    <div class="supervisor-title">
                                        {{vm.supervisorTitle}}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="supervisor-contact panel-heading hide-phone col-xs-12">
                                <a href="mailto: {{vm.supervisorEmail}} ?subject=Hello" class="col-md-6 col-sm-6 col-xs-6 contact border-right">
                                    <i class="fa fa-envelope-o padding-right"></i>
                                    Email
                                </a>
                                <div class="col-md-6 col-sm-6 col-xs-6 contact">
                                    Phone: {{vm.supervisorPhone}}
                                </div>
                            </div>
                            <div class="supervisor-contact panel-heading hide-desktop col-xs-12 col-sm-6">
                                <a href="mailto: {{vm.supervisorEmail}}  ?subject=Hello" class="col-xs-4 contact border-right">
                                    <i class="fa fa-envelope-o padding-right"></i>
                                    Email
                                </a>
                                <a href="tel: +1{{vm.supervisorPhone}}" class="col-xs-4 contact border-right">
                                    <i class="fa fa-phone padding-right"></i>
                                    Call
                                </a>
                                <a href="sms: {{vm.supervisorPhone}}" class="col-xs-4 contact">
                                    <i class="fa fa-comment-o padding-right"></i>
                                    Text
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6" ng-if="vm.supervisorsBossName">
                        <div class="panel panel-default ">
                            <div class="supervisor-info panel-heading col-xs-12">
                                <div class="circle-img col-xs-4 remove-padding">
                                    <img ng-src="{{ vm.supervisorsBossImage || '@Url.Content("~/content/img/user.jpg")' }}" />
                                </div>
                                <div class="supervisor-name col-xs-8">
                                    {{ vm.supervisorsBossName }}
                                    <div class="supervisor-title">
                                        {{ vm.supervisorsBossTitle }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="supervisor-contact panel-heading hide-phone col-xs-12">
                                <a href="mailto: {{ vm.supervisorsBossEmail }} ?subject=Hello" class="col-md-6 col-sm-6 col-xs-6 contact border-right">
                                    <i class="fa fa-envelope-o padding-right"></i>
                                    Email
                                </a>
                                <div class="col-md-6 col-sm-6 col-xs-6 contact">
                                    Phone: {{ vm.supervisorsBossPhone }}
                                </div>
                            </div>
                            <div class="supervisor-contact panel-heading hide-desktop col-xs-12">
                                <a href="mailto: {{ vm.supervisorsBossEmail }} ?subject=Hello" class="col-xs-4 contact border-right">
                                    <i class="fa fa-envelope-o padding-right"></i>
                                    Email
                                </a>
                                <a href="tel: +1{{ vm.supervisorsBossPhone }}" class="col-xs-4 contact border-right">
                                    <i class="fa fa-phone padding-right"></i>
                                    Call
                                </a>
                                <a href="sms: {{ vm.supervisorsBossPhone }}" class="col-xs-4 contact">
                                    <i class="fa fa-comment-o padding-right"></i>
                                    Text
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default ">
                            <div class="supervisor-info panel-heading col-xs-12">
                                <div class="circle-img col-xs-4 remove-padding">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="supervisor-name col-xs-8">
                                    SBM Help Hotline
                                    <div class="supervisor-title">
                                        Call Center Hours: 24/7
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="supervisor-contact panel-heading padding-tb col-xs-12 hide-desktop">
                                <a href="tel:1-877-235-6039" class="contact">
                                    Phone: 1-877-235-6039
                                </a>
                            </div>
                            <div class="supervisor-contact panel-heading col-xs-12 hide-phone">
                                <div class="contact">
                                    Phone: 1-877-235-6039
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                

                
                    <div class="col-md-6 col-lg-4 col-sm-6  col-xs-12">
                        <div class="panel panel-default ">
                            <div class="supervisor-info panel-heading col-xs-12">
                                <div class="circle-img col-xs-4 remove-padding">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="supervisor-name col-xs-8">
                                    SBM Safety Hotline
                                    <div class="supervisor-title">
                                        Call Center Hours: 24/7
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="supervisor-contact panel-heading padding-tb col-xs-12 hide-desktop">
                                <a href="tel:1-877-699-1978" class="contact">
                                    Phone: 1-877-699-1978
                                </a>
                            </div>
                            <div class="supervisor-contact panel-heading col-xs-12 hide-phone">
                                <div class="contact">
                                    Phone: 1-877-699-1978
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default ">
                            <div class="supervisor-info panel-heading col-xs-12">
                                <div class="circle-img col-xs-4 remove-padding">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="supervisor-name col-xs-8">
                                    SBM Benefits Home
                                    <div class="supervisor-title">
                                        Call Center Hours: 24/7
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="supervisor-contact panel-heading col-xs-12 hide-desktop">
                                <a href="mailto: benefits@sbmcorp.com ?subject=Hello" class="col-xs-6 contact border-right">
                                    <i class="fa fa-envelope-o padding-right"></i>
                                    Email
                                </a>
                                <a href="tel: 1-844-220-3900" class="col-xs-6 contact">
                                    <i class="fa fa-phone padding-right"></i>
                                    Call
                                </a>
                            </div>
                            <div class="supervisor-contact panel-heading col-xs-12 hide-phone benefits-align">
                                <a href="mailto: benefits@sbmcorp.com ?subject=Hello" class="col-xs-6 contact border-right">
                                    <i class="fa fa-envelope-o padding-right"></i>
                                    Email
                                </a>
                                <div class="col-xs-6 contact">
                                    Phone: 1-844-220-3900
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    
                @*<div class="col-md-6 col-lg-4 col-xs-12 col-sm-6">
                    <div class="panel panel-default ">
                        <div class="supervisor-info panel-heading col-xs-12">
                            <div class="circle-img col-xs-4 remove-padding">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="supervisor-name col-xs-8">
                                Insite Help
                                <div class="supervisor-title">
                                    Call Center Hours: 24/7
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="supervisor-contact panel-heading hide-phone col-xs-12">
                            <a href="mailto: SBMinsite-Support@sbmcorp.com ?subject=Hello" class="col-md-6 col-sm-6 col-xs-6 contact border-right">
                                <i class="fa fa-envelope-o padding-right"></i>
                                Email
                            </a>
                            <div class="col-md-6 col-sm-6 col-xs-6 contact">
                                Phone: 1-916-764-2471
                            </div>
                        </div>
                        <div class="supervisor-contact panel-heading hide-desktop col-xs-12">
                            <a href="mailto: SBMinsite-Support@sbmcorp.com ?subject=Hello" class="col-xs-4 contact border-right">
                                <i class="fa fa-envelope-o padding-right"></i>
                                Email
                            </a>
                            <a href="tel: +1916-764-2471" class="col-xs-4 contact border-right">
                                <i class="fa fa-phone padding-right"></i>
                                Call
                            </a>
                            <a href="sms: 916-764-2471" class="col-xs-4 contact">
                                <i class="fa fa-comment-o padding-right"></i>
                                Text
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>*@

                
            </div>
</div>