﻿@import '../Common/_globals';


.user-module {
    background-color: $default;
    // DW: Potentially the new style for buttons application-wide
    .btn {
        border-radius: 3px;
        padding: 8px 10px;
        font-size: .85rem;
        font-weight: 500;
        min-width:80px
    }

    .nav-tabs {
        padding: 0 10px;

        li {
            min-width: 100px;

            a {
                text-align: center;
                text-transform: uppercase;
                color: $base-dark;
            }

            &.active {
                a {
                    color: $dark;
                }
            }
        }
    }

    .tab-content {
        padding: 0 20px;
    }
    
    input[type="checkbox"] {

        &:disabled + label {
            opacity: 0.65;

            &::before {
                background-color: $base-dark;
                cursor: not-allowed;
                border-color: $base;
            }

            &::after {
                cursor: not-allowed;
                color: $dark;
            }
        }
    }
    // end potential new global styles
    .angular-google-map-container {
        height: 275px;
    }

    .my-profile-header .my-profile-page-heading {
        border-bottom: 0;
    }

    .title-description {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        padding-bottom: 30px;
        color: #393f44;
        padding-left: 20px;
    }

    .photo-container {
        padding-bottom: 20px;
        padding-left: 120px;

        .myconfig-circle-img {
            height: 90px;
            width: 90px;
            margin-left: 20px;
            position: absolute;
            top: 0;
            left: 0;

            @include breakpoint(mobileonly) {
                margin-left: 15px;
            }

            border-radius: 50%;
            border: 4px solid $default;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .emp-details {
            width: 100%;
            padding-left: 20px;

            @include breakpoint(mobilephone) {
                padding-left: 10px;
            }

            @include breakpoint(mobileonly) {
                padding-left: 5px;
            }

            .emp-name {
                a {
                    color: $dark;
                }

                font-size: 16px;
                font-weight: 600;

                @include breakpoint(mobilephone) {
                    padding-bottom: 10px;
                }
            }

            .photo-desc {
                font-size: 14px;
                font-weight: 400;
                color: $dark;
                font-style: italic;

                @include breakpoint(tablet) {
                    margin-bottom: 15px;
                }

                @include breakpoint(desktop) {
                    margin-bottom: 0;
                }
            }
        }

        .photo-action {
            width: 100%;
            padding-left: 20px;
            padding-top: 15px;
        }
    }

    .outside-div {
        padding: 20px;

        @include breakpoint(mobilephone) {
            padding-right: 15px;
            padding-left: 15px;
        }

        .social-images {
            margin-top: 15px;

            .bootstrap-lightbox-item {
                float: left;
                position: relative;
                width: 50%;
                padding: 10px;

                .remove {
                    position: absolute;
                    right: 13px;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    height: 100px;
                }
            }
        }
    }

    .sub-title {
        color: $dark;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .sub-title-desc {
        color: $dark;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
    }

    textarea.input-select-style {
        height: 105px;
    }

    .btn-save {
        margin-left: 10px;
        background-color: $dark;
        border: none;
        border-radius: 4px;
        color: $default;
        font-size: 14px;
        font-weight: 600;
        height: 40px;

        @include breakpoint(mobilephone) {
            width: 22%;
        }

        @include breakpoint(mobileonly) {
            width: 21%;
        }

        @include breakpoint(tablet) {
            width: 13%;
        }

        @include breakpoint(desktop) {
            width: 7%;
        }
    }

    .h-line {
        margin: 0;
    }

    #notifications-config{
        .title{
            font-weight:600;
        }
    }

    #social-photos {
        & li {
            overflow: hidden;

            > span {
                width: 150px;
                height: 150px;
                display: block;
                background-size: cover;
            }

            a span {
                padding: 60px;
            }

            .remove {
                opacity: 0.8;
                text-shadow: 0 1px 6px rgba(0,0,0,0.7);

                &:hover {
                    opacity: 1;
                    text-shadow: 0 1px 6px rgba(0,0,0,1);
                }
            }
        }
    }

    &.user-profile {
        h2 {
            border-bottom: 1px solid $base-dark;
            padding-bottom: 10px;
            font-size: 16px;

            strong {
                font-weight: 600;
                color: $dark;
            }
        }

        .about-me-description {
            ul {
                padding-left: 20px;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .my-photos {
            padding-left: 5px;
            padding-right: 5px;

            h2 {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .plus-minus-icon-style {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            color: black;
            border: 1px solid $black;
            text-align: center;
        }

        .btn-save-abt-me {
            color: white;
            background-color: $base-dark;
            font-size: 14px;
            font-weight: 600;
            width: 65px;
            padding: 8px 0;
            float: right;
            margin-top: 10px;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
        }

        .clickable {
            cursor: pointer;
        }

        .hobby-div-style {
            padding-left: 0;
            width: 25%;
            float: left;
            margin-bottom: 10px;
            text-align: center;

            @include breakpoint(tablet) {
                width: 20%;
            }

            .inner-icon-style {
                font-size: 30px;
                color: white;
            }

            .outer-icon-style {
                font-size: 32px;
                overflow: hidden;
            }

            .hobby-name {
                font-size: 12px;
                font-weight: 600;
                white-space: nowrap;
            }
        }

        .family-div-style {
            padding-left: 0;
            width: 25%;
            float: left;
            margin-bottom: 10px;
            text-align: center;
            position: relative;
            top: 4px;

            @include breakpoint(tablet) {
                width: 20%;
            }

            .family-inner-icon-style {
                font-weight: 500;
                line-height: 60px;
            }

            .member-name {
                font-size: 12px;
                font-weight: 600;
            }
        }

        .wysiwg-styling {
            ul {
                padding-left: 20px;
            }
        }



        #social-photos {
            li span {
                width: 190px;
            }

            @include breakpoint(mobilephone) {
                li, li span {
                    width: 100%;
                }
            }
        }
    }
}

.my-hobbies-popup{
    padding-top: 20px;
    .header-subtitle{
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        @include breakpoint(mobileonly){
            font-size: 20px;
        }
    }
    .icon-container{
        margin-top: 35px;
        margin-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
        .hobby-div-style{
            float: left;
            margin-bottom: 10px;
            width: 33.33%;
            text-align: center;
            @include breakpoint(tablet){
                width: 20%;
            }
            .inner-icon-style{
                font-size: 30px;
                color: white;
            }
            .outer-icon-style{
                font-size: 32px;
                overflow: hidden;
                cursor: pointer;
            }
            .hobby-name{
                white-space: nowrap;
                font-size: 12px;
                font-weight: 600;
            }
            .check-icon-style{
                color: $success;
                position: relative;
                font-size: 25px;
                left: 20px;
                top: -20px;
                font-weight: 600;
            }
            .background-circle{
                border-radius: 50%;
                width: 60px;
                height: 60px;
                background-color: black;
            }
        }
    }
    .btn-submit{
        border-radius: 4px;
        background-color: $base-dark;
        color: white;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 16px;
        width: 90px;
        text-align: center;
        margin: 20px auto;
        cursor: pointer;
    }
}

.my-family-popup{
     padding-top: 20px;
    .header-subtitle{
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
    }
    .icon-container{
        margin-top: 35px;
        margin-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
        .remove-member-div{
            margin-bottom: 30px !important;
        }
        .family-div-style{
            padding-left: 0;
            width: 25%;
            float: left;
            margin-bottom: 10px;
            text-align: center;
            position: relative;
            top: 4px;
            cursor: pointer;
            height: 55px;
            @include breakpoint(tablet){
                width: 16.66%;
            }
            .family-inner-icon-style{
                font-weight: 500;
                line-height: 60px;
            }
            .member-name{
                font-size: 12px;
                font-weight: 600;
            }
            .check-icon-style{
                color: $success;
                font-size: 25px;
                font-weight: 600;
            }
            .background-circle{
                border-radius: 50%;
                width: 60px;
                height: 60px;
                margin: 0 auto;
            }
            .border-highlight{
                background-color: $border !important;
            }
        }
        .next-family-div-style{
            margin-bottom: 10px;
            text-align: center;
            .family-inner-icon-style{
                font-size: 55px;
                font-weight: 500;
            }
        }
    }

    .member-label-select{
        width: 40%;
        margin: 0 auto;
        margin-top: 15px; 
    }
    
    .btn-family-common{
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 16px;
        text-align: center;
        margin: 20px auto;
        cursor: pointer;
        color: white;
    }

    .btn-submit{
        background-color: $base-dark;
         width: 90px;
    }
    .btn-next{
        background-color: $blue-dark;
        width: 90px;
    }
    .btn-next[disabled]{
        cursor: not-allowed;
        opacity: 0.65;
    }
    .btn-add-to-family[disabled]{
        cursor: not-allowed;
        opacity: 0.65;
    }
    .btn-add-to-family{
        background-color: $base-dark;
        width: 135px;
    }
    .btn-remove-from-family{
        background-color: $base-dark;
        width: 190px;
    }
}

.my-travel-popup{
    padding-top: 20px;
    .header-subtitle{
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
    }
    .icon-container{
        margin-top: 35px;
        margin-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
        height: 550px;
        overflow-y: auto;
        overflow-x: hidden;
        .travel-div-style{
            padding-left: 0;
            width: 33.33%;
            float: left;
            margin-bottom: 15px;
            text-align: center;
            position: relative;
            top: 4px;
            cursor: pointer;
            @include breakpoint(tablet){
                width: 20%;
            }
            @include breakpoint(mobileonly){
                width: 50%;
            }
            .check-icon-style{
                color: $success;
                font-size: 35px;
                font-weight: 600;
                position: relative;
                top: -95px;
                left: 25px;
            }
            .background-circle{
                border-radius: 50%;
                width: 93px;
                height: 93px;
                margin: 0 auto;
                background-color: $blue;
                color: white;
                cursor: pointer;
            }
            .country-name{
                line-height: 93px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 5px;
            }
        }
    }
    
    .btn-submit{
        border-radius: 4px;
        background-color: $base-dark;
        color: white;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 16px;
        width: 90px;
        text-align: center;
        margin: 20px auto;
        cursor: pointer;
    }
}
