@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.user-module {
  background-color: #ffffff;
}
.user-module .btn {
  border-radius: 3px;
  padding: 8px 10px;
  font-size: .85rem;
  font-weight: 500;
  min-width: 80px;
}
.user-module .nav-tabs {
  padding: 0 10px;
}
.user-module .nav-tabs li {
  min-width: 100px;
}
.user-module .nav-tabs li a {
  text-align: center;
  text-transform: uppercase;
  color: #9e9e9e;
}
.user-module .nav-tabs li.active a {
  color: #403841;
}
.user-module .tab-content {
  padding: 0 20px;
}
.user-module input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.user-module input[type="checkbox"]:disabled + label::before {
  background-color: #9e9e9e;
  cursor: not-allowed;
  border-color: #cccccc;
}
.user-module input[type="checkbox"]:disabled + label::after {
  cursor: not-allowed;
  color: #403841;
}
.user-module .angular-google-map-container {
  height: 275px;
}
.user-module .my-profile-header .my-profile-page-heading {
  border-bottom: 0;
}
.user-module .title-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 30px;
  color: #393f44;
  padding-left: 20px;
}
.user-module .photo-container {
  padding-bottom: 20px;
  padding-left: 120px;
}
.user-module .photo-container .myconfig-circle-img {
  height: 90px;
  width: 90px;
  margin-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 4px solid #ffffff;
  overflow: hidden;
}
@media (max-width: 320px) {
  .user-module .photo-container .myconfig-circle-img {
    margin-left: 15px;
  }
}
.user-module .photo-container .myconfig-circle-img img {
  width: 100%;
}
.user-module .photo-container .emp-details {
  width: 100%;
  padding-left: 20px;
}
@media (max-width: 479px) {
  .user-module .photo-container .emp-details {
    padding-left: 10px;
  }
}
@media (max-width: 320px) {
  .user-module .photo-container .emp-details {
    padding-left: 5px;
  }
}
.user-module .photo-container .emp-details .emp-name {
  font-size: 16px;
  font-weight: 600;
}
.user-module .photo-container .emp-details .emp-name a {
  color: #403841;
}
@media (max-width: 479px) {
  .user-module .photo-container .emp-details .emp-name {
    padding-bottom: 10px;
  }
}
.user-module .photo-container .emp-details .photo-desc {
  font-size: 14px;
  font-weight: 400;
  color: #403841;
  font-style: italic;
}
@media (min-width: 768px) {
  .user-module .photo-container .emp-details .photo-desc {
    margin-bottom: 15px;
  }
}
@media (min-width: 1167px) {
  .user-module .photo-container .emp-details .photo-desc {
    margin-bottom: 0;
  }
}
.user-module .photo-container .photo-action {
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
}
.user-module .outside-div {
  padding: 20px;
}
@media (max-width: 479px) {
  .user-module .outside-div {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.user-module .outside-div .social-images {
  margin-top: 15px;
}
.user-module .outside-div .social-images .bootstrap-lightbox-item {
  float: left;
  position: relative;
  width: 50%;
  padding: 10px;
}
.user-module .outside-div .social-images .bootstrap-lightbox-item .remove {
  position: absolute;
  right: 13px;
  cursor: pointer;
}
.user-module .outside-div .social-images .bootstrap-lightbox-item img {
  width: 100%;
  height: 100px;
}
.user-module .sub-title {
  color: #403841;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.user-module .sub-title-desc {
  color: #403841;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
.user-module textarea.input-select-style {
  height: 105px;
}
.user-module .btn-save {
  margin-left: 10px;
  background-color: #403841;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
}
@media (max-width: 479px) {
  .user-module .btn-save {
    width: 22%;
  }
}
@media (max-width: 320px) {
  .user-module .btn-save {
    width: 21%;
  }
}
@media (min-width: 768px) {
  .user-module .btn-save {
    width: 13%;
  }
}
@media (min-width: 1167px) {
  .user-module .btn-save {
    width: 7%;
  }
}
.user-module .h-line {
  margin: 0;
}
.user-module #notifications-config .title {
  font-weight: 600;
}
.user-module #social-photos li {
  overflow: hidden;
}
.user-module #social-photos li > span {
  width: 150px;
  height: 150px;
  display: block;
  background-size: cover;
}
.user-module #social-photos li a span {
  padding: 60px;
}
.user-module #social-photos li .remove {
  opacity: 0.8;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}
.user-module #social-photos li .remove:hover {
  opacity: 1;
  text-shadow: 0 1px 6px black;
}
.user-module.user-profile h2 {
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 10px;
  font-size: 16px;
}
.user-module.user-profile h2 strong {
  font-weight: 600;
  color: #403841;
}
.user-module.user-profile .about-me-description ul {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
}
.user-module.user-profile .my-photos {
  padding-left: 5px;
  padding-right: 5px;
}
.user-module.user-profile .my-photos h2 {
  margin-left: 10px;
  margin-right: 10px;
}
.user-module.user-profile .plus-minus-icon-style {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: black;
  border: 1px solid #000000;
  text-align: center;
}
.user-module.user-profile .btn-save-abt-me {
  color: white;
  background-color: #9e9e9e;
  font-size: 14px;
  font-weight: 600;
  width: 65px;
  padding: 8px 0;
  float: right;
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.user-module.user-profile .clickable {
  cursor: pointer;
}
.user-module.user-profile .hobby-div-style {
  padding-left: 0;
  width: 25%;
  float: left;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .user-module.user-profile .hobby-div-style {
    width: 20%;
  }
}
.user-module.user-profile .hobby-div-style .inner-icon-style {
  font-size: 30px;
  color: white;
}
.user-module.user-profile .hobby-div-style .outer-icon-style {
  font-size: 32px;
  overflow: hidden;
}
.user-module.user-profile .hobby-div-style .hobby-name {
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
}
.user-module.user-profile .family-div-style {
  padding-left: 0;
  width: 25%;
  float: left;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  top: 4px;
}
@media (min-width: 768px) {
  .user-module.user-profile .family-div-style {
    width: 20%;
  }
}
.user-module.user-profile .family-div-style .family-inner-icon-style {
  font-weight: 500;
  line-height: 60px;
}
.user-module.user-profile .family-div-style .member-name {
  font-size: 12px;
  font-weight: 600;
}
.user-module.user-profile .wysiwg-styling ul {
  padding-left: 20px;
}
.user-module.user-profile #social-photos li span {
  width: 190px;
}
@media (max-width: 479px) {
  .user-module.user-profile #social-photos li, .user-module.user-profile #social-photos li span {
    width: 100%;
  }
}

.my-hobbies-popup {
  padding-top: 20px;
}
.my-hobbies-popup .header-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}
@media (max-width: 320px) {
  .my-hobbies-popup .header-subtitle {
    font-size: 20px;
  }
}
.my-hobbies-popup .icon-container {
  margin-top: 35px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.my-hobbies-popup .icon-container .hobby-div-style {
  float: left;
  margin-bottom: 10px;
  width: 33.33%;
  text-align: center;
}
@media (min-width: 768px) {
  .my-hobbies-popup .icon-container .hobby-div-style {
    width: 20%;
  }
}
.my-hobbies-popup .icon-container .hobby-div-style .inner-icon-style {
  font-size: 30px;
  color: white;
}
.my-hobbies-popup .icon-container .hobby-div-style .outer-icon-style {
  font-size: 32px;
  overflow: hidden;
  cursor: pointer;
}
.my-hobbies-popup .icon-container .hobby-div-style .hobby-name {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
}
.my-hobbies-popup .icon-container .hobby-div-style .check-icon-style {
  color: #9FC62D;
  position: relative;
  font-size: 25px;
  left: 20px;
  top: -20px;
  font-weight: 600;
}
.my-hobbies-popup .icon-container .hobby-div-style .background-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: black;
}
.my-hobbies-popup .btn-submit {
  border-radius: 4px;
  background-color: #9e9e9e;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  width: 90px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

.my-family-popup {
  padding-top: 20px;
}
.my-family-popup .header-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}
.my-family-popup .icon-container {
  margin-top: 35px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.my-family-popup .icon-container .remove-member-div {
  margin-bottom: 30px !important;
}
.my-family-popup .icon-container .family-div-style {
  padding-left: 0;
  width: 25%;
  float: left;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  top: 4px;
  cursor: pointer;
  height: 55px;
}
@media (min-width: 768px) {
  .my-family-popup .icon-container .family-div-style {
    width: 16.66%;
  }
}
.my-family-popup .icon-container .family-div-style .family-inner-icon-style {
  font-weight: 500;
  line-height: 60px;
}
.my-family-popup .icon-container .family-div-style .member-name {
  font-size: 12px;
  font-weight: 600;
}
.my-family-popup .icon-container .family-div-style .check-icon-style {
  color: #9FC62D;
  font-size: 25px;
  font-weight: 600;
}
.my-family-popup .icon-container .family-div-style .background-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.my-family-popup .icon-container .family-div-style .border-highlight {
  background-color: #e8e8e8 !important;
}
.my-family-popup .icon-container .next-family-div-style {
  margin-bottom: 10px;
  text-align: center;
}
.my-family-popup .icon-container .next-family-div-style .family-inner-icon-style {
  font-size: 55px;
  font-weight: 500;
}
.my-family-popup .member-label-select {
  width: 40%;
  margin: 0 auto;
  margin-top: 15px;
}
.my-family-popup .btn-family-common {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  color: white;
}
.my-family-popup .btn-submit {
  background-color: #9e9e9e;
  width: 90px;
}
.my-family-popup .btn-next {
  background-color: #053B69;
  width: 90px;
}
.my-family-popup .btn-next[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}
.my-family-popup .btn-add-to-family[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}
.my-family-popup .btn-add-to-family {
  background-color: #9e9e9e;
  width: 135px;
}
.my-family-popup .btn-remove-from-family {
  background-color: #9e9e9e;
  width: 190px;
}

.my-travel-popup {
  padding-top: 20px;
}
.my-travel-popup .header-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}
.my-travel-popup .icon-container {
  margin-top: 35px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}
.my-travel-popup .icon-container .travel-div-style {
  padding-left: 0;
  width: 33.33%;
  float: left;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  top: 4px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .my-travel-popup .icon-container .travel-div-style {
    width: 20%;
  }
}
@media (max-width: 320px) {
  .my-travel-popup .icon-container .travel-div-style {
    width: 50%;
  }
}
.my-travel-popup .icon-container .travel-div-style .check-icon-style {
  color: #9FC62D;
  font-size: 35px;
  font-weight: 600;
  position: relative;
  top: -95px;
  left: 25px;
}
.my-travel-popup .icon-container .travel-div-style .background-circle {
  border-radius: 50%;
  width: 93px;
  height: 93px;
  margin: 0 auto;
  background-color: #06467C;
  color: white;
  cursor: pointer;
}
.my-travel-popup .icon-container .travel-div-style .country-name {
  line-height: 93px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.my-travel-popup .btn-submit {
  border-radius: 4px;
  background-color: #9e9e9e;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  width: 90px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

/*# sourceMappingURL=user.css.map */
