﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = " ";
    ViewBag.BreadCrumbOverride.ActionName = "SCORE CARD";
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
    int sepMonthlyEditCuttoffDay = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["SepMonthlyEditCuttoffDay"]);
}

@section title{
    <page-header title="{{'My Profile'|translate}}"
                 s3-icon-name="myprofile.svg"
                 class="margin-horizontal-0">
    </page-header>
    <my-profile-header active-link="userScorecard"></my-profile-header>
}


@section scripts{
   
}


<div class="container-fluid personnel padding-top no-padding reportcard" data-ng-controller="Personnel.ReportCardIndexCtrl as vm" data-ng-init="vm.initialize(@sepMonthlyEditCuttoffDay)">
    <div class="row page-content no-padding">

        <div class="panel panel-clean padding-left padding-bottom" ng-if="vm.isFail">
            No scorecard to display.
        </div>

        <div class="panel panel-clean" data-ng-if="vm.employee">
            <div class="row date-print-content">
                <div class="monthly-picker-div col-md-6 col-xs-12 col-sm-6 ">
                    <div class="custom-monthly-picker ">
                        <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hidden-xs hidden-sm print-card-btn pull-right">
                    <div uib-dropdown class="pull-left">
                        <a href="javascript:void(0);" class="btn btn-print entry-btn-print" id="print-dropdown" uib-dropdown-toggle title="Print options"><i class="fa-print"></i>&nbsp; <b class="hidden-xs hidden-sm"> PRINT </b></a>
                        <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right print-dropdown" aria-labelledby="print-dropdown">
                            <li class="dropdown-header">Print options</li>
                            <li>
                                <a href="javascript:void(0)" data-ng-click="vm.printScoreCard($event)">Print {{::vm.employee.Name}}'s Scorecard</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row title-content">
                <div class="table-head">SCORECARD</div>
                <label class="text-muted update-date" data-ng-if="vm.employee.UpdateDate">Last Updated on: {{vm.employee.UpdateDate | date:'medium'}}</label>
            </div>
            <div class="panel-body panel-body-more" ng-form="vm.reportForm" data-ng-class="{'entry-disabled':vm.isEntryDisabled}">
                <div class="mobile-tabs-wrap">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-1 tab tab-1">
                            <div class="pull-left">
                                <i class="fa fa-financials icon-style"></i>
                            </div>
                            <div class="pull-left bonus-data">
                                <p class="amount">${{vm.yearlyBonus}}</p>
                                <p class="amount-title hidden-lg hidden-md">BONUS EARNED THIS YEAR</p>
                            </div>
                            <div class="pull-left bonus-title hidden-xs hidden-sm">
                                <p class="amount-title">BONUS EARNED THIS YEAR</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-1 tab">
                            <div class="pull-left">
                                <i class="fa fa-client icon-style"></i>
                            </div>
                            <div class="pull-left bonus-data">
                                <p class="amount">$<span ng-bind="vm.monthlyBonus + vm.siteBonusForMonth"></span></p>
                                <p class="amount-title hidden-lg hidden-md">BONUS EARNED THIS MONTH</p>
                            </div>
                            <div class="pull-left bonus-title hidden-xs hidden-sm">
                                <p class="amount-title">BONUS EARNED THIS MONTH</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @*<div class="custom-monthly-picker ">
                        <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                    </div>*@
                @*<div class="text-center empty-wrap" ng-if="vm.employee.EmployeeKpis.length == 0 ">No data to display</div>*@
                @* --Start KPI Item--  *@
                <div class="report-card-v" data-ng-click="(item.showToggleBlock = !item.showToggleBlock) && (vm.showToggle[$index])" data-ng-repeat="item in vm.employee.EmployeeKpis">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="col-xs-2 col-md-1 card-icon-wrap align">
                                <i class="{{::item.Kpi.Icon}}"></i>
                            </div><!-- CardIconWrap -->
                            <div class="col-xs-10 col-md-11">
                                <div class="row">
                                    <div class="col-xs-8 col-md-6">
                                        <p class="kpi-name">{{::item.Kpi.Name}}</p>
                                    </div><!-- COL-6 -->
                                    <div class="col-xs-4 col-md-6 pull-right padding-t-10">
                                        <p class="meta-item hidden-xs hidden-sm" data-ng-repeat="meta in item.MetaData">
                                            <small class="text meta-text"
                                                   data-ng-if="meta.IsForDisplay">
                                                {{meta.Value}} <b class="hidden-xs"> {{meta.Label}} </b>
                                            </small>
                                        </p>
                                        <p class="meta-item hide-desktop" data-ng-repeat="meta in item.MetaData">
                                            <small class="text meta-text"
                                                   data-ng-if="meta.Label == 'Complaints' || meta.Label == 'Claims' || meta.Label == 'Warnings' || meta.Label == 'Occurrences' || meta.Label == 'Score'">
                                                {{meta.Value}} <b class="hidden-xs hidden-sm"> {{meta.Label}} </b>
                                            </small>
                                        </p>
                                        <p class="meta-item hidden-xs hidden-sm" data-ng-if="!item.MetaData.length">
                                            <small class="text meta-text">
                                                {{item.Kpi.Summary}}
                                            </small>
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- CardIconWrap -->
                        </div>


                        <div class="col-xs-4 col-md-4 pull-right">
                            <div class="row">
                                <div class="col-xs-6 col-md-4">
                                    <p class="pass" data-ng-if="item.IsPass">PASS</p>
                                    <p class="tbd" data-ng-if="item.IsPass == null">TBD</p>
                                    <p class="fail" data-ng-if="item.IsPass == false">FAIL</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-xs-2 col-md-4">
                                    <a href="@Url.Action("Index", "Transcript", new { Area = "Training" })"><i class="fa fa-angle-right angle-right-style pull-right" data-ng-if="item.Kpi.Name == 'Training'"></i></a>
                                    <i class="angle-right-style pull-right" data-ng-if="item.Kpi.Name == 'Complaints' || item.Kpi.Name != 'Safety' || item.Kpi.Name != 'Conduct'
                                       || item.Kpi.Name != 'Attendance' || item.Kpi.Name != 'Professionalism' || item.Kpi.Name == 'Quality Audits' || item.Kpi.Name == 'Ownership'" data-ng-class="{'fa fa-angle-up' : item.showToggleBlock && vm.shouldToggle[$index] , 'fa fa-angle-down' : (item.Kpi.Name != 'Training') && (!item.showToggleBlock || !vm.shouldToggle[$index])  , 'disabled': !vm.shouldToggle[$index]}"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-block" data-ng-class="{'show':item.showToggleBlock && vm.shouldToggle[$index]}">

                        <div ng-switch="item.Kpi.Name" class="kpi-custom">
                            <div ng-switch-when="Complaints">
                                <div class="complaint-details">
                                    <div ng-repeat="complaint in vm.complaints" class="complaint-item-style">
                                        <a ng-click="vm.loadComplaintModal(complaint, $event)"
                                           class="complaint-item"><b>Date:</b>{{complaint.FeedbackDate| date: mediumDate}}<br><b>Building:</b>{{complaint.BuildingName}}<br /><b>Description:</b>{{complaint.Description}}</a>
                                        <div class="clearfix"></div>
                                        <hr ng-hide="$last" />
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="Safety">
                                <div class="complaint-details">
                                    <div ng-repeat="claim in vm.safetyClaims" class="complaint-item-style">
                                        <a ng-click="vm.loadSafetyIssueDetailsModal(claim.SafetyId)"
                                           class="complaint-item"><b>Date Of Incident:</b>{{ claim.DateOfIncident| date: mediumDate}}<br><b>Safety Type:</b><span ng-repeat="type in claim.IncidentTypes">{{type.Name}}{{$last ? '' : ($index==incidentType.Name.length-2) ? ', and ' : ' ,&nbsp;'}}</span></a>
                                        <div class="clearfix"></div>
                                        <hr ng-hide="$last" />
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="Conduct">
                                <div class="complaint-details">
                                    <div ng-repeat="warning in vm.conductWarnings" class="complaint-item-style">
                                        <a ng-click="vm.loadConductWarningDetailsModal(warning.ConductId)"
                                           class="complaint-item"><b>Date Of Occurrence:</b>{{ warning.DateOfOccurrence | date: mediumDate}}<br><b>Conduct Type:</b><span ng-repeat="type in warning.ConductTypes">{{type.Name}}{{$last ? '' : ($index==incidentType.Name.length-2) ? ', and ' : ' ,&nbsp;'}}</span></a>
                                        <div class="clearfix"></div>
                                        <hr ng-hide="$last" />
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="Attendance">
                                <div class="complaint-details">
                                    <div ng-repeat="issue in vm.attendanceIssues" class="complaint-item-style">
                                        <a ng-click="vm.loadAttendanceIssueDetailsModal(issue.IssueId)"
                                           class="complaint-item"><b>Date Of Occurrence:</b>{{ issue.DateOfOccurrence| date: mediumDate}}<br><b>Issue Type:</b>{{issue.IssueTypeName}}</a>
                                        <div class="clearfix"></div>
                                        <hr ng-hide="$last" />
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="Professionalism">
                                <div class="complaint-details">
                                    <div class="complaint-item-style">
                                        <a ng-click="vm.loadProfessionalismAuditDetailsModal(vm.professionalismAudit.EmployeeAuditId)"
                                           class="complaint-item"><b>Last audit date:</b>{{ vm.professionalismAudit.UpdateDate| date: mediumDate}}<br><b>Audit by:</b>{{vm.professionalismAudit.UpdateBy}}</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="Quality Audits">
                                <div class="complaint-details" data-ng-if="vm.showAuditScores">
                                    <div ng-repeat="audit in vm.auditScores" class="complaint-item-style">
                                        <div class="complaint-item"><b>{{audit.AreaName}}</b> - {{audit.AverageScoringProfileScore}}</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="average-score">
                                        <b>Average Score - {{item.MetaData[1].Value}}</b>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div ng-switch-when="Ownership">
                                <div class="complaint-details">
                                    <div ng-repeat="workOrder in vm.ownershipWorkOrders" class="complaint-item-style">
                                        <a ng-click="vm.loadOwnershipDetailsModal(workOrder.OwnershipId)"
                                           class="complaint-item"><b>Create Date:</b>{{ workOrder.CreateDate | date: mediumDate}}<br><b>Accept Type:</b>{{workOrder.IsCritical == 'NotCritical' ? 'Non-Critical' : 'Critical'}}</a>
                                        <div class="clearfix"></div>
                                        <hr ng-hide="$last" />
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-default></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="overal-comment-block" data-ng-if="vm.employee.EmployeeKpis.length > 0">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="label no-padding">Overall Comment</p>
                            <div ng-if="vm.kpiItem.Comment">{{vm.kpiItem.Comment}}</div>
                            <div class="text-muted" ng-if="!vm.kpiItem.Comment">No overall comment available</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
