﻿<div class="input-group">
    <span class="input-group-addon">
        <i class="fa fa-search2"></i>
    </span>
    <input type='text' value='' ng-model='$ctrl.searchModel' class='form-control' placeholder="{{$ctrl.placeholder || 'Search'}}" />
</div>