﻿<button class="close hidden-md hidden-lg" ng-click="$dismiss()">&times;</button>
<h5>Export Options</h5>
<div class="margin-bottom-10" ng-if="$ctrl.exportOptions.length">
    <select class="form-control" name="exportType"
            ng-options="type.Id as type.Name for type in $ctrl.exportOptions"
            ng-model="$ctrl.exportId">
        <option value="">Select</option>
    </select>
</div>
<div class="margin-bottom-10">

</div>
<button
   class="btn btn-default btn-sm col-xs-6"
   ng-click="$ctrl.isMobile ? $dismiss() : $ctrl.cancel()">CANCEL</button>
<button
   class="btn btn-warning btn-sm col-xs-6"
   ng-click="$ctrl.export()"
   ng-disabled="!$ctrl.exportId">EXPORT</button>
<div class="clearfix"></div>
