﻿@import "../../../../Css/Common/globals";

.utility-export-modal{
    .modal-content{
        padding:10px 20px 20px;
    }
}

.popover-content {
    min-width: 200px;

    .btn-default {
        width: 49%;
        margin-right: 1%;
    }

    .btn-warning {
        width: 49%;
        margin-left: 1%;
    }
}
