﻿<button class="close hidden-md hidden-lg" ng-click="$dismiss()">&times;</button>
<h5>Filter Options</h5>
<div class="margin-bottom-10" ng-if="$ctrl.filterOptions.length">
    <select class="form-control" name="filterType"
            ng-options="type.Key as type.Value for type in $ctrl.filterOptions"
            ng-model="$ctrl.filter.filterType" ng-change="$ctrl.onFilterTypeChange()">
        <option value="">All</option>
    </select>
</div>
<div class="margin-bottom-10" ng-if="$ctrl.activeFilterOptions">
    <select class="form-control animate-show"
            ng-model="$ctrl.filter.filterCriteria"
            ng-options="type.Key as type.Value for type in $ctrl.activeFilterOptions.Options"
            ng-show="!$ctrl.isEmpty($ctrl.activeFilterOptions) && $ctrl.activeFilterOptions.FieldType=='select'"></select>

    <input type="text" class="form-control animate-show"
           ng-model="$ctrl.filter.filterCriteria"
           ng-show="!$ctrl.isEmpty($ctrl.activeFilterOptions) && $ctrl.activeFilterOptions.FieldType=='text'" />
</div>
<div class="margin-bottom-10" >

</div>
<a href="javascript:void(0);" 
   class="btn btn-default btn-sm col-xs-6" 
   ng-click="$ctrl.onClearFilter($event)" 
   ng-disabled="!$ctrl.filter.filterCriteria">CLEAR</a>
<a href="javascript:void(0);" 
   class="btn btn-warning btn-sm col-xs-6" 
   ng-click="$ctrl.onFilterResults($event)" 
   ng-disabled="!$ctrl.filter.filterCriteria">FILTER</a>
<div class="clearfix"></div>
