﻿@import "../../../../Css/Common/globals";

utility-nav-search{
    
}

.popover.search-bar {
    border-radius: 0;
    margin-top: 0;
    border: 0;

    .arrow {
        display: none;
    }

    .popover-content {
        padding: 0;
    }
}

.utility-search-modal{
    .modal-content{
        padding: 0;
        margin-top: 100px;
        border-radius:0;
    }
}


.popover.search-bar, .utility-search-modal {
    .input-group {
        width: 100%;

        span {
            background: none;
            border: 0;
            position: absolute;
            display: flex;
            align-items: center;
            height: 100%;
            color: $base-dark;
            font-size:1.7rem;
        }

        input.form-control {
            color: $base-dark;
            background: none;
            border: 0;
            border-radius: 0;
            padding: 25px 12px 25px 50px;
            width:100%;
        }
    }
}