﻿@import "../../../../Css/Common/globals";

.utility-filter-modal{
    .modal-content{
        padding:10px 20px 20px;
    }
}

utility-nav-filter-tags > div{
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px 5px;

    strong{
        font-weight: 600;
        float: left;
        display: inline-block;
    }

    ul.list-inline{
        margin:0;
        display:inline-block;

        .btn.custom-button{
            background-color:$border;
            font-size:.714rem;
            color:$base-dark;
            border:0;
            padding:0.271rem 1rem;
            box-shadow:0 1px 3px rgba(0,0,0,0.2);
        }
    }
}

.popover-content {
    min-width: 200px;

    .btn-default {
        width: 49%;
        margin-right: 1%;
    }

    .btn-warning {
        width: 49%;
        margin-left: 1%;
    }
}
