﻿<div class="utility-tabs">
    <ul class="nav nav-pills" ng-if="$ctrl.tabItems.length">
        <li ng-repeat="item in $ctrl.tabItems">
            <a ng-href="{{item.href}}" ng-class="{'active':item.isActive}">{{item.name}}</a>
        </li>
    </ul>
    <div class="custom-tabs" ng-transclude="tabs"></div>
</div>
<div class="utility-actions">
    <div class="custom-buttons" ng-transclude="customButtons"></div>
</div>
