﻿@import "../../../../Css/Common/globals";

utility-header {
    display: flex;
    align-items: center;
    height: 30px;
    background: #fff;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 0 0 15px;
    box-shadow: 0 1px 3px $base;
    border-bottom:1px solid $border;

    @include breakpoint(desktop){
        height: 40px;
    }

    .utility-tabs {
        float: left;

        .nav.nav-pills, tabs {
            a.btn {
                border-width: 0 0 3px 0;
                border-radius: 0;
                border-bottom: 3px solid transparent;
                box-shadow: none;
                font-size: .857rem;
                font-weight: 600;
                text-transform: capitalize;
                color: $base-dark;
                padding: 5px 15px;

                @include breakpoint(desktop){
                    padding: 7px 15px;
                    font-size: 1.143rem;
                }


                &.active {
                    border-color: $primary;
                    color: $primary;
                    background: none;
                }
            }
        }
    }

    .utility-actions {
        margin-left: auto;
        height: 100%;
        width: auto;


        .custom-buttons {
            height: 100%;
        }

        custom-buttons {
            height:100%;

            .btn-group {
                height: 100%;
            }

            utility-nav-filter,utility-nav-search, utility-nav-export {
                position: relative;
                float: left;
                height: 100%;
            }

            > .btn, > * > .btn, > .dropdown {
                display: flex;
                border-radius: 0;
                border-color: $border;
                color: $base-dark;
                font-size: .8571rem;
                font-weight: 700;
                border-top: 0;
                border-bottom: 0;
                text-transform: uppercase;
                align-items: center;
                height: 100%;

                &:last-of-type {
                    border-right: 0;
                }

                &.active{
                    color:$warning;
                    background-color:$gray;
                    border-bottom:2px solid $warning;
                    border-left:0;
                    box-shadow:none;
                }

                .fa {
                    font-size: 1.314rem;
                    margin-right: 5px;
                }
            }

            .dropdown{
                float:left;
            }
        }
    }
}
