﻿@{
    ViewBag.Title = "Core Settings";
}

<div class="container-fluid admin admin-core" ng-controller="Admin.CoreIndexCtrl as vm" ng-init="vm.initialize()">
    <div class="row page-content">
        <div class="col-md-12 style">
            <uib-tabset vertical="true"  class="vertical-tabs tabs-left padding-bottom-20">
                <uib-tab heading="Attributes" select="vm.loadAttributes()">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="id hidden-xs">Id</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th width="50" >
                                    <button class="btn btn-success btn-sm" ng-click="vm.showAttributeCreate()">
                                        <span class="fa fa-plus"></span><span class="hidden-xs padding-left-4">Create New</span> 
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="attribute in vm.attributes" ng-if="vm.attributes.length">
                                <td class="hidden-xs">{{attribute.AttributeId}}</td>
                                <td>{{attribute.Code}}</td>
                                <td>{{attribute.Name}}</td>
                                <td class="buttons btn-group-style">
                                    <div class="inline-block pull-right">
                                        <div class="btn btn-primary btn-sm small" ng-click="vm.showAttributeCreate(attribute)">
                                            <span class="fa fa-pencil"></span><span class="hidden-xs padding-left-4"> Edit</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <p class="text-center text-muted" ng-if="!vm.attributes.length">
                        - There are no Attributes <a href="javascript:void(0);" ng-click="vm.showAttributeCreate()">Click here</a> to create one -
                    </p>
                </uib-tab>
                <uib-tab heading="Attribute Attachments" select="vm.loadAttributeAttachments()">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="25" class="hidden-xs">Id</th>
                                <th class="attribute">Attribute</th>
                                <th>Value</th>
                                <th class="hidden-xs">FileName</th>
                                <th class="create">
                                    <button class="btn btn-success btn-sm pull-right" ng-click="vm.showAttributeAttachmentCreate()">
                                        <span class="fa fa-plus"></span><span class="hidden-xs btn-text">Create new</span> 
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="attrAttach in vm.attributeAttachments" ng-if="vm.attributeAttachments.length">
                                <td class="hidden-xs">{{attrAttach.AttributeAttachmentId}}</td>
                                <td>{{attrAttach.Code}}</td>
                                <td>{{attrAttach.AttributeValue}}</td>
                                <td class="hidden-xs">{{attrAttach.FileName}}</td>
                                <td class="buttons btn-group-style">
                                    <div class="inline-block pull-right">
                                        <div class="btn btn-primary btn-sm small" ng-click="vm.showAttributeAttachmentCreate(attrAttach)">
                                            <span class="fa fa-pencil hidden-md hidden-lg"></span><span class="hidden-xs hidden-sm padding-left-4">Edit</span> 
                                        </div>
                                        <a class="btn btn-primary btn-sm small" href={{attrAttach.DownloadUrl}}>
                                            <span class="fa fa-download"></span>
                                        </a>
                                        <div class="btn btn-primary btn-sm small" ng-click="vm.deleteAttacment(attrAttach)">
                                            <span class="fa fa-times hidden-md hidden-lg"></span><span class="hidden-xs hidden-sm padding-left-4">Delete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <p class="text-center text-muted" ng-if="!vm.attributeAttachments.length">
                        - There are no Attribute Attachments <a href="javascript:void(0);" ng-click="vm.showAttributeAttachmentCreate()">Click here</a> to create one -
                    </p>
                </uib-tab> 
            </uib-tabset>  
            
        </div>
    </div>
</div>
