﻿
@{
    ViewBag.Title = "Org Structure";
    ViewBag.HideTitleBar = true;
}

<style>
    body {
        background: white;
    }
</style>

<div class="container-fluid common positionFTE" ng-controller="Governance.PositionFTEIndexCtrl as vm" ng-init="vm.initialize()">
    <page-header title="{{ 'Org Structure' | translate }}"
                 s3-icon-name="governance.svg"
                 info-text="{{'POSITIONFTE_TITLE' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
    </page-header>
   
    <div class="section" ng-if="!vm.positionFTEData.length">
        <div class="row content padding-left-20">
            <h3>{{'POSITIONFTE_NO_DATA_MSG' | translate}}</h3>
        </div>
    </div>
    <div class="row page-content  padding-horizontal-0 padding-vertical-20" ng-if="vm.jobHourlyRates.length && vm.positionFTEData.length">
        <div ng-if="!vm.isProgramSelect && !vm.selectedProgram" class="animate-if">
            <div class="section default">
                @* to display aggregate data of all jobs in each program(only if all programs is seleted)*@
                <div class="content content-head">
                    <div class="section-indicator hidden-xs hidden-sm"></div>
                    <div class="name vcenter cursor-pointer">
                        <div class="program-name hidden-xs hidden-sm">
                            <div class="pull-left header-icon">{{vm.positionFTEData.length}}</div>
                            <div class="pull-left header-text">
                                <p>{{'Total' | translate}}</p> 
                                <p class="sub-text">{{'Programs' | translate}}</p>
                            </div>
                        </div>
                        <div class="program-name text-center hidden-sm hidden-md hidden-lg">
                            <div class="header-icon">{{vm.positionFTEData.length}}</div>
                            <div class="header-text">{{'Programs' | translate}}</div>
                        </div>
                        <div class="program-name text-left padding-left-20 hidden-xs hidden-md hidden-lg">
                            <div class="header-icon">{{vm.positionFTEData.length}}</div>
                            <div class="header-text">{{'Programs' | translate}}</div>
                        </div>
                    </div>
                    <div class="headcount-align count vcenter">
                        <div class="hidden-xs hidden-sm">
                            <div class="pull-left header-icon">
                                <i class="fa fa-headcount"></i>
                            </div>
                            <div class="pull-left header-text padding-left-10">
                                <div>{{vm.totalHeadCount}}</div>
                                <div class="sub-text">{{'headcount' | translate}}</div>
                            </div>
                        </div>
                        <div class="text-center hidden-md hidden-lg">
                            <div class="header-icon">{{vm.totalHeadCount}}</div>
                            <div class="header-text">{{'People' | translate}}</div>
                        </div>
                    </div>
                    <div class="hours vcenter hidden-xs hidden-sm"  ng-if="!vm.isMedium">
                        <div class="pull-left header-icon">
                            <i class="fa fa-hours2"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>{{vm.totalHours | number: 0}}</div>
                            <div class="sub-text">{{'hours' | translate}}</div>
                        </div>
                    </div>
                    <div class="rate rate-head vcenter hidden-xs hidden-sm">
                        <div class="pull-left header-icon">
                            <i class="fa fa-billing"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>${{vm.avgRate | number: 2 }}</div>
                            <div class="sub-text">{{'avg rate' | translate}}</div>
                        </div>
                    </div>
                    <div class="percent vcenter hidden-xs hidden-sm"  ng-if="!vm.isMedium">
                        <div class="pull-left header-icon">
                            <i class="fa fa-percentage"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>{{'% of' | translate}}</div>
                            <div class="sub-text">{{'program cost' | translate}}</div>
                        </div>
                    </div>
                    <div class="bubble-cost padding-left-0 padding-right-0 text-center vcenter">
                        <div class="circle-wrap">
                            <div class="circle avg-circle avg-circle-bg" ng-style="{'height': vm.Radius, 'width': vm.Radius}"></div>
                        </div>
                        <div class="hidden-lg hidden-md">
                            <span class="total-amount large" ng-if="vm.monthlyCost && vm.Radius <= 30">${{vm.monthlyCost | number: 2 }}</span>
                            <div class="op-cost number-style head" ng-class="{'space-large': vm.Radius >= 75, 'space-medium': vm.Radius >= 50 && vm.Radius < 75}">
                                <span class="cost" ng-if="vm.Radius > 30">${{vm.monthlyCost | number: 2 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="cost vcenter text-center hidden-xs hidden-sm">
                        <div class="header-text padding-left-10">
                            <div>${{vm.monthlyCost | number: 2 }}</div>
                            <div class="sub-text">{{'6 month total cost' | translate}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="section" ng-repeat="program in vm.positionFTEData">
                @* to display aggregate data of all jobs in each program(only if all programs is seleted)*@
                <div class="content row-content" ng-click="vm.selectProgram(program)">
                    <div class="name vcenter cursor-pointer"  ng-style="{'color': program.OverlayColor}">
                        <div class="pull-left circle margin-top-5 hidden-xs hidden-sm"
                             ng-style="{'background': program.OverlayColor}"></div>
                        <div class="pull-left program-name padding-left-15">
                            <span>{{vm.userContext.Program.ID ? 'Total' : program.Name}}</span>
                        </div>
                    </div>
                    <div class="count vcenter headcount-align">
                        <div class="hidden-xs hidden-sm">
                            <span class="section-person">
                                <i class="fa fa-solid-person small" ng-style="{'color': program.OverlayColor}"></i>
                            </span>
                        </div>
                        <div class="number prog-number number-style " ng-class="{'small' : vm.isNotDesktop}">{{program.EmployeeCount}}</div>
                    </div>
                    <div class="hours text-center number-style medium vcenter hidden-xs hidden-sm" ng-if="!vm.isMedium">
                        {{program.TotalHours | number: 0}}
                    </div>
                    <div class="rate text-center vcenter hidden-xs hidden-sm">
                        <div class="pull-left circle-wrap"  ng-if="program.AverageHourlyRate">
                            <div class="circle circle-bg"
                                 ng-style="{'height': program.HourlyRateRadius, 'width': program.HourlyRateRadius, 'background': program.OverlayColor}"></div>
                        </div>
                        <div class="pull-left"  ng-if="program.AverageHourlyRate">
                            <div class="total-amount medium" ng-style="{'line-height': program.HourlyRateRadius+'px'}">${{program.AverageHourlyRate | number: 2}}</div>
                        </div>
                        <span class="total-amount medium  pull-left margin-left-50" ng-if="!program.AverageHourlyRate">{{'NA' | translate}}</span>
                    </div>
                    <div class="percent number-style percent vcenter hidden-xs hidden-sm" ng-if="!vm.isMedium">
                        {{program.TotalPercentage | number: 0}}%
                    </div>
                    <div class="bubble-cost padding-left-0 padding-right-0 text-center vcenter">
                        <div class="circle circle-bg avg-circle" ng-if="!vm.isProgramSelect && program.AverageMonthlyCost" ng-style="{'height': program.Radius, 'width': program.Radius, 'margin-top': -(program.Radius/3), 'background': program.OverlayColor}"></div>
                        <div class="circle circle-bg avg-circle" ng-if="vm.isProgramSelect && program.AverageMonthlyCost" ng-style="{'height': program.Radius, 'width': program.Radius, 'margin-top': 0, 'z-index': $index + 1, 'background': program.OverlayColor}"></div>
                        <div class="hidden-lg hidden-md">
                            <span class="total-amount medium" ng-if="program.AverageMonthlyCost && program.Radius <= 30">${{program.AverageMonthlyCost | number: 2}}</span>
                            <div class="op-cost medium" ng-class="{'space-large': program.Radius >= 75, 'space-medium': program.Radius >= 50 && program.Radius < 75}">
                                <span class="cost" ng-if="program.Radius > 30">${{program.AverageMonthlyCost | number: 2 }}</span>
                            </div>
                            <span class="total-amount medium" ng-if="!program.AverageMonthlyCost">{{'NA' | translate}}</span>
                        </div>
                    </div>
                    <div class="cost padding-left-0 padding-right-0 text-center vcenter hidden-xs hidden-sm">
                        <span class="total-amount medium padding-left-10" ng-if="program.AverageMonthlyCost">${{program.AverageMonthlyCost | number: 2}}</span>
                        <span class="total-amount medium padding-left-10" ng-if="!program.AverageMonthlyCost">{{'NA' | translate}}</span>
                    </div>
                    <div class="pull-right vcenter hidden-xs hidden-sm">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        @* to display each job related data *@
        <div ng-if="vm.isProgramSelect || vm.selectedProgram" class="section animate-if top-div">
            <div class="section" ng-class="{'cursor-pointer': !vm.userContext.Program.ID}" ng-click="vm.selectProgram(program)">
                @* to display aggregate data of all jobs in each program*@
                <div class="content content-head">
                    <div class="section-indicator hidden-xs hidden-sm"></div>
                    <div class="pull-left vcenter back">
                        <i ng-if="!vm.userContext.Program.ID" class="fa fa-angle-left"></i>
                    </div>
                    <div class="name vcenter cursor-pointer">
                        <div class="program-name hidden-xs hidden-sm">
                            <p class="pull-left header-icon">{{vm.selectedProgram.Jobs.length}}</p>
                            <div class="pull-left header-text padding-left-10">
                                <p class="text-ellipse">{{vm.selectedProgram.Name}}</p>
                                <p class="sub-text">{{'Positions' | translate}}</p>
                            </div>
                        </div>
                        <div class="program-name text-center mobile-margin hidden-sm hidden-md hidden-lg">
                            <p class="header-icon">{{vm.selectedProgram.Jobs.length}}</p>
                            <div class="header-text">
                                <div>{{vm.selectedProgram.Name}}</div>
                                <div class="sub-text">{{'Positions' | translate}}</div>
                            </div>
                        </div>
                        <div class="program-name text-left padding-left-10 hidden-xs hidden-md hidden-lg">
                            <div class="header-icon">{{vm.positionFTEData.length}}</div>
                            <div class="header-text">{{'Programs' | translate}}</div>
                        </div>
                    </div>
                    <div class="headcount-align count vcenter">
                        <div class="hidden-xs hidden-sm padding-left-30" ng-if="!vm.isIpad">
                            <div class="pull-left header-icon">
                                <i class="fa fa-headcount"></i>
                            </div>
                            <div class="pull-left header-text  padding-left-10">
                                <div>{{vm.selectedProgram.EmployeeCount}}</div>
                                <div class="sub-text">{{'headcount' | translate}}</div>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm vcenter" ng-if="vm.isIpad">
                            <div class="pull-left header-icon">
                                <i class="fa fa-headcount"></i>
                            </div>
                            <div class="pull-left header-text  padding-left-10">
                                <div>{{vm.selectedProgram.EmployeeCount}}</div>
                                <div class="sub-text">{{'headcount' | translate}}</div>
                            </div>
                        </div>
                        <div class="text-center hidden-md hidden-lg">
                            <div class="header-icon">{{vm.selectedProgram.EmployeeCount}}</div>
                            <div class="header-text">{{'People' | translate}}</div>
                        </div>
                    </div>
                    <div class="hours vcenter hidden-xs hidden-sm" ng-if="!vm.isMedium">
                        <div class="pull-left header-icon">
                            <i class="fa fa-hours2"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>{{vm.selectedProgram.TotalHours | number: 0}}</div>
                            <div class="sub-text">{{'hours' | translate}}</div>
                        </div>
                    </div>
                    <div class="rate rate-head vcenter hidden-xs hidden-sm">
                        <div class="pull-left header-icon position margin-left-0">
                            <i class="fa fa-billing"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>${{vm.selectedProgram.AverageHourlyRate | number: 2 }}</div>
                            <div class="sub-text">{{'avg rate' | translate}}</div>
                        </div>
                    </div>
                    <div class="percent vcenter hidden-xs hidden-sm" ng-if="!vm.isMedium">
                        <div class="pull-left header-icon">
                            <i class="fa fa-percentage"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>{{'% of' | translate}}</div>
                            <div class="sub-text">{{'program cost' | translate}}</div>
                        </div>
                    </div>
                    <div class="bubble-cost padding-left-0 padding-right-0 text-center vcenter">
                        <div class="circle-wrap position">
                            <div class="circle avg-circle avg-circle-bg" ng-style="{'height': vm.selectedProgram.Radius, 'width': vm.selectedProgram.Radius}"></div>
                        </div>
                        <div class="hidden-lg hidden-md">
                            <span class="total-amount" ng-if="vm.selectedProgram.Radius <= 30">${{vm.selectedProgram.AverageMonthlyCost | number: 2}}</span>
                            <div class="op-cost number-style head" ng-class="{'space-large': vm.selectedProgram.Radius >= 75, 'space-medium': vm.selectedProgram.Radius >= 50 && vm.selectedProgram.Radius < 75}">
                                <span class="cost" ng-if="vm.selectedProgram.Radius > 30">${{vm.selectedProgram.AverageMonthlyCost | number: 2}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="cost vcenter text-center hidden-xs hidden-sm">
                        <div class="header-text">
                            <div>${{vm.selectedProgram.AverageMonthlyCost | number: 2 }}</div>
                            <div class="sub-text">{{'6 month total cost' | translate}}</div>
                        </div>
                    </div>
                </div>

                <div class="content row-content" ng-repeat="job in vm.positionData.Jobs">
                    <div class="name vcenter">
                        <div class="pull-left circle margin-top-5 bg-color-{{$index % 6}} hidden-xs hidden-sm"></div>
                        <div class="pull-left padding-left-15 program-name color-{{$index % 6}}">
                            <span uib-tooltip="{{job.JobName}}" tooltip-placement="right">{{job.JobAbbreviation || job.JobName}}</span>
                        </div>
                    </div>
                    <div class="count vcenter headcount-align" ng-if="!vm.isIpad">
                        
                        <div class="number number-style text-center color-{{$index % 6}}" ng-class="{'small' : vm.isNotDesktop}">
                            {{job.EmployeeCount}}
                            <div class="divider bg-color-{{$index % 6}} hidden-xs hidden-sm"></div>
                        </div>
                        <div class="section-person ellipse color-{{$index % 6}} hidden-xs hidden-sm">
                            <i class="fa fa-solid-person very-small" ng-repeat="n in vm.getArrayForLooping(job.EmployeeCount) track by $index"></i>
                        </div>
                    </div>
                    <div class="count vcenter headcount-align" ng-if="vm.isIpad">
                        <div class="vcenter">
                            <div class="pull-left hidden-xs hidden-sm">
                                <span class="section-person color-{{$index % 6}}">
                                    <i class="fa fa-solid-person small" ng-style="{'color': program.OverlayColor}"></i>
                                </span>
                            </div>
                            <div class="pull-left number prog-number number-style color-{{$index % 6}}" ng-class="{'small' : vm.isNotDesktop}">{{job.EmployeeCount}}</div>
                        </div>
                    </div>
                    <div class="hours number-style medium vcenter hidden-xs hidden-sm" ng-if="!vm.isMedium">
                        {{job.TotalHours | number: 0}}
                    </div>
                    <div class="rate text-center vcenter hidden-xs hidden-sm">
                        <div class="pull-left circle-wrap position" ng-if="job.HourlyRate">
                            <div class="circle bg-color-{{$index % 6}}"
                                    ng-style="{'height': job.HourlyRateRadius, 'width': job.HourlyRateRadius, 'z-index': (job.hourlyRatezindex < 10 ? job.hourlyRatezindex : 10) }"></div>
                        </div>
                        <div class="pull-left" ng-if="job.HourlyRate">
                            <div class="total-amount medium" ng-style="{'line-height': (job.HourlyRateRadius + 'px')}">${{job.HourlyRate | number: 2}}</div>
                        </div>
                        <span class="total-amount medium pull-left margin-left-50" ng-if="!job.HourlyRate">{{'NA' | translate}}</span>
                    </div>
                    <div class="percent text-center number-style percent vcenter hidden-xs hidden-sm" ng-if="!vm.isMedium">
                        {{job.TotalPercentage | number: 0}}%
                    </div>
                    <div class="bubble-cost padding-left-0 padding-right-0 text-center vcenter">
                        <div class="circle bg-color-{{$index % 6}}" ng-if="job.MonthlyCost"
                                ng-style="{'height': job.Radius, 'width': job.Radius,'margin-top': -(job.Radius/3), 'z-index': (job.monthlyCostzindex < 10 ? job.monthlyCostzindex : 10) }">
                        </div>
                        <div class="hidden-lg hidden-md">
                            <span class="total-amount" ng-if="job.Radius <= 30">${{job.MonthlyCost | number: 2}}</span>
                            <div class="op-cost" ng-class="{'space-large': job.Radius >= 75, 'space-medium': job.Radius >= 50 && job.Radius < 75}">
                                <span class="cost" ng-if="job.Radius > 30">${{job.MonthlyCost | number: 2}}</span>
                            </div>
                            <span class="total-amount medium" ng-if="!job.MonthlyCost">{{'NA' | translate}}</span>
                        </div>
                    </div>
                    <div class="cost padding-left-0 padding-right-0 text-center vcenter hidden-xs hidden-sm">
                        <span class="total-amount medium">${{job.MonthlyCost | number: 2}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-content  padding-horizontal-0 padding-bottom-20" ng-if="!vm.jobHourlyRates.length && vm.positionFTEData.length">
        <div ng-if="!vm.isProgramSelect && !vm.selectedProgram" class="animate-if">
            <div class="section default">
                @* to display aggregate data of all jobs in each program(only if all programs is seleted)*@
                <div class="content">
                    <div class="col-md-4 col-xs-5 name vcenter cursor-pointer">
                        <div class="program-name hidden-xs hidden-sm">
                            <p class="pull-left header-icon">{{vm.positionFTEData.length}}</p>
                            <div class="pull-left header-text">
                                <p>{{'Total' | translate}}</p>
                                <p class="sub-text">{{'Programs' | translate}}</p>
                            </div>
                        </div>
                        <div class="program-name hidden-md hidden-lg">
                            <div class="header-icon padding-left-25">{{vm.positionFTEData.length}}</div>
                            <div class="header-text">{{'Programs' | translate}}</div>
                        </div>

                    </div>
                    <div class="col-md-5 col-xs-3  headcount-align count vcenter">
                        <div class="hidden-xs hidden-sm">
                            <div class="pull-left header-icon">
                                <i class="fa fa-headcount"></i>
                            </div>
                            <div class="pull-left header-text">
                                <div>{{vm.totalHeadCount}}</div>
                                <div class="sub-text">{{'headcount' | translate}}</div>
                            </div>
                        </div>
                        <div class="text-center hidden-md hidden-lg">
                            <div class="header-icon">{{vm.totalHeadCount}}</div>
                            <div class="header-text">{{'People' | translate}}</div>
                        </div>

                    </div>
                    <div class="col-md-3 col-xs-4 vcenter">
                        <div class="pull-left header-icon">
                            <i class="fa fa-late"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>{{vm.totalHours | number: 0}}</div>
                            <div class="sub-text">{{'hours' | translate}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="section" ng-class="{'highlight-color': vm.isProgramSelect}" ng-repeat="program in vm.positionFTEData">
                @* to display aggregate data of all jobs in each program(only if all programs is seleted)*@
                <div class="content" ng-click="vm.selectProgram(program)">
                    <div class="col-md-4 col-xs-5 name vcenter cursor-pointer"  ng-style="{'color': program.OverlayColor}">
                        <div class="pull-left circle margin-top-5 hidden-xs hidden-sm"
                             ng-style="{'background': program.OverlayColor}"></div>
                        <div class="pull-left program-name padding-left-15">
                            <span>{{vm.userContext.Program.ID ? 'Total' : program.Name}}</span>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-3 vcenter headcount-align">
                        <div class="hidden-xs hidden-sm">
                            <span class="section-person">
                                <i class="fa fa-solid-person small" ng-style="{'color': program.OverlayColor}"></i>
                            </span>
                        </div>
                        <div class="number number-style text-center" ng-class="{'small' : vm.isNotDesktop}">{{program.EmployeeCount}}</div>
                    </div>
                    <div class="col-md-3 col-xs-4 text-center number-style vcenter">
                        {{program.TotalHours | number: 0}}
                    </div>
                </div>
            </div>
        </div>
        @* to display each job related data *@
        <div ng-if="vm.isProgramSelect || vm.selectedProgram" class="section animate-if top-div">
            <div class="section highlight-color" ng-class="{'cursor-pointer': !vm.userContext.Program.ID}" ng-click="vm.selectProgram(program)">
                @* to display aggregate data of all jobs in each program(only if all programs is seleted)*@
                <div class="content hover-effect">
                    <div class="pull-left vcenter back">
                        <i ng-if="!vm.userContext.Program.ID" class="fa fa-angle-left"></i>
                    </div>
                    <div class="name col-md-4 col-xs-5 vcenter cursor-pointer">
                        <div class="program-name hidden-xs hidden-sm">
                            <p class="pull-left header-icon">{{vm.selectedProgram.Jobs.length}}</p>
                            <div class="pull-left header-text">
                                <p>{{vm.selectedProgram.Name}}</p>
                                <p class="sub-text">{{'Positions' | translate}}</p>
                            </div>
                        </div>
                        <div class="program-name padding-left-5 hidden-md hidden-lg">
                            <p class="header-icon padding-left-20">{{vm.selectedProgram.Jobs.length}}</p>
                            <div class="header-text">
                                <div>{{vm.selectedProgram.Name}}</div>
                                <div class="sub-text">{{'Positions' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="count col-md-5 col-xs-3  vcenter">
                        <div class="hidden-xs hidden-sm">
                            <div class="pull-left header-icon">
                                <i class="fa fa-headcount"></i>
                            </div>
                            <div class="pull-left header-text">
                                <div>{{vm.selectedProgram.EmployeeCount}}</div>
                                <div class="sub-text">{{'headcount' | translate}}</div>
                            </div>
                        </div>
                        <div class="text-center hidden-md hidden-lg">
                            <div class="header-icon">{{vm.selectedProgram.EmployeeCount}}</div>
                            <div class="header-text">{{'People' | translate}}</div>
                        </div>
                    </div>
                    <div class="hours col-md-3 col-xs-4 vcenter">
                        <div class="pull-left header-icon">
                            <i class="fa fa-late"></i>
                        </div>
                        <div class="pull-left header-text">
                            <div>{{vm.selectedProgram.TotalHours | number: 0}}</div>
                            <div class="sub-text">{{'hours' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div id="program-{{vm.positionData.Id}}" class="sub-items" ng-class="vm.userContext.Program.ID ? 'in' :'sub-items-border'">
                    <div class="padding-bottom-20" ng-style="{'padding-top':(vm.getNumber('cost',vm.positionData.Jobs[0])/3)}">
                        <div class="content position-content" ng-class="{'padding-left': vm.isNotDesktop}" ng-repeat="job in vm.positionData.Jobs">
                            <div class="name col-md-4 col-xs-5 vcenter">
                                <div class="pull-left circle margin-top-5 bg-color-{{$index % 6}} hidden-xs hidden-sm"></div>
                                <div class="pull-left program-name padding-left-15 color-{{$index % 6}}">
                                    <span uib-tooltip="{{job.JobName}}" tooltip-placement="right">{{job.JobAbbreviation || job.JobName}}</span>
                                </div>
                            </div>
                            <div class="count col-md-5 col-xs-3 vcenter headcount-align">
                                <div class="number number-style text-center color-{{$index % 6}}" ng-class="{'small' : vm.isNotDesktop}">{{job.EmployeeCount}}</div>
                                <div class="hidden-xs hidden-sm">
                                    <span class="section-person color-{{$index % 6}}">
                                        <i class="fa fa-solid-person small" ng-repeat="n in vm.getArrayForLooping(job.EmployeeCount) track by $index"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-4 text-center number-style medium vcenter">
                                {{job.TotalHours | number: 0}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
