﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "User Admin";
}

@section scripts {

}

<div class="container-fluid admin-user" data-ng-controller="Admin.UserCtrl as vm" data-ng-init="vm.initialize()">

    <div class="row">
        <div class="col-md-8 margin-bottom-20">
            

            @*<button class="btn btn-success" ng-click="vm.createNew()">
                <span class="fa fa-plus"></span> Create New
            </button>*@
        </div>
    </div>
    <div class="row">
        @*  --WiP--
                <div class="col-md-12">
                <div cg-busy="myPromise">
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-edit ui-grid-infinite-scroll></div>
                </div>
            </div>*@
    </div>

</div>
