﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        CONFIRM FINALIZE
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>

</div>
<div class="sep-boxscore-modal-body">
    <div data-ng-if="vm.isClosed" class="disabled-entry-bar padding text-center alert alert-warning">
        Scorecard of all employees is not complete. PLease complete to finalize scorecards.
    </div>
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employeeWithImage.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <p class="text-muted job">To be submitted by:</p>
                <h4 class="text-primary margin-vertical-5">{{vm.employeeWithImage.Name}}</h4>
                <span class="text-muted job">On</span> <span class="start-date">{{vm.currentDate | date:'MMM d, y'}}</span>
            </div>
            <div class="pull-right">
                <div class="data-point pull-right">
                    <div class="value bonus">${{vm.dataPoints.totalBonusAmount}}</div>
                    <div class="name">IN BONUSES</div>
                    <div class="name">EARNED</div>
                </div>
                <div class="data-point pull-right">
                    <div class="value">{{vm.dataPoints.failedCount}}</div>
                    <div class="name">FAILED</div>
                </div>
                <div class="data-point pull-right">
                    <div class="value">{{vm.dataPoints.passedCount}}</div>
                    <div class="name">PASSED</div>
                </div>                
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <div class="">
        <div class="col-md-12">
            <div class="panel panel-clean panel-scroll">
                <div class="panel-body">
                    <div ng-repeat="employee in vm.employeesInfo" class="employee">
                        <div class="details">
                            <div class="circle-img pull-left">
                                <img ng-src="{{employee.ProfileImage || vm.sitesettngs.defaultProfileImage}}" />
                            </div>
                            <div class="emp-desc pull-left">
                                <h4 class="name text-primary">{{employee.Name}}</h4>
                                <span class="text-muted job-title">{{employee.JobDescription}}</span>
                                <p class="status-bonus">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.IsPass == false,'text-success':employee.IsPass, 'text-muted' : employee.IsPass == null}"></i>
                                        <i class="fa fa-stack-1x fa-inverse" ng-class="{'fa-check': employee.IsPass, 'fa-exclamation': employee.IsPass == false, 'fa-minus': employee.IsPass == null}"></i>
                                    </span>
                                    <span class="text-muted bonus-amount padding-left-10"> ${{employee.BonusAmount}}</span>
                                    <span class="bonus-text text-muted">Bonus </span>

                                    <span visible-managers class="fa-stack fa-1x click margin-left-10" ng-if="employee.EmployeeKpis.length == 0"
                                            ng-click="vm.createKpi(employee.EmployeeId)" title="Create Kpi">
                                        <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                        <i class="fa fa-stack-1x fa-inverse fa-exclamation"></i>
                                    </span>
                                </p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="pull-right">
                                <input name="exempt" type="checkbox" ng-checked="!employee.IsExempt" data-ng-click="vm.setEmployeesToExempt(employee)">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sep-boxscore-modal-footer">
    <div class="finalize">
        <button class="btn btn-warning submit" ng-click="vm.submit()">SUBMIT</button>
        <p><a class="cancel" ng-click="vm.close()">Cancel</a></p>
    </div>
</div>

