﻿@{
    ViewBag.Title = "Conduct";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid personnel-index-common personnel-details-common" data-ng-controller="Personnel.ConductIssueDetailsCtrl as vm" data-ng-init="vm.initialize()">
    <div class="clearfix"></div>
    <page-header title="{{'CONDUCT'|translate}}"
                 s3-icon-name="conduct.svg"
                 info-text="{{'CONDUCT_DETAILS_TOOLTIP' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Personnel/Conduct/Entry")" class="btn btn-success btn-sm">+ <span class="hidden-xs hidden-sm">{{'RUN_CONDUCT' | translate }}</span></a>

        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block"  ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter data-ng-model="vm.conductIssues"
                                        filter="vm.filter"
                                        filter-apply-fn="vm.getConductIssueReset()"
                                        filter-clear-fn="vm.getConductIssueReset()"
                                        filter-options="vm.filterOptions"></utility-nav-filter>
                </li>
                <li>
                    <utility-nav-search search-model="vm.search" placeholder="Search Employees"></utility-nav-search>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
            </ul>
        </div>
    </page-header>

    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Conduct")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg"  ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter data-ng-model="vm.conductIssues"
                                button-classes="btn btn-default"
                                filter="vm.filter"
                                filter-apply-fn="vm.getConductIssueReset()"
                                filter-clear-fn="vm.getConductIssueReset()"
                                filter-options="vm.filterOptions"></utility-nav-filter>

            <utility-nav-search button-classes="btn btn-default" search-model="vm.search" placeholder="Search Employees"></utility-nav-search>

            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="row">
        <div class="main-body-padding">
            <div class="personnel-details-panel">
                <div class="center-cards">
                    <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                    <utility-nav-filter-tags></utility-nav-filter-tags>
                </div>
                <div class="panel-body">
                    <div class="text-center empty-wrap" ng-if="!vm.conductIssues.length">{{ 'NO_DATA' | translate }}</div>
                    <div class="no-padding no-margin">
                        <div class="card-view-style center-cards" data-infinite-scroll="vm.getConductIssues()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                            <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align" ng-transclude ng-repeat="details in vm.conductIssues | filter: vm.search">
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText"
                                                         format-date="true" format-datetime-offset="true" item-id="details.ConductId" view-link-fn="vm.showEntryViewModal(id)"
                                                         header-date="details.DateOfOccurrence">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left">
                                                <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                            </div>
                                            <div class="pull-left employee-section">
                                                <p class="name truncate">{{details.EmployeeName}}</p>
                                                <p class="name-lbl text-muted">
                                                    <span ng-if="details.EmployeeIsActive">{{'ACCOUNTABLE_EMPLOYEE' | translate}}</span>
                                                    <span ng-if="!details.EmployeeIsActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Reason">{{details.Reason}}</span>
                                            <span class="no-comment" ng-if="!details.Reason">{{'No Comment for this Conduct' | translate}}</span>
                                        </div>
                                        <div class="site padding-top-5" ng-class="{'empty-description': !details.Reason}">
                                            <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left" ng-if="details.ConductTypes.length > 0">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ConductTypes[details.ConductTypes.length-1].Name.length > 25}">
                                                {{details.ConductTypes[details.ConductTypes.length-1].Name}}
                                            </p>
                                        </div>
                                        <div class="pull-right types">
                                            <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{'SCORECARD' | translate}}</a>
                                            <a class="text-warning link-text-style padding-left-15" href="@Url.Action("Entry","Conduct", new { Area="Personnel" })/{{details.ConductId}}">{{'EDIT' | translate}}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>