﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Personnel.Models.ConductVM
@{
    ViewBag.Title = "";
    ViewBag.HideTitleBar = true;
    var issueId = Model.Id;
}

<div class="container-fluid personnel entryview" ng-controller="Personnel.ConductIssueEntryViewCtrl as vm" ng-init="vm.initialize(@issueId)">
    <page-header title="{{'Review Conduct'|translate}}"
                 s3-icon-name="conduct.svg">
    </page-header> 
    <div class="row">
        <div class="row-no-padding col-md-12">
            <a href="@Url.Content("~/Personnel/Conduct/Details")" class=" btn back-label hidden-sm hidden-md hidden-lg"><i class="fa-angle-left"></i> BACK TO THE LIST</a>

            <div class="well complaint-view">

                <div class="col-md-8">

                    <div class="list-align">
                        <div class="padding-bottom-10">
                            <span data-ng-repeat="conductType in vm.conduct.ConductTypes" class="list-style">{{conductType.Name}}{{$last ? '' : ($index==conductType.Name.length-2) ? ', and ' : ' ,&nbsp;'}}</span><span class="text-warning list-style" ng-if="vm.conduct.IsExempt"> (Exempted)</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row complaint-repoter">
                        <div class="col-md-8">
                            <p class="repoter-name">Date Of Occurrence: {{::vm.conduct.DateOfOccurrence | date: mediumDate : vm.userContext.Timezone.OffsetInHours}}</p>
                        </div><!-- COL8 -->
                    </div><!-- ROW -->


                    <div class="note-well">
                        <h5 class="warning-text">Comments</h5>
                        <p>{{::vm.conduct.Reason}}</p>
                    </div><!-- note-well -->
                    <div class="pull-left">
                        <h5 class="warning-text" data-ng-if="vm.conduct.ConductAttachments[0]">Attachment</h5>
                        <a data-ng-if="vm.conduct.ConductAttachments[0] && vm.conduct.ConductAttachments[0].ConductAttachmentType != 'Image'"
                           class="pull-left download-attachement img-thumbnail btn btn-block text-center" style="padding: 10px 0;"
                           href="{{vm.downloadUrl}}"
                           download="true" title="Click to download file">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-file-o fa-stack-1x"></i>
                                <i class="fa fa-download fa-stack-1x"></i>

                            </span>
                            <p>(click to download)</p>
                        </a>

                        <cf-image ng-if="vm.conduct.ConductAttachments[0].ConductAttachmentType == 'Image'" public-id="{{ vm.conduct.ConductAttachments[0].UniqueId }}" width="290" fullscreen="false" class="img-thumbnail"></cf-image>

                    </div>
                    <div class="clearfix"></div>

                </div><!-- COL8 -->

                <div class="col-md-4 side-block">
                    <h4>Employee</h4>
                    <div data-ng-if="vm.employeeWithImage == null">None</div>
                    <div class="padding-bottom-10">
                        <hr>
                        <div class="emp-profile-wgt">
                            <div class="circle-img pull-left">
                                <img ng-if="vm.employeeWithImage.ProfileImage" ng-cloak ng-src="{{ ::vm.employeeWithImage.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                <img ng-if="!employeeWithImage.ProfileImage" ng-cloak ng-src=" {{'@Url.Content("~/content/img/user.jpg")' }}" />
                            </div><!-- Circle-image -->

                            <div class="row-details pull-left">
                                <p class="emp-name">{{vm.employeeWithImage.Name}}</p>
                                <p class="emp-title">{{vm.employeeWithImage.JobDescription}}</p>
                            </div><!-- emp-details -->
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="row pull-right">
                        <button ng-click="vm.deleteConduct(vm.conduct.ConductId)" class="edit btn btn-primary btn-delete">Delete</button>
                        <button ng-click="vm.editConduct()" class="edit btn btn-edit btn-primary conduct-edit"><i class="fa fa-pencil fapencil-spacing"></i>Edit</button>
                    </div>


                </div><!-- COL4 -->


            </div><!-- Well -->


        </div><!-- ROW -->
    </div>
</div>
