﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Personnel.Models.ConductVM
@{
    ViewBag.Title = "Conduct";
    ViewBag.HideTitleBar = true;

    var issueId = Model.Id;
}

<div class="container-fluid personnel" data-ng-controller="Personnel.ConductIssueEntryCtrl as vm" data-ng-init="vm.initialize(@issueId)">
    <page-header title="{{'Conduct'|translate}}"
                 s3-icon-name="conduct.svg">
    </page-header> 
    <div class="row">

        <div data-ng-hide="!vm.employee.EmployeeId">
            <form name="conductForm" role="form" novalidate>
                <div class="well emp-profile-well noborder">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="pull-left emp-profile-wgt">
                                <div class="circle-img pull-left">
                                    <img ng-if="vm.employee.ProfileImage" ng-cloak ng-src="{{ ::vm.employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                </div><!-- Circle-image -->

                                <div class="row-details pull-left">
                                    <p class="emp-name">{{vm.employee.Name}}</p>
                                    <p class="emp-title">
                                        {{vm.employee.JobDescription}}
                                    </p><p class="hire-date">Start Date: {{vm.employee.HireDate}}</p>
                                </div><!-- emp-details -->
                            </div><!-- pull-left -->
                            <div class="clearfix"></div>
                        </div><!-- COL8 -->
                    </div><!-- ROW -->
                </div>
                <hr class="no-margin" />
                <div class="well complaint-view padding-mobile">

                    <div class="col-md-11 no-padding">

                        <div class="col-md-6 col-xs-10">
                            <div class=" col-xs-11 col-md-8 field-wrap no-padding">
                                <label for="dateOfOccurrencelate" class="subHeading">Date of Occurrence </label>
                                <sbm-date-picker id="dateOfOccurrencelate"
                                                 name="dateOfOccurrencelate"
                                                 max-date="vm.maxDate"
                                                 data-ng-model="vm.Conduct.DateOfOccurrence"
                                                 placeholder="Pick a date"
                                                 is-required="true"
                                                 ng-if="vm.conductId == 0"></sbm-date-picker>
                                <div id="dateOfOccurrenceConduct" name="datedateOfOccurrenceConduct" type="text" class="form-control" data-ng-required="true"
                                     data-ng-model="vm.Conduct.DateOfOccurrence" data-ng-if="vm.conductId > 0" readonly>{{vm.Conduct.DateOfOccurrence | date : 'MM/dd/yyyy' : vm.userContext.Timezone.OffsetInHours}}</div>
                            </div><!-- field-wrap -->
                            <div class="clearfix"></div>
                            <div class="field-wrap col-md-12 no-padding">
                                <label class="label-font">Select All That Apply</label>

                                <div class="success-btns attendance-form-picker" data-toggle="buttons">
                                    <label class="btn btn-default margin-3" ng-repeat="type in vm.ConductTypes" data-ng-class="{'active' : type.IsSelected == true}" ng-click="vm.setConductType(type.ConductTypeId)">
                                        <input type="checkbox" name="late" autocomplete="off">{{type.Name}}
                                    </label>
                                </div><!-- btn-group -->
                            </div><!-- field-wrap -->

                            
                            <div class="clearfix"></div>

                        </div>
                        <div class="col-md-6 col-xs-11">
                            <div class="field-wrap margin-l-0-r-5">
                                <label class="label-font">Reason for Warning/Notice:</label>
                                <textarea name="" id="" cols="30" rows="10" class="basic-input" placeholder="Enter Description Here" ng-model="vm.Conduct.Reason" required="true"></textarea>
                            </div><!-- field-wrap -->
                        </div>
                        <div class="clearfix"></div>

                        <div class="file-upload-wrap">

                            <div class="file-upload" ngf-select ngf-change="vm.addFile($files, $event)">
                                <i class="fa fa-upload"></i>
                                <p>Add a file</p>
                            </div>
                            <div class="file-upload" data-ng-if="vm.Conduct.ConductAttachments.length">
                                <i class="fa fa-file-o"></i>
                                <p>{{vm.AttachmentName| limitTo: 5 }}{{ ::vm.AttachmentName.length > 5?'..':''}}</p>
                            </div>
                            @*<label for="">Attach a Document</label>*@
                            <!--<div wo-attachment-uploader wo-on-change=""-->
                            @*<div class="basic-input file-upload" ngf-select ngf-change="vm.addFile($files, $event)">
                                <div class="file-upload-name">{{vm.AttachmentName}}</div>*@
                            @*<div class="attach-btn btn btn-primary btn-lg">
                                    <i class="fa-paperclip" data-ng-if="!vm.Conduct.ConductAttachments[0].UniqueId"></i>
                                    <i class="fa fa-file-o" title="File attached" data-ng-if="vm.Conduct.ConductAttachments[0].UniqueId"></i>
                                </div>*@<!-- label-box -->
                            @*</div>*@<!-- file-upload -->
                            <div class="clearfix"></div>
                        </div><!-- FIELD WRAP -->
                        <div class="clearfix"></div>
                        <hr />
                        <div class="align-btns padding-r-5">
                            <a href="@Url.Content("~/Personnel/Conduct/Details")" class="btn btn-grey">CANCEL</a>
                            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.conductForm.$invalid" ng-click="vm.saveConduct($event)">SUBMIT</a>
                        </div><!-- PULL_RIGHT -->



                    </div><!-- COL6 -->



                </div><!-- Well -->
            </form>
        </div>

    </div><!-- ROW -->
</div>