﻿@{
    ViewBag.Title = "Conduct";
    ViewBag.HideTitleBar = true;
}

@section title {
<quality-tab-navigation icon-sub-navigation="Personnel" active="teamStats"></quality-tab-navigation>
<div class="pull-right padding-top-20 hidden-xs">
    <date-range-picker></date-range-picker>
</div>
}

<div class="container-fluid personnel-index-common" data-ng-controller="Personnel.ConductIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'CONDUCT'|translate}}"
                 s3-icon-name="conduct.svg"
                 info-text="{{'CONDUCT_INDEX_TOOLTIP' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Personnel/Conduct/Entry")" class="btn btn-success btn-sm">+ <span class="hidden-xs hidden-sm text-uppercase">{{'RUN_CONDUCT' | translate }}</span></a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details", "Conduct")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>

    
    <div class="row page-data-align">
        <div class="col-sm-12 page-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                    <div class="col-md-12 recent-desktop  padding-bottom-15">
                        <h3 class="header margin-bottom-0 padding-left-15">
                            {{'Most Recent' | translate}}
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "Conduct" )">
                                {{'VIEW ALL' | translate}}
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.conducts" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true" format-datetime-offset="true"
                                                         item-id="details.ConductId" view-link-fn="vm.showEntryViewModal(id)"
                                                         header-date="details.DateOfOccurrence">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left">
                                                <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                            </div>
                                            <div class="pull-left employee-section">
                                                <p class="name truncate">{{ details.EmployeeName }}</p>
                                                <p class="name-lbl text-muted">
                                                    <span ng-if="details.EmployeeIsActive">{{'ACCOUNTABLE_EMPLOYEE' | translate}}</span>
                                                    <span ng-if="!details.EmployeeIsActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Reason" class="margin-top-25 truncate">
                                            <span ng-if="details.Reason">{{details.Reason}}</span>
                                            <span class="no-comment" ng-if="!details.Reason">{{'NO_CONDUCT_COMMENT' | translate}}</span>
                                        </div>
                                        <div class="site padding-top-5" ng-class="{'empty-description': !details.Reason}">
                                            <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left tag">
                                            <p class="relatedTo conduct pull-left truncate" ng-class="{'fits': details.ConductTypes[details.ConductTypes.length-1].Name.length > 25}">
                                                {{details.ConductTypes[details.ConductTypes.length-1].Name}}
                                            </p>
                                        </div>
                                        <div class="pull-right types">
                                            <a class="text-warning link-text-style text-uppercase" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{'SCORECARD' | translate}}</a>
                                            <a class="text-warning link-text-style padding-left-15" href="@Url.Action("Entry","Conduct", new { Area="Personnel" })/{{details.ConductId}}">{{'EDIT' | translate}}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 charts">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <div class="panel-header-txt padding-right-5">
                                    {{'OCCURRENCES_STATIC' | translate}}
                                    <span ng-if="vm.lastModifiedDate" class="panel-header-subtext align-size  margin-top-10  text-muted pull-right">{{'Updated' | translate}}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' }}</span>
                                </div>
                                <p class="panel-header-subtext padding-left-20">{{ vm.noOfMonths }} {{'MONTH_TREND' | translate}}</p>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                     ng-if="!vm.charts.Occurrences.series[0].data">
                                    - {{'NO_DATA' | translate}} -
                                </div>
                                <div class="pie-chart-align" ng-if="vm.charts.Occurrences.series[0].data">
                                    <sbm-hc-pie-chart personnel-legend="true" id="conductOccurrences" tool-tip-format="true" minwidth="0" height="300"
                                                      data-ng-model="vm.charts.Occurrences">
                                    </sbm-hc-pie-chart>
                                    <div class="count-align">
                                        <div class="total-count">{{ vm.charts.ConductCount }}</div>
                                        <div class="sub-title">{{'OCCURRENCES_STATIC' | translate}}</div>
                                    </div>
                                </div>
                                <div personnel-legend pull-right" class="personnel-pie-legend" ng-if="vm.charts.Occurrences.series[0].data.length">
                                    <div id="personnelLegendSpot"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <div class="panel-header-txt  padding-right-5">
                                    {{'Monthly Trend' | translate}}
                                    <span ng-if="vm.lastModifiedDate" class="panel-header-subtext margin-top-10  text-muted pull-right">
                                    {{'Updated' | translate}}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' }}</span>
                                </div>
                                <p class="panel-header-subtext  padding-left-20">{{ vm.noOfMonths }} {{'MONTH_TREND' | translate}}</p>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message"
                                     data-ng-if="vm.noOfMonths <= 1">
                                    - {{'MORE_THAN_1_MONTH_DATA_REQUIRED' | translate}} -
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message"
                                     ng-if="vm.charts.MonthlyTrend.categories.length <= 1 && vm.noOfMonths > 1">
                                    - {{'NO_DATA' | translate}} -
                                </div>
                                <div class="chart-wrap" ng-if="vm.charts.MonthlyTrend.categories.length > 1">
                                    <sbm-hc-line-chart id="trendsByConductType" data-ng-model="vm.charts.MonthlyTrend">
                                    </sbm-hc-line-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <div class="col-sm-12 recent-mobile  padding-bottom-15">
                            <h3 class="header margin-bottom-0">
                                {{'Most Recent' | translate}}
                                <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "Conduct" )">
                                    {{'VIEW ALL' | translate}}
                                </a>
                            </h3>
                            <div class="mobile-view-cards">
                                <card class="col-xs-12 col-sm-6 card-style" ng-repeat="details in vm.conducts" ng-transclude>
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="vm.headerText"
                                                             format-date="true" item-id="details.ConductId" view-link-fn="vm.showEntryViewModal(id)"
                                                             header-date="details.DateOfOccurrence" format-datetime-offset="true">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left">
                                                    <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                                </div>
                                                <div class="pull-left employee-section">
                                                    <p class="name truncate">{{details.EmployeeName}}</p>
                                                    <p class="name-lbl text-muted">
                                                        <span ng-if="details.IsEmployeeActive">{{'ACCOUNTABLE_EMPLOYEE' | translate}}</span>
                                                        <span ng-if="!details.IsEmployeeActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                    </p>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div ng-if="details.Reason" class="margin-top-15 truncate">
                                                <span ng-if="details.Reason">{{details.Reason}}</span>
                                                <span class="no-comment" ng-if="!details.Reason">{{'No Comment for this Conduct' | translate}}</span>
                                            </div>
                                            <div class="site padding-top-5" ng-class="{'empty-description': !details.Reason}">
                                                <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                    <i class="fa fa-location margin-right-5"></i>
                                                    <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left tag">
                                                <p class="relatedTo conduct pull-left margin-right-10 truncate" ng-class="{'fits': details.ConductTypes[details.ConductTypes.length-1].Name.length > 25}">
                                                    {{details.ConductTypes[details.ConductTypes.length-1].Name}}
                                                </p>
                                            </div>
                                            <div class="pull-right types">
                                                <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{'SCORECARD' | translate}}</a>
                                                <a class="text-warning link-text-style padding-left-15" href="@Url.Action("Entry","Conduct", new { Area="Personnel" })/{{details.ConductId}}">{{'EDIT' | translate}}</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="viewByEmployee">
                        <div class="panel panel-default wo-view-by-employee">
                            <div class="panel-header-txt">
                                {{'View by Employee' | translate}}
                                <span ng-if="vm.lastModifiedDate" class="panel-header-subtext margin-top-10  text-muted pull-right">
                                {{'Updated' | translate}}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' }}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                 ng-if="vm.employeeList.length == 0 && vm.isAllLoaded">
                                - {{'NO_DATA' | translate}} -
                            </div>
                            <div class="body-content" ng-if="vm.employeeList.length > 0">
                                <table class="table">
                                    <thead class="head">
                                        <tr>
                                            <th class="left-title">
                                                {{'EMPLOYEE' | translate}}
                                                <i class="angle-style" ng-class="vm.sort[0].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(0)"></i>
                                            </th>
                                            <th class="right-content hidden-xs hidden-sm">
                                                {{'WARNING' | translate}}
                                                <i class="angle-style" ng-class="vm.sort[1].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(1)"></i>
                                            </th>
                                            <th class="right-content hidden-xs hidden-sm">
                                                {{'ACTION_TAKEN' | translate}}
                                                <i class="angle-style" ng-class="vm.sort[2].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(2)"></i>
                                            </th>
                                            <th class="right-content last">
                                                {{'Total' | translate}}
                                                <i class="angle-style" ng-class="vm.sort[3].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(3)"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="body" data-infinite-scroll="vm.getEmployeeInfo()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                                        <tr class="data-row" data-ng-repeat="data in vm.employeeList">
                                            <td class="left-title">
                                                <div class="circle-employee-image pull-left">
                                                    <img src="{{ data.ProfileImage }}" />
                                                </div>
                                                <div class="pull-left padding-left-15">
                                                    <p ng-class="{ 'employee-name': data.EmployeeIsActive }">{{ data.EmployeeName }}</p>
                                                    <p class="inactive-employee" ng-if="!data.EmployeeIsActive">{{'INACTIVE_EMPLOYEE' | translate}}</p>
                                                </div>
                                            </td>
                                            <td class="data-content hidden-xs hidden-sm">{{ data.WarningCount }}</td>
                                            <td class="data-content hidden-xs hidden-sm">{{ data.ActionTakenCount }}</td>
                                            <td class="data-content last">{{ data.WarningCount + data.ActionTakenCount }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center fa-spin" ng-if="!vm.isAllLoaded">
                                <i class="fa-spinner text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
