﻿@{
    ViewBag.Title = "Aging By Due Dates";
    ViewBag.HideTitleBar = true;
}


<div class="financials account-receivable-aging" data-ng-controller="AccountsReceivableAgingIndexCtrl as vm" ng-init="vm.initialize()">
    <page-header title="{{'Aging By Due Dates'|translate}}"
                 s3-icon-name="financials.svg"
                 class="margin-horizontal-0">
    </page-header>
    <div class="row">
        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-header-txt">
                        {{'MONTHLY_TREND' | translate}}
                        <span class="last-updated-date hidden-xs">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</span>
                        <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                        <p class="last-updated-date hidden-sm hidden-lg hidden-md">( Last updated - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                    </div>
                    <div class="text-center text-muted" data-ng-if="!vm.chartsConfig.billingDues">
                        No Data to Display
                    </div>
                    <div class="charts_style" data-ng-if="vm.chartsConfig.billingDues">
                        <sbm-hc-column-chart id="billingInvoicesBarChart" data-ng-model="vm.chartsConfig.billingDues" ng-if="vm.chartsConfig.billingDues.series.length">
                        </sbm-hc-column-chart>
                    </div>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>
</div>
