﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/Content/styles/chaitea-admin")
}


@section scripts {
    @Scripts.Render("~/scripts/chaitea-admin")

    @RenderSection("scripts", required: false)

}

<div class="admin-container">
    @Html.Partial("~/Areas/Admin/Views/Shared/_Nav.cshtml")
    <div class="admin-body-container">
        @RenderBody()
    </div>
</div>