﻿<ul class="nav nav-pills padding-left">
    <li role="presentation">
        <a href="@Url.Action("Index","Core",new { Area="Admin" })">Core</a>
    </li>
<li role="presentation"><a href="@Url.Action("Index","Client", new { Area="Admin"})">Client</a></li>
    <li role="presentation">
        <a href="@Url.Action("Index","Report", new { Area="Admin"})">Reports</a>
    </li>
    <li role="presentation">
        <a href="@Url.Action("Index","TenantManagement", new { Area="Admin"})">Tenant Management</a>
    </li>
    <li role="presentation" ng-show="false">
        <a href="@Url.Action("Index","User", new { Area="Admin"})">Users</a>
    </li>
    <li role="presentation" ng-show="false">
        <a href="/Admin/Jobs">Jobs</a>
    </li>
    <li role="presentation" class="dropdown" ng-show="false">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
            Knowledge Center <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="javascript:void(0);">Courses</a></li>
            <li role="presentation"><a href="@Url.Action("CourseTypes","KnowledgeCenter", new { Area="Admin"})">Course Types</a></li>
        </ul>
    </li>
</ul>
