﻿<div class="row">
    <div class="col-xs-4 col-sm-4 course-image">
        <img class="featured-image" ng-src="{{empCourse.FeaturedImage}}" />
    </div>
    <div class="col-xs-8 col-sm-8 details">
        <div class="row">
            <div class="col-md-12">
                <h4>{{empCourse.Course.Name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                {{empCourse.TotalCompleted}}/{{empCourse.Course.CourseAttachments.length}}<span translate>Trainings</span>
            </div>
            <div class="col-xs-7 col-sm-7">
                <i class="fa fa-{{empCourse.Course.CourseType.Icon}}"></i><span>{{empCourse.Course.CourseType.Name}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-3 no-padding-right views">
                <i class="fa fa-view"></i><span>{{empCourse.Views}}</span>
            </div>
            <div class="col-xs-8 col-sm-8 no-padding-left">
                <star-rating for-display="true" score="course.AverageRating"></star-rating>({{course.AverageRating | number: 1}})
            </div>
        </div>
    </div>
</div>

<div class="row  stats-mobile">

    <div class="stats-container" ng-class="(!empCourse.IsSelfInitiated && !vm.isManager) || (empCourse.IsSelfInitiated && !empCourse.CanDelete) ? 'col-xs-12 col-sm-12' : 'col-xs-10 col-sm-10'">
        <div class="row stats-mobile-header">
            <div class="col-xs-6 col-sm-6 no-padding-right stat-title" translate>Due Date</div>
            <div class="col-xs-6 col-sm-6">{{empCourse.DueDate | date : 'MM/dd/yyyy'}}</div>
        </div>
        <div class="row stats-mobile-footer">
            <div class="col-xs-6 col-sm-6 no-padding-right stat-title" translate>Completion Date</div>
            <div class="col-xs-6 col-sm-6">
                <span ng-if="empCourse.IsCompleted" class="completed">{{empCourse.CompletedDate}}</span>
                <span ng-if="!empCourse.IsCompleted && empCourse.Compliant" class="inprogress" translate>In Progress</span>
                <span ng-if="!empCourse.IsCompleted && !empCourse.Compliant" class="due" translate>Past Due</span>
                <i class="{{empCourse.StatusIcon}} {{empCourse.StatusClass}}"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 action-mobile" ng-if="!empCourse.CanDelete && empCourse.CanAcknowledge" visible-training-admins visible-managers ng-click="$event.preventDefault()">
        <div>
            <icon class="fa fa-more action" ng-click="empCourse.ShowAcknowledgeButton = !empCourse.ShowAcknowledgeButton"></icon>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 action-mobile" ng-if="empCourse.CanDelete">
        <div>
            <a ng-click="vm.deleteEmployeeCourse($event, empCourse)" class="btn remove"><i class="fa fa-times"></i></a>
        </div>
    </div>
</div>
<div class="row" ng-if="empCourse.ShowAcknowledgeButton">
    <div class="col-xs-12 col-sm-12">
        <button class="btn btn-md btn-block btn-default {{(empCourse.IsCompleted ? 'incomplete': 'complete' )}}" ng-click="vm.toggleCourseCompletion($event, empCourse, null)">{{(empCourse.IsCompleted ? 'Unacknowledge': 'Acknowledge' )}}</button>
        <button class="btn btn-md btn-block btn-default" 
                ng-click="vm.changeDueDate($event, empCourse)"
                ng-required="false"
                ng-model="empCourse.DueDate" 
                uib-datepicker-popup="MM/dd/yyyy"
                is-open="vm.datePickerTracker[empCourse.EmployeeCourseId].open"
                close-text="Close" 
                datepicker-append-to-body="true">Change Due Date</button>
    </div>
</div>


