﻿<div class="col-md-2 course-image">
    <img class="featured-image" ng-src="{{empCourse.FeaturedImage}}" />
</div>
<div class="col-md-4 details">
    <div class="row">
        <div class="col-md-12">
            <h4>{{empCourse.Course.Name}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{empCourse.TotalCompleted}}/{{empCourse.Course.CourseAttachments.length}}<span translate>Trainings</span>
        </div>
        <div class="col-md-5">
            <i class="fa fa-{{empCourse.Course.CourseType.Icon}}"></i><span>{{empCourse.Course.CourseType.Name}}</span>
        </div>
    </div>
    <div>
        <div class="pull-left views padding-right-5">
            <i class="fa fa-view"></i><span>{{empCourse.Views}}</span>
        </div>
        <div class="pull-left no-padding-left">
            <star-rating for-display="true" score="empCourse.Course.AverageRating"></star-rating>({{empCourse.Course.AverageRating | number: 1}})
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="colum-header" translate>Due Date</div>
    <div class="colum-data">{{empCourse.DueDate | date : 'MM/dd/yyyy'}}</div>
</div>
<div class="col-md-4 flex-container">
    <div class="pull-left">
        <div class="colum-header" translate>Completion Date</div>
        <div>
            <span ng-if="empCourse.IsCompleted" class="completed">{{empCourse.CompletedDate}}</span>
            <span ng-if="!empCourse.IsCompleted && empCourse.IsCompliant" class="inprogress" translate>In Progress</span>
            <span ng-if="!empCourse.IsCompleted && !empCourse.IsCompliant" class="due" translate>Past Due</span>
        </div>
    </div>
    <div class="pull-left status-icon {{empCourse.StatusClass}}"><i class="{{empCourse.StatusIcon}}"></i></div>
    <div class="pull-right padding-top-20" ng-if="empCourse.CanDelete">
        <a ng-click="vm.deleteEmployeeCourse($event, empCourse)" class="btn remove"><i class="fa fa-remove"></i><span translate>Remove</span></a>
    </div>
</div>
<div uib-dropdown class="pull-right padding-right-20" ng-if="!empCourse.CanDelete && empCourse.CanAcknowledge" visible-training-admins visible-managers>
    <a uib-dropdown-toggle class="btn btn-default action-btn" id="dLabel" aria-haspopup="true" aria-expanded="false">
        <icon class="fa fa-ellipsis-h action"></icon>
    </a>
    <ul uib-dropdown-menu aria-labelledby="dLabel">
        <li><a ng-click="vm.toggleCourseCompletion($event, empCourse, true)"><span translate> Acknowledge</span></a></li>
        <li><a ng-click="vm.toggleCourseCompletion($event, empCourse, false)"><span translate> Unacknowledge</span></a></li>
        <li>
            <a ng-click="vm.changeDueDate($event, empCourse)"
               ng-required="false"
               ng-model="empCourse.DueDate"
               uib-datepicker-popup="MM/dd/yyyy"
               is-open="vm.datePickerTracker[empCourse.EmployeeCourseId].open"
               close-text="Close"
               datepicker-append-to-body="true">
                <span translate> Change Due Date</span>
            </a>
        </li>
    </ul>
</div>
