﻿@import "../../../../Css/Common/globals";

page-header {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    border-bottom: 1px solid $border;

    @include breakpoint(laptop) {
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        color: $dark;
        font-size: 1.143rem;
        font-weight: 700;
        margin: 0;
        text-transform: capitalize;

        @include breakpoint(tablet){
            font-size: 1.714rem;
        }

        @include breakpoint(laptop) {
            font-size: 1.571rem;
            font-weight: 800;
        }

        .header-icon {
            height: 26px;
            width: 26px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            float: left;
            margin-right: 10px;
        }

        span.fa {
            font-size: 1rem;

            @include breakpoint(tablet) {
                font-size: 1.3rem;
            }

            @include breakpoint(laptop) {
                font-size: 1rem;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .monthly-date-picker {
        float: left;
        overflow: hidden;
        margin-right: 10px;
        top: 0;
        right: 0;
        height: 29px;
        position: relative;
        font-size: 0.857rem;
        font-weight: 700;
        background: $primary;
        width: 160px;
        line-height: 29px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px $base;
        >a{
            background: $primary;
            padding: 0 10px;

            &:hover{
                background: lighten($primary, 2)
            }
        }
    }
}

.page-header-buttons {
        margin-left: auto;
        height: 100%;

        &.btn-group {
            width: auto;
            margin-right: -15px;
        }

        @include breakpoint(laptop) {
            height: auto;

            .btn{
                box-shadow:1px 1px 1px $base;
                text-transform:uppercase;
            }
        }

        @include breakpoint(notDesktop) {
            & > * {
                float: left;
                display: inline-block;
                height: 100%;
            }
            .btn {
                width: 52px;
                height: 100%;
                border-radius: 0;
                background: none;
                border-color: $border;
                color: $base-dark;
                font-size: 2rem;
                border-top: 0;
                border-bottom: 0;

                // to fix double borders 
                &:last-of-type{
                    border-left:0;
                }

                &:active{
                    border:0;
                }

                .fa{
                    font-size: 92%;
                }
            }
        }
    }

.page-header-dropdown.dropdown-menu {
    li > * {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    li {
        button, a {
            font-size: .8571rem;
            font-weight: 500;
            line-height: 30px;
            padding: 0;
            color: $base-dark;
            text-align: left;
            width: 100%;
            background:none;
            border-color:transparent;

            .fa {
                font-size: 1.3rem !important;
                width: 30px;
                text-align: center;
                display: block;
                margin-top:5px;
                float:left;
            }
        }
    }
}