﻿<h1>
    <span class="header-icon hidden-sm hidden-xs" ng-style="{'background-image':'url({{$ctrl.iconUrl}})'}"></span>
    {{$ctrl.title}}
    <span class="fa fa-information-alt text-warning clickable" ng-if="$ctrl.infoText.length"
          popover-class="popover-plain"
          popover-placement="{{$ctrl.popOverPlacement}}" 
          uib-popover="{{$ctrl.infoText}}" 
          popover-title="About This Feature"
          popover-trigger="'outsideClick'"></span>
</h1>

<div class="page-header-buttons" ng-class="{'btn-group':$ctrl.sitesettings.windowSizes.isNotDesktop}" ng-transclude></div>