﻿@{
    ViewBag.Title = "Change of Address";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid financials vacation no-gutter" data-ng-controller="ChangeOfAddressCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Change of Address'|translate}}"
                 s3-icon-name="hours.svg"
                 class="margin-horizontal-0">
    </page-header>
    
    <div class="panel-body">
            <div class="top-info">
                <div class="title">
                    Request Change Of Address
                </div>
                <p>The form will help you notify Human Resources of a change to your address on file</p>
                <hr />
                <div class="title col-xs-12 col-md-4 field-wrap padding-left-0">
                    <div class="padding-b10">Employee ID Number</div>
                    <input type="text" placeholder="Ex: A9021113" ng-model="vm.externalEmployeeId" ng-required="true" ng-disabled="true"/>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row vacation-form" ng-form="addressform">
                <div class="col-md-12">
                    <div class="input-head padding-b10">New Address</div>
                    <div class="col-md-4 col-xs-12 field-wrap padding-left-0">

                        <input type="text" placeholder="Ex: 123 South Watt Ave" ng-model="vm.address.street" ng-required="true" />
                        <div class="input-info">STREET ADDRESS</div>
                    </div><!-- Col-6 -->
                    @*<div class="clearfix"></div>*@
                    <div class="col-md-4 col-xs-12 field-wrap padding-left-0">
                        <input type="text" placeholder="Ex: Sacramento" ng-model="vm.address.city" ng-required="true" />
                        <div class="input-info">CITY</div>
                    </div><!-- Col-6 -->
                    @*<div class="clearfix"></div>*@
                    @*<div class="col-md-4 col-xs-12 field-wrap">*@
                        <div class="col-xs-6 col-md-2 field-wrap padding-left-0">
                            <input type="text" placeholder="Ex: California" ng-model="vm.address.state" ng-required="true" />
                            <div class="input-info">STATE</div>
                        </div>
                        <div class="col-xs-6 col-md-2 field-wrap hrs-input padding-left-0">
                            <input type="text" placeholder="Ex: 95825" ng-model="vm.address.zipcode" ng-required="true" />
                            <div class="input-info">ZIP CODE</div>
                        </div>
                        @*<div class="clearfix"></div>*@

                    @*</div>*@
                </div>
            </div>
            <div class="alert alert-success" role="alert" ng-if="vm.success == 1">{{vm.message}}</div>
            <div class="alert alert-warning" role="alert" ng-if="vm.success == 2">{{vm.message}}</div>
            <div class="col-md-12">
                <div class="col-md-8">
                    <p class="bottom-info">By Submitting this form, your address on file will be officially changed by Human Resource. Please notify Human Resources if you choose to cancel this request.</p>
                </div>

                <div class="col-md-4 col-xs-12 text-align-center padding-top-20">
                    <button class="btn btn-submit" data-ng-disabled="addressform.$invalid" ng-click="vm.sendEmail()"><span>SUBMIT CHANGE OF ADDRESS</span></button>
                </div>
            </div>

        </div>
</div>