﻿@{
    ViewBag.Title = "My Hours";

}

<div class="container-fluid financials padding-top timeclock no-gutter" data-ng-controller="Financials.MyTimeClockIndexCtrl as vm" data-ng-init="vm.initialize()">
    <div class="row header">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 pull-right hidden-xs hidden-sm date-buttons-align my-hours-padding-bottom">
                <div class="monthly-picker-div pull-right">
                    <div class="custom-monthly-picker ">
                        <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                    </div>
                </div>
                <div class="show-ste-btn-wrap-myhours pull-right">
                    <button class="btn show-ste-btn-myhours" ng-click="vm.getStraightTimeEquivalentHours()">{{vm.showSTEBtnText}}</button>
                </div>

            </div>
            <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 no-padding-left">
                <div class="page-title-desc">
                    <p class="desc">View the hours that you worked during the month, so you can keep track of what your schedule is, and plan ahead.</p>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>

    </div>
    <div class="hidden-lg hidden-md">
        <div class="monthly-picker-div col-xs-12">
            <div class="custom-monthly-picker col-xs-12 col-sm-12 ">
                <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="tc-btns-wrap">
            <div class="col-xs-12 col-sm-12">
                <button class="btn show-ste-btn-myhours" ng-click="vm.getStraightTimeEquivalentHours()">{{vm.showSTEBtnText}}</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="col-md-12 col-xs-12 no-padding" ng-init="activetab = 2" data-ng-show="vm.timeClocks.length">
            <div class="col-md-6 col-xs-6 tab" ng-click="activetab = 1" ng-class="{activetab : activetab == 1}">
                ACCOUNT OVERVIEW
            </div>
            <div class="col-md-6 col-xs-6 tab last-tab-border" ng-click="activetab = 2" ng-class="{activetab : activetab == 2}">
                TIME CLOCK
            </div>
        </div>
        <div class="clearfix"></div>

        @* Account Overview view *@
        <div class="accountoverview" data-ng-show="activetab == 1">
            <div class="col-md-6 col-md-offset-3">
                <a class="btn btn-success btn-block btn-nav" href="@Url.Content("~/Financials/MyTimeClock/VacationRequestEntry")">Vacation Request</a>
            </div>

            <div class="col-md-6 col-md-offset-3 margin-t-20">
                <a class="btn btn-success btn-block btn-nav" href="@Url.Content("~/Financials/MyTimeClock/ChangeOfAddressRequest")">Change Of Address Request</a>
            </div>
        </div>
        <div class="clearfix"></div>
        @* Time clock view *@
        <div data-ng-show="activetab == 2">
            <div class="calender-wrap">
                <mwl-calendar view="vm.view"
                              current-day="vm.currentDay"
                              events="vm.events"
                              @*view-title="calendarTitle"
                          on-event-click="eventClicked(calendarEvent)"
                          on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                          edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                            delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                          on-edit-event-click="eventEdited(calendarEvent)"
                          on-delete-event-click="eventDeleted(calendarEvent)"
                          auto-open="true"*@>
                </mwl-calendar>
            </div>
            <div class="month-head">{{vm.dateRange.date | date:'MMMM'}} {{vm.dateRange.year}} - Time Sheet</div>
            <hr />
            @*<uib-datepicker ng-model="vm.dt" min-date="vm.minDate" show-weeks="true" class="well well-sm" ></uib-datepicker>*@
            <div class="empty-data-info" data-ng-if="!vm.totalWeeksInMonth">No time sheets available </div>
            <div data-ng-repeat="week in vm.weeks" data-ng-if="week.weekNo <= vm.totalWeeksInMonth" style="padding : 0 5px">
                <a href="" ng-click="vm.active = $index"><h4><span ng-class="{activeweek : vm.active == $index}">Week {{week.weekNo}} - Worked {{week.totalHours}} Hours</span></h4></a>
                <div class="panel-body" ng-if="vm.active == $index">
                    <div class="col-md-12 sub-head">
                        <div class="col-md-3 col-xs-3 no-padding">
                            DATE
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            TIME-IN
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            TIME-OUT
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            HOURS
                        </div>
                    </div>
                    <div class="col-md-12 sub-head-content" ng-repeat="time in vm.timeClocks" ng-if="time.WeekNo === week.weekNo">
                        <hr />
                        <div>
                            <div class="col-md-3 col-xs-3 no-padding">
                                {{time.Day | date:'M/d'}}
                            </div>
                            <div class="col-md-3 col-xs-3 no-padding">
                                {{time.StartTime | date:'h:mm a'}}
                            </div>
                            <div class="col-md-3 col-xs-3 no-padding">
                                {{time.EndTime | date:'h:mm a'}}
                            </div>
                            <div class="col-md-3 col-xs-3 no-padding" style="color: green">
                                {{time.TotalTime}}hr
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="empty-data-info" ng-if="vm.active == $index && vm.totalWeeksInMonth > $index + 1 ">Tap to expand time sheet for the week</div>
            </div>
        </div>


    </div>
</div>