﻿@{
    ViewBag.Title = "Vacation Request";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid financials vacation no-gutter" data-ng-controller="VacationRequestIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Vacation Request'|translate}}"
                 s3-icon-name="hours.svg"
                 class="margin-horizontal-0">
    </page-header>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="top-info">
                <div class="title">
                    Request Time-Off
                </div>
                <p>The form will be submitted to you supervisor for review. Please submit form 30 days prior to the required vacation days</p>
            </div>
            <div class="row vacation-form">
                <form name="myForm">
                    <div class="col-md-4 col-xs-12 field-wrap">
                        <div class="input-head padding-b10">Select Vacation Type</div>
                        <select name="vacationType" id="vacationType" class="form-control"
                                data-ng-model="vm.vacationType"
                                data-ng-options="vacationType.key*1 as  vacationType.value for vacationType in vm.vacationTypes">
                            <option value="">- Select One -</option>
                        </select>
                    </div><!-- Col-6 -->
                    @*<div class="clearfix"></div>*@
                    <div class="col-md-6 col-xs-12 field-wrap">
                        <div class="input-head">Select Vacation Date</div>
                        <div class="col-xs-8 col-md-10 field-wrap date-input">
                            <sbm-date-picker id="vacationDate"
                                             name="vacationDate"
                                             min-date="vm.minDate"
                                             @*data-ng-model="vm.Safety.DateOfIncident"*@
                                             data-ng-model="vm.vacationDate"
                                             data-ng-required="true"
                                             placeholder="Pick a date"></sbm-date-picker>
                            <div class="input-info">TIME-OFF REQUEST DATE</div>
                        </div>
                        <div class="col-xs-4 col-md-2 field-wrap hrs-input">
                            <input type="text" placeholder="Hours" data-ng-model="vm.hoursRequested" data-ng-required="true" />
                            <div class="input-info-hrs">HOURS REQUESTED</div>
                        </div>
                    </div>

                    <div class="col-xs-5 col-md-2 add-btn-div">
                        <button class="btn vr-add-btn" data-ng-click="vm.addRow()" data-ng-disabled="myForm.$invalid"><i class="fa fa-plus"></i>ADD</button>
                    </div>
                </form>
            </div>
            <div class="list-items-wrap">
                <p class="items-head">Days Added</p>
                <div class="empty-wrap" data-ng-if="!vm.daysAdded.length">
                    <div class="col-md-12 text-center text-muted">No days added</div>
                </div>
                <div data-ng-if="vm.daysAdded.length">
                    <div class="col-xs-12 col-md-12 list-items" data-ng-repeat="item in vm.daysAdded">
                        <div class="col-md-5 col-xs-5 padding-left-0">
                            {{ item.vtnDate | date:'EEE - MM/dd/yyyy' }}
                        </div>
                        <div class="col-md-5 col-xs-5 padding-left-0">
                            {{ item.hrsRequested }} hr {{ item.vtnType }}
                        </div>
                        <div class="col-md-2 col-xs-2 no-padding">
                            <button class="btn btn-danger pull-right hidden-lg hidden-md hidden-sm remove" data-ng-click="vm.removeRow($index)"><i class="fa fa-close pull-right"></i></button>
                            <button class="btn btn-xs btn-danger pull-right hidden-xs remove" data-ng-click="vm.removeRow($index)">REMOVE</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="alert alert-success" role="alert" ng-if="vm.success == 1">{{vm.message}}</div>
            <div class="alert alert-warning" role="alert" ng-if="vm.success == 2">{{vm.message}}</div>
            <div class="col-md-12">
                <div class="col-md-8">
                    <p class="bottom-info">By Submitting this form, I understand that time away from work is subject to management and HR approval, company policies, and CBA guidlines, I further understand that until I am notified by my manager, this request is pending. </p>
                </div>
                <div class="col-md-4 col-xs-12 text-align-center padding-top-20">
                    <button class="btn btn-submit" data-ng-click="vm.submitRequest()" data-ng-disabled="!vm.daysAdded.length"><span>SUBMIT VACATION REQUEST</span></button>
                </div>
            </div>

        </div>
    </div>

</div>