﻿<div ng-repeat="item in $ctrl.items" ng-if="item.src" class="bootstrap-lightbox-item">
    <span class="fa fa-times text-white remove" ng-if="$ctrl.canEditItems" ng-click="$ctrl.removeItem({index: $index, uniqueId : item.uniqueId})"></span>
    <a 
       ng-class="{{$ctrl.customLinkClass}}"
       ng-href="{{item.src}}"
       data-toggle="lightbox"
       data-gallery="{{$ctrl.galleryName || 'multiimages'}}"
       data-footer="{{item.description}}"
       data-title='{{item.title}}'>
       
        <img ng-src="{{item.src}}" class="img-responsive" />
    </a>
</div>