﻿@import "../../../../css/Common/_globals";
@import "../../../../css/Common/_bootstrap-overrides";

quality-security-audit-form {
    .panel-group {
        padding:0 0 20px;

        @include breakpoint(desktop){
            padding: 40px 15px 20px;
        }

        .panel + .panel {
            margin-top: 0;
        }

        .panel-heading {
            border-bottom: 1px solid $gray-dark;
            background: $gray;
            padding: 0;

            h4 {
                color: #424242;
                font-size: 1rem;
                font-weight: 300;

                a {
                    width: 100%;
                    display: block;
                    padding: 12px 0;

                    @include breakpoint(desktop){
                        padding: 10px 0;
                    }

                    &:before {
                        content: '\f0da';
                        color: #403841;
                        font-family: 'FontAwesome';
                        padding: 0 15px;
                        font-size: 1rem;
                    }

                    .title{
                        color: $warning-dark;
                        font-weight: 600;
                    }
                    .score{
                        font-weight: 600;
                    }
                }
            }
        }

        .panel-body {
            padding:20px 10px 20px 10px;

            @include breakpoint(desktop){
                padding: 20px 20px 20px 40px;
            }
            .mob-na{
                font-style: italic;
                padding-left: 5px;
                font-size: 12px;
            }
            .info{
                border-radius: 50%;
                background-color: $warning;
                color: $default;
                height: 20px;
                width: 20px;
                text-align: center;
            }
            .criteria-item {
                padding: 5px 38px 5px 35px;
                display: block;
                position: relative;
                margin-bottom: 20px;
                min-height: 50px;
                float: left;
                @include breakpoint(mobileonly){
                    padding-right: 25px;
                }
                @include breakpoint(desktop){
                    height: 50px;
                    padding-right:10px;
                    padding-left: 70px;
                }

                &.not-applicable {
                    border-top: dotted 2px $base-dark;
                    padding: 20px 20px 20px 70px;
                    margin-bottom: 0px;

                    input {
                        margin-top: 23px;
                    }

                    label {
                        font-weight: normal;
                        color: $base-dark;
                        margin-top: 0;
                    }
                }

                .left-column {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 50px;
                    width: 50px;
                    text-align: center;

                    &.bubble {
                        background-color: #f5f5f5;
                        border-radius: 50%;
                        color: $base-dark;
                        font-size: 1.714rem;
                        line-height: 2;
                        cursor:pointer;

                        &:hover {
                            border-color: $warning;
                        }

                        &.selected {
                            color: white;
                            background: $warning;
                            border-color: $warning;
                        }
                    }
                }

                p {
                    color: $base-dark;
                    line-height: 1.4;
                }
            }

            .popover{
                width: 350px;
                max-width: 450px;
                @include breakpoint(mobileonly){
                    width: 300px;
                }
                .title{
                    color: $warning;
                    font-weight: 600;
                }
                .info-item{
                    padding-bottom: 15px;
                    border-bottom: 1px solid $border;
                    font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 15px;
                    padding-right: 15px;
                    &.no-border{
                        border-bottom: none;
                    }
                    .text{
                        line-height: 16px;
                    }
                }
            }
        }


        .panel-open {
            .panel-heading {
                border-bottom: 0;

                h4 a:before {
                    content: '\f0d7';
                }
            }
        }
    }
}
 