﻿@model ChaiTea.Web.Areas.User.Models.UserSettingVm
@{
    ViewBag.Title = "Settings";
    ViewBag.HideTitleBar = true;
    var userId = Model;
}

<div class="container-fluid user-module user-settings" data-ng-controller="User.SettingsIndex as vm" data-ng-init="vm.initialize(@userId)">
    <page-header title="{{'Settings'|translate}}"
                 s3-icon-name="profilesettings.svg"
                 info-text="{{'Set up your account by uploading a photo of yourself and adding in necessary information.'|translate}}"
                 class="margin-horizontal-0">
    </page-header>
    
    <uib-tabset class="padding-top-15">
        <uib-tab heading="Account">
            <div class="row">
                <div class="col-xs-12">
                    <p class="sub-title padding-top-40 margin-bottom-25">YOUR PHOTO</p>
                </div>
                <div class="col-xs-12 photo-container">

                    <div class="myconfig-circle-img pull-left">
                        <a href="@Url.Content("~/user/profile/index/"){{vm.orgUserId}}" title="View Profile">
                            <img ng-src="{{vm.user.currentPicture || '@Url.Content("~/content/img/user.jpg")'}}" alt="" />
                        </a>
                        <img id="pictureFile"
                             ngf-src="vm.files[0]"
                             ngf-pattern="'image/*'"
                             ngf-accept="'image/*'"
                             class="img-thumbnail" data-ng-if="vm.files.length">
                    </div>
                    <div class="pull-left emp-details">
                        <p class="emp-name">
                            <a href="@Url.Content("~/user/profile/index/"){{vm.orgUserId}}" title="View Profile">
                                {{ vm.user.firstName || vm.user.FirstName }} {{vm.user.lastName || vm.user.LastName}}
                            </a>
                        </p>
                        <p hidden-employees class="photo-desc hidden-xs">Photo Size: 150x150 pixels</p>
                        <button hidden-employees class="btn btn-choose hidden-md hidden-lg" data-ng-model="vm.files[0]"
                                ngf-select
                                ngf-pattern="'image/*'"
                                ngf-accept="'image/*'"
                                ngf-change="vm.uploadImage(vm.user,vm.files,$event)">
                            CHOOSE PHOTO
                        </button>
                        <button hidden-employees class="btn btn-delete hidden-md hidden-lg" data-ng-disabled="!vm.user.currentPicture" data-ng-click="vm.removePhoto($event)">DELETE PHOTO</button>
                    </div>

                    <div hidden-employees class="pull-left photo-action">
                        <button class="btn btn-warning hidden-sm hidden-xs" data-ng-model="vm.files[0]"
                                ngf-select
                                ngf-pattern="'image/*'"
                                ngf-accept="'image/*'"
                                ngf-change="vm.uploadImage(vm.user,vm.files,$event)">
                            CHOOSE PHOTO
                        </button>
                        <button class="btn btn-default hidden-sm hidden-xs" data-ng-disabled="!vm.user.currentPicture" data-ng-click="vm.removePhoto($event)">DELETE PHOTO</button>
                    </div>

                </div>
            </div>

            <hr />
            <div class="row padding-bottom-30">
                <form name="editUserForm" role="form" class="css-form" novalidate>
                    <div class="col-md-9 padding-top-20">
                        <p class="sub-title margin-bottom-5">Update Password</p>
                        <p class="sub-title-desc margin-bottom-30">Passwords must have a minimum 6 characters including an uppercase letter, a number, and a special character.</p>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="control-label text-warning margin-bottom-10">New Password</label>
                        <input name="password" type="password" class="form-control" complex-password="vm.password" aria-describedby="passwordHelpBlock" data-ng-required="true"
                               data-ng-model="vm.password" />
                    </div>
                    <div class="col-md-4 margin-bottom-20">
                        <label for="" class="control-label text-warning margin-bottom-10">Re-type Password</label>
                        <input type="password" class="form-control"
                               data-ng-model="vm.passwordMatch"
                               ui-validate="'$value==vm.password'"
                               ui-validate-watch="'vm.password'" />
                    </div>
                    <div class="col-md-9">
                        <button class="btn btn-warning pull-left"
                                data-ng-click="vm.savePassword($event)"
                                data-ng-disabled="this.editUserForm.$invalid">
                            UPDATE PASSWORD
                        </button>
                    </div>
                </form>
            </div>

            <hr />
            <div class="row padding-bottom-50">
                <div class="col-md-12 padding-top-20 margin-bottom-30">
                    <p class="sub-title">Contact Number</p>
                    <p class="sub-title-desc">Add a phone number you can be contacted at.</p>
                </div>
                <div class="col-md-4 margin-bottom-20">
                    <input class="input-select-style form-control" id="emp-phone" type="text" placeholder="Example: 9162322323" data-ng-model="vm.user.phoneNumber" />
                </div>
                <div class="col-md-12">
                    <button class="btn btn-warning pull-left" data-ng-click="vm.savePhoneNumber($event)">UPDATE NUMBER</button>
                </div>
            </div>
        </uib-tab>
        @*    EMPLOYMENT TAB    *@
        <uib-tab ng-if="vm.isManager" heading="Employment">
            <div class="row">
                <div class="col-xs-12 padding-vertical-50" ng-if="!vm.isUserAnEmployee">
                    <p class="alert text-center">
                        No employee record for this Site.
                    </p>
                </div>

                <div class="col-xs-12 outside-div" ng-if="vm.isUserAnEmployee">
                    <label class="text-primary" for="#">Select Position</label>
                    <p class="sm">Select a job position for the employee.</p>
                    <div class="row">
                        <div class="">
                            <div class="field-wrap col-md-4 col-sm-6">
                                <select class="form-control" data-ng-model="vm.employee.JobDescription.JobId" data-ng-change="vm.onSectionChange('position')" ng-options="job.JobId as job.Name for job in vm.allPositions">
                                    <option value="">-Please Select One-</option>
                                </select>
                            </div>
                            <div class="btn btn-dark pull-left margin-top-10 margin-left-15" data-ng-disabled="!vm.sectionChangedStates.position" data-ng-click="vm.saveEmployee($event)">
                                SAVE
                            </div>
                        </div>
                    </div>
                    <hr />
                    <label class="text-primary" for="#">Select Tasks</label>
                    <p class="sm">Start typing to see already used Tasks.</p>

                    <div class="input-group col-md-6 margin-bottom-20 margin-top-10">
                        <input type="text" class="form-control"
                               value=""
                               data-ng-model="vm.taskInput"
                               data-ng-keyup="vm.addNewTaskItemKeyPress($event)"
                               uib-typeahead="state as state.Name for state in vm.getTasksForView($viewValue) | filter:$viewValue | limitTo:8"
                               typeahead-on-select="vm.onTaskSelection($item, $model, $label)"
                               typeahead-loading="vm.taskSelectLoading"
                               placeholder="Example: Sweeping Floors" />
                        <span class="input-group-btn">
                            <button class="btn btn-success" data-ng-click="vm.addNewTaskItem($event)"><span class="fa fa-plus"></span> Add</button>
                        </span>
                    </div>
                    <label class="text-primary" for="#">Assigned Tasks</label>
                    <br />
                    <label data-ng-if="!vm.employee.EmployeeTasks.length">None</label>
                    <div class="well-clean list-group margin-top-10">
                        <div class="list-group-item" ng-repeat="item in vm.employee.EmployeeTasks track by $index">
                            {{item.Name}}
                            <button class="btn btn-danger btn-xs pull-right" data-ng-click="vm.removeNewTaskItem($index)">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <div class="btn btn-dark pull-right" style="margin-top: 10px;" data-ng-disabled="!vm.sectionChangedStates.tasks" data-ng-click="vm.saveEmployee($event)">
                            SAVE
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <label class="text-primary" for="#">Select Equipment & Supplies</label>
                    <p class="sm">Start typing to see already used Equipment & Supplies..</p>
                    <div class="input-group col-md-6 margin-top-10 margin-bottom-20">
                        <input type="text" class="form-control"
                               value=""
                               data-ng-model="vm.equipmentInput"
                               data-ng-keyup="vm.addNewEquipmentItemKeyPress($event)"
                               uib-typeahead="state as state.Name for state in vm.getEquipmentsForView($viewValue) | filter:$viewValue | limitTo:8"
                               typeahead-on-select="vm.onEquipmentSelection($item, $model, $label)"
                               typeahead-loading="vm.equipmentSelectLoading"
                               placeholder="Example: Broom" />
                        <span class="input-group-btn">
                            <button class="btn btn-success" data-ng-click="vm.addNewEquipmentItem($event)"><span class="fa fa-plus"></span> Add</button>
                        </span>
                    </div>
                    <label class="text-primary" for="#">Assigned Equipment & Supplies</label>
                    <br />
                    <label data-ng-if="!vm.employee.EmployeeEquipment.length">None</label>
                    <div class="well-clean list-group margin-top-10">
                        <div class="list-group-item" ng-repeat="item in vm.employee.EmployeeEquipment track by $index">
                            {{item.Name}}
                            <button class="btn btn-danger btn-xs pull-right" data-ng-click="vm.removeNewEquipmentItem($index)">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <div class="btn btn-dark pull-right" style="margin-top: 10px;" data-ng-disabled="!vm.sectionChangedStates.equipments" data-ng-click=" vm.saveEmployee($event)">
                            SAVE
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Notifications">
            <div id="notifications-config">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="buttons pull-right padding-vertical-20">
                            <button class="btn btn-default" ng-click="vm.resetNotificationConfigs()">RESET TO DEFAULT</button>
                            <button class="btn btn-warning" ng-click="vm.saveNotificationConfigs()" ng-disabled="vm._saveButtonDisabled">SAVE</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="sub-title margin-bottom-30">QUALITY</p>
                    </div>
                </div>
                @*Quality*@
                <div class="row">
                    <div class="col-md-6">
                        @*   AUDITS   *@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.audit.length">
                            <div class="title">Audits</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.audit">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*Compliments*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.compliment.length">
                            <div class="title">Compliments</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.compliment">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*ToDos*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.toDo.length">
                            <div class="title">To-Dos</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.toDo">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*Report It*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.ownership.length">
                            <div class="title">Report It</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.ownership">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*Complaints*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.complaint.length">
                            <div class="title">Complaints</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.complaint">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*Surveys*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.survey.length">
                            <div class="title">Surveys</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.survey">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*Work Orders*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.workOrder.length">
                            <div class="title">Work Orders</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.workOrder">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                @*personnel*@
                <div class="row" ng-if="vm.showPersonnel">
                    <div class="col-md-12">
                        <p class="sub-title margin-bottom-30">Personnel</p>
                    </div>
                </div>
                <div class="row" ng-if="vm.showPersonnel">
                    <div class="col-md-6">
                        @*   Position Profiles   *@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.positionprofiles.length">
                            <div class="title">Position Profiles</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.positionprofiles">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*Training*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.knowledgeCenter.length">
                            <div class="title">Training</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.knowledgeCenter">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*Professionalism*@
                        <div class="checkbox-group margin-bottom-50" ng-if="vm.groupedNotifications.professionalism.length">
                            <div class="title">Professionalism</div>
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.professionalism">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <hr ng-if="vm.groupedNotifications.safety.length || vm.showPersonnel" />
                @*Safety*@
                <div class="row" ng-if="vm.groupedNotifications.safety.length">
                    <div class="col-md-12">
                        <p class="sub-title margin-bottom-30">Safety</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox-group margin-bottom-50">
                            <div class="checkboxes">
                                <ul class="list-unstyled">
                                    <li ng-repeat="notification in vm.groupedNotifications.safety">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{notification.NotificationTypeId}}{{$index}}" type="checkbox"
                                                   ng-disabled="{{notification.IsDefault}}"
                                                   ng-model="notification.IsActive">
                                            <label for="checkbox{{notification.NotificationTypeId}}{{$index}}">
                                                {{notification._notificationText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="buttons pull-right padding-vertical-20">
                            <button class="btn btn-warning" ng-click="vm.saveNotificationConfigs()" ng-disabled="vm._saveButtonDisabled">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</div>


