﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    
}

<div class="row">
    <div class="col-lg-3 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")" class="brand">
                    insite
                </a>
                <div class="text-muted"><small>revTwo</small></div>
                <h1>Forbidden.</h1>
                <h3>You are not authorized to view this page.</h3>
                <div class="padding-top-10">
                    <a id="back" class="btn btn-default" href="javascript:window.history.back();">Go Back</a>
                    <a class="btn btn-default" href="@Url.Content("~/")">Home</a>
                </div>
            </div>
        </section>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            if (window.history.length <= 0) {
                $('#back').hide();
            }
    </script>
}