﻿@model HandleErrorInfo

@{
    ViewBag.Title = "An Error has occurred";
}

<div class="row">
    <div class="col-lg-3 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")" class="brand">
                    insite
                </a>
                <div class="text-muted"><small>revTwo</small></div>
                <h1>An error has occurred.</h1>
                
                <div class="padding-top-10">
                    <a class="btn btn-default" href="@Url.Content("~/")">Return Home</a>
                </div>
            </div>
        </section>

    </div>

</div>