﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Page not found";
    
}
@section scripts{
    <script>
        if (window.history.length <= 0) {
            $('#back').hide();
        }
    </script>
    }
<div class="row">
    <div class="col-lg-3 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")" class="brand">
                    insite
                </a>
                <div class="text-muted"><small>revTwo</small></div>
                <h1>Page not found.</h1>
                <h3>We can not find the page that you're looking for.</h3>
                <div class="padding-top-10">
                    <a id="back" class="btn btn-default" href="javascript:window.history.back();">Go Back</a>
                    <a class="btn btn-default" href="@Url.Content("~/")">Home</a>
                </div>
            </div>
        </section>

    </div>

</div>