﻿    <div class="send-message-modal-header">
        <div class="close-btn" ng-click="vm.close()">
            <i class="fa-times"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="send-message-modal-body">
        <i class="fa fa-sent text-primary"></i>
        <p class="">No Statistics Available</p>

        <p class="no-stats">We're sorry. Your message was sent before our system was updated to allow statistics. 
        Please resend your message for the most updated data. Thank you.</p>
        
    </div>
    <div class="send-message-modal-footer" >
        <div class="reuse-btn" ng-if="!vm.fromMessagesReceived">
            <open-message-builder message-id="{{vm.message.Id}}" is-reuse="true" class="btn btn-default action-btns bg-primary" ng-click="vm.close()">RE-USE MESSAGE</open-message-builder>
        </div>
    </div>
