﻿    <div class="send-message-modal-header">
        
        <div class="close-btn pull-right" ng-click="vm.close()">
            <i class="fa-times"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="send-message-modal-body">
        <div class="message-stats">
            <div class="title">
                {{vm.message.Title}}
            </div>
            <div class="message-info" ng-if="vm.fromMessagesReceived">
                <div>
                    <div class="text-label">FROM:</div>
                    <div class="text-body truncate">{{ vm.message.DepartmentName }}</div>
                    <div class="clearfix"></div>
                </div>
                <div class="margin-top-5">
                    <div class="text-label">SITE:</div>
                    <div class="text-body truncate">{{ vm.siteText }}</div>
                    <div class="clearfix"></div>
                </div>
                <div class="margin-top-5">
                    <div class="text-label">POSITION:</div>
                    <div class="text-body truncate" ng-class="{'show-all-selected' : showAllPositions}">{{ vm.message.To }}</div>
                    <div class="show-all-text" ng-class="{'visible-xs': vm.message.To.length <= 40}" ng-click="showAllPositions = !showAllPositions">SHOW {{ showAllPositions ? 'LESS' : 'ALL' }}</div>
                    <div class="clearfix"></div>
                </div>
                <div class="full-message-content">
                    <hr />
                    <div class="view-message-btn" ng-click="vm.toggleFullMessage()">{{ vm.viewFullMessage ? 'HIDE' : 'VIEW' }} FULL MESSAGE</div>
                </div>
                <div class="message-content" ng-if="vm.viewFullMessage">
                    <p>
                        <span class="text-label">MESSAGE:</span>
                        <span class="message-title-style">{{ vm.message.Title }}</span>
                        <div class="clearfix"></div>
                    </p>
                    <p class="margin-top-10" ng-bind-html="vm.message.Details | trustAsHtml"></p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 padding-top-20   padding-bottom-20">
                <sbm-hc-pie-chart message-stats-legend="true" id="messageStats" height="220" minwidth="0" data-ng-model="vm.messageStatsChart" ></sbm-hc-pie-chart>
                <p class="recipients">{{vm.totalRecipients}} Recipients</p>
            </div>
            
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 details">
                <b>Message Statistics</b>
                <p class="date">Sent Date: {{vm.message.SentDate | date: 'MMM d, y'}}</p>
                <hr />
                <p class="opened"><span class="percent">{{vm.opened/vm.totalRecipients * 100 | number : 0}}% </span> of recipients have opened the message</p>
                <div class="col-sm-11 " ng-if="vm.messageStatsChart">
                    <div id="legendSpotCustom" class="padding-top-10"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="recipient-details col-sm-12"  >
                <div class="pull-left tabs" ng-class="{'active': vm.filter == 0}" ng-click="vm.changeFilter(0)">All <span class="hidden-xs">Recipients</span> ({{vm.totalRecipients}})</div>
                <div class="pull-left tabs" ng-class="{'active': vm.filter == 1}" ng-click="vm.changeFilter(1)">Opened ({{vm.opened}})</div>
                <div class="pull-left tabs" ng-class="{'active': vm.filter == 2}" ng-click="vm.changeFilter(2)">Not Opened ({{vm.notOpened}})</div>
                <div class="clearfix"></div>
                <div id="employeeList" class="employees">
                    <div class="employee-container" data-infinite-scroll="vm.getMessages()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy"
                         infinite-scroll-container="'.employees'" infinite-scroll-parent="true">
                        <div class="employee-card col-sm-6 col-xs-12" ng-repeat="employee in vm.employees">
                            <div class="circle-img pull-left">
                                <img ng-src="{{employee.ProfileImage || vm.sitesettngs.defaultProfileImage}}" />
                            </div>
                            <div class="emp-desc pull-left">
                                <p class="name">{{employee.Name}}</p>
                                <span class="job-title pull-left">{{employee.JobDescription}}</span>
                                <span class="pull-left" ng-if="!employee.IsActive">Inactive</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
