﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Settings.Models.CourseAdminVm
@{
    ViewBag.Title = " ";
    ViewBag.BreadCrumbOverride.ActionName = "Assign Courses";
    var isAdmin = Model.isAssign;
    var isByEmployee = Model.isByEmployee;
}


<div class="container-fluid course-admin" data-ng-controller="Settings.AssignCtrl as vm" data-ng-init="vm.initialize(@Json.Encode(isAdmin), @Json.Encode(isByEmployee))">
    <div class="row page-heading-style">
        <div class="col-md-6 col-sm-8 col-xs-10 padding-left-0 padding-right-0">
            <h3 class="text-primary page-title-text-style">{{'ASSIGN_COURSES_TITLE' | translate}}</h3>
            <div class="hidden-xs padding-left-0">
                <p>
                    {{'ASSIGN_COURSES_SUBTITLE' | translate}}
                </p>
            </div>
        </div>
        <a class="pull-right knowledge-center" ng-if="!vm.isAssign" href="@Url.Action("Index", "KnowledgeCenter", new { Area = "Training"} )">
            <i class="fa fa-training"></i>
            <span class="hidden-xs">{{"Knowledge Center" | translate}}</span>
        </a>
    </div>
    <div class="row details-section">
        <div class="select" ng-class="vm.showSummary ? 'col-lg-8 col-md-8 hidden-sm hidden-xs': 'col-lg-12 col-md-12 col-sm-12 col-xs-12'">
            <div class="header" ng-class="vm.showSummary ? 'col-md-12 col-sm-12 col-xs-12' : 'col-md-11 col-sm-10 col-xs-9'">
                <div class="outer">
                    <div class="steps" ng-repeat="item in vm.steps">
                        <div class="number" ng-class="{'active': vm.currentStep >= ($index + 1)}">{{item.Number}}</div>
                        <p ng-class="{'text-warning': vm.currentStep >= ($index + 1)}">{{item.Name | translate}}</p>
                        <div class="in-progress" ng-if="$index != 0 && vm.currentStep >= ($index + 1)">
                            <i class="fa fa-circle text-warning"></i>
                            <i class="fa fa-circle text-warning"></i>
                            <i class="fa fa-circle text-warning"></i>
                            <i class="fa fa-circle text-warning"></i>
                            <i class="fa fa-circle text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide col-md-1 col-sm-2 col-xs-3 slide-left" ng-if="!vm.showSummary" ng-click="vm.toggleSummary()">
                <span class="total-count-slide-right">
                    {{ (vm.assignByEmployee ? ((vm.employeeJob | filter: { Selected: true })).length : ((vm.positions | filter: { Selected: true })).length) + ((vm.courses | filter: { Selected: true })).length }}
                </span>
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-scorecard"></i>
            </div>
            <div class="clearfix"></div>
            <div class="body">
                <div class="col-lg-12 col-md-12 padding-bottom-10" ng-if="!vm.isAssign && vm.currentStep == vm.enumSteps.SelectCourse">
                    <img ng-if="vm.selectedEmployee.Image" ng-src="{{vm.selectedEmployee.Image}}" />
                    <span class="name">{{vm.selectedEmployee.Name}}</span>
                </div>
                <p class="title">
                    <span class="bold">
                        <span ng-if="vm.isAssign">{{'ASSIGN' | translate}}&nbsp;{{'COURSES_TO_EMPLOYEES' | translate}}:</span>
                        <span ng-if="!vm.isAssign">{{'UNASSIGN_COURSES' | translate}}:</span>
                    </span>
                    <span class="padding-left-5">{{vm.steps[vm.currentStep-1].Text | translate}}</span>
                </p>
                <div class="options padding-top-20">
                    <div class="search col-md-3 col-lg-3 col-sm-3">
                        <input type="text" value="" ng-model="search" class="form-control search-section input-sm filter" placeholder="{{'SEARCH' | translate}}" />
                        <span class="fa fa-search2 icon-search"></span>
                    </div>
                    <div ng-if="vm.enumSteps.SelectEmployee == vm.currentStep && vm.assignByEmployee" class="filter col-md-3 col-lg-3 col-sm-3">
                        <select name="jd-type-select" id="jd-type-select" class="form-control style"
                                ng-model="vm.selectedPositionId"
                                ng-options="position.Id*1 as position.Name for position in vm.positions"
                                ng-change="vm.changePosition()">
                            <option value="">All Positions</option>
                        </select>
                    </div>
                    <div class="select-button pull-right" ng-class="(selectedDataItemCount = (vm.dataItems | filter: {Selected: true}).length) == vm.dataItems.length ? 'clear': 'allSelect'" 
                         ng-if="vm.isAssign || vm.currentStep == vm.enumSteps.SelectCourse" ng-click="vm.selectAll(selectedDataItemCount == vm.dataItems.length)">
                        <span ng-if="selectedDataItemCount != vm.dataItems.length">{{'SELECT_ALL' | translate}}</span>
                        <span ng-if="selectedDataItemCount == vm.dataItems.length">{{'CLEAR_ALL' | translate}}</span>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="scroll-data col-md-12 col-lg-12" ng-class="{'unassign': !vm.isAssign && vm.enumSteps.SelectCourse == vm.currentStep}">
                        <div ng-class="{'full-data': vm.showSummary, 'half-data': !vm.showSummary }" ng-repeat="item in vm.dataItems | filter: { Name : search}">
                            <div class="data" ng-class="{'active': item.Selected}"  ng-click="vm.selectItem(vm.currentStep, $index)">
                                <div class="data-img-name-content pull-left" ng-class="{'increase-width': !item.MoreInfo}">
                                    <img ng-if="item.Image" ng-src="{{item.Image}}" />
                                    <span class="name" ng-class="{'active': item.Selected}">{{item.Name}}</span>
                                </div>
                                <span ng-if="item.MoreInfo" class="more-info pull-left" ng-class="{'active': item.Selected}">{{item.MoreInfo}}</span>
                                <span class="pull-right fa tick" ng-class="item.Selected ? 'fa-check22 active' : 'fa-punch-circle'"></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons prev pull-left" ng-if="vm.currentStep != vm.enumSteps.SelectEmployee" ng-click="vm.move(false)">{{'PREVIOUS' | translate}}</div>
                <div class="buttons next pull-right" ng-if="vm.currentStep < vm.noOfSteps" 
                     ng-class="{'inactive' : (selectedDataItemCount = (vm.dataItems | filter: {Selected: true}).length) == 0}" 
                     ng-click="vm.move(true,selectedDataItemCount)">
                    {{'Next' | translate}}
                </div>
                <div ng-if="vm.currentStep == vm.noOfSteps" class="buttons next pull-right" ng-click="vm.save()"
                     ng-class="{'inactive' : vm.checkLastStep()}">
                    <span ng-if="vm.isAssign">{{'SAVE_FINISH' | translate}} </span>
                    <span ng-if="!vm.isAssign">{{'Remove' | translate}} </span>
                </div>
                <a class="buttons cancel pull-right" href="@Url.Action("Index", "KnowledgeCenter", new { Area = "Training" })">{{'CANCEL' | translate}}</a>
                
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="summary-section col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-class="{ 'height-show': vm.showSummary }" ng-if="vm.showSummary">
            <div class="row section-header">
                
                <div class="slide col-md-2 col-sm-2 col-xs-3 slide-right" ng-click="vm.toggleSummary()">
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-9 title">
                    <i class="fa fa-scorecard sub-items-align"></i>
                    <span class="sub-items-align">{{'SUMMARY' | translate}}</span>
                </div>
            </div>
            <div class="row body-header" ng-repeat="item in vm.summary" ng-click="vm.toggleContent($index)">
                <div class="pull-left">
                    <span class="title">
                        {{ item.Title | translate }}
                    </span>
                    <span class="count">
                        ({{ selectedCount = ((item.Content | filter: { Selected: true })).length }})
                    </span>
                </div>
                <div class="pull-right angle-style" ng-if="selectedCount > 0">
                    <i class="fa fa-angle-down" ng-if="!item.DisplayContent"></i>
                    <i class="fa fa-angle-up" ng-if="item.DisplayContent"></i>
                </div>
                <div class="clearfix"></div>
                <div class="content-scroll" ng-if="item.DisplayContent">
                    <div class="body-content" ng-repeat="data in item.Content | filter: { Selected : true } | limitTo: item.NoOfContentItems">
                        <i class="fa fa-icon-close" ng-click="vm.removeDataFromContent($parent.$parent.$index, $index, $event, data.Id)"></i>
                        <span class="data-style">{{ data.Name }}</span>
                    </div>
                </div>
                <div class="count more" ng-if="item.DisplayContent && selectedCount - item.NoOfContentItems > 0" ng-click="vm.showAllContent($parent.$index, $index, $event)">
                    + {{ selectedCount - item.NoOfContentItems }}&nbsp; {{'MORE' | translate}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
