﻿<div id="edit-background" class="btn btn-dark btn-sm "
     data-ng-model="$ctrl.backgroundPictureFiles[0]"
     ngf-select
     ngf-pattern="'image/*'"
     ngf-accept="'image/*'"
     ngf-change="$ctrl.addBackgroundPicture($ctrl.employee,$ctrl.backgroundPictureFiles,$event)">

    <span class="fa fa-image"></span> Edit Background
</div>
<div class="inner-box col-md-10 col-md-offset-1 col-sm-12" ng-if="$ctrl.isActive">
    <div class="row">
        <div class="my-profile-header-info padding-top-20">
            <div class="my-profile-circle-img">
                <img ng-src="{{$ctrl.employee.currentPicture}}" alt="" />
            </div>
            <div class="my-profile-emp-details">
                <h4 class="emp-name">{{ $ctrl.employee.name}}</h4>
                <hr class="margin-vertical-10" />
                <p class="job-desc">{{ $ctrl.employee.JobDescription.Name || 'n/a'}} | Hired {{ ($ctrl.employee.HireDate | date: 'M/d/yyyy') || 'n/a'}}</p>
                <p>{{$ctrl.userContext.Client.Name}} | {{$ctrl.userContext.Site.Name}}</p>
            </div>
        </div>
        <div ng-if="!$ctrl.sitesettings.windowSizes.isPhone" class="social-images hidden-xs pull-right">
            
            <bootstrap-lightbox items="$ctrl.employee.socialPictures" can-edit-items="$ctrl.canEditItems" remove-item="$ctrl.removeSocialPicture(index, uniqueId)" gallery-name="social-images"></bootstrap-lightbox>             
            <div class="empty-box clickable bootstrap-lightbox-item"
                 ng-if="!$ctrl.employee.socialPictures[3] && $ctrl.canEditItems"
                 data-ng-model="$ctrl.socialPictureFiles[0]"
                 ngf-select
                 ngf-pattern="'image/*'"
                 ngf-accept="'image/*'"
                 ngf-change="$ctrl.addSocialPicture($ctrl.employee,$ctrl.socialPictureFiles,$event)">
                <span class="fa fa-plus"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="my-profile-tabbed-links col-xs-12">
            <ul class="list-inline">
                <li class="li-hover" ng-class="{'active': ($ctrl.activeLink == 'userProfile')}">
                    <a ui-sref="userProfile({CE_ID:$ctrl.employee.employeeId, external:true})">Profile</a>
                </li>
                <li class="li-hover" ng-if="$ctrl.isLoggedInUserOrManager" ng-class="{'active': ($ctrl.activeLink == 'userReportCard')}">
                    <a ui-sref="userReportCard({CE_ID:$ctrl.employee.employeeId, external:true})">Report Card</a>
                </li>
                <li class="li-hover" ng-if="$ctrl.isLoggedInUserOrManager" ng-class="{'active': ($ctrl.activeLink == 'userTranscript')}">
                    <a ui-sref="userTranscript({ CE_ID:$ctrl.employee.employeeId,external:true})">Transcript</a>
                </li>
                <li class="li-hover" ng-if="$ctrl.isLoggedInUserOrManager" ng-class="{'active': ($ctrl.activeLink == 'userJob'), 'hidden-xs': $ctrl.isEmployee}">
                    <a ui-sref="userJob({CE_ID:$ctrl.employee.employeeId, external:true})">My Job</a>
                </li>
                <li class="li-hover" ng-if="$ctrl.isEmployee && $ctrl.isLoggedInUserOrManager" ng-class="{'active': ($ctrl.activeLink == 'userFinancials'), 'hidden-xs': $ctrl.isEmployee }">
                    <a ui-sref="userFinancials({CE_ID:$ctrl.employee.employeeId, external:true})">Financials</a>
                </li>
                <li ng-if="$ctrl.isEmployee && $ctrl.isLoggedInUserOrManager" uib-dropdown ng-class="{'visible-xs': $ctrl.isEmployee}">
                    <a uib-dropdown-toggle ng-class="{'active': ($ctrl.activeLink == 'userJob') || ($ctrl.activeLink == 'userFinancials')}" data-toggle="dropdown">MORE...<span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li class="li-hover" ng-class="{'active': ($ctrl.activeLink == 'userJob')}">
                            <a ui-sref="userJob({CE_ID:$ctrl.employee.employeeId, external:true})">My Job</a>
                        </li>
                        <li class="li-hover" ng-class="{'active': ($ctrl.activeLink == 'userFinancials')}">
                            <a ui-sref="userFinancials({CE_ID:$ctrl.employee.employeeId, external:true})">Financials</a>
                        </li>
                    </ul>
                </li>
                <li class="li-hover" ng-class="{'active': ($ctrl.activeLink == 'team')}">
                    <a ui-sref="team({CE_ID:$ctrl.employee.employeeId, external:true})">Team</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>