﻿<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" ng-repeat="(key,criteria) in vm.criterias" is-open="criteria.open">
        <uib-accordion-heading>
            <span class="title">{{criteria.title}}</span>
            <span class="pull-right score margin-right-10" ng-class="(5 - criteria.selected) < vm.goal ? 'text-danger': 'text-success'" 
                  ng-if="criteria.selected != null">{{5 - criteria.selected}}</span>
            <span class="pull-right score margin-right-10" ng-show="criteria.notApplicable">N/A</span>
        </uib-accordion-heading>
        <div class="hidden-md hidden-lg col-xs-12 padding-left-0 padding-right-0 margin-bottom-15">
            <div class="pull-left">
                <span class="pull-left">
                    <input class="" type="checkbox" name="notApplicable" id="notApplicable{{$index}}" value="" ng-model="criteria.notApplicable" ng-change="vm.selectCriteria(criteria,key,null)" />
                </span>
                <p class="padding-left-0 pull-left"><span class="margin-top-0 mob-na" for="notApplicable{{$index}}">Not Applicable</span></p>
            </div>
            <div class="pull-right info" uib-popover-template="'{{vm.infoContent.templateUrl}}'" popover-placement="bottom-right">
                i
            </div>
        </div>
        <div ng-repeat="item in criteria.items | orderBy:'$index':'-'" class="criteria-item" ng-class="{'padding-right-0': $last,'col-md-12': vm.siteSettings.windowSizes.isDesktop}">
            <span class="left-column bubble" ng-click="vm.selectCriteria(criteria,key, $index)" ng-class="{'selected': (criteria.selected === $index || vm.getCheckScore(criteria) === (5 - $index))}">{{5 - $index}}</span>
            <p class="col-md-6 padding-left-0 hidden-sm hidden-xs">{{item}}</p>
        </div>
        <div class="criteria-item not-applicable col-md-4 hidden-sm hidden-xs">
            <span class="left-column">
                <input class="" type="checkbox" name="notApplicable" id="notApplicable{{$index}}" value="" ng-model="criteria.notApplicable" ng-change="vm.selectCriteria(criteria,key,null)"/>
            </span>
            <p class="col-md-8 padding-left-0"><label for="notApplicable{{$index}}">Not Applicable</label></p>
        </div>
    </div>
</uib-accordion>
