﻿<div class="padding-bottom-15">
    <p class="title">Scoring Criteria</p>
</div>
<div ng-repeat="item in vm.criterias[$index].items | orderBy:'$index':'-'" class="criteria-item info-item" ng-class="{'no-border': $last}">
    <span class="left-column bubble">{{5 - $index}}</span>
    <p class="padding-left-20 text">{{item}}</p>
</div>
