﻿@import '../Common/globals';

.admin-body-container {
    background-color: #fff;
    padding-top: 20px;

    
}

.admin-container{

    .ui-grid-cell {
        overflow: visible;
        z-index: 99999;
    }

    .ui-grid-cell, ui-select-wrap {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

}

.admin {
    &.admin-core {
        .create-box {
            padding: 10px 20px 20px;
            overflow: hidden;
            background: $gray;
            border: 1px solid $border;
        }

        .style {
            @include breakpoint(mobilephone) {
                padding-left: 10px;
                padding-right: 10px;
            }

            @include breakpoint(mobileonly) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .table {
            .attribute {
                @include breakpoint(mobilephone) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .id{
                width: 25px;
            }
            .create {
                padding-right: 0;

                @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
                    padding-right: 8px;
                }

                @include breakpoint(desktop) {
                    padding-right: 8px;
                }
            }

            .buttons {
                @include breakpoint(mobilephone) {
                    padding-right: 0;
                }

                .small {
                    @include breakpoint(mobilephone) {
                        padding: 2px 5px;
                    }
                }

                .btn-text {
                    padding-left: 4px;
                }
            }
        }

        .vertical-tabs {
            &.tabs-left {
                .nav-tabs {
                    @include breakpoint(mobilephone) {
                        width: 30%;
                    }

                    @include breakpoint(mobileonly) {
                        width: 33%;
                    }
                }
            }
        }

        .btn-group-style {
            padding: 8px 0;

            @include breakpoint(desktop) {
                padding: 8px;
            }

            .inline-block {
                .small {
                    @include breakpoint(mobileonly) {
                        float: right;
                        margin-right: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    &.admin-report{
        .audits{
            .title{
                font-size: 1rem;
            }
            .input-box, .unchecked{
                height: 18px;
                width: 18px;
                border: 1px solid $border;
            }
            .checked{
                background: $primary;
            }
            .disabled{
                cursor: not-allowed !important;
                background: $gray-dark;
            }
            .checked-disabled{
                background: $gray-dark;
            }
            .fa-check{
                color: $default;
            }
        }
    }
}

.save-style {
    @include breakpoint(mobilephone) {
        padding-top: 15px;
        margin-left: 80px;
    }
}

.btn-reset {
    min-height: 34px;
}

.btn-save {
    min-height: 34px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
