﻿@{
    ViewBag.Title = Model.PageTitle ?? "Knowledge Center"; ;
    string pageTitle = ViewBag.Title.ToLower().Replace(" ","-");
    ViewBag.HideTitle = true;
    var courseTypeId = Model.Id;
    var breadCrumbOverride = new ChaiTea.Web.Models.BreadCrumbOverride()
    {
        AreaName = "HIDE",
        ControllerName = "KNOWLEDGE CENTER" ?? "HIDE",
        ControllerUrl = Url.Action("Index", "KnowledgeCenter", new { Area = "Training" }),
        ActionName = pageTitle ?? "HIDE"
    };
    ViewBag.BreadCrumbOverride = breadCrumbOverride;
}
@section scripts{

<script type="text/ng-template" id="coursePopup.tmpl.html">
    <div class="leave-note-modal-header">
        <div class="close-btn" ng-click="vm.$scope.$close()">
            <span >&times;</span>
        </div>
    </div>
    <div class="take-course-modal-body">
        <i class="fa fa-{{vm.courseIcon}}"></i>
        <p class="course-name">{{vm.course.Name}}</p>
        <p class="course-overview">{{vm.course.Overview}}</p>
      
        <div class="training-list" ng-class="{'training-list-height' : vm.course.CourseAttachments.length > 3}">
            <div class=""  ng-repeat="training in vm.course.CourseAttachments">
                <div>
                    <p class="pull-left training-name">{{training.Name || "Training "+($index+1)}} ({{training.Language.Code.toUpperCase()}})</p>
                    <span class="fa pull-right" ng-class="training.icon"></span>
                    <div class="clearfix"></div>
                </div>
                <div ng-class="{'hline' : !$last}" ></div>
            </div>
            <div ng-if="!vm.course.CourseAttachments.length">
                <p translate>-There are no trainings-</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="take-course-modal-footer">
        <a href="@Url.Action("TakeCourse","KnowledgeCenter",new{Area="Training"})/{{vm.course.CourseId}}?employeeId={{vm.employeeId}}&pageTitle=@pageTitle&courseTypeId=@courseTypeId" 
           class="btn btn-success btn-course" type="button" translate>TAKE THIS COURSE</a>
    </div>
</script>
}
<div class="container-fluid training knowledge-center courses" data-ng-controller="Training.KnowledgeCenterEntryView as vm" data-ng-init="vm.initialize(@courseTypeId)">
    <div class="row head">
        <div class="col-md-8 col-xs-12 col-sm-8 no-padding mobile-border">
        <p class="course-type-icon pull-left"><i class="fa-{{vm.courseIcon}}"></i></p>
            <div class="course-name pull-left">
                <div class="text-wrap pull-left hidden-sm hidden-xs" >{{vm.courses[0].CourseType.Name | limitTo: 144 }}{{ vm.courses[0].CourseType.Name.length > 144 ? '...' : ''}}</div>
                <div class="text-wrap pull-left hidden-md hidden-lg hidden-xs" ng-class="{'long-name-sm' : vm.courses[0].CourseType.Name.length > 14}">{{vm.courses[0].CourseType.Name }}</div>
                <div class="text-wrap pull-left hidden-md hidden-lg hidden-sm" ng-class="{'long-name-xs' : vm.courses[0].CourseType.Name.length > 18}">{{vm.courses[0].CourseType.Name }}</div>
                <div class="course-count pull-left">{{vm.counts.courses}} {{vm.counts.courses > 1 ? 'Courses' : 'Course'}}</div> 
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="input-group pull-right search-field col-xs-12 col-md-3 col-sm-4">
            <input type="text" value="" ng-model="vm.searchFilter" class="form-control enter-section input-sm filter ng-valid ng-touched ng-dirty ng-valid-parse" placeholder="Search">
            <span class="fa fa-search2 icon-search"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-12 course-section">
            <div class="featured-course-section" data-ng-if="vm.featuredCourse.length > 0">
                <div class="featured-course pull-left col-md-9 col-sm-12" ng-click="vm.loadCourseModal(vm.featuredCourse[0])">
                    <div  class="pull-left col-md-5 col-sm-5 col-xs-12 no-padding" >
                        <img ng-show="vm.featuredCourse[0].coverImage" ng-src="{{vm.featuredCourse[0].coverImage}}" />
                    </div>
                    <div class="course-metrics pull-left col-md-6 col-sm-7 col-xs-12">
                        <div class="header">
                            <p class="title" translate>FEATURED COURSE</p>
                            <p class="name">{{vm.featuredCourse[0].Name}}</p>
                            <p class="overview">{{vm.featuredCourse[0].Overview}}</p>
                        </div>
                        <div class="metric-sec">
                            <hr class="hline" />

                            <span class="metric">{{vm.featuredCourse[0].CourseAttachments.length}} {{ vm.featuredCourse[0].CourseAttachments.length > 1 ? 'Trainings':'Training'}}</span>
                            <span class="metric"><i class="fa-eye"></i> {{vm.featuredCourse[0].Views}}</span>
                            <span><star-rating for-display="true" score="vm.featuredCourse[0].AverageRating"></star-rating>({{vm.featuredCourse[0].AverageRating | number: 1}})</span>
                        </div>
                    </div>
                </div>
             
                    <div class="section col-md-offset-1 col-md-3 hidden-xs hidden-sm">
                        <div class="vertical-center">
                            <p class="text-note" translate>Want a better learning experience?</p>
                            <a class="leave-note-section" href="javascript:void(0);" ng-click="vm.leaveNote()">
                                <span class="btn-icon-text leave-note" translate>CONTACT TRAINING TEAM</span>
                            </a>
                        </div>

                     </div>
               
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 col-sm-6 mobile-no-padding margin-bottom-20" ng-repeat="course in vm.courses | filter: { Name : vm.searchFilter }">
                <course-card ng-model="course" ng-click="vm.loadCourseModal(course)"></course-card>
            </div>
        </div>
        <div class="col-xs-12 section  hidden-md hidden-lg" data-ng-if="vm.featuredCourse.length > 0">
            
                <p class="text-note">Want a better learning experience?</p>
                <a class="leave-note-section" href="javascript:void(0);" ng-click="vm.leaveNote()">
                    <span class="btn-icon-text leave-note" translate>CONTACT TRAINING TEAM</span>
                </a>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
