﻿
@{
    ViewBag.Title = " ";
    ViewBag.HideTitle = true;
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
}


<div class="container-fluid training knowledge-center no-padding" data-ng-controller="Training.KnowledgeCenterIndex as vm" data-ng-init="vm.initialize()">
    <div class="row no-margin welcome">
        <div class="welcome-section" background-img="{{vm.backgroundImgUrl}}" type="cover">
            <div class="gradient"></div>
            <div class="welcome-text hidden-xs hidden-sm">
                <p class="welcome-note" translate>WELCOME TO THE</p>
                <p class="title" translate>Knowledge Center</p>
                <p class="sub-title" translate>Acquire a solid set of knowledge about your occupation and excel.</p>

                <a class="link-to-view visible-xs visible-sm" href="@Url.Action("Index", "Transcript", new {Area = "Training"})">
                    <span class="btn-icon-text view-transcript" translate>VIEW MY TRANSCRIPT</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row stat-counts border-bottom no-margin hidden-xs hidden-sm">
        <div class="pull-left logo-border">
            <img ng-if="vm.profileImgUrl" class="logo" ng-src="{{vm.profileImgUrl}}" />
        </div>
        <div class="inner inner-tab">
            <div class="col-md-4 col-sm-4 col-xs-4 subject-wrap">
                <i class="fa fa-take-quiz"></i>
                <span class="count"><span ng-if="vm.courseTypes.length < 10 && vm.courseTypes.length > 0">{{0}}</span>{{vm.courseTypes.length}}</span>
                <p class="stat-text" translate>SUBJECTS</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 courses-wrap">
                <i class="fa fa-book-base"></i>
                <span class="count"><span ng-if="vm.counts.courses < 10 && vm.counts.courses > 0">{{0}}</span>{{vm.counts.courses}}</span>
                <p class="stat-text" translate>COURSES</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 site-wrap">
                <i class="fa fa-location"></i>
                <span class="count"><span ng-if="vm.counts.siteSpecific < 10 && vm.counts.siteSpecific > 0">{{0}}</span>{{vm.counts.siteSpecific}}</span>
                <p class="stat-text" translate>SITE SPECIFIC</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="pull-right">
            <a class="link-to-view pull-right hidden-xs hidden-sm" href="@Url.Action("Index", "Transcript", new {Area = "Training"})">
                <span class="btn-icon-text view-transcript">
                    <i class="fa fa-my-transcript"></i>
                    <span class="transcript" translate>MY TRANSCRIPT</span>
                </span>
            </a>
            @*<div uib-dropdown class="pull-right cog-dropdown">
                <a href="javascript:void(0);" class="cog-button" id="config-dropdown" uib-dropdown-toggle title="Config Options" 
                   aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog2"></i></a>
                <ul uib-dropdown-menu class="dropdown-menu text-uppercase dropdown-menu-right" aria-labelledby="print-dropdown">
                   
                    <li>
                        <a href="javascript:void(0)" data-ng-click="vm.assignUnassign(true)">{{'ASSIGN' | translate}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-ng-click="vm.assignUnassign(false)">{{'UNASSIGN' | translate}}</a>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class="row stat-counts spacing no-margin hidden-md hidden-lg">
        <div class="pull-left logo-border logo-mobile">
            <img ng-if="vm.profileImgUrl" class="logo" ng-src="{{vm.profileImgUrl}}" />
            <div ng-if="!vm.profileImgUrl" class="logo empty">
                <i class="fa fa-landscaping"></i>
                <p class="empty-text">Customize With Your Company Logo</p>
            </div>
        </div>
        <div class="welcome-tab">
            <p class="welcome-note" translate>WELCOME TO THE</p>
            <p class="title" translate>Knowledge Center</p>
        </div>
    </div>
    <div class="row transcript-tab hidden-md hidden-lg no-margin" ng-if="vm.showTranscript">
        <div class="inner inner-tab margin-bottom-10">
            <div class="col-md-4 col-sm-4 col-xs-4 subject-wrap">
                <i class="fa fa-take-quiz"></i>
                <span class="count"><span ng-if="vm.courseTypes.length < 10 && vm.courseTypes.length > 0">{{0}}</span>{{vm.courseTypes.length}}</span>
                <p class="stat-text" translate>SUBJECTS</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 courses-wrap">
                <i class="fa fa-book-base"></i>
                <span class="count"><span ng-if="vm.counts.courses < 10 && vm.counts.courses > 0">{{0}}</span>{{vm.counts.courses}}</span>
                <p class="stat-text" translate>COURSES</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 site-wrap">
                <i class="fa fa-location"></i>
                <span class="count"><span ng-if="vm.counts.siteSpecific < 10 && vm.counts.siteSpecific > 0">{{0}}</span>{{vm.counts.siteSpecific}}</span>
                <p class="stat-text" translate>SITE SPECIFIC</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="action-buttons">
           
            @*<div uib-dropdown class="cog-dropdown mobile-style">
                <a href="javascript:void(0);" class="cog-button" id="config-dropdown" uib-dropdown-toggle title="Config Options"
                   aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog2"></i></a>
                <ul uib-dropdown-menu class="dropdown-menu text-uppercase dropdown-menu-right" aria-labelledby="print-dropdown">

                    <li>
                        <a href="javascript:void(0)" data-ng-click="vm.assignUnassign(true)">{{'ASSIGN' | translate}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-ng-click="vm.assignUnassign(false)">{{'UNASSIGN' | translate}}</a>
                    </li>
                </ul>
            </div>*@
            <a class="view-trans" href="@Url.Action("Index", "Transcript" , new {Area="Training" })">
                <i class="fa fa-my-transcript text-primary"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="hide-show hidden-md hidden-lg" ng-click="vm.showTranscript = !vm.showTranscript">
        <span ng-if="vm.showTranscript" >
            <span class="fa fa-angle-double-up padding-right-5"></span><span class="more">HIDE INFO</span>
        </span>
        <span ng-if="!vm.showTranscript" >
            <span class="fa fa-angle-double-down padding-right-5"></span><span class="more">VIEW MORE</span>
        </span>
    </div>
    <div class="page-content no-padding" >
        <div class="select-course">
            <span class="text" translate>Select a Subject to begin.</span>
            <p class="sub-section" translate>Any courses you take, will be added to your transcript.</p>
        </div>
        <div class="row library-courses no-margin">
            <div class="col-md-12 container-padding">
                <div ng-repeat="subject in vm.courseTypes" class="col-xs-6 col-sm-3 col-md-3 col-lg-3 library-course">
                    <a href="@Url.Action("EntryView", "KnowledgeCenter", new {Area = "Training"})/{{subject.CourseTypeId}}?pageTitle={{subject.Name}}">
                        <div class="kc-course-title-icon course-order-{{$index % 7 }}">
                            <div class="detail-part">
                                <i class="course-program-icon fa fa-{{subject.Icon}}"></i>
                                <p class="subject">
                                    {{subject.Name}}
                                </p>
                                <hr class="hline" />
                                <p class="course-count" ng-if="subject.count > 1">{{subject.count}} Courses</p>
                                <p class="course-count" ng-if="subject.count == 1">{{subject.count}} Course</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="view-part">
                                <i class="fa fa-eye"></i>
                                <span class="view-count">{{subject.viewCount}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="footer-section">
            <p class="text-note" translate>Want a better</p>
            <p class="sub-note" translate>learning experience?</p>
            <a class="leave-note-section" href="javascript:void(0);" ng-click="vm.leaveNote()">
                <span class="btn-icon leave-note-icon"><i class="fa fa-message"></i></span>
                <span class="btn-icon-text leave-note" translate>LEAVE US A NOTE</span>
            </a>
        </div>
    </div>
</div>
