﻿@model ChaiTea.Web.Areas.Training.Controllers.KnowledgeCenterVm
@{
    ViewBag.Title = "Take Quiz";
    var courseAttachmentId = Model.CourseAttatchmentId;
    var employeeCourseId = Model.EmployeeCourseId;
}
<style>
    #title-header-panel {
        display:none;
    }
     /*.training .page-heading {
         padding-top: 0;
         padding-bottom: 20px;
     }*/
</style>

<div class="container-fluid training take-quiz" ng-controller="Training.KnowledgeCenter.TakeQuiz as vm" ng-init="vm.initialize(@employeeCourseId, @courseAttachmentId)">
    <div class="row page-heading take-quiz-title">
        <h3 class="no-margin quiz-sub-title"><span translate>Quiz for</span> <em>{{vm.courseAttachment.Name}}</em></h3>
    </div>
    <div class="row page-content">
        <div class="quiz-body col-lg-8">
            <p class="question-number"><span translate>Question</span> {{ (vm.currentQuestion.index + 1) }} <span translate>out of</span> {{vm.courseAttachment.CourseAttachmentQuestions.length}}</p>

            <h1 class="text-primary question-text">{{vm.currentQuestion.Question}}</h1>
            <p class="choose-answer" translate>Choose the correct answer below:</p>

            <div class="list-group">
                <div class="cover" ng-if="vm.currentQuestion.selectedOption"></div>
                <a href="javascript:void(0);" class="list-group-item"
                   ng-repeat="answer in vm.currentQuestion.CourseAttachmentQuestionOptions"
                   ng-click="vm.selectAnswer(answer)"
                   ng-class="{'failed':(vm.currentQuestion.selectedOption == answer && !answer.IsAnswer),
                              'passed':(vm.currentQuestion.selectedOption == answer && answer.IsAnswer)}">
                    <span class="q-letter">{{vm.questionLetters[$index]}}</span>
                    <p>
                        {{answer.Option}}
                        <span class="answer-status pull-right {{answer.IsAnswer?'text-success':'text-danger'}}"
                              ng-if="vm.currentQuestion.selectedOption == answer">
                            {{answer.IsAnswer?'Correct':'Incorrect'}}!
                        </span>
                    </p>
                </a>
            </div><!-- list-group -->
        </div>
        <div class="col-lg-8 quiz-buttons">
            <div class="pull-left">
                <button data-toggle="modal" ng-click="vm.cancelQuiz()" class="btn btn-lg btn-default pull-left btn-quiz btn-quiz-cancel" translate>Cancel</button>
            </div><!-- RIGHT -->

            <div class="pull-right">

                @*<button href="javascript:void(0);" class="btn btn-lg btn-default" ng-if="vm.currentQuestion.index > 0">Back</button>*@

                <button href="javascript:void(0);" class="btn btn-lg btn-primary btn-quiz btn-quiz-next"
                        ng-if="vm.courseAttachment.CourseAttachmentQuestions.length > 1 && (vm.currentQuestion.index + 1 != vm.courseAttachment.CourseAttachmentQuestions.length)"
                        ng-disabled="!vm.currentQuestion.selectedOption"
                        ng-click="vm.goToNextQuestion()" translate>Next Question</button>

                <button href="javascript:void(0);" class="btn btn-lg btn-primary btn-quiz btn-quiz-next"
                        ng-if="(vm.currentQuestion.index + 1) == vm.courseAttachment.CourseAttachmentQuestions.length"
                        ng-disabled="!vm.currentQuestion.selectedOption "
                        ng-click="vm.finishQuiz()" translate>Finish Quiz</button>
            </div>
        </div>
    </div>
</div>
