﻿@{
    ViewBag.Title = "Knowledge Center";
    ViewBag.HideTitle = true;
    ViewBag.DisplayBreadcrumbs = true;
    var employeeCourseId = Model.Id;
    var employeeId = Model.EmployeeId ?? 0;
    var breadCrumbOverride = new ChaiTea.Web.Models.BreadCrumbOverride()
    {
        AreaName = "Knowledge Center",
        AreaUrl = Url.Action("Index", "KnowledgeCenter", new { Area="Training"}),
        ControllerName = Model.PageTitle ?? "HIDE",
        ControllerUrl = Url.Action("EntryView", "KnowledgeCenter", new { Area = "Training",id=Model.CourseTypeId,pageTitle=Model.PageTitle }),
        ActionName = "Take Course"
    };

    ViewBag.BreadCrumbOverride = breadCrumbOverride;
}

@section titleBar{
    
}
<div class="container-fluid take-course-new training" data-ng-controller="Training.KnowledgeCenterTakeCourse as vm" data-ng-init="vm.initialize(@employeeCourseId,@employeeId)">
    <div class="row head border">
        <p class="course-type-icon pull-left"><i class="fa-{{vm.employeeCourse.Course.CourseType.Icon}}"></i></p><p class="course-name pull-left">{{vm.employeeCourse.Course.Name}}</p>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-8 training-content">
            <div class="section">
                    <div class="course-attachment">
                        <div class="video-wrap" ng-if="vm.selectedTraining.Attachment.AttachmentType == vm.attachmentTypes[vm.attachmentTypes.Video]">
                            <video id="main-video" style="width: 100%; height: auto; vertical-align: middle"
                                    controls="true"
                                    ng-attr-poster="{{vm.selectedTraining.thumbUrl}}"
                                    ng-src="{{vm.selectedTraining.cdn}}"
                                    ui-event="{ ended: vm.onVideoEnded, timeupdate: vm.onTimeUpdate }"></video>

                        </div>
                        <div class="file" ng-if="vm.selectedTraining.Attachment.AttachmentType == vm.attachmentTypes[vm.attachmentTypes.Pdf]">
                            <div class="row">
                                <div class="col-xs-12 padding text-center">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <h3>{{vm.selectedTraining.Attachment.Description}}</h3>
                                    <p>
                                        <br />
                                        <strong>{{ 'TRAINING_TEXTFORMAT' | translate: {format: vm.selectedTraining.AttachmentType.toUpperCase()} }}</strong>
                                    </p>
                                    <p>
                                        <pdf-viewer pdf-url="vm.selectedTraining.cdn" button-text="{{ 'OPEN_FILE' | translate }}" on-close="vm.trackView()"></pdf-viewer>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="file" ng-if="vm.selectedTraining.Attachment.AttachmentType != vm.attachmentTypes[vm.attachmentTypes.Video] && vm.selectedTraining.Attachment.AttachmentType != vm.attachmentTypes[vm.attachmentTypes.Pdf]">
                            <div class="row">
                                <div class="col-xs-12 padding text-center">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <h3>{{vm.selectedTraining.Attachment.Description}}</h3>
                                    <p>
                                        <br />
                                        <strong>This training is in {{vm.selectedTraining.Attachment.AttachmentType.toUpperCase()}} format.</strong>
                                    </p>
                                    <p>
                                        <a href="{{vm.selectedTraining.cdn}}" download target="_blank" ng-click="vm.trackView()">{{ 'CLICK_DOWNLOAD_FILE' | translate }}</a>
                                    </p>
  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-training-info">
                        <div class="title info-section">
                           {{vm.selectedTraining.Attachment.Name }}
                        </div>
                        <div class="metrics">
                            <p>
                                <span class="pull-left info-section">
                                    {{vm.compliance.TotalCompleted}}/{{vm.employeeCourse.Course.CourseAttachments.length}} <span translate>Trainings</span>
                                </span>
                                <span class="info-section">
                                    <i class="fa-eye"></i> {{(vm.selectedTraining.Views ? vm.selectedTraining.Views : 0)}}
                                </span>
                                <span class="info-section">
                                    <star-rating score="vm.selectedTraining.AverageRating" for-display="true"></star-rating>({{vm.selectedTraining.AverageRating | number: 1}})
                                </span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div class="course-training-desc">
                        {{vm.selectedTraining.Attachment.Description || "Summary of training"}}
                    </div>
                    <div class="supplement-material" ng-init="show = false">
                        <h4 ng-if="!vm.selectedTraining.CourseSubAttachments.length"><span translate>No Supplement Material</span></h4>
                        <h4 ng-if="vm.selectedTraining.CourseSubAttachments.length" ng-click="vm.showSubAttachments = !vm.showSubAttachments" class="poniter"><span translate><i class="fa-angle-double-down"></i><span>View Supplement Material</span></span></h4>
                        <div ng-repeat="mat in vm.selectedTraining.CourseSubAttachments" ng-if="vm.showSubAttachments" >
                            <a href="{{mat.cdn}}" download target="_blank"><span class="fa" ng-class="mat.icon"></span> <strong class="sup-file">{{mat.Attachment.Name}}</strong></a>
                        </div>
                    </div>
            </div>
            <div class="section after-training" ng-if="vm.hasQuiz">
                <div class="hidden-xs">
                    <div class="pull-left">
                        <p class="head" translate>After Training is Completed</p>
                        <p class="head-info" translate>Want credit for the course? Take the quiz!</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn take-quiz" ng-click="vm.takeQuiz()" ng-disabled="!vm.selectedTraining.isQuizTakeable" translate>Take Quiz</button>
                    </div>
                </div>
                <div class="visible-xs">
                    <p class="head" translate>After Training is Completed</p>
                    <div>
                        <p class="head-info pull-left" translate>Want credit for the course? Take the quiz!</p>
                        <button class="btn take-quiz pull-right" ng-click="vm.takeQuiz()" ng-disabled="!vm.selectedTraining.isQuizTakeable" translate>Take Quiz</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="section after-training" ng-if="!vm.hasQuiz">
                <div class="hidden-xs">
                    <div class="pull-left">
                        <p class="head" translate>There is No Quiz for this course</p>
                        <p class="head-info" translate>But no skipping, watch the entire video for credit</p>
                    </div>
                    <div class="pull-right">
                        <button class="btn take-quiz" ng-click="vm.takeQuiz()" ng-disabled="!vm.selectedTraining.isQuizTakeable" translate>ACKNOWLEDGE</button>
                    </div>
                </div>
                <div class="visible-xs">
                    <p class="head" translate>There is No Quiz for this course</p>
                    <div>
                        <p class="head-info pull-left" translate>But no skipping, watch the entire video for credit</p>
                        <button class="btn take-quiz pull-right" ng-click="vm.takeQuiz()" ng-disabled="!vm.selectedTraining.isQuizTakeable" translate>ACKNOWLEDGE</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
                
        </div>
        <div class="col-md-4 trainings">
            <div class="section ">
                <p class="head" translate>Trainings</p>
                <div class="training" ng-repeat="training in vm.employeeCourse.Course.CourseAttachments" ng-class="{'active':vm.selectedTraining == training}" ng-click="vm.selectedTraining = training">
                    <hr />
                    <div class="pull-left">
                        <p class="title">{{training.Attachment.Name || "Training "+($index+1)}} ({{training.Language.Code.toUpperCase()}})</p>
                        <p class="complete" ng-if="training.isPassed" translate>Completed</p>
                        <p class="in-complete" ng-if="!training.isPassed" translate>Incomplete</p>
                    </div>
                    <div class="pull-right content-type-icon">
                        <i ng-class="training.icon"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     </div>
        
</div>
