﻿<div class="col-md-12 table-filter" uib-collapse="vm.isCollapsed">
    <div class="col-sm-4 table-btns">
        <select class="form-control" name="filterType"
                data-ng-options="type.Key as type.Value for type in vm.filterOptions"
                data-ng-model="vm.filter.filterType" data-ng-change="vm.onFilterTypeChange()">
            <option value="">All</option>
        </select>

    </div><!-- COL4 -->
    <div class="col-sm-4 table-btns">
        <select class="form-control animate-show"
                data-ng-model="vm.filter.filterCriteria"
                data-ng-options="type.Key as type.Value for type in vm.activeFilterOptions.Options"
                data-ng-show="!vm.isEmpty(vm.activeFilterOptions) && vm.activeFilterOptions.FieldType=='select'">
        </select>

        <input type="text" class="form-control animate-show"
               data-ng-model="vm.filter.filterCriteria"
               data-ng-show="!vm.isEmpty(vm.activeFilterOptions) && vm.activeFilterOptions.FieldType=='text'" />
    </div><!-- COL4 -->
    <a href="javascript:void(0);" class="btn btn-primary btn-clear pull-right hidden-xs" data-ng-click="vm.onClearFilter($event)">CLEAR</a>
    <a href="javascript:void(0);" class="btn btn-primary btn-filter-sub pull-right hidden-xs" data-ng-click="vm.onFilterResults($event)" data-ng-disabled="!vm.filter.filterCriteria">FILTER</a>
    <div class="col-sm-2 table-btns hidden-sm hidden-md hidden-lg" >
        <a href="javascript:void(0);" class="btn btn-primary btn-block " data-ng-click="vm.onFilterResults($event)" data-ng-disabled="!vm.filter.filterCriteria">FILTER</a>
    </div>

    <div class="col-sm-2 table-btns hidden-sm hidden-md hidden-lg">
        <a href="javascript:void(0);" class="btn btn-default btn-block" data-ng-click="vm.onClearFilter($event)">CLEAR</a>
    </div>
</div>