﻿<div class="modal-header">
    <h3 class="modal-title">
        {{'Send Survey' | translate }}
    </h3>
</div>
<div class="modal-body">
    <form name="surveySendForm" role="form" class="css-form" novalidate>
        <br />
        <alert type="{{vm.alert.type}}" ng-if="vm.alert.show" close="vm.alert.show=false">{{vm.alert.message}}</alert>

        <div class="padding-horizontal-20" data-ng-if="vm.siteId && vm.isAuthorized">
            <div class="row margin-bottom-20">
                <div class="col-md-12 form-group">
                    <label for="program">{{'Program' | translate}}</label>
                    <span class="required">*</span>
                    <select name="program" type="text" class="form-control"
                            ng-model="vm.surveyMail.ProgramId"
                            ng-options="program.Key*1 as program.Value for program in vm.programs"
                            ng-required="true" ng-disabled="vm.disableEntry"></select>
                </div>
            </div>

            <uib-tabset justified="true">
                <uib-tab heading="Single">
                    <div ng-form="single">
                        <div class="row padding-top-10">
                            <div class="col-md-12 form-group">
                                <label for="recipientName">{{'Recipient Name' | translate}}</label>
                                <span class="required">*</span>
                                <input name="recipientName" type="text" class="form-control"
                                       ng-model="vm.surveyMail.RecipientName"
                                       ng-required="true" ng-disabled="vm.disableEntry" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="recipientEmail">{{'Recipient Email' | translate }}</label>
                                <span class="required">*</span>
                                <input name="recipientEmail" type="text" class="form-control"
                                       ng-model="vm.surveyMail.RecipientEmail"
                                       ng-required="true" ng-disabled="vm.disableEntry" />
                                <p class="text-danger margin-top-5" ng-if="vm.isEmailAddressInvalid">Please enter a valid email address.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 padding-top-30 padding-bottom-20 text-right">
                                <button class="btn btn-default" ng-click="vm.cancel()">{{'Close' | translate }}</button>
                                <button class="btn btn-primary" ng-click="vm.sendSurvey()" ng-disabled="this.single.$invalid" ng-if="vm.siteId && vm.isAuthorized">{{vm.btnText | translate}}</button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Bulk">
                    <div class="row padding-top-10" ng-form="bulk">
                        <div class="col-md-12 form-group">
                            <label for="bulkEmails">
                                {{'Bulk Names and Emails' | translate }}
                            </label>
                            <span class="required">*</span>
                            <textarea name="bulkEmails" type="text" class="form-control" rows="4"
                                      ng-model="vm.surveyMail.BulkNameEmails"
                                      ng-required="true" ng-disabled="vm.disableEntry"
                                      placeholder="Format: John Doe <johndoe@email.com>; Jane Doe <janedoe@gmail.com>; "></textarea>
                        </div>
                        <div class="col-md-12 form-group" ng-if="vm.bulkEmailFormErrors.length">
                            <div uib-alert class="alert alert-danger">
                                <small>There was an issue with your entry.
                                <br />
                                The entries that are invalid were added back to the text box above.
                                <br/>Please make sure that the format is as follows: <br/>
                                    <pre>John Doe &lt;johndoe@email.com&gt;;</pre>
                                </small>
                            </div>
                        </div>
                        <div class="col-md-12 padding-top-30 padding-bottom-20 text-right">
                            <button class="btn btn-default" ng-click="vm.cancel()">{{'Close' | translate}}</button>
                            <button class="btn btn-primary" ng-click="vm.sendBulkSurvey()" ng-disabled="this.bulk.$invalid" ng-if="vm.siteId && vm.isAuthorized">{{vm.btnText | translate}}</button>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </form>
</div>