﻿<div class="modal-header">
    <h3 class="modal-title">
        {{ vm.modalTitle | translate }}
    </h3>
    <div class="close-btn" ng-click="vm.$scope.$close()">
        <i class="fa-close"></i>
    </div>
</div>
<div class="modal-body">
    <div class="row modal-view" ng-include="vm.modalBodyTemplate">

    </div>
</div>
<div class="modal-footer" ng-hide="vm.hideFooter">
    <div class="btns" ng-if="vm.modalFooterTemplate" ng-include="vm.modalFooterTemplate">
    </div>
    <div ng-if="!vm.modalFooterTemplate">
        <a ng-click="vm.close($event)" class="lightbox-btn close-light pull-right pri-color btn btn-primary btn-lg btn-block" translate>Close</a>
    </div>
</div>