﻿<div class="sbm-modal-content" ng-init="vm.initialize()">
	<div class="head">
        <button type="button" class="close" ng-click="vm.$scope.$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4>Location</h4>
	    <p>Choose the location, site, and program for which you wish to view.</p>
	</div>
    <div class="row sbm-modal-body">
        <div cg-busy="myPromise">
            <div class="form-group padding">
                <label for="clientId" class="text-warning">Client</label>
                <select id="clientId" name="clientId" class="form-control" data-style="btn-default-outline" data-size="block"
                        data-ng-model="vm.context.Client.ID"
                        data-ng-options="client.ID*1 as client.Name for client in vm.options.clients"
                        data-ng-change="vm.onClientChange()"></select>
            </div>
            <div class="form-group padding">
                <label for="siteId" class="text-warning">Site</label>
                <select id="siteId" name="siteId" class="form-control" data-style="btn-default-outline" data-size="block"
                        data-ng-model="vm.context.Site.ID"
                        data-ng-options="site.ID*1 as site.Name for site in vm.options.sites"
                        data-ng-change="vm.onSiteChange()"></select>
            </div>
            <div class="form-group padding">
                <label for="programId" class="text-warning">Program</label>
                <select id="programId" name="programId" class="form-control" data-style="btn-default-outline" data-size="block"
                        data-ng-model="vm.context.Program.ID"
                        data-ng-options="program.ID*1 as program.Name for program in vm.options.programs"
                        data-ng-change="vm.onProgramChange()"
                        ng-disabled="vm.disableProgramDropdown"></select>
            </div>
        </div>
    </div>
    <div class="head">
        <h4>Language</h4>
        <p>Choose a Language you are comfortable in.</p>
    </div>
    <div class="row sbm-modal-body">
        <div class="form-group padding">
            <label for="languageId" class="text-warning hide">Language</label>
            <select id="languageId" name="languageId" class="form-control" data-style="btn-default-outline" data-size="block"
                    data-ng-model="vm.context.Language.ID"
                    data-ng-options="language.ID*1 as language.Name for language in vm.options.languages"
                    data-ng-change="vm.onLanguageChange()"></select>
        </div>
    </div>
    <div class="row sbm-modal-footer">
        <div class="col-xs-6">
            <input type="button" value="CANCEL" class="btn btn-block btn-grey" data-ng-click="vm.$scope.$close()" />
        </div>
        <div class="col-xs-6">
            <input type="button" value="SUBMIT" class="btn btn-block btn-black" data-ng-click="vm.apply()" />
        </div>
    </div>
</div>
