﻿<div id="imageLightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img ng-src="vm.imageURL" class="img-responsive">
            </div>
        </div>
    </div>
</div>