﻿<div class="modal-header">
    <h3 class="modal-title">
        {{ vm.title }}
    </h3>
</div>
<div class="modal-body">
    <form name="addEditCustomerRepresentativeForm" role="form" class="css-form" novalidate>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <label for="name">Name</label>
                    <span class="required">*</span>
                    <input name="name" type="text" class="form-control"
                           data-ng-model="vm.customerRepresentative.Name"
                           data-ng-required="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="email">Email</label>
                    <span class="required">*</span>
                    <input name="email" type="email" class="form-control"
                           data-ng-model="vm.customerRepresentative.Email"
                           data-ng-required="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="jobDescription">Job Title</label>
                    <span class="required">*</span>
                    <input name="jobDescription" type="text" class="form-control"
                           data-ng-model="vm.customerRepresentative.JobDescription"
                           data-ng-required="true" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-orange" ng-click="vm.saveCustomerRepresentative()" data-ng-disabled="this.addEditCustomerRepresentativeForm.$invalid">Save</button>
</div>