﻿<div class="modal-header">
    <button type="button" class="close" ng-click="vm.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Date Picker</h4>
</div><!-- modal-header -->

<div class="modal-body">
    <p class="padding-top padding-bottom">
        <small>
            <em>Changing the date range will display all statics during that period.</em>
        </small>
    </p>

    <div id="date-picker-panel">
        <div class="row">
            <div id="month-range" class="col-sm-12 margin-bottom">
                <div class="btn-group">
                    <button class="btn btn-default" type="button" data-ng-class="{'active' : vm.monthActive==1}" data-ng-click="vm.onSwitchMonthsRange(1, $event)">1 Mon</button>
                    <button class="btn btn-default" type="button" data-ng-class="{'active' : vm.monthActive==3}" data-ng-click="vm.onSwitchMonthsRange(3, $event)">3 Mons</button>
                    <button class="btn btn-default" type="button" data-ng-class="{'active' : vm.monthActive==6}" data-ng-click="vm.onSwitchMonthsRange(6, $event)">6 Mons</button>
                    <button class="btn btn-default" type="button" data-ng-class="{'active' : vm.monthActive==12}" data-ng-click="vm.onSwitchMonthsRange(12, $event)">1 Yr</button>
                </div>
            </div>
        </div>
        <div class="row ">
            <p class="margin-bottom"></p>
        </div>
        <div class="row">
            <div id="date-range" class="col-sm-12 margin-bottom">
                    <div class="form-group">
                        <div class="input-group date margin-bottom">
                            <input type="text" class="form-control" placeholder="From" uib-datepicker-popup="MM/dd/yyyy"
                                   data-ng-model="vm.dateRange.startDate" is-open="vm.datepickers.startDate" close-text="Close"
                                   datepicker-append-to-body="true"
                                   min-date="vm.dateModel.minDate"
                                   max-date="vm.dateRange.endDate" data-ng-change="vm.startDateOnChange()"
                                   data-ng-model-options="{ updateOn: 'blur'}" />
                            <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'startDate')">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>

                        <div class="input-group date margin-bottom">
                            <input type="text" class="form-control" placeholder="To" uib-datepicker-popup="MM/dd/yyyy"
                                   data-ng-model="vm.dateRange.endDate" is-open="vm.datepickers.endDate" close-text="Close" datepicker-append-to-body="true"
                                   max-date="vm.dateModel.maxDate"
                                   ng-disabled="!vm.dateRange.startDate" min-date="vm.dateRange.startDate" />
                            <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'endDate')">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>

                    </div>
                    
                
            </div>
        </div>
    </div>
   
</div><!-- modal-body -->

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.close()">Cancel</button>
    <button type="button" class="btn btn-primary"
            ng-click="vm.onSwitchDateRange()" 
            ng-disabled="!vm.dateRange.startDate && !vm.dateRange.endDate">Save</button>
</div>