﻿<div class="btn-group btn-block">
    <button class="col-sm-12 col-md-12 btn btn-default dropdown-toggle form-control" ng-click="toggleSelect()" ng-disabled="disabled" style="width: 100%;">
        <div class="pull-left text-muted multiselect-header-font">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
    </button>

    <ul class="dropdown-menu col-sm-12 col-md-12 multiselect-ul-style">
        <li>
            <input class="form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
        </li>
        <li>
            <button class="btn-link btn-small pull-right" ng-click="uncheckAll()"><i class="glyphicon glyphicon-remove"></i> Uncheck all</button>
            <button class="btn-link btn-small pull-right" ng-click="checkAll()"><i class="glyphicon glyphicon-ok"></i> Check all</button>

        </li>
        <li ng-repeat="i in items | filter:searchText">
            <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
            </a>
        </li>
    </ul>
</div>