﻿<div class="panel" ng-class="isOpen ? 'panel-danger' : 'panel-default'">
    <div class="panel-heading panel-heading-icon">
        <div class="panel-title stacked">
            <i class="fa fa-user"></i>
            <h4>
                {{header}}<br />
                <span class="small text-muted">{{ headerSubtext }}</span>
            </h4>
        </div>
    </div><!-- cb-content -->
    <div class="panel-body">
        <div ng-transclude></div>
    </div>
    <div class="panel-footer panel-plain">
        <div class="panel-title stacked">
            <i class="fa fa-map-marker"></i>
            <h4>
                {{ footer }}<br />
                <span class="small text-muted">{{ footerSubtext }}</span>
            </h4>

        </div>
        <ul class="panel-controls">
            <li>

                <a ng-href="{{refUrl}}" class="btn btn-default btn-xs" ng-class="isOpen ?'btn-danger':'btn-default'">view</a>

            </li>
        </ul>


    </div>


</div>