﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Course Types";
}


<div class="container-fluid" data-ng-controller="Admin.CourseTypesCtrl as vm" data-ng-init="vm.initialize()">
    <div class="row">        
        <div class="col-md-8 margin-bottom-20">
            <a class="btn btn-default btn-md unassign-btn" href="@Url.Action("CourseAdmin", "KnowledgeCenter")">
                    <i class="fa fa-back"></i> <span> Return to Course Admin</span>
            </a>
            <button class="btn btn-success" ng-click="vm.createNew()">
                <span class="fa fa-plus"></span> Create New
            </button>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6 pull-left">

            <p>Click in the column to edit Course Types.  To add a new Course Type, click the Create New button and enter a Course Type name first before selecting an Icon.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="gridStyle grid" ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-pinning id="uiSelect" external-scopes="CourseTypesCtrl"></div>
        </div>
    </div>    
</div>
