﻿@import '../Common/_globals';

//@extend-elements
//original selectors
//.ai-todo, .ai-todo-zero

.audit-index{
    .audits-height{
        height: 155px;
    }
    .audit-data{
        width: 50% !important;
        margin-top: 10px;
    }
    .audits-charts-align{
        padding-left: 15px;
        @include breakpoint(desktop){
            padding-left: 0;
        }
        @include breakpoint(mobileonly){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .avg-results-align{
        padding-left: 0;
        padding-right: 0;
        @include breakpoint(desktop){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .recent{
        padding-left: 15px;
        padding-right: 15px;
        @include breakpoint(tablet){
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .score-tab{
        height: auto;
        @media only screen and (min-width : 768px) and (max-width : 1920px)  {
            height: 65px;
        }
    }
}

.audits-add-btn{
    text-align: center;
    padding-left: 5px !important;
    padding-right: 5px !important;    
}

.audits-profile-manager{
    .table-head{
        padding: 12px 0 12px 0;
        font-size: 10px;
        @include breakpoint(tablet){
            padding: 16px 20px 16px 20px;
            font-size: 12px;
        }
        background-color: $primary;
        color: $default;
        font-weight: 600;
        text-transform: uppercase;
        
    }
    .itemrow:nth-child(even) {
      background-color: #f5f5f5;
      display: block; 
    }
    .pm-row{
        padding: 20px 0 20px 0;
        @include breakpoint(tablet){
            padding: 25px 30px 25px 20px;
        }
        .no-of-areas{
            font-size: 14px;
            color: $dark;
            font-weight: 600;
        }
        .building-floor-style{
            font-size: 12px;
            font-weight: 500;
            color: #999c9e;
            font-style: italic;
        }
        .res-user-name{
            font-size: 16px;
            font-weight: 600;
            color: $primary;
        }
    }
    .btn-create{
        background-color: $success;
        color: $default;
        font-size: 14px;
        font-weight: 600;
        @include breakpoint(mobileonly){
            padding: 5px 8px;
        }
    }
    .btn-edit{
        background-color: $dark;
        color: $default;
        font-size: 14px;
        font-weight: 600;
        margin-right: 5px;
        @include breakpoint(mobileonly){
            padding: 5px 8px;
        }
    }
    .btn-delete{
        background-color: $danger;
        color: $default;
        font-size: 14px;
        font-weight: 600;
        @include breakpoint(mobileonly){
            padding: 5px 8px;
        }
    }
}

%extend_1 {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.ra-form{
    margin-top: 0;
    @include breakpoint(mobilephone){
        padding-left: 15px;
        padding-right: 15px;
    }
}

.ra-well{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $gray;
    @include breakpoint(desktop){
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .form-group{
        .ipad-mob-space{
            @include breakpoint(tabletonly){
                padding-left: 10px;
            }
        }
    }
    .audit-areas{
        background-color: $default;
        @include breakpoint(desktop){
            background-color: $default;
        }
    }
    .audit-info{
        margin-top: 10px;
        padding: 15px 10px;
        background-color: $default;
        .name{
            width: 75%;
            word-break: break-all;
            padding-left: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &.width-med{
                width: 75%;
            }
            &.width-small{
                width: 62%;
            }
        }
    }
}

.remove-lr-padding{
    padding-left: 0;
    padding-right: 0;
}

.remove-l-padding{
    padding-left: 0;
}

.mob-style{
    padding-right: 0;
    @include breakpoint(desktop){
        padding-right: 20px;
    }
}

.ra-panel-remove-margin{
    margin-bottom: 0 !important;
}

.building-floor-label{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: $primary;
}

.building-floor-label-m{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: $primary;
    padding-bottom: 5px;
}

.building-floor-subtitle{
    font-size: 12px;
    font-weight: 600;
    color: $dark;
    font-style: italic;
    padding-bottom: 5px;
}

.btn-begin-audit{
    font-weight: 600;
    font-size: 14px;
    background-color: $success;
    color: $default;
    &:hover{
        color: $default !important;
    }
    &:focus{
         color: $default !important;
         border-color: $success !important;
    }
}

.bg-color{
    background-color: #f5f5f5;
}

.hide-show{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
.ra-audit-areas-text{
    padding: 20px 20px 0;
    @include breakpoint(tablet){
        padding-left: 10px;
    }
    @include breakpoint(desktop){
        padding-left: 20px;
    }
    @include breakpoint(mobilephone){
        padding-left: 15px;
        padding: 20px 0 0 0;
        > div{
            padding: 0 10px;
        }
    }
    .ra-audit-areas-label{
        font-size: 16px;
        font-weight: 600;
        color: $primary;
        @include breakpoint(desktop){
            font-size: 24px;
            font-weight: 500;
        }
    }
    .ra-audit-areas-subtitle{
        font-size: 14px;
        font-weight: 500;
        color: $dark;
    }

    hr{

    }

    .site-goal{
        font-size: 14px;
        padding: 10px 0 20px 10px;
        float:left;
        @include breakpoint(tablet){
            float: right;
        }
        @include breakpoint(desktop){
            font-size:1.714rem;
            float:right;
            padding: 15px 0 0 15px;
        }

        strong{
            font-weight:600;
        }
    }

    .criteria{
        font-size: 18px;
        padding: 15px 20px 0;
        .fa-question{
            color: $muted;
            background: $default;
            border: 1px solid $muted;
            border-radius: 50%;
            padding: 10px 3px 3px;
            height: 40px;
            width: 40px;
            text-align: center;
            cursor: pointer;
            margin: 0 10px;
            position: relative;
            top: 2px;
        }

    }
}

.remove-margin-top{
    margin-top: 0;
}

.ai-en-wrap-margin-top{
    margin-top: 15px!important;
}

.comment-subtitle{
    font-size: 12px;
    font-weight: 500;
    color: $dark;
    padding-bottom: 5px;
}
.table-title-well.pri-color i:before {
    content: "\f0d7";
}
.ra-table-title-well-padding-left{
    padding-left: 20px;
    @include breakpoint(mobilephone){
        padding-left: 15px;
    }
}

.ra-ai-en-wrap-padding-left{
    padding-left: 20px !important;
    padding-right: 20px !important;
    @include breakpoint(mobilephone){
        padding-left: 15px !important;
        padding-right: 15px !important;        
        padding-bottom: 15px !important;
    }
}

.ra-btn-delete{
    font-size: 14px;
    font-weight: 600;
    background-color: $danger;
    color: $default;
    padding: 8px 12px;
    &:hover{
        color: $default !important;
    }
    @include breakpoint(mobileonly){
        padding: 8px 8px;
    }
}

.ra-btn-close{
    font-size: 14px;
    font-weight: 600;
    background-color: #999c9e;
    color: $default;
    margin-left: 10px;
    padding: 8px 12px;
    &:hover{
        color: $default !important;
    }
    @include breakpoint(mobileonly){
        padding: 8px 8px;
        margin-left: 7px;
    }
}

.add-padding-lr{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.ra-btn-save{
    font-size: 14px;
    font-weight: 600;
    background-color: $dark;
    color: $default;
    padding: 8px 18px;
    margin-left: 10px;
    &:hover{
        color: $default !important;
    }
    @include breakpoint(mobileonly){
        padding: 8px 8px;
    }
}
.ra-btn-finalize{
    font-size: 14px;
    font-weight: 600;
    background-color: $success;
    color: $default;
    margin-left: 10px;
    padding: 8px 12px;
    &:hover{
        color: $default !important;
    }
    @include breakpoint(mobileonly){
        padding: 8px 8px;
        margin-left: 8px;
    }
}
.chart-wrap .border-wrap {
  border: transparent;
  }

.no-internet {
    padding: 10px;
    background-color: $danger;
}

.audit-item {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
    cursor: pointer;
    position: relative;
    /*padding: 0 0 35px;*/
    /*max-width: 300px;*/
    margin: 15px auto;
    border-radius: 5px;
    overflow: hidden;

    &.ai-no-image {
        min-height: 200px;
    }

    &:hover .ai-image {
        .btn {
            top: 50%;
        }

        img {
            opacity: 0.5;
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    .ai-image {
        border-bottom: 1px solid #e4e4e4;
        width: 100%;
        max-height: 300px;
        background: #ccc;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            &.placeholder {
                @include breakpoint(mobilephone) {
                    display: none;
                }
            }
        }

        .btn {
            position: absolute;
            left: 50%;
            top: 150%;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            margin-top: -25px;
            font-size: 30px;
            border: 2px solid rgba(255,255,255, 0.47);
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 50%;
            text-align: center;
            padding: 0;
            padding-left: 2px;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            cursor: pointer;

            i {
                line-height: 48px;
            }
        }
    }
}


.ai-score {
	width: 44px;
	height: 28px;
	background: #fff;
	color: #414141;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
	position: absolute;
	left: 10px;
	bottom: 10px;
	border: 1px solid #dedede;
	font-size: 18px;
}

.audit-g-info {
	h4 {
		font-size: 16px;
		font-weight: 400;
	}

	h4.av-loca i {
		font-size: 12px;
	}
}

.av-title {
	color: #515861;
	line-height: 1.5;
}

.av-loca span {
	color: #414141;
	font-size: 18px;
}



.auditors {
	i.fa-user {
		color: #35549c;
		cursor: pointer;
		padding-right: 10px;
	}

	i.joint-av {
		color: #5bc1a7;
	}
}

.auditor-legends {
	cursor: pointer;
	font-size: 13px;
	padding-left: 80px;
	position: absolute;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.ai-viewer {
	/*max-width: 1200px;*/
	&-wrap {
		.table-title-well {
			background: #fff;

			p {
				padding-top: 5px;
				padding-bottom: 3px;
			}
		}
	}
}

.ai-viewer > .row > [class*='col'] {
	min-width: 310px;
}

.inspe-score {
	border: medium none;
	cursor: default;

	@include breakpoint(tablet) {
		border: none;
	}

  
}


/**
	ScoreCard Sections
*/

.pagination {
	@include breakpoint(mobilephone) {
		text-align: center;

		> li > a {
			padding: 6px 8px;
		}
	}
}

/**
	Tasks
*/

.task-wrap {
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0 1px 1px #f5f5f5;
	margin-bottom: 10px;
	padding: 5px 15px;

	p.ai-comment {
		color: #656c77;
		font-size: 15px;
		padding-bottom: 0;
	}
}

.task-title {
	color: #f38b11;
	margin-bottom: 0;
}

.audit-image-thumb {
	width: 70px;
	/* fix for portait size bleed*/
	/*height: 50px; */
	position: relative;
	background: #ccc;
	float: left;
	margin: 15px 5px 0;
	cursor: pointer;

	img {
		width: 100%;
	}
}

.del-audit-image {
	width: 20px;
	height: 20px;
	background: #d43f3a;
	position: absolute;
	right: -5px;
	top: -10px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	line-height: 16px;
	cursor: pointer;
}

.audit-image-wrap {
	/*padding: 0 20px;*/
	margin-right: -5px;
	margin-left: -5px;
}

.audit-image {
    position: relative;
    overflow: hidden;
    vertical-align: middle;

	.ai-score {
		width: 106px;
		height: 42px;
		line-height: 42px;
		top: 25px;
		right: 55px;
	}
}

.audit-detail-modal-footer {

    @include breakpoint(mobileonly){
        .btn,.btn-group {
            width:100%;
            margin-bottom: 5px !important;
            margin-left: 0 !important;
        }
    }

}

.ai-name {
	width: 100%;
	height: 36px;
	background: #fff;
	color: #414141;
	border-bottom: 1px solid #e1e6e8;
	padding-left: 10px;
	overflow: hidden;

	h1 {
		font-size: 16px;
		color: inherit;
		line-height: 36px;
		margin: 0;
	}
}

.ai-comment {
    padding: 15px;

    p {
        font-size: 14px;
        font-weight: 500;
        color: $dark;
        overflow-y: auto;
        overflow-wrap: break-word;
        padding-right: 10px;
        @include breakpoint(tablet) {
            height: 60px;
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
        margin-left: 30px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 8px;
        background-color: $gray;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $border-dark;
    }
}

.ai-todo {
	@extend %extend_1;
}

.ai-todo-zero {
	@extend %extend_1;
	color: #ccc;
}

.ai-viewer-col .audit-item {
	/*min-height: 200px;*/
}

.below-avg {
	.ai-name {
		background: #fff;
		color: $danger;
		border: none;
		/*border-bottom: 1px solid;*/
	}

	.ai-score {
		border: none;
		border-bottom: 1px solid #d43f3a;
		background: $danger;
		color: #fff;
	}
}

.light-upload {
	position: relative;
	overflow: hidden;

	span {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		background: rgba(0,0,0, 0.15);
	}
}

.sort-bar-audit {
	@include breakpoint(tablet) {
		display: block;
	}

	@include breakpoint(laptop) {
		font-size: 14px;
	}
}

.score-audit {
	@include breakpoint(tablet) {
		float: left;
	}
}

.row-action-wrap.col-sm-7 {
	.audit-comment-textarea textarea {
		height: 120px;
		width: 275px;
		margin-top: 5px;
		/*display: none;*/
	}

	.audit-comment-textarea {
		display: none;
		width: 320px;
		margin-top: 5px;

		@include breakpoint(tablet) {
			display: block;
			width: 100%;
			margin-top: 0;
		}
	}

	@include breakpoint(tablet) {
		.audit-comment-textarea, .audit-comment-textarea textarea {
			-moz-transition: all 1s;
			-o-transition: all 1s;
			-webkit-transition: all 1s;
			transition: all 1s;
		}

		.comment-icon {
			display: none;
		}
	}
}

.audit-entry-sec {
	.ai-en-wrap {
		border: 1px solid #e4e4e4;
		padding: 0;
		margin-left: 0;
		margin-right: 0;

		@include breakpoint(laptop) {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.ai-en-details input {
			padding-left: 5px;
			margin-bottom: 10px;

			@include breakpoint(laptop) {
				padding-left: 5px;
				display: block;
			}
		}

		.ai-en-sort-bar {
			display: none;

			@include breakpoint(laptop) {
				display: block;
				padding-top: 5px;
			}
		}

		.numb-field {
			max-width: 200px;
			margin: 12px auto;
			float:none;

			@include breakpoint(laptop) {
				width: 188px;
				margin: 0;
				padding-left: 30px;
				float: right;
			}


			.col-xs-6 {
				width: 100% !important;
			}

			input {
				/*height: 40px;
				float: left;
				width: calc(100% - 84px);
				border-radius: 0;
				font-size: 16px;
				font-weight: 600;*/
			}

			.ai-number-field-btn {
				width: 42px;
				height: 40px;
				display: block;
				float: left;
				text-align: center;
				padding: 10px 0;
				border-radius: 5px 0 0 5px;
			}

			.ai-numb-field-goal {
				width: 100%;
				border-radius: 5px;
				margin: 0 0 10px;
			}
		}

		.inspe-score {
			overflow: hidden;
			background: #fff;
			border-bottom: 1px solid #e4e4e4;
			margin-bottom: 10px;
			padding: 10px;

			p {
				color: #414141;
				font-weight: 600;
			}
            &.require-Todos{
                border: 1px solid $danger;
            }
            .require-message{
                color: $danger;
                font-size: 0.8571rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    float: right;
                }
                @include breakpoint(mobileonly){
                    font-size: 0.6875rem
                }
            }
		}

		.audit-comment-textarea {
			position: relative;
			margin-top: 5px;

			@include breakpoint(tablet) {
				display: block;
				/*width: 300px;*/
			}

			@include breakpoint(laptop) {
				margin-top: 0;
				display: block;
				width:100% !important;
			}

			textarea {
				min-height: 85px;
				height: 85px;
			}
			ul.dropdown-menu {
			  top: 30px;
			  right: 0;
			  left: inherit;
			}
		}

		.picture-link {
			font-size: 26px;
			line-height: 35px;
			color: #354661;
			margin:0 0 10px;
			width:100%;

			&:hover, &:focus {
				color: #23527C;
			}

			@include breakpoint(tablet) {
				//margin-left: 5px;
			}
		}
	}
}

.add-todo {
	padding-left: 0;
	position: relative;

	a {
		padding-left: 10px;

		&.btn {
			height: 33px;
			line-height: 20px;
			border-radius: 5px 0 0 5px;
		}

		&.lightbox-show {
			border-radius: 5px 0 0 5px;
		}
	}
    &.highlight{
        border: 1px solid $danger;
    }
}

.add-todo span {
	padding-left: 10px;
	display: none;
}

.tasks-list {
	display: inline;

	&-show {
		border-radius: 0 5px 5px 0;
		display: none;
	}

	&-menu {
		span {
			display: inline;
		}
	}
}

.tasks-list-menu {
	a.task-list-show {
		display: block;
		font-size: 22px;
		padding-top: 0;
		border-radius: 0 5px 5px 0 !important;
	}

	.tasks-list {
		display: none;
		width: 250px;
		background: #fff;
		border: 1px solid #ccc;
		position: absolute;
		top: 35px;
		right: 0;
		z-index: 1;
	}

	.tasks-list a {
		padding: 10px;
		border-bottom: 1px solid #ccc;
		display: block;
	}
}

.list-menu-active .tasks-list {
	display: block;
}

.sugg-comments {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
}

.modal-content {
	background: #fff;
	z-index: 2222;
	border-radius: 0;
	border: transparent;

	.modal-header {
		width: 100%;
		padding: 10px;
		overflow: hidden;
		margin-bottom: 1px;
		/*background: #40526e !important;
		color: #fff !important;*/

		h3 {
			margin: 0;
			float: left;
			font-size: 18px;
			font-weight: 600;
			color: #fff;
		}

		.close-btn, .close-btn-ai {
			cursor: pointer;
			font-size: 18px;
			position: absolute;
			top: 8px;
			right: 10px;
		}
	}

	.modal-body {
		padding: 0 10px 10px 10px;

        .alert{
            margin-top:5px
        }

        .audit-image-container .ai-score {
            width: 106px;
            height: 42px;
            line-height: 42px;
            top: 25px;
            right: 55px;
        }

		.audit-image {
			margin-left: -10px;
			margin-right: -10px;
			width: auto;
		}

		.audit-image-wrap {
			margin-right: -5px;
			margin-left: -5px;
		}

		.audit-image-thumb {
			width: 70px;
			height: 50px;
			position: relative;
			background: #ccc;
			float: left;
			margin: 15px 5px 0;
			cursor: pointer;
			vertical-align:middle;
			line-height: 48px;
			.audit-image-thumb-wrap{
				overflow:hidden;
				width: 100%;
				height: 100%;
			}
		}
	}

	hr {
		margin: 10px 0;
	}
}



@media (min-width: 768px) {
	.modal-md .modal-content {
		width: 400px;
		left: 50%;
		margin-left: -200px;
		font-weight: 600;
	}
}

.audits-profile-entry{
    background-color: $default;
    .pe-head-desc{
        @include breakpoint(tablet){
            padding-left: 20px !important;
        }
    }
    .mob-padding-top-10{
        @include breakpoint(mobilephone){
            padding-top: 10px;
        }
    }
    .padding-left-0{
        padding-left: 0;
    }
    .mob-padding-right-30{
        @include breakpoint(mobilephone){
            padding-right: 30px;
        }
    }
    .padding-bottom-10{
        padding-bottom: 10px;
    }
    .padding-right-0{
        padding-right: 0;
    }
    .sub-title{
        background-color: $default;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e3e3 ;
        @include breakpoint(mobilephone){
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 0;
        }
    }
    .building-floor{
        padding: 15px 15px 15px 0;
        @include breakpoint(tablet){
            padding: 20px 30px 20px 5px !important;
        }
        font-weight: 600 !important;
        font-size: 14px;
        .value-color{
            color: $primary;
        }
    }
    .user{
        padding: 15px 15px 15px 0;
        background-color: #f4f4f4;
        @include breakpoint(tablet){
            padding: 30px 30px 20px 5px;
        }
        .res-user-title{
            color:  $primary;
            font-weight: 600;
            font-size: 14px;
        }
        .res-user-subtitle{
            font-size: 12px;
            font-style: italic;
            font-weight: 500;
        }
        .btn-cxl{
            color: $default;
            background-color: #999c9e;
            font-weight: 600;
            font-size: 14px;
            /*margin-right: 15px !important;*/
            /*padding: 5px 25px 5px 25px;*/
            /*&:hover{
                color: $default;
                background-color: #867f7f;
            }*/
            @include breakpoint(mobilephone){
                /*margin-left: 15px;*/
            }
        }
        .btn-save{
            color: $default;
            background-color: $dark;
            font-weight: 600;
            font-size: 14px;
            /*padding: 5px 30px 5px 30px;*/
            /*margin-left: 10px;*/
            /*&:hover{
                color: $default;
                background-color: #000000;
            }*/
            @include breakpoint(mobilephone){
                margin-right: 25px;
            }
        }
    }
    .profile-areas{
        padding: 15px 15px 0 0;
        @include breakpoint(tablet){
            padding: 20px 30px 20px 5px;
        }
        .profile-areas-title{
            font-size: 28px;
            color: $primary;           
            font-weight: 300;
        }
        .profile-areas-subtitle{
            font-size: 14px;
            font-weight: 400;
            @include breakpoint(mobilephone){
                padding-top: 5px;
            }
        }
        .assign-emp-btn{
            padding: 8px 12px !important;
                font-weight: 600;
                font-size: 14px !important;
                background-color : $success;
                border-radius : 4px;
                color: $default;
                @include breakpoint(mobilephone){
               position: relative;
                top: -90px;   
                margin-right: 5px;
           }
            @include breakpoint(tablet){
                padding : 12px 21px;
                margin-top: 5px;
            }
        }
        
        .add-area-btn{
            background-color : $success;
            border-radius : 4px;
            color: $default;
            padding: 8px 12px !important;
           font-weight: 600;
           font-size: 14px !important;
           @include breakpoint(mobilephone){
               position: relative;
                top: -90px;   
                margin-right: 5px;
           }
            @include breakpoint(tablet){
                padding : 12px 21px;
                margin-top: 5px;
                margin-right: 15px;                
            }
        }
    }
    .table-header{
        background-color: $primary;
        color: $default;      
        font-size: 10px;       
        padding: 12px 0 12px 0;
        font-weight: 600;
         @include breakpoint(tablet){
            padding: 16px 30px 16px 5px;
            font-size: 12px;
        }
    }
    .area-align{
        @include breakpoint(mobileonly){
            padding: 0;
        }
    }
    .emp-header-align{     
        text-align: right;
        @include breakpoint(tablet){
            text-align: center;
        }
        @include breakpoint(mobileonly){
            padding: 0;
            position: absolute;
            right: 85px;
        }
    }
    .action-align{        
        @include breakpoint(tablet){
            text-align: center;
        }
         @include breakpoint(mobileonly){
            padding: 0;
            position: absolute;
            right: 10px;
        }
    }
    .area-value-align{
        @include breakpoint(mobileonly){
            padding: 0;
            text-align: left;
        }
    }
    .emp-value-align{    
        text-align: center;            
        @include breakpoint(tablet){
            text-align: center;
        }
        @include breakpoint(mobileonly){
            padding: 0;
            text-align: left;
        }
    }
    .action-value-align{  
        position: absolute;
        right: 20px;      
        @include breakpoint(tablet){
            text-align: center;
        }
        @include breakpoint(mobileonly){
            padding: 0;
            text-align: left;
        }
    }
    .table-content{
        padding: 20px 0 20px 0;
        line-height: 24px;
        @include breakpoint(tablet){
            padding: 20px 30px 20px 5px;
        }
        .area-name{
            color:  $primary;
            font-size: 16px;
            font-weight: 600;            
        }
        .area-classification-name{
            font-size: 12px;
            font-style: italic;
            color: #999c9e;
            font-weight: 500;
        }
        .inspection-items{
            font-size: 14px;
            text-decoration: underline;
            color: $dark;
            font-weight: 500;
            &:hover{
                color:#000;
            }            
        }
        .circle-number{
            position: absolute;
            border-radius: 50%;
            background-color: #999c9e;
            height: 40px;
            width: 40px;
            color: $default;
            line-height: 40px;
            text-align: center;            
            font-weight: 600;
            @include breakpoint(mobilephone){
                height: 35px;
                width: 35px;
                line-height: 35px;
            }
            @include breakpoint(mobileonly){
                height: 30px;
                width: 30px;
                line-height: 30px;
            }
        }
        .no-circle-number{
            position: absolute;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            color: $dark;
            line-height: 40px;
            text-align: center;            
            font-weight: 600;
            @include breakpoint(mobilephone){
                height: 35px;
                width: 35px;
                line-height: 35px;
            }
        }
        .delete-btn{
            font-size: 14px;
            font-weight: 600;
            @include breakpoint(mobilephone){
                background-color: $default;
                font-weight: 600;   
                border: none;         
                padding: 0;    
                .fa{
                    color: #d9534f;                    
                    font-weight: bolder;
                }
            }
            @include breakpoint(mobileonly){
                font-size: 12px;
            }
        }
    }
}

.card-body-content{
    .auditor-section{
        position: relative;
        margin-top: 6px;
        margin-left: 8px;
        width: 60%;
        .name{
            font-size: 14px;
            font-weight: 700;
            text-transform: capitalize;
        }

        .audit-type{
            font-size: 10px;
            font-weight: 700;
            color: $muted;
            font-style: italic;
            text-transform: capitalize;
        }
    }
}
// Review audit details page
.audits-entry-view{
    .h-line{
        @include breakpoint(mobilephone){
            margin: 10px;
        }
    }
    .padding-right-0{
        padding-right: 0;
    }
    .backgrnd-red{
        background-color: $danger !important;
    }
    .backgrnd-green{
        background-color: $success !important;
    }
    .review-header{
        background-color: $primary;
        color: $default;
        font-size: 12px;
        font-weight: 600;
        padding: 16px 30px 30px 20px;
        @include breakpoint(mobilephone){
            padding: 10px 5px 25px 15px;
        }
        .audit-date{
            font-style:italic;
            text-transform: uppercase;
            @include breakpoint(mobileonly){
                font-size: 11px;
            }
        }
    }

    .review-body{    
        
        .audits-left-side-block{
            padding: 20px 0 0 0;
            background-color: $default;
            .auditor-details{
                border-right: 1px solid #e3e3e3;                
                padding-left: 35px;
                @include breakpoint(mobilephone){
                    padding-left: 30px;
                }
                .auditor-name{
                    color:  $primary;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
                .internal-auditor-label{
                    font-style: italic;
                    font-size: 14px;
                    font-weight: 400;
                    color:$dark-dark;
                    padding: 2px 0;
                    @include breakpoint(mobilephone){
                        
                    }
                }
                .joint-auditors-label{
                    font-size: 14px;
                    font-weight: 400;
                    color:$dark-dark;
                    padding: 2px 0;
                    @include breakpoint(mobilephone){
                        padding-top: 1px;
                    }
                }
                .joint-auditors-list{
                    font-size: 14px;
                    font-weight: 600;
                    margin-right: 15px;
                }
                .audits-program-label{
                    font-size: 14px;
                    font-weight: 500;
                    @include breakpoint(mobilephone){
                        padding-top: 1px;
                    }
                }
                .audits-program-name{
                    font-size: 12px;                
                    border-radius: 3px;
                    color: #999c9e;
                    border: 1px solid #999c9e;
                    padding: 0 5px;
                    margin-left: 10px;
                    @include breakpoint(mobilephone){
                        padding-top: 1px;
                    }
                }
            
            }
            .h-line{
                margin-bottom: 15px;
            }
            .building-floor-info{
                padding: 15px 20px 15px 20px;
                @include breakpoint(mobilephone){
                    padding: 0 30px 5px 30px;
                }   
                @media only screen and (min-width: 479px) and (max-width: 768px){
                    padding : 0 30px 5px 45px;
                }
                .audit-location-label{
                    font-size: 14px;
                    color: $dark;
                    font-weight: 700;                    
                    @include breakpoint(mobilephone){
                        padding-top: 2px;
                    }
                }
                .audit-location-value{
                    font-size: 14px;                
                    font-style: italic;
                    color: $dark;
                    font-weight: 400;
                    padding:2px 0;
                }
            }

            .circle-score{
                border-radius: 50%;
                background-color: $success;
                height: 60px;
                width: 60px;
                color: $default;
                /*padding-top: 10px;
                padding-left: 10px;*/
                font-size: 16px;
                margin-top: 10px;   
                margin-right: 80px;  
                text-align: center;
                line-height: 40px;  
                padding:10px;        
                @include breakpoint(mobilephone){
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    margin-right: 40px;
                }
                @media screen and (max-width: 768px){
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    margin-right: 40px;
                }
                @media only screen 
                    and (min-width : 768px) 
                    and (max-width : 1024px) 
                    and (orientation : landscape) {
                      margin-right: 40px;
                    } 
            }
            .audit-summary{
                .audit-summary-label{
                    padding-left: 20px;
                    color: $warning;
                    font-size: 16px;
                    font-weight: 600;
                    @include breakpoint(mobilephone){
                        padding-left: 15px;    
                    }
                }
                .audit-summary-desc{
                    padding-left: 20px;
                    padding-right: 30px;
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 300;
                    color: $dark;
                    @include breakpoint(mobilephone){
                        padding-left: 15px;   
                    }
                }
            }

            .table-title-header{
                background-color: $default;
                padding-left: 5px; 
                @include breakpoint(mobilephone){
                    padding-left: 0;        
                }
                @media screen and (min-width: 990px) and (max-width: 1110px){
                    font-size: 10px;
                }

                .header-color{  
                    padding-left: 15px;                  
                    background-color: $default !important;
                    color: $dark-dark !important;
                }
                .section-area-name{
                    font-size: 12px;
                    font-weight: 700;
                    color: $dark;
                    text-transform: uppercase;
                }
                .score-detail{
                    
                    padding-left: 13px; 
                    @include breakpoint(tablet){
                        padding-left: 15px;
                        border-left: 1px solid $base-dark;
                    }
                    .score-label{
                        font-size: 12px;
                    font-weight: 700;
                    color: $dark;
                    text-transform: uppercase;
                    
                    } 
                    .score-value{
                        font-size: 12px;
                        font-weight: 700;
                        color: $dark;
                        padding-left: 10px;
                    }        
                    .text-green{
                        color: $success;
                    }          
                    .text-red{
                        color: $danger;
                    }
                }
                .area-name-detail{
                    
                    padding-right: 7px;
                    @include breakpoint(tablet){
                        padding-right: 15px;
                    }
                    .fa-caret-down{
                        width: 13px;
                    }
                }
                .count-icon{
                    padding-left: 10px;
                    padding-right: 5px;
                    font-size: 13px;
                    @include breakpoint(mobileonly){
                        padding-left: 5px;
                        font-size: 12px;
                    }
                }
                .todo-count{
                    font-weight: 700;
                    font-size: 12px;
                   
                }
                .audits-pagination{
                    margin-right: 20px;
                    top: 0;
                    @media only screen 
                        and (min-width : 768px) 
                        and (max-width : 1024px) 
                        and (orientation : landscape) {
                          position: unset;
                          top: 0;
                          right: 0;
                          .pagination-styles{
                              font-size: 14px;
                          }
                        }
                }
                .audits-pagination > .active > a,
                .audits-pagination > .active > a:focus{
                    background-color: $success !important;
                    color: $default;
                }
                .audits-pagination > li > a:hover{
                    background-color: #6c6969;
                }
                .padding-left-15{
                    @include breakpoint(mobilephone){
                        padding-left: 15px;
                    }
                }
                
            }
            .padding-left-15{
                padding-left: 15px;
            }
            .pagination-styles{
                background-color: #e4e4e4;
                color: #6e6e6e;
                font-size: 14px;
                font-weight: 600;
                padding: 10px 15px 10px 15px;
                border: none;
                &:hover{
                    color: $default;
                    background-color: $success;
                }
                &:focus{
                    color: $default;
                    background-color: $success;
                }
                @include breakpoint(mobileonly){
                    font-size: 10px !important;
                }
                @include breakpoint(mobilephone){
                    font-size: 12px;
                }
                @media screen and (min-width: 990px) and (max-width: 1110px){
                    font-size: 10px;
                }
            }

            .audits-area-cards{
                background-color: $border;
                padding: 25px 20px 20px 5px;
                margin: 0;
                @include breakpoint(mobilephone){
                        padding-left: 0;
                }
                .audits-indi-items{
                    margin: 0 !important;
                    /*padding-bottom: 15px !important;*/
                    @include breakpoint(mobilephone){
                        min-height: 0 !important;
                    }
                    .audits-indi-no-image{
                        max-height: 200px!important;                            
                        width: 100%;
                        @include breakpoint(tablet){
                            max-height: 300px!important;                            
                        }
                        img{
                            max-height: 200px!important;                            
                        width: 100%;
                        @include breakpoint(tablet){
                            max-height: 300px!important;                            
                        }
                        }
                    }
                    .audit-indi-name{
                        color: $primary;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        padding: 10px 10px 10px 15px;
                        height: 46px;
                    }
                    .audit-indi-score{
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        /*padding-top: 5px;*/
                        color: $default;
                        font-weight: bold;
                        /*padding-left: 11px;*/
                        margin-left: 15px;                        
                        background-color: $danger;
                        margin-bottom: 15px;
                        line-height: 40px;
                        font-weight: 600;
                        text-align: center;
                    }
                    .audit-indi-todo{
                        padding-right: 10px;
                        margin-top: 15px!important;
                        font-size: 18px;
                    }                    
                    .backgrnd-red{
                        background-color: $danger !important;
                    }
                    .backgrnd-green{
                        background-color: $success !important;
                    }
                }
                .score-circle-big{
                    width: 40px;
                    height: 40px;
                }
                .score-cicle-small{
                    width: 30px;
                    height: 30px;
                }
            }
            .padding-bottom-20{
                padding-bottom: 20px !important;
                
            }

        }

        .audits-right-side-block{
        background: #f7f8f9; 
        padding: 30px 20px 20px 30px;
        @include breakpoint(desktop){
                     min-height: 900px;
                }
        @include breakpoint(mobilephone){
                     padding-left: 30px;
                     padding-top:20px; 
                }
        .horizontal-line{            
            border-top: 1px solid $base;
            margin-top: 0;
            margin-bottom: 0;
        }
        .title{
            font-size: 22px;
            color: #999c9e;
            font-weight: 300;
            padding-bottom: 15px;
        }   
        .h-line-style{
            margin-top: 20px;
            margin-bottom: 0;
        }
        .none{
            font-size: 16px;
            font-weight: 500;
            padding-top: 20px;
            color: $dark;
        }
        .supervisor-info {
             padding-top: 20px;             
            .circle-img {
                width: 60px;
                height: 60px;
                padding-left: 0;
                padding-right: 0;
                border-color: #ebebeb;
                img {
                    width: 100%;
                    height: 100%;
                }
            }        
      
          .supervisor-name {
            padding-top: 10px;
            font-weight: 600;
            font-size: 16px;
            color: $primary;
             @include breakpoint(mobilephone){
                       font-size: smaller;
                        padding-top: 10px;
                        padding-right: 0;
                }
          }
          .supervisor-title {            
            font-size: smaller;            
            color:$muted-dark;
            font-weight: 300;
            font-style: italic;
            @include breakpoint(mobilephone){
                       font-size: x-small;
                     padding-top: 0;
                }
          }
        }   
    }

    }
}

.criteria-modal{
    padding: 20px;
    .header{
        padding-bottom: 30px;
        font-size: 16px;
        color: $dark;
        .fa{
            cursor: pointer;
        }
    }
    .criteria{
        cursor: pointer;
        .name{
            padding: 10px 0;
            border-bottom: 1px solid $border;
            margin-bottom: 15px;
            font-size: 14px;
        }
        .item{
            padding: 10px 0;
            cursor:default;
            .score{
                height: 50px;
                width: 50px;
                border: 1px solid $warning;
                border-radius: 50%;
                background: $warning;
                color: $default;
                margin: 0 15px;
                span{
                    position: relative;
                    top: 8px;
                    left: 18px;
                    font-size: 24px;
                }
            }
            .score-op-0{
                opacity: 1;
            }
            .score-op-1{
                opacity: .8;
            }
            .score-op-2{
                opacity: .6;
            }
            .score-op-3{
                opacity: .5;
            }
            .score-op-4{
                opacity: .4;
            }
            .desc{
                padding-left: 90px;
                font-size: 14px;
                color: $base-dark;
            }
        }
        

    }
}

.validation-summary-modal{
    .close{
        cursor: pointer;
        color: $muted-dark;
    }
    .messages{
        line-height: 1;
        .text{
            font-size: 0.875rem;
            
        }
    }
    
}
