﻿@import '../Common/_globals.scss';

.audits-details {
    .backgrnd-red{
        background-color: $danger !important;
    }
    .backgrnd-green{
        background-color: $success !important;
    }
    .au-panel {
        margin-bottom: 0;
    }

    .audit-data{
        width: 50% !important;
        margin-top: 10px;
    }

    .auditor-name-style{
        width: 65%;
    }

    .run-audit-btn {
        padding: 12px 42px 12px 42px !important;
    }

    .table-title {
        h2 {
            color: $primary;
            margin-bottom: 0;
        }

        p {
            padding-left: 15px;
            font-weight: 400;
            margin-bottom: 20px;

            @include screen('tablet') {
                padding-left: 30px;
            }
        }
    }

    .table-head {
        padding: 12px 15px 12px 15px;
        background-color: $primary;
        font-weight: 600;
        color: $default;
        font-size: 10px;
        text-transform: uppercase;


        @include breakpoint(tablet) {
            padding: 16px 30px 16px 20px;
            font-size: 12px;
        }

        p {
            &.sec-col {
                padding-left: 35px;

                @include breakpoint(mobileonly) {
                    padding-left: 20px;
                }

                @include breakpoint(tablet) {
                    padding-left: 45px;
                }
            }
        }
    }

    .circle-img {
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .itemrow:nth-child(even) {
        background-color: #f5f5f5;
        display: block;
    }

    .emp-row {
        .drafts-row-details {
            margin-left: 0 !important;
        }

        padding: 20px 15px;

        @include breakpoint(tablet) {
            padding: 25px 20px;
        }

        .a-audit-score {
            background-color: $success;
            color: $default;
            text-align: center;
            border-radius: 50%;
            font-weight: 600;
            margin-top: 20px;
            height: 35px;
            width: 35px;
            line-height: 35px;

            @include breakpoint(tablet) {
                height: 50px;
                width: 50px;
                line-height: 50px;
            }
        }

        .circle-img {
            width: 65px;
            height: 65px;
        }

        .row-details {
            @include breakpoint(mobileonly) {
                margin-left: 10px;
            }

            margin-left: 30px;
            line-height: 24px;

            .emp-name {
                color: $primary;
                font-size: 16px;
                font-weight: 600;

                @include screen('tablet') {
                    font-size: 16px;
                }
            }

            .emp-title {
                font-size: 14px;
                color: $warning;
                font-weight: 600;
            }

            .sm {
                font-size: 12px;
                font-style: italic;
                color: #999c9e;
                font-weight: 500;
            }

            .emp-program {
                color: #999c9e;
                padding: 0 5px;
                display: inline-block;
                border: 1px solid #999c9e;
                border-radius: 3px;
                margin-left: 0;
                margin-bottom: 4px;
                font-size: 12px;
                font-weight: 500;
            }

            .unfinalize-click {
                font-size: 14px;
                color: $dark;
                text-decoration: underline;
                font-weight: 600;
            }
        }

        .au-date {
            font-size: 14px;
            font-weight: 600;
            color: $warning;
        }

        .jd-status {
            position: relative;
            margin-top: 20px;

            @include breakpoint(tablet) {
                padding-right: 10px;
            }

            i {
                font-size: 18px;
                color: $base-dark;
            }

            i[class^='fa-check'] {
                color: $success;
                font-size: 26px;
                display: block;
                padding-top: 20px;
                padding-right: 10px;
            }

            .fa-angle-right {
                position: absolute;
                font-size: 22px;
                right: 0;
                top: 27px;
            }
        }
    }

    .padding-l5-r5 {
        padding: 0 5px;
    }

    
}

.emp-audits-avg {
    .table-head {
        color: $default;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;

        @media only screen and (min-width: 990px) {
            padding: 15px 35px;
        }
    }

    .emp-row .emp-row .emp-row .emp-row .no-padding {
        padding: 0;
    }

    .emp-row {
        padding: 15px 15px 15px 25px;

        @media only screen and (min-width: 990px) {
            padding-left: 30px;
        }

        .circle-img{
            height:70px;
            width:70px;
            margin-right:20px;
        }

        .row-details {
            .audit-type {
                font-size: 14px;
                font-weight: 600;
                color: $warning;
            }

            .emp-name {
                font-size: 16px;
                font-weight: 600;
                color: $primary;
            }

            .jd-status p.date {
                font-size: 14px;
                font-weight: 600;
                color: $warning;
            }

            .sm {
                font-size: 14px;
                font-weight: 600;
                color: $dark-dark;
                text-decoration: underline;
                font-style: normal;
                cursor: pointer;
            }
        }
    }
}