@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.audit-index .audits-height {
  height: 155px;
}
.audit-index .audit-data {
  width: 50% !important;
  margin-top: 10px;
}
.audit-index .audits-charts-align {
  padding-left: 15px;
}
@media (min-width: 1167px) {
  .audit-index .audits-charts-align {
    padding-left: 0;
  }
}
@media (max-width: 320px) {
  .audit-index .audits-charts-align {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.audit-index .avg-results-align {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1167px) {
  .audit-index .avg-results-align {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.audit-index .recent {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .audit-index .recent {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.audit-index .score-tab {
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 1920px) {
  .audit-index .score-tab {
    height: 65px;
  }
}

.audits-add-btn {
  text-align: center;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.audits-profile-manager .table-head {
  padding: 12px 0 12px 0;
  font-size: 10px;
  background-color: #00AFD1;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .audits-profile-manager .table-head {
    padding: 16px 20px 16px 20px;
    font-size: 12px;
  }
}
.audits-profile-manager .itemrow:nth-child(even) {
  background-color: #f5f5f5;
  display: block;
}
.audits-profile-manager .pm-row {
  padding: 20px 0 20px 0;
}
@media (min-width: 768px) {
  .audits-profile-manager .pm-row {
    padding: 25px 30px 25px 20px;
  }
}
.audits-profile-manager .pm-row .no-of-areas {
  font-size: 14px;
  color: #403841;
  font-weight: 600;
}
.audits-profile-manager .pm-row .building-floor-style {
  font-size: 12px;
  font-weight: 500;
  color: #999c9e;
  font-style: italic;
}
.audits-profile-manager .pm-row .res-user-name {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
}
.audits-profile-manager .btn-create {
  background-color: #9FC62D;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 320px) {
  .audits-profile-manager .btn-create {
    padding: 5px 8px;
  }
}
.audits-profile-manager .btn-edit {
  background-color: #403841;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}
@media (max-width: 320px) {
  .audits-profile-manager .btn-edit {
    padding: 5px 8px;
  }
}
.audits-profile-manager .btn-delete {
  background-color: #E93D42;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 320px) {
  .audits-profile-manager .btn-delete {
    padding: 5px 8px;
  }
}

.ai-todo, .ai-todo-zero {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.ra-form {
  margin-top: 0;
}
@media (max-width: 479px) {
  .ra-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ra-well {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f5f5f5;
}
@media (min-width: 1167px) {
  .ra-well {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 768px) {
  .ra-well .form-group .ipad-mob-space {
    padding-left: 10px;
  }
}
.ra-well .audit-areas {
  background-color: #ffffff;
}
@media (min-width: 1167px) {
  .ra-well .audit-areas {
    background-color: #ffffff;
  }
}
.ra-well .audit-info {
  margin-top: 10px;
  padding: 15px 10px;
  background-color: #ffffff;
}
.ra-well .audit-info .name {
  width: 75%;
  word-break: break-all;
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ra-well .audit-info .name.width-med {
  width: 75%;
}
.ra-well .audit-info .name.width-small {
  width: 62%;
}

.remove-lr-padding {
  padding-left: 0;
  padding-right: 0;
}

.remove-l-padding {
  padding-left: 0;
}

.mob-style {
  padding-right: 0;
}
@media (min-width: 1167px) {
  .mob-style {
    padding-right: 20px;
  }
}

.ra-panel-remove-margin {
  margin-bottom: 0 !important;
}

.building-floor-label {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #00AFD1;
}

.building-floor-label-m {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #00AFD1;
  padding-bottom: 5px;
}

.building-floor-subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #403841;
  font-style: italic;
  padding-bottom: 5px;
}

.btn-begin-audit {
  font-weight: 600;
  font-size: 14px;
  background-color: #9FC62D;
  color: #ffffff;
}
.btn-begin-audit:hover {
  color: #ffffff !important;
}
.btn-begin-audit:focus {
  color: #ffffff !important;
  border-color: #9FC62D !important;
}

.bg-color {
  background-color: #f5f5f5;
}

.hide-show {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.ra-audit-areas-text {
  padding: 20px 20px 0;
}
@media (min-width: 768px) {
  .ra-audit-areas-text {
    padding-left: 10px;
  }
}
@media (min-width: 1167px) {
  .ra-audit-areas-text {
    padding-left: 20px;
  }
}
@media (max-width: 479px) {
  .ra-audit-areas-text {
    padding-left: 15px;
    padding: 20px 0 0 0;
  }
  .ra-audit-areas-text > div {
    padding: 0 10px;
  }
}
.ra-audit-areas-text .ra-audit-areas-label {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
}
@media (min-width: 1167px) {
  .ra-audit-areas-text .ra-audit-areas-label {
    font-size: 24px;
    font-weight: 500;
  }
}
.ra-audit-areas-text .ra-audit-areas-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #403841;
}
.ra-audit-areas-text .site-goal {
  font-size: 14px;
  padding: 10px 0 20px 10px;
  float: left;
}
@media (min-width: 768px) {
  .ra-audit-areas-text .site-goal {
    float: right;
  }
}
@media (min-width: 1167px) {
  .ra-audit-areas-text .site-goal {
    font-size: 1.714rem;
    float: right;
    padding: 15px 0 0 15px;
  }
}
.ra-audit-areas-text .site-goal strong {
  font-weight: 600;
}
.ra-audit-areas-text .criteria {
  font-size: 18px;
  padding: 15px 20px 0;
}
.ra-audit-areas-text .criteria .fa-question {
  color: #999c9e;
  background: #ffffff;
  border: 1px solid #999c9e;
  border-radius: 50%;
  padding: 10px 3px 3px;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  top: 2px;
}

.remove-margin-top {
  margin-top: 0;
}

.ai-en-wrap-margin-top {
  margin-top: 15px !important;
}

.comment-subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #403841;
  padding-bottom: 5px;
}

.table-title-well.pri-color i:before {
  content: "\f0d7";
}

.ra-table-title-well-padding-left {
  padding-left: 20px;
}
@media (max-width: 479px) {
  .ra-table-title-well-padding-left {
    padding-left: 15px;
  }
}

.ra-ai-en-wrap-padding-left {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
@media (max-width: 479px) {
  .ra-ai-en-wrap-padding-left {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
  }
}

.ra-btn-delete {
  font-size: 14px;
  font-weight: 600;
  background-color: #E93D42;
  color: #ffffff;
  padding: 8px 12px;
}
.ra-btn-delete:hover {
  color: #ffffff !important;
}
@media (max-width: 320px) {
  .ra-btn-delete {
    padding: 8px 8px;
  }
}

.ra-btn-close {
  font-size: 14px;
  font-weight: 600;
  background-color: #999c9e;
  color: #ffffff;
  margin-left: 10px;
  padding: 8px 12px;
}
.ra-btn-close:hover {
  color: #ffffff !important;
}
@media (max-width: 320px) {
  .ra-btn-close {
    padding: 8px 8px;
    margin-left: 7px;
  }
}

.add-padding-lr {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.ra-btn-save {
  font-size: 14px;
  font-weight: 600;
  background-color: #403841;
  color: #ffffff;
  padding: 8px 18px;
  margin-left: 10px;
}
.ra-btn-save:hover {
  color: #ffffff !important;
}
@media (max-width: 320px) {
  .ra-btn-save {
    padding: 8px 8px;
  }
}

.ra-btn-finalize {
  font-size: 14px;
  font-weight: 600;
  background-color: #9FC62D;
  color: #ffffff;
  margin-left: 10px;
  padding: 8px 12px;
}
.ra-btn-finalize:hover {
  color: #ffffff !important;
}
@media (max-width: 320px) {
  .ra-btn-finalize {
    padding: 8px 8px;
    margin-left: 8px;
  }
}

.chart-wrap .border-wrap {
  border: transparent;
}

.no-internet {
  padding: 10px;
  background-color: #E93D42;
}

.audit-item {
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  /*padding: 0 0 35px;*/
  /*max-width: 300px;*/
  margin: 15px auto;
  border-radius: 5px;
  overflow: hidden;
}
.audit-item.ai-no-image {
  min-height: 200px;
}
.audit-item:hover .ai-image .btn {
  top: 50%;
}
.audit-item:hover .ai-image img {
  opacity: 0.5;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.audit-item .ai-image {
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  max-height: 300px;
  background: #ccc;
  overflow: hidden;
  position: relative;
}
.audit-item .ai-image img {
  width: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 479px) {
  .audit-item .ai-image img.placeholder {
    display: none;
  }
}
.audit-item .ai-image .btn {
  position: absolute;
  left: 50%;
  top: 150%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  font-size: 30px;
  border: 2px solid rgba(255, 255, 255, 0.47);
  border-radius: 50%;
  text-align: center;
  padding: 0;
  padding-left: 2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.audit-item .ai-image .btn i {
  line-height: 48px;
}

.ai-score {
  width: 44px;
  height: 28px;
  background: #fff;
  color: #414141;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border: 1px solid #dedede;
  font-size: 18px;
}

.audit-g-info h4 {
  font-size: 16px;
  font-weight: 400;
}
.audit-g-info h4.av-loca i {
  font-size: 12px;
}

.av-title {
  color: #515861;
  line-height: 1.5;
}

.av-loca span {
  color: #414141;
  font-size: 18px;
}

.auditors i.fa-user {
  color: #35549c;
  cursor: pointer;
  padding-right: 10px;
}
.auditors i.joint-av {
  color: #5bc1a7;
}

.auditor-legends {
  cursor: pointer;
  font-size: 13px;
  padding-left: 80px;
  position: absolute;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.ai-viewer {
  /*max-width: 1200px;*/
}
.ai-viewer-wrap .table-title-well {
  background: #fff;
}
.ai-viewer-wrap .table-title-well p {
  padding-top: 5px;
  padding-bottom: 3px;
}

.ai-viewer > .row > [class*='col'] {
  min-width: 310px;
}

.inspe-score {
  border: medium none;
  cursor: default;
}
@media (min-width: 768px) {
  .inspe-score {
    border: none;
  }
}

/**
	ScoreCard Sections
*/
@media (max-width: 479px) {
  .pagination {
    text-align: center;
  }
  .pagination > li > a {
    padding: 6px 8px;
  }
}

/**
	Tasks
*/
.task-wrap {
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 1px #f5f5f5;
  margin-bottom: 10px;
  padding: 5px 15px;
}
.task-wrap p.ai-comment {
  color: #656c77;
  font-size: 15px;
  padding-bottom: 0;
}

.task-title {
  color: #f38b11;
  margin-bottom: 0;
}

.audit-image-thumb {
  width: 70px;
  /* fix for portait size bleed*/
  /*height: 50px; */
  position: relative;
  background: #ccc;
  float: left;
  margin: 15px 5px 0;
  cursor: pointer;
}
.audit-image-thumb img {
  width: 100%;
}

.del-audit-image {
  width: 20px;
  height: 20px;
  background: #d43f3a;
  position: absolute;
  right: -5px;
  top: -10px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  line-height: 16px;
  cursor: pointer;
}

.audit-image-wrap {
  /*padding: 0 20px;*/
  margin-right: -5px;
  margin-left: -5px;
}

.audit-image {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.audit-image .ai-score {
  width: 106px;
  height: 42px;
  line-height: 42px;
  top: 25px;
  right: 55px;
}

@media (max-width: 320px) {
  .audit-detail-modal-footer .btn, .audit-detail-modal-footer .btn-group {
    width: 100%;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
  }
}

.ai-name {
  width: 100%;
  height: 36px;
  background: #fff;
  color: #414141;
  border-bottom: 1px solid #e1e6e8;
  padding-left: 10px;
  overflow: hidden;
}
.ai-name h1 {
  font-size: 16px;
  color: inherit;
  line-height: 36px;
  margin: 0;
}

.ai-comment {
  padding: 15px;
}
.ai-comment p {
  font-size: 14px;
  font-weight: 500;
  color: #403841;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .ai-comment p {
    height: 60px;
  }
}
.ai-comment ::-webkit-scrollbar {
  width: 8px;
  margin-left: 30px;
}
.ai-comment ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #f5f5f5;
}
.ai-comment ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8d8d8;
}

.ai-todo-zero {
  color: #ccc;
}

.ai-viewer-col .audit-item {
  /*min-height: 200px;*/
}

.below-avg .ai-name {
  background: #fff;
  color: #E93D42;
  border: none;
  /*border-bottom: 1px solid;*/
}
.below-avg .ai-score {
  border: none;
  border-bottom: 1px solid #d43f3a;
  background: #E93D42;
  color: #fff;
}

.light-upload {
  position: relative;
  overflow: hidden;
}
.light-upload span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .sort-bar-audit {
    display: block;
  }
}
@media (min-width: 991px) {
  .sort-bar-audit {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .score-audit {
    float: left;
  }
}

.row-action-wrap.col-sm-7 .audit-comment-textarea textarea {
  height: 120px;
  width: 275px;
  margin-top: 5px;
  /*display: none;*/
}
.row-action-wrap.col-sm-7 .audit-comment-textarea {
  display: none;
  width: 320px;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .row-action-wrap.col-sm-7 .audit-comment-textarea {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .row-action-wrap.col-sm-7 .audit-comment-textarea, .row-action-wrap.col-sm-7 .audit-comment-textarea textarea {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .row-action-wrap.col-sm-7 .comment-icon {
    display: none;
  }
}

.audit-entry-sec .ai-en-wrap {
  border: 1px solid #e4e4e4;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 991px) {
  .audit-entry-sec .ai-en-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.audit-entry-sec .ai-en-wrap .ai-en-details input {
  padding-left: 5px;
  margin-bottom: 10px;
}
@media (min-width: 991px) {
  .audit-entry-sec .ai-en-wrap .ai-en-details input {
    padding-left: 5px;
    display: block;
  }
}
.audit-entry-sec .ai-en-wrap .ai-en-sort-bar {
  display: none;
}
@media (min-width: 991px) {
  .audit-entry-sec .ai-en-wrap .ai-en-sort-bar {
    display: block;
    padding-top: 5px;
  }
}
.audit-entry-sec .ai-en-wrap .numb-field {
  max-width: 200px;
  margin: 12px auto;
  float: none;
}
@media (min-width: 991px) {
  .audit-entry-sec .ai-en-wrap .numb-field {
    width: 188px;
    margin: 0;
    padding-left: 30px;
    float: right;
  }
}
.audit-entry-sec .ai-en-wrap .numb-field .col-xs-6 {
  width: 100% !important;
}
.audit-entry-sec .ai-en-wrap .numb-field input {
  /*height: 40px;
  float: left;
  width: calc(100% - 84px);
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;*/
}
.audit-entry-sec .ai-en-wrap .numb-field .ai-number-field-btn {
  width: 42px;
  height: 40px;
  display: block;
  float: left;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px 0 0 5px;
}
.audit-entry-sec .ai-en-wrap .numb-field .ai-numb-field-goal {
  width: 100%;
  border-radius: 5px;
  margin: 0 0 10px;
}
.audit-entry-sec .ai-en-wrap .inspe-score {
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 10px;
  padding: 10px;
}
.audit-entry-sec .ai-en-wrap .inspe-score p {
  color: #414141;
  font-weight: 600;
}
.audit-entry-sec .ai-en-wrap .inspe-score.require-Todos {
  border: 1px solid #E93D42;
}
.audit-entry-sec .ai-en-wrap .inspe-score .require-message {
  color: #E93D42;
  font-size: 0.8571rem;
  font-weight: 600;
}
@media (min-width: 991px) {
  .audit-entry-sec .ai-en-wrap .inspe-score .require-message {
    float: right;
  }
}
@media (max-width: 320px) {
  .audit-entry-sec .ai-en-wrap .inspe-score .require-message {
    font-size: 0.6875rem;
  }
}
.audit-entry-sec .ai-en-wrap .audit-comment-textarea {
  position: relative;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .audit-entry-sec .ai-en-wrap .audit-comment-textarea {
    display: block;
    /*width: 300px;*/
  }
}
@media (min-width: 991px) {
  .audit-entry-sec .ai-en-wrap .audit-comment-textarea {
    margin-top: 0;
    display: block;
    width: 100% !important;
  }
}
.audit-entry-sec .ai-en-wrap .audit-comment-textarea textarea {
  min-height: 85px;
  height: 85px;
}
.audit-entry-sec .ai-en-wrap .audit-comment-textarea ul.dropdown-menu {
  top: 30px;
  right: 0;
  left: inherit;
}
.audit-entry-sec .ai-en-wrap .picture-link {
  font-size: 26px;
  line-height: 35px;
  color: #354661;
  margin: 0 0 10px;
  width: 100%;
}
.audit-entry-sec .ai-en-wrap .picture-link:hover, .audit-entry-sec .ai-en-wrap .picture-link:focus {
  color: #23527C;
}

.add-todo {
  padding-left: 0;
  position: relative;
}
.add-todo a {
  padding-left: 10px;
}
.add-todo a.btn {
  height: 33px;
  line-height: 20px;
  border-radius: 5px 0 0 5px;
}
.add-todo a.lightbox-show {
  border-radius: 5px 0 0 5px;
}
.add-todo.highlight {
  border: 1px solid #E93D42;
}

.add-todo span {
  padding-left: 10px;
  display: none;
}

.tasks-list {
  display: inline;
}
.tasks-list-show {
  border-radius: 0 5px 5px 0;
  display: none;
}
.tasks-list-menu span {
  display: inline;
}

.tasks-list-menu a.task-list-show {
  display: block;
  font-size: 22px;
  padding-top: 0;
  border-radius: 0 5px 5px 0 !important;
}
.tasks-list-menu .tasks-list {
  display: none;
  width: 250px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
}
.tasks-list-menu .tasks-list a {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.list-menu-active .tasks-list {
  display: block;
}

.sugg-comments {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.modal-content {
  background: #fff;
  z-index: 2222;
  border-radius: 0;
  border: transparent;
}
.modal-content .modal-header {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 1px;
  /*background: #40526e !important;
  color: #fff !important;*/
}
.modal-content .modal-header h3 {
  margin: 0;
  float: left;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.modal-content .modal-header .close-btn, .modal-content .modal-header .close-btn-ai {
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 8px;
  right: 10px;
}
.modal-content .modal-body {
  padding: 0 10px 10px 10px;
}
.modal-content .modal-body .alert {
  margin-top: 5px;
}
.modal-content .modal-body .audit-image-container .ai-score {
  width: 106px;
  height: 42px;
  line-height: 42px;
  top: 25px;
  right: 55px;
}
.modal-content .modal-body .audit-image {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}
.modal-content .modal-body .audit-image-wrap {
  margin-right: -5px;
  margin-left: -5px;
}
.modal-content .modal-body .audit-image-thumb {
  width: 70px;
  height: 50px;
  position: relative;
  background: #ccc;
  float: left;
  margin: 15px 5px 0;
  cursor: pointer;
  vertical-align: middle;
  line-height: 48px;
}
.modal-content .modal-body .audit-image-thumb .audit-image-thumb-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.modal-content hr {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .modal-md .modal-content {
    width: 400px;
    left: 50%;
    margin-left: -200px;
    font-weight: 600;
  }
}
.audits-profile-entry {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .audits-profile-entry .pe-head-desc {
    padding-left: 20px !important;
  }
}
@media (max-width: 479px) {
  .audits-profile-entry .mob-padding-top-10 {
    padding-top: 10px;
  }
}
.audits-profile-entry .padding-left-0 {
  padding-left: 0;
}
@media (max-width: 479px) {
  .audits-profile-entry .mob-padding-right-30 {
    padding-right: 30px;
  }
}
.audits-profile-entry .padding-bottom-10 {
  padding-bottom: 10px;
}
.audits-profile-entry .padding-right-0 {
  padding-right: 0;
}
.audits-profile-entry .sub-title {
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e3e3;
}
@media (max-width: 479px) {
  .audits-profile-entry .sub-title {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0;
  }
}
.audits-profile-entry .building-floor {
  padding: 15px 15px 15px 0;
  font-weight: 600 !important;
  font-size: 14px;
}
@media (min-width: 768px) {
  .audits-profile-entry .building-floor {
    padding: 20px 30px 20px 5px !important;
  }
}
.audits-profile-entry .building-floor .value-color {
  color: #00AFD1;
}
.audits-profile-entry .user {
  padding: 15px 15px 15px 0;
  background-color: #f4f4f4;
}
@media (min-width: 768px) {
  .audits-profile-entry .user {
    padding: 30px 30px 20px 5px;
  }
}
.audits-profile-entry .user .res-user-title {
  color: #00AFD1;
  font-weight: 600;
  font-size: 14px;
}
.audits-profile-entry .user .res-user-subtitle {
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
}
.audits-profile-entry .user .btn-cxl {
  color: #ffffff;
  background-color: #999c9e;
  font-weight: 600;
  font-size: 14px;
  /*margin-right: 15px !important;*/
  /*padding: 5px 25px 5px 25px;*/
  /*&:hover{
      color: $default;
      background-color: #867f7f;
  }*/
}
@media (max-width: 479px) {
  .audits-profile-entry .user .btn-cxl {
    /*margin-left: 15px;*/
  }
}
.audits-profile-entry .user .btn-save {
  color: #ffffff;
  background-color: #403841;
  font-weight: 600;
  font-size: 14px;
  /*padding: 5px 30px 5px 30px;*/
  /*margin-left: 10px;*/
  /*&:hover{
      color: $default;
      background-color: #000000;
  }*/
}
@media (max-width: 479px) {
  .audits-profile-entry .user .btn-save {
    margin-right: 25px;
  }
}
.audits-profile-entry .profile-areas {
  padding: 15px 15px 0 0;
}
@media (min-width: 768px) {
  .audits-profile-entry .profile-areas {
    padding: 20px 30px 20px 5px;
  }
}
.audits-profile-entry .profile-areas .profile-areas-title {
  font-size: 28px;
  color: #00AFD1;
  font-weight: 300;
}
.audits-profile-entry .profile-areas .profile-areas-subtitle {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 479px) {
  .audits-profile-entry .profile-areas .profile-areas-subtitle {
    padding-top: 5px;
  }
}
.audits-profile-entry .profile-areas .assign-emp-btn {
  padding: 8px 12px !important;
  font-weight: 600;
  font-size: 14px !important;
  background-color: #9FC62D;
  border-radius: 4px;
  color: #ffffff;
}
@media (max-width: 479px) {
  .audits-profile-entry .profile-areas .assign-emp-btn {
    position: relative;
    top: -90px;
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  .audits-profile-entry .profile-areas .assign-emp-btn {
    padding: 12px 21px;
    margin-top: 5px;
  }
}
.audits-profile-entry .profile-areas .add-area-btn {
  background-color: #9FC62D;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 12px !important;
  font-weight: 600;
  font-size: 14px !important;
}
@media (max-width: 479px) {
  .audits-profile-entry .profile-areas .add-area-btn {
    position: relative;
    top: -90px;
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  .audits-profile-entry .profile-areas .add-area-btn {
    padding: 12px 21px;
    margin-top: 5px;
    margin-right: 15px;
  }
}
.audits-profile-entry .table-header {
  background-color: #00AFD1;
  color: #ffffff;
  font-size: 10px;
  padding: 12px 0 12px 0;
  font-weight: 600;
}
@media (min-width: 768px) {
  .audits-profile-entry .table-header {
    padding: 16px 30px 16px 5px;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .area-align {
    padding: 0;
  }
}
.audits-profile-entry .emp-header-align {
  text-align: right;
}
@media (min-width: 768px) {
  .audits-profile-entry .emp-header-align {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .emp-header-align {
    padding: 0;
    position: absolute;
    right: 85px;
  }
}
@media (min-width: 768px) {
  .audits-profile-entry .action-align {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .action-align {
    padding: 0;
    position: absolute;
    right: 10px;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .area-value-align {
    padding: 0;
    text-align: left;
  }
}
.audits-profile-entry .emp-value-align {
  text-align: center;
}
@media (min-width: 768px) {
  .audits-profile-entry .emp-value-align {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .emp-value-align {
    padding: 0;
    text-align: left;
  }
}
.audits-profile-entry .action-value-align {
  position: absolute;
  right: 20px;
}
@media (min-width: 768px) {
  .audits-profile-entry .action-value-align {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .action-value-align {
    padding: 0;
    text-align: left;
  }
}
.audits-profile-entry .table-content {
  padding: 20px 0 20px 0;
  line-height: 24px;
}
@media (min-width: 768px) {
  .audits-profile-entry .table-content {
    padding: 20px 30px 20px 5px;
  }
}
.audits-profile-entry .table-content .area-name {
  color: #00AFD1;
  font-size: 16px;
  font-weight: 600;
}
.audits-profile-entry .table-content .area-classification-name {
  font-size: 12px;
  font-style: italic;
  color: #999c9e;
  font-weight: 500;
}
.audits-profile-entry .table-content .inspection-items {
  font-size: 14px;
  text-decoration: underline;
  color: #403841;
  font-weight: 500;
}
.audits-profile-entry .table-content .inspection-items:hover {
  color: #000;
}
.audits-profile-entry .table-content .circle-number {
  position: absolute;
  border-radius: 50%;
  background-color: #999c9e;
  height: 40px;
  width: 40px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 479px) {
  .audits-profile-entry .table-content .circle-number {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .table-content .circle-number {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
.audits-profile-entry .table-content .no-circle-number {
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #403841;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 479px) {
  .audits-profile-entry .table-content .no-circle-number {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
}
.audits-profile-entry .table-content .delete-btn {
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .audits-profile-entry .table-content .delete-btn {
    background-color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 0;
  }
  .audits-profile-entry .table-content .delete-btn .fa {
    color: #d9534f;
    font-weight: bolder;
  }
}
@media (max-width: 320px) {
  .audits-profile-entry .table-content .delete-btn {
    font-size: 12px;
  }
}

.card-body-content .auditor-section {
  position: relative;
  margin-top: 6px;
  margin-left: 8px;
  width: 60%;
}
.card-body-content .auditor-section .name {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
.card-body-content .auditor-section .audit-type {
  font-size: 10px;
  font-weight: 700;
  color: #999c9e;
  font-style: italic;
  text-transform: capitalize;
}

@media (max-width: 479px) {
  .audits-entry-view .h-line {
    margin: 10px;
  }
}
.audits-entry-view .padding-right-0 {
  padding-right: 0;
}
.audits-entry-view .backgrnd-red {
  background-color: #E93D42 !important;
}
.audits-entry-view .backgrnd-green {
  background-color: #9FC62D !important;
}
.audits-entry-view .review-header {
  background-color: #00AFD1;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding: 16px 30px 30px 20px;
}
@media (max-width: 479px) {
  .audits-entry-view .review-header {
    padding: 10px 5px 25px 15px;
  }
}
.audits-entry-view .review-header .audit-date {
  font-style: italic;
  text-transform: uppercase;
}
@media (max-width: 320px) {
  .audits-entry-view .review-header .audit-date {
    font-size: 11px;
  }
}
.audits-entry-view .review-body .audits-left-side-block {
  padding: 20px 0 0 0;
  background-color: #ffffff;
}
.audits-entry-view .review-body .audits-left-side-block .auditor-details {
  border-right: 1px solid #e3e3e3;
  padding-left: 35px;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .auditor-details {
    padding-left: 30px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .auditor-details .auditor-name {
  color: #00AFD1;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.audits-entry-view .review-body .audits-left-side-block .auditor-details .internal-auditor-label {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #2f2930;
  padding: 2px 0;
}
.audits-entry-view .review-body .audits-left-side-block .auditor-details .joint-auditors-label {
  font-size: 14px;
  font-weight: 400;
  color: #2f2930;
  padding: 2px 0;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .auditor-details .joint-auditors-label {
    padding-top: 1px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .auditor-details .joint-auditors-list {
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
}
.audits-entry-view .review-body .audits-left-side-block .auditor-details .audits-program-label {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .auditor-details .audits-program-label {
    padding-top: 1px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .auditor-details .audits-program-name {
  font-size: 12px;
  border-radius: 3px;
  color: #999c9e;
  border: 1px solid #999c9e;
  padding: 0 5px;
  margin-left: 10px;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .auditor-details .audits-program-name {
    padding-top: 1px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .h-line {
  margin-bottom: 15px;
}
.audits-entry-view .review-body .audits-left-side-block .building-floor-info {
  padding: 15px 20px 15px 20px;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .building-floor-info {
    padding: 0 30px 5px 30px;
  }
}
@media only screen and (min-width: 479px) and (max-width: 768px) {
  .audits-entry-view .review-body .audits-left-side-block .building-floor-info {
    padding: 0 30px 5px 45px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .building-floor-info .audit-location-label {
  font-size: 14px;
  color: #403841;
  font-weight: 700;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .building-floor-info .audit-location-label {
    padding-top: 2px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .building-floor-info .audit-location-value {
  font-size: 14px;
  font-style: italic;
  color: #403841;
  font-weight: 400;
  padding: 2px 0;
}
.audits-entry-view .review-body .audits-left-side-block .circle-score {
  border-radius: 50%;
  background-color: #9FC62D;
  height: 60px;
  width: 60px;
  color: #ffffff;
  /*padding-top: 10px;
  padding-left: 10px;*/
  font-size: 16px;
  margin-top: 10px;
  margin-right: 80px;
  text-align: center;
  line-height: 40px;
  padding: 10px;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .circle-score {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .audits-entry-view .review-body .audits-left-side-block .circle-score {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .audits-entry-view .review-body .audits-left-side-block .circle-score {
    margin-right: 40px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .audit-summary .audit-summary-label {
  padding-left: 20px;
  color: #F99D00;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .audit-summary .audit-summary-label {
    padding-left: 15px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .audit-summary .audit-summary-desc {
  padding-left: 20px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #403841;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .audit-summary .audit-summary-desc {
    padding-left: 15px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header {
  background-color: #ffffff;
  padding-left: 5px;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .table-title-header {
    padding-left: 0;
  }
}
@media screen and (min-width: 990px) and (max-width: 1110px) {
  .audits-entry-view .review-body .audits-left-side-block .table-title-header {
    font-size: 10px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .header-color {
  padding-left: 15px;
  background-color: #ffffff !important;
  color: #2f2930 !important;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .section-area-name {
  font-size: 12px;
  font-weight: 700;
  color: #403841;
  text-transform: uppercase;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .score-detail {
  padding-left: 13px;
}
@media (min-width: 768px) {
  .audits-entry-view .review-body .audits-left-side-block .table-title-header .score-detail {
    padding-left: 15px;
    border-left: 1px solid #9e9e9e;
  }
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .score-detail .score-label {
  font-size: 12px;
  font-weight: 700;
  color: #403841;
  text-transform: uppercase;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .score-detail .score-value {
  font-size: 12px;
  font-weight: 700;
  color: #403841;
  padding-left: 10px;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .score-detail .text-green {
  color: #9FC62D;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .score-detail .text-red {
  color: #E93D42;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .area-name-detail {
  padding-right: 7px;
}
@media (min-width: 768px) {
  .audits-entry-view .review-body .audits-left-side-block .table-title-header .area-name-detail {
    padding-right: 15px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .area-name-detail .fa-caret-down {
  width: 13px;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .count-icon {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 13px;
}
@media (max-width: 320px) {
  .audits-entry-view .review-body .audits-left-side-block .table-title-header .count-icon {
    padding-left: 5px;
    font-size: 12px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .todo-count {
  font-weight: 700;
  font-size: 12px;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .audits-pagination {
  margin-right: 20px;
  top: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .audits-entry-view .review-body .audits-left-side-block .table-title-header .audits-pagination {
    position: unset;
    top: 0;
    right: 0;
  }
  .audits-entry-view .review-body .audits-left-side-block .table-title-header .audits-pagination .pagination-styles {
    font-size: 14px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .audits-pagination > .active > a,
.audits-entry-view .review-body .audits-left-side-block .table-title-header .audits-pagination > .active > a:focus {
  background-color: #9FC62D !important;
  color: #ffffff;
}
.audits-entry-view .review-body .audits-left-side-block .table-title-header .audits-pagination > li > a:hover {
  background-color: #6c6969;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .table-title-header .padding-left-15 {
    padding-left: 15px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .padding-left-15 {
  padding-left: 15px;
}
.audits-entry-view .review-body .audits-left-side-block .pagination-styles {
  background-color: #e4e4e4;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px 10px 15px;
  border: none;
}
.audits-entry-view .review-body .audits-left-side-block .pagination-styles:hover {
  color: #ffffff;
  background-color: #9FC62D;
}
.audits-entry-view .review-body .audits-left-side-block .pagination-styles:focus {
  color: #ffffff;
  background-color: #9FC62D;
}
@media (max-width: 320px) {
  .audits-entry-view .review-body .audits-left-side-block .pagination-styles {
    font-size: 10px !important;
  }
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .pagination-styles {
    font-size: 12px;
  }
}
@media screen and (min-width: 990px) and (max-width: 1110px) {
  .audits-entry-view .review-body .audits-left-side-block .pagination-styles {
    font-size: 10px;
  }
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards {
  background-color: #e8e8e8;
  padding: 25px 20px 20px 5px;
  margin: 0;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .audits-area-cards {
    padding-left: 0;
  }
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items {
  margin: 0 !important;
  /*padding-bottom: 15px !important;*/
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items {
    min-height: 0 !important;
  }
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .audits-indi-no-image {
  max-height: 200px !important;
  width: 100%;
}
@media (min-width: 768px) {
  .audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .audits-indi-no-image {
    max-height: 300px !important;
  }
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .audits-indi-no-image img {
  max-height: 200px !important;
  width: 100%;
}
@media (min-width: 768px) {
  .audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .audits-indi-no-image img {
    max-height: 300px !important;
  }
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .audit-indi-name {
  color: #00AFD1;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 10px 10px 15px;
  height: 46px;
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .audit-indi-score {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /*padding-top: 5px;*/
  color: #ffffff;
  font-weight: bold;
  /*padding-left: 11px;*/
  margin-left: 15px;
  background-color: #E93D42;
  margin-bottom: 15px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .audit-indi-todo {
  padding-right: 10px;
  margin-top: 15px !important;
  font-size: 18px;
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .backgrnd-red {
  background-color: #E93D42 !important;
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .audits-indi-items .backgrnd-green {
  background-color: #9FC62D !important;
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .score-circle-big {
  width: 40px;
  height: 40px;
}
.audits-entry-view .review-body .audits-left-side-block .audits-area-cards .score-cicle-small {
  width: 30px;
  height: 30px;
}
.audits-entry-view .review-body .audits-left-side-block .padding-bottom-20 {
  padding-bottom: 20px !important;
}
.audits-entry-view .review-body .audits-right-side-block {
  background: #f7f8f9;
  padding: 30px 20px 20px 30px;
}
@media (min-width: 1167px) {
  .audits-entry-view .review-body .audits-right-side-block {
    min-height: 900px;
  }
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-right-side-block {
    padding-left: 30px;
    padding-top: 20px;
  }
}
.audits-entry-view .review-body .audits-right-side-block .horizontal-line {
  border-top: 1px solid #cccccc;
  margin-top: 0;
  margin-bottom: 0;
}
.audits-entry-view .review-body .audits-right-side-block .title {
  font-size: 22px;
  color: #999c9e;
  font-weight: 300;
  padding-bottom: 15px;
}
.audits-entry-view .review-body .audits-right-side-block .h-line-style {
  margin-top: 20px;
  margin-bottom: 0;
}
.audits-entry-view .review-body .audits-right-side-block .none {
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px;
  color: #403841;
}
.audits-entry-view .review-body .audits-right-side-block .supervisor-info {
  padding-top: 20px;
}
.audits-entry-view .review-body .audits-right-side-block .supervisor-info .circle-img {
  width: 60px;
  height: 60px;
  padding-left: 0;
  padding-right: 0;
  border-color: #ebebeb;
}
.audits-entry-view .review-body .audits-right-side-block .supervisor-info .circle-img img {
  width: 100%;
  height: 100%;
}
.audits-entry-view .review-body .audits-right-side-block .supervisor-info .supervisor-name {
  padding-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #00AFD1;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-right-side-block .supervisor-info .supervisor-name {
    font-size: smaller;
    padding-top: 10px;
    padding-right: 0;
  }
}
.audits-entry-view .review-body .audits-right-side-block .supervisor-info .supervisor-title {
  font-size: smaller;
  color: #8c8f92;
  font-weight: 300;
  font-style: italic;
}
@media (max-width: 479px) {
  .audits-entry-view .review-body .audits-right-side-block .supervisor-info .supervisor-title {
    font-size: x-small;
    padding-top: 0;
  }
}

.criteria-modal {
  padding: 20px;
}
.criteria-modal .header {
  padding-bottom: 30px;
  font-size: 16px;
  color: #403841;
}
.criteria-modal .header .fa {
  cursor: pointer;
}
.criteria-modal .criteria {
  cursor: pointer;
}
.criteria-modal .criteria .name {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
  font-size: 14px;
}
.criteria-modal .criteria .item {
  padding: 10px 0;
  cursor: default;
}
.criteria-modal .criteria .item .score {
  height: 50px;
  width: 50px;
  border: 1px solid #F99D00;
  border-radius: 50%;
  background: #F99D00;
  color: #ffffff;
  margin: 0 15px;
}
.criteria-modal .criteria .item .score span {
  position: relative;
  top: 8px;
  left: 18px;
  font-size: 24px;
}
.criteria-modal .criteria .item .score-op-0 {
  opacity: 1;
}
.criteria-modal .criteria .item .score-op-1 {
  opacity: .8;
}
.criteria-modal .criteria .item .score-op-2 {
  opacity: .6;
}
.criteria-modal .criteria .item .score-op-3 {
  opacity: .5;
}
.criteria-modal .criteria .item .score-op-4 {
  opacity: .4;
}
.criteria-modal .criteria .item .desc {
  padding-left: 90px;
  font-size: 14px;
  color: #9e9e9e;
}

.validation-summary-modal .close {
  cursor: pointer;
  color: #8c8f92;
}
.validation-summary-modal .messages {
  line-height: 1;
}
.validation-summary-modal .messages .text {
  font-size: 0.875rem;
}

/*# sourceMappingURL=audit.css.map */
