@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
h1, .h1 {
  font-size: 34px;
  font-weight: lighter;
}

h2, .h2 {
  font-size: 22px;
  font-weight: lighter;
}

h3, .h3 {
  font-size: 16px;
  font-weight: normal;
}

h4, .h4 {
  font-size: 16px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 12px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

a {
  color: #00AFD1;
}

.text-error {
  color: #E93D42 !important;
}
.text-success {
  color: #9FC62D;
}
.text-primary {
  color: #00AFD1;
}
.text-warning {
  color: #F99D00 !important;
}
.text-muted {
  color: #9e9e9e;
}
.text-dark strong {
  color: #232323;
}
.text-white {
  color: #ffffff !important;
}
.text-light-gray {
  color: #cccccc;
}
.text-small {
  font-size: 12px;
}
.text-medium {
  font-size: 18px;
}
.text-large {
  font-size: 28px;
}
.text-x-large {
  font-size: 48px;
}

.label-success {
  color: #9FC62D;
}
.label-warning {
  color: #F99D00 !important;
}

.btn {
  font-weight: 700;
  font-size: 0.857rem;
  border-radius: 2px;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-grey {
  background-color: #8c8f92;
  color: #ffffff;
  font-weight: bold;
  border-color: #7f8385;
}
.btn-grey:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black {
  background-color: #2f2930;
  color: #ffffff;
  font-weight: bold;
  border-color: #221d22;
}
.btn-black:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black:focus {
  color: #ffffff;
}
.btn-dark {
  background-color: #2f2930;
  color: #ffffff;
  border-color: #221d22;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #4a404c;
  border-color: #574c59;
}
.btn-dark:focus {
  color: #ffffff;
}
.btn-link {
  color: #403841;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
}
.btn-lg-padding {
  padding: 10px 20px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn .btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.bg-danger, .btn-danger {
  background-color: #E93D42;
  border-color: #e83439;
}
.bg-danger:hover, .btn-danger:hover {
  background-color: #ec5458;
  border-color: #ed6266;
}
.bg-success, .btn-success {
  background-color: #9FC62D;
  border-color: #98be2b;
}
.bg-success:hover, .btn-success:hover {
  background-color: #acd23a;
  border-color: #b1d547;
}
.bg-primary, .btn-primary {
  background-color: #00AFD1;
  border-color: #00a6c7;
}
.bg-primary:hover, .btn-primary:hover {
  background-color: #00c4eb;
  border-color: #00d1fa;
}
.bg-warning, .btn-warning {
  background-color: #F99D00;
  border-color: #ef9700;
}
.bg-warning:hover, .btn-warning:hover {
  background-color: #ffa814;
  border-color: #ffae23;
}
.bg-white, .btn-white {
  background-color: #ffffff;
  border-color: #fafafa;
}
.bg-white:hover, .btn-white:hover {
  background-color: white;
  border-color: white;
}
.bg-transparent, .bg-clear, .bg-clear-bg, .btn-transparent, .btn-clear, .btn-clear-bg {
  background-color: transparent;
}
.bg-gray, .btn-gray {
  background-color: #9e9e9e;
  border-color: #999999;
}
.bg-gray:hover, .btn-gray:hover {
  background-color: #ababab;
  border-color: #b2b2b2;
}

.progress-bar-success {
  background-color: #9FC62D;
}

.alert.alert-danger {
  color: #E93D42;
  border-color: #E93D42;
}
.alert.no-border-radius {
  border-radius: 0;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
  border-color: #9FA8C7;
  background: #00AFD1;
  color: #fff;
}

.modal-content {
  border-radius: 4px;
}
.modal-content .modal-header {
  background-color: #00AFD1;
  color: #ffffff;
}
.modal-content .modal-header .modal-title {
  color: #ffffff;
}
.modal-content .modal-body.max-height-500 {
  max-height: 500px;
  overflow-y: scroll;
}

.popover-plain {
  border-radius: 0;
}
.popover-plain .popover-inner {
  padding: 20px;
}
.popover-plain .popover-title {
  color: #F99D00;
  background: none;
  border: 0;
  font-size: 1.143rem;
  font-weight: 600;
  border-radius: 0;
  padding: 0;
}
.popover-plain .popover-content {
  padding: 10px 0 0;
  color: #403841;
  font-size: 1rem;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

/*Fixes modal backdrop not displaying*/
.modal-backdrop {
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.dropdown-menu {
  min-width: 100px;
}
.dropdown-menu li a {
  font-size: .8571rem;
  font-weight: 600;
  line-height: 30px;
  padding: 0 15px;
  color: #403841;
}

.error-notice {
  margin: 5px 5px;
  /* Making sure to keep some distance from all side */
}

.sbm-alert {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #eee;
  /*border-left-width: 5px;*/
  border-radius: 3px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.sbm-alert.danger {
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
}
.sbm-alert.danger strong {
  color: #d9534f;
}
.sbm-alert.warning {
  border-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}
.sbm-alert.warning strong {
  color: #f0ad4e;
}
.sbm-alert.info {
  border-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}
.sbm-alert.info strong {
  color: #5bc0de;
}
.sbm-alert.success {
  border-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}
.sbm-alert.success strong {
  color: #2b542c;
}

/* -------------------------------------------------- */
/* FIX FOR: icomoon applying line-height to fa-stack */
/* ------------------------------------------------- */
span.fa-stack {
  line-height: 2em !important;
}
span.fa-stack .fa {
  line-height: inherit;
}
span.fa-stack .fa-sbm-thin-circle {
  border: 1px solid;
  border-radius: 80px;
  height: 100%;
}

/* -------------------------------  */
/*  FIX FOR BOLD PLACEHOLDER TEXT  */
/* --------------------------------*/
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  font-weight: normal !important;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.img-circle.circle-img,
.circle-img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #9e9e9e;
}
.img-circle.circle-img.circle-img-40,
.circle-img.circle-img-40 {
  width: 40px;
  height: 40px;
}
.img-circle.circle-img.circle-img-40 img,
.circle-img.circle-img-40 img {
  width: 100%;
  height: 100%;
}

.panel.panel-clean {
  background-color: #ffffff;
}

.dropdown-menu .divider {
  padding: 0;
}

/* ---------------------------------------------------- */
/* FIX issue where .row is direct child of another .row */
/* ---------------------------------------------------- */
.row > .row {
  margin-left: 0;
  margin-right: 0;
}

/*another fix*/
.container-fluid > .row > [class*="col-"][class*="no-padding"] {
  overflow-x: hidden;
}

/* ---------------------------------------------------- */
/* Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  line-height: 1.3rem;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #403841;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e8e8e8;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #00AFD1;
  border-color: #00AFD1;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #E93D42;
  border-color: #E93D42;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #F99D00;
  border-color: #F99D00;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #9FC62D;
  border-color: #9FC62D;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #403841;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:focus + .no-outline::before {
  outline: none;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #00AFD1;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #E93D42;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #F99D00;
}

.radio-success input[type="radio"] + label::after {
  background-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #9FC62D;
}

/* ---------------------------------------------------- */
/* End Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.page-title .add-btn-mobile {
  background-color: #9FC62D;
  border: none;
  margin-left: 5px;
  padding: 8px 12px 6px 12px;
}
.page-title .add-btn-mobile .fa-plus {
  padding: 5px 2px 0 2px;
}
.page-title .add-btn-mobile .fa-envelope {
  padding-top: 5px;
}
.page-title .btn {
  font-weight: bold;
}
.page-title .text-primary {
  color: #00AFD1;
  font-weight: 300;
  font-size: 24px;
}
@media (min-width: 768px) {
  .page-title .text-primary {
    font-size: 34px !important;
  }
}
.page-title .fa-quality {
  display: none;
}
.page-title .padding-t15-r5 {
  padding: 15px 5px 0 0;
}
.page-title .padding-t10 {
  padding-top: 10px;
}
.page-title .margin-t-15 {
  margin-top: -15px;
}

.goal-line-height-align {
  line-height: normal !important;
}

.fa-download {
  font-weight: 600;
  font-size: 16px;
}

.fa-cog2 {
  font-weight: 400;
  font-size: 16px;
}

.fa-filter2 {
  font-weight: 400;
  font-size: 16px;
}

.container-fluid .head-desc {
  padding: 10px;
  color: #2f2930;
  border-bottom: none !important;
}
.container-fluid .hline {
  margin: 0 !important;
}

.card-view-style {
  padding-left: 5px;
  padding-bottom: 25px;
}
@media (max-width: 479px) {
  .card-view-style {
    padding-right: 5px !important;
  }
}

sbm-toggle-switch .btn-group .btn-primary.active {
  background-color: #999c9e;
  border-color: #999c9e;
}

sbm-toggle-switch .btn-group .btn {
  font-size: 10px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid #999c9e;
  width: auto;
}
@media (min-width: 768px) {
  sbm-toggle-switch .btn-group .btn {
    font-size: 12px;
  }
}

.btn-filter {
  background-color: #403841 !important;
  border: none !important;
  color: #ffffff !important;
  padding: 10px 18px 10px 18px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
}
.btn-filter:hover {
  color: #ffffff;
  background-color: #000000 !important;
}
.btn-filter:focus {
  color: #ffffff;
  background-color: #403841 !important;
}
@media (max-width: 479px) {
  .btn-filter {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 5px !important;
    border: 0 !important;
    background-color: #ffffff !important;
  }
  .btn-filter .fa {
    color: #403841;
    font-size: 23px;
    background-color: #ffffff !important;
  }
  .btn-filter:hover {
    background-color: #ffffff !important;
  }
  .btn-filter:focus {
    background-color: #ffffff !important;
  }
}

.btn-export {
  background-color: #00AFD1;
  border: none !important;
  color: #ffffff;
  padding: 10px 18px 10px 18px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px !important;
}
.btn-export:hover {
  color: #ffffff;
  background-color: #286090;
}
.btn-export:focus {
  background-color: #00AFD1;
  color: #ffffff;
}
.btn-export .glyphicon {
  font-weight: normal;
}
@media (max-width: 479px) {
  .btn-export {
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
  }
  .btn-export .glyphicon {
    color: #2f2930;
    font-size: 20px;
    background-color: #ffffff;
  }
  .btn-export:focus {
    background-color: #ffffff !important;
  }
}

.btn-config {
  background-color: #706d6d !important;
  border: none !important;
  color: #ffffff !important;
  padding: 10px 18px 10px 18px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 10px;
}
.btn-config:hover {
  color: #ffffff;
  background-color: #605e5e !important;
}
.btn-config:focus {
  color: #ffffff;
  background-color: #706d6d !important;
}
@media (max-width: 479px) {
  .btn-config {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 15px !important;
    border: 0 !important;
    background-color: #ffffff !important;
  }
}

.btn-clear {
  background-color: #ffffff !important;
  border: 1px solid black;
  color: #2f2930 !important;
  padding: 10px 33px 10px 33px !important;
  font-weight: 700;
  border-radius: 4px;
  border-color: #2f2930 !important;
  margin: 5px 15px 5px 0;
}

.btn-filter-sub {
  background-color: #403841 !important;
  border: none !important;
  color: #ffffff !important;
  padding: 10px 30px 10px 30px !important;
  font-weight: 700;
  border-radius: 4px;
  margin: 5px 10px 5px 0;
}

.primary-text {
  color: #00AFD1;
}

.emp-name {
  text-transform: capitalize;
  font-size: medium;
}

.warning-text {
  color: #F99D00;
}

.btn-date-range {
  color: #ffffff !important;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #00AFD1;
  display: inline-block;
  padding: 3px 7px 0 7px;
  font-weight: 700;
  cursor: pointer;
  font-size: 25px;
  line-height: 1.428571;
}
.btn-date-range .date {
  font-size: 14px !important;
}
@media (min-width: 768px) {
  .btn-date-range {
    font-size: 14px;
    padding: 12px 18px;
    width: 200px;
  }
}

.panel-header-txt {
  border-bottom: 1px solid #cccccc;
}

.add-btn {
  border-radius: 15px;
  background-color: #cccccc;
  border: none;
}

.add-btn:focus {
  background-color: #cccccc;
}

.index {
  padding: 0 15px 0 15px;
}
.index .score-panel {
  padding: 0 5px 20px 5px;
}
@media (min-width: 768px) {
  .index .score-panel {
    padding-top: 10px;
  }
}
.index .score-panel .score-tab {
  text-align: left;
  padding: 5px 15px;
  border-bottom: 1px solid #e8e8e8;
}
@media (min-width: 768px) {
  .index .score-panel .score-tab {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #e8e8e8;
  }
}
.index .score-panel .score-tab .score-value {
  color: #00AFD1;
  font-size: 22px;
  font-weight: 600;
  padding-right: 10px;
  float: left;
  width: 18%;
}
@media (min-width: 768px) {
  .index .score-panel .score-tab .score-value {
    float: none;
    width: auto;
  }
}
.index .score-panel .score-tab .score-title {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 6px;
  float: left;
}
@media (min-width: 768px) {
  .index .score-panel .score-tab .score-title {
    float: none;
    top: -3px;
  }
}
.index .mobile-tabs-wrap {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 0;
  margin: 5px 0 10px 0;
}
.index .mobile-tabs-wrap .back {
  padding: 3px 10px;
}
.index .mobile-tabs-wrap .back.wo {
  margin-left: 15px;
  margin-top: 14px;
}
@media (min-width: 768px) {
  .index .mobile-tabs-wrap .back.wo {
    margin-left: 20px;
  }
}
.index .tab {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding: 20px 0;
  border-right: 1px solid #e4e4e4;
  background-color: #ffffff;
  color: #999c9e;
  text-transform: uppercase;
}
.index .activetab {
  border-bottom: 3px solid #00AFD1;
  color: #00AFD1;
}
.index .tab:last-child {
  border-right: none;
}
.index .panel {
  border: none;
  border-radius: unset;
  box-shadow: none;
  background: none;
}
.index .panel .panel-header-txt {
  font-size: 22px;
  font-weight: 300;
  color: #2f2930;
}
.index .panel .panel-header-txt .back {
  margin-top: -1px;
  padding: 3px 10px;
}
.index .panel .panel-header-txt .back.wo {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .index .panel .panel-header-txt .back.wo {
    margin-left: 20px;
  }
}
.index .page-content {
  padding: 0;
}
.index .page-content .recent {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1167px) {
  .index .page-content .recent {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 320px) {
  .index .page-content .recent {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.index .page-content .recent .header {
  font-size: 22px;
  color: #2f2930;
  font-weight: 300;
}
@media (max-width: 320px) {
  .index .page-content .recent .mobile-style {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.index .page-content .charts {
  background-color: #ffffff;
  padding-left: 15px;
}
@media (min-width: 1167px) {
  .index .page-content .charts {
    padding-left: 0;
  }
}
@media (max-width: 320px) {
  .index .page-content .charts {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.index .head-desc {
  padding: 0 18px 0 5px;
}
@media (max-width: 479px) {
  .index .head-desc {
    padding-left: 0;
  }
}
.index .head-desc p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #2f2930;
  width: 100%;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .index .head-desc p {
    width: 70%;
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 30px;
    color: #2f2930;
  }
}
.index .head-desc .audits-p {
  width: 100%;
}
@media (min-width: 768px) {
  .index .head-desc .audits-p {
    width: 70%;
  }
}
.index .head-desc a {
  margin-top: auto;
  font-weight: bold;
  text-transform: capitalize;
}
.index .head-desc .add-btn {
  padding: 12px 21px;
  background-color: #9FC62D;
  border-radius: 4px;
  margin-top: 5px;
  color: #ffffff;
  width: 200px;
}
.index .head-desc .audits-add-btn {
  padding: 12px 51px;
}
@media (max-width: 479px) {
  .index .head-desc .audits-add-btn {
    padding: 8px 14px;
    margin-left: 5px;
  }
}
.index .head-desc .send-survey-btn {
  padding: 12px 42px;
}
.index .head-desc .config-btn {
  padding: 8px 10px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 5px;
  color: #2f2930;
}
@media (max-width: 479px) {
  .index .head-desc .config-btn {
    padding: 7px 10px;
    margin-right: 0;
  }
}
.index .wo-view-by-type-align {
  padding-left: 15px !important;
}
.index .wo-view-by-type-align .panel-header-txt {
  margin-left: -7px;
}
.index .wo-view-by-building-align {
  padding-left: 15px !important;
}
.index .wo-view-by-building-align .panel-header-txt {
  margin-left: -7px;
}
.index .wo-view-by-employee {
  background-color: white !important;
}
.index .wo-view-by-employee .details-grid > tbody > tr > td {
  padding-left: 20px;
}
.index .wo-view-by-employee .panel-header-txt {
  border-bottom: none;
}
@media (max-width: 479px) {
  .index .audit-padding-right-0 {
    padding-right: 0;
  }
}
.index .tabs-wrap .back {
  padding: 3px 10px;
}
.index .tabs-wrap .back.wo {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .index .tabs-wrap .back.wo {
    margin-left: 20px;
  }
}
.index .tabs-wrap .top-tabs {
  font-weight: bold;
  padding: 5px 0 0 20px !important;
  font-size: 16px;
  font-weight: 600;
}
.index .tabs-wrap .top-tabs a.highlight {
  border-bottom: 5px solid #00AFD1;
  color: #00AFD1;
}
.index .tabs-wrap .top-tabs a {
  width: unset;
  margin-right: 30px;
  border: none;
  color: #999c9e;
}
.index .stat-wrap {
  padding-left: 0;
}
.index .stat-wrap .stat {
  padding: 0;
  line-height: unset;
  margin-left: -10px;
  font-weight: 300;
  font-size: 48px;
}
.index .stat-wrap .blue {
  color: #2f2930;
}
.index .stat-wrap .red {
  color: #E93D42;
}
.index .stat-wrap .txt {
  padding: 0;
  text-align: left;
  color: #00AFD1;
  font-size: 16px;
  font-weight: 600;
}
.index .stat-wrap .txt a {
  color: #00AFD1;
}
.index .stat-wrap .txt-sm {
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #2f2930;
  font-style: italic;
}
.index .stat-wrap .stat-text {
  padding: 15px 15px 0 0;
}
.index .stat-wrap .wo-co-goal-padding {
  padding: 45px 15px 0 45px;
}
.index .view-by-building .panel {
  padding: 20px 0;
}
.index .most-recent {
  background-color: #e8e8e8;
  padding-top: 20px;
}
.index .most-recent .panel-header-txt {
  border-bottom: solid 1px #cccccc;
}
.index .most-recent .panel-header-txt .btn {
  margin-top: -10px;
}
.index .compliments-most-recent .panel-header-txt .btn {
  margin-top: -10px;
}
.index .avg-results {
  background-color: white;
  padding-top: 20px;
}
.index .avg-results .panel-header-txt {
  border-bottom: solid 1px #cccccc;
}
.index .avg-results .panel-header-txt .btn {
  margin-top: -22px;
}
.index .avg-results .pri-color {
  background: #f4f4f4 !important;
  color: #403841 !important;
}
.index .avg-results .details-grid thead tr th {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  background: #00AFD1;
  border-color: #00AFD1;
  border-top: none !important;
}
.index .bg-brightXGray {
  background-color: #e8e8e8;
}
.index .viewByEmployee .panel {
  background-color: #e8e8e8;
  padding-top: 20px;
}
.index .btn-primary-viewall {
  background-color: #00AFD1;
  border-color: #00AFD1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}
.index .margin-left--7 {
  margin-left: -7px;
}
.index .no-margin {
  margin: 0;
}
.index .padding-t-10 {
  padding-top: 10px;
}
.index .compliments .emp-card {
  border: 1px solid #e8e8e8;
}
.index .compliments .panel {
  padding-top: 20px;
  margin-bottom: 0;
}
.index .emp-card {
  padding: 10px 28px 10px 28px;
  background-color: white;
  display: inline-block;
  width: 32%;
  margin: .66%;
  border-radius: 4px;
}
@media screen and (max-width: 1000px) {
  .index .emp-card {
    width: 100%;
  }
}
.index .emp-card .emp-header {
  font-size: 14px;
  font-weight: 600;
  color: #F99D00;
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 5px;
}
.index .emp-card .emp-header b {
  font-size: 12px;
}
.index .emp-card .emp-header a {
  color: #2f2930;
  border-bottom: 1px solid #2f2930;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.index .emp-card .emp-img {
  display: inline-block;
  border: 4px solid #ebebeb;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}
.index .emp-card .emp-img img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 9px 12px 12px 12px;
  overflow: hidden;
}
@media screen and (max-width: 1558px) {
  .index .emp-card .emp-img {
    margin-left: 0;
  }
}
@media screen and (max-width: 770px) {
  .index .emp-card .emp-img {
    margin-left: 0;
  }
}
.index .emp-card .emp-body {
  padding: 16px 0 20px 0;
}
.index .emp-card .emp-body .emp-content {
  padding: 15px 0 15px 10px;
  color: #2f2930;
  line-height: 18px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 60%;
  font-weight: 400;
}
.index .emp-card .emp-body .emp-content .emp-name {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
}
.index .emp-card .emp-body .emp-content .desc {
  display: inline-block;
  height: 22px;
  width: 100%;
  overflow: hidden;
  padding-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.index .emp-card .emp-body .emp-content .text-muted {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #999c9e;
}
.index .emp-card .emp-body .emp-content .txt-medium {
  font-size: medium !important;
}
.index .emp-card .emp-body .emp-content .survey-scr {
  font-size: 20px;
  padding: 10px 0 5px 0;
}
.index .padding-r-20 {
  padding-right: 20px !important;
}
.index .padding-r-25 {
  padding-right: 25px !important;
}
.index .details .padding-l-20 {
  padding-left: 20px !important;
}
.index .details .padding-r-25 {
  padding-right: 25px !important;
}
.index .details p {
  font-weight: 600;
}
.index .details sbm-toggle-switch .btn-group .btn-primary.active {
  background-color: #999c9e;
}
.index .details sbm-toggle-switch .btn-group .btn {
  border: 2px;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
  font-size: 10px !important;
  border: 1px solid #999c9e;
}
@media (min-width: 768px) {
  .index .details sbm-toggle-switch .btn-group .btn {
    font-size: 12px !important;
  }
}
.index .details .emp-row .row-details .emp-name {
  color: #00AFD1;
  font-weight: bold;
}
.index .details .emp-row .jd-status p.date {
  color: #F99D00;
  padding-top: 30px;
}
.index .details .table-head {
  padding: 16px 50px 16px 20px;
}
@media (max-width: 479px) {
  .index .details .table-head {
    padding: 15px 30px;
  }
}
.index .details .emp-row {
  padding: 20px 30px 20px 20px;
}
.index .details .emp-row .desc {
  color: #2f2930;
}
.index .details .emp-row:nth-child(even) {
  background-color: #f5f5f5;
}
@media (max-width: 479px) {
  .index .details .m-padding-r-10 {
    padding-right: 10px;
  }
}
.index .details .action-btn {
  border-radius: 25px;
  border: 1px solid #F99D00;
  margin-top: 20px;
}
.index .details .action-btn i {
  color: #F99D00;
}
.index .padding-left-10 {
  padding-left: 10px !important;
}
.index .padding-left-25 {
  padding-left: 25px !important;
}
.index .padding-left-30 {
  padding-left: 30px !important;
}
.index .padding-left-35 {
  padding-left: 35px;
}

.multiselect-ul-style {
  width: 100%;
  max-height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.type-chart-legend {
  width: 100%;
  font-size: 12px;
  padding: 2px 0;
  cursor: pointer;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-index {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 320px) {
  .card-index {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .card-index {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .cards .size {
    width: 49%;
  }
}
.cards .size:nth-child(odd) {
  margin-right: 14px;
}

.center-cards {
  padding-left: 5px;
  padding-right: 5px !important;
}
@media (min-width: 768px) {
  .center-cards {
    padding-left: 2px;
    padding-right: 2px !important;
  }
}
@media (min-width: 1167px) {
  .center-cards {
    padding-left: 5%;
    padding-right: 5% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .center-cards .card-align {
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media only screen and (min-width: 1251px) {
  .center-cards .card-align {
    margin-left: 0.6%;
    margin-right: 0.6%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .center-cards .card-size {
    width: 48%;
  }
}
@media only screen and (min-width: 1251px) {
  .center-cards .card-size {
    width: 32.13%;
  }
}

.card-body-content .auditor-profile-pic {
  margin-left: -5px;
}
.card-body-content .auditor-profile-pic .overlap-image {
  background-color: #ffffff;
}
.card-body-content .no-comment {
  font-style: italic;
  font-weight: 400;
  color: #999c9e;
}
.card-body-content .name-lbl {
  font-size: 10px;
  font-weight: 700;
  color: #999c9e;
  text-transform: uppercase;
}
.card-body-content .empty-description {
  margin-top: 45px;
}
.card-body-content .inactive {
  font-style: italic;
  color: #999c9e;
  text-transform: capitalize;
}
.card-body-content .site {
  font-size: 12px;
}
.card-body-content .site .building-name {
  font-style: italic;
  font-weight: normal;
}
.card-body-content .site .building {
  width: 32%;
}
.card-body-content .site .site-client {
  width: 68%;
}
.card-body-content .site .client {
  width: 95%;
}
.card-body-content .site .length {
  width: 50%;
}
.card-body-content .card-body-content-left {
  width: 50%;
}
.card-body-content .card-body-content-left .name {
  font-weight: 700;
  position: relative;
  margin-top: 30px;
  font-size: 14px;
  text-transform: uppercase;
}
.card-body-content .card-body-content-left .name.survey {
  margin-top: 20px;
}
.card-body-content .card-body-content-left .repeat {
  font-size: 12px;
  font-weight: 700;
}
.card-body-content .card-body-content-left .repeat .fa-exclamation {
  border: 1px solid #E93D42;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 8px;
}
.card-body-content .employee-img {
  border: 3px solid #e8e8e8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #ffffff;
}
.card-body-content .employee-img.complaint {
  background-color: #E93D42;
  border: none !important;
}
.card-body-content .employee-img.compliment {
  background-color: #9FC62D;
  border: none !important;
}
.card-body-content .employee-img.fail {
  background-color: #E93D42;
}
.card-body-content .employee-img.success {
  background-color: #9FC62D;
}
.card-body-content .employee-img.audit {
  text-align: center;
  border: none;
}
.card-body-content .employee-img.audit .avg-score {
  line-height: 50px;
}
.card-body-content .card-body-content-right.survey-score {
  margin-top: 14px;
}
.card-body-content .card-body-content-right .employee-img {
  border: 3px solid #e8e8e8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}
.card-body-content .card-body-content-right .employee-img.no-border {
  border: none;
}
.card-body-content .card-body-content-right .employee-img .align {
  line-height: 50px;
  padding-left: 6px;
  font-size: 16px;
}
.card-body-content .card-body-content-right .employee-img .score {
  font-size: 12px;
  font-weight: 600;
  line-height: 40px;
}
.card-body-content .card-body-content-right .employee-img .fa {
  font-size: 25px;
  line-height: 50px;
}
.card-body-content .card-body-content-right .employee-img .fa.move-right {
  padding-left: 3px;
}
.card-body-content .card-body-content-right .employee-img .fa-complaints {
  line-height: 55px;
}
.card-body-content .card-body-content-right .employee-img.complaint {
  background-color: #E93D42;
  color: #ffffff;
}
.card-body-content .card-body-content-right .employee-img.move {
  margin-right: -10px;
}
.card-body-content .card-body-content-right .employee-img.no-survey-score {
  background-color: #d8d8d8;
}

.card-footer-content {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.card-footer-content .relatedTo {
  color: #8c8f92;
  display: inline-block;
  text-align: center;
  background: #f5f5f5;
  padding: 4px 8px;
  border-radius: 3px;
  margin-left: 0;
  margin-bottom: 4px;
  font-size: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .card-footer-content .relatedTo.fit {
    width: 65px;
  }
}
.card-footer-content .relatedTo.fits {
  width: 80px;
}
.card-footer-content .fa {
  font-weight: 700;
}
.card-footer-content .fa-exclamation {
  border: 1px solid #E93D42;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 8px;
}
.card-footer-content .click-style {
  cursor: pointer;
  text-decoration: underline;
}
.card-footer-content .left-date {
  width: 48%;
}
.card-footer-content .right-date {
  width: 52%;
}
.card-footer-content .types .due {
  font-weight: 700;
}

.configuration {
  padding-top: 20px;
  padding-bottom: 10px;
}
.configuration .title {
  font-size: 22px;
}
.configuration .title.pop-up {
  font-weight: 300;
}
.configuration .panel {
  margin-bottom: 0;
}
.configuration .panel-title {
  font-size: 1.143rem;
  font-weight: 600;
  color: #403841;
}
.configuration .panel-heading {
  padding: 10px 20px;
  color: #e8e8e8;
}
.configuration .panel-thirds {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 2px;
  background-color: white;
}
.configuration .panel-half {
  height: 20px;
  width: 33px;
  margin: 0 5px;
  border-radius: 2px;
  background-color: white;
}
.configuration .panel-full {
  height: 20px;
  width: 62px;
  margin: 0 5px;
  border-radius: 2px;
  background-color: white;
}
.configuration .sub-title {
  font-style: italic;
  color: #8c8f92;
}
.configuration .configure-link {
  text-decoration: underline;
  text-transform: uppercase;
  color: #00AFD1;
  line-height: 2;
  font-weight: 600;
  cursor: pointer;
}
.configuration .close {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 5px;
  right: 20px;
}
.configuration .tileItem {
  font-size: 1rem !important;
  padding-right: 0px;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .configuration .tileItem {
    font-size: 1rem;
  }
}
.configuration .tileItem .divItem {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.configuration .tileItem .divItem.no-border {
  border-bottom: none;
}
.configuration .tileItem .divItem .clickable {
  cursor: pointer;
}
.configuration .tileItem .visible {
  color: #ffffff;
  background-color: #00AFD1;
  border: 1px solid #00AFD1;
  height: 18px;
  width: 18px;
  line-height: 16px;
}
.configuration .tileItem .visible .fa {
  font-size: 14px;
}
.configuration .tileItem .not-visible {
  height: 18px;
  width: 18px;
  border: 1px solid #d8d8d8;
}
.configuration .tileItem .not-editable {
  background-color: #ffffff;
  border-color: #e8e8e8;
  color: #e8e8e8;
  cursor: auto !important;
}
.configuration .hline {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
@media (max-width: 479px) {
  .configuration .btns {
    display: flex;
  }
}
@media (max-width: 479px) {
  .configuration .btns .center {
    float: left;
    margin: 0 auto;
  }
}
.configuration .btns .action {
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 479px) {
  .configuration .btns .action {
    float: left;
  }
}
.configuration .btns .action.save {
  background-color: #F99D00;
  color: #ffffff;
  border: 1px solid #F99D00;
  border-radius: 4px;
}
.configuration .btns .action.cancel {
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-right: 10px;
  font-weight: 600;
}

/*# sourceMappingURL=common.css.map */
