﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";


//Overide for new full white header
.page-title{
    

        .add-btn-mobile{
            background-color: $success;
            border: none;
            margin-left :5px;
            padding: 8px 12px 6px 12px;

            .fa-plus{
                padding: 5px 2px 0 2px;
            }
            .fa-envelope{
                padding-top:5px;
            }
        }
        .btn{
            font-weight:bold;
        }
    
    .text-primary{
        color: $primary;
        font-weight: 300;
        font-size: 24px;
        @include breakpoint(tablet){
            font-size: 34px !important;
        }
    }
    .fa-quality{
        display : none;
    }
    .padding-t15-r5{
        padding : 15px 5px 0 0;
    }
    .padding-t10{
        padding-top: 10px;
    }
    .margin-t-15{
        margin-top: -15px;
    }
  
}

.goal-line-height-align{
    line-height: normal !important;
}

.fa-download{
    font-weight: 600;
    font-size: 16px;
}

.fa-cog2{
    font-weight: 400;
    font-size: 16px;
}

.fa-filter2{
    font-weight: 400;
    font-size: 16px;
}

.container-fluid{
    
    .head-desc{
        padding: 10px;
        color: $dark-dark;
        border-bottom: none !important;
    }
   
    .hline{
        margin: 0 !important;
    }
    
}

.card-view-style{
    padding-left: 5px;
    padding-bottom: 25px;
    @include breakpoint(mobilephone){
        padding-right: 5px !important;
    }
}

sbm-toggle-switch .btn-group .btn-primary.active {
        background-color: #999c9e;
        border-color: #999c9e;
}
sbm-toggle-switch .btn-group .btn {
        font-size: 10px;
        font-weight: 700;
        padding: 10px 20px;
        text-transform: uppercase;
        border: 1px solid #999c9e;
        width: auto;                
        @include breakpoint(tablet){
            font-size: 12px;
        }
    }
  
    .btn-filter{
        background-color: $dark !important;
        border:  none !important;
        color: $default !important;
        padding: 10px 18px 10px 18px;
        font-weight: 700; 
        font-size: 12px;
        border-radius: 4px;
        &:hover{
        color: $default;
        background-color: #000000 !important;
        }
        &:focus{
        color: $default;
        background-color: $dark !important;
        }
        @include breakpoint(mobilephone){
        padding: 0!important;
        margin-top: 0!important;
        margin-right: 5px !important;
        border: 0!important;
        background-color: $default !important;
        .fa{
        color: $dark;
        font-size : 23px;
        background-color: $default !important;
     }
        &:hover{
            background-color: $default !important;
        }
         &:focus{
            background-color: $default !important;
        }
    }
}
    .btn-export{
        background-color: $primary;
        border: none !important;
        color: $default;
        padding: 10px 18px 10px 18px;
        font-weight: 700;  
        font-size: 12px;
        border-radius: 4px;
        margin-left: 10px !important;
        &:hover{
            color: $default;
            background-color:#286090  ;         
        }
        &:focus{
            background-color: $primary;
            color: $default;
        }
        .glyphicon{
            font-weight: normal;
        }
        @include breakpoint(mobilephone){
            padding: 5px 5px 5px 5px;
            background-color: $default;
            .glyphicon{
                color: $dark-dark;
                font-size : 20px;
                background-color: $default;
            }
            &:focus{
                background-color: $default !important;
        }
     }
}
    .btn-config{
        
        background-color: #706d6d !important;
        border:  none !important;
        color: $default !important;
        padding: 10px 18px 10px 18px;
        font-weight: 700; 
        font-size: 12px;
        border-radius: 3px;
        margin-right: 10px;
        &:hover{
        color: $default;
        background-color: #605e5e !important;
        }
        &:focus{
        color: $default;
        background-color: #706d6d !important;
        }
        @include breakpoint(mobilephone){
        padding: 0!important;
        margin-top: 0!important;
        margin-right: 15px !important;
        border: 0!important;
        background-color: $default !important;
       
        }
    }

.btn-clear{
        background-color: $default !important;
        border:  1px solid black;
        color: $dark-dark !important;
        padding: 10px 33px 10px 33px !important;
        font-weight: 700; 
        border-radius: 4px;
        border-color: $dark-dark !important;
        margin: 5px 15px 5px 0;
}

 .btn-filter-sub{
        background-color: $dark !important;
        border:  none !important;
        color: $default !important;
        padding: 10px 30px 10px 30px !important;
        font-weight: 700; 
        border-radius: 4px;
        margin: 5px 10px 5px 0;
        
}

.primary-text {
    color: $primary;
}
.emp-name{
	text-transform: capitalize;
    font-size : medium;
}
.warning-text {
    color: $warning;
}

.btn-date-range{
    color: $default !important;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: $primary;
    display: inline-block;
    padding: 3px 7px 0 7px;
    font-weight: 700;
    cursor: pointer;
    font-size: 25px;
    line-height: 1.428571;
    .date{
        font-size: 14px!important;
    }
    @include breakpoint(tablet){
        font-size: 14px;
        padding: 12px 18px;
        width:200px;
    }
}
.panel-header-txt{
    border-bottom: 1px solid $base;
}
.add-btn{
    border-radius: 15px;
    background-color: $base;
    border:none;
}
.add-btn:focus{
    background-color: $base;
}

.index {
    padding: 0 15px 0 15px;

    .score-panel {
        padding: 0 5px 20px 5px;

        @include breakpoint(tablet) {
            padding-top: 10px;
        }

        .score-tab {
            text-align: left;
            padding: 5px 15px;
            border-bottom: 1px solid $border;

            @include breakpoint(tablet) {
                padding: 10px 15px;
                text-align: center;
                border: 1px solid $border;
            }

            .score-value {
                color: $primary;
                font-size: 22px;
                font-weight: 600;
                padding-right: 10px;
                float: left;
                width: 18%;

                @include breakpoint(tablet) {
                    float: none;
                    width: auto;
                }
            }

            .score-title {
                font-size: 14px;
                font-weight: 600;
                position: relative;
                top: 6px;
                float: left;

                @include breakpoint(tablet) {
                    float: none;
                    top: -3px;
                }
            }
        }
    }

    .mobile-tabs-wrap {
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        padding: 0;
        margin: 5px 0 10px 0;
        .back {
            
            padding: 3px 10px;

            &.wo {
                margin-left: 15px;
                margin-top: 14px;
                @include breakpoint(tablet) {
                    margin-left: 20px;
                }
            }
        }
    }

    .tab {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0;
        border-right: 1px solid #e4e4e4;
        background-color: $default;
        color: #999c9e;
        text-transform: uppercase;
    }

    .activetab {
        border-bottom: 3px solid $primary;
        color: $primary;
    }

    .tab:last-child {
        border-right: none;
    }

    .panel {
        border: none;
        border-radius: unset;
        box-shadow: none;
        background:none;

        .panel-header-txt {
            font-size: 22px;
            font-weight: 300;
            color: $dark-dark;

            .back {
                margin-top: -1px;
                padding: 3px 10px;

                &.wo {
                    margin-left: 15px;

                    @include breakpoint(tablet) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .page-content {
        padding: 0;

        .recent {
            padding-left: 15px;
            padding-right: 15px;
            @include breakpoint(desktop){
                padding-left: 10px;
                padding-right: 10px;
            }
            @include breakpoint(mobileonly){
                padding-left: 10px;
                padding-right: 10px;
            }
            .header {
                font-size: 22px;
                color: $dark-dark;
                font-weight: 300;
            }

            .mobile-style {
                @include breakpoint(mobileonly) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }

        .charts {
            background-color: $default;
            padding-left: 15px;
        @include breakpoint(desktop){
            padding-left: 0;
        }
        @include breakpoint(mobileonly){
            padding-left: 15px;
            padding-right: 15px;
        }
        }
    }

    .head-desc {
        padding: 0 18px 0 5px;

        @include breakpoint(mobilephone) {
            padding-left: 0;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark-dark;
            width: 100%;
            padding-bottom: 0;

            @include breakpoint(tablet) {
                width: 70%;
                float: left;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                padding-bottom: 30px;
                color: $dark-dark;
            }
        }

        .audits-p {
            width: 100%;

            @include breakpoint(tablet) {
                width: 70%;
            }
        }

        a {
            margin-top: auto;
            font-weight: bold;
            text-transform: capitalize;
        }

        .add-btn {
            padding: 12px 21px;
            background-color: $success;
            border-radius: 4px;
            margin-top: 5px;
            color: $default;
            width: 200px;
        }

        .audits-add-btn {
            padding: 12px 51px;

            @include breakpoint(mobilephone) {
                padding: 8px 14px;
                margin-left: 5px;
            }
        }

        .send-survey-btn {
            padding: 12px 42px;
        }

        .config-btn {
            padding: 8px 10px;
            background-color: $default;
            border-radius: 4px;
            margin-right: 10px;
            margin-top: 5px;
            color: $dark-dark;

            @include breakpoint(mobilephone) {
                padding: 7px 10px;
                margin-right: 0;
            }
        }

        .audit-config-b {
        }
    }
    .wo-view-by-type-align{
         padding-left: 15px !important;
         .panel-header-txt{
             margin-left: -7px;
         }
    }
    .wo-view-by-building-align{
         padding-left: 15px !important;
         .panel-header-txt{
             margin-left: -7px;
         }
    }
    .wo-view-by-employee{
         background-color: white !important;
        .details-grid > tbody > tr > td {
            padding-left: 20px;
        }
        .panel-header-txt{
             border-bottom: none;
         }
    }

    .audit-padding-right-0 {
        @include breakpoint(mobilephone) {
            padding-right: 0;
        }
    }

    .tabs-wrap {
        .back {
            
            padding: 3px 10px;

            &.wo {
                margin-left: 15px;

                @include breakpoint(tablet) {
                    margin-left: 20px;
                }
            }
        }

        .top-tabs {
            font-weight: bold;
            padding: 5px 0 0 20px !important;
            font-size: 16px;
            font-weight: 600;

            a.highlight {
                border-bottom: 5px solid $primary;
                color: $primary;
            }

            a {
                width: unset;
                margin-right: 30px;
                border: none;
                color: #999c9e;
            }
        }
    }

    .stat-wrap {
        padding-left: 0;

        .stat {
            padding: 0;
            line-height: unset;
            margin-left: -10px;
            font-weight: 300;
            font-size: 48px;
        }

        .blue {
            color: $dark-dark;
        }

        .red {
            color: $danger;
        }

        .txt {
            padding: 0;
            text-align: left;
            color: $primary;
            font-size: 16px;
            font-weight: 600;

            a {
                color: $primary;
            }
        }

        .txt-sm {
            text-align: left;
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            color: $dark-dark;
            font-style: italic;
        }

        .stat-text {
            padding: 15px 15px 0 0;
        }

        .wo-co-goal-padding {
            padding: 45px 15px 0 45px;
        }
    }

    .view-by-building {
        .panel {
            padding: 20px 0;
        }
    }

    .most-recent {
        background-color: $border;
        padding-top: 20px;

        .panel-header-txt {
            border-bottom: solid 1px $base;

            .btn {
                margin-top: -10px;
            }
        }
    }

    .compliments-most-recent {
        .panel-header-txt {
            .btn {
                margin-top: -10px;
            }
        }
    }

    .avg-results {
        background-color: white;
        padding-top: 20px;

        .panel-header-txt {
            border-bottom: solid 1px $base;

            .btn {
                margin-top: -22px;
            }
        }

        .pri-color {
            background: #f4f4f4 !important;
            color: $dark !important;
        }

        .details-grid thead tr th {
            color: $default;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            background: $primary;
            border-color: $primary;
            border-top: none !important;
        }
    }

    .bg-brightXGray {
        background-color: $border;
    }

    .viewByEmployee {
        .panel {
            background-color: $border;
            padding-top: 20px;
        }
    }

    .btn-primary-viewall {
        background-color: $primary;
        border-color: $primary;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
    }

    .margin-left--7 {
        margin-left: -7px;
    }

    .no-margin {
        margin: 0;
    }

    .padding-t-10 {
        padding-top: 10px;
    }

    .compliments {
        .emp-card {
            border: 1px solid $border;
        }

        .panel {
            padding-top: 20px;
            margin-bottom: 0;
        }
    }
    //=============employee cards=================//
    .emp-card {
        padding: 10px 28px 10px 28px;
        background-color: white;
        display: inline-block;
        width: 32%;
        margin: .66%;
        border-radius: 4px;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        .emp-header {
            font-size: 14px;
            font-weight: 600;
            color: $warning;

            b {
                font-size: 12px;
            }

            border-bottom: solid 1px $border;
            padding-bottom: 5px;

            a {
                color: $dark-dark;
                border-bottom: 1px solid $dark-dark;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .emp-img {
            display: inline-block;
            border: 4px solid #ebebeb;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            overflow: hidden;

            img {
                border-radius: 50%;
                width: 70px;
                height: 70px;
                margin: 9px 12px 12px 12px;
                overflow: hidden;
            }

            @media screen and (max-width: 1558px) {
                margin-left: 0;
            }

            @media screen and (max-width: 770px) {
                margin-left: 0;
            }
        }

        .emp-body {
            padding: 16px 0 20px 0;
            .emp-content {
                padding: 15px 0 15px 10px;
                color: $dark-dark;
                line-height: 18px;
                font-size: 14px;
                display: inline-block;
                vertical-align: top;
                width: 60%;
                font-weight: 400;
                .emp-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: $primary;
                }

                .desc {
                    display: inline-block;
                    height: 22px;
                    width: 100%;
                    overflow: hidden;
                    padding-top: 4px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .text-muted {
                    font-size: 12px;
                    font-weight: 400;
                    font-style: italic;
                    color: $muted;
                }

                .txt-medium {
                    font-size: medium !important;
                }

                .survey-scr {
                    font-size: 20px;
                    padding: 10px 0 5px 0;
                }
            }
        }
    }

    .padding-r-20 {
        padding-right: 20px !important;
    }

    .padding-r-25 {
        padding-right: 25px !important;
    }

    .details {
        .padding-l-20 {
            padding-left: 20px !important;
        }

        .padding-r-25 {
            padding-right: 25px !important;
        }

        p {
            font-weight: 600;
        }

        sbm-toggle-switch .btn-group .btn-primary.active {
            background-color: #999c9e;
        }

        sbm-toggle-switch .btn-group .btn {
            border: 2px;
            font-weight: 700;
            text-transform: uppercase;
            width: auto;
            font-size: 10px !important;
            border: 1px solid #999c9e;

            @include breakpoint(tablet) {
                font-size: 12px !important;
            }
        }


        .emp-row .row-details .emp-name {
            color: $primary;
            font-weight: bold;
        }

        .emp-row .jd-status p.date {
            color: $warning;
            padding-top: 30px;
        }

        .table-head {
            padding: 16px 50px 16px 20px;

            @include breakpoint(mobilephone) {
                padding: 15px 30px;
            }
        }

        .emp-row {
            padding: 20px 30px 20px 20px;

            .desc {
                color: $dark-dark;
            }
        }

        .emp-row:nth-child(even) {
            background-color: #f5f5f5;
        }

        .m-padding-r-10 {
            @include breakpoint(mobilephone) {
                padding-right: 10px;
            }
        }

        .action-btn {
            border-radius: 25px;
            border: 1px solid $warning;
            margin-top: 20px;

            i {
                color: $warning;
            }
        }
    }

    .padding-left-10 {
        padding-left: 10px !important;
    }

    .padding-left-25 {
        padding-left: 25px !important;
    }

    .padding-left-30 {
        padding-left: 30px !important;
    }

    .padding-left-35 {
        padding-left: 35px;
    }
}

.multiselect-ul-style {
    
         width: 100%;
         max-height: 230px;
         overflow-y: scroll;
         overflow-x: hidden;
    
}

.type-chart-legend{
    width:100%;
    font-size:12px;
    padding:2px 0;   
    cursor: pointer;
}
 .truncate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
.card-index{
    padding-left: 10px;
    padding-right: 10px;
    @include breakpoint(mobileonly){
        padding-left: 5px;
        padding-right: 5px;
    }
    @include breakpoint(tablet){
        padding-left: 15px;
        padding-right: 15px;
    }
}
.cards{
    .size{
        @include breakpoint(tablet){
            width: 49%;

        }
    }
    .size:nth-child(odd){
        margin-right: 14px;
    }
}
 .center-cards {
        padding-left: 5px;
        padding-right: 5px !important;
        @include breakpoint(tablet){
            padding-left: 2px;
            padding-right: 2px !important;
        }
        @include breakpoint(desktop){
            padding-left: 5%;
            padding-right: 5% !important;
        }
        .card-align{
             @media only screen and (min-width : 768px) and (max-width : 1250px) {
                 margin-left: 1%;
                 margin-right: 1%;
            }
              @media only screen and (min-width : 1251px)  {
                margin-left: 0.6%;
                margin-right: 0.6%;
            }
        }
        .card-size {
            @media only screen and (min-width : 768px) and (max-width : 1250px) {
                 width: 48%;
            }
            @media only screen and (min-width : 1251px){
                 width: 32.13%;
            }
        }
    }
.card-body-content {
    .auditor-profile-pic{
        margin-left: -5px;
        .overlap-image{
            background-color: $default;
        }
    }
    .no-comment{
        font-style: italic;
        font-weight: 400;
        color: $muted;
    }
    .name-lbl {
        font-size: 10px;
        font-weight: 700;
        color: $muted;
        text-transform: uppercase;
    }
    .empty-description{
        margin-top: 45px;
    }
    .inactive{
        font-style: italic;
        color: $muted;
        text-transform: capitalize;
    }
    .site{
        font-size: 12px;
        .building-name{
            font-style: italic;
            font-weight: normal;
        }
        .building{
            width: 32%;
        }
        .site-client{
            width: 68%;
        }
        .client{
            width: 95%;
        }
        .length{
            width: 50%;
        }
    }
    .card-body-content-left {
        width: 50%;

        .name {
            font-weight: 700;
            position: relative;
            margin-top: 30px;
            font-size: 14px;
            text-transform: uppercase;
            &.survey{
                margin-top: 20px;
            }
        }
        .repeat{
            font-size: 12px;
            font-weight: 700;
            .fa-exclamation {
                border: 1px solid $danger;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                text-align: center;
                line-height: 12px;
                font-size: 8px;
            }
        }
    }

    .employee-img {
        border: 3px solid $border;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: $default;
        &.complaint {
            background-color: $danger;
            border: none !important;
        }
        &.compliment {
            background-color: $success;
            border: none !important;
        }
        &.fail{
            background-color: $danger;
        }
        &.success{
            background-color: $success;
        }
        &.audit{
            text-align: center;
            border: none;
            .avg-score{
                line-height: 50px;
            }
        }
    }

    .card-body-content-right {
        &.survey-score{
            margin-top: 14px;
        }
        .employee-img {
            border: 3px solid $border;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            position: relative;
            &.no-border{
                border: none;
            }
            .align{
                line-height: 50px;
                padding-left: 6px;
                font-size: 16px;
            }
            .score{
                font-size: 12px;
                font-weight: 600;
                line-height: 40px;
            }
            .fa {
                font-size: 25px;
                line-height: 50px;
                
                &.move-right{
                    padding-left: 3px;
                }
            }
            .fa-complaints{
                line-height: 55px;
            }
            &.complaint {
                background-color: $danger;
                color: $default;
            }

            &.move {
                margin-right: -10px;
            }
            &.no-survey-score{
                background-color: $border-dark;
            }
        }
    }

   
    
}
.card-footer-content {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    .relatedTo {
        color: $muted-dark;
        display: inline-block;
        text-align: center;
        background: $gray;
        padding: 4px 8px;
        border-radius: 3px;
        margin-left: 0;
        margin-bottom: 4px;
        font-size: 10px;
        &.fit {
            @media only screen and (min-width : 992px) and (max-width : 1390px) {
                width: 65px;
            }
        }

        &.fits {
            width: 80px;
        }
    }
    .fa{
        font-weight: 700;
    }
    .fa-exclamation {
        border: 1px solid $danger;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 12px;
        font-size: 8px;
    }

    .click-style{
        cursor: pointer;
        text-decoration: underline;
    }
    .left-date{
        width: 48%;
    }
    .right-date{
        width: 52%;
    }
    .types{
        .due{
            font-weight: 700;
        }
    }
}

.configuration {
        padding-top: 20px;
        padding-bottom: 10px;        

        .title {
            font-size: 22px;
             &.pop-up{
                 font-weight: 300;
             }
        }
        .panel {            
             margin-bottom: 0;
        }
        .panel-title {
            font-size: 1.143rem;
            font-weight: 600;
            color: $dark;
        }     
        .panel-heading {
            padding: 10px 20px;
            color: $border;
        }   
        .panel-thirds {
            height: 20px;
            width: 20px;
            margin: 0 5px;
            border-radius: 2px;
            background-color: white;
        }
        .panel-half {
            height: 20px;
            width: 33px;
            margin: 0 5px;
            border-radius: 2px;
            background-color: white;
        }
        .panel-full {
            height: 20px;
            width: 62px;
            margin: 0 5px;
            border-radius: 2px;
            background-color: white;
        }
        .sub-title{
            font-style: italic;
            color: $muted-dark;
        }
        .configure-link {
            text-decoration: underline;
            text-transform: uppercase;
            color: $primary;
            line-height: 2;
            font-weight: 600;
            cursor: pointer;
        }

        .close {
            cursor: pointer;
            font-size: 22px;
            position: absolute;
            top: 5px;
            right: 20px;
        }

        .tileItem{
            font-size: 1rem !important;  
            padding-right: 0px;
            padding-left: 0px;          
            @include breakpoint(tablet){
                font-size: 1rem;
            }
            .divItem{
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $border;
                &.no-border{
                    border-bottom: none;
                }
                .clickable{
                    cursor: pointer;
                }
            }
            .visible{
                color: $default;
                background-color: $primary;
                border: 1px solid $primary;
                height: 18px;
                width: 18px;
                line-height: 16px;
                .fa{
                    font-size: 14px;
                }
            }
            .not-visible{
                height: 18px;
                width: 18px;
                border: 1px solid $border-dark;
            }
            .not-editable{
                background-color: $default;
                border-color: $border;
                color: $border;
                cursor: auto !important;
            }
        }

        .hline{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            float: left;
        }

        .btns{
            @include breakpoint(mobilephone){
                display: flex;
            }
            .center{
                @include breakpoint(mobilephone){
                    float: left;
                    margin: 0 auto;
                }
                
            }
            .action{
                width: 90px;
                padding-top: 10px;
                padding-bottom: 10px;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
                
                @include breakpoint(mobilephone){
                    float: left;
                }
                &.save{
                    background-color: $warning;
                    color: $default;
                    border: 1px solid $warning;
                    border-radius: 4px;
                    
                }

                &.cancel{
                    border: 1px solid $base;
                    border-radius: 4px;
                    margin-right: 10px;
                    font-weight: 600;
                }
            }
        }
    }
