﻿@import '../Common/_globals.scss';

// complaints - details : listview of complaints
.complaints-details {

    .main-body-padding {
        padding: 0 !important;
    }

    .sub-heading {
        font-size: 14px;
        padding-left: 25px;
    }

    .add-button {
        margin-right: 30px;
        padding-left: 22px !important;
        padding-right: 22px !important;
    }

    .tab-section {
        padding-top: 20px;
        background-color: $default;
    }

    .panel {
        margin-bottom: 20px;
        border-radius: 0 !important;
        border: none !important;
    }

    .panel-default {
        margin-bottom: 0;
    }

    .panel-header-txt {
        margin-top: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;

        @include breakpoint (tablet) {
            padding-left: 15px !important;
            padding-right: 25px !important;
        }
    }

    .btn-fil-exp {
        display: inline-block;
        padding: 10px 20px;
        margin-bottom: 0;
        font-size: 11px !important;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
    }



    .table-head {
        background: $primary;
        color: #fff;
        padding: 12px 12px 12px 0;

        @include breakpoint (tablet) {
            padding: 16px 16px 16px 5px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: right;
        }

        p:first-child {
            padding-left: 0 !important;
        }
    }

    .quality-row {
        border-bottom: 1px solid #e4e4e4;
        padding: 15px 15px 15px 15px;

        @include breakpoint (tablet) {
            padding: 20px 30px 20px 20px;
        }
    }

    .emp-name {
        font-size: 16px !important;
        color: $primary !important;
        font-weight: 600 !important;
        line-height: 30px;
    }

    .complaint-emp-program {
        font-size: 14px;
        font-weight: 600;
        color: #999c9e;
        display: inline-block;
        border: 1px solid #999c9e;
        background: $gray;
        padding: 0 5px;
        border-radius: 3px;
        margin-left: 0;
        margin-bottom: 4px;
    }


    .complaint-sm {
        font-size: 12px;
        font-weight: 500;
        color: #999c9e;
        font-style: italic;
    }

    .date-style {
        font-size: 14px !important;
        font-weight: 600 !important;
        color: $warning;

        @include breakpoint(mobilephone) {
            font-size: 14px !important;
        }

        @include breakpoint (mobileonly) {
            font-size: 12px !important;
        }
    }

    .remove-padding-right {
        padding-right: 0;

        @include breakpoint(tablet) {
            padding-right: 15px;
        }
    }

    .remove-padding-left {
        padding-left: 0;
    }

    .action-style {
        position: relative;
        padding-right: 15px;
        margin: auto;
        text-align: right;

        @include breakpoint(mobilephone) {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }

    .description {
        font-size: 14px;
        color: $dark-dark;
        font-weight: 500;
    }

    .close-link {
        font-size: 14px !important;
        font-weight: 600 !important;
        color: $dark-dark;

        @include breakpoint(mobilephone) {
            font-size: 14px !important;
        }

        @include breakpoint (mobileonly) {
            font-size: 12px !important;
        }
    }

    .align-action {
        @include breakpoint(mobilephone) {
            text-align: right !important;
        }
    }

    .align-opendate {
        text-align: right !important;
    }

    .head-desc {
        color: $dark-dark;
        background-color: $default;
    }

    .itemrow:nth-child(odd) {
        background-color: #f5f5f5;
        display: block;
    }

    .itemrow:nth-child(even) {
        background-color: $default;
        display: block;
    }

    .display-row {
        line-height: 24px;
        display: flex;
    }

    .padding-r-rem-m {
        padding-right: 0 !important;

        @include breakpoint (tablet) {
            padding-right: 15px !important;
        }
    }

    .side-btns {
        color: $muted-dark;
        font-size: 22px;
    }

    .close-btn-p {
        padding-right: 13px;

        @include breakpoint (tablet) {
            padding-right: 0;
        }
    }

    .hide-desktop {
        @include breakpoint(desktop) {
            display: none !important;
        }
    }
    //Overide for new full white header
    #title-header-panel {
        background-color: $default;
        border-bottom: 0;
        padding-left: 10px;

        .title-box-panel-wrapper {
            padding: 0;
        }

        .page-title {
            color: #00afd1;
        }

        .fa-quality {
            display: none;
        }

        .padding-t15-r5 {
            padding: 15px 30px 0 0;
        }
    }


    .vertical {
        @include breakpoint (tablet) {
            border-right: none;
        }

        @include breakpoint (desktop) {
            border-right: 1px solid #ccc;
        }

        @include breakpoint (mobilephone) {
            border-right: none;
        }
    }

    .horizontal {
        @include breakpoint (tablet) {
            border-bottom: 1px solid #ccc;
        }

        @include breakpoint (desktop) {
            border-bottom: none;
        }

        @include breakpoint (mobilephone) {
            border-bottom: 1px solid #ccc;
        }
    }

    no-margin {
        margin-top: 0 !important;
    }

    .entry-head {
        padding-left: 15px;
        padding-right: 15px;
    }

    .enter-details {
        padding-bottom: 0;
        overflow: hidden;
        padding-top: 20px;
        border-bottom: 1px solid #ddd;
    }

    .padding-t-b {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .sub-div-text {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        color: $dark;
        padding-left: 0 !important;
    }

    .enter-details-text {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        padding-left: 0 !important;
        font-size: 22px !important;
        font-weight: 300;
    }


    .number {
        margin-right: 10px;
        margin-top: 2px;
        background: #eee;
        border-radius: 20px;
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 22px;
        text-align: center;
        //padding:5px 10px;
        color: $base-dark;
        font-weight: bold;
        border: 1px solid #ddd;
    }

    .primary-font-color {
        color: $primary;
    }

    .complaint-detail-heading {
        font-size: 16px;
        color: $primary;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .primary-font-size {
        font-size: 13px;
    }

    .complaint-detail {
        padding-top: 20px;
    }

    .complaint-detail-m-ip {
        @include breakpoint (tablet) {
            padding-top: 20px;
        }

        @include breakpoint (desktop) {
            padding-top: 0;
        }

        @include breakpoint (mobilephone) {
            padding-top: 20px;
        }
    }
    /*.form-control{
        border: 1px solid #eee;
        height: 38px;
    }*/
    .padding-b-add {
        padding-bottom: 40px;
    }

    .padding-l-add {
        padding-left: 30px !important;
    }

    .multiselect-header-font {
        font-size: 14px;
    }

    .btn-style {
        display: inline-block;
        padding: 10px 30px;
        margin-bottom: 0;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        color: $default;
        border: none;
        border-radius: 2px;
    }

    .btn-cancel {
        background-color: $base-dark;
    }

    .btn-save {
        background-color: $dark-dark;
        padding: 10px 35px;
    }

    .btn-padding {
        margin-right: 5px;
    }

    .optional {
        font-size: 12px;
        padding-left: 5px;
        color: #999c9e;
        font-weight: 700;
    }

    textarea.form-control {
        height: auto !important;
    }


    .form-button {
        @include breakpoint(mobilephone) {
            padding-bottom: 15px;
        }

        @include breakpoint(tablet) {
            padding-bottom: 15px;
        }

        @include breakpoint(desktop) {
            padding-bottom: 0 !important;
        }
    }

    .head-p {
        padding-left: 30px !important;

        @include breakpoint (tablet) {
            padding-left: 0;
        }
    }

    .review-head {
        padding-left: 15px;
        padding-right: 15px;

        @include breakpoint(tablet) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .well {
        padding-left: 30px;
        padding-right: 10px;
    }

    .title-style {
        color: $primary !important;
        font-size: 24px !important;
        padding-left: 15px;
        margin-bottom: 20px !important;
        font-weight: 300;

        @include breakpoint(tablet) {
            font-size: 34px !important;
            padding-left: 20px;
            margin-top: 0;
        }
    }

    .reporter {
        color: $primary;
        font-size: 16px;
        padding-left: 15px;
        font-weight: 600;

        @include breakpoint(tablet) {
            padding-left: 20px;
        }

        @include breakpoint(mobileonly) {
            padding-left: 25px;
        }
    }

    .reported-date {
        font-size: 14px;
        font-weight: 400;
        color: $dark-dark;
    }

    .reported-program {
        font-size: 13px;
        padding-left: 15px;
        padding-top: 5px;

        @include breakpoint(tablet) {
            padding-left: 20px;
        }

        @include breakpoint(mobileonly) {
            padding-left: 25px;
        }

        .emp-program {
            color: #999c9e;
            font-style: normal;
            display: inline-block;
            border: 1px solid #e4e4e4;
            padding: 0 5px;
            border-radius: 3px;
            margin-left: 5px;
            margin-bottom: 4px;
            font-size: 12px;
            font-weight: 400;
        }
    }

    .loc {
        font-weight: 700 !important;
    }

    .location {
        font-size: 14px;
        font-weight: 400;
        color: $dark-dark;
        padding-left: 15px;

        @include breakpoint(mobileonly) {
            padding-left: 25px;
        }

        @include breakpoint(tablet) {
            padding-left: 30px;
        }

        @include breakpoint(desktop) {
            padding-left: 0 !important;
        }
    }

    .complaint-reporter {
        padding: 0 !important;
    }

    .complaint-view {
        padding-left: 0 !important;
    }

    .no-r-pad {
        padding-right: 0 !important;
    }

    .no-l-padding {
        padding-left: 0 !important;
    }

    .padding-l {
        padding-left: 15px;

        @include breakpoint (tablet) {
            padding-left: 20px;
        }
    }

    .padding-r {
        padding-right: 30px !important;
    }

    .notes {
        color: $warning;
        font-size: 16px;
        font-weight: 600;
    }

    .notes-text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: $dark;
    }

    .complaint-details {
        font-size: 13px;
        padding-bottom: 15px;
    }

    .accountable-title {
        color: #999c9e;
        font-weight: 300;
        font-size: 22px !important;
    }

    .circle-image-pos {
        position: static !important;
    }

    .accountable {
        padding: 15px 30px 20px 0 !important;
        margin-right: 30px;
        border-top: 1px solid #eee;

        @include breakpoint(tablet) {
            margin-right: 60px;
        }
    }

    .emp-padding {
        padding-top: 5px;
    }

    .accountable-edit {
        bottom: auto;
        margin-right: 60px;
        padding: 10px 15px;
        border: 1px solid;
        background: $dark-dark;
        color: #fff;
        border-color: black;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;

        @include breakpoint (tablet) {
            padding: 13px;
        }

        &:hover {
            color: #fff;
            opacity: 1;
        }
    }

    .btn-delete {
        background: $danger;
        border: 1px solid $danger;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        padding: 10px 15px;
        text-transform: uppercase;

        @include breakpoint (tablet) {
            padding: 13px;
        }
    }

    .hide-desktop {
        @include breakpoint (tablet) {
            display: none;
        }
    }

    .complaint-head {
        font-size: 12px !important;
        font-weight: 600;
        text-transform: uppercase;
        color: $default;
        font-size: 10px !important;
        text-align: center;

        @include breakpoint(tablet) {
            font-size: 12px !important;
            font-weight: 600;
            text-transform: uppercase;
            text-align: right;
        }
    }

    .side-block {
        padding-left: 30px;

        @include breakpoint(tablet) {
            padding-left: 45px !important;
        }

        @include breakpoint(desktop) {
            padding-left: 30px !important;
        }
    }

    .sub-top {
        .title {
            font-size: 14px;
            font-weight: 600;
            color: $dark;
        }

        .text {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: $dark;
        }

        @include breakpoint(mobilephone) {
            padding-bottom: 8px;
        }

        @include breakpoint(mobileonly) {
            padding-bottom: 8px;
        }
    }

    .sub-border {
        @include breakpoint(mobilephone) {
            padding-bottom: 7px;
            border-bottom: 1px solid #eee;
        }
    }

    .sub-down {
        .title {
            font-size: 14px;
            font-weight: 600;
            color: $dark;
        }

        .text {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: $dark;
        }

        @include breakpoint(mobilephone) {
            padding-top: 7px;
            border-top: 1px solid #eee;
        }

        @include breakpoint(mobileonly) {
            padding-top: 7px;
            border-top: 1px solid #eee;
            padding-left: 15px;
        }
    }
}

.complaints-index{
    .score-tab{
        height: auto;
        @media only screen and (min-width : 992px) and (max-width : 1260px)  {
            height: 65px;
        }
        @media only screen and (min-width : 1600px) and (max-width : 1620px)  {
            height: 65px;
        }
    }
}

.complaints-entry-view{
    .table-header-style{
        background: $primary;
        color: $default;
        padding-top: 10px;
        padding-bottom: 10px;
        p{
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .title{
            padding-left: 15px;
            @include breakpoint(tablet){
                padding-left: 20px;
            }
        }
        .completed-date{
            padding-right: 15px;
            font-style: italic;
            @include breakpoint(tablet){
                padding-right: 30px;
            }
        }
    }
}

 .add-btn-complaints{
        padding-left: 35px !important;
        padding-right: 32px !important;
 }
