﻿@import '../Common/_globals.scss';


.com-wrapper {
    padding: 5px 5px;
        @media (min-width: 990px){
        padding: 10px 30px;
    }
}
.complaint-view{
    color: #6E6E6E;
	margin-top: 0;
	padding-right: 0;
    
	h1{
		color: $primary;
		font-weight: 300;
		margin-bottom: 20px;
		font-size: 24px;
		@include screen('tablet') {
			font-size: 34px;
		}
	}
	.complaint-repoter{
		.repoter-name{
			font-size: 14px;
			font-style: italic;
			margin-bottom: 10px;
			b{
				font-size: 16px;
				color: $primary;
				font-style: normal;
				padding-right: 10px;
			}
		}
		p.sm{
			font-size: 14px;
		}
		.emp-program{
			color: #aaaaaa;
		    font-style: normal;
		    display: inline-block;
		    border: 1px solid #aaaaaa;
		    padding: 0 5px;
		    border-radius: 3px;
		    margin-left: 5px;
		    margin-bottom: 4px;
		    font-size: 12px;
		}

		.complaint-loaction{
			

			@include screen('tablet') {
				border-left: 1px solid $border;
			}
			b,p{
				display: inline;
				@include screen('tablet') {
					display: block;
				}
			}
			p.sm{
				font-size: 14px;
				font-style: italic;
				
			}
		}
	}

	.note-well{
		margin: 20px 0;
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		@include screen('tablet') {
			
		}
        .warning-text {
            color: #f89c1b;
        }
	}

	ul.list-item{
		li{
			line-height: 50px;
			border-bottom: 1px solid $border;
			&:last-child{
				border-bottom: none;
			}
			b{
				padding-right: 10px;
			}
		}
	}

	.side-block{
		background: lighten($border, 6%);
		padding: 20px 0 20px 30px;
		margin-bottom: -20px;
		
		@include screen('tablet') {
			min-height: 700px;
            margin-top: -20px;
            margin-bottom: -20px;
			position: relative;
		}
		h4{
			font-weight: 300;
		}

		.btn-edit{
			
			float: right;
			margin-top: 30px;
			margin-right: 33px;
			margin-bottom: 10px;
			@include screen('tablet') {
			margin: 0;
			position: absolute;
			bottom: 20px;
			right: 20px;
			}
		}

	}


}

.padding-bottom-10{
    padding-bottom:10px;
}
.padding-bottom-15{
    padding-bottom:15px;
}
.emp-profile-wgt{

	.circle-img{
		width: 60px;
		height: 60px;
        position:absolute;
        img{width:100%;height:100%;}
	}

	.row-details{
		margin-left: 10px;
        padding-left:60px;
		@include breakpoint('tablet') {
			margin-left: 15px;
		}
		.emp-name{
			color: $primary;
			font-size: 16px;
			line-height: 1;
			margin-bottom: 3px;
            padding-top: 10px;
            padding-bottom: 10px;
			font-weight: 600;
			@include breakpoint('tablet') {
				font-size: 16px;
			}
		}
		.emp-title,.sm{
			font-size: 14px;
			font-style: italic;
			color: $base-dark;
			
		}
		.emp-program{
			color: $base-dark;
			font-style: normal;
			display: inline-block;
			border: 1px solid $base-dark;
			padding: 0 5px;
			border-radius: 3px;
			margin-left: 0;
			margin-bottom: 4px;
			font-size: 12px;
		}
        label.update-date{
            padding-top:10px;
            
        }
		.hire-date{
			color: $base;
		}
		.sm, .hire-date{
			font-size: 12px;
		}

        .padding-bottom-0{
            padding-bottom : 0;
        }
        .padding-bottom-5{
            padding-bottom : 5px;
        }
	}
}

.complaint-lightbox{


	.lightbox-content.complaint-view{
		padding-right: 20px;

	}
}


.light-box.light-box-lg{
	@include screen('tablet') {
		width: 600px;
		margin-left: -300px;
	}
}

