﻿@import '../Common/_globals.scss';

.compliments-details {
    .panel {
        margin-bottom: 20px;        
        border-radius: 0 !important;
        border: none !important;
    }

    .panel-default {
        margin-bottom: 0;
    }

    .compliment-description{
        padding-left: 15px;
        @include breakpoint(tablet){
            padding-left: 20px;
        }
        .title{
            color: $warning;
            font-weight: 600;
            font-size: 16px;
        }
        .text{
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark;
            margin-right: 10px;
        }
    }

    .panel-header-txt {
        margin-top: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;

        @include breakpoint (tablet) {
            padding-left: 15px !important;
            padding-right: 25px !important;
        }
    }

    .table-head {
        background: $primary;
        color: #fff;
        padding: 12px 15px 12px 15px;
        font-size: 12px !important;
        font-weight: 600 !important;

        @include breakpoint (tablet) {
            padding: 16px 15px 16px 15px;
        }

        p:first-child {
            padding-left: 0 !important;
            font-size: 12px !important;
            font-weight: 600 !important;
        }
    }

    .compliment-head {
        font-size: 12px !important;
        font-weight: 600;
        text-transform: uppercase;
        color: $default;

        @include breakpoint(mobileonly) {
            font-size: 10px !important;
        }

        @include breakpoint(tablet) {
            font-size: 12px !important;
            font-weight: 600 !important;
        }
    }

    .padding-l-30 {
        padding-left: 15px;

        @include breakpoint(tablet) {
            padding-left: 20px;
        }
    }

    .padding-r-30 {
        padding-right: 15px;

        @include breakpoint(tablet) {
            padding-right: 30px;
        }
    }

    .padding-right-date {
        padding-right: 40px !important;
    }

    .display-row {
        display: flex;
    }

    .row-details {
        line-height: 24px;
    }

    .emp-name {
        color: $primary !important;
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .emp-row {
        border-bottom: none !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 15px;
    }

    .itemrow:nth-child(even) {
        background-color: #f5f5f5;
        display: block;
    }

    .date-style {
        font-size: 14px !important;
        font-weight: 600 !important;
        color: $warning;
        margin-right: 12px;

        @include breakpoint(tablet) {
            padding-right: 20px;
        }
    }

    .form-content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .form-control, .input-group-btn .btn {
        height: 38px;
    }

    textarea.form-control {
        height: auto !important;
    }

    .primary-font-color {
        color: $primary;
    }

    .title-font {
        font-weight: 300;
    }

    .compliment-sm {
        font-size: 14px;
        font-weight: 600;
        color: #999c9e;
    }

    .sub-div-text {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        color: #999c9e;
        padding-left: 0 !important;
    }

    h4 {
        font-size: 22px;
    }

    .form-title {
        border-bottom: 1px solid #ccc;
    }

    .compliment-detail {
        padding-top: 20px;
    }

    .compliment-detail-heading {
        font-size: 16px !important;
        color: $primary !important;
        padding-bottom: 10px;
        font-weight: 600;
    }

    .optional {
        font-size: 12px;
        padding-left: 5px;
        font-weight: 700;
        color: #999c9e;
    }

    .form-button {
        padding-top: 20px;

        @include breakpoint(mobilephone) {
            padding-bottom: 15px;
        }

        @include breakpoint(tablet) {
            padding-bottom: 15px;
        }

        @include breakpoint(desktop) {
            padding-bottom: 0 !important;
        }
    }

    .btn-style {
        display: inline-block;
        padding: 10px 30px;
        margin-bottom: 0;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        color: $default;
        border: none;
        border-radius: 2px;
    }

    .btn-cancel {
        background-color: $base-dark;
    }

    .btn-save {
        background-color: $dark-dark;
        padding: 10px 35px;
    }

    .btn-padding {
        margin-right: 5px;
    }

    fieldset {
        border: none !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .entry-head {
        padding-left: 0 !important;
        padding-right: 0 !important;

        @include breakpoint(tablet) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .compliment-detail-m-ip {
        @include breakpoint (tablet) {
            padding-top: 20px;
        }

        @include breakpoint (desktop) {
            padding-top: 0;
        }

        @include breakpoint (mobilephone) {
            padding-top: 20px;
        }
    }

    .remove-padding-m {
        @include breakpoint(mobilephone) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .com-wrapper {
        padding: 0 !important;
    }

    .header-padding {
        padding-left: 30px;
        padding-right: 30px;

        @include breakpoint (tablet) {
            padding-left: 35px;
            padding-right: 45px;
        }
        @include breakpoint(mobileonly){
            padding-right: 20px !important;
        }
    }

    .title-style {
        color: $primary !important;
        font-size: 24px !important;
        padding-left: 15px;
        margin-bottom: 10px !important;
        font-weight: 300;

        @include breakpoint(tablet) {
            font-size: 34px !important;
            padding-left: 20px;
        }
    }

    h1 {
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .reporter {
        color: $primary;
        font-size: 16px;
        padding-left: 0;

        @include breakpoint(tablet) {
            padding-left: 5px;
        }
    }

    .reporter-name {
        color: $dark-dark;
        font-size: 14px;
        padding-left: 5px;
    }

    .compliment-reporter {
        padding-left: 15px !important;
    }

    .compliment-location {
        border: none !important;
        @include breakpoint(desktop){
            border-left: 1px solid $border-dark !important;
        }
    }

    .reported-program {
        font-size: 14px;
        padding-left: 0;
        padding-top: 5px;

        @include breakpoint(tablet) {
            padding-left: 5px;
        }
    }

    .loc {
        font-weight: 700 !important;
    }

    .location {
        font-size: 14px;
        padding-left: 15px;
        color: $dark;
        font-weight: 400;

        @include breakpoint(tablet) {
            padding-left: 20px;
        }

        @include breakpoint(desktop) {
            padding-left: 15px !important;
        }
    }

    .emp-program {
        color: #999c9e;
        font-style: normal;
        display: inline-block;
        border: 1px solid #aaaaaa;
        padding: 0 5px;
        border-radius: 3px;
        margin-left: 5px;
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 400;
    }

    .compliment-emp-program {
        color: #999c9e;
        font-style: normal;
        display: inline-block;
        font-weight: 600;
        border: 1px solid #999c9e;
        background: $gray;
        padding: 0 5px;
        border-radius: 3px;
        margin-bottom: 4px;
        font-size: 14px;
    }

    .site-name-sm {
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        color: #999c9e;
    }

    .accountable-title {
        color: #999c9e;
        font-weight: 300;
        font-size: 22px !important;
        margin-top: 20px !important;
    }

    .accountable {
        padding: 15px 30px 20px 0 !important;
        margin-right: 30px;
        border-top: 1px solid #eee;

        @include breakpoint(tablet) {
            margin-right: 60px;
        }
    }

    .accountable-edit {
        bottom: auto;
        margin-right: 60px;
        padding: 10px;
        border: 1px solid;
        background: $dark-dark;
        color: #fff;
        border-color: black;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;

        @include breakpoint (tablet) {
            padding: 13px;
        }

        &:hover {
            color: #fff;
            opacity: 1;
        }
    }

    .circle-image-pos {
        position: static !important;
    }


    .emp-padding {
        padding-top: 5px;
    }

    .no-l-padding {
        padding-left: 0 !important;
    }

    padding-b-15 {
        padding-bottom: 15px;
    }

    .side-block {
        padding-left: 30px;

        @include breakpoint(tablet) {
            padding-left: 35px !important;
        }

        @include breakpoint(desktop) {
            padding-left: 30px !important;
        }
    }

    .title {
        font-size: 14px;
        font-weight: 600;
        color: $dark;
    }

    .text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: $dark;
    }
}

.compliments-common{
    .type-styling{
        border-radius: 4px;
        border: 1px solid $base-dark;
        display: inline-block;
        padding: 0 5px;
        margin-top: 5px;
    }
}

.add-compliment-btn {
    padding-left: 28px !important;
    padding-right: 28px !important;
}

.fieldset-padding {

    @include breakpoint(desktop) {
        padding-bottom: 40px;
    }
}

.charts-area-padding {
    @include breakpoint(desktop) {
        padding-left: 0;
    }

    @media only screen and (min-width : 992px) and (max-width : 1390px) {
       padding-left: 0;
    }
}

