﻿@import '../Common/_globals';

.customer-survey-all {
    .margin-top {
        @include breakpoint(mobilephone) {
            margin-top: 20px;
        }
    }

    .below-control {
        background-color: $danger-dark !important;
    }
    .na-style{
        color: $border-dark !important;
        border: 3px solid $border-dark;
    }
    .na-background-style{
        background-color: $border-dark !important;
    }
    .surv-bg {
        background: #fff;
        padding: 15px 10px;
        position: relative;
        margin-bottom: 40px;

        @include breakpoint(desktop) {
            padding: 20px 25px;
            margin-top: 40px;
            border-radius: 5px;
            border: 1px solid $border;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
        }

        h3.surv-title, h2.surv-title {
            text-align: center;
            color: #40526e;
            font-weight: 400;
            margin-bottom: 10px;
            padding-bottom: 0;
        }

        .surv-q {
            text-align: center;

            h3 {
                font-size: 16px;
                font-weight: 400;
                text-align: left;
            }

            textarea {
                width: 100%;
                height: 150px;
                margin-top: 10px;
                resize: vertical;
                border-radius: 5px;
                padding: 10px;
                outline: none;
                font-size: 16px;
            }

            @include breakpoint(desktop) {
                text-align: left;

                h3 {
                    font-size: 22px;
                    float: left;
                }
            }
        }

        .surv-v {
            width: 210px;
            margin: 10px auto 0;
            height: 38px;

            @include breakpoint(desktop) {
                float: right;
                margin-top: 0;
            }

            a {
                text-align: center;
                border: 1px solid #ececec;
                border-radius: 5px 0 0 5px;
                display: block;
                float: left;
                background: #fff;

                &.na {
                    border-radius: 5px;
                    margin-left: 15px;
                    color: #545454;
                    background-color: #fff;

                    &:hover, &.active {
                        background: #40526e;
                        color: #fff;
                        text-decoration: none;
                        box-shadow: none;
                    }

                    &:focus, &.na-active {
                        text-decoration: none;
                    }
                }
            }
        }

        .score-buttons {
            width: 130px !important;
            float: left !important;

            button {
                width: 42px;
                margin-left: -1px;

                &:focus {
                    width: 42px;
                    margin-left: -1px;
                    text-decoration: none;
                }

                &:nth-child(3) {
                    border-radius: 0 5px 5px 0;
                }
            }
        }



        .surv-message {
            &.btn-primary {
                background: #40526e;
                color: #fff;
                text-decoration: none;
                box-shadow: none;
                margin-top: 30px;
            }
        }



        .surv-btn a.btn-primary {
            background: #40526e;
            color: #fff;
            margin-top: 10px;

            @include breakpoint(desktop) {
                margin-top: 40px;
            }

            &[disabled] {
                background: #5f708a;
                border-color: #6a717a;
            }
        }

        .surv-sec {
            margin: auto;
            width: 100%;
            height: 100%;
            background: #fff;
            padding-top: 80px;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            border-radius: 5px;

            p {
                color: #414141;
                font-size: 18px;
            }
        }

        .loader, .surv-message {
            display: none;
        }

        .ball-grid-pulse > div {
            background: #40526e;
        }

        .loader-inner {
            margin: auto;
            width: 60px;
            height: 100px;
        }



        .loader-inner i {
            font-size: 66px;
            color: #40526e;
        }
    }

    .panel {
        border: none !important;
        margin-bottom: 0 !important;
    }

    .cs-header-align {
        margin: 0 !important;
        padding-right: 30px !important;
        padding-left: 20px !important;

        @include breakpoint(mobilephone) {
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
    }

    .surv-sub-title {
        background-color: $default;
    }

    .surv-description {
        color: #777;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 20px 10px 15px;

        @include breakpoint (tablet) {
            padding: 0 20px 10px 20px;
            font-size: 14px;
        }
    }

    .surv-header-txt {
        color: $primary;
        font-size: 16px;
        font-weight: bold;
        border-bottom: none !important;
        padding-bottom: 0 !important;

        @include breakpoint(mobilephone) {
            margin-left: 0 !important;
        }
    }

    .surv-questions-desc {
        color: #777;
        font-size: 14px;
        font-weight: normal;
        padding: 5px 20px 10px 15px;

        @include breakpoint(tablet) {
            padding: 5px 20px 10px 20px;
        }

        @include breakpoint(mobilephone) {
            font-size: 14px;
        }
    }

    .surv-question-label {
        color: $dark-dark;
    }

    .surv-table-head {
        color: $default;
        background-color: $primary;
        font-weight: 600;
        padding: 12px 15px;
        font-size: 12px;
        text-transform: uppercase;

        @include breakpoint(tablet) {
            padding: 12px 30px 12px 20px;
        }

        @include breakpoint(mobileonly) {
            font-size: 10px;
        }
    }

    .surv-questions {
        padding: 20px 15px;

        @include breakpoint(tablet) {
            padding: 20px 30px 20px 20px;
        }
    }

    .surv-question {
        color: $primary;
        font-weight: bold;
        padding-bottom: 5px;
    }

    .surv-itemRow:nth-child(even) {
        background-color: $gray;
        display: block;
    }

    .surv-buttons {
        padding-top: 30px;
        padding-right: 15px;
    }

    .surv-cancel {
        padding: 8px 35px !important;
        color: $default !important;
        background-color: #8c8c8c;
        font-weight: bold;

        &:hover {
            opacity: 1;
            background-color: #a6a6a6 !important;
        }
    }

    .surv-save {
        padding: 8px 25px !important;
        color: $default !important;
        background-color: $success;
        font-weight: bold;

        &:hover {
            opacity: 1;
            background-color: $success !important;
        }
    }

    .response-client {
        background-color: $default;
        padding: 30px 15px 20px 15px;

        @include breakpoint(tablet) {
            padding: 30px 30px 20px 20px;
        }
    }

    .response-client-text {
        color: $primary;
        font-size: 24px;
        font-weight: 300;

        @include breakpoint(tablet) {
            font-size: 34px;
        }
    }

    .response-info {
        background-color: $default;
        padding-bottom: 30px;

        @include breakpoint(mobilephone) {
            padding-right: 15px;
        }

        @include breakpoint(mobileonly) {
            padding-right: 5px;
        }
    }

    .surv-feedback-summary {
        background-color: $default;
    }

    .surv-col {
        color: $primary;
    }

    .surv-padding {
        padding-left: 15px !important;
        padding-right: 30px;
        border-right: none;

        @include breakpoint(tablet) {
            border-right: 1px solid $base;
            padding-left: 20px !important;
        }
    }

    .surv-program {
        color: $muted;
        font-style: normal;
        display: inline-block;
        border: 1px solid $border;
        padding: 0 5px;
        border-radius: 3px;
        margin-left: 5px;
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 400;
    }

    .surv-location {
        padding-left: 15px;

        @include breakpoint(tablet) {
            border-right: 1px solid $base;
            padding-left: 20px;
            padding-right: 20px;
        }
        /*border-right: none;
        padding-left: 15px;*/
        /*@include breakpoint(desktop){
            border-right: 1px solid $base;
            padding-left: 20px;
            padding-right: 20px;
        }*/
    }

    .location {
        font-size: 14px;
        padding-left: 15px;
        color: $dark;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0 !important;
    }

    .location-site {
        font-size: 14px;
        color: $dark;
        font-weight: 400;
    }

    .surv-score {
        border-radius: 50%;
        color: $default;
        border: 3px;
        width: 45px;
        height: 45px;
        background-color: $success;
        line-height: 45px;
        font-size: 16px;
        text-align: center;
    }

    .surv-quesans {
        background-color: $default;
    }

    .surv-quesans-pad {
        padding-top: 15px;
        padding-bottom: 15px;

        @include breakpoint(tablet) {
            padding-top: 30px;
            padding-bottom: 40px;
        }
    }

    .surv-comment {
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: #f9f9f9;
        border-left: 3px solid $primary;
        padding-left: 0;
        padding: 20px 0 30px 15px;
    }

    .surv-comment-margin {
        margin-top: 20px;
    }

    .surv-text-center {
        font-weight: bold;

        @include breakpoint(desktop) {
            text-align: center;
        }
    }

    .surv-align-center {
        text-align: center;
    }

    .surv-font {
        font-size: 12px;

        @include breakpoint(tablet) {
            font-size: 16px;
        }
    }

    .surv-related-to {
        font-size: 14px;
        padding-top: 5px;
    }

    .surv-location-pad {
        padding-left: 0;
    }

    .index {
        .page-content {
            padding: 0 !important;
        }
    }

    .surv-details {
        .table-head {
            background-color: $primary !important;
            font-weight: 600 !important;
            text-transform: uppercase !important;
            color: $default;
            font-size: 10px !important;
            padding: 15px !important;

            @include breakpoint (tablet) {
                font-size: 12px !important;
            }

            p {
                font-size: 10px;

                @include breakpoint(tablet) {
                    background-color: $primary !important;
                    font-weight: 600 !important;
                    text-transform: uppercase !important;
                    color: $default;
                    font-size: 12px !important;
                }
            }

            p.sec-col {
                font-size: 10px !important;

                @include breakpoint(tablet) {
                    font-size: 12px !important;
                    background-color: $primary !important;
                    font-weight: 600 !important;
                    text-transform: uppercase !important;
                    color: $default;
                    margin-left: 25px;
                    padding-left: 35px;
                }
            }
        }


        .emp-row {
            padding: 15px;
            padding-right: 15px;

            @include breakpoint(mobilephone) {
                padding-right: 5px;
            }

            border-bottom: none;

            @include breakpoint(tablet) {
                padding: 20px 30px 20px 20px !important;
            }

            .jd-status {
                padding-right: 0;
                text-align: right;

                @include breakpoint(mobilephone) {
                    padding-left: 0;
                }

                p.date {
                    font-size: 14px;
                    color: $warning;
                }

                .date {
                    font-size: 14px;
                    color: $warning;
                    font-weight: 600;



                    &:hover {
                        color: darken($warning, 10%);
                        cursor: pointer;
                    }

                    .fa-edit2 {
                        padding-left: 10px;
                        color: $dark;
                    }

                    .fa-check {
                        font-size: 20px;
                        color: $success;
                        line-height: 30px;

                        @include breakpoint(mobilephone) {
                            font-size: 15px;
                        }
                    }
                }

                .edit {
                    .btn-link {
                        .fa {
                            font-size: 26px;
                            line-height: 32px;
                        }
                    }

                    .sentDate {
                        width: 68%;

                        @include breakpoint(mobilephone) {
                            width: 90%;
                        }

                        .form-control {
                            @include breakpoint(mobileonly) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .audit-score {
                border-radius: 50%;
                color: $default;
                width: 35px;
                height: 35px;
                text-align: center;
                font-size: 14px;
                line-height: 35px;

                @include breakpoint(tablet) {
                    width: 45px;
                    height: 45px;
                    font-size: 16px;
                    line-height: 45px;
                }
            }

            .within-control {
                background-color: $success;
            }

            .below-control {
                background-color: $danger-dark;
            }

            .row-details {
                margin-left: 0;
                line-height: 24px;

                @include breakpoint(tablet) {
                    margin-left: 30px;
                }

                .cs-emp-name {
                    font-size: 16px !important;
                    color: $primary !important;
                    font-weight: 600;
                }

                .cs-emp-program {
                    font-size: 14px;
                    font-weight: 600;
                    color: $muted;
                    display: inline-block;
                    border: 1px solid $muted;
                    padding: 0 5px;
                    border-radius: 3px;
                    margin-left: 0;
                    margin-bottom: 4px;
                }

                .cs-sm {
                    font-size: 12px;
                    font-weight: 500;
                    color: $muted;
                    font-style: italic;
                }
            }
        }
    }

    .cs-request-sent-date {
        padding-left: 0;
        font-size: 14px !important;
        color: $dark;
        font-weight: 400;
        font-style: italic;

        @include breakpoint(tablet) {
            padding-left: 15px;
            //font-weight: 600;
        }
    }

    .cs-surv-score-label {
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        padding-top: 5px;
        font-style: italic;
    }

    .card-view {
        .card-component {
            background-color: white;
        }

        .details-card-header {
            padding: 10px 10px 0;

            hr {
                margin-bottom: 10px;
                margin-top: 10px;
            }

            .date {
                font-weight: 600;
                color: $warning;
            }

            .edit {
                .fa-edit2 {
                    color: $muted-dark;
                }

                .btn-link {
                    .fa {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                .sentDate {
                    width: 55%;

                    @media only screen and (min-width : 992px) and (max-width : 1390px) {
                        width: 70%;
                    }
                    .form-control {
                        height: 28px;

                        @include breakpoint(mobileonly) {
                            font-size: 12px;
                        }

                        @media only screen and (min-width : 992px) and (max-width : 1390px) {
                            font-size: 12px;
                        }
                    }

                    .input-group-addon {
                        padding: 4px 12px;
                    }
                }
            }
        }

        .content {
            .associate {
                color: $primary;
                font-weight: 600;
            }

            .relatedTo {
                font-size: 14px;
                font-weight: 600;
                color: $muted;
                display: inline-block;
                border: 1px solid $muted;
                background: $gray;
                padding: 0 5px;
                border-radius: 3px;
                margin-left: 0;
                margin-bottom: 4px;

                &.fit {
                    @media only screen and (min-width : 992px) and (max-width : 1390px) {
                        width: 75px;
                    }
                }
            }

            .truncate {
                white-space: nowrap;
                word-break: break-word;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .footerLocation {
                font-style: italic;
                color: $muted-dark;

                &.fit-reportIt {
                    @include breakpoint(mobilephone) {
                        width: 160px;
                    }

                    @include breakpoint(mobileonly) {
                        width: 95px;
                    }

                    @media only screen and (min-width : 992px) and (max-width : 1390px) {
                        width: 100px;
                    }

                    @media only screen and (min-width : 1600px) and (max-width : 1750px) {
                        width: 130px;
                    }
                }

                &.fit {
                    @include breakpoint(mobilephone) {
                        width: 140px;
                    }

                    @media only screen and (min-width : 992px) and (max-width : 1390px) {
                        width: 120px;
                    }
                }
            }
        }
    }

    .score-align{
        position: relative;
        margin-top: 12px;
    }
    .types{
        .fa-check22{
            font-weight: 700;
        }
    }
}

.customer-survey-index{
    .score-tab{
        height: auto;
        @media only screen and (min-width : 992px) and (max-width : 1075px)  {
            height: 65px;
        }
        @media only screen and (min-width : 1200px) and (max-width : 1250px)  {
            height: 65px;
        }
        @media only screen and (min-width : 1600px) and (max-width : 1610px)  {
            height: 65px;
        }
    }
}

.card-body-content{
    .fail{
        background-color: $danger;
    }

    .success{
        background-color: $success;
    }

    .na-style{
        background-color: $muted;
    }
    .align-survey-score{
        line-height: 50px;
        font-size: 16px;
    }
}

.score-header {
    .edit {
        .btn-link {
            .fa {
                font-size: 14px;
                line-height: 18px;
            }
        }

        .editDate {
            width: 30%;
            .form-control{
                height: 20px;
                padding: 2px 5px;
                color: $muted;
                font-size: 12px;
            }
            @include breakpoint(mobilephone) {
                width: 90%;
            }
            .input-group-addon{
                font-size: 8px;
                padding: 2px 5px;
            }
        }
    }
}
.card-footer-content {
    .click-style {
        text-decoration: underline;
        cursor: pointer;
    }

    .edit {
        .btn-link {
            .fa {
                font-size: 14px;
                line-height: 18px;
            }
        }

        .sentDate {
            width: 30%;
            .form-control{
                height: 20px;
                padding: 2px 5px;
                color: $muted;
                font-size: 12px;
            }
            @include breakpoint(mobilephone) {
                width: 90%;
            }
            .input-group-addon{
                font-size: 8px;
                padding: 2px 5px;
            }
        }
    }
}

.survey-quality-head{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    padding: 12px 20px;
    border-bottom: 1px solid $border;
    
    .content{
        line-height: 2;
    }

    .click-style{
        text-decoration: underline;
        cursor: pointer;
    }
    .edit {
        .btn-link {
            .fa {
                font-size: 14px;
                line-height: 18px;
            }
        }

        .sentDate {
            width: 30%;
            .form-control{
                height: 20px;
                padding: 2px 5px;
                color: $muted;
                font-size: 12px;
            }
            @include breakpoint(mobilephone) {
                width: 90%;
            }
            .input-group-addon{
                font-size: 8px;
                padding: 2px 5px;
            }
        }
    }
}

