@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
@media (max-width: 479px) {
  .customer-survey-all .margin-top {
    margin-top: 20px;
  }
}
.customer-survey-all .below-control {
  background-color: #D0363C !important;
}
.customer-survey-all .na-style {
  color: #d8d8d8 !important;
  border: 3px solid #d8d8d8;
}
.customer-survey-all .na-background-style {
  background-color: #d8d8d8 !important;
}
.customer-survey-all .surv-bg {
  background: #fff;
  padding: 15px 10px;
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 1167px) {
  .customer-survey-all .surv-bg {
    padding: 20px 25px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
  }
}
.customer-survey-all .surv-bg h3.surv-title, .customer-survey-all .surv-bg h2.surv-title {
  text-align: center;
  color: #40526e;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.customer-survey-all .surv-bg .surv-q {
  text-align: center;
}
.customer-survey-all .surv-bg .surv-q h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.customer-survey-all .surv-bg .surv-q textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  resize: vertical;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 16px;
}
@media (min-width: 1167px) {
  .customer-survey-all .surv-bg .surv-q {
    text-align: left;
  }
  .customer-survey-all .surv-bg .surv-q h3 {
    font-size: 22px;
    float: left;
  }
}
.customer-survey-all .surv-bg .surv-v {
  width: 210px;
  margin: 10px auto 0;
  height: 38px;
}
@media (min-width: 1167px) {
  .customer-survey-all .surv-bg .surv-v {
    float: right;
    margin-top: 0;
  }
}
.customer-survey-all .surv-bg .surv-v a {
  text-align: center;
  border: 1px solid #ececec;
  border-radius: 5px 0 0 5px;
  display: block;
  float: left;
  background: #fff;
}
.customer-survey-all .surv-bg .surv-v a.na {
  border-radius: 5px;
  margin-left: 15px;
  color: #545454;
  background-color: #fff;
}
.customer-survey-all .surv-bg .surv-v a.na:hover, .customer-survey-all .surv-bg .surv-v a.na.active {
  background: #40526e;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}
.customer-survey-all .surv-bg .surv-v a.na:focus, .customer-survey-all .surv-bg .surv-v a.na.na-active {
  text-decoration: none;
}
.customer-survey-all .surv-bg .score-buttons {
  width: 130px !important;
  float: left !important;
}
.customer-survey-all .surv-bg .score-buttons button {
  width: 42px;
  margin-left: -1px;
}
.customer-survey-all .surv-bg .score-buttons button:focus {
  width: 42px;
  margin-left: -1px;
  text-decoration: none;
}
.customer-survey-all .surv-bg .score-buttons button:nth-child(3) {
  border-radius: 0 5px 5px 0;
}
.customer-survey-all .surv-bg .surv-message.btn-primary {
  background: #40526e;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  margin-top: 30px;
}
.customer-survey-all .surv-bg .surv-btn a.btn-primary {
  background: #40526e;
  color: #fff;
  margin-top: 10px;
}
@media (min-width: 1167px) {
  .customer-survey-all .surv-bg .surv-btn a.btn-primary {
    margin-top: 40px;
  }
}
.customer-survey-all .surv-bg .surv-btn a.btn-primary[disabled] {
  background: #5f708a;
  border-color: #6a717a;
}
.customer-survey-all .surv-bg .surv-sec {
  margin: auto;
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: 80px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  border-radius: 5px;
}
.customer-survey-all .surv-bg .surv-sec p {
  color: #414141;
  font-size: 18px;
}
.customer-survey-all .surv-bg .loader, .customer-survey-all .surv-bg .surv-message {
  display: none;
}
.customer-survey-all .surv-bg .ball-grid-pulse > div {
  background: #40526e;
}
.customer-survey-all .surv-bg .loader-inner {
  margin: auto;
  width: 60px;
  height: 100px;
}
.customer-survey-all .surv-bg .loader-inner i {
  font-size: 66px;
  color: #40526e;
}
.customer-survey-all .panel {
  border: none !important;
  margin-bottom: 0 !important;
}
.customer-survey-all .cs-header-align {
  margin: 0 !important;
  padding-right: 30px !important;
  padding-left: 20px !important;
}
@media (max-width: 479px) {
  .customer-survey-all .cs-header-align {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.customer-survey-all .surv-sub-title {
  background-color: #ffffff;
}
.customer-survey-all .surv-description {
  color: #777;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 20px 10px 15px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-description {
    padding: 0 20px 10px 20px;
    font-size: 14px;
  }
}
.customer-survey-all .surv-header-txt {
  color: #00AFD1;
  font-size: 16px;
  font-weight: bold;
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
@media (max-width: 479px) {
  .customer-survey-all .surv-header-txt {
    margin-left: 0 !important;
  }
}
.customer-survey-all .surv-questions-desc {
  color: #777;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 20px 10px 15px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-questions-desc {
    padding: 5px 20px 10px 20px;
  }
}
@media (max-width: 479px) {
  .customer-survey-all .surv-questions-desc {
    font-size: 14px;
  }
}
.customer-survey-all .surv-question-label {
  color: #2f2930;
}
.customer-survey-all .surv-table-head {
  color: #ffffff;
  background-color: #00AFD1;
  font-weight: 600;
  padding: 12px 15px;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-table-head {
    padding: 12px 30px 12px 20px;
  }
}
@media (max-width: 320px) {
  .customer-survey-all .surv-table-head {
    font-size: 10px;
  }
}
.customer-survey-all .surv-questions {
  padding: 20px 15px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-questions {
    padding: 20px 30px 20px 20px;
  }
}
.customer-survey-all .surv-question {
  color: #00AFD1;
  font-weight: bold;
  padding-bottom: 5px;
}
.customer-survey-all .surv-itemRow:nth-child(even) {
  background-color: #f5f5f5;
  display: block;
}
.customer-survey-all .surv-buttons {
  padding-top: 30px;
  padding-right: 15px;
}
.customer-survey-all .surv-cancel {
  padding: 8px 35px !important;
  color: #ffffff !important;
  background-color: #8c8c8c;
  font-weight: bold;
}
.customer-survey-all .surv-cancel:hover {
  opacity: 1;
  background-color: #a6a6a6 !important;
}
.customer-survey-all .surv-save {
  padding: 8px 25px !important;
  color: #ffffff !important;
  background-color: #9FC62D;
  font-weight: bold;
}
.customer-survey-all .surv-save:hover {
  opacity: 1;
  background-color: #9FC62D !important;
}
.customer-survey-all .response-client {
  background-color: #ffffff;
  padding: 30px 15px 20px 15px;
}
@media (min-width: 768px) {
  .customer-survey-all .response-client {
    padding: 30px 30px 20px 20px;
  }
}
.customer-survey-all .response-client-text {
  color: #00AFD1;
  font-size: 24px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .customer-survey-all .response-client-text {
    font-size: 34px;
  }
}
.customer-survey-all .response-info {
  background-color: #ffffff;
  padding-bottom: 30px;
}
@media (max-width: 479px) {
  .customer-survey-all .response-info {
    padding-right: 15px;
  }
}
@media (max-width: 320px) {
  .customer-survey-all .response-info {
    padding-right: 5px;
  }
}
.customer-survey-all .surv-feedback-summary {
  background-color: #ffffff;
}
.customer-survey-all .surv-col {
  color: #00AFD1;
}
.customer-survey-all .surv-padding {
  padding-left: 15px !important;
  padding-right: 30px;
  border-right: none;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-padding {
    border-right: 1px solid #cccccc;
    padding-left: 20px !important;
  }
}
.customer-survey-all .surv-program {
  color: #999c9e;
  font-style: normal;
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 5px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
}
.customer-survey-all .surv-location {
  padding-left: 15px;
  /*border-right: none;
  padding-left: 15px;*/
  /*@include breakpoint(desktop){
      border-right: 1px solid $base;
      padding-left: 20px;
      padding-right: 20px;
  }*/
}
@media (min-width: 768px) {
  .customer-survey-all .surv-location {
    border-right: 1px solid #cccccc;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.customer-survey-all .location {
  font-size: 14px;
  padding-left: 15px;
  color: #403841;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}
.customer-survey-all .location-site {
  font-size: 14px;
  color: #403841;
  font-weight: 400;
}
.customer-survey-all .surv-score {
  border-radius: 50%;
  color: #ffffff;
  border: 3px;
  width: 45px;
  height: 45px;
  background-color: #9FC62D;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
}
.customer-survey-all .surv-quesans {
  background-color: #ffffff;
}
.customer-survey-all .surv-quesans-pad {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-quesans-pad {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
.customer-survey-all .surv-comment {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #f9f9f9;
  border-left: 3px solid #00AFD1;
  padding-left: 0;
  padding: 20px 0 30px 15px;
}
.customer-survey-all .surv-comment-margin {
  margin-top: 20px;
}
.customer-survey-all .surv-text-center {
  font-weight: bold;
}
@media (min-width: 1167px) {
  .customer-survey-all .surv-text-center {
    text-align: center;
  }
}
.customer-survey-all .surv-align-center {
  text-align: center;
}
.customer-survey-all .surv-font {
  font-size: 12px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-font {
    font-size: 16px;
  }
}
.customer-survey-all .surv-related-to {
  font-size: 14px;
  padding-top: 5px;
}
.customer-survey-all .surv-location-pad {
  padding-left: 0;
}
.customer-survey-all .index .page-content {
  padding: 0 !important;
}
.customer-survey-all .surv-details .table-head {
  background-color: #00AFD1 !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: #ffffff;
  font-size: 10px !important;
  padding: 15px !important;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-details .table-head {
    font-size: 12px !important;
  }
}
.customer-survey-all .surv-details .table-head p {
  font-size: 10px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-details .table-head p {
    background-color: #00AFD1 !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #ffffff;
    font-size: 12px !important;
  }
}
.customer-survey-all .surv-details .table-head p.sec-col {
  font-size: 10px !important;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-details .table-head p.sec-col {
    font-size: 12px !important;
    background-color: #00AFD1 !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #ffffff;
    margin-left: 25px;
    padding-left: 35px;
  }
}
.customer-survey-all .surv-details .emp-row {
  padding: 15px;
  padding-right: 15px;
  border-bottom: none;
}
@media (max-width: 479px) {
  .customer-survey-all .surv-details .emp-row {
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .customer-survey-all .surv-details .emp-row {
    padding: 20px 30px 20px 20px !important;
  }
}
.customer-survey-all .surv-details .emp-row .jd-status {
  padding-right: 0;
  text-align: right;
}
@media (max-width: 479px) {
  .customer-survey-all .surv-details .emp-row .jd-status {
    padding-left: 0;
  }
}
.customer-survey-all .surv-details .emp-row .jd-status p.date {
  font-size: 14px;
  color: #F99D00;
}
.customer-survey-all .surv-details .emp-row .jd-status .date {
  font-size: 14px;
  color: #F99D00;
  font-weight: 600;
}
.customer-survey-all .surv-details .emp-row .jd-status .date:hover {
  color: #c67d00;
  cursor: pointer;
}
.customer-survey-all .surv-details .emp-row .jd-status .date .fa-edit2 {
  padding-left: 10px;
  color: #403841;
}
.customer-survey-all .surv-details .emp-row .jd-status .date .fa-check {
  font-size: 20px;
  color: #9FC62D;
  line-height: 30px;
}
@media (max-width: 479px) {
  .customer-survey-all .surv-details .emp-row .jd-status .date .fa-check {
    font-size: 15px;
  }
}
.customer-survey-all .surv-details .emp-row .jd-status .edit .btn-link .fa {
  font-size: 26px;
  line-height: 32px;
}
.customer-survey-all .surv-details .emp-row .jd-status .edit .sentDate {
  width: 68%;
}
@media (max-width: 479px) {
  .customer-survey-all .surv-details .emp-row .jd-status .edit .sentDate {
    width: 90%;
  }
}
@media (max-width: 320px) {
  .customer-survey-all .surv-details .emp-row .jd-status .edit .sentDate .form-control {
    font-size: 12px;
  }
}
.customer-survey-all .surv-details .emp-row .audit-score {
  border-radius: 50%;
  color: #ffffff;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-details .emp-row .audit-score {
    width: 45px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
  }
}
.customer-survey-all .surv-details .emp-row .within-control {
  background-color: #9FC62D;
}
.customer-survey-all .surv-details .emp-row .below-control {
  background-color: #D0363C;
}
.customer-survey-all .surv-details .emp-row .row-details {
  margin-left: 0;
  line-height: 24px;
}
@media (min-width: 768px) {
  .customer-survey-all .surv-details .emp-row .row-details {
    margin-left: 30px;
  }
}
.customer-survey-all .surv-details .emp-row .row-details .cs-emp-name {
  font-size: 16px !important;
  color: #00AFD1 !important;
  font-weight: 600;
}
.customer-survey-all .surv-details .emp-row .row-details .cs-emp-program {
  font-size: 14px;
  font-weight: 600;
  color: #999c9e;
  display: inline-block;
  border: 1px solid #999c9e;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 0;
  margin-bottom: 4px;
}
.customer-survey-all .surv-details .emp-row .row-details .cs-sm {
  font-size: 12px;
  font-weight: 500;
  color: #999c9e;
  font-style: italic;
}
.customer-survey-all .cs-request-sent-date {
  padding-left: 0;
  font-size: 14px !important;
  color: #403841;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 768px) {
  .customer-survey-all .cs-request-sent-date {
    padding-left: 15px;
  }
}
.customer-survey-all .cs-surv-score-label {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  padding-top: 5px;
  font-style: italic;
}
.customer-survey-all .card-view .card-component {
  background-color: white;
}
.customer-survey-all .card-view .details-card-header {
  padding: 10px 10px 0;
}
.customer-survey-all .card-view .details-card-header hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.customer-survey-all .card-view .details-card-header .date {
  font-weight: 600;
  color: #F99D00;
}
.customer-survey-all .card-view .details-card-header .edit .fa-edit2 {
  color: #8c8f92;
}
.customer-survey-all .card-view .details-card-header .edit .btn-link .fa {
  font-size: 20px;
  line-height: 26px;
}
.customer-survey-all .card-view .details-card-header .edit .sentDate {
  width: 55%;
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .customer-survey-all .card-view .details-card-header .edit .sentDate {
    width: 70%;
  }
}
.customer-survey-all .card-view .details-card-header .edit .sentDate .form-control {
  height: 28px;
}
@media (max-width: 320px) {
  .customer-survey-all .card-view .details-card-header .edit .sentDate .form-control {
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .customer-survey-all .card-view .details-card-header .edit .sentDate .form-control {
    font-size: 12px;
  }
}
.customer-survey-all .card-view .details-card-header .edit .sentDate .input-group-addon {
  padding: 4px 12px;
}
.customer-survey-all .card-view .content .associate {
  color: #00AFD1;
  font-weight: 600;
}
.customer-survey-all .card-view .content .relatedTo {
  font-size: 14px;
  font-weight: 600;
  color: #999c9e;
  display: inline-block;
  border: 1px solid #999c9e;
  background: #f5f5f5;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 0;
  margin-bottom: 4px;
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .customer-survey-all .card-view .content .relatedTo.fit {
    width: 75px;
  }
}
.customer-survey-all .card-view .content .truncate {
  white-space: nowrap;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}
.customer-survey-all .card-view .content .footerLocation {
  font-style: italic;
  color: #8c8f92;
}
@media (max-width: 479px) {
  .customer-survey-all .card-view .content .footerLocation.fit-reportIt {
    width: 160px;
  }
}
@media (max-width: 320px) {
  .customer-survey-all .card-view .content .footerLocation.fit-reportIt {
    width: 95px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .customer-survey-all .card-view .content .footerLocation.fit-reportIt {
    width: 100px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1750px) {
  .customer-survey-all .card-view .content .footerLocation.fit-reportIt {
    width: 130px;
  }
}
@media (max-width: 479px) {
  .customer-survey-all .card-view .content .footerLocation.fit {
    width: 140px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .customer-survey-all .card-view .content .footerLocation.fit {
    width: 120px;
  }
}
.customer-survey-all .score-align {
  position: relative;
  margin-top: 12px;
}
.customer-survey-all .types .fa-check22 {
  font-weight: 700;
}

.customer-survey-index .score-tab {
  height: auto;
}
@media only screen and (min-width: 992px) and (max-width: 1075px) {
  .customer-survey-index .score-tab {
    height: 65px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1250px) {
  .customer-survey-index .score-tab {
    height: 65px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1610px) {
  .customer-survey-index .score-tab {
    height: 65px;
  }
}

.card-body-content .fail {
  background-color: #E93D42;
}
.card-body-content .success {
  background-color: #9FC62D;
}
.card-body-content .na-style {
  background-color: #999c9e;
}
.card-body-content .align-survey-score {
  line-height: 50px;
  font-size: 16px;
}

.score-header .edit .btn-link .fa {
  font-size: 14px;
  line-height: 18px;
}
.score-header .edit .editDate {
  width: 30%;
}
.score-header .edit .editDate .form-control {
  height: 20px;
  padding: 2px 5px;
  color: #999c9e;
  font-size: 12px;
}
@media (max-width: 479px) {
  .score-header .edit .editDate {
    width: 90%;
  }
}
.score-header .edit .editDate .input-group-addon {
  font-size: 8px;
  padding: 2px 5px;
}

.card-footer-content .click-style {
  text-decoration: underline;
  cursor: pointer;
}
.card-footer-content .edit .btn-link .fa {
  font-size: 14px;
  line-height: 18px;
}
.card-footer-content .edit .sentDate {
  width: 30%;
}
.card-footer-content .edit .sentDate .form-control {
  height: 20px;
  padding: 2px 5px;
  color: #999c9e;
  font-size: 12px;
}
@media (max-width: 479px) {
  .card-footer-content .edit .sentDate {
    width: 90%;
  }
}
.card-footer-content .edit .sentDate .input-group-addon {
  font-size: 8px;
  padding: 2px 5px;
}

.survey-quality-head {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 20px;
  border-bottom: 1px solid #e8e8e8;
}
.survey-quality-head .content {
  line-height: 2;
}
.survey-quality-head .click-style {
  text-decoration: underline;
  cursor: pointer;
}
.survey-quality-head .edit .btn-link .fa {
  font-size: 14px;
  line-height: 18px;
}
.survey-quality-head .edit .sentDate {
  width: 30%;
}
.survey-quality-head .edit .sentDate .form-control {
  height: 20px;
  padding: 2px 5px;
  color: #999c9e;
  font-size: 12px;
}
@media (max-width: 479px) {
  .survey-quality-head .edit .sentDate {
    width: 90%;
  }
}
.survey-quality-head .edit .sentDate .input-group-addon {
  font-size: 8px;
  padding: 2px 5px;
}

/*# sourceMappingURL=customer-survey.css.map */
