﻿@import "../Common/globals";

.quality-dashboard {
    background: unset;
    .dashboard-cards {
        padding: 0;
        a{
            color: $dark;
        }
        a:hover{
            color: $dark;
        }
        .col-lg-12, .col-lg-6, .col-lg-4,
        .col-md-12, .col-md-6, .col-md-4,
        .col-sm-12, .col-sm-6, .col-sm-4,
        .col-xs-12, .col-xs-6, .col-xs-4{
            padding: 10px;
            @include breakpoint(mobilephone) {
                padding: 5px;
            }
        }

        .ipad-view {
            @include screen('ipad') {
                display: none;
            }
        }

        .compliments-card-mobile-style {
            padding-right: 0;

            @include breakpoint(tablet) {
                padding-right: 15px;
            }
        }

        .card {
            background: $default;
            height: 310px;
            padding: 15px;
            display: block;
            width: 100%;

            .title {
                font-size: 14px;
                font-weight: 600;
                color: $dark-dark;
                text-transform: uppercase;
            }

            .sub-title {
                color: $base-dark;
                font-size: 12px;
                font-style: italic;
                font-weight: 400;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            p {
                margin-bottom: 5px;
            }

            .data-value {
                text-align: center;
                color: $primary;
                font-size: 5.714rem;
                font-weight: 600;
                padding: 25px 0 0 0;

                @include breakpoint(mobilephone) {
                    padding: 40px 0 0;
                }
            }

            .data-info {
                text-align: center;
                font-weight: 600;
                font-size: 22px;
                color: $primary;
                text-transform: uppercase;
            }

            .sub-data-info {
                color: $base-dark;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                text-align: center;
            }

            .no-data {
                padding-top:80px;
                text-align: center;
                color: $base-dark;
            }

            .todo-row{
                border-bottom: 1px solid $gray;
                width: 100%;
                padding: 10px 0;
                .hcenter{
                    position: relative;
                    left: 10%;
                    display: inline-flex;
                    .value{
                        color:$primary;
                        text-align: right;
                        font-size: 32px;
                        font-weight: 600;
                        padding-right: 10px;
                        width: 92px;
                        @include breakpoint(mobilephone){
                            font-size: 18px;
                        }
                    }
                    .info{
                        font-size: 14px;
                        font-weight: 600;
                        color: $dark;
                        @include breakpoint(mobilephone){
                            font-size: 12px;
                        }
                    }
                    .sub-info{
                        font-size: 12px;
                        font-style: italic;
                        color: $base-dark;

                        @include breakpoint(mobilephone) {
                            display: none;
                        }
                    }
                }
                
            }
            .todo-row:last-child{
                border-bottom: none;
            }
            .compliment-row {
                padding: 20px 0 ;

                .circle-img {
                    border: 2px solid $muted-dark;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }

                .details {
                    padding-left: 15px;
                    width: 80%;

                    .emp-name {
                        font-size: 14px;
                        color: $primary;
                        font-weight: 600;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .create-date {
                        font-size: 12px;
                        font-weight: 400;
                        font-style: italic;
                        color: $base-dark;
                    }

                    .description {
                        font-size: 12px;
                        color: $dark;
                        font-weight: 400;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        padding-top: 2px;
                    }
                }
            }

            .compliment-row:first-child{
                border-bottom: 1px solid $gray;
            }
            
            .pie-chart-align{
                position: relative;
                margin-top: -76px;
                z-index: 10;
            }

            .pie-count {
                position: relative;
                width: 100%;
                text-align: center;
                top: 64px;
                margin: 0 auto;
                .count{
                    font-size: 40px;
                    font-weight: 600;
                    color: $dark;
                }
                .text {
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $dark;
                    position: relative;
                    top: -8px;
                }
            }
            .legend-bottom{
                margin-top: 10px;
            }
            .legend {
                font-size: 20px;
                font-weight: 400;
                padding: 0;

                p {
                    margin: 0;
                }

                .legend-1 {
                    margin-right: 15px;
                    padding: 0;

                    .value {
                        color: $teal;
                    }
                }

                .legend-2 {
                    width: 45%;
                    padding: 0;

                    .value {
                        color: $blue;
                    }
                }

                .name {
                    color: $base-dark;
                    font-size: 12px;
                    font-style: italic;
                    font-weight: 400;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}
