﻿@import '../Common/_globals';

.entryview-modal {
    padding-bottom: 20px;

    .mobile-padding-horizontal-0 {
        padding-left: 0;
        padding-right: 0;

        @include breakpoint(desktop) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .text-bold {
        font-weight: 600;
    }

    .text-bolder {
        font-weight: 700;
    }

    .click-style {
        cursor: pointer;
    }

    .header {
        margin: 0 15px 20px 15px;

        @include breakpoint(desktop) {
            margin: 0 15px 20px 30px;
        }

        .module-icon {
            font-size: 35px;
            padding: 10px 8px;
            background: $warning;
            color: $default;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .fa-close {
            color: $muted;
            font-size: 18px;
            padding: 15px 0 15px 15px;
            cursor: pointer;

            @include breakpoint(desktop) {
                padding: 15px;
            }
        }
    }

    .head {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px;
    }

    .left-border {
         border-left: 1px solid $border;
    }

    .pop-up-title {
        font-weight: 700;
        font-size: 22px;
        padding-bottom: 20px;

        @include breakpoint(notDesktop) {
            padding: 10px 0;
        }
    }

    .text-italic {
        font-style: italic;
    }

    .text-space {
        line-height: 1.6;
    }

    .date-field {
        line-height: 29px;
        font-weight: 400 !important;
    }

    .btn-style {
        font-size: 12px;
        border: 1px solid $border;
        padding: 4px 18px;
        background-color: $border;
        color: $dark;
        cursor: pointer;
    }

    .anchor-style {
        line-height: 2;
    }

    .assigned-employee-card {
        background: $warning;
        border-radius: 3px;
        padding: 10px;
        width: 85%;
        box-shadow: 1px 1px 1px $base;

        @include breakpoint(tablet) {
            width: 48%;
        }

        margin-right: 5px;
        margin-top: 10px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid $default;
        }

        .emp-details {
            padding-left: 10px;
            width: 75%;
            margin-top: 5px;

            .name {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                color: $default;
            }

            .job {
                font-style: italic;
                font-size: 11px;
                font-weight: 400;
                color: $default;
            }
        }
    }

    .left-section {
        font-size: 12px;

        @include breakpoint(desktop) {
            font-size: 14px;
        }

        .relatedTo {
            color: $muted-dark;
            display: inline-block;
            text-align: center;
            background: $gray;
            padding: 4px 4px;
            border-radius: 3px;
            margin-bottom: 4px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 700;

            @include breakpoint(desktop) {
                font-size: 10px;
                padding: 4px 8px;
            }

            &.fit {
                @media only screen and (min-width : 992px) and (max-width : 1390px) {
                    width: 65px;
                }
            }

            &.fits {
                width: 75px;
    }
        }
    }

    .right-section {
        font-size: 14px;

        .bold-text {
            font-size: 12px;
        }
    }

    .italic-bold {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
    }

    .btn-edit {
        background: $gray;
        padding: 5px 8px !important;
        color: $dark;
        font-weight: bold;
        font-size: 10px;
        box-shadow: 1px 1px 1px $base;

        @include breakpoint(tablet) {
            font-size: 12px;
            padding: 8px 20px !important;
        }
    }

    .bold-text {
        font-size: 12px;

        @include breakpoint(desktop) {
            font-size: 14px;
        }

        font-weight: bold;
        padding-bottom: 3px;
    }

    .bold-text-right {
        font-size: 12px;
        font-weight: bold;
    }

    .sub-head-text {
        color: $warning;
        font-size: 14px;
        font-weight: 600;

        @include breakpoint(desktop) {
            font-size: 14px;
        }
    }

    .link-style {
        line-height: 29px;
        font-size: 10px;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;

        @include breakpoint(tablet) {
            font-size: 12px;
        }
    }

    .tile {
        padding: 2px;
        font-size: 10px;
        text-transform: uppercase;
        background: $gray;
        color: $muted;
        font-weight: 600;
    }

    .wide {
       border-top-width: 3px;
    }

    .mobile {
        .related {
                line-height: 2;
            }

        .section-borders {
            margin-left: -15px;
            margin-right: -15px;
            border-bottom: 1px solid $border;
           
            .align {
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        .mobile-hr {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .todo {
        @include breakpoint(laptop){
            display: flex;
            .fit-height{
                height: 100%;
                .left-section{
                    height: 100%;
                }
                .btn-rerun{
                    position: absolute;
                    bottom: 0;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }
    }

    .complaint {
        .section-title {
            font-weight: 700;
        }
    }

    .compliments {
    }

    .workorders {
        .attachment-section{
            img{
                width: 100%;
                max-height: 315px;
    }
        }

        .start-date{
            font-style: italic;
            font-size: 1rem;
        }
    }

    .survey {
        .score-header {
            line-height: 35px;

            @include breakpoint(mobilephone) {
                line-height: 25px;
                font-size: 13px;
            }

            .mobile-bold-text {
                font-size: 11px;
                font-weight: bold;
                padding-bottom: 3px;
            }

            .delete-mobile {
                @include breakpoint(mobilephone) {
                    width: 100%;
                }

                @include breakpoint(tablet) {
                    padding-right: 20px;
                }

                .delete-link {
                    @include breakpoint(mobilephone) {
                        float: right;
                    }
                }
            }
        }

        .surv-score {
            border-radius: 50%;
            color: $default;
            border: 3px;
            width: 35px;
            height: 35px;
            background-color: $success;
            font-size: 14px;
            text-align: center;

            @include breakpoint(mobilephone) {
                width: 30px;
                height: 30px;
                font-size: 12px;
                line-height: 30px;
            }
        }

        .smile {
            font-size: 35px;
            padding: 0 3px 0 5px;

            @include breakpoint(mobilephone) {
                font-size: 30px;
            }
        }

        .below-control {
            background-color: $danger-dark !important;
        }

        .na-background-style {
            background-color: $border-dark !important;
        }

        .scoring-scale {
            font-size: 12px;
            text-align: center;
            width: 20%;
            float: left;
            font-weight: 600;

            i {
                font-size: 20px;
            }
        }

        .survey-content {
            font-size: 14px;
            padding: 15px 0;

            .heading {
                font-weight: 600;
            }

            .top-border {
                border-top: 1px solid $border;
            }

            .comment {
                margin: 10px 0;
                padding: 20px 15px;
                background: $border;
                border-radius: 4px;
                word-break: break-word;
            }
        }
    }


    .reportit {
    }

    .audit-popup {
        .audit-fields {
            line-height: 35px;

            @include breakpoint(mobilephone) {
                line-height: 35px;
            }
        }

        .date-field {
            @include breakpoint(mobilephone) {
                line-height: 35px;
            }
        }

        .audit-score-popup {
            border-radius: 50%;
            color: $default;
            border: 3px;
            width: 35px;
            height: 35px;
            background-color: $success;
            font-size: 14px;
            text-align: center;
            line-height: 35px;

            @include breakpoint(mobilephone) {
                width: 35px;
                height: 35px;
                font-size: 12px;
                line-height: 35px;
            }

            .average {
                font-size: 13px;
            }
        }

        .below-control {
            background-color: $danger-dark !important;
        }

        .popup-header {
            color: $muted-dark;
            font-weight: 600;
        }

        .todos-section {
            padding-left: 22px;

            .fa-tasks2{
                line-height: 20px;
                padding-right: 5px;
            }
        }

        .fa-continue {
            font-size: 10px;
            line-height: 20px;
            padding-right: 5px;
        }
        .audit-section{
            .cursor-pointer{
                cursor: pointer;
            }
            .back-icon{
                 border-radius: 50%;
                 color: $default;
                 border: 3px;
                 width: 20px;
                 height: 20px;
                 background-color: $warning;
                 font-size: 16px;
                 text-align: center;
                 line-height: 20px;
                 cursor: pointer;

                .fa-angle-double-left {
                     line-height: 20px;
                 }
            }

            .back-text {
                font-style: italic;
                font-size: 12px;
                line-height: 20px;
            }

            .scorecard-details {
                .overall-score {
                    font-size: 12px;
                    line-height: 20px;
                }

                .audits-pagination {
                    font-weight: 700;
                    font-size: 12px;
                    border-color: $gray;
                    float: right;

                    @include breakpoint(mobilephone) {
                        width: 100%;
                    }

                    .pagination-styles {
                        @include breakpoint(mobilephone) {
                            width: 33.33%;
                        }
                    }

                    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
                         
                        .pagination-styles {
                              font-size: 14px;
                          }
                        }
                }

                .audits-pagination > .active > a,
                .audits-pagination > .active > a:focus {
                    background-color: $success !important;
                    color: $default;
                }

                .audits-pagination > li > a:hover {
                    background-color: $muted-dark;
                }

                .audits-pagination > li > a {
                    background-color: $gray;
                    color: $dark;
                    border-color: $gray;
                }

                .detail {
                    border: 1px solid $gray;
                    background-color: $gray;
                    border-radius: 4px;
                    padding: 20px 15px;

                    .inspection-name {
                        width: 80%;

                        @include breakpoint(mobilephone) {
                            width: 75%;
                        }

                        @include breakpoint(mobileonly) {
                            width: 68%;
                        }
                    }

                    .score {
                        font-size: 12px;
                    }

                    .fa-close {
                        position: absolute;
                        font-size: 35px;
                        z-index: 1000;
                        display: none;
                        cursor: -webkit-grab;

                        @include breakpoint(mobilephone) {
                        }

                        @include breakpoint(tablet) {
                        }

                        @include breakpoint(desktop) {
                        }
                    }
                        .image-info{
                            .info{
                                border: #c0c0c0 1px dotted;
                                padding: 5px 20px 5px 5px;
                                z-index: 1000;
                                left: 0px;
                                display: none;
                                margin: 10px;
                                width: 250px;
                                position: fixed;
                                top: 0;
                                color: red;
                                text-decoration: none
                            }
                        }
                    .detail-images {
                        .main-image {
                            width: 100%;
                            max-height: 315px;
                        }
                        
                        .small-image {
                            width: 25%;
                            height: 40px;
                            padding-right: 5px;
                            cursor: pointer;

                            .sub-image {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .small-image:nth-child(5) {
                            padding-right: 0;
                        }

                        .small-image:nth-child(4n) {
                            padding-right: 0;
                        }

                        .small-image:nth-child(4) {
                            padding-right: 5px;
                        }

                       
                    }
                }

                .todo-list {
                    .uol {
                        padding-left: 18px;

                        .stats {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
