﻿@import "../Common/_globals.scss";


@media screen and (max-width: 976px) {
    .no-gutter {
        padding:0;

    }
}
@media screen and (max-width: 976px) {
    .no-overflow {
        overflow:hidden;
    }
}
@media screen and (max-width: 480px) {
  .details-mobile {
    width: 170px;
  }

  .details-mobile-padding {
    padding-left: 5px;
    padding-right: 10px;
  }

  .emp-row .details-mobile-margin {
    margin-left: 10px;
  }

  .emp-row .details-mobile-circle-img{
		    width: 65px;
		    height: 65px;
    }
}


body.modal-open {
    width : 100%;
}

.audit-score{
	background:$primary;
	color: $default;
	width: 45px;
	height: 55px;
	line-height: 55px;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	
	@include screen('tablet') {
		width: 52px;
		height: 52px;
		line-height: 52px;
		font-size: 18px;
		
	}
}
.emp-row{
	.row-details{
	
		.audit-type{
			color: $warning;
			font-weight: 600;
			span{
				color: $base-dark;
			}
		}	
	}
	.jd-status{
		p.date{
			color: $warning;
			font-size: 10px;
			font-weight: 600;
			@include screen('tablet') {
				font-size: 14px;
			}
		}

	}
}

.switch-btns{
	margin: 10px 0 12px;
	@include screen('tablet') {
		margin: 10px 0;
	}

	.btn-default{
		background:$default;
		border: 1px solid $primary;
		color: $primary;
		font-weight: 600;
		font-size: 10px;
		padding: 10px 15px;
		&.active{
			background:$primary;
			color: $default;
		}
	}
}
.filter-btn{
	background:$primary;
	padding: 8px 12px;
	margin-top: 10px;

}
