﻿@import '../Common/_globals.scss';


//Overide for new full white header
#title-header-panel{
    background-color:$default;
    border-bottom:0;
    @include breakpoint(desktop){
       padding-left : 10px;
    }
    
    .title-box-panel-wrapper{
        padding: 0;
    }
    .page-title{
        color: #00afd1;
        padding-left: 15px !important;
        @include breakpoint(tablet){
            padding-left: 30px !important;
        }
         @include breakpoint(desktop){
            padding-left: 20px !important;
        }
    }
    .fa-quality{
        display : none;
    }
    .padding-t15-r5{
        padding : 15px 30px 0 0;
    }
}

.table-head{
    background-color: #00afd1;
    
}

.head-text{
    font-size: 12px !important;
    padding-left: 0 !important;
    @include breakpoint (tablet){
        padding-left: 15px !important;
    }
    @include breakpoint (desktop){
        padding-left: 0 !important;
    }

}

.area-name{
    color: #00afd1 !important;
}

.itemrow:nth-child(even){
    background-color: #f9f9f9;
}

.emp-audits-avg{
    .table-head{
        color: $default;
        font-size: 12px;
        text-transform: uppercase;
        font-weight:600;
        padding: 10px 25px;
         @media only screen and (min-width: 768px){
             padding: 15px 50px 15px 35px;
        }
    }

    .emp-row{
         .drafts-row-details{
             margin-left: 0 !important;
         }
	    padding: 20px 30px 20px 20px;
         @media only screen and (min-width: 768px){
            padding:20px 35px 20px 30px;
        }
        .a-audit-score{
            background-color: $success;
            color: $default;
            text-align: center;
            border-radius: 50%;
            font-weight: 600;
            margin-top: 20px;
            height: 35px;
            width: 35px;
            line-height: 35px;
            @include breakpoint(tablet){
                height: 50px;
                width: 50px;
                line-height: 50px;
            }

	}
	.circle-img{
		width: 65px;
		height: 65px;
	}
	.row-details{
        
            @include breakpoint(mobilephone){
                margin-left: 10px;
                width: 145px;
            }
            @include breakpoint(mobileonly){
                width: 126px;
            }
		    margin-left: 10px;
            line-height: 24px;
		.emp-name{
			    color: $primary;
			    font-size: 12px;			    			    
			    font-weight: 600;
			@include screen('tablet') {
				font-size: 16px;
			}
		}
		.emp-title{
            font-size:12px;
            @include screen('tablet') {
			    font-size: 14px;
                color: $warning;
                font-weight: 600;
            }
		}
        .audit-type {
              font-size:12px;
            @include screen('tablet') {
			    font-size: 14px;
                color: $warning;
                font-weight: 600;
            }
        }
        .sm{
            font-size: 12px;
            font-weight: 600;
            color: $dark-dark;
            text-decoration:underline;
            font-style: normal;
            cursor: pointer;
             @include screen('tablet') {
			    font-size: 14px;
            }
		}
		.emp-program{
			    color: #999c9e;
                padding: 0 5px;
			display: inline-block;
			    border: 1px solid #999c9e;			    
			border-radius: 3px;
			margin-left: 0;
			margin-bottom: 4px;
			font-size: 12px;
                font-weight: 500;
		}
            .unfinalize-click{
                font-size: 14px;
                color: $dark;
                text-decoration: underline;
                font-weight: 600;
	}

	    }
        .au-date{
                font-size: 14px;
                font-weight: 600;
                color: $warning;
            }
	.jd-status{
		position: relative;
		    @include breakpoint(tablet) {
			    padding-right: 10px;
		}
		 p.date {
            font-size: 14px;
            font-weight: 600;
            color: $warning;
        }
		i{
			font-size: 18px;
			color: $base-dark;
		}
		i[class^='fa-check']{
			color: $success;
			font-size: 26px;
			display: block;
			padding-top: 20px;
			padding-right: 10px;

		}
		
		.fa-angle-right{
			position: absolute;
			font-size: 22px;
			right: 0;
			top:27px;
		}

	}
}
    
    /*.emp-row .row-details .audit-type {
             font-size: 14px;
            font-weight: 600;
            color: $warning;
        }
    .emp-row .jd-status p.date {
            font-size: 14px;
            font-weight: 600;
            color: $warning;
        }
    .emp-row .row-details .sm {
            font-size: 14px;
            font-weight: 600;
            color: $dark-dark;
            text-decoration:underline;
            font-style: normal;
            cursor: pointer;
        }*/
    .no-padding{
        padding:0;
    }
   
     .emp-row:nth-child(odd){
         background: #f5f5f5;
     }
}