@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
/* TODO Quality - ToDo - clicking button causes white flash. possible casue = old styles applied to body tag */
.block-ui {
  height: 100% !important;
}

.to-do-listview {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.to-do-listview utility-header {
  padding: 0 15px 0 30px;
}
.to-do-listview .align-btns-open {
  position: relative;
  margin-top: -55px;
  right: 10px;
}
.to-do-listview .align-btns-closed {
  position: relative;
  top: -84px;
  right: -3px;
}
.to-do-listview .add-btn-mobile {
  background-color: #9FC62D;
  border: none;
  margin-left: 5px;
  padding: 8px 12px 6px 12px;
}
.to-do-listview .add-btn-mobile .fa-plus {
  padding: 5px 2px 0 2px;
}
.to-do-listview .add-btn-mobile .fa-envelope {
  padding-top: 5px;
}
.to-do-listview .todo-add-btn {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 12px 48px !important;
}
.to-do-listview .main-body-padding {
  padding: 0 !important;
}
.to-do-listview .todo-panel {
  margin-bottom: 0;
  border-radius: 0 !important;
  border: none !important;
}
.to-do-listview .todo-errormsg {
  font-size: 20px;
  text-align: center;
}
.to-do-listview .todo-table-heading {
  background-color: #00AFD1;
  color: #fff;
  font-size: 12px !important;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading {
    font-size: 10px !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.to-do-listview .todo-table-heading .to-dos {
  padding-left: 5px;
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .to-dos {
    padding-left: 0;
  }
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .head-title-todo {
    padding-left: 15px;
  }
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .head-title-rest {
    padding: 0 !important;
  }
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .head-title-rest .head-due-date {
    padding: 0 10px 0 0;
  }
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .head-title-rest .head-action {
    padding: 0 15px 0 0;
  }
}
.to-do-listview .todo-table-heading .head-title-rest-single {
  padding-right: 15px !important;
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .head-title-rest-single {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .head-title-rest-single .head-due-date-single {
    padding: 0 25px 0 0 !important;
  }
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-heading .head-title-rest-single .head-action-single {
    padding: 0 15px  0 0 !important;
  }
}
.to-do-listview .itemrow:nth-child(even) {
  background-color: #f5f5f5;
  display: block;
}
.to-do-listview .entire-row {
  display: flex !important;
}
.to-do-listview .row-details {
  line-height: 24px;
}
.to-do-listview .emp-name {
  font-size: 16px !important;
  color: #00AFD1 !important;
  font-weight: 600 !important;
}
.to-do-listview .todo-date-style-isComplete {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #F99D00;
}
@media (max-width: 479px) {
  .to-do-listview .todo-date-style-isComplete {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .to-do-listview .todo-date-style-isComplete {
    font-size: 12px !important;
  }
}
.to-do-listview .todo-date-style {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #F99D00;
  padding-right: 5px;
}
@media (max-width: 479px) {
  .to-do-listview .todo-date-style {
    padding: 0;
  }
}
.to-do-listview .danger {
  color: #E93D42;
}
.to-do-listview .todo-date-style-single {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding-right: 5px;
  color: #F99D00;
}
@media (max-width: 320px) {
  .to-do-listview .todo-date-style-single {
    font-size: 12px !important;
  }
}
@media (max-width: 479px) {
  .to-do-listview .todo-date-style-single {
    padding: 0 10px 0 0 !important;
  }
}
.to-do-listview .description {
  font-size: 14px;
  color: #403841;
  font-weight: 500;
}
.to-do-listview .build-flo {
  font-size: 12px;
  font-weight: 500;
  color: #999c9e;
  font-style: italic;
}
.to-do-listview .action-style {
  margin: auto;
}
@media (max-width: 479px) {
  .to-do-listview .action-style {
    padding: 0;
  }
}
.to-do-listview .action-style-single {
  margin: auto;
  padding-right: 15px !important;
}
@media (max-width: 479px) {
  .to-do-listview .action-style-single {
    padding: 0 10px 0 0 !important;
  }
}
.to-do-listview .todo-close-ahref {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #403841;
  padding-right: 15px;
}
@media (max-width: 479px) {
  .to-do-listview .todo-close-ahref {
    padding: 0 0 0 0;
  }
}
.to-do-listview .todo-sub-heading {
  font-size: 14px;
  padding-left: 30px;
}
@media (max-width: 479px) {
  .to-do-listview .todo-sub-heading {
    padding-left: 15px !important;
    font-size: 12px;
  }
}
.to-do-listview .todo-add-button {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 50px 10px 50px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
@media (max-width: 479px) {
  .to-do-listview .todo-add-button {
    display: none !important;
  }
}
.to-do-listview .todo-add-button-header {
  margin-right: 0 !important;
  margin-top: 0 !important;
}
@media (max-width: 479px) {
  .to-do-listview .todo-add-button-header {
    padding: 10px 12px 10px 12px !important;
  }
}
@media (min-width: 479px) {
  .to-do-listview .todo-add-button-header {
    display: none !important;
  }
}
.to-do-listview .todo-table-data {
  padding: 20px 0 20px 20px;
}
@media (max-width: 479px) {
  .to-do-listview .todo-table-data {
    padding: 15px 0 15px 15px;
  }
}
.to-do-listview .todo-head-desc {
  padding-left: 20px !important;
}
.to-do-listview .todo-panel-header-txt {
  margin: 0;
  border-bottom: 0;
  padding: 10px 0;
}
@media (min-width: 1167px) {
  .to-do-listview .todo-panel-header-txt {
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .to-do-listview .todo-panel-header-txt {
    padding: 10px 15px 0 0;
    border-bottom: 1px solid #cccccc;
  }
}
.to-do-listview .todo-panel-header-txt .back-index {
  padding: 3px 10px;
  margin-left: 15px;
  margin-top: 2px;
}
@media (min-width: 768px) {
  .to-do-listview .todo-panel-header-txt .back-index {
    margin-top: 25px;
  }
}
.to-do-listview .todo-panel-header-txt .filter-export-btn-align {
  margin-top: 10px;
}
.to-do-listview .todo-panel-header-txt .filter-icon-align {
  padding-right: 10px;
}
@media (min-width: 768px) {
  .to-do-listview .todo-panel-header-txt .filter-icon-align {
    padding-right: 0;
  }
}
.to-do-listview .padding-right-15 {
  padding-right: 0;
}
@media (min-width: 768px) {
  .to-do-listview .padding-right-15 {
    padding-right: 15px;
  }
}
.to-do-listview .todo-tabs {
  padding: 10px 0 0;
}
@media (min-width: 768px) {
  .to-do-listview .todo-tabs {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.to-do-listview .todo-tabs .active {
  color: #00AFD1;
  border-bottom: 4px solid #00AFD1;
}
.to-do-listview .todo-tabs .clickable {
  cursor: pointer;
}
.to-do-listview .todo-tabs .count {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
.to-do-listview .todo-tabs .count .past-due {
  padding-left: 25px;
}
.to-do-listview .todo-tabs .title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  white-space: nowrap;
}

.todo-form .comment {
  min-height: 100px;
  margin-bottom: 20px;
}
.todo-form .footer {
  margin-top: 20px;
}

.to-do-detail {
  background-color: #ffffff;
}
.to-do-detail .todo-by {
  padding: 20px 30px 0 15px;
}
@media (min-width: 768px) {
  .to-do-detail .todo-by {
    padding: 20px 30px 0 20px;
  }
}
.to-do-detail .todo-by .todo-details-label {
  font-size: 34px;
  font-weight: 300;
  color: #00AFD1;
}
.to-do-detail .todo-by .todo-by-name {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
}
.to-do-detail .head {
  padding: 10px 30px 10px 20px;
  background-color: #00afd1;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .to-do-detail .head {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.to-do-detail .left-side-block {
  height: auto;
}
.to-do-detail .left-side-block .date-time-info {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  padding-left: 5px;
}
@media (max-width: 479px) {
  .to-do-detail .left-side-block .date-time-info {
    padding-left: 15px;
  }
}
.to-do-detail .left-side-block .date-time-info .left-side {
  font-style: italic;
  font-weight: 400;
  color: #403841;
  font-size: 14px;
  border-right: 1px solid #ddd;
  padding-right: 0;
}
@media (max-width: 479px) {
  .to-do-detail .left-side-block .date-time-info .left-side {
    padding-left: 0;
  }
}
@media (max-width: 479px) {
  .to-do-detail .left-side-block .date-time-info .left-side .create-date {
    padding-top: 5px;
  }
}
@media (max-width: 479px) {
  .to-do-detail .left-side-block .date-time-info .left-side .due-date-mob {
    padding-top: 5px;
  }
}
.to-do-detail .left-side-block .date-time-info .right-side {
  font-size: small;
  padding-left: 20px;
}
@media (max-width: 479px) {
  .to-do-detail .left-side-block .date-time-info .right-side {
    padding-left: 0;
  }
}
.to-do-detail .left-side-block .date-time-info .right-side .location {
  font-weight: 700;
  font-size: 14px;
  color: #403841;
}
.to-do-detail .left-side-block .date-time-info .right-side .building-floor {
  font-style: italic;
  font-weight: 400;
  color: #403841;
  font-size: 14px;
}
@media (max-width: 479px) {
  .to-do-detail .left-side-block .date-time-info .right-side {
    padding-top: 5px;
  }
}
.to-do-detail .left-side-block .description {
  padding: 20px 10px 20px 20px;
  font-size: medium;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}
@media (max-width: 479px) {
  .to-do-detail .left-side-block .description {
    padding-left: 15px;
  }
}
.to-do-detail .left-side-block .description .title {
  color: #F99D00;
  font-weight: 600;
  font-size: 16px;
}
.to-do-detail .left-side-block .description .info {
  font-size: 16px;
  padding-top: 5px;
  font-weight: 300;
  line-height: 28px;
  color: #403841;
}
.to-do-detail .right-side-block {
  background: #f7f8f9;
  padding: 30px 20px 20px 30px;
}
@media (min-width: 1167px) {
  .to-do-detail .right-side-block {
    min-height: 700px;
  }
}
@media (max-width: 479px) {
  .to-do-detail .right-side-block {
    padding-left: 15px;
    padding-top: 20px;
  }
}
.to-do-detail .right-side-block .horizontal-line {
  border-top: 1px solid #cccccc;
  margin-top: 0;
  margin-bottom: 0;
}
.to-do-detail .right-side-block .title {
  font-size: 22px;
  color: #999c9e;
  padding-bottom: 15px;
  font-weight: 300;
}
.to-do-detail .right-side-block .supervisor-info {
  padding-top: 15px;
}
.to-do-detail .right-side-block .supervisor-info .circle-img {
  width: 60px;
  height: 60px;
  padding-left: 0;
  padding-right: 0;
}
.to-do-detail .right-side-block .supervisor-info .circle-img img {
  width: 100%;
  height: 100%;
}
.to-do-detail .right-side-block .supervisor-info .supervisor-name {
  padding-top: 10px;
  font-weight: 600;
  font-size: 16px !important;
  color: #00AFD1;
}
@media (max-width: 479px) {
  .to-do-detail .right-side-block .supervisor-info .supervisor-name {
    font-size: 14px;
    padding-top: 10px;
    padding-right: 0;
  }
}
.to-do-detail .right-side-block .supervisor-info .supervisor-title {
  font-size: smaller;
  color: #8c8f92;
  font-weight: 300;
  font-style: italic;
}
@media (max-width: 479px) {
  .to-do-detail .right-side-block .supervisor-info .supervisor-title {
    font-size: x-small;
    padding-top: 0;
  }
}
.to-do-detail .remove-lr-padding {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 479px) {
  .to-do-detail .hide-phone {
    display: none;
  }
}
@media (min-width: 768px) {
  .to-do-detail .hide-desktop {
    display: none;
  }
}
@media (min-width: 479px) {
  .to-do-detail .hide-desktop {
    display: none;
  }
}
.to-do-detail .todo-close {
  padding-top: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .to-do-detail .todo-close {
    text-align: right;
    padding-right: 30px;
  }
}
.to-do-detail .todo-close .btn-todo-close {
  background-color: #403841;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}
.to-do-detail .footer {
  margin: 20px;
}

.todo-popup .modal-header {
  font-size: 12px;
  background: #00afd1 !important;
  margin: 0 !important;
  border-bottom: 0;
  padding-left: 15px !important;
}
.todo-popup .modal-body {
  padding: 0;
}
.todo-popup .modal-body .title {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ccc;
  padding-left: 15px;
}
.todo-popup .modal-body .title .circle-img {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: none;
  margin: 0 !important;
}
.todo-popup .modal-body .title .circle-img .fa {
  padding-top: 10px;
  margin-left: -2px;
  font-size: 18px;
  color: #00afd1;
}
.todo-popup .modal-body .title .title-header {
  padding-left: 15px;
  color: #00afd1;
  font-size: 16px;
  font-weight: normal;
}
.todo-popup .modal-body .title .title-header .title-subheader {
  font-style: italic;
  color: #2f2930;
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .todo-popup .modal-body .title .title-header .title-subheader {
    font-size: 10px;
  }
}
.todo-popup .modal-body .css-form .box-padding {
  margin: 0 !important;
  padding: 15px 15px 25px 15px !important;
  overflow: visible;
}
.todo-popup .modal-body .css-form label {
  color: #F99D00;
}
@media (max-width: 479px) {
  .todo-popup .modal-body .css-form label {
    font-size: 12px;
  }
}
.todo-popup .modal-body .css-form .required {
  color: #F99D00;
}
.todo-popup .modal-body .css-form .padding-top-15 {
  padding-top: 15px;
}
.todo-popup .modal-body .css-form .padding-top-5 {
  padding-top: 5px;
}
.todo-popup .modal-body .css-form .padding-bottom-5 {
  padding-bottom: 5px;
}
.todo-popup .modal-body .css-form .option-style {
  color: #eee;
}
.todo-popup .modal-footer .btn-cxl {
  color: #ffffff;
  background-color: #978d8d;
  font-size: 10px;
  border-radius: 2px;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  border-color: #837d7d !important;
}
.todo-popup .modal-footer .btn-cxl:hover {
  background-color: #837d7d;
}
@media (max-width: 320px) {
  .todo-popup .modal-footer .btn-cxl {
    padding: 10px 20px;
  }
}
.todo-popup .modal-footer .btn-save {
  color: #ffffff;
  background-color: #2f2930;
  font-size: 10px;
  border-radius: 2px;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
}
.todo-popup .modal-footer .btn-save:hover {
  background-color: #000000;
}
@media (max-width: 320px) {
  .todo-popup .modal-footer .btn-save {
    padding: 10px 20px;
  }
}
.todo-popup .modal-footer label input[type=checkbox] {
  margin: 0;
}

.to-do-index .danger {
  color: #E93D42;
}
.to-do-index .page-data-align {
  overflow: hidden;
}
@media (min-width: 1167px) {
  .to-do-index .desktop-align {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.to-do-index .pie-chart-align {
  padding-top: 10px;
}
@media (min-width: 1167px) {
  .to-do-index .pie-chart-align {
    padding-top: 30px !important;
  }
}
@media (min-width: 768px) {
  .to-do-index .pie-chart-align {
    padding-top: 20px;
  }
}
.to-do-index .score-panel .score-tab .score-value {
  width: 24%;
}
@media (min-width: 768px) {
  .to-do-index .score-panel .score-tab .score-value {
    width: auto;
  }
}
.to-do-index .header {
  font-size: 22px;
  font-weight: 300;
}
.to-do-index .score-tab {
  height: auto;
}
@media only screen and (min-width: 992px) and (max-width: 1026px) {
  .to-do-index .score-tab {
    height: 65px;
  }
}
.to-do-index .employee-styling {
  padding: 15px !important;
}
.to-do-index .employee-styling .image .circle-img {
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .to-do-index .employee-styling .image .circle-img {
    width: 50px;
    height: 50px;
  }
}
.to-do-index .employee-styling .image .circle-img img {
  width: 100%;
  height: 100%;
}
.to-do-index .employee-styling .details {
  margin-left: 10px;
  width: 74%;
}
@media (min-width: 1167px) {
  .to-do-index .employee-styling .details {
    width: 76% !important;
  }
}
@media (min-width: 768px) {
  .to-do-index .employee-styling .details {
    width: 82%;
  }
}
@media (max-width: 479px) {
  .to-do-index .employee-styling .details {
    width: 69%;
  }
}
.to-do-index .employee-styling .details .name {
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .to-do-index .employee-styling .details .name {
    font-size: 16px;
  }
}
.to-do-index .align-td {
  padding: 15px !important;
}
.to-do-index .recent-mobile {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
@media (min-width: 768px) {
  .to-do-index .recent-mobile {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
.to-do-index .recent-desktop {
  padding-left: 5px;
  padding-right: 0;
}
.to-do-index .mob-align {
  padding-left: 15px;
  padding-right: 15px;
}
.to-do-index .align-btns-open {
  position: relative;
  margin-top: -55px;
  right: 10px;
}
.to-do-index .add-btn-mobile {
  background-color: #9FC62D;
  border: none;
  margin-left: 5px;
  padding: 8px 12px 6px 12px;
}
.to-do-index .add-btn-mobile .fa-plus {
  padding: 5px 2px 0 2px;
}
.to-do-index .add-btn-mobile .fa-envelope {
  padding-top: 5px;
}

.to-do-common .emp-info .todo-circle-img {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #9e9e9e;
}
.to-do-common .emp-info .todo-circle-img img {
  height: 100%;
  width: 100%;
}
.to-do-common .details {
  margin-left: 10px;
  width: 75%;
}
.to-do-common .inactive-employee {
  color: #9e9e9e;
  background-color: #e8e8e8;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 0 5px;
  font-size: 14px;
  display: inline-block;
}
.to-do-common .todo-cards {
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .to-do-common .todo-cards {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=todo.css.map */
