﻿@import '../Common/_globals';

/* TODO Quality - ToDo - clicking button causes white flash. possible casue = old styles applied to body tag */
.block-ui{
    height: 100% !important;
}

.to-do-listview{
    padding-left: 0!important;
    padding-right: 0 !important;
    
    utility-header{
        padding: 0 15px 0 30px;
    }
    .align-btns-open{
        position: relative;
            margin-top: -55px;
            right: 10px;
    }
    .align-btns-closed{
        position: relative;
        top: -84px;
        right: -3px;
    }
    .add-btn-mobile{
            background-color: $success;
            border: none;
            margin-left :5px;
            padding: 8px 12px 6px 12px;
            .fa-plus{
                padding: 5px 2px 0 2px;
            }
            .fa-envelope{
                padding-top:5px;
            }
        }
    .todo-add-btn {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-right: 15px;
        padding: 12px 48px !important;
    }
    .main-body-padding {
        padding: 0 !important; 
    }
    .todo-panel {
      margin-bottom: 0;
      border-radius: 0 !important;
      border: none !important; 
    }
    .todo-errormsg {
        font-size: 20px;
        text-align: center;
    }
    .todo-table-heading {
      background-color: $primary;
      color: #fff;
      font-size: 12px !important;
      padding-top: 16px;
      padding-bottom: 16px;
      font-weight: 600;
      text-transform: uppercase;
      @include breakpoint(mobilephone){
          font-size: 10px !important;
          padding-top: 12px;
          padding-bottom: 12px;
      }
    .to-dos{
      padding-left: 5px;
      @include breakpoint(mobilephone){
          padding-left: 0;
      }
  }
  .head-title-todo{
      @include breakpoint(mobilephone){
                     padding-left: 15px;
                }
      }
      .head-title-rest{
          @include breakpoint(mobilephone){
                     padding: 0!important;
                }
      .head-due-date{
          @include breakpoint(mobilephone){
                     padding: 0 10px 0 0;
                }
      }
      .head-action{
          @include breakpoint(mobilephone){
                     padding: 0 15px 0 0;
                }
      }
      }
      .head-title-rest-single{
          padding-right: 15px !important;
          @include breakpoint(mobilephone){
              padding-right: 0 !important;
              padding-left: 0 !important;
          }
          .head-due-date-single{
          @include breakpoint(mobilephone){
                     padding: 0 25px 0 0!important;
                }
      }
      .head-action-single{
          @include breakpoint(mobilephone){
                     padding: 0 15px  0 0 !important;
                }
      }
      }
    
  
}
    .itemrow:nth-child(even) {
      background-color: #f5f5f5;
      display: block; 
    }
    .entire-row{
        display: flex !important;
    }
    .row-details{
        line-height: 24px;
    }
    .emp-name {
      font-size: 16px !important;
      color: $primary !important;
      font-weight: 600 !important; 
    }
    .todo-date-style-isComplete{
        font-size: 14px !important;
      font-weight: 600 !important;  
      color: $warning;      
       @include breakpoint(mobilephone){
                     padding: 0;
                }
       @include breakpoint (mobileonly){
           font-size: 12px !important;
       }
    }
    .todo-date-style {
      font-size: 14px !important;
      font-weight: 600 !important;  
      color: $warning;
      padding-right: 5px;
       @include breakpoint(mobilephone){
                     padding: 0;
                }
       
    }
    .danger{
        color: $danger;
    }
    .todo-date-style-single {
      font-size: 14px !important;
      font-weight: 600 !important; 
      padding-right: 5px; 
      color: $warning;
      @include breakpoint (mobileonly){
           font-size: 12px !important;
       }
       @include breakpoint(mobilephone){
                         padding: 0 10px 0 0 !important;                     
                    }
    }
    .description {
      font-size: 14px;
      color: $dark;
      font-weight: 500;

    }
    .build-flo{
        font-size: 12px;
        font-weight: 500;
        color: #999c9e;
         font-style: italic;
    }
    .action-style{
    margin: auto;
    @include breakpoint(mobilephone){
                     padding: 0;
                }
    }
    .action-style-single{
        margin: auto;
        padding-right: 15px !important;
        @include breakpoint(mobilephone){
                         padding: 0 10px 0 0 !important;
                    }
    }
    .todo-close-ahref{
       font-size: 14px !important;
      font-weight: 600 !important; 
      color: $dark;
       padding-right: 15px;
       @include breakpoint(mobilephone){
                     padding: 0 0 0 0;
                }
    }
    .todo-sub-heading {
        font-size: 14px;
        padding-left: 30px; 
        @include breakpoint(mobilephone){
                     padding-left: 15px !important;
                     font-size: 12px;
                }
        }
    .todo-add-button {
      margin-right: 30px;
      margin-top: 10px; 
       display: inline-block;
        padding: 10px 50px 10px 50px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle; 
      @include breakpoint(mobilephone){
          display: none !important;
      
      }
    }
    .todo-add-button-header{
        margin-right: 0 !important;
        margin-top: 0 !important;
      @include breakpoint(mobilephone){
          padding: 10px 12px 10px 12px !important;      
      }  
      @media (min-width: 479px){
          display: none !important;
      }
    }
    .todo-table-data{
        padding: 20px 0 20px 20px;
        @include breakpoint(mobilephone){
                         padding: 15px 0 15px 15px;
                    }
     }
   
    .todo-head-desc{
        padding-left: 20px !important;
    }

    .todo-panel-header-txt{
        margin: 0;
        border-bottom: 0;
        padding: 10px 0;

        @include breakpoint(desktop){
            padding-right: 15px;
        }
        @include breakpoint(tablet){
            padding:10px 15px 0 0;
            border-bottom: 1px solid $base;
        }
        .back-index{
            padding: 3px 10px;
            margin-left: 15px;
            margin-top: 2px;
            @include breakpoint(tablet){
                margin-top: 25px;
            }
        }
        .filter-export-btn-align{
            margin-top: 10px;
        }

        .filter-icon-align{
            padding-right: 10px;
            @include breakpoint(tablet){
                padding-right: 0;
            }
        }
    }

    .padding-right-15{
        padding-right: 0;
        @include breakpoint(tablet){
            padding-right: 15px;
        }
    }

    .todo-tabs{
        padding: 10px 0 0;
        @include breakpoint(tablet){
            padding-bottom: 0;
            padding-top: 0;
        }
        .active{
            color: $primary;
            border-bottom: 4px solid $primary;
        }
        .clickable{
            cursor: pointer;
        }
        .count{
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 10px;

            .past-due {
                padding-left: 25px;
            }

        }
        .title{
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 10px;
            white-space: nowrap;
        }
    }


}

.todo-form {

    .comment {
        min-height: 100px;
        margin-bottom: 20px;
    }

    .footer {
        margin-top: 20px;
    }
}
 
.to-do-detail{
    background-color: $default;
    .todo-by{
        padding: 20px 30px 0 15px;
        @include breakpoint(tablet){
            padding: 20px 30px 0 20px;
        }
        .todo-details-label{
            font-size: 34px;
            font-weight: 300;
            color: $primary;
        }
        .todo-by-name{
            font-size: 16px;
            font-weight: 600;
            color: $primary;
        }
    }
    .head{
        padding: 10px 30px 10px 20px;
        background-color: #00afd1;
        color: $default;
        font-size: 12px;
        font-weight: 600;
        @include breakpoint(mobilephone){
                     padding-left: 15px;
                     padding-right: 15px;
                }
    }
    .left-side-block{
        height: auto;
    .date-time-info{
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $default;
        border-bottom: 1px solid #eee;
        padding-left: 5px;        
        @include breakpoint(mobilephone){
            padding-left: 15px;
        }
        .left-side{      
            font-style: italic;
            font-weight: 400;
            color: $dark;
            font-size: 14px;      
            border-right: 1px solid #ddd;
            padding-right: 0;
            
            @include breakpoint(mobilephone){
                     padding-left: 0;
                }
             .create-date{
                @include breakpoint(mobilephone){
                     padding-top: 5px;
                }
            }
            .due-date-mob{
                @include breakpoint(mobilephone){
                     padding-top: 5px;
                }
            }
        }
        .right-side{
            font-size: small;  
            padding-left: 20px;          
            @include breakpoint(mobilephone){
                     padding-left: 0;
                }
            .location{
                font-weight: 700;
                font-size: 14px;
                color: $dark;
            }
            .building-floor{
                font-style: italic;
                font-weight: 400;
                color: $dark;
                font-size: 14px;
            }
            @include breakpoint(mobilephone){
                     padding-top: 5px;
                }
            
        }
    }
    .description{
        padding: 20px 10px 20px 20px;
        font-size: medium;
        background-color: $default;
        border-bottom: 1px solid #eee;
        @include breakpoint(mobilephone){
                     padding-left: 15px;
                }
        .title{
            color: $warning;
            font-weight: 600;
            font-size: 16px;
        }
        .info{
            font-size: 16px;
            padding-top: 5px;
            font-weight: 300;
            line-height: 28px;
            color: $dark;
        }
    }
    }
    .right-side-block{
        background: #f7f8f9; 
        padding: 30px 20px 20px 30px;
        @include breakpoint(desktop){
                     min-height: 700px;
                }
        @include breakpoint(mobilephone){
                     padding-left: 15px;
                     padding-top:20px; 
                }
        .horizontal-line{            
            border-top: 1px solid $base;
            margin-top: 0;
            margin-bottom: 0;
        }
        .title{
            font-size: 22px;
            color:#999c9e;
            padding-bottom: 15px;
            font-weight: 300;
        }   

        .supervisor-info {
             padding-top: 15px;
            .circle-img {
                width: 60px;
                height: 60px;
                padding-left: 0;
                padding-right: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }        
      
          .supervisor-name {
            padding-top: 10px;
            font-weight: 600;
            font-size: 16px !important;
            color: $primary;
             @include breakpoint(mobilephone){
                       font-size: 14px;
                        padding-top: 10px;
                        padding-right: 0;
                }
          }
          .supervisor-title {            
            font-size: smaller;            
            color:$muted-dark;
            font-weight: 300;
            font-style: italic;
            @include breakpoint(mobilephone){
                       font-size: x-small;
                     padding-top: 0;
                }
          }
        }   
    }
.remove-lr-padding{
    padding-left: 0;
    padding-right: 0;
}
    .hide-phone{
            @include breakpoint (mobilephone){
                            display: none;
                }
}
    .hide-desktop{
            @include breakpoint (tablet){
                display: none;
  }
            @media (min-width: 479px){
             display: none;
}
  }  

    .todo-close{
        padding-top: 10px;
        text-align: center;
        @include breakpoint(tablet){
            text-align: right;
            padding-right: 30px;
        }
        
        
    .btn-todo-close{
        background-color: $dark;
        border-radius: 4px;
        font-size: 14px;
        color: $default;
        font-weight: 700;
    }

    }

    
    .footer{
        margin: 20px;
    }
  }

.todo-popup{
    .modal-header{
        font-size: 12px;
        background: #00afd1 !important;        
        margin: 0 !important;
        border-bottom: 0;
        padding-left: 15px !important;
    }
    .modal-body{
        padding: 0;        
        .title{
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: solid 1px #ccc;
            padding-left: 15px;
            .circle-img{
                width: 40px;
                height: 40px;
                background-color: #eee;
                border: none; 
                margin: 0 !important;                
                .fa{
                    padding-top: 10px;
                    margin-left: -2px;
                    font-size: 18px;
                    color: #00afd1;
                }              
            }
            .title-header{
                padding-left: 15px;
                color: #00afd1;
                font-size: 16px;
                font-weight: normal;
                .title-subheader{
                    font-style: italic;
                    color: $dark-dark;
                    font-size: 12px;
                    font-weight: 600;
                    @include breakpoint(mobilephone){
                        font-size: 10px;
                    }
                }
            }
        }

        .css-form{
            .box-padding{
                margin: 0 !important;
                padding: 15px 15px 25px 15px !important;
                overflow: visible;
            }
            label{
                color: $warning;
                @include breakpoint(mobilephone){
                    font-size: 12px;
                }
            }
            .required{
                color: $warning;
            }
            .padding-top-15{
                padding-top: 15px;
            }
             .padding-top-5{
                padding-top: 5px;
            }
             .padding-bottom-5{
                padding-bottom: 5px;
            }
             .option-style{
                 color: #eee;
             }
        }
    }
    .modal-footer{
        .btn-cxl{
            color: $default;
            background-color: #978d8d;
            font-size: 10px;
            border-radius: 2px;
            padding: 10px 30px 10px 30px;   
            font-weight: bold;  
            border-color: #837d7d !important;
            &:hover{
                background-color: #837d7d;
            }
            @include breakpoint(mobileonly){
                padding: 10px 20px;
            }                
        }
        .btn-save{
            color: $default;
            background-color: $dark-dark;
            font-size: 10px;
            border-radius: 2px;
            font-weight: bold;
            padding: 10px 30px 10px 30px; 
            &:hover{
                background-color: #000000;
            }          
            @include breakpoint(mobileonly){
                padding: 10px 20px;
            }             
        }
        label{
            input[type=checkbox]{
                margin: 0;
            }
        }
        
    }
}


.to-do-index{
    .danger{
        color: $danger;
    }
    .page-data-align{
        overflow: hidden;
    }
    .desktop-align{
        @include breakpoint(desktop){
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .pie-chart-align{
        padding-top: 10px;
        @include  breakpoint(desktop){
            padding-top: 30px !important;
        }
        @include  breakpoint(tablet){
            padding-top: 20px;
        }
    }
    .score-panel{
        .score-tab{
            .score-value{
                width: 24%;
                @include breakpoint(tablet){
                    width: auto;
                }
            }
        }
    }
    .header{
        font-size: 22px;
        font-weight: 300;
    }
    
    .score-tab{
        height: auto;
        @media only screen and (min-width : 992px) and (max-width : 1026px)  {
            height: 65px;
        }
    }
    .employee-styling{
        padding: 15px !important;
        .image{
            .circle-img{
                width: 40px;
                height: 40px;
                @include breakpoint(tablet){
                    width: 50px;
                    height: 50px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .details{
            margin-left: 10px;
            width: 74%;
            @include breakpoint(desktop){
                    width: 76% !important;
                }
            @include breakpoint(tablet){
                    width: 82%;
                }
            @include breakpoint(mobilephone){
                    width: 69%;
                }
            .name{
                font-size: 14px;
                font-weight: 600;
                @include breakpoint(tablet){
                    font-size: 16px;
                }
            }
        }
        
    }

    .align-td{
        padding: 15px !important;
    }

    .recent-mobile{
        padding-left: 30px !important;
        padding-right: 30px !important;
        @include breakpoint(tablet){
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

    .recent-desktop{
        padding-left: 5px;
        padding-right: 0;
    }

    .mob-align{
        padding-left: 15px;
        padding-right: 15px;
    }

    .align-btns-open{
        position: relative;
            margin-top: -55px;
            right: 10px;
    }

    .add-btn-mobile{
            background-color: $success;
            border: none;
            margin-left :5px;
            padding: 8px 12px 6px 12px;
            .fa-plus{
                padding: 5px 2px 0 2px;
            }
            .fa-envelope{
                padding-top:5px;
            }
        }
}

.to-do-common{
    .emp-info{
            .todo-circle-img{
                overflow: hidden;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 3px solid $base-dark;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    .details{
        margin-left: 10px;
        width: 75%;
    }
    .inactive-employee{
                color: $base-dark;
                background-color: $border;
                border-radius: 4px;
                border: 1px solid $border;
                padding: 0 5px;
                font-size: 14px;
                display: inline-block;
            }
    .todo-cards{
        padding-left: 5px;
        padding-right: 5px;
        @include breakpoint(tablet){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}