﻿@import "../Common/_globals";

/**
* Work Order
*/
.work-order-index{
    .score-tab{
        height: auto;
        @media only screen and (min-width : 992px) and (max-width : 1125px)  {
            height: 65px;
        }
        @media only screen and (min-width : 1200px) and (max-width : 1300px)  {
            height: 65px;
        }
        @media only screen and (min-width : 1600px) and (max-width : 1660px)  {
            height: 65px;
        }
        .score-value{
            @include breakpoint(mobileonly){
                width: 22% !important;
            }
        }
    }

    .monthly-scores-panel-align{
        padding-left: 5px;
        @include breakpoint(desktop){
            padding-left: 0;
        }
    }

    .most-recent-header{
        font-size: 22px;
        font-weight: 300;
    }
    .add-padding{
        padding-top: 20px;
    }
    .most-recent-align{
        padding-left: 5px;
        padding-right: 15px;
    }
    .wt-details{
        padding-left: 0;
        padding-right: 0;
        @include breakpoint(desktop){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .wo-charts{
        padding-left: 0 !important;
    }
    .card-component{
        margin-top: 20px;
    }
}
.new-wo-header{
    padding:10px 30px 10px 20px;
    color: $default;
    background: $primary;
}
.wo-details {
    margin-bottom: 20px;
    padding: 5px 0 0 10px;

    h3 {
        font-size: 18px;
        color: #666666;
        font-weight: normal;
    }
}

.wo-t-btns {
    width: 78px;
}

.col-md-9.wo-entry {
    border-left: 1px solid #e4e4e4;
    padding-left: 10px;

    > [class*="col"] {
        padding: 0 15px;
    }
}

.work-order-img {
    max-width: 400px;
    margin-bottom: 20px;

    @include breakpoint(laptop) {
        max-width: 300px;
    }
}

.wo-action-value-align{
    margin-right: 15px;
    @include breakpoint(tablet){
    margin-right: 25px !important;
    }
    .dropdown-menu{
        z-index: 1;
    }
}

.profile-field {
    margin: 20px 0;
     @include breakpoint(mobilephone) {
            margin: 20px 0;
        }

    .label, .label-blue {
        color: $primary;
        font-size: 16px;
        padding: 0;
        @include breakpoint(mobilephone) {
            color: $dark-dark;
        }
    }
     

    p {
        font-size: 16px;
    }
}

.padding-30-0{
    padding:30px 0;
     @include breakpoint(mobilephone) {
            padding: 0;
        }
}
.wo-entry {
    label {
        font-size: 14px;
        font-weight: 400;
    }

    .field-wrap {
        margin-bottom: 25px;

        @include breakpoint(laptop) {
            margin-bottom: 20px;
        }
        .due-in{
            width: 15%;
            margin-right: 5px;
            background-color: $default;
            border: 1px solid $border-dark;
            border-radius: 4px;
            text-align: right;
            color: $dark;
        }
        .text-msg{
            font-size: 0.8571rem;
            color: $dark;
        }
        .radio-btns{
            label[disabled]{
                pointer-events: none;
            }
        }
    }



    .assign-courses-title .chart-title {
        padding: 5px;
    }

    .work-order {
        padding-left:10px;
        .well {
            height: auto;
        }
    }

    .wo-entry.well {
        margin-bottom: 50px;

        .wo-entry {
            overflow: visible !important;
        }
    }

    .wo-entry-wrap {
        @include breakpoint(laptop) {
            margin: auto;
            float: none;
        }

        .well {
            overflow: visible;

            &.well-clean {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        //Cost section
        .all-costs-sec {

            .field-wrap {
                margin-bottom: 0;
            }

            .btn.active:first-of-type {
                border-radius: 4px 4px 0 0;
            }

            .costs {
                padding: 10px;
                background: #F5F5F5;
                border: 1px solid #e9e9e9;

                .field-wrap:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
}

[class*="col"].wo-entry {
    padding: 10px 5px;
}

.assign-courses-title {
    .page-step {
        width: 130px;
        border-right: 1px solid #e4e4e4;

        @include breakpoint(mobilephone) {
            width: auto;
        }
    }

    h3.chart-title {
        padding: 5px;

        @include breakpoint(mobilephone) {
            font-size: 20px;
            padding: 0;
        }
    }
}


.entry{
    
    padding-right: 0;
    padding-left:0;
    .work-order{
        padding-left:20px;
    }
    .wo-entry{
        padding-right:0;
    }
    .wo-entry-head{
    padding: 20px 0;
    .title{
        color: $primary;
        font-size: 35px;
     }
    .desc{
        color:$warning $dark-dark;
        font-style: italic;
       }
    }

    .tabs-wrap .top-tabs a.highlight {
        border-bottom: 8px solid $primary;
        color: $primary;
        font-weight: 600;
    }
    .tabs-wrap .top-tabs a {
        border-bottom: 8px solid $border;
        color: $border;
        font-weight: 600;
        margin: 0 10px;
    }
    .disable{
       pointer-events: none;
       cursor: default;
    }
    .panel-body{
        padding: 0;
    }
    .wo-entry .wo-entry-wrap .well.well-clean {
        padding: 0 20px 0 15px;
        margin-bottom: 0;
        .costs{
            background: $default;
            border: none;
        }
    }
    .side-pan{
        top:0;
        right:0;
        bottom:0;
        position: absolute;
        padding-top:60px;
        background-color: $border;
    }
    .date-picker .input-group-addon {
        background: $default;
        color: $muted-dark;
        border: 1px solid $base;
    }
    .wo-navi-btns{
        padding-top: 40px !important;
        .btn-default{
            color: $default;
            background-color: $muted-dark;
        }
        .btn-primary{
            background-color: $dark-dark;
            border-color: $dark-dark;
        }
    }
    label{
        color: $primary;
        font-weight: 600;
    }
    .padding-left-5{
        padding-left: 5px;
    }
    .padding-left-0{
        padding-left: 0;
    }
    .padding-b-100{
        padding-bottom: 100px;
    }
}

.entry-view{
    background: $default;
    padding-right:0;
    padding-left: 0;
   .header-title{
       padding: 10px 35px;
       background-color: $primary;
       color: $default;
       font-size: 12px;
       font-weight: 600;
   }
    @include breakpoint(mobilephone) {
        padding-left: 20px;
         margin-top: 0;
    }
    .well{
        border: none;

        .mobile-top-sec{
            h1{
                color: $primary;
                font-weight: 600;
            }
            .repoter-name{
                color:$primary;
                font-weight: bold;
            }
        }
    } 
    .type{
            padding: 10px 0;
            
            .primary-text{
                 @include breakpoint(mobilephone) {
                    color: $dark-dark;
                }
            }
            .values{
                padding: 5px 0;
                 @include breakpoint(mobilephone) {
                    padding: 0 5px;
                }
        }
        }
    .table-head{
        background: $default;
        color: $primary;
        padding-bottom:40px;
         @include breakpoint(mobilephone) {
                padding-left: 10px;
                }

        p{
             font-weight: 600;
            font-size: 20px;
        }
        .title-desc{
            color: $dark-dark;
            font-size:14px;
            font-weight:normal;
            font-style: italic;
        }
       
    }
    .margin-b-0{
        margin-bottom:0;
    }
    .margin-left-0{
        margin-left:0 !important;
    }
    .edit-btn{
        padding:20px;
        .btn-primary{
            background-color: $dark-dark;
            border-color: $dark-dark;
            padding-right: 10px;
        }
    }
}


.upcoming{
    .table-head{
        background: $primary;
        color: $default;
        padding:10px 30px 10px 20px;

        p{
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    
    .emp-row{
        cursor: pointer;
        margin: 0 -15px;
        padding: 15px 30px 15px 20px;
    }
    .emp-row:nth-child(even){
        background: $border;
    }
    .toggle-block{
        width:100%;
        padding: 10px 0;
    }
    .margin-0--15{
        margin: 0 -15px;
    }
    .padding-right-40{
        padding-right:40px;
    }
    .padding-r-0{
        padding-right:0;
    }
   .padding-r-30{
        padding-right:30px;
    }
    .padding-r-20{
        padding-right:20px;
    }
   .padding-r-15{
        padding-right:15px;
    }
   
    
}
/**
* Mobile Work Order
*/
.mobile-wo-entry{
    background-color: $default;
    padding: 20px 5px;
    margin-left:-15px;

    .mo-wo-entry-head{
        width: 100%;
        padding: 10px 0;
        .step{
            width: 50px;
            float:left;
            background-color: $border;
            height: 50px;
            border-radius: 50%;

            p{
                padding-left: 16px;
                padding-top: 4px;
                font-size: 30px;
                color: $primary;
                font-weight: bold;
            }

        }
        .step-desc{
            padding: 2px 0 0 5px;
            float: left;
            width: auto;
            .step-title{
                font-size: 19px;
                color:$primary;
                font-weight: 600;
            }
            .step-title-desc{
                font-size: 12px;
                color: $dark-dark;
                font-style: italic;
            }
        }
    }

    .wo-entry-form{
        label{
            color: $warning;
            padding-bottom:5px;
        }
        .required-sign{
            color: $warning;
        }
    }
    .no-padding{
        padding:0;
    }
    .padding-5{
        padding:5px;
    }
    .padding-0-15{
        padding:0 15px;
    }

    .btn-default{
        margin-right:5px;
    }
    .color-aaa{
        color:$base-dark !important;
    }
    .active{
        color:$default !important;
    }
    .padding-top-0{
        padding-top:0 !important;
    }
}

.primary11{
    color:$primary;
}
.wo-table-head-main{
    padding-left: 20px !important;
}
.wo-table-head{
    font-weight: 600;
    text-transform: uppercase;
    color: $default;
    font-size: 12px !important;
}

.wo-emp-name{
    font-size: 16px;
    font-weight: 600 !important;
    color: $primary;
}

.wo-main-row{
    line-height: 24px;
    padding: 20px !important;
}

.wo-description{
    font-size: 14px;
    font-weight: 500 !important;
    color: $dark;
}

.wo-location{
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #999c9e !important;
    font-style: italic !important;
}

.wo-date{
    font-weight: 600 !important;
}

.wo-new{
    margin-top: 5px !important;
    color: $default;
    text-align: center;
    padding-left: 5px !important;
    padding-right: 5px !important; 
}

.wo-panel-header-style{
    margin-top: 0;
    margin-bottom: 0;
}

.wo-page-content-style{
    padding: 0 0 80px 0 !important;
    background-color: $gray;
}