@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
/**
* Work Order
*/
.work-order-index .score-tab {
  height: auto;
}
@media only screen and (min-width: 992px) and (max-width: 1125px) {
  .work-order-index .score-tab {
    height: 65px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .work-order-index .score-tab {
    height: 65px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1660px) {
  .work-order-index .score-tab {
    height: 65px;
  }
}
@media (max-width: 320px) {
  .work-order-index .score-tab .score-value {
    width: 22% !important;
  }
}
.work-order-index .monthly-scores-panel-align {
  padding-left: 5px;
}
@media (min-width: 1167px) {
  .work-order-index .monthly-scores-panel-align {
    padding-left: 0;
  }
}
.work-order-index .most-recent-header {
  font-size: 22px;
  font-weight: 300;
}
.work-order-index .add-padding {
  padding-top: 20px;
}
.work-order-index .most-recent-align {
  padding-left: 5px;
  padding-right: 15px;
}
.work-order-index .wt-details {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1167px) {
  .work-order-index .wt-details {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.work-order-index .wo-charts {
  padding-left: 0 !important;
}
.work-order-index .card-component {
  margin-top: 20px;
}

.new-wo-header {
  padding: 10px 30px 10px 20px;
  color: #ffffff;
  background: #00AFD1;
}

.wo-details {
  margin-bottom: 20px;
  padding: 5px 0 0 10px;
}
.wo-details h3 {
  font-size: 18px;
  color: #666666;
  font-weight: normal;
}

.wo-t-btns {
  width: 78px;
}

.col-md-9.wo-entry {
  border-left: 1px solid #e4e4e4;
  padding-left: 10px;
}
.col-md-9.wo-entry > [class*="col"] {
  padding: 0 15px;
}

.work-order-img {
  max-width: 400px;
  margin-bottom: 20px;
}
@media (min-width: 991px) {
  .work-order-img {
    max-width: 300px;
  }
}

.wo-action-value-align {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .wo-action-value-align {
    margin-right: 25px !important;
  }
}
.wo-action-value-align .dropdown-menu {
  z-index: 1;
}

.profile-field {
  margin: 20px 0;
}
@media (max-width: 479px) {
  .profile-field {
    margin: 20px 0;
  }
}
.profile-field .label, .profile-field .label-blue {
  color: #00AFD1;
  font-size: 16px;
  padding: 0;
}
@media (max-width: 479px) {
  .profile-field .label, .profile-field .label-blue {
    color: #2f2930;
  }
}
.profile-field p {
  font-size: 16px;
}

.padding-30-0 {
  padding: 30px 0;
}
@media (max-width: 479px) {
  .padding-30-0 {
    padding: 0;
  }
}

.wo-entry label {
  font-size: 14px;
  font-weight: 400;
}
.wo-entry .field-wrap {
  margin-bottom: 25px;
}
@media (min-width: 991px) {
  .wo-entry .field-wrap {
    margin-bottom: 20px;
  }
}
.wo-entry .field-wrap .due-in {
  width: 15%;
  margin-right: 5px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  text-align: right;
  color: #403841;
}
.wo-entry .field-wrap .text-msg {
  font-size: 0.8571rem;
  color: #403841;
}
.wo-entry .field-wrap .radio-btns label[disabled] {
  pointer-events: none;
}
.wo-entry .assign-courses-title .chart-title {
  padding: 5px;
}
.wo-entry .work-order {
  padding-left: 10px;
}
.wo-entry .work-order .well {
  height: auto;
}
.wo-entry .wo-entry.well {
  margin-bottom: 50px;
}
.wo-entry .wo-entry.well .wo-entry {
  overflow: visible !important;
}
@media (min-width: 991px) {
  .wo-entry .wo-entry-wrap {
    margin: auto;
    float: none;
  }
}
.wo-entry .wo-entry-wrap .well {
  overflow: visible;
}
.wo-entry .wo-entry-wrap .well.well-clean {
  padding-bottom: 0;
  margin-bottom: 0;
}
.wo-entry .wo-entry-wrap .all-costs-sec .field-wrap {
  margin-bottom: 0;
}
.wo-entry .wo-entry-wrap .all-costs-sec .btn.active:first-of-type {
  border-radius: 4px 4px 0 0;
}
.wo-entry .wo-entry-wrap .all-costs-sec .costs {
  padding: 10px;
  background: #F5F5F5;
  border: 1px solid #e9e9e9;
}
.wo-entry .wo-entry-wrap .all-costs-sec .costs .field-wrap:first-of-type {
  margin-top: 0;
}

[class*="col"].wo-entry {
  padding: 10px 5px;
}

.assign-courses-title .page-step {
  width: 130px;
  border-right: 1px solid #e4e4e4;
}
@media (max-width: 479px) {
  .assign-courses-title .page-step {
    width: auto;
  }
}
.assign-courses-title h3.chart-title {
  padding: 5px;
}
@media (max-width: 479px) {
  .assign-courses-title h3.chart-title {
    font-size: 20px;
    padding: 0;
  }
}

.entry {
  padding-right: 0;
  padding-left: 0;
}
.entry .work-order {
  padding-left: 20px;
}
.entry .wo-entry {
  padding-right: 0;
}
.entry .wo-entry-head {
  padding: 20px 0;
}
.entry .wo-entry-head .title {
  color: #00AFD1;
  font-size: 35px;
}
.entry .wo-entry-head .desc {
  color: #F99D00 #2f2930;
  font-style: italic;
}
.entry .tabs-wrap .top-tabs a.highlight {
  border-bottom: 8px solid #00AFD1;
  color: #00AFD1;
  font-weight: 600;
}
.entry .tabs-wrap .top-tabs a {
  border-bottom: 8px solid #e8e8e8;
  color: #e8e8e8;
  font-weight: 600;
  margin: 0 10px;
}
.entry .disable {
  pointer-events: none;
  cursor: default;
}
.entry .panel-body {
  padding: 0;
}
.entry .wo-entry .wo-entry-wrap .well.well-clean {
  padding: 0 20px 0 15px;
  margin-bottom: 0;
}
.entry .wo-entry .wo-entry-wrap .well.well-clean .costs {
  background: #ffffff;
  border: none;
}
.entry .side-pan {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding-top: 60px;
  background-color: #e8e8e8;
}
.entry .date-picker .input-group-addon {
  background: #ffffff;
  color: #8c8f92;
  border: 1px solid #cccccc;
}
.entry .wo-navi-btns {
  padding-top: 40px !important;
}
.entry .wo-navi-btns .btn-default {
  color: #ffffff;
  background-color: #8c8f92;
}
.entry .wo-navi-btns .btn-primary {
  background-color: #2f2930;
  border-color: #2f2930;
}
.entry label {
  color: #00AFD1;
  font-weight: 600;
}
.entry .padding-left-5 {
  padding-left: 5px;
}
.entry .padding-left-0 {
  padding-left: 0;
}
.entry .padding-b-100 {
  padding-bottom: 100px;
}

.entry-view {
  background: #ffffff;
  padding-right: 0;
  padding-left: 0;
}
.entry-view .header-title {
  padding: 10px 35px;
  background-color: #00AFD1;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .entry-view {
    padding-left: 20px;
    margin-top: 0;
  }
}
.entry-view .well {
  border: none;
}
.entry-view .well .mobile-top-sec h1 {
  color: #00AFD1;
  font-weight: 600;
}
.entry-view .well .mobile-top-sec .repoter-name {
  color: #00AFD1;
  font-weight: bold;
}
.entry-view .type {
  padding: 10px 0;
}
@media (max-width: 479px) {
  .entry-view .type .primary-text {
    color: #2f2930;
  }
}
.entry-view .type .values {
  padding: 5px 0;
}
@media (max-width: 479px) {
  .entry-view .type .values {
    padding: 0 5px;
  }
}
.entry-view .table-head {
  background: #ffffff;
  color: #00AFD1;
  padding-bottom: 40px;
}
@media (max-width: 479px) {
  .entry-view .table-head {
    padding-left: 10px;
  }
}
.entry-view .table-head p {
  font-weight: 600;
  font-size: 20px;
}
.entry-view .table-head .title-desc {
  color: #2f2930;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.entry-view .margin-b-0 {
  margin-bottom: 0;
}
.entry-view .margin-left-0 {
  margin-left: 0 !important;
}
.entry-view .edit-btn {
  padding: 20px;
}
.entry-view .edit-btn .btn-primary {
  background-color: #2f2930;
  border-color: #2f2930;
  padding-right: 10px;
}

.upcoming .table-head {
  background: #00AFD1;
  color: #ffffff;
  padding: 10px 30px 10px 20px;
}
.upcoming .table-head p {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.upcoming .emp-row {
  cursor: pointer;
  margin: 0 -15px;
  padding: 15px 30px 15px 20px;
}
.upcoming .emp-row:nth-child(even) {
  background: #e8e8e8;
}
.upcoming .toggle-block {
  width: 100%;
  padding: 10px 0;
}
.upcoming .margin-0--15 {
  margin: 0 -15px;
}
.upcoming .padding-right-40 {
  padding-right: 40px;
}
.upcoming .padding-r-0 {
  padding-right: 0;
}
.upcoming .padding-r-30 {
  padding-right: 30px;
}
.upcoming .padding-r-20 {
  padding-right: 20px;
}
.upcoming .padding-r-15 {
  padding-right: 15px;
}

/**
* Mobile Work Order
*/
.mobile-wo-entry {
  background-color: #ffffff;
  padding: 20px 5px;
  margin-left: -15px;
}
.mobile-wo-entry .mo-wo-entry-head {
  width: 100%;
  padding: 10px 0;
}
.mobile-wo-entry .mo-wo-entry-head .step {
  width: 50px;
  float: left;
  background-color: #e8e8e8;
  height: 50px;
  border-radius: 50%;
}
.mobile-wo-entry .mo-wo-entry-head .step p {
  padding-left: 16px;
  padding-top: 4px;
  font-size: 30px;
  color: #00AFD1;
  font-weight: bold;
}
.mobile-wo-entry .mo-wo-entry-head .step-desc {
  padding: 2px 0 0 5px;
  float: left;
  width: auto;
}
.mobile-wo-entry .mo-wo-entry-head .step-desc .step-title {
  font-size: 19px;
  color: #00AFD1;
  font-weight: 600;
}
.mobile-wo-entry .mo-wo-entry-head .step-desc .step-title-desc {
  font-size: 12px;
  color: #2f2930;
  font-style: italic;
}
.mobile-wo-entry .wo-entry-form label {
  color: #F99D00;
  padding-bottom: 5px;
}
.mobile-wo-entry .wo-entry-form .required-sign {
  color: #F99D00;
}
.mobile-wo-entry .no-padding {
  padding: 0;
}
.mobile-wo-entry .padding-5 {
  padding: 5px;
}
.mobile-wo-entry .padding-0-15 {
  padding: 0 15px;
}
.mobile-wo-entry .btn-default {
  margin-right: 5px;
}
.mobile-wo-entry .color-aaa {
  color: #9e9e9e !important;
}
.mobile-wo-entry .active {
  color: #ffffff !important;
}
.mobile-wo-entry .padding-top-0 {
  padding-top: 0 !important;
}

.primary11 {
  color: #00AFD1;
}

.wo-table-head-main {
  padding-left: 20px !important;
}

.wo-table-head {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px !important;
}

.wo-emp-name {
  font-size: 16px;
  font-weight: 600 !important;
  color: #00AFD1;
}

.wo-main-row {
  line-height: 24px;
  padding: 20px !important;
}

.wo-description {
  font-size: 14px;
  font-weight: 500 !important;
  color: #403841;
}

.wo-location {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #999c9e !important;
  font-style: italic !important;
}

.wo-date {
  font-weight: 600 !important;
}

.wo-new {
  margin-top: 5px !important;
  color: #ffffff;
  text-align: center;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.wo-panel-header-style {
  margin-top: 0;
  margin-bottom: 0;
}

.wo-page-content-style {
  padding: 0 0 80px 0 !important;
  background-color: #f5f5f5;
}

/*# sourceMappingURL=work-order.css.map */
