﻿
<div class="turnover-reasons">
    <p class="head pull-left">{{'TURNOVER_REASONS' | translate}}</p><i class="fa fa-close pull-right" ng-click="vm.close()"></i>
    <div class="clearfix"></div>
    <p class="desc"></p>

    <uib-tabset active="active">
        <uib-tab index="0" heading="{{'VOLUNTARY' | translate}}">
            <div class="reason" ng-repeat="reason in vm.turnOverReasons.voluntaryReasons">
                <p class="name"><i class="fa fa-square voluntary-square" ng-style="{'color': reason.colorCode}"></i>{{reason.name}}</p>
                <p class="desc">{{reason.description}}</p>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="{{'INVOLUNTARY' | translate}}">
            <div class="reason" ng-repeat="reason in vm.turnOverReasons.inVoluntaryReasons">
                <p class="name"><i class="fa fa-square voluntary-square" ng-style="{'color': reason.colorCode}"></i>{{reason.name}}</p>
                <p class="desc">{{reason.description}}</p>
            </div>
        </uib-tab>
    </uib-tabset>
</div>