﻿@{
    ViewBag.Title = "Quality Dashboard";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}

<div class="container-fluid index no-overflow quality-dashboard" ng-controller="Quality.DashboardIndexCtrl as vm">
    <page-header title="{{'QUALITY_DASHBOARD' | translate}}"
                 s3-icon-name="quality.svg"
                 info-text="{{'QUALITY_DASH_TITLE_DESC' | translate}}">
    </page-header>

    <utility-header>
        <custom-buttons>
            <button class="btn btn-default text-uppercase" ng-click="vm.showConfigOptions()">
                <span class="fa fa-cog"></span> {{'CONFIGURE' | translate}}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="row dashboard-cards">
        <div class="col-md-12 col-lg-12">
            <div class="{{type.class}}" ng-if="type.visible" ng-repeat="type in vm.dashBoardTileInfo track by $index">
                @* audits *@
                <a ng-if="type.name == 'Audits'" href="@Url.Action("Index", "Audit", new { Area = "Quality"})">
                    <div class="card audit">
                        <div class="pull-right sub-title text-right" href="@Url.Action("Index", "Audit", new { Area = "Quality"})">
                            <div ng-if="vm.dashboardItem.audits.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.audits.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'AUDITS' | translate }}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div ng-if="!vm.dashboardItem.audits.internalAuditData && !dashboardItem.audits.jointAuditData" class="no-data">{{ 'NO_DATA' | translate}}</div>
                            <div ng-if="vm.dashboardItem.audits.internalAuditData || vm.dashboardItem.audits.jointAuditData">
                                <sbm-hc-column-chart id="QD-AuditTrends" data-ng-model="vm.reportsConfig.auditsTrend" height="200" minwidth="100"
                                                        data-ng-if="vm.reportsConfig.auditsTrend.xAxis.categories.length > 1">
                                </sbm-hc-column-chart>
                            </div>
                        </div>
                    </div>
                </a>
                @* surveys *@
                <a ng-if="type.name == 'Surveys'" href="@Url.Action("Index", "CustomerSurvey", new { Area = "Quality"})">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.complaints.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.complaints.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'SURVEYS' | translate }}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div ng-if="!vm.reportsConfig.surveysTrend.series[0].data.length" class="no-data">{{'NO_DATA' | translate}}</div>
                            <sbm-hc-column-chart id="QD-surveyMonthlyTrends" data-ng-model="vm.reportsConfig.surveysTrend"
                                                 ng-if="vm.reportsConfig.surveysTrend.series[0].data.length" height="200" minwidth="100">
                            </sbm-hc-column-chart>
                        </div>
                    </div>
                </a>
                @* complaints *@
                <a ng-if="type.name == 'Complaints'" href="@Url.Action("Index", "Complaint", new { Area = "Quality"})">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.audits.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.audits.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'COMPLAINTS' | translate }}</div>
                        <div class="sub-title">{{'12_MONTHS_TREND' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div ng-if="!vm.reportsConfig.complaintsTrend.categories.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                            <sbm-hc-line-chart id="QD-complaintTrends" data-ng-model="vm.reportsConfig.complaintsTrend"
                                                scale-min="0"
                                                scale-max="100"
                                                height="200" minwidth="100"
                                                ng-if="vm.reportsConfig.complaintsTrend.categories.length">
                            </sbm-hc-line-chart>
                        </div>
                    </div>
                </a>
                @* todos *@
                <a ng-if="type.name == 'Todo'"  href="@Url.Action("Index", "ToDo", new { Area = "Quality"})">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.todos.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.todos.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'TO-DOs' | translate }}</div>
                        <div class="sub-title">{{'CURRENT_MONTH' | translate}}</div>

                        <div class="todo-row padding-top-25">
                            <div class="hcenter">
                                <div class="value">{{vm.dashboardItem.todos.currentOpen.count}}</div>
                                <div class="padding-top-5">
                                    <div class="info">{{'Currently Open' | translate}}</div>
                                    <div class="sub-info">{{ 'LAST_OPEN' | translate }}: {{vm.dashboardItem.todos.currentOpen.lastOpenDate  | date: 'M/d/yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="todo-row">
                            <div class="hcenter">
                                <div class="value">{{vm.dashboardItem.todos.pastDue.count}}</div>
                                <div class="padding-top-5">
                                    <div class="info">{{ 'Past Due' | translate }}</div>
                                    <div class="sub-info">{{ 'OLDEST_INCOMPLETE' | translate }}: {{vm.dashboardItem.todos.pastDue.oldestIncompleteDate  | date: 'M/d/yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="todo-row">
                            <div class="hcenter">
                                <div class="value">{{vm.dashboardItem.todos.closedOnTime.percent | number:0 }}%</div>
                                <div class="padding-top-5">
                                    <div class="info">{{'STATS_CLOSED_ON_TIME' | translate}}</div>
                                    <div class="sub-info">{{ 'STATS_LAST_CLOSED' | translate }}: {{vm.dashboardItem.todos.closedOnTime.lastClosed  | date: 'M/d/yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                @* attendance *@
                <a ng-if="type.name == 'Attendance'" ng-href="{{ vm.isCustomer ? null :  vm.basePath+'Personnel/Attendance/Index' }}">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.attendance.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.attendance.lastUpdatedDate | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'ATTENDANCE' | translate }}</div>
                        <div class="sub-title">{{'CURRENT_MONTH' | translate}}</div>
                        <div class="pie-count" ng-if="vm.dashboardItem.attendance.totalCount">
                            <div class="count">{{vm.dashboardItem.attendance.totalCount}} </div>
                            <div class="text">{{'OCCURRENCES_STATIC' | translate}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-class="{'pie-chart-align': vm.dashboardItem.attendance.totalCount}">
                            <div ng-if="!vm.dashboardItem.attendance.totalCount" class="no-data">{{ 'NO_DATA' | translate}}</div>
                            <sbm-hc-pie-chart id="QD-attendanceTrends" qd-attendance-legend="true" minwidth="0" height="200" tool-tip-format="true" redraw-chart="true"
                                              data-ng-model="vm.reportsConfig.attendanceTrend" ng-if="vm.dashboardItem.attendance.totalCount">
                            </sbm-hc-pie-chart>
                            <div id="qd-att-legendSpot" class="legend-bottom" ng-if="vm.dashboardItem.attendance.totalCount"></div>
                        </div>
                    </div>
                </a>
                @* work orders *@
                <a ng-if="type.name == 'WorkOrders'" href="@Url.Action("Index", "WorkOrder", new { Area = "Quality"})">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.workOrder.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.workOrder.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'WORK ORDERS' | translate }}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div ng-if="!vm.reportsConfig.workOrdersTrend.series[0].data.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                            <sbm-hc-column-chart id="QD-woMonthlyTrends" ng-model="vm.reportsConfig.workOrdersTrend" height="200" minwidth="100"
                                                 ng-if="vm.reportsConfig.workOrdersTrend.series[0].data.length">
                            </sbm-hc-column-chart>
                        </div>
                    </div>
                </a>
                @* conduct *@
                <a ng-if="type.name == 'Conduct'" ng-href="{{ vm.isCustomer ? null :  vm.basePath+'Personnel/Conduct/Index' }}">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.conduct.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.conduct.lastUpdatedDate | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'CONDUCT' | translate }}</div>
                        <div class="sub-title">{{'CURRENT_MONTH' | translate}}</div>
                        <p class="data-value">{{vm.dashboardItem.conduct.count}}</p>
                        <p class="data-info" ng-if="vm.dashboardItem.conduct.count == 1">{{ 'ISSUE' | translate }}</p>
                        <p class="data-info" ng-if="vm.dashboardItem.conduct.count != 1">{{ 'ISSUES' | translate }}</p>
                        <p class="sub-data-info">{{ 'REPORTED' | translate }}</p>
                    </div>
                </a>
                @* report its *@
                <a ng-if="type.name == 'ReportIts'" href="@Url.Action("Index", "Ownership", new { Area = "Personnel"})">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.reportIts.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.reportIts.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'REPORT ITS' | translate }}</div>
                        <div class="sub-title">{{'6 Months Trend' | translate}}</div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div ng-if="!vm.reportsConfig.reportItsTrend.xAxis.categories.length" class="no-data">{{ 'NO_DATA' | translate}}</div>
                            <sbm-hc-column-chart id="QD-ownershipMonthlyTrends" data-ng-model="vm.reportsConfig.reportItsTrend" height="200" minwidth="100"
                                                 data-ng-if="vm.reportsConfig.reportItsTrend.xAxis.categories.length > 1 && (vm.reportsConfig.reportItsTrend.series[0].data.length || vm.reportsConfig.reportItsTrend.series[1].data.length)">
                            </sbm-hc-column-chart>
                        </div>
                    </div>
                </a>
                @* compliments *@
                <a ng-if="type.name == 'Compliments'" href="@Url.Action("Index", "Compliment", new { Area = "Quality"})">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.compliments.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.compliments.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'COMPLIMENTS' | translate }}</div>
                        <div class="sub-title">{{'Most Recent' | translate}}</div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-top-20">
                            <div class="compliment-row" ng-repeat="compliment in vm.dashboardItem.compliments.items | limitTo: 2">
                                <div class="circle-img pull-left">
                                    <img ng-src="{{compliment.employeeImg || '@Url.Content("~/content/img/user.jpg")'}}" />
                                </div>
                                <div class="details pull-left">
                                    <div class="emp-name">{{compliment.employeeName}}</div>
                                    <div class="create-date">{{compliment.createDate | date: 'M/d/yyyy'}}</div>
                                    <div class="description">{{compliment.description }}</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>      
                @* professionalism *@
                <a ng-if="type.name == 'Professionalism'" href="@Url.Action("Index", "Audit", new { Area = "Personnel"})">
                    <div class="card">
                        <div class="pull-right sub-title text-right">
                            <div ng-if="vm.dashboardItem.professionalism.lastUpdatedDate"><span>{{ 'UPDATED' | translate }}</span>: <span>{{vm.dashboardItem.professionalism.lastUpdatedDate  | date: 'M/d/yyyy'}}</span></div>
                        </div>
                        <div class="title">{{ 'PROFESSIONALISM' | translate }}</div>
                        <div class="sub-title">{{'CURRENT_MONTH' | translate}}</div>
                        <div class="pie-count" ng-if="vm.dashboardItem.professionalism.totalCount">
                            <div class="count">{{vm.dashboardItem.professionalism.incompleteCount}} </div>
                            <div class="text">{{'INCOMPLETE' | translate}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-class="{'pie-chart-align': vm.dashboardItem.professionalism.totalCount}">
                            <div ng-if="!vm.dashboardItem.professionalism.totalCount" class="no-data">{{ 'NO_DATA' | translate}}</div>
                            <sbm-hc-pie-chart id="QD-ProfessionalismTrends" minwidth="0" height="200" qd-professionalism-legend="true" tool-tip-format="true" pie-colors="{{vm.pieColors}}"
                                              redraw-chart="true" data-ng-model="vm.reportsConfig.professionalismTrend" ng-if="vm.dashboardItem.professionalism.totalCount">
                            </sbm-hc-pie-chart>
                            <div id="qd-Prof-legendSpot" class="legend-bottom" ng-if="vm.dashboardItem.professionalism.totalCount"></div>
                        </div>
                    </div>
                </a>         
            </div>
        </div>
    </div>
</div>
