﻿<div class="close-btn" ng-click="vm.close()">
    <i class="fa-close"></i>
</div>
<div class="my-travel-popup">
    <h1 class="text-center text-primary">My Travel</h1>
    <p class="text-center header-subtitle">What countries have you been to? Or want to go to?</p>
    <p class="text-center header-subtitle">Select as many as you like.</p>
    <div class="col-md-12 icon-container">
        <div class="travel-div-style" ng-repeat="item in vm.tempTravelList track by $index">
            <div class="background-circle" ng-click="vm.checkTravel($index)">
                <p class="country-name">{{ item.Name }}</p>
                <i class="fa-check2 check-icon-style" ng-if="item.IsChecked"></i>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="btn-submit" ng-click="vm.submit()">
        SUBMIT
    </div>
</div>
