﻿<div class="close-btn" ng-click="vm.close()">
    <i class="fa-close"></i>
</div>
<div class="my-hobbies-popup">
    <h1 class="text-center text-primary">My <span ng-if="vm.showSportsTitle">Favorite Sports</span><span ng-if="!vm.showSportsTitle">Hobbies</span></h1>
    <p class="text-center header-subtitle">What <span ng-if="vm.showSportsTitle">sports do you like?</span><span ng-if="!vm.showSportsTitle">hobbies do you have?</span></p>
    <p class="text-center header-subtitle">Select as many as you like.</p>
    <div class="col-md-12 icon-container">
        <div class="hobby-div-style" ng-repeat="item in vm.tempHobbyList track by $index">
            <span class="fa-stack outer-icon-style" ng-click="vm.checkHobby($index)">
                <i class="fa fa-circle fa-stack-2x" ng-style="{'color': item.Color }"></i>
                <i class="{{ item.Icon }} fa fa-stack-1x inner-icon-style"></i>
                <i class="fa-check2 check-icon-style" ng-if="item.IsChecked"></i>
            </span>
            <p class="text-center hobby-name">{{ item.Name }}</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="btn-submit" ng-click="vm.submit()">
        SUBMIT
    </div>
</div>
