﻿<div class="close-btn" ng-click="vm.addClose()">
    <i class="fa-close"></i>
</div>
<div class="my-family-popup">
    <div ng-if="!vm.gotoNext">
        <h1 class="text-center text-primary">Add a Family Member</h1>
        <p class="text-center header-subtitle">Click and select your family member.</p>
        <div class="col-md-12 icon-container">
            <div class="family-div-style" ng-repeat="item in vm.staticStickerData track by $index" ng-click="vm.checkFamilyMember($index)">
                <div class="background-circle" ng-class="{'border-highlight': item.IsChecked}">
                    <i class="{{ item.Icon }} fa family-inner-icon-style" ng-style="{'font-size': item.FontSize + 'px'}"></i>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="btn-next btn-family-common" ng-click="vm.next()" ng-disabled="!vm.selectedMember">
            NEXT
        </div>
    </div>
    <div ng-if="vm.gotoNext">
        <h1 class="text-center text-primary">Who is this?</h1>
        <div class="col-md-12 icon-container">
            <div class="next-family-div-style">
                <i class="{{ vm.selectedMember.Icon }} family-inner-icon-style"></i>
                <select class="form-control member-label-select" name="memberLabel"
                        data-ng-model="vm.memberLabel.Id"
                        data-ng-options="label.Id*1 as label.Name for label in vm.memberLabels"
                        data-ng-required="true">
                    <option value="">- Select -</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="btn-add-to-family btn-family-common" ng-click="vm.addToFamily()" ng-disabled="!vm.memberLabel.Id">
            Add to Family
        </div>
    </div>
</div>
