﻿<div class="close-btn" ng-click="vm.removeClose()">
    <i class="fa-close"></i>
</div>
<div class="my-family-popup">
    <div ng-if="!vm.gotoNext">
        <h1 class="text-center text-primary">Remove a Family Member</h1>
        <p class="text-center header-subtitle">Click and select your family member.</p>
        <div class="col-md-12 icon-container">
            <div class="family-div-style remove-member-div" ng-repeat="item in vm.userFamily track by $index" ng-click="vm.removeCheckFamilyMember($index)">
                <div class="background-circle" ng-class="{'border-highlight': item.IsChecked}">
                    <i class="{{ item.Icon }} family-inner-icon-style" ng-style="{'font-size': item.FontSize + 'px'}"></i>
                    <p class="text-center member-name">{{ item.MemberLabel }}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="btn-next btn-family-common" ng-click="vm.next()" ng-disabled="!vm.selectedMember">
            NEXT
        </div>
    </div>
    <div ng-if="vm.gotoNext">
        <h1 class="text-center text-primary">Do yo want to remove?</h1>
        <div class="col-md-12 icon-container">
            <div class="next-family-div-style">
                <i class="{{ vm.selectedMember.Icon }} family-inner-icon-style margin-bottom-5"></i>
                <p class="text-center member-name">{{ vm.selectedMember.MemberLabel }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="btn-remove-from-family btn-family-common" ng-click="vm.removeFromFamily()">
            Remove from Family
        </div>
    </div>
</div>
