﻿<div class="date-range-picker padding-20">
    <div ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
        <div class="row">
            <div class="col-md-4">
                <h1 class="margin-bottom-20 margin-top-0">
                    <img ng-src="{{vm.headerIconSrc}}" /> Select a Date Range
                </h1>
                <p class="margin-bottom-20">Changing the date range will display all statistics during that period.</p>

                <div class="list-group">
                    <button class="list-group-item" ng-class="{'active' : vm.monthActive==1}" ng-click="vm.onSwitchMonthsRange(1, $event)">1 MONTH</button>
                    <button class="list-group-item" ng-class="{'active' : vm.monthActive==3}" ng-click="vm.onSwitchMonthsRange(3, $event)">3 MONTHS</button>
                    <button class="list-group-item" ng-class="{'active' : vm.monthActive==6}" ng-click="vm.onSwitchMonthsRange(6, $event)">6 MONTHS</button>
                    <button class="list-group-item" ng-class="{'active' : vm.monthActive==12}" ng-click="vm.onSwitchMonthsRange(12, $event)">1 YEAR</button>
                </div>
            </div>
            <div class="col-md-4">
                <div uib-datepicker ng-model="vm.dateRange.startDate" datepicker-options="vm.calendarOptions"></div>
            </div>
            <div class="col-md-4">
                <div uib-datepicker ng-model="vm.dateRange.endDate" datepicker-options="vm.calendarOptions"></div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 text-right">
                <button class="btn btn-default" ng-click="vm.cancel()">
                    {{'CANCEL'|translate}}
                </button>
                <button class="btn btn-warning" ng-click="vm.onSwitchDateRange()" ng-disabled="!vm.dateRange.startDate && !vm.dateRange.endDate">
                    {{'SUBMIT'|translate}}
                </button>
            </div>
        </div>
    </div>
    <div ng-if="vm.sitesettings.windowSizes.isNotDesktop">
        <div class="head">
            <h4>Date Picker <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button></h4>
            <p>Changing the date range will display all statistics during that period</p>
        </div>
        <div class="row mobile-datepicker">
            <div id="month-range" class="col-md-12 col-xs-12">
                <button class="btn btn-default col-md-3 col-xs-3" type="button" data-ng-class="{'btn-green' : vm.monthActive==1}" data-ng-click="vm.onSwitchMonthsRange(1, $event)">1 Mon </button>
                <button class="btn btn-default col-md-3 col-xs-3" type="button" data-ng-class="{'btn-green' : vm.monthActive==3}" data-ng-click="vm.onSwitchMonthsRange(3, $event)">3 Mons </button>
                <button class="btn btn-default col-md-3 col-xs-3" type="button" data-ng-class="{'btn-green' : vm.monthActive==6}" data-ng-click="vm.onSwitchMonthsRange(6, $event)">6 Mons </button>
                <button class="btn btn-default col-md-3 col-xs-3" type="button" data-ng-class="{'btn-green' : vm.monthActive==12}" data-ng-click="vm.onSwitchMonthsRange(12, $event)">1 Yr </button>
            </div>

            <div id="date-range" class="col-md-12 col-sm-12 text-right">

                <div class="">
                    <div class="">

                        <div class="input-group date">
                            <input type="text" class="form-control" placeholder="From"
                                   uib-datepicker-popup="MM/dd/yyyy"
                                   data-ng-model="vm.dateRange.startDate"
                                   is-open="vm.datepickers.startDate"
                                   close-text="Close"
                                   datepicker-append-to-body="true"
                                   min-date="vm.minDate"
                                   max-date="vm.dateRange.endDate"
                                   ng-change="vm.startDateOnChange()"
                                   ng-model-options="{ updateOn: 'blur'}" />
                            <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'startDate')">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <h4><span>to</span></h4>
                        <div class="input-group date">
                            <input type="text" class="form-control" placeholder="To"
                                   uib-datepicker-popup="MM/dd/yyyy"
                                   ng-model="vm.dateRange.endDate"
                                   is-open="vm.datepickers.endDate"
                                   close-text="Close"
                                   datepicker-append-to-body="true"
                                   max-date="vm.maxDate"
                                   ng-disabled="!vm.dateRange.startDate"
                                   min-date="vm.dateRange.startDate" />
                            <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'endDate')">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>

                    </div>
                    <div class="col-md-12 col-xs-12 no-padding">
                        <input type="button" value="CANCEL" class="btn btn-grey pull-left" data-ng-click="vm.cancel()" />
                        <input type="button" value="SUBMIT" class="btn btn-black pull-right" data-ng-click="vm.onSwitchDateRange()" ng-disabled="!vm.dateRange.startDate && !vm.dateRange.endDate" />
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>