﻿@import "../../../../css/Common/globals";

quality-tab-navigation {
    background-color: $gray;
    overflow: hidden;
    display: block;
    padding: 0 20px;

    .quality-tab-navigation {

        $tabWidth: 14.2%;

        @include breakpoint(mobilephone) {
            $tabWidth: 13.2%;
        }

        //margin-bottom: 20px;

        .header {
            margin-left: -20px;
            margin-right: 0;

            @include breakpoint(mobilephone) {
                margin-right: -15px;
            }


            .quality-title {
                color: $dark;
                font-weight: 400;
                margin: 0 auto;
                font-size: 16px;
                padding-top: 23px;
                padding-bottom: 20px;
                white-space: nowrap;

                @include breakpoint(desktop) {
                    padding-top: 26px !important;
                    padding-bottom: 26px !important;
                    font-size: 22px !important;
                    font-weight: 300 !important;
                }

                @include breakpoint(tablet) {
                    padding-top: 23px;
                    padding-bottom: 22px;
                    font-size: 22px;
                    font-weight: 300;
                    padding-left: 20px;
                }
            }

            .image-style {
                display: block;
                font-size: 24px;
                color: $dark;

                @include breakpoint(tablet) {
                    font-size: 24px;
                }
            }

            .sub-title {
                position: relative;
                z-index: 1;
                padding-top: 6px;
                font-size: 10px;
                font-weight: 700;
                color: $dark;
                word-break: break-word;

                @include breakpoint(tablet) {
                    font-size: 10px;
                    padding-top: 10px;
                }
            }

            .link {
                padding-top: 10px;
                padding-bottom: 0x;
                cursor: pointer;
                display: block;



                @include breakpoint(desktop) {
                    padding-top: 18px !important;
                    padding-bottom: 0 !important;
                }

                @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
                    padding-bottom: 15px !important;
                }

                @include breakpoint(tablet) {
                    padding-top: 15px;
                    padding-bottom: 0;
                }
            }

            .highlight {
                color: $primary;
            }
        }


        .wrapping-div {
            overflow: hidden;

            @include breakpoint(desktop) {
                padding-right: 30px;
            }
        }


        .sliding-panel {
            overflow-x: scroll;
        }

        .left-arrow-styles {
            left: auto;
            z-index: 3;
            width: 30px;
            margin-left: -15px;
            // For IE
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        }

        .right-arrow-styles {
            // For IE
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            width: 30px;
            z-index: 1;
            // For IE 10 and up
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                margin-right: 12px;
            }
        }

        .carousel-control {
            opacity: 1;
            height: 54px;
            top: 0;
            background-color: $gray;

            @include breakpoint(tablet) {
                height: 71px;
                top: 0;
            }

            @include breakpoint(mobilephone) {
                top: 0;
                height: 54px;
            }
        }

        .hide-scrollbar {
            height: 20px;
            background-color: $gray;
            position: relative;
            margin-top: -19px;
            margin-right: 0;

            @include breakpoint(mobilephone) {
                margin-right: -15px;
            }
        }

        .arrow-icon-align {
            margin-left: -5px;
            margin-right: -5px;
            top: 66%;
            font-size: 16px;

            @include breakpoint(tablet) {
                font-size: 24px;
                margin-left: -15px;
                margin-right: -15px;
                top: 58%;
            }

            @include breakpoint(desktop) {
                top: 62%;
            }
        }

        .quality-report-mob {
            @include breakpoint(mobilephone) {
                top: 16%;
            }
        }

        .quality-report-mob-arrow {
            @include breakpoint(mobilephone) {
                top: 56%;
            }
        }
    }
}
