﻿@{
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}

<div class="container-fluid index audits-details" style="overflow:hidden" data-ng-controller="Quality.AuditDetailsCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Audits'|translate}}"
                 s3-icon-name="audit.svg"
                 info-text="{{'View scores from audits performed to help ensure that our customers receive the highest quality of service from our employees.' | translate }}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Quality/Audit/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'RUN AUDIT' | translate }}</span>
        </a>

        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block" ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter data-ng-model="vm.audits"
                                        filter="vm.filter"
                                        filter-apply-fn="vm.getAuditsReset()"
                                        filter-clear-fn="vm.getAuditsReset()"
                                        filter-options="vm.filterOptions"></utility-nav-filter>
                </li>
                <li>
                    <utility-nav-export ng-if="!vm.boolFilter"
                                        button-classes="btn btn-default"
                                        export-options="vm.exportOptions"
                                        export-id="vm.exportId"
                                        export-fn="vm.export()">
                    </utility-nav-export>
                </li>
                <li>
                    <a hidden-employees hidden-customers
                       href="@Url.Content("~/Quality/Audit/ProfileManager")"
                       class="text-uppercase">
                        <span class="fa fa-cog"></span> {{'CONFIG' | translate}}
                    </a>
                </li>
                
            </ul>
        </div>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Audit")" class="btn btn-default text-capitalize">{{'CHARTS'|translate}}</a>
            <a href="#" class="btn btn-default active text-capitalize">{{'DETAILS'|translate}}</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg" ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter data-ng-model="vm.audits"
                                button-classes="btn btn-default"
                                filter="vm.filter"
                                filter-apply-fn="vm.getAuditsReset()"
                                filter-clear-fn="vm.getAuditsReset()"
                                filter-options="vm.filterOptions"></utility-nav-filter>
            <utility-nav-export ng-if="!vm.boolFilter"
                                button-classes="btn btn-default"
                                export-options="vm.exportOptions"
                                export-id="vm.exportId"
                                export-fn="vm.export()">
            </utility-nav-export>
            <a hidden-employees hidden-customers
               href="@Url.Content("~/Quality/Audit/ProfileManager")"
               class="btn btn-default text-uppercase" ng-click="vm.showConfigOptions()">
                <span class="fa fa-cog"></span> {{'CONFIG' | translate}}
            </a>
        </custom-buttons>
    </utility-header>

    <div class="row">
        <div class="col-sm-12 page-content no-gutter">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default au-panel">
                        <div class="center-cards">
                            <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                            <utility-nav-filter-tags></utility-nav-filter-tags>
                        </div>
                        
                        <div class="card-view-style center-cards" data-infinite-scroll="vm.getAudits()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy" infinite-scroll-immediate-check="false">
                            <div class="text-center empty-wrap" data-ng-if="!vm.audits.length">No data to display</div>
                            <card class="col-md-4 col-sm-6 col-xs-12 card-align card-size" ng-repeat="details in vm.audits" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header ng-if="details.InProgress" module="vm.module" header-text="vm.headerText" format-date="true" item-id="details.ScorecardId"
                                                         view-link-fn="vm.RedirectToEntryModal(id)"
                                                         header-date="details.AuditDate"
                                                         redirection-link="details.redirectionLink">
                                    </quality-card-header>
                                    <quality-card-header ng-if="!details.InProgress" module="vm.module" header-text="vm.headerText" format-date="true" item-id="details.ScorecardId"
                                                         view-link-fn="vm.ShowEntryViewModal(id)" header-date="details.AuditDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left  employee-img audit" ng-if="details.Average" ng-class="details.Average < vm.reportsConfig.control ? 'fail' : 'success'">
                                                <span class="avg-score">{{details.Average  | number: vm.auditSettings.ChartRoundingScale}}</span>
                                            </div>
                                            <div class="pull-left auditor-profile-pic">
                                                <img class="employee-img move overlap-image" ng-src="{{details._auditorProfilePicture}}" />
                                            </div>
                                            <div class="pull-left auditor-section">
                                                <p class="name truncate">{{details.AuditorName}}</p>
                                                <p class="name-lbl text-muted">
                                                    {{'AUDITOR' | translate}}
                                                    <span class="audit-type padding-left-5">{{(details.IsJointAudit ? 'JOINT_AUDIT' : 'INTERNAL_AUDIT') | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Comment">{{details.Comment}}</span>
                                            <span class="no-comment" ng-if="!details.Comment">{{'NO_COMMENT_FOR_AUDIT' | translate}}</span>
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'truncate building' : (details.BuildingName.length + details.FloorName.length) >= 13}">
                                                {{details.BuildingName}}, {{details.FloorName}}
                                            </p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) >= 23}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{vm.clientName}}, {{details.SiteName}}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left" ng-if="details.ProgramName">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 15}">
                                                {{details.ProgramName}}
                                            </p>
                                        </div>
                                        <div class="pull-right types">
                                            <i class="fa fa-tasks2 text-warning"></i>
                                            <span class="text-warning">{{'TO-DOs' | translate}}: {{details.ToDos}}</span>
                                            <span data-ng-if="vm.isCrazyProgrammer && !details.InProgress"
                                                  data-ng-click="vm.unfinalize($event,$index,details)"
                                                  class="text-warning padding-left-15 click-style">
                                                {{'UNFINALIZE' | translate}}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
