﻿@model ChaiTea.Web.Common.AuditVm
@{
    ViewBag.HideTitleBar = true;
    var scoreCardId = Model.Id;
}

@section scripts {
    <script>
        angular.module('app').config(['blockUIConfig', function (blockUIConfig) {
            blockUIConfig.autoBlock = false;
        }]);
    </script>

    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="managePhotoUploads.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">
                <span translate>Uploaded Photos for</span> {{ vm.inspection.AuditInspectionItemName }}
            </h3>
        </div>
        <div class="modal-body">
            <div id="audit-image-responsive" class="audit-image" ng-style="vm.wrapperCss">
                <cf-image id="current-image" public-id="{{ vm.currentImage.PublicId }}" width="500" fullscreen="true" class="inline img-responsive " ng-style="vm.imageCss"></cf-image>
            </div>
            <div class="audit-image-wrap">
                <div class="audit-image-thumb" data-ng-repeat="photo in vm.scorecardDetailImages">
                    <div class="audit-image-thumb-wrap">
                        <cf-image public-id="{{ photo.PublicId }}" width="70" class="inline" ng-click="vm.setCurrentImage(photo)"></cf-image>
                    </div>
                    <span class="del-audit-image" data-ng-click="vm.deletePhoto(photo, vm.inspection)">x</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer audit-detail-modal-footer">

            <button class="btn btn-default" ng-click="vm.cancel()" translate>Close</button>
            <button class="btn btn-default btn-success" ng-click="vm.rotateImage(vm.currentImage)" translate>Rotate</button>
            <button class="btn btn-orange light-upload"
                    ngf-select
                    ngf-change="vm.fileAdded(vm.inspection, $files, $event)"
                    accept="image/*;capture=camera" translate>
                <span id="inspection-{{::vm.currentImageView.ScorecardDetailId}}"></span>
                <span translate>Upload More</span>
            </button>

        </div>
    </script>

    <script type="text/ng-template" id="auditInspectionItemModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title" translate>
                To-Do List
            </h3>
        </div>
        <div class="modal-body">
            <form name="todoForm" role="form" class="css-form padding-20 margin-vertical-10" novalidate>
                <div class="well-clean">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="employeeId" translate>Assigned To</label>
                            <span class="required">*</span>
                            <select id="employeeId" name="employeeId" class="form-control" data-ng-model="vm.todo.OrgUserId"
                                    data-ng-options="employee.Key*1 as employee.Value for employee in vm.employees"
                                    data-ng-required="true">
                                <option value="" translate>- Select One -</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="comment" translate>Comment</label>
                            <span class="required">*</span>
                            <textarea id="comment" name="comment" class="form-control" placeholder=""
                                      data-ng-required="true"
                                      data-ng-model="vm.todo.Comment"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="createDate" translate>Due Date</label>
                            <span class="required">*</span>
                            <p class="input-group">
                                <input id="dueDate" name="dueDate" type="text" class="form-control"
                                       data-ng-required="true"
                                        ng-disabled="vm.isDueInTwentyFourHours"
                                       data-ng-model="vm.dueDate" uib-datepicker-popup="MM/dd/yyyy"
                                       is-open="vm.datepickers.dueDate"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'dueDate')"  ng-disabled="vm.isDueInTwentyFourHours">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <label class="pull-left">
                <input type="checkbox" class="checkbox-inline" ng-model="vm.isDueInTwentyFourHours"
                       ng-click="vm.setDueDate()" />
                <span>Due in 24hrs</span>
            </label>
            
            <button class="btn btn-default" ng-click="vm.cancel()" translate>Cancel</button>
            <button class="btn btn-default" ng-click="vm.deleteTodo()" data-ng-if="vm.todo.TodoItemId>0" translate>Delete</button>
            <button class="btn btn-orange" ng-click="vm.saveTodo()" data-ng-disabled="this.todoForm.$invalid">{{ vm.todo.TodoItemId >0 ? 'Update': 'Add' }}</button>
        </div>
    </script>

    <script type="text/ng-template" id="manageCustomerRepresentatives.tmpl.html">
        <div class="btn-group btn-block">
            <button class="col-sm-12 col-md-12 btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width: 100%;">
                <div class="pull-left">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
            </button>
            <a class="closer btn btn-xs btn-default" ng-click="toggleSelect()">close <span class="fa fa-close"></span></a>
            <ul class="dropdown-menu col-sm-12 col-md-12" style="width: 100%; max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
                <li style="width: 100%;">
                    <input class="form-control" type="text" ng-model="searchText.label" placeholder="Filter" />
                </li>
                <li style="width: 100%;">
                    <button class="btn-link btn-small pull-right" ng-click="uncheckAll()"><i class="glyphicon glyphicon-remove"></i> <span translate>Uncheck all</span></button>
                    <button class="btn-link btn-small pull-right" ng-click="checkAll()"><i class="glyphicon glyphicon-ok"></i> <span translate>Check all</span></button>
                </li>
                <li>
                    <a href="javascript:void(0);" data-ng-click="vm.addNewCustomerRepresentative($event)">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span translate>Add New</span>
                    </a>
                </li>
                <li ng-repeat="i in items | filter:searchText" style="width: 275px;">
                    <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                        <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
                    </a>
                </li>

            </ul>
        </div>
    </script>
}

<div class="container-fluid index no-overflow run-audits-entry" data-ng-controller="Quality.AuditEntryCtrl as vm" data-ng-init="vm.initialize(@scoreCardId)">
    <page-header title="{{'Run Audit'|translate}}" s3-icon-name="audit.svg"></page-header>
    <div class="clearfix"></div>
    <div class="head-desc">
        <p class="padding-vertical-10" translate>Select the area which you would like to perform an audit on.</p>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-sm-12 form-content ra-form">
            <form name="auditForm" role="form" class="css-form form-horizontal" novalidate>
                <div class="panel panel-default ra-panel-remove-margin">

                    <span class="warning-txt" data-ng-show="vm.isEntryDisabled">
                        <i class="fa fa-warning fa-2"></i> <span translate>Please select a site and program.</span>
                    </span>

                    <div class="no-internet" ng-hide="vm.hasInternet" translate>Your data has been saved. Once your internet connection improves, please finalize your audit.</div>
                    <div class="form-wrap no-padding-bottom" data-ng-show="!vm.isEntryDisabled">

                        <div class="well well-clean ra-well overflow-visible no-padding-bottom " data-ng-disabled="vm.isEntryDisabled">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 remove-lr-padding">
                                    <div class="clearfix"></div>
                                    <div class="hidden-md hidden-lg audit-info bg-color col-sm-12" 
                                     ng-if="vm.scoreCardId > 0">
                                        <div class="col-xs-6 padding-left-0">
                                            <p class="building-floor-label padding-top-0 pull-left">{{vm.isSecurityProgram ? 'Post' : 'Building'}}: </p>
                                            <p class="pull-left name" ng-class="vm.isSecurityProgram ? 'width-med': 'width-small'">{{vm.selectedBuilding}}</p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="building-floor-label padding-top-0 pull-left">{{vm.isSecurityProgram ? 'Shift' : 'Floor'}}: </p>
                                            <p class="pull-left name"  ng-class="vm.isSecurityProgram ? 'width-med': 'width-small'">{{vm.selectedFloor}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="bg-color">
                                        <div class="form-group">
                                            <div class="col-sm-12 ipad-mob-space" ng-class="vm.scoreCardId==0? 'col-md-4': 'col-md-6'" 
                                             ng-if="vm.scoreCardId == 0 || (vm.showForm && vm.siteSettings.windowSizes.isNotDesktop) || vm.siteSettings.windowSizes.isDesktop">
                                                <label class="building-floor-label" for="buildingId" ng-if="!vm.isSecurityProgram" translate>Building</label>
                                                <label class="building-floor-label" for="buildingId" ng-if="vm.isSecurityProgram" translate>Post</label>
                                                <span class="required">*</span>
                                                <p class="building-floor-subtitle" ng-if="!vm.isSecurityProgram" translate>Choose a building to audit.</p>
                                                <p class="building-floor-subtitle" ng-if="vm.isSecurityProgram" translate>Choose a post to audit.</p>
                                                <select name="buildingId" class="form-control"
                                                        data-ng-model="vm.audit.BuildingId"
                                                        data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                                                        data-ng-change="vm.onBuildingChange(vm.audit.BuildingId)"
                                                        data-ng-disabled="vm.scoreCardId>0"
                                                        data-ng-required="true">
                                                    <option value="" translate>- Select a {{vm.isSecurityProgram ? 'Post': 'Building'}} -</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 ipad-mob-space" ng-class="vm.scoreCardId==0? 'col-md-4': 'col-md-6'" 
                                             ng-if="vm.scoreCardId == 0 || (vm.showForm && vm.siteSettings.windowSizes.isNotDesktop) || vm.siteSettings.windowSizes.isDesktop">
                                                <label class="building-floor-label" for="floorId" ng-if="!vm.isSecurityProgram" translate>Floor</label>
                                                <label class="building-floor-label" for="floorId" ng-if="vm.isSecurityProgram" translate>Shift</label>
                                                <span class="required">*</span>
                                                <p class="building-floor-subtitle" translate>Select a {{vm.isSecurityProgram ? 'Shift': 'Floor'}} to perform the audit on.</p>
                                                <select name="floorId" class="form-control"
                                                        data-ng-model="vm.audit.FloorId"
                                                        data-ng-options="floor.Key*1 as floor.Value for floor in vm.options.floors"
                                                        data-ng-disabled="vm.options.floors.length <= 0"
                                                        data-ng-change="vm.onFloorChange(vm.audit.FloorId)"
                                                        data-ng-required="true">
                                                    <option value="" translate>- Select a {{vm.isSecurityProgram ? 'Shift': 'Floor'}} -</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-12 ipad-mob-space" style="margin-top: 50px;" data-ng-if="vm.scoreCardId==0">
                                                <div class="col-xs-12 col-sm-6 padding-bottom-10">
                                                    <a href="javascript:void(0);" class="btn btn-begin-audit" data-ng-click="vm.createAudit($event)" data-ng-disabled="!vm.audit.FloorId" translate>BEGIN AUDIT</a>
                                                </div>

                                            </div>
                                        </div>
                                       
                                        <div class="form-group margin-bottom-0" data-ng-if="vm.scoreCardId>0 && ((vm.showForm && vm.siteSettings.windowSizes.isNotDesktop) || vm.siteSettings.windowSizes.isDesktop)" >
                                            <div class="col-md-6 col-sm-12 ipad-mob-space">
                                                <label class="building-floor-label-m" for="auditDate" translate>Audit Date</label>
                                                <span class="required">*</span>
                                                <p class="input-group">
                                                    <input id="auditDate" name="auditDate" type="text" class="form-control" ng-required="true"
                                                           ng-model="vm.audit.AuditDate" uib-datepicker-popup="MM/dd/yyyy"
                                                           is-open="vm.datepickers.auditDate" datepicker-append-to-body="true"
                                                           close-text="Close" max-date="vm.maxDate" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'auditDate')">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </p>
                                            </div>

                                            <div class="col-md-6 col-sm-12 ipad-mob-space">
                                                <label class="building-floor-label-m" for="auditorId" translate>Auditor</label>
                                                <input type="text" class="form-control" ng-readonly="true" ng-model="vm.audit.AuditorName" />
                                            </div>

                                            <div class="col-md-6 col-sm-12 padding-bottom-15 ipad-mob-space">
                                                <label class="building-floor-label-m" for="customerRepresentativeId">Joint Auditor</label>

                                                <multiselect name="customerRepresentatives[]" class="input-xlarge" multiple="true"
                                                             options="rep.CustomerRepresentativeId*1 as rep.Name for rep in vm.options.customerRepresentatives"
                                                             template-url="manageCustomerRepresentatives.tmpl.html"
                                                             ng-model="vm.audit.CustomerRepresentatives"></multiselect>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="hide-show hidden-md hidden-lg" ng-if="vm.scoreCardId > 0" ng-click="vm.showForm = !vm.showForm">
                                        <span ng-if="vm.showForm">
                                            <span class="fa fa-angle-double-up padding-right-5"></span><span class="more">HIDE FORM</span>
                                        </span>
                                        <span ng-if="!vm.showForm">
                                            <span class="fa fa-angle-double-down padding-right-5"></span><span class="more">VIEW MORE OPTIONS</span>
                                        </span>
                                    </div>
                                    <div class="entry-forms-wrap audit-areas remove-margin-top" data-ng-if="vm.scoreCardId > 0">
                                        <div class="ra-audit-areas-text">
                                            <div class="pull-left">
                                                <p class="ra-audit-areas-label" ng-if="!vm.isSecurityProgram" translate>Audit Areas</p>
                                                <p class="ra-audit-areas-label" ng-if="vm.isSecurityProgram" translate>Security Audit</p>
                                                <p class="ra-audit-areas-subtitle" translate>Rate and score areas within your audit range.</p>
                                            </div>
                                            <div class="site-goal" ng-if="vm.isSecurityProgram">
                                                <strong>Site Goal: <span class="text-success">{{vm.goal}}</span></strong>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <hr ng-if="!vm.isSecurityProgram" />
                                        <div class="col-md-12 no-padding" ng-if="!vm.isSecurityProgram" data-ng-repeat="section in vm.audit.ScorecardSections" id="section-{{::section.ScorecardSectionId}}">
                                            <div class="table-title-well ra-table-title-well-padding-left" data-ng-click="vm.toggleSection($event, section)" data-ng-class="section.IsToggled? 'pri-color': ''">
                                                <p>
                                                    <i class="fa" data-ng-class="section.IsToggled? 'fa-caret-down': 'fa-caret-right'"></i> 
                                                    {{ ::section.AreaName }} <span class="text-danger" ng-if="vm.highlightSection(section) && !section.IsToggled 
                                                                                                           && vm.inspectionItemFailureValidations.RequireToDosInternalAudit">*</span>
                                                </p>
                                            </div>
                                            <div class="audit-entry-sec animate-show ra-ai-en-wrap-padding-left" uib-collapse="!section.IsToggled">
                                                <div class="ai-en-wrap ai-en-wrap-margin-top" data-ng-repeat="inspection in section.ScorecardDetails">

                                                    <div class="inspe-score" ng-class="{'require-Todos': inspection.RequireToDosInternalAudit 
                                                                                                      && vm.inspectionItemFailureValidations.RequireToDosInternalAudit}">
                                                        <p class="col-xs-12 col-sm-12 col-md-5 pull-left">{{ ::inspection.AuditInspectionItemName }}</p>
                                                        <p class="col-xs-12 col-sm-12 col-md-7" ng-if="inspection.RequireToDosInternalAudit 
                                                                                                    && vm.inspectionItemFailureValidations.RequireToDosInternalAudit">
                                                            <span class="require-message">{{'REQUIRE_TODOS_TEXT'| translate}}</span>
                                                        </p>
                                                    </div><!-- inspe-score -->
                                                    <div class="row table-row">
                                                        <div class="col-md-3 ai-en-details col-xs-12" style="display: block;">

                                                            <score-input-with-goal data-ng-model="inspection.Score"
                                                                                   score-validator
                                                                                   goal-check={{vm.goal}}
                                                                                   required-todos-internal={{vm.inspectionItemFailureValidations.RequireToDosInternalAudit}}
                                                                                   is-required="inspection.isRequired"
                                                                                   scale-max="vm.audit.MaximumScore"
                                                                                   scale-min="vm.audit.MinimumScore"
                                                                                   goal="vm.goal"
                                                                                   place-holder="{{::vm.audit.MinimumScore }}-{{ ::vm.audit.MaximumScore }}"></score-input-with-goal>

                                                        </div><!-- COL3-12 -->
                                                        <div class="col-md-8 ai-en-details col-xs-12" style="display: block;">
                                                            <div>
                                                                <div class="col-lg-8 col-xs-3">
                                                                    <a class="picture-link comment-icon hidden-lg row-btn-icon" href="javascript:void(0);"
                                                                       ng-click="vm.toggleInspectionComment(inspection, $event)">
                                                                        <i class="fa fa-comment"></i>
                                                                    </a>
                                                                    <div class="audit-comment-textarea animate-show"
                                                                         resize-apply=".form-content"
                                                                         resize-offset="-65"
                                                                         resize-max-width="400"
                                                                         ng-show="!inspection.IsCommentCollapsed">

                                                                        <textarea placeholder="Comment..."
                                                                                  class="basic-input audit-comment-text"
                                                                                  data-ng-model="inspection.Comment"></textarea>
                                                                        <a title="Suggested Comments" class="sugg-comments" href="javascript:void(0);"
                                                                           data-toggle="dropdown"
                                                                           aria-haspopup="true"
                                                                           data-ng-click="vm.getQuickComments($event)"
                                                                           aria-expanded="false">
                                                                            <i class="fa fa-sort-desc"></i>
                                                                        </a>
                                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                            <li data-ng-repeat="comment in vm.options.quickComments">
                                                                                <a href="" data-ng-click="inspection.Comment = comment.Comment">{{ comment.Comment }}</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div><!-- audit-comment-textarea -->
                                                                </div><!-- col-xs-3 -->
                                                                <div class="col-md-4 col-xs-3">

                                                                    <a class="fa fa-camera upload-btn picture-link row-btn-icon" ng-show="vm.hasInternet"
                                                                       href="#section-{{::section.ScorecardSectionId}}"
                                                                       ngf-select
                                                                       ngf-change="vm.fileAdded(inspection, $files, $event)"
                                                                       ngf-capture="'camera'"
                                                                       accept="image/*;capture=camera"
                                                                       style="position: relative;"
                                                                       data-ng-if="inspection.ScorecardDetailImages.length <1">
                                                                        <span class="upload-progress" id="inspection-{{::inspection.ScorecardDetailId}}"></span>
                                                                    </a>
                                                                    <div class="file-input">
                                                                        <input type="file" name="picture" id="picture-input">
                                                                    </div>
                                                                    <a class="fa fa-image upload-btn picture-link row-btn-icon" href="javascript:void(0);"
                                                                       data-ng-click="vm.viewPhotos(inspection, $event)"
                                                                       style="position: relative;"
                                                                       data-ng-if="inspection.ScorecardDetailImages.length > 0" ng-show="vm.hasInternet">
                                                                        <span class="upload-progress"></span>
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6">
                                                                    <div class="basic-input add-todo tasks-list-menu" ng-class="{'highlight': inspection.RequireToDosInternalAudit 
                                                                                                                                           && vm.inspectionItemFailureValidations.RequireToDosInternalAudit}">
                                                                        <a class="btn btn-primary lightbox-show" href="javascript:void(0);"
                                                                           data-ng-click="vm.editInspectionItemTodo($event, inspection)">
                                                                            <i class="glyphicon glyphicon-plus"></i>
                                                                        </a>
                                                                        <span class="tasks-length">{{ inspection.TodoItems.length }}</span>
                                                                        <div class="tasks-list" ng-if="inspection.TodoItems.length > 0">
                                                                            <a class="lightbox-show" href="javascript:void(0);"
                                                                               data-ng-repeat="todo in inspection.TodoItems"
                                                                               data-ng-click="vm.editInspectionItemTodo($event, inspection, todo)"><span translate>Task</span>{{$index+1}}</a>
                                                                        </div><!-- TASKS-LISTS -->
                                                                        <a class="btn btn-primary task-list-show right-all" href="javascript:void(0);"
                                                                           data-ng-click="vm.toggleTodoItems($event, inspection.TodoItems)"
                                                                           data-ng-if="inspection.TodoItems.length">
                                                                            <i class="fa fa-sort-desc"></i>
                                                                        </a>
                                                                    </div><!-- add-todo -->
                                                                </div><!-- col-xs-2 -->
                                                            </div><!-- ROW -->
                                                        </div><!-- COL-6-12 -->
                                                    </div>
                                                </div><!-- ROW -->
                                            </div>
                                        </div><!-- COL12 -->
                                        <div class="col-md-12 no-padding" ng-if="vm.isSecurityProgram">
                                            <quality-security-audit-form goal="vm.goal" score-card-id="vm.scoreCardId" update-detail-score="vm.changeScorecardDetail(score, sectionIndex, detailIndex)"></quality-security-audit-form>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="panel panel-default remove-lr-padding " ng-class="{'padding-left-10': vm.siteSettings.windowSizes.isDesktop}" data-ng-if="vm.scoreCardId>0">
                    <div class="panel-body form-wrap remove-l-padding mob-style">
                        <label class="building-floor-label" for="comment" translate>Audit Summary</label>
                        <span class="required">*</span>
                        <p class="comment-subtitle" translate>Please enter an overall comment on the audit of this floor.</p>
                        <textarea name="comment" id="comment" data-ng-model-options="{ updateOn: 'blur'}"
                                  class="form-control" data-ng-required="true" required data-ng-model="vm.audit.Comment" cols="2" rows="8" placeholder="Add Comment..."></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-12 padding-horizontal-30 padding-bottom-50" data-ng-if="vm.scoreCardId > 0 && !vm.isEntryDisabled">
            <div class="row hidden-xs">
                <div class="col-md-12">
                    <div class="col-md-4 no-padding">
                        <div class="pull-left">
                            <a class="btn ra-btn-delete" href="javascript:void(0);" data-ng-click="vm.deleteAudit($event)" translate>DELETE</a>
                        </div><!-- Col-6 -->
                        <div class="pull-left">
                            <a class="btn ra-btn-close" href="javascript:void(0);" data-ng-click="vm.cancel($event)" translate>CLOSE</a>
                        </div><!-- Col-6 -->
                    </div>
                    <div class="col-md-4 col-md-offset-4 no-padding">
                        <div class="pull-right">
                            <a class="btn ra-btn-finalize" href="javascript:void(0);" data-ng-click="vm.saveAudit($event, false)" translate>
                                FINALIZE
                            </a>
                        </div><!-- Col-6 -->
                        <div class="pull-right">
                            <a class="btn ra-btn-save" href="javascript:void(0);" data-ng-click="vm.saveAudit($event, true)" translate>SAVE</a>
                        </div><!-- Col-6 -->
                    </div><!-- COL 6 -->
                </div>
            </div>
            <div class="col-md-12 no-padding hidden-md hidden-lg hidden-sm">

                <div class="pull-left">
                    <a class="btn ra-btn-delete" href="javascript:void(0);" data-ng-click="vm.deleteAudit($event)" translate>DELETE</a>
                </div><!-- Col-6 -->
                <div class="pull-left">
                    <a class="btn ra-btn-close" href="javascript:void(0);" data-ng-click="vm.cancel($event)" translate>CLOSE</a>
                </div><!-- Col-6 -->
                <div class="pull-left">
                    <a class="btn ra-btn-save" href="javascript:void(0);" data-ng-click="vm.saveAudit($event, true)" translate>SAVE</a>
                </div>
                <div class="pull-left">
                    <a class="btn ra-btn-finalize" href="javascript:void(0);" data-ng-click="vm.saveAudit($event, false)" translate>
                        FINALIZE
                    </a>
                </div><!-- Col-6 -->
                <!-- Col-6 -->
               
            </div>
        </div>
    </div>

</div>
