﻿@model ChaiTea.Web.Common.AuditVm
@{
    ViewBag.HideTitleBar = true;
    var scoreCardId = Model.Id;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="auditInspectionViewImagesModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{ ::vm.inspection.AuditInspectionItemName }}
            </h3>
            <div class="close-btn" ng-click="vm.cancel()"><i class="fa fa-close"></i></div>
        </div>
        <div class="modal-body">

            <div class="audit-image-container">
                <div id="audit-image-responsive" class="audit-image" ng-style="vm.wrapperCss">
                    <cf-image id="current-image" public-id="{{ vm.currentImageView.PublicId }}" width="500" fullscreen="true" class="inline img-responsive" ng-style="vm.imageCss"></cf-image>
                </div>

                <div class="ai-score">
                    <span translate>Score</span>:
                    <span data-ng-if="vm.inspection.Score > 0">{{ ::vm.inspection.Score }}</span>
                    <span data-ng-if="vm.inspection.Score <= 0" class="fa-ellipsis-h"></span>
                </div>
            </div>
            <div class="audit-image-wrap">
                <div class="audit-image-thumb " data-ng-repeat="photo in vm.inspection.ScorecardDetailImages">
                    <div class="audit-image-thumb-wrap">
                        <cf-image public-id="{{ photo.PublicId }}" width="70" fullscreen="true" class="inline img-responsive" ng-click="vm.setCurrentImage(photo)"></cf-image>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="col-md-12">
            <h4 class="field-name" translate>Comment:</h4>
            <p class="ai-comment">{{ ::vm.inspection.Comment }}</p>

        </div>

        <div class="modal-footer">
            <button class="btn btn-default btn-block btn-success" ng-click="vm.rotateImage(vm.currentImageView)" translate>Rotate</button>
            <button class="btn btn-default btn-block" ng-click="vm.cancel()" translate>Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="auditInspectionViewTodosModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ vm.todoItems.length }} <span translate>Task(s) To-Do</span></h3>
            <div class="close-btn" ng-click="vm.cancel()"><i class="fa fa-close"></i></div>
        </div>
        <div class="modal-body">
            <div class="task-wrap" data-ng-repeat="todo in vm.todoItems">
                <h4 class="task-title">Task {{ $index+1 }}</h4>
                <p class="ai-comment">{{ :: todo.Comment }}</p>
                <hr>
                <h4 class="field-name" translate>Assigned to:</h4>
                <h4>{{ :: todo.EmployeeName }}</h4>
                <hr>
                <h4 class="field-name" translate>Due Date:</h4>
                <h4>{{ :: todo.DueDate | date:'MM/dd/yyyy' }}</h4>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="vm.cancel()" translate>Close</button>
        </div>
    </script>
}


<div class="container-fluid audits-entry-view no-overflow" data-ng-controller="Quality.AuditEntryViewCtrl as vm" data-ng-init="vm.initialize(@scoreCardId)">
    @* ****** new code start *********@

    <div class="row">
        <div class="review-header">
            <p class="pull-left" translate>REVIEW AUDIT DETAILS</p>
            <p class="pull-right audit-date hidden-xs"><span translate>AUDIT DATE</span>: {{::vm.audit.AuditDate | date: 'MMMM d,yyyy h:mma' }}</p>
            <p class="pull-right audit-date visible-xs"><span translate>AUDIT DATE</span>: {{::vm.audit.AuditDate | date: 'M/d/yy h:mma' }}</p>
        </div>
        <div class="clearfix"></div>
        <div class="review-body">
            <div class="row">
                <div class="col-md-8 col-xs-12 col-sm-12 padding-right-0">
                    <div class="audits-left-side-block">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 auditor-details">
                                <p class="auditor-name">{{ ::vm.audit.AuditorName }}</p>
                                <p class="internal-auditor-label" translate>Internal Auditor</p>
                                <p class="joint-auditors-label"><span translate>Joint Auditors</span>: <span class="joint-auditors-list" data-ng-repeat="rep in vm.audit.CustomerRepresentatives">{{ ::rep.Name }}</span></p>
                                <p class="audits-program-label"><span translate>Audit Pertains to</span>: <span class="audits-program-name">{{ ::vm.audit.ProgramName }}</span></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs building-floor-info">
                                <p class="audit-location-label" translate>AUDIT LOCATION</p>
                                <p class="audit-location-value">{{ ::vm.audit.BuildingName }}, {{ ::vm.audit.FloorName }}</p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 hidden-sm hidden-md hidden-lg building-floor-info">
                                <p class="audit-location-label"><span translate>AUDIT LOCATION </span><span class="audit-location-value">{{ ::vm.audit.BuildingName }}, {{ ::vm.audit.FloorName }}</span></p>
                            </div>
                            <div class="circle-score pull-right" ng-class="vm.audit.Average < vm.reportsConfig.control ? 'backgrnd-red' : 'backgrnd-green'">
                                {{ vm.audit.Average | number:2}}
                            </div>
                        </div>
                        <hr class="h-line" />
                        <div class="audit-summary">
                            <div class="audit-summary-label" translate>
                                Audit Summary:
                            </div>
                            <div class="audit-summary-desc">
                                {{vm.audit.Comment}}
                            </div>
                        </div>
                        <hr class="h-line" />

                        <div data-ng-repeat="section in vm.audit.ScorecardSections">
                            <div class="table-ti-wrap table-title-header" data-ng-class="section.IsToggled? 'padding-bottom-15': ''">

                                <div class="table-title-well" data-ng-click="vm.toggleSection($event, section)" data-ng-class="section.IsToggled? 'pri-color header-color': ''">
                                    <span class="area-name-detail">
                                        <i class="fa fa-caret-down"></i> <span class="section-area-name">{{ ::section.AreaName }}</span> @*/ {{ ::vm.audit.ProgramName }} / {{ ::section.AreaClassificationName }}*@
                                    </span>
                                    <span class="score-detail hidden-xs">
                                        <span class="score-label" translate>SCORE</span>
                                        <span class="score score-value" ng-class="section.ScoreAverage >= vm.reportsConfig.control?'text-green':'text-red'" data-ng-if="section.ScoreAverage">{{::section.ScoreAverage | number:2}}</span>
                                        <span ng-class="section.ScoreAverage >= vm.reportsConfig.control?'text-green':'text-red'" data-ng-if="!section.ScoreAverage" class="fa fa-ellipsis-h"></span>
                                    </span>
                                    <span class="fa fa-tasks text-muted count-icon padding-left-10 padding-right-5 hidden-xs"></span>
                                    <span class="todo-count text-muted hidden-xs">{{ ::section.ToDos }}</span>
                                    <div class="score-detail hidden-lg hidden-md hidden-sm">
                                        <span class="score-label" translate>SCORE</span>
                                        <span class="score score-value" ng-class="section.ScoreAverage >= vm.reportsConfig.control?'text-green':'text-red'" data-ng-if="section.ScoreAverage">{{::section.ScoreAverage | number:2}}</span>
                                        <span ng-class="section.ScoreAverage >= vm.reportsConfig.control?'text-green':'text-red'" data-ng-if="!section.ScoreAverage" class="fa fa-ellipsis-h"></span>
                                        <span class="fa fa-tasks text-muted count-icon padding-left-10 padding-right-5"></span>
                                        <span class="todo-count text-muted">{{ ::section.ToDos }}</span>
                                    </div>
                                    
                                </div><!-- table-title-well -->
                                <hr class="h-line" data-ng-show="!section.IsToggled" />
                                <div class="pagination-wrap padding-left-15" data-ng-show="section.IsToggled">
                                    <ul class="pagination audits-pagination">
                                        <li data-ng-repeat="filter in vm.sectionFilters" data-ng-class="{active: $index == section.filterSelected}">
                                            <a href="" class="pagination-styles"
                                               data-ng-click="section.FilterBy=filter.filterValue; section.filterSelected = $index">
                                                {{filter.filterName | uppercase}}
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                            </div><!-- table-ti-wrap -->

                            <div class="audit-tables ai-viewer animate-show" data-ng-show="section.IsToggled">
                                <div class="text-center empty-wrap" data-ng-if="!section.FilteredScorecardDetails.length" translate>No data to display</div>
                                <hr data-ng-if="!section.FilteredScorecardDetails.length" />
                                <div class="row audits-area-cards" ng-flow-grid="homePageGrid" min-item-width="300" >
                                    <div class="padding-bottom-20 flowGridItem" data-ng-repeat="inspection in section.FilteredScorecardDetails = (section.ScorecardDetails | auditFilterScorecards:section.FilterBy:3)">
                                        <div class="audit-item audits-indi-items" data-ng-class="{'below-avg':inspection.Score < 3, 'audits-indi-no-image': !section.sectionContainsImages || !inspection.ScorecardDetailImages.length}">
                                            <div class="ai-name audit-indi-name" data-ng-click="vm.viewInspectionItemImages(inspection, $event)">
                                                {{ ::inspection.AuditInspectionItemName }}
                                            </div>
                                            <div class="ai-image" data-ng-click="vm.viewInspectionItemImages(inspection, $event)" data-ng-if="inspection.ScorecardDetailImages.length > 0 || section.sectionContainsImages">
                                                                                   
                                                <cf-image ng-if="inspection.ScorecardDetailImages.length > 0" public-id="{{ ::inspection.ScorecardDetailImages[0].PublicId }}" width="250" fullscreen="true" class="inline" ng-style="vm.rotateTracking[inspection.ScorecardDetailImages[0].ImageId].css"></cf-image>    

                                                <div class="btn btn-primary">
                                                    <i class="fa fa-expand"></i>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div><!-- ai-image -->
                                            <div class="ai-comment" data-ng-click="vm.viewInspectionItemImages(inspection, $event)">
                                                <p>{{ ::inspection.Comment  }}</p>
                                            </div><!-- ai-comment -->
                                            <div class="">
                                                <span class="audit-indi-score pull-left" ng-class="vm.reportsConfig.control > inspection.Score ? 'backgrnd-red' : 'backgrnd-green'">{{ ::inspection.Score || 0 }}</span>
                                                <a class="audit-indi-todo pull-right" data-ng-class="{'text-muted': !inspection.TodoItems.length }" href="" data-ng-click="vm.viewInspectionItemTodos(inspection, $event)">
                                                    <i class="fa fa-tasks"></i> {{ ::inspection.TodoItems.length }}
                                                </a>
                                            </div>

                                        </div><!-- audit-item -->
                                        <div class="clearfix"></div>
                                    </div><!-- audit-item -->

                                </div><!-- ROW -->
                            </div><!-- audit-tables -->
                        </div>


                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 audits-right-side-block">
                    <div class="title" translate>
                        Accountable Employees
                    </div>
                    <hr class="horizontal-line" />
                    <div data-ng-if="vm.options.employeesWithImage.length <= 0" class="none" translate>None</div>
                    <div class="supervisor-info" data-ng-repeat="item in vm.options.employeesWithImage">
                        <div class="circle-img col-xs-4">
                            <img ng-src="{{ item.EmployeeImage || '@Url.Content("~/content/img/user.jpg")'}}" />
                        </div>
                        <div class="supervisor-name col-xs-8">
                            {{ item.EmployeeName }}
                            <div class="supervisor-title">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="h-line-style" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    @* ****** new code end *********@
</div>