﻿@{
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="audit-card-content.html">
        <div class="content">
            <div class="audit-auditor-img pull-left">
                <img class="circle-img" ng-src="{{details._auditorProfilePicture}}" err-src="{{vm.sitesettings.defaultProfileImage}}" alt="" />
            </div>
            <div class="pull-left padding-left-10 audit-data">
                <p class="associate truncate">{{details.BuildingName}}, {{details.FloorName}}</p>
                <p>{{details.IsJointAudit ? 'Joint Audit' : 'Internal Audit'}}</p>
            </div>
            <div ng-if="details.Average" class="a-audit-score pull-right" ng-class="details.Average < vm.reportsConfig.control ? 'fail' : 'success'">
                <p>{{ ::details.Average | number: vm.auditSettings.ChartRoundingScale }}</p>
            </div>
            <div class="clearfix"></div>
            <div class="padding-top-10" ng-if="!details.InProgress">
                <p class="truncate pull-left">
                    <strong><span translate>Auditor</span>: {{details.AuditorName}}</strong>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>
}


<div class="container-fluid index no-overflow audit-index" data-ng-controller="Quality.AuditIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Audits'|translate}}"
                 s3-icon-name="audit.svg"
                 info-text="{{'View Statistics and detailed description of Audits and services of employees working in the facility.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Quality/Audit/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'RUN AUDIT' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details", "Audit")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>
    <div class="row">
        <hr class="no-margin" />
        <div class="col-sm-12 page-content">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 padding-right-0 hidden-xs hidden-sm">
                    <div class="col-md-12 padding-left-5 padding-right-5 recent  padding-bottom-15">
                        <h3 class="header margin-bottom-0 padding-left-15">
                            <span>{{'Most Recent' | translate}}</span>
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "Audit")" translate>
                                VIEW ALL
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.reportsConfig.audits" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true" item-id="details.ScorecardId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" 
                                                         header-date="details.AuditDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left employee-img audit" ng-class="details.Average < vm.reportsConfig.control ? 'fail' : 'success'">
                                                <span class="avg-score">{{details.Average | number: vm.auditSettings.ChartRoundingScale}}</span>
                                            </div>
                                            <div class="pull-left auditor-profile-pic">
                                                <img class="employee-img overlap-image move" ng-src="{{details._auditorProfilePicture}}" />
                                            </div>
                                            <div class="pull-left auditor-section">
                                                <p class="name truncate">{{details.AuditorName}}</p>
                                                <p class="name-lbl text-muted">
                                                    {{'AUDITOR' | translate}}
                                                    <span class="audit-type padding-left-5">{{details.IsJointAudit ? 'JOINT_AUDIT' : 'INTERNAL_AUDIT' | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Comment" class="margin-top-25 truncate">
                                            {{details.Comment}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'truncate building' : (details.BuildingName.length + details.FloorName.length) >= 13}">
                                            {{details.BuildingName}}, {{details.FloorName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) >= 23}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{vm.clientName}}, {{details.SiteName}}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left" ng-if="details.ProgramName">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 15}">
                                            {{details.ProgramName}}</p>
                                        </div>
                                        <div class="pull-right types">
                                            <i class="fa fa-tasks2 text-warning"></i>
                                            <span class="text-warning">{{'TO-DOs' | translate}}: {{details.ToDos}}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 charts audits-charts-align">
                    <div class="row hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="panel panel-default margin-bottom-0">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} <span>{{'Month Scores' | translate}}</span></h3>
                                <div class="score-panel">
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.counts.averageInternalBuilding | number: vm.auditSettings.ChartRoundingScale }}</span>
                                        <span class="score-title"><span>{{'Average Internal' | translate}}</span> {{ vm.scoresTitle }} <span>{{'Score' | translate}}</span></span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.counts.averageJointBuilding | number: vm.auditSettings.ChartRoundingScale }}</span>
                                        <span class="score-title"><span>{{'Average Joint' | translate}}</span> {{ vm.scoresTitle }} <span>{{'Score' | translate}}</span></span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.failedAuditsCount }}</span>
                                        <span class="score-title">{{'Audits Failed' | translate}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <!-- Monthly Trend -->
                            <div class="panel panel-default">
                                <h3 class="panel-header-txt" translate>Monthly Trends</h3>

                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" data-ng-if="vm.reportsConfig.auditTrends.xAxis.categories.length <= 1">
                                    {{'- More than 1 month worth of data required for monthly trend -' | translate}}
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" data-ng-if="vm.reportsConfig.counts.auditTrends.totalcount == 0 && vm.reportsConfig.auditTrends.xAxis.categories.length > 1">
                                    {{'- No data to display -' | translate}}
                                </div>
                                <div class="chart-wrap">
                                    <sbm-hc-column-chart id="auditTrends" data-ng-model="vm.reportsConfig.auditTrends"
                                                         scale-min="{{vm.reportsConfig.minScale}}"
                                                         scale-max="{{vm.reportsConfig.scale}}"
                                                         step="{{ vm.reportsConfig.tickInterval}}"
                                                         data-ng-if="vm.reportsConfig.auditTrends.xAxis.categories.length > 1 && vm.reportsConfig.counts.auditTrends.totalcount > 0">
                                    </sbm-hc-column-chart>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Most Recent -->
                    <div class="col-xs-12 recent  padding-bottom-15 margin-bottom-30 hidden-md hidden-lg">
                        <h3 class="header margin-bottom-0 padding-left-10">
                            <span>{{'Most Recent' | translate}}</span>
                            <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "Audit")">
                                {{'VIEW ALL' | translate}}
                            </a>
                        </h3>
                        <div class="padding-left-5 padding-right-5 cards">
                            <card class="col-xs-12 col-sm-6 size" ng-repeat="details in vm.reportsConfig.audits" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true" item-id="details.ScorecardId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)"  header-date="details.AuditDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left employee-img audit" ng-class="details.Average < vm.reportsConfig.control ? 'fail' : 'success'">
                                                <span class="avg-score">{{details.Average | number: vm.auditSettings.ChartRoundingScale}}</span>
                                            </div>
                                            <div class="pull-left auditor-profile-pic">
                                                <img class="employee-img overlap-image move" ng-src="{{details._auditorProfilePicture}}" />
                                            </div>
                                            <div class="pull-left auditor-section">
                                                <span class="name truncate">{{details.AuditorName}}</span>
                                                <p class="name-lbl text-muted">
                                                    {{'AUDITOR' | translate}}
                                                    <span class="audit-type padding-left-5">{{details.IsJointAudit ? 'JOINT_AUDIT' : 'INTERNAL_AUDIT' | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Comment" class="margin-top-25 truncate">
                                            {{details.Comment}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'truncate building' : (details.BuildingName.length + details.FloorName.length) > 15}">
                                            {{details.BuildingName}}, {{details.FloorName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <i class="fa fa-location"></i>
                                                <span>{{vm.clientName}}, {{details.SiteName}}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left" ng-if="details.ProgramName">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 15}">
                                                {{details.ProgramName}}
                                            </p>
                                        </div>
                                        <div class="pull-right types">
                                            <i class="fa fa-tasks2 text-warning"></i>
                                            <span class="text-warning">{{'TO-DOs' | translate}}: {{details.ToDos}}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Site Audits start -->
                    <div class="view-by-building">
                        <sbm-panel-collapser is-collapsed="false" title="View by @(ViewBag.SiteOrBuilding)">
                            <div class="row empty-wrap" ng-if="vm.reportsConfig.counts.auditTrendsBySite.outOf==0">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                    {{'No data to display' | translate}}
                                </div>
                            </div>
                            <div class="row chart-wrap" ng-if="vm.reportsConfig.counts.auditTrendsBySite.outOf > 0">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="border-wrap">
                                        <sbm-hc-bar-chart id="auditsBySite" data-ng-model="vm.reportsConfig.auditTrendsBySite"
                                                          scale-min="{{vm.reportsConfig.minScale}}"
                                                          scale-max="{{vm.reportsConfig.scale}}"
                                                          step="{{ vm.reportsConfig.tickInterval}}">
                                        </sbm-hc-bar-chart>
                                    </div>
                                </div>
                            </div>
                        </sbm-panel-collapser>
                    </div>
                    <!-- Site Audits end -->
                    <!-- View By Area start -->
                    <sbm-panel-collapser is-collapsed="false" title="View by {{vm.userContext.Program.Name == 'Security' ? 'Security' : ''}} Area" data-ng-if="vm.userContext.Program.ID > 0">
                        <div class="row empty-wrap" ng-if="vm.reportsConfig.counts.auditTrendsByArea.outOf==0">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" style="padding-bottom:10px;">
                                {{'No data to display' | translate}}
                            </div>
                        </div>
                        <div class="row chart-wrap" ng-if="vm.reportsConfig.counts.auditTrendsByArea.outOf>0">

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="border-wrap">
                                    <sbm-hc-bar-chart id="auditsByArea" data-ng-model="vm.reportsConfig.auditTrendsByArea" ng-if="vm.reportsConfig.auditTrendsByArea.series.length">
                                    </sbm-hc-bar-chart>
                                </div>
                            </div>

                        </div>
                    </sbm-panel-collapser>

                    <!-- View By Area end -->
                    <!-- Audit By Programs start -->
                    <sbm-panel-collapser is-collapsed="false" title="View by Programs" data-ng-if="vm.userContext.Program.ID===0">
                        <div class="row empty-wrap" ng-if="vm.reportsConfig.counts.auditTrendsByProgram.outOf==0">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                {{'No data to display' | translate}}
                            </div>
                        </div>

                        <div class="row chart-wrap" ng-if="vm.reportsConfig.counts.auditTrendsByProgram.outOf>0">

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="border-wrap">
                                    <sbm-hc-bar-chart id="auditByPrograms" data-ng-model="vm.reportsConfig.auditTrendsByProgram">
                                    </sbm-hc-bar-chart>
                                </div>
                            </div>
                        </div>
                    </sbm-panel-collapser>
                    <!-- Audit By Programs end -->
                    <!-- Avg Results by Location and Program start -->
                    <div hidden-employees class="panel panel-default avg-results">
                        <h3 class="panel-header-txt" style="margin-bottom: 0;">
                            {{'Average Results' | translate}}
                        </h3>

                        <div class="row empty-wrap" data-ng-if="!vm.reportsConfig.programs.length">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                {{'No data to display' | translate}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
                                <div class="col-md-12" data-ng-repeat="program in vm.reportsConfig.programs">
                                    <div class="table-title-well" data-ng-click="vm.toggleProgram($event, program)" >
                                        <p>
                                            <i class="fa fa-caret-right"></i> {{ ::program.Value }}
                                        </p>
                                    </div>

                                    <div uib-collapse="!program.IsToggled" class="avg-results-align">
                                        <table class="table table-bordered table-striped details-grid well-table">
                                            <thead data-ng-if="program.Locations.Data.length">
                                                <tr>
                                                    <th>{{'Location' | translate}}</th>
                                                    <th class="text-center"><span class="hidden-xs hidden-sm">{{'Total' | translate}}</span> <span>{{'Audits' | translate}}</span></th>
                                                    <th class="text-center">{{'Avg.Score' | translate}}</th>
                                                    <th class="hidden-xs text-center">{{'Internal' | translate}}</th>
                                                    <th class="hidden-xs text-center">{{'Avg. Internal' | translate}}</th>
                                                    <th class="hidden-xs text-center">{{'Joint' | translate}}</th>
                                                    <th class="hidden-xs text-center">{{'Avg. Joint' | translate}}</th>
                                                    <th class="hidden-xs text-center">{{'Last Audit' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="location in program.Locations.Data">
                                                    <td>{{ ::location.Name }}</td>
                                                    <td class="text-center">{{ ::location.TotalAuditCount }}</td>
                                                    <td class="text-center">{{ ::location.TotalAverageScore }}</td>
                                                    <td class="hidden-xs text-center">{{ ::location.InternalAuditCount }}</td>
                                                    <td class="hidden-xs text-center">{{ ::location.InternalAverageScore }}</td>
                                                    <td class="hidden-xs text-center">{{ ::location.JointAuditCount}}</td>
                                                    <td class="hidden-xs text-center">{{ ::location.JointAverageScore }}</td>
                                                    <td class="hidden-xs text-center">{{ ::location.LastAuditDate | date:'MM/dd/yyyy' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- COL12 -->

                            </div>
                        </div>
                    </div>
                    <!-- Avg Results by Location and Program end -->

                </div>
            </div>

        </div>

    </div>
</div>