﻿@model ChaiTea.BusinessLogic.ViewModels.Auditing.AuditProfileSectionVm
@{
    ViewBag.Title = "Audits - Profile Entry";
    ViewBag.HideTitleBar = true;
    var auditProfileId = Model.AuditProfileId;
    var auditProfileSectionId = Model.AuditProfileSectionId;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="employeesModal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                Select Employees
            </h3>
        </div>
        <div class="modal-body">
            <form name="employeesForm" role="form" class="css-form" novalidate>
                <div class="well well-clean overflow-visible">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <multiselect name="employees[]" class="input-xlarge" multiple="true"
                                             options="employee.Key*1 as employee.Value for employee in vm.employees"
                                             template-url="@Url.Content("~/Content/js/Common/Templates/multiselect.tmpl.html")"
                                             ng-model="vm.selectedEmployees"></multiselect>
                            </div>
                            <div class="pull-right">

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success btn-block" ng-click="vm.addEmployees()" data-ng-disabled="newProfileForm.$invalid" title="Apply Assignment">Save</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default btn-block" ng-click="vm.cancel()" title="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </script>
}

<div class="container-fluid" data-ng-controller="AuditProfileSectionEntryCtrl as vm" data-ng-init="vm.initialize(@auditProfileId, @auditProfileSectionId)">
    <page-header title="{{'PROFILE_ENTRY'|translate}}"
                 s3-icon-name="home.svg">
    </page-header>
    <div class="row">
        <div class="col-sm-12 form-content">
            <!-- form content-->
            <div class="panel panel-default">
                <h3 class="panel-header-txt">
                    <strong>Profile</strong> Section Entry
                    <div class="row pull-right">
                        <div class="col-md-12 col-sm-12">
                            <button type="button" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
                            <input type="submit" class="btn btn-success" value="Save" data-ng-click="vm.saveProfileSectionEntryForm()" data-ng-disabled="profileSectionEntryForm.$invalid" />
                        </div>
                    </div>
                    <span data-ng-if="vm.isEntryDisabled" class="warning-txt">
                        <i class="fa fa-warning fa-2"></i> Please select a site.
                    </span>
                </h3>
                <div class="form-wrap">
                    <form name="profileSectionEntryForm" role="form" class="css-form" novalidate>
                        <div class="well well-clean" data-ng-disabled="vm.isEntryDisabled">
                            <div class="col-md-12 col-sm-12">
                                <!-- Audit profile section start -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" id="siteName" name="siteName" class="form-control" value="Site: {{ vm.auditProfile.SiteName }}" data-ng-readonly="true" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" id="buildingName" name="buildingName" class="form-control" value="Building: {{ vm.auditProfile.BuildingName }}" data-ng-readonly="true" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" id="floorName" name="floorName" class="form-control" value="Floor: {{ vm.auditProfile.FloorName }}" data-ng-readonly="true" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" id="responsibleEmployeeName" name="responsibleEmployeeName" class="form-control" value="Responsible User: {{ vm.auditProfile.ResponsibleUsername }}" data-ng-readonly="true" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="areaId">Area</label>
                                            <select id="areaId" name="areaId" class="form-control" data-ng-model="vm.auditProfileSection.AreaId"
                                                    data-ng-required="true"
                                                    data-ng-options="area.Key*1 as area.Value for area in vm.options.areas"
                                                    data-ng-change="vm.onAreaChange($event)">
                                                <option value="">- Select One -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="areaClassificationId">Area Classification</label>
                                            <select id="areaClassificationId" name="areaClassificationId" class="form-control" data-ng-model="vm.auditProfileSection.AreaClassificationId"
                                                    data-ng-options="areaClassification.Key*1 as areaClassification.Value for areaClassification in vm.options.areaClassifications | orderBy: 'Value'"
                                                    data-ng-required="true"
                                                    data-ng-change="vm.onAreaClassificationChange(vm.auditProfileSection.AreaClassificationId)">
                                                <option value="">- Select One -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Audit profile section end -->
                                <div class="row">
                                    <!-- Inspection items start -->
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading clearfix">
                                                    <h3 class="panel-title pull-left">Inspection items</h3>
                                                    <div class="checkbox pull-right" ng-if="vm.options.inspectionItems.length">
                                                        <label>
                                                            <input type="checkbox" value="all" data-ng-click="vm.toggleAllInspectionItems($event)">
                                                            Select All
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row text-center" ng-if="!vm.options.inspectionItems.length" style="padding-top: 15px;">First, select an area classification</div>
                                                    <div class="row" style="padding-top: 15px;">
                                                        <div class="checkbox" data-ng-repeat="item in vm.options.inspectionItems | orderBy:'Value'">
                                                            <div class="col-md-6 col-sm-6">
                                                                <label>
                                                                    <input name="inspectionItems[]" type="checkbox" value="{{item.Key*1}}"
                                                                           data-ng-click="vm.toggleInspectionItem(item.Key*1)"
                                                                           data-ng-checked="vm.isInspectionItemSelected(item.Key*1)">
                                                                    {{ item.Value }}
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Inspection items end -->
                                    <!-- Employees assignment start -->
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading clearfix">
                                                    <h3 class="panel-title pull-left">Assigned employees</h3>
                                                    <a class="btn btn-success btn-sm pull-right" href="javascript:void(0);" data-ng-click="vm.assignEmployees()">
                                                        <i class="fa fa-plus fa-1"></i> <span class="plus-btn">Assign Employee</span>
                                                    </a>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row text-center" ng-if="!vm.auditProfileSection.AssignedEmployees.length" style="padding-top: 15px;">Currently, no employees are assigned</div>
                                                    <div class="row" style="padding-top: 15px;">
                                                        <ul style="list-style-type: none; padding: 0; margin: 0;">
                                                            <li data-ng-repeat="employee in vm.auditProfileSection.AssignedEmployees" class="col-md-4 col-sm-6" style="margin-top: 5px; margin-bottom: 5px;">
                                                                <a href="javascript:void(0);" data-ng-click="vm.removeEmployee($event, employee)">
                                                                    <i class="fa fa-times fa-1"></i>

                                                                </a>
                                                                {{ vm.getEmployeeById(employee).Value }}
                                                            </li>
                                                        </ul>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Employees assignment end -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>