﻿@{
    ViewBag.HideTitleBar = true;
}


@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="profileManagerModal.html">
        <div class="modal-header" ng-class="{'hide':vm.hideModal}">
            <h3 class="modal-title">
                Create New Audit Profile
            </h3>
        </div>
        <div class="modal-body" ng-class="{'hide':vm.hideModal}">
            <form name="newProfileForm" role="form" class="css-form" novalidate>
                <div class="well well-clean">
                    <div class="row">

                        <div class="col-md-12">
                            <h4>Program: <strong>{{vm.programName}}</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="radio">
                                <input type="radio" name="createOptions" id="createOptions1" value="clone" data-ng-model="vm.newProfile.newProfileType" data-ng-required="true">
                                <label class="no-outline" for="createOptions1">Clone from existing</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group" data-ng-if="vm.newProfile.newProfileType=='clone'">
                                <select id="selectedProfile" name="selectedProfile" class="form-control" data-ng-model="vm.newProfile.selectedProfile"
                                        data-ng-options="profile.Profile.AuditProfileId as profile.SiteName+' / '+profile.BuildingName+' / '+profile.FloorName for profile in vm.existingProfiles"
                                        data-ng-required="vm.newProfile.newProfileType=='clone'">
                                    <option value="">- Select Profile -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="radio">
                                    <input type="radio" name="createOptions" id="createOptions2" value="new" data-ng-model="vm.newProfile.newProfileType" data-ng-required="true">
                                    <label class="no-outline" for="createOptions2">Create new profile</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer" ng-class="{'hide':vm.hideModal}">
            <button class="btn btn-success" ng-click="vm.createNewProfile()" data-ng-disabled="this.newProfileForm.$invalid">Create Profile</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    
    }


    <div class="container-fluid index audits-profile-manager" data-ng-controller="AuditProfileManagerCtrl as vm" data-ng-init="vm.initialize()">
        <page-header title="{{'PROFILE_MANAGER'|translate}}"
                     s3-icon-name="audit.svg"
                     info-text="{{'PROFILE_MANAGER_DESC'|translate}}">
        </page-header>

        <div class="row">
            <div class="col-sm-12 page-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <span data-ng-if="vm.isEntryDisabled" class="warning-txt">
                                <i class="fa fa-warning fa-2"></i> Please select a site and program.
                            </span>
                            <div class="panel-body no-padding">
                                <div class="text-center" ng-if="!vm.auditProfiles.length">No data to display</div>

                                <div class="primary table-head">
                                    <div class="col-xs-8 col-sm-8 col-md-8">
                                        PROFILE
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        ACTIONS
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="itemrow pm-row hidden-xs" data-ng-repeat="profile in vm.auditProfiles">
                                    <div class="col-sm-8 col-md-8">
                                        <p class="no-of-areas">No. of Areas: {{ profile.Profile.ProfileSectionCount }}</p>
                                        <p class="building-floor-style">{{ profile.BuildingName }}, {{ profile.FloorName }}</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <a class="btn btn-edit" href="@Url.Content("~/Quality/Audit/ProfileEntry/"){{ profile.Profile.AuditProfileId}}" data-ng-if="profile.Profile && !vm.isSecurityProgram">
                                            <i class="hidden-sm hidden-md hidden-lg fa fa-pencil fa-1"></i> <span class="plus-btn">EDIT</span>
                                        </a>
                                        <a class="btn btn-delete" data-ng-if="profile.Profile" data-ng-click="vm.deleteAuditProfile(profile.Profile.AuditProfileId, profile.FloorId)">
                                            <i class="hidden-sm hidden-md hidden-lg fa fa-trash fa-1"></i> <span class="plus-btn">DELETE</span>
                                        </a>
                                        <a class="btn btn-create" href="javascript:void(0);" data-ng-click="vm.createProfileModal(profile.BuildingId, profile.FloorId)" data-ng-if="!profile.Profile && !vm.isSecurityProgram">
                                            <i class="fa fa-plus fa-1"></i> <span class="plus-btn">CREATE</span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-sm-4" ng-if="vm.isSecurityProgram">
                                        <a class="btn btn-create" href="javascript:void(0);" data-ng-click="vm.createSecurityProfile(profile.BuildingId, profile.FloorId)" data-ng-if="!profile.Profile">
                                            <i class="fa fa-plus fa-1"></i> <span class="plus-btn">CREATE</span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="itemrow pm-row hidden-sm hidden-md hidden-lg" data-ng-repeat="profile in vm.auditProfiles">
                                    <div class="col-xs-7">
                                        <p class="res-user-name">{{ profile.Profile.ResponsibleUsername }}</p>
                                        <p class="no-of-areas">No. of Areas: {{ profile.Profile.ProfileSectionCount }}</p>
                                        <p class="building-floor-style">{{ profile.BuildingName }}, {{ profile.FloorName }}</p>
                                    </div>
                                    <div class="col-xs-5">
                                        <a class="btn btn-create pull-right" href="javascript:void(0);" data-ng-click="vm.createProfileModal(profile.BuildingId, profile.FloorId)" data-ng-if="!profile.Profile">
                                            <i class=" fa fa-plus fa-1"></i> <span class="plus-btn">CREATE</span>
                                        </a>
                                        <a class="btn btn-delete pull-right" data-ng-if="profile.Profile" data-ng-click="vm.deleteAuditProfile(profile.Profile.AuditProfileId, profile.FloorId)">
                                            <i class="hidden-sm hidden-md hidden-lg fa fa-trash fa-1"></i> <span class="plus-btn">DELETE</span>
                                        </a>
                                        <a class="btn btn-edit pull-right" href="@Url.Content("~/Quality/Audit/ProfileEntry/"){{ profile.Profile.AuditProfileId}}" data-ng-if="profile.Profile">
                                            <i class="hidden-sm hidden-md hidden-lg fa fa-pencil fa-1"></i> <span class="plus-btn">EDIT</span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
