﻿@using Newtonsoft.Json
@model ChaiTea.Web.Common.ProfileEntryVm
@{
    ViewBag.Title = "Profile Entry";
    ViewBag.HideTitleBar = true;
    var auditProfileId = Model.Id;
}

@section scripts{
    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="employeesModal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                Select Employees
            </h3>
        </div>
        <div class="modal-body">
            <form name="employeesForm" role="form" class="css-form" novalidate>
                <div class="well well-clean overflow-visible">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <multiselect name="employees[]" class="input-xlarge" multiple="true"
                                             options="employee.Key*1 as employee.Value for employee in vm.employees"
                                             template-url="@Url.Content("~/Content/js/Common/Templates/multiselect.tmpl.html")"
                                             ng-model="vm.selectedEmployees"></multiselect>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success btn-block" ng-click="vm.addEmployees()" data-ng-disabled="newProfileForm.$invalid" title="Apply Assignment">Save</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default btn-block" ng-click="vm.cancel()" title="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="showAssignedemployeesModal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                Assigned Employees
            </h3>
        </div>
        <div class="modal-body">
            <form name="employeesForm" role="form" class="css-form" novalidate>
                <div class="well well-clean overflow-visible">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-if="vm.selectedEmployees.length" ng-repeat="employee in vm.employees">
                                <div ng-repeat="selectedEmployee in vm.selectedEmployees">
                                    <div ng-if="employee.EmployeeId == selectedEmployee ">
                                        <div class="circle-img circle-img-40 pull-left">
                                            <img ng-cloak ng-src="{{ ::employee.EmployeeImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                        </div>
                                        <p style="padding: 11px; float:left;">{{employee.EmployeeName}}</p>
                                        <a href="javascript:void(0);" class="pull-right" data-ng-click="vm.removeEmployee($event, $index)">
                                            <i class="fa fa-times fa-1 text-danger" style="padding:12px;"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:2px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success btn-block" ng-click="vm.save()" data-ng-disabled="newProfileForm.$invalid" title="Apply Assignment">Save</button>
                </div>
                <div class="col-md-6 text-center">
                    <button class="btn btn-default btn-block" ng-click="vm.cancel()" title="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </script>
}


<div class="container-fluid index audits-profile-entry " data-ng-controller="AuditProfileEntryCtrl as vm" data-ng-init="vm.initialize(@auditProfileId)">
    <page-header title="{{'PROFILE_ENTRY'|translate}}"
                 s3-icon-name="audit.svg"
                 info-text="{{'PROFILE_ENTRY_DESC'|translate}}">
    </page-header>
    
    <div class="row">
        <div class="building-floor">
            <div class="col-md-3 col-xs-12 col-sm-4 padding-bottom-10">
                Building Name: <span class="value-color">{{vm.auditProfile.BuildingName}}</span>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-4 padding-bottom-10">
                Floor Name: <span class="value-color">{{vm.auditProfile.FloorName}}</span>
            </div>
            <div class="col-md-3 col-xs-12 padding-bottom-10 pull-right">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <button type="button" class="btn btn-cxl col-md-12 col-xs-12" data-ng-click="vm.cancel()">CANCEL</button>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input type="submit" class="btn btn-dark col-md-12 col-xs-12" value="SAVE" data-ng-click="vm.saveAuditProfile()" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="profile-areas">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <p class="profile-areas-title">Profile Areas</p>
                <p class="profile-areas-subtitle">View areas and see which employees are assigned to service them.</p>
            </div>
            <div class="col-md-6 padding-top-10 col-sm-6">
                <a ng-disabled="vm.profileSectionSelectedCount <= 0" class=" btn pull-right assign-emp-btn" href="javascript:void(0);" data-ng-click="vm.assignEmployees()" style="margin-left:5px;">
                    <i class="fa fa-plus fa-1"></i><span class="plus-btn">ASSIGN EMPLOYEES</span>
                </a>
                <button class="btn pull-right add-area-btn" ng-click="vm.addOrUpdateProfileSection(vm.auditProfile, 0)"><i class="fa fa-plus fa-1"></i> <span class="plus-btn">ADD AREA</span></button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="table-header">
            <div class="col-md-1 col-xs-1 col-sm-1">
                <input type="checkbox" ng-model="vm.allItemsSelected" ng-change="vm.selectAll()" />
            </div>
            <div class="col-md-2 col-xs-6 col-sm-4 area-align">
                AREA
            </div>
            <div class="col-md-3 col-xs-3 col-sm-4 emp-header-align">
                <span class="hidden-xs">ASSIGNED </span>EMPLOYEES
            </div>
            <div class="col-md-offset-5 col-md-1 col-xs-2  col-sm-3 action-align">
                ACTION
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="table-content itemrow" data-ng-repeat="section in vm.auditProfileSections" ng-class="{selected: section.isChecked}">
            <div class="col-md-1 col-xs-1 col-sm-1">
                <input type="checkbox" ng-model="section.isChecked" ng-change="vm.selectEntity($index)" />
            </div>
            <div class="col-md-2 col-xs-6 col-sm-4 area-value-align">
                <p class="area-name">{{ section.AreaName }}</p>
                <p class="area-classification-name">{{ section.AreaClassificationName }}</p>
                <a class="inspection-items" href="" ng-click="vm.addOrUpdateProfileSection(vm.auditProfile, section.AuditProfileSectionId)">Inspection Items: {{ section.InspectionItems.length > 0 ? section.InspectionItems.length : 0 }}</a>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-4 padding-left-0 emp-value-align">
                <a class="circle-number" href="" ng-if="section.AssignedEmployees.length" ng-click="vm.showAssignedEmployees($index)">{{ section.AssignedEmployees.length }}</a>
                <a class="no-circle-number" ng-if="!section.AssignedEmployees.length">{{ section.AssignedEmployees.length }}</a>
            </div>
            <div class="col-md-offset-5 col-md-1 col-xs-1 col-sm-3 action-value-align">
                <a class="btn btn-danger btn-sm delete-btn" data-ng-click="vm.deleteAuditProfileSection(section.AuditProfileSectionId)">
                    <span class="hidden-md hidden-sm hidden-lg"><i class="fa fa-times"></i></span><span class="plus-btn">DELETE</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>