﻿<div class="right-section">
    <div class="padding-bottom-20">
        <span class="pull-left italic-bold date-field">{{'AUDITED_ON' | translate}}: {{vm.employeeAudit.CreateDate | date: 'dd-MM-yyyy, hh:mm a': vm.userContext.Timezone.OffsetInHours}}</span>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-15 margin-top-25">
        <p class="sub-head-text">{{'OVERALL_COMMENT' | translate}}</p>
        <p class="text-space">{{vm.employeeAudit.Comment}}</p>
        <p class="text-space no-comment" ng-if="!vm.employeeAudit.Comment">{{'NO_COMMENT_FOR_AUDIT' | translate}}</p>
    </div>
    <hr />
    <div class="margin-bottom-30 padding-top-15">
        <div class="margin-bottom-5 row" ng-repeat="item in vm.criterias">
            <strong class="col-md-6">{{ item.Name }}</strong>
            <div class="col-md-6" ng-class="item.Passed ? 'text-success' : 'text-danger'">{{ item.Passed ? 'PASSED' : 'FAILED' | translate }}</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <strong class="col-md-6">{{ 'OVERALL_AUDIT_RESULT' | translate }}</strong>
        <div class="col-md-6" ng-class="vm.employeeAudit.KpiOptions.length ? 'text-danger' : 'text-success'">
            <i class="overall-result-icon" ng-class="vm.employeeAudit.KpiOptions.length ? 'fa-exclamation-circle text-danger' : 'fa-check-circle text-success'"></i>
            <span class="overall-result-text">{{ vm.employeeAudit.KpiOptions.length ? 'FAILED' : 'PASSED' | translate }}</span>
        </div>
    </div>
</div>
