﻿<div class="padding-left-5 left-section hidden-xs hidden-sm">
    <p class="pop-up-title module-name">{{'PROFESSIONALISM_AUDIT_DETAILS' | translate}}</p>
    <div class="padding-bottom-20">
        <p class="text-uppercase title">{{'AUDITED_EMPLOYEE' | translate}}:</p>
            <div class="pull-left assigned-employee-card">
                <img class="pull-left" ng-if="vm.employeeAudit.ProfileImage" ng-cloak ng-src="{{vm.employeeAudit.ProfileImage}}" />
                <div class="pull-left emp-details">
                    <p class="name truncate">{{vm.employeeAudit.EmployeeName}}</p>
                    <p class="job">{{vm.employeeAudit.JobName}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text title">{{'AUDITED_BY' | translate}}:</p>
        <p>{{vm.employeeAudit.CreatedByUserName}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text title">{{'IS_EVENT_BASED_AUDIT' | translate}}:</p>
        <p>{{ vm.employeeAudit.IsEventBasedAudit ? 'Yes' : 'No' }}</p>
    </div>
    <hr />
    <div>
        <a class="pull-left text-danger link-style padding-right-20 hidden-employees" ng-click="vm.deleteEmployeeAudit()">{{'DELETE_REPORT' | translate}}</a>
    </div>
    
</div>
<div class="hidden-md hidden-lg left-section mobile">
    <div class="padding-bottom-10 section-borders">
        <span class="pull-left italic-bold date-field align">
        {{'AUDITED_ON' | translate}}: {{vm.employeeAudit.CreateDate | date: 'dd-MM-yyyy, hh:mm a': vm.userContext.Timezone.OffsetInHours}}</span>
        <div class="clearfix"></div>
    </div>

    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align">{{'PROFESSIONALISM_AUDIT_DETAILS' | translate}}</p>
        <div class="padding-bottom-20 align">
            <p class="text-uppercase title">{{'Employee Audited' | translate}}:</p>
            <div class="pull-left assigned-employee-card">
                <img class="pull-left" ng-if="vm.employeeAudit.ProfileImage" ng-cloak ng-src="{{vm.employeeAudit.ProfileImage}}" />
                <div class="pull-left emp-details">
                    <p class="name truncate">{{vm.employeeAudit.EmployeeName}}</p>
                    <p class="job">{{vm.employeeAudit.JobName}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'AUDITED_BY' | translate}}:</p>
            <p class="">{{vm.employeeAudit.CreatedByUserName}}</p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'IS_EVENT_BASED_AUDIT' | translate}}:</p>
            <p>{{ vm.employeeAudit.IsEventBasedAudit ? 'Yes' : 'No' | translate }}</p>
        </div>
    </div>
    <div class="padding-bottom-20 padding-top-20">
        <p class="align sub-head-text">{{'OVERALL_COMMENT' | translate}}</p>
        <p class="align text-space">{{vm.employeeAudit.Comment}}</p>
        <p class="align text-space no-comment" ng-if="!vm.employeeAudit.Comment">{{'NO_COMMENT_FOR_AUDIT' | translate}}</p>
    </div>
    <div class="margin-bottom-20">
        <div class="margin-bottom-5 row" ng-repeat="item in vm.criterias">
            <strong class="col-xs-6">{{ item.Name }}</strong>
            <div class="col-xs-6" ng-class="item.Passed ? 'text-success' : 'text-danger'">{{ item.Passed ? 'PASSED' : 'FAILED' | translate }}</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="padding-bottom-20 row section-borders">
        <strong class="col-xs-6">{{ 'OVERALL_AUDIT_RESULT' | translate }}</strong>
        <div class="col-xs-6" ng-class="vm.employeeAudit.KpiOptions.length ? 'text-danger' : 'text-success'">
            <i class="overall-result-icon" ng-class="vm.employeeAudit.KpiOptions.length ? 'fa-exclamation-circle text-danger' : 'fa-check-circle text-success'"></i>
            <span class="overall-result-text">{{ vm.employeeAudit.KpiOptions.length ? 'FAILED' : 'PASSED' | translate }}</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="text-center padding-top-10">
        <a class="text-danger link-style  hidden-employees" ng-click="vm.deleteEmployeeAudit()">{{'DELETE_REPORT' | translate}}</a>
    </div>
</div>
