﻿@{
    ViewBag.Title = "Complaints";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid index complaints-details no-overflow" data-ng-controller="ComplaintDetailCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'COMPLAINTS'|translate}}"
                 s3-icon-name="complaint.svg"
                 info-text="{{'View Statistics and detailed description of complaints about the performance and services of employees working in the facility.' | translate }}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Quality/Complaint/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW COMPLAINT' | translate }}</span>
        </a>
        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block" ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter data-ng-model="vm.complaints"
                                        filter="vm.filter"
                                        filter-apply-fn="vm.getComplaintsReset()"
                                        filter-clear-fn="vm.getComplaintsReset()"
                                        filter-options="vm.filterOptions"></utility-nav-filter>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Complaint")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg" ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter data-ng-model="vm.complaints"
                                button-classes="btn btn-default"
                                filter="vm.filter"
                                filter-apply-fn="vm.getComplaintsReset()"
                                filter-clear-fn="vm.getComplaintsReset()"
                                filter-options="vm.filterOptions"></utility-nav-filter>
            
            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>
    <div class="row">
        <div class="col-sm-12 main-body-padding no-gutter">

            <div class="row">
                <!-- Page content-->

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <!-- Page content-->
                        <div class="panel-body" style="padding: 0;">
                            <div class="center-cards">
                                <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                                <utility-nav-filter-tags></utility-nav-filter-tags>
                            </div>

                            <div class="text-center empty-wrap" ng-if="!vm.complaints.length && !vm.cardsData.length" translate>No data to display</div>
                            <div ng-if="!vm.isCardView" class="col-md-12 no-padding no-margin" data-infinite-scroll="vm.getComplaints()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">

                                <div ng-if="!vm.isCardView" class="primary table-head" data-ng-if="vm.complaints.length">
                                    <div class="col-xs-6 col-sm-8">
                                        <p class="complaint-head pull-left" translate>COMPLAINT</p>
                                    </div><!-- col8 -->

                                    <div class="col-xs-6 col-sm-4 padding-r-rem-m">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p class="complaint-head">OPEN <span class="hidden-xs" translate>DATE</span></p>
                                            </div><!-- COL6 -->

                                            <div hidden-customers hidden-employees data-ng-if="!vm.complaints[0].CompletedDate" class="col-xs-6">
                                                <p class="complaint-head" translate>ACTION</p>
                                            </div>
                                            <div class="col-xs-6" data-ng-if="vm.complaints[0].CompletedDate">
                                                <p class="pull-right complaint-head">
                                                    <b class="hidden-xs" translate>COMPLETED</b>
                                                    <b class="hidden-sm hidden-lg hidden-md close-btn-p" translate>CLOSE</b>
                                                </p>
                                            </div><!-- COL6 -->
                                        </div>
                                    </div><!-- COL4 -->

                                    <div class="clearfix"></div>
                                </div><!-- table-head -->

                                <div ng-if="!vm.isCardView" class="itemrow" data-ng-repeat="complaint in vm.complaints">
                                    <div class="quality-row emp-row ">
                                        <div class="row display-row">
                                            <a href="@Url.Content("~/Quality/Complaint/EntryView/"){{complaint.ComplaintId}}" class="col-xs-6 col-sm-8">
                                                <div class="row-details pull-left" style="margin-left: 0; padding-left:0;">
                                                    <p class="emp-name">{{ complaint.CustomerName | limitTo: 144 }}{{ complaint.CustomerName.length > 144 ? '...' : ''}}</p>
                                                    <span class="complaint-emp-program">{{ complaint.ProgramName }}</span> <span class="complaint-emp-program">{{ complaint.ComplaintTypeName }}</span>
                                                    <p class="description">{{ complaint.Description | limitTo: 144 }}{{ complaint.Description.length > 144 ? '...' : ''}}</p>
                                                    <p class="complaint-sm">{{ complaint.SiteName }}, {{ complaint.BuildingName }}</p>
                                                </div><!-- emp-details -->
                                            </a><!-- pull-left -->

                                            <div class="action-style col-xs-6 col-sm-4">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-6 remove-padding-right">
                                                        <p class="date-style">{{ complaint.FeedbackDate | date:'MM/dd/yyyy' }}</p>
                                                        <div class="clearfix"></div>
                                                    </div><!-- COL6 -->


                                                    <div class="col-md-6 col-xs-6 remove-padding-left">
                                                        <a hidden-customers hidden-employees href="@Url.Content("~/Quality/Complaint/Entry/"){{complaint.ComplaintId}}" data-ng-if="!complaint.CompletedDate" class="close-link">
                                                            <u translate>CLOSE</u>
                                                        </a>
                                                        <p data-ng-if="complaint.CompletedDate" class="date-style">{{complaint.CompletedDate | date:'MM/dd/yyyy': vm.userContext.Timezone.OffsetInHours | displayTimezone}}</p>
                                                        <div class="clearfix"></div>
                                                    </div><!-- COL6 -->

                                                </div><!-- ROW -->
                                            </div><!-- PULL-RIGHT -->
                                        </div><!-- ROW -->



                                    </div><!-- EMP-ROW -->

                                </div>
                                <div class="clearfix"></div>



                            </div><!-- COL12 -->
                            <div class="col-md-12  no-margin center-cards card-view-style padding-bottom-15" data-infinite-scroll="vm.getComplaints()" 
                                 data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                                    <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align"  ng-transclude 
                                          ng-repeat="details in vm.complaints">
                                        <card-header ng-transclude>
                                            <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true" 
                                                                 item-id="details.ComplaintId" format-datetime-offset="true"  view-link-fn="vm.ShowEntryViewModal(id)" header-date="details.FeedbackDate">
                                            </quality-card-header>
                                        </card-header>
                                        <card-body ng-transclude>
                                            <div class="card-body-content">
                                                <div>
                                                    <div class="pull-left card-body-content-left">
                                                        <p class="text-danger repeat pull-left" ng-if="details.IsRepeatComplaint">
                                                            {{'REPEAT' | translate}}
                                                            <i class="fa fa-exclamation"></i>
                                                        </p>
                                                        <p class="name truncate">{{details.CustomerName}}</p>

                                                    </div>
                                                    <div class="pull-right card-body-content-right">
                                                        <div class="pull-right employee-img complaint text-center" ng-if="details.AccountableEmployeesInformation.length > 2">
                                                            <span class="align">{{details.AccountableEmployeesInformation.length - 2}}+</span>
                                                        </div>
                                                        <div class="pull-right employee-img complaint text-center" ng-if="details.AccountableEmployeesInformation.length <= 2">
                                                            <i class="fa fa-complaints" ng-class="{'move-right': details.AccountableEmployeesInformation.length >= 1}"></i>
                                                        </div>
                                                        <div class="pull-right" ng-repeat="employee in details.AccountableEmployeesInformation | limitTo: 2">
                                                            <img class="employee-img move" ng-src="{{employee.ProfileImage}}" />
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div>
                                                    <p class="name-lbl text-muted pull-left">{{'CUSTOMER_NAME' | translate}}</p>
                                                    <p class="name-lbl pull-right">{{'ASSIGNED_EMPLOYEES' | translate}}</p>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div ng-if="details.Description" class="margin-top-25 truncate">
                                                    {{details.Description}}
                                                </div>
                                                <div class="site padding-top-5">
                                                    <p class="pull-left building-name" ng-class="{'building truncate' : details.BuildingName.length > 15}">{{details.BuildingName}}</p>
                                                    <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">

                                                        <p >
                                                            <i class="fa fa-location padding-right-5"></i>{{vm.clientName}}
                                                            <span ng-if="details.SiteName">, {{details.SiteName}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>
                                        </card-body>
                                        <card-footer ng-transclude>
                                            <div class="card-footer-content">
                                                <div class="pull-left">
                                                    <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</span>
                                                    <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ComplaintTypeName.length > 9}">{{details.ComplaintTypeName}}</span>
                                                </div>
                                                <div class="pull-right types">
                                                    <span class="text-danger truncate" ng-if="details.ClassificationName.indexOf('True Complaint') != -1">
                                                        {{'IN_SCOPE' | translate}}
                                                    </span>
                                                    <span class="text-muted truncate" ng-if="details.ClassificationName.indexOf('True Complaint') == -1">
                                                        {{'OUT_SCOPE' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </card-footer>
                                        <div class="clearfix"></div>
                                    </card>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>