﻿@using Newtonsoft.Json
@model ChaiTea.Web.Common.ComplaintVm
@{
    ViewBag.Title = "Compaint";
    ViewBag.HideTitleBar = true;
    var complaintId = Model.Id;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="complaints-details no-overflow complaints-entry-view" ng-controller="ComplaintEntryViewCtrl as vm" ng-init="vm.initialize(@complaintId)">
    <page-header title="{{'COMPLAINT_STATIC'|translate}}" s3-icon-name="complaint.svg"></page-header>
    <div class="row">
        <div class="primary col-md-12 table-header-style">
            <p class="pull-left title" translate>REVIEW COMPLAINT</p>
            <p class="pull-right completed-date" data-ng-if="vm.complaint.CompletedDate">
                <span class="hidden-xs pull-right">: {{::vm.complaint.CompletedDate | date: 'MMMM d,yyyy h:mma': vm.userContext.Timezone.OffsetInHours | displayTimezone }}</span>
                <span class="visible-xs pull-right">: {{::vm.complaint.CompletedDate | date: 'M/d/yy h:mma': vm.userContext.Timezone.OffsetInHours | displayTimezone }}</span>
                <span class="pull-right">CLOSED</span>
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="well complaint-view">
            <div class="col-md-8 no-r-pad">
                <h1 class="title-style" translate>Complaint Details</h1>
                <div class="row complaint-repoter">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <p><b class="reporter">By {{::vm.complaint.CustomerName}}</b><i class="reported-date hidden-xs"> <span translate>Complaint Filed On</span>: {{::vm.complaint.FeedbackDate | date: mediumDate}}</i></p>
                        <p class="reported-program"><span translate>Complaint related to</span>: <span class="emp-program">{{::vm.complaint.ProgramName}}</span> <span class="emp-program">{{::vm.complaint.ComplaintTypeName}}</span> </p>
                    </div><!-- COL8 -->
                    <div class="col-sm-5 col-sm-12 col-xs-12 complaint-loaction">
                        <b class="location loc" translate>LOCATION </b>
                        <p class="location" ng-if="vm.floorName"><i> {{::vm.complaint.BuildingName}}, {{ vm.floorName }}</i></p>
                        <p class="location" ng-if="!vm.floorName"><i> {{::vm.complaint.BuildingName}}</i></p>
                    </div><!-- Col4 -->
                </div><!-- ROW -->
                <hr />

                <div class="padding-l">
                    <div class="margin-bottom-10">
                        <p class="notes">
                            <b translate>Description:</b>
                        </p>
                        <p class="notes-text">{{::vm.complaint.Description}}</p>
                    </div>
                    <p class="notes"><b translate>Notes about the Problem:</b></p>
                    <p class="notes-text">{{::vm.complaint.Note}}</p>
                </div><!-- note-well -->
                <hr />

                <div class="complaint-details">
                    <div class="col-sm-6  col-xs-12 padding-l sub-top">
                        <p class="title">Classification: <span class="text hidden-md hidden-sm hidden-lg">{{::vm.complaint.ClassificationName}}</span></p>
                        <p class="text hidden-xs">{{::vm.complaint.ClassificationName}}</p>
                    </div>

                    <div class="col-sm-6 col-xs-12 sub-down sub-border">
                        <p class="title">Repeat: <span class="text hidden-md hidden-sm hidden-lg">{{ vm.complaint.IsRepeatComplaint ? 'Yes' : 'No'}}</span></p>
                        <p class="text hidden-xs">{{ vm.complaint.IsRepeatComplaint ? 'Yes' : 'No'}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="complaint-details">
                    <div class="col-sm-6 col-xs-12 padding-l sub-top">
                        <p class="title">Type: <span class="text hidden-md hidden-sm hidden-lg">{{::vm.complaint.ComplaintTypeName}}</span></p>
                        <p class="text hidden-xs">{{::vm.complaint.ComplaintTypeName}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 sub-down sub-border">
                        <p class="title"><span translate>Actions Taken</span>: <span class="text hidden-md hidden-sm hidden-lg">{{::vm.complaint.Action}}</span></p>
                        <p class="text hidden-xs">{{::vm.complaint.Action}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="complaint-details">
                    <div class="col-sm-6 col-xs-12 padding-l sub-top">
                        <p class="title"><span translate>Preventable Status</span>: <span class="text hidden-md hidden-sm hidden-lg">{{::vm.complaint.PreventableStatusName}}</span></p>
                        <p class="text hidden-xs">{{::vm.complaint.PreventableStatusName}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 sub-down">
                        <p class="title"><span translate>Phone Number</span>: <span class="text hidden-md hidden-sm hidden-lg"> {{::vm.complaint.CustomerPhoneNumber}}</span></p>
                        <p class="text hidden-xs"> {{::vm.complaint.CustomerPhoneNumber}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>

            </div><!-- COL8 -->

            <div class="col-md-4 side-block">
                <h4 class="accountable-title" translate>Accountable Employees</h4>
                <div data-ng-if="vm.accountableEmployeeObjects.length <=0 " class="accountable" translate>None</div>
                <div class="accountable" data-ng-repeat="employee in vm.accountableEmployeeObjects">
                    <div class="emp-profile-wgt">
                        <div class="circle-img circle-image-pos pull-left">
                            <img ng-cloak ng-src="{{ ::employee.EmployeeImage  || '@Url.Content("~/content/img/user.jpg")' }}" />

                        </div><!-- Circle-image -->

                        <div class="row-details emp-padding no-l-padding pull-left">
                            <p class="emp-name">{{employee.Name}}</p>

                            @*<p class="emp-title">custodian</p>*@
                        </div><!-- emp-details -->
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="row pull-right form-button">
                    <button ng-click="vm.deleteComplaint(vm.complaintId)" class="edit btn btn-primary btn-delete hidden-employees" translate>Delete</button>
                    <a href="@Url.Action("Entry", "Complaint", new { Area = "Quality"})/{{vm.complaintId}}" class="edit btn accountable-edit hidden-employees"><i class="fa fa-pencil hide-desktop"></i><b class="hidden-xs" translate>EDIT</b></a>
                </div>
                <div class="clearfix"></div>
            </div><!-- COL4 -->


        </div><!-- Well -->


    </div><!-- ROW -->
</div>
