﻿@model int

@{
    ViewBag.Title = "New Complaint";
    ViewBag.HideTitleBar = true;
    var complaintId = Model;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")    
}


<div class="complaints-details no-overflow" data-ng-controller="ComplaintEditCtrl as vm" data-ng-init="vm.initialize(@complaintId)">
    <page-header title="{{'NEW_COMPLAINT'|translate}}" s3-icon-name="complaint.svg" class="margin-horizontal-0"></page-header>
    <div class="col-sm-12 no-padding">
        <!-- form content-->
        <div class="panel panel-default">
            
            <div class="form-wrap no-padding">
                <form name="complaintForm" role="form" class="css-form form-horizontal" novalidate>
                    <span class="warning-txt" data-ng-show="vm.isEntryDisabled">
                        <i class="fa fa-warning fa-2"></i> <span translate>Please select a site and a program.</span>
                    </span>
                    <div class="well well-clean no-padding  no-margin" data-ng-hide="vm.isEntryDisabled">
                        <div class="col-lg-6 col-md-12 no-padding vertical horizontal">

                            <div class="enter-details padding-l">
                                <div class="pull-left number">1</div>
                                <div>
                                    <h4 class="primary-font-color pull-left enter-details-text col-xs-10 col-md-11" translate>Enter Complaint Details</h4>
                                    <div class="sub-div-text col-xs-10 col-md-11"><i>{{ vm.complaintId ==0 ? 'Fill out form to file a complaint about a service by an employee' : 'Edit a Complaint'}}</i></div>
                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-r padding-l">
                                <div class="col-md-12 col-sm-12">

                                    <label class="complaint-detail-heading" for="description" translate>Description</label>
                                    <span class="required">*</span>
                                    <textarea id="description" name="description" class="form-control " placeholder="Enter Description here..." data-ng-required="true" data-ng-model="vm.complaint.Description"></textarea>
                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-r padding-l">
                                <div class="col-md-6 col-sm-12">
                                    <label class="complaint-detail-heading" for="customerName" translate>Customer Name</label>
                                    <span class="required">*</span>
                                    <input id="customerName" name="customerName" type="text" class="form-control " data-ng-required="true"
                                           data-ng-model="vm.complaint.CustomerName" />

                                </div>
                                <div class="col-md-6 col-sm-12 complaint-detail-m-ip">
                                    <label class="complaint-detail-heading" for="classificationId" translate>Classification</label>
                                    <span class="required" data-ng-if="vm.complaint.CompletedDate">*</span>
                                    <select id="classificationId" name="classificationId" class="form-control " data-ng-model="vm.complaint.ClassificationId" data-ng-required="true"
                                            data-ng-options="classification.Key*1 as classification.Value for classification in vm.options.classifications">
                                        <option value="" translate>- Select One -</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group complaint-detail padding-r padding-l">
                                <div class="col-md-6 col-sm-12">
                                    <label class="complaint-detail-heading" for="feedbackDate" translate>Date</label>
                                    <span class="required">*</span>
                                    <sbm-date-picker id="feedbackDate"
                                                     data-ng-model="vm.feedbackDate"
                                                     max-date="vm.maxDate"
                                                     is-required="true" data-ng-if="vm.complaintId == 0"></sbm-date-picker>
                                    <div id="feedbackDate" name="feedbackDate" type="text" class="form-control" data-ng-required="true"
                                           data-ng-model="vm.complaint.FeedbackDate" data-ng-if="vm.complaintId > 0" readonly>{{vm.complaint.FeedbackDate | date : 'MM/dd/yyyy'}}</div>
                                </div>
                                <div class="col-md-6 col-sm-12 complaint-detail-m-ip">

                                    <label class="complaint-detail-heading" for="complaintTypeId" translate>Type</label>
                                    <span class="required">*</span>
                                    <select id="complaintTypeId" name="complaintTypeId" class="form-control " data-ng-required="true" data-ng-model="vm.complaint.ComplaintTypeId"
                                            data-ng-options="complaintType.Key*1 as complaintType.Value for complaintType in vm.options.complaintTypes">
                                        <option value="" translate>- Select One -</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-r padding-l">
                                <div class="col-md-6 col-sm-12">
                                    <label class="complaint-detail-heading" for="buildingId" translate>Building</label>
                                    <span class="required">*</span>
                                    <select id="buildingId" name="buildingId" class="form-control " data-ng-required="true" data-ng-model="vm.complaint.BuildingId"
                                            data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                                            data-ng-change="vm.onBuildingChange(vm.complaint.BuildingId)">
                                        <option value="" translate>- Select One -</option>
                                    </select>

                                </div>
                                <div class="col-md-6 col-sm-12 complaint-detail-m-ip">
                                    <label class="complaint-detail-heading" for="floorId">Floor</label> <i class="optional" translate>OPTIONAL</i>
                                    <select id="floorId" name="floor" class="form-control " data-ng-disabled="!vm.options.buildings.length || !vm.options.floors.length" data-ng-model="vm.complaint.FloorId"
                                            data-ng-options="floor.Key*1 as floor.Value for floor in vm.options.floors">
                                        <option value=""></option><!-- SS 12/29/2014: Need a blank field for floors -->
                                    </select>

                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-r padding-l">
                                <div class="col-md-6 col-sm-12">

                                    <label class="complaint-detail-heading" for="isRepeatComplaint" translate>Repeat</label>
                                    <span class="required">*</span>
                                    <select id="isRepeatComplaint" name="isRepeatComplaint" class="form-control " required
                                            data-ng-model="vm.complaint.IsRepeatComplaint" ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]"></select>

                                </div>
                                <div class="col-md-6 col-sm-12 complaint-detail-m-ip">

                                    <label class="complaint-detail-heading" for="customerPhoneNumber" translate>Phone Number</label><i class="optional" translate>OPTIONAL</i>
                                    <input id="customerPhoneNumber" name="customerPhoneNumber" type="text" class="form-control "
                                           data-ng-model="vm.complaint.CustomerPhoneNumber" data-ng-maxlength="25" />
                                    <div data-ng-show="complaintForm.customerPhoneNumber.$error.maxlength" class="error" translate>Phone number cannot be longer than 25 characters</div>

                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-r padding-l padding-b-add">
                                <div class="col-md-12 col-sm-12">

                                    <label class="complaint-detail-heading" for="note" translate>Notes</label>
                                    <textarea id="note" name="note" class="form-control " placeholder="Enter Notes here..." data-ng-model="vm.complaint.Note"></textarea>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-12 no-padding" hidden-customers>

                            <div class="enter-details padding-l padding-r">
                                <div class="pull-left number">2</div>
                                <div>
                                    <h4 class="primary-font-color pull-left enter-details-text col-xs-10 col-md-11" translate>Close Complaint</h4>
                                    <div class="sub-div-text col-xs-10 col-md-11"><i translate>Fill out form to close a complaint about a service by an employee</i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-l padding-r">
                                <div class="col-md-6 col-sm-12">

                                    <label class="complaint-detail-heading" for="completedDate" translate>Completed Date</label>
                                    <sbm-date-picker id="completedDate"
                                                     data-ng-model="vm.completedDate"
                                                     min-date="vm.complaint.FeedbackDate"
                                                     max-date="vm.maxDate"
                                                     is-required="false"></sbm-date-picker>

                                    <span data-ng-show="complaintForm.completedDate.$error.valDateGreaterThan" class="error" translate>
                                        Completed date cannot be before the complaint date
                                    </span>

                                </div>
                                <div class="col-md-6 col-sm-12 complaint-detail-m-ip">
                                    <label class="complaint-detail-heading" for="preventableStatusId" translate>Preventable Status</label>
                                    <span class="required" data-ng-if="vm.completedDate">*</span>
                                    <select id="preventableStatusId" name="preventableStatusId" class="form-control " data-ng-model="vm.complaint.PreventableStatusId" data-ng-required="vm.completedDate"
                                            data-ng-options="status.Key*1 as status.Value for status in vm.options.preventableStatuses">
                                        <option value="" translate>Select One</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-l padding-r">

                                <div class="col-md-12 col-sm-12">

                                    <label class="complaint-detail-heading" for="accountableEmployees" translate>Accountable Employee(s)</label>
                                    <span class="required" data-ng-if="vm.completedDate">*</span>

                                    <multiselect name="accountableEmployees[]" id="accountableEmployees" class="input-xlarge" multiple="true"
                                                 options="employee.Key*1 as employee.Value for employee in vm.options.employees"
                                                 template-url="@Url.Content("~/Content/js/Common/Templates/multiselect.tmpl.html")"
                                                 ng-model="vm.selectedEmployees" data-ng-required="vm.completedDate"></multiselect>

                                </div>
                            </div>

                            <div class="form-group complaint-detail padding-l padding-r padding-b-add">
                                <div class="col-md-12 col-sm-12">

                                    <label class="complaint-detail-heading" for="action" translate>Actions Taken</label>
                                    <span class="required" data-ng-if="vm.completedDate">*</span>
                                    <textarea id="action" name="action" class="form-control " placeholder="Enter Description here..."
                                              data-ng-model="vm.complaint.Action" data-ng-required="vm.completedDate"></textarea>

                                </div>
                            </div>


                        </div>

                        <div class="col-md-12 padding-top padding-bottom">
                        	<div class="form-group pull-right padding-r form-button">
                        	    <div class="col-md-12 col-sm-12">
                        	
                        	        <button type="button" class="btn-style btn btn-grey" data-ng-click="vm.cancel()" translate>CANCEL</button>
                        	        <button type="submit" class="btn-style btn btn-black" data-ng-click="vm.saveComplaint()" data-ng-disabled="!complaintForm.$valid" translate>SAVE</button>
                        	
                        	    </div>
                        	</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </form>

            </div>
        </div>


    </div>
</div>