﻿@{
    ViewBag.Title = "Complaints";
    ViewBag.HideTitleBar = true;
    ViewBag.IsNewComplaintBtn = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")

}


<div class="container-fluid index no-overflow complaints-index" data-ng-controller="ComplaintIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'COMPLAINTS'|translate}}"
                 s3-icon-name="complaint.svg"
                 info-text="{{'View Statistics and detailed description of complaints about the performance and services of employees working in the facility.' | translate }}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Quality/Complaint/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW COMPLAINT' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details", "Complaint")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>
    <div class="row">
        <hr class="hline hidden-xs" />
        <div class="col-sm-12 page-content">

            <div class="row">
                <!-- Page content-->
                <div class="col-lg-4 col-md-4 col-sm-4 padding-right-0 hidden-xs hidden-sm">
                    <div class="col-md-12 padding-left-5 padding-right-5 recent  padding-bottom-15">
                       
                        <h3 class="header margin-bottom-0 padding-left-15">
                            <span translate>Most Recent</span>
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "Complaint")" translate>
                                VIEW ALL
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.chartsConfig.recentComplaints" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true" item-id="details.ComplaintId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" format-datetime-offset="true" header-date="details.FeedbackDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left card-body-content-left">
                                                <p class="text-danger repeat pull-left" ng-if="details.IsRepeatComplaint">
                                                    {{'REPEAT' | translate}}
                                                    <i class="fa fa-exclamation"></i>
                                                </p>
                                                <p class="name truncate">{{details.CustomerName}}</p>

                                            </div>
                                            <div class="pull-right card-body-content-right">
                                                <div class="pull-right employee-img complaint text-center" data-ng-if="details.AccountableEmployeesInformation.length > 2">
                                                    <span class="align">{{details.AccountableEmployeesInformation.length - 2}}+</span>
                                                </div>
                                                <div class="pull-right employee-img complaint text-center" ng-if="details.AccountableEmployeesInformation.length <= 2">
                                                    <i class="fa fa-complaints" ng-class="{'move-right': details.AccountableEmployeesInformation.length >= 1}"></i>
                                                </div>
                                                <div class="pull-right" ng-repeat="employee in details.AccountableEmployeesInformation | limitTo: '2'">
                                                    <img class="employee-img move" ng-src="{{employee.ProfileImage}}" />
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <p class="name-lbl text-muted pull-left">{{'CUSTOMER_NAME' | translate}}</p>
                                            <p class="name-lbl pull-right">{{'ASSIGNED_EMPLOYEES' | translate}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Description" class="margin-top-25 truncate">
                                            {{details.Description}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'building truncate' : details.BuildingName.length > 15}">{{details.BuildingName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">

                                                <p >
                                                    <i class="fa fa-location padding-right-5"></i>{{vm.clientName}}
                                                    <span ng-if="details.SiteName">, {{details.SiteName}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</p>
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ComplaintTypeName.length > 9}">{{details.ComplaintTypeName}}</p>
                                        </div>
                                        <div class="pull-right types">
                                           
                                            <span class="text-danger" ng-if="details.ClassificationName.indexOf('True Complaint') != -1">
                                                {{'IN_SCOPE' | translate}}
                                            </span>
                                            <span class="text-muted" ng-if="details.ClassificationName.indexOf('True Complaint') == -1">
                                                {{'OUT_SCOPE' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 charts">
                    <div class="row hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="panel panel-default margin-bottom-0">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} <span translate>Month Scores</span></h3>
                                <div class="score-panel">
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.chartsConfig.counts.complaintTrends.open }}</span>
                                        <span class="score-title" translate>Open Complaints</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.chartsConfig.counts.complaintTrends.total }}</span>
                                        <span class="score-title" translate>Total Complaints</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.chartsConfig.counts.complaintTrends.outScope }}</span>
                                        <span class="score-title" translate>Out of Scope Complaints</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <!-- Monthly Trend -->
                            <div class="panel panel-default">
                                <h3 class="panel-header-txt" translate>
                                    Monthly Trend
                                </h3>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" data-ng-if="vm.chartsConfig.complaintTrends.categories.length <= 1 || vm.chartsConfig.counts.complaintTrends.total == 0 " translate>
                                    - More than 1 month worth of data required for monthly trend -
                                </div>

                                <div class="chart-wrap">
                                    <sbm-hc-line-chart id="complaintTrends" data-ng-model="vm.chartsConfig.complaintTrends"
                                                       scale-min="{{vm.chartsConfig.minScale}}"
                                                       scale-max="{{vm.chartsConfig.scale}}"
                                                       ng-if="vm.chartsConfig.counts.complaintTrends.total > 0 && vm.chartsConfig.complaintTrends.categories.length > 1">
                                    </sbm-hc-line-chart>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Most Recent for mobile and Ipad view -->
                    
                    <div class="col-xs-12 recent  padding-bottom-15 margin-bottom-30 hidden-md hidden-lg">
                       
                        <h3 class="header margin-bottom-0 padding-left-5">
                           <span translate>Most Recent</span> 
                            <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "Complaint")" translate>
                                VIEW ALL
                            </a>
                        </h3>
                        <div class="padding-left-5 padding-right-5 cards">
                            <card class="col-xs-12 col-sm-6 size" ng-repeat="details in vm.chartsConfig.recentComplaints" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false" item-id="details.ComplaintId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" format-datetime-offset="true"  header-date="details.FeedbackDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left card-body-content-left">
                                                <p class="text-danger repeat pull-left" ng-if="details.IsRepeatComplaint">
                                                    {{'REPEAT' | translate}}
                                                    <i class="fa fa-exclamation"></i>
                                                </p>
                                                <p class="name truncate">{{details.CustomerName}}</p>

                                            </div>
                                            <div class="pull-right card-body-content-right">
                                                <div class="pull-right employee-img complaint text-center" data-ng-if="details.AccountableEmployeesInformation.length > 2">
                                                    <span class="align">{{details.AccountableEmployeesInformation.length - 2}}+</span>
                                                </div>
                                                <div class="pull-right employee-img complaint text-center" ng-if="details.AccountableEmployeesInformation.length <= 2">
                                                    <i class="fa fa-complaints" ng-class="{'move-right': details.AccountableEmployeesInformation.length >= 1}"></i>
                                                </div>
                                                <div class="pull-right" ng-repeat="employee in details.AccountableEmployeesInformation | limitTo: 2">
                                                    <img class="employee-img move" ng-src="{{employee.ProfileImage}}" />
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <p class="name-lbl text-muted pull-left">{{'CUSTOMER_NAME' | translate}}</p>
                                            <p class="name-lbl pull-right">{{'ASSIGNED_EMPLOYEES' | translate}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Description" class="margin-top-25 truncate">
                                            {{details.Description}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'building truncate' : details.BuildingName.length > 15}">
                                            {{details.BuildingName}}</p>
                                            <div class="pull-left padding-left-15">

                                                <p ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}" >
                                                    <i class="fa fa-location"></i>{{vm.clientName}}
                                                    <span ng-if="details.SiteName">, {{details.SiteName}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</p>
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.ComplaintTypeName.length > 9}">{{details.ComplaintTypeName}}</p>
                                        </div>
                                        <div class="pull-right types">
                                            <span class="text-danger" ng-if="details.ClassificationName.indexOf('True Complaint') != -1">
                                                {{'IN_SCOPE' | translate}}
                                            </span>
                                            <span class="text-muted" ng-if="details.ClassificationName.indexOf('True Complaint') == -1">
                                                {{'OUT_SCOPE' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                   

                    <div class="view-by-building">
                        <!-- View By Site -->
                        <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.SiteOrBuilding">
                            <div class="row empty-wrap" ng-if="!vm.chartsConfig.complaintTrendsBySite.displayChart">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" translate>
                                    No data to display
                                </div>
                            </div>
                            <div class="row chart-wrap">
                                <!-- hide until data point is determined -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <sbm-hc-bar-chart id="complaintTrendsBySite" data-ng-model="vm.chartsConfig.complaintTrendsBySite" ng-if="vm.chartsConfig.complaintTrendsBySite.displayChart">
                                    </sbm-hc-bar-chart>
                                </div>
                            </div>
                        </sbm-panel-collapser>
                    </div>
                    <!-- View By Type -->
                    <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.TypeOrProgram">
                        <div class="row empty-wrap" ng-if="!vm.chartsConfig.complaintsByType.series.length">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" translate>
                                No data to display
                            </div>
                        </div>
                        <div class="row chart-wrap">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <sbm-hc-pie-chart id="complaintsByType" click-legend="true" load-trend="vm.loadTrend(id,color,name)" data-ng-model="vm.chartsConfig.complaintsByType" ng-if="vm.chartsConfig.complaintsByType.series.length">
                                </sbm-hc-pie-chart>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div style="display: none;" class="parent-container border-wrap">
                                    <sbm-hc-line-chart id="complaintTrendsByType" data-ng-model="vm.chartsConfig.complaintTrendsByType">
                                    </sbm-hc-line-chart>
                                </div>
                            </div>
                        </div>
                        <div class="row legend-wrap" ng-if="vm.chartsConfig.complaintsByType.series.length">
                            <div class="col-lg-12">
                                <div id="legendSpot"></div>
                            </div>
                        </div>
                    </sbm-panel-collapser>
                </div>
            </div>

        </div>

    </div>
</div>
