﻿@model ChaiTea.Web.Areas.Quality.Models.PageVm
@{
    ViewBag.Title = "Complaints Entry";
}

@section styles {
    <style type="text/css">
        textarea.form-control {height: 100px;}
    </style>
}

@section scripts {
    <script>
        (function () {
            window.App.BootstrappedData = @Html.Raw(Json.Encode(new { }));
        })();
    </script>

    <!-- Services -->
    <script src="@Url.Content("~/Content/js/Core/Services/core.services.messagebus.js")"></script>

    <!-- Controllers -->
    <script src="@Url.Content("~/Content/js/Core/Controllers/core.controllers.headerpanel.js")"></script>

    <script type="text/javascript">

        (function (app) {
            app.controller('UserContextErrorCtrl', ['$scope', 'core.services.messagebus', UserContextErrorCtrl]);

            function UserContextErrorCtrl($scope, servicemessagebus) {
                
                window.setTimeout(function() { $("#client-context").trigger("click"); }, 500);

            }

        })(angular.module('app'));

    </script>

}

@section title{
    <quality-tab-navigation icon-sub-navigation="Quality" active="complaints"></quality-tab-navigation>    
}

@Html.Partial("~/Areas/Quality/Views/Shared/_HeaderPanel.cshtml", true)
<!-- End of Panel Header -->

<div class="container-fluid" data-ng-controller="UserContextErrorCtrl as vm">
    <div class="row" style="color: red; padding: 10px;">
        Please ensure a client, site and program have been selected before creating a complaint.
    </div>
</div>