﻿<div ng-if="$ctrl.currentWeather">
    <div class="small" ng-if="$ctrl.size == 'sm'">
        <span>
            <i class="fa" ng-class="$ctrl.currentWeather._icon"></i> {{$ctrl.currentWeather.summary}} {{$ctrl.currentWeather.temperature | number:0}} °F
        </span>
    </div>
    <div class="large" ng-if="$ctrl.size == 'lg'">
        <div class="icon pull-left text-muted padding-right">
            <span class="fa fa-5x" ng-class="$ctrl.currentWeather._icon"></span>
        </div>
        <div class="info pull-left">
            <span class="temp">
                {{$ctrl.currentWeather.temperature | number:0}} °F
            </span> <br/>
            <span class="text-primary">
                {{$ctrl.currentWeather.summary}}
            </span>
        </div>
    </div>
</div><!-- site-picker -->