﻿@import "../../../../css/Common/globals";

.star-rating{
    .to-rate{
        cursor: pointer;
        padding: 0 3px;
    }
    .fa-star-o{
        color: $warning;
    }
    .fa-star{
        color: $warning;
    }
    .fa-star-half-empty{
        color: $warning;
    }
    .to-display{
        padding: 0 1px;
    }
}