﻿@{ ViewBag.Title = "Dashboard"; ViewBag.HideTitleBar = true; Layout = "~/Views/Shared/_Layout.cshtml"; } @section styles{
@Styles.Render("~/Content/styles/chaitea-dashboard") } @section scripts{ @Scripts.Render("~/scripts/chaitea-dashboard")

<script type="text/ng-template" id="title-and-link.html">
        <div id="profile-link">
            <h4 class="no-margin-top">
                <em class="text-capitalize">{{vm.employeeInfo.JobDescription.Name || vm.currentDashboardItem.role}}</em>
            </h4>
            <small class="padding-left hidden-xs hidden-sm" hidden-customers>
                <a href="{{vm.userProfilePath}}">
                    <em class="text-muted">View My Profile <i class="fa fa-angle-double-right"></i></em>
                </a>
            </small>
        </div>
    </script>
}

<div class="container-fluid dashboard" ng-controller="Dashboard.Index as vm" ng-init="vm.initialize()">
    <page-header title="Welcome back, {{vm.userInfo.firstName | lowercase}}" 
                 s3-icon-name="home.svg" 
                 info-text="Embrace productivity, guide your team, and serve your customer.">
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">{{'MY_DASHBOARD'|translate}}</a>
        </tabs>
        <custom-buttons>
            <button class="btn btn-default text-uppercase" ng-click="vm.showConfigOptions()">
                <span class="fa fa-cog"></span> {{'CONFIGURE' | translate}}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="col-md-12 col-lg-12 dashboard-cards hidden-xs hidden-sm">
        <div class="col-xs-12 padding-left-5 configuration">
            <p class="pull-left title"></p>
            <a class="pull-right configure-link" ></a>
        </div>
        <div class="{{type.class}} padding-left-5" ng-if="type.visible" ng-repeat="type in vm.dashBoardTileInfo track by $index"
            ng-drop="true" ng-drop-success="vm.onDropComplete($index, $data)" ng-mousedown="vm.ondragStart(type.name)">
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Weather'">
                <div class="title">{{'TODAYS_WEATHER' | translate}}</div>
                <div class="sub-title">{{'AT_YOUR_LOCATION' | translate }}</div>
                <weather-component size="lg"></weather-component>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Safety'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastSafetyDate != null">{{ 'LAST_INCIDENT' | translate }}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastSafetyDate != null">{{::vm.countsAndTimeInfo.LastSafetyDate | date: 'shortDate'}}</div>
                </div>
                <div class="title" translate>TEAM SAFETY</div>
                <div class="sub-title" translate>Current Month Total</div>
                <p class="data-value">{{::vm.countsAndTimeInfo.SafetyCount}}</p>
                <p class="data-info" ng-if="vm.countsAndTimeInfo.SafetyCount == 1" translate>INCIDENT</p>
                <p class="data-info" ng-if="vm.countsAndTimeInfo.SafetyCount != 1" translate>INCIDENTS</p>
                <p class="sub-data-info" translate>Goal: Less Than 2 Incidents</p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Complaints'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastComplaintDate != null" translate>Last Complaint</div>
                    <div ng-if="vm.countsAndTimeInfo.LastComplaintDate != null">{{::vm.countsAndTimeInfo.LastComplaintDate | date: 'shortDate'}}</div>
                </div>
                <div class="title" translate>COMPLAINTS</div>
                <div class="sub-title" translate>6 Months Trend</div>
                <div ng-if="!vm.dashBoardInfo.complaints.inScopeCountAvg && !vm.dashBoardInfo.complaints.outOfScopeCountAvg" class="no-data"
                    translate>No complaints to show</div>
                <div ng-if="vm.dashBoardInfo.complaints.inScopeCountAvg || vm.dashBoardInfo.complaints.outOfScopeCountAvg">
                    <sbm-hc-column-chart id="ComplaintTrends{{$index}}" data-ng-model="vm.reportsConfig.complaintTrends" height="200" minwidth="100"
                        data-ng-if="vm.reportsConfig.complaintTrends.xAxis.categories.length > 1">
                    </sbm-hc-column-chart>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Todo'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{'Updated' | translate}}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{::vm.countsAndTimeInfo.LastToDoUpdateDate | date: 'shortDate' : 'UTC'}}</div>
                </div>
                <div class="title">{{'TO-DOs' | translate}}</div>
                <div class="sub-title">{{'Current Month' | translate}}</div>
                <div class="row data-row data-row-border margin-top-25">
                    <div class="col-lg-4 col-md-4 data-row-value">{{::vm.countsAndTimeInfo.ToDoCount}}</div>
                    <div class="col-lg-8 col-md-8 data-row-details">
                        <div class="data-row-info">{{'Currently Open' | translate}}</div>
                        <div class="data-row-sub-info">
                            <span>{{'Last Open' | translate}}</span>:
                            <span ng-if="vm.countsAndTimeInfo.LastToDoDate != null">{{::vm.countsAndTimeInfo.LastToDoDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row data-row-border">
                    <div class="col-lg-4 col-md-4 data-row-value" ng-class="{'text-danger': vm.countsAndTimeInfo.PastDueCount > 0}">{{::vm.countsAndTimeInfo.PastDueCount}}</div>
                    <div class="col-lg-8 col-md-8 data-row-details">
                        <div class="data-row-info">{{'Past Due' | translate}}</div>
                        <div class="data-row-sub-info">
                            <span>{{'Oldest Incomplete' | translate}}</span>:
                            <span ng-if="vm.countsAndTimeInfo.ToDoOldestIncompleteDate != null">{{::vm.countsAndTimeInfo.ToDoOldestIncompleteDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-lg-4 col-md-4 data-row-value">{{::vm.countsAndTimeInfo.ToDoClosureRate | number: 0}}%</div>
                    <div class="col-lg-8 col-md-8 data-row-details">
                        <div class="data-row-info">{{'Closed on Time' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.countsAndTimeInfo.LastTodoCloseOnTimeDate != null">
                            <span>{{'STATS_LAST_CLOSED' | translate}}</span>:
                            <span>{{::vm.countsAndTimeInfo.LastTodoCloseOnTimeDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Audits'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastAuditDate != null">{{'Last Audit' | translate}}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastAuditDate != null">{{::vm.countsAndTimeInfo.LastAuditDate | date: 'shortDate'}}</div>
                </div>
                <div class="title" translate>AUDITS</div>
                <div class="sub-title" translate>6 Months Trend</div>
                <div ng-if="!vm.dashBoardInfo.audits.avgJointAuditsScore && !vm.dashBoardInfo.audits.avgInternalAuditsScore" class="no-data"
                    translate>No audits to show</div>
                <div ng-if="vm.dashBoardInfo.audits.avgJointAuditsScore || vm.dashBoardInfo.audits.avgInternalAuditsScore">
                    <sbm-hc-column-chart id="AuditTrends{{$index}}" data-ng-model="vm.reportsConfig.auditTrends" height="200" minwidth="100"
                        data-ng-if="vm.reportsConfig.auditTrends.xAxis.categories.length > 1">
                    </sbm-hc-column-chart>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Hours' && vm.userInfo.mainRoles.timeclockviewers">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastTeamHoursDate != null" translate>Last Updated</div>
                    <div ng-if="vm.countsAndTimeInfo.LastTeamHoursDate != null">{{::vm.countsAndTimeInfo.LastTeamHoursDate | date: 'shortDate'}}</div>
                </div>
                <div class="title" translate>TEAM HOURS</div>
                <div class="sub-title" translate>Month-to-Date Team Hours, by day</div>
                <div ng-if="!vm.dashBoardInfo.hours.totalRegularHours" class="no-data" translate>No hours data to show</div>
                <div ng-if="vm.dashBoardInfo.hours.totalRegularHours">
                    <sbm-hc-line-chart id="hoursTrend{{$index}}" data-ng-model="vm.reportsConfig.hours" height="140" data-ng-if="vm.reportsConfig.hours.xAxis.categories.length > 1">
                    </sbm-hc-line-chart>
                    <div class="legend">
                        <div class="pull-left legend-1">
                            <p class="value">{{vm.dashBoardInfo.hours.totalRegularHours}}</p>
                            <p class="name" translate>Total REG Hours</p>
                        </div>
                        <div class="pull-left legend-2">
                            <p class="value">{{vm.dashBoardInfo.hours.totalSTEHours}}</p>
                            <p class="name" translate>Total STE Hours</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'PositionProfiles'">
                <div class="title" translate>POSITION PROFILES</div>
                <div class="sub-title" translate>Current Totals</div>
                <p class="data-value">{{::vm.countsAndTimeInfo.PositionProfilePercentage}}%</p>
                <p class="data-info" translate>COMPLETED PROFILES</p>
                <p class="sub-data-info">{{::vm.countsAndTimeInfo.ProfileCompleteCount}} <span translate>of</span> {{::vm.countsAndTimeInfo.TotalEmployees}}
                    <span translate>Profiles Complete</span></p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Compliments'">
                <div class="title" translate>COMPLIMENTS</div>
                <div class="sub-title" translate>Most Recent Compliments</div>
                <div ng-if="!vm.dashBoardInfo.compliments.length" class="no-data" translate>No Compliments to show</div>
                <div class="compliment-row" ng-repeat="compliment in vm.dashBoardInfo.compliments">
                    <div class="circle-img pull-left">
                        <img ng-src="{{compliment.employeeImg || '@Url.Content(" ~/content/img/user.jpg ")'}}" />
                    </div>
                    <div class="details pull-left">
                        <div class="emp-name">{{compliment.employeeName}}</div>
                        <div class="create-date">{{compliment.createDate | date: 'M/d/yyyy'}}</div>
                        @*
                        <div class="description">{{compliment.description | limitTo: 25}}{{compliment.description.length > 25 ? '...': ''}}</div>*@
                        <div class="description">{{compliment.description }}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Survey'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.dashBoardInfo.survey.latestDate != null">
                        {{'Last Survey' | translate }}<br />
                        {{vm.dashBoardInfo.survey.latestDate | date: 'shortDate'}}
                    </div>
                </div>
                <div class="title">{{'SURVEYS' | translate }}</div>
                <div class="sub-title">{{'Most Recent Survey Score' | translate }}</div>
                <p class="data-value">{{vm.dashBoardInfo.survey.latestScore | number : 2}}</p>
                <p class="data-info">{{'LATEST SURVEY SCORE' | translate }}</p>
                <p class="sub-data-info"><span>{{'Goal' | translate }}</span>: {{vm.dashBoardInfo.survey.controlLimit}} <span>{{'out of' | translate }}</span> {{vm.dashBoardInfo.survey.goal}}</p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'MessagesDelivered'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastMessageNotifiedCreateDate != null">{{'STATS_LAST_DELIVERED' | translate}}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastMessageNotifiedCreateDate != null">{{::vm.countsAndTimeInfo.LastMessageNotifiedCreateDate | date: 'shortDate'}}</div>
                </div>
                <div class="title">{{'STATS_MESSAGES' | translate}}</div>
                <div class="sub-title">{{'STATS_MESSAGES_DELIVERED' | translate}}</div>
                <p class="data-value">{{::vm.countsAndTimeInfo.MessageNotifiedCount}}</p>
                <p class="data-info">{{'STATS_MESSAGES' | translate}}</p>
                <p class="sub-data-info">{{'STATS_TOTAL_DELIVERED' | translate}}</p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'FailedAudits'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastAuditDate != null">{{ 'Last Updated' | translate }}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastAuditDate != null">{{::vm.countsAndTimeInfo.LastAuditDate | date: 'shortDate'}}</div>
                </div>
                <div class="title">{{ 'FAILED_AUDITS' | translate }}</div>
                <div class="sub-title">{{ 'Current Month Total' | translate }}</div>
                <p class="data-value" ng-class="{ 'text-danger': vm.dashBoardInfo.audits.failedAuditsCount > 0 }">{{vm.dashBoardInfo.audits.failedAuditsCount}}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.dashBoardInfo.audits.failedAuditsCount > 0 }" ng-if="vm.dashBoardInfo.audits.failedAuditsCount == 1">{{ 'Audit' | translate }}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.dashBoardInfo.audits.failedAuditsCount > 0 }" ng-if="vm.dashBoardInfo.audits.failedAuditsCount != 1">{{ 'Audits' | translate }}</p>
                <p class="sub-data-info">{{ 'TOTAL_FAILED' | translate }}</p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'FailedInspectionTodos'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{'Last Updated' | translate}}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{vm.countsAndTimeInfo.LastToDoUpdateDate | date: 'shortDate' : 'UTC'}}</div>
                </div>
                <div class="title">{{'INSPECTION_TODOS' | translate}}</div>
                <div class="sub-title">{{'Current Month' | translate}}</div>
                <div class="row data-row data-row-border margin-top-25">
                    <div class="col-lg-4 col-md-4 data-row-value">{{vm.failedInspectionTodos.Open}}</div>
                    <div class="col-lg-8 col-md-8 data-row-details">
                        <div class="data-row-info">{{'Currently Open' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.failedInspectionTodos.LastOpenDate != null">
                            <span>{{'Last Open' | translate}}</span>:
                            <span ng-if="vm.failedInspectionTodos.LastOpenDate != null">{{vm.failedInspectionTodos.LastOpenDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row data-row-border">
                    <div class="col-lg-4 col-md-4 data-row-value" ng-class="{ 'text-danger': vm.failedInspectionTodos.PastDue > 0 }">{{vm.failedInspectionTodos.PastDue}}</div>
                    <div class="col-lg-8 col-md-8 data-row-details">
                        <div class="data-row-info">{{'Past Due' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.failedInspectionTodos.OldestIncompleteDate != null">
                            <span>{{'Oldest Incomplete' | translate}}</span>:
                            <span ng-if="vm.failedInspectionTodos.OldestIncompleteDate != null">{{vm.failedInspectionTodos.OldestIncompleteDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-lg-4 col-md-4 data-row-value">{{vm.failedInspectionTodos.ClosureRate | number: 0}}%</div>
                    <div class="col-lg-8 col-md-8 data-row-details">
                        <div class="data-row-info">{{'Closed on Time' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.failedInspectionTodos.LastClosedDate != null">
                            <span>{{'STATS_LAST_CLOSED' | translate}}</span>:
                            <span>{{vm.failedInspectionTodos.LastClosedDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'ReAudits'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.reAuditsInfo.LastModifiedDate != null">{{ 'Last Updated' | translate }}</div>
                    <div ng-if="vm.reAuditsInfo.LastModifiedDate != null">{{::vm.reAuditsInfo.LastModifiedDate | date: 'shortDate'}}</div>
                </div>
                <div class="title">{{ 'REAUDIT_TODOS' | translate }}</div>
                <div class="sub-title">{{ 'RUNNING_TOTAL' | translate }}</div>
                <p class="data-value" ng-class="{ 'text-danger': vm.reAuditsInfo.ReAuditsCount > 0 }">{{vm.reAuditsInfo.ReAuditsCount}}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.reAuditsInfo.ReAuditsCount > 0 }" ng-if="vm.reAuditsInfo.ReAuditsCount == 1">{{ 'REAUDIT' | translate }}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.reAuditsInfo.ReAuditsCount > 0 }" ng-if="vm.reAuditsInfo.ReAuditsCount != 1">{{ 'REAUDITS' | translate }}</p>
                <p class="sub-data-info">{{ 'TOTAL_REMAINING' | translate }}</p>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-sm-12 col-xs-12  dashboard-cards hidden-md hidden-lg">
        <div class="tile {{type.class}} padding-5" ng-if="type.visible" ng-repeat="type in vm.dashBoardTileInfo track by $index"
            ng-drop="true" ng-click="vm.onDropComplete($index, $data)" ng-drop-success="vm.onDropComplete($index, $data)" ng-mousedown="vm.ondragStart(type.name)"
            touch-start="vm.ondragStart(type.name)">
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Weather'">
                <div class="title">{{'TODAYS_WEATHER' | translate}}</div>
                <div class="sub-title">{{'AT_YOUR_LOCATION' | translate }}</div>
                <weather-component size="lg"></weather-component>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Safety'">
                <div class="title" translate>TEAM SAFETY</div>
                <div class="sub-title" translate>Current Month Total</div>
                <p class="data-value">{{::vm.countsAndTimeInfo.SafetyCount}}</p>
                <p class="data-info" ng-if="vm.countsAndTimeInfo.SafetyCount == 1" translate>INCIDENT</p>
                <p class="data-info" ng-if="vm.countsAndTimeInfo.SafetyCount != 1" translate>INCIDENTS</p>
                <p class="sub-title text-center" ng-if="vm.countsAndTimeInfo.LastSafetyDate != null"><span>{{ 'LAST_INCIDENT' | translate }}</span> {{::vm.countsAndTimeInfo.LastSafetyDate | date: 'shortDate'}}</p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Todo'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{'Updated' | translate}}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{::vm.countsAndTimeInfo.LastToDoUpdateDate | date: 'shortDate' : 'UTC'}}</div>
                </div>
                <div class="title">{{'TO-DOs' | translate}}</div>
                <div class="sub-title">{{'Current Month' | translate}}</div>
                <div class="row data-row data-row-border margin-top-25">
                    <div class="col-sm-4 col-xs-4 data-row-value">{{::vm.countsAndTimeInfo.ToDoCount}}</div>
                    <div class="col-sm-8 col-xs-8 data-row-details">
                        <div class="data-row-info">{{'Currently Open' | translate}}</div>
                        <div class="data-row-sub-info">
                            <span>{{'Last Open' | translate}}</span>:
                            <span ng-if="vm.countsAndTimeInfo.LastToDoDate != null">{{::vm.countsAndTimeInfo.LastToDoDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row data-row-border">
                    <div class="col-sm-4 col-xs-4 data-row-value">{{::vm.countsAndTimeInfo.PastDueCount}}</div>
                    <div class="col-sm-8 col-xs-8 data-row-details">
                        <div class="data-row-info">{{'Past Due' | translate}}</div>
                        <div class="data-row-sub-info">
                            <span>{{'Oldest Incomplete' | translate}}</span>:
                            <span ng-if="vm.countsAndTimeInfo.ToDoOldestIncompleteDate != null">{{::vm.countsAndTimeInfo.ToDoOldestIncompleteDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-sm-4 col-xs-4 data-row-value">{{::vm.countsAndTimeInfo.ToDoClosureRate | number: 0}}%</div>
                    <div class="col-sm-8 col-xs-8 data-row-details">
                        <div class="data-row-info">{{'Closed on Time' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.countsAndTimeInfo.LastTodoCloseOnTimeDate != null">
                            <span>{{'STATS_LAST_CLOSED' | translate}}</span>:
                            <span>{{::vm.countsAndTimeInfo.LastTodoCloseOnTimeDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card charts" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Complaints'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastComplaintDate != null" translate>Last Complaint</div>
                    <div ng-if="vm.countsAndTimeInfo.LastComplaintDate != null">{{::vm.countsAndTimeInfo.LastComplaintDate | date: 'shortDate'}}</div>
                </div>
                <div class="title" translate>COMPLAINTS</div>
                <div class="sub-title" translate>6 Months Trend</div>
                <div ng-if="!vm.dashBoardInfo.complaints.inScopeCountAvg && !vm.dashBoardInfo.complaints.outOfScopeCountAvg" class="no-data"
                    translate>No complaints to show</div>
                <div ng-if="vm.dashBoardInfo.complaints.inScopeCountAvg || vm.dashBoardInfo.complaints.outOfScopeCountAvg">
                    <sbm-hc-column-chart id="ComplaintTrendsMobile{{$index}}" data-ng-model="vm.reportsConfig.complaintTrends" height="160" minwidth="100"
                        data-ng-if="vm.reportsConfig.complaintTrends.xAxis.categories.length > 1">
                    </sbm-hc-column-chart>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'PositionProfiles'">
                <div class="title" translate>POSITION PROFILES</div>
                <div class="sub-title" translate>Current Totals</div>
                <p class="data-value">{{::vm.countsAndTimeInfo.PositionProfilePercentage}}%</p>
                <p class="data-info" translate>COMPLETED PROFILES</p>
                <p class="sub-data-info">{{::vm.countsAndTimeInfo.ProfileCompleteCount}} of {{::vm.countsAndTimeInfo.TotalEmployees}} <span translate>Profiles Complete</span></p>
            </a>
            <a class="card charts" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Audits'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastAuditDate != null" translate>Last Audit</div>
                    <div ng-if="vm.countsAndTimeInfo.LastAuditDate != null">{{::vm.countsAndTimeInfo.LastAuditDate | date: 'shortDate'}}</div>
                </div>
                <div class="title" translate>AUDITS</div>
                <div class="sub-title" translate>6 Months Trend</div>
                <div ng-if="!vm.dashBoardInfo.audits.avgJointAuditsScore && !vm.dashBoardInfo.audits.avgInternalAuditsScore" class="no-data"
                    translate>No audits to show</div>
                <div ng-if="vm.dashBoardInfo.audits.avgJointAuditsScore || vm.dashBoardInfo.audits.avgInternalAuditsScore">
                    <sbm-hc-column-chart id="AuditTrendsMobile{{$index}}" data-ng-model="vm.reportsConfig.auditTrends" height="160" minwidth="100"
                        data-ng-if="vm.reportsConfig.auditTrends.xAxis.categories.length > 1">
                    </sbm-hc-column-chart>
                </div>
            </a>
            <a class="card charts" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Hours'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastTeamHoursDate != null" translate>Last Updated</div>
                    <div ng-if="vm.countsAndTimeInfo.LastTeamHoursDate != null">{{::vm.countsAndTimeInfo.LastTeamHoursDate | date: 'shortDate'}}</div>
                </div>
                <div class="title" translate>TEAM HOURS</div>
                <div class="sub-title" translate>Month-to-Date Team Hours, by day</div>
                <div ng-if="!vm.dashBoardInfo.hours.totalRegularHours" class="no-data" translate>No hours data to show</div>
                <div ng-if="vm.dashBoardInfo.hours.totalRegularHours">
                    <sbm-hc-line-chart id="hoursTrendMobile{{$index}}" data-ng-model="vm.reportsConfig.hours" height="120" data-ng-if="vm.reportsConfig.hours.xAxis.categories.length > 1">
                    </sbm-hc-line-chart>
                    <div class="legend">
                        <div class="pull-left legend-1">
                            <p class="value">{{vm.dashBoardInfo.hours.totalRegularHours}}</p>
                            <p class="name" translate>Total REG Hours</p>
                        </div>
                        <div class="pull-left legend-2">
                            <p class="value">{{vm.dashBoardInfo.hours.totalSTEHours}}</p>
                            <p class="name" translate>Total STE Hours</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Compliments'">
                <div class="title" translate>COMPLIMENTS</div>
                <div class="sub-title" translate>Most Recent Compliments</div>
                <div ng-if="!vm.dashBoardInfo.compliments.length" class="no-data" translate>No Compliments to show</div>
                <div class="compliment-row" ng-repeat="compliment in vm.dashBoardInfo.compliments">
                    <div class="circle-img pull-left">
                        <img ng-src="{{compliment.employeeImg || '@Url.Content(" ~/content/img/user.jpg ")'}}" />
                    </div>
                    <div class="details pull-left">
                        <div class="emp-name">{{compliment.employeeName}}</div>
                        <div class="create-date">{{compliment.createDate | date: 'M/d/yyyy'}}</div>
                        <div class="description">{{compliment.description }}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'Survey'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.dashBoardInfo.survey.latestDate != null">
                        {{'Last Survey' | translate }}<br/>
                        {{vm.dashBoardInfo.survey.latestDate | date: 'shortDate'}}
                    </div>
                </div>
                <div class="title">{{'SURVEYS' | translate }}</div>
                <div class="sub-title">{{'Most Recent Survey Score' | translate }}</div>
                <p class="data-value">{{vm.dashBoardInfo.survey.latestScore}}</p>
                <p class="data-info">{{'LATEST SURVEY SCORE' | translate }}</p>
                <p class="sub-data-info"><span>{{'Goal' | translate }}</span>: {{vm.dashBoardInfo.survey.controlLimit}} <span>{{'out of' | translate }}</span>{{vm.dashBoardInfo.survey.goal}}</p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'MessagesDelivered'">
                <div class="title">{{'STATS_MESSAGES' | translate}}</div>
                <div class="sub-title">{{'STATS_MESSAGES_DELIVERED' | translate}}</div>
                <p class="data-value">{{::vm.countsAndTimeInfo.MessageNotifiedCount}}</p>
                <p class="data-info">{{'STATS_MESSAGES' | translate}}</p>
                <p class="sub-title text-center" ng-if="vm.countsAndTimeInfo.LastMessageNotifiedCreateDate != null">
                    <span class="padding-right-5">{{'STATS_LAST_DELIVERED' | translate}}</span>{{::vm.countsAndTimeInfo.LastMessageNotifiedCreateDate
                    | date: 'shortDate'}}
                </p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'FailedAudits'">
                <div class="title">{{ 'FAILED_AUDITS' | translate }}</div>
                <div class="sub-title">{{ 'Current Month Total' | translate }}</div>
                <p class="data-value" ng-class="{ 'text-danger': vm.dashBoardInfo.audits.failedAuditsCount > 0 }">{{vm.dashBoardInfo.audits.failedAuditsCount}}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.dashBoardInfo.audits.failedAuditsCount > 0 }" ng-if="vm.dashBoardInfo.audits.failedAuditsCount == 1">{{ 'Audit' | translate }}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.dashBoardInfo.audits.failedAuditsCount > 0 }" ng-if="vm.dashBoardInfo.audits.failedAuditsCount != 1">{{ 'Audits' | translate }}</p>
                <p class="sub-title text-center" ng-if="vm.countsAndTimeInfo.LastAuditDate != null"><span>{{ 'Last Updated' | translate }}</span> {{::vm.countsAndTimeInfo.LastAuditDate | date: 'shortDate'}}</p>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'FailedInspectionTodos'">
                <div class="pull-right sub-title text-right">
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{'Updated' | translate}}</div>
                    <div ng-if="vm.countsAndTimeInfo.LastToDoUpdateDate != null">{{::vm.countsAndTimeInfo.LastToDoUpdateDate | date: 'shortDate' : 'UTC'}}</div>
                </div>
                <div class="title">{{'INSPECTION_TODOS' | translate}}</div>
                <div class="sub-title">{{'Current Month' | translate}}</div>
                <div class="row data-row data-row-border margin-top-25">
                    <div class="col-sm-4 col-xs-4 data-row-value">{{::vm.failedInspectionTodos.Open}}</div>
                    <div class="col-sm-8 col-xs-8 data-row-details">
                        <div class="data-row-info">{{'Currently Open' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.failedInspectionTodos.LastOpenDate != null">
                            <span>{{'Last Open' | translate}}</span>:
                            <span ng-if="vm.failedInspectionTodos.LastOpenDate != null">{{::vm.failedInspectionTodos.LastOpenDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row data-row-border">
                    <div class="col-sm-4 col-xs-4 data-row-value">{{::vm.failedInspectionTodos.PastDue}}</div>
                    <div class="col-sm-8 col-xs-8 data-row-details">
                        <div class="data-row-info">{{'Past Due' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.failedInspectionTodos.OldestIncompleteDate != null">
                            <span>{{'Oldest Incomplete' | translate}}</span>:
                            <span ng-if="vm.failedInspectionTodos.OldestIncompleteDate != null">{{::vm.failedInspectionTodos.OldestIncompleteDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-sm-4 col-xs-4 data-row-value">{{::vm.failedInspectionTodos.ClosureRate | number: 0}}%</div>
                    <div class="col-sm-8 col-xs-8 data-row-details">
                        <div class="data-row-info">{{'Closed on Time' | translate}}</div>
                        <div class="data-row-sub-info" ng-if="vm.failedInspectionTodos.LastClosedDate != null">
                            <span>{{'STATS_LAST_CLOSED' | translate}}</span>:
                            <span>{{::vm.failedInspectionTodos.LastClosedDate | date: 'shortDate' : 'UTC'}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="javascript:void(0)" ng-drag="true" ng-drag-data="type" ng-if="type.name == 'ReAudits'">
                <div class="title">{{ 'REAUDIT_TODOS' | translate }}</div>
                <div class="sub-title">{{ 'RUNNING_TOTAL' | translate }}</div>
                <p class="data-value" ng-class="{ 'text-danger': vm.reAuditsInfo.ReAuditsCount > 0 }">{{vm.reAuditsInfo.ReAuditsCount}}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.reAuditsInfo.ReAuditsCount > 0 }" ng-if="vm.reAuditsInfo.ReAuditsCount == 1">{{ 'REAUDIT' | translate }}</p>
                <p class="data-info" ng-class="{ 'text-danger': vm.reAuditsInfo.ReAuditsCount > 0 }" ng-if="vm.reAuditsInfo.ReAuditsCount != 1">{{ 'REAUDITS' | translate }}</p>
                <p class="sub-title text-center" ng-if="vm.reAuditsInfo.LastModifiedDate != null"><span>{{ 'Last Updated' | translate }}</span> {{::vm.reAuditsInfo.LastModifiedDate | date: 'shortDate'}}</p>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>