﻿@import "../../../../Css/Common/globals";
tab-filter-header, .tab-filter-header {
    display: block;
    margin-right: -15px;
    @include breakpoint(desktop) {
        margin-right: 0;
    }
    >div[type=pills] {
        overflow: hidden;
        // to hide scrollbar
        height: 37.15px;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .nav.nav-pills {
        list-style: none;
        white-space: nowrap;
        padding-left: 0;
        overflow-x: auto;
        // to hide scrollbar
        padding-bottom: 20px;
        &:last-child {
            margin-right: 0;
        }
        li {
            display: inline-block;
            margin-right: .571rem;
            float: none;
            &.active a {
                background-color: $primary;
            }
            a {
                background: $border;
                color: #fff;
                font-weight: 600;
                font-size: .8571rem;
            }
        }
    }
    .nav.nav-tabs {
        li.nav-item {
            margin-bottom: -2px;
            .nav-link {
                background: $border;
                color: $base-dark;
                font-size: 1rem;
                font-weight: 600;
                border-radius: 3px;
                border-bottom: 0;
                border-top: 2px solid transparent;
                outline: none;
                padding: 5px 20px;
                min-width: 100px;
                text-align: center;
            }
            &.active .nav-link {
                color: $warning;
                border-top-color: $warning;
                background: $gray !important;
            }
            &.has-count {
                .nav-link {
                    background: $border;
                }
                &.active {
                    .nav-link {
                        border-top: 1px solid $border-dark;
                    }
                }
            }
        }
        span.count {
            @include breakpoint(desktop) {
                clear: both;
                width: 100%;
                display: block;
                text-align: center;
            }
        }
        span.title {}
    }

    &.default-tabs{
        .nav.nav-tabs {
            li.nav-item {
                &.active .nav-link {
                    background: $default !important;
                }
            }
        
        }
    }
}