﻿@{
    ViewBag.Title = "Messages Sent";
    ViewBag.HideTitleBar = true;

}

<div class="container-fluid message-builder stats messages-received" data-ng-controller="Settings.MessagesReceivedIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Messages Sent'|translate}}"
                 info-text="{{'View what messages your staff have sent and to whom. This can help you prepare to answer any questions your associates may have.'|translate}}"
                 s3-icon-name="messagebuilder.svg">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <open-message-builder class="btn btn-success btn-sm  send-message-btn">
            <i class="fa fa-messaging fa-1"></i><span class="plus-btn hidden-xs hidden-sm">{{'SEND_MESSAGE'|translate}}</span>
        </open-message-builder>
    </page-header>
    <div class="row page-heading">
        <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
            <div class="stats-nav-tabs">
                <div class="tab col-md-2 col-sm-3 col-xs-4" ng-class="{'active' : vm.activeTab == 0}" data-ng-click="vm.toggleTabs(0)">
                    <i class="fa-messaging icon-align"></i><span class="message-count">{{ vm.messagesReceivedCount || 0 }}</span>
                    <p><span class="hidden-xs" translate>MESSAGES</span> <span translate>SENT</span> </p>
                </div>
                <div class="tab col-md-2 col-sm-3 col-xs-4" ng-class="{'active' : vm.activeTab == 2}" data-ng-click="vm.toggleTabs(2)" ng-hide="true">
                    <i class="fa-calendar icon-align"></i><span class="message-count">{{ vm.messagesSentCount || 0 }}</span>
                    <p><span class="hidden-xs" translate>MESSAGES</span> <span translate>MONTHLY</span> </p>
                </div>
                <div class="tab col-md-2 col-sm-3 col-xs-4" ng-class="{'active' : vm.activeTab == 1}" data-ng-click="vm.toggleTabs(1)" ng-hide="true">
                    <i class="fa-sent icon-align"></i><span class="message-count">{{ vm.messagesSentCount || 0 }}</span>
                    <p><span class="hidden-xs" translate>MESSAGES</span> <span translate>SENT FROM</span> </p>
                </div>
                <div class="message-alert col-md-8 col-sm-6 col-xs-12 text-right hidden-xs" >
                    <span ng-if="vm.activeTab == 0" class="text-danger hidden-sm">*</span><span ng-if="vm.activeTab == 0" class="asterisk hidden-sm" translate> Shaded in color bars represent the number of messages that were opened.</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row stats-page-content">
        <div class="single-chart">
            <div data-ng-if="vm.activeTab == 0">
                <div class="col-lg-8 col-md-8">
                    <div class="hidden-lg hidden-md padding-bottom-15" ng-if="vm.activeTab == 0">
                        <span ng-if="vm.activeTab == 0" class="text-danger">*</span><span ng-if="vm.activeTab == 0" class="asterisk" translate> Shaded in color bars represent the number of messages that were opened.</span>
                    </div>
                    <p class="single-chart-title received-title pull-left" translate>Messages Sent by Staff</p>
                    <div class="pull-right details hidden-xs">
                        <div class="padding-left-10 msg pull-right" translate>
                            Messages opened by staff members
                        </div>
                        <div class="opened pull-right">
                            <span>{{vm.openedMessagesCount}}</span><span class="padding-left-5 padding-right-5">of</span><span>{{vm.messagesReceivedCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                     data-ng-if="vm.charts.messagesReceivedChart.xAxis.categories.length <= 0" translate>
                    - No Data to display -
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-if="vm.charts.messagesReceivedChart.xAxis.categories.length > 0">
                    <div class="row">
                        <div class="chart-wrap col-lg-8 col-md-7 col-sm-12 col-xs-12">
                            <sbm-hc-column-chart message-charts-total-recipients-legend="true" id="messageChartsTotalRecipients" data-ng-model="vm.charts.messagesReceivedChart"
                                                 data-ng-if="vm.charts.messagesReceivedChart.xAxis.categories.length > 1">
                            </sbm-hc-column-chart>
                        </div>
                        <div class="col-md-3 col-sm-12 total-recipients-legend-align">
                            <p class="total-messages"><span translate>Positions At</span> {{vm.location}}</p>
                            <div id="messageChartsTotalRecipientsLegendSpot"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="messages-sent" data-ng-if="vm.activeTab == 1">
                <p class="single-chart-title">Messages from Departments</p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                     ng-if="vm.messagesSentCount == 0" translate>
                    - No Data to display -
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="vm.messagesSentCount > 0">
                    <sbm-hc-pie-chart id="messageStatsAllOpened" legend-all-opened-messages="true" minwidth="0" height="300" data-ng-model="vm.charts.messagesSentChart"></sbm-hc-pie-chart>
                    <p class="recipients">{{ vm.totalMessagesSentOut }} <span translate>MESSAGES</span></p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 legend">
                    <p class="total-messages sent"><span translate>Total Messages Sent Out</span>
                    <span class="pull-right">{{vm.totalMessagesSentOut}}</span></p>
                    <div id="legendCustomAllOpenedMessages"></div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12 sent-details">
                    <p class="total-messages">{{vm.location}} <span translate>Message Statistics</span></p>
                    <div class="data">
                        <div class="statistic">{{vm.totalMessagesSentOut}}</div> 
                        <div class="lbl" translate>Messages were sent to staff</div>
                    </div>
                    <div class="data middle">
                        <div class="statistic">{{vm.totalDepartments}}</div>
                        <div class="lbl" translate>Departments Composed Sent to Staff</div>
                    </div>
                    <div class="data">
                        <div class="statistic">{{vm.messagesReceivedCount}}</div>
                        <div class="lbl" translate>Messages were received by staff</div>
                    </div>
                </div>
            </div>
            <div class="messages-sent" data-ng-if="vm.activeTab == 2">
                <p class="single-chart-title">Monthly Trend of Senders</p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                     ng-if="vm.messagesSentCount == 0" translate>
                    - No Data to display -
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12" ng-if="vm.charts.messagesMonthlyChart.xAxis.categories.length > 0">
                    <sbm-hc-column-chart messages-sent="true" id="MessageStatsSentMessages" data-ng-model="vm.charts.messagesMonthlyChart"
                                         data-ng-if="vm.charts.messagesMonthlyChart.xAxis.categories.length > 0">
                    </sbm-hc-column-chart>
                </div>
                <div class="col-md-3 col-sm-12" ng-if="vm.charts.messagesMonthlyChart.xAxis.categories.length > 0">
                    <p class="col-md-12 col-sm-12 col-xs-12 padding-horizontal-0 padding-bottom-10 total-messages">
                        <span class="pull-left">Messages Sent {{vm.noOfMonths}} Months</span>
                        <span class="pull-right text-primary">{{vm.messagesSentCount}}</span>
                        <div class="clearfix"></div>
                    </p>
                    <div id="legendCustomSentMessages"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div data-infinite-scroll="vm.getMessages()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
        <div class="row  messages">

            <div class="search-mobile hidden-sm hidden-md hidden-lg">
                <div class="col-xs-12 search-section margin-bottom-10">
                    <input type="text" value="" ng-model="search" class="form-control input-sm filter mob-search" placeholder="Search Messages" />
                    <span class="fa fa-search2 icon-search"></span>
                </div>
            </div>

            <sbm-toggle-switch hidden-employees
                               data-ng-model="vm.toggleBtnFlag"
                               filter-apply-fn="vm.getMessagesReset()"
                               on-label="{{'STAFF MESSAGES' | translate}}"
                               off-label="{{'ASSOCIATE MESSAGES' | translate}}"
                               true-item-value="false"
                               false-item-value="true"
                               class="pull-left toggle-switch padding-left-15"></sbm-toggle-switch>
            <div class="clearfix visible-xs"></div>
            <div class="count" ng-if="!vm.toggleBtnFlag"><span ng-if="vm.count > 0">1-{{vm.interimCount}} <span translate>of</span> </span>{{ vm.count }} <span translate>Messages Sent to the Staff</span></div>
            <div class="count" ng-if="vm.toggleBtnFlag">{{vm.associateMessagesTabCounts.totalMessages}} <span translate>Messages Received by</span> {{vm.associateMessagesTabCounts.totalEmployees}} <span translate>Associates</span> </div>
            
            <div class="sent-messages margin-top-20 hidden-xs" ng-if="!vm.toggleBtnFlag">
                <div class="title">
                    <div class="pull-left padding-left-15 head-sent" translate>Messages Sent to the Staff</div>


                    <div class="pull-right col-md-3">
                        <select name="jd-type-select" id="jd-type-select" class="form-control"
                                ng-model="vm.selectedDepartment.DepartmentId"
                                ng-options="dept.DepartmentId*1 as dept.Name for dept in vm.departments"
                                ng-change="vm.getMessagesReset()">
                            <option value="" translate>All Departments</option>
                        </select>
                    </div>
                    <div class="pull-right head" translate>FILTER BY</div>

                    <div class="clearfix"></div>
                </div>

                <div class="heading hidden-xs hidden-sm">
                    <div class="col-md-2" translate>FROM</div>
                    <div class="col-md-3" translate>SENT TO</div>
                    <div class="col-md-3" translate>MESSAGE</div>
                    <div class="col-md-2" translate>WHEN</div>
                    <div class="col-md-1" >{{'OPENED' | translate}}</div>
                    <div class="col-md-1" translate>STATS</div>
                    <div class="clearfix"></div>
                </div>
                <div class="text-center hidden-sm" ng-if="vm.count == 0" translate>No Messages to show</div>
                <div class="details hidden-xs hidden-sm" ng-repeat="message in vm.staffMessages | filter: { Details : search}">
                    <div class="col-md-2 truncate dept center-align no-padding-right">
                        <img class="border-color-{{message.LabelColor}}" ng-src="{{message.ProfileImage}}" alt="{{message.Department.Name}}">
                        <span class="label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                    </div>
                    <div class="col-md-3 truncate center-align">
                        <span class="text-style">{{message.To}}</span>
                    </div>
                    <div class="col-md-3 truncate center-align">
                        <span class="text-style">{{message.Title || (message.Details | htmlToPlaintext)}}</span>

                    </div>
                    <div class="col-md-2 center-align">
                        <i class="text-muted">{{message.When }}</i>
                    </div>
                    <div class="col-md-1 center-align">
                        <span class="opened" ng-class="message.OpenedPercentage < 70 ? 'text-danger' : 'text-primary'">
                        {{message.Opened }} {{'of' | translate}} {{message.TotalRecipients}}</span>
                    </div>
                    <div class="col-md-1 center-align clickable" ng-click="vm.loadStatsForMessage(message)">
                        <i class="fa fa-dpt-finance"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

            <div class="sent-messages margin-top-20 hidden-xs" ng-if="vm.toggleBtnFlag">
                <div class="title">
                    <div class="pull-left padding-left-15 head-sent" translate>Messages Received By Associates</div>


                    <div class="pull-right col-md-3">
                        <select name="jd-type-select" id="jd-type-select" class="form-control"
                                ng-model="vm.selectedJobId"
                                ng-options="job.JobId*1 as job.Name for job in vm.jobs"
                                ng-change="vm.getMessagesReset()">
                            <option value="" translate>All Positions</option>
                        </select>
                    </div>
                    <div class="pull-right head" translate>FILTER BY</div>

                    <div class="clearfix"></div>
                </div>

                <div class="heading hidden-xs hidden-sm">
                    <div class="col-md-6" translate>ASSOCIATE</div>
                    <div class="col-md-3 text-center" translate>TOTAL MESSAGES</div>
                    <div class="col-md-2 text-center" translate>OPENED</div>
                    <div class="col-md-1 text-center" translate>MESSAGE</div>
                    <div class="clearfix"></div>
                </div>
                <div class="text-center hidden-sm" ng-if="!vm.associateMessagesStats.length" translate>No Messages to show</div>
                <div class="details hidden-xs hidden-sm" ng-repeat="message in vm.associateMessagesStats | filter: { EmployeeName : search}">
                    <div class="col-md-6 truncate dept center-align no-padding-right">
                        <img class="pull-left" ng-src="{{message.ProfileImage}}" alt="{{message.EmployeeName}}">
                        <div class="emp-info">
                            <p class="name">{{message.EmployeeName}}</p>
                            <span class="text-muted">{{message.JobName}}</span><span class="text-muted"><span translate>Hire Date</span>: {{message.HireDate | date : 'MM-dd-yyyy'}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 truncate text-center center-align">
                        <span class="text-style">{{message.TotalMessagesReceived}} <span translate>Messages</span></span>
                    </div>
                    <div class="col-md-2 truncate center-align text-center">
                        <span class="text-style" ng-class="{'text-danger' : message.OpenedMessagePercentage < 70}">{{message.OpenedMessagesCount}} of {{message.TotalMessagesReceived}}</span>

                    </div>
                    <div class="col-md-1 center-align text-center clickable" ng-click="vm.ShowEmployeeMessages(message.EmployeeId, message.EmployeeName)">
                        <i class="fa fa-messaging"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>

        <div class="row mobile-view hidden-md hidden-lg"  ng-if="!vm.toggleBtnFlag">
            <div class="mob-tite-header hidden-sm">
                <div class="col-xs-8 col-sm-8 sent-message-title" translate>
                    Sent Messages
                </div>
                <div class="col-xs-4 col-sm-4">
                    <i class="fa fa-filter2 pull-right filter-icon" data-ng-click="vm.toggleFilter()"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="filter-row padding-top-10 padding-bottom-10" ng-if="vm.showFilter">
                <div class="pull-right col-xs-12">
                    <select name="jd-type-select" id="jd-type-select" class="form-control"
                            ng-model="vm.selectedDepartment.DepartmentId"
                            ng-options="dept.DepartmentId*1 as dept.Name for dept in vm.departments"
                            ng-change="vm.getMessagesReset()">
                        <option value="" translate>All Departments</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="text-center" ng-if="vm.count == 0" translate>No Messages to show</div>
            <div class="mob-details" ng-repeat="message in vm.staffMessages | filter: { Details : search}">
                <div class="col-xs-9 col-sm-9">
                    <span class="pull-left dept-label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                    <span class="padding-left-10 pull-left text-muted date-time">{{message.When }}</span>
                    <div class="pull-left col-xs-12  opened text-capitalize">{{'OPENED' | translate}}:
                        <span class="text-lowercase" ng-class="message.OpenedPercentage < 70 ? 'text-danger' : 'text-primary'">
                        {{message.Opened}} {{'of' | translate}} {{message.TotalRecipients}}</span>
                    </div>
                    <div class="col-xs-10 padding-top-5 truncate message-to padding-left-0"><span translate>To</span>: {{message.To}}</div>
                    <div class="col-xs-12 padding-top-5 truncate message-title">{{message.Title || (message.Details | htmlToPlaintext)}}</div>
                </div>
                <div class="col-xs-3 col-sm-3 padding-left-0">
                    <div class="col-xs-12 col-sm-12 no-padding">
                        <img class="border-color-{{message.LabelColor}} image-style pull-right" ng-src="{{message.ProfileImage}}" alt="{{message.Department.Name}}">
                    </div>
                    <div class="col-xs-12 col-sm-12 no-padding" ng-click="vm.loadStatsForMessage(message)">
                        <i class="fa fa-dpt-finance pull-right finance-icon-style padding-top-15"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

        <div class="row mobile-view hidden-md hidden-lg"  ng-if="vm.toggleBtnFlag">
            <div class="mob-tite-header hidden-sm">
                <div class="col-xs-10 col-sm-10 sent-message-title" translate>
                    Messages Received By Associates
                </div>
                <div class="col-xs-2 col-sm-2">
                    <i class="fa fa-filter2 pull-right filter-icon" data-ng-click="vm.toggleFilter()"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="filter-row padding-top-10 padding-bottom-10" ng-if="vm.showFilter">
                <div class="pull-right col-xs-12">
                    <select name="jd-type-select" id="jd-type-select" class="form-control"
                            ng-model="vm.selectedJobId"
                            ng-options="job.JobId*1 as job.Name for job in vm.jobs"
                            ng-change="vm.getMessagesReset()">
                        <option value="" translate>All Positions</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="text-center" ng-if="!vm.associateMessagesStats.length" translate>No Messages to show</div>
            <div class="mob-details" ng-repeat="message in vm.associateMessagesStats | filter: { EmployeeName : search}">
                <div class="col-xs-9 col-sm-9">
                    <div class="col-xs-12 emp-name">{{message.EmployeeName}}</div>
                    <div class="pull-left text-muted date-time">
                        {{message.JobName}} <span translate>Hire Date</span>: {{message.HireDate | date : 'MM-dd-yyyy'}}
                    </div>
                    <div class="col-xs-12 total-msgs">
                        <span class="text-capitalize">{{'TOTAL MESSAGES' | translate}}</span>
                        : {{message.TotalMessagesReceived}} <span translate>Messages</span>
                    </div>
                    <div class="col-xs-12 opened">
                        <span class="text-capitalize" translate>OPENED</span>:
                        <span class="text-style" ng-class="{'text-danger' : message.OpenedMessagePercentage < 70}">{{message.OpenedMessagesCount}} of {{message.TotalMessagesReceived}}</span>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 padding-left-0">
                    <div class="col-xs-12 col-sm-12 no-padding">
                        <img class="pull-right emp-image" ng-src="{{message.ProfileImage}}" alt="{{message.EmployeeName}}">
                    </div>
                    <div class="col-xs-12 col-sm-12 no-padding" ng-click="vm.ShowEmployeeMessages(message.EmployeeId, message.EmployeeName)">
                        <i class="fa fa-messaging pull-right finance-icon-style padding-top-15 padding-right-10"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>