﻿<div class="employee-msgs-modal">
    <p class="text-right"><i class="fa fa-close clickable" ng-click="vm.close()"></i></p>
    <div class="head">
        <div class="name pull-left">{{vm.employee.name}}'s <span>{{ 'Messages'| translate | lowercase}}</span></div>
        <div class="daterange pull-right">{{vm.dateRange.startDate | date : "MMM' yy"}} - {{vm.dateRange.endDate | date : "MMM' yy"}}</div>
        <div class="clearfix"></div>
    </div>
    <div class="scroll-container" data-infinite-scroll="vm.getEmployeeMessages()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
        <uib-tabset active="vm.activeTab" ng-if="vm.isListView">
            <uib-tab index="0" heading="{{'All Messages' | translate}} ({{vm.messageCountsByStatus.TotalCount}})" ng-click="vm.resetMessages(null, 0)">
                <div class="hidden-xs">
                    <div class="header">
                        <div class="col-md-4 col-sm-4 col-xs-4" translate>FROM</div>
                        <div class="col-md-4  col-sm-4 col-xs-4" translate>MESSAGE</div>
                        <div class="col-md-4  col-sm-4 col-xs-4" translate>WHEN</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="messages" ng-repeat="message in vm.associateMessages" ng-click="vm.showMessageDetails(message)">
                        <div class="col-md-4 col-sm-4 col-xs-4 truncate dept center-align no-padding-right">
                            <img class="border-color-{{message.LabelColor}}" ng-src="{{message.ProfileImage}}" alt="{{message.DepartmentName}}">
                            <span class="label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">{{message.MessageTitle}}</div>
                        <div class="col-md-4 col-sm-4 col-xs-4">{{message.When}}</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="visible-xs">
                    <div class="mob-messages" ng-repeat="message in vm.associateMessages" ng-click="vm.showMessageDetails(message)">
                        <div class="col-xs-9 col-sm-9">
                            <span class="pull-left dept-label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                            <span class="padding-left-10 pull-left text-muted date-time">{{message.When }}</span>
                            <div class="col-xs-12 padding-top-5 truncate message-title">{{message.MessageTitle}}</div>
                        </div>
                        <div class="col-xs-3 col-sm-3 padding-left-0">
                            <div class="col-xs-12 col-sm-12 no-padding">
                                <img class="border-color-{{message.LabelColor}} image-style pull-right" ng-src="{{message.ProfileImage}}" alt="{{message.DepartmentName}}">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="{{'Opened' | translate}} ({{vm.messageCountsByStatus.TotalCount - vm.messageCountsByStatus.UnOpenedCount}})" ng-click="vm.resetMessages(false, 1)">
                <div class="text-center text-muted padding-20" ng-if="!vm.associateMessages.length" translate>NO OPENED MESSAGES</div>
                <div class="hidden-xs">
                    <div class="header" ng-if="vm.associateMessages.length">
                        <div class="col-md-4 col-sm-4 col-xs-4" translate>FROM</div>
                        <div class="col-md-4 col-sm-4 col-xs-4" translate>MESSAGE</div>
                        <div class="col-md-4 col-sm-4 col-xs-4" translate>WHEN</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="messages" ng-repeat="message in vm.associateMessages" ng-click="vm.showMessageDetails(message)">
                        <div class="col-md-4 col-sm-4 col-xs-4 truncate dept center-align no-padding-right">
                            <img class="border-color-{{message.LabelColor}}" ng-src="{{message.ProfileImage}}" alt="{{message.DepartmentName}}">
                            <span class="label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">{{message.MessageTitle}}</div>
                        <div class="col-md-4 col-sm-4 col-xs-4">{{message.When}}</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="visible-xs">
                    <div class="mob-messages" ng-repeat="message in vm.associateMessages" ng-click="vm.showMessageDetails(message)">
                        <div class="col-xs-9 col-sm-9">
                            <span class="pull-left dept-label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                            <span class="padding-left-10 pull-left text-muted date-time">{{message.When }}</span>
                            <div class="col-xs-12 padding-top-5 truncate message-title">{{message.MessageTitle}}</div>
                        </div>
                        <div class="col-xs-3 col-sm-3 padding-left-0">
                            <div class="col-xs-12 col-sm-12 no-padding">
                                <img class="border-color-{{message.LabelColor}} image-style pull-right" ng-src="{{message.ProfileImage}}" alt="{{message.DepartmentName}}">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="{{'Not Opened' | translate}} ({{vm.messageCountsByStatus.UnOpenedCount}})" ng-click="vm.resetMessages(true, 2)">
                <div class="text-center text-muted padding-20" ng-if="!vm.associateMessages.length" translate>NO UNOPENED MESSAGES</div>
                <div class="hidden-xs">
                    <div class="header" ng-if="vm.associateMessages.length">
                        <div class="col-md-4 col-sm-4 col-xs-4" translate>FROM</div>
                        <div class="col-md-4 col-sm-4 col-xs-4" translate>MESSAGE</div>
                        <div class="col-md-4 col-sm-4 col-xs-4" translate>WHEN</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="messages" ng-repeat="message in vm.associateMessages" ng-click="vm.showMessageDetails(message)">
                        <div class="col-md-4 col-sm-4 col-xs-4 truncate dept center-align no-padding-right">
                            <img class="border-color-{{message.LabelColor}}" ng-src="{{message.ProfileImage}}" alt="{{message.DepartmentName}}">
                            <span class="label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">{{message.MessageTitle}}</div>
                        <div class="col-md-4 col-sm-4 col-xs-4">{{message.When}}</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="visible-xs">
                    <div class="mob-messages" ng-repeat="message in vm.associateMessages" ng-click="vm.showMessageDetails(message)">
                        <div class="col-xs-9 col-sm-9">
                            <span class="pull-left dept-label bg-{{message.LabelColor}}">{{message.DepartmentName}}</span>
                            <span class="padding-left-10 pull-left text-muted date-time">{{message.When }}</span>
                            <div class="col-xs-12 padding-top-5 truncate message-title">{{message.MessageTitle}}</div>
                        </div>
                        <div class="col-xs-3 col-sm-3 padding-left-0">
                            <div class="col-xs-12 col-sm-12 no-padding">
                                <img class="border-color-{{message.LabelColor}} image-style pull-right" ng-src="{{message.ProfileImage}}" alt="{{message.DepartmentName}}">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div ng-if="!vm.isListView" class="message-details">
        <div ng-click="vm.isListView = true" class="clickable"><i class="fa fa-angle-double-left"></i> <span class="back">Back To Messages</span></div>
        <div class="padding-vertical-10"><div class="col-md-2 col-sm-2 col-xs-2 sub-head"><span translate>FROM</span>:</div><div class="col-md-8 col-sm-8 col-xs-8 value">{{vm.selectedMessage.DepartmentName}}</div></div><div class="clearfix"></div>
        <div class="padding-vertical-10"><div class="col-md-2 col-sm-2 col-xs-2 sub-head"><span translate>TO</span>:</div>
        <div class="col-md-8 col-sm-8 col-xs-7 value" ng-class="{'truncate' : !showAllPositions}">
            <span ng-repeat="sentto in vm.selectedMessage.SentTo">{{sentto.Name}}{{$last ? '' : ', '}}
            </span>
        </div>
        <div class="show-all" ng-class="{'hidden': vm.selectedMessage.SentToNameLength <= 40}" ng-click="showAllPositions = !showAllPositions">
            {{ showAllPositions ? 'SHOWLESS' : 'SHOW_ALL' | translate }}
        </div>
        </div><div class="clearfix"></div>
        <div class="padding-vertical-10"><div class="col-md-2 col-sm-2 col-xs-2 sub-head"><span translate>WHEN</span>:</div><div class="col-md-8 col-sm-8 col-xs-8 value">{{vm.selectedMessage.When}}</div></div><div class="clearfix"></div>
        <div class="message">
            <div class="padding-bottom-10"><span class="sub-head"><span translate>MESSAGE</span>:</span><span class="title">{{vm.selectedMessage.MessageTitle}}</span></div>
            <div ng-bind-html="vm.selectedMessage.Message | trustAsHtml"></div>
        </div>
    </div>
</div>
