﻿    <div class="send-message-modal-header">
        <div class="close-btn" ng-click="vm.close()">
            <i class="fa-times"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="send-message-modal-body">
        <i class="fa fa-message text-primary"></i>
        <p class="text-primary">Reuse Message</p>

        <p class="question-reuse">Would you like to reuse the following message?</p>
        
        <div class="message-title truncate">{{vm.message.Title ? vm.message.Title : vm.message.Details}}</div>
    </div>
    <div class="send-message-modal-footer" >
        <div class="btns">
            <a href="javascript:void(0);" ng-click="vm.close()" class="btn btn-default action-btns cancel  margin-right-5">CANCEL</a>
            <open-message-builder message-id="{{vm.message.Id}}" is-reuse="true" class="btn btn-default action-btns bg-success" ng-click="vm.close()">OKAY</open-message-builder>
        </div>
    </div>
