﻿@{
    ViewBag.Title = "Admin";
}

@section scripts {
    @Scripts.Render("~/Content/js/Configs/Admin/ChaiTea.Admin.TenantManagement.Configs.Index.js")
    @Scripts.Render("~/scripts/chaitea-admin")
    <script type="text/ng-template" id="addToGlobalProgramModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{ ::vm.title }}
            </h3>
        </div>
        <div class="modal-body">
            <form name="addEditForm" role="form" class="css-form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-clean well-sqaured">
                            <h4 class="padding-left">General Info</h4>
                            <div class="form-group padding">
                                <div class="alert alert-info" data-ng-if="vm.obj.Name != 'Client' && vm.title == 'Add New'" role="alert">Use ',' to separate mutiple entries</div>
                                <label for="clientName" class="control-label">Name</label>
                                <input type="text" id="clientName" class="form-control" data-ng-if="vm.title != 'Add New'" data-ng-model="vm.entity.Name" data-ng-required="true" />
                                <label for="extProgId" class="control-label">External Program Id</label>
                                <input type="number" id="extProgId" class="form-control" data-ng-model="vm.programLookup.ExternalProgramId" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="vm.save()" data-ng-disabled="this.addEditForm.$invalid">Save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="addToEntitySiteModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{ ::vm.title }}
            </h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissible" role="alert" data-ng-show="vm.message">
                {{ vm.message }}
            </div>
            <form name="addEditForm" role="form" class="css-form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-clean well-sqaured">
                            <h4 class="padding-left">General Info</h4>
                            <div class="form-group padding">
                                <label for="clientName" class="control-label">Name</label>
                                <input type="text" id="clientName" class="form-control" data-ng-model="vm.entity.Name" data-ng-required="true" />
                                <label for="clientName" class="control-label">External Site Id</label>
                                <input type="number" id="extsiteid" class="form-control" data-ng-model="vm.externalSiteId" data-ng-disabled="vm.hasExternalSiteId" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="vm.save()" data-ng-disabled="this.addEditForm.$invalid">Save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="addToEntityModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{ ::vm.title }}
            </h3>
        </div>
        <div class="modal-body">
            <form name="addEditForm" role="form" class="css-form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-clean well-sqaured">
                            <h4 class="padding-left">General Info</h4>
                            <div class="form-group padding">
                                <div class="alert alert-info" data-ng-if="vm.obj.Name != 'Client' && vm.title == 'Add New'" role="alert">Use ',' to separate mutiple entries</div>
                                <label for="clientName" class="control-label">Name</label>
                                <input type="text" id="clientName" class="form-control" data-ng-if="vm.title == 'Add New'" data-ng-model="vm.entityList" ng-list="," data-ng-required="true" />
                                <input type="text" id="clientName" class="form-control" data-ng-if="vm.title != 'Add New'" data-ng-model="vm.entity.Name" data-ng-required="true" />
                            </div>
                        </div>

                    </div>
                </div>


            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="vm.save()" data-ng-disabled="this.addEditForm.$invalid">Save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="manageUserModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{ ::vm.title }}
            </h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissible" role="alert" data-ng-show="vm.message">
                {{ vm.message }}
            </div>
            <form name="editUserForm" role="form" class="css-form" novalidate>

                <div class="well well-clean overflow-visible no-padding-top">
                    <div class="row">
                        <h4 class="col-md-12">User Info</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="control-label">User Name</label>
                            <input type="text" class="form-control" data-ng-model="vm.User.UserName" data-ng-required="true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="control-label">Email</label>
                            <input type="email" class="form-control" data-ng-model="vm.User.Email" data-ng-required="true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">First Name</label>
                                <input type="text" class="form-control" data-ng-model="vm.User.FirstName" data-ng-required="true" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Last Name</label>
                                <input type="text" class="form-control" data-ng-model="vm.User.LastName" data-ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Password</label>

                                <input name="password" type="password" class="form-control" complex-password="vm.User.Password" aria-describedby="passwordHelpBlock"
                                       data-ng-model="vm.User.Password" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Re-type Password</label>
                                <input type="password" class="form-control"
                                       data-ng-model="vm.User.Password1"
                                       ui-validate="'$value==vm.User.Password'"
                                       ui-validate-watch="'vm.User.Password'" />
                            </div>
                        </div>
                    </div>
                    <span id="passwordHelpBlock" class="help-block">Passwords must have a minimum 6 characters including an uppercase letter, a number, and a special character.</span>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="languageId" class="control-label">Language</label>
                            <select id="languageId"
                                    data-ng-required="true"
                                    name="languageId"
                                    data-ng-model="vm.User.ActiveLanguageId"
                                    data-ng-options="language.ID*1 as language.Name for language in vm.languages"
                                    class="form-control"
                                    data-style="btn-default-outline"
                                    data-size="block"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="control-label">Clients</label>
                                <multiselect name="clients[]" class="input-xlarge" multiple="true"
                                             options="r.Id*1 as r.Name for r in vm.Clients"
                                             template-url="multiselect.tmpl.html"
                                             data-ng-model="vm.PluckedSelectedClientIds"></multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.UserClients.length">
                        <h4 class="no-margin-bottom col-md-12">Roles per client</h4>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <multiselect name="selectedClients[]"
                                             class="input-xlarge"
                                             multiple="true"
                                             options="r.Id*1 as r.Name for r in vm.UserClients"
                                             template-url="multiselect.tmpl.html"
                                             data-ng-model="vm.local.SelectedClient">
                                </multiselect>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="vm.local.SelectedClient.length > 0">
                            <div class="form-group" ng-if="vm.Roles">
                                <h4 class="control-label">Roles</h4>
                                <div class="col-md-6" data-ng-repeat="role in vm.Roles">
                                    <input id="roleCheckbox{{role.Id}}" name="roles[]" type="checkbox" value="{{role.Id}}"
                                                   data-ng-click="vm.toggleRole(role)" data-ng-checked="vm.isRoleSelected(role.Id)">
                                        <label for="roleCheckbox{{role.Id}}">
                                            {{ ::role.Name }}
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="vm.save()" data-ng-disabled="this.editUserForm.$invalid">Save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="multiselect.tmpl.html">
        <div class="btn-group btn-block">
            <button class="col-sm-12 col-md-12 btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width: 100%;">
                <div class="pull-left">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
            </button>

            <ul class="dropdown-menu col-sm-12 col-md-12" style="width: 100%; max-height: 130px; overflow-y: scroll; overflow-x: hidden;">
                <li style="width: 100%;">
                    <input class="form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
                </li>
                <li style="width: 100%;">
                    <button class="btn-link btn-small pull-right" ng-click="uncheckAll()"><i class="glyphicon glyphicon-remove"></i> Uncheck all</button>
                    <button class="btn-link btn-small pull-right" ng-click="checkAll()"><i class="glyphicon glyphicon-ok"></i> Check all</button>

                </li>
                <li ng-repeat="i in items | filter:searchText">
                    <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                        <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
                    </a>
                </li>
            </ul>
        </div>
    </script>

    <script id="admin.tenantmanagement.main.tmpl.html" type="text/ng-template">
        <div class="row" data-ng-init="vm.initialize()">
            <div class="col-sm-12 tabs-wrap">
                <ul class="nav nav-pills pull-left top-tabs">
                    <li><a class="highlight" href="@Url.Content("~/Admin/TenantManagement")">Management</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 page-content">
                <div class="panel panel-default">
                    <h3 class="panel-header-txt">
                        <strong>Tenant</strong> Management
                    </h3>
                    <div class="form-wrap">
                        <uib-tabset>
                            <uib-tab ng-repeat="t in vm.tabs" heading="{{t.heading}}" select="vm.navigateTo(t.route)"></uib-tab>
                        </uib-tabset>
                        <div ui-view></div>
                    </div>
                </div>

            </div>
        </div>
    </script>



    <script type="text/ng-template" id="addToKVPEntityModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{ ::vm.title }}
            </h3>
        </div>
        <div class="modal-body">
            <form name="addEditForm" role="form" class="css-form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-clean well-sqaured">
                            <h4 class="padding-left">General Info</h4>
                            <div class="form-group padding">
                                <div class="alert alert-info" data-ng-if="vm.obj.Name != 'Client' && vm.title == 'Add New'" role="alert">Use ',' to separate mutiple entries</div>
                                <label for="clientName" class="control-label">Name</label>
                                <input type="text" id="clientName" class="form-control" data-ng-if="vm.title == 'Add New'" data-ng-model="vm.entityList" ng-list="," data-ng-required="true" />
                                <input type="text" id="clientName" class="form-control" data-ng-if="vm.title != 'Add New'" data-ng-model="vm.entity.Value" data-ng-required="true" />
                            </div>
                        </div>

                    </div>
                </div>


            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="vm.save()" data-ng-disabled="this.addEditForm.$invalid">Save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
}

<div class="container-fluid">
    <div ui-view></div>
</div>