﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        {{ vm.modalTitle }}
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>
   
</div>
<div class="sep-boxscore-modal-body">
    <div hidden-customers data-ng-if="vm.isClosed" class="disabled-entry-bar padding text-center alert alert-warning">
        Entry is disabled
    </div>
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span> | <span class="start-date">Hired: {{vm.employee.HireDate | date:'MM/dd/yyyy'}}</span>
            </div>
            <div class="pull-right" ng-if="!vm.isFinalized && !vm.isClosed && vm.employee.EmployeeKpis.length != 0 && vm.modalTitle != 'QUALITY' && vm.modalTitle != 'COMMENTS' && !vm.isReportCard">
                <a class="btn btn-success btn-default add-button" href="javascript:void(0);" ng-click="vm.loadAddPopUps()">
                    <i class="fa fa-plus pull-left plus-button create-icon-align"></i>
                    <span class="hidden-xs text-center add">
                        ADD
                    </span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        
    </div>
    <div cg-busy="vm.myPromise" class="busy">
        <div ng-if="vm.modalTitle == 'COMMENTS'" class="padding-bottom-20">
            <div class="col-md-12 comment-section">
                <textarea class="input basic-input" name="overallComment" id="overallComment" data-ng-model="vm.kpiComment.Comment"
                          cols="30" rows="40" placeholder="Overall Comment." ng-readonly="vm.isFinalized || vm.isClosed || vm.isReportCard">
                    {{vm.kpiComment.Comment}}
                </textarea>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box-score-modal-content">
            <div ng-if="vm.modalTitle != 'COMMENTS' && vm.itemList.length > 0" class="row" ng-repeat="item in vm.itemList">
                <div class="col-md-12">
                    <div class="panel panel-clean">
                        <div class="panel-heading">
                            <p>
                                <strong class="pull-left">
                                    {{item.topLeftText}}
                                </strong>

                                <i class="fa fa-trash-o pull-right margin-left-16" ng-if="!vm.isFinalized && item.isDelete && (vm.isClosed == false) && !vm.isReportCard && (vm.modalTitle != 'COMPLAINTS')" ng-click="vm.delete(item.id)"></i>

                                <strong class="pull-right {{item.topRightClass}}" ng-class="{'text-primary top-right-style': vm.modalTitle != 'QUALITY'}">
                                    {{item.topRightText | translate}}
                                </strong>
                                <div class="clearfix"></div>
                            </p>
                            <hr />
                        </div>
                        <div class="panel-body" ng-if="vm.modalTitle == 'QUALITY'">
                            <div ng-repeat="auditScore in vm.employeeAuditScores">
                                <p class="col-md-12 col-xs-12 quality-scores">
                                    <span class="pull-left area-name">{{auditScore.AreaName}}</span>
                                    <span class="pull-right score" ng-class="{'text-danger': auditScore.AverageScoringProfileScore < vm.qualityScores.Goal}">
                                        {{auditScore.AverageScoringProfileScore | number : 2}}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer padding-right-20" ng-if="vm.modalTitle == 'QUALITY'">
                            <p class="col-md-12 quality-scores">
                                <span class="pull-left area-name total">Total Average</span>
                                <span class="pull-right score" ng-class="{'text-danger' : vm.qualityScores.AverageScore < vm.qualityScores.Goal, 'text-success': vm.qualityScores.AverageScore >= vm.qualityScores.Goal}">
                                    {{vm.qualityScores.AverageScore | number : 2}}
                                </span>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body" ng-if="vm.modalTitle != 'QUALITY'">
                            <p class="margin-bottom-10 header-style">
                                <em>{{item.bodyHeader}}</em>
                            </p>
                            <p class="description">
                                <div compile="item.bodyText"></div>
                            </p>
                            <div class="subBody col-md-11 padding-left-0">
                                <span class="reason-style " ng-repeat="subText in item.subBodytext">{{subText | translate}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="panel-footer" ng-if="vm.modalTitle != 'QUALITY'">
                            <div class="pull-left">
                                <div class="label label-default reason-style" ng-if="item.leftFooter">
                                    {{item.leftFooter}}
                                </div>
                                <div ng-if="vm.isManager && vm.modalTitle != 'PROFESSIONALISM'">
                                    <label ng-if="!vm.isFinalized && (!vm.isReportCard || vm.isFinalized)">
                                        <input name="exempt" type="checkbox" value="" ng-disabled="vm.isKpiExempted" data-ng-model="item.isExempt">
                                        <span class="exempt-checkbox-title-align">Exempt from Scorecard</span>
                                    </label>
                                    <label ng-if="(vm.isFinalized || vm.isReportCard || vm.isClosed) && item.isExempt">
                                        Exempted from Scorecard
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right" ng-if="item.viewButtonLink">
                                <a class="btn btn-default edit-view-btn" href="{{item.viewButtonLink}}">View</a>
                            </div>
                            <div class="pull-right" ng-if="!vm.isFinalized && item.editButtonLink">
                                <a class="btn btn-default edit-view-btn margin-right-5" href="{{item.editButtonLink}}">Edit</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="text-center text-warning margin-bottom-10 margin-top-10" ng-if="item.isHistorical">
                            HISTORICAL RECORD
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.modalTitle != 'COMMENTS' && vm.itemList.length == 0 && vm.loaded">
            <div class="col-md-12">
                <div class="row box-score-modal-empty">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="icon-wrap"><i class="fa-fail"></i></div>
                        <p>There are no occurences at this time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sep-boxscore-modal-footer">
    
    <div class="col-md-12 padding-right-20">
        <!--<div class="pull-left padding-top-5" ng-if="vm.isManager">
            <label ng-if="!vm.isFinalized && vm.itemList.length != 0 && vm.modalTitle != 'COMMENTS' && (!vm.isReportCard || vm.isFinalized)">
                <input name="exempt" type="checkbox" value="" data-ng-model="vm.isKpiExempted" ng-change="vm.setIndividualKpiExempts()">
                <span class="exempt-checkbox-title-align">Exempt this KPI from Scorecard</span>
            </label>
            <label ng-if="(vm.isFinalized || vm.isReportCard || vm.isClosed) && vm.isKpiExempted">
                This KPI is exempted from Scorecard
            </label>
        </div>-->
        <button class="pull-right btn btn-done margin-top-10" ng-click="vm.save()" ng-if="vm.isReportCard || vm.isClosed || (!vm.isReportCard && vm.modalTitle != 'COMMENTS')">DONE</button>
        <button ng-if="!vm.isClosed && vm.modalTitle == 'COMMENTS' && !vm.isReportCard" class="pull-left btn btn-success" ng-click="vm.saveComment()">SAVE COMMENT</button>
    </div>
    <div class="clearfix"></div>
</div>

