﻿



<div class="sbm-modal-content">
    <div class="head">
        <h4>
            {{ vm.modalTitle }}
        </h4>
        <div class="close-btn" ng-click="vm.close($event)">
            <i class="fa-close"></i>
        </div>
    </div>
    <div class="row sbm-modal-body">
        <div class="row lightbox-content modal-view" >
            <div class="compliance-modal">

                <div class="compliance row">
                    <div class="table-heading padding-10-25-10-10">
                        <div class="pull-left first-row">
                            <p class="pull-left">NAME</p>
                        </div>
                        <div class="pull-right">
                            <div class="head-due-date">
                                <p>ACTION</p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div><!-- table-head -->

                    <div class="txt-center" data-ng-if="!vm.selectedEmployee.EmployeeCourses.length">No courses to display</div>
                    <div class="itemrow entire-row emp-row {{ ($index % 2 ? 'row-even' : 'row-odd' ) }}" ng-repeat="course in vm.selectedEmployee.EmployeeCourses">

                        <div class="pull-left first-row padding-left-10">
                            <p class="text-bold">{{course.Course.Name}}</p>
                            <p class="desc">{{course.Course.Overview}}</p>
                        </div>

                        <div class="pull-right padding-right-5">
                            <button class="btn btn-block btn-md btn-primary" ng-disabled="course.IsCompleted" ng-click="vm.completeCourse(course)">
                                <i class="fa fa-check hidden-lg hidden-md hidden-sm"></i>
                                <span class="hidden-xs">{{ course.IsCompleted ? 'Completed' : 'Complete' }}</span>
                            </button>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row sbm-modal-footer" ng-if="vm.modalFooterTemplate">
        <div class="btns">
            <a ng-click="vm.close($event)" class="lightbox-btn close-light pull-right margin-right pri-color btn btn-primary btn-lg">Close</a>
        </div>
    </div>
</div>