﻿<div id="date-picker-panel">
    <div class="row">
        <div id="month-range" class="col-md-4 col-sm-12">
            <div class="btn-group">
                <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==1}" data-ng-click="vm.onSwitchMonthsRange(1, $event)">1 Mon </button>
                <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==3}" data-ng-click="vm.onSwitchMonthsRange(3, $event)">3 Mons </button>
                <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==6}" data-ng-click="vm.onSwitchMonthsRange(6, $event)">6 Mons </button>
                <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==12}" data-ng-click="vm.onSwitchMonthsRange(12, $event)">1 Yr </button>
            </div>
        </div>
        <div id="or" class="col-sm-12 col-md-12 hidden-lg hidden-md">-or-</div>
        <div id="date-range" class="col-md-8 col-sm-12" style="text-align:right;">

            <div class="form-inline">
                <div class="form-group">

                    <div class="input-group date">
                        <input type="text" class="form-control" placeholder="From" datepicker-popup="MM/dd/yyyy"
                               data-ng-model="vm.dateRange.startDate" is-open="vm.datepickers.startDate" close-text="Close"
                               datepicker-append-to-body="true"
                               min-date="vm.minDate"
                               max-date="vm.dateRange.endDate" data-ng-change="vm.startDateOnChange()"
                               data-ng-model-options="{ updateOn: 'blur'}" />
                        <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'startDate')">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    @*<sbm-ui-date-picker id="startDate" placeholder="From" ng-model="vm.dateRange.startDate" ng-required="true" max-date="vm.dateRange.startDate" min-date="vm.minDate" ng-change="vm.startDateOnChange()" datepicker-append-to-body="true" />*@

                    <div class="input-group date">
                        <input type="text" class="form-control" placeholder="To" datepicker-popup="MM/dd/yyyy"
                               data-ng-model="vm.dateRange.endDate" is-open="vm.datepickers.endDate" close-text="Close" datepicker-append-to-body="true"
                               max-date="vm.maxDate"
                               ng-disabled="!vm.dateRange.startDate" min-date="vm.dateRange.startDate" />
                        <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'endDate')">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                </div>
                <input type="button" value="Submit" class="btn btn-orange" data-ng-click="vm.onSwitchDateRange()" ng-disabled="!vm.dateRange.startDate && !vm.dateRange.endDate" />
            </div>

        </div>
    </div>
</div>
