﻿@model bool
<div id="page-header-panel" 
     data-ng-controller="HeaderPanelCtrl as vm">

    @Html.Partial("~/Areas/Quality/Views/Shared/_NavBar.cshtml")

    <div>
        <div style="margin-top:0;padding:18px 20px;overflow:hidden" data-ng-click="vm.onDateChange()" data-ng-init="vm.initialize()">
            <div class="pull-left" id="title-box-panel">
                <div class="page-title">
                    <span class="@(ViewBag.Icon != null ? ViewBag.Icon : "fa-quality")  sidenav-icons" style="color:#414141"></span>
                    @ViewBag.Title

                    @if (@ViewBag.IsNewComplaintBtn != null && @ViewBag.IsNewComplaintBtn == true)
                    {
                        <span style="color:#f38b11; font-size: 20px; cursor: pointer;" data-ng-click="vm.addNewComplaint()">
                            <a href="javascript:void(0);" class="edit btn btn-orange btn-circle">
                                <i class="fa fa-plus fa-1"></i>

                            </a>
                            New Complaint
                        </span>
                    }


                </div>
            </div>
            <div class="pull-right">
                @if (!Model)
                {
                    <div id="date-picker-btn" style="margin-top:4px;">
                        <span class="date">{{ vm.dateRange.startDate | date: 'MMM y'}}</span> -
                        <span class="date">{{ vm.dateRange.endDate | date: 'MMM y' }}</span> <span class="fa-calendar date"></span>
                    </div>
                }

            </div>
        </div>

        <!-- Range Slider Goes in here==Jan 2014================================================================================================================ -->
        @if (!Model)
        {
            <div style="background-color: white; display: none; margin: 0;padding:30px 10px;" id="date-picker-panel">

                <!-- ION Range Slider Starts here -->

                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="btn">
                            <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==1}" data-ng-click="vm.onSwitchMonthsRange(1, $event)">1 Mon </button>
                            <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==3}" data-ng-click="vm.onSwitchMonthsRange(3, $event)">3 Mons </button>
                            <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==6}" data-ng-click="vm.onSwitchMonthsRange(6, $event)">6 Mons </button>
                            <button class="btn btn-default" type="button" data-ng-class="{'btn-orange' : vm.monthActive==12}" data-ng-click="vm.onSwitchMonthsRange(12, $event)">1 Yr </button>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="input-group date" style="padding:8px 10px;">
                            <input type="text" class="form-control" placeholder="From" uib-datepicker-popup="MM/dd/yyyy"
                                   data-ng-model="vm.dateRange.startDate" is-open="vm.datepickers.startDate" close-text="Close"
                                   datepicker-append-to-body="true"
                                   min-date="vm.minDate"
                                   max-date="vm.dateRange.endDate" data-ng-change="vm.startDateOnChange()"
                                   data-ng-model-options="{ updateOn: 'blur'}" />
                            <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'startDate')">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="input-group date" style="padding:8px 10px;">
                            <input type="text" class="form-control" placeholder="To" uib-datepicker-popup="MM/dd/yyyy"
                                   data-ng-model="vm.dateRange.endDate" is-open="vm.datepickers.endDate" close-text="Close" datepicker-append-to-body="true"
                                   max-date="vm.maxDate"
                                   ng-disabled="!vm.dateRange.startDate" min-date="vm.dateRange.startDate" />
                            <span class="input-group-addon" data-ng-click="vm.openDatePicker($event, 'endDate')">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="btn">
                            <input type="button" value="Submit" class="btn btn-orange" data-ng-click="vm.onSwitchDateRange()" ng-disabled="!vm.dateRange.startDate && !vm.dateRange.endDate" />
                        </div>
                    </div>
                </div>

            </div>
        }

    </div>
</div>
