﻿<link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="~/Content/css/Vendor/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/Vendor/flexslider.css">
<link rel="stylesheet" href="~/Content/css/Misc/customer-survey-for-customer.css">