﻿<div class="dashboard">
    <div class="configuration">
        <div class="close" ng-click="vm.$scope.$close()">
            <i class="fa-close text-muted"></i>
        </div>
        <div class="col-xs-12 margin-left-10">
            <p class="title pop-up">{{'CUSTOMIZE_DASHBOARD' | translate}}</p>
            <p class="sub-title">{{'SELECT_SUBTITLE' | translate}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="row padding-top-20" ng-repeat="section in vm.staticDashboardTileInfo track by $index" ng-init="sectionIndex = $index"
             ng-drop="true" ng-drop-success="vm.onDropCompleteOptionSection(sectionIndex, $data)" ng-mousedown="vm.ondragStartOptionSection(sectionIndex, section)">
            <div class="panel panel-default margin-left-40 margin-right-40" ng-drag="true" ng-drag-data="section">
                <div class="panel-heading">
                    <div class="pull-left panel-title margin-right-20">
                        <div class="margin-right-10 pull-left">{{section.displayName}}</div>
                        <div class="pull-right panel-half" ng-if="section.displayName == 'Half'"></div>
                        <div class="pull-right panel-half" ng-if="section.displayName == 'Half'"></div>                        
                        <div class="pull-right panel-full" ng-if="section.displayName == 'Full'"></div>
                    </div>
                    <div class="pull-right clickable" ng-drag-handle ng-click="vm.checkDrag(section)">
                        <i class="fa fa-move text-dark"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 tileItem" ng-repeat="item in section.tiles track by $index"
                         ng-drop="true" ng-drop-success="vm.onDropCompleteOption(sectionIndex, $index, $data)" ng-mousedown="vm.ondragStartOption(item.id, item)">
                        <div class="divItem" ng-class="{'no-border': $last}" ng-drag="true" ng-drag-data="item">
                            <div class="pull-left clickable" ng-class="{'visible' : item.checked, 'not-visible' : !item.checked, 'not-editable' : !item.editable} "
                                 ng-click="vm.changeItem(item.id)">
                                <i class="fa fa-check" ng-if="item.checked || !item.editable"></i>
                            </div>
                            <div class="pull-left margin-left-30">
                                {{item.name | translate}}
                            </div>
                            <div class="pull-right clickable" ng-drag-handle ng-click="vm.checkDrag(item)">
                                <i class="fa fa-move" ng-class="item.dragging ? 'text-primary' : 'text-muted'"></i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="btns padding-right-20 padding-left-20 padding-top-20 padding-bottom-20">
            <div class="center hidden-md hidden-lg hidden-sm">                
                <div class="action pull-right save" ng-click="vm.saveItems()">
                    {{'SAVE' | translate}}
                </div>
                <div class="action pull-right cancel" ng-click="vm.$scope.$close()">
                    {{'CANCEL' | translate}}
                </div>
            </div>
            <div class="hidden-xs ">
                <div class="action pull-right save" ng-click="vm.saveItems()">
                    {{'SAVE' | translate}}
                </div>
                <div class="action pull-right cancel" ng-click="vm.$scope.$close()">
                    {{'CANCEL' | translate}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>