﻿<div class="entryview-modal personnel-popup-common">
    <div class="header">
        <i class="pull-left fa fa-{{vm.moduleIcon}} module-icon"></i>
        <a ng-click="vm.close()" class="pull-right fa fa-close padding-right-0"></a>
        <div class="clearfix"></div>
    </div>
    <div class="{{vm.moduleClass}}">
        <p class="question text-center">{{'DELETE_STATIC_CONFIRM' | translate}}?</p>
        <p class="msg text-center padding-top-10">{{'CANNOT_UNDO' | translate}}</p>
    </div>
    <hr />
    <div class="delete-popup-buttons text-center">
        <a class="btn btn-edit text-uppercase padding-10 margin-right-15" ng-click="vm.close()">{{'CANCEL' | translate}}</a>
        <a class="btn btn-edit text-uppercase padding-10 text-danger" ng-click="vm.deleteItem()">{{'DELETE' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
