﻿<div class="modal-body">
    <span class="pull-right visible-xs visible-sm">
        <a class="close"><span class="fa fa-times" ng-click="$close()"></span></a>
    </span>
    <div class="col-md-3 padding-vertical-20">
        <img ng-src="{{$ctrl.person.Photo}}" err-src="{{$ctrl.sitesettings.defaultProfileImage}}" class="img-thumbnail img-circle" />
    </div>
    <div class="col-md-9 padding-vertical-20">
        <h2 class="margin-top-0" ng-class="{'text-center':$ctrl.sitesettings.windowSizes.isPhone}">
            {{$ctrl.person.Name}}
            <span class="pull-right hidden-xs hidden-sm">
                <a class="close"><span class="fa fa-times" ng-click="$close()"></span></a>
            </span>
        </h2>
        <h5 ng-class="{'text-center':$ctrl.sitesettings.windowSizes.isPhone}">{{$ctrl.person.Title}}</h5>
        <p>{{$ctrl.person.Summary}}</p>
    </div>
    <div class="clearfix"></div>
</div>