﻿<div class="entryview-modal personnel-popup-common">
    <div class="header">
        <i class="pull-left fa fa-{{vm.moduleIcon}} module-icon"></i>
        <a ng-click="vm.close()" class="pull-right fa fa-close padding-right-0"></a>
        <div class="clearfix"></div>
    </div>
    <div class="{{vm.moduleClass}} display-style">
        <div class="col-md-4 col-xs-12 col-sm-12 padding-right-0">
            <div ng-include="vm.modalLeftSection"></div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 left-border hidden-xs hidden-sm">
            <div class="col-md-12 padding-left-5 padding-right-5 ">
                <div ng-include="vm.modalRightSection"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    
</div>
