﻿<div class="personnel">
    <div class="box-score-modal">
        <div class="row margin-bottom">
            <div class="col-md-12 padding-top-20 padding-bototm-40 panel-horizontal-20">
                <div class="circle-img pull-left ">
                    <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
                </div>
                <div class="padding-left margin-left">
                    <h4 class="text-primary">{{vm.employee.Name}}</h4>
                    <span class="text-muted">{{vm.employee.JobDescription.Name}}</span> | <span class="start-date">Start Date: {{vm.employee.HireDate | date:'MMM dd, yyyy'}}</span>
                </div>
            </div>
        </div>
        <div cg-busy="vm.myPromise" class="busy">
            <div ng-show="!vm.itemList.length && vm.loaded" class="padding-right">
                <div class="row box-score-modal-empty">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="icon-wrap"><i class="fa-fail"></i></div>
                        <p>There are no occurrences at this time</p>
                    </div>
                </div>
            </div>
            <div class="box-score-modal-content">
                <div class="row box-score-modal-item" ng-repeat="item in vm.itemList">
                    <div class="col-md-12">
                        <div class="panel panel-clean">
                            <div class="panel-heading">
                                <p>
                                    <strong class="pull-left">
                                        {{item.topLeftText}}
                                    </strong>
                                    <strong class="pull-right text-primary top-right-style {{item.topRightClass}}">
                                        {{item.topRightText | translate}}
                                    </strong>
                                    <div class="clearfix"></div>
                                </p>
                            </div>
                            <div class="panel-body">
                                <p class="margin-bottom-10 header-style">
                                    <em>{{item.bodyHeader}}</em>
                                </p>
                                <p class="description">
                                    <div compile="item.bodyText"></div>
                                </p>
                            </div>
                            <div class="panel-footer">
                                <span class="pull-left label label-default reason-style" ng-if="item.leftFooter">
                                    {{item.leftFooter}}
                                </span>
                                <div class="pull-right padding-left" ng-if="item.viewButtonLink">
                                    <a class="btn btn-default edit-view-btn" href="{{item.viewButtonLink}}">View</a>
                                </div>
                                <div class="pull-right" ng-if="item.editButtonLink">
                                    <a class="btn btn-default edit-button" href="{{item.editButtonLink}}">Edit</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="pull-right btn btn-done" ng-click="vm.close()">DONE</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>