﻿<div class="card" ng-class="{'is-complete':item.IsComplete,'is-passed-due':item.isPassedDue}">
    <div class="card-left clickable" ng-click="$ctrl.markTodoComplete()">
        <span class="is-new-indicator" ng-if="item.IsNew && !item.IsComplete"></span>

        <span ng-if="!item.IsComplete && $ctrl.radioModel == $ctrl.toggleType.my" class="fa fa-check22 fa-4x"></span>
        <span ng-if="!item.IsComplete && $ctrl.radioModel == $ctrl.toggleType.team" class="todo-profile-img">
            <img ng-src="{{::item.ProfileImg}}"/>
        </span>
        <span ng-if="item.IsComplete" class="fa fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-success"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="card-right clickable" ng-click="$ctrl.showInnerTodo(item)">
        <div class="card-header">
            <h4 class="sm comment">
                <span>{{item.Comment}}</span>
            </h4>
        </div>
        <div class="card-body">
            <span class="pull-left truncate-to-fit location">{{::item.BuildingName}}, {{::item.FloorName}}</span>
           
            <div class="date-section">
                <small class="text-warning " ng-if="item.LastSeenDate"><i class="fa fa-view padding-right-5"></i></small>
                <small class="text-muted create-time pull-left">{{::item.CreateDate | date: 'h:mm a' : $ctrl.userContext.Timezone.OffsetInHours}}</small>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="card-footer">
            <div class="pull-left dates">
                <em class="text-muted date-style" ng-if="!item.IsComplete" ng-class="{'text-danger':item.isPassedDue}">Due {{::item.DueDate | date: 'MM/dd/yyyy' : $ctrl.userContext.Timezone.OffsetInHours}}</em>
                <em class="text-muted date-style" ng-if="item.IsComplete">Completed on {{::item.UpdateDate | date: 'MM/dd/yyyy' :$ctrl.userContext.Timezone.OffsetInHours}}</em>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

