﻿<div class="todo-list notification-feed-views notification-content" ng-class="{'inner-message': $ctrl.innerTodo}">
    <div class="btn-group padding-top-20" ng-if="!$ctrl.innerTodo && $ctrl.showBtns">
        <label class="btn btn-primary todo-btn" ng-class="{ 'active': $ctrl.activeToggleType == 0 }" ng-click="$ctrl.toggleMineTeam(0)" uncheckable>MY TO-DOS</label>
        <label class="btn btn-primary todo-btn" ng-class="{ 'active': $ctrl.activeToggleType == 1 }" ng-click="$ctrl.toggleMineTeam(1)" uncheckable>TEAM TO-DOS</label>
    </div>
    <div class="scroll-list padding-top-20" ng-if="!$ctrl.innerTodo">
        <div class="list" >
            <div class="text-center fa-spin margin-top-20" ng-show="$ctrl.loadingData">
                <i class="text-muted fa-spinner fa-2x"></i>
            </div>
            <!-- todays -->
            <h3 class="sub-title text-warning margin-top-10" ng-if="$ctrl.categorizedTodos.todays.length">
                DUE TODAY
                <span class="pull-right text-muted clickable" ng-click="$ctrl.refreshTodaysList()">
                    <span class="fa fa-refresh padding-horizontal-10"></span>
                </span>
            </h3>
            <div class="notification-feed-item slide-right" ng-repeat="item in $ctrl.categorizedTodos.todays track by $index">
                <div ng-include="$ctrl.todoItemTemplate"></div>
            </div>
            <p class="text-center">
                <button class="btn btn-link" ng-if="!$ctrl.pagingObjects.allTodaysLoaded && $ctrl.categorizedTodos.todays.length" ng-click="$ctrl.getTodos(false)">LOAD MORE</button>
            </p>

            <!-- upcoming -->
            <div ng-if="$ctrl.categorizedTodos.upcoming.length">
                <h3 class="sub-title text-warning margin-top-20">UPCOMING TO-DOs</h3>
                <div class="notification-feed-item slide-right" ng-repeat="item in $ctrl.categorizedTodos.upcoming track by $index">
                    <div ng-include="$ctrl.todoItemTemplate"></div>
                </div>
                <p class="text-center">
                    <button class="btn btn-link" ng-if="!$ctrl.pagingObjects.allUpcomingLoaded && $ctrl.categorizedTodos.upcoming.length" ng-click="$ctrl.getMoreUpcomingTodos()">LOAD MORE</button>
                </p>
            </div>

            <!--empty todos-->
            <div class="text-center padding margin" ng-if="!$ctrl.categorizedTodos.todays.length && !$ctrl.categorizedTodos.upcoming.length && $ctrl.pagingObjects.isAllLoaded">
                <p class="empty-todo margin-top-20 margin-bottom-10"></p>
                <p class="empty-state-text">
                    <strong>Your list of To-Dos is currently empty</strong>
                </p>
                <p class="empty-state-text padding-top-10">
                    <span ng-if="$ctrl.radioModel == $ctrl.toggleType.my">
                        Great job staying on top of <br />
                        your list! Check back later for <br />
                        new tasks and assignments.
                    </span>
                    <span ng-if="$ctrl.radioModel == $ctrl.toggleType.team">
                        Your team is doing a great job! <br />
                         Check back later for new <br />
                        tasks and assignments.
                    </span>
                </p>
            </div>

            <!-- completed -->
            <p class="view-all-button text-center padding margin" ng-if="!$ctrl.isCompletedTodoListShown && !$ctrl.loadingData">
                <button ng-click="$ctrl.getMoreCompletedTodos()" class="btn btn-link padding-top padding-bottom">SHOW COMPLETED TO-DOs</button>
            </p>
            <div class="margin-bottom-20" ng-if="$ctrl.isCompletedTodoListShown">
                <h3 class="sub-title text-warning margin-vertical-20">COMPLETED TO-DOs  <span ng-click="$ctrl.isCompletedTodoListShown = false" class="btn btn-link btn-xs pull-right">HIDE</span></h3>
                <div class="notification-feed-item slide-right" ng-repeat="item in $ctrl.categorizedTodos.completed track by $index">
                    <div ng-include="$ctrl.todoItemTemplate"></div>
                </div>
                <p class="text-center">
                    <button class="btn btn-link" ng-if="!$ctrl.pagingObjects.allCompletedLoaded" ng-click="$ctrl.getMoreCompletedTodos()">LOAD MORE</button>
                </p>
            </div>
        </div>
    </div>
    <!--INNER MESSAGE-->
    <div ng-include="$ctrl.todoInnerMessageTemplate" ng-if="$ctrl.innerTodo"></div>
</div>