﻿
    <div class="row">
        <div class="col-xs-12">            
                <h4>  
                    <a href="javascript:void(0)" class="back-to-main" ng-click="$ctrl.hideInnerTodo()">
                        <span class="fa fa-chevron-circle-left pull-left"></span>
                        <em class="text-muted">
                           {{'BACK_TO_LIST_TODO' | translate}}   
                        </em>
                    </a>                  
                    <a href="javascript:void(0)" class="back-to-main" ng-click="$ctrl.viewOriginalTodo()" ng-show="$ctrl.innerTodo.SourceLanguageId">
                        <span class="pull-right">
                           <small>                              
                               <u ng-if="!$ctrl.isOriginalText">
                                   {{'VIEW_ORIGINAL' | translate}}                                   
                               </u> 
                               <u ng-if="$ctrl.isOriginalText">
                                   {{'TRANSLATE' | translate}}
                               </u>                            
                           </small>                             
                        </span>
                    </a>                          
                </h4>            
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card inner-message inner-todo">
                <div class="card-header padding-bottom-30">
                    <p>
                        {{$ctrl.innerTodo.Comment}}
                    </p>                   
                </div>
                <div class="card-body text-muted">
                    <p>
                        <span class="fa fa-location fa-lg"></span> {{$ctrl.innerTodo.BuildingName}}, {{$ctrl.innerTodo.FloorName}}
                    </p>
                    <p>
                        <span class="fa fa-add fa-lg"></span> Created {{$ctrl.innerTodo.CreateDate | date:'MMMM dd hh:mm a' : vm.userContext.Timezone.OffsetInHours}}
                    </p>
                    <p>
                        <span class="fa fa-calendar fa-lg"></span> <strong>Due {{$ctrl.innerTodo.DueDate | date:'MMMM dd' : vm.userContext.Timezone.OffsetInHours}}</strong>
                    </p>
                    <p ng-if="$ctrl.innerTodo.LastSeenDate">
                        <span class="fa fa-view fa-lg"></span> Viewed {{$ctrl.innerTodo.LastSeenDate | date:'MMMM dd' : vm.userContext.Timezone.OffsetInHours}}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="pull-left padding-left-10">
                        <img class="img-circle" alt="{{$ctrl.innerTodo.CreateByName}}"
                             ng-src="{{$ctrl.innerTodo._assignedByImagePath}}">
                    </div>
                    <div class="pull-left padding-left-10">
                        <p class="text-muted">
                            Assigned by {{$ctrl.innerTodo.CreateByName}}
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <p ng-if="!$ctrl.innerTodo.IsComplete" class="mark-completed-btn text-center clickable padding-vertical-40" ng-click="$ctrl.markTodoAsCompleted()">
                    <span class="fa fa-check22 fa-4x text-success"></span> <strong class="padding-left-10">MARK AS COMPLETED</strong>
                </p>
                <p ng-if="$ctrl.innerTodo.IsComplete" class="text-center padding-vertical-40">
                    This To-Do was completed <br/> on {{$ctrl.innerTodo.UpdateDate | date:'MM-dd-yyyy hh:mm' : vm.userContext.Timezone.OffsetInHours}}
                </p>
            </div>
        </div>
    </div>
