﻿<div class="padding-left-5 left-section hidden-xs hidden-sm">
    <p class="pop-up-title module-name">{{'ATTENDANCE_DETAILS' | translate}}</p>
    <div class="padding-bottom-20">
        <p class="text-uppercase title">{{'EMPLOYEE' | translate}}:</p>
            <div class="pull-left assigned-employee-card">
                <img class="pull-left" ng-if="vm.attendance.ProfileImage" ng-cloak ng-src="{{vm.attendance.ProfileImage}}" />
                <img class="pull-left" ng-if="!vm.attendance.ProfileImage" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                <div class="pull-left emp-details">
                    <p class="name truncate">{{vm.attendance.EmployeeName}}</p>
                    <p class="job">{{vm.attendance.JobName}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text title">{{'Reported By' | translate}}:</p>
        <p class="">{{vm.attendance.CreatedByUserName}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text title">{{'DATE_OF_OCCURRENCE' | translate}}:</p>
        <p>{{vm.attendance.DateOfOccurrence | date: 'dd-MM-yyyy, hh:mm a': vm.userContext.Timezone.OffsetInHours}}</p>
    </div>
    <div class="padding-bottom-40">
        <p class="bold-text title">{{'Type' | translate}}:</p>
        <div class="padding-top-10">
            <p class="relatedTo attendance classification">
                {{ vm.attendance.IssueTypeName }}
            </p>
            <p class="relatedTo attendance classification" ng-if="vm.attendance.ReasonId">
                {{ vm.attendance.ReasonName }}
            </p>
        </div>
    </div>
    <hr />
    <div>
        <a class="pull-left text-danger link-style padding-right-20 hidden-employees" ng-click="vm.deleteAttendance()">{{'DELETE_REPORT' | translate}}</a>
    </div>
    
</div>
<div class="hidden-md hidden-lg left-section mobile">
    <div class="padding-bottom-10 section-borders">
        <span class="pull-left italic-bold date-field align">
        {{'REPORTED_ON' | translate}}: {{vm.attendance.CreateDate | date: 'dd-MM-yyyy, hh:mm a': vm.userContext.Timezone.OffsetInHours}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10 hidden-employees align" ng-click="vm.redirectToEntry()">{{'EDIT' | translate}}</a>
        <div class="clearfix"></div>
    </div>

    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align">{{'ATTENDANCE_DETAILS' | translate}}</p>
        <div class="padding-bottom-20 align">
            <p class="text-uppercase title">{{'EMPLOYEE' | translate}}:</p>
            <div class="pull-left assigned-employee-card">
                <img class="pull-left" ng-if="vm.attendance.ProfileImage" ng-cloak ng-src="{{vm.attendance.ProfileImage}}" />
                <img class="pull-left" ng-if="!vm.attendance.ProfileImage" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                <div class="pull-left emp-details">
                    <p class="name truncate">{{vm.attendance.EmployeeName}}</p>
                    <p class="job">{{vm.attendance.JobName}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'Reported By' | translate}}:</p>
            <p class="">{{vm.attendance.CreatedByUserName}}</p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'DATE_OF_OCCURRENCE' | translate}}:</p>
            <p>{{vm.attendance.DateOfOccurrence | date: 'dd-MM-yyyy, hh:mm a' : vm.userContext.Timezone.OffsetInHours}}</p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'Type' | translate}}:</p>
            <div class="padding-top-10">
                <p class="relatedTo classification ">
                    {{vm.attendance.IssueTypeName}}
                </p>
                <p class="relatedTo classification" ng-if="vm.attendance.ReasonId">
                    {{ vm.attendance.ReasonName }}
                </p>
            </div>
        </div>
    </div>
    <div class="section-borders padding-bottom-20 padding-top-20">
        <p class="align sub-head-text">{{'Comment' | translate}}</p>
        <p class="align text-space">{{vm.attendance.Comment}}</p>
        <p class="align text-space no-comment" ng-if="!vm.attendance.Comment">{{'NO_COMMENT_ATTENDANCE' | translate}}</p>
    </div>

    <div class="text-center padding-top-10">
        <a class="text-danger link-style  hidden-employees" ng-click="vm.deleteAttendance()">{{'DELETE_REPORT' | translate}}</a>
    </div>
</div>
