﻿<div class="right-section">
    <div class="padding-bottom-20">
        <span class="pull-left italic-bold date-field">{{'REPORTED_ON' | translate}}: {{vm.attendance.CreateDate | date: 'dd-MM-yyyy, hh:mm a': vm.userContext.Timezone.OffsetInHours}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10 hidden-employees" ng-click="vm.redirectToEntry()">{{'EDIT' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-15">
        <p class="sub-head-text">{{'COMMENTS' | translate}}</p>
        <p class="text-space">{{vm.attendance.Comment}}</p>
        <p class="text-space no-comment" ng-if="!vm.attendance.Comment">{{'NO_COMMENT_ATTENDANCE' | translate}}</p>
    </div>
</div>
