@import "../../../../css/Common/_globals";
@import "../../../../css/Common/_bootstrap-overrides";

.active-notification {
    .sidebar-notifications {
        right: 0 !important;
    }
}

notification-feed, .tab-wrap {
    height: 100%;
}

notification-feed {

    &.sidebar-notifications {
        width: 100%;
        background: $border;
        height: 100%;
        position: fixed;
        right: -200%;
        top: 0;
        z-index: 21;
        -moz-transition: all $defaultAniSpeed;
        -o-transition: all $defaultAniSpeed;
        -webkit-transition: all $defaultAniSpeed;
        transition: all $defaultAniSpeed;

        @include screen('tablet') {
            width: $notificationBarWidth;
            right: -420px;
            top: 60px;
            border-left: 1px solid $border;
        }
    }

    .notification-main-header {
        padding: 30px 20px 10px;


        h2, h3 {
            margin-top: 0;
        }
    }

    .tab-wrap {
        .nav-tabs {
            background: $dark;

            li {

                .todo-text {
                    text-transform: none;
                }

                a {
                    border: 0;
                    border-radius: 0;
                    border-bottom: 3px solid transparent;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $muted;
                    padding: 15px 25px;
                    font-size: 12px;
                    outline: none;
                    margin-bottom: 0;

                    &:hover {
                        background-color: transparent;
                        border: 0 solid transparent;
                        color: $default;
                        border-bottom: 3px solid $default;
                    }

                    .numberCircle {
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        top: 10px;
                        right: 15px;
                        position: absolute;
                    }
                }

                &.active {
                    a {
                        background-color: transparent;
                        border: 0 solid transparent;
                        border-bottom: 3px solid $default;
                        color: $default;
                    }
                }

                &.disabled {
                    display: none;
                    background-color: transparent;

                    a {
                        border-bottom-color: transparent;
                        color: $gray-dark;

                        span {
                            opacity: 0.3;
                        }
                    }
                }
            }
        }
    }

    .tab-content {
        width: 100%;
        height: 100%;

        @include breakpoint(laptop) {
            padding-right: 20px;
            margin-right: -20px;
            width: 375px;
        }

        .tab-pane {
            width: 100%;
            height: 100%;

            @include breakpoint(laptop) {
                width: 360px;
            }
        }
    }

    .notification-feed-views {
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;

        .sub-title {
            font-size: 14px;
            padding-left: 10px;
            font-weight: 600;
        }

        .scroll-list {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            width: 100%;
            padding-bottom: 215px;
            @include breakpoint(laptop) {
                padding-right: 20px;
                margin-right: -20px;
                padding-bottom: 275px;
                width: 365px;
            }

            &.activity{
                padding-bottom: 225px;
                @include breakpoint(laptop){
                    padding-bottom: 285px;
                }
            }

            &.messages{
                padding-bottom: 260px;
                @include breakpoint(laptop){
                    padding-bottom: 320px;
                }
            }
        }

        .list {
            width: 100%;

            @include breakpoint(laptop) {
                width: 340px;
            }
        }

        .msg-list {
            width: 100%;
            margin-left: 0;
            margin-right: 0;

            @include breakpoint(desktop) {
                width: 340px;
            }
        }

        .slide-right {
            height: 100%;
        }

        .todo-btn {
            width: 50%;
            padding: 8px 0;
            background-color: $border-dark;
            border-color: $border-dark;
            font-weight: 600;

            &.active {
                background-color: $default;
                color: $border-dark;
                box-shadow: none;
                border-color: $default;
            }

            &:hover {
                background-color: $default;
                color: $border-dark;
            }

            &.focus {
                border-color: none;
            }
        }

        .filter-header {
            > div {
                select {
                    width: 100%;
                    margin: 10px auto;
                }
            }
        }

        .back-to-main {
            span.fa {
                line-height: 16px;
                color: $warning;
            }

            em {
                line-height: 16px;
                color: $dark;
                font-weight: 600;
            }
        }

        .horizontal-date-line {
            line-height: 1px;
            display: block;
            margin: 30px 0;

            span {
                color: $muted;
                padding: 0 10px;
                font-weight: 600;
                font-size: 14px;
                border-radius: 2px;
            }
        }

        .notification-feed-item {
            margin-bottom: 0;

            p {
                a {
                    color: $dark;
                    text-decoration: underline;
                    font-weight: 600;
                }
            }

            &.active {
                background: $gray;
                border-left: 1px solid $border;
                border-right: 1px solid $border;
            }

            p.sm {
                font-weight: 600;
            }

            p.sm, b {
                @include screen('max-mobile') {
                    font-size: 13px;
                }
            }

            .view-all-button {
                a {
                    width: 200px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin: 0 auto;
                }
            }

            &:first-of-type .horizontal-date-line {
                margin-top: 10px;
            }
        }

        .card {
            padding: 15px 5px;
            border: 0 solid;
            border: 1px solid $border;
            font-size: 12px;
            background-color: $default;
            position: relative;
            padding-left: 85px;
            height: 80px;
            color: $dark-dark;

            .todo-profile-img {
                overflow: hidden;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 3px solid $border;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.is-seen {
                height: 90px;
            }

            .text-muted {
                color: $muted;
            }

            &.is-complete {
                h4, h4 span {
                    text-decoration: line-through;
                    color: $muted;
                }
            }

            &.is-new {
                box-shadow: 0 0 0 rgba(0,0,0,0.2);
            }

            &.is-passed-due {
            }

            &.message {
                cursor: pointer;
            }

            h4 {
                font-size: .871rem;
                font-weight: 600;
                margin-top: 0;
                margin-bottom: 0;
                color: $dark-dark;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &.comment {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 75%;
                    line-height: 18px;
                }
            }

            .card-left {
                position: absolute;
                left: 0;
                height: 100%;
                width: 75px;
                display: flex;
                align-items: center;
                background: $gray;
                top: 0;

                span.is-new-indicator {
                    position: absolute;
                    height: 12px;
                    width: 12px;
                    background-color: #ccc;
                    border-radius: 50%;
                    top: 5px;
                    left: 5px;
                }

                span.fa, .image {
                    color: $border;
                    vertical-align: middle;
                    text-align: center;
                    display: table-cell;
                    width: 100%;
                }

                .image {
                    img {
                        height: auto;
                        width: 40px;
                        border: 1px solid;
                    }
                }

                .notification-item-icon {
                    margin: 0 auto;

                    span.fa {
                        text-align: center;
                        color: $dark;
                        margin: 0 auto;
                    }

                    i {
                        color: $dark;

                        &.fa-stack-1x {
                            font-size: 96%;
                            top: -6px;
                            color: $dark-dark;
                        }
                    }
                }
            }

            .card-header {
                font-size: 12px;
                overflow: hidden;

                .label {
                    background-color: $muted;
                    text-transform: uppercase;
                    font-weight: 600;
                    border-radius: 2px;
                    line-height: 6px;
                    padding: 0 10px;
                    font-size: 12px;
                }

                em {
                    padding-left: 10px;
                    font-weight: 400;
                }

                img {
                    @extend .circle-img;
                    width: 40px;
                    height: auto;
                    border-width: 2px;
                }
            }

            .card-body {
                padding-top: 3px;

                .alert {
                    background-color: $gray;
                    padding: 5px;
                    margin-bottom: 0;
                    width: 300px;
                    margin: 0 auto;

                    strong, button {
                        font-size: 11px;
                    }
                }

                .location {
                    width: 75%;
                }

                .date-section {
                    position: absolute;
                    margin-top: -10px;
                    right: 7px;
                    width: 14%;
                    text-align: center;

                    @include breakpoint(tablet) {
                        width: 8%;
                    }

                    @include breakpoint(desktop) {
                        width: 14%;
                    }

                    .create-time {
                        font-weight: bold;
                    }
                }

                .main-section {
                    p {
                        /*width:100%;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                        overflow:hidden;*/
                    }
                }

                p {
                    font-size: .871rem;
                    line-height: 14px;
                    padding: 5px 0;
                    color: $dark;
                }

                .delete-button {
                    span {
                        padding: 10px;
                        font-weight: 700;
                        color: $base-dark;

                        &:hover {
                            color: $danger;
                        }
                    }
                }
            }

            &.removed-notification .card-body {
                border: none;
            }

            .card-footer {
                padding-top: 3px;

                .view-more {
                    color: $dark;
                    text-decoration: underline;
                    font-size: 10px;
                    font-weight: 600;
                }

                .dates {
                    width: 100%;

                    .date-style {
                        font-size: 10px;
                        font-weight: 700;
                        font-style: normal;
                        text-transform: uppercase;
                        color: $base-dark;
                        padding-top: 0px;
                    }
                }
            }
        }

        &.inner-message {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 80%;

            .card {
                padding-left: 0;
                height: 100%;
                background: none;
                border-top: 1px solid $base;
                border-radius: 2px;
                margin-top: 10px;

                .card-header {
                    padding-bottom: 15px;
                    border-bottom: 1px solid $base;

                    em {
                        padding-left: 0;
                        padding-top: 10px;
                        display: block;
                    }

                    img {
                        //width: 64px;
                    }

                    .notification-item-icon .fa-stack {
                        font-size: 30px;
                    }
                }

                .card-body {
                    padding-top: 15px;

                    p {
                        font-size: 14px;
                        line-height: 28px;

                        .fa-view {
                            font-size: 0.9em;
                        }
                    }
                }

                .card-footer {
                    padding-top: 15px;

                    p {
                        font-size: 14px;
                        line-height: 28px;
                    }
                }

                &.inner-todo {
                    .card-header {
                        padding-top: 15px;
                        border-bottom: 0;

                        p {
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }

                    .card-body {
                        padding-bottom: 15px;
                        border-bottom: 1px solid $base;

                        span.fa {
                            width: 25px;
                            text-align: center;
                            margin-right: 6px;
                            margin-bottom: 10px;
                        }
                    }

                    .card-footer {
                        padding-bottom: 15px;
                        border-bottom: 1px solid $base;

                        img {
                            width: 40px;
                            height: 40px;
                        }

                        p {
                            line-height: 40px;
                        }
                    }

                    .mark-completed-btn {
                        span.fa {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        .empty-state-text {
            strong {
                font-weight: 700;
                font-size: 15px;
                color: $dark-dark;
                padding: 10px 0;
            }

            span {
                color: $dark;
                font-weight: 600;
                font-size: 14px;
            }
        }

        .empty-message {
            background: url(/Content/img/empty_messages.png) center no-repeat;
            background-size: contain;
            height: 145px;
            width: 100%;
            display: block;
        }

        .empty-todo {
            background: url(/Content/img/empty_todos.png) center no-repeat;
            background-size: contain;
            height: 145px;
            width: 100%;
            display: block;
        }

        .empty-activity{


        }
    }

    .notification-header {
        padding: 10px 10px 0;
        border-bottom: 1px solid $border;
        background: $default;

        p {
            color: $muted;
            padding-top: 2px;
            padding-left: 10px;
            font-size: 14px;
            font-weight: 700;
        }

        a {
            padding-top: 5px;
            padding-right: 5px;
            text-decoration: initial;
        }

        .filter {
            padding: 10px 0 0;

            > [class*="col-"] {
                padding: 0;

                &:first-of-type {
                    padding-left: 10px;
                }

                &:last-of-type {
                    padding-right: 10px;
                }
            }

            a {
                display: block;
                padding: 10px 0 8px;
                border-bottom: 3px transparent;
                color: $muted;

                &.active {
                    border-bottom: 3px solid;
                    color: $primary;
                }

                b {
                    font-weight: 500;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
