﻿@import "../../../../../css/Common/globals";


.quality-head {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    border-bottom: 1px solid $border;
    
    .content{
        line-height: 2;
    }

    .view-link{
        border: 1px solid $warning;
        border-radius: 14px;
        padding: 2px 14px;
        color: $warning;
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 2px;
        cursor: pointer;
        &:hover{
            background-color: $warning;
            color: $default;
        }
    }

    .highlight{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 30px solid transparent;
        border-left: 30px solid $warning;
        position: relative;
        margin-top: -12px;
        float: left;
        margin-left: -20px;
    }

    .text-italic{
        font-style: italic;
    }
}



