﻿<div class="quality-head">
    <div ng-if="$ctrl.highLight" class="highlight"></div>
    <span class="text-muted pull-left content">{{$ctrl.headerText | translate}}: </span>
    
    <span class="text-muted pull-left content padding-left-5" ng-if="$ctrl.formatDate && !$ctrl.formatDatetimeOffset">{{$ctrl.headerDate | date:'short'}}</span>
    <span class="text-muted pull-left content padding-left-5" ng-if="!$ctrl.formatDate && !$ctrl.customFormatDate">{{$ctrl.headerDate | date:'shortDate'}}</span>
    <span class="text-muted pull-left content padding-left-5" ng-if="$ctrl.customFormatDate">{{$ctrl.headerDate}}</span>
    <span class="text-muted pull-left content padding-left-5" ng-if="$ctrl.formatDate && $ctrl.formatDatetimeOffset">{{$ctrl.headerDate | date:'short' : $ctrl.userContext.Timezone.OffsetInHours}}</span>
    <span class="text-muted pull-left content padding-left-15 text-italic" >{{$ctrl.daysLeft}} {{$ctrl.daysTag | translate}}</span>
    <a class="pull-right view-link" ng-if="!$ctrl.redirectionLink" href="javascript:void(0);" ng-click="$ctrl.viewLinkFn({id: $ctrl.itemId})">{{'VIEW_STATIC' | translate}}</a>
    <a class="pull-right view-link" ng-if="$ctrl.module == 'audits' && $ctrl.redirectionLink" href="{{$ctrl.redirectionLink}}{{$ctrl.itemId}}">{{'VIEW_STATIC' | translate}}</a>
    <div class="clearfix"></div>
</div>
