﻿
@import "../Common/globals";

.attendance {
    background:$default;
    .panel-header-margin{
        margin-bottom: 0;
    }
    .filter-btn{
        background: $dark;
        padding:12px 18px;
        font-size:14px;
        font-weight:600;
        color: $default;
        text-transform:uppercase;
    }
    .panel{
        border:none;
    }
    .table-head {
        font-size: 12px;
        font-weight: 600;
        color: $default;
        text-transform: uppercase;
        padding:10px 20px;
        }
    .emp-name {
        font-size: 16px;
        font-weight: 600;
        color: $primary;
    }
    .emp-program {
         font-size: 12px;
        font-weight: 400;
        color: $muted;
        }
    .emp-comment {
        font-size: 14px;
        font-weight: 400;
        color: $dark;
        line-height: 22px;
        }
    .emp-comment-time {
        font-size:14px;
        font-weight:400;
        color: $muted;
        font-style:italic;
        }

    .emp-row .jd-status p.date {
        font-size: 14px;
        font-weight: 600;
        color: $warning;
        padding-right:30px;
        @include breakpoint(mobilephone){
            padding-right: 25px;
        }
        }
    .emp-row:nth-child(even){
        background: $gray;
    }
    .emp-row{
         @include breakpoint(tablet) {
            padding-left:20px !important;
            padding-right:30px;
        }
        padding-left:10px !important;
        padding-right:20px;
    }
}

.page-title {
   

    .add-btn-mobile {
        background-color: $success;
        border: none;
        margin-left: 5px;
        padding: 8px 12px 6px 12px;

        .fa-plus {
            padding: 5px 2px 0 2px;
        }

        .fa-envelope {
            padding-top: 5px;
        }
    }

    .btn {
        font-weight: bold;
    }

    .text-primary {
        color: $primary;
        font-weight: 300;
        font-size: 24px;

        @include breakpoint(tablet) {
            font-size: 34px !important;
        }
    }

    .fa-quality {
        display: none;
    }

    .padding-t15-r5 {
        padding: 15px 5px 0 0;
    }

    .padding-t10 {
        padding-top: 10px;
    }

    .margin-t-15 {
        margin-top: -15px;
    }

    
}

 .entryview{
     background: $default;
     .table-head {
         background: $primary;
         color: $default;
         font-size: 12px;
         font-weight: 600;
         text-transform: uppercase;
         padding-left: 20px;
    }
     .complaint-view {
         padding-right: 0;

    }
 }

 .emp-audits-avg{
    .table-head{
        color: $default;
        font-size: 12px;
        text-transform: uppercase;
        font-weight:600;
         @media only screen and (min-width: 990px){
             padding: 15px 35px;
        }
    }
    .emp-row .row-details .emp-name {
        font-size: 16px;
        font-weight: 600;
        color: $primary;
        }
    .emp-row .row-details .audit-type {
             font-size: 14px;
            font-weight: 600;
            color: $warning;
        }
    .emp-row .jd-status p.date {
            font-size: 14px;
            font-weight: 600;
            color: $warning;
        }
    .emp-row .row-details .sm {
            font-size: 14px;
            font-weight: 600;
            color: $dark-dark;
            text-decoration:underline;
            font-style: normal;
            cursor: pointer;
        }
    .no-padding{
        padding:0;
    }
   
    .emp-row {
            @media only screen and (min-width: 990px){
                padding-left:30px;
        }
            }
    }


  .btn-filter{
        background-color: $dark !important;
        border:  none !important;
        color: $default !important;
        padding: 10px 18px 10px 18px;
        font-weight: 700; 
        border-radius: 4px;
        text-transform: uppercase;
    
        &:hover{
        color: $default;
        background-color: #000000 !important;
        }

        &:focus{
        color: $default;
        background-color: $dark !important;
        }

        @include breakpoint(mobilephone){
        padding: 0!important;
        margin-top: 0!important;
        margin-right: 5px !important;
        border: 0!important;
        background-color: $default !important;
    
        .fa{
        color: $dark;
        font-size : 23px;
        background-color: $default !important;
     }
        &:hover{
            background-color: $default !important;
        }
         &:focus{
            background-color: $default !important;
        }

    }
}

.audits{
    .page-content-padding{
        padding-left:  15px !important;
        padding-right: 15px !important;
    }
    .head-desc-align{
        padding-right: 32px !important;
    }
}

 .datepicker-style-paudits{
     @include breakpoint(mobilephone) {
        margin-right: 37px;
        margin-top:-5px;
        }
    }


.attendance-view{
	background: $default;
}

.header{
    font-size: 14px;
    font-weight: bold;    
    padding-left: 0!important;
}

.attendance-form{
	display: block;
        }
.active-class{
	background:$success;
	color: $default;
	border-color: transparent;
}
.success-btns{
	margin-top: 5px;
	.btn{
		&.active{
			background:$success;
			color: $default;
			border-color: transparent;
		}
	}
}
.primary-btns{
	margin-top: 5px;
	.btn{
		margin-bottom: 5px;
        margin-right: 3px;
		&.active{
			background:$primary;
			color: $default;
			border-color: transparent;
			box-shadow: none;
		}
	}
}

.sep-wrap {
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}

.well-table {
    padding: 0;
    border: none !important;
}
.page-padding{
    padding: 0 30px 0 20px;
     @include breakpoint(mobilephone){
        padding: 0 15px 0 10px;
    }
}
.padding-10-40-10-20{
    padding: 10px 40px 10px 20px !important;
     @include breakpoint(mobilephone){
        padding: 10px 20px 10px 10px !important;
    }
}
.padding-left-5{
    padding-left: 5px !important;
}
.padding-r-0{
    padding-right: 0 !important;
}
.padding-t-40{
    padding-top:40px !important;
}
.table-head{
        font-size: 10px;
        font-weight: 700;
        padding : 10px 20px;
    }
.well{
    border:none;
    border-radius: 0;
    padding: 10px;
    padding-right:0;
}
.emp-name{
    color: #00afd1;
    font-size: 14px !important;
    line-height: 1;
    margin-bottom: 3px;
    font-weight: 600;
    padding-bottom: 1px;
    @include breakpoint(mobilephone){
        font-size: 12px!important;
    }
}
.location{
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
    font-weight: 600;
}
.circle-img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.primary{
    background-color: $primary;
    color: $default;
}

h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.com-wrapper {
    background-color: $default;
    @include breakpoint(mobilephone){
        padding-left: 0 !important;
    }
}

.panel-header-border{
    border-bottom: none;
    padding-top: 10px;
}

.noborder{
    border: none;
}
.selectpadding{
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.slide-default {
    color: #ffffff;
    font-size: 20px;
    line-height: 38px;
}

.margin-bottom-0{
    margin-bottom: 0 !important;
}
.color-midgrey{
    color: $muted-dark !important;
}
.padding-10-0-10-10{
    padding: 10px 0 10px 10px;
}
.no-margin{
    margin: 0;
}

.complaint-view{
    color: #6E6E6E;
	margin-top: 0;
	padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 5px;
    @include breakpoint(mobilephone){
        padding: 10px 0 0 0 !important;
    }
    .active-class{
	    background:$success;
	    color: $default !important;
	    border-color: transparent;
    }
    label{
        color: $primary;
    }
    .btn{
        color:$muted-dark;
    }
	h1{
		color: $primary;
		font-weight: 300;
		margin-bottom: 20px;
		font-size: 24px;
		@include screen('tablet') {
			font-size: 34px;
		}
	}
    .list-align{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .list-style{
        color: $primary;
		font-weight: 300;
		margin-bottom: 20px !important;
        margin-top: 20px;
		font-size: 24px;
		@include screen('tablet') {
			font-size: 34px;
		}
    }

    .attach-text{
        padding-left: 15px;
        padding-bottom: 10px;
        color: $primary;
        font-weight: 600;
    }
     .square-img{
            height: 100px;
            width: 100px;
            margin-left: 15px;
            @include breakpoint(tablet){
                height: 200px;
                width: 200px;
            }
            border-radius: 2px;
            border: 1px solid #e5e5e5;
            img{
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
            .download-style{
                height: 100%;
                width: 100%;
                color: $primary;
                font-size: 15px;
                padding-top: 0 !important;
                @include breakpoint(tablet){
                    padding-top: 35px !important;
                }
            }
        }

	.complaint-repoter{
		.repoter-name{
			font-size: 14px;
			font-style: italic;
			margin-bottom: 10px;
			b{
				font-size: 16px;
				color: $primary;
				font-style: normal;
				padding-right: 10px;
			}
		}
		p.sm{
			font-size: 14px;
		}

        .critical{
            font-size: 14px;
             font-weight: 600;
            font-style: italic;
        }

        .top-padding{
            padding-top: 10px;
        }
		.emp-program{
			color: #aaaaaa;
		    font-style: normal; 
		    display: inline-block;
		    border: 1px solid #aaaaaa;
		    padding: 0 5px;
		    border-radius: 3px;
		    margin-bottom: 4px;
            margin-right: 5px;
		    font-size: 12px;
            margin-left: 3px; 
		}

		.complaint-loaction{
			
            padding-top: 10px;
            @include breakpoint(desktop){
                padding-top: 0;
            }
			@include screen('tablet') {
				border-left: 1px solid $border;
			}
			b,p{
				display: inline;
				@include screen('tablet') {
					display: block;
				}
			}
			p.sm{
				font-size: 14px;
				font-style: italic;
				
			}
		}
	}

	.note-well{
		margin: 20px 0;
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
        overflow-wrap: break-word;
		@include screen('tablet') {
			/*padding: 20px 15px;*/
			/*border: 5px solid $border;*/
		}
        .warning-text {
            color: #f89c1b;
        }
	}

	ul.list-item{
		li{
			line-height: 50px;
			border-bottom: 1px solid $border;
			&:last-child{
				border-bottom: none;
			}
			b{
				padding-right: 10px;
			}
		}
	}

	.side-block{
		background: lighten($border, 6%);
		padding: 20px 0 20px 30px;
		margin-bottom: -50px;
		
		@include screen('tablet') {
			min-height: 700px;
            margin-top: -20px;
            margin-bottom: -50px;
			position: relative;
		}
		h4{
			font-weight: 300;
		}

		.btn-edit{
			color: $default;
			float: right;
			margin-top: 30px;
			margin-right: 33px;
			margin-bottom: 10px;
			@include screen('tablet') {
			margin: 0;
			position: absolute;
			bottom: 20px;
			right: 20px;
			}
		}

	}

    .margin-bottom{
        margin-bottom: 10px;
        padding-bottom: 0 !important;
    }


}

.padding-bottom-10{
    padding-bottom:10px;
}
.padding-bottom-15{
    padding-bottom:15px;
}
.emp-profile-wgt{

	.circle-img{
		width: 60px;
		height: 60px;
        position:absolute;
        img{width:100%;height:100%;}
	}

	.row-details{
		margin-left: 10px;
        padding-left:60px;
		@include breakpoint('tablet') {
			margin-left: 15px;
		}
		.emp-name{
			color: #00afd1;
			font-size: 14px;
			line-height: 1;
			margin-bottom: 3px;
            padding-top: 10px;
			font-weight: 600;
			@include breakpoint('tablet') {
				font-size: 16px;
			}
		}
		.emp-title,.sm{
			font-size: 12px;
			font-style: italic;
			color: $base-dark;
			@include breakpoint(mobilephone){
                font-size: 10px !important;
			}
		}
		.emp-program{
			color: $base-dark;
			font-style: normal;
			display: inline-block;
			border: 1px solid $base-dark;
			padding: 0 5px;
			border-radius: 3px;
			margin-left: 0;
            margin-right: 5px;
			margin-bottom: 4px;
			font-size: 12px;
		}
        
        label.update-date{
            padding-top:10px;
            
        }
		.hire-date{
			color: $base;
		}
		.sm, .hire-date{
			font-size: 12px;
		}
	}
}

.lightbox-content{
    padding-top: 0!important;
}


.complaint-lightbox{


	.lightbox-content.complaint-view{
		padding-right: 20px;
	}
}



.light-box.light-box-lg{
	@include screen('tablet') {
		width: 600px;
		margin-left: -300px;
	}

}

.padding-bottom-5{
    margin-bottom: 5px;
}

    .subHeading{
        color: $warning !important;
        padding: 10px 0 0 0;
    }
    
    
.emp-row {
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 25px !important;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
    box-sizing: border-box;
    @include screen('tablet') {
				padding: 15px;
			}
}

.emp-row:nth-child(even) {
    background: #fafafa;
}

.emp-details{
    max-width: 140px;
    @include screen('mobile') {
				max-width: none;
			}
}
.emp-row .jd-status p.date {
    color: #f89c1b;
    font-size: 10px;
    font-weight: 600;
    position:  absolute;
    top: 15px;
    right: 10px;
    padding-right:10px;
    @include screen('mobile') {
				font-size: 13px;
			}
}

.row-details
{
        box-sizing: border-box;
        @include breakpoint(mobilephone){
            padding-right: 60px !important;
        }

}
.emp-program {
    color: #aaa;
    font-style: normal;
    display: inline-block;
    border: 1px solid #aaa;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 4px;
    font-size: 12px;
}

.emp-comment{
    color: $primary-dark;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
    @include screen('mobile') {
				font-size: 14px;
			}
}
.emp-comment-time{
    color: $base-dark;
    font-size: 12px;
    font-style:italic;
    line-height: 1;
    margin-bottom: 5px;
    @include screen('mobile') {
				font-size: 14px;
			}
}

tbody{
    border-bottom: none !important;
}

.fieldwrap-margin{
    margin-top: 1px;
}

.fapencil-spacing{
    padding-right: 5px;
}

.find-emp{
    padding-left: 0 !important;
    width: 100% !important;
    padding-top: 10px!important;
    padding-right: 0!important;
}

.form-filter {
    display: block;
     color: #555;
   margin-left: 10px;
   margin-right: 10px;
 
   }

.filter-option {
    margin-left: 5px;
   margin-right: 5px;
   /*width:91%;*/
   @include screen('mobile') {
                /*width: auto;*/
			}
}

.attendance-details{
    .btn-attendance-clear{
        background-color: #ffffff !important;
        border: 1px solid black;
        color: #333333 !important;
        font-weight: 700;
        border-radius: 4px;
        border-color: #333333 !important;
        &-desktop{
            padding: 10px 33px 10px 33px !important;
            margin: 5px 30px 5px 0;
        }
        &-mobile{
            padding: 10px 20px;
        }
    }
    .btn-attendance-filter{
        background-color: #393f44 !important;
        border: 1px solid #393f44;
        color: #ffffff !important;
        font-weight: 700;
        border-radius: 4px;
        &-desktop{
            padding: 10px 30px 10px 30px !important;
            margin: 5px 10px 5px 0;
        }
        &-mobile{
            padding: 10px 20px;
        }
    }
    .width-attendance-details-align{
        @media only screen 
            and (min-width : 768px) 
            and (max-width : 1024px) 
            and (orientation : landscape) {
              width: 22%;
              z-index: 0;
            }
        @include breakpoint(desktop){
            width: 22%;
        }
    }
    .width-safety-details-align{
        @media only screen 
            and (min-width : 768px) 
            and (max-width : 1024px) 
            and (orientation : landscape) {
              width: 30% !important;
              z-index: 0;
            }
        @include breakpoint(desktop){
            width: 22%;
        }
}
}

.filter-button {
     border: 0; 
     color: #fff !important;
     margin-right: 5px;
     margin-top: 10px;
     width:92%;
       @include screen('mobile') {
           margin-left: 5px;
            width: auto;
		}
     }

.light-box-employees{
     overflow: auto;
      max-height: 500px;
}

.pri-color {
    background: $primary !important;
    color: #ffffff !important;
}

.filter-options-panel {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    background-color: white;
}
.panel-filter{
    margin:0;
    border:none;
    border-radius: 0;
}
.i-style{
    margin-right: 5px;
    padding-top: 20px;
    color: $base-dark;
}
.mobile-padding{
    padding-top: 10px;
}
.mobile-issuetype-btn{
    /*width:100%;*/
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px !important;
    @include breakpoint(mobilephone){
        font-size: 11px;
    }
     /*@include screen('mobile') {
          width: auto;
		}*/

}

.file-upload-wrap{
    width:300px;
    margin-top:20px;

    .file-upload{
    margin:10px 0 0 15px;
    border: 1px solid $border;
    width: 90px;
    padding: 20px 10px 10px 10px;
    height: 90px;
    color: $primary;
    text-align:center;
    font-weight:bold;
    border-radius:5px;
    background-color:#b5dbe8;
    cursor:pointer;
    float: left;
    i{
            font-size:30px;
        }
    }

}

.align-btns{

    @include breakpoint(mobilephone) {
            float:none;
            text-align:center;
        }
    float:right;
}
.btn-grey{
    background-color : #999c9e;
    color: $default !important;
    font-weight:600;
    @include breakpoint(mobilephone) {
        margin-right: 10px;
        width: 35%;
        padding: 15px 12px;
    }

}
.btn-black{
    background-color:#393f44;
    color: $default !important;
    font-weight:600;
    @include breakpoint(mobilephone) {
        width: 35%;
        padding: 15px 12px;
    }
}
.btn-black[disabled]{
    background-color : $dark-dark;
    color: $default !important;
    font-weight:bold;
}


.box-title {
     padding-right: 20px !important; 
     margin-bottom: 0!important; 
     @include screen('mobile') {
          font-size: 24px;
		}
}

.close-btn{
    padding-right: 0;
    position: absolute;
    top: 15px;
    .fa{
        font-size: 20px;
    }   
}

.date input{
    padding: 6px 10px;
}

.employee {
    .emp-details {margin-left: 60px;
        overflow-wrap: break-word;
        .emp-result {
            width: 90px;
            font-size: 12px;
            margin: 75px 0 0;
            text-align: center;
            color: $default !important;
            padding: 2px 5px;
            border-radius: 2px;
        }
    }
}

.scroll-content {
    overflow: auto;
    max-height: 500px;
}

.mobile-hide {
      @include screen('mobile') {
          display: block;
		}
      display: none;
}
 
.desktop-hide {
      @include screen('mobile') {
          display: none;
		}
      display: block;
}
.run-style{
    font-size: 12px!important;
    font-weight: bold;
}
.mobile-icon {
  
    @include screen('mobile') {
        position: relative;
        top: auto;
        right: auto;
    }
    position: absolute;
    top: 25px;
    right: 5px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none !important;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5)  ;
    box-shadow: 0 3px 9px rgba(0,0,0,.5)  ;
}

.margin-for-btn{
    margin-left: 20px;
    margin-top: 15px;
}

.cxl-btn{
    margin-right: 35px!important;
    background-color: #565050;
    color: $default;
    font-size: 12px!important;
    font-weight: bold;
    padding: 7px 25px 7px 25px;    
    &:hover{
        background-color: #353333;
        color: $default;
    }
}


.emp-profile-well{
    margin : 0;
    padding : 30px 20px;
    @include breakpoint(mobilephone){
        padding-left: 15px !important;
    }
}
.attach-btn{
    padding : 9px 5px;
}
.margin-l-0-r-5{
    margin-left : 5px;
    margin-right: 5px;
}
.margin-align{
    margin-left: 0;
    margin-right: 5px;
}
.no-padding{
    padding: 0;
}
.padding-r-5{
    padding-right: 5px;
    margin-top: 20px;
}





.Conudct-Type {
    color: #4699c9;
    font-weight: 350;
    font-size: medium;
    margin-bottom: 25px;
}

.margin-bottom {
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.margin-bottom-10{
    margin-bottom:10px;
}
.margin-3 {
    margin: 2px 2px;
}
.bg-midgrey{
    background-color : $muted-dark;
    color: $default !important;
}
.text-center{
    text-align:center;
}
.conduct-edit{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    padding-right: 12px;

}

.padding-mobile{
    @include breakpoint(mobilephone) {
            padding-left: 15px;
        }
}

.bc-mobile{
     @include breakpoint(mobilephone) {
        background-color:$border
    }
}

.label-font{
    color: $warning !important;
}

.padding-for-tab{
    @include breakpoint(mobilephone){
        padding-left: 15px !important;
    }
   
      /*@media only screen and (max-width: 479px) {
          padding: 0 !important;
      }
      @media only screen and (max-width: 768px) {
          padding: 0 30px 0 15px;
      }*/
}

.margin-b-20{
    margin-bottom: 20px;
}

.sub-head{
        float: left;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        padding-bottom: 30px;
        color: $dark-dark;
        border-bottom: none !important;

        .left{
            @include breakpoint(tablet){
                padding-left: 5px;
        }
        }
    }



