@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.attendance {
  background: #ffffff;
}
.attendance .panel-header-margin {
  margin-bottom: 0;
}
.attendance .filter-btn {
  background: #403841;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.attendance .panel {
  border: none;
}
.attendance .table-head {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 20px;
}
.attendance .emp-name {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
}
.attendance .emp-program {
  font-size: 12px;
  font-weight: 400;
  color: #999c9e;
}
.attendance .emp-comment {
  font-size: 14px;
  font-weight: 400;
  color: #403841;
  line-height: 22px;
}
.attendance .emp-comment-time {
  font-size: 14px;
  font-weight: 400;
  color: #999c9e;
  font-style: italic;
}
.attendance .emp-row .jd-status p.date {
  font-size: 14px;
  font-weight: 600;
  color: #F99D00;
  padding-right: 30px;
}
@media (max-width: 479px) {
  .attendance .emp-row .jd-status p.date {
    padding-right: 25px;
  }
}
.attendance .emp-row:nth-child(even) {
  background: #f5f5f5;
}
.attendance .emp-row {
  padding-left: 10px !important;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .attendance .emp-row {
    padding-left: 20px !important;
    padding-right: 30px;
  }
}

.page-title .add-btn-mobile {
  background-color: #9FC62D;
  border: none;
  margin-left: 5px;
  padding: 8px 12px 6px 12px;
}
.page-title .add-btn-mobile .fa-plus {
  padding: 5px 2px 0 2px;
}
.page-title .add-btn-mobile .fa-envelope {
  padding-top: 5px;
}
.page-title .btn {
  font-weight: bold;
}
.page-title .text-primary {
  color: #00AFD1;
  font-weight: 300;
  font-size: 24px;
}
@media (min-width: 768px) {
  .page-title .text-primary {
    font-size: 34px !important;
  }
}
.page-title .fa-quality {
  display: none;
}
.page-title .padding-t15-r5 {
  padding: 15px 5px 0 0;
}
.page-title .padding-t10 {
  padding-top: 10px;
}
.page-title .margin-t-15 {
  margin-top: -15px;
}

.entryview {
  background: #ffffff;
}
.entryview .table-head {
  background: #00AFD1;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
}
.entryview .complaint-view {
  padding-right: 0;
}

.emp-audits-avg .table-head {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
@media only screen and (min-width: 990px) {
  .emp-audits-avg .table-head {
    padding: 15px 35px;
  }
}
.emp-audits-avg .emp-row .row-details .emp-name {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
}
.emp-audits-avg .emp-row .row-details .audit-type {
  font-size: 14px;
  font-weight: 600;
  color: #F99D00;
}
.emp-audits-avg .emp-row .jd-status p.date {
  font-size: 14px;
  font-weight: 600;
  color: #F99D00;
}
.emp-audits-avg .emp-row .row-details .sm {
  font-size: 14px;
  font-weight: 600;
  color: #2f2930;
  text-decoration: underline;
  font-style: normal;
  cursor: pointer;
}
.emp-audits-avg .no-padding {
  padding: 0;
}
@media only screen and (min-width: 990px) {
  .emp-audits-avg .emp-row {
    padding-left: 30px;
  }
}

.btn-filter {
  background-color: #403841 !important;
  border: none !important;
  color: #ffffff !important;
  padding: 10px 18px 10px 18px;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
}
.btn-filter:hover {
  color: #ffffff;
  background-color: #000000 !important;
}
.btn-filter:focus {
  color: #ffffff;
  background-color: #403841 !important;
}
@media (max-width: 479px) {
  .btn-filter {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 5px !important;
    border: 0 !important;
    background-color: #ffffff !important;
  }
  .btn-filter .fa {
    color: #403841;
    font-size: 23px;
    background-color: #ffffff !important;
  }
  .btn-filter:hover {
    background-color: #ffffff !important;
  }
  .btn-filter:focus {
    background-color: #ffffff !important;
  }
}

.audits .page-content-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.audits .head-desc-align {
  padding-right: 32px !important;
}

@media (max-width: 479px) {
  .datepicker-style-paudits {
    margin-right: 37px;
    margin-top: -5px;
  }
}

.attendance-view {
  background: #ffffff;
}

.header {
  font-size: 14px;
  font-weight: bold;
  padding-left: 0 !important;
}

.attendance-form {
  display: block;
}

.active-class {
  background: #9FC62D;
  color: #ffffff;
  border-color: transparent;
}

.success-btns {
  margin-top: 5px;
}
.success-btns .btn.active {
  background: #9FC62D;
  color: #ffffff;
  border-color: transparent;
}

.primary-btns {
  margin-top: 5px;
}
.primary-btns .btn {
  margin-bottom: 5px;
  margin-right: 3px;
}
.primary-btns .btn.active {
  background: #00AFD1;
  color: #ffffff;
  border-color: transparent;
  box-shadow: none;
}

.sep-wrap {
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}

.well-table {
  padding: 0;
  border: none !important;
}

.page-padding {
  padding: 0 30px 0 20px;
}
@media (max-width: 479px) {
  .page-padding {
    padding: 0 15px 0 10px;
  }
}

.padding-10-40-10-20 {
  padding: 10px 40px 10px 20px !important;
}
@media (max-width: 479px) {
  .padding-10-40-10-20 {
    padding: 10px 20px 10px 10px !important;
  }
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-r-0 {
  padding-right: 0 !important;
}

.padding-t-40 {
  padding-top: 40px !important;
}

.table-head {
  font-size: 10px;
  font-weight: 700;
  padding: 10px 20px;
}

.well {
  border: none;
  border-radius: 0;
  padding: 10px;
  padding-right: 0;
}

.emp-name {
  color: #00afd1;
  font-size: 14px !important;
  line-height: 1;
  margin-bottom: 3px;
  font-weight: 600;
  padding-bottom: 1px;
}
@media (max-width: 479px) {
  .emp-name {
    font-size: 12px !important;
  }
}

.location {
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
  font-weight: 600;
}

.circle-img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.primary {
  background-color: #00AFD1;
  color: #ffffff;
}

h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.com-wrapper {
  background-color: #ffffff;
}
@media (max-width: 479px) {
  .com-wrapper {
    padding-left: 0 !important;
  }
}

.panel-header-border {
  border-bottom: none;
  padding-top: 10px;
}

.noborder {
  border: none;
}

.selectpadding {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.slide-default {
  color: #ffffff;
  font-size: 20px;
  line-height: 38px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.color-midgrey {
  color: #8c8f92 !important;
}

.padding-10-0-10-10 {
  padding: 10px 0 10px 10px;
}

.no-margin {
  margin: 0;
}

.complaint-view {
  color: #6E6E6E;
  margin-top: 0;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 5px;
}
@media (max-width: 479px) {
  .complaint-view {
    padding: 10px 0 0 0 !important;
  }
}
.complaint-view .active-class {
  background: #9FC62D;
  color: #ffffff !important;
  border-color: transparent;
}
.complaint-view label {
  color: #00AFD1;
}
.complaint-view .btn {
  color: #8c8f92;
}
.complaint-view h1 {
  color: #00AFD1;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 24px;
}
@media only screen and (min-width: 990px) {
  .complaint-view h1 {
    font-size: 34px;
  }
}
.complaint-view .list-align {
  margin-top: 20px;
  margin-bottom: 20px;
}
.complaint-view .list-style {
  color: #00AFD1;
  font-weight: 300;
  margin-bottom: 20px !important;
  margin-top: 20px;
  font-size: 24px;
}
@media only screen and (min-width: 990px) {
  .complaint-view .list-style {
    font-size: 34px;
  }
}
.complaint-view .attach-text {
  padding-left: 15px;
  padding-bottom: 10px;
  color: #00AFD1;
  font-weight: 600;
}
.complaint-view .square-img {
  height: 100px;
  width: 100px;
  margin-left: 15px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .complaint-view .square-img {
    height: 200px;
    width: 200px;
  }
}
.complaint-view .square-img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.complaint-view .square-img .download-style {
  height: 100%;
  width: 100%;
  color: #00AFD1;
  font-size: 15px;
  padding-top: 0 !important;
}
@media (min-width: 768px) {
  .complaint-view .square-img .download-style {
    padding-top: 35px !important;
  }
}
.complaint-view .complaint-repoter .repoter-name {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
.complaint-view .complaint-repoter .repoter-name b {
  font-size: 16px;
  color: #00AFD1;
  font-style: normal;
  padding-right: 10px;
}
.complaint-view .complaint-repoter p.sm {
  font-size: 14px;
}
.complaint-view .complaint-repoter .critical {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
.complaint-view .complaint-repoter .top-padding {
  padding-top: 10px;
}
.complaint-view .complaint-repoter .emp-program {
  color: #aaaaaa;
  font-style: normal;
  display: inline-block;
  border: 1px solid #aaaaaa;
  padding: 0 5px;
  border-radius: 3px;
  margin-bottom: 4px;
  margin-right: 5px;
  font-size: 12px;
  margin-left: 3px;
}
.complaint-view .complaint-repoter .complaint-loaction {
  padding-top: 10px;
}
@media (min-width: 1167px) {
  .complaint-view .complaint-repoter .complaint-loaction {
    padding-top: 0;
  }
}
@media only screen and (min-width: 990px) {
  .complaint-view .complaint-repoter .complaint-loaction {
    border-left: 1px solid #e8e8e8;
  }
}
.complaint-view .complaint-repoter .complaint-loaction b, .complaint-view .complaint-repoter .complaint-loaction p {
  display: inline;
}
@media only screen and (min-width: 990px) {
  .complaint-view .complaint-repoter .complaint-loaction b, .complaint-view .complaint-repoter .complaint-loaction p {
    display: block;
  }
}
.complaint-view .complaint-repoter .complaint-loaction p.sm {
  font-size: 14px;
  font-style: italic;
}
.complaint-view .note-well {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  overflow-wrap: break-word;
}
@media only screen and (min-width: 990px) {
  .complaint-view .note-well {
    /*padding: 20px 15px;*/
    /*border: 5px solid $border;*/
  }
}
.complaint-view .note-well .warning-text {
  color: #f89c1b;
}
.complaint-view ul.list-item li {
  line-height: 50px;
  border-bottom: 1px solid #e8e8e8;
}
.complaint-view ul.list-item li:last-child {
  border-bottom: none;
}
.complaint-view ul.list-item li b {
  padding-right: 10px;
}
.complaint-view .side-block {
  background: #f7f7f7;
  padding: 20px 0 20px 30px;
  margin-bottom: -50px;
}
@media only screen and (min-width: 990px) {
  .complaint-view .side-block {
    min-height: 700px;
    margin-top: -20px;
    margin-bottom: -50px;
    position: relative;
  }
}
.complaint-view .side-block h4 {
  font-weight: 300;
}
.complaint-view .side-block .btn-edit {
  color: #ffffff;
  float: right;
  margin-top: 30px;
  margin-right: 33px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 990px) {
  .complaint-view .side-block .btn-edit {
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
.complaint-view .margin-bottom {
  margin-bottom: 10px;
  padding-bottom: 0 !important;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.emp-profile-wgt .circle-img {
  width: 60px;
  height: 60px;
  position: absolute;
}
.emp-profile-wgt .circle-img img {
  width: 100%;
  height: 100%;
}
.emp-profile-wgt .row-details {
  margin-left: 10px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .emp-profile-wgt .row-details {
    margin-left: 15px;
  }
}
.emp-profile-wgt .row-details .emp-name {
  color: #00afd1;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 3px;
  padding-top: 10px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .emp-profile-wgt .row-details .emp-name {
    font-size: 16px;
  }
}
.emp-profile-wgt .row-details .emp-title, .emp-profile-wgt .row-details .sm {
  font-size: 12px;
  font-style: italic;
  color: #9e9e9e;
}
@media (max-width: 479px) {
  .emp-profile-wgt .row-details .emp-title, .emp-profile-wgt .row-details .sm {
    font-size: 10px !important;
  }
}
.emp-profile-wgt .row-details .emp-program {
  color: #9e9e9e;
  font-style: normal;
  display: inline-block;
  border: 1px solid #9e9e9e;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 4px;
  font-size: 12px;
}
.emp-profile-wgt .row-details label.update-date {
  padding-top: 10px;
}
.emp-profile-wgt .row-details .hire-date {
  color: #cccccc;
}
.emp-profile-wgt .row-details .sm, .emp-profile-wgt .row-details .hire-date {
  font-size: 12px;
}

.lightbox-content {
  padding-top: 0 !important;
}

.complaint-lightbox .lightbox-content.complaint-view {
  padding-right: 20px;
}

@media only screen and (min-width: 990px) {
  .light-box.light-box-lg {
    width: 600px;
    margin-left: -300px;
  }
}

.padding-bottom-5 {
  margin-bottom: 5px;
}

.subHeading {
  color: #F99D00 !important;
  padding: 10px 0 0 0;
}

.emp-row {
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 25px !important;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  box-sizing: border-box;
}
@media only screen and (min-width: 990px) {
  .emp-row {
    padding: 15px;
  }
}

.emp-row:nth-child(even) {
  background: #fafafa;
}

.emp-details {
  max-width: 140px;
}
@media only screen and (min-width: 768px) {
  .emp-details {
    max-width: none;
  }
}

.emp-row .jd-status p.date {
  color: #f89c1b;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  top: 15px;
  right: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  .emp-row .jd-status p.date {
    font-size: 13px;
  }
}

.row-details {
  box-sizing: border-box;
}
@media (max-width: 479px) {
  .row-details {
    padding-right: 60px !important;
  }
}

.emp-program {
  color: #aaa;
  font-style: normal;
  display: inline-block;
  border: 1px solid #aaa;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 4px;
  font-size: 12px;
}

.emp-comment {
  color: #009DBC;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .emp-comment {
    font-size: 14px;
  }
}

.emp-comment-time {
  color: #9e9e9e;
  font-size: 12px;
  font-style: italic;
  line-height: 1;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .emp-comment-time {
    font-size: 14px;
  }
}

tbody {
  border-bottom: none !important;
}

.fieldwrap-margin {
  margin-top: 1px;
}

.fapencil-spacing {
  padding-right: 5px;
}

.find-emp {
  padding-left: 0 !important;
  width: 100% !important;
  padding-top: 10px !important;
  padding-right: 0 !important;
}

.form-filter {
  display: block;
  color: #555;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-option {
  margin-left: 5px;
  margin-right: 5px;
  /*width:91%;*/
}
@media only screen and (min-width: 768px) {
  .filter-option {
    /*width: auto;*/
  }
}

.attendance-details .btn-attendance-clear {
  background-color: #ffffff !important;
  border: 1px solid black;
  color: #333333 !important;
  font-weight: 700;
  border-radius: 4px;
  border-color: #333333 !important;
}
.attendance-details .btn-attendance-clear-desktop {
  padding: 10px 33px 10px 33px !important;
  margin: 5px 30px 5px 0;
}
.attendance-details .btn-attendance-clear-mobile {
  padding: 10px 20px;
}
.attendance-details .btn-attendance-filter {
  background-color: #393f44 !important;
  border: 1px solid #393f44;
  color: #ffffff !important;
  font-weight: 700;
  border-radius: 4px;
}
.attendance-details .btn-attendance-filter-desktop {
  padding: 10px 30px 10px 30px !important;
  margin: 5px 10px 5px 0;
}
.attendance-details .btn-attendance-filter-mobile {
  padding: 10px 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .attendance-details .width-attendance-details-align {
    width: 22%;
    z-index: 0;
  }
}
@media (min-width: 1167px) {
  .attendance-details .width-attendance-details-align {
    width: 22%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .attendance-details .width-safety-details-align {
    width: 30% !important;
    z-index: 0;
  }
}
@media (min-width: 1167px) {
  .attendance-details .width-safety-details-align {
    width: 22%;
  }
}

.filter-button {
  border: 0;
  color: #fff !important;
  margin-right: 5px;
  margin-top: 10px;
  width: 92%;
}
@media only screen and (min-width: 768px) {
  .filter-button {
    margin-left: 5px;
    width: auto;
  }
}

.light-box-employees {
  overflow: auto;
  max-height: 500px;
}

.pri-color {
  background: #00AFD1 !important;
  color: #ffffff !important;
}

.filter-options-panel {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  background-color: white;
}

.panel-filter {
  margin: 0;
  border: none;
  border-radius: 0;
}

.i-style {
  margin-right: 5px;
  padding-top: 20px;
  color: #9e9e9e;
}

.mobile-padding {
  padding-top: 10px;
}

.mobile-issuetype-btn {
  /*width:100%;*/
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px !important;
     /*@include screen('mobile') {
          width: auto;
		}*/
}
@media (max-width: 479px) {
  .mobile-issuetype-btn {
    font-size: 11px;
  }
}

.file-upload-wrap {
  width: 300px;
  margin-top: 20px;
}
.file-upload-wrap .file-upload {
  margin: 10px 0 0 15px;
  border: 1px solid #e8e8e8;
  width: 90px;
  padding: 20px 10px 10px 10px;
  height: 90px;
  color: #00AFD1;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: #b5dbe8;
  cursor: pointer;
  float: left;
}
.file-upload-wrap .file-upload i {
  font-size: 30px;
}

.align-btns {
  float: right;
}
@media (max-width: 479px) {
  .align-btns {
    float: none;
    text-align: center;
  }
}

.btn-grey {
  background-color: #999c9e;
  color: #ffffff !important;
  font-weight: 600;
}
@media (max-width: 479px) {
  .btn-grey {
    margin-right: 10px;
    width: 35%;
    padding: 15px 12px;
  }
}

.btn-black {
  background-color: #393f44;
  color: #ffffff !important;
  font-weight: 600;
}
@media (max-width: 479px) {
  .btn-black {
    width: 35%;
    padding: 15px 12px;
  }
}

.btn-black[disabled] {
  background-color: #2f2930;
  color: #ffffff !important;
  font-weight: bold;
}

.box-title {
  padding-right: 20px !important;
  margin-bottom: 0 !important;
}
@media only screen and (min-width: 768px) {
  .box-title {
    font-size: 24px;
  }
}

.close-btn {
  padding-right: 0;
  position: absolute;
  top: 15px;
}
.close-btn .fa {
  font-size: 20px;
}

.date input {
  padding: 6px 10px;
}

.employee .emp-details {
  margin-left: 60px;
  overflow-wrap: break-word;
}
.employee .emp-details .emp-result {
  width: 90px;
  font-size: 12px;
  margin: 75px 0 0;
  text-align: center;
  color: #ffffff !important;
  padding: 2px 5px;
  border-radius: 2px;
}

.scroll-content {
  overflow: auto;
  max-height: 500px;
}

.mobile-hide {
  display: none;
}
@media only screen and (min-width: 768px) {
  .mobile-hide {
    display: block;
  }
}

.desktop-hide {
  display: block;
}
@media only screen and (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}

.run-style {
  font-size: 12px !important;
  font-weight: bold;
}

.mobile-icon {
  position: absolute;
  top: 25px;
  right: 5px;
}
@media only screen and (min-width: 768px) {
  .mobile-icon {
    position: relative;
    top: auto;
    right: auto;
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none !important;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.margin-for-btn {
  margin-left: 20px;
  margin-top: 15px;
}

.cxl-btn {
  margin-right: 35px !important;
  background-color: #565050;
  color: #ffffff;
  font-size: 12px !important;
  font-weight: bold;
  padding: 7px 25px 7px 25px;
}
.cxl-btn:hover {
  background-color: #353333;
  color: #ffffff;
}

.emp-profile-well {
  margin: 0;
  padding: 30px 20px;
}
@media (max-width: 479px) {
  .emp-profile-well {
    padding-left: 15px !important;
  }
}

.attach-btn {
  padding: 9px 5px;
}

.margin-l-0-r-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-align {
  margin-left: 0;
  margin-right: 5px;
}

.no-padding {
  padding: 0;
}

.padding-r-5 {
  padding-right: 5px;
  margin-top: 20px;
}

.Conudct-Type {
  color: #4699c9;
  font-weight: 350;
  font-size: medium;
  margin-bottom: 25px;
}

.margin-bottom {
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-3 {
  margin: 2px 2px;
}

.bg-midgrey {
  background-color: #8c8f92;
  color: #ffffff !important;
}

.text-center {
  text-align: center;
}

.conduct-edit {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  padding-right: 12px;
}

@media (max-width: 479px) {
  .padding-mobile {
    padding-left: 15px;
  }
}

@media (max-width: 479px) {
  .bc-mobile {
    background-color: #e8e8e8;
  }
}

.label-font {
  color: #F99D00 !important;
}

.padding-for-tab {
  /*@media only screen and (max-width: 479px) {
      padding: 0 !important;
  }
  @media only screen and (max-width: 768px) {
      padding: 0 30px 0 15px;
  }*/
}
@media (max-width: 479px) {
  .padding-for-tab {
    padding-left: 15px !important;
  }
}

.margin-b-20 {
  margin-bottom: 20px;
}

.sub-head {
  float: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 30px;
  color: #2f2930;
  border-bottom: none !important;
}
@media (min-width: 768px) {
  .sub-head .left {
    padding-left: 5px;
  }
}

/*# sourceMappingURL=attendance.css.map */
