@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.entryview-modal {
  padding-bottom: 20px;
}
.entryview-modal .mobile .related {
  line-height: 2;
}
.entryview-modal .mobile .section-borders {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #e8e8e8;
}
.entryview-modal .mobile .section-borders .align {
  margin-left: 15px;
  margin-right: 15px;
}
.entryview-modal .mobile .mobile-hr {
  margin-left: -15px;
  margin-right: -15px;
}
.entryview-modal .anchor-style {
  line-height: 2;
}
.entryview-modal .header {
  margin: 0 15px 20px 15px;
}
@media (min-width: 1167px) {
  .entryview-modal .header {
    margin: 0 15px 20px 30px;
  }
}
.entryview-modal .header .module-icon {
  font-size: 35px;
  padding: 10px 8px;
  background: #F99D00;
  color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.entryview-modal .header .fa-close {
  color: #999c9e;
  font-size: 18px;
  padding: 15px;
}
.entryview-modal .right-border {
  border-right: 1px solid #e8e8e8;
}
.entryview-modal .left-border {
  border-left: 1px solid #e8e8e8;
}
.entryview-modal .pop-up-title {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
}
.entryview-modal .left-section {
  font-size: 14px;
}
.entryview-modal .italic-bold {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.entryview-modal .btn-edit {
  background: #f5f5f5;
  padding: 5px 8px !important;
  color: #403841;
  font-weight: bold;
  font-size: 10px;
  box-shadow: 1px 1px 1px #cccccc;
}
@media (min-width: 768px) {
  .entryview-modal .btn-edit {
    font-size: 12px;
    padding: 8px 20px !important;
  }
}
.entryview-modal .bold-text {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
}
.entryview-modal .date-field {
  line-height: 29px;
}
.entryview-modal .bold-text-right {
  font-size: 12px;
  font-weight: bold;
}
.entryview-modal .text-space {
  line-height: 1.6;
}
.entryview-modal .sub-head-text {
  color: #F99D00;
  font-size: 14px;
  font-weight: 600;
}
.entryview-modal .mobile-padding-horizontal-0 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .entryview-modal .mobile-padding-horizontal-0 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.entryview-modal .relatedTo {
  color: #8c8f92;
  display: inline-block;
  text-align: center;
  background: #f5f5f5;
  padding: 4px 4px;
  border-radius: 3px;
  margin-bottom: 4px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 1167px) {
  .entryview-modal .relatedTo {
    font-size: 10px;
    padding: 4px 8px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .entryview-modal .relatedTo.fit {
    width: 65px;
  }
}
.entryview-modal .relatedTo.fits {
  width: 75px;
}
.entryview-modal .assigned-employee-card {
  background: #F99D00;
  border-radius: 3px;
  padding: 10px;
  width: 85%;
  box-shadow: 1px 1px 1px #cccccc;
  margin-right: 5px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .entryview-modal .assigned-employee-card {
    width: 49%;
  }
}
.entryview-modal .assigned-employee-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.entryview-modal .assigned-employee-card .emp-details {
  padding-left: 10px;
  width: 75%;
  margin-top: 5px;
}
.entryview-modal .assigned-employee-card .emp-details .name {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.entryview-modal .assigned-employee-card .emp-details .job {
  font-style: italic;
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
}
.entryview-modal .reportit .status {
  padding: 15px;
  margin: 0;
  background: #f5f5f5;
}
.entryview-modal .reportit .status .bold-text {
  font-size: 12px;
}
@media (min-width: 1167px) {
  .entryview-modal .reportit .status {
    margin: 0 -15px 15px;
  }
}
.entryview-modal .reportit .tile {
  padding: 2px;
  font-size: 10px;
  text-transform: uppercase;
  background: #f5f5f5;
  color: #999c9e;
  font-weight: 600;
}
.entryview-modal .reportit .square-img {
  height: 100px;
  width: 100px;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
}
@media (min-width: 768px) {
  .entryview-modal .reportit .square-img {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 1167px) {
  .entryview-modal .reportit .square-img {
    width: 200px;
  }
}
.entryview-modal .reportit .square-img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.entryview-modal .reportit .square-img .download-style {
  height: 100%;
  width: 100%;
  font-size: 15px;
  padding-top: 0 !important;
}
@media (min-width: 768px) {
  .entryview-modal .reportit .square-img .download-style {
    padding-top: 35px !important;
  }
}
.entryview-modal .reportit .img-responsive img {
  cursor: pointer;
}
.entryview-modal .reportit .img-responsive img:hover {
  border: 4px solid #f5f5f5;
}
.entryview-modal .link-style {
  line-height: 29px;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .entryview-modal .link-style {
    font-size: 12px;
  }
}
.entryview-modal .attachment-section img {
  width: 100%;
  max-height: 315px;
}

.personnel {
  background: #fff;
}
.personnel .box-score-title {
  padding-bottom: 0;
}
@media (max-width: 479px) {
  .personnel .box-score-title {
    padding-top: 0;
    padding-bottom: 5px;
  }
}
.personnel .box-score-title .buttons-align {
  position: absolute;
  right: 10px;
  top: -59px;
}
@media (min-width: 768px) {
  .personnel .box-score-title .buttons-align {
    position: relative;
    top: 0;
    right: 0;
  }
}
@media (max-width: 479px) {
  .personnel .box-score-title .buttons-align {
    top: -44px;
  }
}
.personnel .box-score-title .btn-add-mobile {
  padding: 10px 12px;
  width: auto;
  margin-right: 8px;
}
@media (min-width: 768px) {
  .personnel .box-score-title .btn-add-mobile {
    width: 200px;
    padding: 12px;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 0;
  }
}
.personnel .box-score-title .plus-button {
  line-height: 1.5;
}
@media (max-width: 479px) {
  .personnel .box-score-title .plus-button {
    margin-right: 0;
  }
}
.personnel .box-score-title .new-entry {
  font-weight: 700;
}
.personnel .box-score-title .down-angle {
  line-height: 1.3;
}
.personnel .bordered-row {
  background-color: #fff;
}
.personnel .bordered-row.bordered-row-top {
  border-top: 1px solid #f5f5f5;
}
.personnel .bordered-row.bordered-row-bottom {
  border-bottom: 1px solid #f5f5f5;
}
.personnel .bordered-row.bordered-row-top-bottom {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
}
.personnel .head-desc {
  padding: 0 20px 10px 5px;
}
@media (max-width: 479px) {
  .personnel .head-desc {
    padding-left: 0;
    padding-right: 10px;
  }
}
.personnel .head-desc p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #2f2930;
  width: 100%;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .personnel .head-desc p {
    width: 70%;
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 30px;
    color: #2f2930;
  }
}
.personnel .head-desc a {
  margin-top: auto;
  font-weight: bold;
  text-transform: capitalize;
}
.personnel .head-desc .add-btn {
  padding: 8px 12px;
  background-color: #9FC62D;
  border-radius: 4px;
  margin-top: 5px;
  color: #ffffff;
  border-color: #9FC62D;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .personnel .head-desc .add-btn {
    padding: 12px 20px;
    width: 200px;
  }
}
.personnel .head-desc .btn-mobile-align {
  position: absolute;
  right: 10px;
  top: 65px;
}
.personnel .btn-delete {
  background: #E93D42;
  border-radius: 5px;
  border-color: #E93D42;
  text-align: center;
  color: #ffffff;
  margin: 30px 5px 10px 0;
  padding: 5px 10px;
}
@media only screen and (min-width: 990px) {
  .personnel .btn-delete {
    margin: 0 85px 0 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
.personnel .top-table {
  margin-bottom: 0;
}
.personnel .top-table th {
  border-bottom-width: 1px;
  border-color: #e8e8e8;
}
.personnel .top-table th:first-of-type {
  width: 0;
}
@media (min-width: 768px) {
  .personnel .top-table th:first-of-type {
    width: 8.5%;
  }
}
.personnel .top-table th:nth-of-type(2) {
  width: 33%;
  text-align: center;
  padding: 15px;
}
@media (min-width: 1167px) {
  .personnel .top-table th:nth-of-type(2) {
    width: 50%;
  }
}
.personnel .top-table th:nth-of-type(2) .total-desc {
  font-size: 13px;
  color: #9e9e9e;
  font-weight: 300;
}
.personnel .top-table th:nth-of-type(2) .total {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #403841 !important;
}
.personnel .top-table th:nth-of-type(3) {
  padding: 15px 10px;
}
@media (min-width: 768px) {
  .personnel .top-table th:nth-of-type(3) {
    padding-right: 20px;
    padding: 15px;
  }
}
.personnel .top-table th:nth-of-type(3) .search-icon {
  font-size: 25px;
  position: relative;
  margin-top: -35px;
  margin-right: 12px;
  color: #00AFD1;
}
.personnel .top-table th input[type=text] {
  height: 45px;
}
.personnel .top-table th h3.position-profile-completed a {
  color: #403841;
}
.personnel .top-table th h3.position-profile-completed a:hover {
  color: #00AFD1;
}
.personnel .box-score-table thead {
  background: #ffffff;
}
.personnel .box-score-table > thead > tr.metrics {
  background: #ffffff;
  height: 90px;
}
.personnel .box-score-table > thead > tr.metrics th a {
  font-size: 12px;
  color: #2f2930;
  white-space: nowrap;
  text-transform: uppercase;
}
.personnel .box-score-table > thead > tr.metrics th a:hover {
  color: #00AFD1;
}
.personnel .box-score-table > thead > tr.metrics th .sort {
  display: block !important;
  cursor: pointer;
  padding-top: 5px;
  height: 45px;
}
@media only screen and (max-width: 1199px) {
  .personnel .box-score-table > thead > tr.metrics th .sort {
    height: 40px;
    width: 50px;
    margin: 0 auto;
  }
}
.personnel .box-score-table > thead > tr.metrics th .fa-caret-up:before, .personnel .box-score-table > thead > tr.metrics th .fa-caret-down:before {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .personnel .box-score-table > thead > tr.metrics th .fa-caret-up:before, .personnel .box-score-table > thead > tr.metrics th .fa-caret-down:before {
    display: block;
  }
}
.personnel .box-score-table > thead > tr.metrics .selected {
  color: #9e9e9e;
  font-size: 30px;
}
.personnel .box-score-table > thead > tr.metrics .not-selected {
  color: #e8e8e8;
  font-size: 30px;
}
.personnel .box-score-table > thead > tr.metrics .sort-selected-text {
  color: #00AFD1 !important;
}
.personnel .box-score-table > thead > tr.metrics .stick {
  min-width: inherit !important;
  max-width: inherit !important;
}
.personnel .box-score-table > thead > tr.metrics .stick .fa-caret-up:before, .personnel .box-score-table > thead > tr.metrics .stick .fa-caret-down:before {
  display: block;
}
.personnel .box-score-table > thead > tr.team-stats {
  font-weight: bold;
  background-color: #f5f5f5;
}
@media (min-width: 1167px) {
  .personnel .box-score-table > thead > tr.team-stats {
    background-color: #ffffff;
  }
}
@media (max-width: 479px) {
  .personnel .box-score-table > thead > tr.team-stats .stick {
    min-width: 128px !important;
    max-width: 128px !important;
  }
}
@media only screen and (min-width: 479px) and (max-width: 769px) {
  .personnel .box-score-table > thead > tr.team-stats .stick {
    min-width: 500px !important;
    max-width: 500px !important;
  }
}
.personnel .box-score-table > thead > tr.team-stats th {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.personnel .box-score-table > thead > tr.team-stats th:nth-of-type(2) {
  min-width: 100px;
}
.personnel .box-score-table > thead > tr.team-stats th:nth-of-type(2) .total {
  font-size: 20px;
  font-weight: bold;
  color: #403841 !important;
}
@media (min-width: 768px) {
  .personnel .box-score-table > thead > tr.team-stats th:nth-of-type(2) .total {
    width: 132px;
  }
}
@media only screen and (min-width: 1168px) {
  .personnel .box-score-table > thead > tr.team-stats th:nth-of-type(2) {
    width: 220px;
  }
}
@media (min-width: 768px) {
  .personnel .box-score-table > thead > tr.team-stats th:nth-of-type(2) {
    padding-left: 30px;
    width: 260px !important;
  }
}
.personnel .box-score-table > thead > tr.team-stats th:nth-of-type(1) {
  font-size: 14px;
  vertical-align: middle;
  padding-left: 15px;
}
@media only screen and (min-width: 1168px) {
  .personnel .box-score-table > thead > tr.team-stats th:nth-of-type(1) .total {
    width: 95px;
  }
}
@media (max-width: 320px) {
  .personnel .box-score-table > thead > tr.team-stats th:nth-of-type(1) {
    padding-left: 8px !important;
  }
}
@media (min-width: 768px) {
  .personnel .box-score-table > thead > tr.team-stats th:nth-of-type(1) {
    padding-left: 8px;
  }
}
.personnel .box-score-table > thead > tr.team-stats th p {
  font-size: 12px;
  color: #9e9e9e;
  font-weight: 300;
}
.personnel .box-score-table > thead > tr > th {
  border-bottom-width: 1px;
  border-color: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.personnel .box-score-table > thead > tr > th span {
  display: inline-block;
}
.personnel .box-score-table > thead > tr > th span.prev {
  padding-right: 18px;
  position: absolute;
  left: 0;
  color: #00AFD1;
  cursor: pointer;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .personnel .box-score-table > thead > tr > th span.prev {
    position: relative;
  }
}
.personnel .box-score-table > thead > tr > th span.next {
  padding-left: 18px;
  position: absolute;
  right: 0;
  color: #00AFD1;
  cursor: pointer;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .personnel .box-score-table > thead > tr > th span.next {
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .personnel .box-score-table > thead > tr > th span {
    display: none;
  }
}
.personnel .box-score-table > thead > tr > th:nth-of-type(2) {
  text-align: left;
}
@media (min-width: 768px) {
  .personnel .box-score-table > thead > tr > th:nth-of-type(2) {
    padding-left: 30px;
  }
}
.personnel .box-score-table > thead > tr > th:nth-of-type(2) .sort {
  padding-left: 20px;
}
@media (min-width: 991px) {
  .personnel .box-score-table > thead > tr > th {
    border-bottom-width: 1px;
    border-color: #e8e8e8;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
    text-align: center;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
  .personnel .box-score-table > thead > tr > th.visible {
    left: 0 !important;
    width: auto !important;
  }
}
.personnel .box-score-table > thead > tr > th.visible {
  width: 70%;
  position: absolute;
  left: 15%;
  padding-bottom: 0;
  border-bottom: none;
}
.personnel .box-score-table > thead > tr > th.visible a {
  width: 112px;
  text-align: center;
}
@media (min-width: 768px) {
  .personnel .box-score-table > thead > tr > th {
    padding-bottom: 35px;
  }
  .personnel .box-score-table > thead > tr > th.visible {
    position: absolute;
    left: 15%;
    padding-bottom: 0;
    border-bottom: none;
  }
  .personnel .box-score-table > thead > tr > th.visible a {
    width: 112px;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .personnel .box-score-table > thead > tr > th {
    padding-bottom: 35px;
  }
  .personnel .box-score-table > thead > tr > th.visible {
    width: 70%;
    position: absolute;
    left: 15%;
    padding-bottom: 0;
    border-bottom: none;
  }
  .personnel .box-score-table > thead > tr > th.visible a {
    width: 112px;
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .personnel .box-score-table > thead > tr > th {
    padding-bottom: 35px;
  }
  .personnel .box-score-table > thead > tr > th.visible {
    width: 70%;
    position: absolute;
    left: 15%;
    padding-bottom: 0;
    border-bottom: none;
  }
  .personnel .box-score-table > thead > tr > th.visible a {
    width: 112px;
    display: inline-block;
    text-align: center;
  }
}
.personnel .box-score-table > tbody {
  padding-left: 20px;
  padding-right: 20px;
}
.personnel .box-score-table > tbody > tr.employee-row {
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.personnel .box-score-table > tbody > tr.employee-row.loading {
  opacity: 0.5;
}
@media only screen and (min-width: 769px) and (max-width: 990px) {
  .personnel .box-score-table > tbody > tr.employee-row .training {
    float: none;
    padding-left: 200px;
  }
}
.personnel .box-score-table > tbody > tr.employee-row td {
  font-weight: 700;
  vertical-align: middle;
}
@media (max-width: 479px) {
  .personnel .box-score-table > tbody > tr.employee-row td .progress {
    width: 80px;
    float: right;
  }
}
@media only screen and (min-width: 479px) and (max-width: 1199px) {
  .personnel .box-score-table > tbody > tr.employee-row td .progress {
    width: 100px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .personnel .box-score-table > tbody > tr.employee-row td .progress {
    width: 100px;
    float: none;
  }
}
.personnel .box-score-table > tbody > tr.employee-row td.emp-profile-complete {
  padding-top: 15px;
}
@media (min-width: 1167px) {
  .personnel .box-score-table > tbody > tr.employee-row td.emp-profile-complete {
    padding-top: 20px !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .personnel .box-score-table > tbody > tr.employee-row td.emp-profile-complete {
    padding-right: 0;
    padding-top: 15px;
  }
}
.personnel .box-score-table > tbody > tr.employee-row td.emp-profile-incomplete {
  padding-top: 15px;
}
@media (min-width: 1167px) {
  .personnel .box-score-table > tbody > tr.employee-row td.emp-profile-incomplete {
    padding-top: 30px !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .personnel .box-score-table > tbody > tr.employee-row td.emp-profile-incomplete {
    padding-right: 0;
    padding-top: 20px;
  }
}
.personnel .box-score-table > tbody > tr.employee-row td:nth-of-type(1) {
  vertical-align: top;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 0;
}
@media (max-width: 320px) {
  .personnel .box-score-table > tbody > tr.employee-row td:nth-of-type(1) {
    padding-left: 8px;
  }
}
.personnel .box-score-table > tbody > tr.employee-row td:nth-of-type(2) {
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}
@media (max-width: 320px) {
  .personnel .box-score-table > tbody > tr.employee-row td:nth-of-type(2) {
    padding-left: 8px;
  }
}
@media (min-width: 1167px) {
  .personnel .box-score-table > tbody > tr.employee-row td:nth-of-type(2) {
    padding: 30px 5px 30px 15px !important;
    width: 260px !important;
  }
}
@media (min-width: 768px) {
  .personnel .box-score-table > tbody > tr.employee-row td:nth-of-type(2) {
    padding-left: 0;
  }
}
.personnel .box-score-table > tbody > tr > td {
  border-top: 0;
  text-align: center;
  font-family: 'Open Sans';
}
.personnel .box-score-table > tbody > tr > td[ng-click] {
  text-decoration: underline;
}
.personnel .box-score-table > tbody > tr > td[ng-click]:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}
.personnel .box-score-table > tbody > tr > td.description {
  text-align: left;
}
.personnel .box-score-table > tbody > tr > td.description .job-title {
  padding-right: 0;
  line-height: 1;
}
@media (min-width: 768px) {
  .personnel .box-score-table > tbody > tr > td.description .job-title {
    padding-right: 5%;
    line-height: 1.7;
  }
}
.personnel .box-score-table > tbody > tr > td.description .hired-date {
  padding-left: 0;
  font-style: italic;
  line-height: 1;
}
@media (min-width: 768px) {
  .personnel .box-score-table > tbody > tr > td.description .hired-date {
    padding-left: 5%;
    line-height: 1.7;
  }
}
.personnel .box-score-table > tbody > tr > td.description .line-styles {
  color: #9e9e9e;
}
.personnel .box-score-table > tbody > tr > td.description .double-angle-right-icon {
  font-size: 12px;
  padding-left: 5px;
}
.personnel .box-score-table > tbody > tr > td.description .report-card-link {
  width: 111%;
  color: #F99D00;
}
.personnel .box-score-table > tbody > tr > td.description .report-card-link a {
  color: #F99D00;
}
.personnel .box-score-table > tbody > tr > td.description:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}
.personnel .box-score-table > tbody > tr > td.description[ng-click] {
  text-decoration: none;
}
.personnel .box-score-table > tbody > tr > td.description h4 {
  color: #00AFD1;
  font-size: 14px;
  margin: 0;
  width: 110%;
}
@media (min-width: 1167px) {
  .personnel .box-score-table > tbody > tr > td.description h4 {
    font-size: 16px;
    width: 100%;
  }
}
@media only screen and (min-width: 1168px) {
  .personnel .box-score-table > tbody > tr > td.description h4 {
    width: auto;
  }
}
@media (max-width: 991px) {
  .personnel .box-score-table > tbody > tr > td.description div {
    width: 100%;
    font-size: 12px;
    float: left;
  }
}
.personnel .box-score-table > tbody > tr > td.quality-score .fa-stack {
  font-size: 20px;
}
.personnel .box-score-table > tbody > tr > td.quality-score .fa-stack .fa-stack-2x {
  border: 2px solid;
}
.personnel .box-score-table > tbody > tr > td.quality-score .fa-stack .fa-stack-1x {
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: bold;
}
.personnel .box-score-table > tbody > tr > td.profile-image[ng-click] {
  text-decoration: none;
}
.personnel .box-score-table > tbody > tr > td.profile-image:not(.profile-image, .description) {
  text-decoration: underline;
}
.personnel .box-score-table > tbody > tr > td.profile-image:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}
.personnel .box-score-table > tbody > tr > td.profile-image .profile-incomplete {
  position: relative;
  top: -24px;
  right: -25px;
  color: #F99D00;
  font-size: 25px;
}
@media (min-width: 1167px) {
  .personnel .box-score-table > tbody > tr > td.profile-image .profile-incomplete {
    right: -28px;
  }
}
.personnel .box-score-table > tbody > tr > td .pos-icons a > .fa-stack {
  position: relative;
  color: #9e9e9e;
}
@media (min-width: 1167px) {
  .personnel .box-score-table > tbody > tr > td .pos-icons a > .fa-stack {
    margin-right: 10px;
    font-size: 22px;
  }
}
.personnel .box-score-table > tbody > tr > td .pos-icons a > .fa-stack:hover, .personnel .box-score-table > tbody > tr > td .pos-icons a > .fa-stack:active {
  color: #403841;
}
.personnel .box-score-table > tbody > tr > td .pos-icons a > .fa-stack .top-icon {
  position: absolute;
  font-size: 10px;
  bottom: -5px;
  right: -5px;
}
@media (min-width: 1167px) {
  .personnel .box-score-table > tbody > tr > td .pos-icons a > .fa-stack .top-icon {
    font-size: 14px;
    right: -10px;
  }
}
.personnel .box-score-table .circle-img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
@media only screen and (min-width: 1168px) {
  .personnel .box-score-table .circle-img {
    width: 80px;
    height: 80px;
  }
}
.personnel .box-score-modal .start-date {
  font-weight: 600;
  font-style: italic;
}
.personnel .box-score-modal .btn-done {
  background-color: #8d8a8a;
  color: #ffffff;
  font-weight: 600;
}
.personnel .box-score-modal .panel {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.personnel .box-score-modal .panel .panel-heading {
  border-bottom: 1px solid #cccccc;
}
.personnel .box-score-modal .panel .panel-heading .top-right-style {
  text-transform: uppercase;
}
.personnel .box-score-modal .panel .panel-body {
  padding-top: 20px;
  padding-bottom: 30px;
}
.personnel .box-score-modal .panel .panel-body .header-style {
  font-weight: 500;
}
.personnel .box-score-modal .panel .panel-body .description {
  font-weight: 500;
}
.personnel .box-score-modal .panel .panel-footer {
  background: transparent;
  border-top: 0;
}
.personnel .box-score-modal .panel .panel-footer .reason-style {
  background-color: #eaeaea;
  padding: 8px;
  color: #9e9e9e;
  font-weight: 600;
}
.personnel .box-score-modal .panel .panel-footer .edit-button {
  font-style: italic;
  color: #9e9e9e;
  font-weight: 600;
}
.personnel .box-score-modal .panel .panel-footer .edit-button:hover {
  background-color: #ffffff;
}
.personnel .box-score-modal .box-score-modal-empty .icon-wrap {
  text-align: center;
  padding-bottom: 20px;
}
.personnel .box-score-modal .box-score-modal-empty .icon-wrap i {
  color: #F99D00;
  font-size: 68px;
}
.personnel .box-score-modal .box-score-modal-empty p {
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 16px;
}
.personnel .box-score-modal .box-score-modal-content {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.personnel .box-score-modal .box-score-modal-content .box-score-modal-item {
  padding: 10px;
}
.personnel .type-chart-legend {
  width: 100%;
  font-size: 12px;
  padding: 2px 0;
  cursor: pointer;
}

.personnel-index-common {
  padding: 0 15px 0 15px;
}
.personnel-index-common .head-desc {
  padding: 0 20px 0 5px;
  color: #2f2930;
  border-bottom: none !important;
}
@media (max-width: 479px) {
  .personnel-index-common .head-desc {
    padding-left: 0;
  }
}
.personnel-index-common .head-desc p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #2f2930;
  width: 100%;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .personnel-index-common .head-desc p {
    width: 70%;
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 30px;
    color: #2f2930;
  }
}
.personnel-index-common .head-desc .add-btn {
  padding: 12px 21px;
  background-color: #9FC62D;
  border-radius: 4px;
  margin-top: 5px;
  color: #ffffff;
  width: 200px;
  font-weight: bold;
  text-transform: capitalize;
  border: none;
}
.personnel-index-common .card-body-content .employee-img {
  border: 3px solid #e8e8e8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #ffffff;
}
.personnel-index-common .card-body-content .employee-img.fail {
  background-color: #E93D42;
}
.personnel-index-common .card-body-content .employee-img.success {
  background-color: #9FC62D;
}
.personnel-index-common .card-body-content .employee-img.professionalism {
  text-align: center;
  border: none;
}
.personnel-index-common .card-body-content .employee-img.professionalism .prof-icon-style {
  line-height: 47px;
  font-size: 27px;
}
.personnel-index-common .card-body-content .overlap-div {
  margin-left: -10px;
}
.personnel-index-common .card-body-content .overlap-div .overlap-image {
  background-color: #ffffff;
}
.personnel-index-common .card-body-content .employee-section {
  position: relative;
  margin-top: 6px;
  margin-left: 8px;
  width: 60%;
}
.personnel-index-common .card-body-content .employee-section .name {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
.personnel-index-common .card-body-content .no-comment {
  font-style: italic;
  font-weight: 400;
  color: #999c9e;
}
.personnel-index-common .card-footer-content .link-text-style:hover {
  text-decoration: underline;
}
.personnel-index-common .align-btns-open {
  position: relative;
  margin-top: -52px;
  right: 0;
}
.personnel-index-common .align-btns-open .add-btn-mobile {
  background-color: #9FC62D;
  border: none;
  margin-left: 5px;
  padding: 8px 12px 6px 12px;
}
.personnel-index-common .align-btns-open .add-btn-mobile .fa-plus {
  padding: 5px 2px 0 2px;
}
.personnel-index-common .page-data-align {
  overflow: hidden;
}
.personnel-index-common .page-data-align .page-content {
  padding: 0;
  background-color: #f5f5f5;
}
.personnel-index-common .page-data-align .page-content .recent {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1167px) {
  .personnel-index-common .page-data-align .page-content .recent {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 320px) {
  .personnel-index-common .page-data-align .page-content .recent {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.personnel-index-common .page-data-align .page-content .recent .header {
  font-size: 22px;
  color: #2f2930;
  font-weight: 300;
}
@media (max-width: 320px) {
  .personnel-index-common .page-data-align .page-content .recent .mobile-style {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.personnel-index-common .page-data-align .page-content .recent-mobile {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
@media (min-width: 768px) {
  .personnel-index-common .page-data-align .page-content .recent-mobile {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
.personnel-index-common .page-data-align .page-content .recent-mobile .header {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 22px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .personnel-index-common .page-data-align .page-content .recent-mobile .header {
    padding-left: 15px !important;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .personnel-index-common .page-data-align .page-content .recent-mobile .mobile-view-cards {
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (min-width: 768px) {
  .personnel-index-common .page-data-align .page-content .recent-mobile .mobile-view-cards .card-style {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
  }
}
.personnel-index-common .page-data-align .page-content .charts {
  background-color: #ffffff;
  padding-left: 15px;
}
@media (min-width: 1167px) {
  .personnel-index-common .page-data-align .page-content .charts {
    padding-left: 0;
  }
}
@media (max-width: 320px) {
  .personnel-index-common .page-data-align .page-content .charts {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.personnel-index-common .page-data-align .page-content .charts .mob-align {
  padding-left: 15px;
  padding-right: 15px;
}
.personnel-index-common .page-data-align .page-content .charts .mob-align .pie-chart-align {
  padding-top: 10px;
}
@media (min-width: 1167px) {
  .personnel-index-common .page-data-align .page-content .charts .mob-align .pie-chart-align {
    padding-top: 30px !important;
  }
}
@media (min-width: 768px) {
  .personnel-index-common .page-data-align .page-content .charts .mob-align .pie-chart-align {
    padding-top: 20px;
  }
}
.personnel-index-common .page-data-align .page-content .charts .mob-align .pie-chart-align .count-align {
  position: relative;
  text-align: center;
  top: -195px;
  width: 50%;
  margin: 0 auto;
}
.personnel-index-common .page-data-align .page-content .charts .mob-align .pie-chart-align .count-align .total-count {
  font-size: 3.571rem;
  font-weight: 700;
}
.personnel-index-common .page-data-align .page-content .charts .mob-align .pie-chart-align .count-align .sub-title {
  font-size: 1rem;
  position: relative;
  top: -15px;
}
.personnel-index-common .page-data-align .page-content .charts .mob-align .personnel-pie-legend {
  position: relative;
  margin-top: -90px;
}
.personnel-index-common .page-data-align .page-content .charts .panel {
  border: none;
  border-radius: unset;
  box-shadow: none;
}
.personnel-index-common .page-data-align .page-content .charts .panel .panel-header-txt {
  font-size: 22px;
  font-weight: 300;
  color: #2f2930;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1900px) {
  .personnel-index-common .page-data-align .page-content .charts .panel .panel-header-txt .align-size {
    position: absolute;
    top: 33px;
    left: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1980px) {
  .personnel-index-common .page-data-align .page-content .charts .panel .panel-header-txt .align-size.professionalism {
    position: absolute;
    top: 33px;
    left: 15px;
  }
}
.personnel-index-common .page-data-align .page-content .charts .panel .panel-header-subtext {
  font-size: .857rem;
  font-style: italic;
  color: #9e9e9e;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .panel {
  background-color: #ffffff;
  padding-top: 20px;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .panel .panel-header-txt {
  border-bottom: none;
  margin-bottom: 0;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1167px) {
  .personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head {
  height: 25px;
  background-color: #9e9e9e;
  font-size: 0.714em;
  font-weight: 600;
  color: #ffffff;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head th {
  padding: 0;
  height: 25px;
  vertical-align: middle;
  text-transform: uppercase;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head th .angle-style {
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: 1px;
  cursor: pointer;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head th.left-title {
  padding-left: 25px;
  text-align: left;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head th.right-content {
  text-align: right;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head th.right-content.last {
  padding-right: 25px;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head th.right-content.mobile-last {
  padding-right: 25px;
}
@media (min-width: 1167px) {
  .personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .head th.right-content.mobile-last {
    padding-right: 0;
  }
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body {
  border: 1px solid #e8e8e8;
  border-top: 0;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row {
  height: 45px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 0.857em;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td {
  padding: 0;
  border: 0;
  height: 43px;
  vertical-align: middle;
}
@media (min-width: 1167px) {
  .personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td {
    height: 45px;
  }
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.left-title {
  padding-left: 25px;
  text-align: left;
  color: #403841;
  font-weight: 600;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.left-title .circle-employee-image {
  width: 30px;
  height: 30px;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.left-title .circle-employee-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.left-title .employee-name {
  line-height: 25px;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.left-title .inactive-employee {
  font-size: 10px;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.data-content {
  text-align: right;
  color: #403841;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.data-content.last {
  padding-right: 25px;
  font-weight: 700;
}
.personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.data-content.mobile-last {
  padding-right: 25px;
}
@media (min-width: 1167px) {
  .personnel-index-common .page-data-align .page-content .charts .viewByEmployee .body-content .table .body .data-row td.data-content.mobile-last {
    padding-right: 0;
  }
}
.personnel-index-common .page-data-align .page-content .recent-desktop {
  padding-left: 5px;
  padding-right: 0;
}
.personnel-index-common .page-data-align .page-content .recent-desktop .header {
  font-size: 22px;
  font-weight: 300;
}
.personnel-index-common .page-data-align .page-content .recent-desktop .card-index {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 320px) {
  .personnel-index-common .page-data-align .page-content .recent-desktop .card-index {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .personnel-index-common .page-data-align .page-content .recent-desktop .card-index {
    padding-left: 15px;
    padding-right: 5px;
  }
}
.personnel-index-common .hline {
  margin: 0 !important;
}
.personnel-index-common #personnelLegendSpot .legend-icon {
  float: left;
  width: 15%;
}
.personnel-index-common #personnelLegendSpot .legend-txt-name {
  padding-right: 0;
  font-size: 11px;
  padding-left: 0;
  padding-top: 4px;
  float: left;
  width: 85%;
}
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .personnel-index-common .relatedTo.conduct {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .personnel-index-common .relatedTo.conduct {
    width: 80%;
  }
}
.personnel-index-common .tag {
  width: 48%;
}
.personnel-index-common .fa-spinner {
  font-size: 1.843rem;
}

.personnel-details-common .personnel-details-panel {
  margin-bottom: 0;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none;
}
.personnel-details-common .personnel-details-panel .panel-header-txt {
  margin: 0 !important;
  border-bottom: 0;
  padding: 0 !important;
  font-size: 22px;
  font-weight: 300;
  color: #2f2930;
  position: relative;
}
@media (min-width: 1167px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt {
    padding-right: 30px !important;
  }
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt {
    padding-right: 35px !important;
    padding-left: 5px !important;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #cccccc;
  }
}
.personnel-details-common .personnel-details-panel .panel-header-txt .filter-search-align {
  width: 100%;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .filter-search-align {
    position: absolute;
    bottom: 15px;
    right: 30px;
  }
}
.personnel-details-common .personnel-details-panel .panel-header-txt .search-field {
  width: 68%;
  float: left;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .search-field {
    width: 25%;
    margin-left: 0;
    float: right;
  }
}
@media (min-width: 1167px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .search-field {
    width: 25% !important;
    padding-right: 0;
  }
}
@media (max-width: 320px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .search-field {
    width: 62%;
  }
}
.personnel-details-common .personnel-details-panel .panel-header-txt .search-field.professionalism {
  width: 75%;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .search-field.professionalism {
    width: 30%;
  }
}
.personnel-details-common .personnel-details-panel .panel-header-txt .search-field .enter-section {
  border-radius: 4px !important;
  height: 40px;
  font-size: 14px;
}
.personnel-details-common .personnel-details-panel .panel-header-txt .search-field .icon-search {
  position: relative;
  z-index: 2;
  color: #00AFD1;
  float: right;
  margin-right: 10px;
  margin-top: -33px;
  font-size: 22px;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .search-field .icon-search {
    margin-top: -33px;
    font-size: 24px;
  }
}
.personnel-details-common .personnel-details-panel .panel-header-txt .back-index {
  padding: 3px 10px;
  margin-left: 15px;
  margin-top: 2px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .back-index {
    margin-top: 25px;
  }
}
.personnel-details-common .personnel-details-panel .panel-header-txt .filter-icon-align {
  padding-right: 10px;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .filter-icon-align {
    padding-right: 0;
  }
}
.personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter {
  background-color: #ffffff !important;
  border: none !important;
  color: #ffffff;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 15px;
  height: 40px;
  width: 30px;
  line-height: 40px;
  float: left;
}
.personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter .fa {
  color: #403841;
  font-size: 23px;
  background-color: #ffffff;
}
.personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter:hover {
  background-color: #ffffff !important;
}
.personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter:focus {
  background-color: #ffffff !important;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter {
    background-color: #403841 !important;
    margin-right: 15px;
    width: 90px;
    float: right;
  }
  .personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter .fa {
    color: #ffffff;
    font-size: 12px;
    background-color: #403841;
  }
  .personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter:hover {
    color: #ffffff;
    background-color: #2f2930 !important;
  }
  .personnel-details-common .personnel-details-panel .panel-header-txt .btn-filter:focus {
    color: #ffffff;
    background-color: #403841 !important;
  }
}
.personnel-details-common .personnel-details-panel .tabs {
  padding: 10px 0;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .tabs {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.personnel-details-common .personnel-details-panel .tabs .active {
  color: #00AFD1;
  border-bottom: 4px solid #00AFD1;
}
.personnel-details-common .personnel-details-panel .tabs .clickable {
  cursor: pointer;
}
.personnel-details-common .personnel-details-panel .tabs .count {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
.personnel-details-common .personnel-details-panel .tabs .count .past-due {
  padding-left: 25px;
}
.personnel-details-common .personnel-details-panel .tabs .title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  white-space: nowrap;
  text-transform: uppercase;
}
.personnel-details-common .personnel-details-panel .btn-clear {
  background-color: #ffffff !important;
  border: 1px solid black;
  color: #2f2930 !important;
  padding: 10px 33px 10px 33px !important;
  font-weight: 700;
  border-radius: 4px;
  border-color: #2f2930 !important;
  margin: 5px 15px 5px 0;
}
.personnel-details-common .personnel-details-panel .btn-filter-sub {
  background-color: #403841 !important;
  border: none !important;
  color: #ffffff !important;
  padding: 10px 30px 10px 30px !important;
  font-weight: 700;
  border-radius: 4px;
  margin: 5px 10px 5px 0;
}
.personnel-details-common .personnel-details-panel .panel-body {
  padding: 0;
}
.personnel-details-common .personnel-details-panel .panel-body .center-cards {
  padding-left: 5px;
  padding-right: 5px !important;
}
@media (min-width: 768px) {
  .personnel-details-common .personnel-details-panel .panel-body .center-cards {
    padding-left: 2px;
    padding-right: 2px !important;
  }
}
@media (min-width: 1167px) {
  .personnel-details-common .personnel-details-panel .panel-body .center-cards {
    padding-left: 5%;
    padding-right: 5% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .personnel-details-common .personnel-details-panel .panel-body .center-cards .card-align {
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media only screen and (min-width: 1251px) {
  .personnel-details-common .personnel-details-panel .panel-body .center-cards .card-align {
    margin-left: 0.6%;
    margin-right: 0.6%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .personnel-details-common .personnel-details-panel .panel-body .center-cards .card-size {
    width: 48%;
  }
}
@media only screen and (min-width: 1251px) {
  .personnel-details-common .personnel-details-panel .panel-body .center-cards .card-size {
    width: 32.13%;
  }
}
.personnel-details-common .personnel-details-panel .panel-body .card-view-style {
  padding-bottom: 25px;
}
@media (max-width: 479px) {
  .personnel-details-common .personnel-details-panel .panel-body .card-view-style {
    padding-right: 5px !important;
  }
}
.personnel-details-common .btn-export {
  background-color: #403841;
  border: none !important;
  color: #ffffff;
  padding: 10px 18px 10px 18px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 20px;
}
.personnel-details-common .btn-export:hover {
  color: #ffffff;
  background-color: #2f2930;
}
.personnel-details-common .btn-export:focus {
  background-color: #00AFD1;
  color: #ffffff;
}
.personnel-details-common .btn-export .glyphicon {
  font-weight: normal;
}
@media (max-width: 479px) {
  .personnel-details-common .btn-export {
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
  }
  .personnel-details-common .btn-export .glyphicon {
    color: #2f2930;
    font-size: 20px;
    background-color: #ffffff;
  }
  .personnel-details-common .btn-export:focus {
    background-color: #ffffff !important;
  }
}

.personnel-popup-common .fa-close {
  cursor: pointer;
}
.personnel-popup-common .display-style {
  display: flex;
}
.personnel-popup-common .header {
  margin-left: 20px !important;
}
@media (max-width: 479px) {
  .personnel-popup-common .header {
    margin-left: 10px !important;
  }
}
.personnel-popup-common .relatedTo.attendance {
  display: table;
}
.personnel-popup-common .no-comment {
  font-style: italic;
  font-weight: 400;
  color: #999c9e;
}
.personnel-popup-common .overall-result-icon {
  font-size: 22px;
}
.personnel-popup-common .overall-result-text {
  position: relative;
  top: -5px;
  padding-left: 5px;
}
.personnel-popup-common .left-section .module-name {
  font-size: 1.571rem;
  font-weight: 600;
}
.personnel-popup-common .left-section .assigned-employee-card {
  width: 90%;
}
.personnel-popup-common .left-section .assigned-employee-card img {
  border: none;
}
.personnel-popup-common .left-section .title {
  font-size: 1rem;
  font-weight: 700;
}
.personnel-popup-common .left-section .classification {
  font-size: 0.714rem;
  font-weight: 700;
  color: #9e9e9e;
}
.personnel-popup-common .right-section .date-field {
  line-height: 29px;
}
.personnel-popup-common .right-section .btn-edit {
  padding: 5px 25px !important;
}
.personnel-popup-common .right-section .sub-head-text {
  font-size: 1.143rem;
  font-weight: 700;
}
.personnel-popup-common .mobile .section-borders {
  margin-right: 0;
}
.personnel-popup-common .mobile .section-borders .btn-edit {
  padding: 5px 15px !important;
}
@media (max-width: 320px) {
  .personnel-popup-common .mobile .section-borders .btn-edit {
    padding: 5px 8px !important;
  }
}
.personnel-popup-common .mobile .section-borders .align {
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 320px) {
  .personnel-popup-common .mobile .section-borders .align {
    margin-left: 10px;
    margin-right: 5px;
  }
}
.personnel-popup-common .mobile .section-borders .assigned-employee-card {
  width: 75%;
}
@media (min-width: 768px) {
  .personnel-popup-common .mobile .section-borders .assigned-employee-card {
    width: 45%;
  }
}
.personnel-popup-common .mobile .pop-up-title {
  font-size: 1.571rem;
  font-weight: 600;
}
.personnel-popup-common .mobile .title {
  font-size: 1rem;
  font-weight: 700;
}
.personnel-popup-common .mobile .classification {
  padding: 4px 8px;
}
.personnel-popup-common .mobile .sub-head-text {
  font-size: 1.143rem;
}
.personnel-popup-common .mobile .link-style {
  font-size: 0.897rem;
}
.personnel-popup-common .question {
  font-size: 1.143rem;
  font-weight: 700;
}
.personnel-popup-common .msg {
  font-size: 1rem;
}

/*# sourceMappingURL=common.css.map */
