﻿@import "../Common/globals";

.entryview-modal{
    .mobile{
         .related{
                line-height: 2;
            }
        .section-borders{
            margin-left: -15px;
            margin-right: -15px;
            border-bottom: 1px solid $border;
           
            .align{
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        .mobile-hr{
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    padding-bottom:20px;
    .anchor-style {
        line-height: 2;
    }
    .header{
        margin: 0 15px 20px 15px;
        @include breakpoint(desktop){
            margin: 0 15px 20px 30px;
        }
        .module-icon{
            font-size: 35px;
            padding: 10px 8px;
            background: $warning;
            color: $default;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .fa-close{
            color: $muted;
            font-size: 18px;
            padding: 15px;
        }
    }
     .right-border{
        border-right: 1px solid $border;
     }
      .left-border {
         border-left: 1px solid $border;
    }
    .pop-up-title{
        font-weight: 700;
        font-size: 22px;
        padding-bottom: 20px;
    }
    .left-section{
        font-size: 14px;
    }
    .italic-bold{
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
    }
    .btn-edit{
       background: $gray;
        padding: 5px 8px !important;
        color: $dark;
        font-weight: bold;
        font-size: 10px;
        box-shadow: 1px 1px 1px $base;
        @include breakpoint(tablet){
            font-size: 12px;
            padding: 8px 20px !important;
        }
    }
    .bold-text{
        font-size: 14px;
        font-weight: bold;
        padding-bottom:3px;
    }
    .date-field{
        line-height: 29px;
    }
    .bold-text-right{
        font-size: 12px;
        font-weight: bold;
    }
    .text-space{
        line-height: 1.6;
    }
    .sub-head-text{
        color: $warning;
        font-size: 14px;
        font-weight: 600;
    }
    .mobile-padding-horizontal-0{
        padding-left: 0;
        padding-right: 0;
        @include breakpoint(tablet){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .relatedTo {
            color: $muted-dark;
            display: inline-block;
            text-align: center;
            background: $gray;
            padding: 4px 4px;
            border-radius: 3px;
            margin-bottom: 4px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 700;
            @include breakpoint(desktop){
                font-size: 10px;
                padding: 4px 8px;
            }
            &.fit {
                @media only screen and (min-width : 992px) and (max-width : 1390px) {
                    width: 65px;
                }
            }

            &.fits {
                width: 75px;
    }
        }
    .assigned-employee-card{
        background: $warning;
        border-radius: 3px;
        padding: 10px;
        width: 85%;
        box-shadow: 1px 1px 1px $base;
        @include breakpoint(tablet){
            width: 49%;
        }
        margin-right: 5px;
        margin-top: 10px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid $default;
        }
        .emp-details{
            padding-left: 10px;
            width: 75%;
            margin-top: 5px;
            .name{
                font-size:12px;
                text-transform: uppercase;
                font-weight: 700;
                color: $default;
            }
            .job{
                font-style:italic;
                font-size: 11px;
                font-weight: 400;
                color: $default;
            }
        }
    }

    .reportit{
        
        .status{
           padding: 15px;
           margin: 0;
          
           background: $gray;
            .bold-text{
                font-size: 12px;
            }
            @include breakpoint(desktop){
                 margin: 0 -15px 15px;
            }
        }
        .tile{
            padding: 2px;
            font-size: 10px;
            text-transform: uppercase;
            background: $gray;
            color: $muted;
            font-weight:600;
        }
        .square-img{
            height: 100px;
            width: 100px;
            @include breakpoint(tablet){
                height: 200px;
                width: 200px;
            }
            @include breakpoint(desktop){
                width: 200px;
            }
            border-radius: 2px;
            border: 1px solid $border;
            img{
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
            .download-style{
                height: 100%;
                width: 100%;
                font-size: 15px;
                padding-top: 0 !important;
                @include breakpoint(tablet){
                    padding-top: 35px !important;
                }
            }
        }
        .img-responsive {
            img {
                cursor: pointer;

                &:hover {
                    border: 4px solid $gray;
                }
            }

        }
    }

     .link-style {
        line-height: 29px;
        font-size: 10px;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        @include breakpoint(tablet){
            font-size: 12px;
        }
    }
    .attachment-section{
            img{
                width: 100%;
                max-height: 315px;
            }
        }
}
.personnel {
    background: #fff;

    .box-score-title {
        padding-bottom: 0;

        @include breakpoint(mobilephone) {
            padding-top: 0;
            padding-bottom: 5px;
        }

        .buttons-align {
            position: absolute;
            right: 10px;
            top: -59px;

            @include breakpoint(tablet) {
                position: relative;
                top: 0;
                right: 0;
            }

            @include breakpoint(mobilephone) {
                top: -44px;
            }
        }

        .btn-add-mobile {
            padding: 10px 12px;
            width: auto;
            margin-right: 8px;

            @include breakpoint(tablet) {
                width: 200px;
                padding: 12px;
                position: relative;
                top: 0;
                right: 0;
                margin-top: 10px;
                margin-right: 0;
            }
        }

        .plus-button {
            line-height: 1.5;

            @include breakpoint(mobilephone) {
                margin-right: 0;
            }
        }

        .new-entry {
            font-weight: 700;
        }

        .down-angle {
            line-height: 1.3;
        }
    }

    .bordered-row {
        background-color: #fff;

        &.bordered-row-top {
            border-top: 1px solid #f5f5f5;
        }

        &.bordered-row-bottom {
            border-bottom: 1px solid #f5f5f5;
        }

        &.bordered-row-top-bottom {
            border-bottom: 1px solid #f5f5f5;
            border-top: 1px solid #f5f5f5;
        }
    }

    .head-desc {
        padding: 0 20px 10px 5px;

        @include breakpoint(mobilephone) {
            padding-left: 0;
            padding-right: 10px;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark-dark;
            width: 100%;
            padding-bottom: 0;

            @include breakpoint(tablet) {
                width: 70%;
                float: left;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                padding-bottom: 30px;
                color: $dark-dark;
            }
        }

        a {
            margin-top: auto;
            font-weight: bold;
            text-transform: capitalize;
        }

        .add-btn {
            @include breakpoint(tablet) {
                padding: 12px 20px;
                width: 200px;
            }

            padding: 8px 12px;
            background-color: $success;
            border-radius: 4px;
            margin-top: 5px;
            color: $default;
            border-color: $success;
            text-transform: uppercase;
        }

        .btn-mobile-align {
            position: absolute;
            right: 10px;
            top: 65px;
        }
    }

    .btn-delete {
        background: $danger;
        border-radius: 5px;
        border-color: $danger;
        text-align: center;
        color: $default;
        margin: 30px 5px 10px 0;
        padding: 5px 10px;

        @include screen('tablet') {
            margin: 0 85px 0 0;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    .top-table {
        margin-bottom: 0;

        th {
            border-bottom-width: 1px;
            border-color: #e8e8e8;

            &:first-of-type {
                width: 0;

                @include breakpoint(tablet) {
                    width: 8.5%;
                }
            }

            &:nth-of-type(2) {
                width: 33%;
                text-align: center;
                padding: 15px;

                @include breakpoint(desktop) {
                    width: 50%;
                }

                .total-desc {
                    font-size: 13px;
                    color: #9e9e9e;
                    font-weight: 300;
                }

                .total {
                    font-size: 18px;
                    text-decoration: none;
                    font-weight: bold;
                    color: $dark !important;
                }
            }

            &:nth-of-type(3) {
                padding: 15px 10px;

                @include breakpoint(tablet) {
                    padding-right: 20px;
                    padding: 15px;
                }

                .search-icon {
                    font-size: 25px;
                    position: relative;
                    margin-top: -35px;
                    margin-right: 12px;
                    color: $primary;
                }
            }

            input[type=text] {
                height: 45px;
            }

            h3.position-profile-completed {
                a {
                    color: $dark;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .box-score-table {
        thead {
            background: $default;
        }

        > thead > tr {
            &.metrics {
                background: $default;
                height: 90px;

                th {
                    a {
                        font-size: 12px;
                        color: $dark-dark;
                        white-space: nowrap;
                        text-transform: uppercase;
                        &:hover {
                            color: $primary;
                        }
                    }

                    .sort {
                        display: block !important;
                        cursor: pointer;
                        padding-top: 5px;
                        height: 45px;

                        @media only screen and (max-width : 1199px) {
                            height: 40px;
                            width: 50px;
                            margin: 0 auto;
                        }
                    }

                    .fa-caret-up:before, .fa-caret-down:before {
                        display: none;

                        @media only screen and (min-width : 1200px) {
                            display: block;
                        }
                    }
                }

                .selected {
                    color: $base-dark;
                    font-size: 30px;
                }

                .not-selected {
                    color: $border;
                    font-size: 30px;
                }

                .sort-selected-text {
                    color: $primary !important;
                }

                .stick {
                    min-width: inherit !important;
                    max-width: inherit !important;

                    .fa-caret-up:before, .fa-caret-down:before {
                        display: block;
                    }
                }
            }

            &.team-stats {
                font-weight: bold;
                background-color: #f5f5f5;

                @include breakpoint(desktop) {
                    background-color: $default;
                }

                .stick {

                    @include breakpoint(mobilephone) {
                        min-width: 128px !important;
                        max-width: 128px !important;
                    }

                    @media only screen and (min-width : 479px) and (max-width : 769px) {
                        min-width: 500px !important;
                        max-width: 500px !important;
                    }
                }

                th {
                    font-size: 20px;
                    padding-bottom: 10px;
                    padding-top: 10px;

                    &:nth-of-type(2) {
                        min-width: 100px;

                        .total {
                            font-size: 20px;
                            font-weight: bold;
                            color: $dark !important;
                             @include breakpoint(tablet) {
                                width: 132px;
                            }
                        }

                        @include screen('desktop') {
                            width: 220px;
                        }

                        @include breakpoint(tablet) {
                            padding-left: 30px;
                            width: 260px !important;
                        }
                    }

                    &:nth-of-type(1) {
                        font-size: 14px;
                        vertical-align: middle;
                        padding-left: 15px;

                        .total{
                             @include screen('desktop') {
                                width: 95px;
                            }
                        }

                        @include breakpoint(mobileonly) {
                            padding-left: 8px !important;
                        }

                        @include breakpoint(tablet) {
                            padding-left: 8px;
                        }
                    }

                    p {
                        font-size: 12px;
                        color: #9e9e9e;
                        font-weight: 300;
                    }
                }
            }

            > th {
                border-bottom-width: 1px;
                border-color: #e8e8e8;
                padding-top: 20px;
                padding-bottom: 40px;
                text-align: center;

                span {
                    display: inline-block;

                    &.prev {
                        padding-right: 18px;
                        position: absolute;
                        left: 0;
                        color: $primary;
                        cursor: pointer;

                        @media screen and (min-width: 992px) and (max-width: 1199px) {
                            position: relative;
                        }
                    }

                    &.next {
                        padding-left: 18px;
                        position: absolute;
                        right: 0;
                        color: $primary;
                        cursor: pointer;

                        @media screen and (min-width: 992px) and (max-width: 1199px) {
                            position: relative;
                        }
                    }

                    @media screen and (min-width: 1024px) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    text-align: left;

                    @include breakpoint(tablet) {
                        padding-left: 30px;
                    }

                    .sort {
                        padding-left: 20px;
                    }
                }

                @include breakpoint(laptop) {
                    border-bottom-width: 1px;
                    border-color: #e8e8e8;
                    padding-top: 20px !important;
                    padding-bottom: 0 !important;
                    text-align: center;
                    position: relative !important;
                    left: 0 !important;
                    right: 0 !important;
                    width: auto !important;
                    &.visible{
                         left: 0 !important;
                         width: auto !important;
                    }
                }

                &.visible {
                    width: 70%;
                    position: absolute;
                    left: 15%;
                    padding-bottom: 0;
                    border-bottom: none;

                    a {
                        width: 112px;
                        text-align: center;
                    }
                }

                @include breakpoint(tablet) {
                    padding-bottom: 35px;

                    &.visible {
                        position: absolute;
                        left: 15%;
                        padding-bottom: 0;
                        border-bottom: none;

                        a {
                            width: 112px;
                            text-align: center;
                        }
                    }
                }

                @include breakpoint(mobilephone) {
                    padding-bottom: 35px;

                    &.visible {
                        width: 70%;
                        position: absolute;
                        left: 15%;
                        padding-bottom: 0;
                        border-bottom: none;

                        a {
                            width: 112px;
                            display: inline-block;
                            text-align: center;
                        }
                    }
                }

                @include breakpoint(mobileonly) {
                    padding-bottom: 35px;

                    &.visible {
                        width: 70%;
                        position: absolute;
                        left: 15%;
                        padding-bottom: 0;
                        border-bottom: none;

                        a {
                            width: 112px;
                            display: inline-block;
                            text-align: center;
                        }
                    }
                }
            }
        }

        > tbody {
            padding-left: 20px;
            padding-right: 20px;

            > tr {


                &.employee-row {
                    -moz-transition: 0.2s linear all;
                    -o-transition: 0.2s linear all;
                    -webkit-transition: 0.2s linear all;
                    transition: 0.2s linear all;

                    &.loading {
                        opacity: 0.5;
                    }

                    .training {
                        @media only screen and (min-width : 769px) and (max-width : 990px) {
                            float: none;
                            padding-left: 200px;
                        }
                    }

                    td {
                        font-weight: 700;
                        vertical-align: middle;

                        .progress {
                            @include breakpoint(mobilephone) {
                                width: 80px;
                                float: right;
                            }

                            @media only screen and (min-width : 479px) and (max-width : 1199px) {
                                width: 100px;
                            }

                            @media only screen and (min-width : 1025px) and (max-width : 1199px) {
                                width: 100px;
                                float: none;
                            }
                        }

                        &.emp-profile-complete {
                            padding-top: 15px;

                            @include breakpoint(desktop) {
                                padding-top: 20px !important;
                                padding-right: 0 !important;
                            }

                            @include breakpoint(tablet) {
                                padding-right: 0;
                                padding-top: 15px;
                            }
                        }

                        &.emp-profile-incomplete {
                            padding-top: 15px;

                            @include breakpoint(desktop) {
                                padding-top: 30px !important;
                                padding-right: 0 !important;
                            }

                            @include breakpoint(tablet) {
                                padding-right: 0;
                                padding-top: 20px;
                            }
                        }

                        &:nth-of-type(1) {
                            vertical-align: top;
                            padding-left: 15px;
                            padding-right: 10px;
                            padding-bottom: 0;

                            @include breakpoint(mobileonly) {
                                padding-left: 8px;
                            }
                        }

                        &:nth-of-type(2) {
                            font-weight: normal;
                            padding-top: 15px;
                            padding-bottom: 20px;
                            padding-left: 15px;

                            @include breakpoint(mobileonly) {
                                padding-left: 8px;
                            }

                            @include breakpoint(desktop) {
                                padding: 30px 5px 30px 15px !important;
                                width: 260px !important;
                            }

                            @include breakpoint(tablet) {
                                padding-left: 0;
                            }
                        }
                    }
                }

                > td {
                    border-top: 0;
                    text-align: center;
                    font-family: 'Open Sans';

                    &[ng-click] {
                        text-decoration: underline;


                        &:hover {
                            cursor: pointer;
                            background-color: #f9f9f9;
                        }
                    }

                    &.description {
                        .job-title {
                            padding-right: 0;
                            line-height: 1;

                            @include breakpoint(tablet) {
                                padding-right: 5%;
                                line-height: 1.7;
                            }
                        }

                        .hired-date {
                            padding-left: 0;
                            font-style: italic;
                            line-height: 1;

                            @include breakpoint(tablet) {
                                padding-left: 5%;
                                line-height: 1.7;
                            }
                        }

                        .line-styles {
                            color: $base-dark;
                        }

                        .double-angle-right-icon {
                            font-size: 12px;
                            padding-left: 5px;
                        }

                        .report-card-link {
                            width: 111%;
                            color: $warning;

                            a {
                                color: $warning;
                            }
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: #f9f9f9;
                        }

                        &[ng-click] {
                            text-decoration: none;
                        }

                        text-align: left;

                        h4 {
                            color: $primary;
                            font-size: 14px;
                            margin: 0;
                            width: 110%;

                            @include breakpoint(desktop) {
                                font-size: 16px;
                                width: 100%;
                            }

                            @include screen('desktop') {
                                width: auto;
                            }
                        }

                        div {
                            @include breakpoint(notDesktop) {
                                width: 100%;
                                font-size: 12px;
                                float: left;
                            }

                            @include breakpoint(desktop) {
                            }
                        }
                    }

                    &.quality-score {
                        .fa-stack {
                            font-size: 20px;

                            .fa-stack-2x {
                                border: 2px solid;
                            }

                            .fa-stack-1x {
                                font-size: 14px;
                                letter-spacing: -1px;
                                font-weight: bold;
                            }
                        }
                    }
                    //Use when JS is done for all modules [ng-click]{
                    &.profile-image {

                        &[ng-click] {
                            text-decoration: none;
                        }

                        &:not(.profile-image,.description) {
                            text-decoration: underline;
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: #f9f9f9;
                        }

                        .profile-incomplete {
                            position: relative;
                            top: -24px;
                            right: -25px;
                            color: $warning;
                            font-size: 25px;

                            @include breakpoint(desktop) {
                                right: -28px;
                            }
                        }
                    }

                    .pos-icons {
                        & a > .fa-stack {
                            position: relative;
                            color: $base-dark;

                            @include breakpoint(desktop) {
                                margin-right: 10px;
                                font-size: 22px;
                            }

                            &:hover, &:active {
                                color: $dark;
                            }

                            .top-icon {
                                position: absolute;
                                font-size: 10px;
                                bottom: -5px;
                                right: -5px;

                                @include breakpoint(desktop) {
                                    font-size: 14px;
                                    right: -10px;
                                }
                            }
                        }
                    }
                }
            }
        }



        .circle-img {
            width: 60px;
            height: 60px;
            margin: 0 auto;

            @include screen('desktop') {
                width: 80px;
                height: 80px;
            }
        }
    }

    .box-score-modal {
        .start-date {
            font-weight: 600;
            font-style: italic;
        }

        .btn-done {
            background-color: #8d8a8a;
            color: $default;
            font-weight: 600;
        }

        .panel {
            box-shadow: 0 1px 4px rgba(0,0,0,0.2);

            .panel-heading {
                border-bottom: 1px solid $base;

                .top-right-style {
                    text-transform: uppercase;
                }
            }

            .panel-body {
                padding-top: 20px;
                padding-bottom: 30px;

                .header-style {
                    font-weight: 500;
                }

                .description {
                    font-weight: 500;
                }
            }

            .panel-footer {
                background: transparent;
                border-top: 0;

                .reason-style {
                    background-color: #eaeaea;
                    padding: 8px;
                    color: #9e9e9e;
                    font-weight: 600;
                }

                .edit-button {
                    font-style: italic;
                    color: $base-dark;
                    font-weight: 600;
                }

                .edit-button:hover {
                    background-color: $default;
                }
            }
        }

        .box-score-modal-empty {
            .icon-wrap {
                text-align: center;
                padding-bottom: 20px;

                i {
                    color: $warning;
                    font-size: 68px;
                }
            }

            p {
                text-align: center;
                font-weight: 600;
                padding-bottom: 20px;
                font-size: 16px;
            }
        }

        .box-score-modal-content {
            max-height: 550px;
            overflow-y: scroll;
            overflow-x: hidden;

            .box-score-modal-item {
                padding: 10px;
            }
        }
    }

    .type-chart-legend {
        width: 100%;
        font-size: 12px;
        padding: 2px 0;
        cursor: pointer;
    }
}

.personnel-index-common{
    padding: 0 15px 0 15px;
    .head-desc{
        padding: 0 20px 0 5px;
        color: $dark-dark;
        border-bottom: none !important;
        @include breakpoint(mobilephone) {
            padding-left: 0;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark-dark;
            width: 100%;
            padding-bottom: 0;

            @include breakpoint(tablet) {
                width: 70%;
                float: left;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                padding-bottom: 30px;
                color: $dark-dark;
            }
        }
        .add-btn {
            padding: 12px 21px;
            background-color: $success;
            border-radius: 4px;
            margin-top: 5px;
            color: $default;
            width: 200px;
            font-weight: bold;
            text-transform: capitalize;
            border: none;
        }
    }

    .card-body-content{
        .employee-img {
            border: 3px solid $border;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            color: $default;
            &.fail{
                background-color: $danger;
            }
            &.success{
                background-color: $success;
            }
            &.professionalism{
                text-align: center;
                border: none;
                .prof-icon-style{
                    line-height: 47px;
                    font-size: 27px;
                }
            }
        }
        .overlap-div{
            margin-left: -10px;
            .overlap-image{
                background-color: $default;
            }
        }
        .employee-section{
            position: relative;
            margin-top: 6px;
            margin-left: 8px;
            width: 60%;
            .name{
                font-size: 14px;
                font-weight: 700;
                text-transform: capitalize;
            }
        }
        .no-comment{
            font-style: italic;
            font-weight: 400;
            color: $muted;
        }
    }

    .card-footer-content{
        .link-text-style:hover{
            text-decoration: underline;
        }
    }

    .align-btns-open{
        position: relative;
        margin-top: -52px;
        right: 0;

        .add-btn-mobile{
            background-color: $success;
            border: none;
            margin-left :5px;
            padding: 8px 12px 6px 12px;
            .fa-plus{
                padding: 5px 2px 0 2px;
            }
        }
    }

    .page-data-align{
        overflow: hidden;

        .page-content {
            padding: 0;
            background-color: $gray;

            .recent {
                padding-left: 15px;
                padding-right: 15px;
                @include breakpoint(desktop){
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include breakpoint(mobileonly){
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .header {
                    font-size: 22px;
                    color: $dark-dark;
                    font-weight: 300;
                }

                .mobile-style {
                    @include breakpoint(mobileonly) {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }

            .recent-mobile{
                padding-left: 30px !important;
                padding-right: 30px !important;
                @include breakpoint(tablet){
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }

                .header{
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 22px;
                    font-weight: 300;
                    @include breakpoint(tablet){
                        padding-left: 15px !important;
                        padding-right: 15px;
                    }
                }

                .mobile-view-cards{
                    @include breakpoint(tablet){
                        padding-left: 1%;
                        padding-right: 1%;
                    }
                    .card-style{
                        @include breakpoint(tablet){
                            margin-left: 1%;
                            margin-right: 1%;
                            width: 48%;
                        }
                    }
                }
            }

            .charts {
                background-color: $default;
                padding-left: 15px;
                @include breakpoint(desktop){
                    padding-left: 0;
                }
                @include breakpoint(mobileonly){
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .mob-align{
                    padding-left: 15px;
                    padding-right: 15px;

                    .pie-chart-align{
                        padding-top: 10px;
                        @include  breakpoint(desktop){
                            padding-top: 30px !important;
                        }
                        @include  breakpoint(tablet){
                            padding-top: 20px;
                        }

                        .count-align{
                            position: relative;
                            text-align: center;
                            top: -195px;
                            width: 50%;
                            margin: 0 auto;
                            .total-count{
                                font-size: 3.571rem;
                                font-weight: 700;
                            }
                            .sub-title{
                                font-size: 1rem;
                                position: relative;
                                top: -15px;
                            }
                        }
                    }

                    .personnel-pie-legend{
                        position: relative;
                        margin-top: -90px;
                    }
                }

                .panel {
                    border: none;
                    border-radius: unset;
                    box-shadow: none;

                    .panel-header-txt {
                        font-size: 22px;
                        font-weight: 300;
                        color: $dark-dark;
                        border-bottom: 1px solid $base;
                        position: relative;
                        .align-size{
                            @media only screen and (min-width : 768px) and (max-width : 1900px){
                                position: absolute;
                                top: 33px;
                                left: 15px;
                            }
                            &.professionalism{
                                @media only screen and (min-width : 768px) and (max-width : 1980px){
                                    position: absolute;
                                    top: 33px;
                                    left: 15px;
                                }
                            }
                        }
                    }

                    .panel-header-subtext{
                        font-size: .857rem;
                        font-style: italic;
                        color: $base-dark;
                    }
                }

                .viewByEmployee {
                    .panel {
                        background-color: $default;
                        padding-top: 20px;

                        .panel-header-txt {
                            border-bottom: none;
                            margin-bottom: 0;
                        }
                    }

                    .body-content{
                        padding-left: 0;
                        padding-right: 0;
                        @include breakpoint(desktop){
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        .table{
                            .head{
                                height: 25px;
                                background-color: $base-dark;
                                font-size: 0.714em;
                                font-weight: 600;
                                color: $default;
                                th{
                                    padding: 0;
                                    height: 25px;
                                    vertical-align: middle;
                                    text-transform: uppercase;
                                    .angle-style{
                                        font-size: 12px;
                                        margin-left: 5px;
                                        position: relative;
                                        top: 1px;
                                        cursor: pointer;
                                    }
                                    &.left-title{
                                        padding-left: 25px;
                                        text-align: left;
                                    }
                                    &.right-content{
                                        text-align: right;
                                        &.last{
                                            padding-right: 25px;
                                        }
                                        &.mobile-last{
                                            padding-right: 25px;
                                            @include breakpoint(desktop){
                                                padding-right: 0;
                                            }
                                        }
                                    }
                            
                                }
                            }
                            .body{
                                border:1px solid $border;
                                border-top: 0;
                                .data-row{
                                    height: 45px;
                                    border-bottom: 1px solid $border;
                                    font-size: 0.857em;
                                    td{
                                        padding: 0;
                                        border: 0;
                                        height: 43px;
                                        vertical-align: middle;
                                        @include breakpoint(desktop){
                                            height: 45px;
                                        }
                                        &.left-title{
                                            padding-left: 25px;
                                            text-align: left;
                                            color: $dark;
                                            font-weight: 600;

                                            .circle-employee-image{
                                                width: 30px;
                                                height: 30px;
                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    border-radius: 50%;
                                                }
                                            }

                                            .employee-name{
                                                line-height: 25px;
                                            }
                                            .inactive-employee{
                                                font-size: 10px;
                                            }
                                        }
                                        &.data-content{
                                            text-align: right;
                                            color: $dark;
                                            &.last{
                                                padding-right: 25px;
                                                font-weight: 700;
                                            }
                                            &.mobile-last{
                                                padding-right: 25px;
                                                @include breakpoint(desktop){
                                                    padding-right: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .recent-desktop{
                padding-left: 5px;
                padding-right: 0;

                .header{
                    font-size: 22px;
                    font-weight: 300;
                }

                .card-index{
                    padding-left: 10px;
                    padding-right: 10px;
                    @include breakpoint(mobileonly){
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    @include breakpoint(tablet){
                        padding-left: 15px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
   
    .hline{
        margin: 0 !important;
    }

    #personnelLegendSpot{
        .legend-slice-color{

        }
        .legend-icon{
            float: left;
            width: 15%;
        }
        .legend-txt-name{
            padding-right: 0;
            font-size: 11px;
            padding-left: 0;
            padding-top: 4px;
            float: left;
            width: 85%;
        }
    }
    .relatedTo{
        &.conduct{
            @media only screen and (min-width : 768px) and (max-width : 1250px){
                width: 80%;
            }
            @include breakpoint(mobileonly){
                width: 80%;
            }
            
        }
    }
    .tag{
        width: 48%;
    }
    .fa-spinner{
        font-size: 1.843rem;
    }
}

.personnel-details-common{
    .personnel-details-panel {
      margin-bottom: 0;
      border-radius: 0 !important;
      border: none !important; 
      box-shadow: none;

      .panel-header-txt{
            margin: 0 !important;
            border-bottom: 0;
            padding: 0 !important;
            font-size: 22px;
            font-weight: 300;
            color: $dark-dark;
            position: relative;
            @include breakpoint(desktop){
                padding-right: 30px!important;
            }
            @include breakpoint(tablet){
                padding-right: 35px!important;
                padding-left: 5px !important;
                padding-bottom: 15px !important;
                border-bottom: 1px solid $base;
            }

            .filter-search-align{
                width: 100%;
                @include breakpoint(tablet){
                    position: absolute;
                    bottom: 15px;
                    right: 30px;
                }
            }

            .search-field{
                width: 68%;
                float: left;
                margin-left: 5px;
                @include breakpoint(tablet){
                    width: 25%;
                    margin-left: 0;
                    float: right;
                }
                @include breakpoint(desktop){
                    width: 25% !important;
                    padding-right: 0;
                }
                @include breakpoint(mobileonly){
                    width: 62%;
                }
                &.professionalism{
                    width: 75%;
                    @include breakpoint(tablet){
                        width: 30%;
                    }
                }
                .enter-section{
                    border-radius: 4px !important;
                    height: 40px;
                    font-size: 14px;
                }

                .icon-search{
                        position: relative;
                        z-index: 2;
                        color: $primary;
                        float: right;
                        margin-right: 10px;
                        margin-top: -33px;
                        font-size: 22px;
                        @include breakpoint(tablet){
                            margin-top: -33px;
                            font-size: 24px;
                        }
                }
            }

            .back-index{
                padding: 3px 10px;
                margin-left: 15px;
                margin-top: 2px;
                cursor: pointer;
                position: relative;
                z-index: 1;
                @include breakpoint(tablet){
                    margin-top: 25px;
                }
            }

            .filter-icon-align{
                padding-right: 10px;
                @include breakpoint(tablet){
                    padding-right: 0;
                }
            }

            .btn-filter{
                background-color: $default !important;
                border:  none !important;
                color: $default;
                padding: 0;
                font-weight: 700; 
                font-size: 12px;
                border-radius: 4px;
                margin-top: 0;
                margin-right: 0;
                margin-left: 15px;
                height: 40px;
                width: 30px;
                line-height: 40px;
                float: left;
                .fa{
                    color: $dark;
                    font-size : 23px;
                    background-color: $default;
                }
                &:hover{
                    background-color: $default !important;
                }
                &:focus{
                    background-color: $default !important;
                }
                @include breakpoint(tablet){
                    background-color: $dark !important;
                    margin-right: 15px;
                    width: 90px;
                    float: right;
                    .fa{
                        color: $default;
                        font-size : 12px;
                        background-color: $dark;
                    }
                    &:hover{
                        color: $default;
                        background-color: $dark-dark !important;
                    }
                    &:focus{
                        color: $default;
                        background-color: $dark !important;
                    }
                }
            }
        }

      .tabs{
            padding: 10px 0;
            @include breakpoint(tablet){
                padding-bottom: 0;
                padding-top: 0;
            }
            .active{
                color: $primary;
                border-bottom: 4px solid $primary;
            }
            .clickable{
                cursor: pointer;
            }
            .count{
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                padding-bottom: 10px;

                .past-due {
                    padding-left: 25px;
                }

            }
            .title{
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                padding-bottom: 10px;
                white-space: nowrap;
                text-transform: uppercase;
            }
        }
        
        .btn-clear{
            background-color: $default !important;
            border:  1px solid black;
            color: $dark-dark !important;
            padding: 10px 33px 10px 33px !important;
            font-weight: 700; 
            border-radius: 4px;
            border-color: $dark-dark !important;
            margin: 5px 15px 5px 0;
        }

        .btn-filter-sub{
            background-color: $dark !important;
            border:  none !important;
            color: $default !important;
            padding: 10px 30px 10px 30px !important;
            font-weight: 700; 
            border-radius: 4px;
            margin: 5px 10px 5px 0;
        }

        .panel-body{
            padding: 0;

            .center-cards {
                padding-left: 5px;
                padding-right: 5px !important;
                @include breakpoint(tablet){
                    padding-left: 2px;
                    padding-right: 2px !important;
                }
                @include breakpoint(desktop){
                    padding-left: 5%;
                    padding-right: 5% !important;
                }
                .card-align{
                     @media only screen and (min-width : 768px) and (max-width : 1250px) {
                         margin-left: 1%;
                         margin-right: 1%;
                    }
                      @media only screen and (min-width : 1251px)  {
                        margin-left: 0.6%;
                        margin-right: 0.6%;
                    }
                }
                .card-size {
                    @media only screen and (min-width : 768px) and (max-width : 1250px) {
                         width: 48%;
                    }
                    @media only screen and (min-width : 1251px){
                         width: 32.13%;
                    }
                }
            }

            .card-view-style{
                padding-bottom: 25px;
                @include breakpoint(mobilephone){
                    padding-right: 5px !important;
                }
            }
        }
    }

    .btn-export{
        background-color: $dark;
        border: none !important;
        color: $default;
        padding: 10px 18px 10px 18px;
        font-weight: 700;  
        font-size: 12px;
        border-radius: 4px;
        margin-top: 5px;
        margin-right: 20px;
        &:hover{
            color: $default;
            background-color: $dark-dark;         
        }
        &:focus{
            background-color: $primary;
            color: $default;
        }
        .glyphicon{
            font-weight: normal;
        }
        @include breakpoint(mobilephone){
            padding: 5px 5px 5px 5px;
            background-color: $default;
            .glyphicon{
                color: $dark-dark;
                font-size : 20px;
                background-color: $default;
            }
            &:focus{
                background-color: $default !important;
            }
        }
    }
}

.personnel-popup-common{
    .fa-close{
        cursor: pointer;
    }
    .display-style{
        display: flex;
    }
    .header{
        margin-left: 20px !important;
        @include breakpoint(mobilephone){
            margin-left: 10px !important;
        }
    }
    .relatedTo{
        &.attendance{
            display: table;
        }
    }
    .no-comment{
        font-style: italic;
        font-weight: 400;
        color: $muted;
    }
    .overall-result-icon{
        font-size: 22px;
    }
    .overall-result-text{
        position: relative;
        top: -5px;
        padding-left: 5px;
    }
    .left-section{
        .module-name{
            font-size: 1.571rem;
            font-weight: 600;
        }
         .assigned-employee-card{
            width: 90%;
            img{
                border: none;
            }
         }
         .title{
             font-size: 1rem;
             font-weight: 700;
         }
         .classification{
             font-size: 0.714rem;
             font-weight: 700;
             color: $base-dark;
         }
        
    }
    .right-section{
        .date-field{
            line-height: 29px;
        }
        .btn-edit{
            padding: 5px 25px !important;
        }
        .sub-head-text{
            font-size: 1.143rem;
            font-weight: 700;
        }
    }
    .mobile{
        .section-borders{
            margin-right: 0;
            .btn-edit{
                padding: 5px 15px !important;
                    @include breakpoint(mobileonly){
                    padding: 5px 8px !important;
                         
                }
            }
            .align{
                margin-left: 20px;
                margin-right: 20px;
                @include breakpoint(mobileonly){
                    margin-left: 10px;
                    margin-right: 5px;
                }
            }
            .assigned-employee-card{
                width: 75%;
                @include breakpoint(tablet){
                    width: 45%;
                }
            }
        }
        .pop-up-title{
            font-size: 1.571rem;
            font-weight: 600;
        }
        .title{
            font-size: 1rem;
            font-weight: 700;
        }
        .classification{
            padding: 4px 8px;
        }
        .sub-head-text{
            font-size: 1.143rem;
        }
        .link-style{
            font-size: 0.897rem;
        }
    }
    .question{
        font-size: 1.143rem;
        font-weight: 700;
    }
    .msg{
        font-size: 1rem;
    }
}
