﻿@import "../Common/globals";

.conduct{
    background:$default;

    .panel-header-txt {
        padding-right: 32px;
        padding-top: 0;
    }

    .filter-btn{
        background: $dark;
        padding:12px 18px;
        font-size:14px;
        font-weight:600;
        color: $default;
        text-transform:uppercase;
    }
    .panel{
        border:none;
    }
    .table-head {
        font-size: 12px;
        font-weight: 600;
        color: $default;
        text-transform: uppercase;
        padding:10px 20px;
        }
    .emp-name {
        font-size: 16px;
        font-weight: 600;
        color: $primary;
    }
    .emp-program {
         font-size: 12px;
        font-weight: 400;
        color: $muted;
        }
    .emp-comment {
        font-size: 14px;
        font-weight: 400;
        color: $dark;
        line-height: 22px;
        }
    .emp-comment-time {
        font-size:14px;
        font-weight:400;
        color: $muted;
        font-style:italic;
        }

    .emp-row .jd-status p.date {
        font-size: 14px;
        font-weight: 600;
        color: $warning;
        padding-right:40px;
        }
    .emp-row:nth-child(even){
        background: $gray;
    }
    .emp-row{
         @include breakpoint(tablet) {
            padding-left:20px !important;
            padding-right:30px;
        }
        padding-left:10px !important;
        padding-right:20px;
    }
}
