﻿@import "../Common/globals";

.myprofile{
    .page-heading{
        border-bottom: 1px solid $gray;
        @include breakpoint(mobilephone){
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    background : $default;
    overflow: hidden;
    .circle-img{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 4px solid $gray;
        overflow: hidden;

        @include breakpoint(mobilephone){
            height: 80px;
            width: 80px;
            margin-right: 5px;
        }
        img{
            width: 100%;
        }
    }
    .display-details{
        
        @include breakpoint(mobilephone){
            padding-left: 0 !important;
            width: 80%;
        }
      
    }
    .emp-details{
        padding-left: 6px;
        padding-top: 10px;
        max-width: none;
        @include breakpoint(tablet){
            padding-left: 15px;
        }
        @include breakpoint(mobilephone){
            margin: auto 0;
            width: 70%;
        }
         @include breakpoint(mobileonly){
            margin: auto 0;
            width: 62%;
        }
        .emp-name{
            color: #00aed0;
            font-size: 14px !important;
            font-weight: 600;
            word-wrap: break-word;
            line-height: 14px;

            @include breakpoint(tablet){
                font-size: 16px !important;
                line-height: 17px;
            }
            @include breakpoint(mobilephone){
                width: 93%;
            }
        }

        .job-desc{
            font-size: 12px;
            font-style: italic;
            font-weight: 600;
            line-height: 22px;
            color: $base-dark;
            @include breakpoint(tablet){
                font-size: 14px ;
                line-height: 25px;
            }
        }

        .hire-date{
            font-size: 12px;
            font-style: italic;
            font-weight: 600;
            line-height: 20px;
        }
    }

    .funfacts{
        padding-top: 15px;
        @include breakpoint(mobilephone){
            padding-left: 0;
        }
        .text{
            color: $base-dark;
            font-size: 12px;
            line-height: 19px;
            font-weight: 600;
            font-style: italic;
            @include breakpoint(tablet){
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .right-buttons{
        border: 1px solid #ddd;
        border-radius: 4px;
        line-height: 30px;
        height: 30px;
        @include breakpoint(tablet){
            height: 45px;
            line-height: 45px;
        }
        @include breakpoint(mobilephone){
            position: absolute;
            top: 141px;
            right: 10px;
        }

        .fa{
            font-size: 17px;
            color: $primary;
            line-height: 30px;
            padding-left: 5px;
            padding-right: 5px;
            @include breakpoint(tablet){
                font-size: 34px;
                line-height: 45px;
            }
        }
        .fa-to-do{
            border-right: 1px solid #ddd;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .my-options{
        background-color: $default;
        border-bottom: 1px solid $gray;
        padding-top: 10px;
        padding-bottom: 10px;

        .display-style{
            .active-icon{
                color: $primary !important;
            }
            .active-text{
                color: $dark !important;
            }
            display: flex;

            .align{
                margin: auto ;

                .fa{
                    font-size: 30px;
                    color: $base-dark;
                    @include breakpoint(tablet){
                        font-size: 60px;
                    }
                }

                .fa-job-description{
                    padding-left: 16px;
                }

                .text{
                    font-size: 12px;
                    color: $base-dark;
                    padding-top: 10px;
                    font-weight: 600;
                }
            }
        }
    }
    .monthly-picker-div{
           .icon-style{
               color: $muted-dark;
               font-weight: 600;
           }

            background-color: $default;
            .custom-monthly-picker{
                padding: 20px 10px;
                .monthly-date-picker{
                    margin-left:5px;
                    width: 100%;
                    position: relative;
                    top: 0;
                    /*right: 20px;*/
                    height: 36px;
                    line-height: 36px;
                    background-color: $default;
                    color: #00afd1;
                    font-weight: bold;
                    font-size: 14px;
                    @include breakpoint(desktop){
                        font-size: 16px;
                    }
                    @include breakpoint (desktop){
                        width: 300px;
                    }
                    a{
                        background-color: $default;
                        color: #00afd1;
                        outline: 0;
                    }
                }
        }
        
    }

    .tab-head{
        font-size: 18px;
        color: $warning;
        font-weight: 600;
        padding: 10px 0;
         @include breakpoint (tablet){
            padding: 10px 30px;
        }
    }
    .financials{
        .mobile-tabs-wrap{
             border-top: 1px solid #e4e4e4;
             border-bottom: 1px solid #e4e4e4;
             padding: 10px 0;
             .tab-1{
                 border-right: 1px solid #e4e4e4; 
             }
             .tab{
                  @include breakpoint(mobilephone){
                    width:100%;
                  }
                  @include breakpoint(mobileonly){
                    width:140px;
                  }
                 .icon-style{
                      @include breakpoint(laptop){
                        font-size: 75px;
                        padding-top:0;
                    }
                      font-size: 35px;
                      color: #e5e5e5;
                      padding-top:15px;
                 }
                 .bonus-data{
                      @include breakpoint(mobilephone){
                        width:100px;
                      }
                      @include breakpoint(laptop){
                        padding: 5px 10px 10px 10px;
                    }
                       padding: 5px 5px 10px 7px;
                     .amount{
                         @include breakpoint(laptop){
                            font-size: 40px;

                         }
                      
                         font-size: 20px;
                        font-weight: normal;
                        color: #48c101;
                     }
                     .amount-title{
                          @include breakpoint(laptop){
                              font-size: 14px;
                          }
                          width:100px;
                         text-transform:capitalize;
                         color: #aaa;
                         font-size: 10px;
                         font-weight: 600;
                     }
                 }
                 .bonus-title{
                     padding:15px 10px;
                     width:100px;
                     @include breakpoint(laptop){
                         width:135px;
                    }
                     .amount-title{
                          @include breakpoint(laptop){
                              font-size: 14px;
                          }
                         text-transform:capitalize;
                         color: #aaa;
                         font-size: 10px;
                         font-weight: 600;
                     }
                 }
             }
         }

        .my-hours{
            padding-top: 20px;

            .calender-wrap{
                margin: 30px 20px 20px 20px;
                 @include breakpoint (mobilephone){
                    margin: 30px 5px 20px 5px;
                }
                font-size :10px;
                 @include breakpoint (tablet){
                       font-size:11px;
                    }
                span{
                    font-weight : bold;
                }
                .event-success {
                    background-color: $success;
                }

                .events-list {
                     bottom: 0;
                     color : $success;
                     font-weight : 600;
                     font-size:9px;
                     z-index : 0;
                     padding-left : 3px;

                    @include breakpoint (tablet){
                       font-size:11px;
                    }

                }
                .cal-month-box [class*="cal-cell"] {
                    @include breakpoint (laptop)
                     {
                         min-height: 100px;
                     }
                     @include breakpoint (tablet)
                     {
                        min-height: 80px;
                     }
                     min-height: 50px; 
                   }
                .cal-month-day {
                     @include breakpoint (laptop)
                     {
                         min-height: 100px;
                     }
                     @include breakpoint (tablet)
                     {
                        min-height: 80px;
                     }
                     height: 50px; 
                }
                .event {
                    width: 10px;
                    height: 10px;
                }
                .cal-day-tick{
                    display : none;
                }
            }

            .month-head{
                padding:15px 10px 20px 0; 
                color:$dark;
                text-align : left;
                font-size : 16px;
                font-weight : bold;
                text-transform : uppercase;
                 @include breakpoint (tablet){
                        color:$primary;
                        padding:15px 10px 20px 30px; 
                    }

            }
    
            h4 { 
                width:100%; 
                text-align:center; 
                border-bottom: 1px solid $base; 
                line-height:0.1em; 
                margin:40px 0 20px; 
            } 
            h4 span { 
                background:$gray; 
                padding: 5px 15px; 
                color: $muted-dark;
                border-radius : 5px;
                font-size : 14px;
                font-style : italic;
                font-weight : bold;
                margin : 10px 0;
            }
            .activeweek {
                    background:$primary; 
                    color: $default;        
            }
            .sub-head{
                text-align : center;
                padding : 15px 0 10px 0;
                color: $base-dark;
                font-size : 11px;
                font-weight : bold;
                width: 100%;
            }
            .sub-head-content{
                 text-align : center;
                 font-size : 11px;
                 padding : 10px 0;
                 font-weight : bold;
                 .time{
                     color : #48c101;
                 }
            }
            .panel{
                border : 1px solid #eee;
                .panel-heading{
                    background: #eee;
                    color: $dark;
                    font-size: 20px;
                    font-weight: 500;
                    .time{
                        color: #48c101;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
            .panel-body{
                padding: 0 0 20px 0;
            }
            .no-padding{
                padding :0;
            }
            .empty-data-info{
            text-align:center; 
            padding: 10px; 
            color: $muted-dark;
        }
        }
    }

    .padding-20-0{
        padding: 20px 0;
    }
    .no-margin{
        margin: 0;
    }
}
