﻿@import "../Common/globals";

.myprofile {
    padding: 0 0 100px;
    background: transparent;
}

.personnel.myprofile.team-members {
    .tab-filter-header {
        padding-top:10px;

        @include breakpoint(desktop){
            padding-top: 35px;
        }

        div[type=pills] {
            overflow: visible;
            height: auto;

            ul.nav-pills {
                @include breakpoint(notDesktop) {
                    margin-left: 50px;
                }
            }
        }
    }

    .back-btn {
        padding: 9px 12px;

        @include breakpoint(notDesktop) {
            position: absolute;
        }
    }

    .tab-content {
        @include breakpoint(desktop) {
            padding-top: 35px;
        }

        padding-bottom: 60px;
    }
    
    .tab-pane {


        .left {
            background: $gray;
            padding: 0;

            a {
                height: 69px;
                display: block;
                padding: 15px 10px 15px 60px;
                overflow: hidden;
                border-bottom: 1px solid $border;
                position: relative;

                &.active {
                    background: $border;
                    border-left: 4px solid $warning;
                    padding-left: 76px;
                }

                img {
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    left: 8px;
                    top: 8px;
                }

                span.fa {
                    position: absolute;
                    left: 40px;
                    top: 17px;
                }

                &.corporate {
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
            }
        }
    }

    .corporate-item {
        height: 350px;

        @include breakpoint(notDesktop) {
            padding-right: 70px;
            padding-left: 40px;
        }

        img {
            width: 115px;
        }
    }
}
