@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.myprofile {
  background: #ffffff;
  overflow: hidden;
}
.myprofile .page-heading {
  border-bottom: 1px solid #f5f5f5;
}
@media (max-width: 479px) {
  .myprofile .page-heading {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.myprofile .circle-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 4px solid #f5f5f5;
  overflow: hidden;
}
@media (max-width: 479px) {
  .myprofile .circle-img {
    height: 80px;
    width: 80px;
    margin-right: 5px;
  }
}
.myprofile .circle-img img {
  width: 100%;
}
@media (max-width: 479px) {
  .myprofile .display-details {
    padding-left: 0 !important;
    width: 80%;
  }
}
.myprofile .emp-details {
  padding-left: 6px;
  padding-top: 10px;
  max-width: none;
}
@media (min-width: 768px) {
  .myprofile .emp-details {
    padding-left: 15px;
  }
}
@media (max-width: 479px) {
  .myprofile .emp-details {
    margin: auto 0;
    width: 70%;
  }
}
@media (max-width: 320px) {
  .myprofile .emp-details {
    margin: auto 0;
    width: 62%;
  }
}
.myprofile .emp-details .emp-name {
  color: #00aed0;
  font-size: 14px !important;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 14px;
}
@media (min-width: 768px) {
  .myprofile .emp-details .emp-name {
    font-size: 16px !important;
    line-height: 17px;
  }
}
@media (max-width: 479px) {
  .myprofile .emp-details .emp-name {
    width: 93%;
  }
}
.myprofile .emp-details .job-desc {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  line-height: 22px;
  color: #9e9e9e;
}
@media (min-width: 768px) {
  .myprofile .emp-details .job-desc {
    font-size: 14px;
    line-height: 25px;
  }
}
.myprofile .emp-details .hire-date {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  line-height: 20px;
}
.myprofile .funfacts {
  padding-top: 15px;
}
@media (max-width: 479px) {
  .myprofile .funfacts {
    padding-left: 0;
  }
}
.myprofile .funfacts .text {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 768px) {
  .myprofile .funfacts .text {
    font-size: 16px;
    line-height: 22px;
  }
}
.myprofile .right-buttons {
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .myprofile .right-buttons {
    height: 45px;
    line-height: 45px;
  }
}
@media (max-width: 479px) {
  .myprofile .right-buttons {
    position: absolute;
    top: 141px;
    right: 10px;
  }
}
.myprofile .right-buttons .fa {
  font-size: 17px;
  color: #00AFD1;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .myprofile .right-buttons .fa {
    font-size: 34px;
    line-height: 45px;
  }
}
.myprofile .right-buttons .fa-to-do {
  border-right: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}
.myprofile .my-options {
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.myprofile .my-options .display-style {
  display: flex;
}
.myprofile .my-options .display-style .active-icon {
  color: #00AFD1 !important;
}
.myprofile .my-options .display-style .active-text {
  color: #403841 !important;
}
.myprofile .my-options .display-style .align {
  margin: auto;
}
.myprofile .my-options .display-style .align .fa {
  font-size: 30px;
  color: #9e9e9e;
}
@media (min-width: 768px) {
  .myprofile .my-options .display-style .align .fa {
    font-size: 60px;
  }
}
.myprofile .my-options .display-style .align .fa-job-description {
  padding-left: 16px;
}
.myprofile .my-options .display-style .align .text {
  font-size: 12px;
  color: #9e9e9e;
  padding-top: 10px;
  font-weight: 600;
}
.myprofile .monthly-picker-div {
  background-color: #ffffff;
}
.myprofile .monthly-picker-div .icon-style {
  color: #8c8f92;
  font-weight: 600;
}
.myprofile .monthly-picker-div .custom-monthly-picker {
  padding: 20px 10px;
}
.myprofile .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
  margin-left: 5px;
  width: 100%;
  position: relative;
  top: 0;
  /*right: 20px;*/
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
  color: #00afd1;
  font-weight: bold;
  font-size: 14px;
}
@media (min-width: 1167px) {
  .myprofile .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    font-size: 16px;
  }
}
@media (min-width: 1167px) {
  .myprofile .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    width: 300px;
  }
}
.myprofile .monthly-picker-div .custom-monthly-picker .monthly-date-picker a {
  background-color: #ffffff;
  color: #00afd1;
  outline: 0;
}
.myprofile .tab-head {
  font-size: 18px;
  color: #F99D00;
  font-weight: 600;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .myprofile .tab-head {
    padding: 10px 30px;
  }
}
.myprofile .financials .mobile-tabs-wrap {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0;
}
.myprofile .financials .mobile-tabs-wrap .tab-1 {
  border-right: 1px solid #e4e4e4;
}
@media (max-width: 479px) {
  .myprofile .financials .mobile-tabs-wrap .tab {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .myprofile .financials .mobile-tabs-wrap .tab {
    width: 140px;
  }
}
.myprofile .financials .mobile-tabs-wrap .tab .icon-style {
  font-size: 35px;
  color: #e5e5e5;
  padding-top: 15px;
}
@media (min-width: 991px) {
  .myprofile .financials .mobile-tabs-wrap .tab .icon-style {
    font-size: 75px;
    padding-top: 0;
  }
}
.myprofile .financials .mobile-tabs-wrap .tab .bonus-data {
  padding: 5px 5px 10px 7px;
}
@media (max-width: 479px) {
  .myprofile .financials .mobile-tabs-wrap .tab .bonus-data {
    width: 100px;
  }
}
@media (min-width: 991px) {
  .myprofile .financials .mobile-tabs-wrap .tab .bonus-data {
    padding: 5px 10px 10px 10px;
  }
}
.myprofile .financials .mobile-tabs-wrap .tab .bonus-data .amount {
  font-size: 20px;
  font-weight: normal;
  color: #48c101;
}
@media (min-width: 991px) {
  .myprofile .financials .mobile-tabs-wrap .tab .bonus-data .amount {
    font-size: 40px;
  }
}
.myprofile .financials .mobile-tabs-wrap .tab .bonus-data .amount-title {
  width: 100px;
  text-transform: capitalize;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
}
@media (min-width: 991px) {
  .myprofile .financials .mobile-tabs-wrap .tab .bonus-data .amount-title {
    font-size: 14px;
  }
}
.myprofile .financials .mobile-tabs-wrap .tab .bonus-title {
  padding: 15px 10px;
  width: 100px;
}
@media (min-width: 991px) {
  .myprofile .financials .mobile-tabs-wrap .tab .bonus-title {
    width: 135px;
  }
}
.myprofile .financials .mobile-tabs-wrap .tab .bonus-title .amount-title {
  text-transform: capitalize;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
}
@media (min-width: 991px) {
  .myprofile .financials .mobile-tabs-wrap .tab .bonus-title .amount-title {
    font-size: 14px;
  }
}
.myprofile .financials .my-hours {
  padding-top: 20px;
}
.myprofile .financials .my-hours .calender-wrap {
  margin: 30px 20px 20px 20px;
  font-size: 10px;
}
@media (max-width: 479px) {
  .myprofile .financials .my-hours .calender-wrap {
    margin: 30px 5px 20px 5px;
  }
}
@media (min-width: 768px) {
  .myprofile .financials .my-hours .calender-wrap {
    font-size: 11px;
  }
}
.myprofile .financials .my-hours .calender-wrap span {
  font-weight: bold;
}
.myprofile .financials .my-hours .calender-wrap .event-success {
  background-color: #9FC62D;
}
.myprofile .financials .my-hours .calender-wrap .events-list {
  bottom: 0;
  color: #9FC62D;
  font-weight: 600;
  font-size: 9px;
  z-index: 0;
  padding-left: 3px;
}
@media (min-width: 768px) {
  .myprofile .financials .my-hours .calender-wrap .events-list {
    font-size: 11px;
  }
}
.myprofile .financials .my-hours .calender-wrap .cal-month-box [class*="cal-cell"] {
  min-height: 50px;
}
@media (min-width: 991px) {
  .myprofile .financials .my-hours .calender-wrap .cal-month-box [class*="cal-cell"] {
    min-height: 100px;
  }
}
@media (min-width: 768px) {
  .myprofile .financials .my-hours .calender-wrap .cal-month-box [class*="cal-cell"] {
    min-height: 80px;
  }
}
.myprofile .financials .my-hours .calender-wrap .cal-month-day {
  height: 50px;
}
@media (min-width: 991px) {
  .myprofile .financials .my-hours .calender-wrap .cal-month-day {
    min-height: 100px;
  }
}
@media (min-width: 768px) {
  .myprofile .financials .my-hours .calender-wrap .cal-month-day {
    min-height: 80px;
  }
}
.myprofile .financials .my-hours .calender-wrap .event {
  width: 10px;
  height: 10px;
}
.myprofile .financials .my-hours .calender-wrap .cal-day-tick {
  display: none;
}
.myprofile .financials .my-hours .month-head {
  padding: 15px 10px 20px 0;
  color: #403841;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .myprofile .financials .my-hours .month-head {
    color: #00AFD1;
    padding: 15px 10px 20px 30px;
  }
}
.myprofile .financials .my-hours h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  line-height: 0.1em;
  margin: 40px 0 20px;
}
.myprofile .financials .my-hours h4 span {
  background: #f5f5f5;
  padding: 5px 15px;
  color: #8c8f92;
  border-radius: 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin: 10px 0;
}
.myprofile .financials .my-hours .activeweek {
  background: #00AFD1;
  color: #ffffff;
}
.myprofile .financials .my-hours .sub-head {
  text-align: center;
  padding: 15px 0 10px 0;
  color: #9e9e9e;
  font-size: 11px;
  font-weight: bold;
  width: 100%;
}
.myprofile .financials .my-hours .sub-head-content {
  text-align: center;
  font-size: 11px;
  padding: 10px 0;
  font-weight: bold;
}
.myprofile .financials .my-hours .sub-head-content .time {
  color: #48c101;
}
.myprofile .financials .my-hours .panel {
  border: 1px solid #eee;
}
.myprofile .financials .my-hours .panel .panel-heading {
  background: #eee;
  color: #403841;
  font-size: 20px;
  font-weight: 500;
}
.myprofile .financials .my-hours .panel .panel-heading .time {
  color: #48c101;
  font-size: 20px;
  font-weight: 600;
}
.myprofile .financials .my-hours .panel-body {
  padding: 0 0 20px 0;
}
.myprofile .financials .my-hours .no-padding {
  padding: 0;
}
.myprofile .financials .my-hours .empty-data-info {
  text-align: center;
  padding: 10px;
  color: #8c8f92;
}
.myprofile .padding-20-0 {
  padding: 20px 0;
}
.myprofile .no-margin {
  margin: 0;
}

/*# sourceMappingURL=myProfile.css.map */
