﻿@import "../Common/globals";

.personnel.myprofile.report-card {
    .page-heading {
        padding-bottom: 0;
        position:relative;

        quality-tab-navigation{
            margin-bottom: 0;
        }

        .my-profile-page-heading{
            border-bottom:0;

            @include breakpoint(mobilephone){
                padding:20px 10px 40px;
            }
        }

        #star-rating{
            font-size: 22px;
            position: absolute;
            bottom: 20px;
            left: 80px;
            
            @include breakpoint(tablet){
                bottom: 25px;
                left: 140px;
            }

            i{
                margin-right:5px;
            }
        }
    }

    .current-month-header{
        padding:10px 0;
        border-bottom:1px solid $border;
        
        @include breakpoint(tablet){
            padding:15px 0;
        }
    }

    .current-month {
        text-align: center;

        @include breakpoint(tablet) {
            float: left;
            text-align: left;
            margin-top: 40px;
            font-size:20px;
        }
    }

    .current-performance {
        margin-top: 40px;
    }

    h3.bonus-text {
        font-size: 24px;
        font-weight: 600;
        opacity: 0.5;
        line-height:38px;
    }

    #current-month-details {
        padding:20px 0;

        @include breakpoint(mobilephone) {
            background-color: white;
            padding:0;
        }

        table.table > tbody > tr { 
            
            @include breakpoint(mobilephone) {
                &:first-of-type td{
                    border-top: 0;
                }

                td{
                    small{
                        top: 38px;
                        left: 50px;
                        font-size:11px;
                    }
                }

                td.data-column{
                    padding-left:40px;
                    text-align:left;
                    font-size:12px;
                    span.fa-stack{
                        position:absolute;
                        top:18px;
                        left: 0;
                        text-align:center;
                    }
                    div{
                        font-size:20px;
                        span{
                            & > strong{
                                font-size:20px;
                            }
                            & > span{
                                font-size:13px;
                                margin-bottom:10px;
                            }
                        }
                    }
                }
            }
            
            td {
            

            .small.fa-stack {
                font-size: 12px;
                line-height: 1.5em !important;
            }

            div {
                display: inline;
                font-size: 22px;

                .metric-label {
                    font-size: 12px;
                    width: 100%;
                    display: block;
                    line-height: 0;
                    @include breakpoint(tablet){
                        line-height: 1;
                    }
                    @include breakpoint(desktop){
                        line-height: 0;
                    }
                }

                .clickable{
                    cursor: pointer;
                }
            }
        }
    }

        #mobile-current-month{
            @include breakpoint(mobilephone){
                margin-top:10px;
            }
        }
    }

    #historical-details {

        > h3{
            font-size:20px;
            margin-top: 40px;
            float:left;
        }

        .bonus-title {        
            text-align:right;
            padding:10px 30px;
        }

        h3.bonus-text {
            opacity: 1;
        }

        .table-wrapper{
            min-height: 250px;
        }

        @include breakpoint(mobilephone) {
            padding-top: 0;

            .possible-bonus {
                background-color: $gray;
            }

            & > h3 {
                text-align: center;
                background-color: $border;
                padding: 30px 0;
                margin-top: 0;
            }

            .bonus-title {
                text-align:center;
                padding: 10px 0;
            }
        }

        table.table {

            @include breakpoint(notDesktop) {
                overflow-x: scroll;
                width: 100%;
            }

            tbody {
                td {
                    line-height: 3 !important;

                }
            }

            @include breakpoint(mobilephone) {
                thead {
                     tr:first-of-type td{
                        vertical-align: top;
                    }
                    span.fa {
                        font-size: 1.5em;
                    }
                }

                td {
                    vertical-align:bottom;
                    

                    span.fa-stack {
                        font-size: 12px;
                        top: -6px;
                        margin-top:10px;
                    }

                    padding: 8px 4px;


                    .month-name {
                        font-size: 12px;
                    }

                    small {
                        top: 21px;
                        left: 38px;
                    }
                }

               
            }
        }
    }

    .not-applicable{
        font-size: 14px;
        font-weight: 700;
        &.historical{
            font-size: 12px;
            @include breakpoint(tablet){
                font-size: 14px;
            }
        }
    }

    table.table {
        display: inline-table;

        thead {
            td {
                &:first-of-type {
                    text-align: left;
                }

                font-size: 12px;
                text-align: center;
                @include breakpoint(desktop){
                    min-width: 90px;
                }
                .name{
                    white-space: nowrap;
                }
            }
        }

        tbody {

            tr {
                @include fade-in-animation();
            }

            td {
                border-top: 0;
                border-bottom: 1px solid $border;
                @include breakpoint(desktop){
                    border-bottom: 0;
                    border-top: 1px solid $border;
                }
                &:first-of-type {
                    text-align: left;
                }

                line-height: 2 !important;
                position: relative;
                text-align: center;
                vertical-align: middle;

                small {
                    line-height: normal;
                    position: absolute;
                    top: 34px;
                    left: 7px;
                }
                .sub-title-current-month{
                    left: 50px;
                    top: 40px;
                }
            }
        }

        td.loading-row {
            position: absolute;
            width: 100%;
            height: 50px;

            p {
                line-height: 20px;
            }
        }
    }

    .load-next-btn{
        @include breakpoint(tablet){
            padding-left:100px;
            padding-right:100px;
        }
    }
}