﻿@import "../Common/globals";

.ownership{

    .img-responsive {
        img {
            cursor: pointer;

            &:hover {
                border: 4px solid $gray;
            }
        }

    }

    .card-view-style{
        background-color: $gray;
        /*padding: 0 20px 0 5px;
        @include breakpoint(mobilephone){
            padding: 0 5px;
        }*/
    }
    @include breakpoint(mobilephone)
    {
        overflow-x: hidden;
    }
    .corrective-description[disabled]{
        opacity: 0.5;
    }
    .corrective-action-label{
        color: $dark-dark;
        font-weight: 500;
        margin-left: 10px;
        position: relative;
        top: -5px;
    }
    .input-checkbox-style{
        height: 18px;
        width: 18px;
        cursor: pointer;
    }
     .tabs-wrap{
        .top-tabs{
            font-weight: bold;
            padding: 5px 0 0 20px !important;
            font-size: 16px;
            font-weight: 600;
            a.highlight {
                border-bottom: 5px solid $primary;
                color : $primary;
            }
            a {
               width : unset;
               margin-right : 30px;
               border : none;
               color : #999c9e;
            }
        } 
    }
     .mobile-tabs-wrap{
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        padding:0;
        margin:20px 0 10px 0;
    }
     .tab{
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0;
        border-right: 1px solid #e4e4e4;
        background-color : $default;
        color: #999c9e;
        text-transform:uppercase;
    }
    .activetab{
        border-bottom : 3px solid $primary;
        color: $primary;
    }
    .tab:last-child{
        border-right : none;
    }
    .hline-details{
        margin: 0 15px 20px 5px !important;
    }
     .add-btn{
        @include breakpoint(tablet){
            margin-right: 15px;
        }
    }
     .width-align{
     @include breakpoint(desktop){
     width: 70%;
     }
     @media only screen 
        and (min-width : 768px) 
        and (max-width : 1024px) 
        and (orientation : landscape) {
         width: 100%;
        }
 }

     .well{
         margin-bottom: 0 ;
     }
     .panel-default{
         border: none !important;
         background-color: $gray;
         margin-bottom: 0;
     }
    .panel-header-txt{
        padding-bottom: 0;
        padding-right: 35px;
        padding-left: 20px;
        background-color: $default;
         .back{
                &.btn-primary{
                    background-color: $primary;
                    border: none;
                    padding: 6px 12px;
                }
            }
        @include breakpoint(mobilephone){
            padding: 0 !important;
        }
    }

    .status-padding{
        padding-left: 0;
    }

    .clickable{
            .hstyle{
                border: 0;
                border-top: 4px solid #00aed0;
                width: 70%;
                margin-top: 0;
                margin-bottom: 0;
            }
            &.active{
            color: $primary;
            }
            /*border-bottom: 4px solid $primary;*/
    }

    .filterText{
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 10px;
        @include breakpoint(tablet){
            font-size: 14px;
        }
    }
    background-color: $default;   
    .subtitle-cwo{
        background-color: $default;
        color: $dark;
        font-size: 14px;
        font-weight: 600;
        font-style: italic;
        @include breakpoint(tablet){
            padding-left: 5px;
        }
    }
    .gap{
        margin-bottom: 5px;
        padding-top: 0;
    }
    .file-upload-wrap{
        margin-top: 0;
    }
    .file-upload{
        margin-left: 5px;
        border-left: 0;
        width: 110px;
    }
    .add-space{
        margin-bottom: 20px;
    }
    .emp-name{
        font-size: 16px !important;
        font-weight: 500 !important;
    }
    .emp-title{
        font-size: 14px !important;
        font-weight: 600 !important;
        color: $dark !important;
    }
    .complaint-view{
        @include breakpoint(mobileonly){
            padding-left: 5px !important;
        }
        padding-right: 5px;
    }
    .btn-black{
        padding: 12px 35px;
        margin-right: 10px; 
        font-weight: 600 !important;
    }
    .btn-grey{
        padding: 12px 26px;
        margin-right: 8px;
        font-weight: 600 !important;
    }

    .emp-row{
        @include breakpoint(tablet){
            padding-left: 20px !important;
            padding-top: 30px;
        }
        .emp-details-new{
            width: 70%;
            margin-left: 15px;
            @include breakpoint(tablet){
                
                margin-left: 20px;
            }
        }
        .emp-name{
            font-size: 16px !important;
            color: $primary;
            font-weight: 600 !important;
        }
        .date{
            font-size: 14px;
            font-weight: 600;
            color: $warning;
            font-style: italic;
        }

        .critical{
            font-size: 14px;
            font-weight: 600;
            font-style: italic;
        }

        .program{
            font-size: 12px;
            font-weight: 600;
            color: #999c9e !important;
            display: inline-block;
            border: 1px solid #999c9e;
            padding: 0 5px;
            border-radius: 3px !important;
            margin-left: 0;
            margin-bottom: 4px;
            font-style: normal !important;
        }

        .reject{
            font-size: 12px;
            font-weight: 600;
            color: $default !important;
            background-color: $muted-dark;
            display: inline-block;
            border: 1px solid #999c9e;
            padding: 0 20px;
            border-radius: 3px !important;
            margin-left: 0;
            margin-bottom: 4px;
            font-style: normal !important;
        }

        .emp-comment{
            color: $dark-dark;
            padding-top: 22px;
            font-weight: 400;
            width: 100%;
            word-wrap: break-word;
        }

        .square-img{
            height: 100px;
            width: 25%;
            @include breakpoint(tablet){
                height: 200px;
            }
            @include breakpoint(desktop){
                width: 20%;
            }
            border-radius: 2px;
            border: 1px solid #e5e5e5;
            img{
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
            .download-style{
                height: 100%;
                width: 100%;
                font-size: 15px;
                padding-top: 0 !important;
                @include breakpoint(tablet){
                    padding-top: 35px !important;
                }
            }
        }
    }

    .itemrow:nth-child(odd) {
        background-color:$gray;
        display: block;
    }

    .cpointer{
        cursor: pointer;
    }
    .main-block{
        @include breakpoint(laptop){
            min-height:700px;
        }
        
    }
    .accept-reject-btns-wrap{
        display: flex;
        text-align:center;
        margin: 20px 0;
         @include breakpoint(laptop){
            bottom: 25px;
        }
        .reject-btn{
             background-color: $muted-dark;
            color: $default;
            font-size: 14px;
            font-weight: 600;
            padding: 8px 20px;
            border-radius: 4px;
            width: 170px;
            margin:0 0 0 10px;
            @include breakpoint(mobilephone){
                width: 100%;
            }
        
        }
        .accept-btn{
            background-color: $success;
            color: $default;
            font-size: 14px;
            font-weight: 600;
            padding: 8px 20px;
            border-radius: 4px;
            width: 170px;
             @include breakpoint(mobilephone){
                 width: 100%;
            }
        }
    }
    .btn-accept{
        background-color: $success;
        color: $default;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 4px;
        width: 130px;
        margin-top: 20px;
        @include breakpoint(tablet){
            width: 170px;
            margin-top: 0;
        }
        @include breakpoint(mobilephone){
            margin-right: 15px;
            
        }
        @media only screen 
        and (max-width : 767px) {
            float: left !important;
        }
        @include breakpoint(mobileonly){
            margin-right: 5px!important;
            width: 120px;
        }
        text-align: center;
    }
    .btn-reject{
        background-color: $muted-dark;
        color: $default;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 4px;
        width: 130px;
        @include breakpoint(tablet){
            width: 170px;
        }
         @include breakpoint(mobileonly){
            width: 120px;
        }
        text-align: center;
        margin-top: 20px;
    }
    .edit-style{
        padding: 5px 12px !important;
        font-weight: 600;
        text-transform: uppercase;
    }
   
}

.ownership-modal-accrej-header{
    background-color: $default !important;
    color: $dark !important;
    font-weight: 400;
}

.ownership-modal-accrej-body{
    padding-top: 20px;
    padding-bottom: 60px;
    .corrective-text-area{
        height: 152px;
    }
    .title{
        color: $primary;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .btn-is-critical{
        font-size: 14px;
        background-color: $default;
        font-weight: 600;
        color: $dark;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-right: 10px;
    }
    .success-btns .btn.active {
        background-color: $primary;
        color: #ffffff;
        border-color: transparent;
    }
    .error{
        color: $dark;
        font-weight: 500;
    }
}

.ownership-modal-accrej-footer{

    .btn-cancel{
        background-color: $muted-dark;
        color: $default;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 30px;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
        text-decoration: none;
    }
    .btn-save{
            background-color: $dark;
            color: $default;
            font-size: 14px;
            font-weight: 600;
            padding: 12px 30px;
            text-decoration: none;
            border-radius: 3px;
            border-color: $dark;
        }

}

.ownership-index {
    padding: 0 15px 0 15px;

    @include breakpoint(mobilephone) {
        overflow-x: hidden;
    }

    .score-tab{
        height: auto;
        @media only screen and (min-width : 992px) and (max-width : 1025px)  {
            height: 65px;
        }
    }

    .monthly-scores-panel-align{
        padding-left: 0;
        @include breakpoint(mobileonly){
            padding-right: 10px;
        }
    }

    .most-recent-header{
        padding-left: 15px;
    }

    .most-recent-align{
        padding-right: 20px;
        @include breakpoint(tablet){
            padding-right: 10px;
        }
        
    }

    .view-by-emp-details{
        padding-left: 0;
        @include breakpoint(desktop){
            padding-left: 15px;
        }
        @include breakpoint(mobileonly){
            padding-right: 10px;
        }
    }

    .most-recent-panel{
        padding-right: 15px;
        @include breakpoint(desktop){
            padding-right: 0;
        }
        @include breakpoint(mobileonly){
            padding-right: 30px;
        }
    }

    .charts-align{
        padding-left: 10px;
        @include breakpoint(mobileonly){
            padding-right: 10px;
        }
    }

    .score-panel {
        padding: 0 5px 20px 5px;

        @include breakpoint(tablet) {
            padding-top: 10px;
        }

        .score-tab {
            text-align: left;
            padding: 5px 15px;
            border-bottom: 1px solid $border;

            @include breakpoint(tablet) {
                padding: 10px 15px;
                text-align: center;
                border: 1px solid $border;
            }

            .score-value {
                color: $primary;
                font-size: 22px;
                font-weight: 600;
                padding-right: 10px;
                float: left;
                width: 20%;

                @include breakpoint(tablet) {
                    float: none;
                    width: auto;
                }
            }

            .score-title {
                font-size: 14px;
                font-weight: 600;
                position: relative;
                top: 6px;
                float: left;

                @include breakpoint(tablet) {
                    float: none;
                    top: -3px;
                }
            }
        }
    }

    .border-none {
        border: none;
    }

    .emp-title-left {
        text-align: left;
        padding-left: 20px;
    }

    .hline {
        margin: 10px 0 0 0;
    }

    .mobile-tabs-wrap {
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        padding: 0;
        margin: 20px 0 10px 0;
    }

    .tab {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0;
        border-right: 1px solid #e4e4e4;
        background-color: $default;
        color: #999c9e;
        text-transform: uppercase;
    }

    .activetab {
        border-bottom: 3px solid $primary;
        color: $primary;
    }

    .tab:last-child {
        border-right: none;
    }

    .panel {
        border: none;
        border-radius: unset;
        box-shadow: none;

        .panel-header-txt {
            font-size: 22px;
            font-weight: 300;
            color: $dark-dark;
            border-bottom: 1px solid $base;
        }
    }

    .page-content {
        padding: 0;
        background-color: $gray;

        .recent {
            .title {
                font-size: 22px;
                color: $dark-dark;
                font-weight: 300;
            }
            .btn-primary{
                background-color: $primary;
                border: none;
            }
        }

        .charts {
            background-color: $default;
            padding-left: 30px;
            @include breakpoint(desktop){
                padding-left: 15px;
            }
        }
    }

    .head-desc {
        padding: 0 18px 0 5px;

        @include breakpoint(mobilephone) {
            padding-left: 0;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: $dark-dark;
            width: 100%;
            padding-bottom: 0;

            @include breakpoint(tablet) {
                width: 70%;
                float: left;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                padding-bottom: 30px;
                color: $dark-dark;
            }
        }

        .audits-p {
            width: 100%;

            @include breakpoint(tablet) {
                width: 70%;
            }
        }

        a {
            margin-top: auto;
            font-weight: bold;
            text-transform: capitalize;
        }

        .add-btn {
            padding: 12px 21px;
            background-color: $success;
            border-radius: 4px;
            margin-top: 5px;
            color: $default;
            width: 200px;
        }

        .audits-add-btn {
            padding: 12px 51px;

            @include breakpoint(mobilephone) {
                padding: 8px 14px;
                margin-left: 5px;
            }
        }

        .send-survey-btn {
            padding: 12px 42px;
        }

        .config-btn {
            padding: 8px 10px;
            background-color: $default;
            border-radius: 4px;
            margin-right: 10px;
            margin-top: 5px;
            color: $dark-dark;

            @include breakpoint(mobilephone) {
                padding: 7px 10px;
                margin-right: 0;
            }
        }
    }

    .wo-view-by-type-align {
        padding-right: 15px;
        @include breakpoint(mobileonly){
            padding-right: 25px;
        }
        .panel-header-txt {
            margin-left: -7px;
        }
    }

    .wo-view-by-building-align {
        padding-right: 15px !important;
        .panel-header-txt {
            margin-left: -7px;
        }
    }

    .wo-view-by-employee {
        padding-right: 0;
        @include breakpoint(desktop){
            padding-right: 15px;
        }
        .details-grid > tbody > tr > td {
            padding-left: 20px;
        }

        .panel-header-txt {
            margin-right: 15px;
            padding-left: 5px;
        }
    }

    .audit-padding-right-0 {
        @include breakpoint(mobilephone) {
            padding-right: 0;
        }
    }

    .tabs-wrap {
        .top-tabs {
            font-weight: bold;
            padding: 5px 0 0 20px !important;
            font-size: 16px;
            font-weight: 600;

            a.highlight {
                border-bottom: 5px solid $primary;
                color: $primary;
            }

            a {
                width: unset;
                margin-right: 30px;
                border: none;
                color: #999c9e;
            }
        }
    }

    .stat-wrap {
        padding-left: 0;

        .stat {
            padding: 0;
            line-height: unset;
            margin-left: -10px;
            font-weight: 300;
            font-size: 48px;
        }

        .blue {
            color: $dark-dark;
        }

        .red {
            color: $danger;
        }

        .txt {
            padding: 0;
            text-align: left;
            color: $primary;
            font-size: 16px;
            font-weight: 600;

            a {
                color: $primary;
            }
        }

        .txt-sm {
            text-align: left;
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            color: $dark-dark;
            font-style: italic;
        }

        .stat-text {
            padding: 15px 15px 0 0;
        }

        .wo-co-goal-padding {
            padding: 45px 15px 0 45px;
        }
    }

    .view-by-building {
        .panel {
            padding: 20px 0;
        }
    }

    .most-recent {
        background-color: $border;
        padding-top: 20px;

        .panel-header-txt {
            border-bottom: solid 1px $base;

            .btn {
                margin-top: -10px;
            }
        }
    }

    .avg-results {
        background-color: $border;
        padding-top: 20px;

        .panel-header-txt {
            border-bottom: solid 1px $base;

            .btn {
                margin-top: -22px;
            }
        }

        .pri-color {
            background: #f4f4f4 !important;
            color: $dark !important;
        }

        .details-grid thead tr th {
            color: $default;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            background: $primary;
            border-color: $primary;
            border-top: none !important;
        }
    }

    .bg-brightXGray {
        background-color: $border;
    }

    .viewByEmployee {
        .panel {
            padding-top: 20px;
        }
    }

    .btn-primary-viewall {
        background-color: $primary;
        border-color: $primary;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
    }

    .margin-left--7 {
        margin-left: -7px;
    }

    .no-margin {
        margin: 0;
    }

    .padding-t-10 {
        padding-top: 10px;
    }

    .padding-r-20 {
        padding-right: 20px !important;
    }

    .padding-r-25 {
        padding-right: 25px !important;
    }

    .padding-left-10 {
        padding-left: 10px !important;
    }

    .padding-left-25 {
        padding-left: 25px !important;
    }

    .padding-left-30 {
        padding-left: 30px !important;
    }

    .padding-left-35 {
        padding-left: 35px;
    }
    #legendSpot{
        .legend-txt{
            width: 63%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cards{
    padding-left: 10px;
    padding-right: 10px;
    @include breakpoint(tablet){
        padding-left: 15px;
        padding-right: 15px;
    }
    .size{
        @include breakpoint(tablet){
            width: 49%;

        }
    }
    .size:nth-child(odd){
        margin-right: 14px;
    }
}
.center-cards {
        padding-left: 15px;
        padding-right: 15px !important;
        @include breakpoint(tablet){
            padding-left: 5%;
            padding-right: 5% !important;
        }
       
        .card-align{
             @media only screen and (min-width : 768px) and (max-width : 1250px) {
                 margin-left: 1%;
                 margin-right: 1%;
            }
              @media only screen and (min-width : 1251px)  {
                margin-left: 0.6%;
                margin-right: 0.6%;
            }
        }
        .card-size {
            @media only screen and (min-width : 768px) and (max-width : 1250px) {
                 width: 48%;
            }
            @media only screen and (min-width : 1251px){
                 width: 32.13%;
            }
        }
    }
.card-body-content {
   

    .associate-section {
        position: relative;
        margin-top: 6px;
        margin-left: 8px;
        width: 78%;

        .name {
            font-size: 14px;
            font-weight: 700;
        }

        .type {
            font-size: 10px;
            font-weight: 700;
            color: $muted;
            font-style: italic;
            text-transform: capitalize;
        }
    }

    .name-lbl {
        font-size: 10px;
        font-weight: 700;
        color: $muted;
        text-transform: uppercase;
    }

    .site {
        font-size: 12px;
        .building-name{
            font-style: italic;
        }
        .building{
            width: 29%;
        }
        .site-client{
            width: 72%;
        }
    }

    .employee-img {
        border: 3px solid $border;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: $default;
    }
}
.card-footer-content {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    .fit-height{
        margin-bottom: 2px;
    }
    .fit-no-type{
        margin-bottom: 28px;
    }
    .relatedTo {
        color: $muted-dark;
        display: inline-block;
        text-align: center;
        background: $gray;
        padding: 2px 5px;
        border-radius: 3px;
        margin-left: 0;
        margin-bottom: 4px;
        font-size: 10px;
        &.fit {
            @media only screen and (min-width : 992px) and (max-width : 1390px) {
                width: 65px;
            }
        }

        &.fits {
            width: 80px;
        }
    }
   
    .click-style{
        cursor: pointer;
        text-decoration: underline;
    }
    .customer-rep{
        padding-bottom: 11px;
    }
}