@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.ownership {
  background-color: #ffffff;
}
.ownership .img-responsive img {
  cursor: pointer;
}
.ownership .img-responsive img:hover {
  border: 4px solid #f5f5f5;
}
.ownership .card-view-style {
  background-color: #f5f5f5;
  /*padding: 0 20px 0 5px;
  @include breakpoint(mobilephone){
      padding: 0 5px;
  }*/
}
@media (max-width: 479px) {
  .ownership {
    overflow-x: hidden;
  }
}
.ownership .corrective-description[disabled] {
  opacity: 0.5;
}
.ownership .corrective-action-label {
  color: #2f2930;
  font-weight: 500;
  margin-left: 10px;
  position: relative;
  top: -5px;
}
.ownership .input-checkbox-style {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.ownership .tabs-wrap .top-tabs {
  font-weight: bold;
  padding: 5px 0 0 20px !important;
  font-size: 16px;
  font-weight: 600;
}
.ownership .tabs-wrap .top-tabs a.highlight {
  border-bottom: 5px solid #00AFD1;
  color: #00AFD1;
}
.ownership .tabs-wrap .top-tabs a {
  width: unset;
  margin-right: 30px;
  border: none;
  color: #999c9e;
}
.ownership .mobile-tabs-wrap {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 0;
  margin: 20px 0 10px 0;
}
.ownership .tab {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding: 20px 0;
  border-right: 1px solid #e4e4e4;
  background-color: #ffffff;
  color: #999c9e;
  text-transform: uppercase;
}
.ownership .activetab {
  border-bottom: 3px solid #00AFD1;
  color: #00AFD1;
}
.ownership .tab:last-child {
  border-right: none;
}
.ownership .hline-details {
  margin: 0 15px 20px 5px !important;
}
@media (min-width: 768px) {
  .ownership .add-btn {
    margin-right: 15px;
  }
}
@media (min-width: 1167px) {
  .ownership .width-align {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ownership .width-align {
    width: 100%;
  }
}
.ownership .well {
  margin-bottom: 0;
}
.ownership .panel-default {
  border: none !important;
  background-color: #f5f5f5;
  margin-bottom: 0;
}
.ownership .panel-header-txt {
  padding-bottom: 0;
  padding-right: 35px;
  padding-left: 20px;
  background-color: #ffffff;
}
.ownership .panel-header-txt .back.btn-primary {
  background-color: #00AFD1;
  border: none;
  padding: 6px 12px;
}
@media (max-width: 479px) {
  .ownership .panel-header-txt {
    padding: 0 !important;
  }
}
.ownership .status-padding {
  padding-left: 0;
}
.ownership .clickable {
  /*border-bottom: 4px solid $primary;*/
}
.ownership .clickable .hstyle {
  border: 0;
  border-top: 4px solid #00aed0;
  width: 70%;
  margin-top: 0;
  margin-bottom: 0;
}
.ownership .clickable.active {
  color: #00AFD1;
}
.ownership .filterText {
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .ownership .filterText {
    font-size: 14px;
  }
}
.ownership .subtitle-cwo {
  background-color: #ffffff;
  color: #403841;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 768px) {
  .ownership .subtitle-cwo {
    padding-left: 5px;
  }
}
.ownership .gap {
  margin-bottom: 5px;
  padding-top: 0;
}
.ownership .file-upload-wrap {
  margin-top: 0;
}
.ownership .file-upload {
  margin-left: 5px;
  border-left: 0;
  width: 110px;
}
.ownership .add-space {
  margin-bottom: 20px;
}
.ownership .emp-name {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.ownership .emp-title {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #403841 !important;
}
.ownership .complaint-view {
  padding-right: 5px;
}
@media (max-width: 320px) {
  .ownership .complaint-view {
    padding-left: 5px !important;
  }
}
.ownership .btn-black {
  padding: 12px 35px;
  margin-right: 10px;
  font-weight: 600 !important;
}
.ownership .btn-grey {
  padding: 12px 26px;
  margin-right: 8px;
  font-weight: 600 !important;
}
@media (min-width: 768px) {
  .ownership .emp-row {
    padding-left: 20px !important;
    padding-top: 30px;
  }
}
.ownership .emp-row .emp-details-new {
  width: 70%;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .ownership .emp-row .emp-details-new {
    margin-left: 20px;
  }
}
.ownership .emp-row .emp-name {
  font-size: 16px !important;
  color: #00AFD1;
  font-weight: 600 !important;
}
.ownership .emp-row .date {
  font-size: 14px;
  font-weight: 600;
  color: #F99D00;
  font-style: italic;
}
.ownership .emp-row .critical {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
.ownership .emp-row .program {
  font-size: 12px;
  font-weight: 600;
  color: #999c9e !important;
  display: inline-block;
  border: 1px solid #999c9e;
  padding: 0 5px;
  border-radius: 3px !important;
  margin-left: 0;
  margin-bottom: 4px;
  font-style: normal !important;
}
.ownership .emp-row .reject {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff !important;
  background-color: #8c8f92;
  display: inline-block;
  border: 1px solid #999c9e;
  padding: 0 20px;
  border-radius: 3px !important;
  margin-left: 0;
  margin-bottom: 4px;
  font-style: normal !important;
}
.ownership .emp-row .emp-comment {
  color: #2f2930;
  padding-top: 22px;
  font-weight: 400;
  width: 100%;
  word-wrap: break-word;
}
.ownership .emp-row .square-img {
  height: 100px;
  width: 25%;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .ownership .emp-row .square-img {
    height: 200px;
  }
}
@media (min-width: 1167px) {
  .ownership .emp-row .square-img {
    width: 20%;
  }
}
.ownership .emp-row .square-img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.ownership .emp-row .square-img .download-style {
  height: 100%;
  width: 100%;
  font-size: 15px;
  padding-top: 0 !important;
}
@media (min-width: 768px) {
  .ownership .emp-row .square-img .download-style {
    padding-top: 35px !important;
  }
}
.ownership .itemrow:nth-child(odd) {
  background-color: #f5f5f5;
  display: block;
}
.ownership .cpointer {
  cursor: pointer;
}
@media (min-width: 991px) {
  .ownership .main-block {
    min-height: 700px;
  }
}
.ownership .accept-reject-btns-wrap {
  display: flex;
  text-align: center;
  margin: 20px 0;
}
@media (min-width: 991px) {
  .ownership .accept-reject-btns-wrap {
    bottom: 25px;
  }
}
.ownership .accept-reject-btns-wrap .reject-btn {
  background-color: #8c8f92;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 4px;
  width: 170px;
  margin: 0 0 0 10px;
}
@media (max-width: 479px) {
  .ownership .accept-reject-btns-wrap .reject-btn {
    width: 100%;
  }
}
.ownership .accept-reject-btns-wrap .accept-btn {
  background-color: #9FC62D;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 4px;
  width: 170px;
}
@media (max-width: 479px) {
  .ownership .accept-reject-btns-wrap .accept-btn {
    width: 100%;
  }
}
.ownership .btn-accept {
  background-color: #9FC62D;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 4px;
  width: 130px;
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .ownership .btn-accept {
    width: 170px;
    margin-top: 0;
  }
}
@media (max-width: 479px) {
  .ownership .btn-accept {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .ownership .btn-accept {
    float: left !important;
  }
}
@media (max-width: 320px) {
  .ownership .btn-accept {
    margin-right: 5px !important;
    width: 120px;
  }
}
.ownership .btn-reject {
  background-color: #8c8f92;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 4px;
  width: 130px;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .ownership .btn-reject {
    width: 170px;
  }
}
@media (max-width: 320px) {
  .ownership .btn-reject {
    width: 120px;
  }
}
.ownership .edit-style {
  padding: 5px 12px !important;
  font-weight: 600;
  text-transform: uppercase;
}

.ownership-modal-accrej-header {
  background-color: #ffffff !important;
  color: #403841 !important;
  font-weight: 400;
}

.ownership-modal-accrej-body {
  padding-top: 20px;
  padding-bottom: 60px;
}
.ownership-modal-accrej-body .corrective-text-area {
  height: 152px;
}
.ownership-modal-accrej-body .title {
  color: #00AFD1;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.ownership-modal-accrej-body .btn-is-critical {
  font-size: 14px;
  background-color: #ffffff;
  font-weight: 600;
  color: #403841;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.ownership-modal-accrej-body .success-btns .btn.active {
  background-color: #00AFD1;
  color: #ffffff;
  border-color: transparent;
}
.ownership-modal-accrej-body .error {
  color: #403841;
  font-weight: 500;
}

.ownership-modal-accrej-footer .btn-cancel {
  background-color: #8c8f92;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
.ownership-modal-accrej-footer .btn-save {
  background-color: #403841;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 3px;
  border-color: #403841;
}

.ownership-index {
  padding: 0 15px 0 15px;
}
@media (max-width: 479px) {
  .ownership-index {
    overflow-x: hidden;
  }
}
.ownership-index .score-tab {
  height: auto;
}
@media only screen and (min-width: 992px) and (max-width: 1025px) {
  .ownership-index .score-tab {
    height: 65px;
  }
}
.ownership-index .monthly-scores-panel-align {
  padding-left: 0;
}
@media (max-width: 320px) {
  .ownership-index .monthly-scores-panel-align {
    padding-right: 10px;
  }
}
.ownership-index .most-recent-header {
  padding-left: 15px;
}
.ownership-index .most-recent-align {
  padding-right: 20px;
}
@media (min-width: 768px) {
  .ownership-index .most-recent-align {
    padding-right: 10px;
  }
}
.ownership-index .view-by-emp-details {
  padding-left: 0;
}
@media (min-width: 1167px) {
  .ownership-index .view-by-emp-details {
    padding-left: 15px;
  }
}
@media (max-width: 320px) {
  .ownership-index .view-by-emp-details {
    padding-right: 10px;
  }
}
.ownership-index .most-recent-panel {
  padding-right: 15px;
}
@media (min-width: 1167px) {
  .ownership-index .most-recent-panel {
    padding-right: 0;
  }
}
@media (max-width: 320px) {
  .ownership-index .most-recent-panel {
    padding-right: 30px;
  }
}
.ownership-index .charts-align {
  padding-left: 10px;
}
@media (max-width: 320px) {
  .ownership-index .charts-align {
    padding-right: 10px;
  }
}
.ownership-index .score-panel {
  padding: 0 5px 20px 5px;
}
@media (min-width: 768px) {
  .ownership-index .score-panel {
    padding-top: 10px;
  }
}
.ownership-index .score-panel .score-tab {
  text-align: left;
  padding: 5px 15px;
  border-bottom: 1px solid #e8e8e8;
}
@media (min-width: 768px) {
  .ownership-index .score-panel .score-tab {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #e8e8e8;
  }
}
.ownership-index .score-panel .score-tab .score-value {
  color: #00AFD1;
  font-size: 22px;
  font-weight: 600;
  padding-right: 10px;
  float: left;
  width: 20%;
}
@media (min-width: 768px) {
  .ownership-index .score-panel .score-tab .score-value {
    float: none;
    width: auto;
  }
}
.ownership-index .score-panel .score-tab .score-title {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 6px;
  float: left;
}
@media (min-width: 768px) {
  .ownership-index .score-panel .score-tab .score-title {
    float: none;
    top: -3px;
  }
}
.ownership-index .border-none {
  border: none;
}
.ownership-index .emp-title-left {
  text-align: left;
  padding-left: 20px;
}
.ownership-index .hline {
  margin: 10px 0 0 0;
}
.ownership-index .mobile-tabs-wrap {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 0;
  margin: 20px 0 10px 0;
}
.ownership-index .tab {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding: 20px 0;
  border-right: 1px solid #e4e4e4;
  background-color: #ffffff;
  color: #999c9e;
  text-transform: uppercase;
}
.ownership-index .activetab {
  border-bottom: 3px solid #00AFD1;
  color: #00AFD1;
}
.ownership-index .tab:last-child {
  border-right: none;
}
.ownership-index .panel {
  border: none;
  border-radius: unset;
  box-shadow: none;
}
.ownership-index .panel .panel-header-txt {
  font-size: 22px;
  font-weight: 300;
  color: #2f2930;
  border-bottom: 1px solid #cccccc;
}
.ownership-index .page-content {
  padding: 0;
  background-color: #f5f5f5;
}
.ownership-index .page-content .recent .title {
  font-size: 22px;
  color: #2f2930;
  font-weight: 300;
}
.ownership-index .page-content .recent .btn-primary {
  background-color: #00AFD1;
  border: none;
}
.ownership-index .page-content .charts {
  background-color: #ffffff;
  padding-left: 30px;
}
@media (min-width: 1167px) {
  .ownership-index .page-content .charts {
    padding-left: 15px;
  }
}
.ownership-index .head-desc {
  padding: 0 18px 0 5px;
}
@media (max-width: 479px) {
  .ownership-index .head-desc {
    padding-left: 0;
  }
}
.ownership-index .head-desc p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #2f2930;
  width: 100%;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .ownership-index .head-desc p {
    width: 70%;
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 30px;
    color: #2f2930;
  }
}
.ownership-index .head-desc .audits-p {
  width: 100%;
}
@media (min-width: 768px) {
  .ownership-index .head-desc .audits-p {
    width: 70%;
  }
}
.ownership-index .head-desc a {
  margin-top: auto;
  font-weight: bold;
  text-transform: capitalize;
}
.ownership-index .head-desc .add-btn {
  padding: 12px 21px;
  background-color: #9FC62D;
  border-radius: 4px;
  margin-top: 5px;
  color: #ffffff;
  width: 200px;
}
.ownership-index .head-desc .audits-add-btn {
  padding: 12px 51px;
}
@media (max-width: 479px) {
  .ownership-index .head-desc .audits-add-btn {
    padding: 8px 14px;
    margin-left: 5px;
  }
}
.ownership-index .head-desc .send-survey-btn {
  padding: 12px 42px;
}
.ownership-index .head-desc .config-btn {
  padding: 8px 10px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 5px;
  color: #2f2930;
}
@media (max-width: 479px) {
  .ownership-index .head-desc .config-btn {
    padding: 7px 10px;
    margin-right: 0;
  }
}
.ownership-index .wo-view-by-type-align {
  padding-right: 15px;
}
@media (max-width: 320px) {
  .ownership-index .wo-view-by-type-align {
    padding-right: 25px;
  }
}
.ownership-index .wo-view-by-type-align .panel-header-txt {
  margin-left: -7px;
}
.ownership-index .wo-view-by-building-align {
  padding-right: 15px !important;
}
.ownership-index .wo-view-by-building-align .panel-header-txt {
  margin-left: -7px;
}
.ownership-index .wo-view-by-employee {
  padding-right: 0;
}
@media (min-width: 1167px) {
  .ownership-index .wo-view-by-employee {
    padding-right: 15px;
  }
}
.ownership-index .wo-view-by-employee .details-grid > tbody > tr > td {
  padding-left: 20px;
}
.ownership-index .wo-view-by-employee .panel-header-txt {
  margin-right: 15px;
  padding-left: 5px;
}
@media (max-width: 479px) {
  .ownership-index .audit-padding-right-0 {
    padding-right: 0;
  }
}
.ownership-index .tabs-wrap .top-tabs {
  font-weight: bold;
  padding: 5px 0 0 20px !important;
  font-size: 16px;
  font-weight: 600;
}
.ownership-index .tabs-wrap .top-tabs a.highlight {
  border-bottom: 5px solid #00AFD1;
  color: #00AFD1;
}
.ownership-index .tabs-wrap .top-tabs a {
  width: unset;
  margin-right: 30px;
  border: none;
  color: #999c9e;
}
.ownership-index .stat-wrap {
  padding-left: 0;
}
.ownership-index .stat-wrap .stat {
  padding: 0;
  line-height: unset;
  margin-left: -10px;
  font-weight: 300;
  font-size: 48px;
}
.ownership-index .stat-wrap .blue {
  color: #2f2930;
}
.ownership-index .stat-wrap .red {
  color: #E93D42;
}
.ownership-index .stat-wrap .txt {
  padding: 0;
  text-align: left;
  color: #00AFD1;
  font-size: 16px;
  font-weight: 600;
}
.ownership-index .stat-wrap .txt a {
  color: #00AFD1;
}
.ownership-index .stat-wrap .txt-sm {
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #2f2930;
  font-style: italic;
}
.ownership-index .stat-wrap .stat-text {
  padding: 15px 15px 0 0;
}
.ownership-index .stat-wrap .wo-co-goal-padding {
  padding: 45px 15px 0 45px;
}
.ownership-index .view-by-building .panel {
  padding: 20px 0;
}
.ownership-index .most-recent {
  background-color: #e8e8e8;
  padding-top: 20px;
}
.ownership-index .most-recent .panel-header-txt {
  border-bottom: solid 1px #cccccc;
}
.ownership-index .most-recent .panel-header-txt .btn {
  margin-top: -10px;
}
.ownership-index .avg-results {
  background-color: #e8e8e8;
  padding-top: 20px;
}
.ownership-index .avg-results .panel-header-txt {
  border-bottom: solid 1px #cccccc;
}
.ownership-index .avg-results .panel-header-txt .btn {
  margin-top: -22px;
}
.ownership-index .avg-results .pri-color {
  background: #f4f4f4 !important;
  color: #403841 !important;
}
.ownership-index .avg-results .details-grid thead tr th {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  background: #00AFD1;
  border-color: #00AFD1;
  border-top: none !important;
}
.ownership-index .bg-brightXGray {
  background-color: #e8e8e8;
}
.ownership-index .viewByEmployee .panel {
  padding-top: 20px;
}
.ownership-index .btn-primary-viewall {
  background-color: #00AFD1;
  border-color: #00AFD1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}
.ownership-index .margin-left--7 {
  margin-left: -7px;
}
.ownership-index .no-margin {
  margin: 0;
}
.ownership-index .padding-t-10 {
  padding-top: 10px;
}
.ownership-index .padding-r-20 {
  padding-right: 20px !important;
}
.ownership-index .padding-r-25 {
  padding-right: 25px !important;
}
.ownership-index .padding-left-10 {
  padding-left: 10px !important;
}
.ownership-index .padding-left-25 {
  padding-left: 25px !important;
}
.ownership-index .padding-left-30 {
  padding-left: 30px !important;
}
.ownership-index .padding-left-35 {
  padding-left: 35px;
}
.ownership-index #legendSpot .legend-txt {
  width: 63%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .cards {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .cards .size {
    width: 49%;
  }
}
.cards .size:nth-child(odd) {
  margin-right: 14px;
}

.center-cards {
  padding-left: 15px;
  padding-right: 15px !important;
}
@media (min-width: 768px) {
  .center-cards {
    padding-left: 5%;
    padding-right: 5% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .center-cards .card-align {
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media only screen and (min-width: 1251px) {
  .center-cards .card-align {
    margin-left: 0.6%;
    margin-right: 0.6%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .center-cards .card-size {
    width: 48%;
  }
}
@media only screen and (min-width: 1251px) {
  .center-cards .card-size {
    width: 32.13%;
  }
}

.card-body-content .associate-section {
  position: relative;
  margin-top: 6px;
  margin-left: 8px;
  width: 78%;
}
.card-body-content .associate-section .name {
  font-size: 14px;
  font-weight: 700;
}
.card-body-content .associate-section .type {
  font-size: 10px;
  font-weight: 700;
  color: #999c9e;
  font-style: italic;
  text-transform: capitalize;
}
.card-body-content .name-lbl {
  font-size: 10px;
  font-weight: 700;
  color: #999c9e;
  text-transform: uppercase;
}
.card-body-content .site {
  font-size: 12px;
}
.card-body-content .site .building-name {
  font-style: italic;
}
.card-body-content .site .building {
  width: 29%;
}
.card-body-content .site .site-client {
  width: 72%;
}
.card-body-content .employee-img {
  border: 3px solid #e8e8e8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #ffffff;
}

.card-footer-content {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.card-footer-content .fit-height {
  margin-bottom: 2px;
}
.card-footer-content .fit-no-type {
  margin-bottom: 28px;
}
.card-footer-content .relatedTo {
  color: #8c8f92;
  display: inline-block;
  text-align: center;
  background: #f5f5f5;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 0;
  margin-bottom: 4px;
  font-size: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1390px) {
  .card-footer-content .relatedTo.fit {
    width: 65px;
  }
}
.card-footer-content .relatedTo.fits {
  width: 80px;
}
.card-footer-content .click-style {
  cursor: pointer;
  text-decoration: underline;
}
.card-footer-content .customer-rep {
  padding-bottom: 11px;
}

/*# sourceMappingURL=ownership.css.map */
