@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.reportcard {
  /*.sub-head{
      background-color: $default;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
  }*/
  overflow: hidden;
}
.reportcard .scorecard-header {
  padding: 0 15px 0 28px;
}
@media (min-width: 768px) {
  .reportcard .scorecard-header {
    padding: 0 15px;
  }
}
.reportcard .emp-profile-well {
  padding: 0 15px 25px 15px;
  overflow: hidden;
}
.reportcard .emp-profile-padding {
  padding-left: 15px;
}
@media (min-width: 768px) {
  .reportcard .emp-profile-padding {
    padding-left: 30px;
  }
}
.reportcard .se-circle-img {
  width: 70px;
  height: 70px;
  /*position: absolute;*/
  border-radius: 50%;
  border: 3px solid #aaa;
  overflow: hidden;
}
.reportcard .se-circle-img img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .reportcard .se-circle-img {
    width: 90px;
    height: 90px;
  }
}
.reportcard .emp-profile-wgt .circle-img, .reportcard .emp-row .circle-img {
  width: 60px;
  height: 60px;
  position: absolute;
}
.reportcard .emp-profile-wgt .circle-img img, .reportcard .emp-row .circle-img img {
  width: 100%;
  height: 100%;
}
.reportcard .emp-profile-wgt .row-details, .reportcard .emp-row .row-details {
  margin-left: 10px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .reportcard .emp-profile-wgt .row-details, .reportcard .emp-row .row-details {
    margin-left: 15px;
  }
}
.reportcard .emp-profile-wgt .row-details .emp-name, .reportcard .emp-row .row-details .emp-name {
  color: #00AFD1;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 3px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .reportcard .emp-profile-wgt .row-details .emp-name, .reportcard .emp-row .row-details .emp-name {
    font-size: 16px;
  }
}
.reportcard .emp-profile-wgt .row-details .emp-title, .reportcard .emp-profile-wgt .row-details .sm, .reportcard .emp-row .row-details .emp-title, .reportcard .emp-row .row-details .sm {
  font-size: 14px;
  font-style: italic;
  color: #9e9e9e;
}
.reportcard .emp-profile-wgt .row-details .emp-program, .reportcard .emp-row .row-details .emp-program {
  color: #9e9e9e;
  font-style: normal;
  display: inline-block;
  border: 1px solid #9e9e9e;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 0;
  margin-bottom: 4px;
  font-size: 12px;
}
.reportcard .emp-profile-wgt .row-details label.update-date, .reportcard .emp-row .row-details label.update-date {
  padding-top: 10px;
}
.reportcard .emp-profile-wgt .row-details .hire-date, .reportcard .emp-row .row-details .hire-date {
  color: #cccccc;
}
.reportcard .emp-profile-wgt .row-details .sm, .reportcard .emp-profile-wgt .row-details .hire-date, .reportcard .emp-row .row-details .sm, .reportcard .emp-row .row-details .hire-date {
  font-size: 12px;
}
.reportcard .btn-print {
  border: 1px solid;
  background: #00afd1;
  color: #fff;
  border-color: #00afd1;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
}
.reportcard .row-details-emp {
  color: #00AFD1 !important;
  font-size: 15px !important;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .reportcard .row-details-emp {
    font-size: 20px !important;
  }
}
.reportcard .padding-r {
  padding-right: 30px;
}
.reportcard .date-print-content {
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.reportcard .date-print-content .monthly-picker-div {
  background-color: #ffffff;
}
.reportcard .date-print-content .monthly-picker-div .icon-style {
  color: #8c8f92;
  font-weight: 600;
}
.reportcard .date-print-content .monthly-picker-div .custom-monthly-picker {
  padding: 20px 10px;
}
.reportcard .date-print-content .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
  margin-left: 5px;
  width: 100%;
  position: relative;
  top: 0;
  /*right: 20px;*/
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
  color: #00afd1;
  font-weight: bold;
  font-size: 14px;
}
@media (min-width: 1167px) {
  .reportcard .date-print-content .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    font-size: 16px;
  }
}
@media (min-width: 1167px) {
  .reportcard .date-print-content .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    width: 300px;
  }
}
.reportcard .date-print-content .monthly-picker-div .custom-monthly-picker .monthly-date-picker a {
  background-color: #ffffff;
  color: #00afd1;
  outline: 0;
  padding-left: 5px;
}
.reportcard .title-content {
  padding-top: 15px;
  padding: 15px;
}
.reportcard .title-content .table-head {
  color: #F99D00;
  font-size: 16px;
  padding-left: 25px;
  font-weight: 600;
  line-height: 18px;
}
@media (min-width: 768px) {
  .reportcard .title-content .table-head {
    font-size: 18px;
    line-height: 22px;
    padding-left: 20px;
  }
}
.reportcard .title-content .update-date {
  padding-left: 20px;
}
@media (max-width: 479px) {
  .reportcard .title-content .update-date {
    padding-top: 0;
    padding-left: 25px;
  }
}
.reportcard .disabled {
  color: #aaaaaa;
  cursor: default;
}
.reportcard .panel-body-more {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 768px) {
  .reportcard .panel-body-more {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
.reportcard .panel {
  margin: 0 15px;
  overflow: hidden;
}
@media (max-width: 479px) {
  .reportcard .panel {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .reportcard .panel .panel-body-more {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.reportcard .report-card-v {
  padding: 10px 30px 10px 10px;
}
@media (min-width: 768px) {
  .reportcard .report-card-v {
    padding: 10px 15px 10px 5px;
  }
}
.reportcard .sub-head {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  float: right;
}
.reportcard .print-card-btn {
  padding-top: 20px;
  padding-right: 15px !important;
  border-bottom: none !important;
}
.reportcard .print-card-btn .entry-btn-print {
  padding: 10px 20px;
}
.reportcard .print-card-btn .print-dropdown {
  margin-right: 30px;
  padding: 5px 30px;
}
.reportcard .mobile-tabs-wrap {
  border-top: 1px solid #e4e4e4;
  padding: 10px 0;
}
.reportcard .mobile-tabs-wrap .tab-1 {
  border-right: 1px solid #e4e4e4;
}
@media (max-width: 479px) {
  .reportcard .mobile-tabs-wrap .tab {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .reportcard .mobile-tabs-wrap .tab {
    width: 140px;
  }
}
.reportcard .mobile-tabs-wrap .tab .icon-style {
  font-size: 35px;
  color: #e5e5e5;
  padding-top: 15px;
}
@media (min-width: 991px) {
  .reportcard .mobile-tabs-wrap .tab .icon-style {
    font-size: 75px;
    padding-top: 0;
  }
}
.reportcard .mobile-tabs-wrap .tab .bonus-data {
  padding: 5px 5px 10px 7px;
}
@media (max-width: 479px) {
  .reportcard .mobile-tabs-wrap .tab .bonus-data {
    width: 100px;
  }
}
@media (min-width: 991px) {
  .reportcard .mobile-tabs-wrap .tab .bonus-data {
    padding: 5px 10px 10px 10px;
  }
}
.reportcard .mobile-tabs-wrap .tab .bonus-data .amount {
  font-size: 20px;
  font-weight: normal;
  color: #48c101;
}
@media (min-width: 991px) {
  .reportcard .mobile-tabs-wrap .tab .bonus-data .amount {
    font-size: 40px;
  }
}
.reportcard .mobile-tabs-wrap .tab .bonus-data .amount-title {
  width: 100px;
  text-transform: capitalize;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
}
@media (min-width: 991px) {
  .reportcard .mobile-tabs-wrap .tab .bonus-data .amount-title {
    font-size: 14px;
  }
}
.reportcard .mobile-tabs-wrap .tab .bonus-title {
  padding: 15px 10px;
  width: 100px;
}
@media (min-width: 991px) {
  .reportcard .mobile-tabs-wrap .tab .bonus-title {
    width: 135px;
  }
}
.reportcard .mobile-tabs-wrap .tab .bonus-title .amount-title {
  text-transform: capitalize;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
}
@media (min-width: 991px) {
  .reportcard .mobile-tabs-wrap .tab .bonus-title .amount-title {
    font-size: 14px;
  }
}
.reportcard .emp-profile-padding {
  padding-top: 15px !important;
}
.reportcard .emp-profile-wgt {
  padding: 0;
  margin-left: 15px;
}
.reportcard .emp-profile-wgt .se-circle-img {
  margin-top: 10px !important;
  padding: 0;
}
@media (max-width: 479px) {
  .reportcard .update-date {
    padding-top: 15px;
    font-size: 13px;
  }
}
.reportcard .save {
  border-top: none !important;
  padding: 10px 20px !important;
}
@media (min-width: 991px) {
  .reportcard .save {
    padding: 106px 10px 0 10px !important;
  }
}
.reportcard .save .btn-save {
  width: 100%;
  background-color: #00AFD1;
  color: #ffffff;
  padding: 10px 20px;
}
@media (min-width: 991px) {
  .reportcard .save .btn-save {
    width: 145px;
  }
}
.reportcard .report-card-v {
  text-align: left;
  position: relative;
  padding: 10px 30px 10px 20px;
  margin-top: -1px;
  margin-left: -1px;
  border-top: 1px solid #e4e4e4;
  margin-right: -1px;
  min-height: 80px;
  cursor: pointer;
}
@media (max-width: 479px) {
  .reportcard .report-card-v {
    min-height: 60px;
  }
  .reportcard .report-card-v .col-md-4 {
    padding-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .reportcard .report-card-v {
    padding: 10px 15px 10px 5px;
  }
}
.reportcard .report-card-v .clicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 80px;
  cursor: pointer;
  z-index: 5;
}
@media (max-width: 479px) {
  .reportcard .report-card-v .clicker {
    min-height: 60px;
  }
}
.reportcard .report-card-v .meta-item {
  font-size: 15px;
}
@media (max-width: 479px) {
  .reportcard .report-card-v .meta-item {
    padding-left: 0;
  }
}
@media (min-width: 1167px) {
  .reportcard .report-card-v .meta-item:nth-child(2):before {
    content: " | ";
    padding-left: 14px;
    padding-right: 7px;
  }
}
.reportcard .report-card-v p {
  font-size: 16px;
}
@media (min-width: 991px) {
  .reportcard .report-card-v p {
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 15px;
  }
}
@media screen and (max-width: 480px) {
  .reportcard .report-card-v .mobile-padding-left-se {
    padding-left: 0;
  }
}
.reportcard .report-card-v .report-card-ad {
  height: 300px;
}
@media (max-width: 479px) {
  .reportcard .report-card-v .report-card-ad {
    height: 180px;
  }
}
.reportcard .report-card-v .report-card-ad .sub-kpis {
  margin-bottom: 20px;
}
.reportcard .report-card-v .report-card-ad .radio-wrap label {
  font-size: 16px;
  padding-left: 30px;
  padding-top: 2px;
  margin: 5px 0;
  color: #6E6E6E;
  font-weight: 400;
}
.reportcard .report-card-v .report-card-ad .radio-wrap label:after {
  font-size: 26px;
}
.reportcard .report-card-v .report-card-ad .radio-wrap input:checked + label:after {
  color: #e14d3c;
}
.reportcard .report-card-v .eva-btns {
  z-index: 10;
  position: relative;
}
.reportcard .report-card-v .eva-btns .eva-btn {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 2px 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 50% !important;
  border: 2px solid #e4e4e4;
  color: #aaaaaa;
  padding: 0;
  background: none;
  transition: all 0.3s;
}
@media (max-width: 479px) {
  .reportcard .report-card-v .eva-btns .eva-btn {
    margin-top: 0 !important;
  }
}
.reportcard .report-card-v .eva-btns .eva-btn:focus {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 2px 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 50% !important;
  border: 2px solid #e4e4e4;
  color: #aaaaaa;
  padding: 0;
  background: none;
  transition: all 0.3s;
}
.reportcard .report-card-v .eva-btns .eva-btn i {
  line-height: 40px;
  float: none;
  font-size: 16px;
}
.reportcard .report-card-v .eva-btns .eva-btn.active:first-child {
  background: #e14d3c;
  color: #ffffff;
  border: 2px solid #e14d3c;
}
.reportcard .report-card-v .eva-btns .eva-btn.eva-pass.active {
  background: #40aa58;
  color: #ffffff;
  border: 2px solid #40aa58;
  box-shadow: none;
}
.reportcard .report-card-v .toggle-button span.btn {
  line-height: 39px;
  color: #9e9e9e;
  width: 11px;
}
@media (max-width: 479px) {
  .reportcard .report-card-v .toggle-button span.btn {
    line-height: 30px;
  }
}
.reportcard .report-card-v .toggle-button span.btn:hover, .reportcard .report-card-v .toggle-button span.btn:active {
  box-shadow: none;
}
.reportcard .report-card-v .card-icon-wrap {
  float: left;
  position: relative;
  padding: 0;
  padding-left: 8px;
}
.reportcard .report-card-v .card-icon-wrap i {
  color: #9e9e9e;
}
@media (max-width: 479px) {
  .reportcard .report-card-v .card-icon-wrap {
    max-width: 40px;
  }
}
.reportcard .report-card-v i {
  padding-top: 5px;
  font-size: 35px;
  float: left;
  position: relative;
}
@media (max-width: 479px) {
  .reportcard .report-card-v i {
    font-size: 26px;
  }
}
.reportcard .report-card-v .card-point {
  padding: 2px 6px;
  border-radius: 25px;
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  right: -8px;
  width: 40px;
  text-align: center;
  background: #cacaca;
}
.reportcard .report-card-v.fail, .reportcard .report-card-v.pass {
  height: auto;
}
.reportcard .report-card-v.fail .fail-reason, .reportcard .report-card-v.fail .pass-reason, .reportcard .report-card-v.pass .fail-reason, .reportcard .report-card-v.pass .pass-reason {
  display: block;
}
.reportcard .report-card-v .emp-result {
  width: 90px;
  font-size: 12px;
  margin-top: 3px;
  text-align: center;
  padding: 3px 5px;
  border-radius: 2px;
  color: #fff;
}
.reportcard .report-card-v .toggle-block {
  display: none;
}
.reportcard .report-card-v .fail-reason, .reportcard .report-card-v .pass-reason {
  display: none;
  padding: 15px;
  clear: both;
}
.reportcard .report-card-v .fail-reason .training, .reportcard .report-card-v .pass-reason .training {
  padding: 10px 25px 20px 25px;
}
.reportcard .report-card-v .fail-reason textarea, .reportcard .report-card-v .pass-reason textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 120px;
}
.reportcard .report-card-v .fail-reason .label, .reportcard .report-card-v .pass-reason .label {
  font-size: 14px;
  color: #aaaaaa;
  padding-left: 0;
}
.reportcard .report-card-v .fail-reason .label span, .reportcard .report-card-v .pass-reason .label span {
  font-size: 12px;
  padding-left: 10px;
}
.reportcard .report-card-v .fail-reason p.sm, .reportcard .report-card-v .pass-reason p.sm {
  font-size: 12px;
  color: #aaaaaa;
}
.reportcard .report-card-v .fail-reason .btn-group, .reportcard .report-card-v .pass-reason .btn-group {
  margin-top: 5px;
}
.reportcard .report-card-v .fail-reason .btn-group label, .reportcard .report-card-v .pass-reason .btn-group label {
  width: 140px;
  border-radius: 0;
  margin: 2px 5px;
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .reportcard .report-card-v .fail-reason .btn-group label, .reportcard .report-card-v .pass-reason .btn-group label {
    width: 45%;
  }
}
.reportcard .report-card-v .fail-reason .btn-group label:hover, .reportcard .report-card-v .pass-reason .btn-group label:hover {
  background: #ee6b6f;
  color: #ffffff;
}
.reportcard .report-card-v .fail-reason .btn-group label.active, .reportcard .report-card-v .pass-reason .btn-group label.active {
  background: #E93D42;
  border-color: #e6262c;
  color: #ffffff;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.reportcard .report-card-v .card-btn {
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
}
@media (min-width: 991px) {
  .reportcard .report-card-v .card-btn {
    margin-top: 10px;
  }
}
.reportcard .report-card-v .kpi-custom {
  clear: both;
  padding: 15px 15px 0 15px;
}
.reportcard .report-card-v .kpi-custom a {
  cursor: pointer;
}
.reportcard .report-card-v .kpi-name {
  font-size: 12px;
  padding-top: 10px;
  color: #F99D00;
  font-weight: bold;
}
@media (min-width: 1167px) {
  .reportcard .report-card-v .kpi-name {
    font-size: 16px;
  }
}
.reportcard .report-card-v .meta-text {
  color: #2f2930;
  font-weight: 700;
}
.reportcard .report-card-v .pass {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #9FC62D;
}
.reportcard .report-card-v .fail {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #D0363C;
}
.reportcard .report-card-v .tbd {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #909090;
}
.reportcard .pass {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #9FC62D;
}
.reportcard .fail {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #D0363C;
}
.reportcard .tbd {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #909090;
}
.reportcard .kpi-name {
  font-size: 12px;
  padding-top: 10px;
  color: #F99D00;
  font-weight: bold;
}
@media (min-width: 1167px) {
  .reportcard .kpi-name {
    font-size: 16px;
  }
}
.reportcard .meta-text {
  color: #2f2930;
  font-weight: 700;
}
.reportcard .meta-item {
  font-size: 15px;
}
@media (max-width: 479px) {
  .reportcard .meta-item {
    padding-left: 0;
  }
}
@media (min-width: 1167px) {
  .reportcard .meta-item:nth-child(2):before {
    content: " | ";
  }
}
.reportcard .angle-right-style {
  font-size: 22px !important;
  padding-top: 10px !important;
  color: gray;
}
.reportcard .overal-comment-block {
  border-top: 1px solid #e4e4e4;
  padding: 15px 25px;
}
.reportcard .overal-comment-block .input {
  min-height: 120px !important;
}
@media (min-width: 768px) {
  .reportcard .overal-comment-block {
    padding: 15px 0;
  }
}
.reportcard .overal-comment-block .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #F99D00;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.reportcard .padding-t-10 {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .reportcard .padding-t-10 {
    padding-top: 0;
  }
}
.reportcard .padding-t-4 {
  padding-top: 4px;
}
.reportcard .complaint-details {
  padding: 30px 15px;
  border-radius: 4px;
  border-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
}
.reportcard .complaint-details .complaint-item {
  color: #2f2930;
}
.reportcard .complaint-details .complaint-item-style {
  padding-bottom: 8px;
}
.reportcard .complaint-details .average-score {
  display: block;
  color: #2f2930 !important;
  border-top: 1px solid #f5f5f5;
  padding-top: 10px;
}
.reportcard .show {
  display: block !important;
}

/*# sourceMappingURL=reportcard.css.map */
