﻿@import "../Common/globals";

.reportcard{
    /*.sub-head{
        background-color: $default;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }*/
    overflow: hidden;
    .scorecard-header{
        padding: 0 15px 0 28px;
        @include breakpoint(tablet){
            padding: 0 15px;
        }
    }
    .emp-profile-well {
        padding: 0 15px 25px 15px;
        overflow: hidden;
    }

    
    .emp-profile-padding{
        padding-left: 15px;
        @include breakpoint (tablet){
            padding-left: 30px;
        }
    }

    .se-circle-img{
        width: 70px;
        height: 70px;
        /*position: absolute;*/
        border-radius: 50%;
        border: 3px solid #aaa;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }

        @include breakpoint (tablet){
            width: 90px;
            height: 90px;
        }

   
    }

    .emp-profile-wgt, .emp-row {

    .circle-img {
        width: 60px;
        height: 60px;
        position: absolute;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .row-details {
        margin-left: 10px;
        padding-left: 60px;

        @include breakpoint('tablet') {
            margin-left: 15px;
        }

        .emp-name {
            color: $primary;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 3px;
            font-weight: 600;

            @include breakpoint('tablet') {
                font-size: 16px;
            }
        }

        .emp-title, .sm {
            font-size: 14px;
            font-style: italic;
            color: $base-dark;
        }

        .emp-program {
            color: $base-dark;
            font-style: normal;
            display: inline-block;
            border: 1px solid $base-dark;
            padding: 0 5px;
            border-radius: 3px;
            margin-left: 0;
            margin-bottom: 4px;
            font-size: 12px;
        }

        label.update-date {
            padding-top: 10px;
        }

        .hire-date {
            color: $base;
        }

        .sm, .hire-date {
            font-size: 12px;
        }
    }
}

    .btn-print{
        border: 1px solid;
        background: #00afd1;
        color: #fff;
        border-color: #00afd1;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
    }

    .row-details-emp{
        color: $primary !important;
        font-size: 15px !important;
        padding-top: 15px;
        @include breakpoint (tablet){
            font-size: 20px !important;
        }
    }

    .padding-r {
        padding-right: 30px;
    }


   
    .date-print-content{
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid #e4e4e4; 
        border-bottom: 1px solid #e4e4e4; 
         .monthly-picker-div{
               .icon-style{
                   color: $muted-dark;
                   font-weight: 600;
               }

                background-color: $default;
                .custom-monthly-picker{
                    padding: 20px 10px;
                    .monthly-date-picker{
                        margin-left:5px;
                        width: 100%;
                        position: relative;
                        top: 0;
                        /*right: 20px;*/
                        height: 36px;
                        line-height: 36px;
                        background-color: $default;
                        color: #00afd1;
                        font-weight: bold;
                        font-size: 14px;
                        @include breakpoint(desktop){
                            font-size: 16px;
                        }
                        @include breakpoint (desktop){
                            width: 300px;
                        }
                        a{
                            background-color: $default;
                            color: #00afd1;
                            outline: 0;
                            padding-left: 5px;
                        }
                    }
            }
        
        }
    }

    .title-content{
        padding-top: 15px;
        padding: 15px;

        .table-head{
            color: $warning;
            font-size: 16px;
            padding-left: 25px;
            font-weight: 600;
            line-height: 18px;
            @include breakpoint(tablet){
                  font-size: 18px;
                  line-height: 22px;
                  padding-left: 20px;
            }
        }

        .update-date{
            padding-left: 20px;
            @include breakpoint(mobilephone){
                padding-top: 0;
                padding-left: 25px;
            }
        }
    }
    .disabled{
        color: #aaaaaa;
        cursor: default;
    }

    .panel-body-more{
        padding-left: 0 !important;
        padding-right: 0 !important;
        @include breakpoint (tablet){
            padding-left: 50px !important;
            padding-right: 50px !important;
        }
    }


     .panel{
         @include breakpoint(mobilephone){
            margin: 0;
        }
         margin: 0 15px;
         overflow: hidden;

        .panel-body-more{
	        @include breakpoint (tablet){
		        padding-left: 20px !important;
		        padding-right: 20px !important;
	        }
        }
    }
     .report-card-v {
	    padding: 10px 30px 10px 10px;
	    @include breakpoint (tablet){
		    padding: 10px 15px 10px 5px;
	    }
    }
   


    .sub-head{
	    background-color: $default;
	    border-bottom: 1px solid #eee;
	    padding: 10px 0;
        float: right;
    }
     .print-card-btn{
        padding-top: 20px;
        padding-right: 15px !important;
        border-bottom: none !important;

        .entry-btn-print{
            padding:10px 20px;
        }
        .print-dropdown{
            margin-right: 30px;
            padding: 5px 30px;
        }
    }
     .mobile-tabs-wrap{
         border-top: 1px solid #e4e4e4;
         padding: 10px 0;
         .tab-1{
             border-right: 1px solid #e4e4e4; 
         }
         .tab{
              @include breakpoint(mobilephone){
                width:100%;
              }
              @include breakpoint(mobileonly){
                width:140px;
              }
             .icon-style{
                  @include breakpoint(laptop){
                    font-size: 75px;
                    padding-top:0;
                }
                  font-size: 35px;
                  color: #e5e5e5;
                  padding-top:15px;
             }
             .bonus-data{
                  @include breakpoint(mobilephone){
                    width:100px;
                  }
                  @include breakpoint(laptop){
                    padding: 5px 10px 10px 10px;
                }
                   padding: 5px 5px 10px 7px;
                 .amount{
                     @include breakpoint(laptop){
                        font-size: 40px;

                     }
                      
                     font-size: 20px;
                    font-weight: normal;
                    color: #48c101;
                 }
                 .amount-title{
                      @include breakpoint(laptop){
                          font-size: 14px;
                      }
                      width:100px;
                     text-transform:capitalize;
                     color: #aaa;
                     font-size: 10px;
                     font-weight: 600;
                 }
             }
             .bonus-title{
                 padding:15px 10px;
                 width:100px;
                 @include breakpoint(laptop){
                     width:135px;
                }
                 .amount-title{
                      @include breakpoint(laptop){
                          font-size: 14px;
                      }
                     text-transform:capitalize;
                     color: #aaa;
                     font-size: 10px;
                     font-weight: 600;
                 }
             }
         }
     }
   
    .emp-profile-padding {
        padding-top: 15px !important;
    }
    .emp-profile-wgt{
        padding:0;
        margin-left:15px;
    .se-circle-img {
        margin-top:10px !important;
            padding:0;
        }

    }
    .update-date{
            @include breakpoint(mobilephone){
                padding-top: 15px;
			font-size: 13px;
		}
        }
    .save{
		border-top: none !important;
		padding: 10px 20px !important;
		@include breakpoint(laptop){
			padding: 106px 10px 0 10px !important;
		}
		.btn-save{
            @include breakpoint(laptop){
			    width: 145px;
		    }
            width:100%;
			background-color: $primary;
			color: $default;
            padding:10px 20px;
		}
	}
    .report-card-v {
        text-align: left;
        position: relative;
        //height: 50px;
        padding: 10px 30px 10px 20px;
        margin-top: -1px;
        margin-left: -1px;
        border-top: 1px solid #e4e4e4;
        margin-right: -1px;
        min-height: 80px;
        cursor: pointer;
        @include breakpoint(mobilephone) {
            //height: 64px;
            min-height: 60px;

            .col-md-4 {
                padding-left: 0 !important;
            }
        }
        @include breakpoint (tablet){
            padding: 10px 15px 10px 5px;
        }

        .clicker {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 80px;
            cursor:pointer;
             @include breakpoint(mobilephone){
             
            min-height: 60px;
             }
            z-index: 5;
        }

        .meta-item {
            font-size: 15px;
            @include breakpoint(mobilephone){
                padding-left:0;
            }

            &:nth-child(2):before{
                @include breakpoint(desktop){
                content: " | ";
                padding-left: 14px;
                padding-right: 7px;
            }
        }
        }

        p {
            font-size: 16px;

            @include breakpoint(laptop) {
                padding: 0;
                margin: 0;
                float: left;
                padding-top: 15px;
            }
        }
        @media screen and (max-width: 480px) {
             .mobile-padding-left-se{
                 padding-left:0;
            }
         }
        .report-card-ad {
            height: 300px;

            @include breakpoint(mobilephone) {
                height: 180px;
            }

            .sub-kpis {
                margin-bottom: 20px;
            }

            .radio-wrap {
                label {
                    font-size: 16px;
                    padding-left: 30px;
                    padding-top: 2px;
                    margin: 5px 0;
                    color: #6E6E6E;
                    font-weight: 400;

                    &:after {
                        font-size: 26px;
                    }
                }

                input:checked + label:after {
                    color: #e14d3c;
                }
            }
        }

        .eva-btns {
            z-index:10;
            position:relative;

            .eva-btn {
                width: 40px;
                height: 40px;
                display: block;
                float: left;
                margin: 2px 5px;
                text-align: center;
                line-height: 40px;
                border-radius: 50% !important;
                border: 2px solid #e4e4e4;
                color: #aaaaaa;
                padding: 0;
                background: none;
                transition: all 0.3s;

                @include breakpoint(mobilephone) {
                    margin-top: 0 !important;
                }

                &:focus {
                    width: 40px;
                    height: 40px;
                    display: block;
                    float: left;
                    margin: 2px 5px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50% !important;
                    border: 2px solid #e4e4e4;
                    color: #aaaaaa;
                    padding: 0;
                    background: none;
                    transition: all 0.3s;
                }

                i {
                    line-height: 40px;
                    float: none;
                    font-size: 16px;
                }



                &.active:first-child {
                    background: #e14d3c;
                    color: #ffffff;
                    border: 2px solid #e14d3c;
                }

                &.eva-pass.active {
                    background: #40aa58;
                    color: #ffffff;
                    border: 2px solid #40aa58;
                    box-shadow: none;
                }
            }
        }



        .toggle-button {
            span.btn {
                line-height: 39px;
                color: $base-dark;
                width: 11px;

                @include breakpoint(mobilephone) {
                    line-height: 30px;
                }

                &:hover, &:active {
                    box-shadow: none;
                }
            }
        }

        .card-icon-wrap {
            float: left;
            position: relative;
            padding: 0;
            padding-left: 8px;

            i {
                color: $base-dark;
            }

            @include breakpoint(mobilephone) {
                max-width: 40px;
            }
        }

        i {
            padding-top: 5px;
            font-size: 35px;
            float: left;
            position: relative;


            @include breakpoint(mobilephone) {
                font-size: 26px;
            }
        }

        .card-point {
            padding: 2px 6px;
            border-radius: 25px;
            font-size: 12px;
            position: absolute;
            bottom: -18px;
            right: -8px;
            width: 40px;
            text-align: center;
            background: #cacaca;
        }

        &.fail, &.pass {
            height: auto;

            .fail-reason, .pass-reason {
                display: block;
            }
        }

        .emp-result {
            width: 90px;
            font-size: 12px;
            margin-top: 3px;
            text-align: center;
            padding: 3px 5px;
            border-radius: 2px;
            color: #fff;
        }

        .toggle-block {
            display: none;
        }

        .fail-reason, .pass-reason {
            display: none;
            padding: 15px;
            clear: both;

            .training {
                padding: 10px 25px 20px 25px;
            }

            textarea {
                margin-top: 5px;
                margin-bottom: 10px;
                min-height: 120px;
            }

            .label {
                font-size: 14px;
                color: #aaaaaa;
                padding-left: 0;

                span {
                    font-size: 12px;
                    padding-left: 10px;
                }
            }

            p.sm {
                font-size: 12px;
                color: #aaaaaa;
            }

            .btn-group {
                margin-top: 5px;

                label {
                    width: 140px;
                    border-radius: 0;
                    margin: 2px 5px;
                    font-size: 12px;
                    font-weight: 600;

                    @include breakpoint(mobilephone) {
                        width: 45%;
                    }

                    &:hover {
                        background: lighten($danger, 10%);
                        color: $default;
                    }

                    &.active {
                        background: $danger;
                        border-color: darken($danger, 5%);
                        color: $default;
                        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
                    }
                }
            }
        }

        .card-btn {
            @include breakpoint(laptop) {
                margin-top: 10px;
            }

            margin-top: 4px;
            margin-right: 5px;
            margin-left: 5px;
            width: 100px;
        }

        .kpi-custom {
            clear: both;
            padding: 15px 15px 0 15px;

            a {
                cursor: pointer;
            }
        }

        .kpi-name{
            font-size: 12px;
            padding-top: 10px;
            @include breakpoint (desktop){
                font-size: 16px;
           
    }
            color: $warning;
            font-weight: bold;
        }

        .meta-text{
            color: $dark-dark;
            font-weight: 700;
        }

        .pass{
            color: $default;
            font-style: normal;
            display: inline-block;
            padding: 4px 10px;
            border-radius: 8px;
            margin-left: 0;
            margin-bottom: 4px;
            margin-top: 15px;
            font-size: 9px;
            font-weight: bold;
            background-color: $success;
        }

         .fail{
            color: $default;
            font-style: normal;
            display: inline-block;
            padding: 4px 10px;
            border-radius: 8px;
            margin-left: 0;
            margin-bottom: 4px;
            margin-top: 15px;
            font-size: 9px;
            font-weight: bold;
            background-color: $danger-dark;
        }

          .tbd{
            color: $default;
            font-style: normal;
            display: inline-block;
            padding: 4px 10px;
            border-radius: 8px;
            margin-left: 0;
            margin-bottom: 4px;
            margin-top: 15px;
            font-size: 9px;
            font-weight: bold;
            background-color: #909090;
        }


   
    }

    .pass{
        color: $default;
        font-style: normal;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 8px;
        margin-left: 0;
        margin-bottom: 4px;
        margin-top: 15px;
        font-size: 9px;
        font-weight: bold;
        background-color: $success;
    }

     .fail{
        color: $default;
        font-style: normal;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 8px;
        margin-left: 0;
        margin-bottom: 4px;
        margin-top: 15px;
        font-size: 9px;
        font-weight: bold;
        background-color: $danger-dark;
    }

      .tbd{
        color: $default;
        font-style: normal;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 8px;
        margin-left: 0;
        margin-bottom: 4px;
        margin-top: 15px;
        font-size: 9px;
        font-weight: bold;
        background-color: #909090;
    }

      .kpi-name{
        font-size: 12px;
        padding-top: 10px;
        @include breakpoint (desktop){
            font-size: 16px;
           
        }
        color: $warning;
        font-weight: bold;
    }

    .meta-text{
        color: $dark-dark;
        font-weight: 700;
    }

     .meta-item {
        font-size: 15px;
        @include breakpoint(mobilephone){
            padding-left:0;
        }

        &:nth-child(2):before{
            @include breakpoint(desktop){
            content: " | ";
        }
    }
    }

    .angle-right-style{
        font-size: 22px !important;
        padding-top: 10px !important;
        color: gray;
    }

.overal-comment-block{
    border-top: 1px solid #e4e4e4;
    padding: 15px 25px;
    .input{
        min-height: 120px !important;
    }

    @include breakpoint (tablet){
        padding: 15px 0;
    }

    .label{
        display: inline;
        padding: .2em .6em .3em;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        color: $warning;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
}

.padding-t-10{
    padding-top: 10px;
     @include breakpoint (tablet){
        padding-top: 0;
    }

}

.padding-t-4{
    padding-top: 4px;
    @include breakpoint (tablet){
        
    }
}

.complaint-details{
        padding: 30px 15px;
        border-radius: 4px;
        border-color: #f5f5f5;
        border: 1px solid #f5f5f5;
        background: $gray;
        .complaint-item{
            color: $dark-dark;
        }
        .complaint-item-style{
             padding-bottom: 8px;
        }
        .average-score{
            display: block;
            color: $dark-dark !important;
            border-top: 1px solid #f5f5f5;
            padding-top: 10px;
        }
    }

    .show{
        display: block !important;
    }
}