﻿@{ ViewBag.Title = "Attendance"; ViewBag.HideTitleBar = true; }

<div class="container-fluid personnel-index-common personnel-details-common" data-ng-controller="Personnel.AttendanceIssueDetailsCtrl as vm"
    data-ng-init="vm.initialize()">
    <page-header title="{{'Attendance'|translate}}" s3-icon-name="attendance.svg" info-text="{{'VIEW_ATTENDANCE_DETAILS_TOOLTIP' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Action("Entry", "Attendance")" class="btn btn-success btn-sm">+ <span class="hidden-xs hidden-sm">{{'RUN_ATTENDANCE' | translate }}</span></a>

        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block" ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter 
                        data-ng-model="vm.attendanceIssues" 
                        filter="vm.filter" 
                        filter-apply-fn="vm.getAttendanceIssueReset()"
                        filter-clear-fn="vm.getAttendanceIssueReset()" 
                        filter-options="vm.filterOptions"></utility-nav-filter>
                </li>
                <li>
                    <utility-nav-search search-model="vm.search" ></utility-nav-search>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
            </ul>
        </div>
    </page-header>

    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Attendance")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg"  ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter 
                data-ng-model="vm.attendanceIssues" 
                button-classes="btn btn-default" 
                filter="vm.filter" 
                filter-apply-fn="vm.getAttendanceIssueReset()"
                filter-clear-fn="vm.getAttendanceIssueReset()" 
                filter-options="vm.filterOptions"></utility-nav-filter>

            <utility-nav-search button-classes="btn btn-default" search-model="vm.search"></utility-nav-search>

            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="row">
        <div class="main-body-padding">
            <div class="panel panel-default personnel-details-panel">
                <div class="center-cards">
                    <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                    <utility-nav-filter-tags></utility-nav-filter-tags>
                </div>
                <div class="panel-body">
                    <div class="text-center empty-wrap" ng-if="!vm.attendanceIssues.length">{{ 'NO_DATA' | translate }}</div>
                    <div class="no-padding no-margin">
                        <div class="card-view-style center-cards" data-infinite-scroll="vm.getAttendanceItems()" data-infinite-scroll-distance="0"
                            data-infinite-scroll-disabled="vm.isBusy">
                            <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align" ng-transclude ng-repeat="details in vm.attendanceIssues | filter: vm.search">
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="details.IssueTypeName + ' On'" format-date="true" format-datetime-offset="true"
                                        item-id="details.IssueId" view-link-fn="vm.showEntryViewModal(id)" header-date="details.DateOfOccurrence">
                                        </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left">
                                                <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                            </div>
                                            <div class="pull-left employee-section">
                                                <p class="name truncate">{{details.EmployeeName}}</p>
                                                <p class="name-lbl text-muted">
                                                    <span ng-if="details.IsEmployeeActive">{{'ACCOUNTABLE_EMPLOYEE' | translate}}</span>
                                                    <span ng-if="!details.IsEmployeeActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Comment">{{details.Comment}}</span>
                                            <span class="no-comment" ng-if="!details.Comment">{{'NO_COMMENT_ATTENDANCE' | translate}}</span>
                                        </div>

                                        <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                            <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left" ng-if="details.IssueTypeName">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.IssueTypeName.length > 15}">
                                                {{details.IssueTypeName}}
                                            </p>
                                        </div>
                                        <div class="pull-right types">
                                            <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{ 'SCORECARD' | translate }}</a>
                                                <a class="text-warning link-text-style padding-left-15" href="@Url.Action("Entry","Attendance", new { Area = "Personnel" })/{{details.IssueId}}">{{ 'EDIT' | translate }}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>