﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Personnel.Models.PersonnelVm
@{
    ViewBag.Title = "Attendance";
    ViewBag.HideTItleBar = true;
    var issueId = Model.Id;
}


<div class="container-fluid personnel" data-ng-controller="Personnel.AttendanceIssueEntryCtrl as vm" data-ng-init="vm.initialize(@issueId)">
    <page-header title="{{'Attendance'|translate}}"
                 s3-icon-name="attendance.svg">
    </page-header>    
    <div class="row">
        <div data-ng-hide="!vm.employee.EmployeeId">
            <form name="attendanceForm" role="form" novalidate>
                <div class="well emp-profile-well noborder">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="pull-left emp-profile-wgt">
                                <div class="circle-img pull-left">
                                    <img ng-if="vm.employee.ProfileImage" ng-cloak ng-src="{{ ::vm.employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                    <img ng-if="!vm.employee.ProfileImage" ng-cloak ng-src=" {{'@Url.Content("~/content/img/user.jpg")' }} " />
                                </div><!-- Circle-image -->

                                <div class="row-details pull-left">
                                    <p class="emp-name">{{vm.employee.Name}}</p>
                                    <p class="emp-title">
                                        {{vm.employee.JobDescription}}
                                    </p><p class="hire-date">Start Date: {{vm.employee.HireDate}}</p>
                                </div><!-- emp-details -->
                            </div><!-- pull-left -->
                            <div class="clearfix"></div>
                        </div><!-- COL8 -->
                    </div><!-- ROW -->
                </div>
                <hr class="no-margin" />
                <div class="well complaint-view padding-mobile">
                    <div class="col-md-11 no-padding">
                        <div class="">
                            <div class="col-md-6 col-xs-12">

                                <div class="col-xs-12 col-md-8 field-wrap no-padding">
                                    <label for="dateOfOccurrencelate" class="subHeading padding-bottom-5">Date of Occurrence </label>
                                    <sbm-date-picker id="dateOfOccurrencelate"
                                                     name="dateOfOccurrencelate"
                                                     max-date="vm.maxDate"
                                                     data-ng-model="vm.attendance.DateOfOccurrence"
                                                     placeholder="Pick a date"
                                                     is-required="true" 
                                                     ng-if="vm.issueId == 0"></sbm-date-picker>
                                    <div id="dateOfOccurrenceAttendance" name="atedateOfOccurrenceAttendance" type="text" class="form-control" data-ng-required="true"
                                         data-ng-model="vm.attendance.DateOfOccurrence" data-ng-if="vm.issueId > 0" readonly>{{vm.attendance.DateOfOccurrence | date : 'MM/dd/yyyy' : vm.userContext.Timezone.OffsetInHours}}</div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="field-wrap fieldwrap-margin no-margin">
                                    <label class="subHeading">Type</label><br />
                                    <div class="btn-group success-btns attendance-form-picker" data-toggle="buttons">
                                        <label class="btn btn-default mobile-issuetype-btn padding-bottom-5" data-ng-click="vm.setIssueType(0)" data-ng-class="{'active' : vm.isLate}">
                                            <input type="radio" name="late" autocomplete="off" checked=""> ARRIVED LATE
                                        </label>
                                        <label class="btn btn-default mobile-issuetype-btn padding-bottom-5" data-ng-click="vm.setIssueType(1)" data-ng-class="{'active' : vm.isLeft}">
                                            <input type="radio" name="left" autocomplete="off"> LEFT EARLY
                                        </label>
                                        <labl class="btn btn-default mobile-issuetype-btn" data-ng-click="vm.setIssueType(2)" data-ng-class="{'active' : vm.isAbsent}">
                                            <input type="radio" name="absent" autocomplete="off"> ABSENT
                                        </labl>
                                    </div>
                                </div><!-- field-wrap -->
                                <div id="late" data-ng-if="vm.issueFlag == 0" class="attendance-form late ">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 field-wrap margin-bottom-0">
                                            <label for="" class="subHeading">Time Arrived</label>
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker-time">
                                                    <div uib-timepicker ng-model="vm.time" hour-step="1" minute-step="1" show-meridian="true" ng-if="vm.issueId == 0"></div>
                                                    <div type="text" class="form-control margin-top-5" data-ng-required="true" ng-if="vm.issueId > 0" data-ng-model="vm.time" readonly>
                                                        {{ vm.time | date : 'h:mm a' : vm.userContext.Timezone.OffsetInHours | displayTimezone }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="left" data-ng-if="vm.issueFlag == 1" class="attendance-form">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 field-wrap margin-bottom-0">
                                            <label for="" class="subHeading">Time Left</label>
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker-time">
                                                    <div uib-timepicker ng-model="vm.time" hour-step="1" minute-step="1" show-meridian="true" ng-if="vm.issueId == 0"></div>
                                                    <div type="text" class="form-control margin-top-5" data-ng-required="true" ng-if="vm.issueId > 0" data-ng-model="vm.time" readonly>
                                                        {{ vm.time | date : 'h:mm a' : vm.userContext.Timezone.OffsetInHours | displayTimezone }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="absent" data-ng-if="vm.issueFlag == 2" class="attendance-form absent">
                                    <div class="field-wrap fieldwrap-margin">
                                        <label class="subHeading">Reason</label>
                                        <div class="btn-group success-btns" data-toggle="buttons">
                                            <label class="btn btn-default mobile-issuetype-btn" data-ng-repeat="reason in vm.attendanceIssueTypes[vm.issueFlag].Reasons" data-ng-class="{'active' : vm.attendance.ReasonName == reason.Name && vm.issueFlag == (vm.editIssueType-1)}" data-ng-click="vm.setReason($index,vm.issueFlag)">
                                                <input type="radio" data-ng-model="vm.selected" autocomplete="off" data-ng-model="vm.attendance.ReasonName"> {{reason.Name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                        </div>


                        <div class="col-md-6 col-xs-11">
                            <div class="field-wrap margin-l-0-r-5">
                                <label class="label-font padding-bottom-5">Description</label>
                                <textarea name="" id="" cols="30" rows="10" class="basic-input" placeholder="Enter Description Here" ng-model="vm.attendance.Comment"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- FIELD WRAP -->
                <div class="clearfix"></div>
                <hr />
                <div class="align-btns">
                    <a href="@Url.Action("Details", "Attendance", new { Area = "Personnel" })" class="btn btn-grey">CANCEL</a>
                    <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.attendanceForm.$invalid" ng-click="vm.saveIssue($event)">SUBMIT</a>
                </div><!-- PULL_RIGHT -->
        </div><!-- COL6 -->
    </div><!-- Well -->
    </form>
</div>





