﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Personnel.Models.PersonnelVm
@{
    ViewBag.Title = "Review Attendance";
    ViewBag.HideTitle = true;
    var issueId = Model.Id;
}

<div class="container-fluid personnel entryview" ng-controller="Personnel.AttendanceIssueEntryViewCtrl as vm" ng-init="vm.initialize(@issueId)">
    <page-header title="{{'Review Attendance'|translate}}"
                 s3-icon-name="attendance.svg">
    </page-header>    
    <div class="row">
        <div class="col-md-12 row-no-padding">
            <a href="@Url.Content("~/Personnel/Attendance/Details")" class="btn back-label hidden-sm hidden-lg hidden-md"><i class="fa-angle-left"></i> BACK TO THE LIST</a>
            
            <div class="well complaint-view">
                <div class="col-md-8">
                    <h1>{{::vm.attendance.IssueTypeName}} <span class="text-warning" ng-if="vm.attendance.IsExempt">(Exempted)</span></h1>
                    <div class="row complaint-repoter">
                        <div class="col-md-8">
                            <p class="repoter-name">Date Of Occurrence: {{::vm.attendance.DateOfOccurrence | date: mediumDate : vm.userContext.Timezone.OffsetInHours}}</p>
                            <p class="sm" ng-if="vm.attendance.ReasonName">Reason <span class="emp-program">{{::vm.attendance.ReasonName}}</span></p>
                            
                        </div><!-- COL8 -->
                        <div class="col-md-4 complaint-loaction" ng-if="vm.attendance.IssueTypeId != 3">
                            <b>Time</b>
                            <p class="sm"> {{vm.attendance.DateOfOccurrence | date: 'h:mm a' : vm.userContext.Timezone.OffsetInHours | displayTimezone}}</p>
                        </div><!-- Col4 -->
                    </div><!-- ROW -->
                    <div class="note-well">
                        <h5 class="warning-text">Comments</h5>
                        <p>{{vm.attendance.Comment ? vm.attendance.Comment: 'No comments provided.'}}</p>
                    </div><!-- note-well -->
                    <div class="clearfix"></div>
                </div><!-- COL8 -->
                    <div class="col-md-4 side-block">
                        <h4>Employee</h4>
                        <div data-ng-if="vm.employeeWithImage == null">None</div>
                        <div class="padding-bottom-10">
                            <hr>
                            <div class="emp-profile-wgt">
                                <div class="circle-img pull-left">
                                    <img ng-if="vm.employeeWithImage.ProfileImage" ng-cloak ng-src="{{ ::vm.employeeWithImage.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                    <img ng-if="!employeeWithImage.ProfileImage" ng-cloak ng-src=" {{'@Url.Content("~/content/img/user.jpg")' }}" />
                                </div><!-- Circle-image -->
                                <div class="row-details pull-left">
                                    <p class="emp-name">{{vm.employeeWithImage.Name}}</p>
                                    <p class="emp-title">{{vm.employeeWithImage.JobDescription}}</p>
                                </div><!-- emp-details -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row pull-right" ng-if="vm.showActionButtons">
                            <button ng-click="vm.deleteAttendance(vm.attendanceId)" class="edit btn btn-primary btn-delete">Delete</button>
                            <button ng-click="vm.editAttendance()" class="edit btn btn-edit btn-primary"><i class="fa fa-pencil fapencil-spacing"></i>Edit</button>
                        </div>
                    </div><!-- COL4 -->
            </div><!-- Well -->
        </div><!-- ROW -->
    </div>
</div>
