﻿@{
    ViewBag.Title = "Attendance";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid personnel-index-common" data-ng-controller="Personnel.AttendanceIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'ATTENDANCE'|translate}}"
                 info-text="{{'VIEW_ATTENDANCE_INDEX_TOOLTIP' | translate}}"
                 s3-icon-name="attendance.svg">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Action("Entry", "Attendance")" class="btn btn-success btn-sm">+ <span class="hidden-xs hidden-sm">{{'RUN ATTENDANCE' | translate }}</span></a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details", "Attendance")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>

    <div class="row page-data-align">
        <div class="col-sm-12 page-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                    <div class="col-md-12 recent-desktop  padding-bottom-15">
                        <h3 class="header margin-bottom-0 padding-left-15">
                            {{ 'MOST_RECENT' | translate }}
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "Attendance")">
                                {{ 'VIEW_ALL' | translate }}
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.attendanceIssues" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="details.IssueTypeName + ' On'"
                                                         format-date="true" format-datetime-offset="true" item-id="details.IssueId" view-link-fn="vm.showEntryViewModal(id)"
                                                         header-date="details.DateOfOccurrence">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left">
                                                <img class="employee-img move" ng-src="{{ details.ProfileImage }}" />
                                            </div>
                                            <div class="pull-left employee-section">
                                                <p class="name truncate">{{ details.EmployeeName }}</p>
                                                <p class="name-lbl text-muted">
                                                    <span ng-if="details.IsEmployeeActive">{{'ACCOUNTABLE_EMPLOYEE' | translate}}</span>
                                                    <span ng-if="!details.IsEmployeeActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Comment">{{details.Comment}}</span>
                                            <span class="no-comment" ng-if="!details.Comment">{{'NO_COMMENT_ATTENDANCE' | translate}}</span>
                                        </div>
                                        <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                            <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left" ng-if="details.IssueTypeName">
                                            <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.IssueTypeName.length > 15}">
                                                {{details.IssueTypeName}}
                                            </p>
                                        </div>
                                        <div class="pull-right types">
                                            <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{ 'SCORECARD' | translate }}</a>
                                            <a class="text-warning link-text-style padding-left-15" href="@Url.Action("Entry","Attendance", new { Area = "Personnel" })/{{details.IssueId}}">{{ 'EDIT' | translate }}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 charts">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <div class="panel-header-txt">
                                    {{ 'ABSENCES' | translate }}
                                    <span ng-if="vm.lastModifiedDate" class="panel-header-subtext align-size margin-top-10  text-muted pull-right">{{ 'UPDATED' | translate }}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' }}</span>
                                </div>
                                <p class="panel-header-subtext padding-left-20">{{ vm.noOfMonths }} {{ 'MONTH_TREND' | translate }}</p>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                     ng-if="!vm.charts.absences.series[0].data.length">
                                    - {{ 'NO_DATA' | translate }} -
                                </div>
                                <div class="pie-chart-align"  ng-if="vm.charts.absences.series[0].data.length">
                                    <sbm-hc-pie-chart personnel-legend="true" tool-tip-format="true" id="absences" height="300" data-ng-model="vm.charts.absences">
                                    </sbm-hc-pie-chart>
                                    <div class="count-align">
                                        <div class="total-count">{{ vm.totalAbsences }}</div>
                                        <div class="sub-title">{{ 'ABSENCES' | translate }}</div>
                                    </div>
                                </div>
                                <div personnel-legend pull-right" class="personnel-pie-legend" ng-if="vm.charts.absences.series[0].data.length">
                                    <div id="personnelLegendSpot"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <div class="panel-header-txt">
                                    {{ 'MONTHLY_TREND' | translate }}
                                    <span ng-if="vm.lastModifiedDate" class="panel-header-subtext margin-top-10  text-muted pull-right">{{ 'UPDATED' | translate }}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' }}</span>
                                </div>
                                <p class="panel-header-subtext padding-left-20">{{ vm.noOfMonths }} {{ 'MONTH_TREND' | translate }}</p>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                     ng-if="vm.charts.absentTypeMonthlyTrend.categories.length <= 1 && vm.noOfMonths > 1">
                                    - {{ 'NO_DATA' | translate }} -
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message"
                                     data-ng-if="vm.noOfMonths <= 1">
                                    - {{ 'MORE_THAN_1_MONTH_DATA_REQUIRED' | translate }} -
                                </div>
                                <div class="chart-wrap">
                                    <sbm-hc-line-chart id="absentTypeTrend" data-ng-model="vm.charts.absentTypeMonthlyTrend"
                                                       ng-if="vm.charts.absentTypeMonthlyTrend.categories.length > 1">
                                    </sbm-hc-line-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <div class="col-sm-12 recent-mobile  padding-bottom-15">
                            <h3 class="header margin-bottom-0">
                                {{ 'MOST_RECENT' | translate }}
                                <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "Attendance")">
                                    {{ 'VIEW_ALL' | translate }}
                                </a>
                            </h3>
                            <div class="mobile-view-cards">
                                <card class="col-xs-12 col-sm-6 card-style" ng-repeat="details in vm.attendanceIssues" ng-transclude>
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="details.IssueTypeName + ' On'"
                                                             format-date="true" format-datetime-offset="true" item-id="details.IssueId" view-link-fn="vm.showEntryViewModal(id)"
                                                             header-date="details.DateOfOccurrence">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left">
                                                    <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                                </div>
                                                <div class="pull-left employee-section">
                                                    <p class="name truncate">{{details.EmployeeName}}</p>
                                                    <p class="name-lbl text-muted">
                                                        <span ng-if="details.IsEmployeeActive">{{'ACCOUNTABLE_EMPLOYEE' | translate}}</span>
                                                        <span ng-if="!details.IsEmployeeActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                    </p>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="margin-top-15 truncate">
                                                <span ng-if="details.Comment">{{details.Comment}}</span>
                                                <span class="no-comment" ng-if="!details.Comment">{{'NO_COMMENT_ATTENDANCE' | translate}}</span>
                                            </div>
                                            <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                                <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                    <i class="fa fa-location margin-right-5"></i>
                                                    <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left" ng-if="details.IssueTypeName">
                                                <p class="relatedTo pull-left margin-right-10 truncate" ng-class="{'fits': details.IssueTypeName.length > 15}">
                                                    {{details.IssueTypeName}}
                                                </p>
                                            </div>
                                            <div class="pull-right types">
                                                <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{ 'SCORECARD' | translate }}</a>
                                                <a class="text-warning link-text-style padding-left-15" href="@Url.Action("Entry","Attendance", new { Area = "Personnel" })/{{details.IssueId}}">{{ 'EDIT' | translate }}</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="viewByEmployee">
                        <div class="panel panel-default wo-view-by-employee">
                            <div class="panel-header-txt">
                                {{ 'VIEW_BY_EMPLOYEE' | translate }}
                                <span ng-if="vm.lastModifiedDate" class="panel-header-subtext margin-top-10  text-muted pull-right">{{ 'UPDATED' | translate }}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' }}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted"
                                 ng-if="!vm.employeeAttendanceInfo.length && vm.isAllLoaded">
                                - {{ 'NO_DATA' | translate }} -
                            </div>
                            <div class="body-content" ng-if="vm.employeeAttendanceInfo.length">
                                <table class="table">
                                    <thead class="head">
                                        <tr>
                                            <th class="left-title">
                                                {{ 'EMPLOYEE' | translate }}
                                                <i class="angle-style" ng-class="vm.sort[0].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(0)"></i>
                                            </th>
                                            <th class="right-content hidden-xs hidden-sm">
                                                {{ 'ABSENT' | translate }}
                                                <i class="angle-style" ng-class="vm.sort[1].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(1)"></i>
                                            </th>
                                            <th class="right-content hidden-xs hidden-sm">
                                                {{ 'PARTIAL_DAY' | translate }}
                                                <i class="angle-style" ng-class="vm.sort[2].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(2)"></i>
                                            </th>
                                            <th class="right-content last">
                                                {{ 'Total' | translate }}
                                                <i class="angle-style" ng-class="vm.sort[3].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(3)"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="body" data-infinite-scroll="vm.getAttendanceInfoPerEmployee()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                                        <tr class="data-row" data-ng-repeat="data in vm.employeeAttendanceInfo">
                                            <td class="left-title">
                                                <div class="circle-employee-image pull-left">
                                                    <img src="{{ data.ProfileImage }}"/>
                                                </div>
                                                <div class="pull-left padding-left-15">
                                                    <p ng-class="{ 'employee-name': data.IsEmployeeActive }">{{ data.EmployeeName }}</p>
                                                    <p class="inactive-employee" ng-if="!data.IsEmployeeActive">Inactive Employee</p>
                                                </div>
                                            </td>
                                            <td class="data-content hidden-xs hidden-sm">{{ data.AbsentCount }}</td>
                                            <td class="data-content hidden-xs hidden-sm">{{ data.PartialDayCount }}</td>
                                            <td class="data-content last">{{ data.AbsentCount + data.PartialDayCount }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center fa-spin" ng-if="!vm.isAllLoaded">
                                <i class="fa-spinner text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
