﻿@import "../../../../css/Common/globals";

.complaints-height {
        height: 170px;
 }

.compliments-height {
        height: 140px;
 }

.audits-height {
    height: 160px;
}

.toDos-height {
    height: 215px;
}

.ownership-height {
    height: 200px;
}

.workOrders-height {
    height: 200px;
}
    
.surveys-height {
    height: 170px;
}

.details-card-component {
    background-color: white;

    .date {
        font-weight: 600;
        color: $warning;
    }

    .details-card-header {
        padding: 10px 10px 0;

        hr {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .view {
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: underline;
            color: $dark;
        }

        .option-button {
            color: $primary;
            font-size: 18px;
        }

        .wo {
            &.dropdown-menu {
                 min-width: 120px;
             }
         }
    }

    .content {
        padding: 0 10px 10px;
        
        .associate {
            color: $primary;
            font-weight: 600;
        }

        .relatedTo {
            font-size: 14px;
            font-weight: 600;
            color: #999c9e;
            display: inline-block;
            border: 1px solid #999c9e;
            background: #f5f5f5;
            padding: 0 5px;
            border-radius: 3px;
            margin-left: 0;
            margin-bottom: 4px;

            &.fit {
             @media only screen and (min-width : 992px) and (max-width : 1390px) {
                    width: 76px;
                }
             }
            &.fits{
                width: 80px;
             }
        }

        .truncate {
            white-space: nowrap;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .footerLocation {
            font-style: italic;
            color: $muted-dark;
            &.full{
                width: 90%;
            }
            &.half{
                width: 50%;
            }
            &.fit-reportIt {
                @include breakpoint(mobilephone) {
                    width: 160px;
                }

                @include breakpoint(mobileonly) {
                    width: 95px;
                }

                 @media only screen and (min-width : 992px) and (max-width : 1390px) {
                    width: 100px;
                }

                  @media only screen and (min-width : 1600px) and (max-width : 1750px) {
                    width: 130px;
                }
            }

            &.fit {
                @include breakpoint(mobilephone) {
                    width: 140px;
                }

                 @media only screen and (min-width : 992px) and (max-width : 1390px) {
                    width: 120px;
                }
             }
        }

        .label-text {
            color: grey;
            font-weight: 600;
        }

        .a-audit-score {
            background-color: $default;
            color: $success;
            text-align: center;
            border-radius: 50%;
            font-weight: 600;
            height: 45px;
            width: 45px;
            line-height: 40px;

            &.success {
                color: $success;
                border: 3px solid $success;
            }

            &.fail {
                color: $danger;
                border: 3px solid $danger;
            }

            @include breakpoint(tablet) {
                height: 50px;
                width: 50px;
                line-height: 45px;
            }
        }

        .btn-style {
            padding: 4px 10px;
            font-size: 12px;
            font-weight: 600;
            color: $default;
            background-color: $dark;
        }

        .bg-green {
            background-color: $success;
        }

        .bg-muted {
            background-color: $muted-dark;
        }

        .critical {
            font-size: 14px;
            font-weight: 600;
            font-style: italic;
        }

        .wo-section-height {
           height: 110px;
       }

        .audit-auditor-img{
            img{
                height:65px;
                width:65px;
            }
        }

        .audit-data {
            width: 60%;
        }

        .edit {
            .fa-edit2 {
                color: $muted-dark;
            }

            .btn-link {
                .fa {
                    font-size: 20px;
                    line-height: 26px;
                }
            }

            .sentDate {
                width: 55%;

                @media only screen and (min-width : 992px) and (max-width : 1390px) {
                    width: 70%;
                }

                .form-control {
                    height: 28px;

                    @include breakpoint(mobileonly) {
                        font-size: 12px;
       }

                    @media only screen and (min-width : 992px) and (max-width : 1390px) {
                        font-size: 12px;
    }
}

                .input-group-addon {
                    padding: 4px 12px;
                }
            }
        }
    }
}
