﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.bonus-config {
    html {
        background-color: $default !important;
    }

    .plus-inside-input {
        z-index: 2;
        position: relative;
        top: -5px;
        right: -18px;
        color: #999c9e;
    }

    background-color: $default;
    page-header{
        padding-left: 30px;
        padding-right: 30px;
        @include breakpoint(laptop){
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    .head-desc {
        padding-left: 20px;

        @include breakpoint(desktop) {
        }

        @include breakpoint(tablet) {
            padding-bottom: 10px;
        }

        @include breakpoint(mobilephone) {
            padding-bottom: 10px;
        }
    }

    .head-desc-info {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: $dark;
    }

    .date-picker-boxborder {
        background-color: #f5f5f5;
        padding: 20px;

        @include breakpoint(desktop) {
            position: relative;
            top: -44px;
            margin-right: 30px;
        }
    }

    .itemrow:nth-child(even) {
        background-color: #f5f5f5;
        display: block;
    }

    .bonus-header {
        padding: 12px 15px 12px 0;
        font-size: 12px;
        font-weight: 600;
        color: $default;
        background-color: $primary;

        @include breakpoint(tablet) {
            padding: 16px 30px 16px 5px;
        }

        .emp-amt {
            text-align: right;
        }

        .emp-list {
            text-align: left;
        }
    }

    .margin-bottom-bc {
        margin-bottom: 15px;
    }

    .ret-div {
        padding: 15px;
        background-color: $gray;

        @include breakpoint(tablet) {
            padding: 20px;
        }
    }

    .btn-return-to-sep {
        background-color: $gray;
        color: $base-dark;
        font-size: 12px;
        font-weight: 600;
        padding: 12px 0;
        border-color: $base-dark;
        float: left;
        width: 42%;
        @include breakpoint(tablet){
            width: 25%;
        }
        @include breakpoint(desktop) {
            position: relative;
            top: -20px;
            margin-right: 30px;
            margin-bottom: 20px;
        }
    }

    .mobile-tabs-wrap {
        padding: 20px 0;
        background-color: #f5f5f5;
        transition: .2s all linear;

        @include breakpoint(tablet) {
            padding: 30px 15px 30px 5px;
        }

        &.fix-to-top {
            padding: 0;
            width: 83vw;
            border-bottom: 1px solid $border;
            transition: .1s all linear;
            background: white;

            @include breakpoint(largedesktop){
                width:87vw;

                .col-md-6{
                    width:33.33333333%;
                }
            }

            @include breakpoint(mobilephone) {
                width: 100vw;
                top: 100px;
            }

            * {
                transition: .1s all linear;
            }

            @include breakpoint(mobilephone) {
                .col-xs-12 {
                    width: 50%;

                    &.margin-bottom-bc{
                        margin-bottom:0;
                    }
                }
            }

            .tab {
                padding: 5px 10px;
                min-height: 120px;

                @include breakpoint(mobilephone) {
                    padding: 5px 0;
                    margin-bottom: 0;
                }

                i.fa {
                    font-size: 80px;

                    @include breakpoint(mobilephone) {
                        font-size: 30px;
                        margin-top: 10px;
                    }
                }

                .bonus-data-edit, .bonus-data {
                    @include breakpoint(mobilephone) {
                        width: 75%;
                        padding-left: 7px;
                    }
                }

                .amount {
                    font-size: 30px;
                }

                .amount-title, .amount-subtitle {
                    font-size: 90%;
                }

                .amount-title {
                    margin-top: 0;
                }

                .amount-subtitle {
                    @include breakpoint(mobilephone) {
                        display: none;
                    }
                }
            }
        }
    }

    .no-right-padding-mob {
        @include breakpoint(mobilephone) {
            padding-right: 0;
        }
    }

    .bonus-data {
        padding-right: 0;
        padding-left: 30px;

        @include breakpoint(mobileonly) {
            width: 62%;
        }

        width: 65%;

        @include breakpoint(tablet) {
            width: 70%;
        }

        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
            width: 66%;
            padding-left: 15px;
        }

        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
            width: 70%;
        }
    }

    .bonus-data-edit {
        padding-right: 0;
        padding-left: 30px;

        @include breakpoint(mobileonly) {
            width: 62%;
        }

        width: 65%;

        @include breakpoint(tablet) {
            width: 70%;
        }

        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
            width: 66%;
            padding-left: 0;
        }

        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
            width: 70%;
        }
    }

    .icon-style {
        font-size: 105px;
        color: #e5e5e5;
        margin-top: 25px;

        @include breakpoint(tablet) {
            margin-top: 10px;
        }
    }

    .custom-monthly-picker {
        @include breakpoint(tablet) {
            /*margin-left: 20px;*/
            padding-left: 0;
            padding-right: 0;
        }

        background-color: $default;
        position: relative;
        z-index: 1;

        .monthly-date-picker {
            position: relative;
            float: left;
            width: 100%;
            top: 0;
            right: 0;
            height: 36px;
            line-height: 36px;
            background-color: $default;
            color: #00afd1;
            font-weight: 600;
            font-size: 14px;

            @include breakpoint(tablet) {
            }

            @include breakpoint (desktop) {
            }

            a {
                background-color: $default;
                color: #00afd1;
                outline: 0;
            }

            span {
                padding-left: 25px;
                padding-right: 25px;

                @include breakpoint(mobileonly) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    .amount-title {
        font-size: 16px;
        color: $primary;
        font-weight: 700;
        margin-top: 10px;
    }

    .amount-subtitle {
        font-size: 14px;
        color: $dark;
        font-style: italic;
        font-weight: 600;
    }

    .tab {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
        background-color: $default;

        @include breakpoint(mobileonly) {
            padding: 20px 10px 20px 20px;

            .icon-style{
                font-size:90px;
            }
        }

        padding: 20px 10px 20px 10px;

        @include breakpoint(tablet) {
            padding: 20px 40px;
            margin-right: 0px;
            margin-bottom: 0;
            min-height: 190px;
        }

        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
            padding-left: 10px;
            padding-right: 0;
        }

        .amount {
            font-size: 40px;
            font-weight: normal;
            color: $success;

            &.edit-buttons {
                .btn {
                    font-size: 40px;
                    margin: 0px;
                    padding: 0px;

                    .fa {
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }

        .edit-label {
            font-size: 14px;
            color: $dark;
            cursor: pointer;
            text-decoration: underline;
            font-weight: 600;
            padding-left: 5px;
            position: relative;
            top: -3px;
        }

        .i-edit {
            font-size: 20px;
            padding: 10px 10px 10px 20px;
            color: $dark;
            cursor: pointer;

            @include breakpoint(mobileonly) {
                padding: 0;
                font-size: 15px;
            }
        }

        .i-check {
            color: $primary;
            border-color: $primary;
            border: 1px solid;
            height: 30px;
            width: 30px;
            border-radius: 45px/45px;
            font-size: 20px;
            cursor: pointer;
            line-height: 30px;
            text-align: center;
            font-weight: 500;
            position: relative;
            //top: 7px;
        }

        .title {
            padding-right: 84px;

            @include breakpoint (mobilephone) {
                padding-right: 60px;
            }
        }

        .edit-title {
            padding-right: 60px;

            @include breakpoint (mobilephone) {
                padding-right: 60px;
            }
        }

        .amt-input {

            @include breakpoint (mobilephone) {
                width: 100px;
            }

            width: 150px;
            color: $dark-dark;
            font-size: 30px;
            text-align: right;
            border: 1px solid $base;
            padding-right: 10px;
        }
    }

    hr {
        margin-bottom: 0;
    }

    input:focus {
        outline: none;
    }

    .save {
        background-color: #f5f5f5;
        text-align: right;

        @include breakpoint (tablet) {
            text-align: right;
        }
    }

    .btn-save-bc {
        background-color: $dark;
        color: $default;
        font-size: 14px;
        font-weight: 700;
        padding: 12px 30px;

        @include breakpoint(tablet) {
            margin-right: 30px;
            margin-top: 20px;
        }
    }

    .emp-row {
        padding: 20px 15px 20px 15px;

        @include breakpoint (tablet) {
            padding: 30px 20px 30px 20px;
        }

        text-align: left;

        .emp-profile-wgt {

            .circle-img {
                width: 60px;
                height: 60px;
                position: absolute;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .row-details {
                margin-left: 10px;
                padding-left: 60px;
                margin-top: 8px;

                @include breakpoint('tablet') {
                    margin-left: 15px;
                    margin-top: 8px;
                }

                .emp-name {
                    color: $primary;
                    font-size: 14px;
                    line-height: 1;
                    margin-bottom: 3px;
                    font-weight: bold;

                    @include breakpoint('tablet') {
                        font-size: 16px;
                    }
                }

                .emp-title, .sm {
                    font-size: 14px !important;
                    font-weight: 600;
                    color: #999c9e !important;
                    display: inline-block;
                    border: 1px solid #999c9e;
                    padding: 0 5px;
                    border-radius: 3px !important;
                    margin-left: 0;
                    margin-bottom: 4px;
                    font-style: normal !important;
                    line-height: 24px !important;
                }
            }
        }

        .bonus-amnt {
            @include breakpoint (mobilephone) {
                padding-right: 0;
            }

            padding-right: 20px;
            color: $success;
            font-weight: bold;
            font-size: 16px;

            .total {
                text-align: right;
                padding-top: 10px;
                color: $muted-dark;
                font-weight: normal;
            }
        }

        .amt-input {

            @include breakpoint (mobilephone) {
                width: 75px;
            }

            width: 115px;
            font-size: 30px;
            text-align: right;
            border: 1px solid $base;
            padding-right: 10px;
        }

        input[disabled] {
            background-color: transparent;
        }

        .plus-input {
            width: 40px;
            font-size: 30px;
            text-align: right;
            border: 1px solid $base;
            padding-right: 10px;
            border-right: none;
        }
    }
}
