@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
h1, .h1 {
  font-size: 34px;
  font-weight: lighter;
}

h2, .h2 {
  font-size: 22px;
  font-weight: lighter;
}

h3, .h3 {
  font-size: 16px;
  font-weight: normal;
}

h4, .h4 {
  font-size: 16px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 12px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

a {
  color: #00AFD1;
}

.text-error {
  color: #E93D42 !important;
}
.text-success {
  color: #9FC62D;
}
.text-primary {
  color: #00AFD1;
}
.text-warning {
  color: #F99D00 !important;
}
.text-muted {
  color: #9e9e9e;
}
.text-dark strong {
  color: #232323;
}
.text-white {
  color: #ffffff !important;
}
.text-light-gray {
  color: #cccccc;
}
.text-small {
  font-size: 12px;
}
.text-medium {
  font-size: 18px;
}
.text-large {
  font-size: 28px;
}
.text-x-large {
  font-size: 48px;
}

.label-success {
  color: #9FC62D;
}
.label-warning {
  color: #F99D00 !important;
}

.btn {
  font-weight: 700;
  font-size: 0.857rem;
  border-radius: 2px;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-grey {
  background-color: #8c8f92;
  color: #ffffff;
  font-weight: bold;
  border-color: #7f8385;
}
.btn-grey:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black {
  background-color: #2f2930;
  color: #ffffff;
  font-weight: bold;
  border-color: #221d22;
}
.btn-black:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black:focus {
  color: #ffffff;
}
.btn-dark {
  background-color: #2f2930;
  color: #ffffff;
  border-color: #221d22;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #4a404c;
  border-color: #574c59;
}
.btn-dark:focus {
  color: #ffffff;
}
.btn-link {
  color: #403841;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
}
.btn-lg-padding {
  padding: 10px 20px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn .btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.bg-danger, .btn-danger {
  background-color: #E93D42;
  border-color: #e83439;
}
.bg-danger:hover, .btn-danger:hover {
  background-color: #ec5458;
  border-color: #ed6266;
}
.bg-success, .btn-success {
  background-color: #9FC62D;
  border-color: #98be2b;
}
.bg-success:hover, .btn-success:hover {
  background-color: #acd23a;
  border-color: #b1d547;
}
.bg-primary, .btn-primary {
  background-color: #00AFD1;
  border-color: #00a6c7;
}
.bg-primary:hover, .btn-primary:hover {
  background-color: #00c4eb;
  border-color: #00d1fa;
}
.bg-warning, .btn-warning {
  background-color: #F99D00;
  border-color: #ef9700;
}
.bg-warning:hover, .btn-warning:hover {
  background-color: #ffa814;
  border-color: #ffae23;
}
.bg-white, .btn-white {
  background-color: #ffffff;
  border-color: #fafafa;
}
.bg-white:hover, .btn-white:hover {
  background-color: white;
  border-color: white;
}
.bg-transparent, .bg-clear, .bg-clear-bg, .btn-transparent, .btn-clear, .btn-clear-bg {
  background-color: transparent;
}
.bg-gray, .btn-gray {
  background-color: #9e9e9e;
  border-color: #999999;
}
.bg-gray:hover, .btn-gray:hover {
  background-color: #ababab;
  border-color: #b2b2b2;
}

.progress-bar-success {
  background-color: #9FC62D;
}

.alert.alert-danger {
  color: #E93D42;
  border-color: #E93D42;
}
.alert.no-border-radius {
  border-radius: 0;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
  border-color: #9FA8C7;
  background: #00AFD1;
  color: #fff;
}

.modal-content {
  border-radius: 4px;
}
.modal-content .modal-header {
  background-color: #00AFD1;
  color: #ffffff;
}
.modal-content .modal-header .modal-title {
  color: #ffffff;
}
.modal-content .modal-body.max-height-500 {
  max-height: 500px;
  overflow-y: scroll;
}

.popover-plain {
  border-radius: 0;
}
.popover-plain .popover-inner {
  padding: 20px;
}
.popover-plain .popover-title {
  color: #F99D00;
  background: none;
  border: 0;
  font-size: 1.143rem;
  font-weight: 600;
  border-radius: 0;
  padding: 0;
}
.popover-plain .popover-content {
  padding: 10px 0 0;
  color: #403841;
  font-size: 1rem;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

/*Fixes modal backdrop not displaying*/
.modal-backdrop {
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.dropdown-menu {
  min-width: 100px;
}
.dropdown-menu li a {
  font-size: .8571rem;
  font-weight: 600;
  line-height: 30px;
  padding: 0 15px;
  color: #403841;
}

.error-notice {
  margin: 5px 5px;
  /* Making sure to keep some distance from all side */
}

.sbm-alert {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #eee;
  /*border-left-width: 5px;*/
  border-radius: 3px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.sbm-alert.danger {
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
}
.sbm-alert.danger strong {
  color: #d9534f;
}
.sbm-alert.warning {
  border-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}
.sbm-alert.warning strong {
  color: #f0ad4e;
}
.sbm-alert.info {
  border-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}
.sbm-alert.info strong {
  color: #5bc0de;
}
.sbm-alert.success {
  border-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}
.sbm-alert.success strong {
  color: #2b542c;
}

/* -------------------------------------------------- */
/* FIX FOR: icomoon applying line-height to fa-stack */
/* ------------------------------------------------- */
span.fa-stack {
  line-height: 2em !important;
}
span.fa-stack .fa {
  line-height: inherit;
}
span.fa-stack .fa-sbm-thin-circle {
  border: 1px solid;
  border-radius: 80px;
  height: 100%;
}

/* -------------------------------  */
/*  FIX FOR BOLD PLACEHOLDER TEXT  */
/* --------------------------------*/
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  font-weight: normal !important;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.img-circle.circle-img,
.circle-img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #9e9e9e;
}
.img-circle.circle-img.circle-img-40,
.circle-img.circle-img-40 {
  width: 40px;
  height: 40px;
}
.img-circle.circle-img.circle-img-40 img,
.circle-img.circle-img-40 img {
  width: 100%;
  height: 100%;
}

.panel.panel-clean {
  background-color: #ffffff;
}

.dropdown-menu .divider {
  padding: 0;
}

/* ---------------------------------------------------- */
/* FIX issue where .row is direct child of another .row */
/* ---------------------------------------------------- */
.row > .row {
  margin-left: 0;
  margin-right: 0;
}

/*another fix*/
.container-fluid > .row > [class*="col-"][class*="no-padding"] {
  overflow-x: hidden;
}

/* ---------------------------------------------------- */
/* Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  line-height: 1.3rem;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #403841;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e8e8e8;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #00AFD1;
  border-color: #00AFD1;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #E93D42;
  border-color: #E93D42;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #F99D00;
  border-color: #F99D00;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #9FC62D;
  border-color: #9FC62D;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #403841;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:focus + .no-outline::before {
  outline: none;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #00AFD1;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #E93D42;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #F99D00;
}

.radio-success input[type="radio"] + label::after {
  background-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #9FC62D;
}

/* ---------------------------------------------------- */
/* End Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
#title-header-panel {
  background-color: #ffffff;
  border-bottom: 0;
}
#title-header-panel .title-box-panel-wrapper {
  padding: 10px;
}

@media (max-width: 479px) {
  .training .sep-results {
    font-size: 11px;
  }
  .training .sep-results .sep-col {
    padding: 5px;
  }
}
.training .description h3, .training .sidebar h3, .training .page-title h3 {
  color: #00AFD1;
  line-height: 42px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.training .table-title {
  padding-left: 30px;
}
.training .table-title h2 {
  color: #00AFD1;
  margin-bottom: 0;
  padding: 20px 10px 10px 0;
}
.training .table-title p {
  padding-bottom: 20px;
  font-weight: 400;
}
.training .table-head {
  background: #00AFD1;
  padding: 10px;
}
@media (max-width: 479px) {
  .training .table-head {
    padding: 10px !important;
  }
}
.training .table-head h5 {
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
}
.training .table-head input {
  border-radius: 4px;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  min-width: 200px;
}
.training .table-head.primary {
  color: #fff;
  padding: 15px 0 15px 15px;
  font-weight: 700;
  font-size: 10px;
}
.training .table-head.primary .input-group {
  width: 30%;
}
@media (max-width: 479px) {
  .training .table-head.primary .input-group {
    width: 100%;
  }
  .training .table-head.primary .input-group input.filter, .training .table-head.primary .input-group a {
    height: 30px;
    line-height: 1.4;
    font-size: 12px;
  }
}
.training .table-head.primary .input-group input.filter {
  /*height: 24px;*/
  min-width: 200px;
  border-color: #cccccc;
  border-radius: 4px;
}
.training .table-head.primary .input-group input.filter.has-text {
  border-radius: 4px 0 0 4px;
}
.training .circle-img {
  border: 3px solid #e8e8e8;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  overflow: hidden;
  padding: 0;
}
.training .circle-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.training .icon {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 22px;
  background: #4699c9;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding-top: 2px;
  vertical-align: top;
}
.training .fa-target:before {
  content: "\e603" !important;
}
.training .employee-list {
  color: #00AFD1;
}
.training .employee-list .emp-row {
  padding: 15px;
  border-bottom: 1px solid #e4e4e4;
}
.training .employee-list .emp-row .emp-details {
  margin-left: 15px;
  padding-left: 60px;
}
.training .employee-list .emp-row p {
  line-height: 1;
  margin-bottom: 5px;
}
.training .employee-list .emp-row .emp-name {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
}
.training .employee-list .emp-row .emp-name i[class^='icon-check'], .training .employee-list .emp-row .emp-name i[class^='icon-times'] {
  color: #40aa58;
  font-size: 18px;
  padding-left: 3px;
}
.training .employee-list .emp-row .emp-title, .training .employee-list .emp-row .hire-date {
  color: #9e9e9e;
  font-style: italic;
  font-size: 14px;
}
.training .employee-list .emp-row .hire-date {
  font-size: 12px;
}
.training .employee-list .emp-row .jd-status {
  position: relative;
}
.training .employee-list .emp-row .jd-status .fa-angle-right {
  position: absolute;
  right: 0;
  top: 20px;
  color: #9e9e9e;
  font-size: 18px;
  padding-right: 15px;
}
.training .primary-text {
  color: #00AFD1;
}
.training h2 {
  color: #00AFD1;
}
.training .transcript-header {
  background-color: #fff;
  padding: 20px;
}
.training .stats {
  text-align: center;
}
@media (max-width: 479px) {
  .training .stats {
    padding: 0;
    padding-top: 10px;
  }
}
.training .stats .stat {
  padding-left: 5px;
  padding-right: 5px;
  border-left: 2px solid #F5F5F5;
}
@media (max-width: 479px) {
  .training .stats .stat h1 {
    font-weight: 200;
  }
  .training .stats .stat p {
    line-height: 14px;
  }
  .training .stats .stat.first {
    border-left: 0;
  }
}
.training .stats p {
  font-size: 12px;
  color: #2f2930;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
}
@media (max-width: 479px) {
  .training .stats p {
    white-space: normal;
    /*height: 35px;*/
  }
}
.training .course-cards {
  margin-top: 10px;
  margin-bottom: 100px;
  cursor: pointer;
}
.training .course-cards a {
  color: #403841;
}
.training .course-cards .course-card {
  width: 100%;
  margin: 15px 0;
  border: 2px solid transparent;
  padding: 10px 10px 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  height: 164px;
}
.training .course-cards .course-card .panel-heading {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}
.training .course-cards .course-card .panel-heading h4 {
  margin-bottom: 0;
}
.training .course-cards .course-card .card-icon {
  display: inline-block;
  float: left;
}
.training .course-cards .course-card .card-icon i {
  font-size: 36px;
}
.training .course-cards .course-card .card-title {
  padding-left: 10px;
  display: inline-block;
  float: left;
  width: 80%;
  white-space: nowrap;
}
.training .course-cards .course-card .card-title .txt-bold {
  font-weight: bold;
}
.training .course-cards .course-card .card-title h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.training .course-cards .course-card .panel-body {
  padding: 20px 10px 0;
}
.training .course-cards .course-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.training .course-cards .course-card.active {
  border-color: #00AFD1;
}
.training .course-cards .course-card.completed {
  opacity: 0.7;
}
.training .course-cards .course-card .course-content {
  margin-top: 20px;
  display: none;
}
.training .course-cards .course-card .course-content .traning-item {
  border-top: 1px solid #e8e8e8;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  line-height: 1;
}
.training .course-cards .course-card .course-content .traning-item .item-number {
  height: 59px;
  width: 20px;
  line-height: 59px;
  background: #f5f5f5;
  text-align: center;
  color: #9e9e9e;
  position: absolute;
  left: 0;
  top: 0;
}
.training .course-cards .course-card .course-content .traning-item b {
  font-size: 12px;
  color: #9e9e9e;
  line-height: 1;
}
.training .course-cards .course-card .course-content .traning-item em {
  font-size: 10px;
  line-height: 1;
  color: #9e9e9e;
}
.training .course-cards .course-card .course-content .traning-item em span {
  font-style: normal;
}
.training .course-cards .course-card .course-content .traning-item i.training-icon {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 20px;
  color: #00AFD1;
  display: block;
  text-align: right;
}
.training .course-cards .course-card .course-content .traning-item i.training-icon.success-text {
  color: #9FC62D;
}
.training .course-cards .course-card .course-content .traning-item i.training-icon span {
  font-size: 8px;
  display: block;
  margin-top: 3px;
  margin-right: -10px;
  font-weight: 600;
}
.training .course-cards .course-card.active.my-transcript .course-content {
  display: block;
}
.training .training-item .main-attachment {
  min-height: 300px;
  background: white;
  display: table;
  width: 100%;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .training .training-item .main-attachment {
    border: none;
    min-height: 100px;
  }
}
.training .training-item .main-attachment .video-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.training .training-item .main-attachment .file {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.training .training-item .main-attachment .file .fa-stack {
  font-size: 30px;
}
.training .training-item .training-materials {
  padding-left: 15px;
  position: relative;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.training .training-item .training-materials .materials-wrap {
  padding-left: 30px;
  padding-right: 0;
}
.training .training-item .training-materials span.fa-stack {
  position: absolute;
  top: 0;
  left: 0;
}
.training .supplemental-materials ul li a {
  padding: 15px 0;
  border-top: 1px solid #cccccc;
  display: block;
}
@media (max-width: 479px) {
  .training .quiz-sub-title {
    font-size: 12px;
    font-weight: 400;
  }
}
@media (max-width: 479px) {
  .training .take-quiz-title {
    padding-top: 0;
  }
}

.emp-profile-wgt .circle-img, .emp-row .circle-img {
  width: 60px;
  height: 60px;
  position: absolute;
}
.emp-profile-wgt .circle-img img, .emp-row .circle-img img {
  width: 100%;
  height: 100%;
}
.emp-profile-wgt .row-details, .emp-row .row-details {
  margin-left: 10px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .emp-profile-wgt .row-details, .emp-row .row-details {
    margin-left: 15px;
  }
}
.emp-profile-wgt .row-details .emp-name, .emp-row .row-details .emp-name {
  color: #00AFD1;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 3px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .emp-profile-wgt .row-details .emp-name, .emp-row .row-details .emp-name {
    font-size: 16px;
  }
}
.emp-profile-wgt .row-details .emp-title, .emp-profile-wgt .row-details .training .employee-list .emp-row .hire-date, .training .employee-list .emp-row .emp-profile-wgt .row-details .hire-date, .emp-profile-wgt .row-details .sm, .emp-row .row-details .emp-title, .training .employee-list .emp-row .row-details .hire-date, .emp-row .row-details .sm {
  font-size: 14px;
  font-style: italic;
  color: #9e9e9e;
}
.emp-profile-wgt .row-details .emp-program, .emp-row .row-details .emp-program {
  color: #9e9e9e;
  font-style: normal;
  display: inline-block;
  border: 1px solid #9e9e9e;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 0;
  margin-bottom: 4px;
  font-size: 12px;
}
.emp-profile-wgt .row-details label.update-date, .emp-row .row-details label.update-date {
  padding-top: 10px;
}
.emp-profile-wgt .row-details .hire-date, .emp-row .row-details .hire-date {
  color: #cccccc;
}
.emp-profile-wgt .row-details .sm, .emp-profile-wgt .row-details .hire-date, .emp-row .row-details .sm, .emp-row .row-details .hire-date {
  font-size: 12px;
}

.emp-profile-well {
  padding: 25px 15px;
  overflow: hidden;
}

@media (max-width: 479px) {
  .tab-toggle-btns {
    margin-bottom: 10px;
  }
  .tab-toggle-btns label {
    margin-left: 0 !important;
    font-size: 12px;
  }
}
.tab-toggle-btns label {
  border-color: #cacaca !important;
  box-shadow: none !important;
}
.tab-toggle-btns label.active {
  font-weight: bold;
}
.tab-toggle-btns label.active:hover {
  background-color: #e4e4e4 !important;
  border-color: #cacaca !important;
}
.tab-toggle-btns label:hover {
  background-color: white !important;
  border-color: #cacaca !important;
  font-weight: bold;
}
.tab-toggle-btns label.pass {
  color: #9FC62D;
}
.tab-toggle-btns label.fail {
  color: #E93D42;
}

/**
    Styles specific to training module.
    TODO: Review these styles
*/
.well.ac-well {
  padding: 0 !important;
}

.ac-table-title {
  color: #fff;
  background: #414141;
  border-radius: 5px 5px 0 0;
}

.ac-table-title .radio-wrap, .scrollable-list .radio-wrap {
  margin-right: 0;
}

.ac-table-title label {
  height: 29px;
}

.ac-table-title p {
  line-height: 48px;
  font-size: 14px;
}

.all-emp {
  padding-right: 0;
  border-right: 1px solid #e4e4e4;
}

.selected-emp {
  padding-left: 0;
  border-left: 1px solid #e4e4e4;
}

.tra-buld-input {
  background: #f0f0f0;
  padding: 10px 20px;
  width: 100%;
  height: 52px;
}

.tra-buld-input input {
  border-radius: 50px;
  width: 100%;
  padding: 5px 10px;
  padding-left: 32px;
  border: 1px solid #e4e4e4;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tra-buld-input i {
  position: absolute;
  left: 30px;
  top: 18px;
  font-size: 16px;
  color: #414141;
}

.scrollable-list {
  max-height: 420px;
  height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid #e4e4e4;
}

.scrollable-list .radio-wrap {
  padding-top: 0;
  margin-right: 5px;
}

.emp-row .radio-wrap label {
  padding-left: 32px;
}

.emp-row label {
  margin-bottom: 0;
}

.scrollable-list p {
  font-size: 16px;
  color: inherit;
}

.tra-buld-btns {
  padding: 20px 5px;
}

.del-emp-row {
  height: 22px;
}

@media (min-width: 992px) {
  .scrollable-list p {
    font-size: 18px;
  }
}
.column-drilldown-list {
  min-height: 350px;
  overflow-y: auto;
  background: #ffffff;
  display: table;
  width: 100%;
}
.column-drilldown-list .column {
  min-width: 250px;
  width: 100%;
  display: table-column;
  float: left;
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #cccccc;
  height: 500px;
}
@media (min-width: 768px) {
  .column-drilldown-list .column {
    width: 25%;
    border-top: none;
  }
  .column-drilldown-list .column.column-full {
    width: 100%;
  }
  .column-drilldown-list .column.column-half {
    width: 50%;
  }
  .column-drilldown-list .column.column-fourth {
    width: 25%;
  }
  .column-drilldown-list .column.column-third {
    width: 33.333333%;
  }
}
.column-drilldown-list .column:first-of-type {
  border-top: none;
}
.column-drilldown-list .column#courses input[type='radio'], .column-drilldown-list .column#employee-courses input[type='radio'] {
  visibility: hidden;
}
.column-drilldown-list .column#selectedItemsFromStepOne .panel-body {
  padding: 0;
  border: none;
  box-shadow: none;
}
.column-drilldown-list .column:last-of-type {
  border-right: none;
}
.column-drilldown-list .column .cell {
  text-align: left;
  position: relative;
}
.column-drilldown-list .column .cell input[type=checkbox], .column-drilldown-list .column .cell span.fa-close.pull-right {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10;
}
.column-drilldown-list .column .head {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e8e8e8;
}
.column-drilldown-list .column .head label {
  text-transform: uppercase;
  padding: 15px;
}
.column-drilldown-list .column .body {
  max-height: 450px;
  overflow-y: auto;
}
.column-drilldown-list .column .body h3 {
  margin: 10px 0;
}
.column-drilldown-list .column .body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.column-drilldown-list .column .body ul.no-border .list-group-item {
  border: none;
  padding: 5px;
}
.column-drilldown-list .column .body ul.striped li:nth-child(even) {
  background-color: #f4f4f4;
}
.column-drilldown-list .column .body ul .list-group.inner li {
  border: none;
  list-style: disc;
}
.column-drilldown-list .column .body ul .list-group.inner li:hover {
  background-color: transparent;
}
.column-drilldown-list .column .body ul li a, .column-drilldown-list .column .body ul li label {
  font-weight: 600;
  display: block;
  padding: 15px 45px 15px 15px;
}
.column-drilldown-list .column .body ul li a.active, .column-drilldown-list .column .body ul li label.active {
  border-right: 2px solid #AACADC;
  padding-right: 43px;
}
.column-drilldown-list .column .body ul li h4 {
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
}
.column-drilldown-list .column .body ul li.sites {
  margin-left: 20px;
}
.column-drilldown-list .column .body ul li.positions {
  margin-left: 40px;
}
.column-drilldown-list .column .body ul li.employees {
  margin-left: 60px;
}

.btn-filter {
  background-color: #403841 !important;
  border: none !important;
  color: #ffffff !important;
  padding: 10px 18px 10px 18px;
  font-weight: 700;
  border-radius: 4px;
}
.btn-filter:hover {
  color: #ffffff;
  background-color: #000000 !important;
}
.btn-filter:focus {
  color: #ffffff;
  background-color: #403841 !important;
}
@media (max-width: 479px) {
  .btn-filter {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 5px !important;
    border: 0 !important;
    background-color: #ffffff !important;
  }
  .btn-filter .fa {
    color: #403841;
    font-size: 23px;
    background-color: #ffffff !important;
  }
  .btn-filter:hover {
    background-color: #ffffff !important;
  }
  .btn-filter:focus {
    background-color: #ffffff !important;
  }
}

.btn-export {
  background-color: #00AFD1;
  border: none !important;
  color: #ffffff;
  padding: 10px 18px 10px 18px;
  font-weight: 700;
  border-radius: 4px;
  margin-left: 10px !important;
}
.btn-export:hover {
  color: #ffffff;
  background-color: #286090;
}
.btn-export:focus {
  background-color: #00AFD1;
  color: #ffffff;
}
.btn-export .glyphicon {
  font-weight: normal;
}
@media (max-width: 479px) {
  .btn-export {
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
  }
  .btn-export .glyphicon {
    color: #2f2930;
    font-size: 20px;
    background-color: #ffffff;
  }
  .btn-export:focus {
    background-color: #ffffff !important;
  }
}

.btn-config {
  background-color: #706d6d !important;
  border: none !important;
  color: #ffffff !important;
  padding: 10px 18px 10px 18px;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
}
.btn-config:hover {
  color: #ffffff;
  background-color: #605e5e !important;
}
.btn-config:focus {
  color: #ffffff;
  background-color: #706d6d !important;
}
@media (max-width: 479px) {
  .btn-config {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 15px !important;
    border: 0 !important;
    background-color: #ffffff !important;
  }
}

.box-score-modal-empty .icon-wrap {
  text-align: center;
  padding-bottom: 20px;
}
.box-score-modal-empty .icon-wrap i {
  color: #F99D00;
  font-size: 68px;
}
.box-score-modal-empty p {
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 16px;
}

.box-score-modal-content {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}
.box-score-modal-content .box-score-modal-item {
  padding: 10px;
}

/*# sourceMappingURL=common.css.map */
