﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

//Overide for new full white header
#title-header-panel {
    background-color: $default;
    border-bottom: 0;

    .title-box-panel-wrapper {
        padding: 10px;
    }
}

.training {

   

    .sep-results {
        @include breakpoint(mobilephone) {
            font-size: 11px;

            .sep-col {
                padding: 5px;
            }
        }
    }

    .description h3, .sidebar h3, .page-title h3 {
        color: $primary;
        line-height: 42px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .table-title {
        padding-left: 30px;

        h2 {
            color: $primary;
            margin-bottom: 0;
            padding: 20px 10px 10px 0;
        }

        p {
            padding-bottom: 20px;
            font-weight: 400;
        }
    }

    .table-head {
        @include breakpoint(mobilephone) {
            padding: 10px !important;
        }

        background: $primary;
        padding: 10px;

        h5 {
            margin-top: 7px;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 14px;
        }

        input {
            border-radius: 4px;
            height: 35px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.5;
            min-width: 200px;
        }

        &.primary {
            color: #fff;
            padding: 15px 0 15px 15px;
            font-weight: 700;
            font-size: 10px;

            .input-group {
                width: 30%;

                @include breakpoint(mobilephone) {
                    width: 100%;

                    input.filter, a {
                        height: 30px;
                        line-height: 1.4;
                        font-size: 12px;
                    }
                }

                input.filter {
                    /*height: 24px;*/
                    min-width: 200px;
                    border-color: rgb(204, 204, 204);
                    border-radius: 4px;

                    &.has-text {
                        border-radius: 4px 0 0 4px;
                    }
                }
            }
        }
    }

    .circle-img {
        border: 3px solid $border;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        overflow: hidden;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
    }

    .icon {
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 22px;
        background: #4699c9;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        padding-top: 2px;
        vertical-align: top;
    }

    .fa-target:before {
        content: "\e603" !important;
    }

    .employee-list {
        color: $primary;

        .emp-row {
            padding: 15px;
            border-bottom: 1px solid #e4e4e4;

            .emp-details {
                margin-left: 15px;
                padding-left: 60px;

                @include breakpoint(mobilephone) {
                }
            }

            p {
                line-height: 1;
                margin-bottom: 5px;
            }

            .emp-name {
                font-size: 16px;
                font-weight: 600;
                color: $primary;

                i[class^='icon-check'], i[class^='icon-times'] {
                    color: #40aa58;
                    font-size: 18px;
                    padding-left: 3px;
                }
            }

            .emp-title {
                color: $base-dark;
                font-style: italic;
                font-size: 14px;
            }

            .hire-date {
                @extend .emp-title;
                font-size: 12px;
            }

            .jd-status {
                position: relative;

                .fa-angle-right {
                    position: absolute;
                    right: 0;
                    top: 20px;
                    color: $base-dark;
                    font-size: 18px;
                    padding-right: 15px;
                }
            }
        }
    }


    .primary-text {
        color: $primary;
    }

    h2 {
        color: $primary;
    }

    .transcript-header {
        background-color: #fff;
        padding: 20px;
    }

    .stats {
        text-align: center;

        @include breakpoint(mobilephone) {
            padding: 0;
            padding-top: 10px;
        }

        .stat {
            padding-left: 5px;
            padding-right: 5px;
            border-left: 2px solid #F5F5F5;
            @include breakpoint(mobilephone) {

                h1 {
                    font-weight: 200;
                }

                p {
                    line-height: 14px;
                }

                &.first{
                    border-left:0;
                }
            }

        }

        p {
            font-size: 12px;
            color: $dark-dark;
            text-transform: uppercase;
            white-space: nowrap;
            font-weight: 700;

            @include breakpoint(mobilephone) {
                white-space: normal;
                /*height: 35px;*/
            }
        }
    }

    .course-cards {
        margin-top: 10px;
        margin-bottom: 100px;
        cursor: pointer;

        a {
            color: $dark;
        }

        .course-card {
            width: 100%;
            margin: 15px 0;
            border: 2px solid transparent;
            padding: 10px 10px 30px;
            box-shadow: 0 1px 4px rgba(0,0,0, 0.2);
            transition: all 0.3s;
            height: 164px;

            .panel-heading {
                border-bottom: 1px solid $border;
                padding-bottom: 20px;

                h4 {
                    margin-bottom: 0;
                }
            }

            .card-icon {
                display: inline-block;
                float: left;

                i {
                    font-size: 36px;
                }
            }

            .card-title {
                padding-left: 10px;
                display: inline-block;
                float: left;
                width: 80%;
                white-space: nowrap;
                .txt-bold{
                    font-weight: bold;
                }
                h4 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .panel-body {
                padding: 20px 10px 0;

                p {
                }
            }

            &:hover {
                box-shadow: 0 4px 8px rgba(0,0,0, 0.4);
            }

            &.active {
                border-color: $primary;
            }

            &.completed {
                opacity: 0.7;
            }

            .course-content {
                margin-top: 20px;
                display: none;

                .traning-item {
                    border-top: 1px solid $border;
                    position: relative;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 30px;
                    line-height: 1;

                    .item-number {
                        height: 59px;
                        width: 20px;
                        line-height: 59px;
                        background: $gray;
                        text-align: center;
                        color: $base-dark;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    b {
                        font-size: 12px;
                        color: $base-dark;
                        line-height: 1;
                    }

                    em {
                        font-size: 10px;
                        line-height: 1;
                        color: $base-dark;

                        span {
                            font-style: normal;
                        }
                    }

                    i.training-icon {
                        position: absolute;
                        right: 10px;
                        top: 15px;
                        font-size: 20px;
                        color: $primary;
                        display: block;
                        text-align: right;

                        &.success-text {
                            color: $success;
                        }

                        span {
                            font-size: 8px;
                            display: block;
                            margin-top: 3px;
                            margin-right: -10px;
                            font-weight: 600;
                        }
                    }
                }
            }
            // course-content
            &.active {
                &.my-transcript {
                    .course-content {
                        display: block;
                    }
                }

                .course-content {
                    @include screen('max-tablet') {
                        display: block;
                    }
                }
            }
        }
    }

    .training-item {
        .main-attachment {

            @include breakpoint(mobilephone) {
                border: none;
                min-height: 100px;
            }

            min-height: 300px;
            background: white;
            display: table;
            width: 100%;
            border: 1px solid $border;
            margin-bottom: 10px;

            .video-wrap {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }

            .file {
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                .fa-stack {
                    font-size: 30px;
                }
            }
        }

        .training-materials {
            padding-left: 15px;
            position: relative;
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 10px;

            .materials-wrap {
                padding-left: 30px;
                padding-right: 0;
            }

            .quiz-wrap {
            }

            span.fa-stack {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .supplemental-materials {
        ul {
            li {
                a {
                    padding: 15px 0;
                    border-top: 1px solid $base;
                    display:block;
                }
            }
        }
    }

    .quiz-sub-title{
        @include breakpoint(mobilephone){
            font-size: 12px;
            font-weight: 400;
        }
    }
    .take-quiz-title{
        @include breakpoint(mobilephone){
            padding-top: 0;
        }
    }
}


.emp-profile-wgt, .emp-row {

    .circle-img {
        width: 60px;
        height: 60px;
        position: absolute;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .row-details {
        margin-left: 10px;
        padding-left: 60px;

        @include breakpoint('tablet') {
            margin-left: 15px;
        }

        .emp-name {
            color: $primary;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 3px;
            font-weight: 600;

            @include breakpoint('tablet') {
                font-size: 16px;
            }
        }

        .emp-title, .sm {
            font-size: 14px;
            font-style: italic;
            color: $base-dark;
        }

        .emp-program {
            color: $base-dark;
            font-style: normal;
            display: inline-block;
            border: 1px solid $base-dark;
            padding: 0 5px;
            border-radius: 3px;
            margin-left: 0;
            margin-bottom: 4px;
            font-size: 12px;
        }

        label.update-date {
            padding-top: 10px;
        }

        .hire-date {
            color: $base;
        }

        .sm, .hire-date {
            font-size: 12px;
        }
    }
}

.emp-profile-well {
    padding: 25px 15px;
    overflow: hidden;
}

.tab-toggle-btns {
    @include breakpoint(mobilephone) {
        margin-bottom: 10px;

        label {
            margin-left: 0 !important;
            font-size: 12px;
        }
    }

    label {
        border-color: rgb(202, 202, 202) !important;
        box-shadow: none !important;

        &.active {
            font-weight: bold;
        }

        &.active:hover {
            background-color: rgb(228, 228, 228) !important;
            border-color: rgb(202, 202, 202) !important;
        }

        &:hover {
            background-color: rgb(255, 255, 255) !important;
            border-color: rgb(202, 202, 202) !important;
            font-weight: bold;
        }

        &.pass {
            color: $success;
        }

        &.fail {
            color: $danger;
        }
    }
}

/**
    Styles specific to training module.
    TODO: Review these styles
*/
.well.ac-well {
    padding: 0 !important;
}

.ac-table-title {
    color: #fff;
    background: #414141;
    border-radius: 5px 5px 0 0;
}

.ac-table-title .radio-wrap, .scrollable-list .radio-wrap {
    margin-right: 0;
}

.ac-table-title label {
    height: 29px;
}

.ac-table-title p {
    line-height: 48px;
    font-size: 14px;
}

.all-emp {
    padding-right: 0;
    border-right: 1px solid #e4e4e4;
}

.selected-emp {
    padding-left: 0;
    border-left: 1px solid #e4e4e4;
}

.tra-buld-input {
    background: #f0f0f0;
    padding: 10px 20px;
    width: 100%;
    height: 52px;
}

.tra-buld-input input {
    border-radius: 50px;
    width: 100%;
    padding: 5px 10px;
    padding-left: 32px;
    border: 1px solid #e4e4e4;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.tra-buld-input i {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 16px;
    color: #414141;
}

.scrollable-list {
    max-height: 420px;
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #e4e4e4;
}

.scrollable-list .radio-wrap {
    padding-top: 0;
    margin-right: 5px;
}

.emp-row .radio-wrap label {
    padding-left: 32px;
}

.emp-row label {
    margin-bottom: 0;
}

.scrollable-list p {
    font-size: 16px;
    color: inherit;
}

.tra-buld-btns {
    padding: 20px 5px;
}

.del-emp-row {
    height: 22px;
}

@media (min-width: 992px) {
    .scrollable-list p {
        font-size: 18px;
    }
}






// TODO:  MOVE TO course.scss

.column-drilldown-list {
    min-height: 350px;
    overflow-y: auto;
    background: $default;
    display: table;
    width: 100%;

    .column {
        min-width: 250px;
        width: 100%;
        display: table-column;
        float: left;
        border-right: 1px solid $border;
        border-top: 1px solid $base;
        height: 500px;

        @include breakpoint(tablet) {
            width: 25%;
            border-top: none;

            &.column-full {
                width: 100%;
            }

            &.column-half {
                width: 50%;
            }

            &.column-fourth {
                width: 25%;
            }

            &.column-third {
                width: 33.333333%;
            }
        }



        &:first-of-type {
            border-top: none;
        }



        &#courses,&#employee-courses {
            //width: 60%;
            input[type='radio'] {
                visibility: hidden;
            }
        }

        &#course-types {
        }

        &#selectedItemsFromStepOne {
            //width: 40%;
            .panel-body {
                padding: 0;
                border: none;
                box-shadow: none;
            }
        }

        &:last-of-type {
            border-right: none;
        }

        .cell {
            text-align: left;
            position: relative;

            input[type=checkbox], span.fa-close.pull-right {
                position: absolute;
                right: 15px;
                top: 15px;
                z-index: 10;
            }
        }

        .head {
            background-color: #f4f4f4;
            border-bottom: 1px solid $border;

            label {
                text-transform: uppercase;
                padding: 15px;
            }
        }

        .body {
            max-height: 450px;
            overflow-y: auto;

            h3 {
                margin: 10px 0;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                &.no-border {
                    .list-group-item {
                        border: none;
                        padding: 5px;
                    }
                }

                &.striped {
                    li {
                        &:nth-child(even) {
                            background-color: #f4f4f4;
                        }
                    }
                }

                .list-group.inner {

                    li {
                        border: none;
                        list-style: disc;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }



                li {
                    a, label {
                        font-weight: 600;
                        display: block;
                        padding: 15px 45px 15px 15px;

                        &.active {
                            border-right: 2px solid #AACADC;
                            padding-right: 43px;
                        }
                    }

                    h4 {
                        text-transform: capitalize;
                        margin-bottom: 0;
                        margin-top: 0;
                        font-weight: bold;
                    }



                    &.sites {
                        margin-left: 20px;
                    }

                    &.positions {
                        margin-left: 40px;
                    }

                    &.employees {
                        margin-left: 60px;
                    }
                }
            }
        }
    }
}

 .btn-filter{
        background-color: $dark !important;
        border:  none !important;
        color: $default !important;
        padding: 10px 18px 10px 18px;
        font-weight: 700; 
        border-radius: 4px;
        &:hover{
        color: $default;
        background-color: #000000 !important;
        }
        &:focus{
        color: $default;
        background-color: $dark !important;
        }
        @include breakpoint(mobilephone){
        padding: 0!important;
        margin-top: 0!important;
        margin-right: 5px !important;
        border: 0!important;
        background-color: $default !important;
        .fa{
        color: $dark;
        font-size : 23px;
        background-color: $default !important;
     }
        &:hover{
            background-color: $default !important;
        }
         &:focus{
            background-color: $default !important;
        }
    }
}
    .btn-export{
        background-color: $primary;
        border: none !important;
        color: $default;
        padding: 10px 18px 10px 18px;
        font-weight: 700;  
        border-radius: 4px;
        margin-left: 10px !important;
        &:hover{
            color: $default;
            background-color:#286090  ;         
        }
        &:focus{
            background-color: $primary;
            color: $default;
        }
        .glyphicon{
            font-weight: normal;
        }
        @include breakpoint(mobilephone){
            padding: 5px 5px 5px 5px;
            background-color: $default;
            .glyphicon{
                color: $dark-dark;
                font-size : 20px;
                background-color: $default;
            }
            &:focus{
                background-color: $default !important;
        }
     }
}
    .btn-config{
        
        background-color: #706d6d !important;
        border:  none !important;
        color: $default !important;
        padding: 10px 18px 10px 18px;
        font-weight: bold; 
        border-radius: 3px;
        margin-right: 10px;
        &:hover{
        color: $default;
        background-color: #605e5e !important;
        }
        &:focus{
            color: $default;
            background-color: #706d6d !important;
        }
        @include breakpoint(mobilephone){
            padding: 0!important;
            margin-top: 0!important;
            margin-right: 15px !important;
            border: 0!important;
            background-color: $default !important;
        }
    }

    .box-score-modal-empty {
        .icon-wrap {
            text-align: center;
            padding-bottom: 20px;

            i {
                color: $warning;
                font-size: 68px;
            }
        }
        p {
            text-align: center;
            font-weight: 600;
            padding-bottom: 20px;
            font-size: 16px;
        }
    }

    .box-score-modal-content {
        max-height: 550px;
        overflow-y: auto;
        overflow-x: hidden;

        .box-score-modal-item {
            padding: 10px;
        }

    }

