﻿@import '../Common/_globals';
 
.compliance {
    @include breakpoint(mobilephone) {
        border-top: 1px solid $border;
    }
    .employee-label-align{
        padding-left: 20px;
    }
    color: $dark-dark;
    .compliance-percentage-align{
        
        @include breakpoint(tablet){
            margin-right: 0 !important;
        }
    }
    .heading {
        background-color: #fff;
        font-weight: 500;
        padding-bottom: 0;
        
        @include breakpoint(mobilephone) {
            padding-bottom: 20px;
        }

        .text {
            margin-left: 5px;
        }

        .data {
            text-align: right;
            margin-right: 20px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;

            .percentage {
                font-size: 50px;
                font-weight: 300;

                &.success {
                    color: $success;
                }

                &.warning {
                    color: $danger;
                }
            }

            .title, .goal {
                line-height: 24px;
            }

        }
        .mobile-data{
            padding-top:20px;
            .per{
                font-size: 40px;
                color: $success;
                font-weight: 500;
                padding-right:0;
                margin-top:5px;
                .percentage {
                    float:right;
                }
            }
            .txt{
                font-size:16px;
                margin-top:15px;
                float:left;
                .title{
                    color: $dark-dark;
                }
                .goal{
                    color: $base-dark;
                }
            }
        }

    }
   
     .padding-10-25-10-10{
             padding: 10px 25px 10px 10px;
             @include breakpoint(mobilephone) {
                    padding: 10px 15px 10px 10px;
                }
         }
     
    .table-heading {
        background: $primary;
        color: #fff;
        font-size: 12px !important;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 600;
       
        /*.padding-left-mobile{
            @include breakpoint(mobilephone) {
                    padding-left: 66px;
                }
            @include breakpoint(phablet) {
                    padding-left: 85px;
                }
             @include breakpoint(tablet) {
                    padding-left: 120px;
                }
              @include breakpoint(laptop) {
                    padding-left: 0;
                }
        }*/
        .first-row {
            text-align: left;
        }

        p {
            text-align: center;
        }
    }
   
    .emp-row {

        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        color: $dark-dark;

        &:hover {
            background-color:$border;
            cursor: pointer; 
        }

        &.row-odd {
            background-color: #fff;
        }

        &.row-even {
            background-color: $gray;
        }

        .first-row {
            text-align: left;
        }

        .emp-details {
            margin-left: 15px;
            padding-left: 60px;
            text-align: left;
            padding-top: 7px;
            line-height: 24px;
        }
        .emp-name {
            font-size: 16px;
            font-weight: 600;
            color: $primary;
            text-align: left;
        }

        .emp-title{
            color: $base-dark;
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
            text-align: left;
        }
        .progress{
            margin: 20px 0;
            border: 1px solid #999C9E;
            border-radius: 10px;
            
        }
        .progress-bar {
            box-shadow: none;
            color: #fff;
            font-weight: 500;

            @include breakpoint(mobilephone) {
                font-size: 10px;
                line-height: 18px;
            }

            &.success {
                background-color: $success;
            }

            &.error {
                background-color: $danger;
            }
        }
         .margin-20-0{
             margin:20px 0;
        }
         .text-bold{
             font-weight: 600;
             color: $dark-dark;
         }
         .desc{
             font-style:italic;
         }
         .padding-right-5{
             padding-right: 5px;
             @include breakpoint(mobilephone) {
                    padding-right: 15px;
                }
         }
         .padding-left-10{
             padding-left: 10px;
         }
         
         .grey{
             background-color: $gray;
             color: $muted-dark;
         }
         .green{
             color: $success;
         }
    
    }

}