﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";


.course-index {

    .header-btns {
        padding:20px 0;
        float: right;
        max-width: 350px;
        @include breakpoint(mobilephone) {
            margin-top: 0;
        }
    }

    .btn {
        span {
            padding-left: 10px;
        }
    }

    .add-btn {
        background-color: $success;
        color: $default;
        text-transform: uppercase;
        padding: 10px 15px;
        font-weight: 600;
        border: 1px solid transparent;
        width: 100%;
    }

    .assign-wrap {
        padding-right: 10px !important;
        @include breakpoint(mobilephone) {
            padding-right: 0 !important;
        }
    }

    .assign-btn {
        background-color: $primary;
        color: $default;
        text-transform: uppercase;
        padding: 10px 18px 10px 18px;
        font-weight: 700;
        border: 1px solid transparent;
        font-size: 12px;
        margin-top: 10px;
        width: 100%;
        
    }

    .unassign-btn {
        background-color: $muted;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 18px 10px 18px;
        font-weight: 700;
        border: 1px solid transparent;
        font-size: 12px;
        margin-top: 10px;
        width: 100%;
    }

    .btn-group {
        width: auto;
    }

    .training-count {
        font-size: 12px;
        color: $muted;
        font-style: italic;
    }

    .course-header {
        background-color: #fff;

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
            color: $dark-dark;
            padding:20px 10px 30px;
        }

    }

}

.course {

    @include breakpoint(mobilephone) {
        .nav-tabs {
            display: block;
        }
        h3 {
            margin-top: 0px;
            font-size: 18px;
        }

        .media-row {
            p {
                font-size: 11px !important;
            }
            i {
                font-size: 11px !important;
            }

            .progress {
                width: 20px;
            }
        }
    }

    background-color: #fff;

    label {
        //color: #000;
    }

    h3 {
        font-size: 24px;
        color: #3aadda;
    }

    h3 .chart-title {
        padding: 0 0 0 0;
    }

    h5 {
        color: $base-dark;
        margin-bottom: 10px;
    }

    .page-step {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .well {
        border: none;
    }

    &.course-entry .btn {
        
        color: $default;
        text-transform: uppercase;
        padding: 17px 20px;
        font-weight: 600;
        border: 1px solid transparent;

        &.back {
            background-color: #99969e;
        }
        &.next {
            background-color: #00afd1;

        }
        &.close {
            background-color: #393f44;
        }

    }

    .thank-you {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: auto;

        h2 {
            color: #00afd1;
        }

        h4 {
            color: #99969e;
            margin-bottom: 10px;
        }

       .btn {
           padding: 10px;
       }

    }

    .nav-tabs {
        margin-top: 15px;
        padding-top: 10px;
        border: none;

        @media (max-width: 479px) {
            .nav-tabs {
                display: block;
            }
        }

        li {
            border: none;
            text-transform: uppercase;
            margin-right: 15px;
            @include breakpoint(mobileonly){
                margin-right: 0;
            }

            a {
                background-color: transparent;
                border: none;
                padding-bottom: 4px;
                color: $dark-dark;
            }

            &.active a {
                color: #3aadda;
                border: none;
                background-color: transparent;
                border-bottom: 4px solid #3aadda;
            }

            &.disabled a {
                color: #aaa;
            }
        }
    }

    .language {
        padding-top: 10px;

        label {
            color: $muted-dark;
        }

        input {
            margin-right: 10px;
        }
    }

    .tab-pane {
        padding-bottom: 10px;
    }
    
    .current-file {
        .current-icon {
            text-align: center;
        }
        .current-button {
            padding-top: 15px;
            text-align: center;
        }
        icon {
            font-size: 72px;
            color: $primary;
        }
    }

    .uploader {
        padding: 50px 0;
        text-align: center;
        background-position: center center;
        cursor: pointer;
        color: $base-dark;

        icon {
            font-size: 120px;
            color: $primary;
        }

        .square {
            margin-top: 10px;
            color: $default;
            padding: 15px;
            border-radius: 5px;
        }

        &.cover {
            padding: 10px 0;
        }
    }

    .image-loader {
        
        color: $base-dark;

        .cover-image-container {

            border: 3px dashed $base-dark;
            height: 180px;
            width: 300px;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;

            .cover-image {
                padding: 35px 0;
                margin: 0 auto;
                text-align: center;

                icon {
                    font-size: 72px;
                }
            }

            img {
                height: 180px;
                display:block;
                margin:auto;
            }
            
        }

        p {
            text-align: center;
        }
    }

    .image-container {
        height: 180px;
        width: 300px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        position: relative;

        img {
            height: 180px;
            display:block;
            margin:auto;
        }

        icon {
            font-size: 72px;
            color: $base-dark;
            top: 50px;
        }
    }

    .upload {
        margin-top: 10px;
    }

    .list {
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
        min-height: 200px;
        color: #333;

        &.course-info {
            border-left: 1px solid #E4E4E4;
            border-right: 1px solid #E4E4E4;
        }

        &.course-files {
            border-right: 1px solid #E4E4E4;
            border-left: 1px solid #E4E4E4;
        }

        .row-odd {
            padding: 10px;
            background-color: #fff;
        }

        .row-even {
            padding: 10px;
            background-color: #F3F3F3;
        }

        .list-header {
            background-color: #F5F5F5;
            padding: 10px;
            border-bottom: 1px solid #E4E4E4;

            label {
                color: #000;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .confirm {
        border: 1px solid #E4E4E4;
        background-color: #F5F5F5;
        color: #333;
        padding: 10px;
    }

    .media-row {
        padding: 10px;
        position: relative;
        color: #3aadda;

        i {
            padding-right: 5px;
            padding-top: 2px;
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }

        .sort {
            font-size: 24px !important;
            padding-top: 0;
        }

        button {
            float: right;
            margin-left: 10px;
            padding: 4px 6px !important;
            line-height: 12px;
        }

        .progress {
            margin-bottom: 0;
            border: 1px solid #ccc;
            width: 100%;
            float: left;
        }

        .progress-bar {
            &.success {
                background-color: $green;
            }

            &.error {
                background-color: $danger;
            }
        }

        &.row-odd {
            background-color: #fff;
        }

        &.row-even {
            background-color: #F3F3F3;
        }

        .sub-attachment {
            padding-left: 20px;
            padding-top: 5px;

            i {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            .sort {
                font-size: 24px;
            }

        }
    }

    .current-file {
        .progress {
            margin-top: 10px;
        }
        .progress-bar {
            &.success {
                background-color: $green;
            }

            &.error {
                background-color: $danger;
            }
        }
    }

    .quiz {
        .no-quiz-btn{
            margin: 18px 0 !important;
            padding: 7px 20px !important;
            outline: none;
            @include breakpoint(notDesktop){
                width: 100%;
            }
        }
        .basic-input {
            border-radius: 0;
        }

        .q-answers {
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;

            .answer-wrap {
                padding: 20px;

                .answer {
                    margin-bottom: 10px;
                }

                .radio-wrap {
                    margin-right: 0;
                    padding-top: 0;

                    label {
                        height: 20px;
                        width: 22px;
                        position: relative;
                        font-size: 24px;
                        padding-left: 0;
                        margin-top: 4px;
                        
                        
                        color: #cacaca;

                        &.is-answer {
                            color: #40aa58;
                        }

                        /*&:after {
                            content: "\f10c";
                            color: #cacaca;
                        }*/
                    }

                    /*input:checked + label:after {
                        color: #40aa58;
                        content: "\f05d";
                    }*/
                }

                .input-group-addon:first-child {
                    padding-top: 0;
                    border-right: 0;
                }
            }
        }
    }

    &.attachment-modal {
        textarea {
            height: 50px;
        }

        .uploader {
            padding: 10px 0;

            icon {
                font-size: 80px;
            }
        }
    }
}

.course-assign {
    .nav-tabs{
        margin-top:5px;
    }
    .tab-content{
        padding:15px;
    }

    .table td label {
        font-weight: normal;
    }

    .column-list-selector td {
        cursor: pointer;
    }

    .column-list-selector td i {
        display: none;
    }

    .column-list-selector td.active i {
        display: block;
    }

    .sbm-course{
        border-left:2px solid $warning;
    }
}
