@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
h1, .h1 {
  font-size: 34px;
  font-weight: lighter;
}

h2, .h2 {
  font-size: 22px;
  font-weight: lighter;
}

h3, .h3 {
  font-size: 16px;
  font-weight: normal;
}

h4, .h4 {
  font-size: 16px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 12px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

a {
  color: #00AFD1;
}

.text-error {
  color: #E93D42 !important;
}
.text-success {
  color: #9FC62D;
}
.text-primary {
  color: #00AFD1;
}
.text-warning {
  color: #F99D00 !important;
}
.text-muted {
  color: #9e9e9e;
}
.text-dark strong {
  color: #232323;
}
.text-white {
  color: #ffffff !important;
}
.text-light-gray {
  color: #cccccc;
}
.text-small {
  font-size: 12px;
}
.text-medium {
  font-size: 18px;
}
.text-large {
  font-size: 28px;
}
.text-x-large {
  font-size: 48px;
}

.label-success {
  color: #9FC62D;
}
.label-warning {
  color: #F99D00 !important;
}

.btn {
  font-weight: 700;
  font-size: 0.857rem;
  border-radius: 2px;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-grey {
  background-color: #8c8f92;
  color: #ffffff;
  font-weight: bold;
  border-color: #7f8385;
}
.btn-grey:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black {
  background-color: #2f2930;
  color: #ffffff;
  font-weight: bold;
  border-color: #221d22;
}
.btn-black:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black:focus {
  color: #ffffff;
}
.btn-dark {
  background-color: #2f2930;
  color: #ffffff;
  border-color: #221d22;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #4a404c;
  border-color: #574c59;
}
.btn-dark:focus {
  color: #ffffff;
}
.btn-link {
  color: #403841;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
}
.btn-lg-padding {
  padding: 10px 20px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn .btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.bg-danger, .btn-danger {
  background-color: #E93D42;
  border-color: #e83439;
}
.bg-danger:hover, .btn-danger:hover {
  background-color: #ec5458;
  border-color: #ed6266;
}
.bg-success, .btn-success {
  background-color: #9FC62D;
  border-color: #98be2b;
}
.bg-success:hover, .btn-success:hover {
  background-color: #acd23a;
  border-color: #b1d547;
}
.bg-primary, .btn-primary {
  background-color: #00AFD1;
  border-color: #00a6c7;
}
.bg-primary:hover, .btn-primary:hover {
  background-color: #00c4eb;
  border-color: #00d1fa;
}
.bg-warning, .btn-warning {
  background-color: #F99D00;
  border-color: #ef9700;
}
.bg-warning:hover, .btn-warning:hover {
  background-color: #ffa814;
  border-color: #ffae23;
}
.bg-white, .btn-white {
  background-color: #ffffff;
  border-color: #fafafa;
}
.bg-white:hover, .btn-white:hover {
  background-color: white;
  border-color: white;
}
.bg-transparent, .bg-clear, .bg-clear-bg, .btn-transparent, .btn-clear, .btn-clear-bg {
  background-color: transparent;
}
.bg-gray, .btn-gray {
  background-color: #9e9e9e;
  border-color: #999999;
}
.bg-gray:hover, .btn-gray:hover {
  background-color: #ababab;
  border-color: #b2b2b2;
}

.progress-bar-success {
  background-color: #9FC62D;
}

.alert.alert-danger {
  color: #E93D42;
  border-color: #E93D42;
}
.alert.no-border-radius {
  border-radius: 0;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
  border-color: #9FA8C7;
  background: #00AFD1;
  color: #fff;
}

.modal-content {
  border-radius: 4px;
}
.modal-content .modal-header {
  background-color: #00AFD1;
  color: #ffffff;
}
.modal-content .modal-header .modal-title {
  color: #ffffff;
}
.modal-content .modal-body.max-height-500 {
  max-height: 500px;
  overflow-y: scroll;
}

.popover-plain {
  border-radius: 0;
}
.popover-plain .popover-inner {
  padding: 20px;
}
.popover-plain .popover-title {
  color: #F99D00;
  background: none;
  border: 0;
  font-size: 1.143rem;
  font-weight: 600;
  border-radius: 0;
  padding: 0;
}
.popover-plain .popover-content {
  padding: 10px 0 0;
  color: #403841;
  font-size: 1rem;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

/*Fixes modal backdrop not displaying*/
.modal-backdrop {
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.dropdown-menu {
  min-width: 100px;
}
.dropdown-menu li a {
  font-size: .8571rem;
  font-weight: 600;
  line-height: 30px;
  padding: 0 15px;
  color: #403841;
}

.error-notice {
  margin: 5px 5px;
  /* Making sure to keep some distance from all side */
}

.sbm-alert {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #eee;
  /*border-left-width: 5px;*/
  border-radius: 3px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.sbm-alert.danger {
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
}
.sbm-alert.danger strong {
  color: #d9534f;
}
.sbm-alert.warning {
  border-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}
.sbm-alert.warning strong {
  color: #f0ad4e;
}
.sbm-alert.info {
  border-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}
.sbm-alert.info strong {
  color: #5bc0de;
}
.sbm-alert.success {
  border-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}
.sbm-alert.success strong {
  color: #2b542c;
}

/* -------------------------------------------------- */
/* FIX FOR: icomoon applying line-height to fa-stack */
/* ------------------------------------------------- */
span.fa-stack {
  line-height: 2em !important;
}
span.fa-stack .fa {
  line-height: inherit;
}
span.fa-stack .fa-sbm-thin-circle {
  border: 1px solid;
  border-radius: 80px;
  height: 100%;
}

/* -------------------------------  */
/*  FIX FOR BOLD PLACEHOLDER TEXT  */
/* --------------------------------*/
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  font-weight: normal !important;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.img-circle.circle-img,
.circle-img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #9e9e9e;
}
.img-circle.circle-img.circle-img-40,
.circle-img.circle-img-40 {
  width: 40px;
  height: 40px;
}
.img-circle.circle-img.circle-img-40 img,
.circle-img.circle-img-40 img {
  width: 100%;
  height: 100%;
}

.panel.panel-clean {
  background-color: #ffffff;
}

.dropdown-menu .divider {
  padding: 0;
}

/* ---------------------------------------------------- */
/* FIX issue where .row is direct child of another .row */
/* ---------------------------------------------------- */
.row > .row {
  margin-left: 0;
  margin-right: 0;
}

/*another fix*/
.container-fluid > .row > [class*="col-"][class*="no-padding"] {
  overflow-x: hidden;
}

/* ---------------------------------------------------- */
/* Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  line-height: 1.3rem;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #403841;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e8e8e8;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #00AFD1;
  border-color: #00AFD1;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #E93D42;
  border-color: #E93D42;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #F99D00;
  border-color: #F99D00;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #9FC62D;
  border-color: #9FC62D;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #403841;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:focus + .no-outline::before {
  outline: none;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #00AFD1;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #E93D42;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #F99D00;
}

.radio-success input[type="radio"] + label::after {
  background-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #9FC62D;
}

/* ---------------------------------------------------- */
/* End Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.job-description .spinner-box {
  padding: 50px 20px;
}
.job-description .spinner-box .fa {
  font-size: 16px;
}
.job-description .position-profile-head {
  margin-top: 15px;
  margin-bottom: 10px;
}
.job-description .position-profile-head .my-profile-page-heading {
  padding: 10px 25px;
}
.job-description .position-profile-head .my-profile-my-options {
  margin: 0;
}
.job-description .job-description-header {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-top: 10px;
}
.job-description .job-description-header .table-head {
  background-color: #ffffff;
  color: #F99D00 !important;
  font-size: 16px;
  padding-left: 30px;
  font-weight: 600;
  line-height: 18px;
}
@media (min-width: 768px) {
  .job-description .job-description-header .table-head {
    font-size: 18px;
    line-height: 22px;
    padding-left: 15px;
  }
}
.job-description .job-description-header .emp-sign {
  width: 200px;
}
@media (max-width: 479px) {
  .job-description .job-description-header .emp-sign {
    margin: 0 auto;
    text-align: center;
  }
}
.job-description .job-description-header .emp-sign img {
  height: 75px;
  width: auto;
}
.job-description .job-description-header .emp-sign .supervisor-img {
  height: 50px !important;
}
.job-description .job-description-header .profile-print {
  color: #9e9e9e;
  font-size: 30px;
}
@media (max-width: 479px) {
  .job-description .job-description-header .profile-print {
    position: relative;
    top: -184px;
  }
}
.job-description .job-description-header .emp-config {
  color: #9e9e9e;
  font-size: 30px;
  padding-left: 8px;
}
@media (max-width: 479px) {
  .job-description .job-description-header .emp-config {
    position: relative;
    top: -160px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .job-description .supervisor-width-align {
    padding-left: 0 !important;
    padding-right: 0;
    margin-bottom: 10px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .job-description .supervisor-width-align {
    margin-bottom: 10px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .job-description .handbook-width-align {
    padding-left: 0 !important;
    padding-right: 0;
  }
  .job-description .handbook-width-align a {
    font-size: 13px !important;
  }
}
.job-description .header {
  background-color: #fff;
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
}
@media (max-width: 479px) {
  .job-description .header {
    background-color: transparent;
    text-align: center;
  }
}
.job-description .header h3 {
  text-transform: capitalize;
  font-weight: inherit;
  color: inherit;
  font-size: 24px;
  display: inline-block;
  padding-left: 10px;
}
@media (max-width: 479px) {
  .job-description .header h3 {
    padding-left: 0;
    font-size: 20px;
    max-width: 160px;
  }
}
.job-description .header .profile-img {
  border: 3px solid #cccccc;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  overflow: hidden;
  padding: 0;
}
.job-description .header .profile-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.job-description .header .profile-details {
  padding-top: 15px;
  padding-left: 10px;
}
.job-description .header .profile-details h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}
@media (max-width: 479px) {
  .job-description .header {
    margin: 0 auto;
  }
  .job-description .header .profile-details {
    padding-top: 10px;
  }
  .job-description .header .profile-details .position {
    color: #9e9e9e;
  }
  .job-description .header h3 {
    line-height: 30px;
  }
  .job-description .employee-list p {
    font-size: 14px !important;
    max-width: 185px;
  }
}
.job-description .position h3 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.job-description .description {
  background-color: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.job-description .description h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #00AFD1;
}
.job-description .description h3.subtitle {
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #F99D00;
}
.job-description .description .summary {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #2f2930;
}
.job-description .description .duties-desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #2f2930;
}
.job-description .description .duties {
  padding-top: 10px;
  padding-left: 30px;
}
.job-description .description .tasks {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #2f2930;
}
.job-description .description .sub-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #2f2930;
}
.job-description .description .btn-accept {
  font-size: 14px;
  font-weight: 400;
  background-color: #9FC62D;
  border-color: #9FC62D;
}
@media (min-width: 768px) {
  .job-description .sidebar {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1167px) {
  .job-description .sidebar {
    padding-left: 15px;
  }
}
.job-description .sidebar .panel-heading {
  cursor: pointer;
  border-bottom: none;
  background: white;
  position: relative;
}
.job-description .sidebar .panel-heading .icon {
  margin-top: 9px;
  margin-right: 23px;
  width: 0;
  height: 0;
  background-color: #ffffff;
  color: #00AFD1;
}
.job-description .sidebar .panel-heading .panel-header:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  color: grey;
  padding-top: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.job-description .sidebar .panel-heading .panel-header.collapsed:after {
  content: "\e114";
}
.job-description .sidebar .panel-heading h3 {
  line-height: 16px;
  color: #00AFD1;
  font-weight: 600;
  margin-bottom: 0 !important;
}
.job-description .sidebar .panel-heading h3.sub-title {
  color: #6e6e6e;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 400;
}
@media (max-width: 479px) {
  .job-description .sidebar .panel-heading h3.sub-title {
    font-size: 11px;
    font-weight: normal;
  }
}
.job-description .sidebar .panel-heading .title {
  display: inline-block;
  width: 77%;
}
.job-description .sidebar .panel-body {
  min-height: 100px;
}
.job-description .sidebar .panel-body a {
  margin-top: 10px;
}
.job-description .sidebar .panel-body h3 {
  margin: 0;
  padding: 0;
  line-height: 15px;
}
.job-description .sidebar .panel-body.training {
  /*text-align: center;*/
}
.job-description .sidebar .panel-body.training ul {
  text-align: left;
  list-style-type: none;
}
.job-description .sidebar .panel-body.training .counter {
  color: #9FC62D;
  font-size: 46px;
}
.job-description .sidebar .panel-body.training li .fa-square-o {
  color: #E93D42;
  font-weight: 600;
}
.job-description .sidebar .panel-body.training li .fa-check-square-o {
  color: #9FC62D;
  font-weight: 600;
}
.job-description .sidebar .panel-body .item {
  margin-bottom: 20px;
}
.job-description .sidebar .panel-body .item .type {
  font-size: 28px;
  color: #aaaaaa;
}
.job-description .sidebar .panel-body .item .success {
  font-size: 28px;
  color: #9FC62D;
}
.job-description .sidebar .panel-body .item .failed {
  font-size: 28px;
  color: #E93D42;
}
.job-description .sidebar .panel-body .item.kpi h3 {
  color: #F99D00 !important;
}
.job-description .sidebar .panel-body .collapse-text-toggle {
  color: #00AFD1;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
.job-description .sidebar .panel-body.jd h4 {
  color: #00AFD1;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.job-description .sidebar .panel-body.supervisor {
  margin-left: 10px;
}
.job-description .sidebar .panel-body.supervisor p {
  font-size: 14px;
}
.job-description .sidebar .panel-body .locations {
  padding-bottom: 10px;
}
.job-description .sidebar .panel-body .supervisor-details h4 {
  margin-top: 5px;
  margin-bottom: 0;
}
.job-description .sidebar .panel-body .status {
  position: relative;
}
.job-description .sidebar .panel-body .status .type {
  position: absolute;
  right: 0;
}
.job-description .sidebar .panel-body .status .status {
  position: absolute;
  left: 0;
}
.job-description .config h3 {
  line-height: 31px;
}
.job-description .config h3 a {
  font-size: 12px;
  text-transform: none;
}
.job-description .config #emp-photo img {
  max-height: 350px;
}
.job-description .config #tasks .well {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}
.job-description .config #tasks .well input {
  cursor: default;
}
.job-description .well.emp-profile-well.emp-profile-lg {
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 990px) {
  .job-description .well.emp-profile-well.emp-profile-lg {
    margin-bottom: 20px;
    text-align: left;
  }
}
.job-description .well.emp-profile-well.emp-profile-lg .circle-img {
  width: 90px;
  height: 90px;
  margin: auto;
  position: relative;
}
@media only screen and (min-width: 990px) {
  .job-description .well.emp-profile-well.emp-profile-lg .circle-img {
    float: left;
  }
}
.job-description .well.emp-profile-well.emp-profile-lg .row-details {
  margin-left: 0;
  padding-left: 0;
}
@media only screen and (min-width: 990px) {
  .job-description .well.emp-profile-well.emp-profile-lg .row-details {
    float: left;
    margin-left: 10px;
  }
}
.job-description .well.emp-profile-well.emp-profile-lg .emp-name {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #00AFD1;
}
@media only screen and (min-width: 990px) {
  .job-description .well.emp-profile-well.emp-profile-lg .emp-name {
    font-size: 22px;
    margin-top: 0;
  }
}
.job-description .well.emp-profile-well.emp-profile-lg .emp-title {
  font-size: 14px;
  color: #2f2930;
  display: inline;
  font-style: normal;
  font-weight: 400;
}
@media only screen and (min-width: 990px) {
  .job-description .well.emp-profile-well.emp-profile-lg .emp-title {
    font-size: 16px;
    display: block;
  }
}
.job-description .well.emp-profile-well.emp-profile-lg p.sm {
  font-size: 12px;
  color: #2f2930;
  display: block;
  margin-left: 5px;
  font-style: italic;
  border-left: none;
  padding-left: 7px;
  font-weight: 400;
}
@media only screen and (min-width: 990px) {
  .job-description .well.emp-profile-well.emp-profile-lg p.sm {
    font-size: 12px;
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
}
.job-description .well.emp-profile-well.emp-profile-lg p.sm:last-of-type {
  clear: both;
  display: block;
  border: none;
  padding-bottom: 10px;
}
.job-description .well.emp-profile-well.emp-profile-lg .btn.emp-config {
  position: absolute;
  right: 5px;
  top: -3px;
  color: #9e9e9e;
}
.job-description .well.emp-profile-well.emp-profile-lg .btn.emp-config i {
  font-size: 24px;
}
.job-description .well.emp-profile-well.emp-profile-lg .btn.profile-print {
  position: absolute;
  right: 35px;
  top: -326px;
  color: #9e9e9e;
}
@media (max-width: 320px) {
  .job-description .well.emp-profile-well.emp-profile-lg .btn.profile-print {
    top: -344px;
  }
}
@media (min-width: 1167px) {
  .job-description .well.emp-profile-well.emp-profile-lg .btn.profile-print {
    top: -3px;
  }
}
.job-description .well.emp-profile-well.emp-profile-lg .btn.profile-print i {
  font-size: 22px;
}
.job-description .well.emp-profile-well.emp-profile-lg .supervisor-img {
  height: 50px !important;
  width: auto;
}
.job-description .well.emp-profile-well.emp-profile-lg .acceptancedt {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #2f2930;
}
.job-description .full-jd {
  margin-top: 0;
  padding-top: 15px;
  position: relative;
}
@media only screen and (min-width: 990px) {
  .job-description .full-jd {
    margin-top: 10px;
    padding: 20px;
  }
}
.job-description .full-jd .card-content {
  display: none;
}
@media only screen and (min-width: 990px) {
  .job-description .full-jd .card-content {
    display: block;
  }
}
.job-description .full-jd .card-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 5px 0 20px 0;
}
@media only screen and (min-width: 990px) {
  .job-description .full-jd .card-content p.lg {
    font-size: 20px;
    line-height: 34px;
  }
}
.job-description .full-jd .iconed-title {
  cursor: pointer;
  margin-bottom: 25px;
}
.job-description .full-jd .jd-title {
  text-transform: uppercase;
  color: #00AFD1;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  padding-top: 2px;
  margin: 5px 0;
  margin-bottom: 20px;
}
.job-description .full-jd .jd-subtitle {
  color: #F99D00;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 14px;
}
.job-description .full-jd ul {
  padding-left: 30px;
  list-style: initial;
  margin-bottom: 50px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
.job-description .full-jd ul li {
  margin: 2px 0;
}
.job-description .card-content, .job-description .panel-body {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 40px;
}
.job-description .card-content hr, .job-description .panel-body hr {
  margin: 10px auto;
}
.job-description .card-content b, .job-description .panel-body b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #00AFD1;
}
.job-description .card-content.pri-block p, .job-description .panel-body.pri-block p {
  font-size: 16px;
  line-height: 28px;
}
.job-description .card-content ul.list-block, .job-description .panel-body ul.list-block {
  margin-bottom: 20px;
}
.job-description .card-content ul.list-block li, .job-description .panel-body ul.list-block li {
  border-bottom: 1px solid #e8e8e8;
  line-height: 32px;
}
.job-description .card-content ul.list-block-custom, .job-description .panel-body ul.list-block-custom {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.job-description .card-content p, .job-description .panel-body p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #2f2930;
}
.job-description .card-content p.sm, .job-description .panel-body p.sm {
  font-style: italic;
  font-weight: 400;
}
.job-description .training-card.card-content h3 {
  font-size: 46px;
  color: #00AFD1;
  float: left;
  padding-right: 15px;
  margin-right: 15px;
  margin-top: 0;
  line-height: 1;
  border-right: 1px solid #e8e8e8;
}
@media (max-width: 479px) {
  .job-description .actual-jd {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }
}
.job-description .actual-jd .well {
  padding: 10px;
}
.job-description .actual-jd .panel {
  border: 0;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: none;
  margin-bottom: 0;
}
.job-description .actual-jd .panel.no-border-bottom {
  border-bottom: none;
}
@media (max-width: 479px) {
  .job-description .actual-jd .panel.no-border-bottom {
    border-bottom: 1px solid #e4e4e4;
  }
}
.job-description .actual-jd .panel.has-error .icon {
  background-color: #E93D42;
}
.job-description .actual-jd .panel.has-error h3:not(.sub-title) {
  color: #E93D42;
}
.job-description .actual-jd #tasks .list-block li {
  position: relative;
}
.job-description .supv-card .supv .supv-content {
  position: relative;
  margin-bottom: 10px;
  				/*&:last-child {
  						margin-left: 40px;
  						position: relative;
  
  						&:after, &:before {
  							content: '';
  							position: absolute;
  							background: $primary;
  							left: -22px;
  						}
  
  						&:after {
  							width: 20px;
  							height: 2px;
  							top: 19px;
  						}
  
  						&:before {
  							width: 2px;
  							height: 55px;
  							top: -35px;
  						}
  					}*/
}
.job-description .supv-card .supv h4 {
  margin: 0;
  color: #00AFD1;
}
.job-description .supv-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  float: left;
  margin-right: 13px;
}
.job-description .supv-img img {
  width: 100%;
}
.job-description .hand-book a {
  font-size: 14px;
  font-weight: 300 !important;
  vertical-align: middle;
}
.job-description .hand-book a i {
  font-size: 26px !important;
}
.job-description .fun-facts {
  position: relative;
  padding-left: 2px;
  bottom: 2px;
}

.jd-sign-terms {
  margin-top: 30px;
  border: none;
}
.jd-sign-terms .check-row {
  width: 30px;
}
.jd-sign-terms .check-row input {
  margin-top: 10px;
}
.jd-sign-terms label {
  color: inherit;
  display: block;
}
.jd-sign-terms label b {
  text-transform: uppercase;
  font-size: 16px;
  color: #00AFD1;
}
@media only screen and (min-width: 990px) {
  .jd-sign-terms label b {
    font-size: 24px;
  }
}
.jd-sign-terms label p {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

.sep-results {
  /*border-bottom: 2px solid #4699c9;*/
}
@media (max-width: 479px) {
  .sep-results {
    padding-top: 10px;
  }
}

@media only screen and (min-width: 990px) {
  .sep-results {
    margin-bottom: 10px;
    border-bottom: none;
  }
}
.sep-results [class^='col-'] {
  border: 1px solid #e4e4e4;
  margin-left: -1px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}

.sep-results [class^='col-']:hover, .sep-results [class^='col-'].active-sep, .sep-results [class^='col-'].active {
  border-bottom: none;
  box-shadow: inset 0 -5px #4699c9;
}

.sep-results [class^='col-'].active-sep, .sep-results [class^='col-'].active {
  background: #f3f4f5;
}

.sep-results [class^='col-'] b {
  font-size: 20px;
  font-weight: 300;
}

@media only screen and (min-width: 990px) {
  .sep-results [class^='col-'] b {
    font-size: 40px;
  }
}
.sep-results [class^='col-'] p {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

@media only screen and (min-width: 990px) {
  .sep-results [class^='col-'] p {
    font-size: 12px;
  }
}
p.sep-status {
  margin: 0;
  margin-top: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 18px;
  width: 60px;
}

@media only screen and (min-width: 990px) {
  p.sep-status {
    width: 90px;
  }
}
.update-padding {
  padding-top: 25px;
  font-size: 12px;
}

.pf-btn-accept {
  font-size: 14px;
  font-weight: 400;
  background-color: #9FC62D;
  border-color: #9FC62D;
}

/*# sourceMappingURL=job-description.css.map */
