@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
h1, .h1 {
  font-size: 34px;
  font-weight: lighter;
}

h2, .h2 {
  font-size: 22px;
  font-weight: lighter;
}

h3, .h3 {
  font-size: 16px;
  font-weight: normal;
}

h4, .h4 {
  font-size: 16px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 12px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

a {
  color: #00AFD1;
}

.text-error {
  color: #E93D42 !important;
}
.text-success {
  color: #9FC62D;
}
.text-primary {
  color: #00AFD1;
}
.text-warning {
  color: #F99D00 !important;
}
.text-muted {
  color: #9e9e9e;
}
.text-dark strong {
  color: #232323;
}
.text-white {
  color: #ffffff !important;
}
.text-light-gray {
  color: #cccccc;
}
.text-small {
  font-size: 12px;
}
.text-medium {
  font-size: 18px;
}
.text-large {
  font-size: 28px;
}
.text-x-large {
  font-size: 48px;
}

.label-success {
  color: #9FC62D;
}
.label-warning {
  color: #F99D00 !important;
}

.btn {
  font-weight: 700;
  font-size: 0.857rem;
  border-radius: 2px;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-grey {
  background-color: #8c8f92;
  color: #ffffff;
  font-weight: bold;
  border-color: #7f8385;
}
.btn-grey:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black {
  background-color: #2f2930;
  color: #ffffff;
  font-weight: bold;
  border-color: #221d22;
}
.btn-black:hover {
  background-color: #4a404c;
  color: #ffffff;
  border-color: #574c59;
}
.btn-black:focus {
  color: #ffffff;
}
.btn-dark {
  background-color: #2f2930;
  color: #ffffff;
  border-color: #221d22;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #4a404c;
  border-color: #574c59;
}
.btn-dark:focus {
  color: #ffffff;
}
.btn-link {
  color: #403841;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
}
.btn-lg-padding {
  padding: 10px 20px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn .btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.bg-danger, .btn-danger {
  background-color: #E93D42;
  border-color: #e83439;
}
.bg-danger:hover, .btn-danger:hover {
  background-color: #ec5458;
  border-color: #ed6266;
}
.bg-success, .btn-success {
  background-color: #9FC62D;
  border-color: #98be2b;
}
.bg-success:hover, .btn-success:hover {
  background-color: #acd23a;
  border-color: #b1d547;
}
.bg-primary, .btn-primary {
  background-color: #00AFD1;
  border-color: #00a6c7;
}
.bg-primary:hover, .btn-primary:hover {
  background-color: #00c4eb;
  border-color: #00d1fa;
}
.bg-warning, .btn-warning {
  background-color: #F99D00;
  border-color: #ef9700;
}
.bg-warning:hover, .btn-warning:hover {
  background-color: #ffa814;
  border-color: #ffae23;
}
.bg-white, .btn-white {
  background-color: #ffffff;
  border-color: #fafafa;
}
.bg-white:hover, .btn-white:hover {
  background-color: white;
  border-color: white;
}
.bg-transparent, .bg-clear, .bg-clear-bg, .btn-transparent, .btn-clear, .btn-clear-bg {
  background-color: transparent;
}
.bg-gray, .btn-gray {
  background-color: #9e9e9e;
  border-color: #999999;
}
.bg-gray:hover, .btn-gray:hover {
  background-color: #ababab;
  border-color: #b2b2b2;
}

.progress-bar-success {
  background-color: #9FC62D;
}

.alert.alert-danger {
  color: #E93D42;
  border-color: #E93D42;
}
.alert.no-border-radius {
  border-radius: 0;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
  border-color: #9FA8C7;
  background: #00AFD1;
  color: #fff;
}

.modal-content {
  border-radius: 4px;
}
.modal-content .modal-header {
  background-color: #00AFD1;
  color: #ffffff;
}
.modal-content .modal-header .modal-title {
  color: #ffffff;
}
.modal-content .modal-body.max-height-500 {
  max-height: 500px;
  overflow-y: scroll;
}

.popover-plain {
  border-radius: 0;
}
.popover-plain .popover-inner {
  padding: 20px;
}
.popover-plain .popover-title {
  color: #F99D00;
  background: none;
  border: 0;
  font-size: 1.143rem;
  font-weight: 600;
  border-radius: 0;
  padding: 0;
}
.popover-plain .popover-content {
  padding: 10px 0 0;
  color: #403841;
  font-size: 1rem;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

/*Fixes modal backdrop not displaying*/
.modal-backdrop {
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.dropdown-menu {
  min-width: 100px;
}
.dropdown-menu li a {
  font-size: .8571rem;
  font-weight: 600;
  line-height: 30px;
  padding: 0 15px;
  color: #403841;
}

.error-notice {
  margin: 5px 5px;
  /* Making sure to keep some distance from all side */
}

.sbm-alert {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #eee;
  /*border-left-width: 5px;*/
  border-radius: 3px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.sbm-alert.danger {
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
}
.sbm-alert.danger strong {
  color: #d9534f;
}
.sbm-alert.warning {
  border-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}
.sbm-alert.warning strong {
  color: #f0ad4e;
}
.sbm-alert.info {
  border-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}
.sbm-alert.info strong {
  color: #5bc0de;
}
.sbm-alert.success {
  border-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}
.sbm-alert.success strong {
  color: #2b542c;
}

/* -------------------------------------------------- */
/* FIX FOR: icomoon applying line-height to fa-stack */
/* ------------------------------------------------- */
span.fa-stack {
  line-height: 2em !important;
}
span.fa-stack .fa {
  line-height: inherit;
}
span.fa-stack .fa-sbm-thin-circle {
  border: 1px solid;
  border-radius: 80px;
  height: 100%;
}

/* -------------------------------  */
/*  FIX FOR BOLD PLACEHOLDER TEXT  */
/* --------------------------------*/
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  font-weight: normal !important;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-weight: normal !important;
}

.img-circle.circle-img,
.circle-img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #9e9e9e;
}
.img-circle.circle-img.circle-img-40,
.circle-img.circle-img-40 {
  width: 40px;
  height: 40px;
}
.img-circle.circle-img.circle-img-40 img,
.circle-img.circle-img-40 img {
  width: 100%;
  height: 100%;
}

.panel.panel-clean {
  background-color: #ffffff;
}

.dropdown-menu .divider {
  padding: 0;
}

/* ---------------------------------------------------- */
/* FIX issue where .row is direct child of another .row */
/* ---------------------------------------------------- */
.row > .row {
  margin-left: 0;
  margin-right: 0;
}

/*another fix*/
.container-fluid > .row > [class*="col-"][class*="no-padding"] {
  overflow-x: hidden;
}

/* ---------------------------------------------------- */
/* Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  line-height: 1.3rem;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #403841;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #e8e8e8;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #00AFD1;
  border-color: #00AFD1;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #E93D42;
  border-color: #E93D42;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #F99D00;
  border-color: #F99D00;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #9FC62D;
  border-color: #9FC62D;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #403841;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:focus + .no-outline::before {
  outline: none;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #00AFD1;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #00AFD1;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #E93D42;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #E93D42;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #F99D00;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #F99D00;
}

.radio-success input[type="radio"] + label::after {
  background-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #9FC62D;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #9FC62D;
}

/* ---------------------------------------------------- */
/* End Custom Checkboxes and Radios */
/* ---------------------------------------------------- */
@media (max-width: 479px) {
  .knowledge-center {
    position: relative;
    overflow: hidden;
  }
}
.knowledge-center .page-content {
  background: #f5f5f5;
}
.knowledge-center .border-bottom {
  border-bottom: 1px solid #e8e8e8;
}
.knowledge-center .welcome {
  background: #f5f5f5;
  background: -webkit-linear-gradient(bottom, #f5f5f5, #ffffff);
  background: -moz-linear-gradient(bottom, #f5f5f5, #ffffff);
  background: linear-gradient(bottom, #f5f5f5, #ffffff);
}
.knowledge-center .welcome-section {
  padding-top: 30px;
  padding-bottom: 25px;
  color: #ffffff;
  position: relative;
  height: 165px;
}
@media (min-width: 768px) {
  .knowledge-center .welcome-section {
    height: 200px;
  }
}
@media (min-width: 1167px) {
  .knowledge-center .welcome-section {
    height: 288px;
  }
}
.knowledge-center .welcome-section .gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 135px;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), color-stop(98%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-8 */
}
@media (min-width: 479px) {
  .knowledge-center .welcome-section {
    padding-top: 25px;
    padding-bottom: 45px;
  }
}
.knowledge-center .welcome-section .welcome-text {
  position: relative;
  margin-top: 110px;
  left: 225px;
  top: 44px;
  z-index: 4;
  float: left;
}
.knowledge-center .welcome-section .welcome-note {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .knowledge-center .welcome-section .welcome-note {
    font-size: 14px;
  }
}
.knowledge-center .welcome-section .title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .knowledge-center .welcome-section .title {
    font-size: 34px;
    line-height: 45px;
  }
}
.knowledge-center .welcome-section .sub-title {
  padding-top: 5px;
  padding-bottom: 10px;
  margin: auto;
  font-weight: 600;
  font-size: 14px;
}
@media (min-width: 768px) {
  .knowledge-center .welcome-section .sub-title {
    line-height: 28px;
    padding-top: 5px;
  }
}
.knowledge-center .welcome-section .bottom-line {
  padding-bottom: 15px;
}
.knowledge-center .link-to-view {
  display: inline-block;
  padding-top: 5px;
}
.knowledge-center .transcript-tab {
  background: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e8e8e8;
}
.knowledge-center .transcript-tab .action-buttons {
  font-size: 26px;
  width: 17%;
  margin: 0 auto;
}
.knowledge-center .transcript-tab .action-buttons .view-trans {
  float: left;
}
.knowledge-center .transcript-tab .action-buttons .mobile-style {
  float: left;
  margin-right: 18px;
}
.knowledge-center .transcript-tab .action-buttons .mobile-style .dropdown-menu {
  min-width: 140px;
}
@media (max-width: 479px) {
  .knowledge-center .transcript-tab .stat-text {
    font-size: 10px;
    font-weight: 700;
  }
}
.knowledge-center .hide-show {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: 1px solid #e8e8e8;
}
.knowledge-center .hide-show .more {
  font-size: 12px;
}
.knowledge-center .fa-legal {
  padding-left: 7px;
  padding-right: 7px;
}
.knowledge-center .view-transcript-icon {
  font-size: 18px;
  line-height: 0;
}
.knowledge-center .view-transcript {
  background-color: #00AFD1;
  font-size: 12px !important;
  padding: 8px 12px 8px 12px !important;
}
@media (min-width: 768px) {
  .knowledge-center .view-transcript {
    margin-right: 30px;
  }
}
.knowledge-center .view-transcript .fa-my-transcript {
  font-size: 24px;
  font-weight: 300 !important;
}
.knowledge-center .view-transcript .transcript {
  position: relative;
  top: -5px;
}
.knowledge-center .btn-icon {
  padding-top: 13px;
  padding-bottom: 9px;
  bottom: -33px;
  position: relative;
  z-index: 1;
  right: 84px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
@media (min-width: 768px) {
  .knowledge-center .btn-icon {
    padding-bottom: 10px;
  }
}
.knowledge-center .btn-icon-text {
  color: #ffffff !important;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  padding: 12px 12px 12px 30px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.428571;
}
@media (min-width: 768px) {
  .knowledge-center .btn-icon-text {
    font-size: 14px;
  }
}
.knowledge-center h1 {
  font-size: 34px;
}
.knowledge-center .stat-counts {
  background: #ffffff;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .knowledge-center .stat-counts.spacing {
    padding-bottom: 7px;
  }
}
.knowledge-center .stat-counts .logo-border {
  position: relative;
  margin-top: -110px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 8px;
  background-color: #ffffff;
  z-index: 4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.knowledge-center .stat-counts .logo-border.logo-mobile {
  float: none !important;
  width: auto;
  display: inline-block;
}
@media (max-width: 479px) {
  .knowledge-center .stat-counts .logo-border {
    margin-top: -85px;
  }
}
@media (min-width: 1167px) {
  .knowledge-center .stat-counts .logo-border {
    left: 30px;
  }
}
.knowledge-center .stat-counts .logo-border .logo {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  z-index: 4;
}
@media (max-width: 479px) {
  .knowledge-center .stat-counts .logo-border .logo {
    height: 90px;
    width: 90px;
  }
}
.knowledge-center .stat-counts .logo-border .logo.empty {
  background-color: #f5f5f5;
}
.knowledge-center .stat-counts .logo-border .logo.empty .fa {
  font-size: 50px;
  color: #999c9e;
  font-weight: 300;
  line-height: 80px;
}
@media (max-width: 479px) {
  .knowledge-center .stat-counts .logo-border .logo.empty .fa {
    line-height: 40px;
    font-size: 30px;
  }
}
.knowledge-center .stat-counts .logo-border .empty-text {
  color: #999c9e;
  font-size: 14px;
  font-style: italic;
}
@media (max-width: 479px) {
  .knowledge-center .stat-counts .logo-border .empty-text {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .knowledge-center .stat-counts .inner.inner-tab {
    width: 55%;
    display: inline-block;
  }
}
@media (min-width: 1167px) {
  .knowledge-center .stat-counts .inner.inner-tab {
    width: 30%;
    display: block;
    float: left;
  }
}
@media (min-width: 991px) {
  .knowledge-center .stat-counts .inner {
    padding: 0 5px 0 25px;
  }
}
.knowledge-center .stat-counts .inner .subject-wrap {
  padding: 15px 0 15px 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media (min-width: 991px) {
  .knowledge-center .stat-counts .inner .subject-wrap {
    padding: 5px 0 15px;
  }
}
.knowledge-center .stat-counts .inner .courses-wrap {
  padding: 15px 0 15px 15px;
}
@media (min-width: 991px) {
  .knowledge-center .stat-counts .inner .courses-wrap {
    padding: 5px 0 15px;
  }
}
.knowledge-center .stat-counts .inner .site-wrap {
  padding: 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media (min-width: 991px) {
  .knowledge-center .stat-counts .inner .site-wrap {
    padding: 5px 15px 15px 0;
  }
}
.knowledge-center .stat-counts .inner .fa {
  font-size: 18px;
}
.knowledge-center .stat-counts .empty-div {
  width: 37%;
}
.knowledge-center .stat-counts .stat-text {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  top: -3px;
}
.knowledge-center .stat-counts .count {
  font-weight: 400;
  color: #2f2930;
  font-size: 16px;
}
@media (min-width: 991px) {
  .knowledge-center .stat-counts .count {
    font-size: 20px;
    line-height: 34px;
  }
}
.knowledge-center .stat-counts .fa {
  font-weight: 600;
}
.knowledge-center .stat-counts .welcome-tab {
  margin-top: 15px;
}
.knowledge-center .stat-counts .welcome-tab .welcome-note {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .knowledge-center .stat-counts .welcome-tab .welcome-note {
    font-size: 14px;
  }
}
.knowledge-center .stat-counts .welcome-tab .title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}
@media (max-width: 479px) {
  .knowledge-center .stat-counts .welcome-tab .title {
    font-size: 24px;
  }
}
.knowledge-center .stat-counts .cog-dropdown {
  margin-top: 7px;
  margin-right: 10px;
}
.knowledge-center .stat-counts .cog-dropdown .cog-button {
  font-size: 28px;
}
@media (min-width: 1167px) {
  .knowledge-center .container-padding {
    padding-left: 11%;
    padding-right: 11%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .knowledge-center .container-padding {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
  .knowledge-center .container-padding {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.knowledge-center .library-course {
  text-align: center;
  margin-top: 20px;
  /* map colors to icons*/
  /* end map*/
}
@media (max-width: 320px) {
  .knowledge-center .library-course {
    padding-left: 10px;
  }
}
.knowledge-center .library-course .kc-course-title-icon {
  width: 161px;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
  border-radius: 5px 5px 0 0;
  border: 1px solid #e8e8e8;
  width: 100%;
}
@media (min-width: 768px) {
  .knowledge-center .library-course .kc-course-title-icon {
    margin-bottom: 30px;
  }
}
@media (min-width: 1167px) {
  .knowledge-center .library-course .kc-course-title-icon {
    margin-bottom: 30px;
  }
}
.knowledge-center .library-course .kc-course-title-icon .detail-part {
  background: #1AAAA5;
  padding-bottom: 20px;
  padding-top: 10px;
  height: 150px;
}
@media (min-width: 1167px) {
  .knowledge-center .library-course .kc-course-title-icon .detail-part {
    height: 170px;
  }
}
.knowledge-center .library-course .kc-course-title-icon .detail-part .subject {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
@media (min-width: 768px) {
  .knowledge-center .library-course .kc-course-title-icon .detail-part .subject {
    line-height: 19px;
  }
}
@media (min-width: 1167px) {
  .knowledge-center .library-course .kc-course-title-icon .detail-part .subject {
    line-height: 23px;
  }
}
.knowledge-center .library-course .kc-course-title-icon .detail-part .hline {
  margin: 8px 60px 5px 60px;
}
@media (max-width: 479px) {
  .knowledge-center .library-course .kc-course-title-icon .detail-part .hline {
    margin: 8px 40px 5px 40px;
  }
}
.knowledge-center .library-course .kc-course-title-icon .detail-part .course-count {
  color: #ffffff;
  font-size: 12px;
}
@media (min-width: 768px) {
  .knowledge-center .library-course .kc-course-title-icon .detail-part .course-count {
    font-size: 14px;
  }
}
.knowledge-center .library-course .kc-course-title-icon .detail-part .fa {
  color: #ffffff;
}
.knowledge-center .library-course .kc-course-title-icon .view-part {
  height: 30px;
}
.knowledge-center .library-course .kc-course-title-icon .fa-eye {
  margin-top: 10px;
  color: #403841;
  font-size: 10px;
}
.knowledge-center .library-course .kc-course-title-icon .view-count {
  margin-top: 10px;
  color: #403841;
  font-size: 10px;
}
.knowledge-center .library-course .kc-course-title-icon .fa-book-base {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
  color: #009ab8;
  font-size: 86px;
  margin-top: -7px;
}
@media only screen and (min-width: 990px) {
  .knowledge-center .library-course .kc-course-title-icon .fa-book-base {
    font-size: 128px;
    margin-top: -10px;
  }
}
.knowledge-center .library-course .kc-course-title-icon .course-program-icon {
  font-size: 32px;
  line-height: 64px;
  color: #ffffff;
  padding-left: 3px;
}
@media only screen and (min-width: 990px) {
  .knowledge-center .library-course .kc-course-title-icon .course-program-icon {
    font-size: 42px;
    line-height: 75px;
    padding-left: 5px;
  }
}
.knowledge-center .library-course a h2 {
  color: #00AFD1;
  font-size: 22px;
  font-weight: 300;
  height: 48px;
  margin-top: 0;
}
@media only screen and (min-width: 990px) {
  .knowledge-center .library-course a h2 {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .knowledge-center .library-course a h2 {
    font-size: 18px;
    font-weight: 600;
  }
}
.knowledge-center .library-course a h2 span {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.knowledge-center .library-course a p {
  color: #2f2930;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: italic;
}
@media only screen and (min-width: 990px) {
  .knowledge-center .library-course a p {
    font-size: 16px;
    line-height: 24px;
  }
}
.knowledge-center .library-course.leg-cleanroom, .knowledge-center .library-course.leg-pest {
  /* default */
}
.knowledge-center .library-course.leg-custodial a h2 {
  color: #F99D00;
}
.knowledge-center .library-course.leg-custodial2 .detail-part {
  background: #06467C;
}
.knowledge-center .library-course.leg-orange .detail-part {
  background: #E69225;
}
.knowledge-center .library-course.leg-pinkish .detail-part {
  background: #CD4F78;
}
.knowledge-center .library-course.leg-safety .detail-part {
  background: #CA3471;
}
.knowledge-center .library-course.leg-safety .detail-part .fa-book-base {
  color: #a12a5a;
}
.knowledge-center .library-course.leg-safety a h2 {
  color: #1d95c7;
}
.knowledge-center .library-course.leg-evs .detail-part, .knowledge-center .library-course.leg-operations .detail-part, .knowledge-center .library-course.leg-floor-care .detail-part {
  background: #1ab7ae;
}
.knowledge-center .library-course.leg-evs .detail-part .fa-book-base, .knowledge-center .library-course.leg-operations .detail-part .fa-book-base, .knowledge-center .library-course.leg-floor-care .detail-part .fa-book-base {
  color: #148a84;
}
.knowledge-center .library-course.leg-evs a h2, .knowledge-center .library-course.leg-operations a h2, .knowledge-center .library-course.leg-floor-care a h2 {
  color: #1ab7ae;
}
.knowledge-center .library-course.leg-glassware .detail-part {
  background: #5bc7ec;
}
.knowledge-center .library-course.leg-glassware .detail-part .fa-book-base {
  color: #2db7e7;
}
.knowledge-center .library-course.leg-glassware a h2 {
  color: #5bc7ec;
}
.knowledge-center .library-course.leg-gmp .detail-part {
  background: #1690C3;
}
.knowledge-center .library-course.leg-gmp .detail-part .fa-book-base {
  color: #116e95;
}
.knowledge-center .library-course.leg-gmp a h2 {
  color: #1d95c7;
}
.knowledge-center .library-course.leg-lab-services .detail-part, .knowledge-center .library-course.leg-plant-services .detail-part {
  background: #F26130;
}
.knowledge-center .library-course.leg-lab-services .detail-part .fa-book-base, .knowledge-center .library-course.leg-plant-services .detail-part .fa-book-base {
  color: #e1430e;
}
.knowledge-center .library-course.leg-lab-services a h2, .knowledge-center .library-course.leg-plant-services a h2 {
  color: #912062;
}
.knowledge-center .library-course.leg-lamp .detail-part {
  background: #58B045;
}
.knowledge-center .library-course.leg-lamp .detail-part .fa-book-base {
  color: #415f33;
}
.knowledge-center .library-course.leg-lamp a h2 {
  color: #9FC62D;
}
.knowledge-center .library-course.leg-landscaping .detail-part, .knowledge-center .library-course.leg-mac .detail-part, .knowledge-center .library-course.leg-legal .detail-part {
  background: #158c88;
}
.knowledge-center .library-course.leg-landscaping .detail-part .fa-book-base, .knowledge-center .library-course.leg-mac .detail-part .fa-book-base, .knowledge-center .library-course.leg-legal .detail-part .fa-book-base {
  color: #0e605d;
}
.knowledge-center .library-course.leg-landscaping a h2, .knowledge-center .library-course.leg-mac a h2, .knowledge-center .library-course.leg-legal a h2 {
  color: #158c88;
}
.knowledge-center .library-course.leg-recycling .detail-part, .knowledge-center .library-course.leg-kpis .detail-part, .knowledge-center .library-course.leg-leadership-dev .detail-part {
  background: #994F9C;
}
.knowledge-center .library-course.leg-recycling .detail-part .fa-book-base, .knowledge-center .library-course.leg-kpis .detail-part .fa-book-base, .knowledge-center .library-course.leg-leadership-dev .detail-part .fa-book-base {
  color: #415f33;
}
.knowledge-center .library-course.leg-recycling a h2, .knowledge-center .library-course.leg-kpis a h2, .knowledge-center .library-course.leg-leadership-dev a h2 {
  color: #9FC62D;
}
.knowledge-center .library-course.leg-sbm .detail-part {
  background: #B5BD32;
}
.knowledge-center .library-course .course-order-0 .detail-part {
  background: #1AAAA5 !important;
}
.knowledge-center .library-course .course-order-1 .detail-part {
  background: #06467C !important;
}
.knowledge-center .library-course .course-order-2 .detail-part {
  background: #B5BD32 !important;
}
.knowledge-center .library-course .course-order-3 .detail-part {
  background: #994F9C !important;
}
.knowledge-center .library-course .course-order-4 .detail-part {
  background: #F26130 !important;
}
.knowledge-center .library-course .course-order-5 .detail-part {
  background: #1690C3 !important;
}
.knowledge-center .library-course .course-order-6 .detail-part {
  background: #CA3471 !important;
}
.knowledge-center .select-course {
  padding-top: 20px;
  text-align: center;
}
.knowledge-center .select-course .text {
  font-size: 16px;
  font-weight: 700;
  color: #403841;
  line-height: 18px;
}
.knowledge-center .select-course .fa-training {
  font-size: 15px;
}
@media (min-width: 768px) {
  .knowledge-center .select-course .fa-training {
    font-size: 22px;
  }
}
.knowledge-center .select-course .sub-section {
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  color: #403841;
}
@media (min-width: 768px) {
  .knowledge-center .select-course .sub-section {
    font-size: 14px;
    padding-bottom: 10px;
  }
}
.knowledge-center .footer-section {
  background: #24282b;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
.knowledge-center .footer-section .text-note {
  padding-top: 20px;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 768px) {
  .knowledge-center .footer-section .text-note {
    font-size: 22px;
  }
}
.knowledge-center .footer-section .sub-note {
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 768px) {
  .knowledge-center .footer-section .sub-note {
    font-size: 22px;
  }
}
.knowledge-center .footer-section .leave-note-icon {
  background-color: #c57307;
  right: 74px;
}
@media (min-width: 768px) {
  .knowledge-center .footer-section .leave-note-icon {
    right: 81px;
  }
}
.knowledge-center .footer-section .leave-note-icon .fa-message {
  font-size: 18px;
}
.knowledge-center .footer-section .leave-note {
  background-color: #E69225;
  width: 100%;
}
.knowledge-center .footer-section .fa-message {
  padding-left: 7px;
  padding-right: 7px;
}
.knowledge-center .footer-section .leave-note-section {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 30px;
}
.knowledge-center .modal-content .modal-header {
  background-color: #ffffff !important;
  border-bottom: none !important;
}

.leave-note-modal-header {
  background-color: #ffffff !important;
  border-bottom: none !important;
}
.leave-note-modal-header .close-btn {
  top: 6px;
  right: 14px;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #9e9e9e;
  text-shadow: 0 1px 0 #fff;
}
.leave-note-modal-header .close-btn:focus, .leave-note-modal-header .close-btn:hover {
  color: #6a6a6a;
}
.leave-note-modal-header .fa-times {
  font-size: 12px;
  font-weight: 700;
}

.take-quiz-model {
  text-align: center;
  padding-top: 20px;
}
.take-quiz-model .padding-top-bottom {
  padding-top: 20px;
  padding-bottom: 30px;
}
.take-quiz-model .fa-take-quiz {
  color: #00AFD1;
  font-size: 50px;
  line-height: 45px;
  display: inherit;
  padding-bottom: 10px;
}
.take-quiz-model .question-text {
  color: #00aed0;
  width: 85%;
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
}
.take-quiz-model .info {
  font-size: 12px;
  width: 90%;
  margin: auto;
  padding-bottom: 5px;
}
.take-quiz-model .btn-cancel {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-small;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #999c9e;
}
.take-quiz-model .btn-success {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-small;
  font-weight: bold;
  border: none;
}

.rate-course-modal {
  text-align: center;
  padding-top: 30px;
}
.rate-course-modal .star-rating {
  font-size: 20px;
}
.rate-course-modal .fa-compliment {
  color: #00AFD1;
  font-size: 44px;
  line-height: 45px;
  display: inherit;
}
.rate-course-modal .congrats-text {
  color: #00AFD1;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
}
.rate-course-modal .sub-text {
  line-height: 28px;
}
.rate-course-modal .star-rating {
  font-size: 20px;
}
.rate-course-modal .back-to-course-btn {
  margin: 40px;
  background: #9FC62D;
  border-color: #9FC62D;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 20px;
}
.rate-course-modal .rate {
  margin-top: 20px;
  padding: 15px;
  width: 80%;
  display: inline-block;
  background: #f5f5f5;
}
.rate-course-modal .rate .msg {
  font-size: 14px;
  font-style: italic;
  color: #2f2930;
  padding-bottom: 10px;
  font-weight: 600;
}

.leave-note-modal-body {
  text-align: center;
  padding-top: 20px;
}
.leave-note-modal-body .fa-training, .leave-note-modal-body .fa-check22 {
  color: #00AFD1;
  font-size: 37px;
  line-height: 45px;
  display: inherit;
}
.leave-note-modal-body .fa-paper-plane-o {
  color: #00AFD1;
  font-size: 37px;
  line-height: 45px;
  display: inherit;
}
.leave-note-modal-body .question-text {
  color: #00AFD1;
  width: 85%;
  display: inline-block;
}
.leave-note-modal-body .info {
  padding-top: 10px;
  font-size: 12px;
  width: 80%;
  margin: auto;
}
.leave-note-modal-body .info.cog-info {
  width: 65%;
}
.leave-note-modal-body .click-button-section {
  padding-bottom: 30px;
}
.leave-note-modal-body .click-button-section.cog {
  padding-bottom: 15px !important;
}
.leave-note-modal-body .click-button-section .cog-btns {
  padding: 8px 12px 8px 13px;
  width: 200px;
  margin-bottom: 15px;
}
.leave-note-modal-body .click-button-section .by-employee {
  background-color: #9FC62D;
}
.leave-note-modal-body .click-button-section .by-position {
  background-color: #403841;
}
.leave-note-modal-body .click-btn-icon {
  background-color: #c57307;
  right: 74px;
}
.leave-note-modal-body .click-btn {
  background-color: #f78f08;
  width: 53%;
}
@media (max-width: 320px) {
  .leave-note-modal-body .click-btn {
    width: 63%;
  }
}
@media (min-width: 768px) {
  .leave-note-modal-body .click-btn {
    width: 63%;
  }
}
.leave-note-modal-body .btn-icon {
  padding-top: 5px;
  padding-bottom: 4px;
  bottom: -25px;
  position: relative;
  z-index: 3;
  right: 80px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.leave-note-modal-body .btn-icon-text {
  color: #ffffff !important;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  padding: 7px 12px 7px 30px;
  font-weight: 600;
  cursor: pointer;
  font-size: 10px;
  line-height: 1.428571;
}
.leave-note-modal-body .fa-message {
  padding-right: 7px;
  padding-left: 7px;
}
.leave-note-modal-body .close-window {
  width: 100%;
  background: #333333;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.take-course {
  padding-left: 0;
  padding-right: 0;
}
.take-course .two-column-right {
  margin-right: 0 !important;
}
.take-course .course-type {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .take-course .trainings {
    background-color: #fff !important;
    padding: 20px 0 0 0 !important;
  }
  .take-course .trainings .first {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .take-course .trainings {
    margin: 15px;
    padding: 0 !important;
  }
}
.take-course .trainings .first {
  margin-top: 10px;
}
.take-course .trainings .wrapper {
  padding: 20px;
}
@media (max-width: 479px) {
  .take-course .trainings .wrapper {
    padding: 0 20px 20px 20px;
  }
}
@media (min-width: 768px) {
  .take-course .trainings .wrapper {
    padding: 0 20px 20px 20px;
  }
}
.take-course .trainings h4 {
  font-size: 22px;
  font-weight: 300;
  color: #999c9e;
}
@media (max-width: 479px) {
  .take-course .trainings h4 {
    font-size: 12px;
    font-weight: 700 !important;
    color: #000;
    margin-top: 0;
    padding-top: 0;
  }
}
.take-course .trainings .fa {
  color: #999c9e;
  font-size: 24px;
}
.take-course .trainings .name {
  color: #00AFD1;
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.take-course .trainings li.active {
  /*background-color: white;*/
}
.take-course .trainings li {
  /*padding: 20px;*/
}
.take-course .trainings .pass {
  color: #fff;
  font-style: normal;
  border-radius: 4px;
  background-color: #9FC62D;
  padding: 4px 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .take-course .attachments {
    padding-left: 15px;
    padding-right: 15px;
  }
  .take-course .attachments h3 {
    font-size: 18px !important;
  }
}
.take-course .attachments h3 {
  font-size: 34px;
  font-weight: 300;
  color: #00AFD1;
  margin-bottom: 5px;
}
.take-course .attachments p {
  font-size: 14px;
  font-weight: 400;
  color: #2f2930;
  font-style: italic;
}
.take-course .attachments .status {
  font-size: 12px;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .take-course .training-detail {
    padding-left: 15px;
    padding-right: 15px;
  }
  .take-course .training-detail hr {
    padding-top: 0;
  }
}
.take-course .training-detail .supplemental-materials h4 {
  font-size: 22px;
  font-weight: 300;
  color: #2f2930;
}
@media (max-width: 479px) {
  .take-course .training-detail .supplemental-materials h4 {
    font-size: 12px;
    font-weight: 700;
    padding-top: 20px;
  }
}
.take-course .training-detail .supplemental-materials li .fa {
  color: #999c9e;
  font-size: 18px;
  padding-right: 10px;
}
.take-course .training-detail .supplemental-materials li strong {
  vertical-align: top;
}
.take-course .training-detail .take-quiz {
  background-color: #eee;
}
@media (max-width: 479px) {
  .take-course .training-detail .take-quiz {
    padding-left: 0;
  }
}
.take-course .training-detail .take-quiz .text-warning {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F99D00;
}
.take-course .training-detail .take-quiz p {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #2f2930;
  line-height: 22px;
}
.take-course .training-detail .take-quiz button {
  background-color: #f89d27;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
}
@media (max-width: 479px) {
  .take-course .margin-top--10 {
    margin-top: -10px !important;
  }
}
@media (max-width: 479px) {
  .take-course .padding-b-20 {
    padding-bottom: 20px;
  }
}
.take-course .padding-33 {
  padding: 15px;
}
@media (max-width: 479px) {
  .take-course .padding-33 {
    padding: 33px !important;
  }
}
.take-course .padding-mob-des {
  padding: 10px 40px;
}
@media (max-width: 479px) {
  .take-course .padding-mob-des {
    padding: 0;
    margin-top: -5px;
  }
}
@media (max-width: 479px) {
  .take-course .border-bottom {
    border-bottom: 1px solid #e8e8e8;
  }
}

.take-course-new {
  background: #f5f5f5;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  .take-course-new {
    position: relative;
  }
}
.take-course-new .head {
  margin-top: 0;
  background: #ffffff;
}
@media (min-width: 768px) {
  .take-course-new .head {
    margin-top: 1px;
  }
}
@media (max-width: 479px) {
  .take-course-new .head.border {
    border-bottom: 1px solid #e8e8e8;
  }
}
.take-course-new .course-type-icon {
  padding: 4px 15px;
  background: #00AFD1;
  color: #ffffff;
  font-size: 26px;
}
@media (min-width: 479px) {
  .take-course-new .course-type-icon {
    padding: 17px 30px;
  }
}
.take-course-new .course-name {
  color: #00AFD1;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 15px 0;
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}
@media (min-width: 479px) {
  .take-course-new .course-name {
    font-size: 34px;
    padding: 0 15px;
  }
}
.take-course-new .training-content {
  padding: 0;
}
@media (min-width: 768px) {
  .take-course-new .training-content {
    padding: 0 15px 0 25px;
  }
}
.take-course-new .section {
  background: #ffffff;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .take-course-new .section {
    margin: 30px 20px 20px 0;
  }
}
.take-course-new .course-attachment {
  min-height: 100px;
  background: #fff;
  display: table;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  display: flex;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .take-course-new .course-attachment {
    min-height: 300px;
    border: 1px solid #e4e4e4;
  }
}
.take-course-new .course-attachment .video-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}
.take-course-new .course-attachment .file {
  margin: auto;
}
.take-course-new .course-attachment h3 {
  padding-left: 40px;
  padding-right: 40px;
}
.take-course-new .course-training-info {
  background: #ffffff;
  padding: 15px 16px 0;
}
.take-course-new .course-training-info .title {
  color: #00AFD1;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}
@media (min-width: 768px) {
  .take-course-new .course-training-info .title {
    float: left;
    font-size: 22px;
    width: 50%;
  }
}
@media (min-width: 991px) {
  .take-course-new .course-training-info .title {
    width: 55%;
  }
}
.take-course-new .course-training-info .metrics {
  font-size: 12px;
  font-weight: 300;
  color: #2f2930;
  line-height: 2.4;
}
@media (min-width: 768px) {
  .take-course-new .course-training-info .metrics {
    float: right;
  }
}
@media (max-width: 479px) {
  .take-course-new .course-training-info .metrics {
    padding-top: 5px;
  }
}
.take-course-new .course-training-info .info-section {
  padding: 0 10px;
}
.take-course-new .course-training-desc {
  color: #2f2930;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  padding: 0 30px 0;
}
.take-course-new .supplement-material {
  padding: 15px;
}
.take-course-new .supplement-material h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  line-height: 0.1em;
  margin: 40px 0 20px;
}
.take-course-new .supplement-material h4 span {
  background: #ffffff;
  padding: 5px 15px;
  color: #2f2930;
  border-radius: 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin: 10px 0;
}
.take-course-new .supplement-material h4 span i {
  color: #ffffff;
  line-height: inherit;
  padding: 3px 6px 1px 5px;
  margin-right: 3px;
  background: #00AFD1;
  border-radius: 50%;
}
.take-course-new .supplement-material .poniter {
  cursor: pointer;
}
.take-course-new .supplement-material .sup-file {
  padding-left: 5px;
  text-decoration: underline;
  color: #2f2930;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
}
.take-course-new .after-training {
  padding: 30px;
}
@media (max-width: 479px) {
  .take-course-new .after-training {
    margin: 15px 0;
  }
}
.take-course-new .after-training .head {
  color: #F99D00;
  font-weight: 600;
  font-size: 16px;
}
.take-course-new .after-training .head-info {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #2f2930;
}
@media (max-width: 479px) {
  .take-course-new .after-training .head-info {
    width: 160px;
    margin-top: 5px;
  }
}
.take-course-new .after-training .take-quiz {
  background: #9FC62D;
  color: #ffffff;
  padding: 13px 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .take-course-new .after-training .take-quiz {
    margin-top: 5px;
  }
}
.take-course-new .trainings {
  padding: 0;
}
@media (min-width: 768px) {
  .take-course-new .trainings {
    margin: 0 5px 0 25px;
  }
}
@media (min-width: 991px) {
  .take-course-new .trainings {
    margin: 30px 0 0 0;
  }
}
.take-course-new .trainings .section {
  border-radius: 4px;
  padding: 15px;
}
@media (min-width: 768px) {
  .take-course-new .trainings .section {
    margin: 0 30px 0 0;
  }
}
.take-course-new .trainings .section .head {
  color: #00AFD1;
  font-size: 22px;
  font-weight: 300;
}
.take-course-new .trainings .section .training {
  cursor: pointer;
}
.take-course-new .trainings .section .training .title {
  color: #999c9e;
  font-weight: 600;
  font-size: 16px;
}
.take-course-new .trainings .section .training .complete {
  color: #999c9e;
  font-style: italic;
  font-size: 14px;
}
.take-course-new .trainings .section .training .in-complete {
  color: #999c9e;
  font-style: italic;
}
.take-course-new .trainings .section .training .content-type-icon {
  padding-top: 5px;
  font-size: 20px;
}
.take-course-new .trainings .section .active .title {
  color: #2f2930;
}
.take-course-new .trainings .section .active .complete {
  color: #9FC62D;
}
.take-course-new .fa-play2 {
  color: #00AFD1;
  font-size: 24px;
}
.take-course-new .fa-file-pdf-o {
  color: #E93D42;
  font-size: 20px;
}

.courses .head {
  margin-top: 0;
  background: #ffffff;
}
@media (min-width: 768px) {
  .courses .head {
    margin-top: 1px;
  }
}
@media (max-width: 479px) {
  .courses .head .mobile-border {
    border-bottom: 1px solid #e8e8e8;
  }
}
.courses .text-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.courses .course-type-icon {
  padding: 5px 15px;
  background: #00AFD1;
  color: #ffffff;
  font-size: 34px;
}
@media (min-width: 768px) {
  .courses .course-type-icon {
    padding: 15px 35px;
  }
}
.courses .course-name {
  color: #00AFD1;
  font-size: 20px;
  padding: 2px 15px;
  line-height: 2;
  font-weight: 300;
  width: 78%;
}
@media (max-width: 479px) {
  .courses .course-name {
    line-height: 2.5;
  }
}
@media (min-width: 768px) {
  .courses .course-name {
    font-size: 34px;
  }
}
.courses .course-name .long-name-sm {
  width: 70%;
}
.courses .course-name .long-name-xs {
  width: 65%;
}
.courses .course-count {
  padding-left: 7px;
  color: #2f2930;
  font-size: 14px;
  font-weight: 300;
  line-height: 3.4;
}
@media (max-width: 479px) {
  .courses .course-count {
    line-height: 3.6;
  }
}
@media (min-width: 768px) {
  .courses .course-count {
    font-size: 22px;
  }
}
.courses .search-field {
  padding: 13px 15px 10px 15px;
}
@media (min-width: 768px) {
  .courses .search-field {
    padding: 15px 30px 5px 0;
  }
}
.courses .search-field .form-control {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #2f2930;
  padding-top: 18px;
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .courses .search-field .form-control {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.courses .search-field .fa-search2 {
  position: relative;
  z-index: 2;
  color: #00aed0;
  float: right;
  margin-right: 6px;
  margin-top: -33px;
  font-size: 20px;
}
.courses .section {
  background: #24282b;
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1167px) {
  .courses .section {
    border-radius: 4px;
    margin-left: 20px;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1380px) {
  .courses .section .leave-note-section .leave-note {
    font-size: 12px;
  }
}
.courses .text-note {
  padding-top: 20px;
  font-weight: 300;
  color: #FFFFFF;
  padding-bottom: 15px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 479px) {
  .courses .text-note {
    width: 74%;
    margin: auto;
  }
}
@media (min-width: 1167px) {
  .courses .text-note {
    padding-top: 0;
    width: 78%;
    padding-bottom: 25px;
  }
}
@media (min-width: 1167px) {
  .courses .text-note {
    padding-top: 0;
    width: 78%;
    padding-bottom: 25px;
  }
}
.courses .sub-note {
  font-weight: 300;
  color: #ffffff;
}
.courses .leave-note {
  background-color: #E69225;
}
.courses .btn-icon-text {
  padding-left: 16px;
}
.courses .course-section {
  padding-top: 25px;
}
@media (max-width: 479px) {
  .courses .course-section .mobile-no-padding {
    padding: 0;
  }
}
@media (max-width: 479px) {
  .courses .course-section .mobile-margin {
    margin-top: 20px;
  }
}
.courses .course-section .featured-course-section {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 10px;
  display: flex;
}
@media (min-width: 768px) {
  .courses .course-section .featured-course-section {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
  }
}
.courses .course-section .featured-course-section .featured-course {
  background: #ffffff;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .courses .course-section .featured-course-section .featured-course {
    padding-right: 25px;
    width: 100%;
    display: flex;
  }
}
@media (min-width: 991px) {
  .courses .course-section .featured-course-section .featured-course {
    padding-right: 0;
    width: 81%;
    display: flex;
    margin-right: 15px;
  }
}
.courses .course-section .featured-course-section .featured-course img {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;
}
@media (max-width: 479px) {
  .courses .course-section .featured-course-section .featured-course img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
@media (min-width: 768px) {
  .courses .course-section .featured-course-section .featured-course img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1000px) and (max-width: 1380px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics {
    padding-top: 5px;
  }
}
@media (max-width: 479px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
@media (min-width: 768px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics {
    padding-left: 20px;
    padding-bottom: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics .hline {
  border-top: 1px solid #e8e8e8;
}
@media (min-width: 768px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .hline {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1167px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .hline {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1380px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .hline {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics .header {
  padding-bottom: 0;
}
@media (min-width: 1167px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .header {
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1380px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .header {
    padding-bottom: 0;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics .header .title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F99D00;
}
@media (max-width: 479px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .header .title {
    font-size: 12px;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics .header .name {
  color: #2f2930;
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 479px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .header .name {
    font-size: 18px;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics .header .overview {
  color: #2f2930;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 10px;
}
@media (max-width: 479px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .header .overview {
    font-size: 14px;
  }
}
@media (min-width: 1167px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .header .overview {
    padding-top: 15px;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics .metric-sec {
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .courses .course-section .featured-course-section .featured-course .course-metrics .metric-sec {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.courses .course-section .featured-course-section .featured-course .course-metrics .metric-sec .metric {
  padding-right: 15px;
  color: #2f2930;
  font-size: 12px;
  font-weight: 300;
}
.courses .all-courses {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .courses .all-courses {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.take-course-modal-body {
  text-align: center;
  padding-top: 30px;
}
.take-course-modal-body ::-webkit-scrollbar {
  width: 7px;
}
.take-course-modal-body ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  width: 8px;
  border: 1px solid #e6e6e6;
  background: white;
  -webkit-box-shadow: 0 1px 1px black;
}
.take-course-modal-body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background: #e6e6e6;
}
.take-course-modal-body .fa {
  color: #00AFD1;
  font-size: 44px;
  line-height: 45px;
  display: inherit;
}
.take-course-modal-body .course-name {
  color: #00AFD1;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
}
.take-course-modal-body .course-overview {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  width: 70%;
  display: inline-block;
  padding-top: 12px;
}
.take-course-modal-body .training-list-height {
  height: 145px;
  overflow-y: auto;
  margin-right: 15px;
  padding-right: 10px !important;
}
.take-course-modal-body .training-list {
  padding: 20px;
}
.take-course-modal-body .training-list .fa {
  font-size: 16px;
  line-height: 18px;
}
.take-course-modal-body .training-list .fa-file-pdf-o {
  color: red;
}
.take-course-modal-body .training-list .training-name {
  word-break: break-word;
  width: 75%;
  text-align: left;
  color: #9e9e9e;
  font-size: 12px;
}
.take-course-modal-body .training-list .hline {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  margin-bottom: 10px;
}

.take-course-modal-footer {
  text-align: center;
  padding: 15px 15px 25px 15px;
}
.take-course-modal-footer .btn-course {
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #66c94f;
  border-color: #66c94f;
}

/*# sourceMappingURL=knowledge-center.css.map */
