﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.knowledge-center {
    @include breakpoint(mobilephone) {
        position: relative;
        overflow: hidden;
    }

    .page-content {
        background: $gray;
    }
    .border-bottom{
        border-bottom: 1px solid $border;
    }
    .welcome {
        background: $gray;
        background: -webkit-linear-gradient(bottom,$gray,$default);
        background: -moz-linear-gradient(bottom,$gray,$default);
        background: linear-gradient(bottom,$gray,$default);
    }

    .welcome-section {
        padding-top: 30px;
        padding-bottom: 25px;
        color: $default;
        position: relative;
        height: 165px;
        
        @include breakpoint(tablet) {
            height: 200px;
        }

        @include breakpoint(desktop) {
            height: 288px;
        }

        .gradient {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: block;
            height: 135px;
            
            z-index: 1;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 98%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome4-9,Safari4-5 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* Opera 11.10-11.50 */
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* IE10 preview */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
        }

        @include breakpoint(phablet) {
            padding-top: 25px;
            padding-bottom: 45px;
        }

        .welcome-text {
            position: relative;
            margin-top: 110px;
            left: 225px;
            top: 44px;
            z-index: 4;
            float: left;
        }

        .welcome-note {
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;

            @include breakpoint(tablet) {
                font-size: 14px;
            }
        }

        .title {
            font-size: 28px;
            line-height: 38px;
            font-weight: 700;

            @include breakpoint(tablet) {
                font-size: 34px;
                line-height: 45px;
            }
        }

        .sub-title {
            padding-top: 5px;
            padding-bottom: 10px;
            margin: auto;
            font-weight: 600;
            font-size: 14px;

            @include breakpoint(tablet) {
                line-height: 28px;
                padding-top: 5px;
            }
        }

        .bottom-line {
            padding-bottom: 15px;
        }
    }

    .link-to-view {
        display: inline-block;
        padding-top: 5px;
    }

    .transcript-tab {
        background: $default;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid $border;
        .action-buttons{
            font-size: 26px;
            width: 17%;
            margin: 0 auto;
            .view-trans{
                float: left;
            }
            .mobile-style{
                float: left;
                margin-right: 18px;
                .dropdown-menu{
                    min-width: 140px;
                }
            }
        }
        .stat-text {
            @include breakpoint(mobilephone) {
                font-size: 10px;
                font-weight: 700;
            }
        }
    }
    .hide-show{
        background-color: $default;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-top: 1px solid $border;

        .more{
            font-size: 12px;
        }
    }
    .fa-legal {
        padding-left: 7px;
        padding-right: 7px;
    }

    .view-transcript-icon {
        font-size: 18px;
        line-height: 0;
    }

    .view-transcript {
        background-color: $primary;
        font-size: 12px !important;
        padding: 8px 12px 8px 12px !important;

        @include breakpoint(tablet) {
            margin-right: 30px;
        }

        .fa-my-transcript {
            font-size: 24px;
            font-weight: 300 !important;
        }

        .transcript {
            position: relative;
            top: -5px;
        }
    }

    .btn-icon {
        padding-top: 13px;
        padding-bottom: 9px;
        bottom: -33px;
        position: relative;
        z-index: 1;
        right: 84px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: $default;
        cursor: pointer;

        @include breakpoint(tablet) {
            padding-bottom: 10px;
        }
    }

    .btn-icon-text {
        color: $default !important;
        text-transform: uppercase;
        border-radius: 4px;
        display: inline-block;
        padding: 12px 12px 12px 30px;
        font-weight: 600;
        cursor: pointer;
        font-size: 12px;
        line-height: 1.428571;

        @include breakpoint(tablet) {
            font-size: 14px;
        }
    }

    h1 {
        font-size: 34px;
    }

    .stat-counts {
        background: $default;
        padding-top: 10px;
        width: 100%;
        text-align: center;
        
        &.spacing{
            @include breakpoint(tablet){
                padding-bottom: 7px;
            }
        }
        .logo-border {
            position: relative;
            margin-top: -110px;
            border: 1px solid $border;
            border-radius: 4px;
            padding: 8px;
            background-color: $default;
            z-index: 4;
            box-shadow: 0 1px 1px rgba(0,0,0,0.3);

            &.logo-mobile {
                float: none !important;
                width: auto;
                display: inline-block;
            }

            @include breakpoint(mobilephone) {
                margin-top: -85px;
            }
           
            @include breakpoint(desktop) {
                left: 30px;
            }

            .logo {
                width: 150px;
                height: 150px;
                border-radius: 4px;
                z-index: 4;

                @include breakpoint(mobilephone) {
                    height: 90px;
                    width: 90px;
                }

                &.empty {
                    background-color: $gray;

                    .fa {
                        font-size: 50px;
                        color: $muted;
                        font-weight: 300;
                        line-height: 80px;

                        @include breakpoint(mobilephone) {
                            line-height: 40px;
                            font-size: 30px;
                        }
                    }
                }
            }

            .empty-text {
                color: $muted;
                font-size: 14px;
                font-style: italic;

                @include breakpoint(mobilephone) {
                    font-size: 10px;
                }
            }
        }

        .inner {
            &.inner-tab {
                @include breakpoint(tablet) {
                    width: 55%;
                    display: inline-block;
                }

                @include breakpoint (desktop) {
                    width: 30%;
                    display: block;
                    float: left;
                }
            }

            @include breakpoint(laptop) {
                padding: 0 5px 0 25px;
            }

            .subject-wrap {
                padding: 15px 0 15px 15px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                @include breakpoint(laptop) {
                    padding: 5px 0 15px;
                }
            }

            .courses-wrap {
                padding: 15px 0 15px 15px;

                @include breakpoint(laptop) {
                    padding: 5px 0 15px;
                }
            }

            .site-wrap {
                padding: 15px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;

                @include breakpoint(laptop) {
                    padding: 5px 15px 15px 0;
                }
            }

            .fa {
                font-size: 18px;
            }
        }

        .empty-div {
            width: 37%;
        }

        .stat-text {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
            top: -3px;
        }

        .count {
            font-weight: 400;
            color: $dark-dark;
            font-size: 16px;

            @include breakpoint(laptop) {
                font-size: 20px;
                line-height: 34px;
            }
        }

        .fa {
            font-weight: 600;
        }

        .welcome-tab {
            margin-top: 15px;

            .welcome-note {
                font-size: 11px;
                font-weight: 700;
                text-transform: uppercase;

                @include breakpoint(tablet) {
                    font-size: 14px;
                }
            }

            .title {
                font-size: 28px;
                line-height: 38px;
                font-weight: 700;

                @include breakpoint(mobilephone) {
                    font-size: 24px;
                }
            }
        }

        .cog-dropdown{
            margin-top: 7px;
            margin-right: 10px;
           
            .cog-button{
                font-size: 28px;
            }
        }
    }

    .container-padding {
        @include breakpoint(desktop) {
            padding-left: 11%;
            padding-right: 11%;
        }

        @media only screen and (min-width : 768px) and (max-width : 1100px) {
            padding-left: 2%;
            padding-right: 2%;
        }

        @media only screen and (min-width : 1101px) and (max-width : 1300px) {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .library-course {
        text-align: center;
        margin-top: 20px;

        @include breakpoint(mobileonly) {
            padding-left: 10px;
        }

        .kc-course-title-icon {
            width: 161px;
            margin: 0 auto;
            background: $default;
            position: relative;
            border-radius: 5px 5px 0 0;
            border: 1px solid $border;
            width: 100%;

            @include breakpoint(tablet) {
                margin-bottom: 30px;
            }

            @include breakpoint(desktop) {
                margin-bottom: 30px;
            }


            .detail-part {
                background: $teal;
                padding-bottom: 20px;
                padding-top: 10px;
                height: 150px;
                @include breakpoint(desktop){
                    height: 170px;
                }
                .subject {
                    color: $default;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;

                    @include breakpoint(tablet) {
                        line-height: 19px;
                    }

                    @include breakpoint(desktop) {
                        line-height: 23px;
                    }
                }

                .hline {
                    margin: 8px 60px 5px 60px;

                    @include breakpoint(mobilephone) {
                        margin: 8px 40px 5px 40px;
                    }
                }

                .course-count {
                    color: $default;
                    font-size: 12px;

                    @include breakpoint(tablet) {
                        font-size: 14px;
                    }
                }

                .fa {
                    color: $default;
                }
            }
            .view-part{
                height: 30px;
            }
            .fa-eye {
                margin-top: 10px;
                color: $dark;
                font-size: 10px;
            }

            .view-count {
                margin-top: 10px;
                color: $dark;
                font-size: 10px;
            }

            .fa-book-base {
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1;
                color: darken($primary, 5%);
                font-size: 86px;
                margin-top: -7px;

                @include screen('tablet') {
                    font-size: 128px;
                    margin-top: -10px;
                }
            }

            .course-program-icon {
                font-size: 32px;
                line-height: 64px;
                color: $default;
                padding-left: 3px;

                @include screen('tablet') {
                    font-size: 42px;
                    line-height: 75px;
                    padding-left: 5px;
                }
            }
        }

        a {
            h2 {
                color: $primary;
                font-size: 22px;
                font-weight: 300;
                height: 48px;
                margin-top: 0;

                @include screen('tablet') {
                    font-size: 22px;
                }

                @include breakpoint(mobilephone) {
                    font-size: 18px;
                    font-weight: 600;
                }

                span {
                    display: block;
                    @include vertical-align();
                }
            }

            p {
                color: $dark-dark;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                font-style: italic;

                @include screen('tablet') {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        /* map colors to icons*/
        &.leg-cleanroom, &.leg-pest {
            /* default */
        }

        &.leg-custodial {
            a {
                h2 {
                    color: $warning;
                }
            }
        }

        &.leg-custodial2 {
            .detail-part {
                background: $blue;
            }
        }

        &.leg-orange {
            .detail-part {
                background: $leg-orange;
            }
        }

        &.leg-pinkish {
            .detail-part {
                background: $leg-pinkish;
            }
        }

        &.leg-safety {
            .detail-part {
                background: $pink;

                .fa-book-base {
                    color: darken($pink, 10%);
                }
            }

            a {
                h2 {
                    color: $leg-blue;
                }
            }
        }

        &.leg-evs, &.leg-operations, &.leg-floor-care {
            .detail-part {
                background: $leg-to;

                .fa-book-base {
                    color: darken($leg-to, 10%);
                }
            }

            a {
                h2 {
                    color: $leg-to;
                }
            }
        }

        &.leg-glassware {
            .detail-part {
                background: $leg-sea;

                .fa-book-base {
                    color: darken($leg-sea, 10%);
                }
            }

            a {
                h2 {
                    color: $leg-sea;
                }
            }
        }

        &.leg-gmp {
            .detail-part {
                background: $blue-steel;

                .fa-book-base {
                    color: darken($blue-steel, 10%);
                }
            }

            a {
                h2 {
                    color: $leg-blue;
                }
            }
        }

        &.leg-lab-services, &.leg-plant-services {
            .detail-part {
                background: $orange;

                .fa-book-base {
                    color: darken($orange, 10%);
                }
            }

            a {
                h2 {
                    color: $leg-plum;
                }
            }
        }

        &.leg-lamp {
            .detail-part {
                background: $leg-green;

                .fa-book-base {
                    color: darken(#588045, 10%);
                }
            }

            a {
                h2 {
                    color: $success;
                }
            }
        }

        &.leg-landscaping, &.leg-mac, &.leg-legal {
            .detail-part {
                background: $teal-dark;

                .fa-book-base {
                    color: darken($teal-dark, 10%);
                }
            }

            a {
                h2 {
                    color: $teal-dark;
                }
            }
        }

        &.leg-recycling, &.leg-kpis, &.leg-leadership-dev {
            .detail-part {
                background: $lavendar;

                .fa-book-base {
                    color: darken(#588045, 10%);
                }
            }

            a {
                h2 {
                    color: $success;
                }
            }
        }

        &.leg-sbm {
            .detail-part {
                background: $lime;
            }
        }
        /* end map*/
        .course-order-0 {
            .detail-part {
                background: $teal !important;
            }
        }

        .course-order-1 {
            .detail-part {
                background: $blue !important;
            }
        }

        .course-order-2 {
            .detail-part {
                background: $lime !important;
            }
        }

        .course-order-3 {
            .detail-part {
                background: $lavendar !important;
            }
        }

        .course-order-4 {
            .detail-part {
                background: $orange !important;
            }
        }

        .course-order-5 {
            .detail-part {
                background: $blue-steel !important;
            }
        }

        .course-order-6 {
            .detail-part {
                background: $pink !important;
            }
        }
    }

    .select-course {
        padding-top: 20px;
        text-align: center;

        .text {
            font-size: 16px;
            font-weight: 700;
            color: $dark;
            line-height: 18px;
        }

        .fa-training {
            font-size: 15px;

            @include breakpoint(tablet) {
                font-size: 22px;
            }
        }

        .sub-section {
            font-size: 10px;
            font-style: italic;
            font-weight: 400;
            color: $dark;

            @include breakpoint(tablet) {
                font-size: 14px;
                padding-bottom: 10px;
            }
        }
    }

    .footer-section {
        background: #24282b;
        text-align: center;
        color: $default;
        margin-top: 30px;

        .text-note {
            padding-top: 20px;
            font-weight: 300;
            font-size: 14px;

            @include breakpoint(tablet) {
                font-size: 22px;
            }
        }

        .sub-note {
            font-weight: 300;
            font-size: 14px;

            @include breakpoint(tablet) {
                font-size: 22px;
            }
        }

        .leave-note-icon {
            background-color: #c57307;
            right: 74px;

            @include breakpoint(tablet) {
                right: 81px;
            }

            .fa-message {
                font-size: 18px;
            }
        }

        .leave-note {
            background-color: #E69225;
            width: 100%;
        }

        .fa-message {
            padding-left: 7px;
            padding-right: 7px;
        }

        .leave-note-section {
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 30px;
        }
    }

    .modal-content {
        .modal-header {
            background-color: $default !important;
            border-bottom: none !important;
        }
    }
}

.leave-note-modal-header {
    background-color: $default !important;
    border-bottom: none !important;

    .close-btn{
        top: 6px;
        right: 14px;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: $base-dark;
        text-shadow: 0 1px 0 #fff;

        &:focus, &:hover{
            color: #6a6a6a;
            }
    }

    .fa-times{
        font-size: 12px;
        font-weight: 700;
    }
}

.take-quiz-model{
     text-align: center;
     padding-top: 20px;

    .padding-top-bottom {
        padding-top:20px;
        padding-bottom:30px;
    }

    .fa-take-quiz {
        color: $primary;
        font-size: 50px;
        line-height: 45px;
        display: inherit;
        padding-bottom:10px;
    }

    .question-text {
        color: #00aed0;
        width: 85%;
        display: inline-block;
        font-size: 22px;
        font-weight: 300;
    }

    .info {
        font-size: 12px;
        width: 90%;
        margin: auto;
        padding-bottom:5px;
    }

    .btn-cancel {
        padding-right:25px;
        padding-left:25px;
        padding-top: 10px;
        padding-bottom:10px;
        font-size: x-small;
        font-weight:bold;
        color:white;
        border:none;
        background-color: #999c9e;
    }

    .btn-success {
        padding-right:30px;
        padding-left:30px;
        padding-top: 10px;
        padding-bottom:10px;
        font-size: x-small;
        font-weight:bold;
        border:none;
    }
}

.rate-course-modal{
    text-align: center;
    padding-top: 30px;
    .star-rating{
        font-size: 20px;
    }

    .fa-compliment{
        color: $primary;
        font-size: 44px;
        line-height: 45px;
        display: inherit;
    }
    .congrats-text{
        color:$primary;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
    }
    .sub-text{
        line-height: 28px;
    }
      .star-rating {
        font-size: 20px;
    }
  .back-to-course-btn {
        margin: 40px;
        background: $success;
        border-color: $success;
        font-weight: 600;
        font-size: 13px;
        padding: 10px 20px;
    }

    .rate {
        margin-top: 20px;
        padding: 15px;
        width: 80%;
        display: inline-block;
        background: #f5f5f5;
        .msg{
            font-size: 14px;
            font-style: italic;
            color: $dark-dark;
            padding-bottom: 10px;
            font-weight: 600;
        }
    }
}

.leave-note-modal-body {
    text-align: center;
    padding-top: 20px;

    .fa-training, .fa-check22 {
        color: $primary;
        font-size: 37px;
        line-height: 45px;
        display: inherit;
    }

    .fa-paper-plane-o {
        color: $primary;
        font-size: 37px;
        line-height: 45px;
        display: inherit;
    }

    .question-text {
        color: $primary;
        width: 85%;
        display: inline-block;
    }

    .info {
        padding-top: 10px;
        font-size: 12px;
        width: 80%;
        margin: auto;

        &.cog-info{
            width: 65%;
        }
    }

    .click-button-section {
        padding-bottom: 30px;
        &.cog{
            padding-bottom: 15px !important;
        }
        .cog-btns{
            padding: 8px 12px 8px 13px;
            width: 200px;
            margin-bottom: 15px;
        }
        .by-employee{
            background-color: $success;
        }
        .by-position{
            background-color: $dark;
        }
    }

    .click-btn-icon {
            background-color: #c57307;
            right: 74px;
        }

    .click-btn {
            background-color: #f78f08;
            width: 53%;

        @include breakpoint(mobileonly) {
                width: 63%;
            }

        @include breakpoint(tablet) {
                width: 63%;
            }
        }

    .btn-icon {
            padding-top: 5px;
            padding-bottom: 4px;
            bottom: -25px;
            position: relative;
            z-index: 3;
            right: 80px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            color: $default;
            cursor: pointer;            
        }

    .btn-icon-text {
                color: $default !important;
                text-transform: uppercase;
                border-radius: 4px;
                display: inline-block;
                padding: 7px 12px 7px 30px;
                font-weight: 600;
                cursor: pointer;
                font-size: 10px;
                line-height: 1.428571;               
        }

    .fa-message {
        padding-right: 7px;
        padding-left: 7px;
    }

    .close-window {
        width: 100%;
        background: #333333;
        color: $default;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        cursor: pointer;
    }
}

.take-course {
    padding-left: 0;
    padding-right: 0;

    .two-column-right {
        margin-right: 0 !important;
    }

    .course-type {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
    }

    .trainings {

        @include breakpoint(mobilephone) {
            background-color: #fff !important;
            padding: 20px 0 0 0 !important;

            .first {
                margin-top: 0;
            }
        }

        @include breakpoint(tablet) {
            margin: 15px;
            padding: 0 !important;
        }

        .first {
            margin-top: 10px;
        }

        .wrapper {
            @include breakpoint(mobilephone) {
                padding: 0 20px 20px 20px;
            }

            @include breakpoint(tablet) {
                padding: 0 20px 20px 20px;
            }

            padding: 20px;
        }

        h4 {

            @include breakpoint(mobilephone) {
                font-size: 12px;
                font-weight: 700 !important;
                color: #000;
                margin-top: 0;
                padding-top: 0;
            }

            font-size: 22px;
            font-weight: 300;
            color: $muted;
        }

        .fa {
            color: $muted;
            font-size: 24px;
        }

        .name {
            color: $primary;
            vertical-align: top;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
        }


        li.active {
            /*background-color: white;*/
        }

        li {
            /*padding: 20px;*/
        }

        .pass {
            color: #fff;
            font-style: normal;
            border-radius: 4px;
            background-color: $success;
            padding: 4px 5px;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
        }
    }


    .attachments {

        @include breakpoint(mobilephone) {
            padding-left: 15px;
            padding-right: 15px;

            h3 {
                font-size: 18px !important; 
            }
        }

        h3 {
            font-size: 34px;
            font-weight: 300;
            color: $primary;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: $dark-dark;
            font-style: italic;
        }

        .status {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    .training-detail {

        @include breakpoint(mobilephone) {
            padding-left: 15px;
            padding-right: 15px;

            hr {
                padding-top: 0;
            }
        }

        .supplemental-materials {
            h4 {
                @include breakpoint(mobilephone) {
                    font-size: 12px;
                    font-weight: 700;
                    padding-top: 20px;
                }

                font-size: 22px;
                font-weight: 300;
                color: $dark-dark;
            }

            li {
                .fa {
                    
                    color: $muted;
                    font-size: 18px;
                    padding-right: 10px;
                }

                strong {
                    vertical-align: top;
                }
            }
        }

        .take-quiz {

            @include breakpoint(mobilephone) {
                padding-left: 0;
            }

            background-color: #eee;

            .text-warning {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: $warning;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                font-style: italic;
                color: $dark-dark;
                line-height: 22px;
            }

            button {
                background-color: #f89d27;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 10px 30px 10px 30px;
            }
        }
    }

    .margin-top--10 {
        @include breakpoint(mobilephone) {
            margin-top: -10px !important;
            }
    }

    .padding-b-20 {
        @include breakpoint(mobilephone) {
            padding-bottom: 20px;
        }
    }

    .padding-33 {
        padding: 15px;

        @include breakpoint(mobilephone) {
            padding: 33px !important;
            }
    }

    .padding-mob-des {
        padding: 10px 40px;

        @include breakpoint(mobilephone) {
            padding: 0;
            margin-top: -5px;
        }
    }

    .border-bottom {
        @include breakpoint(mobilephone) {
            border-bottom: 1px solid $border;
            }
    }
}

.take-course-new {
    @include breakpoint(mobilephone) {
        position: relative;
    }

    background: $gray;
    margin-bottom: 20px;

    .head {
        margin-top: 0;
        @include breakpoint(tablet){
            margin-top: 1px;
        }
        background: $default;

        &.border{
            @include breakpoint(mobilephone){
                border-bottom: 1px solid $border;
            }
        }
    }

    .course-type-icon {
        padding: 4px 15px;
        background: $primary;
        color: $default;
        font-size: 26px;

        @include breakpoint(phablet) {
            padding: 17px 30px;
        }
    }

    .course-name {
        color: $primary;
        font-size: 16px;
        font-weight: 300;
        padding: 5px 15px 0;
        line-height: 2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80%;

        @include breakpoint(phablet) {
            font-size: 34px;
            padding: 0 15px;
        }
    }

    .training-content {
        padding: 0;

        @include breakpoint(tablet) {
                padding: 0 15px 0 25px;
            }
    }

    .section {
        background: $default;
        border-radius: 4px;

        @include breakpoint(tablet) {
            margin: 30px 20px 20px 0;
            }
    }

    .course-attachment {
        min-height: 100px;
        background: #fff;
        display: table;
        width: 100%;
        border: none;
        margin-bottom: 10px;
        display: flex;
        border-radius: 4px;

        @include breakpoint(tablet) {
                min-height: 300px;
                border: 1px solid #e4e4e4;
            }

        .video-wrap {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            border-radius: 4px;
         }

        .file {
             margin: auto;
         }

        h3 {
            padding-left: 40px;
            padding-right: 40px;
        }

    }
    
    .course-training-info {
        background: $default;
        padding: 15px 16px 0;
        
        .title {
            color: $primary;
            font-size: 16px;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 80%;

            @include breakpoint(tablet) {
               float: left;
               font-size: 22px;
                width: 50%;
            }

            @include breakpoint(laptop) {
                width: 55%;
            }
        }

        .metrics {
            font-size: 12px;
            font-weight: 300;
            color: $dark-dark;
            line-height: 2.4;

            @include breakpoint(tablet) {
               float: right;
            }

            @include breakpoint(mobilephone) {
              padding-top: 5px;
            }
        }

        .info-section {
            padding: 0 10px;
        }
    }

    .course-training-desc {
        color: $dark-dark;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        padding: 0 30px 0;
    }

    .supplement-material {
        padding: 15px;

         h4 { 
            width: 100%;
            text-align: center;
            border-bottom: 1px solid $base; 
            line-height: 0.1em;
            margin: 40px 0 20px;
        } 

        h4 span { 
            background: $default;
            padding: 5px 15px; 
            color: $dark-dark;
            border-radius: 5px;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            margin: 10px 0;

            i {
                color: $default;
                line-height: inherit;
                padding: 3px 6px 1px 5px;
                margin-right: 3px;
                background: $primary;
                border-radius: 50%;
            }
        }

        .poniter {
            cursor: pointer;
        }

        .sup-file {
            padding-left: 5px;
            text-decoration: underline;
            color: $dark-dark;
            font-size: 14px;
            font-weight: 600;
            vertical-align: top;
        }
    }

    .after-training {
        padding: 30px;

        @include breakpoint(mobilephone) {
            margin: 15px 0;
        }

        .head {
            color: $warning;
            font-weight: 600;
            font-size: 16px;
        }

        .head-info {
            font-style: italic;
            font-size: 14px;
            font-weight: 400;
            color: $dark-dark;

            @include breakpoint(mobilephone) {
               width: 160px;
               margin-top: 5px;
            }
        }

        .take-quiz {
            background: $success;
            color: $default;
            padding: 13px 20px;
            font-size: 14px;
            font-weight: 700;
            border-radius: 4px;
            text-transform: uppercase;
            @include breakpoint(mobilephone) {
               margin-top: 5px;
            }
        }
    }

    .trainings {
        padding: 0;

        @include breakpoint(tablet) {
               margin: 0 5px 0 25px;
            }

        @include breakpoint(laptop) {
               margin: 30px 0 0 0;
            }

        .section {
            border-radius: 4px;
            padding: 15px;
           
            @include breakpoint(tablet) {
               margin: 0 30px 0 0;
            }

            .head {
                color: $primary;
                font-size: 22px;
                font-weight: 300;
            }

            .training {
                cursor: pointer;

                .title {
                    color: $muted;
                    font-weight: 600;
                    font-size: 16px;
                }

                .complete {
                    color: $muted;
                    font-style: italic;
                    font-size: 14px;
                }

                .in-complete {
                    color: $muted;
                    font-style: italic;
                }

                .content-type-icon {
                    padding-top: 5px;
                    font-size: 20px;
                }
            }

            .active {
                .title {
                    color: $dark-dark;
                }

                .complete {
                    color: $success;
                }
            }
        }
    }
   
    .fa-play2 {
        color: $primary;
        font-size: 24px;
    }

    .fa-file-pdf-o {
        color: $danger;
        font-size: 20px;
    }
}

.courses {
   
    .head {
        margin-top: 0;
        @include breakpoint(tablet){
            margin-top: 1px;
        }
        background: $default;

        .mobile-border{
            @include breakpoint(mobilephone){
                border-bottom: 1px solid $border;
            }
        }
    }

    .text-wrap {
             overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    .course-type-icon {
        padding: 5px 15px;
        background: $primary;
        color: $default;
        font-size: 34px;

        @include breakpoint(tablet) {
            padding: 15px 35px;
        }
    }

    .course-name {
        color: $primary;
        font-size: 20px;
        padding: 2px 15px;
        line-height: 2;
        font-weight: 300;
         width: 78%;

        @include breakpoint(mobilephone) {
             line-height: 2.5;
         }

        @include breakpoint(tablet) {
            font-size: 34px;
        }
           
        .long-name-sm {
            width: 70%;
        }

        .long-name-xs {
            width: 65%;
        }
    }

    .course-count {
        padding-left: 7px;
        color: $dark-dark;
        font-size: 14px;
        font-weight: 300;
        line-height: 3.4;

        @include breakpoint(mobilephone) {
            line-height: 3.6;
        }

        @include breakpoint(tablet) {
            font-size: 22px;
        }
    }

    .search-field {
        padding: 13px 15px 10px 15px;

        @include breakpoint(tablet) {
            padding: 15px 30px 5px 0;
        }

        .form-control {
            border-radius: 4px;
            font-size: 16px;
            font-weight: 300;
            color: $dark-dark;
            padding-top: 18px;
            padding-bottom: 18px;

            @include breakpoint(tablet) {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }

        .fa-search2 {
            position: relative;
            z-index: 2;
            color: #00aed0;
            float: right;
            margin-right: 6px;
            margin-top: -33px;
            font-size: 20px;
        }
    }
    
    .section {
                    background: #24282b;
                    text-align: center;
                    padding-bottom: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

        @include breakpoint(desktop) {
                        border-radius: 4px;
                        margin-left: 20px;
                        padding-bottom: 0;
                    }

        .leave-note-section {
            .leave-note {
                @media only screen and (min-width : 1000px) and (max-width : 1380px) {
                                font-size: 12px;
                            } 
                        }
                    }
                }

    .text-note {
                        padding-top: 20px;
                        font-weight: 300;
                        color: #FFFFFF;
                        padding-bottom: 15px;
                        display: inline-block;
                        font-size: 16px;
                        text-align: center;

        @include breakpoint(mobilephone) {
                            width: 74%;
            margin: auto;
                        }

        @include breakpoint(desktop) {
                            padding-top: 0;
                            width: 78%;
                            padding-bottom: 25px;
                        }

        @include breakpoint(desktop) {
                            padding-top: 0;
                            width: 78%;
                            padding-bottom: 25px;
                        }
                    }

    .sub-note {
                        font-weight: 300;
                        color: $default;
                    }


    .leave-note {
                        background-color: #E69225;
    }
                       
    .btn-icon-text {
                        padding-left: 16px;
                    }

    .course-section {
        padding-top: 25px;

        .mobile-no-padding {
            @include breakpoint(mobilephone) {
                padding: 0;
            }
        }

        .mobile-margin {
            @include breakpoint(mobilephone) {
                margin-top: 20px;
            }
        }

        .featured-course-section {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 10px;

            @include breakpoint(tablet) {
                padding-right: 15px;
                padding-left: 15px;
                padding-bottom: 30px;
            }

            display: flex;

            .featured-course {
                background: $default;
                border-radius: 4px;
                padding: 0;
                cursor: pointer;
                                
                @include breakpoint(tablet) {
                    padding-right: 25px;
                     width: 100%;
                     display: flex;
                }

                @include breakpoint(laptop) {
                    padding-right: 0;
                     width: 81%;
                     display: flex;
                     margin-right: 15px;
                }

                img {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    height: auto;

                    @include breakpoint(mobilephone) {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    @include breakpoint(tablet) {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
                }

                .course-metrics {
                    padding-top: 20px;
                    padding-left: 15px;
                    padding-bottom: 15px;

                    @media only screen and (min-width : 1000px) and (max-width : 1380px) {
                        padding-top: 5px;
                    } 

                    @include breakpoint(mobilephone) {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    @include breakpoint(tablet) {
                        padding-left: 20px;
                        padding-bottom: 0;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                    .hline {
                        border-top: 1px solid #e8e8e8;

                        @include breakpoint(tablet) {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        @include breakpoint(desktop) {
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }

                        @media only screen and (min-width : 1000px) and (max-width : 1380px) {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        } 
                    }

                    .header {
                        padding-bottom: 0;

                        @include breakpoint(desktop) {
                            padding-bottom: 30px;
                        }

                        @media only screen and (min-width : 1000px) and (max-width : 1380px) {
                            padding-bottom: 0;
                        } 

                        .title {
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: $warning;

                            @include breakpoint(mobilephone) {
                                font-size: 12px;
                            }
                        }

                        .name {
                            color: $dark-dark;
                            font-size: 22px;
                            font-weight: 300;

                            @include breakpoint(mobilephone) {
                                font-size: 18px;
                            }
                        }

                        .overview {
                            color: $dark-dark;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 24px;
                            padding-top: 10px;

                            @include breakpoint(mobilephone) {
                                font-size: 14px;
                            }

                            @include breakpoint(desktop) {
                                 padding-top: 15px;
                             }
                        }
                    }

                    .metric-sec {
                        padding-bottom: 15px;

                        @include breakpoint(tablet) {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                             }
                       
                        .metric {
                        padding-right: 15px;
                        color: $dark-dark;
                        font-size: 12px;
                        font-weight: 300;
                    }
                    }
                }
            }
        }
    }
    
    .all-courses {
        padding-left: 0;
        padding-right: 0;

        @include breakpoint(tablet) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.take-course-modal-body{
    ::-webkit-scrollbar {
        width: 7px;
    }
 
    ::-webkit-scrollbar-thumb {
        border-radius:10px;
        height: 10px;
        width: 8px;
        border: 1px solid #e6e6e6;
        background: rgb(255,255,255);
        -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
        border-radius: 10px;
        background: #e6e6e6;
    }
    text-align: center;
    padding-top: 30px;

    .fa{
        color: $primary;
        font-size: 44px;
        line-height: 45px;
        display: inherit;
    }

    .course-name{
        color:$primary;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
    }

    .course-overview{
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        width: 70%;
        display: inline-block;
        padding-top: 12px;
    }
    .training-list-height{
        height: 145px;
        overflow-y: auto;
        margin-right: 15px;
        padding-right: 10px !important;
    }
    .training-list{

        padding: 20px;
        

        .fa{
            font-size: 16px;
            line-height: 18px;

        }

        .fa-file-pdf-o{
            color: red;
        }

        .training-name{
            word-break: break-word;
            width: 75%;
            text-align: left;
            color: $base-dark;
            font-size: 12px;
        }

        .hline{
            border-bottom: 1px solid #e5e5e5;
            padding-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.take-course-modal-footer{
    text-align: center;
    padding: 15px 15px 25px 15px;

    .btn-course{
        font-size: 12px;
        font-weight: 700;
        padding: 10px 20px;
        background-color: #66c94f;
        border-color: #66c94f;
    }
}
