﻿@import "../Common/_globals";

.position-profile{
    .well{
        margin-top: 0 !important;
        border: none;
        padding-top: 0 !important;
    }

    .head-desc{
       
        float: left;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        padding-bottom: 30px;
        color: #393f44;
   }

    .table-head{
        background-color: $primary !important;
        padding-left: 15px;
        @include breakpoint(tablet){
            padding-left: 20px;
        }
    }

    .emp-name{
        color: $primary !important;
        font-size: 16px !important;
        font-weight: 600;
    }

    .emp-title{
        font-size: 14px;
        font-weight: 600;
        color: #999c9e !important;
        display: inline-block;
        border: 1px solid #999c9e;
        padding: 0 5px;
        border-radius: 3px !important;
        margin-left: 0;
        margin-bottom: 4px;
        font-style: normal !important;
   }

    .hire-date{
        font-size: 12px;
        font-weight: 500;
        color: $muted !important;
        font-style: italic;
    }

    .itemrow:nth-child(even){
        background-color: $gray;
        display: block;
    }

    .emp-row{
        line-height: 24px;
        padding: 15px 15px 15px 15px;
        @include breakpoint (tablet){
            padding: 20px 30px 20px 20px !important;
        }
    }

    .stats{
        padding-top: 10px !important;
        margin-top: -15px !important;
        border: none ;
        border-top: none !important;
        @include breakpoint(desktop){
            padding-top: 0 !important;
        }
    }

    .tab-height-mob{
        @include breakpoint(mobilephone){
            height: 70px !important;
        }
    }

    .no-border{
        border: none !important;
    }
    .search-box{
        z-index: 1;
    }
}
