﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.quiz-body{
	padding-top: 20px;
	h1{
		margin: 5px 0;
		    line-height: 1.4;
	}
	p{
		margin-bottom: 5px;
	}

    .question-number{
            font-weight: 700;
            text-transform: uppercase;
        @include breakpoint(mobilephone){
            font-size: 12px;
        }
    }
    .question-text{
        font-weight: 400;
        font-size: 16px;
        word-break: break-word;
        @include breakpoint(tablet){
            font-size: 22px;
        }
    }
    
    .choose-answer{
            font-weight: 400;
            font-style: italic;
        @include breakpoint(mobilephone){
            font-size: 14px;
        }
    }

   	.list-group{
        position:relative;

        .cover{
            height: 100%;
            width: 100%;
            display: block;
            background-color: rgba(255,255,255,0.25);
            position: absolute;
            z-index: 12;
        }

		.list-group-item{
			position: relative;
		    padding-left: 50px;
		    padding-right: 5px;
		    @include screen('tablet') {
		    	padding-left: 80px;
		    	padding-right: 15px;
		    }
			.q-letter{
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    font-size: 16px;
			    text-transform: uppercase;
			    text-align: center;
			    background: #fcfcfc;
			    border: 1px solid #e8e8e8;
                display: inline-table;
			    position: absolute;
			    left: 15px;
                top: auto;
               
			    @include screen('tablet') {
			    	width: 50px;
				    height: 50px;
				    line-height: 50px;
				    font-size: 24px;
			    }

			}
			p{
				line-height: 32px;
			    margin-bottom: 0;
			    font-size: 14px;
			    font-weight: 300;
			    @include screen('tablet') {
			    	line-height: 52px;
			    	font-size: 16px;
			    }

			}
			.answer-status{
				@include screen('max-mobile') {
					font-size: 12px;
				}
				font-weight: 600;
				text-transform: uppercase;
				display: none;
			}

			&.failed, &.passed{
				.q-letter{
					border: transparent;
					color: $default;
				}
				.answer-status{
					display: block;
				}
			}
			&.failed{
				.q-letter{
					background:$danger;
				}
			}
			&.passed{
				.q-letter{
					background:$success;
				}
			}
		}

		
	}
}

.quiz-buttons{
     .btn-quiz{
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 4px;
        border-color: $default;
       
        @include breakpoint(mobilephone){
            font-size: 12px;
        }
    }

     .btn-quiz-next:enabled{
         border-color: $primary;
          &:hover, &:focus{
            border-color: #354661;
        }
      
     }

     .btn-quiz-cancel{
         border-color: $base;
     }
}


