﻿@import "../Common/_globals";
@import "../Common/_bootstrap-overrides";

.sep-box-score{
     .metric-null{
        background: $warning !important;
        color: $default;
        padding-left: 1px;
        padding-top: 11px;
    }
    .metric-null-kpi-fail{
        color: $default;
        padding: 10px 0 0;
    }
    .metric-null-kpi-pass{
        color: $default;
        background: $success !important;
        padding: 10px 0 0;
    }
    .sep-action-buttons{
        margin-top: -55px;
    }
    .job{
        font-style: italic;
    }
    .small-action-buttons{
        padding: 15px 15px 10px 15px;
        border-top: 1px solid $border;

        .custom-monthly-picker{
            .monthly-date-picker{
                width: 230px !important;
            }
        }
        .btns{
            padding: 10px 0 0 0;
            .icon-style{
                color: $dark-dark;
                font-size: 22px;
            }
        }

        .config-space{
            margin-right: 5px;
        }

    }
    .sep-title{
        padding-bottom: 10px;
        .buttons-align{
            position: absolute;
            right: 10px;
            top: 0;
            @include breakpoint(tablet){
                position: relative;
                top: 0;
                right: 0;
            }
            @include breakpoint(mobilephone){
                top: 17px;
                right: 15px;
            }

            .create-icon-align{
                line-height: 1.5;
                margin-right: 0;
                @include breakpoint(tablt){
                    margin-right: .3em;
                }
            }
        }
    }
   
    .btn-add-mobile{
            padding: 10px 12px;
            width: auto;
            font-weight: 700;
            
            @include breakpoint(tablet){
                width: 200px;
                padding: 12px;
                position: relative;
                top: 0;
                right: 0;
                margin-top: 10px;
                margin-right: 0;
            }
        }

    .buttons-padding{
        padding-top: 15px !important;

    }
    .new-border{
        border-bottom: 1px solid $border !important;
        @include breakpoint(tablet){
            border-top: 1px solid $border !important;
        }
    }
    .header{
        
        .title{
            padding-top: 10px;
            border-top: 1px solid $gray;
            @include breakpoint(tablet){
                border-top: none;
            }
            .filter{
                 padding-left: 25px;
                 padding-right: 25px;
                 @include breakpoint(mobileonly){
                     padding-left: 20px;
                    padding-right: 20px;
                 }
                 .clickable {
                     border-bottom: 4px solid #bfbfbf;
			        &.active, &:hover {
				        color: $primary;
                        border-bottom: 4px solid $primary;
                        @include breakpoint(tablet){
				            border-bottom-color: $primary;
                        }
			        }
		        }

                 
            }
            .all{
                     width: 27%;
                 }
            p{
                font-size: 12px;
                font-weight: 700;
                
            }
            .count{
                font-size: 30px;
                line-height: 40px;
                font-weight: 400;
                color: $dark-dark;
                padding-top: 0;
                
            }
        }
       
    }
     .filter-search{
            padding-top: 15px;
            padding-bottom: 15px;
            @include breakpoint(tablet){
                padding-top: 0;
                padding-bottom: 0;
            }
            .finalize{
                @include breakpoint(mobilephone){
                    width: 100%;
                }
                @include breakpoint(tablet){
                    padding-right: 15px;
                }
                @include breakpoint(desktop){
                    padding-right: 0;
                }
                .btn{
                    padding: 12px 40px;
                    margin-left: 5px;
                     @include breakpoint(mobilephone){
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
            .input-group{
                float: left;
            }
            .search-field{
                width: 100% !important;
                @include breakpoint(tablet){
                    width: 63%;
                    padding-right: 15px;
                }
                @include breakpoint(desktop){
                    width: 66% !important;
                    padding-right: 0;
                }

                .enter-section{
                    border-radius: 4px !important;
                    height: 45px;
                    font-size: 14px;
                }

                .icon-search{
                        position: relative;
                        z-index: 2;
                        color: #00AFD1;
                        float: right;
                        margin-right: 10px;
                        margin-top: -35px;
                        font-size: 22px;
                        @include breakpoint(tablet){
                            margin-top: -36px;
                            font-size: 24px;
                        }
                }
            }
        }
    .sep-box-score{
        thead{
            background: $default;
            tr{
                &.sep-stats{
                    font-size: 20px;
                    border-bottom: 1px solid $border;
                    th{
                        line-height: 33px;
                        padding-bottom: 10px !important;
                        padding-top: 10px !important;
                        p{
                            font-size: 12px;
                            color: $base;
                            font-weight: 400;
                            white-space: nowrap;
                            font-family: 'Open Sans'
                        }
                    }
                }
                th{
                    &.total{
                        font-size: 16px;
                        vertical-align: middle;
                        font-weight: 400;
                        color: $dark;
                        text-align: left;
                        padding-left:  40px;
                        width: 300px;
                    }
                    border-color: #e8e8e8;
                    padding-top: 20px !important;
                    padding-bottom: 20px !important;
                    text-align: center;
                    position: relative !important;
                    left: 0 !important;
                    right: 0 !important;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }

        tbody{
             > tr{
                
                 td{
                     
                     &[ng-click] {
                        &:hover {
                            cursor: pointer;
                            background-color: #f9f9f9;
                        }
                    }
                     vertical-align: middle;
                     text-align: center;
                     border-top: none;
                     padding-top: 15px;
                     padding-bottom: 15px;
                     &.employee{
                          padding-left: 20px;
                          .details{
                              width: 300px;
                          }
                        .circle-img{
                            width: 80px;
                            height: 80px;
                            border: none;
                        }
                        .emp-desc{
                            padding-left: 15px;
                            width: 200px;

                            .name{
                                color: $primary;
                                margin-bottom: 5px;
                            }

                            .job-title{
                                font-style: italic;
                            }
                            .hired-date{
                                font-style: italic;
                                font-weight: 400;
                            }

                            .status-bonus{
                                padding-top: 5px;
                                .bonus-amount{
                                    font-size: 16px;
                                }
                                .bonus-text{
                                    font-size: 12px;
                                }

                                .click{
                                    cursor: pointer;
                                }

                                 
                            }
                        }
                     }

                     &:nth-of-type(1){
                         text-align: left;
                     }

                     .failed-number{
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: $danger;
                        width: 35px;
                        height: 35px;
                        margin: auto;

                        .metric{
                            color: #fff;
                            font-size: 16px;
                            line-height: 2.2;
                            font-weight: 600;
                        }

                        .percent{
                            font-size: 15px;
                            line-height: 2.3;
                        }
                     }

                     .failed-metric{
                         color: $danger;
                         font-size: 16px;
                         font-weight: 700;
                     }

                     .passed-metric{
                         color: $success;
                         font-size: 16px;
                         font-weight: 700;
                     }

                     .fa-bubble{
                         font-size: 28px;
                     }
                     .fa-bubble-alt{
                         font-size: 28px;
                     }

                     .message{
                         color: $warning;
                     }

                     .no-message{
                         color: #bfbfbf;
                     }

                     .not-applicable{
                         font-size: 14px;
                         font-weight: 700;
                     }
                 }
             }
        }

       
    }
     .mobile-card{
         background-color: $gray;
         padding-bottom: 15px;
         margin-bottom: 30px;
         .card-details{
             margin: 10px 15px 0px 15px;
             border: 1px solid $border;
            .employee{
                background-color: white;
                padding-top: 15px;
                padding-bottom: 15px;
                @include breakpoint(mobileonly){
                    padding-right: 5px;
                }
                .circle-img{
                    width: 60px;
                    height: 60px;
                    border: none;
                }
                .emp-desc{
                    padding-left: 20px;
                    width: 70%;
                    @include breakpoint(mobileonly){
                        width: 180px;
                    }

                .name{
                    color: $primary;
                    margin-bottom: 5px;
                    font-size: 14px;
                    @include breakpoint(tablet){
                        font-size: 16px;
                    }
                }
                .job-title{
                    font-style: italic;
                 }
                 .hired-date{
                    font-style: italic;
                    font-weight: 400;
                 }
                 .status-bonus{
                    padding-top: 5px;
                     .bonus-text{
                            font-size: 12px;
                     }
                  }

                }
                .comment{
                    margin-top: 5px;
                    font-size: 28px;
                }

                .indicator{
                    position: absolute;
                    top: 42px;
                    left: 59px;
                }
            }
            .kpis{
                padding-top: 5px;
                padding-bottom: 5px;
                .not-applicable{
                    font-size: 14px;
                }
                table{
                    &.mobile{
                        width: 100%;
                        tr{
                            background-color: $gray;
                            border-top: $border;
                            th{
                                text-align: center;
                                font-size: 24px;
                                @include breakpoint(tablet){
                                    font-size: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

     .btn-finalize{
         position: relative;
         float: right;
         margin-right: 20px;
         margin-top: -45px;
     }
     .btn-finalize-mobile{
         position: fixed;
         bottom: 0;
         width: 100%;
         padding-top: 10px;
         padding-bottom: 10px;
     }
}