@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.trans-card-reports-wrap [class*="col"] {
  padding: 0;
}

.height-align {
  padding-top: 13px;
  padding-bottom: 13px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .number-align {
    margin-top: 13px !important;
  }
}

.trans-table td:hover {
  cursor: pointer;
}

.trans-profile {
  position: relative;
  float: left;
}
.trans-profile h4 {
  float: left;
  clear: right;
  font-size: 22px;
  margin: 10px 0 0 0;
}
.trans-profile > p {
  clear: both;
  padding-top: 2px;
  font-size: 16px;
}
.trans-profile .btn {
  padding: 4px 22px;
  margin-top: 16px;
}
.trans-profile .show-profile i, .trans-profile .close-popup-Profile i {
  top: 10px;
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.back-report-cards {
  height: 100%;
  font-size: 18px;
  position: absolute;
  padding: 5px;
  /* height: 100%; */
  z-index: 1;
  left: -4px;
  top: -1px;
  line-height: 72px;
}

.trans-profile-img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
  float: left;
}
.trans-profile-img img {
  width: 100%;
}

.popup-profile .trans-profile {
  margin-bottom: 30px;
}

.trans-profile-chart {
  float: left;
}
.trans-profile-chart .circle-chart {
  margin: 0;
  margin-right: 20px;
}

.trans-profile-chart-wrap h4 {
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}
.trans-profile-chart-wrap hr {
  margin: 5px 0;
  max-width: 200px;
}

.trans-table-title-well {
  border-radius: 5px 5px 0 0;
}

.trans-tables {
  margin-top: 0 !important;
  padding: 0;
}

.trans-back-active {
  padding-left: 25px;
  padding-left: 10px;
}
.trans-back-active .back-report-cards {
  	/*left: -19px;
    top: 0;
    line-height: 90px;*/
}

.trans-charts-db .legends {
  padding-top: 30px;
}
.trans-charts-db .legends a, .trans-charts-db .legends p {
  padding: 5px 0;
  display: block;
}
.trans-charts-db .legends a {
  color: inherit;
}

.report-card-v {
  text-align: left;
  position: relative;
  height: 50px;
  padding: 10px 30px 10px 20px;
  margin-top: -1px;
  margin-left: -1px;
  border-top: 1px solid #e4e4e4;
  margin-right: -1px;
  min-height: 80px;
}
@media (max-width: 479px) {
  .report-card-v {
    height: 64px;
    min-height: 60px;
  }
  .report-card-v .col-md-4 {
    padding-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .report-card-v {
    padding: 10px 15px 10px 5px;
  }
}
.report-card-v .clicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 80px;
  cursor: pointer;
  z-index: 5;
}
@media (max-width: 479px) {
  .report-card-v .clicker {
    min-height: 60px;
  }
}
.report-card-v .meta-item {
  font-size: 15px;
}
@media (max-width: 479px) {
  .report-card-v .meta-item {
    padding-left: 0;
  }
}
@media (min-width: 1167px) {
  .report-card-v .meta-item:nth-child(2):before {
    content: "|";
    padding-left: 14px;
    padding-right: 7px;
  }
}
.report-card-v p {
  font-size: 16px;
}
@media (min-width: 991px) {
  .report-card-v p {
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 15px;
  }
}
@media screen and (max-width: 480px) {
  .report-card-v .mobile-padding-left-se {
    padding-left: 0;
  }
}
.report-card-v .report-card-ad {
  height: 300px;
}
@media (max-width: 479px) {
  .report-card-v .report-card-ad {
    height: 180px;
  }
}
.report-card-v .report-card-ad .sub-kpis {
  margin-bottom: 20px;
}
.report-card-v .report-card-ad .radio-wrap label {
  font-size: 16px;
  padding-left: 30px;
  padding-top: 2px;
  margin: 5px 0;
  color: #6E6E6E;
  font-weight: 400;
}
.report-card-v .report-card-ad .radio-wrap label:after {
  font-size: 26px;
}
.report-card-v .report-card-ad .radio-wrap input:checked + label:after {
  color: #e14d3c;
}
.report-card-v .eva-btns {
  z-index: 10;
  position: relative;
}
.report-card-v .eva-btns .eva-btn {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 2px 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 50% !important;
  border: 2px solid #e4e4e4;
  color: #aaaaaa;
  padding: 0;
  background: none;
  transition: all 0.3s;
}
@media (max-width: 479px) {
  .report-card-v .eva-btns .eva-btn {
    margin-top: 0 !important;
  }
}
.report-card-v .eva-btns .eva-btn:focus {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 2px 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 50% !important;
  border: 2px solid #e4e4e4;
  color: #aaaaaa;
  padding: 0;
  background: none;
  transition: all 0.3s;
}
.report-card-v .eva-btns .eva-btn i {
  line-height: 40px;
  float: none;
  font-size: 16px;
}
.report-card-v .eva-btns .eva-btn.active:first-child {
  background: #e14d3c;
  color: #ffffff;
  border: 2px solid #e14d3c;
}
.report-card-v .eva-btns .eva-btn.eva-pass.active {
  background: #40aa58;
  color: #ffffff;
  border: 2px solid #40aa58;
  box-shadow: none;
}
.report-card-v .toggle-button span.btn {
  line-height: 39px;
  color: #9e9e9e;
  width: 11px;
}
@media (max-width: 479px) {
  .report-card-v .toggle-button span.btn {
    line-height: 30px;
  }
}
.report-card-v .toggle-button span.btn:hover, .report-card-v .toggle-button span.btn:active {
  box-shadow: none;
}
.report-card-v .card-icon-wrap {
  float: left;
  position: relative;
  padding: 0;
  padding-left: 8px;
}
.report-card-v .card-icon-wrap i {
  color: #9e9e9e;
}
@media (max-width: 479px) {
  .report-card-v .card-icon-wrap {
    max-width: 40px;
  }
}
.report-card-v i {
  padding-top: 3px;
  font-size: 35px;
  float: left;
  position: relative;
}
@media (max-width: 479px) {
  .report-card-v i {
    font-size: 26px;
  }
}
.report-card-v .card-point {
  padding: 2px 6px;
  border-radius: 25px;
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  right: -8px;
  width: 40px;
  text-align: center;
  background: #cacaca;
}
.report-card-v.fail, .report-card-v.pass {
  height: auto;
}
.report-card-v.fail .fail-reason, .report-card-v.fail .pass-reason, .report-card-v.pass .fail-reason, .report-card-v.pass .pass-reason {
  display: block;
}
.report-card-v .emp-result {
  width: 90px;
  font-size: 12px;
  margin-top: 3px;
  text-align: center;
  padding: 3px 5px;
  border-radius: 2px;
  color: #fff;
}
.report-card-v .toggle-block {
  display: none;
}
.report-card-v .fail-reason, .report-card-v .pass-reason {
  display: none;
  padding: 15px;
  clear: both;
}
.report-card-v .fail-reason .training, .report-card-v .pass-reason .training {
  padding: 10px 25px 20px 25px;
}
.report-card-v .fail-reason textarea, .report-card-v .pass-reason textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 120px;
}
.report-card-v .fail-reason .label, .report-card-v .pass-reason .label {
  font-size: 14px;
  color: #aaaaaa;
  padding-left: 0;
}
.report-card-v .fail-reason .label span, .report-card-v .pass-reason .label span {
  font-size: 12px;
  padding-left: 10px;
}
.report-card-v .fail-reason p.sm, .report-card-v .pass-reason p.sm {
  font-size: 12px;
  color: #aaaaaa;
}
.report-card-v .fail-reason .btn-group, .report-card-v .pass-reason .btn-group {
  margin-top: 5px;
}
.report-card-v .fail-reason .btn-group label, .report-card-v .pass-reason .btn-group label {
  width: 140px;
  border-radius: 0;
  margin: 2px 5px;
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .report-card-v .fail-reason .btn-group label, .report-card-v .pass-reason .btn-group label {
    width: 45%;
  }
}
.report-card-v .fail-reason .btn-group label:hover, .report-card-v .pass-reason .btn-group label:hover {
  background: #ee6b6f;
  color: #ffffff;
}
.report-card-v .fail-reason .btn-group label.active, .report-card-v .pass-reason .btn-group label.active {
  background: #E93D42;
  border-color: #e6262c;
  color: #ffffff;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.report-card-v .card-btn {
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
}
@media (min-width: 991px) {
  .report-card-v .card-btn {
    margin-top: 10px;
  }
}
.report-card-v .kpi-custom {
  clear: both;
  padding: 15px 15px 0 15px;
}
.report-card-v .kpi-custom a {
  cursor: pointer;
}
.report-card-v .kpi-name {
  font-size: 12px;
  padding-top: 10px;
  color: #F99D00;
  font-weight: bold;
}
@media (min-width: 1167px) {
  .report-card-v .kpi-name {
    font-size: 16px;
  }
}
.report-card-v .meta-text {
  color: #2f2930;
  font-weight: 700;
}
.report-card-v .pass {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #9FC62D;
}
.report-card-v .fail {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #D0363C;
}
.report-card-v .tbd {
  color: #ffffff;
  font-style: normal;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 9px;
  font-weight: bold;
  background-color: #909090;
}
.report-card-v .icon-img {
  overflow: hidden;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #00AFD1;
  margin-top: 15px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .report-card-v .icon-img {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
.report-card-v .icon-img .fa {
  font-size: 11px;
  width: 100%;
  color: #00AFD1;
  font-weight: 700;
}
@media (min-width: 768px) {
  .report-card-v .icon-img .fa {
    font-size: 15px;
    width: 100%;
    color: #00AFD1;
    font-weight: 700;
  }
}

.sep-details {
  padding-left: 0;
  padding-right: 0;
}

.sep-index {
  background-color: #fff;
}
.sep-index .dropdown-align {
  position: absolute;
  right: -15px;
  top: 60px;
}
.sep-index .config-align {
  position: absolute;
}
.sep-index .buttons-padding {
  position: relative;
  padding-top: 72px;
}
@media (max-width: 768px) {
  .sep-index {
    background-color: #f5f5f5;
  }
}
.sep-index .search-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sep-index .fa-icon-style {
  position: relative;
  font-size: 16px;
  top: 2px;
}
.sep-index .emp-title {
  font-size: 14px !important;
  font-weight: 600;
  color: #999c9e !important;
  display: inline-block;
  border: 1px solid #999c9e;
  padding: 0 5px;
  border-radius: 3px !important;
  margin-left: 0;
  margin-bottom: 4px;
  font-style: normal !important;
  line-height: 24px !important;
}
.sep-index .datepicker-padding {
  padding-top: 10px;
}
.sep-index .monthly-picker-div {
  background-color: #f5f5f5;
  padding: 15px 19px;
  border-radius: 4px;
}
.sep-index .monthly-picker-div .icon-style {
  color: #8c8f92;
  font-weight: 600;
}
@media (min-width: 1167px) {
  .sep-index .monthly-picker-div {
    right: 2px;
    position: relative;
    margin-top: -60px;
  }
}
.sep-index .monthly-picker-div .custom-monthly-picker {
  border: 1px #ccc;
  border-radius: 4px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1167px) {
  .sep-index .monthly-picker-div .custom-monthly-picker {
    margin-left: 40px;
    padding: 20px 0;
  }
}
.sep-index .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 45px;
  height: 47px;
  width: 100%;
  font-size: 12px;
}
@media (min-width: 768px) {
  .sep-index .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    width: 80%;
    font-size: 14px;
  }
}
@media (min-width: 1167px) {
  .sep-index .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    width: 266px;
    font-size: 14px;
  }
}
.sep-index .monthly-picker-div .custom-monthly-picker .monthly-date-picker .prev-month {
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}
.sep-index .monthly-picker-div .custom-monthly-picker .monthly-date-picker .next-month {
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}
.sep-index .sub-head {
  background-color: #ffffff;
  padding: 0;
}
@media (min-width: 768px) {
  .sep-index .sub-head {
    padding: 10px 10px;
  }
}
.sep-index .btn-print {
  margin-right: 10px;
}
.sep-index .toggle-filters {
  font-size: 22px;
}
.sep-index .status {
  margin-top: -2px;
}
@media (min-width: 1167px) {
  .sep-index .status {
    position: relative;
    right: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .sep-index .status {
    position: relative;
    right: 22px;
  }
}
@media (max-width: 479px) {
  .sep-index .status {
    margin-left: -58px;
  }
}
.sep-index .status .pass {
  color: #ffffff !important;
  font-style: normal;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 4px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 10px !important;
  font-weight: bold;
  background-color: #40aa58;
}
@media (min-width: 768px) {
  .sep-index .status .pass {
    font-size: 12px !important;
  }
}
.sep-index .status .fail {
  color: #ffffff !important;
  font-style: normal;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 4px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 10px !important;
  font-weight: bold;
  background-color: #cf383f;
}
@media (min-width: 768px) {
  .sep-index .status .fail {
    font-size: 12px !important;
  }
}
.sep-index .status .incomplete {
  color: #ffffff !important;
  font-style: normal;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 4px;
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 15px;
  font-size: 10px !important;
  font-weight: bold;
  background-color: #8c8f92;
}
@media (min-width: 768px) {
  .sep-index .status .incomplete {
    font-size: 12px !important;
  }
}
.sep-index .header {
  border-bottom: 1px solid #f5f5f5;
  color: #8c8f92;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-flex;
  padding-top: 0 !important;
}
@media (min-width: 1167px) {
  .sep-index .header {
    border-top: 1px solid #f5f5f5;
  }
}
.sep-index .header .flex {
  display: flex;
}
.sep-index .header .filter-left {
  padding-top: 19px;
  border-right: 1px solid #e8e8e8;
}
.sep-index .header .filter-left .clickable.active, .sep-index .header .filter-left .clickable:hover {
  color: #00AFD1;
  border-bottom: 4px solid black;
}
@media (min-width: 768px) {
  .sep-index .header .filter-left .clickable.active, .sep-index .header .filter-left .clickable:hover {
    border-bottom: 4px solid black;
  }
}
.sep-index .header .filter-right {
  padding-top: 19px;
}
.sep-index .header .filter-right .clickable.active, .sep-index .header .filter-right .clickable:hover {
  color: #00AFD1;
  border-bottom: 4px solid black;
}
.sep-index .header .filter-search {
  margin: auto;
  padding-left: 15px;
}
@media (min-width: 1167px) {
  .sep-index .header .filter-search {
    padding-left: 30px;
  }
}
.sep-index .header .filter-search .search-field {
  width: 100%;
}
.sep-index .header .filter-search .search-field .enter-section {
  height: 47px;
  line-height: 47px;
}
.sep-index .header .icon-search {
  position: relative;
  z-index: 2;
  color: #00AFD1;
  float: right;
  margin-right: 6px;
  margin-top: -32px;
  font-size: 24px;
}
.sep-index .header .count {
  font-size: 32px;
  line-height: 33px;
  padding: 20px 0 0;
  font-weight: 300;
}
@media (min-width: 768px) {
  .sep-index .header .count {
    font-size: 39px;
    line-height: 51px;
    padding: 0;
  }
}
.sep-index .header i {
  font-size: 33px;
}
@media (min-width: 768px) {
  .sep-index .header i {
    font-size: 49px;
  }
}
.sep-index .header p {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0 10px;
}
@media (min-width: 768px) {
  .sep-index .header p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.sep-index .top-header {
  border-bottom: none !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.sep-index .details {
  margin-top: 15px;
  padding-left: 15px;
}
@media (max-width: 479px) {
  .sep-index .details {
    max-width: 190px;
  }
}
@media (max-width: 320px) {
  .sep-index .details {
    padding-left: 10px;
    max-width: 142px;
  }
}
.sep-index .kpi-list .kpi-row {
  padding: 10px 15px 10px 20px;
  color: #333333;
  margin-top: 0;
  margin-left: -1px;
  border-top: 1px solid #e4e4e4;
  margin-right: -1px;
  min-height: 80px;
  cursor: pointer;
  text-align: left;
  position: relative;
}
@media (max-width: 479px) {
  .sep-index .kpi-list .kpi-row {
    padding: 10px 15px 10px 10px;
  }
}
.sep-index .kpi-list .card-icon {
  padding-top: 3px;
  font-size: 35px;
  float: left;
  position: relative;
  color: #aaaaaa;
}
.sep-index .kpi-list p {
  font-size: 16px;
  padding-top: 10px;
  color: #f89c1b;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 479px) {
  .sep-index .kpi-list p {
    font-size: 16px;
  }
}
.sep-index .kpi-list p.metric {
  font-size: 18px;
  color: #333333;
}
@media (min-width: 1167px) {
  .sep-index .training {
    white-space: nowrap;
  }
}
.sep-index .card-header {
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  /*overflow:hidden;*/
}
.sep-index .card-header .head-right {
  width: 63%;
  text-align: center;
}
@media (min-width: 768px) {
  .sep-index .card-header .head-right {
    width: 35%;
  }
}
@media (min-width: 1167px) {
  .sep-index .card-header .head-right {
    width: 22%;
  }
}
.sep-index .card-header .head-right-details {
  width: 63%;
  text-align: center;
}
@media (min-width: 768px) {
  .sep-index .card-header .head-right-details {
    width: 35%;
  }
}
@media (min-width: 1167px) {
  .sep-index .card-header .head-right-details {
    width: 26%;
  }
}
.sep-index .card-header .inner-row {
  padding: 0 30px 0 20px;
}
@media (max-width: 479px) {
  .sep-index .card-header .inner-row {
    padding-right: 10px;
  }
}
.sep-index .card-header .column {
  background: #00AFD1;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .sep-index .card-header .column {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.sep-index .card-header .input-group {
  width: 30%;
}
@media (max-width: 479px) {
  .sep-index .card-header .input-group {
    width: 100%;
  }
}
.sep-index .card-header .input-group input.filter {
  /*height: 24px;*/
  min-width: 200px;
  border-color: #cccccc;
  border-radius: 4px;
}
.sep-index .card-header .input-group input.filter.has-text {
  border-radius: 4px 0 0 4px;
}
.sep-index .card-header h5 {
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
}
.sep-index .card-header p {
  font-size: 12px;
  line-height: 35px;
  text-transform: uppercase;
}
.sep-index .card-header input {
  border-radius: 4px;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  min-width: 200px;
}
.sep-index .date-picker-boxborder {
  background-color: #f5f5f5;
  padding: 20px 20px 0 20px;
}
@media (min-width: 1167px) {
  .sep-index .date-picker-boxborder {
    position: relative;
    top: -44px;
    margin-right: 30px;
  }
}
.sep-index .custom-monthly-picker {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .sep-index .custom-monthly-picker {
    padding-left: 0;
    padding-right: 0;
  }
}
.sep-index .custom-monthly-picker .monthly-date-picker {
  position: relative;
  float: left;
  width: 100%;
  top: 0;
  right: 0;
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
  color: #00afd1;
  font-weight: 600;
  font-size: 14px;
}
.sep-index .custom-monthly-picker .monthly-date-picker a {
  background-color: #ffffff;
  color: #00afd1;
  outline: 0;
}
.sep-index .custom-monthly-picker .monthly-date-picker span {
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 320px) {
  .sep-index .custom-monthly-picker .monthly-date-picker span {
    padding-left: 0;
    padding-right: 0;
  }
}
.sep-index .background-style {
  background-color: #f5f5f5;
  padding-bottom: 10px;
}
@media (min-width: 991px) {
  .sep-index .background-style {
    background-color: #ffffff;
    padding-bottom: 0;
  }
}

.sep-entry .panel {
  margin: 0 -20px;
  overflow: hidden;
}
@media (max-width: 479px) {
  .sep-entry .panel {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .sep-entry .panel .panel-body-more {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.sep-entry .report-card-v {
  padding: 10px 30px 10px 10px;
}
@media (min-width: 768px) {
  .sep-entry .report-card-v {
    padding: 10px 15px 10px 5px;
  }
}
.sep-entry .monthly-picker-div {
  background-color: #f5f5f5;
  padding: 15px 40px;
}
.sep-entry .monthly-picker-div .icon-style {
  color: #8c8f92;
  font-weight: 600;
}
@media (min-width: 991px) {
  .sep-entry .monthly-picker-div {
    padding: 15px 15px;
  }
}
@media (min-width: 1167px) {
  .sep-entry .monthly-picker-div {
    right: 24px;
    position: relative;
  }
}
.sep-entry .monthly-picker-div .custom-monthly-picker {
  border: 1px #ccc;
  border-radius: 4px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1167px) {
  .sep-entry .monthly-picker-div .custom-monthly-picker {
    margin-left: 40px;
  }
}
.sep-entry .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
  border: 1px solid #ddd;
  line-height: 45px;
  height: 47px;
  width: 100%;
  font-size: 12px;
}
@media (min-width: 991px) {
  .sep-entry .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    width: 80%;
    font-size: 14px;
  }
}
@media (min-width: 1167px) {
  .sep-entry .monthly-picker-div .custom-monthly-picker .monthly-date-picker {
    width: 266px;
    font-size: 14px;
  }
}
.sep-entry .monthly-picker-div .custom-monthly-picker .monthly-date-picker .prev-month {
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}
.sep-entry .monthly-picker-div .custom-monthly-picker .monthly-date-picker .next-month {
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}
.sep-entry .sub-head {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.sep-entry .print-card-btn {
  margin: -20px 0 20px 0 !important;
  padding-right: 10px !important;
  border-bottom: none !important;
}
.sep-entry .print-card-btn .entry-btn-print {
  padding: 10px 91px;
}
.sep-entry .print-card-btn .print-dropdown {
  margin-right: 30px;
  padding: 5px 30px;
}
.sep-entry .mobile-tabs-wrap {
  border-top: 1px solid #e4e4e4;
  padding: 10px 0;
}
.sep-entry .mobile-tabs-wrap .tab-1 {
  border-right: 1px solid #e4e4e4;
}
@media (max-width: 479px) {
  .sep-entry .mobile-tabs-wrap .tab {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .sep-entry .mobile-tabs-wrap .tab {
    width: 140px;
  }
}
.sep-entry .mobile-tabs-wrap .tab .icon-style {
  font-size: 35px;
  color: #e5e5e5;
  padding-top: 15px;
}
@media (min-width: 991px) {
  .sep-entry .mobile-tabs-wrap .tab .icon-style {
    font-size: 75px;
    padding-top: 0;
  }
}
.sep-entry .mobile-tabs-wrap .tab .bonus-data {
  padding: 5px 5px 10px 7px;
}
@media (max-width: 479px) {
  .sep-entry .mobile-tabs-wrap .tab .bonus-data {
    width: 100px;
  }
}
@media (min-width: 991px) {
  .sep-entry .mobile-tabs-wrap .tab .bonus-data {
    padding: 5px 10px 10px 10px;
  }
}
.sep-entry .mobile-tabs-wrap .tab .bonus-data .amount {
  font-size: 20px;
  font-weight: normal;
  color: #48c101;
}
@media (min-width: 991px) {
  .sep-entry .mobile-tabs-wrap .tab .bonus-data .amount {
    font-size: 40px;
  }
}
.sep-entry .mobile-tabs-wrap .tab .bonus-data .amount-title {
  width: 100px;
  text-transform: capitalize;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
}
@media (min-width: 991px) {
  .sep-entry .mobile-tabs-wrap .tab .bonus-data .amount-title {
    font-size: 14px;
  }
}
.sep-entry .mobile-tabs-wrap .tab .bonus-title {
  padding: 15px 10px;
  width: 100px;
}
@media (min-width: 991px) {
  .sep-entry .mobile-tabs-wrap .tab .bonus-title {
    width: 135px;
  }
}
.sep-entry .mobile-tabs-wrap .tab .bonus-title .amount-title {
  text-transform: capitalize;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
}
@media (min-width: 991px) {
  .sep-entry .mobile-tabs-wrap .tab .bonus-title .amount-title {
    font-size: 14px;
  }
}
.sep-entry .custom-monthly-picker {
  border-top: 1px solid #e4e4e4;
}
@media (min-width: 991px) {
  .sep-entry .custom-monthly-picker {
    padding: 20px 0;
  }
}
.sep-entry .custom-monthly-picker .monthly-date-picker {
  width: 100%;
  position: relative;
  top: 0;
  /*right: 20px;*/
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
  color: #00afd1;
  font-weight: bold;
  font-size: 14px;
}
@media (min-width: 991px) {
  .sep-entry .custom-monthly-picker .monthly-date-picker {
    font-size: 16px;
  }
}
@media (min-width: 1167px) {
  .sep-entry .custom-monthly-picker .monthly-date-picker {
    width: 240px;
  }
}
.sep-entry .custom-monthly-picker .monthly-date-picker a {
  background-color: #ffffff;
  color: #00afd1;
  outline: 0;
}
.sep-entry .emp-profile-padding {
  padding-top: 15px !important;
}
.sep-entry .emp-profile-wgt {
  padding: 0;
}
.sep-entry .emp-profile-wgt .se-circle-img {
  margin-top: 10px !important;
  padding: 0;
}
@media (max-width: 479px) {
  .sep-entry .update-date {
    padding-top: 15px;
    font-size: 13px;
  }
}
.sep-entry .save {
  border-top: none !important;
  padding: 10px 20px !important;
}
@media (min-width: 991px) {
  .sep-entry .save {
    padding: 106px 10px 0 10px !important;
  }
}
.sep-entry .save .btn-save {
  width: 100%;
  background-color: #00AFD1;
  color: #ffffff;
  padding: 10px 20px;
}
@media (min-width: 991px) {
  .sep-entry .save .btn-save {
    width: 145px;
  }
}

.save {
  border-top: none !important;
  padding: 10px 20px !important;
}
@media (min-width: 768px) {
  .save {
    padding: 10px 0 !important;
  }
}
.save .btn-save {
  background-color: #9FC62D;
  color: #ffffff;
}

.entry-disabled .report-card-v .btn-group:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  z-index: 9999;
}

.employee .emp-details .emp-result {
  width: 90px;
  font-size: 12px;
  margin: 3px 0 0;
  text-align: center;
  color: #ffffff !important;
  padding: 2px 5px;
  border-radius: 2px;
}

.export-style {
  margin-top: 8px;
  position: relative;
  top: 4px;
}

@media only screen and (min-width: 990px) {
  .report-card-v.hide-phone, .hide-e-phone {
    display: block;
  }

  .report-card-v p, .report-card-v em, .report-card-v h4 {
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 15px;
    font-size: 13px;
    color: #9e9e9e;
  }
}
.empty-msg {
  color: #9e9e9e;
  padding: 20px 0;
}

.btn-print {
  border: 1px solid;
  background: #00afd1;
  color: #fff;
  border-color: #00afd1;
  padding: 10px 20px;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
}

.emp-profile-padding {
  padding-left: 15px;
}
@media (min-width: 768px) {
  .emp-profile-padding {
    padding-left: 30px;
  }
}

.se-circle-img {
  width: 70px;
  height: 70px;
  /*position: absolute;*/
  border-radius: 50%;
  border: 3px solid #aaa;
  overflow: hidden;
}
.se-circle-img img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .se-circle-img {
    width: 90px;
    height: 90px;
  }
}

.row-details-emp {
  color: #00afd1 !important;
  font-size: 15px !important;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .row-details-emp {
    font-size: 20px !important;
  }
}

.padding-r {
  padding-right: 30px;
}

.panel-body-more {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 768px) {
  .panel-body-more {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

.angle-right-style {
  font-size: 22px !important;
  padding-top: 10px !important;
  color: gray;
  font-size: 22px !important;
  padding-top: 10px !important;
  color: gray;
  cursor: pointer;
}

.disabled {
  color: #aaaaaa !important;
  cursor: default;
}

.overal-comment-block {
  border-top: 1px solid #e4e4e4;
  padding: 15px 25px;
}
.overal-comment-block .input {
  min-height: 120px !important;
}
@media (min-width: 768px) {
  .overal-comment-block {
    padding: 15px 0;
  }
}
.overal-comment-block .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #F99D00;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.padding-t-10 {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .padding-t-10 {
    padding-top: 0;
  }
}

.padding-t-4 {
  padding-top: 4px;
}

.complaint-details {
  padding: 30px 15px;
  border-radius: 4px;
  border-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
}
.complaint-details .complaint-item {
  color: #2f2930;
}
.complaint-details .complaint-item-style {
  padding-bottom: 8px;
}
.complaint-details .average-score {
  display: block;
  color: #2f2930 !important;
  border-top: 1px solid #f5f5f5;
  padding-top: 10px;
}

.subHeading {
  color: #00afd1 !important;
  padding: 10px 0 0 0;
}

.mobile-issuetype-btn {
  /*width:100%;*/
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px !important;
  color: #00afd1;
 /*@include screen('mobile') {
	  width: auto;
	}*/
}
@media (max-width: 479px) {
  .mobile-issuetype-btn {
    font-size: 11px;
  }
}

.padding-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.lightbox-content {
  padding-top: 0 !important;
}

.btn-black {
  background-color: #2f2930;
  color: #ffffff !important;
  font-weight: bold;
}
@media (max-width: 479px) {
  .btn-black {
    padding: 15px 12px;
  }
}

.btn-grey {
  background-color: #8c8f92;
  color: #ffffff !important;
  font-weight: bold;
}
@media (max-width: 479px) {
  .btn-grey {
    margin-right: 10px;
    padding: 15px 12px;
  }
}

.label-font {
  color: #00afd1 !important;
}

.file-upload-wrap {
  width: 300px;
  margin-top: 20px;
}
.file-upload-wrap .file-upload {
  margin: 10px 0 0 5px;
  border: 1px solid #e8e8e8;
  width: 110px;
  padding: 20px 10px 10px 10px;
  height: 90px;
  color: #00AFD1;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: #b5dbe8;
  cursor: pointer;
  float: left;
}
.file-upload-wrap .file-upload i {
  font-size: 30px;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.remove-lr-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.remove-l-padding {
  padding-left: 0 !important;
}

.margin-rb-5 {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}

.margin-l-5 {
  margin-left: 5px !important;
}

.remove-top-padding-margin {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.personnel .popup-subheading {
  color: #F99D00 !important;
  font-size: 16px;
  font-weight: 600;
}
.personnel .btn-grey {
  background-color: #2f2930;
}
.personnel .btn-black {
  background-color: #9FC62D;
}
.personnel .add-file {
  color: #ffffff;
}

/*# sourceMappingURL=service-excellence.css.map */
