﻿@import "../Common/_globals";


.trans-card-reports-wrap {
	[class*="col"] {
		padding: 0;
	}
}


.height-align{
    padding-top: 13px;
    padding-bottom: 13px;
}

.number-align{
    @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait) {
          margin-top: 13px !important;
        }
}


.trans-table td:hover {
	cursor: pointer;
}

.trans-profile {
	position: relative;
	float: left;

	h4 {
		float: left;
		clear: right;
		font-size: 22px;
		margin: 10px 0 0 0;
	}

	> p {
		clear: both;
		padding-top: 2px;
		font-size: 16px;
	}

	.btn {
		padding: 4px 22px;
		margin-top: 16px;
	}

	.show-profile i, .close-popup-Profile i {
		top: 10px;
		line-height: 30px;
		width: 30px;
		height: 30px;
	}
}

.back-report-cards {
	height: 100%;
	font-size: 18px;
	position: absolute;
	padding: 5px;
	/* height: 100%; */
	z-index: 1;
	left: -4px;
	top: -1px;
	line-height: 72px;
}

.trans-profile-img {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin-right: 10px;
	overflow: hidden;
	float: left;

	img {
		width: 100%;
	}
}

.popup-profile .trans-profile {
	margin-bottom: 30px;
}

.trans-profile-chart {
	float: left;

	.circle-chart {
		margin: 0;
		margin-right: 20px;
	}
}

.trans-profile-chart-wrap {
	h4 {
		font-size: 18px;
		margin: 0;
		padding-top: 10px;
	}

	hr {
		margin: 5px 0;
		max-width: 200px;
	}
}

.trans-table-title-well {
	border-radius: 5px 5px 0 0;
}

.trans-tables {
	margin-top: 0 !important;
	padding: 0;
}

.trans-back-active {
	padding-left: 25px;
	padding-left: 10px;

	.back-report-cards {
		/*left: -19px;
	  top: 0;
	  line-height: 90px;*/
	}
}

.trans-charts-db .legends {
	padding-top: 30px;

	a, p {
		padding: 5px 0;
		display: block;
	}

	a {
		color: inherit;
	}
}

.report-card-v {
	text-align: left;
	position: relative;
	height: 50px;
	padding: 10px 30px 10px 20px;
	margin-top: -1px;
	margin-left: -1px;
	border-top: 1px solid #e4e4e4;
	margin-right: -1px;
	min-height: 80px;

	@include breakpoint(mobilephone) {
		height: 64px;
		min-height: 60px;

		.col-md-4 {
			padding-left: 0 !important;
		}
	}
	@include breakpoint (tablet){
		padding: 10px 15px 10px 5px;
	}

	.clicker {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 80px;
		cursor:pointer;
		 @include breakpoint(mobilephone){
			 
		min-height: 60px;
		 }
		z-index: 5;
	}

	.meta-item {
		font-size: 15px;
		@include breakpoint(mobilephone){
			padding-left:0;
		}

		&:nth-child(2):before{
			@include breakpoint(desktop){
			content: "|";
			padding-left: 14px;
			padding-right: 7px;
		}
	}
	}

	p {
		font-size: 16px;

		@include breakpoint(laptop) {
			padding: 0;
			margin: 0;
			float: left;
			padding-top: 15px;
		}
	}
	@media screen and (max-width: 480px) {
		 .mobile-padding-left-se{
			 padding-left:0;
		}
	 }
	.report-card-ad {
		height: 300px;

		@include breakpoint(mobilephone) {
			height: 180px;
		}

		.sub-kpis {
			margin-bottom: 20px;
		}

		.radio-wrap {
			label {
				font-size: 16px;
				padding-left: 30px;
				padding-top: 2px;
				margin: 5px 0;
				color: #6E6E6E;
				font-weight: 400;

				&:after {
					font-size: 26px;
				}
			}

			input:checked + label:after {
				color: #e14d3c;
			}
		}
	}

	.eva-btns {
		z-index:10;
		position:relative;

		.eva-btn {
			width: 40px;
			height: 40px;
			display: block;
			float: left;
			margin: 2px 5px;
			text-align: center;
			line-height: 40px;
			border-radius: 50% !important;
			border: 2px solid #e4e4e4;
			color: #aaaaaa;
			padding: 0;
			background: none;
			transition: all 0.3s;

			@include breakpoint(mobilephone) {
				margin-top: 0 !important;
			}

			&:focus {
				width: 40px;
				height: 40px;
				display: block;
				float: left;
				margin: 2px 5px;
				text-align: center;
				line-height: 40px;
				border-radius: 50% !important;
				border: 2px solid #e4e4e4;
				color: #aaaaaa;
				padding: 0;
				background: none;
				transition: all 0.3s;
			}

			i {
				line-height: 40px;
				float: none;
				font-size: 16px;
			}



			&.active:first-child {
				background: #e14d3c;
				color: #ffffff;
				border: 2px solid #e14d3c;
			}

			&.eva-pass.active {
				background: #40aa58;
				color: #ffffff;
				border: 2px solid #40aa58;
				box-shadow: none;
			}
		}
	}



	.toggle-button {
		span.btn {
			line-height: 39px;
			color: $base-dark;
			width: 11px;

			@include breakpoint(mobilephone) {
				line-height: 30px;
			}

			&:hover, &:active {
				box-shadow: none;
			}
		}
	}

	.card-icon-wrap {
		float: left;
		position: relative;
		padding: 0;
		padding-left: 8px;

		i {
			color: $base-dark;
		}

		@include breakpoint(mobilephone) {
			max-width: 40px;
		}
	}

	i {
		padding-top: 3px;
		font-size: 35px;
		float: left;
		position: relative;


		@include breakpoint(mobilephone) {
			font-size: 26px;
		}
	}

	.card-point {
		padding: 2px 6px;
		border-radius: 25px;
		font-size: 12px;
		position: absolute;
		bottom: -18px;
		right: -8px;
		width: 40px;
		text-align: center;
		background: #cacaca;
	}

	&.fail, &.pass {
		height: auto;

		.fail-reason, .pass-reason {
			display: block;
		}
	}

	.emp-result {
		width: 90px;
		font-size: 12px;
		margin-top: 3px;
		text-align: center;
		padding: 3px 5px;
		border-radius: 2px;
		color: #fff;
	}

	.toggle-block {
		display: none;
	}

	.fail-reason, .pass-reason {
		display: none;
		padding: 15px;
		clear: both;

		.training {
			padding: 10px 25px 20px 25px;
		}

		textarea {
			margin-top: 5px;
			margin-bottom: 10px;
			min-height: 120px;
		}

		.label {
			font-size: 14px;
			color: #aaaaaa;
			padding-left: 0;

			span {
				font-size: 12px;
				padding-left: 10px;
			}
		}

		p.sm {
			font-size: 12px;
			color: #aaaaaa;
		}

		.btn-group {
			margin-top: 5px;

			label {
				width: 140px;
				border-radius: 0;
				margin: 2px 5px;
				font-size: 12px;
				font-weight: 600;

				@include breakpoint(mobilephone) {
					width: 45%;
				}

				&:hover {
					background: lighten($danger, 10%);
					color: $default;
				}

				&.active {
					background: $danger;
					border-color: darken($danger, 5%);
					color: $default;
					box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
				}
			}
		}
	}

	.card-btn {
		@include breakpoint(laptop) {
			margin-top: 10px;
		}

		margin-top: 4px;
		margin-right: 5px;
		margin-left: 5px;
		width: 100px;
	}

	.kpi-custom {
		clear: both;
		padding: 15px 15px 0 15px;

		a {
			cursor: pointer;
		}
	}

	.kpi-name{
		font-size: 12px;
		padding-top: 10px;
		@include breakpoint (desktop){
			font-size: 16px;
		   
}
		color: $warning;
		font-weight: bold;
	}

	.meta-text{
		color: $dark-dark;
		font-weight: 700;
	}

	.pass{
		color: $default;
		font-style: normal;
		display: inline-block;
		padding: 4px 10px;
		border-radius: 8px;
		margin-left: 0;
		margin-bottom: 4px;
		margin-top: 15px;
		font-size: 9px;
		font-weight: bold;
		background-color: $success;
	}

	 .fail{
		color: $default;
		font-style: normal;
		display: inline-block;
		padding: 4px 10px;
		border-radius: 8px;
		margin-left: 0;
		margin-bottom: 4px;
		margin-top: 15px;
		font-size: 9px;
		font-weight: bold;
		background-color: $danger-dark;
	}

	  .tbd{
		color: $default;
		font-style: normal;
		display: inline-block;
		padding: 4px 10px;
		border-radius: 8px;
		margin-left: 0;
		margin-bottom: 4px;
		margin-top: 15px;
		font-size: 9px;
		font-weight: bold;
		background-color: #909090;
	}

	.icon-img{
		overflow: hidden;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border-radius: 50%;
		border: 2px solid $primary;
		margin-top: 15px;
		vertical-align: bottom;
		@include breakpoint (tablet){
			width: 25px;
			height: 25px;
			line-height: 25px;

		}
		 .fa {
			font-size: 11px;
			width: 100%;
			color:$primary;
			font-weight: 700;

					@include breakpoint(tablet) {
						 font-size: 15px;
						width: 100%;
						color:$primary;
						font-weight: 700;
					}
					
	}
	}


   
}

.sep-details{
    padding-left: 0;
    padding-right: 0;
}

.sep-index {
	.dropdown-align{
        position: absolute;
        right: -15px;
        top: 60px;
	}
    .config-align{
        position: absolute;
    }
    .buttons-padding{
        position: relative;
        padding-top: 72px;
    }

    background-color: #fff;
    @include breakpoint(tabletonly){
        background-color: $gray;
    }
   
    .search-padding{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fa-icon-style{
        position: relative;
        font-size: 16px;
        top: 2px;
    }
     .emp-title{
        font-size: 14px !important;
        font-weight: 600;
        color: #999c9e !important;
        display: inline-block;
        border: 1px solid #999c9e;
        padding: 0 5px;
        border-radius: 3px !important;
        margin-left: 0;
        margin-bottom: 4px;
        font-style: normal !important;
        line-height: 24px !important;
   }

    .datepicker-padding{
        padding-top: 10px;
    }

    .monthly-picker-div{
       .icon-style{
           color: $muted-dark;
           font-weight: 600;
       }

        background-color: $gray;
        padding: 15px 19px;
        border-radius: 4px;
        @include breakpoint(desktop){
             right: 2px;
             position: relative;
             margin-top: -60px;
        }
        .custom-monthly-picker{
            border: 1px #ccc;
            border-radius: 4px;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
             @include breakpoint(desktop){
                margin-left: 40px;
                padding:20px 0;
             }
            .monthly-date-picker{
                border: 1px solid #ddd;
                border-radius: 4px;
                line-height: 45px;
                height: 47px;
                width: 100%;
                font-size: 12px;
                @include breakpoint(tablet){
                    width: 80%;
                    font-size: 14px;
                }
                 @include breakpoint(desktop){
                    width: 266px;
                    font-size: 14px;
                }
                .prev-month{
                    border-bottom: 1px solid #ddd;
                    border-radius: 4px;
                }

                .next-month{
                    border-bottom: 1px solid #ddd;
                    border-radius: 4px;
                }
            }
        }
        
    }

  
    
    .sub-head{
	    background-color: $default;
	    padding:0;

        @include breakpoint(tablet){
            padding: 10px 10px;
        }

    }

    .btn-print {
        margin-right: 10px;
    }

    .toggle-filters {
        font-size: 22px;
       
    }
    
   
    .status {

       
        @include breakpoint(desktop){
            position: relative;
            right: 15px;
        }
         @media only screen 
            and (min-width : 768px) 
            and (max-width : 1024px) 
            and (orientation : landscape) {
              position: relative;
              right: 22px;
            }
        margin-top: -2px;
        @include breakpoint(mobilephone){
            margin-left: -58px;
        }
        
        .pass {
            color: #ffffff !important;
            font-style: normal;
            display: inline-block;
            padding: 8px 10px;
            border-radius: 4px;
            margin-left: 0;
            margin-bottom: 4px;
            margin-top: 15px;
            font-size: 10px !important;
            font-weight: bold;
            background-color: #40aa58;
            @include breakpoint(tablet){
                font-size: 12px !important;
            }
        }

        .fail {
            color: #ffffff !important;
            font-style: normal;
            display: inline-block;
            padding: 8px 10px;
            border-radius: 4px;
            margin-left: 0;
            margin-bottom: 4px;
            margin-top: 15px;
            font-size: 10px !important;
            font-weight: bold;
            background-color: #cf383f;
            @include breakpoint(tablet){
                font-size: 12px !important;
            }
        }

        .incomplete {
            color: #ffffff !important;
            font-style: normal;
            display: inline-block;
            padding: 8px 10px;
            border-radius: 4px;
            margin-left: 0;
            margin-bottom: 4px;
            margin-top: 15px;
            font-size: 10px !important;
            font-weight: bold;
            background-color: $muted-dark;
            @include breakpoint(tablet){
                font-size: 12px !important;
            }
        }
    }

	.header {
        border-bottom: 1px solid $gray;
        
		color: $muted-dark;
		text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        display: inline-flex;
        padding-top: 0 !important;

        @include breakpoint (desktop){
            border-top: 1px solid $gray;
        }

        .flex{
            display: flex;
        }

		.filter-left {
			padding-top: 19px;
			border-right: 1px solid $border;
            .clickable {
			&.active, &:hover {
				color: $primary;
                border-bottom: 4px solid black;
                @include breakpoint(tablet){
				    border-bottom: 4px solid black;
                }
			}
		}
		}

		.filter-right {
			padding-top: 19px;
            .clickable {
			&.active, &:hover {
				color: $primary;
				border-bottom: 4px solid black;
			}
		}
		}

        .filter-search{
            margin: auto;
            padding-left: 15px;
            @include breakpoint(desktop){
                padding-left: 30px;
            }
            .search-field{
                width: 100%;

                .enter-section{
                    height: 47px;
                    line-height: 47px;
                }
            }
        }

        .icon-search{
                position: relative;
                z-index: 2;
                color: $primary;
                float: right;
                margin-right: 6px;
                margin-top: -32px;
                font-size: 24px;
            }

		.count {
            font-size: 32px;
			line-height: 33px;
            padding: 20px 0 0;
            @include breakpoint(tablet){
			    font-size: 39px;
			    line-height: 51px;
                padding:0;
            }
			font-weight: 300;
			
		}

		i {
            font-size:33px;
            @include breakpoint(tablet){
			    font-size: 49px;
            }
		}

		p {
			font-size: 12px;
			font-weight: 700;
            padding:5px 0 10px;

            @include breakpoint(tablet){
                padding-top: 10px;
                padding-bottom: 10px;
            }
			
		}

		

        
	}
    .top-header{
        border-bottom: none !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .details {
        margin-top: 15px;
        padding-left: 15px;
        @include breakpoint(mobilephone){
            max-width: 190px;
        }
        @include breakpoint(mobileonly){
            padding-left: 10px;
            max-width: 142px;
        }
    }

    .kpi-list {

        .kpi-row {
            padding: 10px 15px 10px 20px;
            color: #333333;
            margin-top: 0;
            margin-left: -1px;
            border-top: 1px solid #e4e4e4;
            margin-right: -1px;
            min-height: 80px;
            cursor: pointer;
            text-align: left;
            position: relative;

            @include breakpoint(mobilephone) {
				padding: 10px 15px 10px 10px;
		    }

        }

        .card-icon {
            padding-top: 3px;
            font-size: 35px;
            float: left;
            position: relative;
            color: #aaaaaa;
        }

        p {
            font-size: 16px;
            padding-top: 10px;
            color: #f89c1b;
            font-weight: 600;
            font-size: 24px;

            @include breakpoint(mobilephone) {
				font-size: 16px;
		    }

            &.metric {
                font-size: 18px;
                color: #333333;
            }
        }

    }

    .training{
        //border-top: 1px solid $gray;
        @include breakpoint(desktop){
            white-space: nowrap;
        }
    }

     .card-header {

        .head-right{
            width: 63%;
            text-align: center;
            @include breakpoint(tablet){
                width: 35%;
            }
            @include breakpoint(desktop){
                width: 22%;
            }
        }
        .head-right-details{
            width: 63%;
            text-align: center;
            @include breakpoint(tablet){
                width: 35%;
            }
            @include breakpoint(desktop){
                width: 26%;
            }
        }
        color: #fff;
        font-weight: 700;
        font-size: 10px;
        /*overflow:hidden;*/

        .inner-row{
            padding: 0 30px 0 20px;
            @include breakpoint(mobilephone){
                padding-right: 10px;
            }
        }
        .column {
            background: $primary;
            padding-top: 7px;
            padding-bottom: 7px;

            @include breakpoint(tablet){
                padding-top: 15px;
                padding-bottom: 15px;
            }
            padding-left: 20px;
        }

        .input-group {
            width: 30%;

            @include breakpoint(mobilephone) {
                width: 100%;
            }

            input.filter {
                /*height: 24px;*/
                min-width: 200px;
                border-color: rgb(204, 204, 204);
                border-radius: 4px;

                &.has-text {
                    border-radius: 4px 0 0 4px;
                }
            }
        }

        h5 {
            margin-top: 7px;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 14px;
        }

        p{
            font-size: 12px;
            line-height:35px;
            text-transform: uppercase;
        }

        input {
            border-radius: 4px;
            height: 35px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.5;
            min-width: 200px;
        }
    }

     .date-picker-boxborder {
        background-color: #f5f5f5;
        padding: 20px 20px 0 20px;

        @include breakpoint(desktop) {
            position: relative;
            top: -44px;
            margin-right: 30px;
        }
    }
     .custom-monthly-picker {
        @include breakpoint(tablet) {
            padding-left: 0;
            padding-right: 0;
        }

        background-color: $default;
        position: relative;
        z-index: 1;

        .monthly-date-picker {
            position: relative;
            float: left;
            width: 100%;
            top: 0;
            right: 0;
            height: 36px;
            line-height: 36px;
            background-color: $default;
            color: #00afd1;
            font-weight: 600;
            font-size: 14px;
            a {
                background-color: $default;
                color: #00afd1;
                outline: 0;
            }

            span {
                padding-left: 25px;
                padding-right: 25px;

                @include breakpoint(mobileonly) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

     .background-style{
         background-color: $gray;
         padding-bottom: 10px;
         @include breakpoint(laptop){
             background-color: $default;
             padding-bottom: 0;
         }
     }

}

.sep-entry {

    .panel{
         @include breakpoint(mobilephone){
            margin: 0;
        }
         margin: 0 -20px;
         overflow: hidden;

        .panel-body-more{
	        @include breakpoint (tablet){
		        padding-left: 20px !important;
		        padding-right: 20px !important;
	        }
        }
    }
     .report-card-v {
	    padding: 10px 30px 10px 10px;
	    @include breakpoint (tablet){
		    padding: 10px 15px 10px 5px;
	    }
    }
    .monthly-picker-div{
       .icon-style{
           color: $muted-dark;
           font-weight: 600;
       }

        background-color: $gray;
        @include breakpoint(laptop){
             padding: 15px 15px;
        }
        padding: 15px 40px;
        @include breakpoint(desktop){
             right: 24px;
             position: relative;
        }
        .custom-monthly-picker{
            border: 1px #ccc;
            border-radius: 4px;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
             @include breakpoint(desktop){
                margin-left: 40px;
             }
            .monthly-date-picker{
                border: 1px solid #ddd;
                line-height: 45px;
                height: 47px;
                width: 100%;
                font-size: 12px;
                @include breakpoint(laptop){
                    width: 80%;
                    font-size: 14px;
                }
                 @include breakpoint(desktop){
                    width: 266px;
                    font-size: 14px;
                }
                .prev-month{
                    border-bottom: 1px solid #ddd;
                    border-radius: 4px;
                }

                .next-month{
                    border-bottom: 1px solid #ddd;
                    border-radius: 4px;
                }
            }
        }
        
    }


    .sub-head{
	    background-color: $default;
	    border-bottom: 1px solid #eee;
	    padding: 10px 0;
    }
     .print-card-btn{
        margin: -20px 0 20px 0 !important;
        padding-right: 10px !important;
        border-bottom: none !important;

        .entry-btn-print{
            padding:10px 91px;
        }
        .print-dropdown{
            margin-right: 30px;
            padding: 5px 30px;
        }
    }
     .mobile-tabs-wrap{
         border-top: 1px solid #e4e4e4;
         padding: 10px 0;
         .tab-1{
             border-right: 1px solid #e4e4e4; 
         }
         .tab{
              @include breakpoint(mobilephone){
                width:100%;
              }
              @include breakpoint(mobileonly){
                width:140px;
              }
             .icon-style{
                  @include breakpoint(laptop){
                    font-size: 75px;
                    padding-top:0;
                }
                  font-size: 35px;
                  color: #e5e5e5;
                  padding-top:15px;
             }
             .bonus-data{
                  @include breakpoint(mobilephone){
                    width:100px;
                  }
                  @include breakpoint(laptop){
                    padding: 5px 10px 10px 10px;
                }
                   padding: 5px 5px 10px 7px;
                 .amount{
                     @include breakpoint(laptop){
                        font-size: 40px;

                     }
                      
                     font-size: 20px;
                    font-weight: normal;
                    color: #48c101;
                 }
                 .amount-title{
                      @include breakpoint(laptop){
                          font-size: 14px;
                      }
                      width:100px;
                     text-transform:capitalize;
                     color: #aaa;
                     font-size: 10px;
                     font-weight: 600;
                 }
             }
             .bonus-title{
                 padding:15px 10px;
                 width:100px;
                 @include breakpoint(laptop){
                     width:135px;
                }
                 .amount-title{
                      @include breakpoint(laptop){
                          font-size: 14px;
                      }
                     text-transform:capitalize;
                     color: #aaa;
                     font-size: 10px;
                     font-weight: 600;
                 }
             }
         }
     }
    .custom-monthly-picker{
        border-top: 1px solid #e4e4e4;
        @include breakpoint(laptop){
            padding: 20px 0;
        }
        .monthly-date-picker{
            width: 100%;
            position: relative;
            top: 0;
            /*right: 20px;*/
            height: 36px;
            line-height: 36px;
            background-color: $default;
            color: #00afd1;
            font-weight: bold;
            font-size: 14px;
            @include breakpoint(laptop){
                font-size: 16px;
            }
            @include breakpoint (desktop){
                width: 240px;
            }
            a{
                background-color: $default;
                color: #00afd1;
                outline:0;
            }
        }
    }
    .emp-profile-padding {
        padding-top: 15px !important;
    }
    .emp-profile-wgt{
        padding:0;
    .se-circle-img {
        margin-top:10px !important;
            padding:0;
        }

    }
    .update-date{
            @include breakpoint(mobilephone){
                padding-top: 15px;
			font-size: 13px;
		}
        }
    .save{
		border-top: none !important;
		padding: 10px 20px !important;
		@include breakpoint(laptop){
			padding: 106px 10px 0 10px !important;
		}
		.btn-save{
            @include breakpoint(laptop){
			    width: 145px;
		    }
            width:100%;
			background-color: $primary;
			color: $default;
            padding:10px 20px;
		}
	}
}


 .save{
		border-top: none !important;
		padding: 10px 20px !important;
		@include breakpoint(tablet){
			padding: 10px 0 !important;
		}
		.btn-save{
			background-color: $success;
			color: $default;
		}
	}

.entry-disabled .report-card-v .btn-group:before {
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	position: absolute;
	z-index: 9999;
}

.employee {
	.emp-details {
		.emp-result {
			width: 90px;
			font-size: 12px;
			margin: 3px 0 0;
			text-align: center;
			color: $default !important;
			padding: 2px 5px;
			border-radius: 2px;
		}
	}
}

.export-style{
	margin-top: 8px;
    position: relative;
    top: 4px;
	 @include breakpoint(mobile) {
			display: none;
		}
}


@media only screen and (min-width: 990px) {
	.report-card-v.hide-phone, .hide-e-phone {
		display: block;
	}

	.report-card-v p, .report-card-v em, .report-card-v h4 {
		padding: 0;
		margin: 0;
		float: left;
		padding-top: 15px;
		font-size: 13px;
		color: $base-dark;
	}
}

.empty-msg{
	color: $base-dark;
	padding : 20px 0;
}

.btn-print{
	border: 1px solid;
	background: #00afd1;
	color: #fff;
	border-color: #00afd1;
	padding: 10px 20px;
	margin-right: 30px;
	font-size: 14px;
    font-weight:700;
}

.emp-profile-padding{
	padding-left: 15px;
	@include breakpoint (tablet){
		padding-left: 30px;
	}
}

.se-circle-img{
	width: 70px;
	height: 70px;
	/*position: absolute;*/
	border-radius: 50%;
	border: 3px solid #aaa;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
	}

	@include breakpoint (tablet){
		width: 90px;
		height: 90px;
	}

   
}

.row-details-emp{
	color: #00afd1 !important;
	font-size: 15px !important;
	padding-top: 15px;
	@include breakpoint (tablet){
		font-size: 20px !important;
	}
}

.padding-r{
	padding-right: 30px;
}

.panel-body-more{
	padding-left: 0 !important;
	padding-right: 0 !important;
	@include breakpoint (tablet){
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
}

.angle-right-style{
    font-size: 22px !important;
    padding-top: 10px !important;
    color: gray;
	font-size: 22px !important;
	padding-top: 10px !important;
	color: gray;
    cursor: pointer;
}

.disabled{
	color: #aaaaaa !important;
	cursor: default;
}
.overal-comment-block{
	border-top: 1px solid #e4e4e4;
	padding: 15px 25px;
	.input{
		min-height: 120px !important;
	}

	@include breakpoint (tablet){
		padding: 15px 0;
	}

	.label{
		display: inline;
		padding: .2em .6em .3em;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		color: $warning;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
	}
}

.padding-t-10{
	padding-top: 10px;
	 @include breakpoint (tablet){
		padding-top: 0;
	}

}

.padding-t-4{
	padding-top: 4px;
	@include breakpoint (tablet){
		
	}
}

.complaint-details{
	padding: 30px 15px;
	border-radius: 4px;
	border-color: #f5f5f5;
	border: 1px solid #f5f5f5;
    background: $gray;
	.complaint-item{
		color: $dark-dark;
	}
	.complaint-item-style{
		 padding-bottom: 8px;
	}
	.average-score{
		display: block;
		color: $dark-dark !important;
		border-top: 1px solid #f5f5f5;
		padding-top: 10px;
	}

}


// modal pop-up
 .subHeading{
		color: #00afd1 !important;
		padding: 10px 0 0 0;
	}

 .mobile-issuetype-btn{
	/*width:100%;*/
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 4px !important;
	color: #00afd1;
	@include breakpoint(mobilephone){
		font-size: 11px;
	}
	 /*@include screen('mobile') {
		  width: auto;
		}*/

}
 .padding-bottom-5{
	margin-bottom: 5px;
}
 .margin-bottom-0{
	margin-bottom: 0 !important;
}

 .lightbox-content{
	 padding-top: 0!important;     
 }
 .btn-black{
	background-color:$dark-dark;
	color: $default !important;
	font-weight:bold;
	@include breakpoint(mobilephone) {
		padding: 15px 12px;
	}
}
 .btn-grey{
	background-color : $muted-dark;
	color: $default !important;
	font-weight:bold;
	@include breakpoint(mobilephone) {
		margin-right: 10px;
		padding: 15px 12px;
	}

}

 .label-font{
	color: #00afd1 !important;
}

 .file-upload-wrap{
	width:300px;
	margin-top:20px;

	.file-upload{
	margin:10px 0 0 5px;
	border: 1px solid $border;
	width: 110px;
	padding: 20px 10px 10px 10px;
	height: 90px;
	color: $primary;
	text-align:center;
	font-weight:bold;
	border-radius:5px;
	background-color: #b5dbe8;
	cursor:pointer;
	float: left;
	i{
			font-size:30px;
		}
	}

}

.margin-right-5{
	margin-right: 5px !important;
}

.remove-lr-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.remove-l-padding{
	padding-left: 0 !important;
}

.margin-rb-5{
	margin-right: 5px !important;
	margin-bottom: 5px!important;
}

.margin-l-5{
	margin-left: 5px !important;
}

.remove-top-padding-margin{
	padding-top: 0!important;
	margin-top: 0!important;
}

.personnel{

	.popup-subheading{
		color: $warning !important;
        font-size: 16px;
        font-weight: 600;
	}

	.btn-grey{
		background-color: $dark-dark;
	}

	.btn-black{
		background-color: $success;
	}

	.add-file{
		color: $default;
	}
}