﻿@import '../Common/_globals';

.transcript {
    
    /* NEW */
    *:focus {
        outline: none;
    }
    .transcript-container{
       
        background-color: $default;
       .title-profile {
           background-color: $default;

           .my-profile-header {
               padding: 10px 10px 0px 10px;
           }

       }

       .title-container {
            text-align: center;
            text-transform: uppercase;
            background-color: $default;

            .stats{
                border: 1px solid $border;
                border-radius: 4px;
                width: 80%;

                .title{
                    border-bottom: 1px solid $border;
                    padding: 5px 0 0 0;
                    .text{
                        color: $dark;
                        font-weight: 700;
                    }
                    .active{
                        color: $primary;
                        border-bottom: 2px solid $primary;
                        padding-bottom: 5px;
                    }
                    
                }
            }

            .title-bar {
                border-top: 2px solid $primary;
            
                h4 {
                    color: $primary;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 20px;
                    margin: 0;
                }
            }
            .filter-bar {
                background-color: $gray;

                .filter-container {
                    padding: 10px;

                    select {
                        width: 100%;
                    }

                    @media (min-width: 991px) {
                        p {
                            text-align: right;
                            padding-top: 10px;
                        }
                    }

                    @include breakpoint(mobilephone) {
                        .title-col {
                            padding-right: 0;
                        }
                        p {
                            font-size: 10px;
                            padding-top: 13px;
                        }
                    }
                }
            }
        }

       .transcript-stats{
            background-color: $default;
            padding-bottom: 15px;
            padding-top: 15px;

            i {
                font-size: 18px;
                padding-right: 5px;
            }

            h3 {
                font-size: 22px;
                padding-bottom: 0;
                margin-bottom: 0;
                white-space: nowrap;
            }

            p {
                font-size: 12px;
                font-weight: 700;
            }
            
            @media (min-width: 991px) {
                width: 33%;
                margin: 0 auto;
            }

            @include breakpoint(mobilephone) {

                h3 {
                    font-size: 14px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                i {
                    font-size: 14px;
                    padding-right: 3px;
                }

                p {
                    font-size: 10px; 
                }
            }

            .table-head{
                background-color: $default;
                color: $warning !important;
                font-size: 16px;
                padding-left: 30px;
                font-weight: 600;
                line-height: 18px;
                @include breakpoint(tablet){
                      font-size: 18px;
                      line-height: 22px;
                      padding-left: 20px;
                }
            }

            


        }

    }

    .filter-container {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: $dark;
        padding-top: 25px;

        .filter {
            padding-left: 15px;
            .filter-outer{
                border: 1px solid $border;
                padding: 5px 10px;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 5px;
                .act-btns{
                    color: $primary;
                    font-size: 1.6em;
                }
            }
            span {
                padding-right: 5px;
            }

        }

        @media (min-width: 991px) {
            padding-top: 5px;
        }

    }

    .large-select {
        color: $dark-dark;
        font-size: 16px;
        font-weight: 300;
        height: 40px;
        border: 1px solid $border;
        border-radius: 4px;
        min-width: 200px;
        width: inherit;
        display: initial;
    }

    .colum-header {
        color: $dark;
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        margin-top: 10px;
    }

    .colum-data {
        color: $muted;
        font-size: 14px;
        font-weight: 600;

        .complete {
            color: $success;
        }

        .past-due {
            color: $danger;
        }

    }

    .pagination{
        margin: 0 15px 30px 15px;
    }

    .list-container {
        @media (min-width: 991px) {
            padding-top: 30px;
        }
    }

    .list {

        margin: 0px 10px 0 10px;
        
        @media (min-width: 991px) {
            padding: 0px 20px 0px 20px;
        }
        @include breakpoint(mobilephone) {
            background-color: $default;
        }

        .row {
            background-color: $default;
        }

        .list-header {
            border: 1px solid $border;

            h3 {
                font-size: 22px;
                color: $dark-dark;
                font-weight: 300;
                margin: 15px 10px 15px 10px
            }

            @include breakpoint(mobilephone) {
                h3 {
                    font-size: 18px;
                }
            }
            @media (min-width: 991px) {
                padding: 5px;
            }

            .mobile-filters {
                color: $primary;
                padding-top: 15px;
                padding-right: 5px;
                font-size: 18px;
                position: relative;

                i {
                    padding-right: 15px;
                }

            }
        }
    }

    .course-row {

        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid $border;
        padding: 15px;
        font-size: 12px;
        font-weight: 300;
        @include breakpoint(mobilephone){
            padding-left: 25px;
        }
        @include breakpoint(mobileonly){
            padding-left: 15px;
        }
        @include breakpoint(tablet){
            padding-left: 25px;
        }
        @include breakpoint(desktop){
            padding-left: 15px;
        }
        .featured-image {
            width: 120px;

            @include breakpoint(mobilephone) {
                width: 95px;
            }
        }

        h4 {
            color: $primary;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;

            @include breakpoint(mobilephone) {
                margin: 0;
                font-size: 12px;
                line-height: 1.8em;
            }
        }

        .details {
            color: $dark-dark;
            font-weight: 400;
            span {
                padding-left: 5px;
                color: $dark-dark;
            }

            .views {
                i {
                    color: $dark-dark;
                    font-size: 10px;
                }
            }
        }

        .inprogress {
            color: $muted;
            font-size: 14px;
            font-weight: 600;
        }

        .completed {
            color: $success;
            font-size: 14px;
            font-weight: 600;
        }

        .due {
            color: $danger;
            font-size: 14px;
            font-weight: 600;
        }

        .failing {
            color: $danger;
        }

        .incomplete {
            color: $muted;
            font-weight: 600;
        }

        .complete {
            color: $success;
            font-weight: 600;
        }

        .status-icon {

            i {
                font-size: 32px;
                padding-left: 10px;
                padding-top: 15px;
            }
            
        }

        .dropdown {
            margin-top: -25px;
        }

        .action-btn {
            padding: 3px 6px 0px 6px;
            border: 1px solid $muted;
            border-radius: 50%;
        }

        .action {
            color: $muted;
            font-size: 32px;

            @media (min-width: 991px) {
                font-size: 18px;
            }

            @include breakpoint(mobilephone) {
                padding-left: 3px;
                font-size: 32px;
            }

        }

        .dropdown-menu {
            right: 0;
            left: auto;
            cursor: pointer;
        }

        .remove {
            color: $muted;
            text-transform: uppercase;
            padding-left: 0;
            padding-top: 3px;

            i {
                padding-left: 5px;
                font-size: 20px;
            }

            @media (min-width: 991px) {
                i {
                    font-size: 16px;
                    padding-right: 5px;
                    vertical-align: top;
                }
                span {
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }

        .acknowledge {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .stats-mobile {
           
            margin: 10px 0px 10px 0px;
            font-size: 11px;
            background-color: $gray;

            .stats-container {
                border-radius: 4px;
            }

            .row {
                background-color: $gray;
            }

            .action-mobile {
                padding-top: 20px;
                padding-left: 10px
            }

            span {
                width: 100px;
                font-size: 11px;
            }

            .stat-title {
                font-weight: 400;
                font-style: italic;
            }

            .stats-mobile-header {
                border-right: 1px solid $border; 
                border-bottom: 1px solid $border; 
                padding-bottom: 10px;
                padding-top: 10px;
            }

            .stats-mobile-footer {
                border-right: 1px solid $border; 
                padding-top: 10px;
                padding-bottom: 10px;
            }

        }

    }

    .empty {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        
        .link{
            font-weight: 600;
            text-decoration: underline;
            color: $dark-dark;
        }
        @include breakpoint(tablet){
            width: 50%;
            margin: 0 auto;
        }
        @include breakpoint(desktop){
            width: 33%;
            margin: 0 auto;
        }
        .input-group {
            max-width: 200px;
            margin: 0 auto;
            height: 40px;

            .input-group-addon {
                background-color: $primary;
                border-right: 1px solid $primary;
                color: #fff;
                border: 1px solid transparent;
            }
            .btn {
                color: #fff;
                background-color: $primary;
                font-size: 12px;
                font-weight: 600;
                padding-top: 10px;
                height: 40px;

            }
        }

        h3 {
            font-size: 16px;
            margin-top: 15px;
            font-weight: 600;
        }

        p {
            padding-bottom: 20px;
        }
        
        .round {
            width: 100px;
            height: 78px;
            margin: 0 auto;
            background-image: url(/Content/img/empty_transcript.svg);
            @include breakpoint(mobilephone) {
                width: 75px;
                height: 58px;
            }

            i {
                font-size: 52px;
                padding-top: 25px;
                color: $muted;
                @include breakpoint(mobilephone) {
                    font-size: 42px;
                    padding-top: 17px;
                }
            }
        }

    }

    

    /* END NEW */






    .page-heading{
        padding-top: 0;
    }
    .page-content{
        background: $gray;
    }
    .stats {

        p {
            @include breakpoint(mobilephone) {
                line-height: 14px;
            }
        }
        h1 {
            font-size: 30px;

            icon {
                padding-right: 5px;
                font-size: 22px;

            }
        }

        .sub-title{
            text-transform: none;
            font-weight: 400;
            text-align: left;
            font-size: 14px;
            font-style: italic;
            padding-bottom: 15px;
            white-space: normal;
            line-height: 20px;

            @include breakpoint(mobilephone){
                padding-left: 10px;
                padding-bottom: 30px;
            }
        }
    }

    .stats-div{
        @include breakpoint(mobilephone){
            border-left: none;
        }
        @include breakpoint(tablet){
            padding-left: 5px;
            padding-right: 5px; 
        }
    }

    .no-left-border{
        border-left: none !important;
    }

 

    .myconfig-circle-img{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 4px solid $gray;
        overflow: hidden;

        @include breakpoint(mobilephone){
            height: 100px;
            width: 100px;
        }
        img{
            width: 100%;
        }
    }

    .course-cards{
        .course-card{
            height:215px;

            color: $dark-dark;

            .panel-heading{
                padding-bottom: 20px;
            }
            .panel-body{
                padding-right: 5px;
            }
            h4 {
                font-size: 16px;
                font-weight: 600;
                color: $primary;
                margin-bottom: 0;
                padding-bottom: 10px;
            }

            strong {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
            }

            em {
                font-size: 14px;
                font-weight: 400;
                font-style: italic;

            }

            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                padding-bottom: 15px;
                color: $dark-dark;
            }

        }
    }

    .completed {
        color:$success;
        font-weight: 600;
    }

    .not-completed {
        color: $danger;
        font-weight: 600;
    }

    .pending {
        color: $primary-dark;
        font-weight: 600;
    }

    .display-details{
        @include breakpoint(mobilephone){
            display: flex !important;
            padding-left: 0;
        }
        /*@include breakpoint(desktop){
            width: 20%;
        }*/
    }
    .emp-details{
        padding-left: 15px;
        padding-top: 10px;
        @include breakpoint(mobilephone){
            margin: auto 0;
            width: 64%;
            padding-top: 0;
        }
        @include breakpoint(tablet){
            width: 56%;
        }
        .emp-name{
            color: #00aed0;
            font-size: 16px;
            font-weight: 600;
            word-wrap: break-word;
            line-height: 17px;
        }

        .job-desc{
            font-size: 14px;
            font-style: italic;
            font-weight: 600;
            line-height: 25px;
        }

        .hire-date{
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 20px;
        }
    }
}
