@charset "UTF-8";
.text-finance {
  color: #1AAAA5 !important;
}

.text-accounts-payable {
  color: #06467C !important;
}

.text-operations {
  color: #403841 !important;
}

.text-benefits {
  color: #B5BD32 !important;
}

.text-human-resources {
  color: #CA3471 !important;
}

.text-hr {
  color: #CA3471 !important;
}

.text-new-biz-dev-finance {
  color: #F26130 !important;
}

.text-it {
  color: #1690C3 !important;
}

.text-accounts-receiveable {
  color: #158c88 !important;
}

.text-recruiting {
  color: #053B69 !important;
}

.text-ehs {
  color: #00AFD1 !important;
}

.text-gmp {
  color: #A6AD2E !important;
}

.text-payroll {
  color: #90114e !important;
}

.text-ceo {
  color: #D6562A !important;
}

.text-transitions {
  color: #137CA8 !important;
}

.text-procurement {
  color: #009DBC !important;
}

.text-general {
  color: #999c9e !important;
}

.text-training {
  color: #00AFD1 !important;
}

.text-survey {
  color: #9FC62D !important;
}

.text-audit {
  color: #CA3471 !important;
}

.text-report-it {
  color: #053B69 !important;
}

.text-ownership {
  color: #053B69 !important;
}

.text-todo {
  color: #1AAAA5 !important;
}

.text-to-do {
  color: #1AAAA5 !important;
}

.text-workorder {
  color: #E79200 !important;
}

.text-complaints {
  color: #F26130 !important;
}

.text-compliments {
  color: #06467C !important;
}

.text-sticky {
  color: #F99D00 !important;
}

.bg-finance {
  background-color: #1AAAA5 !important;
}

.bg-accounts-payable {
  background-color: #06467C !important;
}

.bg-operations {
  background-color: #403841 !important;
}

.bg-benefits {
  background-color: #B5BD32 !important;
}

.bg-human-resources {
  background-color: #CA3471 !important;
}

.bg-hr {
  background-color: #CA3471 !important;
}

.bg-new-biz-dev-finance {
  background-color: #F26130 !important;
}

.bg-it {
  background-color: #1690C3 !important;
}

.bg-accounts-receiveable {
  background-color: #158c88 !important;
}

.bg-recruiting {
  background-color: #053B69 !important;
}

.bg-ehs {
  background-color: #00AFD1 !important;
}

.bg-gmp {
  background-color: #A6AD2E !important;
}

.bg-payroll {
  background-color: #90114e !important;
}

.bg-ceo {
  background-color: #D6562A !important;
}

.bg-transitions {
  background-color: #137CA8 !important;
}

.bg-procurement {
  background-color: #009DBC !important;
}

.bg-general {
  background-color: #999c9e !important;
}

.bg-training {
  background-color: #00AFD1 !important;
}

.bg-survey {
  background-color: #9FC62D !important;
}

.bg-audit {
  background-color: #CA3471 !important;
}

.bg-report-it {
  background-color: #053B69 !important;
}

.bg-ownership {
  background-color: #053B69 !important;
}

.bg-todo {
  background-color: #1AAAA5 !important;
}

.bg-to-do {
  background-color: #1AAAA5 !important;
}

.bg-workorder {
  background-color: #E79200 !important;
}

.bg-complaints {
  background-color: #F26130 !important;
}

.bg-compliments {
  background-color: #06467C !important;
}

.bg-sticky {
  background-color: #F99D00 !important;
}

.border-color-finance {
  border-color: #1AAAA5 !important;
}

.border-color-accounts-payable {
  border-color: #06467C !important;
}

.border-color-operations {
  border-color: #403841 !important;
}

.border-color-benefits {
  border-color: #B5BD32 !important;
}

.border-color-human-resources {
  border-color: #CA3471 !important;
}

.border-color-hr {
  border-color: #CA3471 !important;
}

.border-color-new-biz-dev-finance {
  border-color: #F26130 !important;
}

.border-color-it {
  border-color: #1690C3 !important;
}

.border-color-accounts-receiveable {
  border-color: #158c88 !important;
}

.border-color-recruiting {
  border-color: #053B69 !important;
}

.border-color-ehs {
  border-color: #00AFD1 !important;
}

.border-color-gmp {
  border-color: #A6AD2E !important;
}

.border-color-payroll {
  border-color: #90114e !important;
}

.border-color-ceo {
  border-color: #D6562A !important;
}

.border-color-transitions {
  border-color: #137CA8 !important;
}

.border-color-procurement {
  border-color: #009DBC !important;
}

.border-color-general {
  border-color: #999c9e !important;
}

.border-color-training {
  border-color: #00AFD1 !important;
}

.border-color-survey {
  border-color: #9FC62D !important;
}

.border-color-audit {
  border-color: #CA3471 !important;
}

.border-color-report-it {
  border-color: #053B69 !important;
}

.border-color-ownership {
  border-color: #053B69 !important;
}

.border-color-todo {
  border-color: #1AAAA5 !important;
}

.border-color-to-do {
  border-color: #1AAAA5 !important;
}

.border-color-workorder {
  border-color: #E79200 !important;
}

.border-color-complaints {
  border-color: #F26130 !important;
}

.border-color-compliments {
  border-color: #06467C !important;
}

.border-color-sticky {
  border-color: #F99D00 !important;
}

.text-primary {
  color: #00AFD1 !important;
}

.text-danger {
  color: #E93D42 !important;
}

.text-warning {
  color: #F99D00 !important;
}

.text-success {
  color: #9FC62D !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-border {
  color: #e8e8e8 !important;
}

.text-dark {
  color: #403841 !important;
}

.bg-primary {
  background-color: #00AFD1 !important;
}

.bg-danger {
  background-color: #E93D42 !important;
}

.bg-warning {
  background-color: #F99D00 !important;
}

.bg-success {
  background-color: #9FC62D !important;
}

.bg-gray {
  background-color: #f5f5f5 !important;
}

.bg-border {
  background-color: #e8e8e8 !important;
}

.bg-dark {
  background-color: #403841 !important;
}

.border-color-primary {
  border-color: #00AFD1 !important;
}

.border-color-danger {
  border-color: #E93D42 !important;
}

.border-color-warning {
  border-color: #F99D00 !important;
}

.border-color-success {
  border-color: #9FC62D !important;
}

.border-color-gray {
  border-color: #f5f5f5 !important;
}

.border-color-border {
  border-color: #e8e8e8 !important;
}

.border-color-dark {
  border-color: #403841 !important;
}

.text-teal {
  color: #1AAAA5 !important;
}

.text-blue {
  color: #06467C !important;
}

.text-lime {
  color: #B5BD32 !important;
}

.text-lavendar {
  color: #994F9C !important;
}

.text-orange {
  color: #F26130 !important;
}

.text-blue {
  color: #1690C3 !important;
}

.text-pink {
  color: #CA3471 !important;
}

.text-green {
  color: #48c101 !important;
}

.text-purple {
  color: #00447E !important;
}

.bg-teal {
  background-color: #1AAAA5 !important;
}

.bg-blue {
  background-color: #06467C !important;
}

.bg-lime {
  background-color: #B5BD32 !important;
}

.bg-lavendar {
  background-color: #994F9C !important;
}

.bg-orange {
  background-color: #F26130 !important;
}

.bg-blue {
  background-color: #1690C3 !important;
}

.bg-pink {
  background-color: #CA3471 !important;
}

.bg-green {
  background-color: #48c101 !important;
}

.bg-purple {
  background-color: #00447E !important;
}

.border-color-teal {
  border-color: #1AAAA5 !important;
}

.border-color-blue {
  border-color: #06467C !important;
}

.border-color-lime {
  border-color: #B5BD32 !important;
}

.border-color-lavendar {
  border-color: #994F9C !important;
}

.border-color-orange {
  border-color: #F26130 !important;
}

.border-color-blue {
  border-color: #1690C3 !important;
}

.border-color-pink {
  border-color: #CA3471 !important;
}

.border-color-green {
  border-color: #48c101 !important;
}

.border-color-purple {
  border-color: #00447E !important;
}

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}
/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-0,
.margin-vertical-0 {
  margin-top: 0px !important;
}

.margin-bottom-0,
.margin-vertical-0 {
  margin-bottom: 0px !important;
}

.margin-top-5,
.margin-vertical-5 {
  margin-top: 5px !important;
}

.margin-bottom-5,
.margin-vertical-5 {
  margin-bottom: 5px !important;
}

.margin-top-10,
.margin-vertical-10 {
  margin-top: 10px !important;
}

.margin-bottom-10,
.margin-vertical-10 {
  margin-bottom: 10px !important;
}

.margin-top-15,
.margin-vertical-15 {
  margin-top: 15px !important;
}

.margin-bottom-15,
.margin-vertical-15 {
  margin-bottom: 15px !important;
}

.margin-top-20,
.margin-vertical-20 {
  margin-top: 20px !important;
}

.margin-bottom-20,
.margin-vertical-20 {
  margin-bottom: 20px !important;
}

.margin-top-25,
.margin-vertical-25 {
  margin-top: 25px !important;
}

.margin-bottom-25,
.margin-vertical-25 {
  margin-bottom: 25px !important;
}

.margin-top-30,
.margin-vertical-30 {
  margin-top: 30px !important;
}

.margin-bottom-30,
.margin-vertical-30 {
  margin-bottom: 30px !important;
}

.margin-top-40,
.margin-vertical-40 {
  margin-top: 40px !important;
}

.margin-bottom-40,
.margin-vertical-40 {
  margin-bottom: 40px !important;
}

.margin-top-50,
.margin-vertical-50 {
  margin-top: 50px !important;
}

.margin-bottom-50,
.margin-vertical-50 {
  margin-bottom: 50px !important;
}

.margin-top-75,
.margin-vertical-75 {
  margin-top: 75px !important;
}

.margin-bottom-75,
.margin-vertical-75 {
  margin-bottom: 75px !important;
}

.margin-top-100,
.margin-vertical-100 {
  margin-top: 100px !important;
}

.margin-bottom-100,
.margin-vertical-100 {
  margin-bottom: 100px !important;
}

.margin-left-0,
.margin-horizontal-0 {
  margin-left: 0px !important;
}

.margin-right-0,
.margin-horizontal-0 {
  margin-right: 0px !important;
}

.margin-left-5,
.margin-horizontal-5 {
  margin-left: 5px !important;
}

.margin-right-5,
.margin-horizontal-5 {
  margin-right: 5px !important;
}

.margin-left-10,
.margin-horizontal-10 {
  margin-left: 10px !important;
}

.margin-right-10,
.margin-horizontal-10 {
  margin-right: 10px !important;
}

.margin-left-15,
.margin-horizontal-15 {
  margin-left: 15px !important;
}

.margin-right-15,
.margin-horizontal-15 {
  margin-right: 15px !important;
}

.margin-left-20,
.margin-horizontal-20 {
  margin-left: 20px !important;
}

.margin-right-20,
.margin-horizontal-20 {
  margin-right: 20px !important;
}

.margin-left-25,
.margin-horizontal-25 {
  margin-left: 25px !important;
}

.margin-right-25,
.margin-horizontal-25 {
  margin-right: 25px !important;
}

.margin-left-30,
.margin-horizontal-30 {
  margin-left: 30px !important;
}

.margin-right-30,
.margin-horizontal-30 {
  margin-right: 30px !important;
}

.margin-left-40,
.margin-horizontal-40 {
  margin-left: 40px !important;
}

.margin-right-40,
.margin-horizontal-40 {
  margin-right: 40px !important;
}

.margin-left-50,
.margin-horizontal-50 {
  margin-left: 50px !important;
}

.margin-right-50,
.margin-horizontal-50 {
  margin-right: 50px !important;
}

.margin-left-75,
.margin-horizontal-75 {
  margin-left: 75px !important;
}

.margin-right-75,
.margin-horizontal-75 {
  margin-right: 75px !important;
}

.margin-left-100,
.margin-horizontal-100 {
  margin-left: 100px !important;
}

.margin-right-100,
.margin-horizontal-100 {
  margin-right: 100px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-0,
.padding-vertical-0 {
  padding-top: 0px !important;
}

.padding-bottom-0,
.padding-vertical-0 {
  padding-bottom: 0px !important;
}

.padding-top-5,
.padding-vertical-5 {
  padding-top: 5px !important;
}

.padding-bottom-5,
.padding-vertical-5 {
  padding-bottom: 5px !important;
}

.padding-top-10,
.padding-vertical-10 {
  padding-top: 10px !important;
}

.padding-bottom-10,
.padding-vertical-10 {
  padding-bottom: 10px !important;
}

.padding-top-15,
.padding-vertical-15 {
  padding-top: 15px !important;
}

.padding-bottom-15,
.padding-vertical-15 {
  padding-bottom: 15px !important;
}

.padding-top-20,
.padding-vertical-20 {
  padding-top: 20px !important;
}

.padding-bottom-20,
.padding-vertical-20 {
  padding-bottom: 20px !important;
}

.padding-top-25,
.padding-vertical-25 {
  padding-top: 25px !important;
}

.padding-bottom-25,
.padding-vertical-25 {
  padding-bottom: 25px !important;
}

.padding-top-30,
.padding-vertical-30 {
  padding-top: 30px !important;
}

.padding-bottom-30,
.padding-vertical-30 {
  padding-bottom: 30px !important;
}

.padding-top-40,
.padding-vertical-40 {
  padding-top: 40px !important;
}

.padding-bottom-40,
.padding-vertical-40 {
  padding-bottom: 40px !important;
}

.padding-top-50,
.padding-vertical-50 {
  padding-top: 50px !important;
}

.padding-bottom-50,
.padding-vertical-50 {
  padding-bottom: 50px !important;
}

.padding-top-75,
.padding-vertical-75 {
  padding-top: 75px !important;
}

.padding-bottom-75,
.padding-vertical-75 {
  padding-bottom: 75px !important;
}

.padding-top-100,
.padding-vertical-100 {
  padding-top: 100px !important;
}

.padding-bottom-100,
.padding-vertical-100 {
  padding-bottom: 100px !important;
}

.padding-left-0,
.padding-horizontal-0 {
  padding-left: 0px !important;
}

.padding-right-0,
.padding-horizontal-0 {
  padding-right: 0px !important;
}

.padding-left-5,
.padding-horizontal-5 {
  padding-left: 5px !important;
}

.padding-right-5,
.padding-horizontal-5 {
  padding-right: 5px !important;
}

.padding-left-10,
.padding-horizontal-10 {
  padding-left: 10px !important;
}

.padding-right-10,
.padding-horizontal-10 {
  padding-right: 10px !important;
}

.padding-left-15,
.padding-horizontal-15 {
  padding-left: 15px !important;
}

.padding-right-15,
.padding-horizontal-15 {
  padding-right: 15px !important;
}

.padding-left-20,
.padding-horizontal-20 {
  padding-left: 20px !important;
}

.padding-right-20,
.padding-horizontal-20 {
  padding-right: 20px !important;
}

.padding-left-25,
.padding-horizontal-25 {
  padding-left: 25px !important;
}

.padding-right-25,
.padding-horizontal-25 {
  padding-right: 25px !important;
}

.padding-left-30,
.padding-horizontal-30 {
  padding-left: 30px !important;
}

.padding-right-30,
.padding-horizontal-30 {
  padding-right: 30px !important;
}

.padding-left-40,
.padding-horizontal-40 {
  padding-left: 40px !important;
}

.padding-right-40,
.padding-horizontal-40 {
  padding-right: 40px !important;
}

.padding-left-50,
.padding-horizontal-50 {
  padding-left: 50px !important;
}

.padding-right-50,
.padding-horizontal-50 {
  padding-right: 50px !important;
}

.padding-left-75,
.padding-horizontal-75 {
  padding-left: 75px !important;
}

.padding-right-75,
.padding-horizontal-75 {
  padding-right: 75px !important;
}

.padding-left-100,
.padding-horizontal-100 {
  padding-left: 100px !important;
}

.padding-right-100,
.padding-horizontal-100 {
  padding-right: 100px !important;
}

/*
    Example:

    .button-coffee {
	    @include button(#c0ffee);
    }
*/
.transcript {
  /* NEW */
  /* END NEW */
}
.transcript *:focus {
  outline: none;
}
.transcript .transcript-container {
  background-color: #ffffff;
}
.transcript .transcript-container .title-profile {
  background-color: #ffffff;
}
.transcript .transcript-container .title-profile .my-profile-header {
  padding: 10px 10px 0px 10px;
}
.transcript .transcript-container .title-container {
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}
.transcript .transcript-container .title-container .stats {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 80%;
}
.transcript .transcript-container .title-container .stats .title {
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 0 0 0;
}
.transcript .transcript-container .title-container .stats .title .text {
  color: #403841;
  font-weight: 700;
}
.transcript .transcript-container .title-container .stats .title .active {
  color: #00AFD1;
  border-bottom: 2px solid #00AFD1;
  padding-bottom: 5px;
}
.transcript .transcript-container .title-container .title-bar {
  border-top: 2px solid #00AFD1;
}
.transcript .transcript-container .title-container .title-bar h4 {
  color: #00AFD1;
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
  margin: 0;
}
.transcript .transcript-container .title-container .filter-bar {
  background-color: #f5f5f5;
}
.transcript .transcript-container .title-container .filter-bar .filter-container {
  padding: 10px;
}
.transcript .transcript-container .title-container .filter-bar .filter-container select {
  width: 100%;
}
@media (min-width: 991px) {
  .transcript .transcript-container .title-container .filter-bar .filter-container p {
    text-align: right;
    padding-top: 10px;
  }
}
@media (max-width: 479px) {
  .transcript .transcript-container .title-container .filter-bar .filter-container .title-col {
    padding-right: 0;
  }
  .transcript .transcript-container .title-container .filter-bar .filter-container p {
    font-size: 10px;
    padding-top: 13px;
  }
}
.transcript .transcript-container .transcript-stats {
  background-color: #ffffff;
  padding-bottom: 15px;
  padding-top: 15px;
}
.transcript .transcript-container .transcript-stats i {
  font-size: 18px;
  padding-right: 5px;
}
.transcript .transcript-container .transcript-stats h3 {
  font-size: 22px;
  padding-bottom: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.transcript .transcript-container .transcript-stats p {
  font-size: 12px;
  font-weight: 700;
}
@media (min-width: 991px) {
  .transcript .transcript-container .transcript-stats {
    width: 33%;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .transcript .transcript-container .transcript-stats h3 {
    font-size: 14px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .transcript .transcript-container .transcript-stats i {
    font-size: 14px;
    padding-right: 3px;
  }
  .transcript .transcript-container .transcript-stats p {
    font-size: 10px;
  }
}
.transcript .transcript-container .transcript-stats .table-head {
  background-color: #ffffff;
  color: #F99D00 !important;
  font-size: 16px;
  padding-left: 30px;
  font-weight: 600;
  line-height: 18px;
}
@media (min-width: 768px) {
  .transcript .transcript-container .transcript-stats .table-head {
    font-size: 18px;
    line-height: 22px;
    padding-left: 20px;
  }
}
.transcript .filter-container {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #403841;
  padding-top: 25px;
}
.transcript .filter-container .filter {
  padding-left: 15px;
}
.transcript .filter-container .filter .filter-outer {
  border: 1px solid #e8e8e8;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
.transcript .filter-container .filter .filter-outer .act-btns {
  color: #00AFD1;
  font-size: 1.6em;
}
.transcript .filter-container .filter span {
  padding-right: 5px;
}
@media (min-width: 991px) {
  .transcript .filter-container {
    padding-top: 5px;
  }
}
.transcript .large-select {
  color: #2f2930;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  min-width: 200px;
  width: inherit;
  display: initial;
}
.transcript .colum-header {
  color: #403841;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  margin-top: 10px;
}
.transcript .colum-data {
  color: #999c9e;
  font-size: 14px;
  font-weight: 600;
}
.transcript .colum-data .complete {
  color: #9FC62D;
}
.transcript .colum-data .past-due {
  color: #E93D42;
}
.transcript .pagination {
  margin: 0 15px 30px 15px;
}
@media (min-width: 991px) {
  .transcript .list-container {
    padding-top: 30px;
  }
}
.transcript .list {
  margin: 0px 10px 0 10px;
}
@media (min-width: 991px) {
  .transcript .list {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 479px) {
  .transcript .list {
    background-color: #ffffff;
  }
}
.transcript .list .row {
  background-color: #ffffff;
}
.transcript .list .list-header {
  border: 1px solid #e8e8e8;
}
.transcript .list .list-header h3 {
  font-size: 22px;
  color: #2f2930;
  font-weight: 300;
  margin: 15px 10px 15px 10px;
}
@media (max-width: 479px) {
  .transcript .list .list-header h3 {
    font-size: 18px;
  }
}
@media (min-width: 991px) {
  .transcript .list .list-header {
    padding: 5px;
  }
}
.transcript .list .list-header .mobile-filters {
  color: #00AFD1;
  padding-top: 15px;
  padding-right: 5px;
  font-size: 18px;
  position: relative;
}
.transcript .list .list-header .mobile-filters i {
  padding-right: 15px;
}
.transcript .course-row {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
  font-size: 12px;
  font-weight: 300;
}
@media (max-width: 479px) {
  .transcript .course-row {
    padding-left: 25px;
  }
}
@media (max-width: 320px) {
  .transcript .course-row {
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .transcript .course-row {
    padding-left: 25px;
  }
}
@media (min-width: 1167px) {
  .transcript .course-row {
    padding-left: 15px;
  }
}
.transcript .course-row .featured-image {
  width: 120px;
}
@media (max-width: 479px) {
  .transcript .course-row .featured-image {
    width: 95px;
  }
}
.transcript .course-row h4 {
  color: #00AFD1;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 479px) {
  .transcript .course-row h4 {
    margin: 0;
    font-size: 12px;
    line-height: 1.8em;
  }
}
.transcript .course-row .details {
  color: #2f2930;
  font-weight: 400;
}
.transcript .course-row .details span {
  padding-left: 5px;
  color: #2f2930;
}
.transcript .course-row .details .views i {
  color: #2f2930;
  font-size: 10px;
}
.transcript .course-row .inprogress {
  color: #999c9e;
  font-size: 14px;
  font-weight: 600;
}
.transcript .course-row .completed {
  color: #9FC62D;
  font-size: 14px;
  font-weight: 600;
}
.transcript .course-row .due {
  color: #E93D42;
  font-size: 14px;
  font-weight: 600;
}
.transcript .course-row .failing {
  color: #E93D42;
}
.transcript .course-row .incomplete {
  color: #999c9e;
  font-weight: 600;
}
.transcript .course-row .complete {
  color: #9FC62D;
  font-weight: 600;
}
.transcript .course-row .status-icon i {
  font-size: 32px;
  padding-left: 10px;
  padding-top: 15px;
}
.transcript .course-row .dropdown {
  margin-top: -25px;
}
.transcript .course-row .action-btn {
  padding: 3px 6px 0px 6px;
  border: 1px solid #999c9e;
  border-radius: 50%;
}
.transcript .course-row .action {
  color: #999c9e;
  font-size: 32px;
}
@media (min-width: 991px) {
  .transcript .course-row .action {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .transcript .course-row .action {
    padding-left: 3px;
    font-size: 32px;
  }
}
.transcript .course-row .dropdown-menu {
  right: 0;
  left: auto;
  cursor: pointer;
}
.transcript .course-row .remove {
  color: #999c9e;
  text-transform: uppercase;
  padding-left: 0;
  padding-top: 3px;
}
.transcript .course-row .remove i {
  padding-left: 5px;
  font-size: 20px;
}
@media (min-width: 991px) {
  .transcript .course-row .remove i {
    font-size: 16px;
    padding-right: 5px;
    vertical-align: top;
  }
  .transcript .course-row .remove span {
    font-size: 12px;
    font-weight: 700;
  }
}
.transcript .course-row .acknowledge {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.transcript .course-row .stats-mobile {
  margin: 10px 0px 10px 0px;
  font-size: 11px;
  background-color: #f5f5f5;
}
.transcript .course-row .stats-mobile .stats-container {
  border-radius: 4px;
}
.transcript .course-row .stats-mobile .row {
  background-color: #f5f5f5;
}
.transcript .course-row .stats-mobile .action-mobile {
  padding-top: 20px;
  padding-left: 10px;
}
.transcript .course-row .stats-mobile span {
  width: 100px;
  font-size: 11px;
}
.transcript .course-row .stats-mobile .stat-title {
  font-weight: 400;
  font-style: italic;
}
.transcript .course-row .stats-mobile .stats-mobile-header {
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  padding-top: 10px;
}
.transcript .course-row .stats-mobile .stats-mobile-footer {
  border-right: 1px solid #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
}
.transcript .empty {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.transcript .empty .link {
  font-weight: 600;
  text-decoration: underline;
  color: #2f2930;
}
@media (min-width: 768px) {
  .transcript .empty {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 1167px) {
  .transcript .empty {
    width: 33%;
    margin: 0 auto;
  }
}
.transcript .empty .input-group {
  max-width: 200px;
  margin: 0 auto;
  height: 40px;
}
.transcript .empty .input-group .input-group-addon {
  background-color: #00AFD1;
  border-right: 1px solid #00AFD1;
  color: #fff;
  border: 1px solid transparent;
}
.transcript .empty .input-group .btn {
  color: #fff;
  background-color: #00AFD1;
  font-size: 12px;
  font-weight: 600;
  padding-top: 10px;
  height: 40px;
}
.transcript .empty h3 {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}
.transcript .empty p {
  padding-bottom: 20px;
}
.transcript .empty .round {
  width: 100px;
  height: 78px;
  margin: 0 auto;
  background-image: url(/Content/img/empty_transcript.svg);
}
@media (max-width: 479px) {
  .transcript .empty .round {
    width: 75px;
    height: 58px;
  }
}
.transcript .empty .round i {
  font-size: 52px;
  padding-top: 25px;
  color: #999c9e;
}
@media (max-width: 479px) {
  .transcript .empty .round i {
    font-size: 42px;
    padding-top: 17px;
  }
}
.transcript .page-heading {
  padding-top: 0;
}
.transcript .page-content {
  background: #f5f5f5;
}
@media (max-width: 479px) {
  .transcript .stats p {
    line-height: 14px;
  }
}
.transcript .stats h1 {
  font-size: 30px;
}
.transcript .stats h1 icon {
  padding-right: 5px;
  font-size: 22px;
}
.transcript .stats .sub-title {
  text-transform: none;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 15px;
  white-space: normal;
  line-height: 20px;
}
@media (max-width: 479px) {
  .transcript .stats .sub-title {
    padding-left: 10px;
    padding-bottom: 30px;
  }
}
@media (max-width: 479px) {
  .transcript .stats-div {
    border-left: none;
  }
}
@media (min-width: 768px) {
  .transcript .stats-div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.transcript .no-left-border {
  border-left: none !important;
}
.transcript .myconfig-circle-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 4px solid #f5f5f5;
  overflow: hidden;
}
@media (max-width: 479px) {
  .transcript .myconfig-circle-img {
    height: 100px;
    width: 100px;
  }
}
.transcript .myconfig-circle-img img {
  width: 100%;
}
.transcript .course-cards .course-card {
  height: 215px;
  color: #2f2930;
}
.transcript .course-cards .course-card .panel-heading {
  padding-bottom: 20px;
}
.transcript .course-cards .course-card .panel-body {
  padding-right: 5px;
}
.transcript .course-cards .course-card h4 {
  font-size: 16px;
  font-weight: 600;
  color: #00AFD1;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.transcript .course-cards .course-card strong {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.transcript .course-cards .course-card em {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.transcript .course-cards .course-card p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-bottom: 15px;
  color: #2f2930;
}
.transcript .completed {
  color: #9FC62D;
  font-weight: 600;
}
.transcript .not-completed {
  color: #E93D42;
  font-weight: 600;
}
.transcript .pending {
  color: #009DBC;
  font-weight: 600;
}
.transcript .display-details {
  /*@include breakpoint(desktop){
      width: 20%;
  }*/
}
@media (max-width: 479px) {
  .transcript .display-details {
    display: flex !important;
    padding-left: 0;
  }
}
.transcript .emp-details {
  padding-left: 15px;
  padding-top: 10px;
}
@media (max-width: 479px) {
  .transcript .emp-details {
    margin: auto 0;
    width: 64%;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .transcript .emp-details {
    width: 56%;
  }
}
.transcript .emp-details .emp-name {
  color: #00aed0;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 17px;
}
.transcript .emp-details .job-desc {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 25px;
}
.transcript .emp-details .hire-date {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
}

/*# sourceMappingURL=transcript.css.map */
