﻿@{
    ViewBag.Title = "Work Orders - Details";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}

<div class="container-fluid  index no-overflow" data-ng-controller="Quality.WorkOrderDetailsCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Work Orders'|translate}}"
                 s3-icon-name="workorder.svg"
                 info-text="{{'View the list below to see requests that need to be addressed or closed' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-employees href="@Url.Content("~/Quality/WorkOrder/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW WORK ORDER' | translate }}</span>
        </a>

        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block" ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter data-ng-model="vm.workOrders"
                                        filter="vm.filter"
                                        filter-apply-fn="vm.getWorkOrdersReset()"
                                        filter-clear-fn="vm.getWorkOrdersReset()"
                                        filter-options="vm.filterOptions"></utility-nav-filter>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "WorkOrder")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
            <a href="@Url.Action("Upcoming", "WorkOrder")" class="btn btn-default text-capitalize">Upcoming</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg" ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter data-ng-model="vm.workOrders"
                                button-classes="btn btn-default"
                                filter="vm.filter"
                                filter-apply-fn="vm.getWorkOrdersReset()"
                                filter-clear-fn="vm.getWorkOrdersReset()"
                                filter-options="vm.filterOptions"></utility-nav-filter>
            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>
    <hr class="hline hidden-xs" />
    <div class="row details">
        <div class="col-sm-12 page-content no-gutter wo-page-content-style">
            <div class="row">
                <!-- Page content-->

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="center-cards">
                            <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                            <utility-nav-filter-tags></utility-nav-filter-tags>
                        </div>

                        <div class="panel-body no-padding">
                            <h3 class="panel-header-txt" data-ng-show="vm.isEntryDisabled">
                                <span class="warning-txt">
                                    <i class="fa fa-warning fa-2"></i> <span>{{'Please select a site.' | translate}}</span>
                                </span>
                            </h3>

                            <div class="text-center empty-wrap" data-ng-if="!vm.workOrders.length">{{'No data to display' | translate}}</div>
                            <div ng-if="!vm.isCardView" class="col-md-12  well-table">

                                <div class="col-md-12">

                                    <div class="primary table-head wo-table-head-main" data-ng-if="vm.workOrders.length">

                                        <div class="row">

                                            <div class="col-xs-8">
                                                <p class="pull-left wo-table-head">{{'DESCRIPTION' | translate}}</p>
                                            </div><!-- col8 -->

                                            <div class="col-xs-4">
                                                <div class="row">
                                                    <div class="col-md-6" data-ng-if="!vm.boolFilter">
                                                        <p class="pull-right wo-table-head">{{'CLOSE DATE' | translate}}</p>
                                                    </div><!-- COL6 -->
                                                    <div class="col-md-6 hidden-sm hidden-xs">
                                                        <p class="pull-right wo-table-head">{{'DUE DATE' | translate}}</p>
                                                    </div><!-- COL6 -->

                                                    <div class="col-md-6" data-ng-if="vm.boolFilter">
                                                        <p class="pull-right wo-table-head">{{'ACTION' | translate}}</p>
                                                    </div><!-- COL6 -->
                                                </div>
                                            </div><!-- COL4 -->
                                        </div><!-- ROW -->



                                        <div class="clearfix"></div>
                                    </div><!-- table-head -->
                                    <div data-infinite-scroll="vm.getWorkOrders()" data-infinite-scroll-distance="1" data-infinite-scroll-disabled="vm.isBusy">
                                        @* OPEN *@
                                        <div class="emp-row wo-main-row padding-l-20" data-ng-repeat="wo in vm.workOrders | orderBy: '-TimeDiff'" data-ng-if="vm.boolFilter">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <div class="row-details pull-left" style="padding-left:0; margin-left: 0;">
                                                        <p class="emp-name wo-emp-name">{{ ::wo.AssignedToName ? wo.AssignedToName: 'UNASSIGNED' }}</p>
                                                        <span class="emp-program">{{ ::wo.ProgramName }}</span>
                                                        <p class="wo-description">{{ ::wo.Summary | limitTo: 144 }}{{ ::wo.Summary.length > 144 ? '...' : ''}}</p>
                                                        <p class="sm pull-left wo-location">{{vm.siteName}}, {{ ::wo.BuildingName }}, {{ ::wo.FloorName }}  <span style="margin-left:5px;" class="warning-text wo-status" data-ng-bind-html="vm.getTimeRemaining(wo)" data-ng-if="vm.boolFilter"></span></p>
                                                    </div><!-- emp-details -->
                                                </div><!-- pull-left -->

                                                <div class="jd-status col-xs-4">
                                                    <div class="row">
                                                        <div class="col-md-6 hidden-sm hidden-xs">
                                                            <p class="date pull-right wo-date">{{::wo.RequestDueDate || wo.DueDate | date: 'MM/dd/yyyy'}}</p>
                                                        </div><!-- COL6 -->


                                                        <div class="col-md-6 pull-right">
                                                            <div uib-dropdown dropdown-append-to-body class="pull-right wo-action-value-align clickable">
                                                                <a class="btn btn-default action-btn" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa-ellipsis-h"></i>
                                                                </a>
                                                                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dLabel">
                                                                    <li><a ng-if="vm.isManager" href="@Url.Content("~/Quality/WorkOrder/Entry/"){{::wo.WorkOrderId}}"><i class="fa-pencil"></i> <span translate>Edit</span></a></li>
                                                                    <li ng-if="vm.isManager"><a href="@Url.Content("~/Quality/WorkOrder/EntryFinalize/"){{::wo.WorkOrderId}}"><i class="fa-close"></i> <span translate>Close</span></a></li>
                                                                    <li><a href="@Url.Content("~/Quality/WorkOrder/EntryView/"){{::wo.WorkOrderId}}"><i class="fa-search"></i> <span translate>View</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div><!-- COL6 -->
                                                    </div><!-- ROW -->
                                                </div><!-- PULL-RIGHT -->
                                            </div><!-- ROW -->

                                            <div class="clearfix"></div>
                                        </div><!-- EMP-ROW -->
                                        @* CLOSED *@
                                        <div class="emp-row" data-ng-repeat="wo in vm.workOrders" data-ng-if="!vm.boolFilter">
                                            <a href="@Url.Content("~/Quality/WorkOrder/EntryView/"){{::wo.WorkOrderId}}">
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="row-details pull-left" style="padding-left:0; margin-left: 0;">
                                                                <p class="emp-name wo-emp-name">{{ ::wo.AssignedToName ? wo.AssignedToName: 'UNASSIGNED' }}</p>
                                                                <span class="emp-program">{{ ::wo.ProgramName }}</span>
                                                                <p class="desc wo-description">{{ ::wo.Summary | limitTo: 144 }}{{ ::wo.Summary.length > 144 ? '...' : ''}}</p>
                                                                <p class="sm pull-left wo-location">{{vm.siteName}}, {{ ::wo.BuildingName }}, {{ ::wo.FloorName }}  <span class="warning-text wo-status" data-ng-bind-html="vm.getTimeRemaining(wo)" data-ng-if="vm.boolFilter"></span></p>
                                                            </div><!-- emp-details -->
                                                        </div><!-- pull-left -->

                                                        <div class="jd-status col-xs-4">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <p class="date m-padding-r-10 pull-right">{{::wo.CloseDate | date: 'MM/dd/yyyy'}}</p>
                                                                </div><!-- COL6 -->
                                                                <div class="col-md-6 hidden-sm hidden-xs">
                                                                    <p class="date pull-right">{{::wo.RequestDueDate || wo.DueDate | date: 'MM/dd/yyyy'}}</p>
                                                                </div><!-- COL6 -->

                                                                @*<i class="fa-angle-right" style="margin-right:5px" data-ng-if="!vm.boolFilter"></i>*@
                                                            </div><!-- ROW -->
                                                        </div><!-- PULL-RIGHT -->
                                                    </div><!-- ROW -->

                                                </div><!-- EMP-ROW -->
                                            </a>
                                            <div class="clearfix"></div>
                                        </div>

                                    </div>
                                </div><!-- COL12 -->

                            </div><!-- Well -->
                            <div ng-if="vm.isCardView" class="card-view-style center-cards" data-infinite-scroll="vm.getWorkOrders()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                                <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align"  ng-transclude 
                                      ng-repeat="details in vm.workOrders | orderBy: '-TimeDiff'">
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false" item-id="details.WorkOrderId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" days-tag="vm.getDaysTag(details)" days-left="vm.getTimeRemaining(details)" header-date="details.CreateDate">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left">
                                                    <img class="employee-img move" ng-src="{{details.AssignedToImage}}" />
                                                </div>
                                                <div class="pull-left auditor-section">
                                                    <p class="name truncate">{{details.AssignedToName ? details.AssignedToName: 'UNASSIGNED'}}</p>
                                                    <p class="name-lbl text-muted">
                                                        {{'ACCOUNTABLE_EMPLOYEE' | translate}}
                                                    </p>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div ng-if="details.Summary" class="margin-top-25 truncate">
                                                {{details.Summary}}
                                            </div>
                                            <div class="site padding-top-5">
                                                <p class="pull-left building-name" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length) > 15}">
                                                {{details.BuildingName}},{{details.FloorName}}</p>
                                                <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : (vm.clientName + (vm.siteName ? vm.siteName.length : 0)) > 20}">
                                                    <i class="fa fa-location margin-right-5"></i>
                                                    <span>{{vm.clientName}}<span ng-if="vm.siteName">, {{vm.siteName}}</span></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left">
                                                <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</span>
                                            </div>
                                            <div class="pull-right types">
                                                <p ng-if="details.CloseDate" class="text-muted text-capitalize">{{'CLOSED_DATE' | translate}}: {{details.CloseDate | date : 'shortDate'}}</p>
                                                <p ng-if="!details.CloseDate" class="text-muted due text-capitalize" ng-class="{'text-danger': details.TimeDiff > 0}">{{'DUE' | translate}}: {{details.RequestDueDate || details.DueDate | date : 'shortDate'}}</p>
                                            </div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                               
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>