﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Word Order";
    ViewBag.HideTitleBar = true;
    var id = Model.Id;
}

@section scripts {

    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="workOrderImagePreview.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title" translate>
                Work Order Photo
            </h3>
        </div>

        <div class="modal-body">
            <div class="row">
                <div clas="col-md-12">
                    <div class="audit-image">
                        <cf-image public-id="{{ vm.imagePublicId }}" width="500" fullscreen="true" class="thumbnail inline img-responsive" alt="work order iamge"></cf-image>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="vm.cancel()" translate>Cancel</button>
        </div>
    </script>
}

@section title{
    <quality-tab-navigation icon-sub-navigation="Quality" active="workOrders"></quality-tab-navigation>
    }

<div class="com-wrapper entry-view no-overflow" data-ng-controller="Quality.WorkOrderEntryViewCtrl as vm" data-ng-init="vm.initialize(@id)">
    <page-header title="{{'Work Orders'|translate}}"
                 s3-icon-name="workorder.svg"
                 info-text="{{'View the list below to see requests that need to be addressed or closed' | translate}}"
                 class="margin-horizontal-0">
    </page-header>
    <div class="row">
        <div class="header-title" translate>
            Review Work Order Summary
        </div>
        <div class="well complaint-view">

            <div class="col-md-8">
                <div class="visible-xs mobile-top-sec">
                    <h1><span translate>Work Order Number </span>{{::vm.workOrder.WorkOrderNumber}}</h1>

                    <div class="row complaint-repoter">
                        <div class="col-md-8">
                            <p class="repoter-name">Reported By {{::vm.workOrder.ReportedByName}} @*<br class="hide-desktop"> Start Date: {{::vm.workOrder.CreateDate | date: mediumDate}}*@</p>
                            <p class="sm"><span class="emp-program">{{::vm.workOrder.ProgramName}}</span></p>
                        </div><!-- COL8 -->
                        <div class="col-md-4 complaint-loaction">
                            <b translate>LOCATION </b>
                            <p class="sm" ng-if="vm.workOrder.LocationName"> {{::vm.workOrder.BuildingName}}, {{::vm.workOrder.FloorName}}, {{::vm.workOrder.LocationName}}</p>
                            <p class="sm" ng-if="!vm.workOrder.LocationName"> {{::vm.workOrder.BuildingName}}, {{::vm.workOrder.FloorName}}</p>
                        </div><!-- Col4 -->
                    </div><!-- ROW -->
                </div>
                <div class="row complaint-repoter hidden-xs">
                    <div class="col-md-12 padding-bottom-15">
                        <b class="primary-text" translate>Work Order Number</b>
                        <p>{{::vm.workOrder.WorkOrderNumber}}</p>
                        <br>
                    </div>
                    <div class="col-md-12 padding-bottom-15">
                        <b class="primary-text" translate>Location</b>
                        <p ng-if="vm.workOrder.LocationName">{{::vm.workOrder.BuildingName}}, {{::vm.workOrder.FloorName}}, {{::vm.workOrder.LocationName}}</p>
                        <p ng-if="!vm.workOrder.LocationName"> {{::vm.workOrder.BuildingName}}, {{::vm.workOrder.FloorName}}</p>
                        <br>
                    </div>
                    <div class="col-md-12 padding-bottom-15">
                        <b class="primary-text" translate>Reported By</b>
                        <p>{{::vm.workOrder.ReportedByName}}</p>
                        <p class="sm"><span class="emp-program margin-left-0">{{::vm.workOrder.ProgramName}}</span></p>
                        <p><span translate>Start Date</span>: {{::vm.workOrder.CreateDate | date: mediumDate}}</p>
                        <br>
                    </div>
                </div>
                    <hr>

                <div class="note-well">
                    <h5 class="warning-text" translate>Description</h5>
                    <p>{{::vm.workOrder.Summary || vm.workOrder.Description}}</p>
                </div><!-- note-well -->

                    <hr>

                <div class="note-well" ng-if="vm.workOrder.CloseDate">
                    <h5 class="warning-text" translate>Closing Comments</h5>
                    <p>{{::vm.workOrder.Resolution}}</p>
                </div><!-- note-well -->

                <hr ng-if="vm.workOrder.CloseDate">
                    <div class="row">
                        <div class="col-md-6 padding-bottom-15">
                            <div class="type">
                                <b class="primary-text" translate>Request Type:</b><br class="hidden-xs" />
                                <span class="values">{{::vm.workOrder.ServiceTypeName}}</span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text"><span translate>Priority</span>:</b><br class="hidden-xs" />
                                <span class="values">{{::vm.workOrder.PriorityName}}</span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>Is This a Safety Risk?</b><br class="hidden-xs" />
                                <span class="values">{{vm.workOrder.IsProductionAffected? 'Yes' : 'No'}}</span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>Equipment:</b><br class="hidden-xs" />
                                <span class="values">{{::vm.workOrder.Equipment}}</span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>Recurring:</b><br class="hidden-xs" />
                                <span class="values">{{ vm.workOrder.IsRecurring ? 'Yes' : 'No'}}</span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>Phone Number:</b><br class="hidden-xs" />
                                <span class="values"> {{::vm.workOrder.ContactNumber}}</span>
                            </div>
                            <hr class="line-m visible-xs">
                        </div><!-- COL6 -->

                        <div class="col-md-6 padding-bottom-15">
                            <div class="type">
                                <b class="primary-text" translate>Scope:</b><br class="hidden-xs" />
                                <span class="values">{{vm.workOrder.IsInScope?"In":"Out Of";}} Scope</span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>Allocate Cost:</b><br class="hidden-xs" />
                                <span class="values">{{ !vm.workOrder.AllocateCost?"Not":"";}} <span translate>Billable</span></span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>Cost:</b>
                                <span class="values">{{::vm.workOrder.Cost | currency}}</span><br class="hidden-xs" />
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>P.O. Number / Cost Center:</b><br class="hidden-xs" />
                                <span class="values">{{::vm.workOrder.PoNumber}}</span>
                                <br>
                            </div>
                            <hr class="line-m visible-xs">
                            <div class="type">
                                <b class="primary-text" translate>Billing Description:</b><br class="hidden-xs" />
                                <span class="values">{{::vm.workOrder.BillingDescription}}</span>
                            </div>
                            <hr class="line-m visible-xs">
                            </div><!-- COL6 -->
                    </div><!-- ROW -->

                    </div><!-- COL8 -->

                    <div class="col-md-4 side-block">
                        <h4 translate>Accountable Employee</h4>
                        <div data-ng-if="vm.accountableEmployeeObjects.length <=0 " translate>None</div>
                        <div class="padding-bottom-10" data-ng-repeat="employee in vm.employeesWithImage">
                            <hr>

                            <div class="emp-profile-wgt">
                                <div class="circle-img pull-left" data-ng-if="employee.EmployeeId == vm.workOrder.AssignedToId">
                                    <img ng-if="employee.UniqueId" ng-cloak ng-src="{{ ::employee.EmployeeImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                                    <img ng-if="!employee.UniqueId" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                                </div><!-- Circle-image -->

                                <div class="row-details pull-left">
                                    <p class="emp-name">{{employee.EmployeeName}}</p>
                                </div><!-- emp-details -->
                            </div>

                            <div class="clearfix"></div>
                        </div>

                    </div><!-- COL4 -->
            <div class="clearfix"></div>
            <hr class="hidden-xs margin-b-0"/>
                </div><!-- Well -->

        <div class="edit-btn pull-right">
            <a href="" ng-click="vm.deleteWorkOrder(vm.workOrder.WorkOrderId)" class="edit btn btn-edit btn-primary" translate>DELETE</a>
            <a href="@Url.Content("~/Quality/WorkOrder/Entry/"){{::vm.workOrder.WorkOrderId}}" ng-if="!vm.workOrder.CloseDate" class="edit btn btn-edit btn-primary" translate>EDIT</a>
        </div>
    </div><!-- ROW -->
</div>


