﻿@using System.Security
@{
    ViewBag.Title = "New Work Order";
    ViewBag.HideTitleBar = true;
    var id = Model.Id;
    var workOrderSeriesId = Model.WorkOrderSeriesId;
    var state = @Model.State.ToString();
}

@section scripts {
    @Scripts.Render("~/Content/js/Configs/Quality/ChaiTea.Quality.WorkOrder.Configs.Entry.js")

    @Scripts.Render("~/scripts/chaitea-quality")

    <script type="text/ng-template" id="workOrderImagePreview.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title" translate>
                Work Order Photo
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div clas="col-md-12">
                    <div class="audit-image">
                        <cf-image public-id="{{ vm.imagePublicId }}" width="500" fullscreen="true" class="thumbnail inline img-responsive" alt="work order image"></cf-image>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="vm.cancel()" translate>Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="manageCustomerRepresentatives.tmpl.html">
        <div class="btn-group btn-block">
            <button class="col-sm-12 col-md-12 btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width: 100%;">
                <div class="pull-left">{{header}}</div> <div class="pull-right"><span class="caret"></span></div>
            </button>

            <ul class="dropdown-menu col-sm-12 col-md-12" style="width: 100%; max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
                <li style="width: 100%;">
                    <input class="form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
                </li>
                <li style="width: 100%;" class="hidden">
                    <button class="btn-link btn-small pull-right" ng-click="uncheckAll()"><i class="glyphicon glyphicon-remove"></i> <span translate>Uncheck all</span></button>
                    <button class="btn-link btn-small pull-right" ng-click="checkAll()"><i class="glyphicon glyphicon-ok"></i> <span translate>Check all</span></button>
                </li>
                <li>
                    <a href="javascript:void(0);" data-ng-click="vm.addNewCustomerRepresentative($event)">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span translate>Add New</span>
                    </a>
                </li>
                <li ng-repeat="i in items | filter:searchText" style="width: 275px;">
                    <a ng-click="select(i);" style="line-height: 25px; display: block; cursor: pointer;">
                        <i ng-class="{'glyphicon glyphicon-ok': i.checked, '': !i.checked}"></i> {{i.label}}
                    </a>
                </li>

            </ul>
        </div>
    </script>

    <script id="quality.workorder.mainworkorder.tmpl.html" type="text/ng-template">
        <div data-ng-init="vm.initialize(@id, @workOrderSeriesId, '@state')" class="work-order">
            <h3 class="panel-header-txt" data-ng-show="vm.isEntryDisabled">
                <span class="warning-txt">
                    <i class="fa fa-warning fa-2"></i> <span translate>Please select a site and program.</span>
                </span>
            </h3>
            <div class="wo-entry-head col-md-8 col-lg-8 hidden-xs" data-ng-if="!vm.isEntryDisabled">
                <p class="title">{{ vm.getPageState(vm.currentState).description}}</p>
                <p class="desc" translate>Fill out form to create a new Work Order</p>

            </div>
            <div class="row col-md-8 col-lg-8 hidden-xs padding-left-0" data-ng-hide="vm.isNavHidden" data-ng-if="!vm.isEntryDisabled">
                <div class="col-sm-12 tabs-wrap">
                    <ul class="nav nav-pills pull-left top-tabs">
                        <li><a ui-sref=".step1" ui-sref-active="highlight" translate>Step 1</a></li>
                        @* bacause Roles are context based, this is broken (since this call ignores context and is User based)
                            Leaving it here because this is the old page and should have already been replaced by the CDN version
                        *@
                        @if (this.User.IsInRole(ChaiTea.Web.Identity.Roles.Managers))
                        {
                            <li ng-class="{ 'disable' : !vm.isStep1Valid }"><a ui-sref=".step2" ui-sref-active="highlight" translate>Step 2</a></li>
                            <li ng-class="{ 'disable' : !(vm.currentMode=='Close') }"><a ui-sref=".finalize" ui-sref-active="highlight" translate>Finalize</a></li>
                        }
                    </ul>
                </div>
            </div>
            <hr class="no-margin col-md-8 col-lg-8 hidden-xs" data-ng-if="!vm.isEntryDisabled" />
            <div data-ng-if="!vm.isEntryDisabled" class="panel-body wo-entry" ui-view></div>
        </div>


    </script>
}


<div class="container-fluid entry no-overflow">
    <page-header title="{{'Work Orders'|translate}}"
                 s3-icon-name="workorder.svg"
                 info-text="{{'View the list below to see requests that need to be addressed or closed' | translate}}"
                 class="margin-horizontal-0">
    </page-header>
    <div ui-view></div>
</div>
