﻿@{
    ViewBag.Title = "Work Orders";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}



<div class="container-fluid index no-overflow work-order-index" data-ng-controller="Quality.WorkOrderIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'Work Orders'|translate}}"
                 s3-icon-name="workorder.svg"
                 info-text="{{'View Statistics and detailed description of workorders about the performance and services of employees working in the facility.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-employees href="@Url.Content("~/Quality/WorkOrder/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW WORK ORDER' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details", "WorkOrder")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>

    <div class="row">
        <hr class="hline" />
        <div class="col-sm-12 page-content">

            <div class="row padding-left-10">
                <div class="col-lg-4 col-md-4 col-sm-4 padding-right-0 hidden-xs hidden-sm">
                    <div class="col-md-12 padding-left-10 padding-right-10 recent  padding-bottom-15">
                        <h3 class="header margin-bottom-0">
                            <span>{{'Most Recent' | translate}}</span>
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "WorkOrder")">
                                {{'VIEW ALL' | translate}}
                            </a>
                        </h3>
                        <div class="padding-right-10">
                            <card class="col-xs-12" ng-repeat="details in vm.workOrders | orderBy: '-TimeDiff'" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false" item-id="details.WorkOrderId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" header-date="details.CreateDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left">
                                                <img class="employee-img move" ng-src="{{details.AssignedToImage}}" />
                                            </div>
                                            <div class="pull-left auditor-section">
                                                <span class="name truncate">{{details.AssignedToName ? details.AssignedToName: 'UNASSIGNED'}}</span>
                                                <p class="name-lbl text-muted">
                                                    {{'ACCOUNTABLE_EMPLOYEE' | translate}}
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Summary" class="margin-top-25 truncate">
                                            {{details.Summary}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length) > 20}">
                                            {{details.BuildingName}}, {{details.FloorName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : (vm.clientName + (vm.siteName ? vm.siteName.length : 0)) > 20}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{vm.clientName}}
                                                    <span ng-if="vm.siteName">, {{vm.siteName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left">
                                            <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</span>
                                        </div>
                                        <div class="pull-right types">
                                            <p ng-if="details.CloseDate" class="text-muted text-capitalize">{{'CLOSED_DATE' | translate}}: {{details.CloseDate | date : 'shortDate'}}</p>
                                            <p ng-if="!details.CloseDate" class="text-muted due text-capitalize" ng-class="{'text-danger': details.TimeDiff > 0}">{{'DUE' | translate}}: {{details.RequestDueDate || details.DueDate | date : 'shortDate'}}</p>
                                        </div>
                                    </div>
                                </card-footer>
                                
                            </card>
                            <div class="clearfix"></div>
                        </div>
                     
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 charts wo-charts">
                    <div class="row hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="panel panel-default margin-bottom-0 monthly-scores-panel-align">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} <span>{{'Month Scores' | translate}}</span></h3>
                                <div class="score-panel">
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.submittedCount }}</span>
                                        <span class="score-title">{{'Work Orders Submitted' | translate}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ ((vm.submittedCount == 0) ? 0 : (vm.reportsConfig.counts.workOrderOnTime.count/vm.submittedCount))*100 | number : 0 }}%</span>
                                        <span class="score-title">{{'On Time Completion' | translate}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.reportsConfig.counts.workOrderPastDue.count }}</span>
                                        <span class="score-title">{{'Past Due' | translate}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <!-- Monthly Trend -->
                            <div class="panel panel-default monthly-scores-panel-align">
                                <h3 class="panel-header-txt">{{'Monthly Trend' | translate}}</h3>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" data-ng-if="!vm.reportsConfig.counts.workOrderOnTime.count || vm.reportsConfig.workOrderTrends.xAxis.categories.length <= 1">
                                    {{'- More than 1 month worth of data required for monthly trend -' | translate}}
                                </div>
                                <div class="chart-wrap">
                                    <sbm-hc-column-chart id="woMonthlyTrends" data-ng-model="vm.reportsConfig.workOrderTrends" data-ng-if="vm.reportsConfig.workOrderTrends.xAxis.categories.length > 1 && vm.reportsConfig.counts.workOrderOnTime.count">
                                    </sbm-hc-column-chart>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-right-0 hidden-md hidden-lg">
                        <div class="col-sm-12 most-recent-align padding-bottom-15 padding-right-0 hidden-md hidden-lg">
                            <h3 class="most-recent-header margin-bottom-0 padding-left-5">
                                <span translate>Most Recent</span>
                                <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "WorkOrder" )">
                                    {{'VIEW ALL' | translate}}
                                </a>
                            </h3>
                            <div class="padding-left-5 padding-right-5 cards">
                                <card class="col-xs-12 col-sm-6 size" ng-repeat="details in vm.workOrders | orderBy: '-TimeDiff'" ng-transclude>
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false" item-id="details.WorkOrderId"
                                                         view-link-fn="vm.ShowEntryViewModal(id)" header-date="details.CreateDate">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left">
                                                    <img class="employee-img move" ng-src="{{details.AssignedToImage}}" />
                                                </div>
                                                <div class="pull-left auditor-section">
                                                    <span class="name truncate">{{details.AssignedToName ? details.AssignedToName: 'UNASSIGNED'}}</span>
                                                    <p class="name-lbl text-muted">
                                                        {{'ACCOUNTABLE_EMPLOYEE' | translate}}
                                                    </p>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div ng-if="details.Summary" class="margin-top-25 truncate">
                                                {{details.Summary}}
                                            </div>
                                            <div class="site padding-top-5">
                                                <p class="pull-left building-name" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length)}">
                                                {{details.BuildingName}}, {{details.FloorName}}</p>
                                                <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : (vm.clientName + (vm.siteName ? vm.siteName.length : 0)) > 20}">
                                                    <i class="fa fa-location margin-right-5"></i>
                                                    <span>{{vm.clientName}}<span ng-if="vm.siteName">, {{vm.siteName}}</span></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left">
                                                <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</span>
                                            </div>
                                            <div class="pull-right types">
                                                <p ng-if="details.CloseDate" class="text-muted text-capitalize">{{'CLOSED_DATE' | translate}}: {{details.CloseDate | date : 'shortDate'}}</p>
                                                <p ng-if="!details.CloseDate" class="text-muted due text-capitalize" ng-class="{'text-danger': details.TimeDiff > 0}">{{'DUE' | translate}}: {{details.RequestDueDate || details.DueDate | date : 'shortDate'}}</p>
                                            </div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- View By Site or Building start -->
                    <div class="view-by-building">
                        <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.SiteOrBuilding" class="wo-view-by-building-align">
                            <div class="row empty-wrap"
                                 data-ng-if="!vm.reportsConfig.counts.workOrderTrendsBySiteOrBuilding.count">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                    {{'No data to display' | translate}}
                                </div>
                            </div>
                            <div class="row chart-wrap" data-ng-if="vm.reportsConfig.counts.workOrderTrendsBySiteOrBuilding.count">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="border-wrap">
                                        <sbm-hc-bar-chart id="woBySiteOrBuilding" data-ng-model="vm.reportsConfig.workOrdersBySiteOrBuilding" data-ng-if="vm.reportsConfig.counts.workOrderTrendsBySiteOrBuilding.count">
                                        </sbm-hc-bar-chart>
                                    </div>
                                </div>

                            </div>
                        </sbm-panel-collapser>
                    </div>
                    <!-- View By Site or Building end -->
                    <!-- Work Request By Type or Program start -->
                    <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.TypeOrProgram" class="wo-view-by-type-align">
                        <div class="row empty-wrap" ng-if="!vm.reportsConfig.workOrdersByProgramOrType.series[0].data.length">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                {{'No data to display' | translate}}
                            </div>
                        </div>
                        <div class="row chart-wrap" ng-if="vm.reportsConfig.workOrdersByProgramOrType.series[0].data.length">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <sbm-hc-pie-chart id="woByProgramOrType" click-legend="true" load-trend="vm.loadTrend(id,color,name)"
                                                  data-ng-model="vm.reportsConfig.workOrdersByProgramOrType">
                                </sbm-hc-pie-chart>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="parent-container border-wrap">
                                    <sbm-hc-line-chart id="woTrendsByType" data-ng-model="vm.reportsConfig.workOrderTrendsByProgramOrType">
                                    </sbm-hc-line-chart>
                                </div>
                            </div>
                        </div>
                        <div class="row legend-wrap" ng-if="vm.reportsConfig.workOrdersByProgramOrType.series[0].data.length">
                            <div class="col-lg-12">
                                <div id="legendSpot"></div>
                            </div>
                        </div>
                    </sbm-panel-collapser>

                    <!-- Work Request By Type or Program end -->
                    <!-- Work Order by Employee start -->
                    <div class="viewByEmployee">
                        <div class="panel panel-default wo-view-by-employee" data-ng-if="vm.siteId>0">
                            <h3 class="panel-header-txt" style="margin-bottom: 0;">
                                {{'View by Employee' | translate}}
                            </h3>
                            <div class="panel-body" style="padding: 0;">
                                <div class="row empty-wrap" ng-if="!vm.reportsConfig.workOrderTrendsByEmployee.length">
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted" >
                                        {{'No data to display' | translate}}
                                    </div>
                                </div>

                                <div class="row wt-details">
                                    <div class="col-lg-12 col-md-12 col-sm-12 wo-view-by-building-align">
                                        <table class="table table-bordered table-striped details-grid" data-ng-if="vm.reportsConfig.workOrderTrendsByEmployee.length">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        {{'Employee' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'Total' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'Late' | translate}}
                                                    </th>
                                                    <th class="hidden-xs">
                                                        {{'On-Time Completion' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="employee in vm.reportsConfig.workOrderTrendsByEmployee | orderBy:'EmployeeName'">
                                                    <td class="pa">{{ ::employee.EmployeeName }}</td>
                                                    <td>{{ ::employee.TotalCount }}</td>
                                                    <td>{{ ::employee.LateCount }}</td>
                                                    <td class="hidden-xs">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="progress progress-bar-danger">
                                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                                         aria-valuenow="41"
                                                                         aria-valuemin="0" aria-valuemax="100" ng-style="{width: {{::employee.OnTimeCompletionPercent}} + '%'}">
                                                                        {{ ::employee.OnTimeCompletionPercent }}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Work Order by Employee end -->

                </div>
            </div>

        </div>

    </div>
</div>