﻿@{
    ViewBag.Title = "Work Orders - Upcoming";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid index " data-ng-controller="Quality.WorkOrderUpcomingCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="Work Orders"
                 s3-icon-name="workorder.svg"
                 info-text="{{'View the list below to see requests that need to be addressed or closed' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-employees href="@Url.Content("~/Quality/WorkOrder/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW WORK ORDER' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "WorkOrder")" class="btn btn-default text-capitalize">Charts</a>
            <a href="@Url.Action("Details", "WorkOrder")" class="btn btn-default text-capitalize">Details</a>
            <a href="#" class="btn btn-default text-capitalize active">Upcoming</a>
        </tabs>
    </utility-header>

    
    <hr class="no-margin hidden-xs" />

    <h3 class="panel-header-txt" data-ng-show="vm.isEntryDisabled">
        <span class="warning-txt">
            <i class="fa fa-warning fa-2"></i> <span translate>Please select a site.</span>
        </span>
    </h3>

    <div class="text-center empty-wrap" data-ng-if="!vm.scheduledWorkOrders.length" translate>No data to display</div>
    <div class="col-md-12  well-table upcoming">

        <div class="col-md-12">

            <div class="primary table-head margin-0--15 padding-right-40" data-ng-if="vm.scheduledWorkOrders.length">

                <div class="row">

                    <div class="col-xs-8">
                        <p class="pull-left" translate>DESCRIPTION</p>
                    </div><!-- col8 -->

                    <div class="col-xs-4 padding-r-20">
                        <div hidden-employees class="row">
                            <div class="col-md-6 hidden-xs hidden-sm">
                                <p class="pull-right" translate>DUE DATE</p>
                            </div><!-- COL6 -->

                            <div class="col-md-6">
                                <p class="pull-right" translate>ACTION</p>
                            </div><!-- COL6 -->
                        </div>
                        <div visible-employees class="row">
                            <div class="col-md-12">
                                <p class="pull-right" translate>DUE DATE</p>
                            </div><!-- COL6 -->
                        </div>
                    </div><!-- COL4 -->
                </div><!-- ROW -->



                <div class="clearfix"></div>
            </div><!-- table-head -->
            <div data-infinite-scroll="vm.getScheduledWorkOrders()" data-infinite-scroll-distance="1" data-infinite-scroll-disabled="vm.isBusy">
                @* OPEN *@
                <div class="emp-row" data-ng-repeat="recurrence in vm.scheduledWorkOrders">
                    
                    <div class="row" id="scheduled">
                        
                        <div class="col-xs-8" data-ng-click="vm.toggleRecurrence($event, recurrence)"
                             data-toggle="collapse" data-parent="#scheduled" href="#{{$index}}-schedules">
                            <div class="row-details pull-left" style="padding-left:0; margin-left: 0;">
                                <i class="" data-ng-class="{'fa fa-caret-down': recurrence.IsToggled, 'fa fa-caret-right': !recurrence.IsToggled}"></i>
                                {{ ::recurrence.Summary }}
                                <p class="sm visible-xs visible-sm"> <span translate>Due Date</span>: {{ ::recurrence.StartDate | date:'MM/dd/yyyy' }}</p>
                            </div><!-- emp-details -->
                        </div><!-- pull-left -->

                        <div class="jd-status col-xs-4">
                            <div hidden-employees class="row">
                                <div class="col-md-6 hidden-sm hidden-xs">
                                    <p class="date pull-right">{{ ::recurrence.StartDate | date:'MM/dd/yyyy' }}</p>
                                </div><!-- COL6 -->

                                <div class="col-md-6 pull-right padding-right-25">
                                    <div class="pull-right dropdown margin-left-20">
                                        <a class="fa fa-close text-danger" ng-click="vm.deleteWOSeries(recurrence.WorkOrderSeriesId)"></a>
                                    </div>
                                    <div class="pull-right dropdown">
                                        <a class="fa fa-edit2 text-primary" ng-click="vm.editWOSeries(recurrence.WorkOrderSeriesId)"></a>
                                    </div>
                                </div><!-- COL6 -->

                            </div><!-- ROW -->
                            <div visible-employees class="row">
                                <div class="col-md-12">
                                    <p class="date pull-right">{{ ::recurrence.StartDate | date:'MM/dd/yyyy' }}</p>
                                </div><!-- COL6 -->
                            </div><!-- ROW -->
                        </div><!-- PULL-RIGHT -->
                        <div class="clearfix"></div>
                        <div class="scheduledDates panel-collapse collapse pull-left toggle-block" id="{{$index}}-schedules">
                            <table class="table table-striped">
                                <tbody><tr data-ng-repeat="date in recurrence.ScheduledDates"><td>{{ date | date: 'fullDate' }}</td></tr></tbody>
                            </table>
                        </div>
                    </div><!-- ROW -->

                    <div class="clearfix"></div>
                </div><!-- EMP-ROW -->

            </div>
        </div><!-- COL12 -->

    </div>

    @*<div class="row">
        <div class="col-sm-12 page-content">
            <div class="row">
                <!-- Page content-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <h3 class="panel-header-txt">
                            <span>Scheduled Work Orders</span>
                        </h3>

                        <div class="panel-body">
                            <h3 class="panel-header-txt" data-ng-show="vm.isEntryDisabled">
                                <span class="warning-txt">
                                    <i class="fa fa-warning fa-2"></i> Please select a site.
                                </span>
                            </h3>

                            <div class="text-center empty-wrap" data-ng-if="!vm.scheduledWorkOrders.length">No data to display</div>

                            <div class="row">
                                <div class="col-sm-12 panel-group" data-infinite-scroll="vm.getScheduledWorkOrders()" data-infinite-scroll-distance="10" data-infinite-scroll-disabled="vm.isBusy">
                                    <div data-ng-repeat="recurrence in vm.scheduledWorkOrders">
                                        <div class="table-ti-wrap" id="scheduled">
                                            <div data-ng-click="vm.toggleRecurrence($event, recurrence)" class="table-title-well"
                                                 data-toggle="collapse" data-parent="#scheduled" href="#{{$index}}-schedules">
                                                <i class="col-md-1" data-ng-class="{'fa fa-caret-down': recurrence.IsToggled, 'fa fa-caret-right': !recurrence.IsToggled}"></i>
                                                <div class="col-md-2">
                                                    {{ ::recurrence.StartDate | date:'MM/dd/yyyy' }}
                                                </div>
                                                <div class="col-md-2">
                                                    {{ ::recurrence.RecurrenceTypeName }}
                                                </div>
                                                <div class="col-md-7">
                                                    {{ ::recurrence.Summary }}
                                                </div>
                                            </div><!-- table-title-well -->

                                            <div class="scheduledDates panel-collapse collapse" id="{{$index}}-schedules">
                                                <table class="table table-striped">
                                                    <tbody><tr data-ng-repeat="date in recurrence.ScheduledDates"><td>{{ date | date: 'fullDate' }}</td></tr></tbody>
                                                </table>
                                            </div>
                                        </div><!-- table-ti-wrap -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>*@




</div>