﻿<div class="notification-main-header bg-dark">
    <span class="fa fa-times fa-lg text-muted pull-right clickable" ng-click="$root.activeNotification = false"></span>
    <h3 class="text-warning" ng-show="$ctrl.userInfo.firstName">Hi, {{::$ctrl.userInfo.firstName}}</h3>
    <h2 class="text-white">It's {{::$ctrl.viewModel.todaysDate}}</h2>
</div>
<uib-tabset class="tab-wrap">
    <uib-tab select="" disabled="$ctrl.tabs[0].disabled">
        <uib-tab-heading>
            <span class="fa fa-to-do fa-2x"></span><span class="numberCircle bg-warning text-white" ng-if="$ctrl.tabs[0].count">{{$ctrl.tabs[0].count > 99 ? '99+' : $ctrl.tabs[0].count}}</span>
        </uib-tab-heading>
        <todo-list class="margin-top-20"></todo-list>
    </uib-tab>
    <uib-tab active="$ctrl.tabs[1].active" select="$ctrl.switchCurrentView('activity')" disabled="$ctrl.tabs[1].disabled">
        <uib-tab-heading>
            <span class="fa fa-alert2 fa-2x"></span><span class="numberCircle bg-warning text-white" ng-if="$ctrl.tabs[1].count">{{$ctrl.tabs[1].count > 99 ? '99+' : $ctrl.tabs[1].count}}</span>
        </uib-tab-heading>
        <notification-feed-view items="$ctrl.viewModel.activity.items"></notification-feed-view>
    </uib-tab>
    <uib-tab select="$ctrl.switchCurrentView('messages')" disabled="$ctrl.tabs[2].disabled">
        <uib-tab-heading>
            <span class="fa fa-messaging fa-2x"></span> <span class="numberCircle bg-warning text-white" ng-if="$ctrl.tabs[2].count">{{$ctrl.tabs[2].count > 99 ? '99+' : $ctrl.tabs[2].count}}</span>
        </uib-tab-heading>
        <notification-feed-view items="$ctrl.viewModel.messages.items"></notification-feed-view>
    </uib-tab>
</uib-tabset>
