﻿<div class="row">
    <div class="col-xs-12">
        <a href="javascript:void(0)" class="back-to-main" ng-click="$ctrl.backToMainView()">
            <h4 class="pull-left">
                <span class="fa fa-chevron-circle-left pull-left"></span>
                <em>Back to <span class="text-capitalize">{{$ctrl.parent.currentView.name}}</span></em>
            </h4>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="card inner-message">
            <div class="card-header">
                <div class="pull-left">
                    <img alt="{{$ctrl.currentInnerMessage.Department.Name}}"
                         ng-if="$ctrl.parent.currentView.isMessages"
                         ng-src="{{$ctrl.currentInnerMessage._dept.profileImage}}"
                         err-src="{{$ctrl.sitesettings.defaultProfileImage}}">

                    <div ng-if="!$ctrl.parent.currentView.isMessages" class="notification-item-icon">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-bubble fa-stack-2x"></i>
                            <i class="fa fa-stack-1x fa-{{$ctrl.currentInnerMessage._icon || 'alert2'}}"></i>
                        </span>
                    </div><!-- notification-item-icon -->

                </div>
                <div class="pull-left padding-left-10">
                    <h4 ng-if="$ctrl.parent.currentView.isMessages">
                        From {{$ctrl.currentInnerMessage.Department.Name}} <span class="sender-title">{{$ctrl.currentInnerMessage._dept.senderTitle}}</span>
                    </h4>
                    <h4 ng-if="!$ctrl.parent.currentView.isMessages" class="label bg-{{$ctrl.currentInnerMessage._labelColor}}">
                        {{$ctrl.currentInnerMessage.Type}}
                    </h4>
                    <p ng-if="$ctrl.currentInnerMessage._isTodays">Today at {{$ctrl.currentInnerMessage.CreateDate | date: 'hh:mm a'}}</p>
                    <p ng-if="!$ctrl.currentInnerMessage._isTodays">{{$ctrl.currentInnerMessage.CreateDate | date: 'MMM dd, yyyy \'at\' hh:mm a'}}</p>
                </div>
            </div>
            <div class="card-body">
                <p ng-bind-html="$ctrl.currentInnerMessage.Detail | trustAsHtml"></p>
            </div>
        </div>
    </div>
</div>