﻿
<div class="row filter-header  margin-left-0 margin-right-0" ng-if="$ctrl.parent.viewModel[$ctrl.parent.currentView.name].isData">
    <div class="col-xs-12 text-center">
        
        <select ng-show="!$ctrl.parent.currentView.isMessages"
                ng-options="item for item in $ctrl.parent.viewModel.activity.filterItems"
                ng-model="$ctrl.parent.viewModel.activity.filter" class="form-control input-xlarge" name="" id="">
            <option value="">Filter By Notification</option>
        </select>

        <select ng-show="$ctrl.parent.currentView.isMessages"
                ng-options="item.Name as item.Name for item in $ctrl.parent.viewModel.messages.filterItems"
                ng-model="$ctrl.parent.viewModel.messages.filter" class="form-control input-xlarge" name="" id="">
            <option value="">Filter By Department</option>
        </select>

    </div>
</div>

<div class="row filter-header margin-left-0 margin-right-0 margin-bottom-10" ng-class="{ 'margin-top-10': !$ctrl.parent.viewModel[$ctrl.parent.currentView.name].isData }">
    <div class="btn-group" ng-if="$ctrl.parent.currentView.showBtns">
        <label class="btn btn-primary todo-btn" ng-class="{ 'active': $ctrl.parent.activeToggleType == 0 }" ng-click="$ctrl.parent.onRadioMessageChange(0)" uncheckable>{{'MY_MESSAGES' | translate}}</label>
        <label class="btn btn-primary todo-btn" ng-class="{ 'active': $ctrl.parent.activeToggleType == 1 }" ng-click="$ctrl.parent.onRadioMessageChange(1)" uncheckable>{{'TEAM_MESSAGES' | translate}}</label>
    </div>
</div>

<div class="scroll-list" ng-class="{ 'activity' : $ctrl.parent.currentView.name == 'activity', 'messages' : $ctrl.parent.currentView.name == 'messages' }">
    <div class="row msg-list">
        <div class="col-xs-12 no-padding">
            <div class="text-center fa-spin margin-top-20" ng-show="$ctrl.parent.viewModel[$ctrl.parent.currentView.name].items.length == 0 && !$ctrl.parent.pagingObjects[$ctrl.parent.currentView.name].isAllLoaded">
                <i class="text-muted fa-spinner fa-2x"></i>
            </div>
            <div class="slide-right notification-feed-item" ng-click="$ctrl.viewMessage(item)"
                 ng-repeat="item in $ctrl.items | filter: $ctrl.filterByActivityOrMessages($ctrl.parent):$ctrl.useStrictFilter">              
                <h3 class="sub-title text-warning margin-top-10" ng-if="item._displayDate">
                    <span>{{::item._displayDate}}</span>
                </h3>
                <div class="card removed-notification padding-left-0" ng-show="item._isDeleted">
                    <div class="card-body">
                        <div class="alert text-center">
                            <strong>NOTIFICATION HAS BEEN REMOVED</strong> <span class="text-muted padding-left-0"> | </span> <button class="btn btn-link padding-left-0" ng-click="$ctrl.undoDelete(item)">UNDO</button>
                        </div>
                    </div>
                </div>
                <div class="card" ng-class="{'is-new':item.IsNew, 'message':$ctrl.parent.currentView.isMessages}" ng-hide="item._isDeleted">
                    <div class="card-left">
                        <span class="is-new-indicator" ng-if="item.IsNew"></span>
                        <div class="image" ng-if="$ctrl.parent.currentView.isMessages">
                            <img class="img-circle"
                                 ng-src="{{::item._dept.profileImage}}"
                                 err-src="{{$ctrl.sitesettings.defaultProfileImage}}"
                                 alt="{{::item.Department.Name}}">
                        </div>
                        <div ng-if="!$ctrl.parent.currentView.isMessages" class="notification-item-icon">
                            <span class="fa fa-2x fa-{{::item._icon || 'alert2'}}"></span>
                        </div><!-- notification-item-icon -->
                    </div>
                    <div class="card-right">
                        <div class="card-header" ng-class="{'pull-right':!$ctrl.parent.currentView.isMessages}">
                            <h4 ng-if="$ctrl.parent.currentView.isMessages">
                                From {{::item.Department.Name}} <span class="sender-title">{{::item._dept.senderTitle}}</span>
                            </h4>
                            <div class="pull-right" ng-if="!$ctrl.parent.currentView.isMessages">
                                <a href="javascript:void(0)" class="delete-button" ng-click="$ctrl.deleteItem($index, item)" stop-event>
                                    <span class="fa fa-times fa-lg text-dark padding-horizontal-10 padding-vertical-0"></span>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-body" ng-class="{'clickable':!$ctrl.parent.currentView.isMessages}">
                            <div class="col-xs-10 padding-left-0 main-section">
                                <h4 ng-if="!$ctrl.parent.currentView.isMessages">
                                    {{::item.Detail | htmlToPlaintext}}{{::item.Detail.length > 30?"...":""}}
                                </h4>
                                <p class="text-muted">{{::item._summaryPreview | limitTo: 50 }}{{::item._summaryPreview.length > 50?"...":""}}</p>
                            </div>

                            <div class="col-xs-2 padding-left-0 padding-right-5">
                                <p>
                                    <small class="text-muted pull-right">{{::item.CreateDate | date: item._dateFormat}}</small>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.parent.viewModel[$ctrl.parent.currentView.name].items.length">
                <p class="padding-vertical-20 text-center">
                    <button ng-if="!$ctrl.parent.pagingObjects[$ctrl.parent.currentView.name].isAllLoaded" class="btn btn-link" ng-click="$ctrl.viewMore()">VIEW MORE</button>
                    <span ng-if="$ctrl.parent.pagingObjects[$ctrl.parent.currentView.name].isAllLoaded" class="text-muted">All messages have been loaded.</span>
                </p>
            </div>

            <!--empty todos-->
            <div class="text-center padding margin" ng-if="!$ctrl.parent.viewModel[$ctrl.parent.currentView.name].isData">
                <p class="empty-message margin-top-20 margin-bottom-10"></p>
                <p class="empty-state-text">
                    <strong>You currently have no {{$ctrl.parent.currentView.isMessages?'messages':'notifications'}}</strong>
                </p>
                <p class="empty-state-text">
                    <span>
                        All {{$ctrl.parent.currentView.isMessages?'messages':'notifications'}} sent to you <br />
                        will appear here.
                    </span>
                </p>
            </div>

        </div>
    </div>
</div>
