﻿@{
    ViewBag.Title = "Compliments";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid index compliments-details no-overflow compliments-common" data-ng-controller="ComplimentDetailCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'COMPLIMENTS'|translate}}"
                 s3-icon-name="compliment.svg"
                 info-text="{{'View Statistics and detailed description of compliments about the performance and services of employees working in the facility.' | translate }}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Quality/Compliment/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW COMPLIMENT' | translate }}</span>
        </a>

        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block" ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter data-ng-model="vm.compliments"
                                        filter="vm.filter"
                                        filter-apply-fn="vm.getComplimentsReset()"
                                        filter-clear-fn="vm.getComplimentsReset()"
                                        filter-options="vm.filterOptions"></utility-nav-filter>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Compliment")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg" ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter data-ng-model="vm.compliments"
                                button-classes="btn btn-default"
                                filter="vm.filter"
                                filter-apply-fn="vm.getComplimentsReset()"
                                filter-clear-fn="vm.getComplimentsReset()"
                                filter-options="vm.filterOptions"></utility-nav-filter>

            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>
    <div class="row">
        <div class="col-sm-12 no-padding no-gutter">
            <div class="row">
                <!-- Page content-->
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <!-- Page content-->
                        <div class="panel-body" style="padding: 0;">
                            <div class="center-cards">
                                <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                                <utility-nav-filter-tags></utility-nav-filter-tags>
                            </div>

                            <h3 class="panel-header-txt" data-ng-show="vm.isEntryDisabled">
                                <span class="warning-txt">
                                    <i class="fa fa-warning fa-2"></i> <span translate>Please select a site.</span>
                                </span>
                            </h3>

                            <div class="text-center empty-wrap" ng-if="!vm.compliments.length && !vm.cardsData.length" translate>No data to display</div>
                            
                            <div ng-if="vm.isCardView" class="col-md-12 center-cards card-view-style" data-infinite-scroll="vm.getCompliments()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                                <card class="col-md-4 col-sm-6 col-xs-12 card-align card-size" ng-repeat="details in vm.compliments" ng-transclude>
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true" item-id="details.ComplimentId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" format-datetime-offset="true" header-date="details.FeedbackDate">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left card-body-content-left">
                                                    <p class="name truncate">{{details.CustomerName}}</p>

                                                </div>
                                                <div class="pull-right card-body-content-right">
                                                    <div class="pull-right employee-img compliment text-center" ng-if="details.AccountableEmployeesInformation.length > 2">
                                                        <span class="align">{{details.AccountableEmployeesInformation.length - 2}}+</span>
                                                    </div>
                                                    <div class="pull-right employee-img compliment text-center" ng-if="details.AccountableEmployeesInformation.length <= 2">
                                                        <i class="fa fa-compliment" ng-class="{'move-right': details.AccountableEmployeesInformation.length >= 1}"></i>
                                                    </div>
                                                    <div class="pull-right" ng-repeat="employee in details.AccountableEmployeesInformation | limitTo: 2">
                                                        <img class="employee-img move" ng-src="{{employee.ProfileImage}}" />
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div>
                                                <p class="name-lbl text-muted pull-left">{{'CUSTOMER_NAME' | translate}}</p>
                                                <p class="name-lbl pull-right">{{'ASSIGNED_EMPLOYEES' | translate}}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div ng-if="details.Description" class="margin-top-25 truncate">
                                                {{details.Description}}
                                            </div>
                                            <div class="site padding-top-5">
                                                <p class="pull-left building-name" ng-class="{'building truncate' : details.BuildingName.length > 15}">
                                                {{details.BuildingName}}</p>
                                                <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                    <p><i class="fa fa-location margin-right-5"></i>{{vm.clientName}}, {{details.SiteName}}</p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left">
                                                <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</span>
                                                <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ComplimentTypeName.length > 15}">{{details.ComplimentTypeName}}</span>
                                            </div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
