﻿@using Newtonsoft.Json
@model ChaiTea.Web.Common.ComplimentVm
@{
    ViewBag.Title = "Compliment";
    ViewBag.HideTitleBar = true;
    var complimentId = Model.Id;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="com-wrapper no-padding compliments-details no-overflow" ng-controller="ComplimentEntryViewCtrl as vm" ng-init="vm.initialize(@complimentId)">
    <page-header title="{{ vm.complimentId ==0 ? 'New Compliment' : 'Compliment'}}"
                 s3-icon-name="compliment.svg">
    </page-header>

    <div class="row">


        <div class="primary table-head header-padding">

            <p class="pull-left compliment-head" translate>REVIEW COMPLIMENT</p>
            <p class="pull-right mobile-padding-right compliment-head" data-ng-if="vm.compliment.FeedbackDate"><span translate>COMPLIMENT DATE</span>: {{::vm.compliment.FeedbackDate  | date: mediumDate}}</p>
            <div class="clearfix"></div>
        </div><!-- table-head -->


        <div class="well complaint-view no-padding">

            <div class="col-md-8">
                <h1 class="title-style" translate>Compliment Details</h1>
                @*<h1 class="title-style">{{::vm.compliment.Description}}</h1>*@

                <div class="row ">
                    <div class="compliment-reporter">
                        <div class="col-md-7">
                            <p class="reporter"><b translate>Customer Name </b><b class="reporter-name">{{ ::vm.compliment.CustomerName}}</b></p>
                            <p class="reported-program"><span translate>Compliment related to</span>: <span class="emp-program">{{::vm.compliment.ProgramName}}</span></p>
                        </div><!-- COL8 -->
                        <div class="col-md-5 no-padding compliment-location complaint-loaction hidden-xs hidden-sm">
                            <b class="location loc" translate>LOCATION </b>
                            <p class="sm location" ng-if="vm.floor.Name"> {{::vm.compliment.BuildingName}}, {{::vm.floor.Name}}</p>
                            <p class="sm location" ng-if="!vm.floor.Name"> <i> {{::vm.compliment.BuildingName}}</i> </p>
                        </div>
                        <div class="col-md-5 no-padding compliment-location complaint-loaction hide-desktop">
                            <b class="location loc" translate>LOCATION </b><span class="sm location" ng-if="vm.floor.Name">{{::vm.compliment.BuildingName}}, {{::vm.floor.Name}}</span>
                            <span class="sm location" ng-if="!vm.floor.Name">{{::vm.compliment.BuildingName}}</span>
                        </div><!-- Col4 -->
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                </div><!-- ROW -->
                <div class="compliment-description">
                    <p class="title" translate>Description:</p>
                    <p class="margin-bottom-10 text">{{::vm.compliment.Description}}</p>
                </div>
                <hr/>
                <b class="padding-l-30 title" translate>Type:</b>
                <p class="padding-l-30 text">{{::vm.compliment.ComplimentTypeName}}</p>

                <br>

                <b class="padding-l-30 title" data-ng-if="vm.compliment.CustomerPhoneNumber" translate>Phone Number:</b>
                <p class="padding-l-30 padding-b-15 text"> {{::vm.compliment.CustomerPhoneNumber}}</p>

                <div class="clearfix"></div>
            </div><!-- COL8 -->

            <div class="col-md-4 side-block">
                <h4 class="accountable-title" translate>Accountable Employees</h4>
                <div data-ng-if="vm.accountableEmployeeObjects.length <=0 " translate>None</div>
                <div class="accountable" data-ng-repeat="employee in vm.accountableEmployeeObjects">
                    <div class="emp-profile-wgt">
                        <div class="circle-img circle-image-pos pull-left"
                             data-ng-repeat="employeeWithImage in vm.options.employeesWithImage"
                             data-ng-if="employeeWithImage.EmployeeId == employee.Key">
                            <img ng-if="employeeWithImage.UniqueId" ng-cloak ng-src="{{ ::employeeWithImage.EmployeeImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                            <img ng-if="!employeeWithImage.UniqueId" ng-cloak ng-src="'@Url.Content("~/content/img/user.jpg")'" />

                        </div><!-- Circle-image -->

                        <div class="row-details emp-padding no-l-padding pull-left">
                            <p class="emp-name">{{employee.Value}}</p>

                        </div><!-- emp-details -->
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row pull-right">
                    <a hidden-employees href="@Url.Content("~/Quality/Compliment/Entry/"){{vm.complimentId}}" class="edit btn accountable-edit">
                        <i class="fa fa-pencil hide-desktop hidden-sm"></i><span class="hidden-xs" translate>EDIT</span>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div><!-- COL4 -->



        </div><!-- Well -->
    </div>
</div>
