﻿@model int

@{
    ViewBag.Title = "Compliment";
    ViewBag.HideTitleBar = true;

    var complimentId = Model;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}

<div class="container-fluid compliments-details" data-ng-controller="ComplimentEditCtrl as vm" data-ng-init="vm.initialize(@complimentId)">
    <page-header title="{{ vm.complimentId ==0 ? 'New Compliment' : 'Compliment'}}"
                 s3-icon-name="compliment.svg">
    </page-header>
    <div class="row">
        <div class="col-sm-12 form-content">
            <!-- form content-->
            <div class="panel panel-default">
                <span class="warning-txt" data-ng-show="vm.isEntryDisabled">
                    <i class="fa fa-warning fa-2"></i> <span translate>Please select a site and a program.</span>
                </span>
                <div class="form-wrap" ng-hide="{{ vm.isEntryDisabled }}">

                    <form name="complimentForm" role="form" class="css-form form-horizontal" novalidate>
                        <fieldset data-ng-disabled="vm.isEntryDisabled" class="fieldset-padding">
                            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 remove-padding-m">
                                <div class="form-group">
                                    <div class="col-lg-12 col-xs-12 remove-padding-m">
                                        <div class="form-title">
                                            <h4 class="primary-font-color title-font" translate>Enter A Compliment</h4>
                                            <div class="sub-div-text">
                                                <i>
                                                    {{ vm.complimentId == 0 ? 'Our Employees appreciate any positive feedback that you may have. Thank You.' : 'Edit a Compliment'}}
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group compliment-detail">
                                    <div class="col-lg-12 col-xs-12 remove-padding-m">

                                        <label class="compliment-detail-heading" for="customerName" translate>Customer Name</label>
                                        <span class="required">*</span>
                                        <input id="customerName" placeholder="Enter Customer Name here..." name="customerName" type="text" class="form-control form-fields" data-ng-required="true"
                                               data-ng-model="vm.compliment.CustomerName" />

                                    </div>
                                </div>

                                <div class="form-group compliment-detail">
                                    <div class="col-lg-6 col-xs-12 remove-padding-m">

                                        <label class="compliment-detail-heading" for="completeDate" translate>Compliment Date</label>
                                        <span class="required">*</span>
                                        <p class="input-group">
                                            <input id="feedbackDate" name="feedbackDate" type="text" class="form-control form-fields" data-ng-required="true"
                                                   data-ng-model="vm.compliment.FeedbackDate" uib-datepicker-popup="MM/dd/yyyy" is-open="vm.datepickers.feedbackDate" close-text="Close" max-date="vm.maxDate" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'feedbackDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>

                                    </div>
                                    <div class="col-lg-6 col-xs-12 compliment-detail-m-ip remove-padding-m">

                                        <label class="compliment-detail-heading" for="complimentTypeId" translate>Compliment Type</label>
                                        <span class="required">*</span>
                                        <select id="complimentTypeId" name="complimentTypeId" class="form-control form-fields" data-ng-required="true" data-ng-model="vm.compliment.ComplimentTypeId"
                                                data-ng-options="complimentType.Key*1 as complimentType.Value for complimentType in vm.options.complimentTypes">
                                            <option value="" translate>- Select One -</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group compliment-detail">
                                    <div class="col-lg-12 col-xs-12 remove-padding-m">

                                        <label class="compliment-detail-heading" for="description" translate>Compliment Comments</label>
                                        <span class="required">*</span>
                                        <textarea id="description" name="description" class="form-control form-fields"
                                                  placeholder="Enter Description here..." data-ng-required="true"
                                                  data-ng-model="vm.compliment.Description"></textarea>

                                    </div>
                                </div>

                                <div class="form-group compliment-detail">
                                    <div class="col-lg-6 col-xs-12 remove-padding-m">

                                        <label class="compliment-detail-heading" for="customerPhoneNumber" translate>Phone Number</label> <i class="optional" translate>OPTIONAL</i>
                                        <input id="customerPhoneNumber" name="customerPhoneNumber" type="text" class="form-control form-fields"
                                               data-ng-model="vm.compliment.CustomerPhoneNumber" data-ng-maxlength="25" />
                                        <div data-ng-show="complimentForm.customerPhoneNumber.$error.maxlength" class="error" translate>Phone number cannot be longer than 25 characters</div>

                                    </div>
                                    <div class="col-lg-6 col-xs-12 compliment-detail-m-ip remove-padding-m">

                                        <label class="compliment-detail-heading" for="accountableEmployees" translate>Employees Name</label>
                                        <multiselect name="accountableEmployees[]" id="accountableEmployees" class="input-xlarge" multiple="true"
                                                     options="employee.Key*1 as employee.Value for employee in vm.options.employees"
                                                     template-url="@Url.Content("~/Content/js/Common/Templates/multiselect.tmpl.html")"
                                                     ng-model="vm.selectedEmployees"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group compliment-detail">
                                    <div class="col-lg-6 col-xs-12 remove-padding-m">

                                        <label class="compliment-detail-heading" for="buildingId" translate>Building</label>
                                        <span class="required">*</span>
                                        <select id="buildingId" name="buildingId" class="form-control form-fields" data-ng-required="true" data-ng-model="vm.compliment.BuildingId"
                                                data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                                                data-ng-change="vm.onBuildingChange(vm.compliment.BuildingId)">
                                            <option value="" translate>- Select One -</option>
                                        </select>

                                    </div>
                                    <div class="col-lg-6 col-xs-12 compliment-detail-m-ip remove-padding-m">

                                        <label class="compliment-detail-heading" for="floorId" translate>Floor</label> <i class="optional" translate>OPTIONAL</i>
                                        <select id="floorId" name="floor" class="form-control form-fields" data-ng-model="vm.compliment.FloorId"
                                                data-ng-options="floor.Key*1 as floor.Value for floor in vm.options.floors">
                                            <option value=""></option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group form-button pull-right">
                                    <div class="col-lg-12 col-xs-12 remove-padding-m">

                                        <button type="button" class="btn-style btn btn-grey" data-ng-click="vm.cancel()" translate>CANCEL</button>
                                        <button type="button" class="btn-style btn btn-black" data-ng-click="vm.saveCompliment()" data-ng-disabled="!complimentForm.$valid" translate>
                                            SAVE
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
