﻿@{
    ViewBag.Title = "Compliments";
    ViewBag.HideTitleBar = true;
    ViewBag.IsNewComplaintBtn = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid index no-overflow compliments-common" data-ng-controller="ComplimentIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'COMPLIMENTS'|translate}}"
                 s3-icon-name="compliment.svg"
                 info-text="{{'View Statistics and detailed description of compliments about the performance and services of employees working in the facility.' | translate }}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Content("~/Quality/Compliment/Entry")" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW COMPLIMENT' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default text-capitalize active">Charts</a>
            <a href="@Url.Action("Details", "Compliment")" class="btn btn-default text-capitalize">Details</a>
        </tabs>
    </utility-header>
    <div class="row compliments">
        <hr class="hline hidden-xs">
        <div class="col-sm-12 page-content">

            <div class="row">
                <!-- Page content-->
                <div class="col-lg-4 col-md-4 col-sm-4 padding-right-0 hidden-xs hidden-sm">
                    <div class="col-md-12 padding-left-5 padding-right-5 recent  padding-bottom-15">
                        <h3 class="header margin-bottom-0 padding-left-15">
                           <span translate>Most Recent</span> 
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "Compliment")" translate>
                                VIEW ALL
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.recentCompliments" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="true" item-id="details.ComplimentId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" format-datetime-offset="true" header-date="details.FeedbackDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left card-body-content-left">
                                                <p class="name truncate">{{details.CustomerName}}</p>

                                            </div>
                                            <div class="pull-right card-body-content-right">
                                                <div class="pull-right employee-img compliment text-center" ng-if="details.AccountableEmployeesInformation.length > 2">
                                                    <span class="align">{{details.AccountableEmployeesInformation.length - 2}}+</span>
                                                </div>
                                                <div class="pull-right employee-img compliment text-center" ng-if="details.AccountableEmployeesInformation.length <= 2">
                                                    <i class="fa fa-compliment" ng-class="{'move-right': details.AccountableEmployeesInformation.length >= 1}"></i>
                                                </div>
                                                <div class="pull-right" ng-repeat="employee in details.AccountableEmployeesInformation | limitTo: 2">
                                                    <img class="employee-img move" ng-src="{{employee.ProfileImage}}" />
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <p class="name-lbl text-muted pull-left">{{'CUSTOMER_NAME' | translate}}</p>
                                            <p class="name-lbl pull-right">{{'ASSIGNED_EMPLOYEES' | translate}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Description" class="margin-top-25 truncate">
                                            {{details.Description}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left building-name" ng-class="{'building truncate' : details.BuildingName.length > 15}">{{details.BuildingName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <p><i class="fa fa-location margin-right-5"></i>{{vm.clientName}}, {{details.SiteName}}</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left">
                                            <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</span>
                                            <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ComplimentTypeName.length > 15}">{{details.ComplimentTypeName}}</span>
                                        </div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 charts">
                    <div class="row hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="panel panel-default">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} <span translate>Month Scores</span></h3>
                                <div class="score-panel">
                                    <div class="col-md-6 col-sm-6 score-tab">
                                        <span class="score-value">{{ vm.chartsConfig.complimentTrends.totalCompliments }}</span>
                                        <span class="score-title" translate>Total Compliments</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 score-tab">
                                        <span class="score-value">{{ vm.avgComplimentsPerMonth }}</span>
                                        <span class="score-title" translate>Average Compliments Per Month</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <!-- Monthly Trend -->
                            <div class="panel panel-default ">
                                <h3 class="panel-header-txt" translate>Monthly Trend</h3>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message" data-ng-if="vm.chartsConfig.counts.complimentTrends.count == 0 || vm.chartsConfig.complimentTrends.categories.length <= 1" translate>
                                    - More than 1 month worth of data required for monthly trend -
                                </div>
                                <div class="chart-wrap">

                                    <sbm-hc-line-chart id="complimentTrends" data-ng-model="vm.chartsConfig.complimentTrends" ng-if="vm.chartsConfig.counts.complimentTrends.count > 0 && vm.chartsConfig.complimentTrends.categories.length > 1">
                                    </sbm-hc-line-chart>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Most Recent for mobile Ipad view-->
                    <div class="col-xs-12 padding-left-5 padding-right-5 recent  padding-bottom-15 margin-bottom-30 hidden-md hidden-lg">
                        <h3 class="header margin-bottom-0 padding-left-5">
                           <span translate>Most Recent</span> 
                            <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "Compliment")" translate>
                                VIEW ALL
                            </a>
                        </h3>
                        <div class="padding-left-5 padding-right-5 cards">
                            <card class="col-xs-12 col-sm-6 size" ng-repeat="details in vm.recentCompliments" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="vm.headerText" format-date="false" item-id="details.ComplimentId" 
                                                         view-link-fn="vm.ShowEntryViewModal(id)" format-datetime-offset="true" header-date="details.FeedbackDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left card-body-content-left">
                                                <p class="name truncate">{{details.CustomerName}}</p>

                                            </div>
                                            <div class="pull-right card-body-content-right">
                                                <div class="pull-right employee-img compliment text-center" ng-if="details.AccountableEmployeesInformation.length > 2">
                                                    <span class="align">{{details.AccountableEmployeesInformation.length - 2}}+</span>
                                                </div>
                                                <div class="pull-right employee-img compliment text-center" ng-if="details.AccountableEmployeesInformation.length <= 2">
                                                    <i class="fa fa-compliment"></i>
                                                </div>
                                                <div class="pull-right" ng-repeat="employee in details.AccountableEmployeesInformation | limitTo: 2">
                                                    <img class="employee-img move" ng-src="{{employee.ProfileImage}}" />
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <p class="name-lbl text-muted pull-left">{{'CUSTOMER_NAME' | translate}}</p>
                                            <p class="name-lbl pull-right">{{'ASSIGNED_EMPLOYEES' | translate}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Description" class="margin-top-15 truncate">
                                            {{details.Description}}
                                        </div>
                                        <div class="site padding-top-5">
                                            <p class="pull-left" ng-class="{'building truncate' : details.BuildingName.length > 20}">{{details.BuildingName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'building truncate' : details.BuildingName.length > 20}">
                                                <i class="fa fa-location"></i>
                                                <span>{{vm.clientName}}, {{details.SiteName}}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left">
                                            <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ProgramName.length > 9}">{{details.ProgramName}}</span>
                                            <span class="relatedTo margin-right-10 truncate" ng-class="{'fits': details.ComplimentTypeName.length > 15}">{{details.ComplimentTypeName}}</span>
                                        </div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                            <div class="clearfix"></div>
                        </div>
                    <div class="">
                        <!-- View By Site -->
                        <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.SiteOrBuilding">
                            <div class="row empty-wrap" data-ng-if="!vm.chartsConfig.complimentTrendsBySite.displayChart">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center" translate>
                                    No data to display
                                </div>
                            </div>
                            <div class="row chart-wrap" data-ng-if="vm.chartsConfig.complimentTrendsBySite.displayChart">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div>
                                        <sbm-hc-bar-chart id="complimentTrendsBySite" data-ng-model="vm.chartsConfig.complimentTrendsBySite">
                                        </sbm-hc-bar-chart>
                                    </div>
                                </div>
                            </div>
                        </sbm-panel-collapser>
                    </div>
                    <!-- View By Type -->
                    <div class="view-by-building">
                        <sbm-panel-collapser is-collapsed="false" title="View by @ViewBag.TypeOrProgram">
                            <div class="row empty-wrap" data-ng-if="!vm.chartsConfig.complimentsByType.series.length">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center" translate>
                                    No data to display
                                </div>
                            </div>

                            <div class="row chart-wrap" data-ng-if="vm.chartsConfig.complimentsByType.series.length">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <sbm-hc-pie-chart id="complimentsByType" click-legend="true" load-trend="vm.loadTrend(id,color,name)" data-ng-model="vm.chartsConfig.complimentsByType" ng-if="vm.chartsConfig.complimentsByType.series.length">
                                    </sbm-hc-pie-chart>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="parent-container border-wrap">
                                        <sbm-hc-line-chart id="complimentTrendsByType" data-ng-model="vm.chartsConfig.complimentTrendsByType">
                                        </sbm-hc-line-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="row legend-wrap" data-ng-if="vm.chartsConfig.complimentsByType.series.length">
                                <div class="col-lg-12">
                                    <div id="legendSpot"></div>
                                </div>
                            </div>
                        </sbm-panel-collapser>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
