﻿<div class="col-md-12 padding-15">
    <label for="comment" class="padding-bottom-5" translate>Description</label>
    <span class="required">*</span>
    <textarea id="comment" name="comment" class="form-control" placeholder="Enter description here"
              data-ng-required="true"
              data-ng-model="vm.todo.Comment"></textarea>
</div>