﻿@{
    ViewBag.Title = "Professionalism";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    <script type="text/ng-template" id="select-employee.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{'SELECT_EMPLOYEE' | translate }}
            </h3>
            <div class="close-btn" ng-click="vm.$scope.$close()">
                <i class="fa-close"></i>
            </div>
            <div class="pull-left col-md-8 col-sm-6 col-xs-12 no-padding margin-top">
                <input type="text" class="form-control input-sm filter" ng-model="vm.employeeFilter" placeholder="Find Employee" value="" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-body max-height-500" ng-form="vm.$scope.acceptandsignForm">
            <card-list class="employee emp-details" custom-class="no-padding" hide-header="true">
                <card-row ng-repeat="item in vm.employeeList | filter:vm.employeeFilter">
                    <row-left img-src="item.ProfileImage"></row-left>
                    <row-middle custom-class="details">
                        <p class="emp-name padding-top-15">{{ ::item.Name }}</p>
                        <p class="emp-title">{{ ::item.JobDescription}}</p>
                    </row-middle>
                    <row-right>
                        <a href="@Url.Action("Entry", "Audit", new {Area = "Personnel"})/{{::item.EmployeeId}}" class="btn btn-success">{{'RUN AUDIT' | translate }}</a>
                    </row-right>
                </card-row>
            </card-list>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default pull-left" data-ng-click="vm.$scope.$close()">{{'CANCEL' | translate }}</button>
        </div>
    </script>
}

<div class="container-fluid personnel-index-common personnel-details-common" data-ng-controller="Personnel.AuditDetailsCtrl as vm" data-ng-init="vm.initialize()">
    <div class="clearfix"></div>
    <page-header title="{{'PROFESSIONALISM'|translate}}"
                 s3-icon-name="professionalism.svg"
                 info-text="{{'VIEW_PROFESSIONALISM_DETAILS_TOOLTIP' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="javascript:void(0);" ng-click="vm.runAudit($event)" class="btn btn-success btn-sm">+ <span class="hidden-xs hidden-sm">{{'RUN AUDIT' | translate }}</span></a>

        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-search search-model="vm.search" placeholder="Search Employees"></utility-nav-search>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "Audit")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg">
            <utility-nav-search button-classes="btn btn-default" search-model="vm.search" placeholder="Search Employees"></utility-nav-search>

            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="row">
        <div class="main-body-padding">
            <div class="personnel-details-panel">

                <div class="center-cards">
                    <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                    <utility-nav-filter-tags></utility-nav-filter-tags>
                </div>

                <div class="panel-body">
                    <div class="text-center empty-wrap" ng-if="!vm.employeeAudits.length">{{ 'NO_DATA' | translate }}</div>
                    <div class="no-padding no-margin">
                        <div class="card-view-style center-cards" data-infinite-scroll="vm.getEmployeeAudits()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                            <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align" ng-transclude ng-repeat="details in vm.employeeAudits | filter: vm.search">
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="'Audit Date'"
                                                         format-date="true" format-datetime-offset="true" item-id="details.EmployeeAuditId" view-link-fn="vm.showEntryViewModal(id)"
                                                         header-date="details.CreateDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left employee-img professionalism" ng-class="details.IsPass ? 'success' : 'fail'">
                                                <i class="fa-professionalism prof-icon-style"></i>
                                            </div>
                                            <div class="pull-left overlap-div">
                                                <img class="employee-img overlap-image" ng-src="{{ details.ProfileImage }}" />
                                            </div>
                                            <div class="pull-left employee-section">
                                                <p class="name truncate">{{ details.EmployeeName }}</p>
                                                <p class="name-lbl text-muted">
                                                    <span ng-if="details.IsEmployeeActive">{{ details.JobName }}</span>
                                                    <span ng-if="!details.IsEmployeeActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Comment">{{details.Comment}}</span>
                                            <span class="no-comment" ng-if="!details.Comment">{{'No Comment for this Audit' | translate}}</span>
                                        </div>

                                        <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                            <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-right types">
                                            <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{ 'SCORECARD' | translate }}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>