﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Personnel.Models.PersonnelVm
@{
    ViewBag.Title = "Professionalism Audits";
    ViewBag.HideTitleBar = true;
    var auditId = Model.Id;
}



<div class="container-fluid personnel" ng-controller="Personnel.AuditEntryViewCtrl as vm" ng-init="vm.initialize(@auditId)">
    <page-header title="{{'Review Audit'|translate}}"
                 s3-icon-name="professionalism.svg">
    </page-header> 
    <div class="row">
        <a href="@Url.Content("~/Personnel/Audit/Index")" class="btn back-label visible-xs"><i class="fa-angle-left"></i> BACK TO THE LIST</a>

        <two-column-content>
            <two-column-header>
                <p class="padding-left-10 pull-left mobile-padding-right">Audit Completed on: {{vm.audit.CreateDate|date:'MMMM dd yyyy': vm.userContext.Timezone.OffsetInHours | displayTimezone}}</p>
            </two-column-header>
            <two-column-body>
                <two-column-left class="com-wrapper no-padding-top">
                    <h2 class="text-primary">Professionalism Audit for {{::vm.audit.Employee.Name}}</h2>
                    <div class="row reporter">
                        <div class="col-md-8">
                            <p class="sm reporter-name">
                                <b>By {{::vm.audit.CreateBy}}</b> <strong><em>Audited on: {{vm.audit.CreateDate|date:'MMMM dd yyyy': vm.userContext.Timezone.OffsetInHours | displayTimezone}}</em></strong>
                            </p>
                        </div>
                    </div>

                    <div class="row padding-top">
                        <div class="col-md-8">
                            <h4 class="text-muted">Audited By: {{vm.audit.UpdateBy}}</h4>
                            <ul class="list-unstyled basic-list">
                                <li ng-repeat="(key, val) in vm.audit.items track by $index">
                                    <strong class="text-primary text-capitalize">{{key}}</strong>
                                    <span class="pull-right">
                                        <em ng-class="val?'text-success':'text-danger'">{{val?'Passed':'Failed'}}</em>
                                    </span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-4">
                            <h4>&nbsp;</h4>
                            <div class="pull-left">
                                <strong class="text-uppercase"><small>OVERALL AUDIT RESULT</small></strong>
                                <br />
                                <h4 class="no-margin-top" ng-class="vm.audit.IsPass?'text-success':'text-danger'">{{vm.audit.IsPass?'Passed':'Failed'}} Audit</h4>
                            </div>
                            <div class="pull-right padding-top margin-top">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x " ng-class="vm.audit.IsPass?'text-success':'text-danger'"></i>
                                    <i class="fa fa-professionalism fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="note-well">
                        <h5 class="text-warning">Overall Comment</h5>
                        <p>{{::vm.audit.Comment}}</p>
                    </div>

                </two-column-left>
                <two-column-right>
                    <h4>Audited Employee</h4>
                    <hr>

                    <div class="emp-profile-wgt">
                        <div class="circle-img pull-left">
                            <img ng-src="{{::vm.audit.ProfilePicture}}" alt="Employee images">
                        </div><!-- Circle-image -->

                        <div class="row-details pull-left">
                            <p class="emp-name">{{::vm.audit.Employee.Name}}</p>
                            <p class="emp-title">{{::vm.audit.Employee.JobDescription.Name}}</p>
                        </div><!-- emp-details -->
                    </div>

                    <button hidden-employees class="btn btn-danger" ng-click="vm.deleteAudit()">Delete</button>
                </two-column-right>
            </two-column-body>
        </two-column-content>

    </div><!-- ROW -->
</div>
