﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Personnel.Models.PersonnelVm
@{
    ViewBag.Title = "Professionalism Audits";
    ViewBag.HideTitleBar = true;
    var employeeId = Model.Id;

    var backUrl = Url.Action("Index", "Audit", new { Area = "Personnel" });
}

<div class="container-fluid personnel bg-white" data-ng-controller="Personnel.AuditEntryCtrl as vm" data-ng-init="vm.initialize(@employeeId)">
    <page-header title="{{'Run Audit'|translate}}"
                 info-text="{{'Fill out the form to conduct a Professionalism Audit.'|translate}}"
                 s3-icon-name="professionalism.svg">
    </page-header> 

    <div class="page-content padding-top-20">

        <div class="emp-profile-wgt row">
            <div class="circle-img pull-left">
                <img ng-src="{{::vm.employee.ProfileImage}}" alt="Employee images">
            </div><!-- Circle-image -->

            <div class="row-details padding-bottom pull-left">
                <p class="emp-name">{{::vm.employee.Name}}</p>
                <p class="emp-title">{{::vm.employee.JobDescription.Name}}</p>
            </div><!-- emp-details -->
            <div class="clearfix"></div>
        </div>


        <div class="prof-audit-form padding-bottom" ng-form="vm.profAuditForm">
            @*---Include 'personnel.audit.entry.tmpl.html'---*@
            <div ng-include="vm.templatePath"></div>

            <div class="pull-right">
                <a href="@backUrl" class="btn btn-default">Cancel</a>
                <button data-ng-disabled="vm.profAuditForm.$invalid" ng-click="vm.createUpdateAudit($event)" class="btn btn-primary">Submit</button>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>



</div>