﻿@{
    ViewBag.Title = "Professionalism";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    <script type="text/ng-template" id="select-employee.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {{'SELECT_EMPLOYEE' | translate }}
            </h3>
            <div class="close-btn" ng-click="vm.$scope.$close()">
                <i class="fa-close"></i>
            </div>
            <div class="pull-left col-md-8 col-sm-6 col-xs-12 no-padding margin-top">
                <input type="text" class="form-control input-sm filter" ng-model="vm.employeeFilter" placeholder="Find Employee" value="" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-body max-height-500" ng-form="vm.$scope.acceptandsignForm">
            <card-list class="employee emp-details" custom-class="no-padding" hide-header="true">
                <card-row ng-repeat="item in vm.employeeList | filter:vm.employeeFilter">
                    <row-left img-src="item.ProfileImage"></row-left>
                    <row-middle custom-class="details">
                        <p class="emp-name padding-top-15">{{ ::item.Name }}</p>
                        <p class="emp-title">{{ ::item.JobDescription}}</p>
                    </row-middle>
                    <row-right>
                        <a href="@Url.Action("Entry", "Audit", new {Area = "Personnel"})/{{::item.EmployeeId}}" class="btn btn-success">{{'RUN AUDIT' | translate }}</a>
                    </row-right>
                </card-row>
            </card-list>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default pull-left" data-ng-click="vm.$scope.$close()">{{'CANCEL' | translate }}</button>
        </div>
    </script>
}

<div class="container-fluid personnel-index-common" data-ng-controller="Personnel.AuditIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'PROFESSIONALISM'|translate}}"
                 s3-icon-name="professionalism.svg"
                 info-text="{{'VIEW_PROFESSIONALISM_INDEX_TOOLTIP' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="javascript:void(0);" ng-click="vm.runAudit($event)" class="btn btn-success btn-sm">
          + <span class="hidden-xs hidden-sm">{{'RUN AUDIT' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details", "Audit")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>

    
    <div class="row page-data-align">
        <div class="col-sm-12 page-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                    <div class="col-md-12 recent-desktop  padding-bottom-15">
                        <h3 class="header margin-bottom-0 padding-left-15">
                            {{ 'MOST_RECENT' | translate }}
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "Audit")">
                                {{ 'VIEW_ALL' | translate }}
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.employeeAudits" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" header-text="'Audit Date'"
                                                         format-date="true" format-datetime-offset="true" item-id="details.EmployeeAuditId" view-link-fn="vm.showEntryViewModal(id)"
                                                         header-date="details.CreateDate">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left employee-img professionalism" ng-class="details.IsPass ? 'success' : 'fail'">
                                                <i class="fa-professionalism prof-icon-style"></i>
                                            </div>
                                            <div class="pull-left overlap-div">
                                                <img class="employee-img overlap-image" ng-src="{{ details.ProfileImage }}" />
                                            </div>
                                            <div class="pull-left employee-section">
                                                <p class="name truncate">{{ details.EmployeeName }}</p>
                                                <p class="name-lbl text-muted">
                                                    <span ng-if="details.IsEmployeeActive">{{ details.JobName }}</span>
                                                    <span ng-if="!details.IsEmployeeActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="margin-top-25 truncate">
                                            <span ng-if="details.Comment">{{details.Comment}}</span>
                                            <span class="no-comment" ng-if="!details.Comment">{{'No Comment for this Audit' | translate}}</span>
                                        </div>
                                        <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                            <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-right types">
                                            <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{ 'SCORECARD' | translate }}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 charts">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <div class="panel-header-txt">
                                    {{ 'CURRENT_MONTH' | translate }}
                                    <span ng-if="vm.lastModifiedDate" class="panel-header-subtext align-size margin-top-10  text-muted pull-right professionalism">{{ 'UPDATED' | translate }}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' : vm.userContext.Timezone.OffsetInHours }}</span>
                                </div>
                                <p class="panel-header-subtext padding-left-20">1 {{ 'MONTH_TREND' | translate }}</p>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                     ng-if="!vm.charts.monthlyTrendPieChart.series[0].data.length">
                                    - {{ 'NO_DATA' | translate }} -
                                </div>
                                <div class="pie-chart-align" ng-if="vm.charts.monthlyTrendPieChart.series[0].data.length">
                                    <sbm-hc-pie-chart personnel-legend="true" pie-colors="{{vm.pieColors}}" tool-tip-format="true" id="monthlyTrendPieChart" height="300" data-ng-model="vm.charts.monthlyTrendPieChart">
                                    </sbm-hc-pie-chart>
                                    <div class="count-align">
                                        <div class="total-count">{{ vm.totalIncomplete }}</div>
                                        <div class="sub-title">{{ 'Incomplete' | translate }}</div>
                                    </div>
                                </div>
                                <div personnel-legend pull-right" class="personnel-pie-legend" ng-if="vm.charts.monthlyTrendPieChart.series[0].data.length">
                                    <div id="personnelLegendSpot"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <div class="panel-header-txt">
                                    {{ 'MONTHLY_TREND' | translate }}
                                    <span ng-if="vm.lastModifiedDate" class="panel-header-subtext margin-top-10  text-muted pull-right">{{ 'UPDATED' | translate }}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' : vm.userContext.Timezone.OffsetInHours }}</span>
                                </div>
                                <p class="panel-header-subtext padding-left-20">{{ vm.noOfMonths }} {{ 'MONTH_TREND' | translate }}</p>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                     ng-if="vm.charts.absentTypeMonthlyTrend.categories.length <= 1 && vm.noOfMonths > 1">
                                    - {{ 'NO_DATA' | translate }} -
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message"
                                     data-ng-if="vm.noOfMonths <= 1">
                                    - {{ 'MORE_THAN_1_MONTH_DATA_REQUIRED' | translate }} -
                                </div>
                                <div class="chart-wrap">
                                    <sbm-hc-column-chart id="ownershipMonthlyTrends" column-colors="{{vm.columnColors}}" data-ng-model="vm.charts.monthlyTrendColumnChart" ng-if="vm.noOfMonths > 1">
                                    </sbm-hc-column-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <div class="col-sm-12 recent-mobile  padding-bottom-15">
                            <h3 class="header margin-bottom-0">
                                {{ 'MOST_RECENT' | translate }}
                                <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "Audit")">
                                    {{ 'VIEW_ALL' | translate }}
                                </a>
                            </h3>
                            <div class="mobile-view-cards">
                                <card class="col-xs-12 col-sm-6 card-style" ng-repeat="details in vm.employeeAudits" ng-transclude>
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" header-text="'Audit Date'"
                                                             format-date="true" format-datetime-offset="true" item-id="details.EmployeeAuditId" view-link-fn="vm.showEntryViewModal(id)"
                                                             header-date="details.CreateDate">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left employee-img professionalism" ng-class="details.IsPass ? 'success' : 'fail'">
                                                    <i class="fa-professionalism prof-icon-style"></i>
                                                </div>
                                                <div class="pull-left overlap-div">
                                                    <img class="employee-img overlap-image" ng-src="{{ details.ProfileImage }}" />
                                                </div>
                                                <div class="pull-left employee-section">
                                                    <p class="name truncate">{{ details.EmployeeName }}</p>
                                                    <p class="name-lbl text-muted">
                                                        <span ng-if="details.IsEmployeeActive">{{ details.JobName }}</span>
                                                        <span ng-if="!details.IsEmployeeActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                    </p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="margin-top-15 truncate">
                                                <span ng-if="details.Comment">{{details.Comment}}</span>
                                                <span class="no-comment" ng-if="!details.Comment">{{'No Comment for this Audit' | translate}}</span>
                                            </div>
                                            <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                                <div class="pull-left" ng-class="{'site-client truncate' : details.ClientName.length + (details.SiteName ? details.SiteName.length : 0) > 25}">
                                                    <i class="fa fa-location margin-right-5"></i>
                                                    <span>{{details.ClientName}}<span ng-if="details.SiteName">, {{details.SiteName}}</span></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-right types">
                                                <a class="text-warning link-text-style" ng-href="{{vm.goToReportCard(details.EmployeeId)}}">{{ 'SCORECARD' | translate }}</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="viewByEmployee">
                        <div class="panel panel-default wo-view-by-employee">
                            <div class="panel-header-txt">
                                {{ 'VIEW_BY_EMPLOYEE' | translate }}
                                <span ng-if="vm.lastModifiedDate" class="panel-header-subtext margin-top-10  text-muted pull-right">{{ 'UPDATED' | translate }}: {{ vm.lastModifiedDate | date : 'MM/dd/yy' : vm.userContext.Timezone.OffsetInHours }}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted"
                                 ng-if="!vm.employeeAuditsPerEmployeeInfo.length && vm.isAllLoaded">
                                - {{ 'NO_DATA' | translate }} -
                            </div>
                            <div class="body-content" ng-if="vm.employeeAuditsPerEmployeeInfo.length">
                                <table class="table">
                                    <thead class="head">
                                        <tr>
                                            <th class="left-title">
                                                {{ 'EMPLOYEE' | translate }}
                                                <i class="angle-style" ng-class="vm.sort[0].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(0)"></i>
                                            </th>
                                            <th class="right-content hidden-xs hidden-sm">
                                                {{ 'TOTAL_NOT_PASSING' | translate }}
                                                <i class="angle-style" ng-class="vm.sort[1].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(1)"></i>
                                            </th>
                                            <th class="right-content last">
                                                {{ 'TOTAL_PASSING' | translate }}
                                                <i class="angle-style" ng-class="vm.sort[2].Asc ? 'fa-angle-up' : 'fa-angle-down'" ng-click="vm.toggleSort(2)"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="body" data-infinite-scroll="vm.getEmployeeAuditsInfoPerEmployee()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                                        <tr class="data-row" data-ng-repeat="data in vm.employeeAuditsPerEmployeeInfo">
                                            <td class="left-title">
                                                <div class="circle-employee-image pull-left">
                                                    <img src="{{ data.ProfileImage }}" />
                                                </div>
                                                <div class="pull-left padding-left-15">
                                                    <p ng-class="{ 'employee-name': data.IsEmployeeActive }">{{ data.EmployeeName }}</p>
                                                    <p class="inactive-employee" ng-if="!data.IsEmployeeActive">Inactive Employee</p>
                                                </div>
                                            </td>
                                            <td class="data-content hidden-xs hidden-sm">{{ data.NotPassingCount }}</td>
                                            <td class="data-content last">{{ data.PassingCount }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center fa-spin" ng-if="!vm.isAllLoaded">
                                <i class="fa-spinner text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
