﻿@{
    ViewBag.Title = "To-Dos";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}


<div class="container-fluid to-do-listview index to-do-common" data-ng-controller="Quality.ToDoDetailsCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'STATIC_TODOS'|translate}}"
                 s3-icon-name="todo.svg"
                 info-text="View requested tasks for specific sites and the employees that were assigned to complete the requested undertaking."
                 class="margin-horizontal-0">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-employees href="javascript:void(0);" to-do-list checksite="vm.isSiteDisabled" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW_TODO' | translate }}</span>
        </a>

        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block" ng-if="vm.sitesettings.windowSizes.isNotDesktop">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-filter data-ng-model="vm.toDos"
                                        filter="vm.filter"
                                        filter-apply-fn="vm.getTodosReset()"
                                        filter-clear-fn="vm.getTodosReset()"
                                        filter-options="vm.filterByOptions"></utility-nav-filter>
                </li>
                <li>
                    <button class="" ng-click="vm.export()">
                        <span class="fa fa-download"></span> {{'EXPORT' | translate }}
                    </button>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header>
        <tabs>
            <a href="@Url.Action("Index", "ToDo")" class="btn btn-default text-capitalize">Charts</a>
            <a href="#" class="btn btn-default active text-capitalize">Details</a>
        </tabs>
        <custom-buttons class="btn-group visible-md visible-lg" ng-if="!vm.sitesettings.windowSizes.isNotDesktop">
            <utility-nav-filter data-ng-model="vm.toDos"
                                button-classes="btn btn-default"
                                filter="vm.filter"
                                filter-apply-fn="vm.getTodosReset()"
                                filter-clear-fn="vm.getTodosReset()"
                                filter-options="vm.filterByOptions"></utility-nav-filter>
            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>

    <div class="main-body-padding">
        <div class="panel panel-default todo-panel">
           
            <div class="center-cards">
                <tab-filter-header class="padding-horizontal-5 padding-top-20" tab-items="vm.tabFilterItems"></tab-filter-header>
                <utility-nav-filter-tags></utility-nav-filter-tags>
            </div>
            <div class="panel-body" style="padding: 0;">

                <div class="text-center empty-wrap" ng-if="!vm.toDos.length">No data to display</div>
                <div class="no-padding no-margin">

                    <div ng-if="vm.isCardView" class="card-view-style center-cards" data-infinite-scroll="vm.getTodoScroll()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy" infinite-scroll-immediate-check="false">
                        <card class="col-md-4 col-sm-6 col-xs-12 card-size card-align" ng-transclude ng-repeat="details in vm.toDos">
                            <card-header ng-transclude>
                                <quality-card-header module="vm.module" high-light="details.LastSeenDate || details.IsComplete? false: true" header-text="vm.headerText"
                                                     format-date="false" item-id="details.TodoItemId" view-link-fn="vm.ShowEntryViewModal(id)"
                                                     header-date="details.CreateDate" custom-format-date="true">
                                </quality-card-header>
                            </card-header>
                            <card-body ng-transclude>
                                <div class="card-body-content">
                                    <div>
                                        <div class="pull-left">
                                            <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                        </div>
                                        <div class="pull-left auditor-section">
                                            <p class="name truncate">{{details.OrgUserName}}</p>
                                            <p class="name-lbl text-muted">
                                                <span ng-if="details.IsOrgUserActive">{{'Assigned To' | translate}}</span>
                                                <span ng-if="!details.IsOrgUserActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                            </p>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div ng-if="details.Comment" class="margin-top-25 truncate">
                                        {{details.Comment}}
                                    </div>
                                    <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                        <p class="pull-left building-name" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length) > 15}">
                                            {{details.BuildingName}}, {{details.FloorName}}
                                        </p>
                                        <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (vm.siteName ? vm.siteName.length : 0) > 25}">
                                            <i class="fa fa-location margin-right-5"></i>
                                            {{vm.clientName}}
                                            <span ng-if="vm.siteName">, {{vm.siteName}}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </card-body>
                            <card-footer ng-transclude>
                                <div class="card-footer-content">
                                    <div class="pull-left truncate left-date">
                                        <i class="fa fa-calendar text-muted"></i>
                                        <span class="text-muted text-capitalize">{{'DUE' | translate}}: {{details.DueDate}}</span>
                                    </div>
                                    <div class="pull-right types truncate right-date" ng-if="!details.IsComplete && details.LastSeenDate">
                                        <i class="fa fa-view text-warning"></i>
                                        <span class="text-warning text-capitalize">{{'SEEN' | translate}}: {{details.LastSeenDate}}</span>
                                    </div>
                                    <div class="pull-right types truncate right-date" ng-if="details.IsComplete">
                                        <i class="fa fa-cancel" ng-class="details.IsDueDatePassed ? 'text-danger' : 'text-warning' "></i>
                                        <span class="text-capitalize" ng-class="details.IsDueDatePassed ? 'text-danger' : 'text-warning' ">
                                            {{'Closed' | translate}}: {{details.CompletedDate}}
                                        </span>
                                    </div>
                                </div>
                            </card-footer>
                            <div class="clearfix"></div>
                        </card>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
