﻿@model ChaiTea.Web.Common.AuditVm
@{
    ViewBag.Title = "";
    ViewBag.HideTitleBar = false;
    var todoItemId = Model.Id;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")

}

@section title {
<quality-tab-navigation icon-sub-navigation="Quality" active="todos"></quality-tab-navigation>
}

<div class="to-do-detail" data-ng-controller="ToDoEntryViewCtrl as vm" data-ng-init="vm.initialize(@todoItemId)">
    <div class="head">
        TO-DO DETAIL
    </div>
    <div class="col-md-8 colxs-12 col-sm-12 left-side-block remove-lr-padding">
        <div class="todo-by">
            <p class="todo-details-label">To-Do Details</p>
            <p class="todo-by-name">By {{ vm.createByName }}</p>
        </div>
        <div class="date-time-info">
            <div class="col-md-4 left-side col-xs-12 col-sm-4">
                <div class="create-date">Created: {{ vm.createdDate | date : 'MMMM dd, yyyy'}}</div>
                <div class="due-date-mob">Due Date: {{ vm.dueDate | date : 'MMMM dd, yyyy'}}</div>

            </div>
            <div class="col-md-4 right-side col-xs-12 col-sm-4">
                <div class="location hide-phone">LOCATION</div>
                <div class="building-floor hide-phone">{{ vm.buildingName }}, {{ vm.floorName }}</div>
                <div class="location hide-desktop">LOCATION   <span class="building-floor">{{ vm.buildingName }}, {{ vm.floorName }}</span></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="description">
            <div class="title">
                Description
            </div>
            <div class="info">
                {{ vm.comment }}
            </div>
        </div>
    </div>


    <div class="right-side-block col-md-4 col-xs-12 col-sm-12">
        <div class="title">
            Accountable Employees
        </div>
        <hr class="horizontal-line" />
        <div class="supervisor-info">
            <div class="circle-img col-xs-4">
                <img ng-src="{{ vm.employeeImage || '@Url.Content("~/content/img/user.jpg")'}}" />
            </div>
            <div class="supervisor-name col-xs-8">
                {{ vm.employeeName }}
                <div class="supervisor-title">
                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr class="hidden-md hidden-lg hidden-sm" />
        <div class="row todo-close" data-ng-show="!vm.todo.IsComplete">
            <a class="btn btn-todo-close" href="javascript:void(0);" data-ng-click="vm.closeToDo()">CLOSE</a>
            @*<a class="btn btn-todo-close btn-edit" href="javascript:void(0);" data-ng-click="vm.editToDo()" visible-managers>EDIT</a>*@
            <a class="btn btn-todo-close btn-delete" href="javascript:void(0);" data-ng-click="vm.deleteToDo()" visible-managers>DELETE</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>