﻿@{
    ViewBag.Title = "";
    ViewBag.HideTitleBar = false;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")

}

@section title {
<quality-tab-navigation icon-sub-navigation="Quality" active="todos"></quality-tab-navigation>
    <div class="pull-right">
        <div id="date-picker-btn">
            <span class="date">{{ vm.dateRange.startDate | date: 'MMM y'}}</span> -
            <span class="date">{{ vm.dateRange.endDate | date: 'MMM y' }}</span> <span class="icon-calendar4"></span>
        </div>
    </div>
}

<div class="container-fluid" data-ng-controller="Quality.ToDoViewCtrl as vm" data-ng-init="vm.initialize()">
    <div class="modal-header">
        <h3 class="modal-title">
            Create New To-Do
        </h3>
    </div>
    <div class="modal-body">
        <form name="todoForm" role="form" class="todo-form" novalidate>
            <div class="container">

                <div class="row">
                    <div class="col-md-12"><label>Assigned to <span class="required">*</span></label></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="isEmployee" ng-value="true" data-ng-model="vm.isEmployee" data-ng-required="true" ng-modal="vm.todo.EmployeeId">
                                Employee
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="isEmployee" ng-value="false" data-ng-model="vm.isEmployee" data-ng-required="true" ng-modal="vm.todo.CustomerRepresentativeId">
                                Contractor
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <select id="employeeId" name="employeeId" class="form-control" data-ng-model="vm.todo.EmployeeId"
                                data-ng-options="employee.Key*1 as employee.Value for employee in vm.options.employees"
                                data-ng-if="vm.isEmployee==true" data-ng-required="vm.isEmployee==true">
                            <option value="">- Select One -</option>
                        </select>

                        <select id="customerRepresentativeId" name="customerRepresentativeId" class="form-control" data-ng-model="vm.todo.CustomerRepresentativeId"
                                ng-options="rep.CustomerRepresentativeId*1 as rep.Name for rep in vm.options.customerRepresentatives"
                                data-ng-if="vm.isEmployee==false" data-ng-required="vm.isEmployee==false">
                            <option value="">- Select One -</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="comment">Comment</label>
                        <span class="required">*</span>
                        <textarea id="comment" name="comment" class="form-control comment" placeholder=""
                                  data-ng-required="true"
                                  data-ng-model="vm.todo.Comment"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="due-date">Due Date</label>
                        <p class="input-group">
                            <input id="due-date" name="due-date" type="text" class="form-control"
                                   data-ng-required="true"
                                   data-ng-model="vm.todo.DueDate" uib-datepicker-popup="MM/dd/yyyy"
                                   is-open="vm.datepickers.dueDate"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-ng-click="vm.openDatePicker($event, 'dueDate')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <label for="building-id">Building <span class="required">*</span></label>
                        <select id="building-id" name="building-id" class="form-control" data-ng-required="true" data-ng-model="vm.todo.BuildingId"
                                data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                                data-ng-change="vm.getFloorsByBuildingId(vm.todo.BuildingId)">
                            <option value="">- Select One -</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="foor-id">Floor</label>
                        <select id="foor-id" name="foor-id" class="form-control" data-ng-disabled="!vm.options.buildings.length || !vm.options.floors.length" data-ng-model="vm.todo.FloorId"
                                data-ng-options="floor.Key*1 as floor.Value for floor in vm.options.floors">
                            <option value=""></option><!-- SS 12/29/2014: Need a blank field for floors -->
                        </select>
                    </div>
                </div>
                <div class="row footer">
                    <div class="col-md-6">
                        <a class="btn btn-primary btn-block" href="javascript:void(0);" id="toggleFilter" data-ng-click="vm.saveTodo()">
                            <i class="fa fa-filter"></i><span class="plus-btn">Cancel</span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-primary btn-block" id="toggleFilter" data-ng-click="vm.saveTodo()" data-ng-disabled="!todoForm.$valid">
                            <i class="fa fa-filter"></i><span class="plus-btn">Submit</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
