﻿@{
    ViewBag.Title = "To-Dos";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    @Scripts.Render("~/scripts/chaitea-quality")
}

<div class="container-fluid index to-do-index to-do-common" data-ng-controller="Quality.ToDoIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="{{'STATIC_TODOS'|translate}}"
                 s3-icon-name="todo.svg"
                 info-text="View requested tasks for specific sites and the employees that were assigned to complete the requested undertaking.">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a hidden-employees  href="javascript:void(0);" to-do-list checksite="vm.isSiteDisabled" class="btn btn-success btn-sm">
            + <span class="hidden-xs hidden-sm">{{'NEW_TODO' | translate }}</span>
        </a>
    </page-header>
    <utility-header>
        <tabs>
            <a href="#" class="btn btn-default active">Charts</a>
            <a href="@Url.Action("Details", "ToDo")" class="btn btn-default">Details</a>
        </tabs>
    </utility-header>
    <div class="row page-data-align">
        <hr class="hline hidden-xs" />
        <div class="col-sm-12 page-content todo-page-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                    <div class="col-md-12 recent-desktop  padding-bottom-15">
                        <h3 class="header margin-bottom-0 padding-left-15">
                            Most Recent
                            <a class="btn btn-link btn-xs pull-right margin-right-10 text-uppercase" href="@Url.Action("Details", "ToDo")">
                                {{'VIEW ALL' | translate}}
                            </a>
                        </h3>
                        <div class="card-index">
                            <card class="col-xs-12" ng-repeat="details in vm.todos" ng-transclude>
                                <card-header ng-transclude>
                                    <quality-card-header module="vm.module" high-light="details.LastSeenDate || details.IsComplete ? false: true" header-text="vm.headerText"
                                                         format-date="false" item-id="details.TodoItemId" view-link-fn="vm.ShowEntryViewModal(id)" 
                                                         header-date="details.CreateDate" custom-format-date="true">
                                    </quality-card-header>
                                </card-header>
                                <card-body ng-transclude>
                                    <div class="card-body-content">
                                        <div>
                                            <div class="pull-left">
                                                <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                            </div>
                                            <div class="pull-left auditor-section">
                                                <p class="name truncate">{{details.OrgUserName}}</p>
                                                <p class="name-lbl text-muted">
                                                    <span ng-if="details.IsOrgUserActive">{{'Assigned To' | translate}}</span>
                                                    <span ng-if="!details.IsOrgUserActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                </p>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="details.Comment" class="margin-top-25 truncate">
                                            {{details.Comment}}
                                        </div>
                                        <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                            <p class="pull-left" ng-class="{'building truncate' : (details.BuildingName.length + details.FloorName.length) > 15}">
                                            {{details.BuildingName}}, {{details.FloorName}}</p>
                                            <div class="pull-left padding-left-15" ng-class="{'site-client truncate' : vm.clientName.length + (vm.siteName ? vm.siteName.length : 0) > 25}">
                                                <i class="fa fa-location margin-right-5"></i>
                                                <span>{{vm.clientName}}<span ng-if="vm.siteName">, {{vm.siteName}}</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </card-body>
                                <card-footer ng-transclude>
                                    <div class="card-footer-content">
                                        <div class="pull-left truncate left-date">
                                            <i class="fa fa-calendar text-muted"></i>
                                            <span class="text-muted text-capitalize">{{'DUE' | translate}}: {{details.DueDate}}</span>
                                        </div>
                                        <div class="pull-right types truncate right-date" ng-if="!details.IsComplete && details.LastSeenDate">
                                            <i class="fa fa-view text-warning"></i>
                                            <span class="text-warning text-capitalize">{{'SEEN' | translate}}: {{details.LastSeenDate}}</span>
                                        </div>
                                        <div class="pull-right types truncate right-date" ng-if="details.CompletedDate && details.IsComplete">
                                            <i class="fa fa-cancel text-warning"></i>
                                            <span class="text-warning text-capitalize">{{'Closed' | translate}}: {{details.CompletedDate}}</span>
                                        </div>
                                    </div>
                                </card-footer>
                                <div class="clearfix"></div>
                            </card>
                        </div>
                       
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 charts">
                    <div class="row hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="panel panel-default margin-bottom-0">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} Month Scores</h3>
                                <div class="score-panel">
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value text-danger">{{ vm.tabCounts.PastDue }}</span>
                                        <span class="score-title">Past Due</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value">{{ vm.tabCounts.Open }}</span>
                                        <span class="score-title">Currently Open</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 score-tab">
                                        <span class="score-value text-danger">{{ ((vm.tabCounts.Closed) == 0 && (vm.tabCounts.PastDue) == 0) ? 0 : ((vm.tabCounts.ClosedOnTime/(vm.tabCounts.Closed + vm.tabCounts.PastDue))*100) | number : 1 }}%</span>
                                        <span class="score-title">Closed on Time</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <h3 class="panel-header-txt">{{ vm.noOfMonths }} Month Average</h3>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted empty-message"
                                     ng-if="(vm.tabCounts.ClosedOnTime == 0) && (vm.tabCounts.PastDue + (vm.tabCounts.Closed - vm.tabCounts.ClosedOnTime) == 0)">
                                    - No Data to display -
                                </div>
                                <div class="pie-chart-align">
                                    <sbm-hc-pie-chart id="todosMonthlyAverage" minwidth="0" height="300"
                                                      ng-if="(vm.tabCounts.ClosedOnTime > 0) || (vm.tabCounts.PastDue + (vm.tabCounts.Closed - vm.tabCounts.ClosedOnTime) > 0)"
                                                      data-ng-model="vm.todoCharts.MonthlyAverage">
                                    </sbm-hc-pie-chart>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mob-align">
                            <div class="panel panel-default">
                                <h3 class="panel-header-txt">Monthly Trends</h3>

                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message"
                                     data-ng-if="vm.noOfMonths <= 1">
                                    - More than 1 month worth of data required for monthly trend -
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted empty-message"
                                     data-ng-if="vm.todoCharts.counts.monthlyTrend.count == 0 && vm.noOfMonths > 1">
                                    - No data to display -
                                </div>
                                <div class="chart-wrap">
                                    <sbm-hc-column-chart id="todoTrends" data-ng-model="vm.todoCharts.MonthlyTrend"
                                                         data-ng-if="vm.noOfMonths > 1 && vm.todoCharts.counts.monthlyTrend.count > 0">
                                    </sbm-hc-column-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <div class="col-sm-12 recent-mobile  padding-bottom-15">
                            <h3 class="header margin-bottom-0 todo-cards">
                                Most Recent
                                <a class="btn btn-link btn-xs pull-right text-uppercase" href="@Url.Action("Details", "ToDo")">
                                    {{'VIEW ALL' | translate}}
                                </a>
                            </h3>
                            <div class="todo-cards">
                                <card class="col-xs-12 col-sm-6 size" ng-repeat="details in vm.todos | limitTo:5" ng-transclude>
                                    <card-header ng-transclude>
                                        <quality-card-header module="vm.module" high-light="details.LastSeenDate || details.IsComplete ? false: true" header-text="vm.headerText"
                                                             format-date="false" item-id="details.TodoItemId" view-link-fn="vm.ShowEntryViewModal(id)" 
                                                             header-date="details.CreateDate" custom-format-date="true">
                                        </quality-card-header>
                                    </card-header>
                                    <card-body ng-transclude>
                                        <div class="card-body-content">
                                            <div>
                                                <div class="pull-left">
                                                    <img class="employee-img move" ng-src="{{details.ProfileImage}}" />
                                                </div>
                                                <div class="pull-left auditor-section">
                                                    <p class="name truncate">{{details.EmployeeName}}</p>
                                                    <p class="name-lbl text-muted">
                                                        <span ng-if="details.IsOrgUserActive">{{'Assigned To' | translate}}</span>
                                                        <span ng-if="!details.IsOrgUserActive">{{'INACTIVE_EMPLOYEE' | translate}}</span>
                                                    </p>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div ng-if="details.Comment" class="margin-top-15 truncate">
                                                {{details.Comment}}
                                            </div>
                                            <div class="site padding-top-5" ng-class="{'empty-description': !details.Comment}">
                                                <p class="pull-left" ng-class="{'building truncate' : details.BuildingName.length > 20}">
                                                {{details.BuildingName}}, {{details.FloorName}}</p>
                                                <div class="pull-left padding-left-15" ng-class="{'building truncate' : details.BuildingName.length > 20}">
                                                    <i class="fa fa-location"></i>
                                                    <span>{{vm.clientName}}<span ng-if="vm.siteName">{{vm.siteName}}</span></span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </card-body>
                                    <card-footer ng-transclude>
                                        <div class="card-footer-content">
                                            <div class="pull-left truncate left-date">
                                                <i class="fa fa-calendar text-muted"></i>
                                                <span class="text-muted text-capitalize">{{'DUE' | translate}}: {{details.DueDate}}</span>
                                            </div>
                                            <div class="pull-right types truncate right-date" ng-if="!details.IsComplete && details.LastSeenDate">
                                                <i class="fa fa-view text-warning"></i>
                                                <span class="text-warning text-capitalize">{{'SEEN' | translate}}: {{details.LastSeenDate}}</span>
                                            </div>
                                            <div class="pull-right types truncate right-date" ng-if="details.CompletedDate && details.IsComplete">
                                                <i class="fa fa-cancel text-warning"></i>
                                                <span class="text-warning text-capitalize">{{'Closed' | translate}}: {{details.CompletedDate}}</span>
                                            </div>
                                        </div>
                                    </card-footer>
                                    <div class="clearfix"></div>
                                </card>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="viewByEmployee">
                        <div class="panel panel-default wo-view-by-employee">
                            <h3 class="panel-header-txt" style="margin-bottom: 0;">
                                {{'Assigned To' | translate}}
                            </h3>
                            <div class="panel-body" style="padding: 0;">
                                <div class="row empty-wrap" ng-if="!vm.employeeList.length">
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center text-muted">
                                        No data to display
                                    </div>
                                </div>
                                <div class="row view-by-emp-details" ng-if="vm.employeeList.length > 0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 desktop-align">
                                        <table class="table table-bordered table-striped details-grid">
                                            <thead>
                                                <tr>
                                                    <th class="emp-title-left">
                                                        EMPLOYEE/REPRESENTATIVE
                                                    </th>
                                                    <th>
                                                        CLOSED ON TIME
                                                    </th>
                                                    <th>
                                                        PAST DUE
                                                    </th>
                                                    <th class="hidden-xs">
                                                        ON TIME PERCENTAGE
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="employee in vm.employeeList | orderBy:'EmployeeName'">
                                                    <td class="employee-styling">
                                                        <div class="pull-left image">
                                                            <div class="circle-img">
                                                                <img ng-src="{{ ::employee.ProfileImage }}" />
                                                            </div>
                                                        </div>
                                                        <div class="pull-left details">
                                                            <p class="name text-primary text-uppercase" ng-class="{'margin-top-10': employee.IsOrgUserActive}">{{ employee.OrgUserName }}</p>
                                                            <p class="inactive-employee" ng-if="!employee.IsOrgUserActive">{{'INACTIVE_EMPLOYEE' | translate}}</p>
                                                        </div>
                                                    </td>
                                                    <td class="text-center align-td">{{ ::employee.ClosedOnTime }}</td>
                                                    <td class="text-center align-td">{{ ::employee.PastDue }}</td>
                                                    <td class="align-td hidden-xs">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="progress progress-bar-danger">
                                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                                         aria-valuenow="41"
                                                                         aria-valuemin="0" aria-valuemax="100" ng-style="{width: (employee.ClosedOnTime/employee.Closed)*100 + '%'}">
                                                                        {{employee.Closed == 0? 0 : (employee.ClosedOnTime/employee.Closed)*100 | number : 0 }}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
