﻿<div class="todo-popup">
    <div class="modal-header">
        NEW TO-DO
    </div>
    <div class="modal-body">
        <div class="title">
            <div class="col-md-1 col-xs-2 remove-lr-padding">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-light-gray"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse text-primary"></i>
                </span>
            </div>
            <div class="title-header col-md-10 col-xs-10">
                Enter To-Do Details
                <div class="title-subheader">
                    Fill out form to assign a To-Do to an employee
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <form name="todoForm" role="form" class="css-form" novalidate>
            <div class="well well-clean box-padding">
                <div class="row">
                    <div class="col-md-12">
                        <label for="employeeId">Assigned To</label>
                        <span class="required">*</span>
                    </div>
                </div>
                <div class="row padding-top-5">
                    <div class="col-md-12">
                        <select id="employeeId" name="employeeId" class="form-control" data-ng-model="vm.todo.OrgUserId"
                                data-ng-options="employee.Key*1 as employee.Value for employee in vm.options.employees"
                                data-ng-required="true">
                            <option class="option-style" value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="row padding-top-15">
                    <div class="col-md-12">
                        <label for="createDate">Due Date</label>
                        <span class="required">*</span>
                        <p class="input-group padding-top-5">
                            <input id="dueDate" name="dueDate" type="text" class="form-control"
                                   placeholder="Select a date"
                                   data-ng-required="!vm.isDueInTwentyFourHours"
                                   ng-disabled="vm.isDueInTwentyFourHours"
                                   datepicker-append-to-body
                                   data-ng-model="vm.dueDate" uib-datepicker-popup="MM/dd/yyyy"
                                   min-Date="vm.minDate"
                                   is-open="vm.datepickers.dueDate"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default " data-ng-click="vm.openDatePicker($event, 'dueDate')" ng-disabled="vm.isDueInTwentyFourHours">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row padding-top-15">
                    <div class="col-md-6">
                        <label for="buildingId">
                            Building
                        </label>
                        <span class="required">*</span>
                    </div>
                    <div class="col-md-12 padding-top-5">
                        <select id="buildingId" name="buildingId" class="form-control" data-ng-model="vm.buildingId"
                                data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                                data-ng-required="true"
                                data-ng-change="vm.onBuildingChange(vm.buildingId)">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="row padding-top-15">
                    <div class="col-md-6">
                        <label for="floorId">
                            Floor
                        </label>
                        <span class="required">*</span>
                    </div>
                    <div class="col-md-12 padding-top-5">
                        <select id="floorId" name="floorId" class="form-control" data-ng-model="vm.todo.FloorId"
                                data-ng-options="floor.Key*1 as floor.Value for floor in vm.options.floors"
                                data-ng-required="true"
                                data-ng-disabled="vm.todo.floors.length <= 0">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="row padding-top-15">
                    <div class="col-md-12">
                        <label for="comment" class="padding-bottom-5">Description</label>
                        <span class="required">*</span>
                        <textarea id="comment" name="comment" class="form-control" placeholder="Enter description here"
                                  data-ng-required="true"
                                  data-ng-model="vm.todo.Comment"></textarea>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <label class="pull-left">
            <input type="checkbox" class="checkbox-inline"
                    ng-click="vm.setDueDate()"/>
            <span>Due in 24hrs</span>
        </label>
        <button class="btn btn-primary pull-right btn-save" ng-disabled="vm.$scope.todoForm.$invalid" ng-click="vm.saveTodo()">SAVE</button>
        <button class="btn btn-primary pull-right btn-cxl margin-right-5" ng-click="vm.cancel()">CANCEL</button>
    </div>
</div>