﻿<div class="padding-left-5 left-section hidden-xs hidden-sm">
    <p class="pop-up-title module-name">{{'CONDUCT_DETAILS' | translate}}</p>
    <div class="padding-bottom-20">
        <p class="text-uppercase title">{{'Employee' | translate}}:</p>
            <div class="pull-left assigned-employee-card">
                <img class="pull-left" ng-if="vm.conduct.ProfileImage" ng-cloak ng-src="{{vm.conduct.ProfileImage}}" />
                <img class="pull-left" ng-if="!vm.conduct.ProfileImage" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                <div class="pull-left emp-details">
                    <p class="name truncate">{{vm.conduct.EmployeeName}}</p>
                    <p class="job">{{vm.conduct.EmployeeJobName}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        <div class="clearfix"></div>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text title">{{'Reported By' | translate}}:</p>
        <p class="">{{vm.conduct.CreatedByName}}</p>
    </div>
    <div class="padding-bottom-20">
        <p class="bold-text title">{{'DATE_OF_OCCURRENCE' | translate}}:</p>
        <p>{{vm.conduct.DateOfOccurrence | date: 'dd-MM-yyyy, hh:mm a'}}</p>
    </div>
    <div class="padding-bottom-40">
        <p class="bold-text title">{{'CLASSIFICATION' | translate}}:</p>
        <div class="padding-top-10" ng-repeat="conductType in vm.conduct.ConductTypes">
            <p class="relatedTo classification ">
                {{conductType.Name}}
            </p>
        </div>
    </div>
    <hr />
    <div>
        <a class="pull-left text-danger link-style padding-right-20 hidden-employees" ng-click="vm.deleteConduct()">{{'DELETE_REPORT' | translate}}</a>
    </div>
    
</div>
<div class="hidden-md hidden-lg left-section mobile">
    <div class="padding-bottom-10 section-borders">
        <span class="pull-left italic-bold date-field align">{{'REPORTED_ON' | translate}}: {{vm.conduct.CreateDate | date: 'dd-MM-yyyy, hh:mm a': vm.userContext.Timezone.OffsetInHours}}</span>
        <a class="pull-right btn btn-edit text-uppercase padding-10 hidden-employees align" ng-click="vm.redirectToEntry()">{{'EDIT' | translate}}</a>
        <div class="clearfix"></div>
    </div>
    
    <div class="section-borders padding-top-15 padding-bottom-20">
        <p class="pop-up-title align">{{'CONDUCT_DETAILS' | translate}}</p>
        <div class="padding-bottom-20 align">
            <p class="text-uppercase title">{{'Employee' | translate}}:</p>
            <div class="pull-left assigned-employee-card">
                <img class="pull-left" ng-if="vm.conduct.ProfileImage" ng-cloak ng-src="{{vm.conduct.ProfileImage}}" />
                <img class="pull-left" ng-if="!vm.conduct.ProfileImage" ng-cloak ng-src="{{'@Url.Content("~/content/img/user.jpg")' }}" />
                <div class="pull-left emp-details">
                    <p class="name truncate">{{vm.conduct.EmployeeName}}</p>
                    <p class="job">{{vm.conduct.EmployeeJobName}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'Reported By' | translate}}:</p>
            <p class="">{{vm.conduct.CreatedByName}}</p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'DATE_OF_OCCURRENCE' | translate}}:</p>
            <p>{{vm.conduct.DateOfOccurrence | date: 'dd-MM-yyyy, hh:mm a'}}</p>
        </div>
        <div class="padding-bottom-20 align">
            <p class="bold-text title">{{'CLASSIFICATION' | translate}}:</p>
            <div class="padding-top-10" ng-repeat="conductType in vm.conduct.ConductTypes">
                <p class="relatedTo classification ">
                    {{conductType.Name}}
                </p>
            </div>
        </div>
    </div>
    <div class="section-borders padding-bottom-20 padding-top-20">
        <p class="align sub-head-text">{{'COMMENTS' | translate}}</p>
        <p class="align text-space">{{vm.conduct.Reason}}</p>
        <p class="text-space align no-comment" ng-if="!vm.conduct.Reason">{{'NO_CONDUCT_COMMENT' | translate}}</p>
    </div>
    
    <div class="text-center padding-top-10">
        <a class="text-danger link-style  hidden-employees" ng-click="vm.deleteConduct()">{{'DELETE_REPORT' | translate}}</a>
    </div>
</div>
