﻿<div class="financials visible-employees" data-ng-controller="Personnel.MyFinancialsCtrl as vm" ng-init="vm.initialize()">
    <div class="monthly-picker-div">
        <div class="custom-monthly-picker col-md-12 col-xs-12 col-sm-12 ">
            <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="mobile-tabs-wrap">
        <div class="tab-head">SEP BONUS</div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-1 tab tab-1">
                <div class="pull-left">
                    <i class="fa fa-financials icon-style"></i>
                </div>
                <div class="pull-left bonus-data">
                    <p class="amount">${{vm.yearlyBonus}}</p>
                    <p class="amount-title hidden-lg hidden-md">BONUS EARNED THIS YEAR</p>
                </div>
                <div class="pull-left bonus-title hidden-xs hidden-sm">
                    <p class="amount-title">BONUS EARNED THIS YEAR</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-1 tab">
                <div class="pull-left">
                    <i class="fa fa-client icon-style"></i>
                </div>
                <div class="pull-left bonus-data">
                    <p class="amount">$<span ng-bind="vm.monthlyBonus + vm.siteBonusForMonth"></span></p>
                    <p class="amount-title hidden-lg hidden-md">BONUS EARNED THIS MONTH</p>
                </div>
                <div class="pull-left bonus-title hidden-xs hidden-sm">
                    <p class="amount-title">BONUS EARNED THIS MONTH</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="my-hours">
        <div class="tab-head">MY HOURS</div>
        <div class="calender-wrap">
            <mwl-calendar view="vm.view"
                          current-day="vm.currentDay"
                          events="vm.events">
            </mwl-calendar>
        </div>
        <div class="month-head">{{vm.dateRange.endDate | date:'MMMM'}} {{vm.dateRange.year}} - Time Sheet</div>
        <!--<hr />-->
        <div class="empty-data-info" data-ng-if="!vm.totalWeeksInMonth">No time sheets available </div>
        <div class="panel visible-xs" data-ng-repeat="week in vm.weeks" data-ng-if="week.weekNo <= vm.totalWeeksInMonth">
            <div class="panel-heading" ng-click="vm.active = $index">
                <span>Week {{week.weekNo}} </span><span class="time pull-right"> {{week.totalHours}} Hrs</span>
            </div>
            <div class="panel-body" ng-if="vm.active == $index">
                <div class="col-md-12 sub-head">
                    <div class="col-md-3 col-xs-3 no-padding">
                        DATE
                    </div>
                    <div class="col-md-3 col-xs-3 no-padding">
                        TIME-IN
                    </div>
                    <div class="col-md-3 col-xs-3 no-padding">
                        TIME-OUT
                    </div>
                    <div class="col-md-3 col-xs-3 no-padding">
                        HOURS
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="no-margin" />
                <div class="col-md-12 sub-head-content" ng-repeat="time in vm.timeClocks" ng-if="time.WeekNo === week.weekNo">
                    <div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            {{time.Day | date:'M/d'}}
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            {{time.StartTime | date:'h:mm a'}}
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            {{time.EndTime | date:'h:mm a'}}
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding time">
                            {{time.TotalTime}}hr
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="hidden-xs padding-horizontal-5" data-ng-repeat="week in vm.weeks" data-ng-if="week.weekNo <= vm.totalWeeksInMonth">
            <a href="javascript:void(0)" ng-click="vm.active = $index">
                <h4>
                    <span ng-class="{activeweek : vm.active == $index}">Week {{week.weekNo}} - Worked {{week.totalHours}} Hours</span>
                </h4>
            </a>
            <div class="panel-body" ng-show="vm.active == $index">
                <div class="col-md-12 sub-head">
                    <div class="col-md-3 col-xs-3 no-padding">
                        DATE
                    </div>
                    <div class="col-md-3 col-xs-3 no-padding">
                        TIME-IN
                    </div>
                    <div class="col-md-3 col-xs-3 no-padding">
                        TIME-OUT
                    </div>
                    <div class="col-md-3 col-xs-3 no-padding">
                        HOURS
                    </div>
                </div>
                <div class="col-md-12 sub-head-content" ng-repeat="time in vm.timeClocks" ng-if="time.WeekNo === week.weekNo">
                    <hr />
                    <div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            {{time.Day | date:'M/d'}}
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            {{time.StartTime | date:'h:mm a'}}
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding">
                            {{time.EndTime | date:'h:mm a'}}
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding time">
                            {{time.TotalTime}}hr
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="empty-data-info" ng-if="vm.active == $index && vm.totalWeeksInMonth > $index + 1 ">Click to expand time sheet for the week</div>
        </div>
    </div>
</div>