﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Compliance";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid" data-ng-controller="Training.ComplianceIndex as vm" data-ng-init="vm.initialize()">
    <page-header title="Compliance"
                 s3-icon-name="knowledgecenter.svg"
                 info-text="A compliant associate has completed {{vm.compliantControl}}% of assigned courses by their due dates.">
    </page-header>
    <div class="settings compliance row">

        <div class="heading row">

            <div class="col-xs-6 col-sm-6 col-md-6 pull-left text hidden-xs padding-top-20">
                A compliant associate has completed {{vm.compliantControl}}% of assigned courses by their due dates.
            </div>
            <div class="col-xs-2 col-sm-3 col-md-2 pull-right data hidden-xs compliance-percentage-align">
                <p class="percentage success">{{vm.totalPercent}}%</p>
                <p class="title">{{vm.compliantMsg}}</p>
                <p class="goal">Goal: {{vm.compliantControl}}%</p>
            </div>
            <div class="col-xs-12 mobile-data hidden-lg hidden-md hidden-sm">
                <div class="col-xs-4 col-xs-offset-1 per">
                    <p class="percentage success">{{vm.totalPercent}}%</p>
                </div>
                <div class="col-xs-5 txt">
                    <p class="title">COMPLIANCE</p>
                    <p class="goal">Goal: {{vm.compliantControl}}%</p>
                </div>
            </div>

        </div>


        <div class="table-heading">
            <div class="col-xs-8 col-md-4 first-row employee-label-align">
                <p class="pull-left">EMPLOYEE</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <div class="head-due-date">
                    <p>START DATE</p>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <div class="head-due-date">
                    <p>EXPECTED TO DATE</p>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <div class="head-due-date">
                    <p>COMPLETED TO DATE</p>
                </div>
            </div>
            <div class="col-xs-4 col-md-2 padding-left-mobile">
                <div class="head-due-date">
                    <p>COMPLIANCE</p>
                </div>
            </div>

            <div class="clearfix"></div>
        </div><!-- table-head -->


        <div ng-click="vm.loadTranscript(employee)" class="itemrow entire-row emp-row {{ ($index % 2 ? 'row-even' : 'row-odd' ) }}" data-ng-repeat="employee in vm.employees">

            <div class="action-style-single col-xs-8 col-md-4 first-row employee-label-align">
                <div class="circle-img pull-left" ng-hide="false">
                    <img ng-src="{{ employee.ProfileImage || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{::employee.Name}}" />
                </div>
                <div class="emp-details pull-left">
                    <p class="emp-name">{{ employee.Name }}</p>
                    <p class="emp-title">{{ employee.JobDescription.Name }}</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="hidden-xs hidden-sm col-md-2 margin-20-0">
                <p>{{employee.HireDate |date:'MM/dd/yyyy'}}</p>
            </div>

            <div class="hidden-xs hidden-sm col-md-2 margin-20-0">
                <p>{{employee.CoursesExpected}}</p>
            </div>

            <div class="hidden-xs hidden-sm col-md-2 margin-20-0">
                <p>{{employee.CoursesCompleted}}</p>
            </div>

            <div class="col-xs-4 col-md-2">
                <div class="progress">
                    <div class="progress-bar {{ ( employee.CoursesPercentCompleted < vm.compliantControl ? 'error' : 'success' ) }}" role="progressbar" aria-valuenow="{{employee.CoursesPercentCompleted}}"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{width: employee.CoursesPercentCompleted + '%'}">
                        <span class="">{{employee.CoursesPercentCompleted}}%</span>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>



    </div>


</div>