﻿@import "../../../../css/Common/_globals";
@import "../../../../css/Common/_bootstrap-overrides";

.two-column-content {

    .two-column-header {
         
    background: $primary;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 20px;

    }


    .two-column-body {
        margin-top: 0;
        padding-right: 0;
        padding-left: 0;
        border-radius: 0;
        min-height:500px;
        overflow: hidden;

        h1 {
            color: $primary;
            font-weight: 300;
            margin-bottom: 20px;
            font-size: 24px;

            @include screen(tablet) {
                font-size: 34px;
            }
        }

        

        .note-well {
            margin: 20px 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
        }

        ul.list-item li {
            line-height: 50px;
            border-bottom: 1px solid $base;

            &:last-child {
                border-bottom: none;
            }

            b {
                padding-right: 10px;
            }
        }




        .two-column-left {
            padding-bottom:10px;

            .reporter {
            .reporter-name {
                font-size: 12px;
                font-style: italic;
                margin-bottom: 10px;

                b {
                    font-size: 14px;
                    color: $primary;
                    font-style: normal;
                    padding-right: 10px;
                }
            }

            p.sm {
                font-size: 14px;
            }

            .emp-program {
                color: #aaaaaa;
                font-style: normal;
                display: inline-block;
                border: 1px solid #aaaaaa;
                padding: 0 5px;
                border-radius: 3px;
                margin-left: 5px;
                margin-bottom: 4px;
                font-size: 12px;
            }

            .location {
                @include screen(tablet) {
                    border-left: 1px solid $base;
                }

                b {
                    display: inline;
                }

                p {
                    display: inline;

                    &.sm {
                        font-size: 14px;
                        font-style: italic;
                    }
                }

                @include screen(tablet) {
                    b, p {
                        display: block;
                    }
                }
            }
        }
        }


        .two-column-right {
            background: #f6f7f8;
            padding: 20px 0 0 30px;
            margin-bottom: -20px;
            margin-top: 20px;
            padding-bottom: 70px;

            @include screen(tablet) {
                   height: 100%;
                    position: absolute;
                    right: 0;
                    top: -20px;
            }

            h4 {
                font-weight: 300;
            }

            .btn {
                float: right;
                margin-top: 20px;
                margin-right: 20px;
                margin-bottom: 20px;

                @include screen(tablet) {
                    margin: 0;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                }
            }
        }
    }
}
