﻿<div class="map-window {{parameter.class}}">
    <div class="window-title">{{parameter.title}}</div>
    <div class="window-body">
        <div ng-if="parameter.data.isInternalToggle">
            <div class="window-metric">{{parameter.data.averageInternal}}</div>
            <div class="window-footer-text">{{parameter.data.averageInternalText}}</div>
        </div>
        <div ng-if="!parameter.data.isInternalToggle">
            <div class="window-metric">{{parameter.data.averageJoint}}</div>
            <div class="window-footer-text">{{parameter.data.averageJointText}}</div>
        </div>
    </div>
    <div class="window-link">
        <a ng-href="{{parameter.link}}">More</a>
    </div>
</div>
