﻿<div class="map-window {{parameter.class}}">
    <div class="window-title">{{parameter.title}}</div>
    <div class="window-title-secondary">{{ (parameter.data.footerText ? parameter.data.text : '') }}</div>
    <div class="window-body">
        <div ng-if="parameter.data.footerText">
            <div class="window-profile-image">
                <img ng-src="{{parameter.data.image}}" />
            </div>
            <div class="window-profile-name">{{parameter.data.name}}</div>
            <div class="window-footer-text">{{parameter.data.footerText}}</div>
        </div>
        <div ng-if="!parameter.data.footerText">
            <div class="window-metric">{{parameter.data.metric}}</div>
            <div class="window-text">Most recent compliments</div>
        </div>
    </div>
    <div class="window-link">
        <a ng-href="{{parameter.link}}">More</a>
    </div>
</div>
