﻿<div class="map-window {{parameter.class}}">
    <div class="window-title">{{parameter.title}}</div>
    <div class="window-body">
        <div class="window-metric">{{parameter.data.metric ? parameter.data.metric : 'NA'}}</div>
        <div class="window-text">{{parameter.data.text}}</div>
        <div class="window-footer-text">{{parameter.data.footerText}}</div>
    </div>
    <div class="window-link" ng-if="parameter.link">
        <a ng-href="{{parameter.link}}">More</a>
    </div>
</div>
