﻿@model ChaiTea.Web.Areas.Financials.Models.TimeClockVm
@{
    ViewBag.Title = "Team Hours";
    ViewBag.HideTitleBar = true;
    var tabIndex = Model.TabIndex;
}

<div class="timeclock">
    <div class="container-fluid financials margin-t-20 supplies-common timeclock-index" data-ng-controller="Financials.TimeClockIndexCtrl as vm" data-ng-init="vm.initialize( @tabIndex)">
        <page-header title="Team Hours"
                     s3-icon-name="hours.svg">
            <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        </page-header>
        <div class="clearfix"></div>
        <div class="col-md-12 padding-0 margin-bottom-20 margin-top-15">
            <div class="switch-btns col-md-4 col-sm-6 col-xs-12">
                <button class="btn btn-left" ng-class="{'active-btn' : vm.showStraightTimeEquivalent}" ng-click="vm.toggleRegularAndSTEHours()" >{{'STRAIGHT_TIME' | translate}}</button>
                <button class="btn btn-right" ng-class="{'active-btn' : !vm.showStraightTimeEquivalent}" ng-click="vm.toggleRegularAndSTEHours()" >{{'REGULAR_TIME' | translate}}</button>
            </div>
        </div>
        <hr class="hline hidden-xs" />       
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="vm.showStraightTimeEquivalent">
                <div class="chart-title col-lg-12 col-md-12 col-sm-12 col-xs-12 hours-container">
                    <span class="pull-left">{{vm.noOfMonthsSelected}} Month Trend  <span class="last-update-date hidden-xs hidden-sm">(Last updated - {{vm.lastUpdatedDate | date: 'h:mm a M/d/yy'}})</span></span>
                    <span class="hrs pull-right" ng-if="vm.hours.totalSTEHours"><span class="time">Total Hours</span>  {{vm.hours.totalSTEHours | number}} </span>
                    <div class="clearfix"></div>
                    <div class="last-update-date visible-xs visible-sm">(Last updated - {{vm.lastUpdatedDate | date: 'h:mm a M/d/yy'}})</div>
                </div>
                <div class="clearfix"></div>
                <hr class="hline" />
                <div ng-if="!vm.hours.totalSTEHours" class="text-center">No data to show for the selected date range</div>
                <div ng-if="vm.hours.totalSTEHours" class="chart-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <sbm-hc-line-chart id="MonthlyTrends" data-ng-model="vm.reportsConfig.STEHours"
                                       data-ng-if="vm.reportsConfig.STEHours.xAxis.categories.length > 1">
                    </sbm-hc-line-chart>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hours-container" ng-show="!vm.showStraightTimeEquivalent">
                <div class="chart-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="pull-left">{{vm.noOfMonthsSelected}} Month Trend  <span class="last-update-date hidden-xs hidden-sm">(Last updated - {{vm.lastUpdatedDate | date: 'h:mm a M/d/yy'}})</span></span>
                    <span class="hrs pull-right" ng-if="vm.hours.totalRegularHours"><span class="time hidden-xs">Total Hours</span>  {{vm.hours.totalHours | number}} </span>
                    <div class="clearfix"></div>
                    <div class="last-update-date visible-xs visible-sm">(Last updated - {{vm.lastUpdatedDate | date: 'h:mm a M/d/yy'}})</div>
                </div>
                <div class="clearfix"></div>
                <hr class="hline" />
                <div ng-if="!vm.hours.totalRegularHours" class="text-center">No data to show for the selected date range</div>
                <div ng-if="vm.hours.totalRegularHours" class="chart-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <sbm-hc-column-chart id="MonthlyTrends" data-ng-model="vm.reportsConfig.regularHours"
                                         data-ng-if="vm.reportsConfig.regularHours.xAxis.categories.length > 1">
                    </sbm-hc-column-chart>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hours-container">
                <div class="chart-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="pull-left">Calendar View  <span class="last-update-date hidden-xs hidden-sm">(Last updated - {{vm.lastUpdatedDate | date: 'h:mm a M/d/yy'}})</span></span>
                    <div ng-if="vm.daySelected">
                        <span class="hrs pull-right">
                            <span class="time ">Selection Total</span>  {{vm.showStraightTimeEquivalent ? vm.totalHours.STEHours : vm.totalHours.RegularHours  | number}}
                        </span>
                    </div>
                    <div ng-if="!vm.daySelected">
                        <span class="hrs pull-right">
                            <span class="time ">{{vm.currentMonth}}</span>  <span ng-if="vm.totalMonthlyHours == 0">--</span><span ng-if="vm.totalMonthlyHours > 0">{{vm.totalMonthlyHours | number}}</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hours-container">               
                
                    <select id="monthId"
                            name="monthId"
                            class="form-control"
                            ng-options="c.longName for c in vm.desktopMonthTabs track by c.value"
                            ng-model="vm.mobileMonth"
                            ng-change="vm.selectMonthChange()">                  
                    </select>    
                                       
            </div>
            <div class="col-sm-12 tabs-wrap hidden-xs hidden-sm">
                <uib-tabset active="vm.activeTabIndex">
                    <uib-tab ng-repeat="month in vm.desktopMonthTabs" heading="{{month.name}}" ng-click="vm.tabMonthClick($event, month.value, month.year, month.index)">
                    </uib-tab>
                </uib-tabset>
            </div>
            <div ng-if="!vm.monthlyTimeClock.length" class="col-xs-12 col-sm-12 col-md-12 text-center">
                    {{'NO_DATA_FOR_MONTH' | translate}}        
            </div>
            <div class="panel panel-default col-md-12" ng-if="vm.monthlyTimeClock.length">
                <div class="calender-wrap col-md-8">
                    <mwl-calendar view="vm.view"
                                  current-day="vm.currentDay"
                                  events="vm.events"
                                  on-day-click="vm.getAllEmployeesHoursForSelectedDates(day)"
                                  is-for-all-employees="true">
                    </mwl-calendar>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 team-hours">
                        <!-- Page content-->
                        <div class="row margin-30">
                            <div class="panel panel-default">
                                <div class="panel-body" style="padding: 0;">
                                    <div class="col-md-12" style="padding: 0;">
                                        <div class="section-head">
                                            Employees
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="emp-row-wrap">
                                            <div class="emp-row details-mobile-padding" ng-class="{'blur': vm.selectedEmployeeId && (vm.selectedEmployeeId != employee.EmployeeId), 'selected-row' : vm.selectedEmployeeId == employee.EmployeeId  }"
                                                 data-ng-repeat="employee in vm.employeesWithTimeClock track by employee.EmployeeId" ng-click="vm.toggleSelectedEmployee(employee.EmployeeId)">
                                                <div class="pull-left no-padding-left emp-row-left-width">
                                                    <div class="pull-left">
                                                        <div class="circle-img circle-img-45-45 pull-left details-mobile-circle-img">
                                                            <img ng-src="{{ ::employee.EmployeeImage  || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{::employee.EmployeeName}}">
                                                        </div>
                                                    </div><!-- Circle-image -->

                                                    <div class="row-details pull-left details-mobile details-mobile-margin" style="padding-left:0;">
                                                        <p class="emp-name">{{ ::employee.EmployeeName }}</p>
                                                        <p class="emp-name" ng-if="!employee.EmployeeName">Inactive</p>
                                                        <span class="emp-program" ng-if="employee.EmployeeJobDesc">{{ ::employee.EmployeeJobDesc }}</span>
                                                        <span class="emp-program" ng-if="!employee.EmployeeJobDesc">Inactive/Other site</span>
                                                    </div><!-- emp-details -->
                                                </div><!-- pull-left -->

                                                <div class="jd-status pull-right" ng-if="vm.daySelected && (vm.selectedEmployeeId != employee.EmployeeId)">
                                                    {{ vm.showStraightTimeEquivalent ? employee.StraightTimeEquivalent : employee.TotalTime}}
                                                </div><!-- PULL-RIGHT -->
                                                <div class="jd-status pull-right" ng-if="vm.daySelected && (vm.selectedEmployeeId == employee.EmployeeId)">
                                                    <span ng-if="employee.StartTime">{{employee.StartTime| date:'h:mma'}} - {{employee.EndTime| date:'h:mma'}}</span>
                                                </div><!-- PULL-RIGHT -->
                                                <div class="jd-status pull-right" ng-if="!vm.daySelected">-</div>

                                                <div class="clearfix"></div>

                                            </div><!-- EMP-ROW -->
                                        </div>
                                    </div><!-- COL12 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>