﻿@{
    ViewBag.Title = "Team Hours";
    ViewBag.BreadCrumbOverride.ControllerName = "Hours";
    ViewBag.BreadCrumbOverride.ActionName = "Overview";
}

@section title{
    <quality-tab-navigation icon-sub-navigation="Financials" active="hours"></quality-tab-navigation>    
    }

<div class="timeclock">
    <div class="container-fluid financials supplies-common" data-ng-controller="Financials.TimeClockOverviewCtrl as vm" data-ng-init="vm.initialize()">
        <div class="head-desc hidden-xs">
            <p>View the accumulative time worked by your staff for month and access how many hours of service are being performed each week for your customer</p>
        </div>
        <div class="hidden-xs hidden-sm date-buttons-align">
            <div class="monthly-picker-div pull-right ">
                <div class="custom-monthly-picker ">
                    <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                </div>
            </div>
        </div>
        <div class="row padding-t-10 mobile-padding">
            <div class="col-sm-12 tabs-wrap hidden-xs">
                <ul class="nav nav-pills pull-left top-tabs">
                    <li><a href="@Url.Action("Index","TimeClock")">CHARTS</a></li>
                    <li><a class="highlight" href="@Url.Action("Overview","TimeClock")">DETAILS</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12 mobile-tabs-wrap hidden-lg hidden-md hidden-sm">
                <a class="col-md-4 col-xs-6 tab" href="@Url.Action("Index","TimeClock")">
                    CHARTS
                </a>
                <a class="col-md-4 col-xs-6 tab activetab" href="@Url.Action("Overview","TimeClock")">
                    DETAILS
                </a>
            </div>
        </div>
        <hr class="hline hidden-xs" />
        
        <div class="hidden-lg hidden-md date-align">
            <div class="monthly-picker-div col-xs-12">
                <div class="custom-monthly-picker col-xs-12 col-sm-12 ">
                    <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 padding-0 margin-bottom-20 margin-top-15">
            <div class="switch-btns col-md-8">
                <button class="btn btn-left" ng-class="{'active-btn' : vm.showStraightTimeEquivalent}" ng-click="vm.toggleRegularAndSTEHours()">STRAIGHT TIME HOURS</button>
                <button class="btn btn-right" ng-class="{'active-btn' : !vm.showStraightTimeEquivalent}" ng-click="vm.toggleRegularAndSTEHours()">REG HOURS</button>
            </div>
            <div class="total-hrs col-md-4 hidden-xs">
                <span class="pull-left"><i class="fa fa-calendar-check-o icon"></i></span>
                <div class="pull-left hrs">
                    <div ng-if="vm.daySelected">
                        <span>{{vm.showStraightTimeEquivalent ? vm.totalHours.STEHours : vm.totalHours.RegularHours  | number}}</span> 
                        <p>TOTAL HOURS</p>
                    </div>
                    <div ng-if="!vm.daySelected">
                        <span>--</span>
                        <p>MAKE A SELECTION TO BEGIN</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="total-hrs row visible-xs">
            <div class="pull-left">
                {{vm.dateRange.startDate | date: 'MMMM y'}}
            </div>
            <div class="pull-right">
                {{vm.showStraightTimeEquivalent ? vm.totalHours.STEHours : vm.totalHours.RegularHours  | number}} <span class="hrs">HRS</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="!vm.monthlyTimeClock.length" class="text-center">No data to show for the selected month</div>
        <div class="panel panel-default col-md-12" ng-if="vm.monthlyTimeClock.length">
            <div class="calender-wrap col-md-8">
                <mwl-calendar view="vm.view"
                              current-day="vm.currentDay"
                              events="vm.events"
                              on-day-click="vm.getAllEmployeesHoursForSelectedDates(day)"
                              is-for-all-employees="true">
                </mwl-calendar>
            </div>
            <div class="col-md-4">
                <div class="col-sm-12 team-hours">
                    <!-- Page content-->
                    <div class="row margin-30">
                        <div class="panel panel-default">
                            <div class="panel-body" style="padding: 0;">
                                <div class="col-md-12" style="padding: 0;">
                                    <div class="section-head">
                                        Employees
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="emp-row-wrap">
                                        <div class="emp-row details-mobile-padding" ng-class="{'blur': vm.selectedEmployeeId && (vm.selectedEmployeeId != employee.EmployeeId), 'selected-row' : vm.selectedEmployeeId == employee.EmployeeId  }" 
                                             data-ng-repeat="employee in vm.employeesWithTimeClock track by employee.EmployeeId" ng-click="vm.getEmployeeTimeClockData(employee.EmployeeId)">
                                            <div class="pull-left no-padding-left emp-row-left-width">
                                                <div class="pull-left">
                                                    <div class="circle-img circle-img-45-45 pull-left details-mobile-circle-img">
                                                        <img ng-src="{{ ::employee.EmployeeImage  || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{::employee.EmployeeName}}">
                                                    </div>
                                                </div><!-- Circle-image -->

                                                <div class="row-details pull-left details-mobile details-mobile-margin" style="padding-left:0;">
                                                    <p class="emp-name">{{ ::employee.EmployeeName }}</p>
                                                    <p class="emp-name" ng-if="!employee.EmployeeName">Inactive</p>
                                                    <span class="emp-program" ng-if="employee.EmployeeJobDesc">{{ ::employee.EmployeeJobDesc }}</span>
                                                    <span class="emp-program" ng-if="!employee.EmployeeJobDesc">Inactive/Other site</span>
                                                </div><!-- emp-details -->
                                            </div><!-- pull-left -->

                                            <div class="jd-status pull-right" ng-if="vm.daySelected && (vm.selectedEmployeeId != employee.EmployeeId)">
                                                {{ vm.showStraightTimeEquivalent ? employee.StraightTimeEquivalent : employee.TotalTime}}
                                            </div><!-- PULL-RIGHT -->
                                            <div class="jd-status pull-right" ng-if="vm.daySelected && (vm.selectedEmployeeId == employee.EmployeeId)">
                                                <span ng-if="employee.StartTime">{{employee.StartTime| date:'h:mma'}} - {{employee.EndTime| date:'h:mma'}}</span>
                                            </div><!-- PULL-RIGHT -->
                                            <div class="jd-status pull-right" ng-if="!vm.daySelected">-</div>

                                            <div class="clearfix"></div>

                                        </div><!-- EMP-ROW -->
                                    </div>
                                </div><!-- COL12 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
