﻿@import "../../../../css/Common/globals";

my-profile-header {
    display: block;
    background: $dark;
    background-size:cover;
    position:relative;

    @include breakpoint(desktop) {
        height: 380px;
    }

    #edit-background{
        position:absolute;
        top:10px;
        right:10px;
    }

    .inner-box {
        padding-top: 20px;
        padding-bottom: 0;
        position: relative;
        bottom: -1px;
        background: rgba( $dark-dark, .9 );
        border-radius: 2px 2px 0 0;

        @include breakpoint(desktop) {
            position: absolute;
            bottom: 0;
        }

        p {
            color: $muted;
        }

        .my-profile-header-info {
            display: block;
            overflow: hidden;
            width: 100%;
            padding: 30px;
            float: left;
            text-align: center;

            @include breakpoint(tablet) {
                text-align: left;
                width: 60%;
            }

            .my-profile-circle-img {
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: 1px solid #f5f5f5;
                overflow: hidden;
                float: none;
                margin: 0 auto;

                img{
                    width:100%;
                    height:auto;
                }

                @include breakpoint(tablet) {
                    float: left;
                }
            }

            h4.emp-name {
                margin-top: 0;
                color: $border;
                font-size: 29px;
                font-weight: 300;
            }

            .my-profile-emp-details {
                margin: 0 auto;
                padding-top: 10px;

                @include breakpoint(tablet) {
                    padding-top: 0;
                    overflow: hidden;
                    padding-left: 20px;
                }

                hr {
                    width: 70%;
                    margin-left:auto;

                    @include breakpoint(desktop) {
                        margin-left:0;
                    }
                }
            }
        }

        .social-images {
            width: 100%;
            float: left;
            overflow:hidden;
            position:relative;

            @include breakpoint(tablet) {
                width: 300px;
            }

           .bootstrap-lightbox-item {
                width: 120px;
                height: 75px;
                display: inline-block;
                float:left;
                background-color: $dark-dark;
                margin-right: 10px;
                margin-bottom: 10px;
                overflow: hidden;
                position:relative;

                &:nth-of-type(2n) {
                    margin-right: 0;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                .remove{
                    position:absolute;
                    top:3px;
                    right:3px;
                    cursor:pointer;
                    text-shadow:0 1px 3px rgba(0,0,0,0.5);

                    &:hover{
                        font-weight:700
                    }
                }

                &.empty-box {

                    span.fa {
                        color:$default;
                        padding: 30px 52px;
                        font-size: 20px;
                    }
                }
            }
        }

        .my-profile-tabbed-links {
            display: table;
            table-layout: fixed;
            width: 100%;
            background-color: $dark-dark;
            padding-left:5px;
            padding-right:5px;

            @include breakpoint(tablet) {
                margin-top: 50px;
                padding-left:15px;
                padding-right:15px;
            }

            @include breakpoint(desktop) {
                margin-top: 0;
                background-color: transparent;
            }

            ul {
                padding: 0;
                margin: 0;
                display: flex;

                @include breakpoint(tablet){
                    display: table-row;
                }
                li {
                    list-style: none;
                    display: list-item;
                    text-align: center;
                    font-size: 11px;
                    float: left;
                    width: 25%;
                    flex:1;

                    @include breakpoint(tablet) {
                        display: inline-block;
                        padding-left: 20px;
                        padding-right: 20px;
                        float: none;
                        width: auto;
                    }

                    a {
                        font-size: 11px;
                        font-weight: 600;
                        color: $muted;
                        padding: 10px 0;
                        display: block;
                        white-space: nowrap;
                        @include breakpoint(tablet){
                            font-size:12px;
                        }
                    }

                   
                    .dropdown-menu{
                        min-width: 150px;
                        background-color: $dark-dark;
                        right: 0;
                        left: auto;
                        top: 37px;
                        li{
                            width: 100%;
                            :hover, a{
                                background-color: $dark-dark;
                            }
                        }
                    }
                }
                .active, .li-hover:hover{
                    border-bottom: 4px solid $warning;
                    color: $warning;
                    a{
                        color: $warning;
                    }
                }
                .dropdown{
                    cursor: pointer;
                    .dropdown-toggle:hover{
                        color: $warning;
                    }
                }
            }
        }
    }
}
