﻿@model ChaiTea.Web.Areas.Personnel.Models.SafetyVM
@{
    ViewBag.Title = "Safety";
    ViewBag.HideTitleBar = true;
}

<div class="container-fluid personnel conduct attendance-details" ng-controller="Personnel.SafetyDetailsCtrl as vm" ng-init="vm.initialize()">
    <page-header title="{{'Safety'|translate}}"
                 s3-icon-name="safety.svg">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
        <a href="@Url.Action("Entry", "Safety")" class="btn btn-success btn-sm">+ <span class="hidden-xs hidden-sm">{{ 'SAFETY_REPORTINCIDENT' | translate }}</span></a>
    </page-header>
    <div class="row margin-top-15">
        <div class="col-sm-12 row-no-padding">
            <div class="panel panel-default no-margin">
                <h3 class="panel-header-txt" style="margin-bottom: 0;">
                    <a class="btn pull-right toggle-filters btn-filter" href="javascript:void(0);" id="toggleFilter" ng-click="vm.toggleFilter()">
                        <i class="fa fa-filter2"></i><span class="plus-btn">{{ 'FILTER' | translate }}</span>
                    </a>
                    <span class="clearfix"></span>
                </h3>
                <div id="SafetyFilter" ng-if="vm.showFilter" class="row filter-options-panel padding-10-0-10-10 col-md-12">
                    <div class="form-filter ">
                        <select id="EmployeeId" name="EmployeeId" class="selectpadding filter-option col-md-3 col-sm-6 col-xs-12 width-safety-details-align" ng-model="vm.filterEmployeeId" ng-options="employee.Key*1 as employee.Value for employee in vm.employees | orderBy: 'Value'" ng-change="vm.onEmployeeChange(vm.filterEmployeeId)">
                            <option value="">{{ 'SELECT_EMPLOYEE' | translate }}</option>
                        </select>
                    </div>
                    <button class="hidden-xs btn-attendance-clear btn-attendance-clear-desktop pull-right" type="button" ng-click="vm.cancel()" >
                        {{ 'CLEAR' | translate }}
                    </button>
                    <button class="btn-attendance-filter btn-attendance-filter-desktop pull-right hidden-xs" type="button" ng-click="vm.getSafetyOnFilter()" ng-disabled="!vm.filterEmployeeId && !vm.filterIncidentTypeId">
                        {{ 'FILTER' | translate }}
                    </button>
                    <div class="form-filter">
                        <select id="TypeId" name="TypeId" class="selectpadding filter-option col-md-3 col-sm-6 col-xs-12 width-safety-details-align" ng-model="vm.filterIncidentTypeId" ng-options="incidentType.IncidentTypeId*1 as incidentType.Code | translate for incidentType in ::vm.incidentTypes" ng-change="vm.onIncidentTypeChange(vm.filterIncidentTypeId)">
                            <option value="">{{ 'SELECT TYPE' | translate }}</option>
                        </select>
                    </div>
                    <div class="visible-xs">
                        <div class="col-xs-6">
                            <button class="btn-attendance-filter btn-attendance-filter-mobile pull-right" type="button" ng-click="vm.getSafetyOnFilter()" ng-disabled="!vm.filterEmployeeId && !vm.filterIncidentTypeId">
                                {{ 'FILTER' | translate }}
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button class="pull-left btn-attendance-clear btn-attendance-clear-mobile" type="button" ng-click="vm.cancel()">
                                {{ 'CLEAR' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="text-center empty-wrap" ng-if="!vm.safety.length">
                    {{ 'NO_DATA' | translate }}
                </div>
                <div class="col-md-12 well-table" data-infinite-scroll="vm.getSafety()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                    <div class="primary table-head padding-10-0-10-10" ng-if="vm.safety.length">
                        <p class="pull-left">{{ 'EMPLOYEES' | translate }}</p>
                        <p class="pull-right" style="padding-right:10px">{{ 'SAFETY_INCIDENTDATE' | translate }}</p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="emp-row" ng-repeat="curSafetyIncident in vm.safety">
                        <a href="@Url.Content("~/Personnel/Safety/EntryView/"){{ ::curSafetyIncident.SafetyId }}">
                            <div class="pull-left employee emp-profile-wgt">
                                <div class="circle-img pull-left" ng-hide="false">
                                    <img ng-src="{{ curSafetyIncident.Employee.ProfileImage}}"/>
                                </div>
                                <div class="emp-details pull-left col-md-10" ng-hide="false">
                                    <p class="emp-name">{{ curSafetyIncident.Employee.Name }}</p>
                                    <span class="emp-program" ng-repeat="incidentTypeId in curSafetyIncident.IncidentTypes">
                                        {{ ::vm.getIncidentTypeCode(incidentTypeId) | translate }}
                                    </span>
                                    <p class="emp-comment">{{ ::curSafetyIncident.Detail | limitTo: 144 }}{{ ::curSafetyIncident.Detail.length > 144 ? '...' : ''}}</p>
                                    <p class="text-warning" ng-if="curSafetyIncident.IsExempt">{{ 'EXEMPTED' | translate }}</p>
                                </div>
                            </div>
                            <div class="pull-right jd-status">
                                <p class="date">{{ curSafetyIncident.DateOfIncident }}</p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
