﻿@model ChaiTea.Web.Areas.Personnel.Models.SafetyVM
@{
    ViewBag.Title = "Safety";
    ViewBag.HideTitle = true;
    var safetyId = Model.Id;
}

<div class="container-fluid personnel entryview" ng-controller="Personnel.SafetyEntryViewCtrl as vm" ng-init="vm.initialize(@safetyId)">
    <page-header title="{{'Safety'|translate}}"
                 s3-icon-name="safety.svg">
    </page-header>
    <div class="row">
        <a href="@Url.Content("~/Personnel/Safety/Details")" class="btn back-label"><i class="fa-angle-left"></i>{{ 'BACK_TO_THE_LIST' | translate }}</a>
        <div class="primary table-head padding-10-0-10-10">
            <p class="pull-left">{{ 'SAFETY_REVIEWINCIDENT' | translate }}</p>
            <div class="clearfix"></div>
        </div>
        <div class="well complaint-view">
            <div class="col-md-8">
                <div class="margin-bottom ">
                    <div class="padding-bottom-10">
                        <span ng-repeat="incidentTypeId in vm.safety.IncidentTypes" class="Incident-Type">{{ vm.getIncidentTypeCode(incidentTypeId) | translate }}{{ ($last ? ' ' : ($index==incidentType.Name.length-2) ? ', and ' : ',&nbsp;') | translate }} </span>
                        <span class="text-warning Incident-Type" ng-if="vm.safety.IsExempt">({{ 'EXEMPTED' | translate }})</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row complaint-repoter">
                    <div class="col-md-8">
                        <p class="repoter-name">{{ 'SAFETY_INCIDENTDATE' | translate }}: {{vm.safety.DateOfIncident}}</p>
                    </div>
                </div>
                <div class="note-well">
                    <h5 class="warning-text">{{ 'SAFETY_INCIDENTDETAILS' | translate }}</h5>
                    <p>{{::vm.safety.Detail}}</p>
                </div>
                <div class="pull-left">
                    <h5 class="warning-text" ng-if="vm.safety.SafetyAttachments[0]">{{ 'ATTACHMENT' | translate }}</h5>
                    <a ng-if="vm.safety.SafetyAttachments[0] && vm.safety.SafetyAttachments[0].SafetytAttachmentType != 'Image'"
                       class="pull-left download-attachement img-thumbnail btn btn-block text-center" style="padding: 10px 0;"
                       href="{{::vm.downloadUrl}}"
                       download="true" title="{{ 'DOWNLOAD' | translate }}">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-file-o fa-stack-1x"></i>
                            <i class="fa fa-download fa-stack-1x"></i>
                        </span>
                        <p>({{ 'DOWNLOAD' | translate }})</p>
                    </a>
                    <cf-image ng-if="vm.safety.SafetyAttachments[0].SafetyAttachmentType == 'Image'" public-id="{{ ::vm.safety.SafetyAttachments[0].UniqueId }}" width="290" fullscreen="false" class="img-thumbnail"></cf-image>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 side-block">
                <h4>{{ 'EMPLOYEE' | translate }}</h4>
                <div ng-if="vm.employeeWithImage == null">{{ 'NONE' | translate }}</div>
                <div class="padding-bottom-10">
                    <hr />
                    <div class="emp-profile-wgt">
                        <div class="circle-img pull-left">
                            <img ng-if="vm.employeeWithImage.ProfileImage" ng-cloak ng-src="{{ ::vm.employeeWithImage.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" />
                        </div>
                        <div class="row-details pull-left">
                            <p class="emp-name">{{ ::vm.employeeWithImage.Name }}</p>
                            <p class="emp-title">{{ ::vm.employeeWithImage.JobDescription }}</p>
                            <p class="hire-date">{{ 'START_DATE' | translate }}: {{ vm.employeeWithImage.HireDate }}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div hidden-employees class="row pull-right">
                    <button ng-click="vm.deleteSafety(vm.safetyId)" class="edit btn btn-primary btn-delete">{{ 'DELETE' | translate }}</button>
                    <button ng-click="vm.redirectToEdit()" class="edit btn btn-edit btn-primary"><i class="fa fa-pencil fapencil-spacing"></i>{{ 'EDIT' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
