﻿@model ChaiTea.Web.Areas.Personnel.Models.SafetyVM
@{
    ViewBag.Title = "Safety";
    ViewBag.HideTitle = true;
}

<div class="container-fluid personnel padding-for-tab" ng-controller="Personnel.SafetyEntryCtrl as vm" ng-init="vm.initialize(@Model.Id)">
    <page-header title="{{'Safety'|translate}}"
                 s3-icon-name="safety.svg">
    </page-header>
    <div class="row">
        <div ng-hide="!vm.employee.EmployeeId">
            <form name="safetyForm" role="form" novalidate>
                <div class="well emp-profile-well noborder">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="pull-left emp-profile-wgt">
                                <div class="circle-img pull-left">
                                    <img ng-src="{{ vm.employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{vm.employee.Name}}" />
                                </div>
                                <div class="row-details pull-left">
                                    <p class="emp-name">{{vm.employee.Name}}</p>
                                    <p class="emp-title">{{vm.employee.JobDescription}}</p>
                                    <p class="hire-date">{{ 'START_DATE' | translate }}: {{vm.employee.HireDate }}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <hr class="no-margin" />
                <div class="well complaint-view padding-mobile">
                    <div class="col-md-11 no-padding">
                        <div class="col-md-6 col-xs-10">
                            <div class="field-wrap col-md-8 no-padding">
                                <label for="dateOfIncident" class="subHeading">{{ 'SAFETY_INCIDENTDATE' | translate }}</label>
                                <sbm-date-picker id="dateOfIncident"
                                                 name="dateOfIncident"
                                                 max-date="vm.maxDate"
                                                 ng-model="vm.Safety.DateOfIncident"
                                                 placeholder="{{ 'SELECT_DATE' | translate }}"
                                                 is-required="true"
                                                 ng-if="vm.safetyId == 0"></sbm-date-picker>
                                <div id="dateOfOccurrenceSafety"
                                     name="dateOfOccurrenceSafety"
                                     type="text"
                                     class="form-control"
                                     ng-required="true"
                                     ng-model="vm.Safety.DateOfIncident"
                                     ng-if="vm.safetyId > 0"
                                     readonly>{{vm.Safety.DateOfIncident}}</div>
                            </div>
                            <div class="col-xs-11 col-md-11 field-wrap no-padding">
                                <label class="label-font">{{ 'SAFETY_INCIDENTCLASSIFICATION' | translate }}</label>
                                <div class="success-btns attendance-form-picker" data-toggle="buttons">
                                    <label class="btn btn-default margin-3" ng-repeat="type in ::vm.IncidentTypes" ng-class="{'active' : vm.isIncidentSelected(type.IncidentTypeId) }" ng-click="vm.toggleIncidentType(type.IncidentTypeId)">
                                        <input type="checkbox" name="late" autocomplete="off" />{{ type.Code | translate }}
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 col-xs-11">
                            <div class="field-wrap margin-l-0-r-5">
                                <label class="label-font">{{ 'SAFETY_INCIDENTDETAILS' | translate }}</label>
                                <textarea name="" id="" cols="30" rows="10" class="basic-input" placeholder="{{ 'BE_DESCRIPTIVE' | translate }}" ng-model="vm.Safety.Detail"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="file-upload-wrap">
                            <div class="file-upload" ngf-select ngf-change="vm.addFile($files, $event)">
                                <i class="fa fa-upload"></i>
                                <p>{{ 'ADD_FILE' | translate }}</p>
                            </div>
                            <div class="file-upload" ng-if="vm.Safety.SafetyAttachments.length">
                                <i class="fa fa-file-o"></i>
                                <p title="{{ vm.AttachmentName }}">{{ vm.AttachmentName.length > 8 ? (vm.AttachmentName | limitTo: 5) : vm.AttachmentName }}{{ vm.AttachmentName.length > 8 ? '...' : ''}}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="align-btns padding-r-5">
                        <a href="@Url.Content("~/Personnel/Safety/Details")" class="btn btn-grey">{{ 'CANCEL' | translate }}</a>
                        <a href="javascript:void(0);" class="btn btn-black" ng-disabled="this.safetyForm.$invalid" ng-click="vm.saveSafety($event)">{{ 'SUBMIT' | translate }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>