﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = "Bonus Configuration";
   ViewBag.HideTitleBar = true;
}

@*@section title{
        <quality-tab-navigation icon-sub-navigation="Personnel" active="sep"></quality-tab-navigation>
    }*@

<div class="bonus-config" data-ng-controller="BonusConfigCtrl as vm" ng-init="vm.initialize()">
    <page-header  title="Bonus Configuration"
                 s3-icon-name="settings.svg"
                 info-text="{{'BONUS_CONFIG-DESC' | translate}}">

        <sbm-monthly-picker class="hidden-xs hidden-sm" ng-model="vm.dateRange" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
        <a ng-href="{{vm.goToServiceExcellence()}}" class="btn btn-success btn-sm">
            <i class="fa fa-sep hidden-md hidden-lg"></i>
            <span class="hidden-xs hidden-sm text-uppercase">{{'SCORECARDS' | translate }}</span>
        </a>
    </page-header>
  
    <div class="date-picker-boxborder visible-xs visible-sm col-xs-12">
        <div class="custom-monthly-picker col-sm-12">
            <sbm-monthly-picker class="date-picker-style" ng-model="vm.dateRange" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="visible-xs visible-sm ret-div">
        <a class="btn btn-return-to-sep col-xs-12 col-sm-12" ng-href="{{vm.goToServiceExcellence()}}"><span>{{'VIEW-SEP-SCORECARD' | translate}}</span></a>
        <div class="clearfix"></div>
    </div>
    <span class="text-center text-warning col-md-12 alert alert-warning" data-ng-if="vm.isPageDisabled">
        <i class="fa fa-warning fa-2"></i> Please select a site.
    </span>
    <div ng-if="!vm.isPageDisabled">
        <div class="mobile-tabs-wrap" fix-to-top>
            <div class="col-md-6 col-xs-12 col-sm-6 margin-bottom-bc">
                <div class="tab">
                    <div class="pull-left no-right-padding-mob">
                        <i class="fa fa-financials icon-style"></i>
                    </div>
                    <div class="pull-left bonus-data">
                        <p class="amount">${{vm.totalBonus}}</p>
                        <p class="amount-title">Total Bonuses Paid</p>
                        <p class="amount-subtitle">The total bonus amount earned by your hard working staff members.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="tab">
                    <div class="pull-left no-right-padding-mob">
                        <i class="fa fa-client icon-style"></i>
                    </div>
                    <div class="pull-left bonus-data-edit">
                        <p class="amount" ng-if="!vm.canEdit">
                            ${{vm.siteBonus.BonusAmount}} <span ng-if="!vm.disableEditing" ng-click="vm.onEdit()" class="btn btn-link"><i class="fa fa-pencil padding-right-5"></i>EDIT</span>
                        </p>
                        <p class="amount edit-buttons" ng-if="vm.canEdit">
                            <input class="amt-input" type="number" ng-model="vm.siteBonus.BonusAmount" ng-change="vm.saveDisabled = false" /> 
                            <button class="btn btn-link" ng-click="vm.save()" ng-disabled="vm.saveDisabled === true"><i class="fa fa-check22 text-success"></i></button> 
                            <button class="btn btn-link" ng-click="vm.onEdit(true)"><i class="fa fa-cancel text-muted"></i></button>
                        </p>
                        <p class="amount-title">Base Amount</p>
                        <p class="amount-subtitle">The minimum amount an employee can earn if he or she passes all of their KPI's.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="bonus-header">
            <div class="emp-list col-md-8 col-xs-6">EMPLOYEES</div>
            <div class="emp-amt">BONUS AMOUNT</div>
        </div>
        <div class="itemrow" data-ng-repeat="employee in vm.employeesWithAttachment">
            <div class="emp-row" data-ng-repeat="emp in vm.employeesWithBonus" data-ng-if="employee.EmployeeId == emp.EmployeeId">

                <div class="pull-left emp-profile-wgt">

                    <div class="pull-left">
                        <div class="circle-img circle-img-45-45 pull-left details-mobile-circle-img">
                            <img ng-src="{{ ::employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{::employee.Name}}">
                        </div>
                    </div><!-- Circle-image -->

                    <div class="row-details pull-left">
                        <p class="emp-name">{{employee.Name}}</p>
                        <span class="emp-title">{{employee.JobDescription}}</span>
                    </div><!-- emp-details -->
                </div><!-- pull-left -->

                <div class="bonus-amnt pull-right" ng-if="!vm.canEdit">
                    <p class="pull-right">+ ${{emp.BonusAmount || 0}}</p>
                    <div class="clearfix"></div>
                    <p class="total">Total = $<span ng-bind="emp.BonusAmount + vm.siteBonus.BonusAmount"></span> </p>
                </div><!-- PULL-RIGHT -->
                <div class="bonus-amnt pull-right" ng-if="vm.canEdit">
                    @*<input disabled class="plus-input" type="text" value="+" /><input class="amt-input" type="number" ng-model="emp.BonusAmount" />*@
                    <span class="fa fa-plus fa-1 plus-inside-input"></span><input class="amt-input" type="number" ng-model="emp.BonusAmount" />
                    <p class="total">Total = $<span ng-bind="emp.BonusAmount + vm.siteBonus.BonusAmount"></span> </p>
                </div><!-- PULL-RIGHT -->

                <div class="clearfix"></div>
                @*<hr />*@
            </div>
        </div><!-- EMP-ROW -->
        <div class="save">
            <a href="javascript:void(0);" class="btn btn-save-bc" data-ng-disabled="!vm.canEdit" data-ng-click="vm.save()">SAVE</a>{{}}
        </div>
    </div>
</div>
