﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = "Service Excellence";
    var pageTitle = Model.PageTitle;
    ViewBag.BreadCrumbOverride.ActionName = Model.PageTitle;
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
    var kpiId = Model.Id;
}

@section title{
    <quality-tab-navigation icon-sub-navigation="Personnel" active="sep"></quality-tab-navigation>
}

@section scripts{

}

@section datepickerpanel{

}

<div class="container-fluid padding-top sep-index " data-ng-controller="Training.SEDetailsCtrl as vm" data-ng-init="vm.initialize(@kpiId)">
    <div class="card-header" >
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6 column">
                <p class="pull-left">EMPLOYEES</p>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 column">
                <div class="pull-right head-right-details">
                    <p class="inner-row">STATUS</p>
                </div>
            </div>
        </div>
    </div>
    <!-- course card list -->
        <card-list custom-class="" title="{{vm.title}}" data-search-placeholder-text="Find Employee" search-filter="searchFilter" hide-header="true">
            <card-row ng-repeat="item in vm.employeesByKpi | filter: searchFilter" row-click-href="@Url.Action("Entry", "ServiceExcellence", new { Area = "Training" })/{{item.EmployeeId}}">
                <row-left img-src="item.ProfileImage"></row-left>
                <row-middle custom-class="details">
                    <div class="details">
                        <p class="emp-name">{{ ::item.Name }}</p>
                        <p class="emp-title">{{ ::item.JobDescription}}</p>
                    </div>
                </row-middle>
                <row-right class="jd-status">
                    <div class="col-md-6 status">
                        <p class="{{item.resultClass}}">{{item.resultText}}</p>
                    </div>
                </row-right>
            </card-row>
            <p ng-if="!vm.employeesByKpi.length" class="text-center padding">-There are no employees to show-</p>
        </card-list>
</div>
