﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = "Service Excellence";
    ViewBag.BreadCrumbOverride.AreaName = "HideBreadCrumb";
    ViewBag.BreadCrumbOverride.ActionName = "Scorecard";

    var empId = Model.Id;
    int sepMonthlyEditCuttoffDay = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["SepMonthlyEditCuttoffDay"]);
}

@section title{
    <quality-tab-navigation icon-sub-navigation="Personnel" active="sep"></quality-tab-navigation>
}

@section scripts{
    @Scripts.Render("~/scripts/chaitea-training")
}

@section datepickerpanel{

}

<div class="container-fluid sep-entry no-overflow" data-ng-controller="Training.SEEntryCtrl as vm" data-ng-init="vm.initialize(@empId, @sepMonthlyEditCuttoffDay)">
    <div class="row page-content">

        <div class="panel panel-clean " data-ng-if="vm.employee">
            <div class="panel-header">
                <div hidden-customers data-ng-if="vm.isEntryDisabled" class="disabled-entry-bar no-margin-bottom padding text-center alert alert-warning">Entry is disabled</div>
                <div class="emp-profile-well">
                    <div class="pull-left emp-profile-wgt hidden-xs">
                        <div class="se-circle-img pull-left">
                            <img ng-src="{{ ::vm.employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{::vm.employee.Name}}" />
                        </div><!-- Circle-image -->

                        <div class="row-details pull-left no-padding">
                            <p class="emp-name row-details-emp">{{::vm.employee.Name}}</p>
                            <p class="emp-title">
                                {{::vm.employee.Job.Name}}
                            </p>
                            <p class="hire-date">Start Date: {{::vm.employee.HireDate}}</p>
                            <label class="text-muted update-date hidden-xs" data-ng-if="vm.employee.UpdateDate">
                                Last Updated on: {{vm.employee.UpdateDate | date:'medium'}}
                            </label>
                        </div><!-- emp-details -->
                    </div><!-- pull-left -->
                    <div class="pull-left emp-profile-wgt col-xs-12 col-sm-12 visible-xs">
                        <div class="se-circle-img pull-left col-xs-3 col-sm-3">
                            <img ng-src="{{ ::vm.employee.ProfileImage  || '@Url.Content("~/content/img/user.jpg")' }}" alt="{{::vm.employee.Name}}" />
                        </div><!-- Circle-image -->

                        <div class="col-xs-8 col-sm-8 row-details pull-left no-padding">
                            <p class="emp-name row-details-emp">{{::vm.employee.Name}}</p>
                            <p class="emp-title">
                                {{::vm.employee.Job.Name}}
                            </p>
                            <p class="hire-date">Start Date: {{::vm.employee.HireDate}}</p>
                        </div><!-- emp-details -->
                        <div class="clearfix"></div>
                        <label class="text-muted update-date visible-xs" data-ng-if="vm.employee.UpdateDate">
                            Last Updated on: {{vm.employee.UpdateDate | date:'medium'}}
                        </label>
                    </div><!-- pull-left -->

                    <div class="monthly-picker-div pull-right hidden-xs hidden-sm">
                        <div class="custom-monthly-picker ">
                            <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class-="clearfix"></div>
                </div>
                <div class="hidden-lg hidden-md">
                    <div class="monthly-picker-div col-xs-12 col-sm-12">
                        <div class="custom-monthly-picker col-xs-12 col-sm-12 ">
                            <sbm-monthly-picker ng-model="vm.endDate" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="sub-head hidden-xs hidden-sm print-card-btn">
                    <div class="row utility-bar">
                        @*<a href="@Url.Action("Index", "ServiceExcellence", new {Area = "Training"})" class="btn back-label"><i class="fa-angle-left"></i> BACK TO THE LIST</a>*@
                        <div class="col-md-2 pull-right hidden-xs hidden-sm">
                            <div class="pull-right">
                                <div uib-dropdown class="pull-left">
                                    <a href="javascript:void(0);" class="btn btn-print entry-btn-print" id="print-dropdown" dropdown-toggle title="Print options"><i class="fa-print"></i>&nbsp <b class="hidden-xs hidden-sm"> PRINT SCORECARD </b></a>
                                    <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right print-dropdown" aria-labelledby="print-dropdown">
                                        <li class="dropdown-header">Print options</li>
                                        <li>
                                            <a href="javascript:void(0)" data-ng-click="vm.printScoreCard($event)">Print {{::vm.employee.Name}}'s Scorecard</a>
                                        </li>
                                    </ul>
                                </div>
                                @*<span class="pipe no-margin"></span>
                                    <a href="javascript:void(0);" class="btn" title="export"><i class="fa-download"></i></a>*@
                            </div>

                        </div>
                    </div>
                </div>
                <div class-="clearfix"></div>
            </div>
            <div class="panel-body panel-body-more" ng-form="vm.reportForm" data-ng-class="{'entry-disabled':vm.isEntryDisabled}">
                <div class=" mobile-tabs-wrap">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-1 tab tab-1">
                            <div class="pull-left">
                                <i class="fa fa-financials icon-style"></i>
                            </div>
                            <div class="pull-left bonus-data">
                                <p class="amount">${{vm.yearlyBonus}}</p>
                                <p class="amount-title hidden-lg hidden-md">BONUS EARNED THIS YEAR</p>
                            </div>
                            <div class="pull-left bonus-title hidden-xs hidden-sm">
                                <p class="amount-title">BONUS EARNED THIS YEAR</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-1 tab">
                            <div class="pull-left">
                                <i class="fa fa-client icon-style"></i>
                            </div>
                            <div class="pull-left bonus-data">
                                <p class="amount">$<span ng-bind="vm.monthlyBonus + vm.siteBonusForMonth"></span></p>
                                <p class="amount-title hidden-lg hidden-md">BONUS EARNED THIS MONTH</p>
                            </div>
                            <div class="pull-left bonus-title hidden-xs hidden-sm">
                                <p class="amount-title">BONUS EARNED THIS MONTH</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @* --Start KPI Item--  *@
                <div class="report-card-v"
                     data-ng-class="item.IsPass?'pass':'fail'"
                     data-ng-repeat="item in vm.employee.EmployeeKpis">
                    <div class="row " data-ng-click="(item.showToggleBlock = !item.showToggleBlock) && (vm.showToggle[$index])">
                        <div class="col-xs-8">
                            <div class="col-xs-2 col-md-1 card-icon-wrap align">
                                <i class="{{::item.Kpi.Icon}}"></i>
                            </div><!-- CardIconWrap -->
                            <div class="col-xs-10 col-md-11">
                                <div class="row">
                                    <div class="col-xs-8 col-md-6">
                                        <p class="kpi-name">{{::item.Kpi.Name}}</p>
                                    </div><!-- COL-6 -->
                                    <div class="col-xs-4 col-md-6 pull-right padding-t-10 number-align">
                                        <p class="meta-item hidden-xs hidden-sm" data-ng-repeat="meta in item.MetaData">
                                            <small class="text meta-text"
                                                   data-ng-if="meta.IsForDisplay && meta.Label != 'Audited'">
                                                {{meta.Value}} <b class="hidden-xs"> {{meta.Label}} </b>
                                            </small>
                                        </p>
                                        <p class="meta-item hide-desktop" data-ng-repeat="meta in item.MetaData">
                                            <small class="text meta-text"
                                                   data-ng-if="meta.Label == 'Complaints' || meta.Label == 'Claims' || meta.Label == 'Warnings'
                                                   || meta.Label == 'Occurrences' || meta.Label == 'Score' || meta.Label == 'Created' || meta.Label == 'Audited' ">
                                                {{meta.Value}} <b class="hidden-xs hidden-sm"> {{meta.Label}} </b>
                                            </small>
                                        </p>
                                        <p class="meta-item hidden-xs hidden-sm" data-ng-if="!item.MetaData.length || item.MetaData[0].Label == 'Audited'">
                                            <small class="text meta-text">
                                                {{item.Kpi.Summary}}
                                            </small>
                                        </p>
                                        <p class="meta-item hidden-md hidden-lg" data-ng-if="!item.MetaData.length">
                                            <small class="text meta-text">
                                                0
                                            </small>
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- CardIconWrap -->
                        </div>


                        <div class="col-xs-4 col-md-4 pull-right">
                            <div class="row">
                                <div class="col-xs-6 col-md-4">
                                    <p class="pass" data-ng-if="item.IsPass">PASS</p>
                                    <p class="tbd" data-ng-if="item.IsPass == null">TBD</p>
                                    <p class="fail" data-ng-if="item.IsPass == false">FAIL</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div  class="col-xs-4 col-md-4 padding-t-4">
                                    @*<div class="icon-img">*@
                                    <label hidden-customers data-ng-if="item.Kpi.Name != 'Quality Audits' && item.Kpi.Name != 'Training'" class="icon-img" ng-click="vm.onFailClick($event,@empId, item)">
                                        <i class="fa fa-plus"></i>
                                    </label>
                                    @*</div>*@
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-xs-2 col-md-4">
                                    <a href="@Url.Action("Index", "Transcript", new { Area = "Training" })?id={{vm.employee.EmployeeId}}"><i class="fa fa-angle-right angle-right-style pull-right" data-ng-if="item.Kpi.Name == 'Training'"></i></a>
                                    <i class="angle-right-style pull-right" data-ng-if="item.Kpi.Name == 'Complaints' || item.Kpi.Name != 'Safety' || item.Kpi.Name != 'Conduct'
                                       || item.Kpi.Name != 'Attendance' || item.Kpi.Name != 'Professionalism' || item.Kpi.Name == 'Quality Audits' || item.Kpi.Name == 'Ownership'" data-ng-class="{'fa fa-angle-up' : item.showToggleBlock && vm.shouldToggle[$index] , 'fa fa-angle-down' : (item.Kpi.Name != 'Training') && (!item.showToggleBlock || !vm.shouldToggle[$index])  , 'disabled': !vm.shouldToggle[$index]}"></i>
                                </div>
                            </div>
                        </div>

                        <div class="toggle-block" data-ng-class="{'show':item.showToggleBlock && vm.shouldToggle[$index]}">

                            <div ng-switch="item.Kpi.Name" class="kpi-custom">
                                <div ng-switch-when="Complaints">
                                    <div class="complaint-details">
                                        <div ng-repeat="complaint in vm.complaints" class="complaint-item-style">
                                            <a ng-click="vm.loadComplaintModal(@empId, complaint, $event)"
                                               class="complaint-item"><b>Date : </b>{{complaint.FeedbackDate| date: mediumDate}}<br><b>Building : </b>{{complaint.BuildingName}}<br /><b>Description : </b>{{complaint.Description}}</a>
                                            <div class="clearfix"></div>
                                            <hr ng-hide="$last" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="Safety">
                                    <div class="complaint-details">
                                        <div ng-repeat="claim in vm.safetyClaims" class="complaint-item-style">
                                            <a ng-click="vm.loadSafetyIssueDetailsModal(claim.SafetyId)"
                                               class="complaint-item"><b>Date Of Incident : </b>{{ claim.DateOfIncident| date: mediumDate}}<br><b>Safety Type : </b><span ng-repeat="type in claim.IncidentTypes">{{type.Name}}{{$last ? '' : ($index==incidentType.Name.length-2) ? ', and ' : ' ,&nbsp;'}}</span></a>
                                            <div class="clearfix"></div>
                                            <hr ng-hide="$last" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="Conduct">
                                    <div class="complaint-details">
                                        <div ng-repeat="warning in vm.conductWarnings" class="complaint-item-style">
                                            <a ng-click="vm.loadConductWarningDetailsModal(warning.ConductId)"
                                               class="complaint-item"><b>Date Of Occurrence : </b>{{ warning.DateOfOccurrence | date: mediumDate}}<br><b>Conduct Type : </b><span ng-repeat="type in warning.ConductTypes">{{type.Name}}{{$last ? '' : ($index==incidentType.Name.length-2) ? ', and ' : ' ,&nbsp;'}}</span></a>
                                            <div class="clearfix"></div>
                                            <hr ng-hide="$last" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="Attendance">
                                    <div class="complaint-details">
                                        <div ng-repeat="issue in vm.attendanceIssues" class="complaint-item-style">
                                            <a ng-click="vm.loadAttendanceIssueDetailsModal(issue.IssueId)"
                                               class="complaint-item"><b>Date Of Occurrence : </b>{{ issue.DateOfOccurrence| date: mediumDate}}<br><b>Issue Type : </b>{{issue.IssueTypeName}}</a>
                                            <div class="clearfix"></div>
                                            <hr ng-hide="$last" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="Professionalism">
                                    <div class="complaint-details">
                                        <div class="complaint-item-style">
                                            <a ng-click="vm.loadProfessionalismAuditDetailsModal(vm.professionalismAudit.EmployeeAuditId)"
                                               class="complaint-item"><b>Last audit date : </b>{{ vm.professionalismAudit.UpdateDate| date: mediumDate}}<br><b>Audit by : </b>{{vm.professionalismAudit.UpdateBy}}</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="Quality Audits">
                                    <div class="complaint-details" data-ng-if="vm.showAuditScores">
                                        <div ng-repeat="audit in vm.auditScores" class="complaint-item-style">
                                            <div class="complaint-item"><b>{{audit.AreaName}}</b> - {{audit.AverageScoringProfileScore}}</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="average-score">
                                            <b>Average Score - {{item.MetaData[1].Value}}</b>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div ng-switch-when="Ownership">
                                    <div class="complaint-details">
                                        <div ng-repeat="workOrder in vm.ownershipWorkOrders" class="complaint-item-style">
                                            <a ng-click="vm.loadOwnershipDetailsModal(workOrder.OwnershipId)"
                                               class="complaint-item"><strong>Create Date : </strong>{{ workOrder.CreateDate | date: mediumDate}}</br><strong>Accept Type : </strong>{{workOrder.IsCritical ? 'Critical' : 'Non-Critical'}}</a>
                                            <div class="clearfix"></div>
                                            <hr ng-hide="$last" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-default></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overal-comment-block">
                    <div class="row">
                        <div hidden-customers class="col-md-10 col-lg-10 col-xs-12 col-sm-12">
                            <p class="label no-padding">Overall Comment</p>
                            <p>Enter an overall comment that describes this employee's performance at the facility</p>
                            <textarea class="input basic-input" name="overallComment" id="overallComment" data-ng-model="vm.kpiItem.Comment" cols="30" rows="40" 
                                      placeholder="Overall Comment.">{{vm.kpiItem.Comment}}</textarea>
                        </div>
                        <div visible-customers class="col-md-10 col-lg-10 col-xs-12 col-sm-12">
                            <p class="label no-padding">Overall Comment</p>
                            <div ng-if="vm.kpiItem.Comment">{{vm.kpiItem.Comment}}</div>
                            <div class="text-muted" ng-if="!vm.kpiItem.Comment">No overall comment available</div>
                        </div>
                        <div hidden-customers class="col-md-2 col-lg-2 col-xs-12 col-sm-12 report-card-v save">
                            <button class="btn card-btn btn-block btn-save" data-ng-hide="vm.isEntryDisabled" data-ng-disabled="vm.reportForm.$invalid" data-ng-click="vm.updateOverallComment()">SAVE COMMENT</button>
                        </div>
                    </div>
                </div>
                @*<div class="report-card-v save hidden-lg hidden-md">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <button class="btn card-btn pull-right btn-save" data-ng-hide="vm.isEntryDisabled" data-ng-disabled="vm.reportForm.$invalid" data-ng-click="vm.updateOverallComment()">SAVE COMMENT</button>
                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</div>