﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Training.Models.TrainingVm
@{
    ViewBag.Title = "SEP Scorecard";
    ViewBag.HideTitleBar = true;
}

@section scripts {
    <script>
         $(function () {
            var offset =  60;

            $('table').stickyTableHeaders({ fixedOffset: offset });
         });
    </script>

}

@section datepickerpanel{
}

<div class="container-fluid  sep-index sep-box-score" data-ng-controller="Training.SEPIndexCtrl as vm" data-ng-init="vm.initialize()">
    <page-header title="SEP Scorecard"
                 s3-icon-name="sep.svg"
                 info-text="{{'SEP_TITLE_DESC' | translate}}">
     
        <sbm-monthly-picker class="hidden-xs hidden-sm" ng-model="vm.dateRange" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
        <div class="dropdown d-inline-block" uib-dropdown dropdown-append-to-body>
            <a uib-dropdown-toggle class="btn btn-success btn-sm" href="javascript:void(0);">
                +
                <span class="hidden-xs hidden-sm text-center new-entry" translate>
                    CREATE ENTRY
                </span>
                <span class="fa fa-chevron-down hidden-xs hidden-sm"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu-right">
                <li ng-repeat="item in vm.createNewItems">
                    <a ng-href="{{item.link || item.paramsLink}}">{{item.name}}</a>
                </li>
            </ul>
        </div>
        <!--Mobile Dropdown-->
        <div uib-dropdown dropdown-append-to-body class="visible-xs-inline-block visible-sm-inline-block">
            <button class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-more-options"></span>
            </button>
            <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <utility-nav-search search-model="vm.search" placeholder="Find Employees"></utility-nav-search>
                </li>
                <li>
                    <a hidden-customers href="@Url.Action("BonusConfig", "ServiceExcellence")" class="btn btn-default" >
                        <span class="fa fa-cog"></span> {{'CONFIG' | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </page-header>
    <utility-header class="hidden-xs hidden-sm">
        <custom-buttons class="btn-group visible-md visible-lg">
            <utility-nav-search button-classes="btn btn-default" search-model="vm.search" placeholder="Find Employees"></utility-nav-search>
            <a hidden-customers href="@Url.Action("BonusConfig", "ServiceExcellence")" class="btn btn-default text-uppercase" >
                <span class="fa fa-cog"></span> {{'CONFIG' | translate}}
            </a>
            <div uib-dropdown dropdown-append-to-body>
                <button class="btn btn-default" uib-dropdown-toggle>
                    <span class="fa fa-print"></span> {{'PRINT' | translate }}
                </button>
                <ul class="page-header-dropdown dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li class="dropdown-header" translate>Print options</li>
                    <li class="padding-left-5 padding-right-5">
                        <a href="javascript:void(0)" data-ng-click="vm.printAllScoreCards($event)">{{'All Employees Scorecards' | translate}}</a>
                    </li>
                    <li class="padding-left-5 padding-right-5">
                        <a href="javascript:void(0)" data-ng-click="vm.printBonusList($event)">{{'Bonus List' | translate}}</a>
                    </li>
                </ul>
            </div>
               
            <button class="btn btn-default" ng-click="vm.export()">
                <span class="fa fa-download"></span> {{'EXPORT' | translate }}
            </button>
        </custom-buttons>
    </utility-header>
  
    <div class="margin-top-20 text-center" data-ng-if="vm.isPageDisabled">
        <span class="text-center text-warning col-md-12 alert alert-warning">
            <i class="fa fa-warning fa-2"></i> <span translate>Please select a site.</span>
        </span> 
    </div>
    <div data-ng-hide="vm.isPageDisabled">
        <div class="row">
            <div class="well well-clean top-header padding-vertical-10" ng-if="vm.isFinalized">
                <div class="circle-img pull-left ">
                    <img ng-src="{{vm.employeeWithImage.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
                </div>
                <div class="padding-left margin-left pull-left">
                    <p class="text-warning">-- CLOSED SCORECARD --</p>
                    <span class="text-muted job">Submitted by </span> <span class="text-primary margin-vertical-5">{{vm.employeeWithImage.Name}} </span>
                    <span class="text-muted job">on</span> <span class="start-date">{{vm.scorecardStatus.CreateDate | date:'MMM d, y'}}</span>
                </div>
            </div>
             <div class="well well-clean header new-border" ng-class="{'margin-top-0': true}" ng-if="vm.isFinalized">
                    <div class="col-xs-12">
                        @* read only state after finalizing sep *@
                        <div class="row title" ng-if="vm.isFinalized">
                            <div class="pull-left filter">
                                <p class="count">{{vm.dataPoints.passedCount}}</p>
                                <p class="text-muted" translate>PASSED</p>
                            </div>
                            <div class="pull-left filter">
                                <p class="count">{{vm.dataPoints.failedCount}}</p>
                                <p class="text-muted" translate>FAILED</p>
                            </div>
                            <div class="pull-left filter all">
                                <p class="count text-success">${{vm.dataPoints.totalBonusAmount}}</p>
                                <p class="text-muted" translate>BONUSES EARNED</p>
                            </div>
                        </div>
                    </div>
               
            </div>
            <div class="date-picker-boxborder visible-xs visible-sm col-xs-12">
                <div class="custom-monthly-picker col-sm-12">
                    <sbm-monthly-picker class="date-picker-style" ng-model="vm.dateRange" on-change-fn="vm.onSwitchDateRange"></sbm-monthly-picker>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12 background-style" ng-if="!vm.isFinalized">
                <tab-filter-header class="padding-horizontal-5 padding-top-20 default-tabs" tab-items="vm.tabFilterItems"></tab-filter-header>
            </div>
            
            <button class="hidden-xs hidden-sm btn btn-warning text-uppercase btn-finalize" ng-if="!vm.isFinalized && vm.isManager" ng-click="vm.finalizeScorecard()">{{'FINALIZE' | translate }}</button>
        </div>
      
        <div data-ng-hide="vm.isPageDisabled">
            <div class="page-content padding-horizontal-0">
                <div class="row bordered-row bordered-row-top hidden-xs hidden-sm">
                    <table id="sep-desktop" class="sep-box-score table" data-infinite-scroll="vm.getSEPBoxScores()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="" translate>ATTENDANCE</th>
                                <th class="" translate>CONDUCT</th>
                                <th class="" translate>COMPLAINTS</th>
                                <th class="" translate>SAFETY</th>
                                <th class="" translate>REPORT IT</th>
                                <th class="" translate>TRAINING</th>
                                <th class="" translate>QUALITY</th>
                                <th class="" translate>PROFESSIONALISM</th>
                                <th class="" translate>COMMENTS</th>
                            </tr>
                            <tr class="sep-stats">
                                <th class="total">
                                    <div translate>TOTAL SCORECARDS</div>
                                </th>
                                <th>
                                    {{vm.individualCounts.Attendance}}
                                    <p translate>FAILING</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.Conduct}}
                                    <p translate>FAILING</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.Complaints}}
                                    <p translate>FAILING</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.Safety}}
                                    <p translate>FAILING</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.ReportIt}}
                                    <p translate>NOT PASSING</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.Training}}
                                    <p  translate>NOT PASSING</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.Quality}}
                                    <p  translate>NOT AUDITED</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.Professionalism}}
                                    <p  translate>NOT AUDITED</p>
                                </th>
                                <th class="">
                                    {{vm.individualCounts.Comments}}
                                    <p  translate>REQUIRED</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="employee-row" ng-repeat="employee in vm.employees | filter: vm.search | orderBy: 'Name'" ng-class="{'loading':employee._isLoading}">
                                <td class="employee">
                                    <div class="details">
                                        <div class="circle-img pull-left">
                                            <img ng-src="{{employee.ProfileImage || vm.sitesettngs.defaultProfileImage}}" />
                                        </div>
                                        <div class="emp-desc pull-left">
                                            <h4 class="name">
                                                <a href="@Url.Action("ReportCard","MyProfile", new { Area = "Personnel" })/{{employee.EmployeeId}}">
                                                    {{employee.Name}}
                                                </a>
                                            </h4>
                                            <span class="text-muted job-title">{{employee.JobDescription}}</span>
                                            <span class="text-muted">|</span>
                                            <span class="hired-date">Hired {{employee.HireDate | date:'M/d/yyyy'}}</span>
                                            <p class="status-bonus" ng-if="!employee.IsExempt">
                                                <span class="fa-stack fa-1x">
                                                    <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.IsPass == false,'text-success':employee.IsPass, 'text-muted' : employee.IsPass == null}"></i>
                                                    <i class="fa fa-stack-1x fa-inverse" ng-class="{'fa-check': employee.IsPass, 'fa-exclamation': employee.IsPass == false, 'fa-minus': employee.IsPass == null}"></i>
                                                </span>
                                                <span class="text-muted bonus-amount padding-left-10"> ${{employee.BonusAmount}}</span>
                                                <span class="bonus-text text-muted">Bonus </span>

                                                <span visible-managers class="fa-stack fa-1x click margin-left-10" ng-if="employee.EmployeeKpis.length == 0" 
                                                      ng-click="vm.createKpi(employee.EmployeeId)" title="Create Kpi">
                                                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                                    <i class="fa fa-stack-1x fa-inverse fa-exclamation" ></i>
                                                </span>
                                            </p>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </td>
                                <td ng-click="vm.popModal('attendance', employee)" >
                                    <span class="text-muted not-applicable" ng-if="employee.EmployeeKpis.length == 0 || employee.IsExempt || employee.EmployeeKpis[vm.KPIs.Attendance].IsExempt">N/A</span>
                                    <span class="fa-stack fa-1x" ng-if="!employee.EmployeeKpis[vm.KPIs.Attendance].IsExempt && employee.EmployeeKpis[vm.KPIs.Attendance].IsPass && employee.EmployeeKpis.length != 0 && !employee.IsExempt">
                                        <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.EmployeeKpis[vm.KPIs.Attendance].IsPass == false,
                                        'text-success': employee.EmployeeKpis[vm.KPIs.Attendance].IsPass, 'text-muted' : employee.EmployeeKpis[vm.KPIs.Attendance].IsPass == null }"></i>
                                        <i class="fa fa-check fa-inverse"></i>
                                    </span>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Attendance].IsExempt && !employee.IsExempt && !employee.EmployeeKpis[vm.KPIs.Attendance].IsPass && employee.EmployeeKpis.length != 0 && employee.EmployeeKpis[vm.KPIs.Attendance].Metric != null"  class="failed-number">
                                        <span class="metric">{{employee.EmployeeKpis[vm.KPIs.Attendance].Metric}}</span>
                                    </div>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Attendance].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Attendance].IsPass == false && employee.EmployeeKpis[vm.KPIs.Attendance].Metric == null" 
                                         class="failed-number fa-exclamation metric-null">
                                    </div>
                                </td>
                                <td ng-click="vm.popModal('conduct', employee)">
                                    <span class="text-muted not-applicable" ng-if="employee.IsExempt || (employee.EmployeeKpis.length == 0) || employee.EmployeeKpis[vm.KPIs.Conduct].IsExempt">N/A</span>
                                    <span class="fa-stack fa-1x" ng-if="!employee.EmployeeKpis[vm.KPIs.Conduct].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Conduct].IsPass && employee.EmployeeKpis.length != 0">
                                        <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.EmployeeKpis[vm.KPIs.Conduct].IsPass == false,
                                        'text-success': employee.EmployeeKpis[vm.KPIs.Conduct].IsPass, 'text-muted' : employee.EmployeeKpis[vm.KPIs.Conduct].IsPass == null}"></i>
                                        <i class="fa fa-check fa-inverse"></i>
                                    </span>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Conduct].IsExempt && !employee.IsExempt && !employee.EmployeeKpis[vm.KPIs.Conduct].IsPass && employee.EmployeeKpis.length != 0 && employee.EmployeeKpis[vm.KPIs.Conduct].Metric != null" class="failed-number">
                                        <span class="metric">{{employee.EmployeeKpis[vm.KPIs.Conduct].Metric}}</span>
                                    </div>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Conduct].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Conduct].IsPass == false && employee.EmployeeKpis[vm.KPIs.Conduct].Metric == null"
                                         class="failed-number fa-exclamation metric-null">
                                    </div>
                                </td>
                                <td ng-click="vm.popModal('complaints', employee)">
                                    <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0 || employee.EmployeeKpis[vm.KPIs.Complaints].IsExempt">N/A</span>
                                    <span class="fa-stack fa-1x" ng-if="!employee.EmployeeKpis[vm.KPIs.Complaints].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Complaints].IsPass && employee.EmployeeKpis.length != 0">
                                        <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.EmployeeKpis[vm.KPIs.Complaints].IsPass == false,
                                        'text-success': employee.EmployeeKpis[vm.KPIs.Complaints].IsPass, 'text-muted' : employee.EmployeeKpis[vm.KPIs.Complaints].IsPass == null}"></i>
                                        <i class="fa fa-check fa-inverse"></i>
                                    </span>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Complaints].IsExempt && !employee.IsExempt && !employee.EmployeeKpis[vm.KPIs.Complaints].IsPass && employee.EmployeeKpis.length != 0  && employee.EmployeeKpis[vm.KPIs.Complaints].Metric != null" class="failed-number">
                                        <span class="metric">{{employee.EmployeeKpis[vm.KPIs.Complaints].Metric}}</span>
                                    </div>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Complaints].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Complaints].IsPass == false && employee.EmployeeKpis[vm.KPIs.Complaints].Metric == null"
                                         class="failed-number fa-exclamation metric-null">
                                    </div>
                                </td>
                                <td ng-click="vm.popModal('safety', employee)">
                                    <span class="text-muted not-applicable" ng-if="(employee.IsExempt) || (employee.EmployeeKpis.length == 0) || (employee.EmployeeKpis[vm.KPIs.Safety].IsExempt)">N/A</span>
                                    <span class="fa-stack fa-1x" ng-if="!employee.EmployeeKpis[vm.KPIs.Safety].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Safety].IsPass && employee.EmployeeKpis.length != 0">
                                        <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.EmployeeKpis[vm.KPIs.Safety].IsPass == false,
                                        'text-success': employee.EmployeeKpis[vm.KPIs.Safety].IsPass, 'text-muted' : employee.EmployeeKpis[vm.KPIs.Safety].IsPass == null}"></i>
                                        <i class="fa fa-check fa-inverse"></i>
                                    </span>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Safety].IsExempt && !employee.IsExempt && !employee.EmployeeKpis[vm.KPIs.Safety].IsPass && employee.EmployeeKpis.length != 0  && employee.EmployeeKpis[vm.KPIs.Safety].Metric != null" class="failed-number">
                                        <span class="metric">{{employee.EmployeeKpis[vm.KPIs.Safety].Metric ? employee.EmployeeKpis[vm.KPIs.Safety].Metric : 0}}</span>
                                    </div>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Safety].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Safety].IsPass == false && employee.EmployeeKpis[vm.KPIs.Safety].Metric == null"
                                         class="failed-number fa-exclamation metric-null">
                                    </div>
                                </td>
                                <td ng-click="vm.popModal('report it', employee)">
                                    <span class="text-muted not-applicable" ng-if="(employee.IsExempt) || (employee.EmployeeKpis.length == 0) || (employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt)">N/A</span>
                                    <span class="fa-stack fa-1x" ng-if="!employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass == null &&
                                          employee.EmployeeKpis[vm.KPIs.ReportIt].Metric == null &&
                                           employee.EmployeeKpis.length != 0">
                                        <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                        <i class="fa fa-minus fa-inverse"></i>
                                    </span>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass && employee.EmployeeKpis[vm.KPIs.ReportIt].Metric != null && employee.EmployeeKpis.length != 0" class="passed-metric">{{employee.EmployeeKpis[vm.KPIs.ReportIt].Metric}}</div>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass == false && employee.EmployeeKpis.length != 0" class="failed-number">
                                        <span class="metric">{{employee.EmployeeKpis[vm.KPIs.ReportIt].Metric ? employee.EmployeeKpis[vm.KPIs.ReportIt].Metric : 0}}</span>
                                    </div>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass == null && 
                                         employee.EmployeeKpis[vm.KPIs.ReportIt].Metric != null 
                                         && employee.EmployeeKpis.length != 0" class="text-muted">
                                        {{employee.EmployeeKpis[vm.KPIs.ReportIt].Metric ? employee.EmployeeKpis[vm.KPIs.ReportIt].Metric : 0}}
                                    </div>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass == true && employee.EmployeeKpis[vm.KPIs.ReportIt].Metric == null"
                                         class="failed-number fa-exclamation metric-null">
                                    </div>
                                </td>
                                <td ng-click="vm.goToTranscriptPage(employee.EmployeeId)">
                                    <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0">N/A</span>
                                    <div ng-if="!employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Training].IsPass == true && employee.EmployeeKpis.length != 0" class="passed-metric">
                                        {{employee.EmployeeKpis[vm.KPIs.Training].Metric ? employee.EmployeeKpis[vm.KPIs.Training].Metric : 0}}%
                                    </div>
                                    <div ng-if="!employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Training].IsPass == false && employee.EmployeeKpis.length != 0" class="failed-number">
                                        <span class="metric percent">{{employee.EmployeeKpis[vm.KPIs.Training].Metric ? employee.EmployeeKpis[vm.KPIs.Training].Metric : 0}}%</span>
                                    </div>
                                    <div ng-if="!employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Training].IsPass == null && employee.EmployeeKpis.length != 0" class="text-muted not-applicable">N/A</div>
                                </td>
                                <td ng-click="vm.popModal('quality', employee)">
                                    <span class="text-muted not-applicable" ng-if="(employee.IsExempt) || (employee.EmployeeKpis.length == 0) || (employee.EmployeeKpis[vm.KPIs.Quality].IsExempt)">N/A</span>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Quality].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Quality].Metric != null && employee.EmployeeKpis[vm.KPIs.Quality].IsPass != null  && employee.EmployeeKpis.length != 0" class=""
                                         ng-class="{'passed-metric':employee.EmployeeKpis[vm.KPIs.Quality].IsPass == true , 'failed-metric' : employee.EmployeeKpis[vm.KPIs.Quality].IsPass == false}">
                                        {{employee.EmployeeKpis[vm.KPIs.Quality].Metric | number : 2}}
                                    </div>
                                    <span class="fa-stack fa-1x" ng-if="!employee.EmployeeKpis[vm.KPIs.Quality].IsExempt && !employee.IsExempt && employee.EmployeeKpis[vm.KPIs.Quality].IsPass == null && employee.EmployeeKpis[vm.KPIs.Quality].Metric == null && employee.EmployeeKpis.length != 0">
                                        <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                        <i class="fa fa-minus fa-inverse"></i>
                                    </span>
                                    <div ng-if="!employee.EmployeeKpis[vm.KPIs.Quality].IsExempt && !employee.IsExempt && (employee.EmployeeKpis[vm.KPIs.Quality].IsPass != null && employee.EmployeeKpis[vm.KPIs.Quality].Metric == null) 
                                         || (employee.EmployeeKpis[vm.KPIs.Quality].IsPass == null  && employee.EmployeeKpis[vm.KPIs.Quality].Metric != null)"
                                         class="failed-number fa-exclamation metric-null">
                                    </div>
                                </td>
                                <td ng-click="vm.popModal('professionalism', employee)">
                                    <span class="text-muted not-applicable" ng-if="(employee.IsExempt) || (employee.EmployeeKpis.length == 0) || (employee.EmployeeKpis[vm.KPIs.Professionalism].IsExempt)">N/A</span>
                                    <span class="fa-stack fa-1x" ng-if="!employee.EmployeeKpis[vm.KPIs.Professionalism].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0">
                                        <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == false,
                                        'text-success': employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass, 'text-muted' : employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == null}"></i>
                                        <i class="fa fa-inverse" ng-class="{'fa-excalamation': employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == false,
                                           'fa-check': employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == true, 'fa-minus' : employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == null,
                                           'fa-exclamation': employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == false}"></i>
                                    </span>
                                </td>
                                <td ng-click="vm.popModal('comments', employee)">
                                    <i class="fa" ng-class="{'fa-bubble text-warning' : employee.Comment , 'fa-bubble-alt' : employee.Comment == null || employee.Comment == ''}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="row mobile-card hidden-md hidden-lg">
                    <div ng-repeat="employee in vm.employees | filter: search" ng-class="{'loading':employee._isLoading}">
                        <div class="card-details">
                            <div class="employee col-xs-12">
                                <div class="circle-img pull-left">
                                    <img ng-src="{{employee.ProfileImage || vm.sitesettngs.defaultProfileImage}}" />
                                </div>
                                <span class="fa-stack fa-1x indicator">
                                    <i class="fa fa-circle fa-stack-2x" ng-class="{'text-danger': employee.IsPass == false,'text-success':employee.IsPass, 'text-muted' : employee.IsPass == null}"></i>
                                    <i class="fa fa-stack-1x fa-inverse" ng-class="{'fa-check': employee.IsPass, 'fa-exclamation': employee.IsPass == false, 'fa-minus': employee.IsPass == null}"></i>
                                </span>
                                <div class="emp-desc pull-left">
                                    <h4 class="name">
                                        <a href="@Url.Action("ReportCard","MyProfile", new { Area = "Personnel" })/{{employee.EmployeeId}}">
                                            {{employee.Name}}
                                        </a>
                                    </h4>
                                    <span class="text-muted job-title">{{employee.JobDescription}}</span>
                                    <span class="text-muted">|</span>
                                    <span class="hired-date">Hired {{employee.HireDate | date:'M/d/yyyy'}}</span>
                                    <span visible-managers class="fa-stack fa-1x click margin-left-10" ng-if="employee.EmployeeKpis.length == 0"
                                          ng-click="vm.createKpi(employee.EmployeeId)" title="Create Kpi">
                                        <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                        <i class="fa fa-stack-1x fa-inverse fa-exclamation"></i>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="pull-right comment">
                                    <i class="fa" ng-class="{'fa-bubble text-warning' : employee.Comment , 'fa-bubble-alt' : employee.Comment == null}"
                                       ng-click="vm.popModal('comments', employee)"></i>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="kpis">
                                <table id="sep-mobile" class="mobile">
                                    <thead>
                                        <tr>
                                            <th ng-click="vm.popModal('attendance', employee)">
                                                <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0 || employee.EmployeeKpis[vm.KPIs.Attendance].IsExempt">N/A</span>
                                                <i class="fa fa-inverse fa-attendance" ng-if="!employee.EmployeeKpis[vm.KPIs.Attendance].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0" 
                                                   ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.Attendance].IsPass == true,
                                                   'text-danger' : employee.EmployeeKpis[vm.KPIs.Attendance].IsPass == false,
                                                   'text-muted' : employee.EmployeeKpis[vm.KPIs.Attendance].IsPass == null}"></i>
                                            </th>
                                            <th ng-click="vm.popModal('conduct', employee)">
                                                <span class="text-muted not-applicable" ng-if="(employee.IsExempt) || (employee.EmployeeKpis.length == 0) || (employee.EmployeeKpis[vm.KPIs.Conduct].IsExempt)">N/A</span>
                                                <i class="fa fa-inverse fa-star-o" ng-if="!employee.EmployeeKpis[vm.KPIs.Conduct].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0"
                                                   ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.Conduct].IsPass == true,
                                                   'text-danger' : employee.EmployeeKpis[vm.KPIs.Conduct].IsPass == false,
                                                   'text-muted' : employee.EmployeeKpis[vm.KPIs.Conduct].IsPass == null}"></i>
                                            </th>
                                            <th ng-click="vm.popModal('complaints', employee)">
                                                <span class="text-muted not-applicable" ng-if="(employee.IsExempt) || (employee.EmployeeKpis.length == 0) || (employee.EmployeeKpis[vm.KPIs.Complaints].IsExempt)">N/A</span>
                                                <i class="fa fa-inverse fa-complaints" ng-if="!employee.EmployeeKpis[vm.KPIs.Complaints].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0"
                                                   ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.Complaints].IsPass == true,
                                                   'text-danger' : employee.EmployeeKpis[vm.KPIs.Complaints].IsPass == false,
                                                    'text-muted' : employee.EmployeeKpis[vm.KPIs.Complaints].IsPass == null}"></i>
                                            </th>
                                            <th ng-click="vm.popModal('safety', employee)">
                                                <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0 || employee.EmployeeKpis[vm.KPIs.Safety].IsExempt">N/A</span>
                                                <i class="fa fa-inverse fa-safety" ng-if="!employee.EmployeeKpis[vm.KPIs.Safety].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0"
                                                   ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.Safety].IsPass == true,
                                                   'text-danger' : employee.EmployeeKpis[vm.KPIs.Safety].IsPass == false,
                                                   'text-muted' : employee.EmployeeKpis[vm.KPIs.Safety].IsPass == null}"></i>
                                            </th>
                                            <th ng-click="vm.popModal('report it', employee)">
                                                <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0 || employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt">N/A</span>
                                                <i class="fa fa-inverse fa-proactive" ng-if="!employee.EmployeeKpis[vm.KPIs.ReportIt].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0"
                                                   ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass == true,
                                                   'text-danger' : employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass == false,
                                                    'text-muted' : employee.EmployeeKpis[vm.KPIs.ReportIt].IsPass == null}"></i>
                                            </th>
                                            <th ng-click="vm.goToTranscriptPage(employee.EmployeeId)">
                                                <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0">N/A</span>
                                                <i class="fa fa-inverse fa-training" ng-if="!employee.IsExempt && employee.EmployeeKpis.length != 0"
                                                    ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.Training].IsPass == true,
                                                   'text-danger' : employee.EmployeeKpis[vm.KPIs.Training].IsPass == false,
                                                   'text-muted' : employee.EmployeeKpis[vm.KPIs.Training].IsPass == null}">
                                                </i>
                                            </th>
                                            <th ng-click="vm.popModal('quality', employee)">
                                                <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0 || employee.EmployeeKpis[vm.KPIs.Quality].IsExempt">N/A</span>
                                                <i class="fa fa-inverse fa-quality" ng-if="!employee.EmployeeKpis[vm.KPIs.Quality].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0"
                                                   ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.Quality].IsPass == true,
                                                'text-danger' : employee.EmployeeKpis[vm.KPIs.Quality].IsPass == false,
                                                 'text-muted' : employee.EmployeeKpis[vm.KPIs.Quality].IsPass == null}"></i>
                                            </th>
                                            <th ng-click="vm.popModal('professionalism', employee)">
                                                <span class="text-muted not-applicable" ng-if="employee.IsExempt || employee.EmployeeKpis.length == 0 || employee.EmployeeKpis[vm.KPIs.Professionalism].IsExempt">N/A</span>
                                                <i class="fa fa-inverse fa-professionalism" ng-if="!employee.EmployeeKpis[vm.KPIs.Professionalism].IsExempt && !employee.IsExempt && employee.EmployeeKpis.length != 0"
                                                   ng-class="{'text-success' : employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == true,
                                                   'text-danger' : employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == false,
                                                   'text-muted' : employee.EmployeeKpis[vm.KPIs.Professionalism].IsPass == null}"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.isPageDisabled">
        <button class="hidden-md hidden-lg btn btn-warning text-uppercase btn-finalize-mobile" ng-if="!vm.isFinalized && vm.isManager" ng-click="vm.finalizeScorecard()">{{'FINALIZE' | translate }}</button>
    </div>
</div>
