﻿
@import "../../../../Css/Common/globals";

.message-builder-wizard {
    padding: 10px 0 40px;

    h1.icon span {
        font-size: 80px;
    }

    h2.main {
        font-size: 30px;
    }

    h3 {
        margin-top: 0;
        font-size: 25px;
    }

    .steps {
        width: 90%;
        margin: 0 auto;
        padding: 0 20px 20px;

        input[type=checkbox] {
            margin-top: 0;
        }

        .step-one {
            width: 60%;
            margin: 0 auto;
        }

        .review-row {
            [class*="col-"] {
                padding-top: 10px;
                padding-bottom: 10px;

                .text {
                    padding-right: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    -moz-transition: all 0.25s;
                    -o-transition: all 0.25s;
                    -webkit-transition: all 0.25s;
                    transition: all 0.25s;


                    &.show-all {
                        white-space: normal;
                    }

                    .show-all-button {
                        position: absolute;
                        right: 0;
                        background: $default;
                        padding: 0 0 0 10px;
                        top: 10px;
                    }
                }
            }



            a.btn-link {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .content {
            padding: 20px;
            background: $gray;
            margin-bottom: 30px;

            & > {

                p {
                    margin-bottom: 20px;
                    text-align: center;
                    font-style: italic;
                }
            }
        }

        [wz-next] {
            font-weight: bold;
            padding: 10px 20px;
        }

        .two-column {
            position: relative;

            [class*="col-"] {
                height: 250px;

                &:first-of-type {
                    @include breakpoint(tablet) {
                        padding-right: 30px;
                    }
                }

                &:last-of-type {
                    margin-top: 20px;

                    @include breakpoint(tablet) {
                        margin-top: 0;
                        padding-left: 30px;
                    }
                }
            }

            .middle {
                height: 250px;
                display: table;
                text-align: center;
                position: absolute;
                right: calc(49%/1);

                span {
                    vertical-align: middle;
                    display: table-cell;
                }
            }

            .middle-down {
                height: 30px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                height: 250px;
                overflow-y: auto;
                border: 1px solid $base-dark;

                .cell {
                    text-align: left;
                    position: relative;
                    background-color: $default;
                    font-weight: 400;
                    font-size: 15px;

                    &:nth-child(even) {
                        background-color: $gray;
                    }

                    label {
                        font-weight: 400;
                        display: block;
                        padding: 15px 45px 15px 15px;
                    }

                    input[type=checkbox] {
                        display: none;
                    }

                    span.fa {
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        z-index: 10;
                        color: $muted;
                    }
                }

                .checkbox-inline {
                    font-weight: 400;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }

            .selected-list-wrap {
                padding: 10px 5px 10px 20px;
                background-color: $gray-dark;
                border: 0;
                height: 250px;

                .title {
                    font-weight: 600;
                    padding: 10px 0;

                    &.send-to-customer {
                        padding: 20px 0;


                        label {
                            font-style: italic;
                            font-weight: 500;
                            font-size: 15px;
                        }

                        input {
                            margin: 0 10px 0 0;
                        }
                    }
                }



                ul {
                    border: 0;
                    height: 190px;

                    .cell {
                        background-color: $gray-dark;
                        border-bottom: 1px solid $base-dark;
                        padding: 0 5px;
                        margin-right: 20px;

                        label {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }

            &.position-lists {

                [class*="col-"], ul.striped, .middle, .selected-list-wrap {
                    height: 300px;
                }
            }
        }
    }



    .steps-indicator {
        margin-bottom: 40px;
        text-align: center;
        padding: 20px 140px;

        &.steps-5 li {
            width: calc(50% / 5);
        }

        li {
            float: none;
            display: inline-table;
            text-align: center;
            line-height: 23px;
            padding-top: 0;

            a {
                color: $base-dark;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                background-color: $gray;
                -moz-transition: 0.25s;
                -o-transition: 0.25s;
                -webkit-transition: 0.25s;
                transition: 0.25s;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                opacity: 0.5;

                &:before {
                    display: none;
                }
            }

            &.current, &.editing {
                a {
                    color: $default;
                    background-color: $primary;
                    opacity: 1;
                }
            }

            &.done {
                a {
                    opacity: 1;
                    background-color: $gray-dark;
                }
            }
        }

        &:before {
            display: none;
        }
    }
}
