.pdf-container {
  overflow-x: scroll;
}

.pdf-controls {
  margin: auto 0;
  margin-bottom: 10px;
}
.pdf-controls .pdf-buttons {
  margin: auto 0;
  text-align: center;
}
.pdf-controls .pdf-page {
  margin: auto 0;
  text-align: center;
}
.pdf-controls .pdf-page input {
  width: 50px;
}

/*# sourceMappingURL=pdf-view.css.map */
