﻿.pdf-container {
    overflow-x: scroll;
}

.pdf-controls {
    margin: auto 0;
    margin-bottom: 10px;

    .pdf-buttons {
        margin: auto 0;
        text-align: center;
    }

    .pdf-page {
        margin: auto 0;
        text-align: center;

        input {
            width: 50px;
        }
    }

}
