﻿<div>
    <div class="notification-header">
        <div class="row head">
            <div class="col-md-12 padding-left padding-right">
                <div ng-if="!hideTitle">
                    <p class="pull-left">ACTIVITY</p>
                    <div class="clearfix"></div>
                </div>
                <div class="row filter text-center">
                    <div class="col-xs-{{showAllColumn?'4':'6'}}">
                        <a href="javascript:void(0);" ng-click="actFilter = 'todo'" ng-class="{'active':actFilter == 'todo'}">
                            To-Do <span class="numberCircle bg-warning text-white" ng-if="todoCounts">{{todoCounts > 99 ? '99+' : todoCounts}}</span>
                        </a>
                    </div>
                    <div class="col-xs-{{showAllColumn?'4':'6'}}">
                        <a href="javascript:void(0)" ng-click="actFilter = 'message'" ng-class="{'active':actFilter == 'message'}">
                            Messages <span class="numberCircle bg-warning text-white" ng-if="messageCounts">{{messageCounts > 99 ? '99+' : messageCounts}}</span>
                        </a>
                    </div>
                    <div ng-if="showAllColumn" class="col-xs-{{showAllColumn?'4':'6'}}">
                        <a href="javascript:void(0)" ng-click="actFilter = 'all'" ng-class="{'active' :actFilter == 'all'}">
                            All <span class="numberCircle bg-warning text-white" ng-if="allCounts">{{allCounts > 99 ? '99+' : allCounts}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- notification-header -->
    <div class="notification-content">
        <div ng-show="actFilter == 'message'" ng-include="noteTemplateUrl"></div>
        <div ng-show="actFilter == 'todo'" ng-include="todoTemplateUrl"></div>

        <!-- default showAllColumn = false -->
        <div ng-show="actFilter == 'all'" ng-include="allTemplateUrl" ng-if="showAllColumn" ></div>
    </div>
</div>