﻿<div class="all-items-list">
    <div ng-repeat="item in allItems | orderBy:'-CreateDate'">
        <div ng-if="item.Type && item.Type != 'ToDo'" ng-include="noteItemTemplate"></div>
        <div ng-if="!item.Type" ng-include="todoItemTemplate"></div>
    </div>
    <div class="text-center padding margin" ng-if="!allItems.length">
        <p>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-light-gray"></i>
                <i class="fa fa-to-do fa-stack-1x text-muted"></i>
            </span>
        </p>
        <p>
            <em class="text-muted">You have no open To-Dos or Notifications</em>
        </p>
    </div>
</div>