﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        NEW ATTENDANCE ENTRY
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>

</div>

<div class="sep-boxscore-modal-body">
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <form name="attendanceForm" class="entry-form">
        <div class="pull-left col-xs-12 col-md-5 field-wrap no-padding">
            <label for="dateOfOccurrencelate" class="text-warning padding-bottom-5">Date of Occurrence </label>
            <sbm-date-picker id="dateOfOccurrencelate"
                             name="dateOfOccurrencelate"
                             max-date="vm.maxDate"
                             data-ng-model="vm.attendance.DateOfOccurrence"
                             placeholder="Pick a date"
                             is-required="true"></sbm-date-picker>
        </div>
        <div class="clearfix"></div>
        <div class="field-wrap fieldwrap-margin no-margin">
            <label class="text-warning padding-bottom-5">Type</label>
            <div class="btn-group success-btns attendance-form-picker" data-toggle="buttons">
                <label class="btn btn-default issuetype-btn" data-ng-click="vm.setIssueType(0)" data-ng-class="{'active' : vm.isLate}">
                    <input type="radio" name="late" autocomplete="off" checked=""> Arrived Late
                </label>
                <label class="btn btn-default issuetype-btn" data-ng-click="vm.setIssueType(1)" data-ng-class="{'active' : vm.isLeft}">
                    <input type="radio" name="left" autocomplete="off"> Left Early
                </label>
                <labl class="btn btn-default issuetype-btn" data-ng-click="vm.setIssueType(2)" data-ng-class="{'active' : vm.isAbsent}">
                    <input type="radio" name="absent" autocomplete="off"> Absent
                </labl>
            </div>
        </div>

        <div class="clearfix"></div>
        <div id="late" data-ng-if="vm.issueFlag == 0" class="attendance-form late ">
            <div class="row">
                <div class="col-xs-12 col-md-6 field-wrap margin-bottom-0">
                    <label for="" class="text-warning">Time Arrived</label>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-time">
                            <div uib-timepicker ng-model="vm.time" hour-step="1" minute-step="1" show-meridian="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="left" data-ng-if="vm.issueFlag == 1" class="attendance-form ">
            <div class="row">
                <div class="col-xs-12 col-md-6 field-wrap margin-bottom-0">
                    <label for="" class="text-warning">Time Left</label>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-time">
                            <div uib-timepicker ng-model="vm.time" hour-step="1" minute-step="1" show-meridian="true"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="absent" data-ng-if="vm.issueFlag == 2" class="attendance-form absent">
            <div class="field-wrap fieldwrap-margin">
                <label class="text-warning">Reason</label>
                <div class="btn-group success-btns" data-toggle="buttons">
                    <label class="btn btn-default issuetype-btn" data-ng-repeat="reason in vm.attendanceIssueTypes[vm.issueFlag].Reasons" data-ng-class="{'active' : vm.attendance.ReasonName == reason.Name && vm.issueFlag == (vm.editIssueType-1)}" data-ng-click="vm.setReason($index,vm.issueFlag)">
                        <input type="radio" data-ng-model="vm.selected" autocomplete="off"> {{reason.Name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="field-wrap margin-l-0-r-5">
            <label class="label-font padding-bottom-5 text-warning">Description</label>
            <textarea name="" id="" cols="30" rows="10" class="basic-input" placeholder="Enter Description Here" ng-model="vm.attendance.Comment" required="true"></textarea>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="align-btns padding-r-5 pull-right">
            <a href="javascript:void(0);" class="btn btn-grey" ng-click="vm.close($event)">CANCEL</a>
            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.attendanceForm.$invalid" ng-click="vm.save($event)">SUBMIT</a>
        </div>
        <div class="clearfix"></div>
    </form>
</div>