﻿<div class="complaint">

    <div class="col-md-12">
        <h1>{{vm.ownership.IsCritical ? 'Critical' : 'Non-Critical'}}</h1>

        <div class="row complaint-repoter">
            <div class="col-md-8">
                <p class="repoter-name">Create Date: {{::vm.ownership.CreateDate | date: mediumDate}}</p>
                <p class="sm" data-ng-if="vm.ownership.ProgramReportType">
                    Program Name: <span class="emp-program">
                        {{vm.ownership.ProgramReportType.ProgramName}}
                    </span> <span class="emp-program">{{vm.ownership.ProgramReportType.ReportType.Name}}</span>
                </p>
               
            </div><!-- COL8 -->
            <div class="col-md-4 complaint-loaction">
                <b>LOCATION </b>
                <p class="sm move-inline"> {{vm.ownership.BuildingName}}, {{vm.ownership.FloorName}}</p>
            </div>
        </div><!-- ROW -->
        <div class="row classification">
            <div class="col-md-12">
                <p class="sm top-margin" data-ng-if="vm.ownership.Classifications.length > 0">
                    <i>
                        Classification:
                        <span data-ng-repeat="classification in vm.ownership.Classifications">
                             {{classification.Name}}{{$last ? '' : ' ,'}}
                        </span>
                        
                    </i>
                </p>
                <p class="sm" data-ng-if="vm.ownership.CustomerRepresentatives.length > 0">
                    <i>
                        Customer Representatives:
                        <span data-ng-repeat="rep in vm.ownership.CustomerRepresentatives">
                            {{rep.Name}}{{$last ? '' : ' ,'}}
                        </span>

                    </i>
                </p>
            </div>
        </div>
        <div class="note-well">
            <h5 class="warning-text">Description</h5>
            <p class="wrap">{{::vm.ownership.Description}}</p>
        </div><!-- note-well -->
       
        <div class="clearfix"></div>

    </div><!-- COL12 -->


</div>