﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        NEW SAFETY ENTRY
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>
</div>

<div class="sep-boxscore-modal-body">
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <form name="safetyForm" class="entry-form">
        <div class="col-md-12 col-xs-12 field-wrap no-padding">
            <label for="dateOfIncident" class="text-warning padding-bottom-5">Date</label>
            <sbm-date-picker id="dateOfIncident"
                name="dateOfIncident"
                max-date="vm.maxDate"
                data-ng-model="vm.safety.DateOfIncident"
                placeholder="Pick a date"
                is-required="true"></sbm-date-picker>
        </div>
        <div class="clearfix"></div>
        <div class="field-wrap">
            <label class="padding-bottom-5 text-warning">Classification? (Select all that apply)<span class="required-sign">*</span></label>
            <div class="success-btns attendance-form-picker" data-toggle="buttons">
                <label class="btn btn-default issuetype-btn margin-rb-5" ng-repeat="type in vm.incidentTypes" ng-class="{'active' : vm.isIncidentSelected(type.IncidentTypeId) }" ng-click="vm.toggleIncidentType(type.IncidentTypeId)">
                    <input type="checkbox" name="late" autocomplete="off">{{type.Code | translate}}
                </label>
            </div>
        </div>
        <div class="filed-wrap">
            <label for="" class="padding-bottom-5 text-warning">Details</label>
            <textarea ng-model="vm.safety.Detail" class="basic-input" name="" id="" cols="30" rows="10" style="min-height: 100px;" placeholder="Enter description details"></textarea>
        </div>
        <div class="col-xs-12 col-md-12 field-wrap no-padding">
            <label for="floor" class="text-warning">Attach an image</label><span class="optional-label text-muted">OPTIONAL</span>
            <div class="file-upload-wrap margin-top-0">
                <div class="file-upload" ngf-select ngf-change="vm.addFile($files, $event)">
                    <i class="fa fa-pictures"></i>
                    <p>Add a photo</p>
                </div>
                <div class="file-upload" data-ng-if="vm.safety.SafetyAttachments.length">
                    <i class="fa fa-file-o"></i>
                    <p>{{vm.attachmentName| limitTo: 5 }}{{ ::vm.attachmentName.length > 5?'..':''}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="align-btns padding-r-5 pull-right">
            <a href="javascript:void(0);" class="btn btn-grey" ng-click="vm.close($event)">CANCEL</a>
            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.safetyForm.$invalid || vm.safety.IncidentTypes.length == 0" ng-click="vm.save($event)">SUBMIT</a>
        </div>
        <div class="clearfix"></div>
    </form>
</div>