﻿<div class="row">
    <hr>
    <div class="col-md-6" ng-repeat="(key,option) in vm.kpiOptions" ng-if="$index % 2 == 0">
        <div ng-include="vm.auditItemTemplatePath"></div>
    </div><!-- COL6 -->
    <hr class="hide-desktop">

</div>
<div class="row">
    <hr>
    <div class="col-md-6" ng-repeat="(key,option) in vm.kpiOptions" ng-if="$index % 2 == 1">
        <div ng-include="vm.auditItemTemplatePath"></div>
    </div><!-- COL6 -->
    <hr class="hide-desktop">

</div>

<hr>

<div class="row">
    <div class="field-wrap col-md-12">
        <b class="text-primary margin-bottom">Overall Comment</b>
        <textarea class="basic-input" name="" id="" ng-model="vm.audit.Comment" data-ng-required="true"></textarea>
    </div>
</div>

<hr />

<div class="field-wrap">
    <label for="event-based" class="text-primary"><input id="event-based" type="checkbox" ng-model="vm.audit.IsEventBasedAudit" /> Event Based Audit</label>
</div>