﻿<div class="padding-right margin-b-20 mobile-padding pull-left col-md-6 col-sm-6 col-xs-12 find-emp">
    <input type="text" value="" ng-model="empFilter" class="form-control input-sm filter" data-ng-class="{'has-text':empFilter.length}" placeholder="Find Employee">
</div>
<div class="clearfix"></div>
<div class="scroll-content">
    <div class="emp-row " ng-repeat="emp in vm.employee | filter:empFilter" ng-if="empImg.EmployeeId == employee.OrgUserId">
        <div class="pull-left emp-profile-wgt">
            <div class="circle-img pull-left">
                <img ng-src="{{emp.ProfileImage || vm.defaultImg}}" />
            </div><!-- Circle-image -->
            <div class="row-details col-xs-12 col-sm-12 pull-left ">
                <p class="emp-name">{{::emp.Name}}</p>
                <p class="emp-title">{{::emp.JobDescription}}</p>
            </div><!-- emp-details -->
        </div><!-- pull-left -->
        <a href="javascript:void(0);" class="btn pull-right close-light btn-success mobile-icon" ng-click="vm.run(emp.EmployeeId)">
            <i class="fa-check desktop-hide"></i>
            <span class="mobile-hide text-uppercase run-style">{{vm.btnLabel | translate}}</span>
        </a>

        <div class="clearfix"></div>
    </div><!-- emp-row -->
</div>