﻿<div class="complaint-view">

    <div class="col-md-12">
        <h1>{{::vm.attendance.IssueTypeName}}</h1>

        <div class="row complaint-repoter">
            <div class="col-md-8">
                <p class="repoter-name">Date Of Occurrence: {{::vm.attendance.DateOfOccurrence | date: mediumDate}}</p>
                <p class="sm" ng-if="vm.attendance.ReasonName">Reason <span class="emp-program">{{::vm.attendance.ReasonName}}</span></p>
            </div><!-- COL8 -->
            <div class="col-md-4 complaint-loaction" ng-if="vm.attendance.IssueTypeId != 3">
                <b>Time</b>
                <p class="sm"> {{::vm.attendance.DateOfOccurrence | date: 'h:mm a'}}</p>
            </div><!-- Col4 -->
        </div><!-- ROW -->


        <div class="note-well">
            <h5 class="warning-text">Comments</h5>
            <p>{{::vm.attendance.Comment}}</p>
        </div><!-- note-well -->

        <div class="clearfix"></div>

    </div><!-- COL12 -->


</div>