﻿<div class="pull-right">
    <a href="javascript:void(0)" class="btn btn-default" ng-click="vm.close()">Cancel</a>
    <button data-ng-disabled="vm.profAuditForm.$invalid" ng-click="vm.save($event)" class="btn btn-primary">Submit</button>
</div>