﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        ENTER A NEW COMPLAINT
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>
</div>
<div class="sep-boxscore-modal-body">
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <form name="complaintsNewForm" class="entry-form">



        
            <div class="col-md-12 col-sm-12 col-xs-12 field-wrap no-padding">
                <label class="text-warning padding-bottom-5" for="description">Description</label>
                <span class="required">*</span>
                <textarea id="description" name="description" class="form-control " placeholder="Enter Description here..." data-ng-required="true" data-ng-model="vm.complaint.Description"></textarea>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-left-0">
                <label class="text-warning padding-bottom-5" for="customerName">Customer Name</label>
                <span class="required">*</span>
                <input id="customerName" name="customerName" type="text" class="form-control " data-ng-required="true"
                       data-ng-model="vm.complaint.CustomerName" />

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-right-0">
                <label class="text-warning padding-bottom-5" for="classificationId">Classification</label>
                <span class="required" data-ng-if="vm.complaint.CompletedDate">*</span>
                <select id="classificationId" name="classificationId" class="form-control " data-ng-model="vm.complaint.ClassificationId" data-ng-required="true"
                        data-ng-options="classification.Key*1 as classification.Value for classification in vm.options.classifications">
                    <option value="">- Select One -</option>
                </select>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-left-0">
                <label class="text-warning padding-bottom-5" for="feedbackDate">Date</label>
                <span class="required">*</span>
                <sbm-date-picker id="feedbackDate"
                                 data-ng-model="vm.complaint.FeedbackDate"
                                 max-date="vm.maxDate"
                                 is-required="true" data-ng-if="vm.complaintId == 0"></sbm-date-picker>
                <div id="feedbackDate" name="feedbackDate" type="text" class="form-control" data-ng-required="true"
                     data-ng-model="vm.complaint.FeedbackDate" data-ng-if="vm.complaintId > 0" readonly>{{vm.complaint.FeedbackDate | date : 'MM/dd/yyyy' }}</div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-right-0">
                <label class="text-warning padding-bottom-5" for="complaintTypeId">Type</label>
                <span class="required">*</span>
                <select id="complaintTypeId" name="complaintTypeId" class="form-control " data-ng-required="true" data-ng-model="vm.complaint.ComplaintTypeId"
                        data-ng-options="complaintType.Key*1 as complaintType.Value for complaintType in vm.options.complaintTypes">
                    <option value="">- Select One -</option>
                </select>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-left-0">
                <label class="text-warning padding-bottom-5" for="buildingId">Building</label>
                <span class="required">*</span>
                <select id="buildingId" name="buildingId" class="form-control " data-ng-required="true" data-ng-model="vm.complaint.BuildingId"
                        data-ng-options="building.Key*1 as building.Value for building in vm.options.buildings"
                        data-ng-change="vm.onBuildingChange(vm.complaint.BuildingId)">
                    <option value="">- Select One -</option>
                </select>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-right-0">
                <label class="text-warning padding-bottom-5" for="floorId">Floor</label>
                <select id="floorId" name="floor" class="form-control " data-ng-disabled="!vm.options.buildings.length || !vm.options.floors.length" data-ng-model="vm.complaint.FloorId"
                        data-ng-options="floor.Key*1 as floor.Value for floor in vm.options.floors">
                    <option value=""></option>
                </select>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-left-0">

                <label class="text-warning padding-bottom-5" for="isRepeatComplaint">Repeat</label>
                <span class="required">*</span>
                <select id="isRepeatComplaint" name="isRepeatComplaint" class="form-control " required
                        data-ng-model="vm.complaint.IsRepeatComplaint" ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]"></select>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-right-0">

                <label class="text-warning padding-bottom-5" for="customerPhoneNumber">Phone Number</label>
                <input id="customerPhoneNumber" name="customerPhoneNumber" type="text" class="form-control "
                       data-ng-model="vm.complaint.CustomerPhoneNumber" data-ng-maxlength="25" />
                <div data-ng-show="complaintForm.customerPhoneNumber.$error.maxlength" class="error">Phone number cannot be longer than 25 characters</div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 field-wrap no-padding">

                <label class="text-warning padding-bottom-5" for="note">Notes</label>
                <textarea id="note" name="note" cols="30" rows="10" class="basic-input" placeholder="Enter Notes here..." data-ng-model="vm.complaint.Note"></textarea>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 field-wrap no-padding">
                <button class="pull-right btn-close-complaint" ng-click="vm.closeComplaint()">YES</button>
                <label class="text-warning pull-right padding-right-10 close-complaint-title" for="note">Close Complaint Now?</label>
            </div>


       <div class="clearfix"></div>
        <hr />
        <div class="align-btns padding-r-5 pull-right">
            <a href="javascript:void(0);" class="btn btn-grey" ng-click="vm.close($event)">CANCEL</a>
            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.complaintsNewForm.$invalid" ng-click="vm.save($event)">SUBMIT</a>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
