﻿<div>
    <div class="row">
        <two-column-content>
            <two-column-body style="border:none">
                <two-column-left class="com-wrapper no-padding-top" style="width:100%">
                    <h2 class="text-primary">Professionalism Audit for {{::vm.audit.Employee.Name}}</h2>
                    <div class="row reporter">
                        <div class="col-md-8">
                            <p class="sm reporter-name">
                                <b>By {{::vm.audit.CreateBy}}</b> <strong><em>Audited on: {{::vm.audit.CreateDate|date:'MMMM dd yyyy'}}</em></strong>
                            </p>
                        </div>
                    </div>

                    <div class="row padding-top">
                        <div class="col-md-12">
                            <h4 class="text-muted">Audited By:</h4>
                            <ul class="list-unstyled basic-list">
                                <li ng-repeat="(key, val) in vm.audit.items track by $index">
                                    <strong class="text-primary text-capitalize">{{key}}</strong>
                                    <span class="pull-right">
                                        <em ng-class="val?'text-success':'text-danger'">{{val?'Passed':'Failed'}}</em>
                                    </span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-4">
                            <h4>&nbsp;</h4>
                            <div class="">
                                <strong class="text-uppercase"><small>OVERALL AUDIT RESULT</small></strong>
                                <br />
                                <h4 class="no-margin-top" ng-class="vm.audit.IsPass?'text-success':'text-danger'">{{vm.audit.IsPass?'Passed':'Failed'}} Audit</h4>
                            </div>
                            <div class="padding-top margin-top">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x " ng-class="vm.audit.IsPass?'text-success':'text-danger'"></i>
                                    <i class="fa fa-professionalism fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="note-well">
                        <h5 class="text-warning">Overall Comment</h5>
                        <p>{{::vm.audit.Comment}}</p>
                    </div>

                </two-column-left>
            </two-column-body>
        </two-column-content>

    </div><!-- ROW -->
</div>
