﻿<div class="clearfix"></div>
<b class="text-warning">{{option.Name}}</b>

<div class="clearfix"></div>

<div class="audit-field">
    <div class="pull-left">
        <p class="audit-text">{{option.Description}}</p>
    </div><!-- LEFT -->

    <div class="pull-right eva-btns">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn eva-btn eva-fail" data-ng-click="option.IsPass = false" ng-class="{'active':option.IsPass == false}">
                <input type="radio" name="eva" id="option.IsPass0" ng-model="option.IsPass" ng-class="{'active':option.IsPass == true}">
                <i class="fa-exclamation"></i>
            </label>
            <label class="btn eva-btn eva-pass active" data-ng-click="option.IsPass = true">
                <input type="radio" name="eva" id="option.IsPass1" ng-model="option.IsPass" checked="">
                <i class="fa-check"></i>
            </label>
        </div><!-- btn-group -->
    </div><!-- eva-btns -->

    <div class="clearfix"></div>

    <!--<div class="danger-btns fail-btns" data-toggle="buttons" data-ng-class="{'show':option.IsPass === false}">
        <b>Select all that apply:</b><br>
        <label class="btn btn-block btn-default"
               ng-class="{'active':vm.audit.CheckBoxSelections.indexOf(item.KpiSubOptionId) >= 0}" 
               ng-repeat="item in option" ng-click="vm.toggleCheckBox(vm.audit,item.KpiSubOptionId)">
            <input type="checkbox" name="{{key+$index}}" id="{{key+$index}}" ng-model="vm.audit.CheckBoxSelections" value="{{item.KpiSubOptionId}}"> {{item.Name}}
        </label>
    </div>-->
</div><!-- audit-field -->