﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        CLOSE COMPLAINT
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>
</div>
<div class="sep-boxscore-modal-body">
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <form name="complaintsCloseForm" class="entry-form">




            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-left-0">
                <label class="text-warning padding-bottom-5" for="completedDate">Completed Date</label>
                <sbm-date-picker id="completedDate"
                                 data-ng-model="vm.complaint.CompletedDate"
                                 min-date="vm.complaint.FeedbackDate"
                                 max-date="vm.maxDate"
                                 is-required="false"></sbm-date-picker>

                <span data-ng-show="complaintForm.completedDate.$error.valDateGreaterThan" class="error">
                    Completed date cannot be before the complaint date
                </span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 field-wrap padding-right-0">
                <label class="text-warning padding-bottom-5" for="preventableStatusId">Preventable Status</label>
                <span class="required" data-ng-if="vm.complaint.CompletedDate">*</span>
                <select id="preventableStatusId" name="preventableStatusId" class="form-control " data-ng-model="vm.complaint.PreventableStatusId" data-ng-required="vm.complaint.CompletedDate"
                        data-ng-options="status.Key*1 as status.Value for status in vm.options.preventableStatuses">
                    <option value="">Select One</option>
                </select>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 field-wrap no-padding">

                <label class="text-warning padding-bottom-5" for="action">Actions Taken</label>
                <span class="required" data-ng-if="vm.complaint.CompletedDate">*</span>
                <textarea id="action" name="action" class="basic-input" placeholder="Enter Description here..."
                          data-ng-model="vm.complaint.Action" data-ng-required="vm.complaint.CompletedDate"></textarea>

            </div>

        <div class="clearfix"></div>
        <hr />
        <div class="align-btns padding-r-5 pull-right">
            <a href="javascript:void(0);" class="btn btn-grey" ng-click="vm.close($event)">CANCEL</a>
            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.complaintsCloseForm.$invalid" ng-click="vm.updateComplaint($event)">DONE</a>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
