﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        NEW REPORT IT ENTRY
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>
</div>

<div class="sep-boxscore-modal-body">
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <form name="ownershipForm" class="entry-form">
        <div class="col-md-12 col-xs-12 field-wrap no-padding">
                <label class="text-warning padding-bottom-5">Description<span class="required-sign">*</span></label>
                <textarea name="" id="" class="basic-input" placeholder="Enter description details" ng-model="vm.Ownership.Description" data-ng-required="true"></textarea>
        </div>
        <div class="col-xs-12 col-md-12 field-wrap no-padding">
            <label for="floor" class="text-warning padding-bottom-5">Building<span class="required-sign">*</span> </label>
            <select class="form-control" name="buildingId"
                    data-ng-model="vm.Ownership.BuildingId"
                    data-ng-options="building.Key*1 as building.Value for building in vm.buildings"
                    data-ng-change="vm.onBuildingChange(vm.Ownership.BuildingId)" data-ng-required="true">
                <option value="">- Select A Building -</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-12 field-wrap no-padding">
            <label for="floor" class="text-warning padding-bottom-5">Floor<span class="required-sign">*</span> </label>
            <select name="floorId" class="form-control" data-ng-model="vm.Ownership.FloorId"
                    data-ng-options="floor.Key as floor.Value for floor in vm.floors" data-ng-required="true" data-ng-disabled="vm.floors.length == 0">
                <option value="">- Select A Floor -</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-12 field-wrap no-padding">
            <label for="floor" class="text-warning">Attach an image</label><span class="optional-label text-muted">OPTIONAL</span>
            <div class="file-upload-wrap margin-top-0">
                <div class="file-upload" ngf-select ngf-change="vm.addFile($files, $event)">
                    <i class="fa fa-pictures"></i>
                    <p>Add a photo</p>
                </div>
                <div class="file-upload" data-ng-if="vm.Ownership.OwnershipAttachments.length">
                    <i class="fa fa-file-o"></i>
                    <p>{{vm.AttachmentName| limitTo: 5 }}{{ ::vm.AttachmentName.length > 5?'..':''}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="align-btns padding-r-5 pull-right">
            <a href="javascript:void(0);" class="btn btn-grey" ng-click="vm.close($event)">CANCEL</a>
            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.ownershipForm.$invalid" ng-click="vm.save($event)">SAVE</a>
        </div>
        <div class="clearfix"></div>
    </form>
    
</div>
