﻿<div class="complaint-view">

    <div class="col-md-12">

        <div class="margin-bottom ">
            <div>
                <h1 data-ng-repeat="incidentType in vm.safety.IncidentTypes" class="Conudct-Type">{{incidentType.Name}}{{$last ? '' : ($index==incidentType.Name.length-2) ? ', and ' : ' ,&nbsp;'}}</h1>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row complaint-repoter">
            <div class="col-md-8">
                <p class="repoter-name">Date Of Incident: {{::vm.safety.DateOfIncident | date: mediumDate}}</p>
            </div><!-- COL8 -->
        </div><!-- ROW -->


        <div class="note-well">
            <h5 class="warning-text">Details of Incident</h5>
            <p>{{::vm.safety.Detail}}</p>
        </div><!-- note-well -->
        <div class="pull-left">
            <h5 class="warning-text" data-ng-if="vm.safety.SafetyAttachments[0]">Attachment</h5>
            <a data-ng-if="vm.safety.SafetyAttachments[0] && vm.safety.SafetyAttachments[0].SafetytAttachmentType != 'Image'"
               class="pull-left download-attachement img-thumbnail btn btn-block text-center" style="padding: 10px 0;"
               href="{{vm.downloadUrl}}"
               download="true" title="Click to download file">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-file-o fa-stack-1x"></i>
                    <i class="fa fa-download fa-stack-1x"></i>

                </span>
                <p>(click to download)</p>
            </a>
            <cf-image ng-if="vm.safety.SafetyAttachments[0].SafetyAttachmentType == 'Image'" public-id="{{ vm.safety.SafetyAttachments[0].UniqueId }}" width="290" fullscreen="false" class="img-thumbnail"></cf-image>
        </div>
        <div class="clearfix"></div>

    </div><!-- COL12 -->


</div>
