﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        NEW PROFESSIONALISM ENTRY
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>

</div>
<div class="sep-boxscore-modal-body">
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <form name="auditForm" class="entry-form">
        <div class="row">
            <div class="col-md-6" ng-repeat="(key,option) in vm.kpiOptions" ng-if="$index % 2 == 0">
                <div ng-include="vm.auditItemTemplatePath"></div>
            </div><!-- COL6 -->
            <hr class="hide-desktop">

        </div>
        <div class="row">
            <div class="col-md-6" ng-repeat="(key,option) in vm.kpiOptions" ng-if="$index % 2 == 1">
                <div ng-include="vm.auditItemTemplatePath"></div>
            </div><!-- COL6 -->
            <hr class="hide-desktop">

        </div>

        <div class="row">
            <div class="field-wrap col-md-12">
                <b class="text-warning">Description<span class="required-sign">*</span></b>
                <textarea class="basic-input margin-top-10" name="" id="" ng-model="vm.audit.Comment" data-ng-required="true"></textarea>
            </div>
        </div>

        <div class="field-wrap margin-bottom-25">
            <b class="text-warning margin-bottom">Is this an event based audit?</b>
            <div class="align-btns padding-r-5 margin-top-10" data-toggle="buttons">
                <label class="btn btn-default issuetype-btn margin-rb-5" data-ng-class="{'active' : vm.isEventBased == true}" ng-click="vm.setEventBased(1)">
                    <input type="radio" name="yes" autocomplete="off">YES
                </label>
                <label class="btn btn-default issuetype-btn margin-rb-5" data-ng-class="{'active' : vm.isEventBased == false}" ng-click="vm.setEventBased(0)">
                    <input type="radio" name="no" autocomplete="off" checked="">NO
                </label>
            </div>
        </div>

        <div class="align-btns padding-r-5 pull-right">
            <a href="javascript:void(0);" class="btn btn-grey" ng-click="vm.close($event)">CANCEL</a>
            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.auditForm.$invalid" ng-click="vm.save($event)">SAVE</a>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
