﻿<div class="sep-boxscore-modal-header">
    <h3 class="modal-title">
        NEW CONDUCT ENTRY
    </h3>
    <div class="close-btn" ng-click="vm.close()">
        <i class="fa-close"></i>
    </div>

</div>
<div class="sep-boxscore-modal-body">
    <div class="row padding-15">
        <div class="col-md-12 padding-20">
            <div class="circle-img pull-left ">
                <img ng-src="{{vm.employee.ProfileImage || vm.sitesettings.defaultProfileImage}}" alt="">
            </div>
            <div class="padding-left margin-left pull-left">
                <h4 class="text-primary margin-bottom-5">{{vm.employee.Name}}</h4>
                <span class="text-muted job">{{vm.employee.JobDescription}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <form name="conductForm" class="entry-form">
        <div class="col-md-12 col-xs-12 field-wrap no-padding">
            <label for="dateOfOccurrencelate" class="text-warning padding-bottom-5">Date of Occurrence </label>
            <sbm-date-picker id="dateOfOccurrencelate"
                             name="dateOfOccurrencelate"
                             max-date="vm.maxDate"
                             data-ng-model="vm.conduct.DateOfOccurrence"
                             placeholder="Pick a date"
                             is-required="true"></sbm-date-picker>
        </div>
        <div class="col-md-12 col-xs-12 field-wrap no-padding">
            <label class="padding-bottom-5 text-warning">Type</label>
            <div class="success-btns attendance-form-picker" data-toggle="buttons">
                <label class="btn btn-default issuetype-btn margin-rb-5" ng-repeat="type in vm.conductTypes" data-ng-class="{'active' : type.IsSelected == true}" ng-click="vm.setConductType(type.ConductTypeId)">
                    <input type="checkbox" name="late" autocomplete="off">{{type.Name}}
                </label>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 field-wrap no-padding">
            <label class="text-warning padding-bottom-5">Reason for Warning/Notice:<span class="required-sign">*</span></label>
            <textarea name="" id="" cols="30" rows="10" class="basic-input" placeholder="Enter Description Here" ng-model="vm.conduct.Reason" required="true"></textarea>
        </div>
        <div class="col-md-12 col-xs-12 field-wrap no-padding">
            <label for="floor" class="text-warning">Upload File</label><span class="optional-label text-muted">OPTIONAL</span>
            <div class="file-upload-wrap margin-top-0">
                <div class="file-upload" ngf-select ngf-change="vm.addFile($files, $event)">
                    <i class="fa fa-upload2"></i>
                    <p>Upload File</p>
                </div>
                <div class="file-upload" data-ng-if="vm.conduct.ConductAttachments.length">
                    <i class="fa fa-file-o"></i>
                    <p>{{vm.attachmentName| limitTo: 5 }}{{ ::vm.attachmentName.length > 5?'..':''}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="align-btns padding-r-5 pull-right">
            <a href="javascript:void(0);" class="btn btn-grey" ng-click="vm.close($event)">CANCEL</a>
            <a href="javascript:void(0);" class="btn btn-black" data-ng-disabled="this.conductForm.$invalid" ng-click="vm.save($event)">SUBMIT</a>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
