﻿@model ChaiTea.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Log in";
}

@section styles{
    @Html.Partial("~/Views/Shared/_ExternalProdOnlyScripts.cshtml")
}

<div class="row">
    <div class="col-lg-3 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")" class="brand">
                    insite
                </a>
                <div class="text-muted"><small>revTwo</small><small id="env" class="hide"></small></div>
            </div>
            <div id="login">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control forgot-pw-textbox", placeholder = @Html.DisplayNameFor(m => m.Email) })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-action">
                        <input type="submit" value="Submit" class="btn btn-block btn-dark btn-submit-forgot-pw btn-lg" />
                    </div>
                    <div class="forgot-pw">
                        <a href="@Url.Content("~/Account/Login")" id="goToLogin" class="">Go To Login</a>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </section>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            var isUat = location.host.indexOf('r2uat') >= 0;
            var isDev = location.host.indexOf('sbmdev') >= 0;
            if (isUat || isDev) {
                $('#env').text(isDev ? ' | DEV' : ' | UAT').removeClass('hide');
            }

    </script>
}