﻿
@section styles{
    @Html.Partial("~/Views/Shared/_ExternalProdOnlyScripts.cshtml")
}

<div class="row">
    <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")">
                    <img alt="SBM Insite" src="@Url.Content("~/Content/img/insite-logo.png")" width="177" height="56" class="img-responsive" />
                </a>
                <div class="text-muted"><small>revTwo</small><small id="env" class="hide"></small></div>
            </div>
            <div>A link to reset password is sent to your email</div>
        </section>

    </div>

</div>
