﻿@model ChaiTea.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@section styles{
@Html.Partial("~/Views/Shared/_ExternalProdOnlyScripts.cshtml")
    }

<div class="row">
    <div class="col-lg-3 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")" class="brand">
                    insite
                </a>
                <div class="text-muted"><small>revTwo</small><small id="env" class="hide"></small></div>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-action">
                    <input type="submit" value="Sign In" class="btn btn-block btn-dark btn-lg" />
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <div class="forgot-pw">
                    <a href="@Url.Content("~/Account/ForgotPassword")" id="forgotPassword" class="">Forgot Password?</a>
                </div>

            }

            <div class="clearfix"></div>
            <p class="text-center margin-top-30">
                <a href="javascript:void(0);" onclick="window.open('@("https://" + ViewBag.AwsConfig.Cdn + "/file/insite-eula.htm")','eula','width=250,height:350')">
                    <small>By signing in you agree to all the terms under our EULA</small>
                </a>
            </p>
        </section>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            var isUat = location.host.indexOf('r2uat') >= 0;
            var isDev = location.host.indexOf('sbmdev') >= 0;
            if (isUat || isDev) {
                $('#env').text(isDev ? ' | DEV' : ' | UAT').removeClass('hide');
            }
            $('input[type=submit]').click(function ($e) {
                
                var emailAddress = $('input#Email').val();
                mixpanel.track("Login", { Email: emailAddress });

            });

    </script>
}