﻿@model ChaiTea.Web.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Log in";
    var userId = Model.UserId;
    var code = Model.Code;
}

@section styles{
    @Html.Partial("~/Views/Shared/_ExternalProdOnlyScripts.cshtml")
}

<div class="row">
    <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 panel panel-default login-panel">

        <section id="loginForm">
            <div class="logo-wrap">
                <a href="@Url.Content("~")">
                    <img alt="SBM Insite" src="@Url.Content("~/Content/img/insite-logo.png")" width="177" height="56" class="img-responsive" />
                </a>
                <div class="text-muted"><small>revTwo</small><small id="env" class="hide"></small></div>
            </div>
            <div class="reset-password">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control password", placeholder = @Html.DisplayNameFor(m => m.Password) })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control confirm-pw", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(m => m.Code, new { Value = @code })
                    @Html.HiddenFor(m => m.UserId, new { Value =@userId })
                    <div class="form-action">
                        <input type="submit" value="Reset Password" class="btn btn-block btn-dark btn-submit-forgot-pw btn-lg" />
                    </div>
                }
            </div>
        </section>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            var isUat = location.host.indexOf('r2uat') >= 0;
            var isDev = location.host.indexOf('sbmdev') >= 0;
            if (isUat || isDev) {
                $('#env').text(isDev ? ' | DEV' : ' | UAT').removeClass('hide');
            }

    </script>
}