﻿
<div class="complaint">
    <h1>{{vm.complaint.Description}}</h1>

    <div class="row complaint-repoter">
        <div class="col-md-8">
            <p class="repoter-name"><b>By {{vm.complaint.CreateUserName}}</b> Complaint Filed On: {{vm.complaint.FeedbackDate | date: mediumDate}}</p>
            <p class="sm">Complaint related to: <span class="emp-program">{{vm.complaint.ProgramName}}</span> <span class="emp-program">{{vm.complaint.ComplaintTypeName}}</span> </p>
        </div><!-- COL8 -->
        <div class="col-md-4 complaint-loaction">
            <b>LOCATION </b>
            <p class="sm"> {{vm.complaint.BuildingName}}, {{vm.floorName}}</p>
        </div><!-- Col4 -->
    </div><!-- ROW -->


    <div class="note-well">
        <h5 class="warning-text">Notes about the Problem:</h5>
        <p>{{vm.complaint.Note}}</p>
    </div><!-- note-well -->

    <ul class="list-item">
        <li>
            <p><b>Classification:</b> True Complaint (In Scope)</p>
        </li>
        <li>
            <p><b>Type:</b> {{vm.complaint.ClassificationName}}</p>
        </li>
        <li>
            <p><b>Preventable Status:</b> {{vm.complaint.PreventableStatusName}}</p>
        </li>
        <li>
            <p><b>Repeat:</b> {{vm.complaint.IsRepeatComplaint}}</p>
        </li>
        <li>
            <p><b>Actions Taken:</b> {{vm.complaint.Action}}</p>
        </li>
        <li>
            <p><b>Phone Number:</b> {{vm.complaint.Action}}</p>
        </li>
    </ul>
</div>