﻿@using Newtonsoft.Json
@model ChaiTea.Web.Areas.Financials.Models.InvoiceItemsVm
@{
    ViewBag.HideTitleBar = true;
    var programId = Model.ProgramId;
    var paidStatus = Model.PaidStatus;
}

<div class="financials billing details" data-ng-controller="BillingDetailsCtrl as vm" ng-init="vm.initialize(@programId, @JsonConvert.ToString(@paidStatus))">
    @* page header *@
    <page-header title="{{'Billing'|translate}}"
                 s3-icon-name="billing.svg"
                 info-text="">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
    </page-header>

    
    <div class="actions">
        @* tabs *@
        <div class="tabs pull-left">
            <ul class="nav nav-pills">
                <li><a href="@Url.Action("Index", "BillingOverview", new { Area = "Financials" })">{{'CHARTS' | translate}}</a></li>
                <li><a href="@Url.Action("Details", "BillingOverview", new { Area = "Financials"})?programId={{vm.userContext.Program.ID}}&paidStatus=null" class="active">{{'DETAILS' | translate}}</a></li>
            </ul>
        </div>
        @* actions *@
        <div class="pull-right">
            <a class="action hidden-sm hidden-xs pull-right" href="javascript:void(0);" ng-click="vm.export()">
                <i class="fa fa-download"></i><span>EXPORT</span>
            </a>
            <div class="action input-group pull-right" ng-if="vm.showSearch">
                <input type="text" value="" ng-model="vm.searchQuery" class="form-control" autofocus ng-blur="vm.onBlur()">
                <i class="fa fa-search2 icon-search"></i>
            </div>
            <a class="action hidden-sm hidden-xs pull-right" href="javascript:void(0);"  ng-if="!vm.showSearch" ng-click="vm.showSearch = true">
                <i class="fa fa-search2"></i><span>SEARCH</span>
            </a>

        </div>
        <div class="clearfix"></div>
    </div>

    @* content *@

    @* by program *@
    <div ng-if="vm.showByProgram">
        <div class="table-title">{{vm.programName}}</div>
        <div class="row table-header">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-uppercase">
               {{'INVOICE_NO' | translate}} 
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-uppercase">
                {{'INVOICE_DATE'| translate}}
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs text-uppercase">
                {{'DESCRIPTION' | translate}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-uppercase">
                {{'AMOUNT' | translate}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-uppercase">
                {{'PAID' | translate}}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="text-center empty-wrap" ng-if="!vm.invoiceItems.length">No data to display</div>
        <div class="row table-data" data-infinite-scroll="vm.getInvoiceItems()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
            <div class="itemrow invoice-list pointer" data-ng-repeat="item in vm.invoiceItems | filter:vm.search" ng-click="vm.ShowInvoiceDetailsModal(item.InvoiceId)">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <div>{{item.InvoiceNumber}}</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                    {{item.InvoiceDate  |  date : 'MM/dd/yy'}}
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">
                    <div>{{item.Description}}</div>
                    <div>{{'TAXABLE' | translate}}: {{item.IsTaxable ? 'YES' : 'NO'}}</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    {{item.Amount | currency}}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 bold danger" ng-class="{success : item.IsPaid}">
                    {{item.IsPaid ? 'Paid' : 'Unpaid'}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    @* paid or unpaid *@
    <div ng-if="!vm.showByProgram">
        <div class="table-title">{{vm.paidStatus}} {{'Invoices'}}</div>
        <div class="row table-header">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-uppercase">
                {{'INVOICE_NO'| translate}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-uppercase">
                {{'INVOICE_DATE'| translate}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 text-uppercase">
                {{'AMOUNT'| translate}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2  hidden-xs text-uppercase">
                {{'SERVICE_MONTH'| translate}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2  hidden-xs text-uppercase">
                {{'DUE DATE'| translate}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-uppercase">
                {{'PAID'| translate}}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="text-center empty-wrap" ng-if="!vm.invoiceItems.length">{{'NO_DATA'| translate}}</div>
        <div class="row table-data" data-infinite-scroll="vm.getInvoicesByType()" data-infinite-scroll-distance="0" data-infinite-scroll-disabled="vm.isBusy">
            <div class="itemrow invoice-list" data-ng-repeat="item in vm.invoiceItems | filter:vm.search">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    {{item.InvoiceNumber}}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                    {{item.InvoiceDate |  date : 'MM/dd/yy'}}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    <span>{{'Invoice Amount'| translate}}: </span><span>{{item.InvoiceAmount | currency}}</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2  hidden-xs">
                    {{item.MonthOfServiceDate |  date : 'MMM'}}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2  hidden-xs">
                    {{item.DueDate |  date : 'MM/dd/yy'}}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 bold danger" ng-class="{success : (item.OutstandingAmount == 0)}">
                    {{item.OutstandingAmount ==0 ? 'Paid' : 'Unpaid'}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>