﻿@{
    ViewBag.Title = "Billing Overview";
    ViewBag.HideTitleBar = true;
}


<div class="financials billing index" data-ng-controller="BillingOverviewIndexCtrl as vm">
    @* page header *@
    <page-header title="{{'Billing Overview'|translate}}"
                 s3-icon-name="billing.svg"
                 info-text="{{'See detailed billing descriptions and statistics for services. View billing by the programs your customers are subscribed in.' | translate}}">
        <date-range-picker button-class="btn btn-primary btn-sm"></date-range-picker>
    </page-header>

    
    <div class="actions">
        @* tabs *@
        <div class="tabs">
            <ul class="nav nav-pills">
                <li><a href="@Url.Action("Index", "BillingOverview", new { Area = "Financials" })"  class="active">{{'CHARTS' | translate}}</a></li>
                <li><a href="@Url.Action("Details", "BillingOverview", new { Area = "Financials"})?programId={{vm.userContext.Program.ID}}&paidStatus=null">{{'DETAILS' | translate}}</a></li>
            </ul>
        </div>
        <hr class="margin-0"/>
    </div>

    @* content *@
    <div class="row">
        
        <div class="col-md-12 page-content set-background-color">
            @* Monthly Trend  *@
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 panel panel-default">
                <div class="panel-header-txt">{{'Monthly Trend' | translate}} 
                            <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                    <hr />
                            <p class="last-updated-date">( {{'Last Updated' | translate}} - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                </div>
                <div class="col-md-12 text-center text-muted empty-message" data-ng-if="!vm.billingMonthlyBarChart">
                    {{'NO_DATA' | translate}}
                </div>
                <div class="charts_style charts-style-align" data-ng-if="vm.billingMonthlyBarChart">
                    <sbm-hc-column-chart id="bilingTrendsBarChart" billing-monthly-legend="true"  redraw-chart="true" show-by-program="vm.showBillingMonthlyTrendByProgram(categoryType)" data-ng-model="vm.chartsConfig.billingTrendsBarChart" ng-if="vm.chartsConfig.billingTrendsBarChart.series.length">
                    </sbm-hc-column-chart>
                </div>
                <div ng-if="vm.billingMonthlyBarChart">
                    <div class="billingMonthlyLegendSpot pointer" id="billingMonthlyLegendSpot"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            @* Monthly Trend by program  *@
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 panel panel-default" ng-if="vm.billingMonthlyBarChart">
                <div class="panel-header-txt">
                    {{vm.monthlyTrendByProgramChartTitle}}
                    <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                    <hr />
                    <p class="last-updated-date" ng-show="!vm.isMonthlyTrendGhostState">( {{'Last Updated' | translate}} - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                </div>
                <div class="col-md-12 text-center text-muted empty-message" ng-if="!vm.chartsConfig.billingTrendsbyProgramBarChart.series.length">{{'NO_DATA' | translate}}</div>
                <div class="charts_style charts-style-align">
                    <div class="billing-byprogram-monthly-trend-legend padding-left-0 visible-xs" ng-if="vm.isMonthlyTrendGhostState"><div class="ghost-text">{{'MOBILE_GHOST_TEXT_ALT' | translate}}</div></div>
                    <sbm-hc-column-chart id="bilingTrendsByProgramBarChart" skip-colors="2" column-colors="{{vm.isMonthlyTrendGhostState ? vm.ghostColor : ''}}" 
                                         billing-monthly-by-program-legend="!vm.isMonthlyTrendGhostState" redraw-chart="true" go-to-details="vm.goToDetailsView(programId)"
                                         data-ng-model="vm.chartsConfig.billingTrendsbyProgramBarChart" ng-if="vm.chartsConfig.billingTrendsbyProgramBarChart.series.length">
                    </sbm-hc-column-chart>
                    <div ng-if="!vm.isMonthlyTrendGhostState">
                        <div class="billing-byprogram-monthly-trend-legend pointer" id="billingMonthlyByProgramLegendSpot"></div>
                    </div>
                    
                    <div class="billing-byprogram-monthly-trend-legend padding-left-0 hidden-xs" ng-if="vm.isMonthlyTrendGhostState"><div class="ghost-text">{{'GHOST_TEXT_ALT' | translate}}</div></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            @* Billing by Program *@
            <div class="col-lg-12 col-md-12 col-sm-12 padding-0" ng-if="vm.showBillingByPrograms">
                <div class="panel panel-default chart-margins monthly-trend-char-align">
                    <div class="panel-header-txt mobile-padding-15">
                        {{'BILLABLE_BY_PROGRAM' | translate}}
                        <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                        <hr />
                        <p class="last-updated-date">( {{'Last Updated' | translate}} - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                    </div>
                    <div class="text-center text-muted empty-message" data-ng-if="!vm.chartsConfig.billingProgram.series.length">
                        {{'NO_DATA' | translate}}
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 padding-top-20">
                        <sbm-hc-pie-chart billable-legend="true" id="billingProgram" minwidth="0" height="300" go-to-details="vm.goToDetailsView(programId)"
                                            data-ng-model="vm.chartsConfig.billingProgram" ng-if="vm.chartsConfig.billingProgram.series.length">
                        </sbm-hc-pie-chart>
                    </div><!-- Data Point -->

                    <div class="col-md-6 col-lg-6 col-sm-12 margin-top-50" ng-if="vm.chartsConfig.billingProgram.series.length">
                        <div id="billableLegendSpot" class="mobile-padding-15"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            @* Billing by site *@
            <div class="col-lg-12 col-md-12 col-sm-12" ng-if="vm.showBillingBySite">
                <div class="panel panel-default chart-margins monthly-trend-char-align">
                    <div class="panel-header-txt">
                        {{'BILLING_BY_SITE' | translate}}
                        <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                        <hr />
                        <p class="last-updated-date">( {{'Last Updated' | translate}} - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                    </div>
                    <div class="text-center text-muted empty-message" data-ng-if="!vm.billingSite">
                        {{'NO_DATA' | translate}}
                    </div>
                    <div class="row billing-by-site-chart-wrap" data-ng-if="vm.billingSite">
                        <!-- hide until data point is determined -->
                        <div>
                            <sbm-hc-bar-chart id="billingBySite" data-ng-model="vm.chartsConfig.billingSite" ng-if="vm.chartsConfig.billingSite.series.length">
                            </sbm-hc-bar-chart>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            @* paid vs unpaid *@
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 panel panel-default" ng-if="vm.showPaidVsUnpaid">
                <div class="panel-header-txt">
                    {{'PAID_UNPAID' | translate}}
                    <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                    <hr />
                    <p class="last-updated-date">( {{'Last Updated' | translate}} - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                </div>
                <div class="text-center text-muted empty-message" data-ng-if="!vm.chartsConfig.billingProgram.series.length">
                    {{'NO_DATA' | translate}}
                </div>
                <div class="col-md-7 col-lg-7 col-xs-12 col-sm-12 padding-top-20" data-ng-if="vm.chartsConfig.billingProgram.series.length">
                    <sbm-hc-pie-chart billable-paid-vs-unpaid-legend="true" id="billingPaidVsUnpaid" minwidth="0" height="300" drilldown-chart="vm.showPaidOrUnpaidTrends(type)"
                                        data-ng-model="vm.chartsConfig.paidVsUnpaid" ng-if="vm.chartsConfig.paidVsUnpaid.series[0].data.length">
                    </sbm-hc-pie-chart>
                </div><!-- Data Point -->

                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 margin-top-50" ng-if="vm.chartsConfig.billingProgram.series.length">
                    <div id="billablePaidVsUnpaidLegendspot"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 panel panel-default"  ng-if="vm.showPaidVsUnpaid && vm.chartsConfig.billingProgram.series.length">
                <div class="panel-header-txt">
                    {{vm.paidOrUnpaidChartTitle}}
                    <span class="site-program hidden-xs" ng-show="!vm.isPaidOrUnpaidGhostState">{{vm.siteName}} - {{vm.programName}}</span>
                    <hr />
                    <p class="last-updated-date" ng-show="!vm.isPaidOrUnpaidGhostState">( {{'Last Updated' | translate}} - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                </div>
                <div class="col-md-12 text-center text-muted empty-message" data-ng-if="!vm.chartsConfig.paidOrUnpaid.series[0].amount">{{'NO_DATA' | translate}}</div>
                <div class="charts_style charts-style-align">
                    <div class="billing-paid-Unpaid-trend-legend visible-xs" ng-if="vm.isPaidOrUnpaidGhostState"><div class="ghost-text">{{'MOBILE_GHOST_TEXT' | translate}}</div></div>
                    
                    <sbm-hc-column-chart id="bilingPaidOrUnpaidBarChart" 
                                         billable-paid-or-unpaid-legend="!vm.isPaidOrUnpaidGhostState" redraw-chart="true" go-to-details="vm.goToPaidOrUnpaidView()"
                                         data-ng-model="vm.chartsConfig.paidOrUnpaid" ng-if="vm.chartsConfig.paidOrUnpaid.series[0].amount">
                    </sbm-hc-column-chart>
                    <div ng-if="!vm.isPaidOrUnpaidGhostState && vm.chartsConfig.paidOrUnpaid.series[0].amount">
                        <div class="billing-paid-Unpaid-trend-legend pointer" id="billingPaidOrUnpaidLegendSpot"></div>
                    </div>

                    <div class="billing-paid-Unpaid-trend-legend hidden-xs" ng-if="vm.isPaidOrUnpaidGhostState"><div class="ghost-text">{{'GHOST_TEXT' | translate}}</div></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            @* Billing by Site Monthly *@
            <div class="col-md-12 col-xs-12 col-sm-12 bill-table">
                <div class="panel panel-default">
                    <div class="panel-header-txt">
                        {{'BILLING_SITE_MONTHLY' | translate}}
                        <span class="site-program hidden-xs">{{vm.siteName}} - {{vm.programName}}</span>
                        <hr />
                        <p class="last-updated-date">( {{'Last Updated' | translate}} - {{ vm.lastUpdatedDate | date : 'h:mma MM/dd/yyyy' }} )</p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="text-center text-muted empty-message" data-ng-if="vm.billingSiteMonthly.length == 0">
                        {{'NO_DATA' | translate}}
                    </div>
                    <div data-ng-if="vm.billingSiteMonthly.length > 0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="table-head-color table-head-main td-billing-amount-head">{{'LOCATION' |translate}}</th>
                                        <th data-ng-repeat="month in vm.monthsToDisplay" class="hidden-xs hidden-sm td-billing-amount td-billing-amount-head table-head-color">{{month | uppercase}}</th>
                                        <th class="td-billing-amount td-billing-amount-head table-head-color">{{'TOTAL' |translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="billingItem in vm.billingSiteMonthly">
                                        <td class="td-main">{{billingItem.SiteName}}
                                            <b class="text-muted" ng-if="!billingItem.IsSiteActive"><i> (Inactive)</i></b>
                                        </td>
                                        <td data-ng-repeat="billingItemMonth in billingItem.Months" class="hidden-xs hidden-sm td-billing-amount">
                                            <span ng-if="billingItemMonth.Amount">${{billingItemMonth.Amount | number:2}}</span>
                                            <span ng-if="!billingItemMonth.Amount">--</span>
                                        </td>
                                        <td class="td-billing-amount">
                                            <span ng-if="billingItem.Total">${{billingItem.Total | number:2}}</span>
                                            <span ng-if="!billingItem.Total">--</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>
